Repository Skyrat-SS13/Skyrat-tg, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jjpark-kb, @Jolly-66, @lessthnthree, @KathrinBailey, @Useroth

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# Jake Park
/modular_skyrat/modules/apocolypse_of_scythes/ @jjpark-kb
/modular_skyrat/modules/ash_chemical_centrifuge/ @jjpark-kb
/modular_skyrat/modules/ash_farming/ @jjpark-kb
/modular_skyrat/modules/ashwalker_change/ @jjpark-kb
/modular_skyrat/modules/ashwalker_shaman/ @jjpark-kb
/modular_skyrat/modules/borg_buffs/ @jjpark-kb
/modular_skyrat/modules/cargo_teleporter/ @jjpark-kb
/modular_skyrat/modules/conveyor_sorter/ @jjpark-kb
/modular_skyrat/modules/cortical_borer/ @jjpark-kb
/modular_skyrat/modules/connecting_computer/ @jjpark-kb
/modular_skyrat/modules/fishing/ @jjpark-kb
/modular_skyrat/modules/positronic_alert_console/ @jjpark-kb
/modular_skyrat/modules/primitive_production/ @jjpark-kb
/modular_skyrat/modules/reagent_forging/ @jjpark-kb
/modular_skyrat/modules/xenoarch/ @jjpark-kb

# Jolly-66
/modular_skyrat/modules/mapping @Jolly-66
/tools/UpdatePaths @Jolly-66

# LT3
/code/modules/transport/ @lessthnthree
/modular_skyrat/master_files/code/controllers/subsystem/ @lessthnthree
/modular_skyrat/modules/advanced_engineering/ @lessthnthree
/modular_skyrat/modules/airlock_override/ @lessthnthree
/modular_skyrat/modules/alerts/ @lessthnthree
/modular_skyrat/modules/cme/ @lessthnthree
/modular_skyrat/modules/events/ @lessthnthree
/modular_skyrat/modules/ices_events/ @lessthnthree

# Multiple Owners

# Maptainers
/_maps/ @Jolly-66 @KathrinBailey

# Expensive files that touching basically always cause performance problems
## Init times
**/*_EXPENSIVE.dm @Useroth

Update cargo_packs.dm
  modular_skyrat/modules/colony_fabricator/code/cargo_packs.dm
Owners: none

Update peacekeeper_clothing.dm
  modular_skyrat/modules/sec_haul/code/peacekeeper/peacekeeper_clothing.dm
Owners: none

Cyborg heads now support hair and eye color
  modular_skyrat/master_files/code/modules/surgery/bodyparts/robot_bodyparts.dm
  tgstation.dme
Owners: none

Akula wetsuiting
  modular_skyrat/modules/customization/modules/clothing/outfits/akula.dm
Owners: none

Laser pointers no longer make felinids phase through diagonal gaps
  code/game/objects/items/devices/laserpointer.dm
Owners: none

Update laserpointer.dm
  code/game/objects/items/devices/laserpointer.dm
Owners: none

[MIRROR] Laser pointers no longer make felinids phase through diagonal gaps (#29265)
  code/game/objects/items/devices/laserpointer.dm
Owners: none

Automatic changelog for PR #29265 [ci skip]
  html/changelogs/AutoChangeLog-pr-29265.yml
Owners: none

export gate
  modular_skyrat/modules/cargo/code/export_gate.dm
  tgstation.dme
Owners: none

the whole PR
  modular_skyrat/modules/time_clock/code/console_tgui.dm
Owners: none

Update console_tgui.dm
  modular_skyrat/modules/time_clock/code/console_tgui.dm
Owners: none

Boring fixes
  modular_skyrat/modules/cortical_borer/code/cortical_borer_antag.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/antagonists/antagonists/borer.ts
Owners: @jjpark-kb

Automatic changelog for PR #29262 [ci skip]
  html/changelogs/AutoChangeLog-pr-29262.yml
Owners: none

Automatic changelog for PR #29264 [ci skip]
  html/changelogs/AutoChangeLog-pr-29264.yml
Owners: none

Automatic changelog for PR #29268 [ci skip]
  html/changelogs/AutoChangeLog-pr-29268.yml
Owners: none

Automatic changelog for PR #29267 [ci skip]
  html/changelogs/AutoChangeLog-pr-29267.yml
Owners: none

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-29261.yml
  html/changelogs/AutoChangeLog-pr-29262.yml
  html/changelogs/AutoChangeLog-pr-29264.yml
  html/changelogs/AutoChangeLog-pr-29265.yml
  html/changelogs/AutoChangeLog-pr-29267.yml
  html/changelogs/AutoChangeLog-pr-29268.yml
  html/changelogs/archive/2024-08.yml
Owners: none

Automatic TGS DMAPI Update (#85751)
  code/__DEFINES/tgs.dm
  code/modules/tgs/core/README.md
  code/modules/tgs/core/byond_world_export.dm
  code/modules/tgs/core/core.dm
  code/modules/tgs/core/datum.dm
  code/modules/tgs/includes.dm
  code/modules/tgs/v5/api.dm
  code/modules/tgs/v5/bridge.dm
Owners: none

Update chasm.dm
  code/datums/components/chasm.dm
Owners: none

Update chasm.dm
  code/datums/components/chasm.dm
Owners: none

Update chasm.dm
  code/datums/components/chasm.dm
Owners: none

Ethereal Rations
  modular_skyrat/modules/paycheck_rations/code/rationpacks.dm
  modular_skyrat/modules/paycheck_rations/code/reagents.dm
  modular_skyrat/modules/paycheck_rations/code/tickets.dm
Owners: none

Update robot_defines.dm
  modular_skyrat/modules/borgs/code/robot_defines.dm
Owners: none

Automatic changelog for PR #29272 [ci skip]
  html/changelogs/AutoChangeLog-pr-29272.yml
Owners: none

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-29272.yml
  html/changelogs/archive/2024-08.yml
Owners: none

Update modules_ninja.dm
  code/modules/mod/modules/modules_ninja.dm
Owners: none

Resprited assemblies (#85763)
  code/modules/assembly/infrared.dm
  code/modules/assembly/timer.dm
  icons/effects/beam.dmi
  icons/obj/devices/new_assemblies.dmi
  icons/obj/weapons/grenade.dmi
Owners: none

Fixed monk staffs not displaying a wielded sprite (#85767)
  code/datums/martial/sleeping_carp.dm
  code/game/objects/items/weaponry.dm
  code/modules/jobs/job_types/chaplain/chaplain_nullrod.dm
Owners: none

Fake aurora caelus event no longer permanently paints space green (#85777)
  code/modules/events/aurora_caelus.dm
Owners: none

Wawastation Science distro fix and a missing cable mended (#85762)
  _maps/map_files/wawastation/wawastation.dmm
Owners: @Jolly-66, @KathrinBailey

Prevents people from being shoved into closets/crates/bins through directional glass (#85760)
  code/game/objects/structures/crates_lockers/closets.dm
  code/modules/recycling/disposal/bin.dm
Owners: none

Buff to MODsuit deployment time (#85705)
  code/__DEFINES/mod.dm
  code/modules/mod/mod_theme.dm
Owners: none

Fixed bileworms not having a deaggro range (#85719)
  code/datums/ai/basic_mobs/targeting_strategies/basic_targeting_strategy.dm
Owners: none

Fixed shuttle loan paperwork being unstampable (#85721)
  code/modules/paperwork/paperwork.dm
Owners: none

Some crime and citations fixes (#85733)
  code/datums/records/crime.dm
  code/game/machinery/computer/records/security.dm
  code/game/machinery/computer/warrant.dm
  tgui/packages/tgui/interfaces/SecurityRecords/CrimeWatcher.tsx
  tgui/packages/tgui/interfaces/SecurityRecords/types.ts
Owners: none

Fixed chanterelles runtiming upon being hollowed out with a spoon and not spawning a hat (#85663)
  code/modules/hydroponics/grown/mushrooms.dm
Owners: none

Fixes DNA sampler attack chain heck (#85662)
  code/game/objects/items/dna_probe.dm
Owners: none

Fixes a hard del with island_brawl spawners (#85684)
  code/modules/bitrunning/virtual_domain/domains/island_brawl.dm
Owners: none

Retextured Durand's shield, fixed power drain and UI (#85718)
  code/modules/vehicles/mecha/combat/durand.dm
  icons/mob/effects/durand_shield.dmi
  tgui/packages/tgui/interfaces/Mecha/index.tsx
Owners: none

[NO GBP] (Not so) hotfix for ninja cloaking (#85673)
  code/modules/mod/modules/modules_ninja.dm
Owners: none
