Repository Skyrat-SS13/Skyrat-tg, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jjpark-kb, @Jolly-66, @lessthnthree, @KathrinBailey, @Useroth

[MIRROR] Fixed vomit category knockdown stunning (#28771)
  code/__DEFINES/mobs.dm
Owners: none

Automatic changelog for PR #28762 [ci skip]
  html/changelogs/AutoChangeLog-pr-28762.yml
Owners: none

[MIRROR] Fixes meat producing copious amounts of blood (#28772)
  code/game/objects/items/food/meatslab.dm
  code/game/objects/items/storage/backpack.dm
Owners: none

[MIRROR] Fixes grounding rods (#28773)
  code/modules/power/tesla/coil.dm
Owners: none

[MIRROR] Makes gigabeacon easier to research (#28774)
  code/modules/research/techweb/nodes/engi_nodes.dm
  code/modules/research/techweb/nodes/research_nodes.dm
Owners: none

[MIRROR] Adds in airlock helpers for inaccessible doors (#28775)
  code/modules/mapping/mapping_helpers.dm
  icons/effects/mapping_helpers.dmi
Owners: none

[MIRROR] You can now see whether or not a piece of clothing is pressure-proof when examining (#28776)
  code/modules/clothing/clothing.dm
Owners: none

[MIRROR] fixes wawa cryo cell (but good) (#28777)
  code/__DEFINES/_flags.dm
  code/__HELPERS/turfs.dm
  code/modules/atmospherics/machinery/components/unary_devices/cryo.dm
Owners: none

[MIRROR] Fixes improvised cauterization of wounds (#28779)
  code/datums/wounds/_wounds.dm
Owners: none

[MIRROR] TV helmet no longer has fov or makes you flash sensitive (#28780)
  code/game/objects/effects/spawners/random/clothing.dm
  code/modules/clothing/head/costume.dm
Owners: none

[MIRROR] Adds a crash report to the imprint_gps proc and removes an unnecessary arg in law.dm (#28781)
  code/game/machinery/computer/_computer.dm
  code/game/machinery/computer/law.dm
Owners: none

[MIRROR] [Birdshot] Small mapping fixes (#28782)
  _maps/map_files/Birdshot/birdshot.dmm
Owners: @Jolly-66, @KathrinBailey

[MIRROR] Redesigns Tram's Tool Storage + Fixes disposals (#28783)
  _maps/map_files/tramstation/tramstation.dmm
Owners: @Jolly-66, @KathrinBailey

[MIRROR] refactor: move `status_display_bottom_text` and `fire_alarm_light_color` to security level prototypes (#28766)
  code/game/machinery/computer/communications.dm
  code/game/machinery/firealarm.dm
  code/modules/modular_computers/file_system/programs/statusdisplay.dm
  code/modules/security_levels/security_level_datums.dm
  modular_skyrat/modules/alerts/code/security_level_datums.dm
Owners: @lessthnthree

Conflict Removal
  code/datums/components/crafting/entertainment.dm
Owners: none

Automatic changelog for PR #28764 [ci skip]
  html/changelogs/AutoChangeLog-pr-28764.yml
Owners: none

Automatic changelog for PR #28767 [ci skip]
  html/changelogs/AutoChangeLog-pr-28767.yml
Owners: none

Automatic changelog for PR #28768 [ci skip]
  html/changelogs/AutoChangeLog-pr-28768.yml
Owners: none

Automatic changelog for PR #28769 [ci skip]
  html/changelogs/AutoChangeLog-pr-28769.yml
Owners: none

Automatic changelog for PR #28770 [ci skip]
  html/changelogs/AutoChangeLog-pr-28770.yml
Owners: none

Automatic changelog for PR #28771 [ci skip]
  html/changelogs/AutoChangeLog-pr-28771.yml
Owners: none

Automatic changelog for PR #28772 [ci skip]
  html/changelogs/AutoChangeLog-pr-28772.yml
Owners: none

Automatic changelog for PR #28773 [ci skip]
  html/changelogs/AutoChangeLog-pr-28773.yml
Owners: none

Automatic changelog for PR #28774 [ci skip]
  html/changelogs/AutoChangeLog-pr-28774.yml
Owners: none

Automatic changelog for PR #28776 [ci skip]
  html/changelogs/AutoChangeLog-pr-28776.yml
Owners: none

Automatic changelog for PR #28777 [ci skip]
  html/changelogs/AutoChangeLog-pr-28777.yml
Owners: none

Automatic changelog for PR #28779 [ci skip]
  html/changelogs/AutoChangeLog-pr-28779.yml
Owners: none

Automatic changelog for PR #28780 [ci skip]
  html/changelogs/AutoChangeLog-pr-28780.yml
Owners: none

Automatic changelog for PR #28781 [ci skip]
  html/changelogs/AutoChangeLog-pr-28781.yml
Owners: none

Automatic changelog for PR #28782 [ci skip]
  html/changelogs/AutoChangeLog-pr-28782.yml
Owners: none

Automatic changelog for PR #28766 [ci skip]
  html/changelogs/AutoChangeLog-pr-28766.yml
Owners: none

Automatic changelog for PR #28783 [ci skip]
  html/changelogs/AutoChangeLog-pr-28783.yml
Owners: none

[MIRROR] Incident displays: wallening edition [MDB IGNORE] (#3685)
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NSVBlueshift/Blueshift.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/map_files/wawastation/wawastation.dmm
  _maps/skyrat/automapper/templates/wawastation/wawastation_arrivals.dmm
  _maps/skyrat/automapper/templates/wawastation/wawastation_commons.dmm
  code/controllers/subsystem/persistence/counter_delamination.dm
  code/game/machinery/incident_display.dm
  code/modules/power/supermatter/supermatter_delamination/_sm_delam.dm
  html/changelogs/AutoChangeLog-pr-84812.yml
  icons/obj/machines/incident_display.dmi
  modular_skyrat/modules/delam_emergency_stop/code/scram.dm
  tools/UpdatePaths/Scripts/84812_incident_display_repath.txt
Owners: @Jolly-66, @KathrinBailey

Automatic changelog for PR #3685 [ci skip]
  html/changelogs/AutoChangeLog-pr-3685.yml
Owners: none

Delam scram counter penalty (#1977)
  code/modules/power/supermatter/supermatter.dm
  modular_skyrat/modules/delam_emergency_stop/code/scram.dm
Owners: none

Automatic changelog for PR #1977 [ci skip]
  html/changelogs/AutoChangeLog-pr-1977.yml
Owners: none

Update KiloStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
Owners: @Jolly-66, @KathrinBailey

Feedback: splits the stats for account age and job exp related job preference denials (#84854)
  code/controllers/subsystem/job.dm
Owners: none

Fixes mod paint kit (#84835)
  code/modules/mod/mod_control.dm
  code/modules/mod/mod_paint.dm
Owners: none

Fixes and skyratfying
  _maps/_basemap.dm
  code/__DEFINES/icon_smoothing.dm
  code/datums/map_config.dm
Owners: @Jolly-66, @KathrinBailey

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# Jake Park
/modular_skyrat/modules/apocolypse_of_scythes/ @jjpark-kb
/modular_skyrat/modules/ash_chemical_centrifuge/ @jjpark-kb
/modular_skyrat/modules/ash_farming/ @jjpark-kb
/modular_skyrat/modules/ashwalker_change/ @jjpark-kb
/modular_skyrat/modules/ashwalker_shaman/ @jjpark-kb
/modular_skyrat/modules/borg_buffs/ @jjpark-kb
/modular_skyrat/modules/cargo_teleporter/ @jjpark-kb
/modular_skyrat/modules/conveyor_sorter/ @jjpark-kb
/modular_skyrat/modules/cortical_borer/ @jjpark-kb
/modular_skyrat/modules/connecting_computer/ @jjpark-kb
/modular_skyrat/modules/fishing/ @jjpark-kb
/modular_skyrat/modules/positronic_alert_console/ @jjpark-kb
/modular_skyrat/modules/primitive_production/ @jjpark-kb
/modular_skyrat/modules/reagent_forging/ @jjpark-kb
/modular_skyrat/modules/xenoarch/ @jjpark-kb

# Jolly-66
/modular_skyrat/modules/mapping @Jolly-66
/tools/UpdatePaths @Jolly-66

# LT3
/code/modules/transport/ @lessthnthree
/modular_skyrat/master_files/code/controllers/subsystem/ @lessthnthree
/modular_skyrat/modules/advanced_engineering/ @lessthnthree
/modular_skyrat/modules/airlock_override/ @lessthnthree
/modular_skyrat/modules/alerts/ @lessthnthree
/modular_skyrat/modules/cme/ @lessthnthree
/modular_skyrat/modules/events/ @lessthnthree
/modular_skyrat/modules/ices_events/ @lessthnthree

# Multiple Owners

# Maptainers
/_maps/ @Jolly-66 @KathrinBailey

# Expensive files that touching basically always cause performance problems
## Init times
**/*_EXPENSIVE.dm @Useroth
