Repository Skyrat-SS13/Skyrat-tg, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jjpark-kb, @Jolly-66, @lessthnthree, @KathrinBailey, @Useroth

Fixes borgs not being able to place apparatus-held items on tables (#85232)
  code/game/objects/items/robot/items/storage.dm
Owners: none

Fix disease outbreak announcement (#85231)
  code/modules/events/disease_outbreak.dm
Owners: none

Update tram ignored smashthroughs (#85229)
  code/modules/transport/linear_controller.dm
  code/modules/transport/transport_module.dm
Owners: @lessthnthree

Fix supermatter surge announcement (#85230)
  code/modules/events/supermatter_surge.dm
Owners: none

Fixed janicart not transfering items into the trash bag (#85218)
  code/datums/components/vacuum.dm
  code/modules/vehicles/pimpin_ride.dm
Owners: none

[no gbp] wawastation engineering water tanks are now highcap (#85219)
  _maps/map_files/wawastation/wawastation.dmm
Owners: @Jolly-66, @KathrinBailey

Fixes projectiles facing north if ricocheting, deflected or homing (#85216)
  code/__HELPERS/matrices.dm
  code/modules/projectiles/projectile.dm
Owners: none

Fixes Ice Box delam counter signs (#85210)
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Owners: @Jolly-66, @KathrinBailey

Adds in missing lights in Tram's Tool Storage (#85149)
  _maps/map_files/tramstation/tramstation.dmm
Owners: @Jolly-66, @KathrinBailey

Fixes firelocks not respecting thermal sensors being disabled (#85212)
  code/game/machinery/doors/firedoor.dm
  code/game/machinery/firealarm.dm
Owners: none

Removed a janky fish bounty and introduced exporting fish thru cargo. (#85146)
  code/modules/cargo/bounties/assistant.dm
  code/modules/cargo/exports/fish.dm
  code/modules/fishing/fish/fish_evolution.dm
  code/modules/fishing/fish/fish_types.dm
  tgstation.dme
Owners: none

Deletes monkey tail DNA block, minor sprite accessory cleanup, monkeys (and lizardpeople) will no longer random spawn without tails
  code/__DEFINES/DNA.dm
  code/controllers/subsystem/sprite_accessories.dm
  code/datums/bodypart_overlays/mutant_bodypart_overlay.dm
  code/datums/dna.dm
  code/datums/sprite_accessories.dm
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/surgery/organs/external/tails.dm
Owners: none

Moves nitrium crystals to crystallizer_items.dm; Deletes nitrium_crystals.dm (#85130)
  code/game/objects/items/nitrium_crystals.dm
  code/modules/atmospherics/machinery/components/gas_recipe_machines/crystallizer_items.dm
  tgstation.dme
Owners: none

You will fall over if a bluespace cookie fails to teleport you (#85109)
  code/modules/research/xenobiology/crossbreeding/consuming.dm
Owners: none

[no gbp] wawastation ordnance looks better
  _maps/map_files/wawastation/wawastation.dmm
Owners: @Jolly-66, @KathrinBailey

Fixes the Cloth Foot Wraps
  modular_skyrat/modules/GAGS/greyscale_configs.dm
  modular_skyrat/modules/GAGS/json_configs/wraps/wraps_worn_digi.json
Owners: none

Fixed possessed blades being broken (#85090)
  code/controllers/subsystem/polling.dm
  code/datums/components/spirit_holding.dm
Owners: none

Update wraps_worn.json
  modular_skyrat/modules/GAGS/json_configs/wraps/wraps_worn.json
Owners: none

Alt Title Bloat
  modular_skyrat/modules/alternative_job_titles/code/alt_job_titles.dm
Owners: none

Update alt_job_titles.dm
  modular_skyrat/modules/alternative_job_titles/code/alt_job_titles.dm
Owners: none

Update wraps_worn.json
  modular_skyrat/modules/GAGS/json_configs/wraps/wraps_worn.json
Owners: none

Update modular_skyrat/modules/alternative_job_titles/code/alt_job_titles.dm
  modular_skyrat/modules/alternative_job_titles/code/alt_job_titles.dm
Owners: none

Update modular_skyrat/modules/alternative_job_titles/code/alt_job_titles.dm
  modular_skyrat/modules/alternative_job_titles/code/alt_job_titles.dm
Owners: none

Update modular_skyrat/modules/alternative_job_titles/code/alt_job_titles.dm
  modular_skyrat/modules/alternative_job_titles/code/alt_job_titles.dm
Owners: none

[MIRROR] Fixed possessed blades being broken (#29067)
  code/controllers/subsystem/polling.dm
  code/datums/components/spirit_holding.dm
Owners: none

Automatic changelog for PR #29067 [ci skip]
  html/changelogs/AutoChangeLog-pr-29067.yml
Owners: none

Fixes the Cloth Foot Wraps (#29066)
  modular_skyrat/modules/GAGS/greyscale_configs.dm
  modular_skyrat/modules/GAGS/json_configs/wraps/wraps_worn_digi.json
Owners: none

Automatic changelog for PR #29066 [ci skip]
  html/changelogs/AutoChangeLog-pr-29066.yml
Owners: none

[MIRROR] You will fall over if a bluespace cookie fails to teleport you (#29064)
  code/modules/research/xenobiology/crossbreeding/consuming.dm
Owners: none

Automatic changelog for PR #29064 [ci skip]
  html/changelogs/AutoChangeLog-pr-29064.yml
Owners: none

[MIRROR] Moves nitrium crystals to crystallizer_items.dm; Deletes nitrium_crystals.dm (#29063)
  code/game/objects/items/nitrium_crystals.dm
  code/modules/atmospherics/machinery/components/gas_recipe_machines/crystallizer_items.dm
  tgstation.dme
Owners: none

[MIRROR] Removed a janky fish bounty and introduced exporting fish thru cargo. (#29061)
  code/modules/cargo/bounties/assistant.dm
  code/modules/cargo/exports/fish.dm
  code/modules/fishing/fish/fish_evolution.dm
  code/modules/fishing/fish/fish_types.dm
  tgstation.dme
Owners: none

Automatic changelog for PR #29061 [ci skip]
  html/changelogs/AutoChangeLog-pr-29061.yml
Owners: none

[MIRROR] Fixes firelocks not respecting thermal sensors being disabled (#29060)
  code/game/machinery/doors/firedoor.dm
  code/game/machinery/firealarm.dm
Owners: none

[MIRROR] Adds in missing lights in Tram's Tool Storage (#29059)
  _maps/map_files/tramstation/tramstation.dmm
Owners: @Jolly-66, @KathrinBailey

[MIRROR] Fixes Ice Box delam counter signs (#29058)
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Owners: @Jolly-66, @KathrinBailey

[MIRROR] Fixes projectiles facing north if ricocheting, deflected or homing (#29057)
  code/__HELPERS/matrices.dm
  code/modules/projectiles/projectile.dm
Owners: none

[MIRROR] [no gbp] wawastation engineering water tanks are now highcap (#29056)
  _maps/map_files/wawastation/wawastation.dmm
Owners: @Jolly-66, @KathrinBailey

[MIRROR] Fixed janicart not transfering items into the trash bag (#29055)
  code/datums/components/vacuum.dm
  code/modules/vehicles/pimpin_ride.dm
Owners: none

Automatic changelog for PR #29060 [ci skip]
  html/changelogs/AutoChangeLog-pr-29060.yml
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# Jake Park
/modular_skyrat/modules/apocolypse_of_scythes/ @jjpark-kb
/modular_skyrat/modules/ash_chemical_centrifuge/ @jjpark-kb
/modular_skyrat/modules/ash_farming/ @jjpark-kb
/modular_skyrat/modules/ashwalker_change/ @jjpark-kb
/modular_skyrat/modules/ashwalker_shaman/ @jjpark-kb
/modular_skyrat/modules/borg_buffs/ @jjpark-kb
/modular_skyrat/modules/cargo_teleporter/ @jjpark-kb
/modular_skyrat/modules/conveyor_sorter/ @jjpark-kb
/modular_skyrat/modules/cortical_borer/ @jjpark-kb
/modular_skyrat/modules/connecting_computer/ @jjpark-kb
/modular_skyrat/modules/fishing/ @jjpark-kb
/modular_skyrat/modules/positronic_alert_console/ @jjpark-kb
/modular_skyrat/modules/primitive_production/ @jjpark-kb
/modular_skyrat/modules/reagent_forging/ @jjpark-kb
/modular_skyrat/modules/xenoarch/ @jjpark-kb

# Jolly-66
/modular_skyrat/modules/mapping @Jolly-66
/tools/UpdatePaths @Jolly-66

# LT3
/code/modules/transport/ @lessthnthree
/modular_skyrat/master_files/code/controllers/subsystem/ @lessthnthree
/modular_skyrat/modules/advanced_engineering/ @lessthnthree
/modular_skyrat/modules/airlock_override/ @lessthnthree
/modular_skyrat/modules/alerts/ @lessthnthree
/modular_skyrat/modules/cme/ @lessthnthree
/modular_skyrat/modules/events/ @lessthnthree
/modular_skyrat/modules/ices_events/ @lessthnthree

# Multiple Owners

# Maptainers
/_maps/ @Jolly-66 @KathrinBailey

# Expensive files that touching basically always cause performance problems
## Init times
**/*_EXPENSIVE.dm @Useroth
