Repository Skyrat-SS13/Skyrat-tg, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jjpark-kb, @Jolly-66, @lessthnthree, @KathrinBailey, @Useroth

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# Jake Park
/modular_skyrat/modules/apocolypse_of_scythes/ @jjpark-kb
/modular_skyrat/modules/ash_chemical_centrifuge/ @jjpark-kb
/modular_skyrat/modules/ash_farming/ @jjpark-kb
/modular_skyrat/modules/ashwalker_change/ @jjpark-kb
/modular_skyrat/modules/ashwalker_shaman/ @jjpark-kb
/modular_skyrat/modules/borg_buffs/ @jjpark-kb
/modular_skyrat/modules/cargo_teleporter/ @jjpark-kb
/modular_skyrat/modules/conveyor_sorter/ @jjpark-kb
/modular_skyrat/modules/cortical_borer/ @jjpark-kb
/modular_skyrat/modules/connecting_computer/ @jjpark-kb
/modular_skyrat/modules/fishing/ @jjpark-kb
/modular_skyrat/modules/positronic_alert_console/ @jjpark-kb
/modular_skyrat/modules/primitive_production/ @jjpark-kb
/modular_skyrat/modules/reagent_forging/ @jjpark-kb
/modular_skyrat/modules/xenoarch/ @jjpark-kb

# Jolly-66
/modular_skyrat/modules/mapping @Jolly-66
/tools/UpdatePaths @Jolly-66

# LT3
/code/modules/transport/ @lessthnthree
/modular_skyrat/master_files/code/controllers/subsystem/ @lessthnthree
/modular_skyrat/modules/advanced_engineering/ @lessthnthree
/modular_skyrat/modules/airlock_override/ @lessthnthree
/modular_skyrat/modules/alerts/ @lessthnthree
/modular_skyrat/modules/cme/ @lessthnthree
/modular_skyrat/modules/events/ @lessthnthree
/modular_skyrat/modules/ices_events/ @lessthnthree

# Multiple Owners

# Maptainers
/_maps/ @Jolly-66 @KathrinBailey

# Expensive files that touching basically always cause performance problems
## Init times
**/*_EXPENSIVE.dm @Useroth

Automatic changelog for PR #29172 [ci skip]
  html/changelogs/AutoChangeLog-pr-29172.yml
Owners: none

Automatic changelog for PR #29159 [ci skip]
  html/changelogs/AutoChangeLog-pr-29159.yml
Owners: none

Automatic changelog for PR #29166 [ci skip]
  html/changelogs/AutoChangeLog-pr-29166.yml
Owners: none

Sentience potions can now be used without a summon reason (#85446)
  code/modules/research/xenobiology/xenobiology.dm
Owners: none

Automatic changelog for PR #29143 [ci skip]
  html/changelogs/AutoChangeLog-pr-29143.yml
Owners: none

Automatic changelog for PR #29133 [ci skip]
  html/changelogs/AutoChangeLog-pr-29133.yml
Owners: none

NODE drones now show their wave progress on the sprite (#85405)
  code/__DEFINES/mining.dm
  code/game/objects/structures/lavaland/ore_vent.dm
  code/modules/mob/living/basic/lavaland/node_drone/node_drone.dm
  icons/obj/mining.dmi
Owners: none

Machines check their parts during initialization (#85345)
  code/game/machinery/_machinery.dm
  code/game/machinery/medipen_refiller.dm
Owners: none

[no gbp] adds a hand labeller to wawa pharmacy (#85421)
  _maps/map_files/wawastation/wawastation.dmm
Owners: @Jolly-66, @KathrinBailey

[no gbp] Assorted birdshot engineering feedback (#85314)
  _maps/map_files/Birdshot/birdshot.dmm
Owners: @Jolly-66, @KathrinBailey

[no gbp] Fixes rods not having sound_vary on (#85361)
  code/game/objects/items/stacks/rods.dm
Owners: none

Fix gas meters (#85445)
  code/datums/greyscale/json_configs/meter.json
  icons/obj/pipes_n_cables/meter.dmi
Owners: none

Update alt_job_titles.dm
  modular_skyrat/modules/alternative_job_titles/code/alt_job_titles.dm
Owners: none

Update emotes.dm
  code/datums/emotes.dm
Owners: none

Automatic changelog for PR #29186 [ci skip]
  html/changelogs/AutoChangeLog-pr-29186.yml
Owners: none

Adds a bronze dimensional theme (#85448)
  code/game/objects/effects/anomalies/anomalies_dimensional_themes.dm
Owners: none

Fixed rice hat toggling, now toggle uses alt click
  code/modules/clothing/head/hat.dm
Owners: none

Bamboo staffs can now be wielded, bostaff no longer disappears forever when wielded
  code/game/objects/items/weaponry.dm
  code/modules/jobs/job_types/chaplain/chaplain_nullrod.dm
Owners: none

Add some missing mob traits to VV list (#85462)
  code/_globalvars/traits/_traits.dm
  code/_globalvars/traits/admin_tooling.dm
Owners: none

Fixes flashdark (#85454)
  code/game/objects/items/devices/flashlight.dm
Owners: none

[Merge ready] Adds, well Ports Echolocation (#29108)
  code/controllers/subsystem/processing/quirks.dm
  code/datums/components/echolocation.dm
  code/modules/client/preferences/clothing.dm
  modular_skyrat/modules/quirks/echolocation/echolocation.dm
  modular_skyrat/modules/quirks/echolocation/echolocation_component.dm
  modular_skyrat/modules/quirks/echolocation/echolocation_pref.dm
  modular_skyrat/modules/quirks/good.dm
  modular_skyrat/modules/quirks/negative.dm
  modular_skyrat/modules/quirks/neutral.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/skyrat/echolocation.tsx
Owners: none

Automatic changelog for PR #29108 [ci skip]
  html/changelogs/AutoChangeLog-pr-29108.yml
Owners: none

[NO GBP] shoving someone over onto a table and knocking them down causes them to be shove stun vulnerable. (#85439)
  code/game/objects/structures/tables_racks.dm
Owners: none

Callouts and MODsuit quick module pickers now track user (#85418)
  code/_onclick/hud/radial.dm
  code/datums/components/callouts.dm
  code/modules/mod/mod_control.dm
Owners: none

Automatic changelog for PR #29191 [ci skip]
  html/changelogs/AutoChangeLog-pr-29191.yml
Owners: none

Male bit-size updates (#3232)
  code/__DEFINES/~skyrat_defines/DNA.dm
  modular_skyrat/master_files/code/modules/client/preferences/genitals.dm
  modular_skyrat/master_files/icons/mob/sprite_accessory/genitals/taur_testicles_onmob.dmi
  modular_skyrat/master_files/icons/mob/sprite_accessory/genitals/testicles_onmob.dmi
  modular_skyrat/modules/customization/_globalvars/lists.dm
  modular_skyrat/modules/customization/modules/surgery/organs/genitals.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/skyrat/genitals.tsx
Owners: none

Stop clientless lobstrosities from fishing other lobstrosities and the necropolis chest (#85365)
  code/modules/fishing/sources/_fish_source.dm
Owners: none

New Uplink UI (#85455)
  code/__DEFINES/uplink.dm
  code/datums/components/uplink.dm
  code/modules/antagonists/traitor/uplink_handler.dm
  code/modules/asset_cache/assets/uplink.dm
  code/modules/uplink/uplink_items/bundle.dm
  tgui/packages/tgui/interfaces/AntagInfoMalf.tsx
  tgui/packages/tgui/interfaces/Uplink/GenericUplink.tsx
  tgui/packages/tgui/interfaces/Uplink/PrimaryObjectiveMenu.tsx
  tgui/packages/tgui/interfaces/Uplink/calculateDangerLevel.tsx
  tgui/packages/tgui/interfaces/Uplink/index.tsx
Owners: none

Fixes/improves the Lua UI Slightly
  code/modules/admin/verbs/lua/lua_editor.dm
  code/modules/admin/verbs/lua/lua_state.dm
  tgui/packages/tgui/interfaces/LuaEditor/Log.tsx
  tgui/packages/tgui/interfaces/LuaEditor/index.tsx
  tgui/packages/tgui/interfaces/LuaEditor/types.ts
Owners: none

Skills are passed down to bitrunning avatars and then back to the original body. (#85442)
  code/modules/bitrunning/components/avatar_connection.dm
Owners: none

Stuffing people into contractor pods now unbuckles them first (#85461)
  code/modules/cargo/supplypod.dm
Owners: none

Cable coil and welding tool healing now loops. Fixed heal message not displaying when healing someone else
  code/game/objects/items/tools/weldingtool.dm
  code/modules/power/cable.dm
Owners: none

Makes cyborg damage more... showy (#85298)
  code/game/objects/effects/particles/fire.dm
  code/game/objects/effects/particles/smoke.dm
  code/modules/mob/living/silicon/robot/death.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_defense.dm
  code/modules/mob/living/silicon/robot/robot_defines.dm
  icons/mob/silicon/robots.dmi
Owners: none

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-29108.yml
  html/changelogs/AutoChangeLog-pr-29186.yml
  html/changelogs/AutoChangeLog-pr-29191.yml
  html/changelogs/archive/2024-08.yml
Owners: none

Fixes chat color %
  modular_skyrat/modules/chat_colors/code/chat_color.dm
Owners: none

Update accessories.dm lost item
  modular_skyrat/master_files/code/modules/loadout/categories/accessories.dm
Owners: none

[MIRROR] Bow Update: Fletching instruction manual, bows using projectile damage multipliers, unhardcoded bow sprites, hot pink death [MDB IGNORE] (#3595)
  code/datums/components/crafting/entertainment.dm
  code/datums/components/crafting/equipment.dm
  code/game/objects/items/dice.dm
  code/game/objects/items/granters/crafting/fletching.dm
  code/modules/cargo/packs/service.dm
  code/modules/projectiles/guns/ballistic/bows/_bow.dm
  code/modules/projectiles/guns/ballistic/bows/bow_types.dm
  icons/obj/toys/dice.dmi
  modular_skyrat/master_files/code/modules/projectiles/guns/ballistic/bows/_bow.dm
  modular_skyrat/modules/cargo/code/packs.dm
  modular_skyrat/modules/reagent_forging/code/forge_items.dm
  modular_skyrat/modules/tribal_extended/code/crafting.dm
  modular_skyrat/modules/tribal_extended/code/recipes.dm
  modular_skyrat/modules/tribal_extended/code/weapons/bow.dm
  modular_skyrat/modules/tribal_extended/icons/ammo.dmi
  modular_skyrat/modules/tribal_extended/icons/dice.dmi
  modular_skyrat/modules/tribal_extended/icons/projectile.dmi
Owners: @jjpark-kb

Update crafting.dm
  modular_skyrat/modules/tribal_extended/code/crafting.dm
Owners: none

Fixes an infinite tc glitch
  code/datums/components/uplink.dm
Owners: none

[NO GBP] Actually makes the runtime logging suppression for lua states suppress logging runtimes (#85502)
  code/modules/admin/verbs/lua/lua_state.dm
Owners: none
