Repository Skyrat-SS13/Skyrat-tg, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jjpark-kb, @Jolly-66, @lessthnthree, @KathrinBailey, @Useroth

Automatic changelog for PR #28570 [ci skip]
  html/changelogs/AutoChangeLog-pr-28570.yml
Owners: none

Automatic changelog for PR #28573 [ci skip]
  html/changelogs/AutoChangeLog-pr-28573.yml
Owners: none

[MIRROR] Fixes linters on bitrunning content [no gbp] (#28575)
  _maps/virtual_domains/island_brawl.dmm
Owners: @Jolly-66, @KathrinBailey

Gun Refactor Part 1: Bayonet Componentization
  code/__DEFINES/dcs/signals/signals_object.dm
  code/datums/components/bayonet_attachable.dm
  code/game/objects/items/knives.dm
  code/modules/jobs/job_types/shaft_miner.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/ballistic.dm
  code/modules/projectiles/guns/ballistic/automatic.dm
  code/modules/projectiles/guns/ballistic/rifle.dm
  code/modules/projectiles/guns/energy/crank_guns.dm
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
  code/modules/projectiles/guns/energy/recharge.dm
  tgstation.dme
Owners: none

Fixes infinite damage smithing weapons
  modular_skyrat/modules/reagent_forging/code/mindless_killer.dm
Owners: @jjpark-kb

Adds a check to prevent race condition runtimes by cigarettes. (#84494)
  code/game/objects/items/cigs_lighters.dm
Owners: none

Prevents air alarm runtime due to not getting an environment passed. (#84495)
  code/modules/atmospherics/machinery/air_alarm/_air_alarm.dm
Owners: none

Glove Love - Updates some glove sprites (#84481)
  code/modules/unit_tests/screenshots/screenshot_antag_icons_syndicateinfiltrator.png
  code/modules/unit_tests/screenshots/screenshot_antag_icons_syndicatesleeperagent.png
  code/modules/unit_tests/screenshots/screenshot_antag_icons_traitor.png
  icons/mob/clothing/hands.dmi
  icons/mob/inhands/clothing/gloves_lefthand.dmi
  icons/mob/inhands/clothing/gloves_righthand.dmi
  icons/obj/clothing/gloves.dmi
Owners: none

Adds more "curated" version of human randomization (for humonkeys, corpse spawners, and fresh characters)
  code/datums/sprite_accessories.dm
  code/modules/admin/create_mob.dm
  code/modules/admin/verbs/anonymousnames.dm
  code/modules/admin/verbs/mapping.dm
  code/modules/capture_the_flag/medieval_sim/medisim_game.dm
  code/modules/mob/living/carbon/human/dummy.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob_spawn/mob_spawn.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Owners: none

Some material container patches (#84553)
  code/datums/components/material/material_container.dm
Owners: none

You no longer need to reach the very edge of the game screen to reach the maximum zoom range when scoped (#84544)
  code/datums/components/scope.dm
Owners: none

Converts glasses client colour into an element, appliable to other worn items. (#84542)
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/datums/elements/wearable_client_colour.dm
  code/modules/client/client_colour.dm
  code/modules/clothing/glasses/_glasses.dm
  code/modules/clothing/head/hardhat.dm
  code/modules/clothing/suits/costume.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/research/xenobiology/crossbreeding/_clothing.dm
  tgstation.dme
Owners: none

Cargo chest sprite fix [NO GBP] (#84579)
  icons/obj/storage/crates.dmi
Owners: none

Refactors genetic meltdowns into datums (#84558)
  code/datums/dna.dm
  code/datums/instability_meltdown.dm
  tgstation.dme
Owners: none

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-28479.yml
  html/changelogs/AutoChangeLog-pr-28554.yml
  html/changelogs/AutoChangeLog-pr-28556.yml
  html/changelogs/AutoChangeLog-pr-28559.yml
  html/changelogs/AutoChangeLog-pr-28564.yml
  html/changelogs/AutoChangeLog-pr-28565.yml
  html/changelogs/AutoChangeLog-pr-28566.yml
  html/changelogs/AutoChangeLog-pr-28568.yml
  html/changelogs/AutoChangeLog-pr-28569.yml
  html/changelogs/AutoChangeLog-pr-28570.yml
  html/changelogs/AutoChangeLog-pr-28571.yml
  html/changelogs/AutoChangeLog-pr-28573.yml
  html/changelogs/archive/2024-07.yml
Owners: none

adds a new wire to mecha wires + fixes mecha shock wire (#84538)
  code/datums/wires/mecha.dm
  code/modules/vehicles/mecha/equipment/weapons/weapons.dm
  code/modules/vehicles/mecha/mech_melee_attack.dm
Owners: none

Update blood filter [NO GBP] (#84535)
  code/modules/surgery/blood_filter.dm
Owners: none

Reverts lootpanel change (#84624)
  code/modules/lootpanel/search_object.dm
Owners: none

Allow mobs to ctrl click mobs while resting
  code/_onclick/click_ctrl.dm
  code/modules/mob/living/living_defines.dm
Owners: none

Fix broken mask sprites
  modular_skyrat/modules/better_vox/code/vox_species.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/vox.dm
  modular_skyrat/modules/teshari/code/_teshari.dm
Owners: none

some deathmatch fixes (#84472)
  _maps/deathmatch/OSHA_Violator.dmm
  code/__DEFINES/_flags.dm
  code/modules/deathmatch/deathmatch_loadouts.dm
  code/modules/deathmatch/deathmatch_lobby.dm
  code/modules/deathmatch/deathmatch_mapping.dm
  code/modules/mob/living/carbon/human/human_say.dm
  code/modules/mob/living/silicon/silicon_say.dm
  code/modules/power/singularity/field_generator.dm
Owners: @Jolly-66, @KathrinBailey

Improves performance of 2 reagent operations (#84411)
  code/modules/reagents/chemistry/holder/holder.dm
Owners: none

makes projectile dampener fields look cooler (#84382)
  icons/effects/fields.dmi
Owners: none

Simple mouse drop improvements (#84406)
  code/_onclick/click.dm
  code/_onclick/drag_drop.dm
Owners: none

Fixes the invisible windoors in birdshot's AI core (#84590)
  _maps/map_files/Birdshot/birdshot.dmm
Owners: @Jolly-66, @KathrinBailey

fix step action signal logic (#84520)
  code/modules/mob/living/carbon/human/human_movement.dm
Owners: none

[NO GBP] Fixes floating point errors in plumbing machinery (#84405)
  code/datums/components/plumbing/_plumbing.dm
  code/modules/plumbing/plumbers/_plumb_machinery.dm
  code/modules/plumbing/plumbers/iv_drip.dm
  code/modules/plumbing/plumbers/simple_machines.dm
  tgstation.dme
Owners: none

You can now microwave pets (#83887)
  code/modules/food_and_drinks/machinery/microwave.dm
  code/modules/mob/living/basic/vermin/mouse.dm
Owners: none

Fixes instruments enhanced by the portable tuning rite not being able to cast any rites (#84362)
  code/datums/components/religious_tool.dm
Owners: none

exorcises hardstun weapons + death/poly wands from lootboxes (#84414)
  code/game/objects/structures/mystery_box.dm
  code/modules/projectiles/guns/energy/pulse.dm
Owners: none

Feast of Owls - new sound and chat messages change (#84342)
  code/modules/antagonists/heretic/knowledge/starting_lore.dm
  sound/ambience/antag/heretic/heretic_gain_intense.ogg
Owners: none

Fixes mending touch for simplemobs (#84523)
  code/datums/mutations/touch.dm
Owners: none

fixes not being able to clean microwaves (#84527)
  code/modules/food_and_drinks/machinery/microwave.dm
Owners: none

Improve bedsheet interactions (#84505)
  code/game/objects/structures/bedsheet_bin.dm
Owners: none

Allows for proxy atoms in object melee attack chain (#83860)
  code/__DEFINES/tools.dm
  code/_onclick/item_attack.dm
  code/datums/components/material/remote_materials.dm
  code/datums/components/surgery_initiator.dm
  code/game/atom/atom_tool_acts.dm
  code/game/machinery/botlaunchpad.dm
  code/game/machinery/computer/launchpad_control.dm
  code/game/machinery/computer/mechlaunchpad.dm
  code/game/machinery/launch_pad.dm
  code/game/machinery/mechlaunchpad.dm
  code/game/machinery/porta_turret/portable_turret.dm
  code/game/machinery/porta_turret/portable_turret_cover.dm
  code/game/machinery/quantum_pad.dm
  code/game/machinery/telecomms/machine_interactions.dm
  code/game/machinery/teleporter.dm
  code/game/objects/items.dm
  code/game/objects/items/botpad_remote.dm
  code/game/objects/items/robot/items/tools.dm
  code/game/objects/items/robot/robot_upgrades.dm
  code/game/turfs/open/floor.dm
  code/game/turfs/open/floor/fancy_floor.dm
  code/modules/mining/machine_stacking.dm
  code/modules/mob/living/silicon/robot/robot_model.dm
  code/modules/mod/mod_link.dm
  code/modules/paperwork/ticketmachine.dm
  code/modules/plumbing/plumbers/teleporter.dm
  code/modules/recycling/disposal/construction.dm
  code/modules/research/rdmachines.dm
  code/modules/station_goals/bsa.dm
  code/modules/surgery/surgery.dm
  code/modules/surgery/tools.dm
  code/modules/unit_tests/cyborg_tool.dm
Owners: none

fixes mansus grasp not removing runes (#84570)
  code/datums/components/effect_remover.dm
Owners: none

Fixed quirk conflict between transhumanist and prosthetic limb (#84325)
  code/_globalvars/lists/quirks.dm
  code/controllers/subsystem/processing/quirks.dm
  code/datums/quirks/negative_quirks/prosthetic_limb.dm
  code/datums/quirks/neutral_quirks/transhumanist.dm
  code/modules/client/preferences/prosthetic_limb.dm
Owners: none

Changes bitrunning hacker alias sanitization (#84518)
  code/__HELPERS/text.dm
  code/modules/client/preferences/names.dm
Owners: none

Removes the plushie of a Minecraft Youtuber from the code.
  modular_skyrat/master_files/code/modules/loadout/categories/toys.dm
  modular_skyrat/master_files/icons/obj/plushes.dmi
  modular_skyrat/modules/customization/game/objects/items/plushes.dm
  tgstation.dme
Owners: none

Updates forgotten diamond stack sprites (#84581)
  icons/obj/stack_objects.dmi
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# Jake Park
/modular_skyrat/modules/apocolypse_of_scythes/ @jjpark-kb
/modular_skyrat/modules/ash_chemical_centrifuge/ @jjpark-kb
/modular_skyrat/modules/ash_farming/ @jjpark-kb
/modular_skyrat/modules/ashwalker_change/ @jjpark-kb
/modular_skyrat/modules/ashwalker_shaman/ @jjpark-kb
/modular_skyrat/modules/borg_buffs/ @jjpark-kb
/modular_skyrat/modules/cargo_teleporter/ @jjpark-kb
/modular_skyrat/modules/conveyor_sorter/ @jjpark-kb
/modular_skyrat/modules/cortical_borer/ @jjpark-kb
/modular_skyrat/modules/connecting_computer/ @jjpark-kb
/modular_skyrat/modules/fishing/ @jjpark-kb
/modular_skyrat/modules/positronic_alert_console/ @jjpark-kb
/modular_skyrat/modules/primitive_production/ @jjpark-kb
/modular_skyrat/modules/reagent_forging/ @jjpark-kb
/modular_skyrat/modules/xenoarch/ @jjpark-kb

# Jolly-66
/modular_skyrat/modules/mapping @Jolly-66
/tools/UpdatePaths @Jolly-66

# LT3
/code/modules/transport/ @lessthnthree
/modular_skyrat/master_files/code/controllers/subsystem/ @lessthnthree
/modular_skyrat/modules/advanced_engineering/ @lessthnthree
/modular_skyrat/modules/airlock_override/ @lessthnthree
/modular_skyrat/modules/alerts/ @lessthnthree
/modular_skyrat/modules/cme/ @lessthnthree
/modular_skyrat/modules/events/ @lessthnthree
/modular_skyrat/modules/ices_events/ @lessthnthree

# Multiple Owners

# Maptainers
/_maps/ @Jolly-66 @KathrinBailey

# Expensive files that touching basically always cause performance problems
## Init times
**/*_EXPENSIVE.dm @Useroth
