Repository Skyrat-SS13/Skyrat-tg, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jjpark-kb, @Jolly-66, @lessthnthree, @KathrinBailey, @Useroth

Automatic changelog for PR #29059 [ci skip]
  html/changelogs/AutoChangeLog-pr-29059.yml
Owners: none

Automatic changelog for PR #29058 [ci skip]
  html/changelogs/AutoChangeLog-pr-29058.yml
Owners: none

Automatic changelog for PR #29057 [ci skip]
  html/changelogs/AutoChangeLog-pr-29057.yml
Owners: none

Automatic changelog for PR #29056 [ci skip]
  html/changelogs/AutoChangeLog-pr-29056.yml
Owners: none

Automatic changelog for PR #29055 [ci skip]
  html/changelogs/AutoChangeLog-pr-29055.yml
Owners: none

[MIRROR] Fix supermatter surge announcement (#29054)
  code/modules/events/supermatter_surge.dm
Owners: none

[MIRROR] Update tram ignored smashthroughs (#29053)
  code/modules/transport/linear_controller.dm
  code/modules/transport/transport_module.dm
Owners: @lessthnthree

[MIRROR] Fix disease outbreak announcement (#29052)
  code/modules/events/disease_outbreak.dm
Owners: none

[MIRROR] Fixes borgs not being able to place apparatus-held items on tables (#29051)
  code/game/objects/items/robot/items/storage.dm
Owners: none

[MIRROR] Self-respiration virus gives less messages now (#29050)
  code/datums/diseases/advance/symptoms/oxygen.dm
Owners: none

[MIRROR] Automatic TGS DMAPI Update (#29049)
  code/__DEFINES/tgs.dm
  code/modules/tgs/v5/api.dm
Owners: none

[MIRROR] Updated gas flow meter sprites (#29048)
  icons/obj/pipes_n_cables/meter.dmi
Owners: none

[MIRROR] Elevator fixes (#29046)
  code/modules/transport/elevator/elev_controller.dm
  code/modules/transport/elevator/elev_panel.dm
  code/modules/transport/linear_controller.dm
Owners: @lessthnthree

[MIRROR] Stops cyborgs from runtiming on module change if they had selected modules (#29045)
  code/modules/mob/living/silicon/robot/robot_model.dm
Owners: none

[MIRROR] Xenomorphs and door pryer basic mobs can now attack airlocks in combat mode (#29044)
  code/datums/elements/door_pryer.dm
  code/game/machinery/doors/airlock.dm
Owners: none

Updates, merges and adds screams (#29041)
  modular_skyrat/modules/emotes/code/laugh_datums.dm
  modular_skyrat/modules/emotes/code/scream_datums.dm
Owners: none

[MIRROR] Respriting fish fillet and a couple food items that use them. (#29038)
  icons/obj/food/meat.dmi
Owners: none

Update modular_skyrat/modules/alternative_job_titles/code/alt_job_titles.dm
  modular_skyrat/modules/alternative_job_titles/code/alt_job_titles.dm
Owners: none

Automatic changelog for PR #29054 [ci skip]
  html/changelogs/AutoChangeLog-pr-29054.yml
Owners: none

Automatic changelog for PR #29053 [ci skip]
  html/changelogs/AutoChangeLog-pr-29053.yml
Owners: none

Automatic changelog for PR #29052 [ci skip]
  html/changelogs/AutoChangeLog-pr-29052.yml
Owners: none

Automatic changelog for PR #29051 [ci skip]
  html/changelogs/AutoChangeLog-pr-29051.yml
Owners: none

Automatic changelog for PR #29050 [ci skip]
  html/changelogs/AutoChangeLog-pr-29050.yml
Owners: none

Automatic changelog for PR #29048 [ci skip]
  html/changelogs/AutoChangeLog-pr-29048.yml
Owners: none

Automatic changelog for PR #29046 [ci skip]
  html/changelogs/AutoChangeLog-pr-29046.yml
Owners: none

Automatic changelog for PR #29045 [ci skip]
  html/changelogs/AutoChangeLog-pr-29045.yml
Owners: none

Automatic changelog for PR #29044 [ci skip]
  html/changelogs/AutoChangeLog-pr-29044.yml
Owners: none

Automatic changelog for PR #29041 [ci skip]
  html/changelogs/AutoChangeLog-pr-29041.yml
Owners: none

Fish ordered from bought fish cases now sells for 1/20th of the normal price (#85287)
  code/modules/cargo/exports/fish.dm
Owners: none

Update modular_skyrat/modules/alternative_job_titles/code/alt_job_titles.dm
  modular_skyrat/modules/alternative_job_titles/code/alt_job_titles.dm
Owners: none

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-29041.yml
  html/changelogs/AutoChangeLog-pr-29044.yml
  html/changelogs/AutoChangeLog-pr-29045.yml
  html/changelogs/AutoChangeLog-pr-29046.yml
  html/changelogs/AutoChangeLog-pr-29048.yml
  html/changelogs/AutoChangeLog-pr-29050.yml
  html/changelogs/AutoChangeLog-pr-29051.yml
  html/changelogs/AutoChangeLog-pr-29052.yml
  html/changelogs/AutoChangeLog-pr-29053.yml
  html/changelogs/AutoChangeLog-pr-29054.yml
  html/changelogs/AutoChangeLog-pr-29055.yml
  html/changelogs/AutoChangeLog-pr-29056.yml
  html/changelogs/AutoChangeLog-pr-29057.yml
  html/changelogs/AutoChangeLog-pr-29058.yml
  html/changelogs/AutoChangeLog-pr-29059.yml
  html/changelogs/AutoChangeLog-pr-29060.yml
  html/changelogs/AutoChangeLog-pr-29061.yml
  html/changelogs/AutoChangeLog-pr-29064.yml
  html/changelogs/AutoChangeLog-pr-29066.yml
  html/changelogs/AutoChangeLog-pr-29067.yml
  html/changelogs/archive/2024-07.yml
Owners: none

Fix clicking on a table through the lootpanel with an item forcing it to be placed in the very corner (#85208)
  code/game/objects/structures/tables_racks.dm
Owners: none

[MIRROR] Refactors projectile parrying and makes it actually possible. [MDB IGNORE] (#3885)
  code/__DEFINES/traits/declarations.dm
  code/datums/status_effects/debuffs/debuffs.dm
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
  code/modules/projectiles/projectile.dm
Owners: none

[MIRROR] Datumizes pod types [MDB IGNORE] (#3917)
  modular_skyrat/modules/icspawning/code/observer.dm
  modular_skyrat/modules/modular_items/code/summon_beacon.dm
  modular_skyrat/modules/novaya_ert/code/advanced_choice_beacon.dm
Owners: none

[MIRROR] Donk Co Interstellar Trading Post 6016 [MDB IGNORE] (#3943)
  icons/mob/simple/animal.dmi
  icons/obj/card.dmi
  modular_skyrat/modules/shotgunrebalance/icons/shotshells.dmi
Owners: none

[MIRROR] Separates tabletop/wallmounted ID authorisation panels [MDB IGNORE] (#3961)
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/NSVBlueshift/Blueshift.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  _maps/skyrat/automapper/templates/centcom/centcom_ferry_dock.dmm
  code/modules/security_levels/keycard_authentication.dm
Owners: @Jolly-66, @KathrinBailey

Fixes conflict
  code/modules/vehicles/mecha/equipment/tools/work_tools.dm
Owners: none

fix modular
  code/datums/station_traits/positive_traits.dm
  modular_skyrat/modules/moretraitoritems/code/autosurgeon.dm
Owners: none

Update work_tools.dm
  code/modules/vehicles/mecha/equipment/tools/work_tools.dm
Owners: none

Update work_tools.dm
  code/modules/vehicles/mecha/equipment/tools/work_tools.dm
Owners: none

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# Jake Park
/modular_skyrat/modules/apocolypse_of_scythes/ @jjpark-kb
/modular_skyrat/modules/ash_chemical_centrifuge/ @jjpark-kb
/modular_skyrat/modules/ash_farming/ @jjpark-kb
/modular_skyrat/modules/ashwalker_change/ @jjpark-kb
/modular_skyrat/modules/ashwalker_shaman/ @jjpark-kb
/modular_skyrat/modules/borg_buffs/ @jjpark-kb
/modular_skyrat/modules/cargo_teleporter/ @jjpark-kb
/modular_skyrat/modules/conveyor_sorter/ @jjpark-kb
/modular_skyrat/modules/cortical_borer/ @jjpark-kb
/modular_skyrat/modules/connecting_computer/ @jjpark-kb
/modular_skyrat/modules/fishing/ @jjpark-kb
/modular_skyrat/modules/positronic_alert_console/ @jjpark-kb
/modular_skyrat/modules/primitive_production/ @jjpark-kb
/modular_skyrat/modules/reagent_forging/ @jjpark-kb
/modular_skyrat/modules/xenoarch/ @jjpark-kb

# Jolly-66
/modular_skyrat/modules/mapping @Jolly-66
/tools/UpdatePaths @Jolly-66

# LT3
/code/modules/transport/ @lessthnthree
/modular_skyrat/master_files/code/controllers/subsystem/ @lessthnthree
/modular_skyrat/modules/advanced_engineering/ @lessthnthree
/modular_skyrat/modules/airlock_override/ @lessthnthree
/modular_skyrat/modules/alerts/ @lessthnthree
/modular_skyrat/modules/cme/ @lessthnthree
/modular_skyrat/modules/events/ @lessthnthree
/modular_skyrat/modules/ices_events/ @lessthnthree

# Multiple Owners

# Maptainers
/_maps/ @Jolly-66 @KathrinBailey

# Expensive files that touching basically always cause performance problems
## Init times
**/*_EXPENSIVE.dm @Useroth
