Repository Skyrat-SS13/Skyrat-tg, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jjpark-kb, @Jolly-66, @lessthnthree, @KathrinBailey, @Useroth

[SEMI-MODULAR] Taur rework Pt. 1: Serpentine taurs (#1953)
  code/modules/mob/living/carbon/human/_species.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/taur_types.dm
  modular_skyrat/modules/customization/modules/surgery/organs/taur_body.dm
  modular_skyrat/modules/emotes/code/additionalemotes/turf_emote.dm
  modular_skyrat/modules/emotes/code/additionalemotes/turf_list.dm
  modular_skyrat/modules/taur_mechanics/code/constrict.dm
  modular_skyrat/modules/taur_mechanics/code/mod.dm
  modular_skyrat/modules/taur_mechanics/code/preferences.dm
  modular_skyrat/modules/taur_mechanics/code/serpentine_taur.dm
  modular_skyrat/modules/taur_mechanics/code/species.dm
  modular_skyrat/modules/taur_mechanics/sprites/ability.dmi
  modular_skyrat/modules/taur_mechanics/sprites/tail.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/skyrat/species_features.tsx
Owners: none

no secmed no problem
  modular_skyrat/modules/deforest_medical_items/code/cargo_packs.dm
  modular_skyrat/modules/hyposprays/code/autolathe_designs.dm
Owners: none

Vent-spawned wendigos no longer create one-way portals (#84230)
  code/game/objects/structures/lavaland/ore_vent.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/wendigo.dm
  code/modules/unit_tests/simple_animal_freeze.dm
Owners: none

Uses ancient dark-mapper knowledge to correctly fix all science burn chambers' power (#84374)
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/wawastation/wawastation.dmm
Owners: @Jolly-66, @KathrinBailey

Update sprite_accessories.dm
  code/controllers/subsystem/sprite_accessories.dm
Owners: none

Fix annoying bug where window isn't refocusing after closing TGUI (#84448)
  tgui/packages/tgui/layouts/Window.tsx
Owners: none

[MIRROR] Moves "sprite accessories" (e.g. Hair, Undergarments, Mutant Bits) from `GLOB` to a datasystem (#2278)
  code/__DEFINES/DNA.dm
  code/__HELPERS/dna.dm
  code/__HELPERS/global_lists.dm
  code/controllers/subsystem/sprite_accessories.dm
  code/modules/client/preferences/clothing.dm
  code/modules/food_and_drinks/restaurant/customers/_customer.dm
  code/modules/hydroponics/grown/replicapod.dm
  code/modules/mining/lavaland/tendril_loot.dm
  code/modules/mob/living/carbon/human/dummy.dm
  code/modules/surgery/organs/external/_external_organ.dm
  code/modules/surgery/organs/external/wings/functional_wings.dm
  modular_skyrat/modules/customization/__DEFINES/lists.dm
  modular_skyrat/modules/customization/__HELPERS/global_lists.dm
  modular_skyrat/modules/customization/__HELPERS/mobs.dm
  modular_skyrat/modules/customization/_globalvars/lists.dm
  modular_skyrat/modules/customization/datums/dna.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/roundstartslime.dm
  modular_skyrat/modules/customization/modules/surgery/organs/genitals.dm
  modular_skyrat/modules/customization/subsytem/sprite_accessories.dm
  tgstation.dme
Owners: none

fix
  modular_skyrat/master_files/code/modules/client/preferences/scream.dm
  modular_skyrat/modules/customization/__HELPERS/global_lists.dm
  tgstation.dme
Owners: none

[MIRROR] Fix annoying bug where window isn't refocusing after closing TGUI (#28496)
  tgui/packages/tgui/layouts/Window.tsx
Owners: none

[MIRROR] Uses ancient dark-mapper knowledge to correctly fix all science burn chambers' power (#28495)
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/wawastation/wawastation.dmm
Owners: @Jolly-66, @KathrinBailey

[MIRROR] Vent-spawned wendigos no longer create one-way portals (#28494)
  code/game/objects/structures/lavaland/ore_vent.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/wendigo.dm
  code/modules/unit_tests/simple_animal_freeze.dm
Owners: none

Automatic changelog for PR #28496 [ci skip]
  html/changelogs/AutoChangeLog-pr-28496.yml
Owners: none

Remove security medic cargo packs [NO GBP] (#28493)
  modular_skyrat/modules/deforest_medical_items/code/cargo_packs.dm
  modular_skyrat/modules/hyposprays/code/autolathe_designs.dm
Owners: none

Automatic changelog for PR #28495 [ci skip]
  html/changelogs/AutoChangeLog-pr-28495.yml
Owners: none

Automatic changelog for PR #28494 [ci skip]
  html/changelogs/AutoChangeLog-pr-28494.yml
Owners: none

[SEMI-MODULAR] [NOVA PORT] Ports the serpentine taur "rework" from nova with a few tweaks (#28492)
  code/modules/mob/living/carbon/human/_species.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/taur_types.dm
  modular_skyrat/modules/customization/modules/surgery/organs/taur_body.dm
  modular_skyrat/modules/emotes/code/additionalemotes/turf_emote.dm
  modular_skyrat/modules/emotes/code/additionalemotes/turf_list.dm
  modular_skyrat/modules/taur_mechanics/code/constrict.dm
  modular_skyrat/modules/taur_mechanics/code/mod.dm
  modular_skyrat/modules/taur_mechanics/code/preferences.dm
  modular_skyrat/modules/taur_mechanics/code/serpentine_taur.dm
  modular_skyrat/modules/taur_mechanics/code/species.dm
  modular_skyrat/modules/taur_mechanics/sprites/ability.dmi
  modular_skyrat/modules/taur_mechanics/sprites/tail.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/skyrat/species_features.tsx
Owners: none

[SEMI-MODULAR] [NOVA PORT] Reimplements some taur sprites gathering dust (#28491)
  code/modules/clothing/spacesuits/_spacesuits.dm
  code/modules/clothing/suits/utility.dm
  modular_skyrat/master_files/code/modules/clothing/taur_sprites/suit.dm
  modular_skyrat/master_files/icons/mob/clothing/suit_taur_hoof.dmi
  modular_skyrat/master_files/icons/mob/clothing/suit_taur_paw.dmi
  tgstation.dme
Owners: none

[MIRROR] [NO GBP]Supermatter zap power generation takes perspective of the machines subsystem. (#28490)
  code/modules/power/supermatter/supermatter.dm
  code/modules/power/supermatter/supermatter_extra_effects.dm
Owners: none

[MIRROR] Humanizing monkeys removes undergarments (#28489)
  code/modules/mob/transform_procs.dm
Owners: none

[MIRROR] Fixes two miswritten words in the heretic lore (#28487)
  code/modules/antagonists/heretic/knowledge/side_blade_rust.dm
Owners: none

[MIRROR] Blood filter surgery update (#28486)
  code/modules/surgery/blood_filter.dm
Owners: none

Re-adds the Irish Tactical Uniform and Royal Kilt (#28485)
  modular_skyrat/master_files/code/modules/clothing/under/costume.dm
  modular_skyrat/master_files/code/modules/loadout/categories/uniform.dm
  modular_skyrat/master_files/icons/mob/clothing/under/costume.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/costume_digi.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/costume.dmi
Owners: none

[MIRROR] Fixes a bunch of small issues on various Whiteships (#28484)
  _maps/shuttles/whiteship_birdshot.dmm
  _maps/shuttles/whiteship_cere.dmm
  _maps/shuttles/whiteship_donut.dmm
  _maps/shuttles/whiteship_kilo.dmm
  _maps/shuttles/whiteship_obelisk.dmm
  _maps/shuttles/whiteship_personalshuttle.dmm
  _maps/shuttles/whiteship_pubby.dmm
  _maps/shuttles/whiteship_tram.dmm
  code/datums/shuttles/whiteship.dm
  code/modules/shuttle/navigation_computer.dm
  code/modules/shuttle/shuttle.dm
Owners: @Jolly-66, @KathrinBailey

[MIRROR] Fixes lightswitch-turning-off mapping helper (#28482)
  code/modules/mapping/mapping_helpers.dm
Owners: none

Automatic changelog for PR #28493 [ci skip]
  html/changelogs/AutoChangeLog-pr-28493.yml
Owners: none

Update reach.dm
  code/datums/mutations/reach.dm
Owners: none

Automatic changelog for PR #28492 [ci skip]
  html/changelogs/AutoChangeLog-pr-28492.yml
Owners: none

Automatic changelog for PR #28491 [ci skip]
  html/changelogs/AutoChangeLog-pr-28491.yml
Owners: none

Automatic changelog for PR #28490 [ci skip]
  html/changelogs/AutoChangeLog-pr-28490.yml
Owners: none

Automatic changelog for PR #28489 [ci skip]
  html/changelogs/AutoChangeLog-pr-28489.yml
Owners: none

Automatic changelog for PR #28487 [ci skip]
  html/changelogs/AutoChangeLog-pr-28487.yml
Owners: none

Automatic changelog for PR #28486 [ci skip]
  html/changelogs/AutoChangeLog-pr-28486.yml
Owners: none

Automatic changelog for PR #28485 [ci skip]
  html/changelogs/AutoChangeLog-pr-28485.yml
Owners: none

Automatic changelog for PR #28484 [ci skip]
  html/changelogs/AutoChangeLog-pr-28484.yml
Owners: none

[MIRROR] Refactors body markings into bodypart overlays (#28241)
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/_globalvars/traits/admin_tooling.dm
  code/controllers/subsystem/sprite_accessories.dm
  code/datums/bodypart_overlays/markings_bodypart_overlay.dm
  code/datums/dna.dm
  code/datums/sprite_accessories.dm
  code/game/objects/structures/mirror.dm
  code/modules/client/preferences/_preference.dm
  code/modules/client/preferences/species_features/lizard.dm
  code/modules/client/preferences/species_features/moth.dm
  code/modules/mining/lavaland/megafauna_loot.dm
  code/modules/mob/living/carbon/carbon_update_icons.dm
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/mob/living/carbon/human/dummy.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  code/modules/mob/living/carbon/human/species_types/mothmen.dm
  code/modules/unit_tests/changeling.dm
  icons/mob/human/species/lizard/lizard_markings.dmi
  icons/mob/human/species/lizard/lizard_misc.dmi
  modular_skyrat/master_files/code/modules/client/preferences/mutant_parts.dm
  modular_skyrat/master_files/code/modules/reagents/medicine_reagents/medicine_reagents.dm
  modular_skyrat/modules/customization/datums/dna.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/moth.dm
  modular_skyrat/modules/primitive_catgirls/code/species.dm
  modular_skyrat/modules/teshari/code/_teshari.dm
  tgstation.dme
Owners: none

screenshot
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_lizard_ashwalker.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_monkey.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_teshari.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_vox.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_vox_primalis.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_xeno.png
Owners: none

New Bonesetters and bloodfilters (#28442)
  modular_skyrat/master_files/code/modules/surgery/organs/internal/cyberimp/augments_arms.dm
  modular_skyrat/modules/filtersandsetters/code/filtersandsetters.dm
  modular_skyrat/modules/filtersandsetters/icons/surgery_tools.dmi
  tgstation.dme
Owners: none

Automatic changelog for PR #28241 [ci skip]
  html/changelogs/AutoChangeLog-pr-28241.yml
Owners: none

Automatic changelog for PR #28442 [ci skip]
  html/changelogs/AutoChangeLog-pr-28442.yml
Owners: none

techweb
  code/__DEFINES/~skyrat_defines/techweb_nodes.dm
  modular_skyrat/master_files/code/modules/research/techweb/all_nodes.dm
  modular_skyrat/modules/additional_circuit/code/_designs.dm
  modular_skyrat/modules/cargo_teleporter/code/cargo_teleporter.dm
  modular_skyrat/modules/colony_fabricator/code/design_datums/appliances.dm
  modular_skyrat/modules/colony_fabricator/code/design_datums/flatpack_machines.dm
  modular_skyrat/modules/colony_fabricator/code/design_datums/tools.dm
  modular_skyrat/modules/conveyor_sorter/code/conveyor_sorter.dm
  modular_skyrat/modules/digitigrade_cybernetics/code/all_nodes.dm
  modular_skyrat/modules/implants/code/medical_nodes.dm
  modular_skyrat/modules/microfusion/code/microfusion_techweb.dm
  modular_skyrat/modules/mutants/code/mutant_techweb.dm
  modular_skyrat/modules/power/code/powerator.dm
  modular_skyrat/modules/space_vines/scythes.dm
  modular_skyrat/modules/synths/code/research_nodes.dm
  modular_skyrat/modules/tesh_augments/code/all_nodes.dm
  modular_skyrat/modules/xenoarch/code/modules/research/xenoarch/designs_and_tech.dm
  tgstation.dme
Owners: @jjpark-kb

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# Jake Park
/modular_skyrat/modules/apocolypse_of_scythes/ @jjpark-kb
/modular_skyrat/modules/ash_chemical_centrifuge/ @jjpark-kb
/modular_skyrat/modules/ash_farming/ @jjpark-kb
/modular_skyrat/modules/ashwalker_change/ @jjpark-kb
/modular_skyrat/modules/ashwalker_shaman/ @jjpark-kb
/modular_skyrat/modules/borg_buffs/ @jjpark-kb
/modular_skyrat/modules/cargo_teleporter/ @jjpark-kb
/modular_skyrat/modules/conveyor_sorter/ @jjpark-kb
/modular_skyrat/modules/cortical_borer/ @jjpark-kb
/modular_skyrat/modules/connecting_computer/ @jjpark-kb
/modular_skyrat/modules/fishing/ @jjpark-kb
/modular_skyrat/modules/positronic_alert_console/ @jjpark-kb
/modular_skyrat/modules/primitive_production/ @jjpark-kb
/modular_skyrat/modules/reagent_forging/ @jjpark-kb
/modular_skyrat/modules/xenoarch/ @jjpark-kb

# Jolly-66
/modular_skyrat/modules/mapping @Jolly-66
/tools/UpdatePaths @Jolly-66

# LT3
/code/modules/transport/ @lessthnthree
/modular_skyrat/master_files/code/controllers/subsystem/ @lessthnthree
/modular_skyrat/modules/advanced_engineering/ @lessthnthree
/modular_skyrat/modules/airlock_override/ @lessthnthree
/modular_skyrat/modules/alerts/ @lessthnthree
/modular_skyrat/modules/cme/ @lessthnthree
/modular_skyrat/modules/events/ @lessthnthree
/modular_skyrat/modules/ices_events/ @lessthnthree

# Multiple Owners

# Maptainers
/_maps/ @Jolly-66 @KathrinBailey

# Expensive files that touching basically always cause performance problems
## Init times
**/*_EXPENSIVE.dm @Useroth
