Repository Skyrat-SS13/Skyrat-tg, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jjpark-kb, @Jolly-66, @lessthnthree, @KathrinBailey, @Useroth

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# Jake Park
/modular_skyrat/modules/apocolypse_of_scythes/ @jjpark-kb
/modular_skyrat/modules/ash_chemical_centrifuge/ @jjpark-kb
/modular_skyrat/modules/ash_farming/ @jjpark-kb
/modular_skyrat/modules/ashwalker_change/ @jjpark-kb
/modular_skyrat/modules/ashwalker_shaman/ @jjpark-kb
/modular_skyrat/modules/borg_buffs/ @jjpark-kb
/modular_skyrat/modules/cargo_teleporter/ @jjpark-kb
/modular_skyrat/modules/conveyor_sorter/ @jjpark-kb
/modular_skyrat/modules/cortical_borer/ @jjpark-kb
/modular_skyrat/modules/connecting_computer/ @jjpark-kb
/modular_skyrat/modules/fishing/ @jjpark-kb
/modular_skyrat/modules/positronic_alert_console/ @jjpark-kb
/modular_skyrat/modules/primitive_production/ @jjpark-kb
/modular_skyrat/modules/reagent_forging/ @jjpark-kb
/modular_skyrat/modules/xenoarch/ @jjpark-kb

# Jolly-66
/modular_skyrat/modules/mapping @Jolly-66
/tools/UpdatePaths @Jolly-66

# LT3
/code/modules/transport/ @lessthnthree
/modular_skyrat/master_files/code/controllers/subsystem/ @lessthnthree
/modular_skyrat/modules/advanced_engineering/ @lessthnthree
/modular_skyrat/modules/airlock_override/ @lessthnthree
/modular_skyrat/modules/alerts/ @lessthnthree
/modular_skyrat/modules/cme/ @lessthnthree
/modular_skyrat/modules/events/ @lessthnthree
/modular_skyrat/modules/ices_events/ @lessthnthree

# Multiple Owners

# Maptainers
/_maps/ @Jolly-66 @KathrinBailey

# Expensive files that touching basically always cause performance problems
## Init times
**/*_EXPENSIVE.dm @Useroth

yes
  modular_skyrat/modules/aesthetics/guns/code/guns.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/rifle.dm
Owners: none

Update tgstation.dme
  tgstation.dme
Owners: none

Update shotgun.dm
  modular_skyrat/modules/shotgunrebalance/code/shotgun.dm
Owners: none

there
  modular_skyrat/modules/modular_weapons/icons/obj/company_and_or_faction_based/romulus_technology/gun40x32.dmi
Owners: none

yeah!
  modular_skyrat/modules/colony_fabricator/code/tools/tools.dm
  tgstation.dme
Owners: none

Automatic changelog for PR #29239 [ci skip]
  html/changelogs/AutoChangeLog-pr-29239.yml
Owners: none

Revert "[MIRROR] Machines check their parts during initialization (#29179)"
  code/game/machinery/_machinery.dm
  code/game/machinery/medipen_refiller.dm
Owners: none

Automatic changelog for PR #29238 [ci skip]
  html/changelogs/AutoChangeLog-pr-29238.yml
Owners: none

Fixes a mirror of Unfucks all the broken vendors that I broke [no gbp] #85483 (#29241)
  code/game/machinery/_machinery.dm
  code/game/machinery/medipen_refiller.dm
Owners: none

Circuit UI scale no longer suffers from FPEs and doesnt get covered by component menu (#85653)
  tgui/packages/tgui/components/InfinitePlane.jsx
  tgui/packages/tgui/interfaces/IntegratedCircuit/index.jsx
Owners: none

Fixed Charlie MOD installer not installing MODsuits unless you have a backpack to drop (#85671)
  code/modules/mapfluff/ruins/spaceruin_code/oldstation/oldstation_mod.dm
Owners: none

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-29238.yml
  html/changelogs/AutoChangeLog-pr-29239.yml
  html/changelogs/AutoChangeLog-pr-29240.yml
  html/changelogs/archive/2024-08.yml
Owners: none

Fix tadpole scooping (#85691)
  code/game/objects/structures/water_structures/water_source.dm
Owners: none

Automatic changelog for PR #29243 [ci skip]
  html/changelogs/AutoChangeLog-pr-29243.yml
Owners: none

The whole PR
  code/__DEFINES/~skyrat_defines/keybindings.dm
  code/__DEFINES/~skyrat_defines/signals.dm
  code/__DEFINES/~skyrat_defines/traits.dm
  modular_skyrat/master_files/code/datums/elements/prone_mob.dm
  modular_skyrat/master_files/code/datums/keybinding/movement.dm
  modular_skyrat/master_files/code/modules/mob/living/human/human.dm
  modular_skyrat/master_files/code/modules/mob/mob_movement.dm
  modular_skyrat/modules/cortical_borer/code/abilities/_borer_abilities.dm
  tgstation.dme
Owners: @jjpark-kb

Update HUD_Glasses.dm
  modular_skyrat/modules/huds/code/glasses/HUD_Glasses.dm
Owners: none

modified: _maps/safehouses/skyrat_ancientmilsim.dmm
  _maps/safehouses/skyrat_ancientmilsim.dmm
Owners: @Jolly-66, @KathrinBailey

Automatic changelog for PR #29246 [ci skip]
  html/changelogs/AutoChangeLog-pr-29246.yml
Owners: none

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-29243.yml
  html/changelogs/AutoChangeLog-pr-29246.yml
  html/changelogs/archive/2024-08.yml
Owners: none

Removes an unused var from SSpersistence (#85696)
  code/controllers/subsystem/persistence/_persistence.dm
Owners: none

Fixes Donk Co. & Waffle Corp Trademark Issues (#85686)
  _maps/RandomRuins/SpaceRuins/infested_frigate.dmm
  code/game/objects/items/clown_items.dm
  code/game/objects/items/food/monkeycube.dm
  code/game/objects/items/grenades/chem_grenade.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/storage/boxes/science_boxes.dm
  code/modules/antagonists/nukeop/outfits.dm
  code/modules/mod/mod_theme.dm
  code/modules/mod/modules/modules_general.dm
  code/modules/projectiles/guns/ballistic/revolver.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/research/designs/misc_designs.dm
  code/modules/uplink/uplink_items/dangerous.dm
  code/modules/uplink/uplink_items/job.dm
  code/modules/uplink/uplink_items/nukeops.dm
  strings/antagonist_flavor/traitor_flavor.json
Owners: @Jolly-66, @KathrinBailey

Update flee_target.dm
  code/datums/ai/basic_mobs/basic_subtrees/flee_target.dm
Owners: none

Update scanner_gate.dm
  code/game/machinery/scanner_gate.dm
Owners: none

the whole PR
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon.dmm
  modular_skyrat/master_files/code/game/objects/items/long_range_pda.dm
  modular_skyrat/master_files/code/modules/research/designs/long_range_pda_design.dm
  tgstation.dme
Owners: @Jolly-66, @KathrinBailey

Automatic changelog for PR #29250 [ci skip]
  html/changelogs/AutoChangeLog-pr-29250.yml
Owners: none

Automatic changelog for PR #29249 [ci skip]
  html/changelogs/AutoChangeLog-pr-29249.yml
Owners: none

Automatic changelog for PR #29242 [ci skip]
  html/changelogs/AutoChangeLog-pr-29242.yml
Owners: none

fix conflict
  code/game/objects/items/tools/weldingtool.dm
  code/modules/power/cable.dm
Owners: none

Synthetic Surgery Tweak
  modular_skyrat/modules/synths/code/surgery/robot_healing.dm
Owners: none

Update medical.dm
  modular_skyrat/master_files/code/modules/cargo/bounties/medical.dm
Owners: none

Update medical.dm
  modular_skyrat/master_files/code/modules/cargo/bounties/medical.dm
Owners: none

Fixes this
  code/game/objects/items/tools/weldingtool.dm
  code/modules/power/cable.dm
Owners: none

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-29242.yml
  html/changelogs/AutoChangeLog-pr-29249.yml
  html/changelogs/AutoChangeLog-pr-29250.yml
  html/changelogs/archive/2024-08.yml
Owners: none

the whole PR
  code/modules/antagonists/changeling/changeling.dm
  modular_skyrat/master_files/code/modules/antagonists/changeling/changeling.dm
Owners: none

[MIRROR] Cable coil and welding tool healing now loops. Fixed heal message not displaying when healing someone else (#29200)
  code/game/objects/items/tools/weldingtool.dm
  code/modules/power/cable.dm
Owners: none

Automatic changelog for PR #29200 [ci skip]
  html/changelogs/AutoChangeLog-pr-29200.yml
Owners: none

Fixes jumpsuits being overriden when assistant
  modular_skyrat/master_files/code/modules/loadout/categories/uniform.dm
Owners: none

[MIRROR] [NO GBP] Lil' fix to fishing hat PR. (#29148)
  code/datums/ai/basic_mobs/basic_subtrees/flee_target.dm
  code/modules/mob/living/basic/space_fauna/carp/carp_ai_rift_actions.dm
Owners: none

[MIRROR] Scanner gate fixes (#29154)
  code/game/machinery/scanner_gate.dm
Owners: none

Automatic changelog for PR #29154 [ci skip]
  html/changelogs/AutoChangeLog-pr-29154.yml
Owners: none
