Repository Skyrat-SS13/Skyrat-tg, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jjpark-kb, @Jolly-66, @lessthnthree, @KathrinBailey, @Useroth

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# Jake Park
/modular_skyrat/modules/apocolypse_of_scythes/ @jjpark-kb
/modular_skyrat/modules/ash_chemical_centrifuge/ @jjpark-kb
/modular_skyrat/modules/ash_farming/ @jjpark-kb
/modular_skyrat/modules/ashwalker_change/ @jjpark-kb
/modular_skyrat/modules/ashwalker_shaman/ @jjpark-kb
/modular_skyrat/modules/borg_buffs/ @jjpark-kb
/modular_skyrat/modules/cargo_teleporter/ @jjpark-kb
/modular_skyrat/modules/conveyor_sorter/ @jjpark-kb
/modular_skyrat/modules/cortical_borer/ @jjpark-kb
/modular_skyrat/modules/connecting_computer/ @jjpark-kb
/modular_skyrat/modules/fishing/ @jjpark-kb
/modular_skyrat/modules/positronic_alert_console/ @jjpark-kb
/modular_skyrat/modules/primitive_production/ @jjpark-kb
/modular_skyrat/modules/reagent_forging/ @jjpark-kb
/modular_skyrat/modules/xenoarch/ @jjpark-kb

# Jolly-66
/modular_skyrat/modules/mapping @Jolly-66
/tools/UpdatePaths @Jolly-66

# LT3
/code/modules/transport/ @lessthnthree
/modular_skyrat/master_files/code/controllers/subsystem/ @lessthnthree
/modular_skyrat/modules/advanced_engineering/ @lessthnthree
/modular_skyrat/modules/airlock_override/ @lessthnthree
/modular_skyrat/modules/alerts/ @lessthnthree
/modular_skyrat/modules/cme/ @lessthnthree
/modular_skyrat/modules/events/ @lessthnthree
/modular_skyrat/modules/ices_events/ @lessthnthree

# Multiple Owners

# Maptainers
/_maps/ @Jolly-66 @KathrinBailey

# Expensive files that touching basically always cause performance problems
## Init times
**/*_EXPENSIVE.dm @Useroth

[NO GBP] Fixing bloodfilters and bonesetters (#28701)
  modular_skyrat/modules/filtersandsetters/code/filtersandsetters.dm
Owners: none

[MIRROR] [NO GBP] Fixes hoverboard being able to be used in space. (#28697)
  code/__DEFINES/is_helpers.dm
  code/datums/ai/basic_mobs/basic_subtrees/go_for_swim.dm
  code/datums/components/riding/riding_vehicle.dm
  code/datums/elements/floorloving.dm
  code/modules/events/space_vines/vine_structure.dm
  code/modules/mob/living/basic/lavaland/goliath/tentacle.dm
  code/modules/mob/living/basic/pets/parrot/parrot_ai/parrot_hoarding.dm
Owners: none

[MIRROR] Adds a config that skews random spawners weights. (#28696)
  code/controllers/configuration/entries/game_options.dm
  code/game/objects/effects/spawners/random/random.dm
  config/game_options.txt
Owners: none

[MIRROR] Night Vision Goggles update (#28695)
  code/datums/actions/items/toggles.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/game/objects/structures/crates_lockers/closets/syndicate.dm
  code/modules/antagonists/cult/cult_items.dm
  code/modules/antagonists/ninja/outfit.dm
  code/modules/antagonists/nukeop/outfits.dm
  code/modules/client/client_colour.dm
  code/modules/clothing/glasses/_glasses.dm
  code/modules/clothing/glasses/hud.dm
  code/modules/clothing/outfits/ert.dm
  code/modules/mob_spawn/ghost_roles/unused_roles.dm
  icons/mob/clothing/eyes.dmi
  icons/obj/clothing/glasses.dmi
  modular_skyrat/modules/exp_corps/code/clothing.dm
  sound/items/attributions.txt
  sound/items/night_vision_on.ogg
Owners: none

Automatic changelog for PR #28713 [ci skip]
  html/changelogs/AutoChangeLog-pr-28713.yml
Owners: none

[MIRROR] Adjusts medical techweb nodes (#28693)
  code/modules/experisci/experiment/experiments.dm
  code/modules/research/techweb/nodes/atmos_nodes.dm
  code/modules/research/techweb/nodes/medbay_nodes.dm
Owners: none

[MIRROR] tgui: custom font bluescreen fix, typescript'd (#28692)
  tgui/packages/tgui-panel/settings/SettingsGeneral.tsx
  tgui/packages/tgui-panel/settings/SettingsPanel.jsx
  tgui/packages/tgui-panel/settings/SettingsPanel.tsx
  tgui/packages/tgui-panel/settings/TextHighlight.tsx
  tgui/packages/tgui-panel/settings/middleware.js
  tgui/packages/tgui-panel/settings/middleware.ts
  tgui/packages/tgui-panel/settings/reducer.js
  tgui/packages/tgui-panel/settings/reducer.ts
Owners: none

[MIRROR] mood is more reactive to area beauty changes, also flips it for people with morbid trait. (#28691)
  code/__DEFINES/dcs/signals/signals_area.dm
  code/datums/mood.dm
  code/datums/mood_events/beauty_events.dm
  code/game/area/areas.dm
Owners: none

[MIRROR] All jetpacks are no longer full-speed (#28690)
  _maps/RandomRuins/SpaceRuins/skyrat/cargodiselost.dmm
  code/game/objects/items/tanks/jetpack.dm
  code/modules/mod/mod_types.dm
  code/modules/mod/modules/modules_general.dm
  code/modules/movespeed/modifiers/items.dm
  modular_skyrat/master_files/code/modules/mod/mod_types.dm
  modular_skyrat/modules/advanced_engineering/code/adv_engineering.dm
  modular_skyrat/modules/assault_operatives/code/armaments/armament_modules.dm
  modular_skyrat/modules/contractor/code/items/modsuit/modsuit.dm
  modular_skyrat/modules/novaya_ert/code/mod_suit.dm
  modular_skyrat/modules/opposing_force/code/equipment/modsuit.dm
Owners: @Jolly-66, @KathrinBailey, @lessthnthree

[MIRROR] [no gbp] fixes watchers making raptors freak out (#28689)
  code/datums/components/riding/riding_mob.dm
Owners: none

[MIRROR] Search Bar in Vending Machines (#28686)
  tgui/packages/tgui/interfaces/Vending.tsx
Owners: none

[MIRROR] 12% chance of a ouija board spawning in the chaplain office. (#28685)
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/tramstation/tramstation.dmm
  code/game/objects/effects/spawners/random/structure.dm
  icons/effects/random_spawners.dmi
Owners: @Jolly-66, @KathrinBailey

Automatic changelog for PR #28711 [ci skip]
  html/changelogs/AutoChangeLog-pr-28711.yml
Owners: none

[NO-GBP] Last loadout fixes to make it on par with the old system (#28684)
  code/modules/loadout/loadout_helpers.dm
  modular_skyrat/master_files/code/modules/loadout/category_rebalance.dm
  tgstation.dme
Owners: none

Automatic changelog for PR #28710 [ci skip]
  html/changelogs/AutoChangeLog-pr-28710.yml
Owners: none

Automatic changelog for PR #28709 [ci skip]
  html/changelogs/AutoChangeLog-pr-28709.yml
Owners: none

Automatic changelog for PR #28708 [ci skip]
  html/changelogs/AutoChangeLog-pr-28708.yml
Owners: none

Automatic changelog for PR #28707 [ci skip]
  html/changelogs/AutoChangeLog-pr-28707.yml
Owners: none

Automatic changelog for PR #28706 [ci skip]
  html/changelogs/AutoChangeLog-pr-28706.yml
Owners: none

Automatic changelog for PR #28705 [ci skip]
  html/changelogs/AutoChangeLog-pr-28705.yml
Owners: none

Automatic changelog for PR #28704 [ci skip]
  html/changelogs/AutoChangeLog-pr-28704.yml
Owners: none

Automatic changelog for PR #28703 [ci skip]
  html/changelogs/AutoChangeLog-pr-28703.yml
Owners: none

Automatic changelog for PR #28702 [ci skip]
  html/changelogs/AutoChangeLog-pr-28702.yml
Owners: none

Automatic changelog for PR #28701 [ci skip]
  html/changelogs/AutoChangeLog-pr-28701.yml
Owners: none

Automatic changelog for PR #28699 [ci skip]
  html/changelogs/AutoChangeLog-pr-28699.yml
Owners: none

Automatic changelog for PR #28697 [ci skip]
  html/changelogs/AutoChangeLog-pr-28697.yml
Owners: none

Automatic changelog for PR #28696 [ci skip]
  html/changelogs/AutoChangeLog-pr-28696.yml
Owners: none

Automatic changelog for PR #28695 [ci skip]
  html/changelogs/AutoChangeLog-pr-28695.yml
Owners: none

Automatic changelog for PR #28693 [ci skip]
  html/changelogs/AutoChangeLog-pr-28693.yml
Owners: none

Automatic changelog for PR #28692 [ci skip]
  html/changelogs/AutoChangeLog-pr-28692.yml
Owners: none

Automatic changelog for PR #28691 [ci skip]
  html/changelogs/AutoChangeLog-pr-28691.yml
Owners: none

Automatic changelog for PR #28690 [ci skip]
  html/changelogs/AutoChangeLog-pr-28690.yml
Owners: none

Automatic changelog for PR #28689 [ci skip]
  html/changelogs/AutoChangeLog-pr-28689.yml
Owners: none

[MIRROR] [NO GBP] Silent events will now announce themselves to admins before rolling (#28635)
  code/modules/events/_event.dm
Owners: none

Update magazine.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/nanotrasen_system_inc/magazine.dm
Owners: none

Automatic changelog for PR #28686 [ci skip]
  html/changelogs/AutoChangeLog-pr-28686.yml
Owners: none

Automatic changelog for PR #28685 [ci skip]
  html/changelogs/AutoChangeLog-pr-28685.yml
Owners: none

Automatic changelog for PR #28684 [ci skip]
  html/changelogs/AutoChangeLog-pr-28684.yml
Owners: none

Update rifle.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/ammo/rifle.dm
Owners: none

Update rifle.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/ammo/rifle.dm
Owners: none
