Repository Skyrat-SS13/Skyrat-tg, changes with the owners that .github/CODEOWNERS names for each.
All owners: @jjpark-kb, @Jolly-66, @lessthnthree, @KathrinBailey, @Useroth

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members
# when a PR that modifies the file in question is opened
# This list is alphabetized by User -> Filename KEEP IT THAT WAY
# In the event that multiple org members are to be informed of changes
# to the same file or dir, add them to the end under Multiple Owners

# Jake Park
/modular_skyrat/modules/apocolypse_of_scythes/ @jjpark-kb
/modular_skyrat/modules/ash_chemical_centrifuge/ @jjpark-kb
/modular_skyrat/modules/ash_farming/ @jjpark-kb
/modular_skyrat/modules/ashwalker_change/ @jjpark-kb
/modular_skyrat/modules/ashwalker_shaman/ @jjpark-kb
/modular_skyrat/modules/borg_buffs/ @jjpark-kb
/modular_skyrat/modules/cargo_teleporter/ @jjpark-kb
/modular_skyrat/modules/conveyor_sorter/ @jjpark-kb
/modular_skyrat/modules/cortical_borer/ @jjpark-kb
/modular_skyrat/modules/connecting_computer/ @jjpark-kb
/modular_skyrat/modules/fishing/ @jjpark-kb
/modular_skyrat/modules/positronic_alert_console/ @jjpark-kb
/modular_skyrat/modules/primitive_production/ @jjpark-kb
/modular_skyrat/modules/reagent_forging/ @jjpark-kb
/modular_skyrat/modules/xenoarch/ @jjpark-kb

# Jolly-66
/modular_skyrat/modules/mapping @Jolly-66
/tools/UpdatePaths @Jolly-66

# LT3
/code/modules/transport/ @lessthnthree
/modular_skyrat/master_files/code/controllers/subsystem/ @lessthnthree
/modular_skyrat/modules/advanced_engineering/ @lessthnthree
/modular_skyrat/modules/airlock_override/ @lessthnthree
/modular_skyrat/modules/alerts/ @lessthnthree
/modular_skyrat/modules/cme/ @lessthnthree
/modular_skyrat/modules/events/ @lessthnthree
/modular_skyrat/modules/ices_events/ @lessthnthree

# Multiple Owners

# Maptainers
/_maps/ @Jolly-66 @KathrinBailey

# Expensive files that touching basically always cause performance problems
## Init times
**/*_EXPENSIVE.dm @Useroth

Raising lobstrosities from chrabs is now a component. Adds in tadpoles which become frogs. (#85346)
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/map_files/wawastation/wawastation.dmm
  code/__DEFINES/dcs/signals/signals_fish.dm
  code/datums/components/fish_growth.dm
  code/game/objects/structures/water_structures/water_source.dm
  code/modules/cargo/exports/fish.dm
  code/modules/fishing/fish/_fish.dm
  code/modules/fishing/fish/fish_types.dm
  code/modules/mob/living/basic/basic.dm
  code/modules/unit_tests/fish_unit_tests.dm
  icons/obj/aquarium/fish.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/Aquarium.tsx
Owners: @Jolly-66, @KathrinBailey

Update shotgun.dm
  modular_skyrat/modules/shotgunrebalance/code/shotgun.dm
Owners: none

[MIRROR] Raising lobstrosities from chrabs is now a component. Adds in tadpoles which become frogs. (#29147)
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/map_files/wawastation/wawastation.dmm
  code/__DEFINES/dcs/signals/signals_fish.dm
  code/datums/components/fish_growth.dm
  code/game/objects/structures/water_structures/water_source.dm
  code/modules/cargo/exports/fish.dm
  code/modules/fishing/fish/_fish.dm
  code/modules/fishing/fish/fish_types.dm
  code/modules/mob/living/basic/basic.dm
  code/modules/unit_tests/fish_unit_tests.dm
  icons/obj/aquarium/fish.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/Aquarium.tsx
Owners: @Jolly-66, @KathrinBailey

Automatic changelog for PR #29147 [ci skip]
  html/changelogs/AutoChangeLog-pr-29147.yml
Owners: none

the whole PR
  modular_skyrat/modules/pixel_shift/code/pixel_shift_component.dm
Owners: none

optimizes pixel shifting some (#29231)
  modular_skyrat/modules/pixel_shift/code/pixel_shift_component.dm
Owners: none

Automatic changelog for PR #29231 [ci skip]
  html/changelogs/AutoChangeLog-pr-29231.yml
Owners: none

Fix advanced disease runtiming with invalid severity (#85465)
  code/datums/diseases/_disease.dm
  code/datums/diseases/advance/advance.dm
Owners: none

the whole PR
  modular_skyrat/master_files/code/modules/client/preferences/names.dm
  modular_skyrat/modules/Midroundtraitor/code/datum_traitor.dm
Owners: none

gives it to interdyne too
  modular_skyrat/modules/mapping/code/mob_spawns.dm
  tgstation.dme
Owners: @Jolly-66

Update datum_traitor.dm
  modular_skyrat/modules/Midroundtraitor/code/datum_traitor.dm
Owners: none

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-29102.yml
  html/changelogs/AutoChangeLog-pr-29147.yml
  html/changelogs/AutoChangeLog-pr-29165.yml
  html/changelogs/AutoChangeLog-pr-29171.yml
  html/changelogs/AutoChangeLog-pr-29188.yml
  html/changelogs/AutoChangeLog-pr-29189.yml
  html/changelogs/AutoChangeLog-pr-29203.yml
  html/changelogs/AutoChangeLog-pr-29205.yml
  html/changelogs/AutoChangeLog-pr-29213.yml
  html/changelogs/AutoChangeLog-pr-29214.yml
  html/changelogs/AutoChangeLog-pr-29215.yml
  html/changelogs/AutoChangeLog-pr-29217.yml
  html/changelogs/AutoChangeLog-pr-29218.yml
  html/changelogs/AutoChangeLog-pr-29220.yml
  html/changelogs/AutoChangeLog-pr-29222.yml
  html/changelogs/AutoChangeLog-pr-29223.yml
  html/changelogs/AutoChangeLog-pr-29224.yml
  html/changelogs/AutoChangeLog-pr-29225.yml
  html/changelogs/AutoChangeLog-pr-29226.yml
  html/changelogs/AutoChangeLog-pr-29227.yml
  html/changelogs/AutoChangeLog-pr-29228.yml
  html/changelogs/AutoChangeLog-pr-29229.yml
  html/changelogs/AutoChangeLog-pr-29231.yml
  html/changelogs/archive/2024-08.yml
Owners: none

Add dreamluau to the tgs precompile (#85624)
  tools/tgs_scripts/PreCompile.sh
Owners: none

Update mob_spawns.dm
  modular_skyrat/modules/mapping/code/mob_spawns.dm
Owners: @Jolly-66

the whole PR
  modular_skyrat/modules/self_actualization_device/code/self_actualization_device.dm
Owners: none

Automatic changelog for PR #29232 [ci skip]
  html/changelogs/AutoChangeLog-pr-29232.yml
Owners: none

Automatic changelog for PR #29233 [ci skip]
  html/changelogs/AutoChangeLog-pr-29233.yml
Owners: none

Automatic changelog for PR #29230 [ci skip]
  html/changelogs/AutoChangeLog-pr-29230.yml
Owners: none

Fixes ziptie pickup/drop sounds (#85630)
  code/game/objects/items/handcuffs.dm
Owners: none

Fixes guest accounts not having keybinds and getting constant runtimes (#72818)
  code/modules/client/preferences_savefile.dm
Owners: none

Automatic changelog for PR #29237 [ci skip]
  html/changelogs/AutoChangeLog-pr-29237.yml
Owners: none

Automatic changelog for PR #29236 [ci skip]
  html/changelogs/AutoChangeLog-pr-29236.yml
Owners: none

Automatic changelog for PR #29235 [ci skip]
  html/changelogs/AutoChangeLog-pr-29235.yml
Owners: none

Fixed things with \improper name not dispensing from smartfridge [NO GBP] (#85538)
  code/modules/food_and_drinks/machinery/smartfridge.dm
Owners: none

Update hydroponics.dm
  modular_skyrat/modules/primitive_production/code/hydroponics.dm
Owners: @jjpark-kb

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-29230.yml
  html/changelogs/AutoChangeLog-pr-29232.yml
  html/changelogs/AutoChangeLog-pr-29233.yml
  html/changelogs/AutoChangeLog-pr-29235.yml
  html/changelogs/AutoChangeLog-pr-29236.yml
  html/changelogs/AutoChangeLog-pr-29237.yml
  html/changelogs/archive/2024-08.yml
Owners: none

this is easier
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/rifle.dm
  modular_skyrat/modules/modular_weapons/icons/obj/company_and_or_faction_based/nanotrasen_system_inc/pistol.dmi
  modular_skyrat/modules/modular_weapons/icons/obj/company_and_or_faction_based/romulus_technology/gun40x32.dmi
Owners: none

wonderful
  modular_skyrat/modules/modular_weapons/icons/obj/company_and_or_faction_based/romulus_technology/gun32x32.dmi
  modular_skyrat/modules/modular_weapons/icons/obj/company_and_or_faction_based/romulus_technology/gun40x32.dmi
  modular_skyrat/modules/modular_weapons/icons/obj/company_and_or_faction_based/romulus_technology/pistol.dmi
Owners: none

Prescription Glass Fixes
  modular_skyrat/modules/huds/code/glasses/HUD_Glasses.dm
Owners: none

woops
  modular_skyrat/modules/huds/code/glasses/HUD_Glasses.dm
Owners: none

the whole PR
  modular_skyrat/modules/huds/code/glasses/HUD_Glasses.dm
Owners: none

Update tgstation.dme
  tgstation.dme
Owners: none

Update tgstation.dme
  tgstation.dme
Owners: none

Update rifle.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/rifle.dm
Owners: none

Update rifle.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/rifle.dm
Owners: none

Automatic changelog for PR #29240 [ci skip]
  html/changelogs/AutoChangeLog-pr-29240.yml
Owners: none

done
  modular_skyrat/modules/blueshield/code/closet.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/rifle.dm
Owners: none

Update tgstation.dme
  tgstation.dme
Owners: none

yeah
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/rifle.dm
  modular_skyrat/modules/sec_haul/code/guns/cargo_stuff.dm
  modular_skyrat/modules/sec_haul/code/misc/packs.dm
Owners: none

Update tgstation.dme
  tgstation.dme
Owners: none
