Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'

Fixes the missing voidwalker glass eater objective message (#85494)
  code/modules/antagonists/voidwalker/voidwalker.dm
Labels: none

Durathread bundles and sinew make their proper noises instead of metal clang sounds. (#85485)
  code/game/objects/items/stacks/sheets/leather.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
Labels: none

Breathing sounds remake (#85735)
  code/datums/looping_sounds/breathing.dm
  sound/voice/breathing.ogg
  sound/voice/breathing/attribution.txt
  sound/voice/breathing/internals_breathing1.ogg
  sound/voice/breathing/internals_breathing2.ogg
  sound/voice/breathing/internals_breathing3.ogg
  sound/voice/breathing/internals_breathing4.ogg
  sound/voice/breathing/internals_breathing5.ogg
  sound/voice/breathing/internals_breathing6.ogg
  sound/voice/breathing/internals_breathing7.ogg
  sound/voice/breathing/internals_breathing8.ogg
Labels: none

Adds a copy of the famous 1995 musical "Space Station 13: The Musical" to contraband of the autodrobe (#85724)
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_main.dm
  code/__DEFINES/text.dm
  code/__HELPERS/text.dm
  code/datums/mutations/speech.dm
  code/modules/library/skill_learning/skillchip.dm
  code/modules/vending/autodrobe.dm
Labels: none

Clarify what the Medical Cyborg Omnitool Upgrade does (#85729)
  code/game/objects/items/robot/robot_upgrades.dm
Labels: none

Reduced caltrop default paralyze timer from 6 to 2 (#85660)
  code/datums/components/caltrop.dm
Labels: none

Splits the slowdown between the space helmet and the space suit (#85704)
  code/modules/clothing/spacesuits/_spacesuits.dm
  code/modules/clothing/spacesuits/pirate.dm
  code/modules/clothing/spacesuits/santa.dm
  code/modules/clothing/spacesuits/softsuit.dm
  code/modules/shuttle/emergency.dm
Labels: none

Soulscythe now deletes the soul mob when destroyed (#85580)
  code/modules/mining/lavaland/megafauna_loot.dm
Labels: none

Heretic sacrifice area no longer modifies global ambience lists (#85592)
  code/modules/antagonists/heretic/knowledge/sacrifice_knowledge/sacrifice_map.dm
Labels: none

turf reservations may set whether they should override baseturfs, off for deathmatch (#85752)
  code/modules/deathmatch/deathmatch_maps.dm
  code/modules/mapping/space_management/space_reservation.dm
Labels: none

Reduced pathfinding circuit component cooldown to 5 seconds (#85534)
  code/modules/wiremod/components/action/pathfind.dm
Labels: none

Adds bowls to a lot of recipes (#85573)
  code/game/objects/items/food/lizard.dm
  code/game/objects/items/food/martian.dm
  code/game/objects/items/food/meatdish.dm
  code/game/objects/items/food/mexican.dm
  code/game/objects/items/food/moth.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_lizard.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_martian.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_meat.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_mexican.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_moth.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_spaghetti.dm
Labels: none

Firelocks can be opened with crowbar rigth-click in combat mode. (#85508)
  code/game/machinery/doors/door.dm
Labels: none

Fixed portable chem mixer spamming you if not held if not held while its UI is open (#85511)
  code/modules/reagents/chemistry/machinery/portable_chem_mixer.dm
Labels: none

Makes upgraded soda dispensers actually upgraded (#85551)
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
Labels: none

Ordnance experiments tweaks [NO GBP] (#85680)
  code/__DEFINES/research/techweb_nodes.dm
  code/datums/id_trim/jobs.dm
  code/modules/modular_computers/file_system/programs/frontier.dm
  code/modules/research/designs/machine_designs.dm
  code/modules/research/ordnance/scipaper_partner.dm
  code/modules/research/techweb/nodes/atmos_nodes.dm
  code/modules/research/techweb/nodes/biology_nodes.dm
  code/modules/research/techweb/nodes/mech_nodes.dm
  code/modules/research/techweb/nodes/medbay_nodes.dm
Labels: none

Cult magic item paths are no longer strings (#85476)
  code/modules/antagonists/cult/blood_magic.dm
Labels: none

Fix inventory item interactions sometimes being blocked due to not counting as adjacent when not on a turf (#85478)
  code/_onclick/adjacent.dm
Labels: none

Add reaction search to service cyborg (#85441)
  code/game/objects/items/robot/items/hypo.dm
  tgui/packages/tgui/interfaces/BorgShaker.tsx
Labels: none

Fixes icemoon comms agent map's template name (#85593)
  code/datums/ruins/icemoon.dm
Labels: none

Toolbox, medkit, cardboard box sounds. (#85337)
  code/datums/storage/storage.dm
  code/datums/storage/subtypes/extract_inventory.dm
  code/datums/storage/subtypes/pockets.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/storage/boxes/_boxes.dm
  code/game/objects/items/storage/medkit.dm
  code/game/objects/items/storage/toolbox.dm
  code/game/objects/structures/toiletbong.dm
  code/modules/clothing/under/accessories/_accessories.dm
  code/modules/mob/living/basic/drone/drone_tools.dm
  sound/items/attributions.txt
  sound/items/cardboard_box_open.ogg
  sound/items/cardboard_box_rustle.ogg
  sound/items/medkit_rustle.ogg
  sound/items/toolbox_open.ogg
  sound/items/toolbox_rustle.ogg
Labels: none

Holding a tactical item (cardboard cutout, plants) now gives TRAIT_UNKNOWN, replaces your name with the name of the tactical item (#85567)
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_carbon.dm
  code/datums/components/tactical.dm
  code/game/machinery/newscaster/newspaper.dm
  code/game/objects/items/kirby_plants/kirbyplants.dm
  code/modules/antagonists/abductor/equipment/gear/abductor_clothing.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
Labels: none

idle basic mobs can plan again
  code/__DEFINES/MC.dm
  code/__DEFINES/subsystems.dm
  code/_globalvars/lists/basic_ai.dm
  code/controllers/subsystem/ai_controllers.dm
  code/controllers/subsystem/ai_idle_controllers.dm
  code/controllers/subsystem/processing/ai_idle_behaviors.dm
  code/datums/ai/_ai_controller.dm
  code/modules/mob/living/living.dm
  tgstation.dme
Labels: none

Fixes multiple admin verbs using incorrect search, updates them to TGUI (#85744)
  code/modules/admin/verbs/adminevents.dm
  code/modules/admin/verbs/adminfun.dm
  code/modules/admin/verbs/machine_upgrade.dm
Labels: none

Gives upgraded hydro trays to the terrarium lavaland spawn vault (#85350)
  _maps/RandomRuins/LavaRuins/lavaland_surface_seed_vault.dmm
  code/game/objects/items/circuitboards/machines/machine_circuitboards.dm
  code/modules/hydroponics/hydroponics.dm
Labels: Map Modification

Fixed fish analyzers not being able to scan fish (#85772)
  code/modules/fishing/aquarium/fish_analyzer.dm
Labels: none

[MIRROR] Resprited assemblies (#29275)
  code/modules/assembly/infrared.dm
  code/modules/assembly/timer.dm
  icons/effects/beam.dmi
  icons/obj/devices/new_assemblies.dmi
  icons/obj/weapons/grenade.dmi
Labels: Sprites

[MIRROR] Fixed monk staffs not displaying a wielded sprite (#29276)
  code/datums/martial/sleeping_carp.dm
  code/game/objects/items/weaponry.dm
  code/modules/jobs/job_types/chaplain/chaplain_nullrod.dm
Labels: none

[MIRROR] Fake aurora caelus event no longer permanently paints space green (#29277)
  code/modules/events/aurora_caelus.dm
Labels: none

[MIRROR] Prevents people from being shoved into closets/crates/bins through directional glass (#29279)
  code/game/objects/structures/crates_lockers/closets.dm
  code/modules/recycling/disposal/bin.dm
Labels: none

[MIRROR] Fixes a bug that made it so radios inside objects would blare out their comms to everyone around them (#29293)
  code/game/objects/items/devices/radio/radio.dm
Labels: none

[MIRROR] nerfs the HP of bushes (#29291)
  code/game/objects/structures/flora.dm
Labels: none

[MIRROR] Ash drakes no longer get stuck in flight if their target changes Z levels or is destroyed and doesn't spawn lavaland turfs after the lava arena attack ends (#29299)
  code/datums/actions/mobs/lava_swoop.dm
Labels: none

[MIRROR] Fixes a typo and bad punctuation in blackout drunk trauma message (#29292)
  code/datums/brain_damage/split_personality.dm
Labels: none

[MIRROR] Wawastation Science distro fix and a missing cable mended (#29278)
  _maps/map_files/wawastation/wawastation.dmm
Labels: Map Modification

[MIRROR] Buff to MODsuit deployment time (#29280)
  code/__DEFINES/mod.dm
  code/modules/mod/mod_theme.dm
Labels: none

[MIRROR] Fixed bileworms not having a deaggro range (#29281)
  code/datums/ai/basic_mobs/targeting_strategies/basic_targeting_strategy.dm
Labels: none

[MIRROR] Fixed shuttle loan paperwork being unstampable (#29282)
  code/modules/paperwork/paperwork.dm
Labels: none

[MIRROR] Some crime and citations fixes (#29283)
  code/datums/records/crime.dm
  code/game/machinery/computer/records/security.dm
  code/game/machinery/computer/warrant.dm
  tgui/packages/tgui/interfaces/SecurityRecords/CrimeWatcher.tsx
  tgui/packages/tgui/interfaces/SecurityRecords/types.ts
Labels: none

[MIRROR] Fixed chanterelles runtiming upon being hollowed out with a spoon and not spawning a hat (#29284)
  code/modules/hydroponics/grown/mushrooms.dm
Labels: none
