Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

soap for maints drones! (#85243)
  code/game/objects/items/clown_items.dm
  code/modules/mob/living/basic/drone/drone_tools.dm
Labels: none

I See Clearly Now: customizable echolocation quirk (#525)
  code/controllers/subsystem/processing/quirks.dm
  code/datums/components/echolocation.dm
  modular_nova/modules/echolocation_quirk/code/echolocation.dm
  modular_nova/modules/echolocation_quirk/code/echolocation_component.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/skyrat/echolocation.tsx
Labels: none

all fixed
  modular_skyrat/modules/echolocation_quirk/code/echolocation.dm
  modular_skyrat/modules/echolocation_quirk/code/echolocation_component.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/skyrat/echolocation.tsx
Labels: none

we do a little bit of trolling
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/attachable_vibrator.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/buttplug.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/dildo.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/fleshlight.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/leather_whip.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/spanking_pad.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/torture_candle.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/vibrator.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/vibroring.dm
Labels: none

No more NOVA
  code/datums/components/echolocation.dm
Labels: none

Fixing the Patrol Cap
  modular_skyrat/modules/goofsec/code/sec_clothing_overrides.dm
  modular_skyrat/modules/sec_haul/code/peacekeeper/peacekeeper_clothing.dm
Labels: none

Update peacekeeper_clothing.dm
  modular_skyrat/modules/sec_haul/code/peacekeeper/peacekeeper_clothing.dm
Labels: none

[MIRROR] Deletes monkey tail DNA block, minor sprite accessory cleanup, monkeys (and lizardpeople) will no longer random spawn without tails [MDB IGNORE] (#4013)
  code/__DEFINES/DNA.dm
  code/controllers/subsystem/sprite_accessories.dm
  code/datums/sprite_accessories.dm
  code/modules/surgery/organs/external/tails.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/body_markings/body_marking_sets.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/ears.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/fluff.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/frills.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/genitals.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/head_accessory.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/horns.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/ipc.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/moth_antennae.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/neck_accessory.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/skrell_hair.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/snout.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/tails.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/taur_types.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/wings.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/xeno.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/mammal.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/moth.dm
  modular_skyrat/modules/customization/modules/surgery/organs/tails.dm
Labels: none

add N
  modular_skyrat/modules/chat_colors/code/chat_color.dm
Labels: none

We are blind, so its not fair to not get points.
  code/modules/client/preferences/clothing.dm
  modular_skyrat/modules/echolocation_quirk/code/echolocation.dm
Labels: none

[MIRROR] Deletes monkey tail DNA block, minor sprite accessory cleanup, monkeys (and lizardpeople) will no longer random spawn without tails (#29062)
  code/__DEFINES/DNA.dm
  code/controllers/subsystem/sprite_accessories.dm
  code/datums/bodypart_overlays/mutant_bodypart_overlay.dm
  code/datums/dna.dm
  code/datums/sprite_accessories.dm
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/surgery/organs/external/tails.dm
  modular_skyrat/master_files/code/modules/client/preferences/mutant_parts.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/body_markings/body_marking_sets.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/ears.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/fluff.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/frills.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/genitals.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/head_accessory.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/horns.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/ipc.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/moth_antennae.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/neck_accessory.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/skrell_hair.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/snout.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/tails.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/taur_types.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/wings.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/xeno.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/mammal.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/moth.dm
  modular_skyrat/modules/customization/modules/surgery/organs/tails.dm
Labels: none

[MIRROR] Mining headset upgrade - Callouts and volume boosters (#29099)
  code/__DEFINES/colors.dm
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_main.dm
  code/__DEFINES/traits/declarations.dm
  code/__HELPERS/colors.dm
  code/_globalvars/traits/_traits.dm
  code/_onclick/hud/radial.dm
  code/datums/chatmessage.dm
  code/datums/components/callouts.dm
  code/datums/components/pet_commands/pet_command.dm
  code/datums/components/pet_commands/pet_commands_basic.dm
  code/game/objects/items/devices/radio/headset.dm
  code/modules/mob/living/basic/minebots/minebot_ai.dm
  code/modules/mob/living/living_say.dm
  icons/effects/callouts.dmi
  icons/hud/radial.dmi
  modular_skyrat/modules/chat_colors/code/chat_color.dm
  tgstation.dme
Labels: Sprites

[MIRROR] VIM no longer requires hands to enter (#29101)
  code/modules/vehicles/cars/vim.dm
Labels: none

Automatic changelog for PR #29099 [ci skip]
  html/changelogs/AutoChangeLog-pr-29099.yml
Labels: none

Automatic changelog for PR #29101 [ci skip]
  html/changelogs/AutoChangeLog-pr-29101.yml
Labels: none

[MIRROR] Fixes a typo in military javelins (#29100)
  code/game/objects/items/spear.dm
Labels: none

[MIRROR] Makes the Cosmic Skull glow purple when it has uses (#29103)
  code/modules/antagonists/voidwalker/voidwalker_loot.dm
Labels: none

Removes all security cameras from bathrooms and showers [SR] (#29104)
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/NSVBlueshift/Blueshift.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Map Modification

[MIRROR] Fixes exploit allowing players to open Bag of Holding rifts in the Heretic dimension (#29106)
  code/__DEFINES/_flags.dm
  code/_globalvars/bitfields.dm
  code/datums/storage/subtypes/bag_of_holding.dm
  code/modules/antagonists/heretic/knowledge/sacrifice_knowledge/sacrifice_map.dm
Labels: none

[MIRROR] soap for maints drones! (#29107)
  code/game/objects/items/clown_items.dm
  code/modules/mob/living/basic/drone/drone_tools.dm
Labels: none

Fixing the Patrol Cap (#29109)
  modular_skyrat/modules/goofsec/code/sec_clothing_overrides.dm
  modular_skyrat/modules/sec_haul/code/peacekeeper/peacekeeper_clothing.dm
Labels: none

localizes create_all_lighting_objects (#85135)
  code/controllers/subsystem/lighting.dm
  code/modules/lighting/lighting_setup.dm
  tgstation.dme
Labels: none

refactor pod spawn from code copypaste to use `podspawn` instead. Add convenient way to spawn multiple items of same type in pod (#85151)
  code/__HELPERS/spawns.dm
  code/controllers/subsystem/job.dm
  code/controllers/subsystem/market.dm
  code/datums/station_traits/positive_traits.dm
  code/game/machinery/roulette_machine.dm
  code/modules/shuttle/supply.dm
Labels: none

Binoculars removed from ritual of knowledge, clipboards made craftable (#85221)
  code/datums/components/crafting/misc.dm
  code/modules/antagonists/heretic/heretic_knowledge.dm
Labels: none

Automatic changelog for PR #29100 [ci skip]
  html/changelogs/AutoChangeLog-pr-29100.yml
Labels: none

Automatic changelog for PR #29103 [ci skip]
  html/changelogs/AutoChangeLog-pr-29103.yml
Labels: none

Smuggler satchel spawning is blacklisted in the "near station" area (#85248)
  code/controllers/subsystem/minor_mapping.dm
Labels: none

Leather, skins, cardboard sounds (#85254)
  code/game/objects/items/stacks/sheets/leather.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  sound/items/attributions.txt
  sound/items/cardboard_drop.ogg
  sound/items/cardboard_pick_up.ogg
  sound/items/skin_drop.ogg
  sound/items/skin_pick_up.ogg
Labels: none

Maintenance ambience (#85256)
  code/_globalvars/lists/ambience.dm
  sound/ambience/ambimaint10.ogg
  sound/ambience/ambimaint11.ogg
  sound/ambience/ambimaint12.ogg
  sound/ambience/ambimaint8.ogg
  sound/ambience/ambimaint9.ogg
  sound/ambience/antag/attribution.txt
Labels: none

Automatic changelog for PR #29106 [ci skip]
  html/changelogs/AutoChangeLog-pr-29106.yml
Labels: none

Automatic changelog for PR #29107 [ci skip]
  html/changelogs/AutoChangeLog-pr-29107.yml
Labels: none

Automatic changelog for PR #29109 [ci skip]
  html/changelogs/AutoChangeLog-pr-29109.yml
Labels: none

Sigh and sniff sounds (again). (#85281)
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/mob/living/carbon/human/species_types/felinid.dm
  code/modules/mob/living/carbon/human/species_types/humans.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  code/modules/mob/living/carbon/human/species_types/mothmen.dm
  code/modules/mob/living/emote.dm
  sound/voice/attribution.txt
  sound/voice/human/female_sigh.ogg
  sound/voice/human/female_sniff.ogg
  sound/voice/human/male_sigh.ogg
  sound/voice/human/male_sniff.ogg
Labels: none

Projectile dampener, recycler and ninja stealth MOD modules now work properly (#85307)
  code/modules/mod/modules/modules_general.dm
  code/modules/mod/modules/modules_ninja.dm
  code/modules/mod/modules/modules_security.dm
Labels: none

Actually fixes mechs equipping infinite amount of gear (#85316)
  code/modules/vehicles/mecha/equipment/mecha_equipment.dm
Labels: none

[NO GBP] You can no longer tear peoples arms off with non-killer clamps (#85333)
  code/modules/vehicles/mecha/equipment/tools/work_tools.dm
Labels: none

allows implanting TTVs into chest once again (#85335)
  code/modules/surgery/cavity_implant.dm
Labels: none

Fixes mining MODsuit suit storage (#85342)
  code/modules/mod/mod_theme.dm
Labels: none

Fixed mapload circuit floors not drawing power and deconstructing circuit floors not reducing power load (#85343)
  code/game/turfs/open/floor/misc_floor.dm
Labels: none

Fixes some mining mobs not becoming hostile to ashwalker attacks [no gbp] (#85344)
  code/modules/mob/living/basic/lavaland/mining.dm
Labels: none

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'
