Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

Automatic changelog for PR #29327 [ci skip]
  html/changelogs/AutoChangeLog-pr-29327.yml
Labels: none

[MIRROR] Supermatter bioscrambler anomalies are docile (#29328)
  code/modules/power/supermatter/supermatter_extra_effects.dm
Labels: none

[MIRROR] Abductors can no longer be converted by conversion antags (#29310)
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/_globalvars/traits/admin_tooling.dm
  code/controllers/subsystem/dynamic/dynamic_rulesets_latejoin.dm
  code/controllers/subsystem/dynamic/dynamic_rulesets_roundstart.dm
  code/datums/components/mind_linker.dm
  code/datums/mind/_mind.dm
  code/game/objects/items/implants/implant_mindshield.dm
  code/game/objects/items/implants/implantchair.dm
  code/modules/admin/antag_panel.dm
  code/modules/antagonists/abductor/abductor.dm
  code/modules/antagonists/abductor/equipment/glands/mindshock.dm
  code/modules/antagonists/brother/brother.dm
  code/modules/antagonists/cult/cult_other.dm
  code/modules/antagonists/heretic/knowledge/moon_lore.dm
  code/modules/antagonists/revolution/revolution.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/surgery/advanced/brainwashing.dm
Labels: none

[MIRROR] puts all the default command programs on /pda/heads rather than their specific role (#29309)
  code/modules/modular_computers/computers/item/role_tablet_presets.dm
Labels: none

[MIRROR] Chameleon gun counts as harmless and can be fired by pacifists (#29320)
  code/modules/projectiles/ammunition/energy/laser.dm
Labels: none

[MIRROR] Hydraulic clamps can force doors open again (#29321)
  code/modules/vehicles/mecha/equipment/tools/work_tools.dm
Labels: none

[MIRROR] More food effects (#29311)
  code/__DEFINES/food.dm
  code/datums/components/crafting/crafting.dm
  code/datums/components/speechmod.dm
  code/datums/status_effects/buffs/food/_food_effect.dm
  code/datums/status_effects/buffs/food/food_traits.dm
  code/datums/status_effects/buffs/food/grant_trait.dm
  code/datums/status_effects/buffs/food/speech.dm
  code/game/objects/items/food/cake.dm
  code/game/objects/items/food/egg.dm
  code/game/objects/items/food/mexican.dm
  code/game/objects/items/food/pastries.dm
  code/game/objects/items/food/pie.dm
  code/game/objects/items/food/spaghetti.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_egg.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_pastry.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_spaghetti.dm
  icons/hud/screen_alert.dmi
  icons/obj/food/food.dmi
  icons/obj/food/spaghetti.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/PersonalCrafting.tsx
Labels: Sprites

[MIRROR] Void storm now updates mob health (#29324)
  code/datums/weather/weather_types/void_storm.dm
Labels: none

[MIRROR] Breathing sounds remake (#29331)
  code/datums/looping_sounds/breathing.dm
  sound/voice/breathing.ogg
  sound/voice/breathing/attribution.txt
  sound/voice/breathing/internals_breathing1.ogg
  sound/voice/breathing/internals_breathing2.ogg
  sound/voice/breathing/internals_breathing3.ogg
  sound/voice/breathing/internals_breathing4.ogg
  sound/voice/breathing/internals_breathing5.ogg
  sound/voice/breathing/internals_breathing6.ogg
  sound/voice/breathing/internals_breathing7.ogg
  sound/voice/breathing/internals_breathing8.ogg
Labels: none

[MIRROR] Fixes the missing voidwalker glass eater objective message (#29329)
  code/modules/antagonists/voidwalker/voidwalker.dm
Labels: none

[MIRROR] Fixed being able to activate BCI actions whilst not conscious (#29317)
  code/modules/wiremod/components/bci/hud/target_intercept.dm
  code/modules/wiremod/components/bci/thought_listener.dm
Labels: none

[MIRROR] Adds a copy of the famous 1995 musical "Space Station 13: The Musical" to contraband of the autodrobe (#29332)
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_main.dm
  code/__DEFINES/text.dm
  code/__HELPERS/text.dm
  code/datums/mutations/speech.dm
  code/modules/library/skill_learning/skillchip.dm
  code/modules/vending/autodrobe.dm
Labels: none

[MIRROR] Cult magic item paths are no longer strings (#29345)
  code/modules/antagonists/cult/blood_magic.dm
Labels: none

[MIRROR] Fixes cyborgs not dying when they fall into chasms (#29358)
  code/datums/components/chasm.dm
Labels: none

[MIRROR] Heretic sacrifice area no longer modifies global ambience lists (#29337)
  code/modules/antagonists/heretic/knowledge/sacrifice_knowledge/sacrifice_map.dm
Labels: none

[MIRROR] Splits the slowdown between the space helmet and the space suit (#29335)
  code/modules/clothing/spacesuits/_spacesuits.dm
  code/modules/clothing/spacesuits/pirate.dm
  code/modules/clothing/spacesuits/santa.dm
  code/modules/clothing/spacesuits/softsuit.dm
  code/modules/shuttle/emergency.dm
Labels: none

[MIRROR] Reduced pathfinding circuit component cooldown to 5 seconds (#29339)
  code/modules/wiremod/components/action/pathfind.dm
Labels: none

[MIRROR] Reduced caltrop default paralyze timer from 6 to 2 (#29334)
  code/datums/components/caltrop.dm
Labels: none

[MIRROR] Crabs and lobstrosities now pack a boatload of puns. (#29360)
  code/modules/clothing/head/costume.dm
  code/modules/clothing/head/soft_caps.dm
  code/modules/events/ghost_role/sentience.dm
  code/modules/mob/living/basic/lavaland/lobstrosity/lobstrosity.dm
  code/modules/mob/living/basic/vermin/crab.dm
  strings/crustacean_replacement.json
Labels: none

[MIRROR] Makes upgraded soda dispensers actually upgraded (#29343)
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
Labels: none

[MIRROR] Gives upgraded hydro trays to the terrarium lavaland spawn vault (#29353)
  _maps/RandomRuins/LavaRuins/lavaland_surface_seed_vault.dmm
  code/game/objects/items/circuitboards/machines/machine_circuitboards.dm
  code/modules/hydroponics/hydroponics.dm
Labels: Map Modification

[MIRROR] Firelocks can be opened with crowbar rigth-click in combat mode. (#29341)
  code/game/machinery/doors/door.dm
Labels: none

[MIRROR] Wizard's Deja Vu tweaks (#29359)
  code/datums/components/dejavu.dm
  code/modules/antagonists/wizard/equipment/spellbook_entries/perks.dm
Labels: none

[MIRROR] Fixed portable chem mixer spamming you if not held if not held while its UI is open (#29342)
  code/modules/reagents/chemistry/machinery/portable_chem_mixer.dm
Labels: none

[MIRROR] Fix inventory item interactions sometimes being blocked due to not counting as adjacent when not on a turf (#29346)
  code/_onclick/adjacent.dm
Labels: none

[MIRROR] Soulscythe now deletes the soul mob when destroyed (#29336)
  code/modules/mining/lavaland/megafauna_loot.dm
Labels: none

Automatic changelog for PR #29326 [ci skip]
  html/changelogs/AutoChangeLog-pr-29326.yml
Labels: none

[MIRROR] Adds bowls to a lot of recipes (#29340)
  code/game/objects/items/food/lizard.dm
  code/game/objects/items/food/martian.dm
  code/game/objects/items/food/meatdish.dm
  code/game/objects/items/food/mexican.dm
  code/game/objects/items/food/moth.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_lizard.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_martian.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_meat.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_mexican.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_moth.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_spaghetti.dm
Labels: none

Automatic changelog for PR #29325 [ci skip]
  html/changelogs/AutoChangeLog-pr-29325.yml
Labels: none

Allows RPD to place atmos meters on layer 1 and 5 (#85293)
  code/game/objects/items/rcd/RPD.dm
Labels: none

Automatic changelog for PR #29328 [ci skip]
  html/changelogs/AutoChangeLog-pr-29328.yml
Labels: none

Fixes blade heretic ascension runtiming and not granting you blades (#85795)
  code/modules/antagonists/heretic/status_effects/buffs.dm
Labels: none

[NO GBP] You no longer fall from tall stairs onto other tall stairs
  code/game/objects/structures/tall_stairs.dm
  icons/obj/structures_tall.dmi
Labels: Sprites

Paraplegics can choose to not have legs. (#85716)
  code/_globalvars/lists/quirks.dm
  code/datums/quirks/negative_quirks/paraplegic.dm
  code/modules/client/preferences/paraplegic.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/paraplegic.tsx
Labels: none

Automatic changelog for PR #29310 [ci skip]
  html/changelogs/AutoChangeLog-pr-29310.yml
Labels: none

Automatic changelog for PR #29309 [ci skip]
  html/changelogs/AutoChangeLog-pr-29309.yml
Labels: none

Automatic changelog for PR #29320 [ci skip]
  html/changelogs/AutoChangeLog-pr-29320.yml
Labels: none

Automatic changelog for PR #29321 [ci skip]
  html/changelogs/AutoChangeLog-pr-29321.yml
Labels: none

Automatic changelog for PR #29311 [ci skip]
  html/changelogs/AutoChangeLog-pr-29311.yml
Labels: none

Automatic changelog for PR #29324 [ci skip]
  html/changelogs/AutoChangeLog-pr-29324.yml
Labels: none

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'
