Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

[MIRROR] You can now raise lobstrosities from chasms chrabs. (#29019)
  code/__DEFINES/ai/monsters.dm
  code/__DEFINES/dcs/signals/signals_fish.dm
  code/__DEFINES/fish.dm
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/_globalvars/traits/admin_tooling.dm
  code/datums/actions/mobs/charge.dm
  code/datums/ai/basic_mobs/basic_ai_behaviors/targeted_mob_ability.dm
  code/datums/ai/basic_mobs/pet_commands/pet_use_targeted_ability.dm
  code/datums/ai/basic_mobs/targeting_strategies/_targeting_strategy.dm
  code/datums/ai/basic_mobs/targeting_strategies/basic_targeting_strategy.dm
  code/datums/ai/hunting_behavior/hunting_behaviors.dm
  code/datums/components/fishing_spot.dm
  code/datums/components/growth_and_differentiation.dm
  code/datums/components/happiness.dm
  code/datums/components/pet_commands/pet_command.dm
  code/datums/components/pet_commands/pet_commands_basic.dm
  code/datums/components/profound_fisher.dm
  code/datums/elements/lazy_fishing_spot.dm
  code/datums/status_effects/buffs.dm
  code/modules/fishing/aquarium/aquarium.dm
  code/modules/fishing/fish/_fish.dm
  code/modules/fishing/fish/chasm_detritus.dm
  code/modules/fishing/fish/fish_traits.dm
  code/modules/fishing/fish/fish_types.dm
  code/modules/fishing/sources/source_types.dm
  code/modules/mob/living/basic/lavaland/lobstrosity/lobstrosity.dm
  code/modules/mob/living/basic/lavaland/lobstrosity/lobstrosity_ai.dm
  code/modules/mob/living/basic/lavaland/mining.dm
  code/modules/mob/living/carbon/human/species_types/shadowpeople.dm
  code/modules/movespeed/modifiers/innate.dm
  code/modules/movespeed/modifiers/status_effects.dm
  code/modules/unit_tests/fish_unit_tests.dm
  icons/mob/simple/icemoon/icemoon_monsters.dmi
  tgstation.dme
Labels: Sprites

Automatic changelog for PR #29033 [ci skip]
  html/changelogs/AutoChangeLog-pr-29033.yml
Labels: none

[MIRROR] Mechs no longer bypass armor or deal direct limb damage. Cleans up drill code, fixes its armor calc and makes oreboxes work on clarke. (#29018)
  code/modules/vehicles/mecha/equipment/tools/mining_tools.dm
  code/modules/vehicles/mecha/mech_melee_attack.dm
Labels: none

[MIRROR] Fixes Hereditary Manifold Sickness's 4th stage not updating health when it should (#29017)
  code/datums/diseases/chronic_illness.dm
Labels: none

[MIRROR] Dropping/picking up skin is no longer metallic (#29010)
  code/game/objects/items/stacks/sheets/leather.dm
Labels: none

Automatic changelog for PR #29032 [ci skip]
  html/changelogs/AutoChangeLog-pr-29032.yml
Labels: none

[MIRROR] [QoL] Transfer TGchat notifications to the top (#29005)
  tgui/packages/tgui-panel/reconnect.tsx
  tgui/packages/tgui-panel/styles/components/Notifications.scss
Labels: none

[MIRROR] Cult vs Heretic overall polishing (#28981)
  code/__DEFINES/cult.dm
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_living.dm
  code/_onclick/hud/alert.dm
  code/datums/components/spirit_holding.dm
  code/datums/mind/antag.dm
  code/modules/antagonists/cult/blood_magic.dm
  code/modules/antagonists/cult/cult_items.dm
  code/modules/antagonists/cult/cult_structure_archives.dm
  code/modules/antagonists/cult/datums/cult_team.dm
  code/modules/antagonists/cult/sword_fling.dm
  code/modules/antagonists/heretic/heretic_antag.dm
  code/modules/antagonists/heretic/heretic_knowledge.dm
  code/modules/antagonists/heretic/heretic_monsters.dm
  code/modules/antagonists/heretic/items/heretic_necks.dm
  code/modules/antagonists/heretic/knowledge/sacrifice_knowledge/sacrifice_knowledge.dm
  code/modules/antagonists/wizard/equipment/soulstone.dm
  code/modules/library/bibles.dm
  code/modules/mob/living/basic/cult/constructs/_construct.dm
  code/modules/mob/living/basic/cult/constructs/harvester.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  icons/mob/clothing/neck.dmi
  icons/obj/clothing/neck.dmi
Labels: Sprites

[MIRROR] Dehydrator, machine version of drying rack (#28996)
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_icewalker_lower.dmm
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_icewalker_upper.dmm
  _maps/RandomRuins/LavaRuins/skyrat/lavaland_surface_ash_walker1_skyrat.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/Mining/Lavaland.dmm
  _maps/map_files/NSVBlueshift/Blueshift.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/safehouses/ice.dmm
  _maps/virtual_domains/pirates.dmm
  code/_globalvars/lists/typecache.dm
  code/datums/elements/dryable.dm
  code/game/objects/items/circuitboards/machines/machine_circuitboards.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/modules/food_and_drinks/machinery/smartfridge.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_guide.dm
  code/modules/research/designs/machine_designs.dm
  code/modules/research/techweb/nodes/service_nodes.dm
  icons/obj/machines/smartfridge.dmi
  icons/obj/machines/vending.dmi
  icons/obj/service/hydroponics/equipment.dmi
  tools/UpdatePaths/Scripts/99999_drying_rack_rename.txt
Labels: Map Modification, Sprites

Automatic changelog for PR #29031 [ci skip]
  html/changelogs/AutoChangeLog-pr-29031.yml
Labels: none

Automatic changelog for PR #29027 [ci skip]
  html/changelogs/AutoChangeLog-pr-29027.yml
Labels: none

Automatic changelog for PR #29026 [ci skip]
  html/changelogs/AutoChangeLog-pr-29026.yml
Labels: none

Automatic changelog for PR #29025 [ci skip]
  html/changelogs/AutoChangeLog-pr-29025.yml
Labels: none

Automatic changelog for PR #29022 [ci skip]
  html/changelogs/AutoChangeLog-pr-29022.yml
Labels: none

Automatic changelog for PR #29021 [ci skip]
  html/changelogs/AutoChangeLog-pr-29021.yml
Labels: none

Automatic changelog for PR #29019 [ci skip]
  html/changelogs/AutoChangeLog-pr-29019.yml
Labels: none

Automatic changelog for PR #29018 [ci skip]
  html/changelogs/AutoChangeLog-pr-29018.yml
Labels: none

Automatic changelog for PR #29017 [ci skip]
  html/changelogs/AutoChangeLog-pr-29017.yml
Labels: none

Automatic changelog for PR #29010 [ci skip]
  html/changelogs/AutoChangeLog-pr-29010.yml
Labels: none

Automatic changelog for PR #29005 [ci skip]
  html/changelogs/AutoChangeLog-pr-29005.yml
Labels: none

Automatic changelog for PR #28996 [ci skip]
  html/changelogs/AutoChangeLog-pr-28996.yml
Labels: none

Automatic changelog for PR #28981 [ci skip]
  html/changelogs/AutoChangeLog-pr-28981.yml
Labels: none

Respriting fish fillet and a couple food items that use them. (#85204)
  icons/obj/food/meat.dmi
Labels: Sprites

Cyberhearts, rather than injecting a chem into you, instead combat bleed wounds. Upgraded hearts give you a brief moment of soft crit action (#85188)
  code/modules/surgery/organs/internal/heart/_heart.dm
  code/modules/surgery/organs/internal/heart/heart_anomalock.dm
Labels: none

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-28981.yml
  html/changelogs/AutoChangeLog-pr-28996.yml
  html/changelogs/AutoChangeLog-pr-29005.yml
  html/changelogs/AutoChangeLog-pr-29010.yml
  html/changelogs/AutoChangeLog-pr-29014.yml
  html/changelogs/AutoChangeLog-pr-29017.yml
  html/changelogs/AutoChangeLog-pr-29018.yml
  html/changelogs/AutoChangeLog-pr-29019.yml
  html/changelogs/AutoChangeLog-pr-29020.yml
  html/changelogs/AutoChangeLog-pr-29021.yml
  html/changelogs/AutoChangeLog-pr-29022.yml
  html/changelogs/AutoChangeLog-pr-29023.yml
  html/changelogs/AutoChangeLog-pr-29025.yml
  html/changelogs/AutoChangeLog-pr-29026.yml
  html/changelogs/AutoChangeLog-pr-29027.yml
  html/changelogs/AutoChangeLog-pr-29030.yml
  html/changelogs/AutoChangeLog-pr-29031.yml
  html/changelogs/AutoChangeLog-pr-29032.yml
  html/changelogs/AutoChangeLog-pr-29033.yml
  html/changelogs/AutoChangeLog-pr-29034.yml
  html/changelogs/AutoChangeLog-pr-29036.yml
  html/changelogs/AutoChangeLog-pr-29037.yml
  html/changelogs/archive/2024-07.yml
Labels: none

what else?
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/nanotrasen_system_inc/magazine.dm
  modular_skyrat/modules/sec_haul/code/guns/bullets.dm
Labels: none

Update pistol.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/nanotrasen_system_inc/pistol.dm
Labels: none

Updates, merges and adds screams
  modular_skyrat/modules/emotes/code/laugh_datums.dm
  modular_skyrat/modules/emotes/code/scream_datums.dm
Labels: none

Update laugh_datums.dm
  modular_skyrat/modules/emotes/code/laugh_datums.dm
Labels: none

Automatic changelog for PR #29040 [ci skip]
  html/changelogs/AutoChangeLog-pr-29040.yml
Labels: none

[MIRROR] HUD traits now apply their corresponding hud automatically. Most clothing/item/etc sources of HUDs now only use traits [MDB IGNORE] (#3861)
  code/__DEFINES/~skyrat_defines/traits.dm
  code/_globalvars/traits/_traits.dm
  code/_globalvars/traits/admin_tooling.dm
  code/datums/hud.dm
  modular_skyrat/modules/modular_implants/code/nifsofts/huds.dm
  modular_skyrat/modules/modular_items/code/modular_glasses.dm
Labels: none

Add files via upload
  modular_skyrat/modules/cyborg_head_features/cyborg_head_hair.dm
Labels: none

null
  modular_skyrat/modules/emotes/code/laugh_datums.dm
Labels: none

Xenomorphs and door pryer basic mobs can now attack airlocks in combat mode (#85172)
  code/datums/elements/door_pryer.dm
  code/game/machinery/doors/airlock.dm
Labels: none

Stops cyborgs from runtiming on module change if they had selected modules (#85113)
  code/modules/mob/living/silicon/robot/robot_model.dm
Labels: none

Elevator fixes (#85227)
  code/modules/transport/elevator/elev_controller.dm
  code/modules/transport/elevator/elev_panel.dm
  code/modules/transport/linear_controller.dm
Labels: none

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-29040.yml
  html/changelogs/archive/2024-07.yml
Labels: none

Updated gas flow meter sprites (#85225)
  icons/obj/pipes_n_cables/meter.dmi
Labels: Sprites

Automatic TGS DMAPI Update (#85235)
  code/__DEFINES/tgs.dm
  code/modules/tgs/v5/api.dm
Labels: none

Self-respiration virus gives less messages now (#85241)
  code/datums/diseases/advance/symptoms/oxygen.dm
Labels: none

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'
