Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'

[MIRROR] ERTs can now be summoned as a set species (#29513)
  code/datums/ert.dm
  code/modules/admin/verbs/ert.dm
Labels: none

Automatic changelog for PR #29507 [ci skip]
  html/changelogs/AutoChangeLog-pr-29507.yml
Labels: none

[MIRROR] Canonise passive carp (#29510)
  code/__DEFINES/ai/ai_blackboard.dm
  code/datums/ai/basic_mobs/basic_subtrees/simple_find_nearest_target_to_flee.dm
  code/datums/ai/basic_mobs/basic_subtrees/simple_find_target.dm
  code/datums/ai/basic_mobs/targeting_strategies/basic_targeting_strategy.dm
  code/modules/mob/living/basic/space_fauna/carp/carp.dm
  code/modules/mob/living/basic/space_fauna/carp/carp_ai_rift_actions.dm
  code/modules/mob/living/basic/space_fauna/carp/carp_controllers.dm
  code/modules/mob/living/basic/vermin/crab.dm
  icons/mob/simple/carp.dmi
Labels: Sprites

[MIRROR] Installs bot pathing/delivery nodes on Runtimestation (#29508)
  _maps/map_files/debug/runtimestation.dmm
Labels: Map Modification

[MIRROR] Fixes kudzu being able to spawn on openspace turfs resulting in it getting stuck (#29503)
  code/modules/events/space_vines/vine_event.dm
Labels: none

[MIRROR] Fixes black fences and layering issues (#29505)
  code/game/objects/structures/railings.dm
Labels: none

[MIRROR] Fixes soapbox component sometimes runtiming roundstart due to not unregistering signals (#29466)
  code/datums/components/soapbox.dm
Labels: none

Automatic changelog for PR #29506 [ci skip]
  html/changelogs/AutoChangeLog-pr-29506.yml
Labels: none

Automatic changelog for PR #29437 [ci skip]
  html/changelogs/AutoChangeLog-pr-29437.yml
Labels: none

Automatic changelog for PR #29513 [ci skip]
  html/changelogs/AutoChangeLog-pr-29513.yml
Labels: none

Automatic changelog for PR #29510 [ci skip]
  html/changelogs/AutoChangeLog-pr-29510.yml
Labels: none

Automatic changelog for PR #29508 [ci skip]
  html/changelogs/AutoChangeLog-pr-29508.yml
Labels: none

Automatic changelog for PR #29503 [ci skip]
  html/changelogs/AutoChangeLog-pr-29503.yml
Labels: none

Automatic changelog for PR #29505 [ci skip]
  html/changelogs/AutoChangeLog-pr-29505.yml
Labels: none

Automatic changelog for PR #29466 [ci skip]
  html/changelogs/AutoChangeLog-pr-29466.yml
Labels: none

Update VoidRaptor.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Map Modification

Adds asset protection suit from Bubberstation as an alternative to the apocryphal suit they use (its literally just recoloured) (#29497)
  modular_skyrat/master_files/code/modules/clothing/outfits/ert.dm
  modular_skyrat/master_files/code/modules/mod/mod_theme.dm
  modular_skyrat/master_files/code/modules/mod/mod_types.dm
  modular_skyrat/master_files/icons/mob/clothing/modsuit/mod_clothing.dmi
  modular_skyrat/master_files/icons/mob/mod.dmi
  modular_skyrat/master_files/icons/obj/clothing/modsuit/mod_clothing.dmi
Labels: Sprites

[MIRROR] Add big manipulator. (#29500)
  code/datums/greyscale/config_types/greyscale_configs/greyscale_effects.dm
  code/datums/greyscale/config_types/greyscale_configs/greyscale_objects.dm
  code/datums/greyscale/json_configs/big_manipulator.json
  code/datums/greyscale/json_configs/manipulator_hand.json
  code/game/machinery/big_manipulator.dm
  code/game/objects/items/circuitboards/machines/machine_circuitboards.dm
  code/modules/research/designs/machine_designs.dm
  code/modules/research/techweb/nodes/engi_nodes.dm
  icons/obj/machines/big_manipulator.dmi
  icons/obj/machines/big_manipulator_parts/big_manipulator_core.dmi
  icons/obj/machines/big_manipulator_parts/big_manipulator_hand.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/BigManipulator.tsx
Labels: Sprites

what else
  code/__DEFINES/traits/declarations.dm
Labels: none

we don' use wallmount
  code/game/objects/items/devices/radio/intercom.dm
Labels: none

done
  modular_skyrat/modules/goofsec/code/sol_fed.dm
  modular_skyrat/modules/mapping/code/radio.dm
Labels: none

Automatic changelog for PR #29497 [ci skip]
  html/changelogs/AutoChangeLog-pr-29497.yml
Labels: none

Automatic changelog for PR #29500 [ci skip]
  html/changelogs/AutoChangeLog-pr-29500.yml
Labels: none

Void Raptor Mainenances (#29524)
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Map Modification

More Tramstation Map Fixes (#85981)
  _maps/map_files/tramstation/tramstation.dmm
  _maps/shuttles/emergency_tram.dmm
Labels: Map Modification

Automatic changelog for PR #29524 [ci skip]
  html/changelogs/AutoChangeLog-pr-29524.yml
Labels: none

this is pequod, arriving shortly at LZ
  tgstation.dme
Labels: none

[MIRROR] [NO GBP] CytoPro Price Adjustment (#29520)
  code/modules/vending/cytopro.dm
  tgstation.dme
Labels: none

Automatic changelog for PR #29520 [ci skip]
  html/changelogs/AutoChangeLog-pr-29520.yml
Labels: none

Revert "[MIRROR] Changes wall leaning into a component, makes windows leanable (#29400)"
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_living.dm
  code/datums/components/leanable.dm
  code/game/objects/structures/window.dm
  code/game/turfs/closed/walls.dm
  tgstation.dme
Labels: none

Update robot_upgrade.dm
  modular_skyrat/modules/borgs/code/robot_upgrade.dm
Labels: none

Changes wall leaning into a component, makes windows leanable (#85771)
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_living.dm
  code/datums/components/leanable.dm
  code/game/objects/structures/windows/window.dm
  code/game/turfs/closed/walls.dm
  tgstation.dme
Labels: none

Revert "[MIRROR] Changes wall leaning into a component, makes windows (#29526)
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_living.dm
  code/datums/components/leanable.dm
  code/game/objects/structures/window.dm
  code/game/turfs/closed/walls.dm
  tgstation.dme
Labels: none

Revert "[MIRROR] [NO GBP] CytoPro Price Adjustment (#29520)"
  code/modules/vending/cytopro.dm
  tgstation.dme
Labels: none

Revert "[MIRROR] [NO GBP] CytoPro Price Adjustment" (#29527)
  code/modules/vending/cytopro.dm
  tgstation.dme
Labels: none

Updates goliath cloak sprites (#86011)
  icons/mob/clothing/head/helmet.dmi
  icons/mob/clothing/suits/armor.dmi
  icons/obj/clothing/suits/armor.dmi
Labels: Sprites

Fish
  code/game/machinery/doors/door.dm
  modular_skyrat/modules/aesthetics/storage/storage.dmi
Labels: Sprites

Revert "[MIRROR] Shrunk arrow from pointing at things. Command roles unaffected thanks to id trims (also new skillchip). (#29461)"
  code/__DEFINES/dcs/signals/signals_atom/signals_atom_movable.dm
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_main.dm
  code/controllers/subsystem/id_access.dm
  code/datums/ai/oldhostile/hostile_tameable.dm
  code/datums/components/pet_commands/pet_command.dm
  code/datums/components/riding/riding_mob.dm
  code/datums/id_trim/_id_trim.dm
  code/datums/id_trim/admin.dm
  code/datums/id_trim/centcom.dm
  code/datums/id_trim/jobs.dm
  code/datums/id_trim/ruins.dm
  code/datums/id_trim/syndicate.dm
  code/game/objects/items/cards_ids.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/antagonists/pirate/pirate_outfits.dm
  code/modules/clothing/outfits/ert.dm
  code/modules/jobs/job_types/research_director.dm
  code/modules/library/skill_learning/generic_skillchips/point.dm
  code/modules/mob_spawn/ghost_roles/space_roles.dm
  code/modules/point/point.dm
  code/modules/vending/games.dm
  icons/hud/screen_gen.dmi
  tgstation.dme
Labels: Sprites

Adds Punching Mitts: Become a One-Spacemen Planetary Ecological Disaster. Available in any mining loot chests (and portals) (#85820)
  code/__DEFINES/melee.dm
  code/datums/martial/boxing.dm
  code/game/objects/structures/icemoon/cave_entrance.dm
  code/modules/clothing/gloves/punch_mitts.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/living/basic/lavaland/legion/legion.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/_megafauna.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/blood_drunk_miner.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/demonic_frost_miner.dm
  icons/mob/clothing/hands.dmi
  icons/obj/clothing/gloves.dmi
  tgstation.dme
Labels: Sprites

Shrunk arrow from pointing at things. Command roles unaffected thanks to id trims (also new skillchip). (#85892)
  code/__DEFINES/dcs/signals/signals_atom/signals_atom_movable.dm
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_main.dm
  code/controllers/subsystem/id_access.dm
  code/datums/ai/oldhostile/hostile_tameable.dm
  code/datums/components/pet_commands/pet_command.dm
  code/datums/components/riding/riding_mob.dm
  code/datums/id_trim/_id_trim.dm
  code/datums/id_trim/admin.dm
  code/datums/id_trim/centcom.dm
  code/datums/id_trim/jobs.dm
  code/datums/id_trim/ruins.dm
  code/datums/id_trim/syndicate.dm
  code/game/objects/items/cards_ids.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/antagonists/pirate/pirate_outfits.dm
  code/modules/clothing/outfits/ert.dm
  code/modules/jobs/job_types/research_director.dm
  code/modules/library/skill_learning/generic_skillchips/point.dm
  code/modules/mob_spawn/ghost_roles/space_roles.dm
  code/modules/point/point.dm
  code/modules/vending/games.dm
  tgstation.dme
Labels: none
