Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

Automatic changelog for PR #28284 [ci skip]
  html/changelogs/AutoChangeLog-pr-28284.yml
Labels: none

weh
  modular_skyrat/modules/microfusion/code/microfusion_designs.dm
  modular_skyrat/modules/sec_haul/code/guns/armory_spawns.dm
Labels: none

fixes
  modular_skyrat/modules/company_imports/code/armament_datums/allstar.dm
  modular_skyrat/modules/company_imports/code/armament_datums/micron_control_systems.dm
  modular_skyrat/modules/company_imports/code/armament_datums/microstar_energy.dm
  modular_skyrat/modules/microfusion/code/cargo_stuff.dm
  modular_skyrat/modules/microfusion/code/microfusion_designs.dm
  modular_skyrat/modules/microfusion/code/microfusion_energy_master.dm
  tgstation.dme
Labels: none

Early ports modular lasers from Nova, they can talk to you! (#1066)
  code/__DEFINES/~skyrat_defines/manufacturer_strings.dm
  modular_zubbers/modules/ert_overrides/modified_equipement.dm
  modular_zubbers/modules/modular_weapons/code/company_and_or_faction_based/saibasan/laser_guns.dm
  modular_zubbers/modules/modular_weapons/code/company_and_or_faction_based/saibasan/mode_datums.dm
  modular_zubbers/modules/modular_weapons/code/company_and_or_faction_based/saibasan/projectiles.dm
  modular_zubbers/modules/modular_weapons/icons/mob/company_and_or_faction_based/saibasan/guns_lefthand.dmi
  modular_zubbers/modules/modular_weapons/icons/mob/company_and_or_faction_based/saibasan/guns_righthand.dmi
  modular_zubbers/modules/modular_weapons/icons/mob/company_and_or_faction_based/saibasan/guns_worn.dmi
  modular_zubbers/modules/modular_weapons/icons/obj/company_and_or_faction_based/saibasan/guns32x.dmi
  modular_zubbers/modules/modular_weapons/icons/obj/company_and_or_faction_based/saibasan/guns48x.dmi
  modular_zubbers/modules/modular_weapons/icons/obj/company_and_or_faction_based/saibasan/projectiles.dmi
  modular_zubbers/modules/modular_weapons/sounds/grenade_burst.ogg
  modular_zubbers/modules/modular_weapons/sounds/laser_firing/burn.ogg
  modular_zubbers/modules/modular_weapons/sounds/laser_firing/incinerate.ogg
  modular_zubbers/modules/modular_weapons/sounds/laser_firing/laser.ogg
  modular_zubbers/modules/modular_weapons/sounds/laser_firing/melt.ogg
  modular_zubbers/modules/modular_weapons/sounds/laser_firing/vaporize.ogg
  strings/saibasan/long_modular_laser.json
  strings/saibasan/short_modular_laser.json
Labels: Sprites

fex
  modular_skyrat/modules/ert_overrides/modified_equipement.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/saibasan/laser_guns.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/saibasan/mode_datums.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/saibasan/projectiles.dm
  modular_skyrat/modules/modular_weapons/icons/mob/company_and_or_faction_based/saibasan/guns_lefthand.dmi
  modular_skyrat/modules/modular_weapons/icons/mob/company_and_or_faction_based/saibasan/guns_righthand.dmi
  modular_skyrat/modules/modular_weapons/icons/mob/company_and_or_faction_based/saibasan/guns_worn.dmi
  modular_skyrat/modules/modular_weapons/icons/obj/company_and_or_faction_based/saibasan/guns32x.dmi
  modular_skyrat/modules/modular_weapons/icons/obj/company_and_or_faction_based/saibasan/guns48x.dmi
  modular_skyrat/modules/modular_weapons/icons/obj/company_and_or_faction_based/saibasan/projectiles.dmi
  modular_skyrat/modules/modular_weapons/sounds/laser_firing/burn.ogg
  modular_skyrat/modules/modular_weapons/sounds/laser_firing/incinerate.ogg
  modular_skyrat/modules/modular_weapons/sounds/laser_firing/laser.ogg
  modular_skyrat/modules/modular_weapons/sounds/laser_firing/melt.ogg
  modular_skyrat/modules/modular_weapons/sounds/laser_firing/vaporize.ogg
  modular_zubbers/modules/modular_weapons/sounds/grenade_burst.ogg
Labels: Sprites

yeah
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/saibasan/laser_guns.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/saibasan/projectiles.dm
  tgstation.dme
Labels: none

[PORT] [SEMI-MODULAR] [100% FREE LAG] Chat Colors (#157)
  code/__DEFINES/~skyrat_defines/colors.dm
  code/datums/chatmessage.dm
  code/modules/mob/mob.dm
  modular_nova/modules/chat_colors/code/chat_color.dm
  modular_skyrat/master_files/code/modules/client/preferences.dm
  modular_skyrat/modules/customization/game/objects/items/devices/ttsdevice.dm
  modular_skyrat/modules/ghostcafe/code/ghost_role_spawners.dm
  modular_skyrat/modules/synths/code/bodyparts/silicon_alt_brains.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/skyrat/chat_color.tsx
Labels: none

e
  modular_skyrat/modules/chat_colors/code/chat_color.dm
Labels: none

https://github.com/NovaSector/NovaSector/pull/2234
  code/modules/mob/emote.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/carbon/human/species_types/humans.dm
  code/modules/mob/living/emote.dm
  modular_skyrat/master_files/code/modules/mob/living/sillicon/silicon.dm
  modular_skyrat/modules/emotes/code/dna_screams.dm
  modular_skyrat/modules/emotes/code/emotes.dm
  modular_skyrat/modules/emotes/code/laugh_emotes.dm
  modular_skyrat/modules/emotes/code/scream_emote.dm
  modular_skyrat/modules/indicators/code/combat_indicator.dm
  modular_skyrat/modules/synths/code/bodyparts/silicon_alt_brains.dm
  tgstation.dme
Labels: none

https://github.com/Skyrat-SS13/Skyrat-tg/pull/26072
  modular_skyrat/modules/emotes/code/laugh_emotes.dm
  modular_skyrat/modules/emotes/code/scream_emote.dm
  modular_skyrat/modules/ghostcafe/code/ghost_role_spawners.dm
Labels: none

Update tgstation.dme
  tgstation.dme
Labels: none

https://github.com/NovaSector/NovaSector/pull/323
  modular_skyrat/modules/chat_colors/code/chat_color.dm
Labels: none

0
  modular_skyrat/modules/modular_ert/code/equipment_override.dm
  tgstation.dme
Labels: none

Update emote.dm
  code/modules/mob/living/emote.dm
Labels: none

Automatic changelog for PR #28126 [ci skip]
  html/changelogs/AutoChangeLog-pr-28126.yml
Labels: none

temp
  modular_skyrat/modules/company_imports/code/armament_datums/microstar_energy.dm
Labels: none

Update tgstation.dme
  tgstation.dme
Labels: none

Small batch port (#28314)
  code/__DEFINES/~skyrat_defines/colors.dm
  code/__DEFINES/~skyrat_defines/manufacturer_strings.dm
  code/datums/chatmessage.dm
  code/modules/mob/emote.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/carbon/human/species_types/humans.dm
  code/modules/mob/living/emote.dm
  code/modules/mob/mob.dm
  modular_skyrat/master_files/code/modules/client/preferences.dm
  modular_skyrat/master_files/code/modules/mob/living/sillicon/silicon.dm
  modular_skyrat/modules/chat_colors/code/chat_color.dm
  modular_skyrat/modules/customization/game/objects/items/devices/ttsdevice.dm
  modular_skyrat/modules/emotes/code/dna_screams.dm
  modular_skyrat/modules/emotes/code/emotes.dm
  modular_skyrat/modules/emotes/code/laugh_emotes.dm
  modular_skyrat/modules/emotes/code/scream_emote.dm
  modular_skyrat/modules/ghostcafe/code/ghost_role_spawners.dm
  modular_skyrat/modules/indicators/code/combat_indicator.dm
  modular_skyrat/modules/modular_ert/code/equipment_override.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/saibasan/laser_guns.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/saibasan/mode_datums.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/saibasan/projectiles.dm
  modular_skyrat/modules/modular_weapons/icons/mob/company_and_or_faction_based/saibasan/guns_lefthand.dmi
  modular_skyrat/modules/modular_weapons/icons/mob/company_and_or_faction_based/saibasan/guns_righthand.dmi
  modular_skyrat/modules/modular_weapons/icons/mob/company_and_or_faction_based/saibasan/guns_worn.dmi
  modular_skyrat/modules/modular_weapons/icons/obj/company_and_or_faction_based/saibasan/guns32x.dmi
  modular_skyrat/modules/modular_weapons/icons/obj/company_and_or_faction_based/saibasan/guns48x.dmi
  modular_skyrat/modules/modular_weapons/icons/obj/company_and_or_faction_based/saibasan/projectiles.dmi
  modular_skyrat/modules/modular_weapons/sounds/laser_firing/burn.ogg
  modular_skyrat/modules/modular_weapons/sounds/laser_firing/incinerate.ogg
  modular_skyrat/modules/modular_weapons/sounds/laser_firing/laser.ogg
  modular_skyrat/modules/modular_weapons/sounds/laser_firing/melt.ogg
  modular_skyrat/modules/modular_weapons/sounds/laser_firing/vaporize.ogg
  modular_skyrat/modules/synths/code/bodyparts/silicon_alt_brains.dm
  strings/saibasan/long_modular_laser.json
  strings/saibasan/short_modular_laser.json
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/skyrat/chat_color.tsx
Labels: Sprites

Update microstar_energy.dm
  modular_skyrat/modules/company_imports/code/armament_datums/microstar_energy.dm
Labels: none

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-28126.yml
  html/changelogs/AutoChangeLog-pr-28284.yml
  html/changelogs/AutoChangeLog-pr-28298.yml
  html/changelogs/AutoChangeLog-pr-28308.yml
  html/changelogs/AutoChangeLog-pr-28309.yml
  html/changelogs/AutoChangeLog-pr-28310.yml
  html/changelogs/AutoChangeLog-pr-28313.yml
  html/changelogs/archive/2024-06.yml
Labels: none

Adds a fake emag emag act
  code/game/objects/items/emags.dm
Labels: none

Adds the actual game settings menu to the escape menu in addition to the character settings menu. (#84213)
  code/modules/escape_menu/home_page.dm
Labels: none

[MIRROR] Adds the actual game settings menu to the escape menu in addition to the character settings menu. (#28318)
  code/modules/escape_menu/home_page.dm
Labels: none

Automatic changelog for PR #28318 [ci skip]
  html/changelogs/AutoChangeLog-pr-28318.yml
Labels: none

modularizing
  code/game/objects/items/emags.dm
  modular_skyrat/master_files/code/game/objects/items/emag.dm
  tgstation.dme
Labels: none

[MIRROR] Adds a fake emag emag act (#28317)
  code/game/objects/items/emags.dm
  modular_skyrat/master_files/code/game/objects/items/emag.dm
  tgstation.dme
Labels: none

Automatic changelog for PR #28317 [ci skip]
  html/changelogs/AutoChangeLog-pr-28317.yml
Labels: none

Fixing a missing old stuff
  code/datums/datum.dm
  code/modules/mob/living/carbon/human/human_update_icons.dm
Labels: none

Fixes item interaction between crayons & washing machine (#84070)
  code/game/machinery/washing_machine.dm
Labels: none

fixed the price
  modular_skyrat/modules/sec_haul/code/technode/all_nodes.dm
Labels: none

Yeah
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/ammo/pistol.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/ammo/rifle.dm
Labels: none

fix tails.dm
  code/modules/surgery/organs/external/tails.dm
Labels: none

Update tails.dm
  code/modules/surgery/organs/external/tails.dm
Labels: none

[MIRROR] Fixes item interaction between crayons & washing machine (#28319)
  code/game/machinery/washing_machine.dm
Labels: none

Automatic changelog for PR #28319 [ci skip]
  html/changelogs/AutoChangeLog-pr-28319.yml
Labels: none

add 2 arm,ory
  _maps/skyrat/automapper/templates/kilostation/kilostation_armory.dmm
  _maps/skyrat/automapper/templates/wawastation/wawastation_armory.dmm
Labels: Map Modification

[no gbp] Reworked sparks to not be so immensely destructive in benign circumstances (#84193)
  code/__DEFINES/dcs/signals/signals_atom/signals_atom_main.dm
  code/datums/components/combustible_flooder.dm
  code/datums/status_effects/debuffs/fire_stacks.dm
  code/game/objects/effects/decals/cleanable/misc.dm
  code/game/objects/effects/effect_system/effects_sparks.dm
  code/game/objects/items/cigs_lighters.dm
Labels: none

why aren't you a woman
  modular_skyrat/master_files/icons/mob/clothing/head/helmet.dmi
Labels: Sprites

why aren't you a woman
  modular_skyrat/modules/aesthetics/guns/icons/guns.dmi
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/ammo/pistol.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/nanotrasen_system_inc/pistol.dm
Labels: Sprites

Update tgstation.dme
  tgstation.dme
Labels: none

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'
