Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

Automatic changelog for PR #29465 [ci skip]
  html/changelogs/AutoChangeLog-pr-29465.yml
Labels: none

[MIRROR] paintings now drop canvas and frame when knocked off the wall (#29458)
  code/modules/art/paintings.dm
  icons/obj/art/painting_frames.dmi
Labels: Sprites

[MIRROR] Replaces a locked cabinet that you cannot open in ninja den with an unlocked one (#29489)
  _maps/templates/lazy_templates/ninja_den.dmm
Labels: Map Modification

Automatic changelog for PR #29441 [ci skip]
  html/changelogs/AutoChangeLog-pr-29441.yml
Labels: none

[MIRROR] Fixes active turfs on crashsite ruin (#29464)
  _maps/RandomRuins/LavaRuins/lavaland_surface_crashsite.dmm
  code/game/turfs/open/floor/mineral_floor.dm
  code/game/turfs/open/water.dm
Labels: Map Modification

Ethereal Rations (#29271)
  modular_skyrat/master_files/icons/obj/drinks.dmi
  modular_skyrat/modules/paycheck_rations/code/rationpacks.dm
  modular_skyrat/modules/paycheck_rations/code/reagents.dm
  modular_skyrat/modules/paycheck_rations/code/tickets.dm
  modular_skyrat/modules/paycheck_rations/icons/food_containers.dmi
Labels: Sprites

Update tgstation.dme
  tgstation.dme
Labels: none

Update tgstation.dme
  tgstation.dme
Labels: none

[MIRROR] Migrates Issue Reporting to the New GitHub Template Format (#29457)
  .github/ISSUE_TEMPLATE/bug_report_form.yml
  .github/ISSUE_TEMPLATE/config.yml
  interface/interface.dm
Labels: none

Update runtimestation.dmm
  _maps/map_files/debug/runtimestation.dmm
Labels: Map Modification

this shouuld work
  code/game/objects/items/rcd/RCD.dm
  code/game/objects/structures/grille.dm
  code/game/turfs/open/floor.dm
Labels: none

Update IceBoxStation.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Map Modification

Automatic changelog for PR #29458 [ci skip]
  html/changelogs/AutoChangeLog-pr-29458.yml
Labels: none

Automatic changelog for PR #29489 [ci skip]
  html/changelogs/AutoChangeLog-pr-29489.yml
Labels: none

Fixes Midi2Piano Tool
  tools/midi2piano/InstallRequirements.bat
  tools/midi2piano/midi2piano.py
  tools/midi2piano/requirements.txt
Labels: none

Automatic changelog for PR #29464 [ci skip]
  html/changelogs/AutoChangeLog-pr-29464.yml
Labels: none

Automatic changelog for PR #29271 [ci skip]
  html/changelogs/AutoChangeLog-pr-29271.yml
Labels: none

[MIRROR] Makes the Start Screen Look Better (#29453)
  _maps/map_files/generic/CentCom.dmm
  code/game/turfs/closed/indestructible.dm
Labels: Map Modification

Automatic changelog for PR #29457 [ci skip]
  html/changelogs/AutoChangeLog-pr-29457.yml
Labels: none

Automatic changelog for PR #29439 [ci skip]
  html/changelogs/AutoChangeLog-pr-29439.yml
Labels: none

Add big manipulator. (#84888)
  code/datums/greyscale/config_types/greyscale_configs/greyscale_effects.dm
  code/datums/greyscale/config_types/greyscale_configs/greyscale_objects.dm
  code/datums/greyscale/json_configs/big_manipulator.json
  code/datums/greyscale/json_configs/manipulator_hand.json
  code/game/machinery/big_manipulator.dm
  code/game/objects/items/circuitboards/machines/machine_circuitboards.dm
  code/modules/research/designs/machine_designs.dm
  code/modules/research/techweb/nodes/engi_nodes.dm
  icons/obj/machines/big_manipulator.dmi
  icons/obj/machines/big_manipulator_parts/big_manipulator_core.dmi
  icons/obj/machines/big_manipulator_parts/big_manipulator_hand.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/BigManipulator.tsx
Labels: Sprites

[MIRROR] [NO GBP] Allows dreamluau to be found on linux (#29209)
  code/__HELPERS/_dreamluau.dm
  tgstation.dme
Labels: none

they dont understand
  code/__DEFINES/sight.dm
Labels: none

Automatic changelog for PR #29453 [ci skip]
  html/changelogs/AutoChangeLog-pr-29453.yml
Labels: none

[MIRROR] Refactored the fish case and examining fish. New bluespace fish case to fit large fish inside a backpack. (#29448)
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/_globalvars/traits/admin_tooling.dm
  code/datums/elements/fish_safe_storage.dm
  code/datums/skills/fishing.dm
  code/datums/storage/subtypes/fish_case.dm
  code/game/objects/structures/maintenance.dm
  code/game/objects/structures/water_structures/toilet.dm
  code/modules/fishing/aquarium/aquarium_kit.dm
  code/modules/fishing/fish/_fish.dm
  code/modules/library/skill_learning/skillchip.dm
  code/modules/research/designs/misc_designs.dm
  code/modules/research/techweb/nodes/service_nodes.dm
  icons/obj/storage/case.dmi
  tgstation.dme
Labels: Sprites

[MIRROR] fixes broken signal bitflag check (#29476)
  code/game/objects/items.dm
Labels: none

[MIRROR] Adds a treasure chest to the ocean/beach fishing spot. (#29398)
  _maps/RandomZLevels/TheBeach.dmm
  code/__DEFINES/language.dm
  code/game/area/areas/away_content.dm
  code/game/objects/effects/spawners/random/exotic.dm
  code/game/objects/effects/spawners/random/food_or_drink.dm
  code/game/objects/items/circuitboards/machines/machine_circuitboards.dm
  code/game/objects/items/food/bait.dm
  code/game/objects/items/weaponry.dm
  code/game/objects/structures/cannons/cannon.dm
  code/game/objects/structures/mystery_box.dm
  code/modules/awaymissions/mission_code/Beach.dm
  code/modules/fishing/aquarium/aquarium_kit.dm
  code/modules/fishing/bait.dm
  code/modules/fishing/fish/_fish.dm
  code/modules/fishing/fishing_equipment.dm
  code/modules/fishing/fishing_portal_machine.dm
  code/modules/fishing/sources/source_types.dm
  code/modules/language/_language_manuals.dm
  code/modules/mob_spawn/corpses/mob_corpses.dm
  code/modules/reagents/chemistry/reagents/drinks/alcohol_reagents.dm
  code/modules/reagents/reagent_containers/cups/bottle.dm
  code/modules/reagents/reagent_containers/cups/glassbottle.dm
  icons/obj/drinks/bottles.dmi
  icons/obj/fishing.dmi
  icons/obj/service/library.dmi
  icons/obj/storage/box.dmi
  icons/obj/storage/crates.dmi
  icons/obj/weapons/cannons.dmi
  tgstation.dme
Labels: Map Modification, Sprites

[MIRROR] Fixes Midi2Piano Tool (#29498)
  tools/midi2piano/InstallRequirements.bat
  tools/midi2piano/midi2piano.py
  tools/midi2piano/requirements.txt
Labels: none

Automatic changelog for PR #29209 [ci skip]
  html/changelogs/AutoChangeLog-pr-29209.yml
Labels: none

[MIRROR] Add a helpful messages to users when InstallDeps.sh inevitably fails due to lack of perms (#29434)
  tools/tgs_scripts/InstallDeps.sh
Labels: none

Automatic changelog for PR #29448 [ci skip]
  html/changelogs/AutoChangeLog-pr-29448.yml
Labels: none

Automatic changelog for PR #29398 [ci skip]
  html/changelogs/AutoChangeLog-pr-29398.yml
Labels: none

the whole PR
  modular_skyrat/master_files/code/modules/surgery/bodyparts/robot_bodyparts.dm
  modular_skyrat/modules/digitigrade_cybernetics/code/robot_bodyparts.dm
Labels: none

mood
  code/datums/mood.dm
Labels: none

Fixes kudzu being able to spawn on openspace turfs resulting in it getting stuck (#85976)
  code/modules/events/space_vines/vine_event.dm
Labels: none

Indestructible windows now use proper sprites in mapping editors
  code/game/turfs/closed/indestructible.dm
Labels: none

Fixes black fences and layering issues (#85962)
  code/game/objects/structures/railings.dm
Labels: none

Unarmed attacks with carp jaws now uses the bite attack effect (#85959)
  code/game/machinery/dna_infuser/organ_sets/carp_organs.dm
Labels: none

Radioactive nebula no longer runtimes on Runtime station (#85977)
  code/datums/station_traits/negative_traits.dm
Labels: none

Installs bot pathing/delivery nodes on Runtimestation (#85988)
  _maps/map_files/debug/runtimestation.dmm
Labels: Map Modification

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'
