Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

Fix a spot of shitcode (#85683)
  code/__HELPERS/visual_effects.dm
  code/modules/atmospherics/machinery/datum_pipeline.dm
Labels: none

Adds arms/legs coverage to armored gloves/shoes, adds a unit test to check for former (#85667)
  code/game/objects/items/religion.dm
  code/modules/antagonists/clown_ops/clown_weapons.dm
  code/modules/clothing/chameleon/generic_chameleon_clothing.dm
  code/modules/clothing/shoes/boots.dm
  code/modules/clothing/shoes/cowboy.dm
  code/modules/mining/lavaland/tendril_loot.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/gloves_and_shoes_armor.dm
Labels: none

nerfs the HP of bushes (#85682)
  code/game/objects/structures/flora.dm
Labels: none

Fixes a typo and bad punctuation in blackout drunk trauma message (#85661)
  code/datums/brain_damage/split_personality.dm
Labels: none

Fixes a bug that made it so radios inside objects would blare out their comms to everyone around them (#85676)
  code/game/objects/items/devices/radio/radio.dm
Labels: none

Bubblegum can no longer bloodcrawl to other Z levels (#85655)
  code/datums/actions/mobs/blood_warp.dm
Labels: none

fixes wolf ai getting stuck (#85654)
  code/datums/ai/basic_mobs/basic_subtrees/call_reinforcements.dm
Labels: none

Makes cyborg endoskeleton a roundstart research again (#85695)
  code/modules/research/techweb/nodes/cyborg_nodes.dm
Labels: none

Circuit health analyzer/state components now work on targets inside lockers (#85649)
  code/modules/wiremod/components/atom/health.dm
  code/modules/wiremod/components/atom/health_state.dm
Labels: none

Adds gardening tools to Wawastation permabrig (#85633)
  _maps/map_files/wawastation/wawastation.dmm
Labels: Map Modification

Ash drakes no longer get stuck in flight if their target changes Z levels or is destroyed and doesn't spawn lavaland turfs after the lava arena attack ends (#85700)
  code/datums/actions/mobs/lava_swoop.dm
Labels: none

Wellcheers fix (#85634)
  code/modules/reagents/chemistry/reagents/drinks/drink_reagents.dm
Labels: none

Slimes no longer can feed when they're inside of objects or attacking a target that became invalid after they chose their dinner (#85467)
  code/modules/mob/living/basic/slime/ai/behaviours.dm
  code/modules/mob/living/basic/slime/feeding.dm
Labels: none

Add a janitorial 'borg plunger (#85475)
  code/game/objects/items/robot/robot_upgrades.dm
  code/game/objects/structures/lavaland/geyser.dm
  code/modules/research/designs/mechfabricator_designs.dm
  code/modules/research/techweb/nodes/cyborg_nodes.dm
Labels: none

Fix TGUI notepad with various small fixes (#85472)
  tgui/packages/tgui/interfaces/NtosNotepad.tsx
  tgui/packages/tgui/styles/interfaces/NtosNotepad.scss
Labels: none

Add our_view to screen_loc_to_offset in view_audit_buttons (#85300)
  code/_onclick/hud/hud.dm
Labels: none

add syndie lipstick
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/game/objects/items/cosmetics.dm
  code/game/objects/items/hand_items.dm
  code/modules/mob/living/emote.dm
  code/modules/projectiles/projectile.dm
  code/modules/uplink/uplink_items/stealthy.dm
  icons/obj/cosmetic.dmi
Labels: Sprites

Optimizes hunger appearance work (#85299)
  code/_onclick/hud/screen_objects.dm
Labels: none

Fixes catwalk rendering layering and catwalk pipe cap issues (#85236)
  code/__DEFINES/dcs/signals/signals_object.dm
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/layers.dm
  code/datums/elements/undertile.dm
  code/modules/atmospherics/machinery/atmosmachinery.dm
  code/modules/atmospherics/machinery/pipes/pipes.dm
Labels: none

Added physical references for special fax networks
  _maps/map_files/generic/CentCom.dmm
  code/__DEFINES/admin.dm
  code/modules/admin/admin_fax_panel.dm
  code/modules/admin/topic.dm
  code/modules/paperwork/fax.dm
Labels: Map Modification

puts all the default command programs on /pda/heads rather than their specific role (#85228)
  code/modules/modular_computers/computers/item/role_tablet_presets.dm
Labels: none

Abductors can no longer be converted by conversion antags (#84766)
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/_globalvars/traits/admin_tooling.dm
  code/controllers/subsystem/dynamic/dynamic_rulesets_latejoin.dm
  code/controllers/subsystem/dynamic/dynamic_rulesets_roundstart.dm
  code/datums/components/mind_linker.dm
  code/datums/mind/_mind.dm
  code/game/objects/items/implants/implant_mindshield.dm
  code/game/objects/items/implants/implantchair.dm
  code/modules/admin/antag_panel.dm
  code/modules/antagonists/abductor/abductor.dm
  code/modules/antagonists/abductor/equipment/glands/mindshock.dm
  code/modules/antagonists/brother/brother.dm
  code/modules/antagonists/cult/cult_other.dm
  code/modules/antagonists/heretic/knowledge/moon_lore.dm
  code/modules/antagonists/revolution/revolution.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/surgery/advanced/brainwashing.dm
Labels: none

More food effects (#84889)
  code/__DEFINES/food.dm
  code/datums/components/crafting/crafting.dm
  code/datums/components/speechmod.dm
  code/datums/status_effects/buffs/food/_food_effect.dm
  code/datums/status_effects/buffs/food/food_traits.dm
  code/datums/status_effects/buffs/food/grant_trait.dm
  code/datums/status_effects/buffs/food/speech.dm
  code/game/objects/items/food/cake.dm
  code/game/objects/items/food/egg.dm
  code/game/objects/items/food/mexican.dm
  code/game/objects/items/food/pastries.dm
  code/game/objects/items/food/pie.dm
  code/game/objects/items/food/spaghetti.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_egg.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_pastry.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_spaghetti.dm
  icons/hud/screen_alert.dmi
  icons/obj/food/food.dmi
  icons/obj/food/spaghetti.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/PersonalCrafting.tsx
Labels: Sprites

Fix first tab selection on ore redemption machine (#85608)
  tgui/packages/tgui/interfaces/OreRedemptionMachine.jsx
Labels: none

Allows AI players to operate the Boulder Retrival Matrix (BRM) machine (#85619)
  code/modules/mining/boulder_processing/brm.dm
Labels: none

Adds cargo gorka internals (#85618)
  code/modules/clothing/suits/jobs.dm
Labels: none

Gives Janitor ERT no slips (#85607)
  code/modules/mod/mod_types.dm
Labels: none

Circuit components can now be recycles in circuit printers, and automatically do so upon being removed if a circuit has a linked printer (#85648)
  code/datums/components/material/material_container.dm
  code/datums/components/material/remote_materials.dm
  code/modules/research/designs/wiremod_designs.dm
  code/modules/wiremod/core/component.dm
  code/modules/wiremod/core/component_printer.dm
  code/modules/wiremod/core/integrated_circuit.dm
Labels: none

Fixed being able to activate BCI actions whilst not conscious (#85544)
  code/modules/wiremod/components/bci/hud/target_intercept.dm
  code/modules/wiremod/components/bci/thought_listener.dm
Labels: none

Moves more species traits to bodyparts +bugfixes
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/_globalvars/traits/admin_tooling.dm
  code/modules/mob/living/brain/brain_item.dm
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
  code/modules/mob/living/carbon/human/species_types/flypeople.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  code/modules/mob/living/carbon/human/species_types/monkeys.dm
  code/modules/mob/living/carbon/human/species_types/mothmen.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  code/modules/surgery/bodyparts/species_parts/ethereal_bodyparts.dm
  code/modules/surgery/bodyparts/species_parts/misc_bodyparts.dm
  code/modules/surgery/bodyparts/species_parts/moth_bodyparts.dm
Labels: none

ERTs no longer humanize plasmamen (#85631)
  code/modules/admin/verbs/ert.dm
  code/modules/antagonists/ert/ert.dm
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
Labels: none

Chameleon gun counts as harmless and can be fired by pacifists (#85520)
  code/modules/projectiles/ammunition/energy/laser.dm
Labels: none

Hydraulic clamps can force doors open again (#85514)
  code/modules/vehicles/mecha/equipment/tools/work_tools.dm
Labels: none

Fixed Creatures not being able to use non-jaunt actions when seen (#85525)
  code/datums/components/unobserved_actor.dm
  code/modules/mob/living/basic/space_fauna/netherworld/creature.dm
Labels: none

replaces the unusable energy cannon in mystery boxes to the new smartgun (#85529)
  code/game/objects/structures/mystery_box.dm
Labels: none

Void storm now updates mob health (#85498)
  code/datums/weather/weather_types/void_storm.dm
Labels: none

fixes monkey telekinesis (#85513)
  code/datums/ai/monkey/monkey_behaviors.dm
Labels: none

Integrated circuit modules now can be linked to component printers (#85519)
  code/modules/wiremod/core/component_printer.dm
Labels: none

Magicarps no longer fire their projectiles while out of combat mode (#85521)
  code/modules/mob/living/basic/space_fauna/carp/carp_abilities.dm
Labels: none

Supermatter bioscrambler anomalies are docile (#85552)
  code/modules/power/supermatter/supermatter_extra_effects.dm
Labels: none

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'
