Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

Restores Species Languages
  modular_skyrat/modules/customization/modules/language/buzzwords.dm
  modular_skyrat/modules/customization/modules/language/calcic.dm
  modular_skyrat/modules/customization/modules/language/monkey.dm
  modular_skyrat/modules/customization/modules/language/mushroom.dm
  modular_skyrat/modules/customization/modules/language/nekomimetic.dm
  tgstation.dme
Labels: none

Justice (a melee-only mech) can no longer have guns attached (#84925)
  code/modules/vehicles/mecha/equipment/mecha_equipment.dm
Labels: none

Grinding fish no longer gives you uselessly high amount of blood and gibs. (#84949)
  code/modules/fishing/fish/_fish.dm
  code/modules/fishing/fish/fish_traits.dm
  code/modules/fishing/fish/fish_types.dm
Labels: none

Clown car now cares about maximum amount of drivers (#84956)
  code/modules/vehicles/cars/clowncar.dm
Labels: none

Necropolis gates block atmos when closed. (#84958)
  code/modules/mapfluff/ruins/objects_and_mobs/necropolis_gate.dm
Labels: none

Fixed Icebox ordnance being freezing cold (+ some minor Icebox fixes) (#84957)
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Map Modification

In your head, in your head.
  modular_skyrat/modules/customization/modules/language/_language_holder.dm
  modular_skyrat/modules/customization/modules/language/piratespeak.dm
Labels: none

Skeletons understand their brothers.
  modular_skyrat/modules/customization/modules/language/_language_holder.dm
Labels: none

Improves pipe pistols, changes their bane effect to an on-hit effect of the projectile, fixes a mild bug with bayonets on pipe pistols (#84960)
  code/modules/projectiles/guns/ballistic/rifle.dm
  code/modules/projectiles/projectile/bullets/junk.dm
Labels: none

Adds 9 wizard perks (#83262)
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_living.dm
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/datums/components/dejavu.dm
  code/datums/components/food/edible.dm
  code/datums/components/heart_eater.dm
  code/datums/components/slime_friends.dm
  code/datums/components/wormborn.dm
  code/modules/antagonists/wizard/equipment/spellbook_entries/_entry.dm
  code/modules/antagonists/wizard/equipment/spellbook_entries/defensive.dm
  code/modules/antagonists/wizard/equipment/spellbook_entries/perks.dm
  code/modules/antagonists/wizard/equipment/wizard_spellbook.dm
  code/modules/antagonists/wizard/wizard.dm
  code/modules/surgery/bodyparts/parts.dm
  code/modules/surgery/organs/external/wings/functional_wings.dm
  icons/mob/nonhuman-player/eldritch_mobs.dmi
  icons/mob/simple/mob.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/Spellbook.tsx
Labels: Sprites

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-28831.yml
  html/changelogs/AutoChangeLog-pr-28833.yml
  html/changelogs/AutoChangeLog-pr-28834.yml
  html/changelogs/AutoChangeLog-pr-28835.yml
  html/changelogs/AutoChangeLog-pr-28837.yml
  html/changelogs/AutoChangeLog-pr-28838.yml
  html/changelogs/AutoChangeLog-pr-28839.yml
  html/changelogs/AutoChangeLog-pr-28840.yml
  html/changelogs/AutoChangeLog-pr-28841.yml
  html/changelogs/AutoChangeLog-pr-28842.yml
  html/changelogs/AutoChangeLog-pr-28843.yml
  html/changelogs/AutoChangeLog-pr-28844.yml
  html/changelogs/AutoChangeLog-pr-28845.yml
  html/changelogs/AutoChangeLog-pr-28846.yml
  html/changelogs/AutoChangeLog-pr-28849.yml
  html/changelogs/AutoChangeLog-pr-28850.yml
  html/changelogs/AutoChangeLog-pr-28851.yml
  html/changelogs/AutoChangeLog-pr-28853.yml
  html/changelogs/AutoChangeLog-pr-28855.yml
  html/changelogs/archive/2024-07.yml
Labels: none

Dead raptors no longer get happy when petted or groomed (#84959)
  code/datums/components/happiness.dm
Labels: none

Update fly_organs.dm
  code/game/machinery/dna_infuser/organ_sets/fly_organs.dm
Labels: none

Update _tongue.dm
  code/modules/surgery/organs/internal/tongue/_tongue.dm
Labels: none

[MIRROR] Fix Scream emote running the wrong emote (#28836)
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/emote.dm
Labels: none

[MIRROR] Fix Tongue Based Speech Modifiers Being Applied To Users Native Languages (#28854)
  code/datums/components/speechmod.dm
  code/game/machinery/dna_infuser/organ_sets/fly_organs.dm
  code/modules/surgery/organs/internal/tongue/_tongue.dm
  code/modules/unit_tests/say.dm
Labels: none

Automatic changelog for PR #28836 [ci skip]
  html/changelogs/AutoChangeLog-pr-28836.yml
Labels: none

[MIRROR] Tweaked the 'Linked Closets' trait. (#28857)
  code/datums/station_traits/neutral_traits.dm
Labels: none

[MIRROR] Holy skateboard improvement + actually fixing space movement with hoverboards. (#28858)
  code/datums/components/anti_magic.dm
  code/datums/components/riding/riding_vehicle.dm
  code/modules/vehicles/scooter.dm
Labels: none

Automatic changelog for PR #28854 [ci skip]
  html/changelogs/AutoChangeLog-pr-28854.yml
Labels: none

[MIRROR] If you can't shoot a gun, then... JUST TOSS IT AT THEM (#28859)
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/_globalvars/traits/admin_tooling.dm
  code/datums/martial/sleeping_carp.dm
  code/modules/antagonists/highlander/highlander.dm
  code/modules/antagonists/pirate/pirate_roles.dm
  code/modules/mining/lavaland/tendril_loot.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mod/modules/modules_ninja.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/ballistic.dm
  code/modules/projectiles/guns/ballistic/rifle.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
  code/modules/projectiles/guns/ballistic/toy.dm
Labels: none

[MIRROR] Love is stored in the heart (adds the love chem to hearts) (#28860)
  code/datums/quirks/positive_quirks/friendly.dm
  code/modules/antagonists/nightmare/nightmare_organs.dm
  code/modules/surgery/organs/internal/heart/_heart.dm
Labels: none

[MIRROR] Positive moodlets when examining high-value paintings, plus tgui nitpicks (#28861)
  code/__DEFINES/art.dm
  code/controllers/subsystem/persistent_paintings.dm
  code/modules/art/paintings.dm
  tgui/packages/tgui/interfaces/Canvas.tsx
Labels: none

[MIRROR] Megaphones now affect TTS (#28862)
  code/game/objects/items/devices/megaphone.dm
  code/modules/mob/living/living_say.dm
Labels: none

[MIRROR] Adds an assistant preview outfit for previewing assistant loadouts (#28863)
  code/modules/jobs/job_types/assistant/assistant.dm
Labels: none

[MIRROR] Minor Fishing rod QoL (#28864)
  code/modules/fishing/fishing_rod.dm
Labels: none

[MIRROR] Fixes Wawastation xenobio openspace bz turfs in the main room (#28865)
  _maps/map_files/wawastation/wawastation.dmm
Labels: Map Modification

[MIRROR] Make storage datums actually send `COMSIG_ATOM_STORED_ITEM` on the parent atom instead of `COMSIG_STORAGE_STORED_ITEM` (#28866)
  code/datums/storage/storage.dm
Labels: none

[MIRROR] Material sheet sounds and Vary support for picking up/dropping items (#28867)
  code/game/objects/items.dm
  code/game/objects/items/stacks/rods.dm
  code/game/objects/items/stacks/sheets/glass.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/stacks/sheets/sheets.dm
  sound/items/attributions.txt
  sound/items/glass_drop.ogg
  sound/items/glass_pick_up.ogg
  sound/items/iron_rod_pick_up.ogg
  sound/items/metal_drop.ogg
  sound/items/metal_pick_up.ogg
  sound/items/plastic_drop.ogg
  sound/items/plastic_pick_up.ogg
  sound/items/wood_drop.ogg
  sound/items/wood_pick_up.ogg
Labels: none

[MIRROR] Justice (a melee-only mech) can no longer have guns attached (#28868)
  code/modules/vehicles/mecha/equipment/mecha_equipment.dm
Labels: none

[MIRROR] Grinding fish no longer gives you uselessly high amount of blood and gibs. (#28869)
  code/modules/fishing/fish/_fish.dm
  code/modules/fishing/fish/fish_traits.dm
  code/modules/fishing/fish/fish_types.dm
Labels: none

[MIRROR] Clown car now cares about maximum amount of drivers (#28870)
  code/modules/vehicles/cars/clowncar.dm
Labels: none

Automatic changelog for PR #28857 [ci skip]
  html/changelogs/AutoChangeLog-pr-28857.yml
Labels: none

[MIRROR] Necropolis gates block atmos when closed. (#28871)
  code/modules/mapfluff/ruins/objects_and_mobs/necropolis_gate.dm
Labels: none

[MIRROR] Fixed Icebox ordnance being freezing cold (+ some minor Icebox fixes) (#28872)
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Map Modification

Automatic changelog for PR #28858 [ci skip]
  html/changelogs/AutoChangeLog-pr-28858.yml
Labels: none

Restores Species Languages (#28873)
  modular_skyrat/modules/customization/modules/language/_language_holder.dm
  modular_skyrat/modules/customization/modules/language/buzzwords.dm
  modular_skyrat/modules/customization/modules/language/calcic.dm
  modular_skyrat/modules/customization/modules/language/monkey.dm
  modular_skyrat/modules/customization/modules/language/mushroom.dm
  modular_skyrat/modules/customization/modules/language/nekomimetic.dm
  modular_skyrat/modules/customization/modules/language/piratespeak.dm
  tgstation.dme
Labels: none

[MIRROR] Improves pipe pistols, changes their bane effect to an on-hit effect of the projectile, fixes a mild bug with bayonets on pipe pistols (#28874)
  code/modules/projectiles/guns/ballistic/rifle.dm
  code/modules/projectiles/projectile/bullets/junk.dm
Labels: none

[MIRROR] Adds 9 wizard perks (#28875)
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_living.dm
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/datums/components/dejavu.dm
  code/datums/components/food/edible.dm
  code/datums/components/heart_eater.dm
  code/datums/components/slime_friends.dm
  code/datums/components/wormborn.dm
  code/modules/antagonists/wizard/equipment/spellbook_entries/_entry.dm
  code/modules/antagonists/wizard/equipment/spellbook_entries/defensive.dm
  code/modules/antagonists/wizard/equipment/spellbook_entries/perks.dm
  code/modules/antagonists/wizard/equipment/wizard_spellbook.dm
  code/modules/antagonists/wizard/wizard.dm
  code/modules/surgery/bodyparts/parts.dm
  code/modules/surgery/organs/external/wings/functional_wings.dm
  icons/mob/nonhuman-player/eldritch_mobs.dmi
  icons/mob/simple/mob.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/Spellbook.tsx
Labels: Sprites

[MIRROR] Dead raptors no longer get happy when petted or groomed (#28876)
  code/datums/components/happiness.dm
Labels: none

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'
