Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

more curious about the result
  modular_skyrat/modules/modular_weapons/icons/obj/company_and_or_faction_based/romulus_technology/ammo.dmi
Labels: Sprites

Crafting accepts machine subtypes (#84680)
  code/datums/components/crafting/crafting.dm
Labels: none

Update rifle.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/rifle.dm
Labels: none

mister mister president i want to die
  code/__DEFINES/~skyrat_defines/projectiles.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/ammo/rifle.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/ammo/rifle.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/magazines.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/rifle.dm
  modular_skyrat/modules/modular_weapons/icons/obj/company_and_or_faction_based/romulus_technology/gun40x32.dmi
  tgstation.dme
Labels: Sprites

Update magazines.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/magazines.dm
Labels: none

what
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/rifle.dm
  modular_skyrat/modules/sec_haul/code/technode/sec_research.dm
Labels: none

fml lol
  modular_skyrat/modules/sec_haul/code/technode/all_nodes.dm
  modular_skyrat/modules/sec_haul/code/technode/sec_research.dm
Labels: none

Update gun40x32.dmi
  modular_skyrat/modules/modular_weapons/icons/obj/company_and_or_faction_based/romulus_technology/gun40x32.dmi
Labels: Sprites

Descriptions
  code/__DEFINES/~skyrat_defines/loadout.dm
  code/modules/loadout/loadout_items.dm
  tgui/packages/tgui/interfaces/LoadoutManager.tsx
Labels: none

this is sick af
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/ammo/rifle.dm
Labels: none

Update rifle.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/ammo/rifle.dm
Labels: none

what
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/magazines.dm
  modular_skyrat/modules/sec_haul/code/technode/all_nodes.dm
  modular_skyrat/modules/sec_haul/code/technode/sec_research.dm
Labels: none

fixes digis (Again)
  code/modules/mob/living/carbon/human/human_update_icons.dm
Labels: none

Woops
  code/modules/loadout/loadout_items.dm
Labels: none

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-28643.yml
  html/changelogs/AutoChangeLog-pr-28644.yml
  html/changelogs/AutoChangeLog-pr-28645.yml
  html/changelogs/AutoChangeLog-pr-28646.yml
  html/changelogs/AutoChangeLog-pr-28647.yml
  html/changelogs/AutoChangeLog-pr-28648.yml
  html/changelogs/AutoChangeLog-pr-28649.yml
  html/changelogs/AutoChangeLog-pr-28650.yml
  html/changelogs/AutoChangeLog-pr-28651.yml
  html/changelogs/AutoChangeLog-pr-28652.yml
  html/changelogs/AutoChangeLog-pr-28653.yml
  html/changelogs/AutoChangeLog-pr-28656.yml
  html/changelogs/AutoChangeLog-pr-28657.yml
  html/changelogs/AutoChangeLog-pr-28662.yml
  html/changelogs/AutoChangeLog-pr-28663.yml
  html/changelogs/archive/2024-07.yml
Labels: none

Limits the methods through which you can be stunned by a shove. Shoves disarm people who are knocked down. (#84640)
  code/__DEFINES/combat.dm
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/datums/status_effects/debuffs/staggered.dm
  code/game/objects/items/melee/baton.dm
  code/modules/antagonists/heretic/magic/mansus_grasp.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/living_defense.dm
  icons/effects/effects.dmi
Labels: Sprites

Adds the Holy Skateboard, a holy version of the hoverboard. (#84514)
  code/game/objects/items/weaponry.dm
  code/modules/jobs/job_types/chaplain/chaplain_nullrod.dm
  code/modules/vehicles/scooter.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/mob/rideables/vehicles.dmi
Labels: Sprites

Add skibidi to chaplain brain damage triggers (#84702)
  code/modules/jobs/job_types/chaplain/chaplain.dm
Labels: none

Fix hacker alias name preference not working (#84695)
  code/modules/bitrunning/components/avatar_connection.dm
Labels: none

defibrillator gets a real power cell and also replaces attackby with item_interaction (#84683)
  code/game/objects/items/defib.dm
Labels: none

Fisherman's Discernment show list of fish properly (#84670)
  code/datums/components/fishing_spot.dm
Labels: none

Fixes knight helmets being flammable (#84662)
  code/modules/clothing/head/helmet.dm
Labels: none

[NO GBP] BirdShot Service Fixes 3 (#84672)
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Map Modification

Renames the organ thrower to the 'organizer' and clears up its description (#84534)
  code/modules/mod/mod_types.dm
  code/modules/mod/modules/modules_medical.dm
  code/modules/mod/modules/modules_service.dm
  code/modules/research/designs/mechfabricator_designs.dm
  code/modules/research/techweb/nodes/modsuit_nodes.dm
  icons/obj/clothing/modsuit/mod_modules.dmi
Labels: Sprites

Hotfixes need to breathe (#84700)
  code/modules/mob/living/carbon/life.dm
Labels: none

fixes elite tumor + legion core interaction (#84687)
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/elite.dm
Labels: none

[MIRROR] Crafting accepts machine subtypes (#28664)
  code/datums/components/crafting/crafting.dm
Labels: none

Automatic changelog for PR #28664 [ci skip]
  html/changelogs/AutoChangeLog-pr-28664.yml
Labels: none

[MIRROR] Limits the methods through which you can be stunned by a shove. Shoves disarm people who are knocked down. (#28667)
  code/__DEFINES/combat.dm
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/datums/status_effects/debuffs/staggered.dm
  code/game/objects/items/melee/baton.dm
  code/modules/antagonists/heretic/magic/mansus_grasp.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/living_defense.dm
  icons/effects/effects.dmi
Labels: Sprites

Automatic changelog for PR #28667 [ci skip]
  html/changelogs/AutoChangeLog-pr-28667.yml
Labels: none

[MIRROR] Adds the Holy Skateboard, a holy version of the hoverboard. (#28668)
  code/game/objects/items/weaponry.dm
  code/modules/jobs/job_types/chaplain/chaplain_nullrod.dm
  code/modules/vehicles/scooter.dm
  icons/mob/inhands/items_lefthand.dmi
  icons/mob/inhands/items_righthand.dmi
  icons/mob/rideables/vehicles.dmi
Labels: Sprites

[MIRROR] Add skibidi to chaplain brain damage triggers (#28669)
  code/modules/jobs/job_types/chaplain/chaplain.dm
Labels: none

[MIRROR] Fix hacker alias name preference not working (#28670)
  code/modules/bitrunning/components/avatar_connection.dm
Labels: none

[MIRROR] defibrillator gets a real power cell and also replaces attackby with item_interaction (#28671)
  code/game/objects/items/defib.dm
Labels: none

[MIRROR] Fisherman's Discernment show list of fish properly (#28672)
  code/datums/components/fishing_spot.dm
Labels: none

[MIRROR] Fixes knight helmets being flammable (#28673)
  code/modules/clothing/head/helmet.dm
Labels: none

Automatic changelog for PR #28668 [ci skip]
  html/changelogs/AutoChangeLog-pr-28668.yml
Labels: none

[MIRROR] Hotfixes need to breathe (#28676)
  code/modules/mob/living/carbon/life.dm
Labels: none

Automatic changelog for PR #28669 [ci skip]
  html/changelogs/AutoChangeLog-pr-28669.yml
Labels: none

[MIRROR] fixes elite tumor + legion core interaction (#28677)
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/elite.dm
Labels: none

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'
