Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

Automatic changelog for PR #28385 [ci skip]
  html/changelogs/AutoChangeLog-pr-28385.yml
Labels: none

Automatic changelog for PR #28386 [ci skip]
  html/changelogs/AutoChangeLog-pr-28386.yml
Labels: none

Automatic changelog for PR #28387 [ci skip]
  html/changelogs/AutoChangeLog-pr-28387.yml
Labels: none

we fix the linter
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/nanotrasen_system_inc/pistol.dm
  modular_skyrat/modules/modular_weapons/icons/obj/company_and_or_faction_based/nanotrasen_system_inc/pistol.dmi
Labels: Sprites

Update pistol.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/nanotrasen_system_inc/pistol.dm
Labels: none

engi tcomms
  _maps/map_files/NSVBlueshift/Blueshift.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Map Modification

copy paste you fail me
  _maps/map_files/NSVBlueshift/Blueshift.dmm
Labels: Map Modification

copy paste you fail me
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Map Modification

[NO GBP] Hotfixes spraycans (#84334)
  code/game/objects/items/crayons.dm
Labels: none

Some alt & ctrl click improvements (#84203)
  code/__DEFINES/dcs/signals/signals_xeno_control.dm
  code/__DEFINES/mobs.dm
  code/_onclick/click.dm
  code/_onclick/click_alt.dm
  code/_onclick/click_ctrl.dm
  code/datums/ai/oldhostile/hostile_tameable.dm
  code/datums/components/pet_commands/obeys_commands.dm
  code/datums/components/rotation.dm
  code/datums/components/style/style_meter.dm
  code/datums/components/toggle_suit.dm
  code/datums/storage/storage.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/basic/guardian/guardian_types/support.dm
  code/modules/mob/living/basic/space_fauna/revenant/_revenant.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob.dm
  code/modules/research/xenobiology/xenobio_camera.dm
  code/modules/wiremod/shell/controller.dm
Labels: none

Requires Unregulated Bluespace Research for the Event Horizon Anti-Existential Beam Rifle (#84312)
  code/modules/research/techweb/nodes/security_nodes.dm
  code/modules/research/techweb/nodes/syndicate_nodes.dm
Labels: none

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-28343.yml
  html/changelogs/AutoChangeLog-pr-28345.yml
  html/changelogs/AutoChangeLog-pr-28346.yml
  html/changelogs/AutoChangeLog-pr-28347.yml
  html/changelogs/AutoChangeLog-pr-28348.yml
  html/changelogs/AutoChangeLog-pr-28349.yml
  html/changelogs/AutoChangeLog-pr-28350.yml
  html/changelogs/AutoChangeLog-pr-28351.yml
  html/changelogs/AutoChangeLog-pr-28352.yml
  html/changelogs/AutoChangeLog-pr-28353.yml
  html/changelogs/AutoChangeLog-pr-28354.yml
  html/changelogs/AutoChangeLog-pr-28355.yml
  html/changelogs/AutoChangeLog-pr-28356.yml
  html/changelogs/AutoChangeLog-pr-28357.yml
  html/changelogs/AutoChangeLog-pr-28358.yml
  html/changelogs/AutoChangeLog-pr-28360.yml
  html/changelogs/AutoChangeLog-pr-28361.yml
  html/changelogs/AutoChangeLog-pr-28363.yml
  html/changelogs/AutoChangeLog-pr-28364.yml
  html/changelogs/AutoChangeLog-pr-28366.yml
  html/changelogs/AutoChangeLog-pr-28367.yml
  html/changelogs/AutoChangeLog-pr-28368.yml
  html/changelogs/AutoChangeLog-pr-28369.yml
  html/changelogs/AutoChangeLog-pr-28370.yml
  html/changelogs/AutoChangeLog-pr-28371.yml
  html/changelogs/AutoChangeLog-pr-28372.yml
  html/changelogs/AutoChangeLog-pr-28373.yml
  html/changelogs/AutoChangeLog-pr-28374.yml
  html/changelogs/AutoChangeLog-pr-28375.yml
  html/changelogs/AutoChangeLog-pr-28377.yml
  html/changelogs/AutoChangeLog-pr-28378.yml
  html/changelogs/AutoChangeLog-pr-28379.yml
  html/changelogs/AutoChangeLog-pr-28380.yml
  html/changelogs/AutoChangeLog-pr-28381.yml
  html/changelogs/AutoChangeLog-pr-28383.yml
  html/changelogs/AutoChangeLog-pr-28384.yml
  html/changelogs/AutoChangeLog-pr-28385.yml
  html/changelogs/AutoChangeLog-pr-28386.yml
  html/changelogs/AutoChangeLog-pr-28387.yml
  html/changelogs/archive/2024-06.yml
Labels: none

Update misc_bodyparts.dm
  code/modules/surgery/bodyparts/species_parts/misc_bodyparts.dm
Labels: none

[MIRROR] Adds a means to clean up multiple monkey bodies using the xenobio console. (#28388)
  code/modules/research/xenobiology/xenobio_camera.dm
Labels: none

Automatic changelog for PR #28388 [ci skip]
  html/changelogs/AutoChangeLog-pr-28388.yml
Labels: none

Fixes engi/tcomms access on Blueshift and Void Raptor (#28389)
  _maps/map_files/NSVBlueshift/Blueshift.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Map Modification

[MIRROR] [NO GBP] Hotfixes spraycans (#28390)
  code/game/objects/items/crayons.dm
Labels: none

[MIRROR] Some alt & ctrl click improvements (#28391)
  code/__DEFINES/dcs/signals/signals_xeno_control.dm
  code/__DEFINES/mobs.dm
  code/_onclick/click.dm
  code/_onclick/click_alt.dm
  code/_onclick/click_ctrl.dm
  code/datums/ai/oldhostile/hostile_tameable.dm
  code/datums/components/pet_commands/obeys_commands.dm
  code/datums/components/rotation.dm
  code/datums/components/style/style_meter.dm
  code/datums/components/toggle_suit.dm
  code/datums/storage/storage.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/basic/guardian/guardian_types/support.dm
  code/modules/mob/living/basic/space_fauna/revenant/_revenant.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob.dm
  code/modules/research/xenobiology/xenobio_camera.dm
  code/modules/wiremod/shell/controller.dm
Labels: none

initial
  modular_skyrat/modules/deforest_medical_items/code/storage_items.dm
  modular_skyrat/modules/hyposprays/code/hyposprays_II.dm
  modular_skyrat/modules/hyposprays/code/hypovials.dm
Labels: none

[MIRROR] Requires Unregulated Bluespace Research for the Event Horizon Anti-Existential Beam Rifle (#28392)
  code/modules/research/techweb/nodes/security_nodes.dm
  code/modules/research/techweb/nodes/syndicate_nodes.dm
Labels: none

Update hyposprays_II.dm
  modular_skyrat/modules/hyposprays/code/hyposprays_II.dm
Labels: none

Automatic changelog for PR #28389 [ci skip]
  html/changelogs/AutoChangeLog-pr-28389.yml
Labels: none

Automatic changelog for PR #28390 [ci skip]
  html/changelogs/AutoChangeLog-pr-28390.yml
Labels: none

Automatic changelog for PR #28391 [ci skip]
  html/changelogs/AutoChangeLog-pr-28391.yml
Labels: none

Automatic changelog for PR #28392 [ci skip]
  html/changelogs/AutoChangeLog-pr-28392.yml
Labels: none

update cargo packs, icons
  modular_skyrat/modules/deforest_medical_items/code/cargo_packs.dm
  modular_skyrat/modules/deforest_medical_items/code/storage_items.dm
  modular_skyrat/modules/deforest_medical_items/icons/inhands/cases_lefthand.dmi
  modular_skyrat/modules/deforest_medical_items/icons/inhands/cases_righthand.dmi
  modular_skyrat/modules/deforest_medical_items/icons/storage.dmi
  modular_skyrat/modules/deforest_medical_items/icons/worn/worn.dmi
  modular_skyrat/modules/deforest_medical_items/icons/worn/worn_teshari.dmi
Labels: Sprites

oop
  modular_skyrat/modules/hyposprays/code/hyposprays_II.dm
Labels: none

Allows domain spawners to use character prefs.
  modular_skyrat/modules/bitrunning/code/spawners.dm
  tgstation.dme
Labels: none

Update pistol.dmi
  modular_skyrat/modules/modular_weapons/icons/obj/company_and_or_faction_based/nanotrasen_system_inc/pistol.dmi
Labels: Sprites

reagent temp/purity
  modular_skyrat/modules/hyposprays/code/hypovials.dm
Labels: none

fix combat hypo wait
  modular_skyrat/modules/hyposprays/code/hyposprays_II.dm
Labels: none

forgot company imports
  modular_skyrat/modules/company_imports/code/armament_datums/deforest_medical.dm
Labels: none

Update deforest_medical.dm
  modular_skyrat/modules/company_imports/code/armament_datums/deforest_medical.dm
Labels: none

Update equipment.dm
  modular_skyrat/modules/kahraman_equipment/code/organic_printer_designs/equipment.dm
Labels: none

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-28388.yml
  html/changelogs/AutoChangeLog-pr-28389.yml
  html/changelogs/AutoChangeLog-pr-28390.yml
  html/changelogs/AutoChangeLog-pr-28391.yml
  html/changelogs/AutoChangeLog-pr-28392.yml
  html/changelogs/archive/2024-06.yml
Labels: none

tgui: adds tgui npm library (#83789)
  tgui/packages/tgui/interfaces/AccountingConsole.tsx
  tgui/packages/tgui/interfaces/AirAlarm.tsx
  tgui/packages/tgui/interfaces/Autolathe.tsx
  tgui/packages/tgui/interfaces/CameraConsole.tsx
  tgui/packages/tgui/interfaces/ChemDispenser.tsx
  tgui/packages/tgui/interfaces/CrewConsole.tsx
  tgui/packages/tgui/interfaces/Fabricator.tsx
  tgui/packages/tgui/interfaces/QuantumConsole.tsx
  tgui/packages/tgui/interfaces/Vending.tsx
  tgui/packages/tgui/interfaces/VotePanel.tsx
  tgui/packages/tgui/package.json
  tgui/webpack.config.js
  tgui/yarn.lock
Labels: none

basic firebots refactor (#83861)
  _maps/RandomRuins/SpaceRuins/infested_frigate.dmm
  _maps/RandomZLevels/SnowCabin.dmm
  _maps/map_files/Birdshot/birdshot.dmm
  code/__DEFINES/ai/bot_keys.dm
  code/__DEFINES/robots.dm
  code/datums/ai/basic_mobs/targeting_strategies/basic_targeting_strategy.dm
  code/datums/components/crafting/robot.dm
  code/modules/mob/living/basic/bots/bot_ai.dm
  code/modules/mob/living/basic/bots/firebot/firebot.dm
  code/modules/mob/living/basic/bots/firebot/firebot_ai.dm
  code/modules/mob/living/simple_animal/bot/construction.dm
  code/modules/mob/living/simple_animal/bot/firebot.dm
  code/modules/unit_tests/simple_animal_freeze.dm
  sound/voice/firebot/candle_tip.ogg
  sound/voice/firebot/electric_fire_tip.ogg
  sound/voice/firebot/gasoline_tip.ogg
  tgstation.dme
  tools/UpdatePaths/Scripts/83861_firebots.txt
Labels: Map Modification

BirdShot Service Department Changes (#84080)
  _maps/map_files/Birdshot/birdshot.dmm
  code/game/turfs/open/floor/fancy_floor.dm
Labels: Map Modification

[MDB IGNORE] Gives telescreens mapping directionals + adds a map lint for them (#84261)
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1.dmm
  _maps/RandomRuins/SpaceRuins/deepstorage.dmm
  _maps/RandomRuins/SpaceRuins/forgottenship.dmm
  _maps/RandomZLevels/moonoutpost19.dmm
  _maps/RandomZLevels/undergroundoutpost45.dmm
  _maps/deathmatch/meta_brig.dmm
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/generic/CentCom.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/map_files/wawastation/wawastation.dmm
  _maps/shuttles/emergency_kilo.dmm
  _maps/templates/battlecruiser_starfury.dmm
  _maps/virtual_domains/syndicate_assault.dmm
  code/__DEFINES/cameranets.dm
  code/game/machinery/computer/telescreen.dm
  icons/obj/wallmounts.dmi
  tools/maplint/lints/telescreen_varedits.yml
Labels: Map Modification, Sprites

fixes infiltrator sprite being misaligned (#84309)
  icons/mob/clothing/modsuit/mod_clothing.dmi
Labels: Sprites

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'
