Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'

Fixes non-sensical attack messages for certain mobs (#84195)
  code/_onclick/item_attack.dm
  code/modules/mob/living/basic/bots/_bots.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
Labels: none

[NO GBP] Piggyback ,strip menu & Paraplegic mouse drop fixes (#84268)
  code/datums/elements/strippable.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defines.dm
Labels: none

Fixes some objects not being pulled with ctrl-click (#84190)
  code/modules/atmospherics/machinery/components/unary_devices/bluespace_sender.dm
  code/modules/hydroponics/hydroponics.dm
Labels: none

Autopsy experiments available roundstart [NO GBP] (#84198)
  code/modules/research/techweb/nodes/medbay_nodes.dm
Labels: none

NT Frontier can read files from data disks (#84189)
  code/modules/modular_computers/computers/item/computer.dm
  code/modules/modular_computers/file_system/programs/frontier.dm
  tgui/packages/tgui/interfaces/NtosScipaper.jsx
Labels: none

Adds pen clicking, changes most pen typechecks into writing implement checks (#84186)
  code/__DEFINES/paper.dm
  code/game/machinery/newscaster/newspaper.dm
  code/game/machinery/porta_turret/portable_turret_construct.dm
  code/game/machinery/suit_storage_unit.dm
  code/game/objects/items/devices/beacon.dm
  code/game/objects/items/implants/implantcase.dm
  code/game/objects/items/implants/implanter.dm
  code/game/objects/items/robot/robot_parts.dm
  code/game/objects/items/signs.dm
  code/game/objects/items/storage/boxes/food_boxes.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/closets/bodybag.dm
  code/game/objects/structures/door_assembly.dm
  code/game/objects/structures/signs/_signs.dm
  code/game/objects/structures/windoor_assembly.dm
  code/modules/cards/singlecard.dm
  code/modules/cargo/supplypod_beacon.dm
  code/modules/food_and_drinks/pizzabox.dm
  code/modules/hydroponics/seeds.dm
  code/modules/library/book.dm
  code/modules/library/bookcase.dm
  code/modules/mob/living/simple_animal/bot/construction.dm
  code/modules/paperwork/folders.dm
  code/modules/paperwork/paperplane.dm
  code/modules/paperwork/pen.dm
  code/modules/photography/photos/photo.dm
  code/modules/reagents/reagent_containers/blood_pack.dm
  code/modules/reagents/reagent_containers/cups/bottle.dm
  code/modules/recycling/sortingmachinery.dm
  code/modules/vending/_vending.dm
  icons/obj/service/bureaucracy.dmi
Labels: Sprites

Orange balloons will now appear in your hands when picked up (#84165)
  icons/obj/toys/balloons.dmi
Labels: Sprites

Nullblade; nullrod for stabbing people in contrived circumstances to get less than equivalent damage to a normal chaplain (#83848)
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/datums/mutations/antenna.dm
  code/modules/jobs/job_types/chaplain/chaplain_nullrod.dm
  code/modules/jobs/job_types/station_trait/human_ai.dm
  code/modules/mob/living/silicon/silicon_say.dm
  icons/mob/clothing/belt.dmi
  icons/mob/clothing/belt_mirror.dmi
  icons/mob/inhands/weapons/swords_lefthand.dmi
  icons/mob/inhands/weapons/swords_righthand.dmi
  icons/obj/weapons/sword.dmi
Labels: Sprites

Tells od lints to shut the fuck up
  tools/ci/od_lints.dm
Labels: none

Refactor modular computer (and application) attackby into item_interaction (#84245)
  code/modules/modular_computers/computers/item/computer.dm
  code/modules/modular_computers/computers/item/pda.dm
  code/modules/modular_computers/computers/machinery/modular_computer.dm
  code/modules/modular_computers/file_system/computer_file.dm
  code/modules/modular_computers/file_system/programs/airestorer.dm
  code/modules/modular_computers/file_system/programs/frontier.dm
  code/modules/modular_computers/file_system/programs/maintenance/modsuit.dm
  code/modules/modular_computers/file_system/programs/techweb.dm
Labels: none

Light eater can eat all lights again (#84162)
  code/datums/elements/light_eater.dm
Labels: none

Spellchecks charater->character (#84251)
  code/__DEFINES/layers.dm
  code/modules/escape_menu/home_page.dm
Labels: none

fixes grammar mistake in raptor emote (#84286)
  code/modules/mob/living/basic/lavaland/raptor/_raptor.dm
Labels: none

Replaces bold HTML tag with ++ in certain secbot/mulebot messages (#84133)
  code/__DEFINES/chat.dm
  code/modules/mob/living/simple_animal/bot/mulebot.dm
  code/modules/mob/living/simple_animal/bot/secbot.dm
Labels: none

Fixes the Stimmed mutation instability being defined twice
  code/datums/mutations/body.dm
Labels: none

Fixes crayons preventing all atom interactions (#84231)
  code/game/objects/items/crayons.dm
Labels: none

Embedding and Nutriment Pump Typos (#84239)
  code/datums/components/embedded.dm
  code/modules/research/designs/medical_designs.dm
Labels: none

Typo fixes and rewrites for some heretic items & traumas (#84214)
  code/datums/brain_damage/severe.dm
  code/datums/mood_events/eldritch_painting_events.dm
  code/modules/antagonists/heretic/items/eldritch_painting.dm
  code/modules/antagonists/heretic/items/forbidden_book.dm
  code/modules/antagonists/heretic/items/heretic_armor.dm
  code/modules/antagonists/heretic/items/madness_mask.dm
  code/modules/antagonists/heretic/knowledge/side_lock_moon.dm
Labels: none

Fixes the Infiltrator Module not having the correct welder protection and not adding the correct traits, improves welding protection defines. (#84240)
  code/__DEFINES/mobs.dm
  code/modules/mod/modules/modules_antag.dm
  code/modules/mod/modules/modules_engineering.dm
Labels: none

Makes toy/riot C20R45's show the correct dart types in their magazines (#84095)
  code/modules/projectiles/ammunition/ballistic/foam.dm
  code/modules/projectiles/boxes_magazines/external/smg.dm
  code/modules/projectiles/boxes_magazines/external/toy.dm
  icons/obj/weapons/guns/ammo.dmi
Labels: Sprites

Adds boards for the book binder and scanner (#83863)
  code/game/objects/items/circuitboards/machines/machine_circuitboards.dm
  code/modules/library/lib_machines.dm
  code/modules/research/designs/machine_designs.dm
  code/modules/research/techweb/nodes/service_nodes.dm
  icons/obj/service/library.dmi
Labels: Sprites

Minebots will no longer attempt to stop you from committing suicide by killing you (#83919)
  code/__DEFINES/ai/ai_blackboard.dm
  code/__DEFINES/ai/pet_commands.dm
  code/datums/components/pet_commands/pet_commands_basic.dm
  code/modules/mob/living/basic/icemoon/wolf/wolf_ai.dm
  code/modules/mob/living/basic/minebots/minebot_ai.dm
  code/modules/mob/living/basic/vermin/cockroach.dm
  code/modules/mob/living/basic/vermin/frog.dm
  code/modules/mob/living/basic/vermin/mouse.dm
  code/modules/mob/living/emote.dm
  code/modules/mob/mob_say.dm
Labels: none

[no gbp] wawa ordnance fixes and qol and stuff (#84105)
  _maps/map_files/wawastation/wawastation.dmm
Labels: Map Modification

Icebox Head of Personnel's Request Console fix (#84211)
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Map Modification

wawastation stand-in shuttle (#84232)
  _maps/shuttles/emergency_wawa.dmm
  _maps/wawastation.json
  code/datums/shuttles/emergency.dm
  code/game/objects/structures/fans.dm
  code/game/objects/structures/plasticflaps.dm
Labels: Map Modification

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-28321.yml
  html/changelogs/AutoChangeLog-pr-28322.yml
  html/changelogs/AutoChangeLog-pr-28323.yml
  html/changelogs/AutoChangeLog-pr-28324.yml
  html/changelogs/AutoChangeLog-pr-28325.yml
  html/changelogs/AutoChangeLog-pr-28326.yml
  html/changelogs/AutoChangeLog-pr-28327.yml
  html/changelogs/AutoChangeLog-pr-28328.yml
  html/changelogs/AutoChangeLog-pr-28329.yml
  html/changelogs/AutoChangeLog-pr-28330.yml
  html/changelogs/AutoChangeLog-pr-28331.yml
  html/changelogs/AutoChangeLog-pr-28332.yml
  html/changelogs/AutoChangeLog-pr-28333.yml
  html/changelogs/AutoChangeLog-pr-28334.yml
  html/changelogs/AutoChangeLog-pr-28335.yml
  html/changelogs/AutoChangeLog-pr-28337.yml
  html/changelogs/AutoChangeLog-pr-28338.yml
  html/changelogs/AutoChangeLog-pr-28339.yml
  html/changelogs/AutoChangeLog-pr-28340.yml
  html/changelogs/AutoChangeLog-pr-28342.yml
  html/changelogs/archive/2024-06.yml
Labels: none

basic vibebot (and small rework) (#84143)
  _maps/shuttles/emergency_cruise.dmm
  code/__DEFINES/ai/bot_keys.dm
  code/__DEFINES/song.dm
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/datums/ai/_ai_controller.dm
  code/datums/components/crafting/robot.dm
  code/datums/station_traits/neutral_traits.dm
  code/modules/mob/living/basic/bots/vibebot/vibebot.dm
  code/modules/mob/living/basic/bots/vibebot/vibebot_abilities.dm
  code/modules/mob/living/basic/bots/vibebot/vibebot_ai.dm
  code/modules/mob/living/simple_animal/bot/vibebot.dm
  code/modules/unit_tests/simple_animal_freeze.dm
  tgstation.dme
  tools/UpdatePaths/Scripts/84143_vibebots.txt
Labels: Map Modification

Fixes the visor of the welding mask going down when you use internals (#84135)
  code/__DEFINES/obj_flags.dm
  code/_globalvars/bitfields.dm
  code/modules/clothing/masks/gasmask.dm
  code/modules/mob/living/carbon/human/inventory.dm
Labels: none

Makes interacting with an assembly bomb interact with the assembly instead of opening the tank UI (#84075)
  code/game/objects/items/tanks/tanks.dm
  code/modules/assembly/mousetrap.dm
Labels: none

Anomaly fix/code improvement (#84072)
  code/game/objects/effects/anomalies/_anomalies.dm
Labels: none

Update antag_datum.dm
  code/modules/antagonists/_common/antag_datum.dm
Labels: none

durand shield is a tad bit stronger and also doesnt immediately depower the mech when taking stamina damage (#84043)
  code/modules/vehicles/mecha/combat/durand.dm
Labels: none

Update robot_model.dm
  code/modules/mob/living/silicon/robot/robot_model.dm
Labels: none

Update belts.dm
  modular_skyrat/modules/customization/modules/clothing/storage/belts.dm
Labels: none

Update sunrise.dmm
  _maps/deathmatch/sunrise.dmm
Labels: Map Modification

Fixed teeth pill overload by adding a teeth count to species
  code/modules/surgery/bodyparts/head.dm
  code/modules/surgery/bodyparts/species_parts/ethereal_bodyparts.dm
  code/modules/surgery/bodyparts/species_parts/lizard_bodyparts.dm
  code/modules/surgery/bodyparts/species_parts/misc_bodyparts.dm
  code/modules/surgery/bodyparts/species_parts/moth_bodyparts.dm
  code/modules/surgery/dental_implant.dm
Labels: none

space dragon can see in the dark + unga-brain-proofs the rift ballon alert (#83811)
  code/modules/antagonists/space_dragon/carp_rift.dm
  code/modules/mob/living/basic/space_fauna/space_dragon/space_dragon.dm
Labels: none

Adds rounding to research points to prevent floating point errors from occuring (#84282)
  code/modules/research/techweb/_techweb.dm
Labels: none

Bitrunning: Avatars get silly hacker names (#84279)
  code/__DEFINES/atom_hud.dm
  code/_globalvars/lists/names.dm
  code/datums/id_trim/outfits.dm
  code/modules/bitrunning/components/avatar_connection.dm
  code/modules/bitrunning/server/obj_generation.dm
  code/modules/client/preferences/names.dm
  icons/mob/huds/hud.dmi
  strings/names/hackers.txt
  tgui/packages/tgui/interfaces/Orbit/OrbitContent.tsx
Labels: Sprites

Slime Nutrition Minimization (#84278)
  code/__DEFINES/mobs.dm
  code/__DEFINES/research/slimes.dm
  code/modules/mob/living/basic/slime/life.dm
Labels: none
