Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'

[MIRROR] Changes blood filter min to clamp per Melbert's suggestion (#28741)
  code/modules/surgery/blood_filter.dm
Labels: none

[MIRROR] You can now spill reagents out of ice cream vats (#28738)
  code/modules/food_and_drinks/machinery/icecream_vat.dm
Labels: none

Add hypospray/flashlight to labcoat pockets (#28722)
  modular_skyrat/master_files/code/modules/clothing/suits/labcoat.dm
Labels: none

Automatic changelog for PR #28743 [ci skip]
  html/changelogs/AutoChangeLog-pr-28743.yml
Labels: none

Automatic changelog for PR #28742 [ci skip]
  html/changelogs/AutoChangeLog-pr-28742.yml
Labels: none

Automatic changelog for PR #28741 [ci skip]
  html/changelogs/AutoChangeLog-pr-28741.yml
Labels: none

Automatic changelog for PR #28738 [ci skip]
  html/changelogs/AutoChangeLog-pr-28738.yml
Labels: none

Automatic changelog for PR #28722 [ci skip]
  html/changelogs/AutoChangeLog-pr-28722.yml
Labels: none

Fixes Exosuit Stress Failure not working (#84776)
  code/modules/experisci/experiment/experiments.dm
Labels: none

Lighter/zippo/cigarette sounds
  code/game/objects/items/cigs_lighters.dm
  sound/items/attributions.txt
  sound/items/cig_light.ogg
  sound/items/cig_snuff.ogg
  sound/items/lighter_off.ogg
  sound/items/lighter_on.ogg
  sound/items/zippo_off.ogg
  sound/items/zippo_on.ogg
Labels: none

[NO GBP] Fixes the loot weight config + maintenance spawner nitpick (#84777)
  code/game/objects/effects/spawners/random/maintenance.dm
  code/game/objects/effects/spawners/random/random.dm
Labels: none

Fix chem dispenser feedback (#84781)
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
Labels: none

Various minor fixes for the remaining shuttles (#84667)
  _maps/shuttles/cargo_delta.dmm
  _maps/shuttles/cargo_kilo.dmm
  _maps/shuttles/cargo_pubby.dmm
  _maps/shuttles/ert_bounty.dmm
  _maps/shuttles/ferry_base.dmm
  _maps/shuttles/ferry_lighthouse.dmm
  _maps/shuttles/ferry_meat.dmm
  code/datums/shuttles/arrival.dm
  code/datums/shuttles/cargo.dm
  code/datums/shuttles/ferry.dm
Labels: Map Modification

Converts common speech modifiers into a component
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_carbon.dm
  code/datums/components/speechmod.dm
  code/datums/mutations/_mutations.dm
  code/datums/mutations/hulk.dm
  code/datums/mutations/speech.dm
  code/game/machinery/dna_infuser/organ_sets/fly_organs.dm
  code/modules/clothing/head/frenchberet.dm
  code/modules/clothing/masks/_masks.dm
  code/modules/clothing/masks/animal_masks.dm
  code/modules/clothing/masks/boxing.dm
  code/modules/clothing/masks/gondola.dm
  code/modules/clothing/masks/moustache.dm
  code/modules/surgery/organs/internal/tongue/_tongue.dm
  strings/elvis_replacement.json
  strings/luchador_replacement.json
  tgstation.dme
Labels: none

Update cigs_lighters.dm
  code/game/objects/items/cigs_lighters.dm
Labels: none

Delete modular_skyrat/master_files/sound/items/zippo_open.ogg
  modular_skyrat/master_files/sound/items/zippo_open.ogg
Labels: none

merge conflict
  _maps/shuttles/pirate_silverscale.dmm
Labels: Map Modification

modular fixes
  _maps/RandomRuins/SpaceRuins/skyrat/ghostship.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/salvagepost.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/NSVBlueshift/Blueshift.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Map Modification

Update status_procs.dm
  code/modules/mob/living/carbon/status_procs.dm
Labels: none

Update stamcrit.dm
  code/datums/status_effects/debuffs/stamcrit.dm
Labels: none

fix
  _maps/RandomRuins/SpaceRuins/skyrat/ghostship.dmm
Labels: Map Modification

[MIRROR] [MDB IGNORE] Map lints the `piping_layer` var and scrubs it off our maps (#28726)
  _maps/RandomRuins/IceRuins/icemoon_surface_phonebooth.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_phonebooth.dmm
  _maps/RandomRuins/SpaceRuins/phonebooth.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/ghostship.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/salvagepost.dmm
  _maps/RandomZLevels/snowdin.dmm
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NSVBlueshift/Blueshift.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/map_files/wawastation/wawastation.dmm
  _maps/shuttles/whiteship_pubby.dmm
  code/game/machinery/computer/atmos_computers/inlets.dm
  code/modules/atmospherics/machinery/components/tank.dm
  code/modules/atmospherics/machinery/components/trinary_devices/mixer.dm
  code/modules/atmospherics/machinery/components/unary_devices/thermomachine.dm
  tools/maplint/lints/atmos_var_edits.yml
Labels: Map Modification

Automatic changelog for PR #28726 [ci skip]
  html/changelogs/AutoChangeLog-pr-28726.yml
Labels: none

[MIRROR] Updates the pipe mapping macro to support `piping_layer` (#28739)
  code/modules/atmospherics/machinery/pipes/mapping.dm
Labels: none

[MIRROR] Adds additional equipment for Silverscales. (#28694)
  _maps/shuttles/pirate_silverscale.dmm
  code/modules/antagonists/pirate/pirate_outfits.dm
  code/modules/clothing/spacesuits/pirate.dm
  code/modules/clothing/spacesuits/syndi.dm
  code/modules/projectiles/ammunition/ballistic/rifle.dm
  code/modules/projectiles/boxes_magazines/ammo_boxes.dm
  code/modules/projectiles/boxes_magazines/internal/rifle.dm
  code/modules/projectiles/guns/ballistic/rifle.dm
  code/modules/projectiles/projectile/bullets/rifle.dm
  icons/mob/clothing/head/spacehelm.dmi
  icons/mob/clothing/suits/spacesuit.dmi
  icons/obj/clothing/head/spacehelm.dmi
  icons/obj/clothing/suits/spacesuit.dmi
Labels: Map Modification, Sprites

Automatic changelog for PR #28694 [ci skip]
  html/changelogs/AutoChangeLog-pr-28694.yml
Labels: none

[MIRROR] Fixes an unrestricted airlock in metastation brig maints (#28729)
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Modification

Automatic changelog for PR #28729 [ci skip]
  html/changelogs/AutoChangeLog-pr-28729.yml
Labels: none

Update akh_frontier.dm
  modular_skyrat/modules/company_imports/code/armament_datums/akh_frontier.dm
Labels: none

[MIRROR] exodrone sign part 2 (#28733)
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/map_files/wawastation/wawastation.dmm
  code/game/objects/structures/signs/signs_departments.dm
  icons/obj/signs.dmi
Labels: Map Modification, Sprites

Update dna.dm
  code/datums/dna.dm
Labels: none

Update felinid.dm
  code/modules/client/preferences/species_features/felinid.dm
Labels: none

Update lizard.dm
  code/modules/client/preferences/species_features/lizard.dm
Labels: none

Update monkey.dm
  code/modules/client/preferences/species_features/monkey.dm
Labels: none

[MIRROR] Adds a signal to the stamina crit status effect for listeners to respond to (#28734)
  code/__DEFINES/combat.dm
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_carbon.dm
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_living.dm
  code/datums/status_effects/debuffs/stamcrit.dm
  code/modules/mob/living/carbon/status_procs.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/surgery/organs/internal/cyberimp/augments_internal.dm
Labels: none

[MIRROR] Lighter/zippo/cigarette sounds (#28748)
  code/game/objects/items/cigs_lighters.dm
  modular_skyrat/master_files/sound/items/zippo_open.ogg
  sound/items/attributions.txt
  sound/items/cig_light.ogg
  sound/items/cig_snuff.ogg
  sound/items/lighter_off.ogg
  sound/items/lighter_on.ogg
  sound/items/zippo_off.ogg
  sound/items/zippo_on.ogg
Labels: none

[MIRROR] [NO GBP] Fixes the loot weight config + maintenance spawner nitpick (#28749)
  code/game/objects/effects/spawners/random/maintenance.dm
  code/game/objects/effects/spawners/random/random.dm
Labels: none

[MIRROR] Fix chem dispenser feedback (#28750)
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
Labels: none

[MIRROR] Various minor fixes for the remaining shuttles (#28751)
  _maps/shuttles/cargo_delta.dmm
  _maps/shuttles/cargo_kilo.dmm
  _maps/shuttles/cargo_pubby.dmm
  _maps/shuttles/ert_bounty.dmm
  _maps/shuttles/ferry_base.dmm
  _maps/shuttles/ferry_lighthouse.dmm
  _maps/shuttles/ferry_meat.dmm
  code/datums/shuttles/arrival.dm
  code/datums/shuttles/cargo.dm
  code/datums/shuttles/ferry.dm
Labels: Map Modification

Adds prybar and colony fabricator back to Company Imports (#28753)
  modular_skyrat/modules/company_imports/code/armament_datums/akh_frontier.dm
Labels: none
