Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

Refactors projectile parrying and makes it actually possible.
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_living.dm
  code/__DEFINES/dcs/signals/signals_object.dm
  code/__DEFINES/traits/declarations.dm
  code/__DEFINES/traits/sources.dm
  code/_globalvars/traits/_traits.dm
  code/_globalvars/traits/admin_tooling.dm
  code/datums/components/parry.dm
  code/datums/components/style/style.dm
  code/datums/components/style/style_meter.dm
  code/datums/status_effects/debuffs/debuffs.dm
  code/game/objects/items/hand_items.dm
  code/modules/mining/equipment/kinetic_crusher.dm
  code/modules/mob/living/basic/lavaland/bileworm/bileworm_actions.dm
  code/modules/mob/living/basic/lavaland/watcher/watcher_projectiles.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/herald.dm
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
  code/modules/projectiles/projectile.dm
Labels: none

Fixed null description in cerulean regenerative extract (#85089)
  code/modules/research/xenobiology/crossbreeding/regenerative.dm
Labels: none

Context maptext now properly dynamically adjusts itself instead of using hardcoded pixel values (#85088)
  code/game/atom/_atom.dm
Labels: none

Fixes organizer sometimes deleting brains (#85076)
  code/modules/mod/modules/modules_medical.dm
Labels: none

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-28878.yml
  html/changelogs/AutoChangeLog-pr-28899.yml
  html/changelogs/AutoChangeLog-pr-28909.yml
  html/changelogs/AutoChangeLog-pr-28922.yml
  html/changelogs/AutoChangeLog-pr-28924.yml
  html/changelogs/AutoChangeLog-pr-28925.yml
  html/changelogs/AutoChangeLog-pr-28926.yml
  html/changelogs/AutoChangeLog-pr-28927.yml
  html/changelogs/AutoChangeLog-pr-28928.yml
  html/changelogs/AutoChangeLog-pr-28931.yml
  html/changelogs/AutoChangeLog-pr-28932.yml
  html/changelogs/AutoChangeLog-pr-28934.yml
  html/changelogs/AutoChangeLog-pr-28935.yml
  html/changelogs/AutoChangeLog-pr-28936.yml
  html/changelogs/AutoChangeLog-pr-28937.yml
  html/changelogs/AutoChangeLog-pr-28938.yml
  html/changelogs/archive/2024-07.yml
Labels: none

Update clothing.dm
  code/modules/client/preferences/clothing.dm
Labels: none

[MIRROR] Emitters and Shieldgens work roundstart, APCs charge evenly (#28897)
  code/__DEFINES/subsystems.dm
  code/controllers/subsystem/machines.dm
  code/modules/power/apc/apc_main.dm
  code/modules/unit_tests/embedding.dm
Labels: none

Automatic changelog for PR #28897 [ci skip]
  html/changelogs/AutoChangeLog-pr-28897.yml
Labels: none

fix embed
  code/modules/projectiles/projectile.dm
  code/modules/unit_tests/embedding.dm
Labels: none

Fixes Embed check (#28961)
  code/modules/projectiles/projectile.dm
  code/modules/unit_tests/embedding.dm
Labels: none

modular fixes
  modular_skyrat/modules/aesthetics/storage/storage.dm
  modular_skyrat/modules/borg_buffs/code/robot.dm
  modular_skyrat/modules/borgs/code/robot_upgrade.dm
  modular_skyrat/modules/borgs/icons/robot_items.dmi
Labels: Sprites

Update robot_upgrade.dm
  modular_skyrat/modules/borgs/code/robot_upgrade.dm
Labels: none

Implement hat offsets
  code/__DEFINES/~skyrat_defines/robot_defines.dm
  code/modules/mob/living/silicon/robot/robot_model.dm
  modular_skyrat/modules/borgs/code/robot.dm
  modular_skyrat/modules/borgs/code/robot_model.dm
  modular_skyrat/modules/borgs/code/update_icons.dm
  modular_skyrat/modules/ghostcafe/code/robot_ghostcafe.dm
Labels: none

More missed prs (#28921)
  _maps/map_files/Mining/Lavaland.dmm
  code/_globalvars/lists/maintenance_loot.dm
  code/_onclick/hud/new_player.dm
  code/_onclick/hud/parallax/parallax.dm
  code/_onclick/hud/screen_objects.dm
  code/datums/components/tackle.dm
  code/game/area/areas/mining.dm
  code/game/machinery/washing_machine.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/game/objects/structures/beds_chairs/chair.dm
  code/modules/clothing/gloves/color.dm
  code/modules/clothing/gloves/tacklers.dm
  code/modules/jobs/job_types/head_of_security.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/jobs/job_types/station_trait/human_ai.dm
  code/modules/jobs/job_types/warden.dm
  code/modules/library/bookcase.dm
  code/modules/mafia/outfits.dm
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/vending/security.dm
  code/modules/vending/wardrobes.dm
  html/changelogs/AutoChangeLog-pr-84929.yml
  html/changelogs/AutoChangeLog-pr-84965.yml
  html/changelogs/AutoChangeLog-pr-84967.yml
  html/changelogs/AutoChangeLog-pr-84972.yml
  html/changelogs/AutoChangeLog-pr-84974.yml
  icons/mob/clothing/hands.dmi
  icons/obj/clothing/gloves.dmi
  modular_skyrat/master_files/icons/obj/clothing/gloves.dmi
  modular_skyrat/modules/goofsec/code/sec_clothing_overrides.dm
Labels: Map Modification, Sprites

Monkification Fixes Fixes (#85104)
  code/datums/dna.dm
  code/datums/mutations/body.dm
  code/game/machinery/computer/dna_console.dm
  tgui/packages/tgui/interfaces/DnaConsole/DnaScanner.jsx
  tgui/packages/tgui/interfaces/DnaConsole/constants.ts
Labels: none

Update experimentor.dm
  code/modules/research/experimentor.dm
Labels: none

[MIRROR] Fixed new charger power not working (#28823)
  code/modules/research/experimentor.dm
Labels: none

Automatic changelog for PR #28823 [ci skip]
  html/changelogs/AutoChangeLog-pr-28823.yml
Labels: none

[MIRROR] The Voidwalker | New Midround Antagonist [MDB IGNORE] (#3755)
  code/__DEFINES/lazy_templates.dm
  code/__DEFINES/role_preferences.dm
  code/modules/admin/sql_ban_system.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
Labels: none

[READY] the unfuckening of clothing rendering (#79784)
  code/modules/client/preferences/clothing.dm
  modular_skyrat/master_files/code/modules/client/preferences/clothing.dm
Labels: none

Update apc_main.dm
  code/modules/power/apc/apc_main.dm
Labels: none

Update apc_main.dm
  code/modules/power/apc/apc_main.dm
Labels: none

Update apc_main.dm
  code/modules/power/apc/apc_main.dm
Labels: none

[MIRROR] Adds informed default values for a bunch of preferences (to produce less outlandish random characters) (#28688)
  code/__HELPERS/mobs.dm
  code/modules/admin/create_mob.dm
  code/modules/client/preferences/_preference.dm
  code/modules/client/preferences/age.dm
  code/modules/client/preferences/blindfold_color.dm
  code/modules/client/preferences/body_type.dm
  code/modules/client/preferences/clothing.dm
  code/modules/client/preferences/gender.dm
  code/modules/client/preferences/glasses.dm
  code/modules/client/preferences/language.dm
  code/modules/client/preferences/prosthetic_limb.dm
  code/modules/client/preferences/prosthetic_organ.dm
  code/modules/client/preferences/species_features/basic.dm
  code/modules/client/preferences/species_features/felinid.dm
  code/modules/client/preferences/species_features/lizard.dm
  code/modules/client/preferences/species_features/monkey.dm
  code/modules/client/preferences/trans_prosthetic.dm
  code/modules/client/preferences_savefile.dm
  modular_skyrat/master_files/code/modules/client/preferences/clothing.dm
Labels: none

Automatic changelog for PR #28688 [ci skip]
  html/changelogs/AutoChangeLog-pr-28688.yml
Labels: none

[MIRROR] Changes some default values from character creation and random characters (#28847)
  code/modules/client/preferences/clothing.dm
Labels: none

[MIRROR] Bodypart overlays provide emissive blockers (#28923)
  code/datums/bodypart_overlays/bodypart_overlay.dm
  code/datums/bodypart_overlays/texture_bodypart_overlay.dm
Labels: none

Automatic changelog for PR #28847 [ci skip]
  html/changelogs/AutoChangeLog-pr-28847.yml
Labels: none

Automatic changelog for PR #28923 [ci skip]
  html/changelogs/AutoChangeLog-pr-28923.yml
Labels: none

Update machines.dm
  code/controllers/subsystem/machines.dm
Labels: none

Update light.dm
  code/modules/power/lighting/light.dm
Labels: none

Update light.dm
  code/modules/power/lighting/light.dm
Labels: none

Fixes some ctrl/alt click interactions, and a random suit (#3740)
  modular_skyrat/master_files/code/game/machinery/doors/firedoor.dm
  modular_skyrat/master_files/code/modules/clothing/towels.dm
  modular_skyrat/master_files/code/modules/reagents/reagent_containers.dm
  modular_skyrat/modules/customization/modules/clothing/toggle_base.dm
  modular_skyrat/modules/kahraman_equipment/code/clothing/clothing.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_structures/dancing_pole.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_structures/shibari_stand.dm
Labels: none

fix an old thing
  code/modules/mob/living/silicon/robot/robot.dm
Labels: none

fix icons
  modular_skyrat/modules/aesthetics/storage/storage.dm
  modular_skyrat/modules/aesthetics/storage/storage.dmi
Labels: Sprites

fix
  modular_skyrat/modules/aesthetics/storage/storage.dmi
Labels: Sprites

Update emote.dm
  code/modules/mob/emote.dm
Labels: none

Update storage.dm
  modular_skyrat/modules/aesthetics/storage/storage.dm
Labels: none

[MIRROR] Buffing some awful black market items to be less awful. (#28856)
  code/game/objects/items/storage/boxes/security_boxes.dm
  code/modules/cargo/markets/market_items/clothing.dm
  code/modules/cargo/markets/market_items/consumables.dm
  code/modules/cargo/markets/market_items/misc.dm
  code/modules/cargo/markets/market_items/tools.dm
  code/modules/cargo/markets/market_items/weapons.dm
  code/modules/clothing/glasses/hud.dm
  code/modules/projectiles/ammunition/ballistic/shotgun.dm
  code/modules/reagents/reagent_containers/cups/bottle.dm
  icons/obj/storage/box.dmi
  modular_skyrat/modules/aesthetics/storage/storage.dm
  modular_skyrat/modules/aesthetics/storage/storage.dmi
  modular_skyrat/modules/company_imports/code/objects/hud_glasses.dm
  modular_skyrat/modules/customization/modules/clothing/glasses/hud.dm
  modular_skyrat/modules/modular_items/code/modular_glasses.dm
Labels: Sprites

Automatic changelog for PR #28856 [ci skip]
  html/changelogs/AutoChangeLog-pr-28856.yml
Labels: none

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'
