Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'

Automatic changelog for PR #29563 [ci skip]
  html/changelogs/AutoChangeLog-pr-29563.yml
Labels: none

[MIRROR] Fixes polling returning a list full of nulls when not enough candidates are available (#29565)
  code/controllers/subsystem/polling.dm
Labels: none

Automatic changelog for PR #29565 [ci skip]
  html/changelogs/AutoChangeLog-pr-29565.yml
Labels: none

snake eater
  modular_skyrat/modules/nanotrasen_rep/code/nanotrasen_consultant.dm
Labels: none

snake eaaatteerrr
  code/datums/outfit.dm
Labels: none

the one who inherit the title of the boss
  code/game/machinery/computer/telescreen.dm
Labels: none

Balance Adjustment 8 (#29560)
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/jobs/job_types/security_officer.dm
  modular_skyrat/modules/aesthetics/guns/code/guns.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/nanotrasen_system_inc/magazine.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/nanotrasen_system_inc/pistol.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/rifle.dm
  modular_skyrat/modules/modular_weapons/icons/obj/company_and_or_faction_based/nanotrasen_system_inc/ammo.dmi
  modular_skyrat/modules/modular_weapons/icons/obj/company_and_or_faction_based/nanotrasen_system_inc/pistol.dmi
  modular_skyrat/modules/nanotrasen_rep/code/nanotrasen_consultant.dm
  modular_skyrat/modules/sec_haul/code/misc/packs.dm
  modular_skyrat/modules/sec_haul/code/technode/all_nodes.dm
  modular_skyrat/modules/sec_haul/code/technode/sec_research.dm
  modular_skyrat/modules/shotgunrebalance/code/shotgun.dm
Labels: Sprites

Automatic changelog for PR #29560 [ci skip]
  html/changelogs/AutoChangeLog-pr-29560.yml
Labels: none

Blackbox logging for remaining time on anomaly defusal (#86044)
  code/game/objects/effects/anomalies/_anomalies.dm
Labels: none

[NO GBP] Fixes the chainsaw evolution for goldfishes
  code/modules/fishing/fish/fish_evolution.dm
Labels: none

Update suit.dmi
  modular_skyrat/master_files/icons/mob/clothing/suit.dmi
Labels: Sprites

Fixes a typo on snowdin shuttle transi(s)t consoles (#86055)
  _maps/RandomZLevels/snowdin.dmm
Labels: Map Modification

Re-adds erroneously removed deathmatch maps (for real this time)
  code/modules/deathmatch/deathmatch_maps.dm
Labels: none

Fix closed flannel sprite (#29570)
  modular_skyrat/master_files/icons/mob/clothing/suit.dmi
Labels: Sprites

[MIRROR] Hides no longer clang like metal (#29564)
  code/game/objects/items/stacks/sheets/leather.dm
Labels: none

Automatic changelog for PR #29570 [ci skip]
  html/changelogs/AutoChangeLog-pr-29570.yml
Labels: none

Automatic changelog for PR #29564 [ci skip]
  html/changelogs/AutoChangeLog-pr-29564.yml
Labels: none

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-29560.yml
  html/changelogs/AutoChangeLog-pr-29561.yml
  html/changelogs/AutoChangeLog-pr-29563.yml
  html/changelogs/AutoChangeLog-pr-29564.yml
  html/changelogs/AutoChangeLog-pr-29565.yml
  html/changelogs/AutoChangeLog-pr-29570.yml
  html/changelogs/archive/2024-08.yml
Labels: none

Update back.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/back.dmi
Labels: Sprites

fixes blob spore and slime AI endlessly attacking the dead (#86057)
  code/modules/mob/living/basic/blob_minions/blob_ai.dm
  code/modules/mob/living/basic/slime/ai/behaviours.dm
  code/modules/mob/living/basic/slime/ai/subtrees.dm
  code/modules/mob/living/basic/slime/slime.dm
Labels: none

Refactors creampies and face paint into a single face_decal component (#86014)
  code/datums/bodypart_overlays/simple_bodypart_overlay.dm
  code/datums/components/creamed.dm
  code/datums/components/face_decal.dm
  code/game/objects/items/crayons.dm
  code/game/objects/items/food/pie.dm
  code/game/objects/items/syndie_spraycan.dm
  code/modules/surgery/bodyparts/dismemberment.dm
  icons/mob/human/human_face.dmi
  icons/mob/human/species/misc/bodypart_overlay_simple.dmi
  tgstation.dme
Labels: Sprites

- to _
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/back.dmi
Labels: Sprites

Update sec_clothing_overrides.dm
  modular_skyrat/modules/goofsec/code/sec_clothing_overrides.dm
Labels: none

Update pistol.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/nanotrasen_system_inc/pistol.dm
Labels: none

this better work
  modular_skyrat/modules/goofsec/code/sec_clothing_overrides.dm
Labels: none

forgot
  modular_skyrat/modules/goofsec/code/sec_clothing_overrides.dm
Labels: none

[MIRROR] fixes blob spore and slime AI endlessly attacking the dead (#29573)
  code/modules/mob/living/basic/blob_minions/blob_ai.dm
  code/modules/mob/living/basic/slime/ai/behaviours.dm
  code/modules/mob/living/basic/slime/ai/subtrees.dm
  code/modules/mob/living/basic/slime/slime.dm
Labels: none

Teshari clothes update 2/? (#29562)
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/back.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/mask.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/neck.dmi
  modular_skyrat/modules/GAGS/greyscale_configs.dm
  modular_skyrat/modules/GAGS/icons/teshari_fallbacks.dmi
  modular_skyrat/modules/GAGS/json_configs/teshari_fallbacks/jacket.json
  modular_skyrat/modules/GAGS/json_configs/teshari_fallbacks/longcoat.json
  modular_skyrat/modules/GAGS/json_configs/teshari_fallbacks/mantle.json
  modular_skyrat/modules/GAGS/json_configs/teshari_fallbacks/thickrobe.json
  modular_skyrat/modules/GAGS/json_configs/teshari_fallbacks/wizrobe.json
  modular_skyrat/modules/teshari/code/_clothing_defines.dm
  modular_skyrat/modules/teshari/code/teshari_clothes.dm
Labels: Sprites

[MIRROR] Fix grammar error on Hilbert (#29549)
  code/modules/mapfluff/ruins/spaceruin_code/hilbertshotel.dm
Labels: none

[MIRROR] Update README.md to include how to actually get help (#29566)
  README.md
Labels: none

Automatic changelog for PR #29573 [ci skip]
  html/changelogs/AutoChangeLog-pr-29573.yml
Labels: none

Cleanup flag for helmet related thing (#29575)
  modular_skyrat/modules/goofsec/code/sec_clothing_overrides.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/nanotrasen_system_inc/pistol.dm
Labels: none

Automatic changelog for PR #29562 [ci skip]
  html/changelogs/AutoChangeLog-pr-29562.yml
Labels: none

Automatic changelog for PR #29549 [ci skip]
  html/changelogs/AutoChangeLog-pr-29549.yml
Labels: none

Automatic changelog for PR #29575 [ci skip]
  html/changelogs/AutoChangeLog-pr-29575.yml
Labels: none

Update VoidRaptor.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Map Modification

fix voidraptor runtime (#29576)
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Map Modification

[MIRROR] Refactors creampies and face paint into a single face_decal component (#29574)
  code/datums/bodypart_overlays/simple_bodypart_overlay.dm
  code/datums/components/creamed.dm
  code/datums/components/face_decal.dm
  code/game/objects/items/crayons.dm
  code/game/objects/items/food/pie.dm
  code/game/objects/items/syndie_spraycan.dm
  code/modules/surgery/bodyparts/dismemberment.dm
  icons/mob/human/human_face.dmi
  icons/mob/human/species/misc/bodypart_overlay_simple.dmi
  tgstation.dme
Labels: Sprites

Salt electrolysis (#85304)
  code/modules/reagents/chemistry/recipes/others.dm
Labels: none

Bioscrambler anomalies no longer affect inorganic species (#86061)
  code/modules/antagonists/voidwalker/voidwalker_species.dm
  code/modules/mob/living/carbon/carbon_defense.dm
Labels: none
