Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'

Robotic blessed lobotomy (#29176)
  modular_skyrat/modules/synths/code/surgery/mechanic_steps.dm
  modular_skyrat/modules/synths/code/surgery/robot_brain_surgery.dm
Labels: none

[MIRROR] Sentience potions can now be used without a summon reason (#29177)
  code/modules/research/xenobiology/xenobiology.dm
Labels: none

[MIRROR] NODE drones now show their wave progress on the sprite (#29178)
  code/__DEFINES/mining.dm
  code/game/objects/structures/lavaland/ore_vent.dm
  code/modules/mob/living/basic/lavaland/node_drone/node_drone.dm
  icons/obj/mining.dmi
Labels: Sprites

[MIRROR] Machines check their parts during initialization (#29179)
  code/game/machinery/_machinery.dm
  code/game/machinery/medipen_refiller.dm
Labels: none

[MIRROR] [no gbp] adds a hand labeller to wawa pharmacy (#29180)
  _maps/map_files/wawastation/wawastation.dmm
Labels: Map Modification

[MIRROR] [no gbp] Assorted birdshot engineering feedback (#29181)
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Map Modification

[MIRROR] [no gbp] Fixes rods not having sound_vary on (#29182)
  code/game/objects/items/stacks/rods.dm
Labels: none

[MIRROR] Fix gas meters (#29183)
  code/datums/greyscale/json_configs/meter.json
  icons/obj/pipes_n_cables/meter.dmi
Labels: Sprites

[MIRROR] Adds a bronze dimensional theme (#29187)
  code/game/objects/effects/anomalies/anomalies_dimensional_themes.dm
Labels: none

[MIRROR] Add some missing mob traits to VV list (#29190)
  code/_globalvars/traits/_traits.dm
  code/_globalvars/traits/admin_tooling.dm
Labels: none

[MIRROR] [NO GBP] shoving someone over onto a table and knocking them down causes them to be shove stun vulnerable. (#29192)
  code/game/objects/structures/tables_racks.dm
Labels: none

[MIRROR] Callouts and MODsuit quick module pickers now track user (#29193)
  code/_onclick/hud/radial.dm
  code/datums/components/callouts.dm
  code/modules/mod/mod_control.dm
Labels: none

[MIRROR] Stop clientless lobstrosities from fishing other lobstrosities and the necropolis chest (#29194)
  code/modules/fishing/sources/_fish_source.dm
Labels: none

[NOVA PORT] Male bit-size updates (#3232) (#29195)
  code/__DEFINES/~skyrat_defines/DNA.dm
  modular_skyrat/master_files/code/modules/client/preferences/genitals.dm
  modular_skyrat/master_files/icons/mob/sprite_accessory/genitals/taur_testicles_onmob.dmi
  modular_skyrat/master_files/icons/mob/sprite_accessory/genitals/testicles_onmob.dmi
  modular_skyrat/modules/customization/_globalvars/lists.dm
  modular_skyrat/modules/customization/modules/surgery/organs/genitals.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/skyrat/genitals.tsx
Labels: Sprites

[MIRROR] New Uplink UI (#29196)
  code/__DEFINES/uplink.dm
  code/datums/components/uplink.dm
  code/modules/antagonists/traitor/uplink_handler.dm
  code/modules/asset_cache/assets/uplink.dm
  code/modules/uplink/uplink_items/bundle.dm
  tgui/packages/tgui/interfaces/AntagInfoMalf.tsx
  tgui/packages/tgui/interfaces/Uplink/GenericUplink.tsx
  tgui/packages/tgui/interfaces/Uplink/PrimaryObjectiveMenu.tsx
  tgui/packages/tgui/interfaces/Uplink/calculateDangerLevel.tsx
  tgui/packages/tgui/interfaces/Uplink/index.tsx
Labels: none

[MIRROR] Skills are passed down to bitrunning avatars and then back to the original body. (#29198)
  code/modules/bitrunning/components/avatar_connection.dm
Labels: none

[MIRROR] Stuffing people into contractor pods now unbuckles them first (#29199)
  code/modules/cargo/supplypod.dm
Labels: none

[MIRROR] Makes cyborg damage more... showy (#29201)
  code/game/objects/effects/particles/fire.dm
  code/game/objects/effects/particles/smoke.dm
  code/modules/mob/living/silicon/robot/death.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_defense.dm
  code/modules/mob/living/silicon/robot/robot_defines.dm
  icons/mob/silicon/robots.dmi
Labels: Sprites

Adjusts chat color % to NCM_COLOR_SAT_MAX instead, as intended (#29202)
  modular_skyrat/modules/chat_colors/code/chat_color.dm
Labels: none

Fix bouncer being excluded from service department (#29207)
  code/__DEFINES/jobs.dm
  modular_skyrat/modules/goofsec/code/department_guards.dm
Labels: none

Removes synth organs from being 'organic' for bounties. (#29208)
  modular_skyrat/master_files/code/modules/cargo/bounties/medical.dm
Labels: none

[MIRROR] Revert "Fixes temperature getting stuck in offset equalibrium causing lizards to die if wearing thermal insulation" (#29211)
  code/modules/mob/living/carbon/human/_species.dm
Labels: none

Automatic changelog for PR #29156 [ci skip]
  html/changelogs/AutoChangeLog-pr-29156.yml
Labels: none

Automatic changelog for PR #29160 [ci skip]
  html/changelogs/AutoChangeLog-pr-29160.yml
Labels: none

Automatic changelog for PR #29161 [ci skip]
  html/changelogs/AutoChangeLog-pr-29161.yml
Labels: none

Automatic changelog for PR #29162 [ci skip]
  html/changelogs/AutoChangeLog-pr-29162.yml
Labels: none

Automatic changelog for PR #29163 [ci skip]
  html/changelogs/AutoChangeLog-pr-29163.yml
Labels: none

Update tgstation.dme
  tgstation.dme
Labels: none

Automatic changelog for PR #29168 [ci skip]
  html/changelogs/AutoChangeLog-pr-29168.yml
Labels: none

Automatic changelog for PR #29169 [ci skip]
  html/changelogs/AutoChangeLog-pr-29169.yml
Labels: none

Automatic changelog for PR #29173 [ci skip]
  html/changelogs/AutoChangeLog-pr-29173.yml
Labels: none

yarn.lock rebuild
  tgui/yarn.lock
Labels: none

Automatic changelog for PR #29176 [ci skip]
  html/changelogs/AutoChangeLog-pr-29176.yml
Labels: none

Automatic changelog for PR #29177 [ci skip]
  html/changelogs/AutoChangeLog-pr-29177.yml
Labels: none

Automatic changelog for PR #29178 [ci skip]
  html/changelogs/AutoChangeLog-pr-29178.yml
Labels: none

Automatic changelog for PR #29179 [ci skip]
  html/changelogs/AutoChangeLog-pr-29179.yml
Labels: none

Automatic changelog for PR #29180 [ci skip]
  html/changelogs/AutoChangeLog-pr-29180.yml
Labels: none

Automatic changelog for PR #29181 [ci skip]
  html/changelogs/AutoChangeLog-pr-29181.yml
Labels: none

Automatic changelog for PR #29182 [ci skip]
  html/changelogs/AutoChangeLog-pr-29182.yml
Labels: none

Automatic changelog for PR #29183 [ci skip]
  html/changelogs/AutoChangeLog-pr-29183.yml
Labels: none
