Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'

Canister shielding fixes (#84397)
  code/modules/atmospherics/machinery/portable/canister.dm
Labels: none

Fixes magazine overflow and russian roulette starting with 6(7) bullets (#84247)
  code/modules/projectiles/boxes_magazines/_box_magazine.dm
  code/modules/projectiles/boxes_magazines/internal/revolver.dm
Labels: none

Lathe sounds (#84081)
  code/datums/looping_sounds/machinery_sounds.dm
  code/game/machinery/autolathe.dm
  code/modules/research/machinery/_production.dm
  code/modules/vehicles/mecha/mech_fabricator.dm
  sound/machines/attributions.txt
  sound/machines/lathe/lathe_print.ogg
Labels: none

fix
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_teshari.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_vox.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_vox_primalis.png
Labels: none

[MIRROR] Fixes the Stimmed mutation instability being defined twice (#28365)
  code/datums/mutations/body.dm
Labels: none

Automatic changelog for PR #28365 [ci skip]
  html/changelogs/AutoChangeLog-pr-28365.yml
Labels: none

fixes firebot access (#84416)
  code/modules/mob/living/basic/bots/firebot/firebot.dm
Labels: none

hotfixes
  modular_skyrat/modules/hyposprays/code/autolathe_designs.dm
  modular_skyrat/modules/hyposprays/code/hyposprays_II.dm
Labels: none

Update sprite_accessories.dm
  code/controllers/subsystem/sprite_accessories.dm
Labels: none

Update _species.dm
  code/modules/mob/living/carbon/human/_species.dm
Labels: none

Update autolathe_designs.dm
  modular_skyrat/modules/hyposprays/code/autolathe_designs.dm
Labels: none

[MIRROR] fixes cyborgs and monkeys not being able to buckle to chairs (#28471)
  code/game/objects/structures/beds_chairs/chair.dm
Labels: none

[MIRROR] Fix being unable to add a flux core to new the combat heart cybernetic (#28472)
  code/modules/surgery/organs/internal/heart/heart_anomalock.dm
Labels: none

Update hyposprays_II.dm
  modular_skyrat/modules/hyposprays/code/hyposprays_II.dm
Labels: none

[MIRROR] Syndicate jaws of life are now jaws of death (#28473)
  code/game/objects/items/tools/crowbar.dm
Labels: none

[MIRROR] Canister shielding fixes (#28474)
  code/modules/atmospherics/machinery/portable/canister.dm
Labels: none

[MIRROR] Fixes magazine overflow and russian roulette starting with 6(7) bullets (#28475)
  code/modules/projectiles/boxes_magazines/_box_magazine.dm
  code/modules/projectiles/boxes_magazines/internal/revolver.dm
Labels: none

[MIRROR] Lathe sounds (#28476)
  code/datums/looping_sounds/machinery_sounds.dm
  code/game/machinery/autolathe.dm
  code/modules/research/machinery/_production.dm
  code/modules/vehicles/mecha/mech_fabricator.dm
  sound/machines/attributions.txt
  sound/machines/lathe/lathe_print.ogg
Labels: none

Automatic changelog for PR #28471 [ci skip]
  html/changelogs/AutoChangeLog-pr-28471.yml
Labels: none

Automatic changelog for PR #28472 [ci skip]
  html/changelogs/AutoChangeLog-pr-28472.yml
Labels: none

Automatic changelog for PR #28473 [ci skip]
  html/changelogs/AutoChangeLog-pr-28473.yml
Labels: none

Automatic changelog for PR #28474 [ci skip]
  html/changelogs/AutoChangeLog-pr-28474.yml
Labels: none

Automatic changelog for PR #28475 [ci skip]
  html/changelogs/AutoChangeLog-pr-28475.yml
Labels: none

Automatic changelog for PR #28476 [ci skip]
  html/changelogs/AutoChangeLog-pr-28476.yml
Labels: none

Update adaptation.dm
  code/datums/mutations/adaptation.dm
Labels: none

Fix Screenshots(maybe?) (#28478)
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_teshari.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_vox.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_vox_primalis.png
Labels: none

Hypospray hotfixes [NO GBP] (#28481)
  modular_skyrat/modules/hyposprays/code/autolathe_designs.dm
  modular_skyrat/modules/hyposprays/code/hyposprays_II.dm
Labels: none

Automatic changelog for PR #28481 [ci skip]
  html/changelogs/AutoChangeLog-pr-28481.yml
Labels: none

Automatic changelog for PR #28480 [ci skip]
  html/changelogs/AutoChangeLog-pr-28480.yml
Labels: none

Fix prettier ?
  tgui/packages/tgui/interfaces/LanguageMenu.jsx
Labels: none

Fixes lightswitch-turning-off mapping helper (#84399)
  code/modules/mapping/mapping_helpers.dm
Labels: none

Correct the name of this request console on metastation (#84436)
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Modification

Re-adds the Irish Tactical Uniform and Royal Kilt
  modular_skyrat/master_files/code/modules/clothing/under/costume.dm
  modular_skyrat/master_files/code/modules/loadout/categories/uniform.dm
  modular_skyrat/master_files/icons/mob/clothing/under/costume.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/costume_digi.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/costume.dmi
Labels: Sprites

Fixes a bunch of small issues on various Whiteships (#84404)
  _maps/shuttles/whiteship_birdshot.dmm
  _maps/shuttles/whiteship_cere.dmm
  _maps/shuttles/whiteship_donut.dmm
  _maps/shuttles/whiteship_kilo.dmm
  _maps/shuttles/whiteship_obelisk.dmm
  _maps/shuttles/whiteship_personalshuttle.dmm
  _maps/shuttles/whiteship_pubby.dmm
  _maps/shuttles/whiteship_tram.dmm
  code/datums/shuttles/whiteship.dm
  code/modules/shuttle/navigation_computer.dm
  code/modules/shuttle/shuttle.dm
Labels: Map Modification

Blood filter surgery update (#84431)
  code/modules/surgery/blood_filter.dm
Labels: none

Fixes two miswritten words in the heretic lore (#84428)
  code/modules/antagonists/heretic/knowledge/side_blade_rust.dm
Labels: none

woops
  code/modules/client/preferences_savefile.dm
  modular_skyrat/master_files/code/modules/client/preferences_savefile.dm
  tgui/packages/tgui/interfaces/LanguageMenu.jsx
  tgui/packages/tgui/interfaces/PreferencesMenu/LanguagesMenu.tsx
Labels: none

Humanizing monkeys removes undergarments (#84439)
  code/modules/mob/transform_procs.dm
Labels: none

[NO GBP]Supermatter zap power generation takes perspective of the machines subsystem. (#84011)
  code/modules/power/supermatter/supermatter.dm
  code/modules/power/supermatter/supermatter_extra_effects.dm
Labels: none

[SEMI-MODULAR] Reimplements some taur sprites gathering dust (#1983)
  code/modules/clothing/spacesuits/_spacesuits.dm
  code/modules/clothing/suits/utility.dm
  modular_skyrat/master_files/code/modules/clothing/taur_sprites/suit.dm
  modular_skyrat/master_files/icons/mob/clothing/suit_taur_hoof.dmi
  modular_skyrat/master_files/icons/mob/clothing/suit_taur_paw.dmi
  tgstation.dme
Labels: Sprites
