Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

Automatic changelog for PR #29059 [ci skip]
  html/changelogs/AutoChangeLog-pr-29059.yml
Labels: none

Automatic changelog for PR #29058 [ci skip]
  html/changelogs/AutoChangeLog-pr-29058.yml
Labels: none

Automatic changelog for PR #29057 [ci skip]
  html/changelogs/AutoChangeLog-pr-29057.yml
Labels: none

Automatic changelog for PR #29056 [ci skip]
  html/changelogs/AutoChangeLog-pr-29056.yml
Labels: none

Automatic changelog for PR #29055 [ci skip]
  html/changelogs/AutoChangeLog-pr-29055.yml
Labels: none

[MIRROR] Fix supermatter surge announcement (#29054)
  code/modules/events/supermatter_surge.dm
Labels: none

[MIRROR] Update tram ignored smashthroughs (#29053)
  code/modules/transport/linear_controller.dm
  code/modules/transport/transport_module.dm
Labels: none

[MIRROR] Fix disease outbreak announcement (#29052)
  code/modules/events/disease_outbreak.dm
Labels: none

[MIRROR] Fixes borgs not being able to place apparatus-held items on tables (#29051)
  code/game/objects/items/robot/items/storage.dm
Labels: none

[MIRROR] Self-respiration virus gives less messages now (#29050)
  code/datums/diseases/advance/symptoms/oxygen.dm
Labels: none

[MIRROR] Automatic TGS DMAPI Update (#29049)
  code/__DEFINES/tgs.dm
  code/modules/tgs/v5/api.dm
Labels: none

[MIRROR] Updated gas flow meter sprites (#29048)
  icons/obj/pipes_n_cables/meter.dmi
Labels: Sprites

[MIRROR] Elevator fixes (#29046)
  code/modules/transport/elevator/elev_controller.dm
  code/modules/transport/elevator/elev_panel.dm
  code/modules/transport/linear_controller.dm
Labels: none

[MIRROR] Stops cyborgs from runtiming on module change if they had selected modules (#29045)
  code/modules/mob/living/silicon/robot/robot_model.dm
Labels: none

[MIRROR] Xenomorphs and door pryer basic mobs can now attack airlocks in combat mode (#29044)
  code/datums/elements/door_pryer.dm
  code/game/machinery/doors/airlock.dm
Labels: none

Updates, merges and adds screams (#29041)
  modular_skyrat/modules/emotes/code/laugh_datums.dm
  modular_skyrat/modules/emotes/code/scream_datums.dm
Labels: none

[MIRROR] Respriting fish fillet and a couple food items that use them. (#29038)
  icons/obj/food/meat.dmi
Labels: Sprites

Update modular_skyrat/modules/alternative_job_titles/code/alt_job_titles.dm
  modular_skyrat/modules/alternative_job_titles/code/alt_job_titles.dm
Labels: none

Automatic changelog for PR #29054 [ci skip]
  html/changelogs/AutoChangeLog-pr-29054.yml
Labels: none

Automatic changelog for PR #29053 [ci skip]
  html/changelogs/AutoChangeLog-pr-29053.yml
Labels: none

Automatic changelog for PR #29052 [ci skip]
  html/changelogs/AutoChangeLog-pr-29052.yml
Labels: none

Automatic changelog for PR #29051 [ci skip]
  html/changelogs/AutoChangeLog-pr-29051.yml
Labels: none

Automatic changelog for PR #29050 [ci skip]
  html/changelogs/AutoChangeLog-pr-29050.yml
Labels: none

Automatic changelog for PR #29048 [ci skip]
  html/changelogs/AutoChangeLog-pr-29048.yml
Labels: none

Automatic changelog for PR #29046 [ci skip]
  html/changelogs/AutoChangeLog-pr-29046.yml
Labels: none

Automatic changelog for PR #29045 [ci skip]
  html/changelogs/AutoChangeLog-pr-29045.yml
Labels: none

Automatic changelog for PR #29044 [ci skip]
  html/changelogs/AutoChangeLog-pr-29044.yml
Labels: none

Automatic changelog for PR #29041 [ci skip]
  html/changelogs/AutoChangeLog-pr-29041.yml
Labels: none

Fish ordered from bought fish cases now sells for 1/20th of the normal price (#85287)
  code/modules/cargo/exports/fish.dm
Labels: none

Update modular_skyrat/modules/alternative_job_titles/code/alt_job_titles.dm
  modular_skyrat/modules/alternative_job_titles/code/alt_job_titles.dm
Labels: none

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-29041.yml
  html/changelogs/AutoChangeLog-pr-29044.yml
  html/changelogs/AutoChangeLog-pr-29045.yml
  html/changelogs/AutoChangeLog-pr-29046.yml
  html/changelogs/AutoChangeLog-pr-29048.yml
  html/changelogs/AutoChangeLog-pr-29050.yml
  html/changelogs/AutoChangeLog-pr-29051.yml
  html/changelogs/AutoChangeLog-pr-29052.yml
  html/changelogs/AutoChangeLog-pr-29053.yml
  html/changelogs/AutoChangeLog-pr-29054.yml
  html/changelogs/AutoChangeLog-pr-29055.yml
  html/changelogs/AutoChangeLog-pr-29056.yml
  html/changelogs/AutoChangeLog-pr-29057.yml
  html/changelogs/AutoChangeLog-pr-29058.yml
  html/changelogs/AutoChangeLog-pr-29059.yml
  html/changelogs/AutoChangeLog-pr-29060.yml
  html/changelogs/AutoChangeLog-pr-29061.yml
  html/changelogs/AutoChangeLog-pr-29064.yml
  html/changelogs/AutoChangeLog-pr-29066.yml
  html/changelogs/AutoChangeLog-pr-29067.yml
  html/changelogs/archive/2024-07.yml
Labels: none

Fix clicking on a table through the lootpanel with an item forcing it to be placed in the very corner (#85208)
  code/game/objects/structures/tables_racks.dm
Labels: none

[MIRROR] Refactors projectile parrying and makes it actually possible. [MDB IGNORE] (#3885)
  code/__DEFINES/traits/declarations.dm
  code/datums/status_effects/debuffs/debuffs.dm
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
  code/modules/projectiles/projectile.dm
Labels: none

[MIRROR] Datumizes pod types [MDB IGNORE] (#3917)
  modular_skyrat/modules/icspawning/code/observer.dm
  modular_skyrat/modules/modular_items/code/summon_beacon.dm
  modular_skyrat/modules/novaya_ert/code/advanced_choice_beacon.dm
Labels: none

[MIRROR] Donk Co Interstellar Trading Post 6016 [MDB IGNORE] (#3943)
  icons/mob/simple/animal.dmi
  icons/obj/card.dmi
  modular_skyrat/modules/shotgunrebalance/icons/shotshells.dmi
Labels: Sprites

[MIRROR] Separates tabletop/wallmounted ID authorisation panels [MDB IGNORE] (#3961)
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/NSVBlueshift/Blueshift.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  _maps/skyrat/automapper/templates/centcom/centcom_ferry_dock.dmm
  code/modules/security_levels/keycard_authentication.dm
Labels: Map Modification

Fixes conflict
  code/modules/vehicles/mecha/equipment/tools/work_tools.dm
Labels: none

fix modular
  code/datums/station_traits/positive_traits.dm
  modular_skyrat/modules/moretraitoritems/code/autosurgeon.dm
Labels: none

Update work_tools.dm
  code/modules/vehicles/mecha/equipment/tools/work_tools.dm
Labels: none

Update work_tools.dm
  code/modules/vehicles/mecha/equipment/tools/work_tools.dm
Labels: none

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'
