Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'

mm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/magazines.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/pistol.dm
Labels: none

as
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/nanotrasen_system_inc/pistol.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/magazines.dm
Labels: none

i forgot!
  modular_skyrat/modules/goofsec/code/sec_clothing_overrides.dm
Labels: none

Update pistol.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/nanotrasen_system_inc/pistol.dm
Labels: none

Automatic changelog for PR #28571 [ci skip]
  html/changelogs/AutoChangeLog-pr-28571.yml
Labels: none

Automatic changelog for PR #28569 [ci skip]
  html/changelogs/AutoChangeLog-pr-28569.yml
Labels: none

what the hell are we doing
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/nanotrasen_system_inc/magazine.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/nanotrasen_system_inc/pistol.dm
  modular_skyrat/modules/sec_haul/code/misc/gun_redemption.dm
Labels: none

Update pistol.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/ammo/pistol.dm
Labels: none

Update security.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
Labels: none

blueshiftfix2
  _maps/map_files/NSVBlueshift/Blueshift.dmm
Labels: Map Modification

Bitrunning: Combat domain [READY] (#84196)
  _maps/virtual_domains/README.md
  _maps/virtual_domains/island_brawl.dmm
  code/__DEFINES/dcs/signals/signals_bitrunning.dm
  code/controllers/subsystem/bitrunning.dm
  code/modules/bitrunning/components/bitrunning_points.dm
  code/modules/bitrunning/netpod/_netpod.dm
  code/modules/bitrunning/netpod/container.dm
  code/modules/bitrunning/netpod/outfitting.dm
  code/modules/bitrunning/netpod/signals.dm
  code/modules/bitrunning/netpod/tools.dm
  code/modules/bitrunning/netpod/ui.dm
  code/modules/bitrunning/netpod/utils.dm
  code/modules/bitrunning/objects/landmarks.dm
  code/modules/bitrunning/objects/netpod.dm
  code/modules/bitrunning/outfits.dm
  code/modules/bitrunning/server/_parent.dm
  code/modules/bitrunning/server/loot.dm
  code/modules/bitrunning/server/map_handling.dm
  code/modules/bitrunning/server/obj_generation.dm
  code/modules/bitrunning/server/signal_handlers.dm
  code/modules/bitrunning/server/threats.dm
  code/modules/bitrunning/server/util.dm
  code/modules/bitrunning/spawners.dm
  code/modules/bitrunning/virtual_domain/domains/island_brawl.dm
  code/modules/bitrunning/virtual_domain/domains/pirates.dm
  code/modules/bitrunning/virtual_domain/domains/syndicate_assault.dm
  code/modules/bitrunning/virtual_domain/virtual_domain.dm
  icons/effects/bitrunning.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/QuantumConsole.tsx
Labels: Map Modification, Sprites

blueshift4
  _maps/map_files/NSVBlueshift/Blueshift.dmm
Labels: Map Modification

clothing path
  _maps/RandomRuins/SpaceRuins/garbagetruck3.dmm
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_items.dm
  modular_skyrat/modules/morenarcotics/code/crackpipe.dm
  modular_skyrat/modules/morenarcotics/code/vapecarts.dm
Labels: Map Modification

clothing misses
  modular_skyrat/master_files/code/game/objects/items/storage/backpack.dm
  modular_skyrat/master_files/code/modules/loadout/categories/donator_personal.dm
  modular_skyrat/master_files/code/modules/loadout/categories/mask.dm
  modular_skyrat/master_files/code/modules/loadout/categories/pocket.dm
  modular_skyrat/modules/black_mesa/code/armaments/armament_miscellaneous.dm
  modular_skyrat/modules/modular_items/code/ciggies.dm
  modular_skyrat/modules/nanotrasen_rep/code/nanotrasen_consultant.dm
Labels: none

corner fix
  _maps/map_files/NSVBlueshift/Blueshift.dmm
Labels: Map Modification

more
  modular_skyrat/modules/modular_items/code/ciggies.dm
Labels: none

Blueshift nearstation fix (#28572)
  _maps/map_files/NSVBlueshift/Blueshift.dmm
Labels: Map Modification

fix donator
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
Labels: none

more2
  _maps/RandomRuins/SpaceRuins/garbagetruck3.dmm
Labels: Map Modification

more3
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/dorm_party.dmm
  _maps/RandomRuins/SpaceRuins/spacehotel_skyrat.dmm
  _maps/RandomZLevels/blackmesa.dmm
  _maps/RandomZLevels/mothership_astrum.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/NSVBlueshift/Blueshift.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  modular_skyrat/modules/modular_implants/code/nifsofts/prop_summoner.dm
  modular_skyrat/modules/modular_vending/code/games.dm
Labels: Map Modification

Fixes linters on bitrunning content [no gbp]
  _maps/virtual_domains/island_brawl.dmm
Labels: Map Modification

Update prop_summoner.dm
  modular_skyrat/modules/modular_implants/code/nifsofts/prop_summoner.dm
Labels: none

Update prop_summoner.dm
  modular_skyrat/modules/modular_implants/code/nifsofts/prop_summoner.dm
Labels: none

fix
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Map Modification

Automatic changelog for PR #28479 [ci skip]
  html/changelogs/AutoChangeLog-pr-28479.yml
Labels: none

modular maps
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/NSVBlueshift/Blueshift.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Map Modification

[MIRROR] Gives R&D a flatpacked flatpacker on all maps (#28554)
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NSVBlueshift/Blueshift.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/map_files/wawastation/wawastation.dmm
Labels: Map Modification

Automatic changelog for PR #28554 [ci skip]
  html/changelogs/AutoChangeLog-pr-28554.yml
Labels: none

[MIRROR] Removes all security cameras from bathrooms and showers (#28559)
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/map_files/wawastation/wawastation.dmm
Labels: Map Modification

Automatic changelog for PR #28559 [ci skip]
  html/changelogs/AutoChangeLog-pr-28559.yml
Labels: none

[MIRROR] Linen bin/basket sprites (#28564)
  code/game/objects/structures/bedsheet_bin.dm
  icons/obj/structures.dmi
Labels: Sprites

[MIRROR] Meteors no longer qdel twice and dark matteors do not always claim to have missed (#28565)
  code/modules/meteors/meteor_changeling.dm
  code/modules/meteors/meteor_dark_matteor.dm
  code/modules/meteors/meteor_types.dm
Labels: none

Automatic changelog for PR #28564 [ci skip]
  html/changelogs/AutoChangeLog-pr-28564.yml
Labels: none

[MIRROR] Fixes Research From Fishing (#28566)
  code/modules/experisci/experiment/types/scanning_fish.dm
Labels: none

[MIRROR] New shove sound (#28568)
  code/_globalvars/lists/flavor_misc.dm
  code/modules/antagonists/changeling/powers/mutations.dm
  code/modules/mob/living/basic/slime/defense.dm
  code/modules/mob/living/living_defense.dm
  sound/weapons/shove.ogg
Labels: none

[MIRROR] Fixes the Basic Sandwich (#28570)
  code/game/objects/items/food/sandwichtoast.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_sandwich.dm
Labels: none

[MIRROR] Bitrunning: Combat domain [READY] (#28573)
  _maps/virtual_domains/README.md
  _maps/virtual_domains/island_brawl.dmm
  code/__DEFINES/dcs/signals/signals_bitrunning.dm
  code/controllers/subsystem/bitrunning.dm
  code/modules/bitrunning/components/bitrunning_points.dm
  code/modules/bitrunning/netpod/_netpod.dm
  code/modules/bitrunning/netpod/container.dm
  code/modules/bitrunning/netpod/outfitting.dm
  code/modules/bitrunning/netpod/signals.dm
  code/modules/bitrunning/netpod/tools.dm
  code/modules/bitrunning/netpod/ui.dm
  code/modules/bitrunning/netpod/utils.dm
  code/modules/bitrunning/objects/landmarks.dm
  code/modules/bitrunning/objects/netpod.dm
  code/modules/bitrunning/outfits.dm
  code/modules/bitrunning/server/_parent.dm
  code/modules/bitrunning/server/loot.dm
  code/modules/bitrunning/server/map_handling.dm
  code/modules/bitrunning/server/obj_generation.dm
  code/modules/bitrunning/server/signal_handlers.dm
  code/modules/bitrunning/server/threats.dm
  code/modules/bitrunning/server/util.dm
  code/modules/bitrunning/spawners.dm
  code/modules/bitrunning/virtual_domain/domains/island_brawl.dm
  code/modules/bitrunning/virtual_domain/domains/pirates.dm
  code/modules/bitrunning/virtual_domain/domains/syndicate_assault.dm
  code/modules/bitrunning/virtual_domain/virtual_domain.dm
  icons/effects/bitrunning.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/QuantumConsole.tsx
Labels: Map Modification, Sprites

Automatic changelog for PR #28565 [ci skip]
  html/changelogs/AutoChangeLog-pr-28565.yml
Labels: none

Automatic changelog for PR #28566 [ci skip]
  html/changelogs/AutoChangeLog-pr-28566.yml
Labels: none

Automatic changelog for PR #28568 [ci skip]
  html/changelogs/AutoChangeLog-pr-28568.yml
Labels: none
