Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

this is utterly shit code thati should die for
  modular_skyrat/modules/shotgunrebalance/code/shotgun.dm
Labels: none

Update shotgun.dm
  modular_skyrat/modules/shotgunrebalance/code/shotgun.dm
Labels: none

Update filtersandsetters.dm
  modular_skyrat/modules/filtersandsetters/code/filtersandsetters.dm
Labels: none

Automatic changelog for PR #28918 [ci skip]
  html/changelogs/AutoChangeLog-pr-28918.yml
Labels: none

Automatic changelog for PR #28913 [ci skip]
  html/changelogs/AutoChangeLog-pr-28913.yml
Labels: none

Automatic changelog for PR #28907 [ci skip]
  html/changelogs/AutoChangeLog-pr-28907.yml
Labels: none

Automatic changelog for PR #28906 [ci skip]
  html/changelogs/AutoChangeLog-pr-28906.yml
Labels: none

fix the helmet
  modular_skyrat/master_files/icons/mob/clothing/head/helmet.dmi
  modular_skyrat/master_files/icons/obj/clothing/head/helmet.dmi
  modular_skyrat/modules/goofsec/code/sec_clothing_overrides.dm
Labels: Sprites

Update donator_clothing.dm
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
Labels: none

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-28880.yml
  html/changelogs/AutoChangeLog-pr-28898.yml
  html/changelogs/AutoChangeLog-pr-28900.yml
  html/changelogs/AutoChangeLog-pr-28901.yml
  html/changelogs/AutoChangeLog-pr-28902.yml
  html/changelogs/AutoChangeLog-pr-28903.yml
  html/changelogs/AutoChangeLog-pr-28904.yml
  html/changelogs/AutoChangeLog-pr-28905.yml
  html/changelogs/AutoChangeLog-pr-28906.yml
  html/changelogs/AutoChangeLog-pr-28907.yml
  html/changelogs/AutoChangeLog-pr-28908.yml
  html/changelogs/AutoChangeLog-pr-28910.yml
  html/changelogs/AutoChangeLog-pr-28911.yml
  html/changelogs/AutoChangeLog-pr-28912.yml
  html/changelogs/AutoChangeLog-pr-28913.yml
  html/changelogs/AutoChangeLog-pr-28918.yml
  html/changelogs/archive/2024-07.yml
Labels: none

Another batch of missed mirrors :) (#3811)
  _maps/map_files/Mining/Lavaland.dmm
  code/_globalvars/lists/maintenance_loot.dm
  code/_onclick/hud/new_player.dm
  code/_onclick/hud/parallax/parallax.dm
  code/_onclick/hud/screen_objects.dm
  code/datums/components/tackle.dm
  code/game/area/areas/mining.dm
  code/game/machinery/washing_machine.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/game/objects/structures/beds_chairs/chair.dm
  code/modules/clothing/gloves/color.dm
  code/modules/clothing/gloves/tacklers.dm
  code/modules/jobs/job_types/head_of_security.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/jobs/job_types/station_trait/human_ai.dm
  code/modules/jobs/job_types/warden.dm
  code/modules/library/bookcase.dm
  code/modules/mafia/outfits.dm
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/vending/security.dm
  code/modules/vending/wardrobes.dm
  html/changelogs/AutoChangeLog-pr-84929.yml
  html/changelogs/AutoChangeLog-pr-84965.yml
  html/changelogs/AutoChangeLog-pr-84967.yml
  html/changelogs/AutoChangeLog-pr-84972.yml
  html/changelogs/AutoChangeLog-pr-84974.yml
  icons/mob/clothing/hands.dmi
  icons/obj/clothing/gloves.dmi
  modular_skyrat/master_files/icons/obj/clothing/gloves.dmi
  modular_skyrat/modules/goofsec/code/sec_clothing_overrides.dm
Labels: Map Modification, Sprites

Fixes immerse holding refs to qdeleted things (#85061)
  code/datums/elements/immerse.dm
Labels: none

Moths that pray get a moffin (#85060)
  code/modules/mob/living/carbon/human/species_types/mothmen.dm
Labels: none

Bodypart overlays provide emissive blockers
  code/datums/bodypart_overlays/bodypart_overlay.dm
  code/datums/bodypart_overlays/texture_bodypart_overlay.dm
Labels: none

Monkeys that pray are given bonana (#85057)
  code/modules/mob/living/carbon/human/species_types/monkeys.dm
Labels: none

Fixes soapbox hard dels (#85044)
  code/datums/components/soapbox.dm
Labels: none

Monkification fixes (#85064)
  code/datums/mutations/body.dm
  code/modules/mob/living/carbon/human/species_types/monkeys.dm
  code/modules/mob/transform_procs.dm
Labels: none

Fixes Revenge of Pun Pun runtime (#85042)
  code/datums/station_traits/negative_traits.dm
Labels: none

maybe?
  modular_skyrat/modules/modular_items/code/modular_glasses.dm
Labels: none

Adjustments to birdshot atmos storage, adds cycling to tcomms/upload (#85065)
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Map Modification

Removes Deprecated Clock Cult Tcomms Connection (#85051)
  code/game/machinery/telecomms/machines/hub.dm
Labels: none

APC and SSmachines hotfixes [NO GBP]
  code/__DEFINES/subsystems.dm
  code/controllers/subsystem/machines.dm
  code/game/machinery/_machinery.dm
  code/game/machinery/shieldgen.dm
  code/modules/power/apc/apc_main.dm
  code/modules/power/monitor.dm
  code/modules/power/singularity/emitter.dm
Labels: none

Fixing a table in the mining office at the metastation (#85029)
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Modification

Fixes kinesis runtime due to un-unregistering signals (#85037)
  code/modules/mod/modules/module_kinesis.dm
Labels: none

HUD traits now apply their corresponding hud automatically. Most clothing/item/etc sources of HUDs now only use traits
  code/__DEFINES/atom_hud.dm
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/_globalvars/traits/admin_tooling.dm
  code/datums/elements/digitalcamo.dm
  code/datums/hud.dm
  code/game/data_huds.dm
  code/game/objects/items/busts_and_figurines.dm
  code/modules/admin/verbs/admingame.dm
  code/modules/antagonists/nukeop/equipment/overwatch_tools.dm
  code/modules/clothing/glasses/_glasses.dm
  code/modules/clothing/glasses/hud.dm
  code/modules/clothing/suits/ablativecoat.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/basic/bots/_bots.dm
  code/modules/mob/living/basic/bots/bot_hud.dm
  code/modules/mob/living/basic/bots/vibebot/vibebot.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/mob/mob.dm
  code/modules/mod/modules/modules_visor.dm
  code/modules/pai/software.dm
  code/modules/surgery/organs/internal/cyberimp/augments_eyes.dm
  code/modules/vehicles/mecha/medical/odysseus.dm
Labels: none

Adds holo-fan and two thermomachine and emitters boards to lavaland syndicate base. Attempt #2 (#84934)
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1/mistake_inevitable.dmm
Labels: Map Modification

Jetpacks on sec mods are pinned by default (#85041)
  code/modules/mod/mod_types.dm
Labels: none

Fixes that one alien feature that uses mouse drag (#84916)
  code/datums/elements/strippable.dm
Labels: none

Tweaks orange pipe colour to be more distinct in darkness (#85055)
  code/__HELPERS/piping_colors_lists.dm
  code/modules/atmospherics/machinery/pipes/mapping.dm
Labels: none

Elevator music no longer haunts you endlessly if you step off mid-transit (#85039)
  code/modules/transport/elevator/elev_music_zone.dm
Labels: none

.json sanitize (#84904)
  strings/antagonist_flavor/malfunction_flavor.json
  strings/antagonist_flavor/traitor_flavor.json
  strings/boomer.json
  strings/clown_nonsense.json
  strings/exoadventures/britain_replica.json
  strings/exoadventures/quantum_fizzics.json
  strings/exoadventures/robots_wingman.json
  strings/exoadventures/space_yacht.json
  strings/exoadventures/tree_in_the_middle_of_space.json
  strings/french_replacement.json
  strings/heckacious.json
  strings/ion_laws.json
  strings/italian_replacement.json
  strings/locations.json
  strings/medieval_replacement.json
  strings/revenant_names.json
  strings/steve.json
  strings/traumas.json
  strings/zombie_replacement.json
Labels: none

Experimentor Strange Object Tweaks
  code/modules/research/experimentor.dm
  code/modules/vending/autodrobe.dm
Labels: none

modular stuff
  code/modules/mob/living/silicon/robot/emote.dm
  code/modules/mob/living/silicon/robot/robot.dm
  modular_skyrat/modules/emote_panel/code/emote_panel.dm
  modular_skyrat/modules/emotes/code/synth_emotes.dm
  modular_skyrat/modules/synths/code/bodyparts/brain.dm
  modular_skyrat/modules/synths/code/bodyparts/internal_computer/brain.dm
Labels: none

[MIRROR] Added unit test for embedding (#28893)
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/embedding.dm
Labels: none

modular
  code/modules/power/apc/apc_main.dm
  code/modules/unit_tests/embedding.dm
Labels: none

[MIRROR] Rounds temperature protection to .1% accuracy (#28899)
  code/modules/mob/living/carbon/human/life.dm
Labels: none

[MIRROR] FIxes the pipe sprite up a bit more. (#28909)
  icons/mob/clothing/mask.dmi
Labels: Sprites

[MIRROR] Fixes soapbox hard dels (#28925)
  code/datums/components/soapbox.dm
Labels: none

Automatic changelog for PR #28899 [ci skip]
  html/changelogs/AutoChangeLog-pr-28899.yml
Labels: none

Automatic changelog for PR #28909 [ci skip]
  html/changelogs/AutoChangeLog-pr-28909.yml
Labels: none

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'
