Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

Blackbox tally for successful emags (#84837)
  code/game/objects/items/emags.dm
Labels: none

refactor: move `status_display_bottom_text` and `fire_alarm_light_color` to security level prototypes
  code/game/machinery/computer/communications.dm
  code/game/machinery/firealarm.dm
  code/modules/modular_computers/file_system/programs/statusdisplay.dm
  code/modules/security_levels/security_level_datums.dm
Labels: none

Vapes use correct fill level overlays (#84821)
  code/datums/greyscale/config_types/greyscale_configs/greyscale_items.dm
  code/datums/greyscale/json_configs/vapeopen_high.json
  code/datums/greyscale/json_configs/vapeopen_low.json
  code/datums/greyscale/json_configs/vapeopen_med.json
  code/game/objects/items/cigs_lighters.dm
Labels: none

this should fix it
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/pistol.dm
  modular_skyrat/modules/sec_haul/code/misc/packs.dm
Labels: none

Update packs.dm
  modular_skyrat/modules/sec_haul/code/misc/packs.dm
Labels: none

You can emag grapple gun to use it on station. (#84829)
  code/modules/mining/equipment/grapple_gun.dm
Labels: none

Fix newly created cardhands not inheriting singlecard offsets (#84838)
  code/modules/cards/singlecard.dm
Labels: none

You no longer try to pull out someones eyes in combat mode if they have cranial fissure (#84822)
  code/datums/wounds/cranial_fissure.dm
Labels: none

Fixed vomit category knockdown stunning (#84852)
  code/__DEFINES/mobs.dm
Labels: none

Fixes meat producing copious amounts of blood (#84820)
  code/game/objects/items/food/meatslab.dm
  code/game/objects/items/storage/backpack.dm
Labels: none

Fixes grounding rods (#84839)
  code/modules/power/tesla/coil.dm
Labels: none

Makes gigabeacon easier to research (#84823)
  code/modules/research/techweb/nodes/engi_nodes.dm
  code/modules/research/techweb/nodes/research_nodes.dm
Labels: none

Adds in airlock helpers for inaccessible doors (#84792)
  code/modules/mapping/mapping_helpers.dm
  icons/effects/mapping_helpers.dmi
Labels: Sprites

You can now see whether or not a piece of clothing is pressure-proof when examining
  code/modules/clothing/clothing.dm
Labels: none

fixes wawa cryo cell (but good) (#84682)
  code/__DEFINES/_flags.dm
  code/__HELPERS/turfs.dm
  code/modules/atmospherics/machinery/components/unary_devices/cryo.dm
Labels: none

Resprites Catwalk Tiles to match TG's floortiles (#84819)
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/wawastation/wawastation.dmm
  _maps/shuttles/emergency_northstar.dmm
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/turfs/open/floor/catwalk_plating.dm
  icons/obj/tiles.dmi
  icons/turf/floors/catwalk_plating.dmi
  tools/UpdatePaths/Scripts/84819_replace_flat_white_catwalks.txt
Labels: Map Modification, Sprites

Fixes improvised cauterization of wounds (#84803)
  code/datums/wounds/_wounds.dm
Labels: none

TV helmet no longer has fov or makes you flash sensitive (#84815)
  code/game/objects/effects/spawners/random/clothing.dm
  code/modules/clothing/head/costume.dm
Labels: none

Adds a crash report to the imprint_gps proc and removes an unnecessary arg in law.dm (#84818)
  code/game/machinery/computer/_computer.dm
  code/game/machinery/computer/law.dm
Labels: none

[Birdshot] Small mapping fixes (#84808)
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Map Modification

Redesigns Tram's Tool Storage + Fixes disposals (#84802)
  _maps/map_files/tramstation/tramstation.dmm
Labels: Map Modification

modular fix
  code/game/machinery/doors/door.dm
  modular_skyrat/modules/aesthetics/blast_door/code/blast_door.dm
  modular_skyrat/modules/colony_fabricator/code/construction/doors.dm
Labels: none

modular
  code/game/machinery/dna_infuser/organ_sets/fly_organs.dm
  code/modules/surgery/organs/internal/tongue/_tongue.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/ballgag.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/bdsm_mask.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/leather_whip.dm
Labels: none

modular alerts
  code/game/machinery/computer/communications.dm
  code/game/machinery/firealarm.dm
  code/modules/modular_computers/file_system/programs/statusdisplay.dm
  modular_skyrat/modules/alerts/code/security_level_datums.dm
Labels: none

Update clothing.dm
  code/modules/clothing/clothing.dm
Labels: none

Update security_level_datums.dm
  modular_skyrat/modules/alerts/code/security_level_datums.dm
Labels: none

[MIRROR] Fixes the randomization of external organs and species features (#28725)
  code/datums/dna.dm
Labels: none

[MIRROR] Variable Door Delay + Timer Based Animations (#28740)
  code/__DEFINES/door.dm
  code/datums/wires/airlock.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/firedoor.dm
  code/game/machinery/doors/passworddoor.dm
  code/game/machinery/doors/poddoor.dm
  code/game/machinery/doors/shutters.dm
  code/game/machinery/doors/windowdoor.dm
  code/game/objects/items/puzzle_pieces.dm
  code/modules/mapfluff/ruins/icemoonruin_code/library.dm
  icons/obj/doors/blastdoor.dmi
  icons/obj/doors/doorfireglass.dmi
  icons/obj/doors/doormorgue.dmi
  icons/obj/doors/puzzledoor/danger.dmi
  icons/obj/doors/puzzledoor/default.dmi
  icons/obj/doors/puzzledoor/wood.dmi
  icons/obj/doors/shutters.dmi
  icons/obj/doors/shutters_radiation.dmi
  icons/obj/doors/shutters_window.dmi
  icons/obj/doors/windoor.dmi
  modular_skyrat/modules/aesthetics/blast_door/code/blast_door.dm
  modular_skyrat/modules/airlock_override/code/airlock_override.dm
  modular_skyrat/modules/colony_fabricator/code/construction/doors.dm
  tgstation.dme
Labels: Sprites

[MIRROR] Converts common speech modifiers into a component (#28752)
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_carbon.dm
  code/datums/components/speechmod.dm
  code/datums/mutations/_mutations.dm
  code/datums/mutations/hulk.dm
  code/datums/mutations/speech.dm
  code/game/machinery/dna_infuser/organ_sets/fly_organs.dm
  code/modules/clothing/head/frenchberet.dm
  code/modules/clothing/masks/_masks.dm
  code/modules/clothing/masks/animal_masks.dm
  code/modules/clothing/masks/boxing.dm
  code/modules/clothing/masks/gondola.dm
  code/modules/clothing/masks/moustache.dm
  code/modules/surgery/organs/internal/tongue/_tongue.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/ballgag.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/bdsm_mask.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/leather_whip.dm
  strings/elvis_replacement.json
  strings/luchador_replacement.json
  tgstation.dme
Labels: none

Automatic changelog for PR #28725 [ci skip]
  html/changelogs/AutoChangeLog-pr-28725.yml
Labels: none

[MIRROR] Buffs the Matrix Flip skillchip (#28762)
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/_globalvars/traits/admin_tooling.dm
  code/modules/library/skill_learning/generic_skillchips/matrix_flip.dm
  code/modules/library/skill_learning/skillchip.dm
  code/modules/mob/emote.dm
  tgstation.dme
Labels: none

Automatic changelog for PR #28740 [ci skip]
  html/changelogs/AutoChangeLog-pr-28740.yml
Labels: none

Automatic changelog for PR #28752 [ci skip]
  html/changelogs/AutoChangeLog-pr-28752.yml
Labels: none

[MIRROR] [no gbp] fixes sleeping mobs getting the surgery (#28763)
  code/modules/surgery/surgery_step.dm
Labels: none

[MIRROR] Random language trait tweak (#28764)
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/datums/station_traits/negative_traits.dm
  code/game/machinery/_machinery.dm
  code/game/machinery/announcement_system.dm
  code/modules/mob/living/basic/bots/_bots.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
Labels: none

[MIRROR] Blackbox tally for successful emags (#28765)
  code/game/objects/items/emags.dm
Labels: none

[MIRROR] Vapes use correct fill level overlays (#28767)
  code/datums/greyscale/config_types/greyscale_configs/greyscale_items.dm
  code/datums/greyscale/json_configs/vapeopen_high.json
  code/datums/greyscale/json_configs/vapeopen_low.json
  code/datums/greyscale/json_configs/vapeopen_med.json
  code/game/objects/items/cigs_lighters.dm
Labels: none

[MIRROR] You can emag grapple gun to use it on station. (#28768)
  code/modules/mining/equipment/grapple_gun.dm
Labels: none

[MIRROR] Fix newly created cardhands not inheriting singlecard offsets (#28769)
  code/modules/cards/singlecard.dm
Labels: none

[MIRROR] You no longer try to pull out someones eyes in combat mode if they have cranial fissure (#28770)
  code/datums/wounds/cranial_fissure.dm
Labels: none

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'
