Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'

Update cargo_packs.dm
  modular_skyrat/modules/colony_fabricator/code/cargo_packs.dm
Labels: none

Update peacekeeper_clothing.dm
  modular_skyrat/modules/sec_haul/code/peacekeeper/peacekeeper_clothing.dm
Labels: none

Cyborg heads now support hair and eye color
  modular_skyrat/master_files/code/modules/surgery/bodyparts/robot_bodyparts.dm
  tgstation.dme
Labels: none

Akula wetsuiting
  modular_skyrat/modules/customization/modules/clothing/outfits/akula.dm
Labels: none

Laser pointers no longer make felinids phase through diagonal gaps
  code/game/objects/items/devices/laserpointer.dm
Labels: none

Update laserpointer.dm
  code/game/objects/items/devices/laserpointer.dm
Labels: none

[MIRROR] Laser pointers no longer make felinids phase through diagonal gaps (#29265)
  code/game/objects/items/devices/laserpointer.dm
Labels: none

Automatic changelog for PR #29265 [ci skip]
  html/changelogs/AutoChangeLog-pr-29265.yml
Labels: none

export gate
  modular_skyrat/modules/cargo/code/export_gate.dm
  tgstation.dme
Labels: none

the whole PR
  modular_skyrat/modules/time_clock/code/console_tgui.dm
Labels: none

Update console_tgui.dm
  modular_skyrat/modules/time_clock/code/console_tgui.dm
Labels: none

Boring fixes
  modular_skyrat/modules/cortical_borer/code/cortical_borer_antag.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/antagonists/antagonists/borer.ts
Labels: none

Automatic changelog for PR #29262 [ci skip]
  html/changelogs/AutoChangeLog-pr-29262.yml
Labels: none

Automatic changelog for PR #29264 [ci skip]
  html/changelogs/AutoChangeLog-pr-29264.yml
Labels: none

Automatic changelog for PR #29268 [ci skip]
  html/changelogs/AutoChangeLog-pr-29268.yml
Labels: none

Automatic changelog for PR #29267 [ci skip]
  html/changelogs/AutoChangeLog-pr-29267.yml
Labels: none

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-29261.yml
  html/changelogs/AutoChangeLog-pr-29262.yml
  html/changelogs/AutoChangeLog-pr-29264.yml
  html/changelogs/AutoChangeLog-pr-29265.yml
  html/changelogs/AutoChangeLog-pr-29267.yml
  html/changelogs/AutoChangeLog-pr-29268.yml
  html/changelogs/archive/2024-08.yml
Labels: none

Automatic TGS DMAPI Update (#85751)
  code/__DEFINES/tgs.dm
  code/modules/tgs/core/README.md
  code/modules/tgs/core/byond_world_export.dm
  code/modules/tgs/core/core.dm
  code/modules/tgs/core/datum.dm
  code/modules/tgs/includes.dm
  code/modules/tgs/v5/api.dm
  code/modules/tgs/v5/bridge.dm
Labels: none

Update chasm.dm
  code/datums/components/chasm.dm
Labels: none

Update chasm.dm
  code/datums/components/chasm.dm
Labels: none

Update chasm.dm
  code/datums/components/chasm.dm
Labels: none

Ethereal Rations
  modular_skyrat/modules/paycheck_rations/code/rationpacks.dm
  modular_skyrat/modules/paycheck_rations/code/reagents.dm
  modular_skyrat/modules/paycheck_rations/code/tickets.dm
Labels: none

Update robot_defines.dm
  modular_skyrat/modules/borgs/code/robot_defines.dm
Labels: none

Automatic changelog for PR #29272 [ci skip]
  html/changelogs/AutoChangeLog-pr-29272.yml
Labels: none

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-29272.yml
  html/changelogs/archive/2024-08.yml
Labels: none

Update modules_ninja.dm
  code/modules/mod/modules/modules_ninja.dm
Labels: none

Resprited assemblies (#85763)
  code/modules/assembly/infrared.dm
  code/modules/assembly/timer.dm
  icons/effects/beam.dmi
  icons/obj/devices/new_assemblies.dmi
  icons/obj/weapons/grenade.dmi
Labels: Sprites

Fixed monk staffs not displaying a wielded sprite (#85767)
  code/datums/martial/sleeping_carp.dm
  code/game/objects/items/weaponry.dm
  code/modules/jobs/job_types/chaplain/chaplain_nullrod.dm
Labels: none

Fake aurora caelus event no longer permanently paints space green (#85777)
  code/modules/events/aurora_caelus.dm
Labels: none

Wawastation Science distro fix and a missing cable mended (#85762)
  _maps/map_files/wawastation/wawastation.dmm
Labels: Map Modification

Prevents people from being shoved into closets/crates/bins through directional glass (#85760)
  code/game/objects/structures/crates_lockers/closets.dm
  code/modules/recycling/disposal/bin.dm
Labels: none

Buff to MODsuit deployment time (#85705)
  code/__DEFINES/mod.dm
  code/modules/mod/mod_theme.dm
Labels: none

Fixed bileworms not having a deaggro range (#85719)
  code/datums/ai/basic_mobs/targeting_strategies/basic_targeting_strategy.dm
Labels: none

Fixed shuttle loan paperwork being unstampable (#85721)
  code/modules/paperwork/paperwork.dm
Labels: none

Some crime and citations fixes (#85733)
  code/datums/records/crime.dm
  code/game/machinery/computer/records/security.dm
  code/game/machinery/computer/warrant.dm
  tgui/packages/tgui/interfaces/SecurityRecords/CrimeWatcher.tsx
  tgui/packages/tgui/interfaces/SecurityRecords/types.ts
Labels: none

Fixed chanterelles runtiming upon being hollowed out with a spoon and not spawning a hat (#85663)
  code/modules/hydroponics/grown/mushrooms.dm
Labels: none

Fixes DNA sampler attack chain heck (#85662)
  code/game/objects/items/dna_probe.dm
Labels: none

Fixes a hard del with island_brawl spawners (#85684)
  code/modules/bitrunning/virtual_domain/domains/island_brawl.dm
Labels: none

Retextured Durand's shield, fixed power drain and UI (#85718)
  code/modules/vehicles/mecha/combat/durand.dm
  icons/mob/effects/durand_shield.dmi
  tgui/packages/tgui/interfaces/Mecha/index.tsx
Labels: Sprites

[NO GBP] (Not so) hotfix for ninja cloaking (#85673)
  code/modules/mod/modules/modules_ninja.dm
Labels: none
