Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'

Automatic changelog for PR #28949 [ci skip]
  html/changelogs/AutoChangeLog-pr-28949.yml
Labels: none

Automatic changelog for PR #28950 [ci skip]
  html/changelogs/AutoChangeLog-pr-28950.yml
Labels: none

Automatic changelog for PR #28951 [ci skip]
  html/changelogs/AutoChangeLog-pr-28951.yml
Labels: none

Automatic changelog for PR #28952 [ci skip]
  html/changelogs/AutoChangeLog-pr-28952.yml
Labels: none

Automatic changelog for PR #28953 [ci skip]
  html/changelogs/AutoChangeLog-pr-28953.yml
Labels: none

Automatic changelog for PR #28954 [ci skip]
  html/changelogs/AutoChangeLog-pr-28954.yml
Labels: none

Automatic changelog for PR #28955 [ci skip]
  html/changelogs/AutoChangeLog-pr-28955.yml
Labels: none

Automatic changelog for PR #28956 [ci skip]
  html/changelogs/AutoChangeLog-pr-28956.yml
Labels: none

Automatic changelog for PR #28958 [ci skip]
  html/changelogs/AutoChangeLog-pr-28958.yml
Labels: none

Automatic changelog for PR #28959 [ci skip]
  html/changelogs/AutoChangeLog-pr-28959.yml
Labels: none

Automatic changelog for PR #28960 [ci skip]
  html/changelogs/AutoChangeLog-pr-28960.yml
Labels: none

Automatic changelog for PR #28962 [ci skip]
  html/changelogs/AutoChangeLog-pr-28962.yml
Labels: none

Automatic changelog for PR #28964 [ci skip]
  html/changelogs/AutoChangeLog-pr-28964.yml
Labels: none

Automatic changelog for PR #28963 [ci skip]
  html/changelogs/AutoChangeLog-pr-28963.yml
Labels: none

Voidwalker Balancing, Fixes and Additions
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_living.dm
  code/__DEFINES/dcs/signals/signals_voidwalker.dm
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/_onclick/item_attack.dm
  code/datums/components/space_dive.dm
  code/datums/components/space_kidnap.dm
  code/datums/elements/glass_pacifist.dm
  code/datums/elements/no_crit_hitting.dm
  code/datums/elements/only_pull_living.dm
  code/game/objects/items.dm
  code/modules/antagonists/voidwalker/voidwalker_abilities.dm
  code/modules/antagonists/voidwalker/voidwalker_bodyparts.dm
  code/modules/antagonists/voidwalker/voidwalker_kidnap.dm
  code/modules/antagonists/voidwalker/voidwalker_organs.dm
  code/modules/antagonists/voidwalker/voidwalker_species.dm
  code/modules/antagonists/voidwalker/voidwalker_status_effects.dm
  code/modules/antagonists/voidwalker/voidwalker_void_eater.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/religion/sparring/sparring_datum.dm
  icons/mob/actions/actions_voidwalker.dmi
  icons/mob/actions/backgrounds.dmi
  tgstation.dme
Labels: Sprites

Closing mind transfer popup does not transfer your mind anymore (#85119)
  code/modules/research/xenobiology/xenobiology.dm
Labels: none

Fix typo in rebar crossbow uplink (#85125)
  code/modules/uplink/uplink_items/job.dm
Labels: none

Reverted the MOD UI window to the original size (#85103)
  tgui/packages/tgui/interfaces/MODsuit.tsx
Labels: none

Fixes wisp lanterns not updating your sight when recalling (#85106)
  code/modules/mining/lavaland/tendril_loot.dm
Labels: none

Trailing comma PR
  code/datums/hud.dm
Labels: none

TSA: Scanner Gates and N-Spector update
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/map_files/wawastation/wawastation.dmm
  code/game/machinery/scanner_gate.dm
  code/game/objects/items/circuitboards/machines/machine_circuitboards.dm
  code/game/objects/items/inspector.dm
  code/game/objects/items/storage/backpack.dm
  code/modules/cargo/markets/market_items/misc.dm
  code/modules/uplink/uplink_items/stealthy_tools.dm
  icons/obj/machines/scangate.dmi
Labels: Map Modification, Sprites

conflict fix and our maps
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/NSVBlueshift/Blueshift.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  code/game/machinery/scanner_gate.dm
Labels: Map Modification

Update hud.dm
  code/datums/hud.dm
Labels: none

Update emote.dm
  code/modules/mob/living/emote.dm
Labels: none

Update robot.dm
  code/modules/mob/living/silicon/robot/robot.dm
Labels: none

Update robot.dm
  code/modules/mob/living/silicon/robot/robot.dm
Labels: none

[MIRROR] [NO GBP] Fixing beyblade flipping (also an already borked comsig) (#28914)
  code/datums/emotes.dm
  code/modules/mob/emote.dm
  code/modules/mob/living/basic/slime/emote.dm
  code/modules/mob/living/brain/emote.dm
  code/modules/mob/living/carbon/emote.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/emote.dm
  code/modules/mob/living/silicon/ai/emote.dm
  code/modules/mob/living/silicon/robot/robot.dm
Labels: none

[MIRROR] Closing mind transfer popup does not transfer your mind anymore (#28966)
  code/modules/research/xenobiology/xenobiology.dm
Labels: none

Automatic changelog for PR #28914 [ci skip]
  html/changelogs/AutoChangeLog-pr-28914.yml
Labels: none

[MIRROR] Fix typo in rebar crossbow uplink (#28967)
  code/modules/uplink/uplink_items/job.dm
Labels: none

Automatic changelog for PR #28966 [ci skip]
  html/changelogs/AutoChangeLog-pr-28966.yml
Labels: none

[MIRROR] Reverted the MOD UI window to the original size (#28968)
  tgui/packages/tgui/interfaces/MODsuit.tsx
Labels: none

[MIRROR] Fixes wisp lanterns not updating your sight when recalling (#28969)
  code/modules/mining/lavaland/tendril_loot.dm
Labels: none

[MIRROR] TSA: Scanner Gates and N-Spector update (#28971)
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NSVBlueshift/Blueshift.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/map_files/wawastation/wawastation.dmm
  code/game/machinery/scanner_gate.dm
  code/game/objects/items/circuitboards/machines/machine_circuitboards.dm
  code/game/objects/items/inspector.dm
  code/game/objects/items/storage/backpack.dm
  code/modules/cargo/markets/market_items/misc.dm
  code/modules/uplink/uplink_items/stealthy_tools.dm
  icons/obj/machines/scangate.dmi
Labels: Map Modification, Sprites

Automatic changelog for PR #28967 [ci skip]
  html/changelogs/AutoChangeLog-pr-28967.yml
Labels: none

Automatic changelog for PR #28968 [ci skip]
  html/changelogs/AutoChangeLog-pr-28968.yml
Labels: none

Automatic changelog for PR #28969 [ci skip]
  html/changelogs/AutoChangeLog-pr-28969.yml
Labels: none

Automatic changelog for PR #28971 [ci skip]
  html/changelogs/AutoChangeLog-pr-28971.yml
Labels: none

Adds Untie Shoes, a 1-point wizard spell. (#84880)
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/datums/components/chuunibyou.dm
  code/datums/components/splattercasting.dm
  code/modules/antagonists/wizard/equipment/spellbook_entries/offensive.dm
  code/modules/antagonists/wizard/grand_ritual/finales/clown.dm
  code/modules/clothing/shoes/_shoes.dm
  code/modules/clothing/shoes/sneakers.dm
  code/modules/movespeed/modifiers/mobs.dm
  code/modules/spells/spell.dm
  code/modules/spells/spell_types/pointed/tie_shoes.dm
  icons/effects/mouse_pointers/lace.dmi
  icons/mob/actions/actions_spells.dmi
  tgstation.dme
Labels: Sprites

Centcom fax
  _maps/map_files/generic/CentCom.dmm
  code/__DEFINES/admin.dm
  code/modules/admin/topic.dm
  code/modules/paperwork/fax.dm
Labels: Map Modification
