Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'

Separates tabletop/wallmounted ID authorisation panels (#85124)
  _maps/RandomRuins/SpaceRuins/derelict_sulaco.dmm
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/debug/gateway_test.dmm
  _maps/map_files/debug/runtimestation.dmm
  _maps/map_files/generic/CentCom.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/map_files/wawastation/wawastation.dmm
  _maps/shuttles/emergency_kilo.dmm
  _maps/shuttles/emergency_tranquility.dmm
  code/__HELPERS/global_lists.dm
  code/modules/security_levels/keycard_authentication.dm
  icons/obj/machines/keycard_auth_table.dmi
  tools/UpdatePaths/Scripts/85124_wallmounted_id_auth.txt
Labels: Map Modification, Sprites

Small light fixtures no longer drop large fixture frames (#85161)
  code/modules/power/lighting/light.dm
Labels: none

Having your liver fail no longer keeps drug traits active without metabolizing them (#85184)
  code/modules/surgery/organs/internal/liver/_liver.dm
Labels: none

Fixes DDOSing bitrunners (#85194)
  code/modules/bitrunning/netpod/utils.dm
Labels: none

Refactored the on_hit_effect into an element. (#85034)
  code/__DEFINES/dcs/signals/signals_datum.dm
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/datums/components/on_hit_effect.dm
  code/datums/elements/bane.dm
  code/datums/elements/lifesteal.dm
  code/datums/elements/on_hit_effect.dm
  code/datums/elements/venomous.dm
  tgstation.dme
Labels: none

Cleans up clamp code, makes kill clamp actually work, fixes anchor resetting issues
  code/modules/vehicles/mecha/equipment/tools/work_tools.dm
Labels: none

You can no longer microwave kisses, slappers, and other abstract items (#85183)
  code/modules/food_and_drinks/machinery/microwave.dm
Labels: none

[TGUI] Photocopier Refresh (#85179)
  code/modules/paperwork/photocopier.dm
  tgui/packages/tgui/interfaces/Photocopier.jsx
  tgui/packages/tgui/interfaces/Photocopier.tsx
  tgui/packages/tgui/styles/components/Button.scss
Labels: none

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-29008.yml
  html/changelogs/AutoChangeLog-pr-29011.yml
  html/changelogs/AutoChangeLog-pr-29012.yml
  html/changelogs/AutoChangeLog-pr-29015.yml
  html/changelogs/AutoChangeLog-pr-29016.yml
  html/changelogs/archive/2024-07.yml
Labels: none

Makes voidwalker objectives more descriptive (#85195)
  code/modules/antagonists/voidwalker/voidwalker.dm
Labels: none

Automatic changelog for PR #29030 [ci skip]
  html/changelogs/AutoChangeLog-pr-29030.yml
Labels: none

Automatic changelog for PR #29014 [ci skip]
  html/changelogs/AutoChangeLog-pr-29014.yml
Labels: none

Update arrow.dm
  modular_skyrat/modules/tribal_extended/code/ammo/reusable/arrow.dm
Labels: none

Automatic changelog for PR #29023 [ci skip]
  html/changelogs/AutoChangeLog-pr-29023.yml
Labels: none

Automatic changelog for PR #29020 [ci skip]
  html/changelogs/AutoChangeLog-pr-29020.yml
Labels: none

what did i do
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/nanotrasen_system_inc/pistol.dm
Labels: none

[NO GBP] Fixing fishing. (#85200)
  code/modules/fishing/fishing_rod.dm
Labels: none

{NO GBP} Restores some lost items in the autodrobe (#85168)
  code/modules/vending/autodrobe.dm
Labels: none

Updates Strong-Arm implants to be cooldown based, deal entirely lethal damage (but more of it) (#85012)
  code/__DEFINES/DNA.dm
  code/modules/cargo/packs/medical.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/surgery/organs/internal/cyberimp/augments_arms.dm
Labels: none

fix stuff
  code/datums/hud.dm
  code/modules/clothing/glasses/hud.dm
  modular_skyrat/modules/company_imports/code/objects/hud_glasses.dm
  modular_skyrat/modules/customization/modules/clothing/glasses/hud.dm
  modular_skyrat/modules/modular_implants/code/nifsofts/huds.dm
  modular_skyrat/modules/modular_items/code/modular_glasses.dm
Labels: none

[MIRROR] Dehydrator, machine version of drying rack [MDB IGNORE] (#3928)
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_icewalker_lower.dmm
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_icewalker_upper.dmm
  _maps/RandomRuins/LavaRuins/skyrat/lavaland_surface_ash_walker1_skyrat.dmm
  _maps/map_files/NSVBlueshift/Blueshift.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
Labels: Map Modification

Made borgs and AI able to use research queue [NO GBP] (#85202)
  code/modules/research/techweb/_techweb.dm
Labels: none

Finishes the Mission by adding a Clown (and Rainbow) Beret.
  modular_skyrat/master_files/code/modules/loadout/categories/heads.dm
  modular_skyrat/master_files/icons/mob/clothing/head.dmi
  modular_skyrat/master_files/icons/obj/clothing/hats.dmi
  modular_skyrat/modules/customization/modules/clothing/head/jobs.dm
  modular_skyrat/modules/modular_vending/code/autodrobe.dm
  modular_skyrat/modules/modular_vending/code/clothesmate.dm
Labels: Sprites

icewalker
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_icewalker_lower.dmm
Labels: Map Modification

Update icemoon_underground_icewalker_lower.dmm
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_icewalker_lower.dmm
Labels: Map Modification

Finishes the Mission by adding a Clown (and Rainbow) Beret. (#29037)
  modular_skyrat/master_files/code/modules/loadout/categories/heads.dm
  modular_skyrat/master_files/icons/mob/clothing/head.dmi
  modular_skyrat/master_files/icons/obj/clothing/hats.dmi
  modular_skyrat/modules/customization/modules/clothing/head/jobs.dm
  modular_skyrat/modules/modular_vending/code/autodrobe.dm
  modular_skyrat/modules/modular_vending/code/clothesmate.dm
Labels: Sprites

[MIRROR] Made borgs and AI able to use research queue [NO GBP] (#29036)
  code/modules/research/techweb/_techweb.dm
Labels: none

Automatic changelog for PR #29037 [ci skip]
  html/changelogs/AutoChangeLog-pr-29037.yml
Labels: none

[MIRROR] {NO GBP} Restores some lost items in the autodrobe (#29034)
  code/modules/vending/autodrobe.dm
Labels: none

[MIRROR] [NO GBP] Fixing fishing. (#29033)
  code/modules/fishing/fishing_rod.dm
Labels: none

[MIRROR] Makes voidwalker objectives more descriptive (#29032)
  code/modules/antagonists/voidwalker/voidwalker.dm
Labels: none

[MIRROR] [TGUI] Photocopier Refresh (#29031)
  code/modules/paperwork/photocopier.dm
  tgui/packages/tgui/interfaces/Photocopier.jsx
  tgui/packages/tgui/interfaces/Photocopier.tsx
  tgui/packages/tgui/styles/components/Button.scss
Labels: none

[MIRROR] Refactored the on_hit_effect into an element. (#29028)
  code/__DEFINES/dcs/signals/signals_datum.dm
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/datums/components/on_hit_effect.dm
  code/datums/elements/bane.dm
  code/datums/elements/lifesteal.dm
  code/datums/elements/on_hit_effect.dm
  code/datums/elements/venomous.dm
  tgstation.dme
Labels: none

[MIRROR] Fixes DDOSing bitrunners (#29027)
  code/modules/bitrunning/netpod/utils.dm
Labels: none

[MIRROR] Having your liver fail no longer keeps drug traits active without metabolizing them (#29026)
  code/modules/surgery/organs/internal/liver/_liver.dm
Labels: none

Automatic changelog for PR #29036 [ci skip]
  html/changelogs/AutoChangeLog-pr-29036.yml
Labels: none

[MIRROR] Small light fixtures no longer drop large fixture frames (#29025)
  code/modules/power/lighting/light.dm
Labels: none

[MIRROR] gives fish analyzers a UI (#29022)
  code/modules/fishing/aquarium/fish_analyzer.dm
  tgui/packages/tgui/interfaces/FishAnalyzer.tsx
Labels: none

Automatic changelog for PR #29034 [ci skip]
  html/changelogs/AutoChangeLog-pr-29034.yml
Labels: none

[MIRROR] Fixes reversed isnull check in stacking machine consoles (#29021)
  code/modules/mining/machine_stacking.dm
Labels: none
