Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

Removes the Prybar.
  _maps/skyrat/lazy_templates/deathmatch/deep_space.dmm
  modular_skyrat/modules/colony_fabricator/code/design_datums/tools.dm
  modular_skyrat/modules/colony_fabricator/code/tools/tools.dm
  modular_skyrat/modules/company_imports/code/armament_datums/akh_frontier.dm
Labels: Map Modification

Removes the Prybar('s ability to open doors).
  modular_skyrat/modules/colony_fabricator/code/tools/tools.dm
Labels: none

Revert "Merge branch 'prybar' of https://github.com/theselfish/Skyrat-tg into prybar"
  _maps/skyrat/lazy_templates/deathmatch/deep_space.dmm
  modular_skyrat/modules/colony_fabricator/code/design_datums/tools.dm
  modular_skyrat/modules/company_imports/code/armament_datums/akh_frontier.dm
Labels: Map Modification

Update tools.dm
  modular_skyrat/modules/colony_fabricator/code/tools/tools.dm
Labels: none

HOOODAAN
  modular_skyrat/master_files/code/datums/components/crusher.dm
  modular_skyrat/master_files/code/modules/mining/equipment/kinetic_gauntlets.dm
Labels: none

Electric Eels Prefer Used Car Batteries (#84221)
  code/game/objects/items/maintenance_loot.dm
  code/modules/fishing/fish/fish_types.dm
  code/modules/fishing/fishing_rod.dm
  icons/obj/fishing.dmi
Labels: Sprites

Admin-only deadchat broadcasts don't repeat the "this is for admins only" message (#84212)
  code/__HELPERS/mobs.dm
Labels: none

Emag emag act (#84219)
  code/game/objects/items/emags.dm
Labels: none

Fix dna vault (#84243)
  code/game/objects/items/dna_probe.dm
  code/modules/station_goals/dna_vault.dm
Labels: none

Fix touch spells not having click CD (and misc small things) (#84182)
  code/modules/spells/spell_types/touch/_touch.dm
Labels: none

fix bloody feetprints only going 1 tile (#84216)
  code/datums/components/bloodysoles.dm
Labels: none

Makes oven trays count as valid trays for cutting things on..... (#84224)
  code/datums/elements/food/processable.dm
Labels: none

Brings back breathing nitrium randomly making you burp (#84175)
  code/modules/surgery/organs/internal/lungs/_lungs.dm
Labels: none

Internals ASMR (#84183)
  code/game/objects/items/tanks/tanks.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/carbon/inventory.dm
  code/modules/mob/living/carbon/life.dm
  sound/items/internals_off.ogg
  sound/items/internals_on.ogg
Labels: none

Fix plate shard variants never appearing (and slight tweaks) (#84227)
  code/modules/food_and_drinks/plate.dm
Labels: none

Now you can hold Ian in your arms (#84236)
  code/datums/elements/strippable.dm
Labels: none

Fixes smartfridge unpowered check (#84178)
  code/modules/food_and_drinks/machinery/smartfridge.dm
Labels: none

fixes emagged medbot hypo receiving upgraded medicine upgrade (#84208)
  code/game/objects/items/robot/items/hypo.dm
Labels: none

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-28317.yml
  html/changelogs/AutoChangeLog-pr-28318.yml
  html/changelogs/AutoChangeLog-pr-28319.yml
  html/changelogs/archive/2024-06.yml
Labels: none

Abductors have an antag sound stinger upon being rolled (#84180)
  code/modules/antagonists/abductor/abductor.dm
  sound/ambience/antag/ayylien.ogg
  sound/attributions.txt
Labels: none

Fixes the MediSim shuttle binocular fabricator, and a few other fabricator subtypes (#84155)
  _maps/shuttles/emergency_medisim.dmm
  code/game/machinery/droneDispenser.dm
Labels: Map Modification

Rewrites the grapple gun's description. (#84181)
  code/modules/mining/equipment/grapple_gun.dm
Labels: none

Fix
  code/controllers/subsystem/sprite_accessories.dm
  code/datums/dna.dm
  code/game/objects/structures/mirror.dm
  code/modules/mob/living/carbon/carbon_update_icons.dm
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  code/modules/mob/living/carbon/human/species_types/mothmen.dm
  modular_skyrat/master_files/code/modules/client/preferences/mutant_parts.dm
  modular_skyrat/master_files/code/modules/reagents/medicine_reagents/medicine_reagents.dm
  modular_skyrat/modules/customization/datums/dna.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/moth.dm
  modular_skyrat/modules/primitive_catgirls/code/species.dm
  modular_skyrat/modules/teshari/code/_teshari.dm
Labels: none

[MIRROR] [no gbp] Reworked sparks to not be so immensely destructive in benign circumstances (#28321)
  code/__DEFINES/dcs/signals/signals_atom/signals_atom_main.dm
  code/datums/components/combustible_flooder.dm
  code/datums/status_effects/debuffs/fire_stacks.dm
  code/game/objects/effects/decals/cleanable/misc.dm
  code/game/objects/effects/effect_system/effects_sparks.dm
  code/game/objects/items/cigs_lighters.dm
Labels: none

Removes the Prybar('s ability to open doors.) (#28322)
  modular_skyrat/modules/colony_fabricator/code/tools/tools.dm
Labels: none

Automatic changelog for PR #28321 [ci skip]
  html/changelogs/AutoChangeLog-pr-28321.yml
Labels: none

Automatic changelog for PR #28322 [ci skip]
  html/changelogs/AutoChangeLog-pr-28322.yml
Labels: none

[MODULAR] Fixes crusher code (#28323)
  modular_skyrat/master_files/code/datums/components/crusher.dm
  modular_skyrat/master_files/code/modules/mining/equipment/kinetic_gauntlets.dm
Labels: none

[MIRROR] Electric Eels Prefer Used Car Batteries (#28324)
  code/game/objects/items/maintenance_loot.dm
  code/modules/fishing/fish/fish_types.dm
  code/modules/fishing/fishing_rod.dm
  icons/obj/fishing.dmi
Labels: Sprites

[MIRROR] Admin-only deadchat broadcasts don't repeat the "this is for admins only" message (#28325)
  code/__HELPERS/mobs.dm
Labels: none

[MIRROR] Emag emag act (#28326)
  code/game/objects/items/emags.dm
Labels: none

[MIRROR] Fix dna vault (#28327)
  code/game/objects/items/dna_probe.dm
  code/modules/station_goals/dna_vault.dm
Labels: none

[MIRROR] Fix touch spells not having click CD (and misc small things) (#28328)
  code/modules/spells/spell_types/touch/_touch.dm
Labels: none

[MIRROR] fix bloody feetprints only going 1 tile (#28329)
  code/datums/components/bloodysoles.dm
Labels: none

[MIRROR] Makes oven trays count as valid trays for cutting things on..... (#28330)
  code/datums/elements/food/processable.dm
Labels: none

[MIRROR] Brings back breathing nitrium randomly making you burp (#28331)
  code/modules/surgery/organs/internal/lungs/_lungs.dm
Labels: none

[MIRROR] Internals ASMR (#28332)
  code/game/objects/items/tanks/tanks.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/carbon/inventory.dm
  code/modules/mob/living/carbon/life.dm
  sound/items/internals_off.ogg
  sound/items/internals_on.ogg
Labels: none

[MIRROR] Fix plate shard variants never appearing (and slight tweaks) (#28333)
  code/modules/food_and_drinks/plate.dm
Labels: none

[MIRROR] Now you can hold Ian in your arms (#28334)
  code/datums/elements/strippable.dm
Labels: none

[MIRROR] Fixes smartfridge unpowered check (#28335)
  code/modules/food_and_drinks/machinery/smartfridge.dm
Labels: none

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'
