Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'

Update shotgun.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/shotgun.dm
Labels: none

tocompensate
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/shotgun.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/nanotrasen_system_inc/magazine.dm
Labels: none

Update shotgun.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/shotgun.dm
Labels: none

Update allstar.dm
  modular_skyrat/modules/company_imports/code/armament_datums/allstar.dm
Labels: none

Update microstar_energy.dm
  modular_skyrat/modules/company_imports/code/armament_datums/microstar_energy.dm
Labels: none

27409 Followup 3 (#29539)
  code/modules/projectiles/guns/ballistic/shotgun.dm
  modular_skyrat/modules/aesthetics/guns/code/guns.dm
  modular_skyrat/modules/company_imports/code/armament_datums/akh_frontier.dm
  modular_skyrat/modules/company_imports/code/armament_datums/allstar.dm
  modular_skyrat/modules/company_imports/code/armament_datums/microstar_energy.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/shotgun.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/nanotrasen_system_inc/magazine.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/ammo/rifle.dm
  modular_skyrat/modules/sec_haul/code/misc/packs.dm
  modular_skyrat/modules/sec_haul/code/misc/vending.dm
  modular_skyrat/modules/sec_haul/code/technode/sec_research.dm
  modular_skyrat/modules/shotgunrebalance/code/shotgun.dm
Labels: none

there
  modular_skyrat/modules/modular_items/code/bags.dm
  modular_skyrat/modules/sec_haul/code/guns/cargo_stuff.dm
Labels: none

yeah
  modular_skyrat/modules/sec_haul/code/misc/packs.dm
  modular_skyrat/modules/sec_haul/code/technode/all_nodes.dm
  modular_skyrat/modules/sec_haul/code/technode/sec_research.dm
Labels: none

Update cargo_stuff.dm
  modular_skyrat/modules/sec_haul/code/guns/cargo_stuff.dm
Labels: none

Followup 4 (#29540)
  modular_skyrat/modules/modular_items/code/bags.dm
  modular_skyrat/modules/sec_haul/code/guns/cargo_stuff.dm
  modular_skyrat/modules/sec_haul/code/misc/packs.dm
  modular_skyrat/modules/sec_haul/code/technode/all_nodes.dm
  modular_skyrat/modules/sec_haul/code/technode/sec_research.dm
Labels: none

Update shotgun.dm
  modular_skyrat/modules/shotgunrebalance/code/shotgun.dm
Labels: none

Update shotgun.dm
  modular_skyrat/modules/shotgunrebalance/code/shotgun.dm
Labels: none

Update shotgun.dm
  modular_skyrat/modules/shotgunrebalance/code/shotgun.dm
Labels: none

[NO GBP] Partially reverts a change to *Rusted Ritual* (#85986)
  code/modules/antagonists/heretic/knowledge/side_rust_cosmos.dm
Labels: none

Adds descriptions to aquarium decoration items (#86019)
  code/modules/fishing/aquarium/aquarium_kit.dm
Labels: none

Marine helmets no longer change their sprite to security helmets when their flashlight is toggled (#86010)
  code/modules/clothing/head/helmet.dm
Labels: none

Goliath arm can now defuse gibonite (#86029)
  code/game/turfs/closed/minerals.dm
Labels: none

Update anvil.dm
  modular_skyrat/modules/reagent_forging/code/anvil.dm
Labels: none

Lets ethereals have favorite foods
  modular_skyrat/master_files/code/modules/mob/living/human/species_types/ethereal.dm
Labels: none

rename this since it's not just for lewds. includes emotes too
  code/datums/emotes.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_arousal/climax.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/ballgag.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/bdsm_mask.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/corset.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/deprivation_helmet.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/kinky_sleepbag.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/strapon.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_helpers/sounds.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/_masturbation_item.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/attachable_vibrator.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/condom.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/dildo.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/feather.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/fleshlight.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/kinky_shocker.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/leather_whip.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/magic_wand.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/shibari.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/spanking_pad.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/torture_candle.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/vibrator.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/vibroring.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_structures/bdsm_furniture.dm
  modular_skyrat/modules/reagent_forging/code/anvil.dm
Labels: none

Hierophant no longer lies about obliterating someone (#86024)
  code/modules/mob/living/simple_animal/hostile/megafauna/hierophant.dm
Labels: none

Fix grammar error on Hilbert (#86015)
  code/modules/mapfluff/ruins/spaceruin_code/hilbertshotel.dm
Labels: none

infinidorms
  code/modules/mapfluff/ruins/spaceruin_code/hilbertshotel.dm
  modular_skyrat/modules/ghostcafe/code/hilbertshotel_ghost.dm
  modular_skyrat/modules/hotel_rooms/beach_condo.dmm
  modular_skyrat/modules/hotel_rooms/stationside.dmm
Labels: none

Athletic Fishing Gloves and Fishing Module to fish without a fishing rod
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/datums/components/profound_fisher.dm
  code/game/machinery/newscaster/newscaster_machine.dm
  code/modules/clothing/gloves/special.dm
  code/modules/fishing/fishing_minigame.dm
  code/modules/fishing/fishing_rod.dm
  code/modules/mod/modules/modules_general.dm
  code/modules/modular_computers/computers/item/pda.dm
  code/modules/modular_computers/file_system/programs/messenger/messenger_program.dm
  code/modules/research/designs/mechfabricator_designs.dm
  code/modules/research/designs/misc_designs.dm
  code/modules/research/techweb/nodes/service_nodes.dm
  code/modules/tgui/states/reverse_contained.dm
  icons/mob/clothing/hands.dmi
  icons/mob/clothing/modsuit/mod_modules.dmi
  icons/mob/inhands/clothing/gloves_lefthand.dmi
  icons/mob/inhands/clothing/gloves_righthand.dmi
  icons/obj/clothing/gloves.dmi
  icons/obj/clothing/modsuit/mod_modules.dmi
  tgstation.dme
Labels: Sprites

others
  code/modules/mapfluff/ruins/spaceruin_code/hilbertshotel.dm
  modular_skyrat/modules/ghostcafe/code/hilbertshotel_ghost.dm
  modular_skyrat/modules/hotel_rooms/library.dmm
Labels: none

Update shotgun.dm
  modular_skyrat/modules/shotgunrebalance/code/shotgun.dm
Labels: none

re-doing the code for frangible slug (#29541)
  modular_skyrat/modules/shotgunrebalance/code/shotgun.dm
Labels: none

Automatic changelog for PR #29541 [ci skip]
  html/changelogs/AutoChangeLog-pr-29541.yml
Labels: none

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-29538.yml
  html/changelogs/AutoChangeLog-pr-29541.yml
  html/changelogs/archive/2024-08.yml
Labels: none

Add messages (paper, photos, cash) in bottles.
  _maps/RandomRuins/LavaRuins/lavaland_biodome_beach.dmm
  _maps/RandomZLevels/TheBeach.dmm
  code/__DEFINES/database.dm
  code/__DEFINES/fish.dm
  code/__DEFINES/paper.dm
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/controllers/subsystem/persistence/_persistence.dm
  code/controllers/subsystem/persistence/message_bottles.dm
  code/datums/components/fishing_spot.dm
  code/datums/json_database.dm
  code/game/objects/effects/spawners/message_in_a_bottle.dm
  code/game/objects/items/food/misc.dm
  code/game/turfs/open/sand.dm
  code/game/turfs/open/water.dm
  code/modules/cargo/order.dm
  code/modules/cargo/orderconsole.dm
  code/modules/fishing/fishing_minigame.dm
  code/modules/fishing/sources/_fish_source.dm
  code/modules/fishing/sources/source_types.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_drink.dm
  code/modules/paperwork/paper.dm
  code/modules/photography/photos/photo.dm
  code/modules/reagents/reagent_containers/cups/glassbottle.dm
  icons/effects/random_spawners.dmi
  icons/hud/fishing_hud.dmi
  icons/obj/drinks/bottles.dmi
  tgstation.dme
Labels: Map Modification, Sprites

Lets ethereals have favorite foods (#29547)
  modular_skyrat/master_files/code/modules/mob/living/human/species_types/ethereal.dm
Labels: none

Ports Beach Condo infinidorm from Nova, adds two new ones (#29552)
  code/modules/mapfluff/ruins/spaceruin_code/hilbertshotel.dm
  modular_skyrat/modules/ghostcafe/code/hilbertshotel_ghost.dm
  modular_skyrat/modules/hotel_rooms/beach_condo.dmm
  modular_skyrat/modules/hotel_rooms/library.dmm
  modular_skyrat/modules/hotel_rooms/stationside.dmm
Labels: none

Automatic changelog for PR #29547 [ci skip]
  html/changelogs/AutoChangeLog-pr-29547.yml
Labels: none

Toggle forge anvil noises in sound prefs (#29546)
  code/datums/emotes.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_arousal/climax.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/ballgag.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/bdsm_mask.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/corset.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/deprivation_helmet.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/kinky_sleepbag.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/strapon.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_helpers/sounds.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/_masturbation_item.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/attachable_vibrator.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/condom.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/dildo.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/feather.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/fleshlight.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/kinky_shocker.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/leather_whip.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/magic_wand.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/shibari.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/spanking_pad.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/torture_candle.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/vibrator.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/vibroring.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_structures/bdsm_furniture.dm
  modular_skyrat/modules/reagent_forging/code/anvil.dm
Labels: none

Automatic changelog for PR #29552 [ci skip]
  html/changelogs/AutoChangeLog-pr-29552.yml
Labels: none

[MIRROR] Marine helmets no longer change their sprite to security helmets when their flashlight is toggled (#29544)
  code/modules/clothing/head/helmet.dm
Labels: none

[MIRROR] Hierophant no longer lies about obliterating someone (#29548)
  code/modules/mob/living/simple_animal/hostile/megafauna/hierophant.dm
Labels: none

[MIRROR] Goliath arm can now defuse gibonite (#29545)
  code/game/turfs/closed/minerals.dm
Labels: none

[MIRROR] Adds descriptions to aquarium decoration items (#29543)
  code/modules/fishing/aquarium/aquarium_kit.dm
Labels: none

[MIRROR] [NO GBP] Partially reverts a change to *Rusted Ritual* (#29542)
  code/modules/antagonists/heretic/knowledge/side_rust_cosmos.dm
Labels: none
