Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

Automatic changelog for PR #28405 [ci skip]
  html/changelogs/AutoChangeLog-pr-28405.yml
Labels: none

Update carbon_defines.dm
  code/modules/mob/living/carbon/carbon_defines.dm
Labels: none

Automatic changelog for PR #28406 [ci skip]
  html/changelogs/AutoChangeLog-pr-28406.yml
Labels: none

Automatic changelog for PR #28407 [ci skip]
  html/changelogs/AutoChangeLog-pr-28407.yml
Labels: none

Automatic changelog for PR #28408 [ci skip]
  html/changelogs/AutoChangeLog-pr-28408.yml
Labels: none

Automatic changelog for PR #28412 [ci skip]
  html/changelogs/AutoChangeLog-pr-28412.yml
Labels: none

Automatic changelog for PR #28413 [ci skip]
  html/changelogs/AutoChangeLog-pr-28413.yml
Labels: none

Update goldeneye.dm
  modular_skyrat/modules/assault_operatives/code/goldeneye.dm
Labels: none

Automatic changelog for PR #28416 [ci skip]
  html/changelogs/AutoChangeLog-pr-28416.yml
Labels: none

Automatic changelog for PR #28417 [ci skip]
  html/changelogs/AutoChangeLog-pr-28417.yml
Labels: none

Automatic changelog for PR #28418 [ci skip]
  html/changelogs/AutoChangeLog-pr-28418.yml
Labels: none

Updates modular stuff
  code/modules/research/ordnance/scipaper_partner.dm
  modular_skyrat/master_files/code/modules/research/techweb/all_nodes.dm
  modular_skyrat/modules/microfusion/code/microfusion_techweb.dm
  modular_skyrat/modules/power/code/powerator.dm
Labels: none

Update carbon_defines.dm
  code/modules/mob/living/carbon/carbon_defines.dm
Labels: none

Update _production.dm
  code/modules/research/machinery/_production.dm
Labels: none

Update drone.dm
  modular_skyrat/modules/drone_adjustments/drone.dm
Labels: none

[MIRROR] BirdShot Service Department Changes (#28399)
  _maps/map_files/Birdshot/birdshot.dmm
  code/game/turfs/open/floor/fancy_floor.dm
Labels: Map Modification

Automatic changelog for PR #28399 [ci skip]
  html/changelogs/AutoChangeLog-pr-28399.yml
Labels: none

[MIRROR] Fix carbons deathgasping twice (#28409)
  code/__DEFINES/living.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/carbon/death.dm
  code/modules/mob/living/death.dm
  code/modules/wiremod/shell/drone.dm
Labels: none

[MIRROR] Fixes Pathfinder module AGAIN, General JPS Tweak (#28410)
  code/__HELPERS/paths/jps.dm
  code/__HELPERS/spatial_info.dm
  code/controllers/subsystem/radiation.dm
  code/datums/ai/objects/mod.dm
  code/datums/status_effects/agent_pinpointer.dm
  code/game/machinery/syndicatebomb.dm
  code/game/objects/items/pinpointer.dm
  code/modules/antagonists/changeling/powers/pheromone_receptors.dm
  code/modules/mob/living/navigation.dm
  code/modules/modular_computers/file_system/programs/radar.dm
  modular_skyrat/modules/assault_operatives/code/goldeneye.dm
Labels: none

[MIRROR] Protolathe printing speed is affected by parts again (#28411)
  code/modules/research/machinery/_production.dm
Labels: none

Fixes Drone Dispenser (#28420)
  modular_skyrat/modules/drone_adjustments/drone.dm
Labels: none

Automatic changelog for PR #28409 [ci skip]
  html/changelogs/AutoChangeLog-pr-28409.yml
Labels: none

Automatic changelog for PR #28410 [ci skip]
  html/changelogs/AutoChangeLog-pr-28410.yml
Labels: none

Removed tank dispenser UI (#84313)
  code/game/objects/structures/tank_dispenser.dm
  tgui/packages/tgui/interfaces/TankDispenser.jsx
Labels: none

Automatic changelog for PR #28411 [ci skip]
  html/changelogs/AutoChangeLog-pr-28411.yml
Labels: none

Automatic changelog for PR #28420 [ci skip]
  html/changelogs/AutoChangeLog-pr-28420.yml
Labels: none

Update all_nodes.dm
  modular_skyrat/master_files/code/modules/research/techweb/all_nodes.dm
Labels: none

Update microfusion_techweb.dm
  modular_skyrat/modules/microfusion/code/microfusion_techweb.dm
Labels: none

Update powerator.dm
  modular_skyrat/modules/power/code/powerator.dm
Labels: none

Update microfusion_techweb.dm
  modular_skyrat/modules/microfusion/code/microfusion_techweb.dm
Labels: none

Update microfusion_techweb.dm
  modular_skyrat/modules/microfusion/code/microfusion_techweb.dm
Labels: none

[MIRROR] Techweb nodes DEFINED & bug fix (#28414)
  code/__DEFINES/research/techweb_nodes.dm
  code/modules/research/ordnance/scipaper_partner.dm
  code/modules/research/techweb/nodes/alien_nodes.dm
  code/modules/research/techweb/nodes/atmos_nodes.dm
  code/modules/research/techweb/nodes/bepis_nodes.dm
  code/modules/research/techweb/nodes/biology_nodes.dm
  code/modules/research/techweb/nodes/circuit_nodes.dm
  code/modules/research/techweb/nodes/cyborg_nodes.dm
  code/modules/research/techweb/nodes/engi_nodes.dm
  code/modules/research/techweb/nodes/mech_nodes.dm
  code/modules/research/techweb/nodes/medbay_nodes.dm
  code/modules/research/techweb/nodes/mining_nodes.dm
  code/modules/research/techweb/nodes/modsuit_nodes.dm
  code/modules/research/techweb/nodes/research_nodes.dm
  code/modules/research/techweb/nodes/robo_nodes.dm
  code/modules/research/techweb/nodes/security_nodes.dm
  code/modules/research/techweb/nodes/service_nodes.dm
  code/modules/research/techweb/nodes/surgery_nodes.dm
  code/modules/research/techweb/nodes/syndicate_nodes.dm
  code/modules/research/techweb/techweb_types.dm
  modular_skyrat/master_files/code/modules/research/techweb/all_nodes.dm
  modular_skyrat/modules/microfusion/code/microfusion_techweb.dm
  modular_skyrat/modules/power/code/powerator.dm
  tgstation.dme
Labels: none

[MIRROR] Removed tank dispenser UI (#28421)
  code/game/objects/structures/tank_dispenser.dm
  tgui/packages/tgui/interfaces/TankDispenser.jsx
Labels: none

Automatic changelog for PR #28414 [ci skip]
  html/changelogs/AutoChangeLog-pr-28414.yml
Labels: none

Automatic changelog for PR #28421 [ci skip]
  html/changelogs/AutoChangeLog-pr-28421.yml
Labels: none

Medical technician kit (#28393)
  modular_skyrat/modules/company_imports/code/armament_datums/deforest_medical.dm
  modular_skyrat/modules/deforest_medical_items/code/cargo_packs.dm
  modular_skyrat/modules/deforest_medical_items/code/storage_items.dm
  modular_skyrat/modules/deforest_medical_items/icons/inhands/cases_lefthand.dmi
  modular_skyrat/modules/deforest_medical_items/icons/inhands/cases_righthand.dmi
  modular_skyrat/modules/deforest_medical_items/icons/storage.dmi
  modular_skyrat/modules/deforest_medical_items/icons/worn/worn.dmi
  modular_skyrat/modules/deforest_medical_items/icons/worn/worn_teshari.dmi
  modular_skyrat/modules/hyposprays/code/hyposprays_II.dm
  modular_skyrat/modules/hyposprays/code/hypovials.dm
  modular_skyrat/modules/kahraman_equipment/code/organic_printer_designs/equipment.dm
Labels: Sprites

Allows domain spawners to use character prefs. (#28395)
  modular_skyrat/modules/bitrunning/code/spawners.dm
  tgstation.dme
Labels: none

Automatic changelog for PR #28393 [ci skip]
  html/changelogs/AutoChangeLog-pr-28393.yml
Labels: none

Automatic changelog for PR #28395 [ci skip]
  html/changelogs/AutoChangeLog-pr-28395.yml
Labels: none

Initial changes
  code/__DEFINES/~skyrat_defines/culture.dm
  modular_skyrat/master_files/code/modules/client/preferences.dm
  modular_skyrat/master_files/code/modules/client/preferences/middleware/languages.dm
  modular_skyrat/master_files/code/modules/language/language_holder.dm
  modular_skyrat/modules/customization/modules/jobs/_job.dm
  tgstation.dme
Labels: none

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'
