Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

[MIRROR] Fixes buckling to beds in some situations making you use the pillow as a footrest (#29624)
  code/__DEFINES/mobs.dm
  code/game/machinery/stasis.dm
  code/game/objects/buckling.dm
  code/game/objects/structures/beds_chairs/bed.dm
Labels: none

Automatic changelog for PR #29640 [ci skip]
  html/changelogs/AutoChangeLog-pr-29640.yml
Labels: none

[MIRROR] Fixes an oversight with jump boots (#29637)
  code/modules/clothing/shoes/jumpboots.dm
Labels: none

Automatic changelog for PR #29624 [ci skip]
  html/changelogs/AutoChangeLog-pr-29624.yml
Labels: none

Gives Plumbing Constructors and RTDs pick up and UI sounds (#86103)
  code/game/objects/items/rcd/RCD.dm
  code/game/objects/items/rcd/RPD.dm
  code/game/objects/items/rcd/RPLD.dm
  code/game/objects/items/rcd/RTD.dm
Labels: none

Changed `BUILD.cmd` in the RUNNING_A_SERVER.MD instructions to the correct file extension (#86469)
  .github/guides/RUNNING_A_SERVER.md
Labels: none

Changes Brimdemon Trophy Text (#86471)
  code/modules/mob/living/basic/lavaland/brimdemon/brimdemon_loot.dm
Labels: none

Reformats rebar crossbow description, removes nonexistent misfire warning. (#86474)
  code/modules/projectiles/guns/ballistic/rifle.dm
Labels: none

Automatic changelog for PR #29637 [ci skip]
  html/changelogs/AutoChangeLog-pr-29637.yml
Labels: none

Embed updating now actually properly adds the embed element and embed type (#86097)
  code/game/objects/items.dm
Labels: none

Makes it so that every shields can be shieldbashed, not just riot shields. Take Two (#86039)
  code/game/objects/items/shields.dm
  code/modules/antagonists/changeling/powers/mutations.dm
  code/modules/antagonists/cult/cult_items.dm
  code/modules/research/xenobiology/crossbreeding/_weapons.dm
  sound/effects/energyshieldbash.ogg
Labels: none

Refactor some usages of `get_step_towards` in loops to use `get_steps_to` instead (#86020)
  code/__HELPERS/atoms.dm
  code/__HELPERS/spatial_info.dm
  code/_onclick/click.dm
Labels: none

Exodrones can now have a custom name assigned by mappers (#86458)
  code/modules/explorer_drone/exodrone.dm
Labels: none

Ethereal Food and Drink Tweak (#86043)
  code/modules/reagents/chemistry/reagents/drinks/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/drinks/drink_reagents.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
Labels: none

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-29607.yml
  html/changelogs/AutoChangeLog-pr-29608.yml
  html/changelogs/AutoChangeLog-pr-29615.yml
  html/changelogs/AutoChangeLog-pr-29617.yml
  html/changelogs/AutoChangeLog-pr-29619.yml
  html/changelogs/AutoChangeLog-pr-29621.yml
  html/changelogs/AutoChangeLog-pr-29622.yml
  html/changelogs/AutoChangeLog-pr-29624.yml
  html/changelogs/AutoChangeLog-pr-29627.yml
  html/changelogs/AutoChangeLog-pr-29628.yml
  html/changelogs/AutoChangeLog-pr-29629.yml
  html/changelogs/AutoChangeLog-pr-29631.yml
  html/changelogs/AutoChangeLog-pr-29633.yml
  html/changelogs/AutoChangeLog-pr-29634.yml
  html/changelogs/AutoChangeLog-pr-29635.yml
  html/changelogs/AutoChangeLog-pr-29636.yml
  html/changelogs/AutoChangeLog-pr-29637.yml
  html/changelogs/AutoChangeLog-pr-29640.yml
  html/changelogs/archive/2024-09.yml
Labels: none

[NO GBP] Fixes bonsetter borg issue and adds medical combitools. (#29657)
  modular_skyrat/modules/borgs/code/robot_upgrade.dm
Labels: none

[MIRROR] Fixes Infinite Codicies (#29647)
  code/modules/antagonists/heretic/knowledge/starting_lore.dm
Labels: none

Automatic changelog for PR #29657 [ci skip]
  html/changelogs/AutoChangeLog-pr-29657.yml
Labels: none

Automatic changelog for PR #29647 [ci skip]
  html/changelogs/AutoChangeLog-pr-29647.yml
Labels: none

[MIRROR] Embed updating now actually properly adds the embed element and embed type (#29652)
  code/game/objects/items.dm
Labels: none

[MIRROR] When silicons use their radio they don't whisper (#29626)
  code/modules/mob/living/silicon/ai/ai_say.dm
  code/modules/mob/living/silicon/silicon_say.dm
Labels: none

[MIRROR] Fixes the die of fate deleting all your organs when rolling a 4 (#29612)
  code/game/objects/items/dice.dm
Labels: none

[MIRROR] Heretic Influences use alt appearances (so ghosts can now see them (semi-transparent)) (#29646)
  code/__DEFINES/dcs/signals/signals_mind.dm
  code/datums/elements/block_turf_fingerprints.dm
  code/game/atom/alternate_appearance.dm
  code/modules/antagonists/_common/antag_datum.dm
  code/modules/antagonists/_common/antag_hud.dm
  code/modules/antagonists/cult/blood_magic.dm
  code/modules/antagonists/cult/runes.dm
  code/modules/antagonists/heretic/heretic_antag.dm
  code/modules/antagonists/heretic/heretic_knowledge.dm
  code/modules/antagonists/heretic/influences.dm
  code/modules/antagonists/heretic/knowledge/starting_lore.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/login.dm
  code/modules/mob/mob.dm
  tgstation.dme
Labels: none

[MIRROR] Makes it so that every shields can be shieldbashed, not just riot shields. Take Two (#29653)
  code/game/objects/items/shields.dm
  code/modules/antagonists/changeling/powers/mutations.dm
  code/modules/antagonists/cult/cult_items.dm
  code/modules/research/xenobiology/crossbreeding/_weapons.dm
  sound/effects/energyshieldbash.ogg
Labels: none

[MIRROR] Reformats rebar crossbow description, removes nonexistent misfire warning. (#29651)
  code/modules/projectiles/guns/ballistic/rifle.dm
Labels: none

[MIRROR] (prev grey bull only) Soda and bee cans fit on tool belts - honoring the age-old tradition of drinking on the job (#29639)
  code/game/objects/items/storage/belt.dm
Labels: none

[MIRROR] Adds new sprites for hellfire lasers (#29618)
  code/modules/projectiles/projectile/beams.dm
  icons/obj/weapons/guns/projectiles.dmi
Labels: Sprites

[MIRROR] Gravity generator sound overhaul (#29606)
  code/datums/looping_sounds/machinery_sounds.dm
  sound/machines/gravgen/attribution.txt
  sound/machines/gravgen/grav_gen_end.ogg
  sound/machines/gravgen/grav_gen_mid1.ogg
  sound/machines/gravgen/grav_gen_mid2.ogg
  sound/machines/gravgen/grav_gen_start.ogg
  sound/machines/gravgen/gravgen_mid1.ogg
  sound/machines/gravgen/gravgen_mid2.ogg
  sound/machines/gravgen/gravgen_mid3.ogg
  sound/machines/gravgen/gravgen_mid4.ogg
Labels: none

Automatic changelog for PR #29652 [ci skip]
  html/changelogs/AutoChangeLog-pr-29652.yml
Labels: none

Automatic changelog for PR #29626 [ci skip]
  html/changelogs/AutoChangeLog-pr-29626.yml
Labels: none

Automatic changelog for PR #29612 [ci skip]
  html/changelogs/AutoChangeLog-pr-29612.yml
Labels: none

Automatic changelog for PR #29646 [ci skip]
  html/changelogs/AutoChangeLog-pr-29646.yml
Labels: none

Automatic changelog for PR #29653 [ci skip]
  html/changelogs/AutoChangeLog-pr-29653.yml
Labels: none

Automatic changelog for PR #29651 [ci skip]
  html/changelogs/AutoChangeLog-pr-29651.yml
Labels: none

Automatic changelog for PR #29639 [ci skip]
  html/changelogs/AutoChangeLog-pr-29639.yml
Labels: none

Automatic changelog for PR #29618 [ci skip]
  html/changelogs/AutoChangeLog-pr-29618.yml
Labels: none

Automatic changelog for PR #29606 [ci skip]
  html/changelogs/AutoChangeLog-pr-29606.yml
Labels: none

New ERT: Code Violet EMT Response Team (#85650)
  code/datums/ert.dm
  code/modules/antagonists/ert/ert.dm
  code/modules/clothing/outfits/ert.dm
  code/modules/clothing/outfits/plasmaman.dm
  code/modules/mod/modules/modules_medical.dm
Labels: none

Fix basic bots stacking path hud images infinitely (#86499)
  code/modules/mob/living/basic/bots/bot_hud.dm
Labels: none

Fix accidentally placed door thingy
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Map Modification

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'
