Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'

[NO GBP]Fixes space heaters. Makes their effectiveness independant of cell defines. (#84962)
  code/game/machinery/spaceheater.dm
Labels: none

Emitters and Shieldgens work roundstart, APCs charge evenly
  code/__DEFINES/subsystems.dm
  code/controllers/subsystem/machines.dm
  code/modules/power/apc/apc_main.dm
Labels: none

Adjust first aid supply crates [NO GBP] (#28877)
  modular_skyrat/modules/company_imports/code/armament_datums/deforest_medical.dm
  modular_skyrat/modules/deforest_medical_items/code/cargo_packs.dm
Labels: none

[MIRROR] Adjusts style meter fonts to not be blurry, fixes text overlapping with meter/shifting up when you gain actions (#28879)
  code/datums/components/style/style.dm
  code/datums/components/style/style_meter.dm
Labels: none

Automatic changelog for PR #28877 [ci skip]
  html/changelogs/AutoChangeLog-pr-28877.yml
Labels: none

Automatic changelog for PR #28879 [ci skip]
  html/changelogs/AutoChangeLog-pr-28879.yml
Labels: none

Fixes even more stuff with the balaclavas (#28881)
  modular_skyrat/master_files/icons/mob/clothing/mask.dmi
  modular_skyrat/master_files/icons/obj/clothing/masks.dmi
Labels: Sprites

[MIRROR] Small hulk cleanup / nukes `TRAIT_IGNOREDAMAGESLOWDOWN` (#28882)
  code/__DEFINES/traits/declarations.dm
  code/__DEFINES/traits/sources.dm
  code/_globalvars/traits/_traits.dm
  code/_globalvars/traits/admin_tooling.dm
  code/datums/elements/simple_flying.dm
  code/datums/martial/sleeping_carp.dm
  code/datums/mutations/hulk.dm
  code/datums/status_effects/buffs.dm
  code/game/objects/items/devices/scanners/health_analyzer.dm
  code/game/objects/items/dualsaber.dm
  code/game/objects/items/hand_items.dm
  code/modules/antagonists/changeling/powers/adrenaline.dm
  code/modules/antagonists/heretic/knowledge/rust_lore.dm
  code/modules/antagonists/heretic/status_effects/buffs.dm
  code/modules/antagonists/nightmare/nightmare_equipment.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mod/modules/modules_supply.dm
  code/modules/projectiles/projectile/energy/stun.dm
  code/modules/surgery/organs/internal/cyberimp/augments_arms.dm
  code/modules/surgery/organs/internal/cyberimp/augments_internal.dm
Labels: none

[MIRROR] Gives a speaking mob megaphone text when standing on top of a closed crate (#28883)
  code/__DEFINES/say.dm
  code/__DEFINES/span.dm
  code/datums/components/soapbox.dm
  code/game/machinery/telecomms/broadcasting.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/structures/crates_lockers/crates.dm
  interface/stylesheet.dm
  tgstation.dme
  tgui/packages/tgui-panel/styles/tgchat/chat-dark.scss
  tgui/packages/tgui-panel/styles/tgchat/chat-light.scss
Labels: none

[MIRROR] Fish quality fixes and recipes. (#28884)
  code/game/objects/items/food/meatdish.dm
  code/modules/food_and_drinks/recipes/soup_mixtures.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_lizard.dm
  code/modules/hydroponics/grown/beans.dm
Labels: none

[MIRROR] Update Island_brawl.dmm (#28885)
  _maps/virtual_domains/island_brawl.dmm
Labels: Map Modification

[MIRROR] Fixes hulks being able to activate dualsabers despite not being able to actually do anything with them (#28886)
  code/datums/components/twohanded.dm
Labels: none

[MIRROR] You can properly aim mining bombs at turfs now (#28887)
  code/modules/mod/modules/modules_supply.dm
Labels: none

[MIRROR] Borgs cant put their integrated tools into the reagent grinder (#28888)
  code/modules/reagents/chemistry/machinery/reagentgrinder.dm
Labels: none

[MIRROR] Stopping orbiting now automatically breaks you out of autoobserve (#28889)
  code/modules/mob/dead/observer/observer.dm
Labels: none

[MIRROR] Adds missing cable to Wawastation perma (#28890)
  _maps/map_files/wawastation/wawastation.dmm
Labels: Map Modification

[MIRROR] Adds input sanitization to malf ai voice changer module (#28891)
  code/modules/antagonists/malf_ai/malf_ai_modules.dm
Labels: none

[MIRROR] Fixes carrot sword description (#28892)
  code/game/objects/items/weaponry.dm
Labels: none

[MIRROR] Xenos have their resist UI element again (#28894)
  code/_onclick/hud/alien.dm
Labels: none

[MIRROR] You can now buckle to bar stools (#28895)
  code/game/objects/structures/beds_chairs/chair.dm
Labels: none

[MIRROR] [NO GBP]Fixes space heaters. Makes their effectiveness independant of cell defines. (#28896)
  code/game/machinery/spaceheater.dm
Labels: none

Automatic changelog for PR #28882 [ci skip]
  html/changelogs/AutoChangeLog-pr-28882.yml
Labels: none

Automatic changelog for PR #28881 [ci skip]
  html/changelogs/AutoChangeLog-pr-28881.yml
Labels: none

Automatic changelog for PR #28883 [ci skip]
  html/changelogs/AutoChangeLog-pr-28883.yml
Labels: none

Automatic changelog for PR #28884 [ci skip]
  html/changelogs/AutoChangeLog-pr-28884.yml
Labels: none

Automatic changelog for PR #28885 [ci skip]
  html/changelogs/AutoChangeLog-pr-28885.yml
Labels: none

Automatic changelog for PR #28886 [ci skip]
  html/changelogs/AutoChangeLog-pr-28886.yml
Labels: none

Automatic changelog for PR #28887 [ci skip]
  html/changelogs/AutoChangeLog-pr-28887.yml
Labels: none

Automatic changelog for PR #28888 [ci skip]
  html/changelogs/AutoChangeLog-pr-28888.yml
Labels: none

Automatic changelog for PR #28889 [ci skip]
  html/changelogs/AutoChangeLog-pr-28889.yml
Labels: none

Automatic changelog for PR #28890 [ci skip]
  html/changelogs/AutoChangeLog-pr-28890.yml
Labels: none

Automatic changelog for PR #28891 [ci skip]
  html/changelogs/AutoChangeLog-pr-28891.yml
Labels: none

Automatic changelog for PR #28892 [ci skip]
  html/changelogs/AutoChangeLog-pr-28892.yml
Labels: none

Automatic changelog for PR #28894 [ci skip]
  html/changelogs/AutoChangeLog-pr-28894.yml
Labels: none

Automatic changelog for PR #28895 [ci skip]
  html/changelogs/AutoChangeLog-pr-28895.yml
Labels: none

Automatic changelog for PR #28896 [ci skip]
  html/changelogs/AutoChangeLog-pr-28896.yml
Labels: none

Hemophages can drink drinks made with blood
  modular_skyrat/modules/customization/modules/reagents/chemistry/reagents/alcohol_reagents.dm
Labels: none

Rounds temperature protection to .1% accuracy (#85021)
  code/modules/mob/living/carbon/human/life.dm
Labels: none

Point blank shots with piercing weapons no longer make the bullet fly north after hitting the target (#85019)
  code/modules/projectiles/ammunition/_firing.dm
Labels: none

Fixes Research queue runtimes (#85020)
  code/controllers/subsystem/research.dm
Labels: none
