Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

Fixes a typo I noticed when working elsewhere in borg stuff (#85016)
  code/modules/research/techweb/nodes/cyborg_nodes.dm
Labels: none

[NO GBP] Fixes some incorrect reagent operations (#85017)
  code/modules/plumbing/plumbers/_plumb_machinery.dm
  code/modules/reagents/chemistry/holder/holder.dm
Labels: none

[no gbp] fix firebot range checks (#85018)
  code/modules/mob/living/basic/bots/firebot/firebot.dm
Labels: none

Projectiles now can hit border objects on other turfs instead of passing through them (#84975)
  code/modules/projectiles/projectile.dm
Labels: none

Fixes runtime with storage datum & portable chem mixer beaker insertion (#84966)
  code/datums/storage/storage.dm
  code/datums/storage/subtypes/portable_chem_mixer.dm
  code/modules/reagents/chemistry/machinery/portable_chem_mixer.dm
  tgstation.dme
Labels: none

Justice mech invisibility fix (#84906)
  code/modules/vehicles/mecha/combat/justice.dm
Labels: none

Removes a rogue apostrophe from DeltaStation's monkey pen door (#85022)
  _maps/map_files/Deltastation/DeltaStation2.dmm
Labels: Map Modification

FIxes the pipe sprite up a bit more. (#85027)
  icons/mob/clothing/mask.dmi
Labels: Sprites

Fixes Plague Doctor Mask not being able to use internals (#85023)
  code/modules/clothing/masks/gasmask.dm
Labels: none

Sol Drip Restroration
  modular_skyrat/master_files/icons/mob/clothing/head.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/security.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/security_digi.dmi
  modular_skyrat/master_files/icons/obj/clothing/hats.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/security.dmi
  modular_skyrat/modules/goofsec/code/sec_clothing_overrides.dm
  modular_skyrat/modules/sec_haul/code/peacekeeper/peacekeeper_clothing.dm
Labels: Sprites

Ghosts once again can see people's true names and roundstart jobs (#84951)
  code/game/atom/atom_examine.dm
  code/modules/mob/dead/observer/orbit.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  tgui/packages/tgui/interfaces/Orbit/JobIcon.tsx
  tgui/packages/tgui/interfaces/Orbit/OrbitBlade.tsx
  tgui/packages/tgui/interfaces/Orbit/OrbitCollapsible.tsx
  tgui/packages/tgui/interfaces/Orbit/OrbitItem.tsx
  tgui/packages/tgui/interfaces/Orbit/OrbitSearchBar.tsx
  tgui/packages/tgui/interfaces/Orbit/OrbitTooltip.tsx
  tgui/packages/tgui/interfaces/Orbit/helpers.ts
  tgui/packages/tgui/interfaces/Orbit/index.tsx
  tgui/packages/tgui/interfaces/Orbit/types.ts
  tgui/packages/tgui/styles/interfaces/Orbit.scss
Labels: none

Chemmaster reagent transfer runtime fix (#84939)
  code/modules/reagents/chemistry/machinery/chem_master.dm
Labels: none

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-28877.yml
  html/changelogs/AutoChangeLog-pr-28879.yml
  html/changelogs/AutoChangeLog-pr-28881.yml
  html/changelogs/AutoChangeLog-pr-28882.yml
  html/changelogs/AutoChangeLog-pr-28883.yml
  html/changelogs/AutoChangeLog-pr-28884.yml
  html/changelogs/AutoChangeLog-pr-28885.yml
  html/changelogs/AutoChangeLog-pr-28886.yml
  html/changelogs/AutoChangeLog-pr-28887.yml
  html/changelogs/AutoChangeLog-pr-28888.yml
  html/changelogs/AutoChangeLog-pr-28889.yml
  html/changelogs/AutoChangeLog-pr-28890.yml
  html/changelogs/AutoChangeLog-pr-28891.yml
  html/changelogs/AutoChangeLog-pr-28892.yml
  html/changelogs/AutoChangeLog-pr-28894.yml
  html/changelogs/AutoChangeLog-pr-28895.yml
  html/changelogs/AutoChangeLog-pr-28896.yml
  html/changelogs/archive/2024-07.yml
Labels: none

[NO GBP] Fixing beyblade flipping (also an already borked comsig)
  code/datums/emotes.dm
  code/modules/mob/emote.dm
  code/modules/mob/living/basic/slime/emote.dm
  code/modules/mob/living/brain/emote.dm
  code/modules/mob/living/carbon/emote.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/emote.dm
  code/modules/mob/living/silicon/ai/emote.dm
Labels: none

Whoops
  modular_skyrat/master_files/icons/mob/clothing/head.dmi
  modular_skyrat/master_files/icons/obj/clothing/hats.dmi
  modular_skyrat/modules/goofsec/code/sec_clothing_overrides.dm
Labels: Sprites

Cyborg upgrade module sprites (#85024)
  code/game/objects/items/robot/robot_upgrades.dm
  icons/mob/silicon/robot_items.dmi
Labels: Sprites

lol
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
Labels: none

boring update
  modular_skyrat/modules/cortical_borer/code/abilities/_borer_abilities.dm
  modular_skyrat/modules/cortical_borer/code/abilities/host_movement.dm
  modular_skyrat/modules/cortical_borer/code/cortical_borer.dm
  modular_skyrat/modules/cortical_borer/code/cortical_borer_movement.dm
  tgstation.dme
Labels: none

more fixes
  modular_skyrat/modules/cortical_borer/code/abilities/host_movement.dm
  modular_skyrat/modules/cortical_borer/code/cortical_borer.dm
  modular_skyrat/modules/cortical_borer/code/cortical_borer_movement.dm
Labels: none

Even more fixes
  modular_skyrat/modules/cortical_borer/code/cortical_borer.dm
  modular_skyrat/modules/cortical_borer/code/cortical_borer_movement.dm
Labels: none

woops
  modular_skyrat/modules/cortical_borer/code/cortical_borer.dm
Labels: none

there, last runtime fixed
  modular_skyrat/modules/cortical_borer/code/abilities/_borer_abilities.dm
  modular_skyrat/modules/cortical_borer/code/cortical_borer.dm
  modular_skyrat/modules/cortical_borer/code/cortical_borer_movement.dm
Labels: none

Automatic changelog for PR #28911 [ci skip]
  html/changelogs/AutoChangeLog-pr-28911.yml
Labels: none

Update shotgun.dm
  modular_skyrat/modules/shotgunrebalance/code/shotgun.dm
Labels: none

Automatic changelog for PR #28898 [ci skip]
  html/changelogs/AutoChangeLog-pr-28898.yml
Labels: none

Automatic changelog for PR #28903 [ci skip]
  html/changelogs/AutoChangeLog-pr-28903.yml
Labels: none

Automatic changelog for PR #28908 [ci skip]
  html/changelogs/AutoChangeLog-pr-28908.yml
Labels: none

Update pistol.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/pistol.dm
Labels: none

Automatic changelog for PR #28902 [ci skip]
  html/changelogs/AutoChangeLog-pr-28902.yml
Labels: none

Automatic changelog for PR #28901 [ci skip]
  html/changelogs/AutoChangeLog-pr-28901.yml
Labels: none

Automatic changelog for PR #28910 [ci skip]
  html/changelogs/AutoChangeLog-pr-28910.yml
Labels: none

Automatic changelog for PR #28880 [ci skip]
  html/changelogs/AutoChangeLog-pr-28880.yml
Labels: none

Automatic changelog for PR #28905 [ci skip]
  html/changelogs/AutoChangeLog-pr-28905.yml
Labels: none

Automatic changelog for PR #28900 [ci skip]
  html/changelogs/AutoChangeLog-pr-28900.yml
Labels: none

Automatic changelog for PR #28904 [ci skip]
  html/changelogs/AutoChangeLog-pr-28904.yml
Labels: none

Automatic changelog for PR #28912 [ci skip]
  html/changelogs/AutoChangeLog-pr-28912.yml
Labels: none

i pray this fix it before i die
  modular_skyrat/master_files/icons/obj/clothing/head/helmet.dmi
  modular_skyrat/modules/goofsec/code/sec_clothing_overrides.dm
Labels: Sprites

Update ammobox.dm
  modular_skyrat/modules/shotgunrebalance/code/ammobox.dm
Labels: none

this should work
  modular_skyrat/modules/sec_haul/code/misc/vending.dm
  modular_skyrat/modules/sec_haul/code/technode/sec_research.dm
  modular_skyrat/modules/shotgunrebalance/code/ammobox.dm
  modular_skyrat/modules/shotgunrebalance/code/shotgun.dm
Labels: none

Update shotgun.dm
  modular_skyrat/modules/shotgunrebalance/code/shotgun.dm
Labels: none

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'
