Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

oops
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/NSVBlueshift/Blueshift.dmm
Labels: Map Modification

fixes
  code/datums/elements/muffles_speech.dm
  code/modules/mob/living/carbon/alien/special/facehugger.dm
  modular_skyrat/modules/emotes/code/emotes.dm
  modular_skyrat/modules/emotes/code/scream_emote.dm
Labels: none

Update bsa_cannon.dm
  modular_skyrat/modules/bsa_overhaul/code/bsa_cannon.dm
Labels: none

test
  modular_skyrat/modules/emotes/code/laugh_emotes.dm
Labels: none

Automatic changelog for PR #28477 [ci skip]
  html/changelogs/AutoChangeLog-pr-28477.yml
Labels: none

fixes
  code/modules/projectiles/gun.dm
  modular_skyrat/modules/marines/code/gear.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/grenade_launcher.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/rifle.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/submachinegun.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/szot_dynamica/rifle.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/szot_dynamica/submachinegun.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/xhihao_light_arms/rifle.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/xhihao_light_arms/submachinegun.dm
Labels: none

fix
  modular_skyrat/modules/emotes/code/emotes.dm
Labels: none

[MIRROR] [MDB IGNORE] Gives telescreens mapping directionals + adds a map lint for them (#28400)
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1.dmm
  _maps/RandomRuins/SpaceRuins/deepstorage.dmm
  _maps/RandomRuins/SpaceRuins/forgottenship.dmm
  _maps/RandomZLevels/moonoutpost19.dmm
  _maps/RandomZLevels/undergroundoutpost45.dmm
  _maps/deathmatch/meta_brig.dmm
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NSVBlueshift/Blueshift.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  _maps/map_files/generic/CentCom.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/map_files/wawastation/wawastation.dmm
  _maps/shuttles/emergency_kilo.dmm
  _maps/skyrat/automapper/templates/centcom/centcom_ferry_dock.dmm
  _maps/templates/battlecruiser_starfury.dmm
  _maps/virtual_domains/syndicate_assault.dmm
  code/__DEFINES/cameranets.dm
  code/game/machinery/computer/telescreen.dm
  icons/obj/wallmounts.dmi
  modular_skyrat/modules/mapping/code/telescreens.dm
  tgstation.dme
  tools/maplint/lints/telescreen_varedits.yml
Labels: Map Modification, Sprites

[MIRROR] Better UI for heretic research (#28511)
  code/modules/antagonists/heretic/heretic_antag.dm
  code/modules/antagonists/heretic/heretic_knowledge.dm
  code/modules/antagonists/heretic/items/eldritch_flask.dm
  code/modules/antagonists/heretic/knowledge/ash_lore.dm
  code/modules/antagonists/heretic/knowledge/blade_lore.dm
  code/modules/antagonists/heretic/knowledge/cosmic_lore.dm
  code/modules/antagonists/heretic/knowledge/flesh_lore.dm
  code/modules/antagonists/heretic/knowledge/general_side.dm
  code/modules/antagonists/heretic/knowledge/lock_lore.dm
  code/modules/antagonists/heretic/knowledge/moon_lore.dm
  code/modules/antagonists/heretic/knowledge/rust_lore.dm
  code/modules/antagonists/heretic/knowledge/sacrifice_knowledge/sacrifice_knowledge.dm
  code/modules/antagonists/heretic/knowledge/side_ash_moon.dm
  code/modules/antagonists/heretic/knowledge/side_blade_rust.dm
  code/modules/antagonists/heretic/knowledge/side_cosmos_ash.dm
  code/modules/antagonists/heretic/knowledge/side_flesh_void.dm
  code/modules/antagonists/heretic/knowledge/side_lock_flesh.dm
  code/modules/antagonists/heretic/knowledge/side_lock_moon.dm
  code/modules/antagonists/heretic/knowledge/side_rust_cosmos.dm
  code/modules/antagonists/heretic/knowledge/side_void_blade.dm
  code/modules/antagonists/heretic/knowledge/starting_lore.dm
  code/modules/antagonists/heretic/knowledge/void_lore.dm
  icons/obj/antags/eldritch.dmi
  icons/ui_icons/antags/heretic/knowledge.dmi
  tgui/packages/tgui/components/DmIcon.tsx
  tgui/packages/tgui/interfaces/AntagInfoHeretic.tsx
Labels: Sprites

[MIRROR] Allow mobs to ctrl click mobs while resting (#28592)
  code/_onclick/click_ctrl.dm
  code/modules/mob/living/living_defines.dm
Labels: none

[MIRROR] Fixes flaky ci failure with lootpanel (#28617)
  code/modules/unit_tests/lootpanel.dm
Labels: none

[MIRROR] Allows for proxy atoms in object melee attack chain (#28608)
  code/__DEFINES/tools.dm
  code/_onclick/item_attack.dm
  code/datums/components/material/remote_materials.dm
  code/datums/components/surgery_initiator.dm
  code/game/atom/atom_tool_acts.dm
  code/game/machinery/botlaunchpad.dm
  code/game/machinery/computer/launchpad_control.dm
  code/game/machinery/computer/mechlaunchpad.dm
  code/game/machinery/launch_pad.dm
  code/game/machinery/mechlaunchpad.dm
  code/game/machinery/porta_turret/portable_turret.dm
  code/game/machinery/porta_turret/portable_turret_cover.dm
  code/game/machinery/quantum_pad.dm
  code/game/machinery/telecomms/machine_interactions.dm
  code/game/machinery/teleporter.dm
  code/game/objects/items.dm
  code/game/objects/items/botpad_remote.dm
  code/game/objects/items/robot/items/tools.dm
  code/game/objects/items/robot/robot_upgrades.dm
  code/game/turfs/open/floor.dm
  code/game/turfs/open/floor/fancy_floor.dm
  code/modules/mining/machine_stacking.dm
  code/modules/mob/living/silicon/robot/robot_model.dm
  code/modules/mod/mod_link.dm
  code/modules/paperwork/ticketmachine.dm
  code/modules/plumbing/plumbers/teleporter.dm
  code/modules/recycling/disposal/construction.dm
  code/modules/research/rdmachines.dm
  code/modules/station_goals/bsa.dm
  code/modules/surgery/surgery.dm
  code/modules/surgery/tools.dm
  code/modules/unit_tests/cyborg_tool.dm
  modular_skyrat/modules/bsa_overhaul/code/bsa_cannon.dm
Labels: none

[MIRROR] Changes bitrunning hacker alias sanitization (#28611)
  code/__HELPERS/text.dm
  code/modules/client/preferences/names.dm
Labels: none

[MIRROR] Scan an android to get 200 point discount on the final augmentation node [NO GBP] (#28615)
  code/modules/experisci/experiment/experiments.dm
  code/modules/experisci/experiment/types/scanning_reagent.dm
  code/modules/research/techweb/nodes/cyborg_nodes.dm
Labels: none

[MIRROR] Moved data disks to lathes (#28616)
  code/modules/research/designs/computer_part_designs.dm
Labels: none

Automatic changelog for PR #28592 [ci skip]
  html/changelogs/AutoChangeLog-pr-28592.yml
Labels: none

Automatic changelog for PR #28608 [ci skip]
  html/changelogs/AutoChangeLog-pr-28608.yml
Labels: none

Automatic changelog for PR #28611 [ci skip]
  html/changelogs/AutoChangeLog-pr-28611.yml
Labels: none

Automatic changelog for PR #28615 [ci skip]
  html/changelogs/AutoChangeLog-pr-28615.yml
Labels: none

Automatic changelog for PR #28616 [ci skip]
  html/changelogs/AutoChangeLog-pr-28616.yml
Labels: none

[MIRROR] Various minor fixes to Emergency Shuttles (#28620)
  _maps/shuttles/emergency_birdboat.dmm
  _maps/shuttles/emergency_birdshot.dmm
  _maps/shuttles/emergency_humpback.dmm
  _maps/shuttles/emergency_monastery.dmm
  _maps/shuttles/escape_pod_large.dmm
Labels: Map Modification

[MIRROR] Adds a station trait that fills maintenance with glowsticks (#28619)
  code/datums/station_traits/positive_traits.dm
Labels: none

Fixes broken lewd item construction (#28618)
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_structures/construction.dm
Labels: none

Automatic changelog for PR #28620 [ci skip]
  html/changelogs/AutoChangeLog-pr-28620.yml
Labels: none

Update spaceheater.dm
  code/game/machinery/spaceheater.dm
Labels: none

fix
  modular_skyrat/modules/microfusion/code/microfusion_energy_master.dm
  modular_skyrat/modules/microfusion/code/microfusion_gun_attachments.dm
Labels: none

[MIRROR] Facehuggers dont sleep people + muzzle code exorcism (#28542)
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_main.dm
  code/__DEFINES/obj_flags.dm
  code/_globalvars/bitfields.dm
  code/datums/components/knockoff.dm
  code/datums/elements/muffles_speech.dm
  code/datums/emotes.dm
  code/modules/clothing/masks/muzzle.dm
  code/modules/mob/living/carbon/alien/adult/alien_powers.dm
  code/modules/mob/living/carbon/alien/alien.dm
  code/modules/mob/living/carbon/alien/special/facehugger.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/emote.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_say.dm
  modular_skyrat/modules/emotes/code/emotes.dm
  modular_skyrat/modules/emotes/code/laugh_emotes.dm
  modular_skyrat/modules/emotes/code/scream_emote.dm
  tgstation.dme
Labels: none

Fixes borg climbing (#84604)
  code/modules/mob/living/silicon/silicon.dm
Labels: none

Updates icemoon_underground_lavaland.dmm (#84576)
  _maps/RandomRuins/IceRuins/icemoon_underground_lavaland.dmm
  code/datums/ruins/icemoon.dm
  code/modules/mapfluff/ruins/icemoonruin_code/lavaland_incursion.dm
  tgstation.dme
Labels: Map Modification

Adds a breathing sound while using internals of any kind (#84529)
  code/datums/looping_sounds/breathing.dm
  code/modules/client/preferences/sounds.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/carbon/death.dm
  code/modules/mob/living/carbon/inventory.dm
  code/modules/mob/living/carbon/life.dm
  sound/voice/breathing.ogg
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/sounds.tsx
Labels: none

Automatic changelog for PR #28542 [ci skip]
  html/changelogs/AutoChangeLog-pr-28542.yml
Labels: none

Update allstar.dm
  modular_skyrat/modules/company_imports/code/armament_datums/allstar.dm
Labels: none

Update tgstation.dme
  tgstation.dme
Labels: none

Update pistol.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/nanotrasen_system_inc/pistol.dm
Labels: none

Update pistol.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/nanotrasen_system_inc/pistol.dm
Labels: none

now what
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/nanotrasen_system_inc/pistol.dm
  tgstation.dme
Labels: none

Update tgstation.dme
  tgstation.dme
Labels: none

Adds a new anomaly core item to Illumination technology, the photon cannon. (#84368)
  code/datums/components/crafting/guncrafting.dm
  code/datums/components/crafting/ranged_weapon.dm
  code/modules/projectiles/ammunition/energy/special.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/projectile/energy/photon.dm
  code/modules/research/designs/weapon_designs.dm
  code/modules/research/techweb/nodes/bepis_nodes.dm
  icons/obj/weapons/guns/energy.dmi
  icons/obj/weapons/guns/projectiles.dmi
  sound/attributions.txt
  sound/weapons/solarflare.ogg
  tgstation.dme
Labels: Sprites

Fixes missed techweb nodes
  modular_skyrat/modules/additional_circuit/code/_designs.dm
  modular_skyrat/modules/colony_fabricator/code/design_datums/appliances.dm
  modular_skyrat/modules/colony_fabricator/code/design_datums/construction.dm
  modular_skyrat/modules/colony_fabricator/code/design_datums/flatpack_machines.dm
  modular_skyrat/modules/colony_fabricator/code/design_datums/tools.dm
  modular_skyrat/modules/power/code/teg.dm
  modular_skyrat/modules/space_vines/scythes.dm
  modular_skyrat/modules/stasisrework/code/all_nodes.dm
  modular_skyrat/modules/tarkon/code/misc-fluff/research.dm
Labels: none

[MIRROR] Gun Refactor Part 1: Bayonet Componentization (#28576)
  code/__DEFINES/dcs/signals/signals_object.dm
  code/datums/components/bayonet_attachable.dm
  code/game/objects/items/knives.dm
  code/modules/jobs/job_types/shaft_miner.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/ballistic.dm
  code/modules/projectiles/guns/ballistic/automatic.dm
  code/modules/projectiles/guns/ballistic/rifle.dm
  code/modules/projectiles/guns/energy/crank_guns.dm
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
  code/modules/projectiles/guns/energy/recharge.dm
  modular_skyrat/modules/marines/code/gear.dm
  modular_skyrat/modules/microfusion/code/microfusion_energy_master.dm
  modular_skyrat/modules/microfusion/code/microfusion_gun_attachments.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/grenade_launcher.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/rifle.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/submachinegun.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/szot_dynamica/rifle.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/szot_dynamica/submachinegun.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/xhihao_light_arms/rifle.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/xhihao_light_arms/submachinegun.dm
  tgstation.dme
Labels: none

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'
