Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'

Automatic changelog for PR #28590 [ci skip]
  html/changelogs/AutoChangeLog-pr-28590.yml
Labels: none

Automatic changelog for PR #28591 [ci skip]
  html/changelogs/AutoChangeLog-pr-28591.yml
Labels: none

Automatic changelog for PR #28593 [ci skip]
  html/changelogs/AutoChangeLog-pr-28593.yml
Labels: none

Automatic changelog for PR #28594 [ci skip]
  html/changelogs/AutoChangeLog-pr-28594.yml
Labels: none

Automatic changelog for PR #28595 [ci skip]
  html/changelogs/AutoChangeLog-pr-28595.yml
Labels: none

Automatic changelog for PR #28596 [ci skip]
  html/changelogs/AutoChangeLog-pr-28596.yml
Labels: none

Automatic changelog for PR #28597 [ci skip]
  html/changelogs/AutoChangeLog-pr-28597.yml
Labels: none

Automatic changelog for PR #28598 [ci skip]
  html/changelogs/AutoChangeLog-pr-28598.yml
Labels: none

Automatic changelog for PR #28599 [ci skip]
  html/changelogs/AutoChangeLog-pr-28599.yml
Labels: none

Scan an android to get 200 point discount on the final augmentation node [NO GBP] (#84502)
  code/modules/experisci/experiment/experiments.dm
  code/modules/experisci/experiment/types/scanning_reagent.dm
  code/modules/research/techweb/nodes/cyborg_nodes.dm
Labels: none

Automatic changelog for PR #28600 [ci skip]
  html/changelogs/AutoChangeLog-pr-28600.yml
Labels: none

Automatic changelog for PR #28601 [ci skip]
  html/changelogs/AutoChangeLog-pr-28601.yml
Labels: none

Automatic changelog for PR #28602 [ci skip]
  html/changelogs/AutoChangeLog-pr-28602.yml
Labels: none

Automatic changelog for PR #28603 [ci skip]
  html/changelogs/AutoChangeLog-pr-28603.yml
Labels: none

Automatic changelog for PR #28604 [ci skip]
  html/changelogs/AutoChangeLog-pr-28604.yml
Labels: none

Automatic changelog for PR #28605 [ci skip]
  html/changelogs/AutoChangeLog-pr-28605.yml
Labels: none

Automatic changelog for PR #28606 [ci skip]
  html/changelogs/AutoChangeLog-pr-28606.yml
Labels: none

Automatic changelog for PR #28607 [ci skip]
  html/changelogs/AutoChangeLog-pr-28607.yml
Labels: none

Automatic changelog for PR #28609 [ci skip]
  html/changelogs/AutoChangeLog-pr-28609.yml
Labels: none

Automatic changelog for PR #28610 [ci skip]
  html/changelogs/AutoChangeLog-pr-28610.yml
Labels: none

[MIRROR] Updates forgotten diamond stack sprites (#28613)
  icons/obj/stack_objects.dmi
Labels: Sprites

Huh.
  tgstation.dme
Labels: none

Moved data disks to lathes (#84516)
  code/modules/research/designs/computer_part_designs.dm
Labels: none

Fixes flaky ci failure with lootpanel (#84621)
  code/modules/unit_tests/lootpanel.dm
Labels: none

Fixes broken lewd item construction
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_structures/construction.dm
Labels: none

[MIRROR] Fix telekinesis letting you grab people at a distance, and teleport them to you by strangling them (#28567)
  code/_onclick/click_ctrl.dm
Labels: none

[MIRROR] Pipe Scrubber (#28614)
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/map_files/wawastation/wawastation.dmm
  code/modules/atmospherics/machinery/components/gas_recipe_machines/crystallizer_items.dm
  code/modules/atmospherics/machinery/portable/pipe_scrubber.dm
  code/modules/atmospherics/machinery/portable/portable_atmospherics.dm
  icons/obj/pipes_n_cables/atmos.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/PipeScrubber.tsx
Labels: Map Modification, Sprites

Automatic changelog for PR #28613 [ci skip]
  html/changelogs/AutoChangeLog-pr-28613.yml
Labels: none

Automatic changelog for PR #28567 [ci skip]
  html/changelogs/AutoChangeLog-pr-28567.yml
Labels: none

Automatic changelog for PR #28614 [ci skip]
  html/changelogs/AutoChangeLog-pr-28614.yml
Labels: none

Removes the plushie of a Minecraft Youtuber from the code. (#28612)
  modular_skyrat/master_files/code/modules/loadout/categories/toys.dm
  modular_skyrat/master_files/icons/obj/plushes.dmi
  modular_skyrat/modules/customization/game/objects/items/plushes.dm
Labels: Sprites

Automatic changelog for PR #28612 [ci skip]
  html/changelogs/AutoChangeLog-pr-28612.yml
Labels: none

what
  modular_skyrat/master_files/icons/obj/clothing/head/helmet.dmi
Labels: Sprites

i fixed linter
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/nanotrasen_system_inc/pistol.dm
  modular_skyrat/modules/sec_haul/code/guns/bullets.dm
Labels: none

help me gordon
  modular_skyrat/modules/company_imports/code/armament_datums/akh_frontier.dm
  modular_skyrat/modules/company_imports/code/armament_datums/allstar.dm
  modular_skyrat/modules/company_imports/code/armament_datums/microstar_energy.dm
  modular_skyrat/modules/company_imports/code/armament_datums/sol_defense.dm
Labels: none

Adds a station trait that fills maintenance with glowsticks (#84605)
  code/datums/station_traits/positive_traits.dm
Labels: none

Various minor fixes to Emergency Shuttles (#84613)
  _maps/shuttles/emergency_birdboat.dmm
  _maps/shuttles/emergency_birdshot.dmm
  _maps/shuttles/emergency_humpback.dmm
  _maps/shuttles/emergency_monastery.dmm
  _maps/shuttles/escape_pod_large.dmm
Labels: Map Modification

modular fixes
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/NSVBlueshift/Blueshift.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  modular_skyrat/modules/mapping/code/telescreens.dm
  tgstation.dme
Labels: Map Modification

centcomm ferry dock
  _maps/skyrat/automapper/templates/centcom/centcom_ferry_dock.dmm
Labels: Map Modification

conflict fix
  code/game/objects/structures/spawner.dm
  code/modules/antagonists/cult/blood_magic.dm
Labels: none
