Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'

[MIRROR] Birdshot engineering re-rework (#28814)
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Map Modification

[MIRROR] Adds the Herculean Gravitronic Spinal Implant; An Athletics focused implant. (#28813)
  code/__DEFINES/DNA.dm
  code/__DEFINES/research/anomalies.dm
  code/datums/components/tackle.dm
  code/datums/martial/boxing.dm
  code/game/objects/items/climbingrope.dm
  code/game/objects/structures/gym/punching_bag.dm
  code/game/objects/structures/gym/weight_machine.dm
  code/game/objects/structures/ladders.dm
  code/game/objects/structures/lavaland/gulag_vent.dm
  code/game/objects/structures/tables_racks.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/living.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/research/techweb/nodes/cyborg_nodes.dm
  code/modules/surgery/organs/internal/cyberimp/augments_chest.dm
  icons/effects/effects.dmi
Labels: Sprites

Adds back deleted laugh code (#28812)
  modular_skyrat/modules/emotes/code/laugh_emotes.dm
Labels: none

[MIRROR] Fixes Icemoon syndie outpost APC's being affected by events (#28811)
  code/__HELPERS/areas.dm
Labels: none

[MIRROR] Slime core removal surgery changes (#28810)
  code/modules/food_and_drinks/machinery/processor.dm
  code/modules/mob/living/basic/slime/slime.dm
  code/modules/surgery/core_removal.dm
Labels: none

[MIRROR] Icebox Cytology Lab (#28824)
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Map Modification

Automatic changelog for PR #28819 [ci skip]
  html/changelogs/AutoChangeLog-pr-28819.yml
Labels: none

Automatic changelog for PR #28818 [ci skip]
  html/changelogs/AutoChangeLog-pr-28818.yml
Labels: none

Automatic changelog for PR #28817 [ci skip]
  html/changelogs/AutoChangeLog-pr-28817.yml
Labels: none

Automatic changelog for PR #28816 [ci skip]
  html/changelogs/AutoChangeLog-pr-28816.yml
Labels: none

Automatic changelog for PR #28815 [ci skip]
  html/changelogs/AutoChangeLog-pr-28815.yml
Labels: none

Automatic changelog for PR #28814 [ci skip]
  html/changelogs/AutoChangeLog-pr-28814.yml
Labels: none

Automatic changelog for PR #28813 [ci skip]
  html/changelogs/AutoChangeLog-pr-28813.yml
Labels: none

Automatic changelog for PR #28812 [ci skip]
  html/changelogs/AutoChangeLog-pr-28812.yml
Labels: none

Automatic changelog for PR #28811 [ci skip]
  html/changelogs/AutoChangeLog-pr-28811.yml
Labels: none

Automatic changelog for PR #28810 [ci skip]
  html/changelogs/AutoChangeLog-pr-28810.yml
Labels: none

Automatic changelog for PR #28824 [ci skip]
  html/changelogs/AutoChangeLog-pr-28824.yml
Labels: none

Update fluff.dm
  modular_skyrat/modules/mapping/code/fluff.dm
Labels: none

Automatic changelog for PR #28632 [ci skip]
  html/changelogs/AutoChangeLog-pr-28632.yml
Labels: none

Compact Airlock Pump (#84365)
  _maps/map_files/debug/runtimestation.dmm
  code/__DEFINES/atmospherics/atmos_piping.dm
  code/datums/components/crafting/atmospheric.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/pipe/construction.dm
  code/modules/atmospherics/machinery/atmosmachinery.dm
  code/modules/atmospherics/machinery/components/components_base.dm
  code/modules/atmospherics/machinery/components/unary_devices/airlock_pump.dm
  code/modules/atmospherics/machinery/pipes/layermanifold.dm
  icons/obj/machines/atmospherics/unary_devices.dmi
  icons/obj/pipes_n_cables/pipe_item.dmi
  tgstation.dme
Labels: Map Modification, Sprites

Petdate: Adds More Pets.
  modular_skyrat/master_files/code/modules/mob/living/simple_animal/friendly/cat/fennec.dm
  modular_skyrat/master_files/code/modules/mob/living/simple_animal/friendly/dogs.dm
  modular_skyrat/master_files/code/modules/mob/living/simple_animal/friendly/pets.dm
  modular_skyrat/master_files/code/modules/mob/living/simple_animal/hostile/grabbagmob.dm
  modular_skyrat/master_files/icons/mob/clothing/head/pets_head.dmi
  modular_skyrat/master_files/icons/mob/inhands/pets_held_lh.dmi
  modular_skyrat/master_files/icons/mob/inhands/pets_held_rh.dmi
  modular_skyrat/master_files/icons/mob/pets.dmi
  modular_skyrat/modules/cargo/code/packs.dm
  modular_skyrat/modules/pet_owner/pet_owner.dm
  tgstation.dme
Labels: Sprites

robocorgi
  modular_skyrat/master_files/code/modules/mob/living/simple_animal/friendly/pets.dm
  modular_skyrat/modules/pet_owner/pet_owner.dm
Labels: none

Whoopsy
  modular_skyrat/master_files/code/modules/mob/living/simple_animal/friendly/dogs.dm
  modular_skyrat/master_files/code/modules/mob/living/simple_animal/friendly/pets.dm
Labels: none

lol
  modular_skyrat/master_files/code/modules/mob/living/simple_animal/friendly/dogs.dm
  modular_skyrat/master_files/code/modules/mob/living/simple_animal/friendly/pets.dm
Labels: none

Update pets.dmi
  modular_skyrat/master_files/icons/mob/pets.dmi
Labels: Sprites

[MIRROR] Compact Airlock Pump (#28825)
  _maps/map_files/debug/runtimestation.dmm
  code/__DEFINES/atmospherics/atmos_piping.dm
  code/datums/components/crafting/atmospheric.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/pipe/construction.dm
  code/modules/atmospherics/machinery/atmosmachinery.dm
  code/modules/atmospherics/machinery/components/components_base.dm
  code/modules/atmospherics/machinery/components/unary_devices/airlock_pump.dm
  code/modules/atmospherics/machinery/pipes/layermanifold.dm
  icons/obj/machines/atmospherics/unary_devices.dmi
  icons/obj/pipes_n_cables/pipe_item.dmi
  tgstation.dme
Labels: Map Modification, Sprites

Automatic changelog for PR #28825 [ci skip]
  html/changelogs/AutoChangeLog-pr-28825.yml
Labels: none

Petdate: Adds More Pets. (#28826)
  modular_skyrat/master_files/code/modules/mob/living/simple_animal/friendly/cat/fennec.dm
  modular_skyrat/master_files/code/modules/mob/living/simple_animal/friendly/dogs.dm
  modular_skyrat/master_files/code/modules/mob/living/simple_animal/friendly/pets.dm
  modular_skyrat/master_files/code/modules/mob/living/simple_animal/hostile/grabbagmob.dm
  modular_skyrat/master_files/icons/mob/clothing/head/pets_head.dmi
  modular_skyrat/master_files/icons/mob/inhands/pets_held_lh.dmi
  modular_skyrat/master_files/icons/mob/inhands/pets_held_rh.dmi
  modular_skyrat/master_files/icons/mob/pets.dmi
  modular_skyrat/modules/cargo/code/packs.dm
  modular_skyrat/modules/pet_owner/pet_owner.dm
  tgstation.dme
Labels: Sprites

Automatic changelog for PR #28826 [ci skip]
  html/changelogs/AutoChangeLog-pr-28826.yml
Labels: none

Fixes the fact new clothes weren't in the vendor
  modular_skyrat/modules/modular_vending/code/clothesmate.dm
Labels: none

Update masks.dmi
  modular_skyrat/master_files/icons/obj/clothing/masks.dmi
Labels: Sprites

Fixes some mask obj icons. (#28828)
  modular_skyrat/master_files/icons/obj/clothing/masks.dmi
Labels: Sprites

Fixes the fact new clothes weren't in the vendor (#28827)
  modular_skyrat/modules/modular_vending/code/clothesmate.dm
Labels: none

Automatic changelog for PR #28828 [ci skip]
  html/changelogs/AutoChangeLog-pr-28828.yml
Labels: none

Automatic changelog for PR #28827 [ci skip]
  html/changelogs/AutoChangeLog-pr-28827.yml
Labels: none

Update CentCom_skyrat_z2.dmm
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
Labels: Map Modification

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-28632.yml
  html/changelogs/AutoChangeLog-pr-28810.yml
  html/changelogs/AutoChangeLog-pr-28811.yml
  html/changelogs/AutoChangeLog-pr-28812.yml
  html/changelogs/AutoChangeLog-pr-28813.yml
  html/changelogs/AutoChangeLog-pr-28814.yml
  html/changelogs/AutoChangeLog-pr-28815.yml
  html/changelogs/AutoChangeLog-pr-28816.yml
  html/changelogs/AutoChangeLog-pr-28817.yml
  html/changelogs/AutoChangeLog-pr-28818.yml
  html/changelogs/AutoChangeLog-pr-28819.yml
  html/changelogs/AutoChangeLog-pr-28821.yml
  html/changelogs/AutoChangeLog-pr-28822.yml
  html/changelogs/AutoChangeLog-pr-28824.yml
  html/changelogs/AutoChangeLog-pr-28825.yml
  html/changelogs/AutoChangeLog-pr-28826.yml
  html/changelogs/AutoChangeLog-pr-28827.yml
  html/changelogs/AutoChangeLog-pr-28828.yml
  html/changelogs/archive/2024-07.yml
Labels: none

Refactor borg affection module
  code/modules/mob/living/silicon/robot/robot.dm
  modular_skyrat/modules/borgs/code/robot_upgrade.dm
Labels: none

Removes the nuke code spawning on the interlink (#28829)
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
Labels: Map Modification

Refactor borg affection module (#28830)
  code/modules/mob/living/silicon/robot/robot.dm
  modular_skyrat/modules/borgs/code/robot_upgrade.dm
Labels: none
