Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'

Update greyscale_configs.dm
  modular_skyrat/modules/GAGS/greyscale_configs.dm
Labels: none

fix lipstick runtime (#29452)
  modular_skyrat/modules/salon/icons/items.dmi
Labels: Sprites

[MIRROR] Updates worn tank sprites (#29447)
  icons/mob/clothing/back.dmi
Labels: Sprites

[MIRROR] Fix exploit to get almost-infinite heretic points (#29435)
  code/modules/antagonists/heretic/knowledge/starting_lore.dm
Labels: none

[MIRROR] lights placed on walls with the RLD now face the correct direction. (#29414)
  code/game/objects/items/rcd/RLD.dm
Labels: none

scarf???
  modular_skyrat/modules/GAGS/icons/neck/neck_teshari.dmi
  modular_skyrat/modules/teshari/code/teshari_clothes.dm
Labels: Sprites

[MIRROR] Fixed random lipstick texture, fake syndie lipstick no longer can randomly spawn (#29418)
  code/game/objects/items/cosmetics.dm
Labels: none

Automatic changelog for PR #29452 [ci skip]
  html/changelogs/AutoChangeLog-pr-29452.yml
Labels: none

Automatic changelog for PR #29447 [ci skip]
  html/changelogs/AutoChangeLog-pr-29447.yml
Labels: none

Automatic changelog for PR #29435 [ci skip]
  html/changelogs/AutoChangeLog-pr-29435.yml
Labels: none

Automatic changelog for PR #29414 [ci skip]
  html/changelogs/AutoChangeLog-pr-29414.yml
Labels: none

suspenders?
  modular_skyrat/modules/GAGS/greyscale_configs.dm
  modular_skyrat/modules/GAGS/icons/suit/suit_teshari.dmi
  modular_skyrat/modules/teshari/code/teshari_clothes.dm
Labels: Sprites

Automatic changelog for PR #29418 [ci skip]
  html/changelogs/AutoChangeLog-pr-29418.yml
Labels: none

Update greyscale_configs.dm
  modular_skyrat/modules/GAGS/greyscale_configs.dm
Labels: none

Update labcoat.dm
  modular_skyrat/master_files/code/modules/clothing/suits/labcoat.dm
Labels: none

revert
  modular_skyrat/master_files/code/modules/clothing/suits/labcoat.dm
Labels: none

Makes the Start Screen Look Better
  _maps/map_files/generic/CentCom.dmm
  code/game/turfs/closed/indestructible.dm
Labels: Map Modification

Fixes heretic summon rituals not consuming items (#85926)
  code/modules/antagonists/heretic/heretic_knowledge.dm
  code/modules/antagonists/heretic/knowledge/side_ash_moon.dm
  code/modules/antagonists/heretic/knowledge/side_rust_cosmos.dm
Labels: none

Makes map view hiding a bit more robust against unusual circumstances (#85900)
  code/_onclick/hud/map_view.dm
  code/game/objects/items/devices/spyglasses.dm
Labels: none

Grounds cockroaches (#85931)
  code/modules/mob/living/basic/vermin/cockroach.dm
Labels: none

Migrates Issue Reporting to the New GitHub Template Format
  .github/ISSUE_TEMPLATE/bug_report_form.yml
  .github/ISSUE_TEMPLATE/config.yml
  interface/interface.dm
Labels: none

paintings now drop canvas and frame when knocked off the wall
  code/modules/art/paintings.dm
  icons/obj/art/painting_frames.dmi
Labels: Sprites

Porting and adapting food sprites from other repos (plus a couple original resprites)
  _maps/RandomRuins/IceRuins/icemoon_surface_pizza.dmm
  _maps/RandomRuins/SpaceRuins/garbagetruck1.dmm
  _maps/RandomZLevels/snowdin.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/wawastation/wawastation.dmm
  code/game/machinery/dish_drive.dm
  code/game/objects/effects/spawners/random/trash.dm
  code/game/objects/items/food/meatslab.dm
  code/game/objects/items/food/pastries.dm
  code/game/objects/items/trash.dm
  icons/obj/food/food.dmi
  icons/obj/food/meat.dmi
  icons/obj/food/mexican.dmi
  icons/obj/service/janitor.dmi
  tools/UpdatePaths/Scripts/85759_waffle_trash_begone.txt
Labels: Map Modification, Sprites

Adds emissives to departamental signs
  code/game/objects/structures/signs/signs_departments.dm
  icons/obj/structures/departmental_signs.dmi
Labels: Sprites

Shrunk arrow from pointing at things. Command roles unaffected thanks to id trims (also new skillchip).
  code/__DEFINES/dcs/signals/signals_atom/signals_atom_movable.dm
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_main.dm
  code/controllers/subsystem/id_access.dm
  code/datums/ai/oldhostile/hostile_tameable.dm
  code/datums/components/pet_commands/pet_command.dm
  code/datums/components/riding/riding_mob.dm
  code/datums/id_trim/_id_trim.dm
  code/datums/id_trim/admin.dm
  code/datums/id_trim/centcom.dm
  code/datums/id_trim/jobs.dm
  code/datums/id_trim/ruins.dm
  code/datums/id_trim/syndicate.dm
  code/game/objects/items/cards_ids.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/antagonists/pirate/pirate_outfits.dm
  code/modules/clothing/outfits/ert.dm
  code/modules/jobs/job_types/research_director.dm
  code/modules/library/skill_learning/generic_skillchips/point.dm
  code/modules/mob_spawn/ghost_roles/space_roles.dm
  code/modules/point/point.dm
  code/modules/vending/games.dm
  icons/hud/screen_gen.dmi
  tgstation.dme
Labels: Sprites

wheelchair + ridden mobs buff (#85222)
  code/datums/components/riding/riding.dm
  code/datums/components/riding/riding_mob.dm
  code/datums/components/riding/riding_vehicle.dm
Labels: none

Special radio channels now use bitflags instead of individual vars
  _maps/RandomRuins/IceRuins/icemoon_underground_comms_agent.dmm
  _maps/map_files/generic/CentCom.dmm
  code/__DEFINES/radio.dm
  code/game/machinery/telecomms/broadcasting.dm
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/items/devices/radio/intercom.dm
  code/game/objects/items/devices/radio/radio.dm
  code/modules/admin/verbs/borgpanel.dm
  code/modules/capture_the_flag/ctf_classes.dm
  code/modules/mob/living/carbon/human/human_say.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/pai/say.dm
  code/modules/unit_tests/say.dm
  code/modules/vehicles/mecha/equipment/tools/radio.dm
Labels: Map Modification

Fixes active turfs on crashsite ruin (#85935)
  _maps/RandomRuins/LavaRuins/lavaland_surface_crashsite.dmm
  code/game/turfs/open/floor/mineral_floor.dm
  code/game/turfs/open/water.dm
Labels: Map Modification

Adds open sprites for captain's safe, removes directional helpers for it (#85936)
  icons/obj/storage/storage.dmi
Labels: Sprites

ready
  code/game/objects/items/devices/radio/intercom.dm
Labels: none

Fixes soapbox component sometimes runtiming roundstart due to not unregistering signals (#85937)
  code/datums/components/soapbox.dm
Labels: none

Fixes circuit drone pixel/shadow offsets (#85940)
  code/modules/wiremod/shell/drone.dm
Labels: none

Shift certain flying mob positions upon death
  code/datums/components/drop_shadow.dm
  code/modules/mob/living/basic/basic.dm
  code/modules/mob/living/basic/lavaland/watcher/watcher.dm
  code/modules/mob/living/basic/pets/parrot/_parrot.dm
  code/modules/mob/living/basic/space_fauna/carp/carp.dm
  code/modules/mob/living/basic/space_fauna/space_dragon/space_dragon.dm
  code/modules/mob/living/basic/vermin/space_bat.dm
Labels: none

Vomiting from disgust now removes 50 disgust from you (#85944)
  code/modules/surgery/organs/internal/stomach/_stomach.dm
Labels: none

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-29414.yml
  html/changelogs/AutoChangeLog-pr-29418.yml
  html/changelogs/AutoChangeLog-pr-29427.yml
  html/changelogs/AutoChangeLog-pr-29431.yml
  html/changelogs/AutoChangeLog-pr-29435.yml
  html/changelogs/AutoChangeLog-pr-29444.yml
  html/changelogs/AutoChangeLog-pr-29447.yml
  html/changelogs/AutoChangeLog-pr-29449.yml
  html/changelogs/AutoChangeLog-pr-29450.yml
  html/changelogs/AutoChangeLog-pr-29452.yml
  html/changelogs/archive/2024-08.yml
Labels: none

Adds taunting as a replacement for spin/flip in style meter and parrying
  code/__DEFINES/mobs.dm
  code/__DEFINES/traits/declarations.dm
  code/__DEFINES/traits/sources.dm
  code/_globalvars/traits/_traits.dm
  code/_globalvars/traits/admin_tooling.dm
  code/datums/components/style/style.dm
  code/modules/bitrunning/orders/tech.dm
  code/modules/library/skill_learning/generic_skillchips/matrix_flip.dm
  code/modules/library/skill_learning/generic_skillchips/matrix_taunt.dm
  code/modules/mob/emote.dm
  code/modules/mob/living/emote.dm
  code/modules/mob/living/living.dm
  code/modules/projectiles/projectile.dm
  icons/mob/effects/blocking.dmi
  tgstation.dme
Labels: Sprites

Wardrobe preloads backpack contents (#85945)
  code/datums/outfit.dm
Labels: none

trenchcoat leather jacket wip
  modular_skyrat/modules/GAGS/greyscale_configs.dm
  modular_skyrat/modules/GAGS/icons/teshari_fallbacks.dmi
  modular_skyrat/modules/GAGS/json_configs/teshari_fallbacks/jacket.json
  modular_skyrat/modules/GAGS/json_configs/teshari_fallbacks/longcoat.json
  modular_skyrat/modules/teshari/code/_clothing_defines.dm
  modular_skyrat/modules/teshari/code/teshari_clothes.dm
Labels: Sprites

fixes elevation being permanent if you spawn on it (#85952)
  code/datums/elements/elevation.dm
Labels: none

Use yt-dlp by default instead of youtube-dl
  code/modules/admin/verbs/playsound.dm
  config/config.txt
  tools/tgs_scripts/InstallDeps.sh
Labels: none
