Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'

adds me to codeowners so no more synth changes escape my eye
  .github/CODEOWNERS
Labels: none

Block atmos processing on ReservedTurfs\:tm: (#84873)
  code/controllers/subsystem/mapping.dm
  code/modules/atmospherics/environmental/LINDA_turf_tile.dm
  code/modules/mapping/space_management/space_reservation.dm
Labels: none

edited RD suit
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/suit.dmi
Labels: Sprites

doors no longer push air away during unit tests (#85864)
  code/modules/atmospherics/environmental/LINDA_system.dm
Labels: none

Deoffset screen alert mobs (#85844)
  code/__HELPERS/icons.dm
  code/controllers/subsystem/dynamic/dynamic_rulesets_midround.dm
  code/controllers/subsystem/polling.dm
Labels: none

Rollbacks the accidentall wallening floor light rollback (#85845)
  icons/obj/lighting.dmi
  icons/obj/lighting_overlay.dmi
Labels: Sprites

Fixes bedsheets laid incorrectly onto beds (#85837)
  code/game/objects/items/plushes.dm
  code/game/objects/structures/bedsheet_bin.dm
  code/modules/antagonists/nukeop/equipment/nuclear_authentication_disk.dm
Labels: none

Move cobwebs onto the ceiling (#85840)
  code/game/objects/effects/decals/cleanable/misc.dm
Labels: none

Adds examine balloons to light switches (#85843)
  code/game/machinery/lightswitch.dm
Labels: none

Wallening-style directional mirrors
  code/datums/components/reflection.dm
  code/game/objects/structures/mirror.dm
  icons/obj/watercloset.dmi
Labels: Sprites

fixes pickup animation not matching player offset (#85822)
  code/game/objects/items.dm
Labels: none

[MIRROR] Durathread robes can now hold botany gear (#29175)
  code/modules/clothing/suits/wiz_robe.dm
Labels: none

Fixed improvised shield crafting recipe being overriden by moonflowers (#85794)
  code/datums/components/crafting/equipment.dm
Labels: none

Resprited a few more fillets (armorfish, moonfish, energized) and moonfish eggs. (#85756)
  icons/obj/food/lizard.dmi
  icons/obj/food/martian.dmi
Labels: Sprites

Automatic changelog for PR #29175 [ci skip]
  html/changelogs/AutoChangeLog-pr-29175.yml
Labels: none

Fixes potted plants permanently altering your identity [no gbp] (#85852)
  code/datums/components/tactical.dm
Labels: none

fixes surgery table buckle offsets (#85841)
  code/game/objects/structures/tables_racks.dm
Labels: none

[MDB Ignore] Re-fix Delta for Wallening
  _maps/map_files/Deltastation/DeltaStation2.dmm
Labels: Map Modification

Raptor faction fix
  .gitignore
  code/modules/mob/living/basic/lavaland/raptor/raptor_ai_controller.dm
Labels: none

new icons
  modular_skyrat/master_files/icons/obj/drinks.dmi
  modular_skyrat/modules/paycheck_rations/code/reagents.dm
  modular_skyrat/modules/paycheck_rations/code/tickets.dm
  modular_skyrat/modules/paycheck_rations/icons/food_containers.dmi
Labels: Sprites

bugfix
  modular_skyrat/modules/paycheck_rations/code/rationpacks.dm
  modular_skyrat/modules/paycheck_rations/code/reagents.dm
Labels: none

Leg parts
  modular_skyrat/modules/ashwalkers/code/clothing/ash_armour.dm
  modular_skyrat/modules/reagent_forging/code/forge_clothing.dm
Labels: none

Reduce volume of shipambience (#85646)
  sound/ambience/shipambience.ogg
Labels: none

bugfix
  modular_skyrat/modules/paycheck_rations/code/rationpacks.dm
  modular_skyrat/modules/paycheck_rations/icons/food_containers.dmi
Labels: Sprites

More Tramstation Wall Fixes
  _maps/map_files/tramstation/tramstation.dmm
Labels: Map Modification

Clean up blood brother teams if all members are removed (#85819)
  code/modules/antagonists/brother/brother.dm
Labels: none

adds a single pack of experimental medication as a cargo goodie (#85479)
  code/datums/diseases/chronic_illness.dm
  code/modules/cargo/goodies.dm
  code/modules/cargo/packs/medical.dm
Labels: none

fixes rcds accounting for player dir only before construction
  code/game/objects/items/rcd/RCD.dm
  code/game/objects/structures/grille.dm
  code/game/turfs/open/floor.dm
Labels: none

Digitigrade clothing sprites (feat. GAGS and 0 sprite bloat)
  code/__DEFINES/inventory.dm
  code/_globalvars/bitfields.dm
  code/datums/greyscale/config_types/greyscale_configs/greyscale_clothes.dm
  code/datums/greyscale/json_configs/jumpsuit_worn_digilegs.json
  code/game/objects/items.dm
  code/game/objects/structures/mannequin.dm
  code/modules/clothing/under/_under.dm
  code/modules/clothing/under/color.dm
  code/modules/clothing/under/jobs/civilian/clown_mime.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/mob/living/carbon/human/human_update_icons.dm
  code/modules/surgery/bodyparts/species_parts/lizard_bodyparts.dm
  icons/mob/clothing/under/digi_template.dmi
  icons/mob/clothing/under/masking_helpers.dmi
Labels: Sprites

No longer hear radio sounds if you're deaf. (#85778)
  code/game/objects/items/devices/radio/radio.dm
Labels: none

Updated anomaly dimensional themes to use new walls (#85851)
  code/game/objects/effects/anomalies/anomalies_dimensional_themes.dm
  code/game/turfs/closed/indestructible.dm
  code/game/turfs/closed/wall/misc_walls.dm
  code/modules/clothing/suits/reactive_armour_dimensional_themes.dm
Labels: none

SFX for RCD, RPD, Plumbing constructor (#85754)
  code/__DEFINES/sound.dm
  code/game/objects/items/rcd/RCD.dm
  code/game/objects/items/rcd/RPD.dm
  code/game/objects/items/rcd/RPLD.dm
  code/game/sound.dm
  sound/items/handling/attribution.txt
  sound/items/handling/rcd_drop.ogg
  sound/items/handling/rcd_pickup.ogg
  sound/items/handling/rpd_drop.ogg
  sound/items/handling/rpd_pickup.ogg
  sound/items/handling/tool_switch.ogg
Labels: none

Lavaland Crashed escape pod ruin (#85266)
  _maps/RandomRuins/LavaRuins/lavaland_surface_crashsite.dmm
  code/datums/ruins/lavaland.dm
  config/lavaruinblacklist.txt
Labels: Map Modification

adjusted colours, purple RD has a casual
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/suit.dmi
Labels: Sprites

pause
  modular_skyrat/master_files/code/modules/clothing/suits/labcoat.dm
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/suit.dmi
  modular_skyrat/master_files/icons/mob/clothing/suits/labcoat.dmi
  modular_skyrat/master_files/icons/obj/clothing/suits/labcoat.dmi
Labels: Sprites

Update labcoat.dm
  modular_skyrat/master_files/code/modules/clothing/suits/labcoat.dm
Labels: none

[MIRROR] SFX for RCD, RPD, Plumbing constructor (#29392)
  code/__DEFINES/sound.dm
  code/game/objects/items/rcd/RCD.dm
  code/game/objects/items/rcd/RPD.dm
  code/game/objects/items/rcd/RPLD.dm
  code/game/sound.dm
  sound/items/handling/attribution.txt
  sound/items/handling/rcd_drop.ogg
  sound/items/handling/rcd_pickup.ogg
  sound/items/handling/rpd_drop.ogg
  sound/items/handling/rpd_pickup.ogg
  sound/items/handling/tool_switch.ogg
Labels: none

Automatic changelog for PR #29392 [ci skip]
  html/changelogs/AutoChangeLog-pr-29392.yml
Labels: none

[MIRROR] Reduce volume of shipambience (#29384)
  sound/ambience/shipambience.ogg
Labels: none

Automatic changelog for PR #29384 [ci skip]
  html/changelogs/AutoChangeLog-pr-29384.yml
Labels: none
