Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

[NO GBP] Fixes critical storage issues
  code/datums/storage/storage.dm
  code/datums/storage/storage_interface.dm
Labels: none

Update storage.dm
  code/datums/storage/storage.dm
Labels: none

Update storage.dm
  code/datums/storage/storage.dm
Labels: none

Update storage.dm
  code/datums/storage/storage.dm
Labels: none

[MIRROR] Fixed teeth pill overload by adding a teeth count to species (#28382)
  code/modules/surgery/bodyparts/head.dm
  code/modules/surgery/bodyparts/species_parts/ethereal_bodyparts.dm
  code/modules/surgery/bodyparts/species_parts/lizard_bodyparts.dm
  code/modules/surgery/bodyparts/species_parts/misc_bodyparts.dm
  code/modules/surgery/bodyparts/species_parts/moth_bodyparts.dm
  code/modules/surgery/dental_implant.dm
  modular_skyrat/modules/better_vox/code/vox_bodyparts.dm
  modular_skyrat/modules/bodyparts/code/moth_bodyparts.dm
  modular_skyrat/modules/bodyparts/code/roundstartslime_bodyparts.dm
  modular_skyrat/modules/bodyparts/code/vox_bodyparts.dm
  modular_skyrat/modules/bodyparts/code/xenohybrid_bodyparts.dm
Labels: none

[MIRROR] Ashwalkers now start out in their proper faction; Lavaland mobs also have this if ashwalkers don't attack them (#28430)
  code/game/objects/structures/lavaland/necropolis_tendril.dm
  code/modules/antagonists/ashwalker/ashwalker.dm
  code/modules/mob/living/basic/lavaland/mining.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
Labels: none

[MIRROR] You can access your inventory when lying down (#28434)
  code/datums/storage/storage.dm
Labels: none

[MIRROR] Lavaland mobs are friendly now to Lavaland elite (#28435)
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/elite.dm
Labels: none

[MIRROR] Removes a bush from the wall on tramstation (#28436)
  _maps/map_files/tramstation/tramstation.dmm
Labels: Map Modification

[MIRROR] [no gbp] small fixes to qm room (#28437)
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Modification

Automatic changelog for PR #28382 [ci skip]
  html/changelogs/AutoChangeLog-pr-28382.yml
Labels: none

[MIRROR] Fix active turfs in icebox listening post ruin (#28438)
  _maps/RandomRuins/IceRuins/icemoon_underground_comms_agent.dmm
  code/game/turfs/open/floor/plating/misc_plating.dm
Labels: Map Modification

Automatic changelog for PR #28430 [ci skip]
  html/changelogs/AutoChangeLog-pr-28430.yml
Labels: none

[MIRROR] Add pouring sounds to pouring reagents (#28440)
  code/modules/reagents/reagent_containers/cups/_cup.dm
  sound/attributions.txt
  sound/effects/liquid_pour1.ogg
  sound/effects/liquid_pour2.ogg
  sound/effects/liquid_pour3.ogg
Labels: none

Automatic changelog for PR #28434 [ci skip]
  html/changelogs/AutoChangeLog-pr-28434.yml
Labels: none

Hypospray/technician medkit fix 2 [NO GBP] (#28441)
  modular_skyrat/modules/deforest_medical_items/code/storage_items.dm
  modular_skyrat/modules/hyposprays/code/autolathe_designs.dm
  modular_skyrat/modules/hyposprays/code/hyposprays_II.dm
  modular_skyrat/modules/hyposprays/icons/hypokits.dmi
  modular_skyrat/modules/hyposprays/icons/hyposprays.dmi
Labels: Sprites

Automatic changelog for PR #28435 [ci skip]
  html/changelogs/AutoChangeLog-pr-28435.yml
Labels: none

[MIRROR] firefighter firesuits no longer hide the gloves you are wearing. (#28443)
  code/modules/clothing/suits/utility.dm
Labels: none

[SEMI-MODULAR] [NOVA PORT] A bunch of taur fixes and expansions (#28444)
  code/__DEFINES/inventory.dm
  code/__DEFINES/~skyrat_defines/limbs.dm
  code/modules/mob/living/carbon/human/human_update_icons.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  modular_skyrat/modules/bodyparts/code/taur_bodyparts.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/synthliz.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/taur_types.dm
  modular_skyrat/modules/customization/modules/surgery/organs/taur_body.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/latex_straight_jacket.dm
  tgstation.dme
Labels: none

Automatic changelog for PR #28436 [ci skip]
  html/changelogs/AutoChangeLog-pr-28436.yml
Labels: none

Automatic changelog for PR #28437 [ci skip]
  html/changelogs/AutoChangeLog-pr-28437.yml
Labels: none

Automatic changelog for PR #28438 [ci skip]
  html/changelogs/AutoChangeLog-pr-28438.yml
Labels: none

Automatic changelog for PR #28440 [ci skip]
  html/changelogs/AutoChangeLog-pr-28440.yml
Labels: none

[SEMI-MODULAR] [NOVA PORT] Fixes a typo in electrical damage description + prevents electrical damage from worsening during repairs + remove some nova edits (#28445)
  code/__DEFINES/~skyrat_defines/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/datums/chatmessage.dm
  code/modules/surgery/surgery_step.dm
  modular_skyrat/modules/medical/code/wounds/synth/robotic_pierce.dm
  modular_skyrat/modules/medical/code/wounds/synth/robotic_slash.dm
Labels: none

[MIRROR] Fixes Bitrunner lacking job-based bounties (#28447)
  code/__DEFINES/economy.dm
  code/game/objects/items/food/pizza.dm
  code/modules/bitrunning/job.dm
  code/modules/bitrunning/virtual_domain/domains/fredingtonfastingbear.dm
  code/modules/cargo/bounties/bitrunning.dm
  code/modules/cargo/bounty.dm
  tgstation.dme
Labels: none

[MIRROR] Reworked blood loss effects on the user to be much more noticeable. (#28448)
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_carbon.dm
  code/__DEFINES/mobs.dm
  code/modules/mob/living/blood.dm
  code/modules/mob/living/carbon/human/species_types/jellypeople.dm
Labels: none

[MIRROR] Fixes broken soup autowiki icons for soups that don't have unique sprites (#28450)
  code/modules/autowiki/pages/soup.dm
Labels: none

[MIRROR] Fixes portaturrets going invisible when they're unwrenched. (#28452)
  code/game/machinery/porta_turret/portable_turret_cover.dm
Labels: none

[MIRROR] Fixes sentience helmet monkeys being notified about being able to ventcrawl (#28453)
  code/modules/mob/living/login.dm
  code/modules/mob/living/ventcrawling.dm
Labels: none

[MIRROR] Fixes airlock cyclelink examine message (#28454)
  code/game/machinery/doors/airlock.dm
Labels: none

[MIRROR] Holodeck closet & crate items are marked as holograms (#28455)
  code/__DEFINES/dcs/signals/signals_closet.dm
  code/game/objects/effects/spawners/random/structure.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/modules/holodeck/computer.dm
Labels: none

[MIRROR] Balances Changeling chemical regeneration depending on if they are on fire or not (#28456)
  code/modules/antagonists/changeling/changeling.dm
Labels: none

[MIRROR] Dental Implant surgery no longer restarts itself for every pill you implant (#28458)
  code/modules/surgery/dental_implant.dm
Labels: none

[MIRROR] Prettified storage UI (#28459)
  code/__HELPERS/screen_objs.dm
  code/_onclick/hud/screen_objects.dm
  code/datums/storage/storage.dm
  code/datums/storage/storage_interface.dm
  icons/hud/screen_clockwork.dmi
  icons/hud/screen_detective.dmi
  icons/hud/screen_glass.dmi
  icons/hud/screen_midnight.dmi
  icons/hud/screen_operative.dmi
  icons/hud/screen_plasmafire.dmi
  icons/hud/screen_retro.dmi
  icons/hud/screen_slimecore.dmi
  icons/hud/screen_trasenknox.dmi
  tgstation.dme
Labels: Sprites

[MIRROR] [NO GBP] Symptom mood oversight fix (#28460)
  code/datums/diseases/_disease.dm
Labels: none

[MIRROR] Fixes deaf mobs hearing ship/area ambience (#28461)
  code/controllers/subsystem/ambience.dm
  code/game/area/areas.dm
  code/modules/client/client_defines.dm
  code/modules/mob/living/init_signals.dm
  code/modules/mob/living/living.dm
  code/modules/mob/login.dm
Labels: none

[MIRROR] Fixes toggling ship ambience not doing anything until you enter an area with a different kind of ambient sound (#28463)
  code/modules/client/preferences/sounds.dm
Labels: none

[MIRROR] Adjustments to athletics experience gain (#28464)
  code/datums/martial/boxing.dm
  code/game/objects/structures/gym/punching_bag.dm
Labels: none

[MIRROR] Fixes peg limbs not behaving as inorganic limbs should (#28465)
  code/modules/surgery/bodyparts/ghetto_parts.dm
Labels: none

Hypospray default spray setting [NO GBP] (#28467)
  modular_skyrat/modules/hyposprays/code/hyposprays_II.dm
Labels: none

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'
