Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

[MIRROR] Resprites and changes how haunted 8ball polls ghosts (#29486)
  code/game/objects/items/eightball.dm
  icons/obj/toys/toy.dmi
Labels: Sprites

[MIRROR] Resprites utility belt tool overlays, fixes up grammar for CE's belt (#29478)
  code/game/objects/items/storage/belt.dm
  icons/obj/clothing/belt_overlays.dmi
Labels: Sprites

[WIP] Teshari Clothing Update pt 1/? (#29367)
  modular_skyrat/master_files/code/modules/clothing/suits/_suits.dm
  modular_skyrat/master_files/code/modules/clothing/suits/labcoat.dm
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/suit.dmi
  modular_skyrat/master_files/icons/mob/clothing/suits/labcoat.dmi
  modular_skyrat/master_files/icons/obj/clothing/suits/labcoat.dmi
  modular_skyrat/modules/GAGS/greyscale_configs.dm
  modular_skyrat/modules/GAGS/icons/labcoat_teshari.dmi
  modular_skyrat/modules/GAGS/icons/neck/neck_teshari.dmi
  modular_skyrat/modules/GAGS/icons/suit/suit_teshari.dmi
  modular_skyrat/modules/GAGS/icons/teshari_fallbacks.dmi
  modular_skyrat/modules/GAGS/json_configs/teshari_fallbacks/jacket.json
  modular_skyrat/modules/GAGS/json_configs/teshari_fallbacks/longcoat.json
  modular_skyrat/modules/GAGS/json_configs/teshari_fallbacks/thickrobe.json
  modular_skyrat/modules/GAGS/json_configs/teshari_fallbacks/wizrobe.json
  modular_skyrat/modules/command_vendor/code/vending.dm
  modular_skyrat/modules/teshari/code/_clothing_defines.dm
  modular_skyrat/modules/teshari/code/teshari_clothes.dm
Labels: Sprites

mew
  code/game/objects/items/devices/radio/intercom.dm
  code/game/objects/items/devices/radio/radio.dm
Labels: none

[MIRROR] fixes elevation being permanent if you spawn on it (#29473)
  code/datums/elements/elevation.dm
Labels: none

[MIRROR] Doubles PACMAN power output, triples their sheet efficiency. Inducers can now be recharged with plasma. (#29477)
  code/game/objects/items/inducer.dm
  code/modules/power/cell.dm
  code/modules/power/port_gen.dm
Labels: none

done
  tools/tgs_scripts/InstallDeps.sh
Labels: none

[MIRROR] Shrunk arrow from pointing at things. Command roles unaffected thanks to id trims (also new skillchip). (#29461)
  code/__DEFINES/dcs/signals/signals_atom/signals_atom_movable.dm
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_main.dm
  code/controllers/subsystem/id_access.dm
  code/datums/ai/oldhostile/hostile_tameable.dm
  code/datums/components/pet_commands/pet_command.dm
  code/datums/components/riding/riding_mob.dm
  code/datums/id_trim/_id_trim.dm
  code/datums/id_trim/admin.dm
  code/datums/id_trim/centcom.dm
  code/datums/id_trim/jobs.dm
  code/datums/id_trim/ruins.dm
  code/datums/id_trim/syndicate.dm
  code/game/objects/items/cards_ids.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/antagonists/pirate/pirate_outfits.dm
  code/modules/clothing/outfits/ert.dm
  code/modules/jobs/job_types/research_director.dm
  code/modules/library/skill_learning/generic_skillchips/point.dm
  code/modules/mob_spawn/ghost_roles/space_roles.dm
  code/modules/point/point.dm
  code/modules/vending/games.dm
  icons/hud/screen_gen.dmi
  tgstation.dme
Labels: Sprites

[MIRROR] Adds rolling average usage tracking to SS overview (#29415)
  code/controllers/master.dm
  code/controllers/subsystem.dm
  tgui/packages/tgui/interfaces/ControllerOverview/OverviewSection.tsx
  tgui/packages/tgui/interfaces/ControllerOverview/SubsystemDialog.tsx
  tgui/packages/tgui/interfaces/ControllerOverview/SubsystemRow.tsx
  tgui/packages/tgui/interfaces/ControllerOverview/contants.ts
  tgui/packages/tgui/interfaces/ControllerOverview/types.ts
Labels: none

[MIRROR] wheelchair + ridden mobs buff (#29462)
  code/datums/components/riding/riding.dm
  code/datums/components/riding/riding_mob.dm
  code/datums/components/riding/riding_vehicle.dm
Labels: none

fixd
  code/game/objects/items/rcd/RCD.dm
  code/game/objects/structures/grille.dm
  code/game/turfs/open/floor.dm
Labels: none

[MIRROR] Makes map view hiding a bit more robust against unusual circumstances (#29455)
  code/_onclick/hud/map_view.dm
  code/game/objects/items/devices/spyglasses.dm
Labels: none

[MIRROR] Add dreamluau to the tgs precompile (#29234)
  tools/tgs_scripts/PreCompile.sh
Labels: none

turned upside down
  code/game/machinery/dish_drive.dm
Labels: none

[MIRROR] Bumps Spacemandmm To Latest (#29417)
  dependencies.sh
Labels: none

Automatic changelog for PR #29485 [ci skip]
  html/changelogs/AutoChangeLog-pr-29485.yml
Labels: none

Automatic changelog for PR #27409 [ci skip]
  html/changelogs/AutoChangeLog-pr-27409.yml
Labels: none

Automatic changelog for PR #29481 [ci skip]
  html/changelogs/AutoChangeLog-pr-29481.yml
Labels: none

Automatic changelog for PR #29486 [ci skip]
  html/changelogs/AutoChangeLog-pr-29486.yml
Labels: none

Automatic changelog for PR #29478 [ci skip]
  html/changelogs/AutoChangeLog-pr-29478.yml
Labels: none

Automatic changelog for PR #29367 [ci skip]
  html/changelogs/AutoChangeLog-pr-29367.yml
Labels: none

Automatic changelog for PR #29473 [ci skip]
  html/changelogs/AutoChangeLog-pr-29473.yml
Labels: none

Automatic changelog for PR #29477 [ci skip]
  html/changelogs/AutoChangeLog-pr-29477.yml
Labels: none

Automatic changelog for PR #29461 [ci skip]
  html/changelogs/AutoChangeLog-pr-29461.yml
Labels: none

Automatic changelog for PR #29415 [ci skip]
  html/changelogs/AutoChangeLog-pr-29415.yml
Labels: none

Automatic changelog for PR #29462 [ci skip]
  html/changelogs/AutoChangeLog-pr-29462.yml
Labels: none

[MIRROR] Computer console sounds (#29494)
  code/__DEFINES/sound.dm
  code/game/machinery/computer/_computer.dm
  code/game/machinery/computer/camera.dm
  code/game/machinery/computer/communications.dm
  code/game/machinery/computer/records/records.dm
  code/game/sound.dm
  code/modules/modular_computers/computers/item/computer.dm
  code/modules/wiremod/shell/controller.dm
  sound/machines/computer/attribution.txt
  sound/machines/computer/keyboard_clicks_1.ogg
  sound/machines/computer/keyboard_clicks_2.ogg
  sound/machines/computer/keyboard_clicks_3.ogg
  sound/machines/computer/keyboard_clicks_4.ogg
  sound/machines/computer/keyboard_clicks_5.ogg
  sound/machines/computer/keyboard_clicks_6.ogg
  sound/machines/computer/keyboard_clicks_7.ogg
Labels: none

[MIRROR] Use yt-dlp by default instead of youtube-dl (#29474)
  code/modules/admin/verbs/playsound.dm
  config/config.txt
  tools/tgs_scripts/InstallDeps.sh
Labels: none

Automatic changelog for PR #29494 [ci skip]
  html/changelogs/AutoChangeLog-pr-29494.yml
Labels: none

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-27409.yml
  html/changelogs/AutoChangeLog-pr-29367.yml
  html/changelogs/AutoChangeLog-pr-29415.yml
  html/changelogs/AutoChangeLog-pr-29429.yml
  html/changelogs/AutoChangeLog-pr-29461.yml
  html/changelogs/AutoChangeLog-pr-29462.yml
  html/changelogs/AutoChangeLog-pr-29469.yml
  html/changelogs/AutoChangeLog-pr-29473.yml
  html/changelogs/AutoChangeLog-pr-29477.yml
  html/changelogs/AutoChangeLog-pr-29478.yml
  html/changelogs/AutoChangeLog-pr-29481.yml
  html/changelogs/AutoChangeLog-pr-29485.yml
  html/changelogs/AutoChangeLog-pr-29486.yml
  html/changelogs/AutoChangeLog-pr-29491.yml
  html/changelogs/AutoChangeLog-pr-29492.yml
  html/changelogs/archive/2024-08.yml
Labels: none

not me
  .github/ISSUE_TEMPLATE/bug_report_form.yml
  .github/ISSUE_TEMPLATE/config.yml
  interface/interface.dm
Labels: none

[MIRROR] Ragnarok deathmatch arena now has noteleport area (#29493)
  _maps/deathmatch/ragnarok.dmm
Labels: Map Modification

[MIRROR] Beepsky no longer salutes itself like a total narcissist (#29495)
  code/modules/mob/living/simple_animal/bot/bot.dm
Labels: none

[MIRROR] Adds open sprites for captain's safe, removes directional helpers for it (#29465)
  icons/obj/storage/storage.dmi
Labels: Sprites

[MIRROR] Fixes heretic summon rituals not consuming items (#29454)
  code/modules/antagonists/heretic/heretic_knowledge.dm
  code/modules/antagonists/heretic/knowledge/side_ash_moon.dm
  code/modules/antagonists/heretic/knowledge/side_rust_cosmos.dm
Labels: none

[MIRROR] Random spraypaint setting now properly paints large decals (#29441)
  code/game/objects/items/crayons.dm
Labels: none

the whole PR
  modular_skyrat/master_files/code/modules/clothing/outfits/ert.dm
  modular_skyrat/master_files/code/modules/mod/mod_theme.dm
  modular_skyrat/master_files/code/modules/mod/mod_types.dm
  modular_skyrat/master_files/icons/mob/clothing/modsuit/mod_clothing.dmi
  modular_skyrat/master_files/icons/mob/mod.dmi
  modular_skyrat/master_files/icons/obj/clothing/modsuit/mod_clothing.dmi
Labels: Sprites

don't make this difficult
  code/game/turfs/closed/indestructible.dm
Labels: none

Automatic changelog for PR #29493 [ci skip]
  html/changelogs/AutoChangeLog-pr-29493.yml
Labels: none

Automatic changelog for PR #29495 [ci skip]
  html/changelogs/AutoChangeLog-pr-29495.yml
Labels: none

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'
