Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

Automatic changelog for PR #28570 [ci skip]
  html/changelogs/AutoChangeLog-pr-28570.yml
Labels: none

Automatic changelog for PR #28573 [ci skip]
  html/changelogs/AutoChangeLog-pr-28573.yml
Labels: none

[MIRROR] Fixes linters on bitrunning content [no gbp] (#28575)
  _maps/virtual_domains/island_brawl.dmm
Labels: Map Modification

Gun Refactor Part 1: Bayonet Componentization
  code/__DEFINES/dcs/signals/signals_object.dm
  code/datums/components/bayonet_attachable.dm
  code/game/objects/items/knives.dm
  code/modules/jobs/job_types/shaft_miner.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/ballistic.dm
  code/modules/projectiles/guns/ballistic/automatic.dm
  code/modules/projectiles/guns/ballistic/rifle.dm
  code/modules/projectiles/guns/energy/crank_guns.dm
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
  code/modules/projectiles/guns/energy/recharge.dm
  tgstation.dme
Labels: none

Fixes infinite damage smithing weapons
  modular_skyrat/modules/reagent_forging/code/mindless_killer.dm
Labels: none

Adds a check to prevent race condition runtimes by cigarettes. (#84494)
  code/game/objects/items/cigs_lighters.dm
Labels: none

Prevents air alarm runtime due to not getting an environment passed. (#84495)
  code/modules/atmospherics/machinery/air_alarm/_air_alarm.dm
Labels: none

Glove Love - Updates some glove sprites (#84481)
  code/modules/unit_tests/screenshots/screenshot_antag_icons_syndicateinfiltrator.png
  code/modules/unit_tests/screenshots/screenshot_antag_icons_syndicatesleeperagent.png
  code/modules/unit_tests/screenshots/screenshot_antag_icons_traitor.png
  icons/mob/clothing/hands.dmi
  icons/mob/inhands/clothing/gloves_lefthand.dmi
  icons/mob/inhands/clothing/gloves_righthand.dmi
  icons/obj/clothing/gloves.dmi
Labels: Sprites

Adds more "curated" version of human randomization (for humonkeys, corpse spawners, and fresh characters)
  code/datums/sprite_accessories.dm
  code/modules/admin/create_mob.dm
  code/modules/admin/verbs/anonymousnames.dm
  code/modules/admin/verbs/mapping.dm
  code/modules/capture_the_flag/medieval_sim/medisim_game.dm
  code/modules/mob/living/carbon/human/dummy.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob_spawn/mob_spawn.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: none

Some material container patches (#84553)
  code/datums/components/material/material_container.dm
Labels: none

You no longer need to reach the very edge of the game screen to reach the maximum zoom range when scoped (#84544)
  code/datums/components/scope.dm
Labels: none

Converts glasses client colour into an element, appliable to other worn items. (#84542)
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/datums/elements/wearable_client_colour.dm
  code/modules/client/client_colour.dm
  code/modules/clothing/glasses/_glasses.dm
  code/modules/clothing/head/hardhat.dm
  code/modules/clothing/suits/costume.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/research/xenobiology/crossbreeding/_clothing.dm
  tgstation.dme
Labels: none

Cargo chest sprite fix [NO GBP] (#84579)
  icons/obj/storage/crates.dmi
Labels: Sprites

Refactors genetic meltdowns into datums (#84558)
  code/datums/dna.dm
  code/datums/instability_meltdown.dm
  tgstation.dme
Labels: none

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-28479.yml
  html/changelogs/AutoChangeLog-pr-28554.yml
  html/changelogs/AutoChangeLog-pr-28556.yml
  html/changelogs/AutoChangeLog-pr-28559.yml
  html/changelogs/AutoChangeLog-pr-28564.yml
  html/changelogs/AutoChangeLog-pr-28565.yml
  html/changelogs/AutoChangeLog-pr-28566.yml
  html/changelogs/AutoChangeLog-pr-28568.yml
  html/changelogs/AutoChangeLog-pr-28569.yml
  html/changelogs/AutoChangeLog-pr-28570.yml
  html/changelogs/AutoChangeLog-pr-28571.yml
  html/changelogs/AutoChangeLog-pr-28573.yml
  html/changelogs/archive/2024-07.yml
Labels: none

adds a new wire to mecha wires + fixes mecha shock wire (#84538)
  code/datums/wires/mecha.dm
  code/modules/vehicles/mecha/equipment/weapons/weapons.dm
  code/modules/vehicles/mecha/mech_melee_attack.dm
Labels: none

Update blood filter [NO GBP] (#84535)
  code/modules/surgery/blood_filter.dm
Labels: none

Reverts lootpanel change (#84624)
  code/modules/lootpanel/search_object.dm
Labels: none

Allow mobs to ctrl click mobs while resting
  code/_onclick/click_ctrl.dm
  code/modules/mob/living/living_defines.dm
Labels: none

Fix broken mask sprites
  modular_skyrat/modules/better_vox/code/vox_species.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/vox.dm
  modular_skyrat/modules/teshari/code/_teshari.dm
Labels: none

some deathmatch fixes (#84472)
  _maps/deathmatch/OSHA_Violator.dmm
  code/__DEFINES/_flags.dm
  code/modules/deathmatch/deathmatch_loadouts.dm
  code/modules/deathmatch/deathmatch_lobby.dm
  code/modules/deathmatch/deathmatch_mapping.dm
  code/modules/mob/living/carbon/human/human_say.dm
  code/modules/mob/living/silicon/silicon_say.dm
  code/modules/power/singularity/field_generator.dm
Labels: Map Modification

Improves performance of 2 reagent operations (#84411)
  code/modules/reagents/chemistry/holder/holder.dm
Labels: none

makes projectile dampener fields look cooler (#84382)
  icons/effects/fields.dmi
Labels: Sprites

Simple mouse drop improvements (#84406)
  code/_onclick/click.dm
  code/_onclick/drag_drop.dm
Labels: none

Fixes the invisible windoors in birdshot's AI core (#84590)
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Map Modification

fix step action signal logic (#84520)
  code/modules/mob/living/carbon/human/human_movement.dm
Labels: none

[NO GBP] Fixes floating point errors in plumbing machinery (#84405)
  code/datums/components/plumbing/_plumbing.dm
  code/modules/plumbing/plumbers/_plumb_machinery.dm
  code/modules/plumbing/plumbers/iv_drip.dm
  code/modules/plumbing/plumbers/simple_machines.dm
  tgstation.dme
Labels: none

You can now microwave pets (#83887)
  code/modules/food_and_drinks/machinery/microwave.dm
  code/modules/mob/living/basic/vermin/mouse.dm
Labels: none

Fixes instruments enhanced by the portable tuning rite not being able to cast any rites (#84362)
  code/datums/components/religious_tool.dm
Labels: none

exorcises hardstun weapons + death/poly wands from lootboxes (#84414)
  code/game/objects/structures/mystery_box.dm
  code/modules/projectiles/guns/energy/pulse.dm
Labels: none

Feast of Owls - new sound and chat messages change (#84342)
  code/modules/antagonists/heretic/knowledge/starting_lore.dm
  sound/ambience/antag/heretic/heretic_gain_intense.ogg
Labels: none

Fixes mending touch for simplemobs (#84523)
  code/datums/mutations/touch.dm
Labels: none

fixes not being able to clean microwaves (#84527)
  code/modules/food_and_drinks/machinery/microwave.dm
Labels: none

Improve bedsheet interactions (#84505)
  code/game/objects/structures/bedsheet_bin.dm
Labels: none

Allows for proxy atoms in object melee attack chain (#83860)
  code/__DEFINES/tools.dm
  code/_onclick/item_attack.dm
  code/datums/components/material/remote_materials.dm
  code/datums/components/surgery_initiator.dm
  code/game/atom/atom_tool_acts.dm
  code/game/machinery/botlaunchpad.dm
  code/game/machinery/computer/launchpad_control.dm
  code/game/machinery/computer/mechlaunchpad.dm
  code/game/machinery/launch_pad.dm
  code/game/machinery/mechlaunchpad.dm
  code/game/machinery/porta_turret/portable_turret.dm
  code/game/machinery/porta_turret/portable_turret_cover.dm
  code/game/machinery/quantum_pad.dm
  code/game/machinery/telecomms/machine_interactions.dm
  code/game/machinery/teleporter.dm
  code/game/objects/items.dm
  code/game/objects/items/botpad_remote.dm
  code/game/objects/items/robot/items/tools.dm
  code/game/objects/items/robot/robot_upgrades.dm
  code/game/turfs/open/floor.dm
  code/game/turfs/open/floor/fancy_floor.dm
  code/modules/mining/machine_stacking.dm
  code/modules/mob/living/silicon/robot/robot_model.dm
  code/modules/mod/mod_link.dm
  code/modules/paperwork/ticketmachine.dm
  code/modules/plumbing/plumbers/teleporter.dm
  code/modules/recycling/disposal/construction.dm
  code/modules/research/rdmachines.dm
  code/modules/station_goals/bsa.dm
  code/modules/surgery/surgery.dm
  code/modules/surgery/tools.dm
  code/modules/unit_tests/cyborg_tool.dm
Labels: none

fixes mansus grasp not removing runes (#84570)
  code/datums/components/effect_remover.dm
Labels: none

Fixed quirk conflict between transhumanist and prosthetic limb (#84325)
  code/_globalvars/lists/quirks.dm
  code/controllers/subsystem/processing/quirks.dm
  code/datums/quirks/negative_quirks/prosthetic_limb.dm
  code/datums/quirks/neutral_quirks/transhumanist.dm
  code/modules/client/preferences/prosthetic_limb.dm
Labels: none

Changes bitrunning hacker alias sanitization (#84518)
  code/__HELPERS/text.dm
  code/modules/client/preferences/names.dm
Labels: none

Removes the plushie of a Minecraft Youtuber from the code.
  modular_skyrat/master_files/code/modules/loadout/categories/toys.dm
  modular_skyrat/master_files/icons/obj/plushes.dmi
  modular_skyrat/modules/customization/game/objects/items/plushes.dm
  tgstation.dme
Labels: Sprites

Updates forgotten diamond stack sprites (#84581)
  icons/obj/stack_objects.dmi
Labels: Sprites

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'
