Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

[no gbp] arrivals gets fire alarms on wawastation (#84410)
  _maps/map_files/wawastation/wawastation.dmm
Labels: Map Modification

screenshot fix 2 (#28498)
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_lizard_ashwalker.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_monkey.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_teshari.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_vox.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_vox_primalis.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_xeno.png
Labels: none

Delete _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Modification

Re-adds MCR cell swapping (#28307)
  _maps/skyrat/automapper/templates/kilostation/kilostation_armory.dmm
  _maps/skyrat/automapper/templates/wawastation/wawastation_armory.dmm
  code/__DEFINES/~skyrat_defines/cargo_import_companies.dm
  code/modules/power/cell.dm
  modular_skyrat/modules/aesthetics/cells/cell.dm
  modular_skyrat/modules/aesthetics/cells/cell.dmi
  modular_skyrat/modules/company_imports/code/armament_datums/akh_frontier.dm
  modular_skyrat/modules/company_imports/code/armament_datums/allstar.dm
  modular_skyrat/modules/company_imports/code/armament_datums/deforest_medical.dm
  modular_skyrat/modules/company_imports/code/armament_datums/jarnsmiour.dm
  modular_skyrat/modules/company_imports/code/armament_datums/kahraman_industries.dm
  modular_skyrat/modules/company_imports/code/armament_datums/micron_control_systems.dm
  modular_skyrat/modules/company_imports/code/armament_datums/microstar_energy.dm
  modular_skyrat/modules/company_imports/code/armament_datums/nakamura_modsuits.dm
  modular_skyrat/modules/company_imports/code/armament_datums/nri_military_surplus.dm
  modular_skyrat/modules/company_imports/code/armament_datums/put_a_donk_on_it.dm
  modular_skyrat/modules/company_imports/code/armament_datums/sol_defense.dm
  modular_skyrat/modules/company_imports/code/armament_datums/vitezstvi_ammo.dm
  modular_skyrat/modules/company_imports/code/company_datums.dm
  modular_skyrat/modules/company_imports/code/objects/microstar/mcr_attachment_kits.dm
  modular_skyrat/modules/company_imports/code/objects/vitezstvi/ammo_boxes.dm
  modular_skyrat/modules/microfusion/code/cargo_stuff.dm
  modular_skyrat/modules/microfusion/code/gun_types.dm
  modular_skyrat/modules/microfusion/code/microfusion_cell.dm
  modular_skyrat/modules/microfusion/code/microfusion_cell_attachments.dm
  modular_skyrat/modules/microfusion/code/microfusion_designs.dm
  modular_skyrat/modules/microfusion/code/microfusion_energy_master.dm
  modular_skyrat/modules/microfusion/code/microfusion_gun_attachments.dm
  modular_skyrat/modules/microfusion/code/microfusion_techweb.dm
  modular_skyrat/modules/microfusion/code/projectiles.dm
  modular_skyrat/modules/sec_haul/code/guns/armory_spawns.dm
  tgstation.dme
Labels: Map Modification, Sprites

Automatic changelog for PR #28449 [ci skip]
  html/changelogs/AutoChangeLog-pr-28449.yml
Labels: none

techweb
  code/__DEFINES/~skyrat_defines/techweb_nodes.dm
  modular_skyrat/master_files/code/modules/research/techweb/all_nodes.dm
  modular_skyrat/modules/additional_circuit/code/_designs.dm
  modular_skyrat/modules/cargo_teleporter/code/cargo_teleporter.dm
  modular_skyrat/modules/colony_fabricator/code/design_datums/appliances.dm
  modular_skyrat/modules/colony_fabricator/code/design_datums/construction.dm
  modular_skyrat/modules/colony_fabricator/code/design_datums/flatpack_machines.dm
  modular_skyrat/modules/colony_fabricator/code/design_datums/tools.dm
  modular_skyrat/modules/conveyor_sorter/code/conveyor_sorter.dm
  modular_skyrat/modules/digitigrade_cybernetics/code/all_nodes.dm
  modular_skyrat/modules/implants/code/medical_nodes.dm
  modular_skyrat/modules/mutants/code/mutant_techweb.dm
  modular_skyrat/modules/space_vines/scythes.dm
  modular_skyrat/modules/synths/code/research_nodes.dm
  modular_skyrat/modules/tesh_augments/code/all_nodes.dm
  modular_skyrat/modules/xenoarch/code/modules/research/xenoarch/designs_and_tech.dm
  tgstation.dme
Labels: none

more
  modular_skyrat/modules/microfusion/code/microfusion_techweb.dm
  modular_skyrat/modules/power/code/powerator.dm
Labels: none

more2
  modular_skyrat/modules/microfusion/code/microfusion_techweb.dm
  modular_skyrat/modules/power/code/powerator.dm
Labels: none

[MIRROR] Correct the name of this request console on metastation (#28483)
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Modification

Automatic changelog for PR #28483 [ci skip]
  html/changelogs/AutoChangeLog-pr-28483.yml
Labels: none

Techweb defines (#28501)
  code/__DEFINES/~skyrat_defines/techweb_nodes.dm
  modular_skyrat/master_files/code/modules/research/techweb/all_nodes.dm
  modular_skyrat/modules/additional_circuit/code/_designs.dm
  modular_skyrat/modules/cargo_teleporter/code/cargo_teleporter.dm
  modular_skyrat/modules/colony_fabricator/code/design_datums/appliances.dm
  modular_skyrat/modules/colony_fabricator/code/design_datums/construction.dm
  modular_skyrat/modules/colony_fabricator/code/design_datums/flatpack_machines.dm
  modular_skyrat/modules/colony_fabricator/code/design_datums/tools.dm
  modular_skyrat/modules/conveyor_sorter/code/conveyor_sorter.dm
  modular_skyrat/modules/digitigrade_cybernetics/code/all_nodes.dm
  modular_skyrat/modules/implants/code/medical_nodes.dm
  modular_skyrat/modules/microfusion/code/microfusion_techweb.dm
  modular_skyrat/modules/mutants/code/mutant_techweb.dm
  modular_skyrat/modules/power/code/powerator.dm
  modular_skyrat/modules/space_vines/scythes.dm
  modular_skyrat/modules/synths/code/research_nodes.dm
  modular_skyrat/modules/tesh_augments/code/all_nodes.dm
  modular_skyrat/modules/xenoarch/code/modules/research/xenoarch/designs_and_tech.dm
  tgstation.dme
Labels: none

[MIRROR] [no gbp] arrivals gets fire alarms on wawastation (#28500)
  _maps/map_files/wawastation/wawastation.dmm
Labels: Map Modification

Automatic changelog for PR #28500 [ci skip]
  html/changelogs/AutoChangeLog-pr-28500.yml
Labels: none

Makes RD's labcoat toggleable (#84459)
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/suits/labcoat.dm
  code/modules/jobs/job_types/research_director.dm
  icons/mob/clothing/suits/jacket.dmi
  icons/mob/clothing/suits/labcoat.dmi
  icons/obj/clothing/suits/jacket.dmi
  icons/obj/clothing/suits/labcoat.dmi
Labels: Sprites

Pref updating code and language update (#28424)
  code/__DEFINES/~skyrat_defines/culture.dm
  code/modules/client/preferences_savefile.dm
  modular_skyrat/master_files/code/modules/client/preferences.dm
  modular_skyrat/master_files/code/modules/client/preferences/middleware/languages.dm
  modular_skyrat/master_files/code/modules/client/preferences_savefile.dm
  modular_skyrat/master_files/code/modules/language/language_holder.dm
  modular_skyrat/modules/customization/modules/jobs/_job.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/LanguagesMenu.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/data.ts
Labels: none

Revert "Pref updating code and language update (#28424)"
  code/__DEFINES/~skyrat_defines/culture.dm
  code/modules/client/preferences_savefile.dm
  modular_skyrat/master_files/code/modules/client/preferences.dm
  modular_skyrat/master_files/code/modules/client/preferences/middleware/languages.dm
  modular_skyrat/master_files/code/modules/client/preferences_savefile.dm
  modular_skyrat/master_files/code/modules/language/language_holder.dm
  modular_skyrat/modules/customization/modules/jobs/_job.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/LanguagesMenu.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/data.ts
Labels: none

Automatic changelog for PR #28424 [ci skip]
  html/changelogs/AutoChangeLog-pr-28424.yml
Labels: none

Let's see if this cuts it.
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/moth_antennae.dm
Labels: none

[MIRROR] Makes RD's labcoat toggleable (#28502)
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/suits/labcoat.dm
  code/modules/jobs/job_types/research_director.dm
  icons/mob/clothing/suits/jacket.dmi
  icons/mob/clothing/suits/labcoat.dmi
  icons/obj/clothing/suits/jacket.dmi
  icons/obj/clothing/suits/labcoat.dmi
Labels: Sprites

Automatic changelog for PR #28502 [ci skip]
  html/changelogs/AutoChangeLog-pr-28502.yml
Labels: none

Guess we missed a thing long ago.
  modular_skyrat/master_files/code/game/objects/items/stacks/sheets/sheet_types.dm
  modular_skyrat/modules/ashwalkers/code/buildings/gutluncher_foodtrough.dm
Labels: none

Redoing Sprite Accessory (#28497)
  code/__DEFINES/DNA.dm
  code/__HELPERS/dna.dm
  code/__HELPERS/global_lists.dm
  code/controllers/subsystem/sprite_accessories.dm
  code/modules/client/preferences/clothing.dm
  code/modules/food_and_drinks/restaurant/customers/_customer.dm
  code/modules/hydroponics/grown/replicapod.dm
  code/modules/mining/lavaland/tendril_loot.dm
  code/modules/mob/living/carbon/human/dummy.dm
  code/modules/surgery/organs/external/_external_organ.dm
  code/modules/surgery/organs/external/wings/functional_wings.dm
  modular_skyrat/master_files/code/game/objects/items/stacks/sheets/sheet_types.dm
  modular_skyrat/master_files/code/modules/client/preferences/scream.dm
  modular_skyrat/modules/ashwalkers/code/buildings/gutluncher_foodtrough.dm
  modular_skyrat/modules/customization/__DEFINES/lists.dm
  modular_skyrat/modules/customization/__HELPERS/global_lists.dm
  modular_skyrat/modules/customization/__HELPERS/mobs.dm
  modular_skyrat/modules/customization/_globalvars/lists.dm
  modular_skyrat/modules/customization/datums/dna.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/moth_antennae.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/roundstartslime.dm
  modular_skyrat/modules/customization/modules/surgery/organs/genitals.dm
  modular_skyrat/modules/customization/subsytem/sprite_accessories.dm
  tgstation.dme
Labels: none

[Free GBP] Removes unneeded cordons from deathmatch maps. (#84468)
  _maps/deathmatch/OSHA_Violator.dmm
  _maps/deathmatch/meta_brig.dmm
  _maps/deathmatch/ragecage.dmm
  _maps/deathmatch/underground_arena.dmm
Labels: Map Modification

Custom sprites for relics (#84464)
  code/modules/research/experimentor.dm
  icons/obj/devices/artifacts.dmi
Labels: Sprites

Two atmos related if statement fixes (#84131)
  code/modules/atmospherics/machinery/portable/canister.dm
  code/modules/power/supermatter/supermatter_gas.dm
Labels: none

Makes windoors stay open for longer (#84456)
  code/game/machinery/doors/windowdoor.dm
Labels: none

removes a few (hopefully) unused globals (#84473)
  code/_globalvars/configuration.dm
  code/_globalvars/game_modes.dm
  code/_globalvars/lists/mapping.dm
  code/_globalvars/lists/mobs.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_lists.dm
  code/modules/pai/pai.dm
Labels: none

Better Shieldgen Lighting (#84407)
  code/game/machinery/shieldgen.dm
Labels: none

Gives captain's spare safe its own texture instead of being crunched up piss safe (#84462)
  code/game/objects/structures/secure_safe.dm
  icons/obj/structures.dmi
Labels: Sprites

Moved loose tiles and wallframes to crafting (#84210)
  code/datums/components/crafting/tiles.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/modules/research/designs/autolathe/engineering_designs.dm
  code/modules/research/designs/autolathe/multi-department_designs.dm
  code/modules/research/techweb/nodes/engi_nodes.dm
  code/modules/research/techweb/nodes/security_nodes.dm
Labels: none

Automatic changelog for PR #2757 [ci skip]
  html/changelogs/AutoChangeLog-pr-2757.yml
Labels: none

temecomms
  code/__DEFINES/jobs.dm
  code/__DEFINES/~skyrat_defines/atom_hud.dm
  code/datums/station_traits/positive_traits.dm
  code/game/machinery/computer/crew.dm
  code/modules/jobs/job_types/_job.dm
  modular_skyrat/master_files/code/modules/clothing/under/jobs/engineering.dm
  modular_skyrat/master_files/icons/obj/clothing/suits.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/engineering.dmi
  modular_skyrat/modules/alternative_job_titles/code/alt_job_titles.dm
  modular_skyrat/modules/automapper/code/area_spawn_entries.dm
  modular_skyrat/modules/customization/modules/clothing/under/utility_port/suits_port.dm
  modular_skyrat/modules/telecomms_specialist/telecomms_specialist.dm
  tgui/packages/tgui/interfaces/common/JobToIcon.ts
Labels: Sprites

Update Blueshift.dmm
  _maps/map_files/NSVBlueshift/Blueshift.dmm
Labels: Map Modification

icons
  modular_skyrat/master_files/icons/mob/clothing/suit.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/engineering.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/engineering_digi.dmi
  modular_skyrat/master_files/icons/mob/huds/hud.dmi
  modular_skyrat/master_files/icons/obj/card.dmi
Labels: Sprites

Better UI for heretic research
  code/modules/antagonists/heretic/heretic_antag.dm
  code/modules/antagonists/heretic/heretic_knowledge.dm
  code/modules/antagonists/heretic/items/eldritch_flask.dm
  code/modules/antagonists/heretic/knowledge/ash_lore.dm
  code/modules/antagonists/heretic/knowledge/blade_lore.dm
  code/modules/antagonists/heretic/knowledge/cosmic_lore.dm
  code/modules/antagonists/heretic/knowledge/flesh_lore.dm
  code/modules/antagonists/heretic/knowledge/general_side.dm
  code/modules/antagonists/heretic/knowledge/lock_lore.dm
  code/modules/antagonists/heretic/knowledge/moon_lore.dm
  code/modules/antagonists/heretic/knowledge/rust_lore.dm
  code/modules/antagonists/heretic/knowledge/sacrifice_knowledge/sacrifice_knowledge.dm
  code/modules/antagonists/heretic/knowledge/side_ash_moon.dm
  code/modules/antagonists/heretic/knowledge/side_blade_rust.dm
  code/modules/antagonists/heretic/knowledge/side_cosmos_ash.dm
  code/modules/antagonists/heretic/knowledge/side_flesh_void.dm
  code/modules/antagonists/heretic/knowledge/side_lock_flesh.dm
  code/modules/antagonists/heretic/knowledge/side_lock_moon.dm
  code/modules/antagonists/heretic/knowledge/side_rust_cosmos.dm
  code/modules/antagonists/heretic/knowledge/side_void_blade.dm
  code/modules/antagonists/heretic/knowledge/starting_lore.dm
  code/modules/antagonists/heretic/knowledge/void_lore.dm
  icons/obj/antags/eldritch.dmi
  icons/ui_icons/antags/heretic/knowledge.dmi
  tgui/packages/tgui/components/DmIcon.tsx
  tgui/packages/tgui/interfaces/AntagInfoHeretic.tsx
Labels: Sprites

Update telecomms_specialist.dm
  modular_skyrat/modules/telecomms_specialist/telecomms_specialist.dm
Labels: none

Fixes blood loss being able to knock you unconscious even at high blood amount (#84476)
  code/modules/mob/living/blood.dm
Labels: none

suit
  modular_skyrat/master_files/code/modules/clothing/under/jobs/engineering.dm
  modular_skyrat/modules/telecomms_specialist/telecomms_specialist.dm
Labels: none

Update tgstation.dme
  tgstation.dme
Labels: none

Slime extracts can now be ground once again (#84482)
  code/modules/reagents/chemistry/holder/reactions.dm
  code/modules/research/xenobiology/xenobiology.dm
Labels: none

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'
