Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'

Raising lobstrosities from chrabs is now a component. Adds in tadpoles which become frogs. (#85346)
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/map_files/wawastation/wawastation.dmm
  code/__DEFINES/dcs/signals/signals_fish.dm
  code/datums/components/fish_growth.dm
  code/game/objects/structures/water_structures/water_source.dm
  code/modules/cargo/exports/fish.dm
  code/modules/fishing/fish/_fish.dm
  code/modules/fishing/fish/fish_types.dm
  code/modules/mob/living/basic/basic.dm
  code/modules/unit_tests/fish_unit_tests.dm
  icons/obj/aquarium/fish.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/Aquarium.tsx
Labels: Map Modification, Sprites

Update shotgun.dm
  modular_skyrat/modules/shotgunrebalance/code/shotgun.dm
Labels: none

[MIRROR] Raising lobstrosities from chrabs is now a component. Adds in tadpoles which become frogs. (#29147)
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/map_files/wawastation/wawastation.dmm
  code/__DEFINES/dcs/signals/signals_fish.dm
  code/datums/components/fish_growth.dm
  code/game/objects/structures/water_structures/water_source.dm
  code/modules/cargo/exports/fish.dm
  code/modules/fishing/fish/_fish.dm
  code/modules/fishing/fish/fish_types.dm
  code/modules/mob/living/basic/basic.dm
  code/modules/unit_tests/fish_unit_tests.dm
  icons/obj/aquarium/fish.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/Aquarium.tsx
Labels: Map Modification, Sprites

Automatic changelog for PR #29147 [ci skip]
  html/changelogs/AutoChangeLog-pr-29147.yml
Labels: none

the whole PR
  modular_skyrat/modules/pixel_shift/code/pixel_shift_component.dm
Labels: none

optimizes pixel shifting some (#29231)
  modular_skyrat/modules/pixel_shift/code/pixel_shift_component.dm
Labels: none

Automatic changelog for PR #29231 [ci skip]
  html/changelogs/AutoChangeLog-pr-29231.yml
Labels: none

Fix advanced disease runtiming with invalid severity (#85465)
  code/datums/diseases/_disease.dm
  code/datums/diseases/advance/advance.dm
Labels: none

the whole PR
  modular_skyrat/master_files/code/modules/client/preferences/names.dm
  modular_skyrat/modules/Midroundtraitor/code/datum_traitor.dm
Labels: none

gives it to interdyne too
  modular_skyrat/modules/mapping/code/mob_spawns.dm
  tgstation.dme
Labels: none

Update datum_traitor.dm
  modular_skyrat/modules/Midroundtraitor/code/datum_traitor.dm
Labels: none

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-29102.yml
  html/changelogs/AutoChangeLog-pr-29147.yml
  html/changelogs/AutoChangeLog-pr-29165.yml
  html/changelogs/AutoChangeLog-pr-29171.yml
  html/changelogs/AutoChangeLog-pr-29188.yml
  html/changelogs/AutoChangeLog-pr-29189.yml
  html/changelogs/AutoChangeLog-pr-29203.yml
  html/changelogs/AutoChangeLog-pr-29205.yml
  html/changelogs/AutoChangeLog-pr-29213.yml
  html/changelogs/AutoChangeLog-pr-29214.yml
  html/changelogs/AutoChangeLog-pr-29215.yml
  html/changelogs/AutoChangeLog-pr-29217.yml
  html/changelogs/AutoChangeLog-pr-29218.yml
  html/changelogs/AutoChangeLog-pr-29220.yml
  html/changelogs/AutoChangeLog-pr-29222.yml
  html/changelogs/AutoChangeLog-pr-29223.yml
  html/changelogs/AutoChangeLog-pr-29224.yml
  html/changelogs/AutoChangeLog-pr-29225.yml
  html/changelogs/AutoChangeLog-pr-29226.yml
  html/changelogs/AutoChangeLog-pr-29227.yml
  html/changelogs/AutoChangeLog-pr-29228.yml
  html/changelogs/AutoChangeLog-pr-29229.yml
  html/changelogs/AutoChangeLog-pr-29231.yml
  html/changelogs/archive/2024-08.yml
Labels: none

Add dreamluau to the tgs precompile (#85624)
  tools/tgs_scripts/PreCompile.sh
Labels: none

Update mob_spawns.dm
  modular_skyrat/modules/mapping/code/mob_spawns.dm
Labels: none

the whole PR
  modular_skyrat/modules/self_actualization_device/code/self_actualization_device.dm
Labels: none

Automatic changelog for PR #29232 [ci skip]
  html/changelogs/AutoChangeLog-pr-29232.yml
Labels: none

Automatic changelog for PR #29233 [ci skip]
  html/changelogs/AutoChangeLog-pr-29233.yml
Labels: none

Automatic changelog for PR #29230 [ci skip]
  html/changelogs/AutoChangeLog-pr-29230.yml
Labels: none

Fixes ziptie pickup/drop sounds (#85630)
  code/game/objects/items/handcuffs.dm
Labels: none

Fixes guest accounts not having keybinds and getting constant runtimes (#72818)
  code/modules/client/preferences_savefile.dm
Labels: none

Automatic changelog for PR #29237 [ci skip]
  html/changelogs/AutoChangeLog-pr-29237.yml
Labels: none

Automatic changelog for PR #29236 [ci skip]
  html/changelogs/AutoChangeLog-pr-29236.yml
Labels: none

Automatic changelog for PR #29235 [ci skip]
  html/changelogs/AutoChangeLog-pr-29235.yml
Labels: none

Fixed things with \improper name not dispensing from smartfridge [NO GBP] (#85538)
  code/modules/food_and_drinks/machinery/smartfridge.dm
Labels: none

Update hydroponics.dm
  modular_skyrat/modules/primitive_production/code/hydroponics.dm
Labels: none

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-29230.yml
  html/changelogs/AutoChangeLog-pr-29232.yml
  html/changelogs/AutoChangeLog-pr-29233.yml
  html/changelogs/AutoChangeLog-pr-29235.yml
  html/changelogs/AutoChangeLog-pr-29236.yml
  html/changelogs/AutoChangeLog-pr-29237.yml
  html/changelogs/archive/2024-08.yml
Labels: none

this is easier
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/rifle.dm
  modular_skyrat/modules/modular_weapons/icons/obj/company_and_or_faction_based/nanotrasen_system_inc/pistol.dmi
  modular_skyrat/modules/modular_weapons/icons/obj/company_and_or_faction_based/romulus_technology/gun40x32.dmi
Labels: Sprites

wonderful
  modular_skyrat/modules/modular_weapons/icons/obj/company_and_or_faction_based/romulus_technology/gun32x32.dmi
  modular_skyrat/modules/modular_weapons/icons/obj/company_and_or_faction_based/romulus_technology/gun40x32.dmi
  modular_skyrat/modules/modular_weapons/icons/obj/company_and_or_faction_based/romulus_technology/pistol.dmi
Labels: Sprites

Prescription Glass Fixes
  modular_skyrat/modules/huds/code/glasses/HUD_Glasses.dm
Labels: none

woops
  modular_skyrat/modules/huds/code/glasses/HUD_Glasses.dm
Labels: none

the whole PR
  modular_skyrat/modules/huds/code/glasses/HUD_Glasses.dm
Labels: none

Update tgstation.dme
  tgstation.dme
Labels: none

Update tgstation.dme
  tgstation.dme
Labels: none

Update rifle.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/rifle.dm
Labels: none

Update rifle.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/rifle.dm
Labels: none

Automatic changelog for PR #29240 [ci skip]
  html/changelogs/AutoChangeLog-pr-29240.yml
Labels: none

done
  modular_skyrat/modules/blueshield/code/closet.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/rifle.dm
Labels: none

Update tgstation.dme
  tgstation.dme
Labels: none

yeah
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/rifle.dm
  modular_skyrat/modules/sec_haul/code/guns/cargo_stuff.dm
  modular_skyrat/modules/sec_haul/code/misc/packs.dm
Labels: none

Update tgstation.dme
  tgstation.dme
Labels: none
