Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

[MIRROR] [no gbp] fixes mothroach glutton (#28844)
  code/modules/mob/living/basic/vermin/mothroach/mothroach_ai.dm
Labels: none

[MIRROR] Fixes outfit manager harddel (#28845)
  code/modules/admin/outfit_manager.dm
Labels: none

[MIRROR] Research queue (#28846)
  code/controllers/subsystem/research.dm
  code/modules/modular_computers/file_system/programs/techweb.dm
  code/modules/research/rdconsole.dm
  code/modules/research/techweb/_techweb.dm
  code/modules/research/techweb/_techweb_node.dm
  tgui/packages/tgui/interfaces/Techweb.jsx
Labels: none

[MIRROR] Remove double TRAIT_BOXING_READY declaration. (#28848)
  code/_globalvars/traits/_traits.dm
Labels: none

[MIRROR] [THIS DOES NOT AFFECT DAMAGE] [ITS PURELY VISUAL] [TRUST ME] [I CHECKED IT] Accelerator cannon projectiles scale slower and have a size limit now (#28849)
  code/modules/projectiles/guns/energy/laser.dm
Labels: none

[MIRROR] Add interaction sounds to pill bottle (#28850)
  code/datums/storage/storage.dm
  code/game/objects/items/storage/medkit.dm
  sound/items/handling/pill_bottle_open.ogg
  sound/items/handling/pill_bottle_pickup.ogg
  sound/items/handling/pill_bottle_place.ogg
Labels: none

[MIRROR] Alt right click support for borgs (#28851)
  code/_onclick/cyborg.dm
Labels: none

[MIRROR] [NO GBP] Fixes a regression with the no-decal maintenance loot spawner (#28852)
  code/game/objects/effects/spawners/random/maintenance.dm
Labels: none

[MIRROR] Fixes overwatch glasses not adding HUDs (#28853)
  code/modules/antagonists/nukeop/equipment/overwatch_tools.dm
Labels: none

[MIRROR] Fixes the clown reinforcement spawning with TC (#28855)
  code/modules/antagonists/_common/antag_spawner.dm
  code/modules/antagonists/clown_ops/clownop.dm
  code/modules/antagonists/clown_ops/outfits.dm
  code/modules/antagonists/nukeop/outfits.dm
Labels: none

Automatic changelog for PR #28833 [ci skip]
  html/changelogs/AutoChangeLog-pr-28833.yml
Labels: none

Automatic changelog for PR #28834 [ci skip]
  html/changelogs/AutoChangeLog-pr-28834.yml
Labels: none

Automatic changelog for PR #28835 [ci skip]
  html/changelogs/AutoChangeLog-pr-28835.yml
Labels: none

Automatic changelog for PR #28837 [ci skip]
  html/changelogs/AutoChangeLog-pr-28837.yml
Labels: none

Automatic changelog for PR #28838 [ci skip]
  html/changelogs/AutoChangeLog-pr-28838.yml
Labels: none

Automatic changelog for PR #28839 [ci skip]
  html/changelogs/AutoChangeLog-pr-28839.yml
Labels: none

Automatic changelog for PR #28840 [ci skip]
  html/changelogs/AutoChangeLog-pr-28840.yml
Labels: none

Automatic changelog for PR #28841 [ci skip]
  html/changelogs/AutoChangeLog-pr-28841.yml
Labels: none

Automatic changelog for PR #28842 [ci skip]
  html/changelogs/AutoChangeLog-pr-28842.yml
Labels: none

Automatic changelog for PR #28843 [ci skip]
  html/changelogs/AutoChangeLog-pr-28843.yml
Labels: none

Automatic changelog for PR #28844 [ci skip]
  html/changelogs/AutoChangeLog-pr-28844.yml
Labels: none

Automatic changelog for PR #28845 [ci skip]
  html/changelogs/AutoChangeLog-pr-28845.yml
Labels: none

Automatic changelog for PR #28846 [ci skip]
  html/changelogs/AutoChangeLog-pr-28846.yml
Labels: none

Automatic changelog for PR #28849 [ci skip]
  html/changelogs/AutoChangeLog-pr-28849.yml
Labels: none

Automatic changelog for PR #28850 [ci skip]
  html/changelogs/AutoChangeLog-pr-28850.yml
Labels: none

Automatic changelog for PR #28851 [ci skip]
  html/changelogs/AutoChangeLog-pr-28851.yml
Labels: none

Automatic changelog for PR #28853 [ci skip]
  html/changelogs/AutoChangeLog-pr-28853.yml
Labels: none

Automatic changelog for PR #28855 [ci skip]
  html/changelogs/AutoChangeLog-pr-28855.yml
Labels: none

Buffing some awful black market items to be less awful. (#84895)
  code/game/objects/items/storage/boxes/security_boxes.dm
  code/modules/cargo/markets/market_items/clothing.dm
  code/modules/cargo/markets/market_items/consumables.dm
  code/modules/cargo/markets/market_items/misc.dm
  code/modules/cargo/markets/market_items/tools.dm
  code/modules/cargo/markets/market_items/weapons.dm
  code/modules/clothing/glasses/hud.dm
  code/modules/projectiles/ammunition/ballistic/shotgun.dm
  code/modules/reagents/reagent_containers/cups/bottle.dm
  icons/obj/storage/box.dmi
Labels: Sprites

Tweaked the 'Linked Closets' trait. (#84779)
  code/datums/station_traits/neutral_traits.dm
Labels: none

Holy skateboard improvement + actually fixing space movement with hoverboards. (#84790)
  code/datums/components/anti_magic.dm
  code/datums/components/riding/riding_vehicle.dm
  code/modules/vehicles/scooter.dm
Labels: none

If you can't shoot a gun, then... JUST TOSS IT AT THEM (#84827)
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/_globalvars/traits/admin_tooling.dm
  code/datums/martial/sleeping_carp.dm
  code/modules/antagonists/highlander/highlander.dm
  code/modules/antagonists/pirate/pirate_roles.dm
  code/modules/mining/lavaland/tendril_loot.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mod/modules/modules_ninja.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/ballistic.dm
  code/modules/projectiles/guns/ballistic/rifle.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
  code/modules/projectiles/guns/ballistic/toy.dm
Labels: none

Love is stored in the heart (adds the love chem to hearts) (#84840)
  code/datums/quirks/positive_quirks/friendly.dm
  code/modules/antagonists/nightmare/nightmare_organs.dm
  code/modules/surgery/organs/internal/heart/_heart.dm
Labels: none

Positive moodlets when examining high-value paintings, plus tgui nitpicks (#84646)
  code/__DEFINES/art.dm
  code/controllers/subsystem/persistent_paintings.dm
  code/modules/art/paintings.dm
  tgui/packages/tgui/interfaces/Canvas.tsx
Labels: none

Megaphones now affect TTS (#84843)
  code/game/objects/items/devices/megaphone.dm
  code/modules/mob/living/living_say.dm
Labels: none

Adds an assistant preview outfit for previewing assistant loadouts (#84861)
  code/modules/jobs/job_types/assistant/assistant.dm
Labels: none

Minor Fishing rod QoL (#84865)
  code/modules/fishing/fishing_rod.dm
Labels: none

Fixes Wawastation xenobio openspace bz turfs in the main room (#84881)
  _maps/map_files/wawastation/wawastation.dmm
Labels: Map Modification

Make storage datums actually send `COMSIG_ATOM_STORED_ITEM` on the parent atom instead of `COMSIG_STORAGE_STORED_ITEM` (#84901)
  code/datums/storage/storage.dm
Labels: none

Material sheet sounds and Vary support for picking up/dropping items (#84860)
  code/game/objects/items.dm
  code/game/objects/items/stacks/rods.dm
  code/game/objects/items/stacks/sheets/glass.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/stacks/sheets/sheets.dm
  sound/items/attributions.txt
  sound/items/glass_drop.ogg
  sound/items/glass_pick_up.ogg
  sound/items/iron_rod_pick_up.ogg
  sound/items/metal_drop.ogg
  sound/items/metal_pick_up.ogg
  sound/items/plastic_drop.ogg
  sound/items/plastic_pick_up.ogg
  sound/items/wood_drop.ogg
  sound/items/wood_pick_up.ogg
Labels: none

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'
