Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

Update work_tools.dm
  code/modules/vehicles/mecha/equipment/tools/work_tools.dm
Labels: none

Update hud.dm
  code/datums/hud.dm
Labels: none

[MIRROR] Separates tabletop/wallmounted ID authorisation panels (#29024)
  _maps/RandomRuins/SpaceRuins/derelict_sulaco.dmm
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NSVBlueshift/Blueshift.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  _maps/map_files/debug/gateway_test.dmm
  _maps/map_files/debug/runtimestation.dmm
  _maps/map_files/generic/CentCom.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/map_files/wawastation/wawastation.dmm
  _maps/shuttles/emergency_kilo.dmm
  _maps/shuttles/emergency_tranquility.dmm
  _maps/skyrat/automapper/templates/centcom/centcom_ferry_dock.dmm
  code/__HELPERS/global_lists.dm
  code/modules/security_levels/keycard_authentication.dm
  icons/obj/machines/keycard_auth_table.dmi
  tools/UpdatePaths/Scripts/85124_wallmounted_id_auth.txt
Labels: Map Modification, Sprites

Automatic changelog for PR #29024 [ci skip]
  html/changelogs/AutoChangeLog-pr-29024.yml
Labels: none

[MIRROR] Refactors projectile parrying and makes it actually possible. (#28957)
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_living.dm
  code/__DEFINES/dcs/signals/signals_object.dm
  code/__DEFINES/traits/declarations.dm
  code/__DEFINES/traits/sources.dm
  code/_globalvars/traits/_traits.dm
  code/_globalvars/traits/admin_tooling.dm
  code/datums/components/parry.dm
  code/datums/components/style/style.dm
  code/datums/components/style/style_meter.dm
  code/datums/status_effects/debuffs/debuffs.dm
  code/game/objects/items/hand_items.dm
  code/modules/mining/equipment/kinetic_crusher.dm
  code/modules/mob/living/basic/lavaland/bileworm/bileworm_actions.dm
  code/modules/mob/living/basic/lavaland/watcher/watcher_projectiles.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/herald.dm
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
  code/modules/projectiles/projectile.dm
Labels: none

[MIRROR] Datumizes pod types (#28986)
  code/__DEFINES/cargo.dm
  code/_globalvars/lists/cargo.dm
  code/datums/pod_style.dm
  code/datums/quirks/negative_quirks/indebted.dm
  code/datums/skills/_skill.dm
  code/game/gamemodes/objective.dm
  code/game/machinery/botlaunchpad.dm
  code/game/machinery/computer/orders/order_computer/order_computer.dm
  code/game/machinery/mechlaunchpad.dm
  code/game/objects/items/choice_beacon.dm
  code/game/objects/items/devices/battle_royale.dm
  code/modules/admin/smites/supply_pod_quick.dm
  code/modules/antagonists/_common/antag_spawner.dm
  code/modules/antagonists/traitor/objectives/final_objective/battle_royale.dm
  code/modules/antagonists/traitor/objectives/final_objective/battlecruiser.dm
  code/modules/antagonists/traitor/objectives/final_objective/infect_ai.dm
  code/modules/antagonists/traitor/objectives/final_objective/objective_dark_matteor.dm
  code/modules/antagonists/traitor/objectives/final_objective/romerol.dm
  code/modules/antagonists/traitor/objectives/final_objective/supermatter_cascade.dm
  code/modules/antagonists/wizard/grand_ritual/grand_side_effect.dm
  code/modules/asset_cache/assets/supplypods.dm
  code/modules/cargo/centcom_podlauncher.dm
  code/modules/cargo/supplypod.dm
  code/modules/events/stray_cargo.dm
  code/modules/uplink/uplink_items/bundle.dm
  code/modules/vehicles/mecha/combat/savannah_ivanov.dm
  modular_skyrat/modules/icspawning/code/observer.dm
  modular_skyrat/modules/modular_items/code/summon_beacon.dm
  modular_skyrat/modules/novaya_ert/code/advanced_choice_beacon.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/CentcomPodLauncher/StylePage.tsx
  tgui/packages/tgui/interfaces/CentcomPodLauncher/constants.ts
  tgui/packages/tgui/interfaces/CentcomPodLauncher/types.ts
Labels: none

Automatic changelog for PR #28957 [ci skip]
  html/changelogs/AutoChangeLog-pr-28957.yml
Labels: none

Automatic changelog for PR #28986 [ci skip]
  html/changelogs/AutoChangeLog-pr-28986.yml
Labels: none

[MIRROR] Cleans up clamp code, makes kill clamp actually work, fixes anchor resetting issues (#29029)
  code/modules/vehicles/mecha/equipment/tools/work_tools.dm
Labels: none

[MIRROR] Updates Strong-Arm implants to be cooldown based, deal entirely lethal damage (but more of it) (#29035)
  code/__DEFINES/DNA.dm
  code/datums/station_traits/positive_traits.dm
  code/modules/cargo/packs/medical.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/surgery/organs/internal/cyberimp/augments_arms.dm
  modular_skyrat/modules/moretraitoritems/code/autosurgeon.dm
Labels: none

Automatic changelog for PR #29007 [ci skip]
  html/changelogs/AutoChangeLog-pr-29007.yml
Labels: none

[MIRROR] [no gbp] wawastation ordnance looks better (#29065)
  _maps/map_files/wawastation/wawastation.dmm
Labels: Map Modification

[MIRROR] Fish ordered from bought fish cases now sells for 1/20th of the normal price (#29070)
  code/modules/cargo/exports/fish.dm
Labels: none

[MIRROR] Fix clicking on a table through the lootpanel with an item forcing it to be placed in the very corner (#29071)
  code/game/objects/structures/tables_racks.dm
Labels: none

Automatic changelog for PR #29029 [ci skip]
  html/changelogs/AutoChangeLog-pr-29029.yml
Labels: none

Automatic changelog for PR #29035 [ci skip]
  html/changelogs/AutoChangeLog-pr-29035.yml
Labels: none

Automatic changelog for PR #29065 [ci skip]
  html/changelogs/AutoChangeLog-pr-29065.yml
Labels: none

Update alt_job_titles.dm
  modular_skyrat/modules/alternative_job_titles/code/alt_job_titles.dm
Labels: none

Automatic changelog for PR #29070 [ci skip]
  html/changelogs/AutoChangeLog-pr-29070.yml
Labels: none

Automatic changelog for PR #29071 [ci skip]
  html/changelogs/AutoChangeLog-pr-29071.yml
Labels: none

Update alt_job_titles.dm
  modular_skyrat/modules/alternative_job_titles/code/alt_job_titles.dm
Labels: none

[MIRROR] HUD traits now apply their corresponding hud automatically. Most clothing/item/etc sources of HUDs now only use traits [MDB IGNORE] (#3861)
  code/__DEFINES/atom_hud.dm
  code/__DEFINES/traits/declarations.dm
  code/__DEFINES/~skyrat_defines/traits.dm
  code/_globalvars/traits/_traits.dm
  code/_globalvars/traits/admin_tooling.dm
  code/datums/elements/digitalcamo.dm
  code/datums/hud.dm
  code/game/data_huds.dm
  code/game/objects/items/busts_and_figurines.dm
  code/modules/admin/verbs/admingame.dm
  code/modules/antagonists/nukeop/equipment/overwatch_tools.dm
  code/modules/clothing/glasses/_glasses.dm
  code/modules/clothing/glasses/hud.dm
  code/modules/clothing/suits/ablativecoat.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/basic/bots/_bots.dm
  code/modules/mob/living/basic/bots/bot_hud.dm
  code/modules/mob/living/basic/bots/vibebot/vibebot.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/mob/mob.dm
  code/modules/mod/modules/modules_visor.dm
  code/modules/pai/software.dm
  code/modules/surgery/organs/internal/cyberimp/augments_eyes.dm
  code/modules/vehicles/mecha/medical/odysseus.dm
  modular_skyrat/modules/company_imports/code/objects/hud_glasses.dm
  modular_skyrat/modules/customization/modules/clothing/glasses/hud.dm
  modular_skyrat/modules/modular_implants/code/nifsofts/huds.dm
  modular_skyrat/modules/modular_items/code/modular_glasses.dm
Labels: none

[MIRROR] HUD traits now apply their corresponding hud automatically. Most clothing/item/etc sources of HUDs now only use traits (#29072)
  code/__DEFINES/atom_hud.dm
  code/__DEFINES/traits/declarations.dm
  code/__DEFINES/~skyrat_defines/traits.dm
  code/_globalvars/traits/_traits.dm
  code/_globalvars/traits/admin_tooling.dm
  code/datums/elements/digitalcamo.dm
  code/datums/hud.dm
  code/game/data_huds.dm
  code/game/objects/items/busts_and_figurines.dm
  code/modules/admin/verbs/admingame.dm
  code/modules/antagonists/nukeop/equipment/overwatch_tools.dm
  code/modules/clothing/glasses/_glasses.dm
  code/modules/clothing/glasses/hud.dm
  code/modules/clothing/suits/ablativecoat.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/basic/bots/_bots.dm
  code/modules/mob/living/basic/bots/bot_hud.dm
  code/modules/mob/living/basic/bots/vibebot/vibebot.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/mob/mob.dm
  code/modules/mod/modules/modules_visor.dm
  code/modules/pai/software.dm
  code/modules/surgery/organs/internal/cyberimp/augments_eyes.dm
  code/modules/vehicles/mecha/medical/odysseus.dm
  modular_skyrat/modules/company_imports/code/objects/hud_glasses.dm
  modular_skyrat/modules/customization/modules/clothing/glasses/hud.dm
  modular_skyrat/modules/modular_implants/code/nifsofts/huds.dm
  modular_skyrat/modules/modular_items/code/modular_glasses.dm
Labels: none

Automatic changelog for PR #29072 [ci skip]
  html/changelogs/AutoChangeLog-pr-29072.yml
Labels: none

Update hud.dm
  code/datums/hud.dm
Labels: none

[MIRROR] fixes ghost huds (#29002)
  code/modules/mob/dead/observer/observer.dm
Labels: none

Alt Title Bloat (#29069)
  modular_skyrat/modules/alternative_job_titles/code/alt_job_titles.dm
Labels: none

Automatic changelog for PR #29002 [ci skip]
  html/changelogs/AutoChangeLog-pr-29002.yml
Labels: none

Automatic changelog for PR #29069 [ci skip]
  html/changelogs/AutoChangeLog-pr-29069.yml
Labels: none

Gas tank sounds (#85283)
  code/game/objects/items/tanks/tanks.dm
  sound/items/attributions.txt
  sound/items/gas_tank_drop.ogg
  sound/items/gas_tank_pick_up.ogg
Labels: none

[no gbp] Changes the default sheet drop sound. (#85282)
  sound/items/attributions.txt
  sound/items/metal_drop.ogg
Labels: none

Monkeymancers can interact with runes (#85289)
  code/__DEFINES/interaction_flags.dm
  code/_onclick/other_mobs.dm
  code/modules/antagonists/wizard/grand_ritual/grand_rune.dm
  code/modules/food_and_drinks/machinery/processor.dm
Labels: none

[NO GBP] Clown Ops gear is now restricted to clown ops again (#85288)
  code/modules/uplink/uplink_devices.dm
Labels: none

nerfs the sneeze suppressive fire (#85262)
  code/modules/mob/living/sneeze.dm
Labels: none

fixes birdshot holodeck area fuckery (#85285)
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Map Modification

Dynamic - fixes a comment for proc/lorentz_to_amount() (#85291)
  code/controllers/subsystem/dynamic/dynamic.dm
Labels: none

Makes Voidwalker check SSmapping.is_planetary when spawning (#85274)
  code/controllers/subsystem/dynamic/dynamic_rulesets_midround.dm
Labels: none

Fix ssmachinary sleeping (#85269)
  code/game/machinery/_machinery.dm
Labels: none

Surgery steps no longer fail silently when missing chemicals (#85260)
  code/game/machinery/computer/operating_computer.dm
  code/modules/surgery/surgery_step.dm
  tgui/packages/tgui/interfaces/OperatingComputer.jsx
Labels: none

Mafia role help now checks the original description (#85258)
  code/modules/mafia/roles/roles.dm
Labels: none

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'
