Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'

yes
  modular_skyrat/modules/aesthetics/guns/code/guns.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/rifle.dm
Labels: none

Update tgstation.dme
  tgstation.dme
Labels: none

Update shotgun.dm
  modular_skyrat/modules/shotgunrebalance/code/shotgun.dm
Labels: none

there
  modular_skyrat/modules/modular_weapons/icons/obj/company_and_or_faction_based/romulus_technology/gun40x32.dmi
Labels: Sprites

yeah!
  modular_skyrat/modules/colony_fabricator/code/tools/tools.dm
  tgstation.dme
Labels: none

Automatic changelog for PR #29239 [ci skip]
  html/changelogs/AutoChangeLog-pr-29239.yml
Labels: none

Revert "[MIRROR] Machines check their parts during initialization (#29179)"
  code/game/machinery/_machinery.dm
  code/game/machinery/medipen_refiller.dm
Labels: none

Automatic changelog for PR #29238 [ci skip]
  html/changelogs/AutoChangeLog-pr-29238.yml
Labels: none

Fixes a mirror of Unfucks all the broken vendors that I broke [no gbp] #85483 (#29241)
  code/game/machinery/_machinery.dm
  code/game/machinery/medipen_refiller.dm
Labels: none

Circuit UI scale no longer suffers from FPEs and doesnt get covered by component menu (#85653)
  tgui/packages/tgui/components/InfinitePlane.jsx
  tgui/packages/tgui/interfaces/IntegratedCircuit/index.jsx
Labels: none

Fixed Charlie MOD installer not installing MODsuits unless you have a backpack to drop (#85671)
  code/modules/mapfluff/ruins/spaceruin_code/oldstation/oldstation_mod.dm
Labels: none

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-29238.yml
  html/changelogs/AutoChangeLog-pr-29239.yml
  html/changelogs/AutoChangeLog-pr-29240.yml
  html/changelogs/archive/2024-08.yml
Labels: none

Fix tadpole scooping (#85691)
  code/game/objects/structures/water_structures/water_source.dm
Labels: none

Automatic changelog for PR #29243 [ci skip]
  html/changelogs/AutoChangeLog-pr-29243.yml
Labels: none

The whole PR
  code/__DEFINES/~skyrat_defines/keybindings.dm
  code/__DEFINES/~skyrat_defines/signals.dm
  code/__DEFINES/~skyrat_defines/traits.dm
  modular_skyrat/master_files/code/datums/elements/prone_mob.dm
  modular_skyrat/master_files/code/datums/keybinding/movement.dm
  modular_skyrat/master_files/code/modules/mob/living/human/human.dm
  modular_skyrat/master_files/code/modules/mob/mob_movement.dm
  modular_skyrat/modules/cortical_borer/code/abilities/_borer_abilities.dm
  tgstation.dme
Labels: none

Update HUD_Glasses.dm
  modular_skyrat/modules/huds/code/glasses/HUD_Glasses.dm
Labels: none

modified: _maps/safehouses/skyrat_ancientmilsim.dmm
  _maps/safehouses/skyrat_ancientmilsim.dmm
Labels: Map Modification

Automatic changelog for PR #29246 [ci skip]
  html/changelogs/AutoChangeLog-pr-29246.yml
Labels: none

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-29243.yml
  html/changelogs/AutoChangeLog-pr-29246.yml
  html/changelogs/archive/2024-08.yml
Labels: none

Removes an unused var from SSpersistence (#85696)
  code/controllers/subsystem/persistence/_persistence.dm
Labels: none

Fixes Donk Co. & Waffle Corp Trademark Issues (#85686)
  _maps/RandomRuins/SpaceRuins/infested_frigate.dmm
  code/game/objects/items/clown_items.dm
  code/game/objects/items/food/monkeycube.dm
  code/game/objects/items/grenades/chem_grenade.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/storage/boxes/science_boxes.dm
  code/modules/antagonists/nukeop/outfits.dm
  code/modules/mod/mod_theme.dm
  code/modules/mod/modules/modules_general.dm
  code/modules/projectiles/guns/ballistic/revolver.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/research/designs/misc_designs.dm
  code/modules/uplink/uplink_items/dangerous.dm
  code/modules/uplink/uplink_items/job.dm
  code/modules/uplink/uplink_items/nukeops.dm
  strings/antagonist_flavor/traitor_flavor.json
Labels: Map Modification

Update flee_target.dm
  code/datums/ai/basic_mobs/basic_subtrees/flee_target.dm
Labels: none

Update scanner_gate.dm
  code/game/machinery/scanner_gate.dm
Labels: none

the whole PR
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon.dmm
  modular_skyrat/master_files/code/game/objects/items/long_range_pda.dm
  modular_skyrat/master_files/code/modules/research/designs/long_range_pda_design.dm
  tgstation.dme
Labels: Map Modification

Automatic changelog for PR #29250 [ci skip]
  html/changelogs/AutoChangeLog-pr-29250.yml
Labels: none

Automatic changelog for PR #29249 [ci skip]
  html/changelogs/AutoChangeLog-pr-29249.yml
Labels: none

Automatic changelog for PR #29242 [ci skip]
  html/changelogs/AutoChangeLog-pr-29242.yml
Labels: none

fix conflict
  code/game/objects/items/tools/weldingtool.dm
  code/modules/power/cable.dm
Labels: none

Synthetic Surgery Tweak
  modular_skyrat/modules/synths/code/surgery/robot_healing.dm
Labels: none

Update medical.dm
  modular_skyrat/master_files/code/modules/cargo/bounties/medical.dm
Labels: none

Update medical.dm
  modular_skyrat/master_files/code/modules/cargo/bounties/medical.dm
Labels: none

Fixes this
  code/game/objects/items/tools/weldingtool.dm
  code/modules/power/cable.dm
Labels: none

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-29242.yml
  html/changelogs/AutoChangeLog-pr-29249.yml
  html/changelogs/AutoChangeLog-pr-29250.yml
  html/changelogs/archive/2024-08.yml
Labels: none

the whole PR
  code/modules/antagonists/changeling/changeling.dm
  modular_skyrat/master_files/code/modules/antagonists/changeling/changeling.dm
Labels: none

[MIRROR] Cable coil and welding tool healing now loops. Fixed heal message not displaying when healing someone else (#29200)
  code/game/objects/items/tools/weldingtool.dm
  code/modules/power/cable.dm
Labels: none

Automatic changelog for PR #29200 [ci skip]
  html/changelogs/AutoChangeLog-pr-29200.yml
Labels: none

Fixes jumpsuits being overriden when assistant
  modular_skyrat/master_files/code/modules/loadout/categories/uniform.dm
Labels: none

[MIRROR] [NO GBP] Lil' fix to fishing hat PR. (#29148)
  code/datums/ai/basic_mobs/basic_subtrees/flee_target.dm
  code/modules/mob/living/basic/space_fauna/carp/carp_ai_rift_actions.dm
Labels: none

[MIRROR] Scanner gate fixes (#29154)
  code/game/machinery/scanner_gate.dm
Labels: none

Automatic changelog for PR #29154 [ci skip]
  html/changelogs/AutoChangeLog-pr-29154.yml
Labels: none
