Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'

Humans that never had a player controlling them no longer count towards changeling absorption counter (#86631)
  code/modules/antagonists/changeling/powers/absorb.dm
Labels: none

Z Level Button: Redone and ReBETTER. (#86465)
  code/__DEFINES/hud.dm
  code/_onclick/hud/alien.dm
  code/_onclick/hud/alien_larva.dm
  code/_onclick/hud/generic_dextrous.dm
  code/_onclick/hud/ghost.dm
  code/_onclick/hud/hud.dm
  code/_onclick/hud/human.dm
  code/_onclick/hud/living.dm
  code/_onclick/hud/robot.dm
  code/_onclick/hud/screen_objects.dm
  icons/hud/screen_alien.dmi
  icons/hud/screen_clockwork.dmi
  icons/hud/screen_cyborg.dmi
  icons/hud/screen_detective.dmi
  icons/hud/screen_glass.dmi
  icons/hud/screen_midnight.dmi
  icons/hud/screen_operative.dmi
  icons/hud/screen_plasmafire.dmi
  icons/hud/screen_retro.dmi
  icons/hud/screen_slimecore.dmi
  icons/hud/screen_trasenknox.dmi
Labels: Sprites

Replaces HAS_TRAIT_FROM with HAS_TRAIT in engraving checks (#86630)
  code/__DEFINES/traits/sources.dm
  code/datums/components/engraved.dm
  code/datums/elements/wall_engraver.dm
  code/datums/memory/tattoo_kit.dm
Labels: none

Fixes uniforms with no/broken sensors sending basic medical HUD data (#86612)
  code/game/data_huds.dm
Labels: none

Self-Gorillafication Nerf (#86588)
  code/datums/status_effects/debuffs/genetic_damage.dm
  code/modules/mob/living/basic/farm_animals/gorilla/gorilla.dm
  code/modules/mob/transform_procs.dm
Labels: none

Fix disposal bin label on Icebox (#86644)
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Map Modification

New mediborg surgical saw sprite (#86643)
  icons/mob/silicon/robot_items.dmi
Labels: Sprites

Add distance output to direction circuit component, resizes several shells (#86577)
  code/modules/wiremod/components/atom/direction.dm
  code/modules/wiremod/core/component.dm
  code/modules/wiremod/core/integrated_circuit.dm
  code/modules/wiremod/shell/compact_remote.dm
  code/modules/wiremod/shell/controller.dm
  code/modules/wiremod/shell/keyboard.dm
  code/modules/wiremod/shell/scanner.dm
  code/modules/wiremod/shell/shell_items.dm
Labels: none

Fixes being able to shout chuunibyou phrases while mute (#86650)
  code/datums/components/chuunibyou.dm
Labels: none

Fix typo for the description of the heretic's "Lionhunter's Rifle". (#86653)
  code/modules/antagonists/heretic/knowledge/side_blade_rust.dm
Labels: none

Water turfs are now properly named (#86641)
  code/game/turfs/open/water.dm
  code/modules/mapfluff/ruins/icemoonruin_code/hotsprings.dm
Labels: none

Adds a screentip to items with the disarm attack element. (#86598)
  code/datums/elements/disarm_attack.dm
Labels: none

Fixes crafted donuts never, ever getting their sprinkles (#86652)
  code/modules/food_and_drinks/recipes/tablecraft/recipes_pastry.dm
Labels: none

GetFlatIcon improvements. (#86077)
  code/__HELPERS/icons.dm
Labels: none

Gives detectives an ID that looks like an assistant ID when flipped. Also makes their camera silent. (#85912)
  code/game/objects/items/cards_ids.dm
  code/modules/jobs/job_types/detective.dm
  code/modules/photography/camera/camera.dm
  code/modules/photography/camera/camera_image_capturing.dm
  code/modules/photography/camera/other.dm
Labels: none

Fixes vox ert not getting n2 internals
  code/modules/antagonists/ert/ert.dm
Labels: none

[NO GBP]Fixes supermatter zaps getting called with 0 zap_cutoff. (#85625)
  code/modules/power/supermatter/supermatter.dm
  code/modules/power/supermatter/supermatter_extra_effects.dm
Labels: none

Adds linebreaks to smartfridge examine (#86673)
  code/modules/food_and_drinks/machinery/smartfridge.dm
Labels: none

Lets you dump bodybags (with people in them) down disposals (#86675)
  code/game/objects/structures/crates_lockers/closets/bodybag.dm
  code/modules/recycling/disposal/bin.dm
Labels: none

Once again re-assigns tackling to r-clicks (#86669)
  code/datums/components/tackle.dm
Labels: none

Fixes autochangelog just dying if fed an invalid changelog entry (#86670)
  tools/pull_request_hooks/changelogParser.js
Labels: none

Moves walls to item_interaction (#86661)
  code/game/turfs/closed/walls.dm
Labels: none

Being abducted by a contractor no longer recursively dumps contents of all of your boxes and belts, nor does it break your UI anymore (#86657)
  code/modules/antagonists/traitor/contractor/syndicate_contract.dm
  code/modules/antagonists/traitor/objectives/kidnapping.dm
  code/modules/mob/inventory.dm
Labels: none

Lesser gorillas (And gutlunchers' grubs) now use the `current_size` variable instead of directly scaling the transform matrix (#86656)
  code/modules/mob/living/basic/farm_animals/gorilla/gorilla.dm
  code/modules/mob/living/basic/lavaland/gutlunchers/gutlunchers.dm
Labels: none

Adds IGNORE_DENSITY flag to windoors and railings to allow crafting on their tile (#86651)
  code/game/machinery/doors/windowdoor.dm
  code/game/objects/structures/railings.dm
Labels: none

Adds 'required_neighbors' to maplint and conditional lints (#86640)
  tools/maplint/README.md
  tools/maplint/source/common.py
  tools/maplint/source/lint.py
Labels: none

Adds #error to compiling on 515.1643 (#86713)
  code/__byond_version_compat.dm
Labels: none

aaa
  modular_skyrat/modules/medical/code/wounds/synth/blunt/robotic_blunt.dm
  modular_skyrat/modules/medical/code/wounds/synth/blunt/robotic_blunt_T3.dm
Labels: none

aaaa
  modular_skyrat/modules/deforest_medical_items/code/storage_items_robotics.dm
  modular_skyrat/modules/medical/code/wounds/synth/medicine_reagents.dm
Labels: none

Remove the default max length from tgui_input_text. (#86692)
  code/modules/tgui_input/text.dm
Labels: none

Fixes veteran advisor not spawning on security officer landmarks (#86683)
  code/modules/jobs/job_types/station_trait/veteran_advisor.dm
Labels: none

Fixes petrification not removing NOBLOOD trait after ending (#86712)
  code/game/objects/structures/petrified_statue.dm
Labels: none

Fixes penlights not being able to look at peoples' eyes and mouth (#86702)
  code/game/objects/items/devices/flashlight.dm
Labels: none

Fix lack of blob reagent description (#86715)
  code/modules/antagonists/blob/blobstrains/_reagent.dm
  code/modules/antagonists/blob/blobstrains/cryogenic_poison.dm
  code/modules/antagonists/blob/blobstrains/regenerative_materia.dm
Labels: none

Borgs can perform organ manipulation surgery again (#86707)
  code/modules/surgery/organ_manipulation.dm
Labels: none

Allows lockers & crates with no electronics to be renamed (#86717)
  code/game/objects/structures/crates_lockers/closets.dm
Labels: none

Collars can no longer be used to null a pet's name (#86719)
  code/datums/elements/pet_collar.dm
  code/modules/clothing/neck/_neck.dm
Labels: none

Vore victims no longer get digested instantly when you evolve (#86722)
  code/modules/mob/living/carbon/alien/adult/queen.dm
  code/modules/mob/living/carbon/alien/alien.dm
Labels: none

Minor rewording in mouse description (#86729)
  code/modules/mob/living/basic/vermin/mouse.dm
Labels: none

Typo fix in lead (reagent) description. (#86730)
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: none
