Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

Automatic changelog for PR #28526 [ci skip]
  html/changelogs/AutoChangeLog-pr-28526.yml
Labels: none

Automatic changelog for PR #28506 [ci skip]
  html/changelogs/AutoChangeLog-pr-28506.yml
Labels: none

Automatic changelog for PR #28514 [ci skip]
  html/changelogs/AutoChangeLog-pr-28514.yml
Labels: none

Automatic changelog for PR #28532 [ci skip]
  html/changelogs/AutoChangeLog-pr-28532.yml
Labels: none

multitool
  modular_skyrat/modules/telecomms_specialist/telecomms_specialist.dm
Labels: none

nitrogen breathers can use it too
  modular_skyrat/modules/customization/modules/clothing/under/utility_port/suits_port.dm
Labels: none

Ambience Buzz Handling Changes + Ambience buzz requires enviorment power
  code/controllers/subsystem/ambience.dm
  code/game/area/areas.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/login.dm
  code/modules/mob/logout.dm
  code/modules/mob/mob_defines.dm
Labels: none

Unit tests for stuff accidentally placed in space by mappers (#84453)
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/map_files/wawastation/wawastation.dmm
  _maps/shuttles/emergency_birdshot.dmm
  _maps/shuttles/emergency_wawa.dmm
  _maps/shuttles/mining_freight.dmm
  _maps/shuttles/pirate_grey.dmm
  _maps/shuttles/pirate_silverscale.dmm
  code/game/turfs/open/floor/hull.dm
  code/modules/mapping/mapping_helpers.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/mapload_space_verification.dm
  code/modules/unit_tests/mapping_nearstation_test.dm
  icons/effects/mapping_helpers.dmi
  tools/ci/check_grep.sh
Labels: Map Modification, Sprites

Multi chargers
  modular_skyrat/modules/multicellcharger/code/multi_cell_charger.dm
Labels: none

all this other shit
  code/game/machinery/cell_charger.dm
  code/modules/power/cell.dm
  code/modules/power/power_store.dm
  code/modules/projectiles/guns/energy/energy_gun.dm
  modular_skyrat/master_files/code/modules/clothing/back/antigravityharness.dm
  modular_skyrat/master_files/code/modules/loadout/categories/pocket.dm
  modular_skyrat/modules/additional_circuit/code/cell_reader.dm
  modular_skyrat/modules/advanced_engineering/code/adv_engineering.dm
  modular_skyrat/modules/aesthetics/cells/cell.dm
  modular_skyrat/modules/awaymissions_skyrat/mothership_astrum/gear.dm
  modular_skyrat/modules/bitrunning/code/virtual_domains/ancient_milsim/mod.dm
  modular_skyrat/modules/blueshield/code/modsuit/mod_type.dm
  modular_skyrat/modules/cargo/code/packs.dm
  modular_skyrat/modules/cell_component/code/cell_component.dm
  modular_skyrat/modules/cellguns/code/mediguns.dm
  modular_skyrat/modules/clock_cult/code/structures/sigil/sigil_transmission.dm
  modular_skyrat/modules/colony_fabricator/code/appliances/chem_machines.dm
  modular_skyrat/modules/colony_fabricator/code/cargo_packs.dm
  modular_skyrat/modules/contractor/code/items/modsuit/modsuit.dm
  modular_skyrat/modules/electric_welder/code/electric_welder.dm
  modular_skyrat/modules/ghostcafe/code/robot_ghostcafe.dm
  modular_skyrat/modules/icspawning/code/standard.dm
  modular_skyrat/modules/kahraman_equipment/code/clothing/mod.dm
  modular_skyrat/modules/mapping/code/lockers/interdyne_fob/engineering.dm
  modular_skyrat/modules/marines/code/mod.dm
  modular_skyrat/modules/modular_ert/code/trauma_team/trauma_team_outfit.dm
  modular_skyrat/modules/modular_implants/code/nifsofts/scryer.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/kinky_shocker.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/saibasan/laser_guns.dm
  modular_skyrat/modules/new_cells/code/power_cell.dm
  modular_skyrat/modules/novaya_ert/code/mod_suit.dm
  modular_skyrat/modules/reagent_forging/code/forge_items.dm
  modular_skyrat/modules/synths/code/bodyparts/internal_computer/internal_computer.dm
  modular_skyrat/modules/synths/code/bodyparts/power_cord.dm
  modular_skyrat/modules/tarkon/code/clothing/mod.dm
  modular_skyrat/modules/tarkon/code/misc-fluff/spawner.dm
  modular_skyrat/modules/xenoarch/code/modules/research/xenoarch/xenoarch_reward.dm
Labels: none

maps
  _maps/RandomRuins/SpaceRuins/skyrat/drones_derelict.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/ghostship.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/shuttle8532.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/vaulttango.dmm
  _maps/RandomRuins/SpaceRuins/spacehotel_skyrat.dmm
  _maps/RandomZLevels/mothership_astrum.dmm
  _maps/map_files/NSVBlueshift/Blueshift.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  _maps/shuttles/skyrat/mining_large_skyrat.dmm
  _maps/shuttles/skyrat/pirate_nri_raider.dmm
  _maps/shuttles/skyrat/whiteship_blueshift.dmm
  _maps/skyrat/lazy_templates/deathmatch/deep_space.dmm
  modular_skyrat/modules/borg_buffs/code/snack_dispensor.dm
  modular_skyrat/modules/borgs/code/robot_items.dm
  modular_skyrat/modules/colony_fabricator/code/appliances/chem_machines.dm
  modular_skyrat/modules/colony_fabricator/code/appliances/wall_cell_charger.dm
  modular_skyrat/modules/colony_fabricator/code/machines/power_storage_unit.dm
  modular_skyrat/modules/emotes/code/scream_emote.dm
  modular_skyrat/modules/faction/maps/shuttles/tradership_faction.dmm
  modular_skyrat/modules/multicellcharger/code/multi_cell_charger.dm
Labels: Map Modification

more fixes
  code/game/machinery/cell_charger.dm
  modular_skyrat/modules/colony_fabricator/code/appliances/chem_machines.dm
  modular_skyrat/modules/colony_fabricator/code/appliances/wall_cell_charger.dm
  modular_skyrat/modules/multicellcharger/code/multi_cell_charger.dm
Labels: none

SMES and Solar Update (#28234)
  code/modules/power/smes.dm
  code/modules/power/solar.dm
  modular_skyrat/master_files/code/modules/power/smes.dm
  tgstation.dme
Labels: none

even more
  code/modules/modular_computers/computers/item/computer.dm
  modular_skyrat/master_files/code/modules/power/smes.dm
  modular_skyrat/modules/aesthetics/cells/cell.dm
  modular_skyrat/modules/apc_arcing/code/apc.dm
  modular_skyrat/modules/assault_operatives/code/equipment_items/stealth_mod.dm
  modular_skyrat/modules/blueshield/code/energy_resholver.dm
  modular_skyrat/modules/colony_fabricator/code/appliances/space_heater.dm
  modular_skyrat/modules/hev_suit/code/hev_suit.dm
  modular_skyrat/modules/novaya_ert/code/suit.dm
  modular_skyrat/modules/simple_research/simple_research.dm
Labels: none

Update brigdoors.dm
  code/game/machinery/doors/brigdoors.dm
Labels: none

Update _cup.dm
  code/modules/reagents/reagent_containers/cups/_cup.dm
Labels: none

Update scrubber.dm
  code/modules/atmospherics/machinery/portable/scrubber.dm
Labels: none

Update areas.dm
  code/game/area/areas.dm
Labels: none

mapping
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/shuttle8532.dmm
  _maps/map_files/NSVBlueshift/Blueshift.dmm
Labels: Map Modification

[MIRROR] Better Shieldgen Lighting (#28508)
  code/game/machinery/shieldgen.dm
Labels: none

[MIRROR] Slime extracts can now be ground once again (#28513)
  code/modules/reagents/chemistry/holder/reactions.dm
  code/modules/research/xenobiology/xenobiology.dm
Labels: none

Automatic changelog for PR #28513 [ci skip]
  html/changelogs/AutoChangeLog-pr-28513.yml
Labels: none

Automatic changelog for PR #28508 [ci skip]
  html/changelogs/AutoChangeLog-pr-28508.yml
Labels: none

[PORT] Telecomms Specialist (#28516)
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/NSVBlueshift/Blueshift.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  code/__DEFINES/jobs.dm
  code/__DEFINES/~skyrat_defines/atom_hud.dm
  code/datums/station_traits/positive_traits.dm
  code/game/machinery/computer/crew.dm
  html/changelogs/AutoChangeLog-pr-2757.yml
  modular_skyrat/master_files/code/modules/clothing/under/jobs/engineering.dm
  modular_skyrat/master_files/icons/mob/clothing/suit.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/engineering.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/engineering_digi.dmi
  modular_skyrat/master_files/icons/mob/huds/hud.dmi
  modular_skyrat/master_files/icons/obj/card.dmi
  modular_skyrat/master_files/icons/obj/clothing/suits.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/engineering.dmi
  modular_skyrat/modules/alternative_job_titles/code/alt_job_titles.dm
  modular_skyrat/modules/automapper/code/area_spawn_entries.dm
  modular_skyrat/modules/customization/modules/clothing/under/utility_port/suits_port.dm
  modular_skyrat/modules/telecomms_specialist/telecomms_specialist.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/common/JobToIcon.ts
Labels: Map Modification, Sprites

[MIRROR] Fixes The Arcade Machine Telling You That You Don't Have Enough MP To Counterattack When You Try To Heavy Attack With Insufficient MP (#28517)
  code/game/machinery/computer/arcade/battle.dm
Labels: none

[MIRROR] Pyrokinesis bolts no longer have infinite range and hotspots (#28518)
  code/modules/projectiles/projectile/special/temperature.dm
Labels: none

[MIRROR] Reduces amount of visual noise on ID cards (#28519)
  icons/obj/card.dmi
Labels: Sprites

[MIRROR] fixes brig timer ui (#28521)
  code/game/machinery/doors/brigdoors.dm
Labels: none

[MIRROR] Ancient and recent mecha bug fixes (#28522)
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_main.dm
  code/datums/elements/relay_attackers.dm
  code/modules/mob/living/basic/lavaland/watcher/watcher_overwatch.dm
  code/modules/vehicles/mecha/_mecha.dm
  code/modules/vehicles/mecha/equipment/weapons/weapons.dm
  code/modules/vehicles/mecha/mech_melee_attack.dm
  code/modules/vehicles/mecha/mecha_movement.dm
Labels: none

[MIRROR] Bounty Hunters have personalized arrival announcements (#28524)
  code/modules/events/ghost_role/fugitive_event.dm
Labels: none

[MIRROR] tgui: Power monitor refactor, tgui-core bump (#28527)
  tgui/packages/tgui/interfaces/NtosPowerMonitor.tsx
  tgui/packages/tgui/interfaces/PowerMonitor.jsx
  tgui/packages/tgui/interfaces/PowerMonitor.tsx
  tgui/packages/tgui/package.json
  tgui/yarn.lock
Labels: none

[MIRROR] Heretic spell invocations now use one dead language per path (#28523)
  code/modules/antagonists/heretic/knowledge/ash_lore.dm
  code/modules/antagonists/heretic/knowledge/blade_lore.dm
  code/modules/antagonists/heretic/knowledge/cosmic_lore.dm
  code/modules/antagonists/heretic/knowledge/flesh_lore.dm
  code/modules/antagonists/heretic/knowledge/lock_lore.dm
  code/modules/antagonists/heretic/knowledge/moon_lore.dm
  code/modules/antagonists/heretic/knowledge/rust_lore.dm
  code/modules/antagonists/heretic/knowledge/starting_lore.dm
  code/modules/antagonists/heretic/knowledge/void_lore.dm
  code/modules/antagonists/heretic/magic/aggressive_spread.dm
  code/modules/antagonists/heretic/magic/apetravulnera.dm
  code/modules/antagonists/heretic/magic/ash_ascension.dm
  code/modules/antagonists/heretic/magic/ash_jaunt.dm
  code/modules/antagonists/heretic/magic/blood_cleave.dm
  code/modules/antagonists/heretic/magic/blood_siphon.dm
  code/modules/antagonists/heretic/magic/burglar_finesse.dm
  code/modules/antagonists/heretic/magic/cosmic_expansion.dm
  code/modules/antagonists/heretic/magic/cosmic_runes.dm
  code/modules/antagonists/heretic/magic/eldritch_blind.dm
  code/modules/antagonists/heretic/magic/eldritch_emplosion.dm
  code/modules/antagonists/heretic/magic/eldritch_shapeshift.dm
  code/modules/antagonists/heretic/magic/fire_blast.dm
  code/modules/antagonists/heretic/magic/flesh_ascension.dm
  code/modules/antagonists/heretic/magic/flesh_surgery.dm
  code/modules/antagonists/heretic/magic/furious_steel.dm
  code/modules/antagonists/heretic/magic/manse_link.dm
  code/modules/antagonists/heretic/magic/mansus_grasp.dm
  code/modules/antagonists/heretic/magic/mind_gate.dm
  code/modules/antagonists/heretic/magic/moon_parade.dm
  code/modules/antagonists/heretic/magic/moon_ringleader.dm
  code/modules/antagonists/heretic/magic/moon_smile.dm
  code/modules/antagonists/heretic/magic/nightwatcher_rebirth.dm
  code/modules/antagonists/heretic/magic/realignment.dm
  code/modules/antagonists/heretic/magic/rust_wave.dm
  code/modules/antagonists/heretic/magic/star_blast.dm
  code/modules/antagonists/heretic/magic/star_touch.dm
  code/modules/antagonists/heretic/magic/void_cold_cone.dm
  code/modules/antagonists/heretic/magic/void_phase.dm
  code/modules/antagonists/heretic/magic/void_pull.dm
  code/modules/antagonists/heretic/magic/wave_of_desperation.dm
Labels: none

[MIRROR] Implements Cardinal Smoothing Support, Misc Smoothing Cleanup (#28528)
  code/__DEFINES/icon_smoothing.dm
  code/__HELPERS/icon_smoothing.dm
  code/game/objects/effects/decals/cleanable/misc.dm
  code/game/objects/structures.dm
  code/game/objects/structures/grille.dm
  code/game/objects/structures/mineral_doors.dm
  code/game/objects/structures/tables_racks.dm
  code/game/objects/structures/window.dm
  code/game/turfs/open/_open.dm
  code/game/turfs/open/asteroid.dm
  code/game/turfs/open/floor/fancy_floor.dm
  code/game/turfs/open/grass.dm
  code/game/turfs/turf.dm
  code/modules/holodeck/turfs.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/hierophant.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/elite.dm
  code/modules/shuttle/shuttle_rotate.dm
Labels: none

[MIRROR] Makes extinguisher has_reagent check subtypes (#28529)
  code/game/objects/items/extinguisher.dm
Labels: none

[MIRROR] Add pickup and placing sound for beakers (#28530)
  code/modules/reagents/reagent_containers/cups/_cup.dm
  sound/attributions.txt
  sound/items/handling/beaker_pickup.ogg
  sound/items/handling/beaker_place.ogg
Labels: none

[MIRROR] Fix /datum/weakref appearing when linking airlock heretic portals (#28531)
  code/modules/antagonists/heretic/items/keyring.dm
Labels: none

[MIRROR] buffs portable air scrubbers (#28533)
  code/modules/atmospherics/machinery/portable/scrubber.dm
Labels: none

[MIRROR] Fulton animation is no longer sideways and it does not sleep for 32 seconds before returning item_interaction results (#28536)
  code/__DEFINES/traits/sources.dm
  code/modules/mining/fulton.dm
Labels: none

[MIRROR] Ambience Buzz Handling Changes + Ambience buzz requires enviorment power (#28537)
  code/controllers/subsystem/ambience.dm
  code/game/area/areas.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/login.dm
  code/modules/mob/logout.dm
  code/modules/mob/mob_defines.dm
Labels: none

Automatic changelog for PR #28516 [ci skip]
  html/changelogs/AutoChangeLog-pr-28516.yml
Labels: none

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'
