Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

[no gbp] fixes master screenshot tests (again) (#84759)
  code/modules/unit_tests/screenshots/screenshot_dynamic_human_icons_syndicate_commando.png
Labels: none

Update filtersandsetters.dm
  modular_skyrat/modules/filtersandsetters/code/filtersandsetters.dm
Labels: none

Fixes orbit scrolling icons [no gbp] (#84657)
  tgui/packages/tgui/interfaces/Orbit/JobIcon.tsx
  tgui/packages/tgui/styles/interfaces/Orbit.scss
Labels: none

Aquariums now influence area beauty based on their contents. (#84677)
  code/__DEFINES/dcs/signals/signals_fish.dm
  code/__DEFINES/fish.dm
  code/datums/components/aquarium_content.dm
  code/datums/mood_events/morbid_events.dm
  code/modules/fishing/aquarium/aquarium.dm
  code/modules/fishing/aquarium/aquarium_kit.dm
  code/modules/fishing/aquarium/aquarium_upgrades.dm
  code/modules/fishing/fish/_fish.dm
  code/modules/fishing/fish/fish_types.dm
  code/modules/fishing/fish_catalog.dm
  code/modules/fishing/fishing_equipment.dm
  tgui/packages/tgui/interfaces/FishCatalog.tsx
Labels: none

fix surgery and wound tending
  modular_skyrat/modules/filtersandsetters/code/filtersandsetters.dm
Labels: none

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-28664.yml
  html/changelogs/AutoChangeLog-pr-28665.yml
  html/changelogs/AutoChangeLog-pr-28666.yml
  html/changelogs/AutoChangeLog-pr-28667.yml
  html/changelogs/AutoChangeLog-pr-28668.yml
  html/changelogs/AutoChangeLog-pr-28669.yml
  html/changelogs/AutoChangeLog-pr-28670.yml
  html/changelogs/AutoChangeLog-pr-28671.yml
  html/changelogs/AutoChangeLog-pr-28672.yml
  html/changelogs/AutoChangeLog-pr-28673.yml
  html/changelogs/AutoChangeLog-pr-28674.yml
  html/changelogs/AutoChangeLog-pr-28675.yml
  html/changelogs/AutoChangeLog-pr-28676.yml
  html/changelogs/AutoChangeLog-pr-28677.yml
  html/changelogs/AutoChangeLog-pr-28678.yml
  html/changelogs/AutoChangeLog-pr-28679.yml
  html/changelogs/AutoChangeLog-pr-28687.yml
  html/changelogs/archive/2024-07.yml
Labels: none

Demon bloodcrawl balance (#83859)
  code/modules/spells/spell_types/jaunt/bloodcrawl.dm
Labels: none

Bait quality now influences the probabilities of getting a rarer fish compared to the most common ones (#84622)
  code/modules/fishing/sources/_fish_source.dm
Labels: none

You can now flip security helmet visors up (#84696)
  code/modules/clothing/head/helmet.dm
  icons/mob/clothing/head/helmet.dmi
  icons/obj/clothing/head/helmet.dmi
Labels: Sprites

Rewrites `GetExactComponent` to be more readable (#84656)
  code/datums/components/_component.dm
Labels: none

Admin narrations now let you pick a text formatting span to use in your message (#84723)
  code/_globalvars/admin.dm
  code/modules/admin/verbs/adminevents.dm
Labels: none

Added the subtype vendor and it and omnitools to runtime station (#84540)
  _maps/map_files/debug/runtimestation.dmm
  code/game/objects/items/debug_items.dm
  code/modules/vending/subtype.dm
  tgstation.dme
Labels: Map Modification

blood brother hud (#84704)
  code/modules/antagonists/_common/antag_datum.dm
  code/modules/antagonists/_common/antag_hud.dm
  code/modules/antagonists/brother/brother.dm
Labels: none

[NO GBP] Fixes some unchanged `change_glass_color` calls. (#84619)
  code/modules/clothing/glasses/engine_goggles.dm
  code/modules/clothing/glasses/hud.dm
Labels: none

modular fixes
  modular_skyrat/master_files/code/modules/mod/mod_types.dm
  modular_skyrat/modules/advanced_engineering/code/adv_engineering.dm
  modular_skyrat/modules/assault_operatives/code/armaments/armament_modules.dm
  modular_skyrat/modules/contractor/code/items/modsuit/modsuit.dm
  modular_skyrat/modules/novaya_ert/code/mod_suit.dm
  modular_skyrat/modules/opposing_force/code/equipment/modsuit.dm
Labels: none

Update clothing.dm
  modular_skyrat/modules/exp_corps/code/clothing.dm
Labels: none

modular fixes
  code/modules/projectiles/guns/ballistic/bows/bow_arrows.dm
  modular_skyrat/modules/cellguns/code/medigun_cells.dm
  modular_skyrat/modules/clock_cult/code/items/weaponry.dm
  modular_skyrat/modules/exp_corps/code/tomahawk.dm
  modular_skyrat/modules/horrorform/code/true_changeling.dm
  modular_skyrat/modules/marines/code/gear.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/ammo/pistol.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/ammo/rifle.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/trappiste_fabriek/ammo.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/xhihao_light_arms/ammo.dm
  modular_skyrat/modules/modular_weapons/code/modular_projectiles.dm
  modular_skyrat/modules/modular_weapons/code/pepperball_gun.dm
  modular_skyrat/modules/reagent_forging/code/forge_weapons.dm
  modular_skyrat/modules/sec_haul/code/guns/bullets.dm
  modular_skyrat/modules/shotgunrebalance/code/shotgun.dm
  modular_skyrat/modules/tribal_extended/code/ammo/reusable/arrow.dm
Labels: none

mapfix
  _maps/RandomRuins/SpaceRuins/skyrat/cargodiselost.dmm
Labels: Map Modification

Fixes a Loadout Item
  modular_skyrat/master_files/code/modules/loadout/categories/donator_personal.dm
Labels: none

fix c14
  modular_skyrat/modules/modular_weapons/code/modular_projectiles.dm
  modular_skyrat/modules/moretraitoritems/code/weapons.dm
Labels: none

paint -> pain ugggh
  modular_skyrat/modules/moretraitoritems/code/weapons.dm
Labels: none

stats and stats
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/ammo/rifle.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/ammo/rifle.dm
Labels: none

Update rifle.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/ammo/rifle.dm
Labels: none

Update ammobox.dm
  modular_skyrat/modules/shotgunrebalance/code/ammobox.dm
Labels: none

Update beams.dm
  code/modules/projectiles/projectile/beams.dm
Labels: none

[MIRROR] Use 1,1 instead of CENTER as relay_loc on 516 builds (#28660)
  code/_onclick/hud/rendering/plane_master_group.dm
  code/_onclick/hud/rendering/render_plate.dm
Labels: none

Update _event.dm
  code/modules/events/_event.dm
Labels: none

modular things
  modular_skyrat/modules/advanced_shuttles/code/turfs.dm
  modular_skyrat/modules/liquids/code/cleaning/drains.dm
  modular_skyrat/modules/mapping/code/fluff.dm
  modular_skyrat/modules/mapping/code/turf.dm
  modular_skyrat/modules/mold/code/mold_structures.dm
  modular_skyrat/modules/space_vines/vine_mutations.dm
Labels: none

Fixes a Loadout Item (#28713)
  modular_skyrat/master_files/code/modules/loadout/categories/donator_personal.dm
Labels: none

[MIRROR] [NO GBP] Fixes some unchanged `change_glass_color` calls. (#28712)
  code/modules/clothing/glasses/engine_goggles.dm
  code/modules/clothing/glasses/hud.dm
Labels: none

[MIRROR] blood brother hud (#28711)
  code/modules/antagonists/_common/antag_datum.dm
  code/modules/antagonists/_common/antag_hud.dm
  code/modules/antagonists/brother/brother.dm
Labels: none

[MIRROR] Added the subtype vendor and it and omnitools to runtime station (#28710)
  _maps/map_files/debug/runtimestation.dmm
  code/game/objects/items/debug_items.dm
  code/modules/vending/subtype.dm
  tgstation.dme
Labels: Map Modification

[MIRROR] Admin narrations now let you pick a text formatting span to use in your message (#28709)
  code/_globalvars/admin.dm
  code/modules/admin/verbs/adminevents.dm
Labels: none

[MIRROR] Rewrites `GetExactComponent` to be more readable (#28708)
  code/datums/components/_component.dm
Labels: none

[MIRROR] You can now flip security helmet visors up (#28707)
  code/modules/clothing/head/helmet.dm
  icons/mob/clothing/head/helmet.dmi
  icons/obj/clothing/head/helmet.dmi
Labels: Sprites

[MIRROR] Bait quality now influences the probabilities of getting a rarer fish compared to the most common ones (#28706)
  code/modules/fishing/sources/_fish_source.dm
Labels: none

[MIRROR] Demon bloodcrawl balance (#28705)
  code/modules/spells/spell_types/jaunt/bloodcrawl.dm
Labels: none

Fix medical surgery/wound tending stack chain (#28704)
  modular_skyrat/modules/filtersandsetters/code/filtersandsetters.dm
Labels: none

[MIRROR] Aquariums now influence area beauty based on their contents. (#28703)
  code/__DEFINES/dcs/signals/signals_fish.dm
  code/__DEFINES/fish.dm
  code/datums/components/aquarium_content.dm
  code/datums/mood_events/morbid_events.dm
  code/modules/fishing/aquarium/aquarium.dm
  code/modules/fishing/aquarium/aquarium_kit.dm
  code/modules/fishing/aquarium/aquarium_upgrades.dm
  code/modules/fishing/fish/_fish.dm
  code/modules/fishing/fish/fish_types.dm
  code/modules/fishing/fish_catalog.dm
  code/modules/fishing/fishing_equipment.dm
  tgui/packages/tgui/interfaces/FishCatalog.tsx
Labels: none

[MIRROR] Fixes orbit scrolling icons [no gbp] (#28702)
  tgui/packages/tgui/interfaces/Orbit/JobIcon.tsx
  tgui/packages/tgui/styles/interfaces/Orbit.scss
Labels: none

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'
