Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'

Automatic changelog for PR #29419 [ci skip]
  html/changelogs/AutoChangeLog-pr-29419.yml
Labels: none

[MDB Ignore] Makes Icebox Roughly Playable (#85896)
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Map Modification

Add a helpful messages to users when InstallDeps.sh inevitably fails due to lack of perms
  tools/tgs_scripts/InstallDeps.sh
Labels: none

Fix exploit to get almost-infinite heretic points (#85927)
  code/modules/antagonists/heretic/knowledge/starting_lore.dm
Labels: none

[MIRROR] Fix air alarm stuck in warning icon when area's alarms are cleared (#29424)
  code/modules/atmospherics/machinery/air_alarm/_air_alarm.dm
Labels: none

Automatic changelog for PR #29424 [ci skip]
  html/changelogs/AutoChangeLog-pr-29424.yml
Labels: none

Revert "Assorted changes to job assignment code and logging."
  code/controllers/subsystem/job.dm
  code/modules/mob/dead/new_player/preferences_setup.dm
  code/modules/mob_spawn/ghost_roles/unused_roles.dm
Labels: none

Fixes lobby buttons from station traits having no name and being unexaminable. (#85877)
  code/datums/station_traits/_station_trait.dm
Labels: none

fix pr for my lava ruin (#85903)
  _maps/RandomRuins/LavaRuins/lavaland_surface_crashsite.dmm
Labels: Map Modification

Stat change is now logged for living mobs (#85914)
  code/modules/mob/living/living.dm
Labels: none

Yeah
  code/_globalvars/bitfields.dm
Labels: none

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-29305.yml
  html/changelogs/AutoChangeLog-pr-29318.yml
  html/changelogs/AutoChangeLog-pr-29351.yml
  html/changelogs/AutoChangeLog-pr-29355.yml
  html/changelogs/AutoChangeLog-pr-29370.yml
  html/changelogs/AutoChangeLog-pr-29372.yml
  html/changelogs/AutoChangeLog-pr-29379.yml
  html/changelogs/AutoChangeLog-pr-29381.yml
  html/changelogs/AutoChangeLog-pr-29397.yml
  html/changelogs/AutoChangeLog-pr-29400.yml
  html/changelogs/AutoChangeLog-pr-29401.yml
  html/changelogs/AutoChangeLog-pr-29404.yml
  html/changelogs/AutoChangeLog-pr-29405.yml
  html/changelogs/AutoChangeLog-pr-29412.yml
  html/changelogs/AutoChangeLog-pr-29413.yml
  html/changelogs/AutoChangeLog-pr-29416.yml
  html/changelogs/AutoChangeLog-pr-29419.yml
  html/changelogs/AutoChangeLog-pr-29421.yml
  html/changelogs/AutoChangeLog-pr-29424.yml
  html/changelogs/archive/2024-08.yml
Labels: none

Random spraypaint setting now properly paints large decals (#85917)
  code/game/objects/items/crayons.dm
Labels: none

[NO GBP] Examine balloons for wall-mounted buttons no longer inflate themselves infinitely
  code/datums/components/examine_balloon.dm
Labels: none

Adds a new cytology-focused vending machine to the science area
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/map_files/wawastation/wawastation.dmm
  code/game/objects/items/circuitboards/machines/machine_circuitboards.dm
  code/game/objects/items/storage/boxes/science_boxes.dm
  code/modules/cargo/packs/vending_restock.dm
  code/modules/research/xenobiology/vatgrowing/petri_dish.dm
  code/modules/vending/cytopro.dm
  icons/obj/machines/vending.dmi
  tgstation.dme
Labels: Map Modification, Sprites

Removes the slowdown from the CentCom officer's beret (#85923)
  code/modules/clothing/spacesuits/specialops.dm
Labels: none

Rewires the runtime APC on the map [NO GBP]
  _maps/map_files/debug/runtimestation.dmm
Labels: Map Modification

Visually shifts south wallmounts down instead of physically
  code/__DEFINES/directional.dm
Labels: none

Updates worn tank sprites (#85919)
  icons/mob/clothing/back.dmi
Labels: Sprites

Refactored the fish case and examining fish. New bluespace fish case to fit large fish inside a backpack. (#85271)
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/_globalvars/traits/admin_tooling.dm
  code/datums/elements/fish_safe_storage.dm
  code/datums/skills/fishing.dm
  code/datums/storage/subtypes/fish_case.dm
  code/game/objects/structures/maintenance.dm
  code/game/objects/structures/water_structures/toilet.dm
  code/modules/fishing/aquarium/aquarium_kit.dm
  code/modules/fishing/fish/_fish.dm
  code/modules/library/skill_learning/skillchip.dm
  code/modules/research/designs/misc_designs.dm
  code/modules/research/techweb/nodes/service_nodes.dm
  icons/obj/storage/case.dmi
  tgstation.dme
Labels: Sprites

Adds drawing chalk outlines on dead mobs, white crayons are now called sticks of chalk (#85918)
  code/__DEFINES/living.dm
  code/game/objects/effects/decals/crayon.dm
  code/game/objects/items/crayons.dm
  code/modules/antagonists/heretic/knowledge/lock_lore.dm
  code/modules/cargo/packs/costumes_toys.dm
  code/modules/cargo/packs/security.dm
Labels: none

Fixes Clarke ore box breaking upon collecting boulders (#85924)
  code/modules/mining/boulder_processing/boulder.dm
  code/modules/vehicles/mecha/working/clarke.dm
Labels: none

???
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/suit.dmi
  modular_skyrat/modules/GAGS/greyscale_configs.dm
  modular_skyrat/modules/GAGS/icons/teshari_fallbacks.dmi
  modular_skyrat/modules/GAGS/json_configs/teshari_fallbacks/thickrobe.json
  modular_skyrat/modules/teshari/code/_clothing_defines.dm
  modular_skyrat/modules/teshari/code/teshari_clothes.dm
Labels: Sprites

[MIRROR] Removes the slowdown from the CentCom officer's beret (#29444)
  code/modules/clothing/spacesuits/specialops.dm
Labels: none

Automatic changelog for PR #29444 [ci skip]
  html/changelogs/AutoChangeLog-pr-29444.yml
Labels: none

[MIRROR] Aliens and digitigrade legs use claw footprint sprite (#29427)
  code/modules/mob/living/carbon/alien/alien.dm
  code/modules/surgery/bodyparts/species_parts/lizard_bodyparts.dm
Labels: none

[MIRROR] Fixes Clarke ore box breaking upon collecting boulders (#29450)
  code/modules/mining/boulder_processing/boulder.dm
  code/modules/vehicles/mecha/working/clarke.dm
Labels: none

Automatic changelog for PR #29427 [ci skip]
  html/changelogs/AutoChangeLog-pr-29427.yml
Labels: none

Automatic changelog for PR #29450 [ci skip]
  html/changelogs/AutoChangeLog-pr-29450.yml
Labels: none

[MIRROR] Adds drawing chalk outlines on dead mobs, white crayons are now called sticks of chalk (#29449)
  code/__DEFINES/living.dm
  code/game/objects/effects/decals/crayon.dm
  code/game/objects/items/crayons.dm
  code/modules/antagonists/heretic/knowledge/lock_lore.dm
  code/modules/cargo/packs/costumes_toys.dm
  code/modules/cargo/packs/security.dm
Labels: none

Automatic changelog for PR #29449 [ci skip]
  html/changelogs/AutoChangeLog-pr-29449.yml
Labels: none

robe fallback works now, now to set clothes to use it
  modular_skyrat/master_files/code/modules/clothing/suits/_suits.dm
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/suit.dmi
  modular_skyrat/modules/GAGS/greyscale_configs.dm
  modular_skyrat/modules/GAGS/icons/teshari_fallbacks.dmi
  modular_skyrat/modules/GAGS/json_configs/teshari_fallbacks/wizrobe.json
  modular_skyrat/modules/teshari/code/_clothing_defines.dm
  modular_skyrat/modules/teshari/code/teshari_clothes.dm
Labels: Sprites

brighten
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/suit.dmi
  modular_skyrat/modules/GAGS/greyscale_configs.dm
  modular_skyrat/modules/GAGS/icons/teshari_fallbacks.dmi
  modular_skyrat/modules/GAGS/json_configs/teshari_fallbacks/wizrobe.json
  modular_skyrat/modules/teshari/code/teshari_clothes.dm
Labels: Sprites

Update CODEOWNERS
  .github/CODEOWNERS
Labels: none

[MIRROR] fix pr for my lava ruin (#29438)
  _maps/RandomRuins/LavaRuins/lavaland_surface_crashsite.dmm
Labels: Map Modification

fix runtime
  modular_skyrat/modules/salon/icons/items.dmi
Labels: Sprites

Update CODEOWNERS (#29451)
  .github/CODEOWNERS
Labels: none

[MIRROR] fixes ai controllers incorrectly idling when changing z level (#29431)
  code/datums/ai/_ai_controller.dm
Labels: none

scarf?
  modular_skyrat/modules/GAGS/greyscale_configs.dm
  modular_skyrat/modules/GAGS/icons/neck/neck_teshari.dmi
  modular_skyrat/modules/GAGS/icons/teshari_fallbacks.dmi
Labels: Sprites

Automatic changelog for PR #29431 [ci skip]
  html/changelogs/AutoChangeLog-pr-29431.yml
Labels: none
