Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'

[MIRROR] Write byond-tracy output file to tracy.loc in log folder (#29409)
  code/_compile_options.dm
  code/game/world.dm
Labels: none

Automatic changelog for PR #29387 [ci skip]
  html/changelogs/AutoChangeLog-pr-29387.yml
Labels: none

Automatic changelog for PR #29386 [ci skip]
  html/changelogs/AutoChangeLog-pr-29386.yml
Labels: none

Automatic changelog for PR #29390 [ci skip]
  html/changelogs/AutoChangeLog-pr-29390.yml
Labels: none

Automatic changelog for PR #29377 [ci skip]
  html/changelogs/AutoChangeLog-pr-29377.yml
Labels: none

Automatic changelog for PR #29344 [ci skip]
  html/changelogs/AutoChangeLog-pr-29344.yml
Labels: none

Automatic changelog for PR #29373 [ci skip]
  html/changelogs/AutoChangeLog-pr-29373.yml
Labels: none

Issue reporting dmeo (#85906)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report_form.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  interface/interface.dm
Labels: none

Drunken Brawlening: Intoxication alters your unarmed effectiveness, bartenders are stronger fighters while drunk, deterministic stagger combo is back (your average assistant doesn't get knockdowns)
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/modules/jobs/job_types/bartender.dm
  code/modules/library/skill_learning/skillchip.dm
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/mob/living/living.dm
Labels: none

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-29290.yml
  html/changelogs/AutoChangeLog-pr-29344.yml
  html/changelogs/AutoChangeLog-pr-29373.yml
  html/changelogs/AutoChangeLog-pr-29377.yml
  html/changelogs/AutoChangeLog-pr-29378.yml
  html/changelogs/AutoChangeLog-pr-29380.yml
  html/changelogs/AutoChangeLog-pr-29383.yml
  html/changelogs/AutoChangeLog-pr-29384.yml
  html/changelogs/AutoChangeLog-pr-29386.yml
  html/changelogs/AutoChangeLog-pr-29387.yml
  html/changelogs/AutoChangeLog-pr-29390.yml
  html/changelogs/AutoChangeLog-pr-29392.yml
  html/changelogs/AutoChangeLog-pr-29396.yml
  html/changelogs/AutoChangeLog-pr-29403.yml
  html/changelogs/archive/2024-08.yml
Labels: none

Fixing the shower water overlay
  code/game/objects/structures/shower.dm
Labels: none

lights placed on walls with the RLD now face the correct direction. (#85875)
  code/game/objects/items/rcd/RLD.dm
Labels: none

Adds rolling average usage tracking to SS overview (#85264)
  code/controllers/master.dm
  code/controllers/subsystem.dm
  tgui/packages/tgui/interfaces/ControllerOverview/OverviewSection.tsx
  tgui/packages/tgui/interfaces/ControllerOverview/SubsystemDialog.tsx
  tgui/packages/tgui/interfaces/ControllerOverview/SubsystemRow.tsx
  tgui/packages/tgui/interfaces/ControllerOverview/contants.ts
  tgui/packages/tgui/interfaces/ControllerOverview/types.ts
Labels: none

eh heck it
  code/modules/surgery/organ_manipulation.dm
Labels: none

Adds attack_dir to multiple common damage sources, fixes mechs' directional armor (#85726)
  code/_onclick/item_attack.dm
  code/game/objects/obj_defense.dm
  code/game/objects/objs.dm
  code/modules/unit_tests/mecha_damage.dm
  code/modules/vehicles/mecha/mecha_defense.dm
Labels: none

Bumps Spacemandmm To Latest (#85730)
  dependencies.sh
Labels: none

[MIRROR] fixes surgery table buckle offsets (#29381)
  code/game/objects/structures/tables_racks.dm
Labels: none

Automatic changelog for PR #29381 [ci skip]
  html/changelogs/AutoChangeLog-pr-29381.yml
Labels: none

[MIRROR] Adds a light switch to the science hallway in metastation (#29404)
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Modification

[MIRROR] Dumping things into microwave en-masse is done via RMB or drag'n'drop (#29405)
  code/modules/food_and_drinks/machinery/microwave.dm
Labels: none

Automatic changelog for PR #29404 [ci skip]
  html/changelogs/AutoChangeLog-pr-29404.yml
Labels: none

[MIRROR] Issue reporting dmeo (#29410)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report_form.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.md
  interface/interface.dm
Labels: none

[MIRROR] You can sell stuff on the blackmarket now. (#29401)
  code/__DEFINES/market.dm
  code/game/objects/effects/anomalies/anomalies_bluespace.dm
  code/game/objects/items/devices/swapper.dm
  code/modules/cargo/markets/market_item.dm
  code/modules/cargo/markets/market_items/local_goods.dm
  code/modules/cargo/markets/market_telepad.dm
  code/modules/cargo/markets/market_uplink.dm
  icons/obj/machines/ltsrbt.dmi
  icons/obj/machines/telecomms.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/BlackMarketUplink.tsx
  tgui/packages/tgui/interfaces/LTSRBT.tsx
Labels: Sprites

Automatic changelog for PR #29405 [ci skip]
  html/changelogs/AutoChangeLog-pr-29405.yml
Labels: none

[MIRROR] Fixes bedsheets laid incorrectly onto beds (#29372)
  code/game/objects/items/plushes.dm
  code/game/objects/structures/bedsheet_bin.dm
  code/modules/antagonists/nukeop/equipment/nuclear_authentication_disk.dm
Labels: none

Fixed random lipstick texture, fake syndie lipstick no longer can randomly spawn
  code/game/objects/items/cosmetics.dm
Labels: none

Automatic changelog for PR #29401 [ci skip]
  html/changelogs/AutoChangeLog-pr-29401.yml
Labels: none

unncessar
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
Labels: none

[MIRROR] Fixes icemoon comms agent map's template name (#29348)
  code/datums/ruins/icemoon.dm
Labels: none

[MIRROR] Makes the Voidwalker wisp void loop (#29397)
  code/modules/antagonists/voidwalker/voidwalker_kidnap.dm
Labels: none

[MIRROR] Deoffset screen alert mobs (#29370)
  code/__HELPERS/icons.dm
  code/controllers/subsystem/dynamic/dynamic_rulesets_midround.dm
  code/controllers/subsystem/polling.dm
Labels: none

Automatic changelog for PR #29372 [ci skip]
  html/changelogs/AutoChangeLog-pr-29372.yml
Labels: none

Ready!
  code/modules/projectiles/projectile.dm
Labels: none

ready
  code/game/objects/structures/shower.dm
Labels: none

[MIRROR] Adds attack_dir to multiple common damage sources, fixes mechs' directional armor (#29416)
  code/_onclick/item_attack.dm
  code/game/objects/obj_defense.dm
  code/game/objects/objs.dm
  code/modules/unit_tests/mecha_damage.dm
  code/modules/vehicles/mecha/mecha_defense.dm
Labels: none

Ready
  code/modules/mob/living/living.dm
Labels: none

ready
  code/game/objects/items/stacks/sheets/sheet_types.dm
Labels: none

[MIRROR] Resprited a few more fillets (armorfish, moonfish, energized) and moonfish eggs. (#29379)
  icons/obj/food/lizard.dmi
  icons/obj/food/martian.dmi
Labels: Sprites

Automatic changelog for PR #29397 [ci skip]
  html/changelogs/AutoChangeLog-pr-29397.yml
Labels: none

Automatic changelog for PR #29370 [ci skip]
  html/changelogs/AutoChangeLog-pr-29370.yml
Labels: none
