Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'

fixing letter
  modular_skyrat/master_files/icons/mob/clothing/head/helmet.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/head.dmi
  modular_skyrat/modules/sec_haul/code/guns/bullets.dm
  modular_skyrat/modules/sec_haul/code/technode/all_nodes.dm
Labels: Sprites

to whom it may concerns i finished it
  modular_skyrat/master_files/icons/mob/clothing/head/helmet.dmi
  modular_skyrat/modules/sec_haul/code/technode/all_nodes.dm
Labels: Sprites

Update all_nodes.dm
  modular_skyrat/modules/sec_haul/code/technode/all_nodes.dm
Labels: none

Update all_nodes.dm
  modular_skyrat/modules/sec_haul/code/technode/all_nodes.dm
Labels: none

fix
  code/__DEFINES/~skyrat_defines/cargo_import_companies.dm
  modular_skyrat/modules/company_imports/code/armament_datums/akh_frontier.dm
  modular_skyrat/modules/company_imports/code/armament_datums/allstar.dm
  modular_skyrat/modules/company_imports/code/armament_datums/micron_control_systems.dm
  modular_skyrat/modules/company_imports/code/armament_datums/nri_military_surplus.dm
  modular_skyrat/modules/company_imports/code/armament_datums/sol_defense.dm
  modular_skyrat/modules/company_imports/code/company_datums.dm
  modular_skyrat/modules/company_imports/code/objects/microstar/mcr_attachment_kits.dm
  modular_skyrat/modules/company_imports/code/objects/vitezstvi/ammo_boxes.dm
  modular_skyrat/modules/microfusion/code/gun_types.dm
  modular_skyrat/modules/microfusion/code/microfusion_cell.dm
  modular_skyrat/modules/microfusion/code/microfusion_designs.dm
  modular_skyrat/modules/microfusion/code/microfusion_energy_master.dm
  modular_skyrat/modules/sec_haul/code/guns/armory_spawns.dm
Labels: none

Update microfusion_gun_attachments.dm
  modular_skyrat/modules/microfusion/code/microfusion_gun_attachments.dm
Labels: none

undercharger
  modular_skyrat/modules/microfusion/code/microfusion_cell.dm
Labels: none

Adds sprite for debug eldritch paintings (#84179)
  code/modules/antagonists/heretic/items/eldritch_painting.dm
  icons/obj/signs.dmi
Labels: Sprites

fex
  modular_skyrat/modules/microfusion/code/microfusion_energy_master.dm
  modular_skyrat/modules/sec_haul/code/guns/armory_spawns.dm
Labels: none

Update microfusion_energy_master.dm
  modular_skyrat/modules/microfusion/code/microfusion_energy_master.dm
Labels: none

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-28226.yml
  html/changelogs/AutoChangeLog-pr-28255.yml
  html/changelogs/AutoChangeLog-pr-28285.yml
  html/changelogs/AutoChangeLog-pr-28287.yml
  html/changelogs/AutoChangeLog-pr-28288.yml
  html/changelogs/AutoChangeLog-pr-28289.yml
  html/changelogs/AutoChangeLog-pr-28290.yml
  html/changelogs/AutoChangeLog-pr-28291.yml
  html/changelogs/AutoChangeLog-pr-28292.yml
  html/changelogs/AutoChangeLog-pr-28293.yml
  html/changelogs/AutoChangeLog-pr-28294.yml
  html/changelogs/AutoChangeLog-pr-28295.yml
  html/changelogs/AutoChangeLog-pr-28296.yml
  html/changelogs/AutoChangeLog-pr-28297.yml
  html/changelogs/AutoChangeLog-pr-28299.yml
  html/changelogs/AutoChangeLog-pr-28300.yml
  html/changelogs/AutoChangeLog-pr-28301.yml
  html/changelogs/AutoChangeLog-pr-28302.yml
  html/changelogs/AutoChangeLog-pr-28303.yml
  html/changelogs/AutoChangeLog-pr-28304.yml
  html/changelogs/AutoChangeLog-pr-28305.yml
  html/changelogs/AutoChangeLog-pr-28306.yml
  html/changelogs/archive/2024-06.yml
Labels: none

Revert "Move defines"
  code/__DEFINES/~skyrat_defines/mobs.dm
  modular_skyrat/modules/bodyparts/code/_mutant_bodyparts.dm
  modular_skyrat/modules/bodyparts/code/podperson_bodyparts.dm
  modular_skyrat/modules/bodyparts/code/teshari_bodyparts.dm
  modular_skyrat/modules/bodyparts/code/vox_bodyparts.dm
Labels: none

Bitrunning: Tweaks, QoL and removals
  _maps/virtual_domains/starfront_saloon.dmm
  _maps/virtual_domains/syndicate_assault.dmm
  code/datums/components/temporary_body.dm
  code/modules/bitrunning/components/virtual_entity.dm
  code/modules/bitrunning/event.dm
  code/modules/bitrunning/objects/hololadder.dm
  code/modules/bitrunning/objects/netpod.dm
  code/modules/bitrunning/server/_parent.dm
  code/modules/bitrunning/server/map_handling.dm
  code/modules/bitrunning/server/obj_generation.dm
  code/modules/bitrunning/server/threats.dm
  code/modules/bitrunning/spawners.dm
  code/modules/bitrunning/virtual_domain/domains/starfront_saloon.dm
  code/modules/mob_spawn/mob_spawn.dm
  strings/tips.txt
  tgstation.dme
Labels: Map Modification

[MIRROR] Adds sprite for debug eldritch paintings (#28308)
  code/modules/antagonists/heretic/items/eldritch_painting.dm
  icons/obj/signs.dmi
Labels: Sprites

Automatic changelog for PR #28308 [ci skip]
  html/changelogs/AutoChangeLog-pr-28308.yml
Labels: none

Update declarations.dm
  code/__DEFINES/traits/declarations.dm
Labels: none

techweb moving
  modular_skyrat/master_files/code/modules/research/techweb/all_nodes.dm
  modular_skyrat/modules/microfusion/code/microfusion_techweb.dm
  modular_skyrat/modules/power/code/powerator.dm
Labels: none

[MIRROR] Settler partially atomized into traits, ashwalkers given some settler traits (#28298)
  code/__DEFINES/fish.dm
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/_globalvars/traits/admin_tooling.dm
  code/datums/components/riding/riding_mob.dm
  code/datums/components/tameable.dm
  code/datums/elements/climbable.dm
  code/datums/quirks/positive_quirks/settler.dm
  code/modules/fishing/sources/_fish_source.dm
  code/modules/mob/living/brain/brain_item.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  code/modules/mob/mob.dm
Labels: none

Automatic changelog for PR #28298 [ci skip]
  html/changelogs/AutoChangeLog-pr-28298.yml
Labels: none

Update mob_spawn.dm
  code/modules/mob_spawn/mob_spawn.dm
Labels: none

Update skin.dmf
  interface/skin.dmf
Labels: none

Update mob_spawn.dm
  modular_skyrat/master_files/code/modules/mob_spawn/mob_spawn.dm
Labels: none

SAD ---> Cytology, MCR & Powerator Techweb requirement decrease. (#28310)
  modular_skyrat/master_files/code/modules/research/techweb/all_nodes.dm
  modular_skyrat/modules/microfusion/code/microfusion_techweb.dm
  modular_skyrat/modules/power/code/powerator.dm
Labels: none

Automatic changelog for PR #28310 [ci skip]
  html/changelogs/AutoChangeLog-pr-28310.yml
Labels: none

[MIRROR] Bitrunning: Tweaks, QoL and removals (#28309)
  _maps/virtual_domains/starfront_saloon.dmm
  _maps/virtual_domains/syndicate_assault.dmm
  code/datums/components/temporary_body.dm
  code/modules/bitrunning/components/virtual_entity.dm
  code/modules/bitrunning/event.dm
  code/modules/bitrunning/objects/hololadder.dm
  code/modules/bitrunning/objects/netpod.dm
  code/modules/bitrunning/server/_parent.dm
  code/modules/bitrunning/server/map_handling.dm
  code/modules/bitrunning/server/obj_generation.dm
  code/modules/bitrunning/server/threats.dm
  code/modules/bitrunning/spawners.dm
  code/modules/bitrunning/virtual_domain/domains/starfront_saloon.dm
  code/modules/mob_spawn/mob_spawn.dm
  interface/skin.dmf
  modular_skyrat/master_files/code/modules/mob_spawn/mob_spawn.dm
  strings/tips.txt
  tgstation.dme
Labels: Map Modification

Automatic changelog for PR #28309 [ci skip]
  html/changelogs/AutoChangeLog-pr-28309.yml
Labels: none

meow
  modular_skyrat/master_files/icons/mob/clothing/head/helmet.dmi
  modular_skyrat/modules/goofsec/code/sec_clothing_overrides.dm
Labels: Sprites

Update all_nodes.dm
  modular_skyrat/master_files/code/modules/research/techweb/all_nodes.dm
Labels: none

Update all_nodes.dm
  modular_skyrat/master_files/code/modules/research/techweb/all_nodes.dm
Labels: none

Update all_nodes.dm
  modular_skyrat/master_files/code/modules/research/techweb/all_nodes.dm
Labels: none

Update all_nodes.dm
  modular_skyrat/master_files/code/modules/research/techweb/all_nodes.dm
Labels: none

I AM SO DUMBB
  modular_skyrat/master_files/code/modules/research/techweb/all_nodes.dm
Labels: none

Fixes somethings in Modular nodes (#28311)
  modular_skyrat/master_files/code/modules/research/techweb/all_nodes.dm
Labels: none

Fixes ambient sound preferences runtiming every time a client connects (#84202)
  code/modules/client/client_procs.dm
  code/modules/client/preferences/sounds.dm
Labels: none

reduces the price for most livestock crates (#84132)
  code/modules/cargo/packs/imports.dm
  code/modules/cargo/packs/livestock.dm
Labels: none

[MIRROR] Fixes ambient sound preferences runtiming every time a client connects (#28312)
  code/modules/client/client_procs.dm
  code/modules/client/preferences/sounds.dm
Labels: none

[MIRROR] reduces the price for most livestock crates (#28313)
  code/modules/cargo/packs/imports.dm
  code/modules/cargo/packs/livestock.dm
Labels: none

Automatic changelog for PR #28313 [ci skip]
  html/changelogs/AutoChangeLog-pr-28313.yml
Labels: none

Update declarations.dm
  code/__DEFINES/traits/declarations.dm
Labels: none

Add furry photocopy sprites (#28284)
  code/__DEFINES/~skyrat_defines/mobs.dm
  modular_skyrat/master_files/icons/mob/butts.dmi
  modular_skyrat/modules/bodyparts/code/_mutant_bodyparts.dm
  modular_skyrat/modules/bodyparts/code/moth_bodyparts.dm
  modular_skyrat/modules/bodyparts/code/podperson_bodyparts.dm
  modular_skyrat/modules/bodyparts/code/teshari_bodyparts.dm
  modular_skyrat/modules/bodyparts/code/vox_bodyparts.dm
Labels: Sprites
