Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'

fix tile/rod/rcd multi-z hole repairs (#84255)
  code/datums/components/trapdoor.dm
  code/datums/elements/openspace_item_click_handler.dm
  code/game/objects/items.dm
  code/game/objects/items/holosign_creator.dm
  code/game/objects/items/rcd/RCD.dm
  code/game/objects/items/stacks/rods.dm
  code/game/objects/items/stacks/tiles/tile_types.dm
Labels: none

[MIRROR] Antag stingers are now defined on the datum (#28341)
  code/modules/antagonists/_common/antag_datum.dm
  code/modules/antagonists/battlecruiser/battlecruiser.dm
  code/modules/antagonists/blob/blob_antag.dm
  code/modules/antagonists/brother/brother.dm
  code/modules/antagonists/changeling/changeling.dm
  code/modules/antagonists/cult/datums/cultist.dm
  code/modules/antagonists/heretic/heretic_antag.dm
  code/modules/antagonists/heretic/heretic_monsters.dm
  code/modules/antagonists/nukeop/datums/operative.dm
  code/modules/antagonists/nukeop/datums/operative_leader.dm
  code/modules/antagonists/obsessed/obsessed.dm
  code/modules/antagonists/revolution/revolution.dm
  code/modules/antagonists/traitor/datum_traitor.dm
Labels: none

[MIRROR] Cyborg Omnitool Refactor (#28343)
  code/datums/components/surgery_initiator.dm
  code/game/machinery/telecomms/machine_interactions.dm
  code/game/objects/items/robot/items/tools.dm
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/mob/living/silicon/robot/robot_model.dm
  code/modules/surgery/surgery.dm
  code/modules/surgery/tools.dm
  icons/mob/silicon/robot_items.dmi
Labels: Sprites

[MIRROR] Fix printed structures/machines having a random offset (#28345)
  code/game/machinery/autolathe.dm
  code/modules/power/power.dm
  code/modules/research/machinery/_production.dm
Labels: none

Automatic changelog for PR #28343 [ci skip]
  html/changelogs/AutoChangeLog-pr-28343.yml
Labels: none

[MIRROR] PDA messenger & message monitor show actual emoji, other fixes (#28346)
  code/game/machinery/telecomms/computers/message.dm
  code/modules/modular_computers/file_system/programs/messenger/messenger_program.dm
  tgui/packages/tgui/interfaces/MessageMonitor.tsx
  tgui/packages/tgui/interfaces/NtosMessenger/ChatScreen.tsx
Labels: none

Automatic changelog for PR #28345 [ci skip]
  html/changelogs/AutoChangeLog-pr-28345.yml
Labels: none

[MIRROR] Fixes the duration of wizard spell mutate (#28347)
  code/modules/spells/spell_types/self/mutate.dm
Labels: none

[MIRROR] Fix chem reaction spawning issue (#28348)
  code/modules/reagents/chemistry/recipes/medicine.dm
Labels: none

[MIRROR] Fixes quirk config tooltips rendering behind the popper (#28349)
  tgui/packages/tgui/interfaces/PreferencesMenu/QuirksPage.tsx
Labels: none

[MIRROR] Adds an admin secret to mass heal and revive everyone. (#28350)
  code/modules/admin/verbs/secrets.dm
  tgui/packages/tgui/interfaces/Secrets.jsx
Labels: none

[MIRROR] Fixes non-sensical attack messages for certain mobs (#28351)
  code/_onclick/item_attack.dm
  code/modules/mob/living/basic/bots/_bots.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
Labels: none

[MIRROR] [NO GBP] Piggyback ,strip menu & Paraplegic mouse drop fixes (#28352)
  code/datums/elements/strippable.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defines.dm
Labels: none

[MIRROR] Fixes some objects not being pulled with ctrl-click (#28353)
  code/modules/atmospherics/machinery/components/unary_devices/bluespace_sender.dm
  code/modules/hydroponics/hydroponics.dm
Labels: none

[MIRROR] Autopsy experiments available roundstart [NO GBP] (#28354)
  code/modules/research/techweb/nodes/medbay_nodes.dm
Labels: none

[MIRROR] NT Frontier can read files from data disks (#28355)
  code/modules/modular_computers/computers/item/computer.dm
  code/modules/modular_computers/file_system/programs/frontier.dm
  tgui/packages/tgui/interfaces/NtosScipaper.jsx
Labels: none

[MIRROR] Adds pen clicking, changes most pen typechecks into writing implement checks (#28356)
  code/__DEFINES/paper.dm
  code/game/machinery/newscaster/newspaper.dm
  code/game/machinery/porta_turret/portable_turret_construct.dm
  code/game/machinery/suit_storage_unit.dm
  code/game/objects/items/devices/beacon.dm
  code/game/objects/items/implants/implantcase.dm
  code/game/objects/items/implants/implanter.dm
  code/game/objects/items/robot/robot_parts.dm
  code/game/objects/items/signs.dm
  code/game/objects/items/storage/boxes/food_boxes.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/game/objects/structures/crates_lockers/closets/bodybag.dm
  code/game/objects/structures/door_assembly.dm
  code/game/objects/structures/signs/_signs.dm
  code/game/objects/structures/windoor_assembly.dm
  code/modules/cards/singlecard.dm
  code/modules/cargo/supplypod_beacon.dm
  code/modules/food_and_drinks/pizzabox.dm
  code/modules/hydroponics/seeds.dm
  code/modules/library/book.dm
  code/modules/library/bookcase.dm
  code/modules/mob/living/simple_animal/bot/construction.dm
  code/modules/paperwork/folders.dm
  code/modules/paperwork/paperplane.dm
  code/modules/paperwork/pen.dm
  code/modules/photography/photos/photo.dm
  code/modules/reagents/reagent_containers/blood_pack.dm
  code/modules/reagents/reagent_containers/cups/bottle.dm
  code/modules/recycling/sortingmachinery.dm
  code/modules/vending/_vending.dm
  icons/obj/service/bureaucracy.dmi
Labels: Sprites

[MIRROR] Orange balloons will now appear in your hands when picked up (#28357)
  icons/obj/toys/balloons.dmi
Labels: Sprites

[MIRROR] Nullblade; nullrod for stabbing people in contrived circumstances to get less than equivalent damage to a normal chaplain (#28358)
  _maps/deathmatch/sunrise.dmm
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/datums/mutations/antenna.dm
  code/modules/jobs/job_types/chaplain/chaplain_nullrod.dm
  code/modules/jobs/job_types/station_trait/human_ai.dm
  code/modules/mob/living/silicon/silicon_say.dm
  icons/mob/clothing/belt.dmi
  icons/mob/clothing/belt_mirror.dmi
  icons/mob/inhands/weapons/swords_lefthand.dmi
  icons/mob/inhands/weapons/swords_righthand.dmi
  icons/obj/weapons/sword.dmi
  modular_skyrat/modules/customization/modules/clothing/storage/belts.dm
Labels: Map Modification, Sprites

[MIRROR] Tells od lints to shut the fuck up (#28359)
  tools/ci/od_lints.dm
Labels: none

[MIRROR] Refactor modular computer (and application) attackby into item_interaction (#28360)
  code/modules/modular_computers/computers/item/computer.dm
  code/modules/modular_computers/computers/item/pda.dm
  code/modules/modular_computers/computers/machinery/modular_computer.dm
  code/modules/modular_computers/file_system/computer_file.dm
  code/modules/modular_computers/file_system/programs/airestorer.dm
  code/modules/modular_computers/file_system/programs/frontier.dm
  code/modules/modular_computers/file_system/programs/maintenance/modsuit.dm
  code/modules/modular_computers/file_system/programs/techweb.dm
Labels: none

[MIRROR] Light eater can eat all lights again (#28361)
  code/datums/elements/light_eater.dm
Labels: none

[MIRROR] Spellchecks charater->character (#28362)
  code/__DEFINES/layers.dm
  code/modules/escape_menu/home_page.dm
Labels: none

[MIRROR] fixes grammar mistake in raptor emote (#28363)
  code/modules/mob/living/basic/lavaland/raptor/_raptor.dm
Labels: none

[MIRROR] Replaces bold HTML tag with ++ in certain secbot/mulebot messages (#28364)
  code/__DEFINES/chat.dm
  code/modules/mob/living/simple_animal/bot/mulebot.dm
  code/modules/mob/living/simple_animal/bot/secbot.dm
Labels: none

[MIRROR] Fixes crayons preventing all atom interactions (#28366)
  code/game/objects/items/crayons.dm
Labels: none

[MIRROR] Embedding and Nutriment Pump Typos (#28367)
  code/datums/components/embedded.dm
  code/modules/research/designs/medical_designs.dm
Labels: none

[MIRROR] Typo fixes and rewrites for some heretic items & traumas (#28368)
  code/datums/brain_damage/severe.dm
  code/datums/mood_events/eldritch_painting_events.dm
  code/modules/antagonists/heretic/items/eldritch_painting.dm
  code/modules/antagonists/heretic/items/forbidden_book.dm
  code/modules/antagonists/heretic/items/heretic_armor.dm
  code/modules/antagonists/heretic/items/madness_mask.dm
  code/modules/antagonists/heretic/knowledge/side_lock_moon.dm
Labels: none

[MIRROR] Fixes the Infiltrator Module not having the correct welder protection and not adding the correct traits, improves welding protection defines. (#28369)
  code/__DEFINES/mobs.dm
  code/modules/mod/modules/modules_antag.dm
  code/modules/mod/modules/modules_engineering.dm
Labels: none

[MIRROR] Makes toy/riot C20R45's show the correct dart types in their magazines (#28370)
  code/modules/projectiles/ammunition/ballistic/foam.dm
  code/modules/projectiles/boxes_magazines/external/smg.dm
  code/modules/projectiles/boxes_magazines/external/toy.dm
  icons/obj/weapons/guns/ammo.dmi
Labels: Sprites

[MIRROR] Adds boards for the book binder and scanner (#28371)
  code/game/objects/items/circuitboards/machines/machine_circuitboards.dm
  code/modules/library/lib_machines.dm
  code/modules/research/designs/machine_designs.dm
  code/modules/research/techweb/nodes/service_nodes.dm
  icons/obj/service/library.dmi
Labels: Sprites

[MIRROR] Minebots will no longer attempt to stop you from committing suicide by killing you (#28372)
  code/__DEFINES/ai/ai_blackboard.dm
  code/__DEFINES/ai/pet_commands.dm
  code/datums/components/pet_commands/pet_commands_basic.dm
  code/modules/mob/living/basic/icemoon/wolf/wolf_ai.dm
  code/modules/mob/living/basic/minebots/minebot_ai.dm
  code/modules/mob/living/basic/vermin/cockroach.dm
  code/modules/mob/living/basic/vermin/frog.dm
  code/modules/mob/living/basic/vermin/mouse.dm
  code/modules/mob/living/emote.dm
  code/modules/mob/mob_say.dm
Labels: none

[MIRROR] [no gbp] wawa ordnance fixes and qol and stuff (#28373)
  _maps/map_files/wawastation/wawastation.dmm
Labels: Map Modification

[MIRROR] Icebox Head of Personnel's Request Console fix (#28374)
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Map Modification

[MIRROR] wawastation stand-in shuttle (#28375)
  _maps/shuttles/emergency_wawa.dmm
  _maps/wawastation.json
  code/datums/shuttles/emergency.dm
  code/game/objects/structures/fans.dm
  code/game/objects/structures/plasticflaps.dm
Labels: Map Modification

[MIRROR] basic vibebot (and small rework) (#28377)
  _maps/shuttles/emergency_cruise.dmm
  code/__DEFINES/ai/bot_keys.dm
  code/__DEFINES/song.dm
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/datums/ai/_ai_controller.dm
  code/datums/components/crafting/robot.dm
  code/datums/station_traits/neutral_traits.dm
  code/modules/mob/living/basic/bots/vibebot/vibebot.dm
  code/modules/mob/living/basic/bots/vibebot/vibebot_abilities.dm
  code/modules/mob/living/basic/bots/vibebot/vibebot_ai.dm
  code/modules/mob/living/simple_animal/bot/vibebot.dm
  code/modules/unit_tests/simple_animal_freeze.dm
  tgstation.dme
  tools/UpdatePaths/Scripts/84143_vibebots.txt
Labels: Map Modification

[MIRROR] Fixes the visor of the welding mask going down when you use internals (#28378)
  code/__DEFINES/obj_flags.dm
  code/_globalvars/bitfields.dm
  code/modules/clothing/masks/gasmask.dm
  code/modules/mob/living/carbon/human/inventory.dm
Labels: none

[MIRROR] Makes interacting with an assembly bomb interact with the assembly instead of opening the tank UI (#28379)
  code/game/objects/items/tanks/tanks.dm
  code/modules/assembly/mousetrap.dm
Labels: none

[MIRROR] Anomaly fix/code improvement (#28380)
  code/game/objects/effects/anomalies/_anomalies.dm
Labels: none

[MIRROR] durand shield is a tad bit stronger and also doesnt immediately depower the mech when taking stamina damage (#28381)
  code/modules/vehicles/mecha/combat/durand.dm
Labels: none
