Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'

Automatic changelog for PR #28518 [ci skip]
  html/changelogs/AutoChangeLog-pr-28518.yml
Labels: none

Automatic changelog for PR #28519 [ci skip]
  html/changelogs/AutoChangeLog-pr-28519.yml
Labels: none

Automatic changelog for PR #28521 [ci skip]
  html/changelogs/AutoChangeLog-pr-28521.yml
Labels: none

Automatic changelog for PR #28522 [ci skip]
  html/changelogs/AutoChangeLog-pr-28522.yml
Labels: none

Automatic changelog for PR #28524 [ci skip]
  html/changelogs/AutoChangeLog-pr-28524.yml
Labels: none

Automatic changelog for PR #28527 [ci skip]
  html/changelogs/AutoChangeLog-pr-28527.yml
Labels: none

Automatic changelog for PR #28523 [ci skip]
  html/changelogs/AutoChangeLog-pr-28523.yml
Labels: none

Automatic changelog for PR #28528 [ci skip]
  html/changelogs/AutoChangeLog-pr-28528.yml
Labels: none

Automatic changelog for PR #28529 [ci skip]
  html/changelogs/AutoChangeLog-pr-28529.yml
Labels: none

Automatic changelog for PR #28530 [ci skip]
  html/changelogs/AutoChangeLog-pr-28530.yml
Labels: none

Automatic changelog for PR #28531 [ci skip]
  html/changelogs/AutoChangeLog-pr-28531.yml
Labels: none

Automatic changelog for PR #28533 [ci skip]
  html/changelogs/AutoChangeLog-pr-28533.yml
Labels: none

Automatic changelog for PR #28536 [ci skip]
  html/changelogs/AutoChangeLog-pr-28536.yml
Labels: none

Automatic changelog for PR #28537 [ci skip]
  html/changelogs/AutoChangeLog-pr-28537.yml
Labels: none

map fixes
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/shuttle8532.dmm
  _maps/map_files/NSVBlueshift/Blueshift.dmm
Labels: Map Modification

MCR
  code/game/machinery/recharger.dm
  code/game/objects/items/storage/belt.dm
  modular_skyrat/modules/company_imports/code/armament_datums/micron_control_systems.dm
  modular_skyrat/modules/company_imports/code/objects/microstar/mcr_attachment_kits.dm
  modular_skyrat/modules/company_imports/code/objects/vitezstvi/ammo_boxes.dm
  modular_skyrat/modules/microfusion/code/cargo_stuff.dm
  modular_skyrat/modules/microfusion/code/gun_types.dm
  modular_skyrat/modules/microfusion/code/microfusion_cell.dm
  modular_skyrat/modules/microfusion/code/microfusion_cell_attachments.dm
  modular_skyrat/modules/microfusion/code/microfusion_designs.dm
  modular_skyrat/modules/microfusion/code/microfusion_energy_master.dm
  modular_skyrat/modules/modular_items/code/bags.dm
  modular_skyrat/modules/sec_haul/code/guns/armory_spawns.dm
Labels: none

I am happy.
  modular_skyrat/master_files/icons/mob/clothing/head/helmet.dmi
  modular_skyrat/modules/goofsec/code/sec_clothing_overrides.dm
Labels: Sprites

Update vending.dm
  modular_skyrat/modules/sec_haul/code/misc/vending.dm
Labels: none

new file
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/nanotrasen_system_inc/alert_pin.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/nanotrasen_system_inc/pistol.dm
  tgstation.dme
Labels: none

fire delay
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/nanotrasen_system_inc/pistol.dm
Labels: none

Create magazine.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/nanotrasen_system_inc/magazine.dm
Labels: none

finally
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/nanotrasen_system_inc/pistol.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/pistol.dm
Labels: none

Update pistol.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/nanotrasen_system_inc/pistol.dm
Labels: none

bazinga
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/nanotrasen_system_inc/magazine.dm
  tgstation.dme
Labels: none

Update pistol.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/nanotrasen_system_inc/pistol.dm
Labels: none

Fixes double manifest
  code/modules/mob/dead/new_player/new_player.dm
Labels: none

wee
  code/modules/loadout/loadout_items.dm
  code/modules/loadout/loadout_menu.dm
  modular_skyrat/master_files/code/modules/loadout/categories/gloves.dm
  modular_skyrat/master_files/code/modules/loadout/categories/toys.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/data.ts
  tgui/packages/tgui/interfaces/PreferencesMenu/loadout/ItemDisplay.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/loadout/base.ts
Labels: none

this is impossible
  modular_skyrat/modules/aesthetics/guns/code/guns.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/nanotrasen_system_inc/magazine.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/nanotrasen_system_inc/pistol.dm
Labels: none

Update magazine.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/nanotrasen_system_inc/magazine.dm
Labels: none

map2
  _maps/map_files/NSVBlueshift/Blueshift.dmm
Labels: Map Modification

rcd
  modular_skyrat/master_files/code/modules/research/techweb/all_nodes.dm
Labels: none

map3
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/NSVBlueshift/Blueshift.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Map Modification

map4
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_syndicate_base1_skyrat.dmm
  _maps/RandomRuins/LavaRuins/skyrat/lavaland_surface_syndicate_base1_skyrat.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/interdynefob.dmm
Labels: Map Modification

map5
  _maps/RandomZLevels/blackmesa.dmm
  _maps/map_files/NSVBlueshift/Blueshift.dmm
Labels: Map Modification

Automatic changelog for PR #28376 [ci skip]
  html/changelogs/AutoChangeLog-pr-28376.yml
Labels: none

Fixes double manifest entries (#28539)
  code/modules/mob/dead/new_player/new_player.dm
Labels: none

Adds RCD back to techweb (#28541)
  modular_skyrat/master_files/code/modules/research/techweb/all_nodes.dm
Labels: none

Update heretic_knowledge.dm
  code/modules/antagonists/heretic/heretic_knowledge.dm
Labels: none

Facehuggers dont sleep people + muzzle code exorcism
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_main.dm
  code/__DEFINES/obj_flags.dm
  code/_globalvars/bitfields.dm
  code/datums/components/knockoff.dm
  code/datums/elements/muffles_speech.dm
  code/datums/emotes.dm
  code/modules/clothing/masks/muzzle.dm
  code/modules/mob/living/carbon/alien/adult/alien_powers.dm
  code/modules/mob/living/carbon/alien/alien.dm
  code/modules/mob/living/carbon/alien/special/facehugger.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/emote.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_say.dm
  tgstation.dme
Labels: none

Automatic changelog for PR #28539 [ci skip]
  html/changelogs/AutoChangeLog-pr-28539.yml
Labels: none
