Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'

Making fishing a bit more bearable. (#85326)
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/datums/components/profound_fisher.dm
  code/datums/skills/fishing.dm
  code/game/objects/items/food/bait.dm
  code/modules/fishing/admin.dm
  code/modules/fishing/aquarium/aquarium.dm
  code/modules/fishing/fish/fish_types.dm
  code/modules/fishing/fishing_minigame.dm
  code/modules/fishing/fishing_rod.dm
  code/modules/fishing/sources/_fish_source.dm
  code/modules/fishing/sources/source_types.dm
  code/modules/mob/living/basic/lavaland/lobstrosity/lobstrosity.dm
  icons/hud/fishing_hud.dmi
Labels: Sprites

Added a config to override the def gateway delay for specific start points. (#85341)
  _maps/RandomZLevels/SnowCabin.dmm
  _maps/RandomZLevels/TheBeach.dmm
  _maps/RandomZLevels/caves.dmm
  _maps/RandomZLevels/moonoutpost19.dmm
  _maps/RandomZLevels/museum.dmm
  _maps/RandomZLevels/research.dmm
  _maps/RandomZLevels/snowdin.dmm
  _maps/RandomZLevels/undergroundoutpost45.dmm
  code/__DEFINES/maps.dm
  code/controllers/configuration/entries/game_options.dm
  code/modules/awaymissions/zlevel.dm
  config/game_options.txt
Labels: Map Modification

Replaces my old and crusty pp-95 with the cool new nukeops tech on the block, smart SMGs (#85211)
  _maps/RandomRuins/SpaceRuins/infested_frigate.dmm
  code/__DEFINES/projectiles.dm
  code/game/objects/items/storage/toolbox.dm
  code/modules/antagonists/nukeop/outfits.dm
  code/modules/projectiles/ammunition/ballistic/pistol.dm
  code/modules/projectiles/boxes_magazines/external/smg.dm
  code/modules/projectiles/guns/ballistic/automatic.dm
  code/modules/projectiles/projectile/bullets/pistol.dm
  code/modules/uplink/uplink_items/nukeops.dm
  icons/mob/inhands/weapons/guns_lefthand.dmi
  icons/mob/inhands/weapons/guns_righthand.dmi
  icons/obj/weapons/guns/ammo.dmi
  icons/obj/weapons/guns/ballistic.dmi
  icons/obj/weapons/guns/projectiles.dmi
  sound/weapons/gun/smartgun/smartgun_shoot_1.ogg
  sound/weapons/gun/smartgun/smartgun_shoot_2.ogg
  sound/weapons/gun/smartgun/smartgun_shoot_3.ogg
Labels: Map Modification, Sprites

curable permanent trauma
  code/game/machinery/medical_kiosk.dm
  code/game/objects/items/devices/scanners/health_analyzer.dm
  modular_skyrat/modules/medical/code/trauma_surgery.dm
  tgstation.dme
Labels: none

allows to disable sliders again (#85327)
  tgui/packages/tgui/components/Slider.tsx
Labels: none

Refactor Stat Panel styles and more TGUI-like appearance (#85257)
  html/statbrowser.css
  html/statbrowser.html
  html/statbrowser.js
  tgui/packages/tgui-panel/chat/ChatPageSettings.jsx
  tgui/packages/tgui-panel/settings/SettingsGeneral.tsx
  tgui/packages/tgui-panel/settings/middleware.ts
  tgui/packages/tgui-panel/settings/reducer.ts
  tgui/packages/tgui-panel/styles/themes/light.scss
  tgui/packages/tgui-panel/themes.ts
Labels: none

Botany reagent cross pollination code improvement and fix (#85329)
  code/modules/hydroponics/hydroponics.dm
  code/modules/hydroponics/seeds.dm
Labels: none

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-29099.yml
  html/changelogs/AutoChangeLog-pr-29100.yml
  html/changelogs/AutoChangeLog-pr-29101.yml
  html/changelogs/AutoChangeLog-pr-29103.yml
  html/changelogs/AutoChangeLog-pr-29106.yml
  html/changelogs/AutoChangeLog-pr-29107.yml
  html/changelogs/AutoChangeLog-pr-29109.yml
  html/changelogs/archive/2024-07.yml
Labels: none

Updated implant sprites (#85368)
  code/modules/surgery/organs/internal/cyberimp/augments_arms.dm
  code/modules/surgery/organs/internal/cyberimp/augments_chest.dm
  code/modules/surgery/organs/internal/cyberimp/augments_eyes.dm
  code/modules/surgery/organs/internal/cyberimp/augments_internal.dm
  icons/obj/medical/organs/organs.dmi
Labels: Sprites

Unbreaks it, and QOL
  modular_skyrat/modules/echolocation_quirk/code/echolocation.dm
Labels: none

Waterpig's epic fixes
  code/datums/components/echolocation.dm
  modular_skyrat/modules/echolocation_quirk/code/echolocation.dm
  modular_skyrat/modules/echolocation_quirk/code/echolocation_component.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/skyrat/echolocation.tsx
Labels: none

that is buffed
  modular_skyrat/modules/echolocation_quirk/code/echolocation.dm
Labels: none

an ode to joy
  modular_skyrat/modules/goofsec/code/sec_clothing_overrides.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/rifle.dm
Labels: none

Update rifle.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/ammo/rifle.dm
Labels: none

Moves quirks around to a new module because holy fuck
  modular_skyrat/modules/quirks/echolocation/echolocation.dm
  modular_skyrat/modules/quirks/echolocation/echolocation_component.dm
  modular_skyrat/modules/quirks/echolocation/echolocation_pref.dm
  modular_skyrat/modules/quirks/good.dm
  modular_skyrat/modules/quirks/negative.dm
  modular_skyrat/modules/quirks/neutral.dm
  tgstation.dme
Labels: none

Update pistol.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/nanotrasen_system_inc/pistol.dm
Labels: none

here we go
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/nanotrasen_system_inc/magazine.dm
Labels: none

Update tgstation.dme
  tgstation.dme
Labels: none

Update echolocation.dm
  modular_skyrat/modules/quirks/echolocation/echolocation.dm
Labels: none

Fixes temperature getting stuck in offset equalibrium causing lizards to die if wearing thermal insulation (#85401)
  code/modules/mob/living/carbon/human/_species.dm
Labels: none

[No GBP] Fixes Bad Botany Bug
  code/modules/hydroponics/seeds.dm
Labels: none

Makes the big balls rounder (#85388)
  icons/obj/stack_objects.dmi
Labels: Sprites

[MIRROR] localizes create_all_lighting_objects (#29110)
  code/controllers/subsystem/lighting.dm
  code/modules/lighting/lighting_setup.dm
  tgstation.dme
Labels: none

[MIRROR] refactor pod spawn from code copypaste to use `podspawn` instead. Add convenient way to spawn multiple items of same type in pod (#29111)
  code/__HELPERS/spawns.dm
  code/controllers/subsystem/job.dm
  code/controllers/subsystem/market.dm
  code/datums/station_traits/positive_traits.dm
  code/game/machinery/roulette_machine.dm
  code/modules/shuttle/supply.dm
Labels: none

Automatic changelog for PR #29110 [ci skip]
  html/changelogs/AutoChangeLog-pr-29110.yml
Labels: none

[MIRROR] Binoculars removed from ritual of knowledge, clipboards made craftable (#29112)
  code/datums/components/crafting/misc.dm
  code/modules/antagonists/heretic/heretic_knowledge.dm
Labels: none

[MIRROR] Smuggler satchel spawning is blacklisted in the "near station" area (#29113)
  code/controllers/subsystem/minor_mapping.dm
Labels: none

[MIRROR] Leather, skins, cardboard sounds (#29114)
  code/game/objects/items/stacks/sheets/leather.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  sound/items/attributions.txt
  sound/items/cardboard_drop.ogg
  sound/items/cardboard_pick_up.ogg
  sound/items/skin_drop.ogg
  sound/items/skin_pick_up.ogg
Labels: none

[MIRROR] Maintenance ambience (#29115)
  code/_globalvars/lists/ambience.dm
  sound/ambience/ambimaint10.ogg
  sound/ambience/ambimaint11.ogg
  sound/ambience/ambimaint12.ogg
  sound/ambience/ambimaint8.ogg
  sound/ambience/ambimaint9.ogg
  sound/ambience/antag/attribution.txt
Labels: none

[MIRROR] Sigh and sniff sounds (again). (#29116)
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/mob/living/carbon/human/species_types/felinid.dm
  code/modules/mob/living/carbon/human/species_types/humans.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  code/modules/mob/living/carbon/human/species_types/mothmen.dm
  code/modules/mob/living/emote.dm
  sound/voice/attribution.txt
  sound/voice/human/female_sigh.ogg
  sound/voice/human/female_sniff.ogg
  sound/voice/human/male_sigh.ogg
  sound/voice/human/male_sniff.ogg
Labels: none

Automatic changelog for PR #29112 [ci skip]
  html/changelogs/AutoChangeLog-pr-29112.yml
Labels: none

[MIRROR] Projectile dampener, recycler and ninja stealth MOD modules now work properly (#29117)
  code/modules/mod/modules/modules_general.dm
  code/modules/mod/modules/modules_ninja.dm
  code/modules/mod/modules/modules_security.dm
Labels: none

[MIRROR] Actually fixes mechs equipping infinite amount of gear (#29118)
  code/modules/vehicles/mecha/equipment/mecha_equipment.dm
Labels: none

[MIRROR] [NO GBP] You can no longer tear peoples arms off with non-killer clamps (#29119)
  code/modules/vehicles/mecha/equipment/tools/work_tools.dm
Labels: none

[MIRROR] allows implanting TTVs into chest once again (#29120)
  code/modules/surgery/cavity_implant.dm
Labels: none

[MIRROR] Fixes mining MODsuit suit storage (#29121)
  code/modules/mod/mod_theme.dm
Labels: none

[MIRROR] Fixed mapload circuit floors not drawing power and deconstructing circuit floors not reducing power load (#29122)
  code/game/turfs/open/floor/misc_floor.dm
Labels: none

[MIRROR] Fixes some mining mobs not becoming hostile to ashwalker attacks [no gbp] (#29123)
  code/modules/mob/living/basic/lavaland/mining.dm
Labels: none

[MIRROR] Making fishing a bit more bearable. (#29124)
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/datums/components/profound_fisher.dm
  code/datums/skills/fishing.dm
  code/game/objects/items/food/bait.dm
  code/modules/fishing/admin.dm
  code/modules/fishing/aquarium/aquarium.dm
  code/modules/fishing/fish/fish_types.dm
  code/modules/fishing/fishing_minigame.dm
  code/modules/fishing/fishing_rod.dm
  code/modules/fishing/sources/_fish_source.dm
  code/modules/fishing/sources/source_types.dm
  code/modules/mob/living/basic/lavaland/lobstrosity/lobstrosity.dm
  icons/hud/fishing_hud.dmi
Labels: Sprites

[MIRROR] Added a config to override the def gateway delay for specific start points. (#29125)
  _maps/RandomZLevels/SnowCabin.dmm
  _maps/RandomZLevels/TheBeach.dmm
  _maps/RandomZLevels/caves.dmm
  _maps/RandomZLevels/moonoutpost19.dmm
  _maps/RandomZLevels/museum.dmm
  _maps/RandomZLevels/research.dmm
  _maps/RandomZLevels/snowdin.dmm
  _maps/RandomZLevels/undergroundoutpost45.dmm
  code/__DEFINES/maps.dm
  code/controllers/configuration/entries/game_options.dm
  code/modules/awaymissions/zlevel.dm
  config/game_options.txt
Labels: Map Modification
