Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

Automatic changelog for PR #28541 [ci skip]
  html/changelogs/AutoChangeLog-pr-28541.yml
Labels: none

[MIRROR] Space Heaters no longer deplete their starting cell instantly, and scale appropriately (#28423)
  code/game/machinery/spaceheater.dm
Labels: none

Automatic changelog for PR #28423 [ci skip]
  html/changelogs/AutoChangeLog-pr-28423.yml
Labels: none

Update airlock.dm
  modular_skyrat/modules/aesthetics/airlock/code/airlock.dm
Labels: none

I am so smart
  code/modules/loadout/loadout_categories.dm
  code/modules/loadout/loadout_items.dm
  code/modules/loadout/loadout_menu.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/loadout/ItemDisplay.tsx
Labels: none

adds swapping pens in PDAs (#84437)
  code/modules/modular_computers/computers/item/pda.dm
Labels: none

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-2757.yml
  html/changelogs/AutoChangeLog-pr-28376.yml
  html/changelogs/AutoChangeLog-pr-28423.yml
  html/changelogs/AutoChangeLog-pr-28503.yml
  html/changelogs/AutoChangeLog-pr-28504.yml
  html/changelogs/AutoChangeLog-pr-28505.yml
  html/changelogs/AutoChangeLog-pr-28506.yml
  html/changelogs/AutoChangeLog-pr-28508.yml
  html/changelogs/AutoChangeLog-pr-28509.yml
  html/changelogs/AutoChangeLog-pr-28510.yml
  html/changelogs/AutoChangeLog-pr-28512.yml
  html/changelogs/AutoChangeLog-pr-28513.yml
  html/changelogs/AutoChangeLog-pr-28514.yml
  html/changelogs/AutoChangeLog-pr-28515.yml
  html/changelogs/AutoChangeLog-pr-28516.yml
  html/changelogs/AutoChangeLog-pr-28518.yml
  html/changelogs/AutoChangeLog-pr-28519.yml
  html/changelogs/AutoChangeLog-pr-28520.yml
  html/changelogs/AutoChangeLog-pr-28521.yml
  html/changelogs/AutoChangeLog-pr-28522.yml
  html/changelogs/AutoChangeLog-pr-28523.yml
  html/changelogs/AutoChangeLog-pr-28524.yml
  html/changelogs/AutoChangeLog-pr-28525.yml
  html/changelogs/AutoChangeLog-pr-28526.yml
  html/changelogs/AutoChangeLog-pr-28527.yml
  html/changelogs/AutoChangeLog-pr-28528.yml
  html/changelogs/AutoChangeLog-pr-28529.yml
  html/changelogs/AutoChangeLog-pr-28530.yml
  html/changelogs/AutoChangeLog-pr-28531.yml
  html/changelogs/AutoChangeLog-pr-28532.yml
  html/changelogs/AutoChangeLog-pr-28533.yml
  html/changelogs/AutoChangeLog-pr-28534.yml
  html/changelogs/AutoChangeLog-pr-28536.yml
  html/changelogs/AutoChangeLog-pr-28537.yml
  html/changelogs/AutoChangeLog-pr-28539.yml
  html/changelogs/AutoChangeLog-pr-28541.yml
  html/changelogs/archive/2024-07.yml
Labels: none

[MIRROR] Inducers accept megacells now. (#28451)
  code/game/objects/items/inducer.dm
Labels: none

Automatic changelog for PR #28451 [ci skip]
  html/changelogs/AutoChangeLog-pr-28451.yml
Labels: none

Improve light switch deconstruction (#84433)
  code/game/machinery/lightswitch.dm
Labels: none

Little fix to lootpanels so they update consistently (#84513)
  code/modules/lootpanel/contents.dm
  code/modules/lootpanel/search_object.dm
Labels: none

Bedsheet bin interaction improvements (#84510)
  code/game/objects/structures/bedsheet_bin.dm
Labels: none

Enables disemboweling/cranial fissures when outside of hardcrit for cursed individuals (#84485)
  code/datums/wounds/cranial_fissure.dm
  code/modules/surgery/bodyparts/head.dm
  code/modules/surgery/bodyparts/parts.dm
Labels: none

Various bola fixes (#84418)
  code/game/objects/items/handcuffs.dm
  code/modules/antagonists/cult/cult_items.dm
Labels: none

Adds Perfectly Ordinary Food Truck (#84144)
  _maps/shuttles/hunter_mi13_foodtruck.dmm
  code/__DEFINES/antagonists.dm
  code/datums/shuttles/hunter.dm
  code/game/area/areas/shuttles.dm
  code/modules/antagonists/fugitive/hunters/hunter.dm
  code/modules/antagonists/fugitive/hunters/hunter_outfits.dm
  code/modules/events/ghost_role/fugitive_event.dm
  code/modules/mob_spawn/ghost_roles/fugitive_hunter_roles.dm
Labels: Map Modification

Oldstation (Charlie) experiments tweaks [NO GBP]
  _maps/RandomRuins/SpaceRuins/oldstation.dmm
  code/datums/id_trim/ruins.dm
  code/game/machinery/computer/apc_control.dm
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/tanks/tank_types.dm
  code/modules/modular_computers/computers/machinery/console_presets.dm
  code/modules/research/techweb/nodes/atmos_nodes.dm
  code/modules/research/techweb/nodes/engi_nodes.dm
  code/modules/research/techweb/nodes/medbay_nodes.dm
  code/modules/research/techweb/nodes/research_nodes.dm
  code/modules/surgery/experimental_dissection.dm
  icons/mob/clothing/back.dmi
  icons/obj/canisters.dmi
Labels: Map Modification, Sprites

[NO GBP] BirdShot Service Fix 2 (#84417)
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Map Modification

Gives R&D a flatpacked flatpacker on all maps (#84423)
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/map_files/wawastation/wawastation.dmm
Labels: Map Modification

Adds Xenobio (BZ) reinforced floor turfs to Xenobiology Secure Pens
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/map_files/wawastation/wawastation.dmm
Labels: Map Modification

Removes traitor posters from Metastation's walls, moved them to secure areas. (#84425)
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Modification

Fixes maps
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Map Modification

Fix tram door lights (#28446)
  modular_skyrat/modules/aesthetics/airlock/code/airlock.dm
Labels: none

Fixed various issues with the genetics powers PR (#84515)
  code/datums/mutations/_combined.dm
  code/datums/mutations/reach.dm
  code/datums/mutations/speech.dm
  code/datums/mutations/touch.dm
  strings/heckacious.json
Labels: none

Removes all security cameras from bathrooms and showers (#84426)
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/map_files/wawastation/wawastation.dmm
Labels: Map Modification

Automatic changelog for PR #28446 [ci skip]
  html/changelogs/AutoChangeLog-pr-28446.yml
Labels: none

It werks
  code/modules/loadout/loadout_items.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/loadout/ItemDisplay.tsx
Labels: none

Fixes maps for nearspace unit test (#28557)
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Map Modification

fix cmo/deluxe upgrade
  modular_skyrat/modules/hyposprays/code/hypospray_kits.dm
  modular_skyrat/modules/hyposprays/code/hyposprays_II.dm
Labels: none

Update all_nodes.dm
  modular_skyrat/master_files/code/modules/research/techweb/all_nodes.dm
Labels: none

[MIRROR] Unit tests for stuff accidentally placed in space by mappers (#28538)
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/map_files/wawastation/wawastation.dmm
  _maps/shuttles/emergency_birdshot.dmm
  _maps/shuttles/emergency_wawa.dmm
  _maps/shuttles/mining_freight.dmm
  _maps/shuttles/pirate_grey.dmm
  _maps/shuttles/pirate_silverscale.dmm
  code/game/turfs/open/floor/hull.dm
  code/modules/mapping/mapping_helpers.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/mapload_space_verification.dm
  code/modules/unit_tests/mapping_nearstation_test.dm
  icons/effects/mapping_helpers.dmi
  tools/ci/check_grep.sh
Labels: Map Modification, Sprites

Nerf Cocaine (#28469)
  modular_skyrat/modules/morenarcotics/code/cocaine.dm
Labels: none

Automatic changelog for PR #28538 [ci skip]
  html/changelogs/AutoChangeLog-pr-28538.yml
Labels: none

Automatic changelog for PR #28469 [ci skip]
  html/changelogs/AutoChangeLog-pr-28469.yml
Labels: none

Loadout Fixes (#28540)
  code/modules/loadout/loadout_categories.dm
  code/modules/loadout/loadout_items.dm
  code/modules/loadout/loadout_menu.dm
  modular_skyrat/master_files/code/modules/loadout/categories/gloves.dm
  modular_skyrat/master_files/code/modules/loadout/categories/toys.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/data.ts
  tgui/packages/tgui/interfaces/PreferencesMenu/loadout/ItemDisplay.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/loadout/base.ts
Labels: none

[MIRROR] adds swapping pens in PDAs (#28544)
  code/modules/modular_computers/computers/item/pda.dm
Labels: none

[MIRROR] Improve light switch deconstruction (#28546)
  code/game/machinery/lightswitch.dm
Labels: none

[MIRROR] Bedsheet bin interaction improvements (#28548)
  code/game/objects/structures/bedsheet_bin.dm
Labels: none

[MIRROR] Enables disemboweling/cranial fissures when outside of hardcrit for cursed individuals (#28549)
  code/datums/wounds/cranial_fissure.dm
  code/modules/surgery/bodyparts/head.dm
  code/modules/surgery/bodyparts/parts.dm
Labels: none

[MIRROR] Various bola fixes (#28550)
  code/game/objects/items/handcuffs.dm
  code/modules/antagonists/cult/cult_items.dm
Labels: none

[MIRROR] Adds Perfectly Ordinary Food Truck (#28551)
  _maps/shuttles/hunter_mi13_foodtruck.dmm
  code/__DEFINES/antagonists.dm
  code/datums/shuttles/hunter.dm
  code/game/area/areas/shuttles.dm
  code/modules/antagonists/fugitive/hunters/hunter.dm
  code/modules/antagonists/fugitive/hunters/hunter_outfits.dm
  code/modules/events/ghost_role/fugitive_event.dm
  code/modules/mob_spawn/ghost_roles/fugitive_hunter_roles.dm
Labels: Map Modification

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'
