Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'

[MIRROR] Replaces my old and crusty pp-95 with the cool new nukeops tech on the block, smart SMGs (#29126)
  _maps/RandomRuins/SpaceRuins/infested_frigate.dmm
  code/__DEFINES/projectiles.dm
  code/game/objects/items/storage/toolbox.dm
  code/modules/antagonists/nukeop/outfits.dm
  code/modules/projectiles/ammunition/ballistic/pistol.dm
  code/modules/projectiles/boxes_magazines/external/smg.dm
  code/modules/projectiles/guns/ballistic/automatic.dm
  code/modules/projectiles/projectile/bullets/pistol.dm
  code/modules/uplink/uplink_items/nukeops.dm
  icons/mob/inhands/weapons/guns_lefthand.dmi
  icons/mob/inhands/weapons/guns_righthand.dmi
  icons/obj/weapons/guns/ammo.dmi
  icons/obj/weapons/guns/ballistic.dmi
  icons/obj/weapons/guns/projectiles.dmi
  sound/weapons/gun/smartgun/smartgun_shoot_1.ogg
  sound/weapons/gun/smartgun/smartgun_shoot_2.ogg
  sound/weapons/gun/smartgun/smartgun_shoot_3.ogg
Labels: Map Modification, Sprites

Curable magical resilience traumas (#29127)
  code/game/machinery/medical_kiosk.dm
  code/game/objects/items/devices/scanners/health_analyzer.dm
  modular_skyrat/modules/medical/code/trauma_surgery.dm
  tgstation.dme
Labels: none

[MIRROR] allows to disable sliders again (#29128)
  tgui/packages/tgui/components/Slider.tsx
Labels: none

[MIRROR] Refactor Stat Panel styles and more TGUI-like appearance (#29129)
  html/statbrowser.css
  html/statbrowser.html
  html/statbrowser.js
  tgui/packages/tgui-panel/chat/ChatPageSettings.jsx
  tgui/packages/tgui-panel/settings/SettingsGeneral.tsx
  tgui/packages/tgui-panel/settings/middleware.ts
  tgui/packages/tgui-panel/settings/reducer.ts
  tgui/packages/tgui-panel/styles/themes/light.scss
  tgui/packages/tgui-panel/themes.ts
Labels: none

[MIRROR] Botany reagent cross pollination code improvement and fix (#29130)
  code/modules/hydroponics/hydroponics.dm
  code/modules/hydroponics/seeds.dm
Labels: none

[MIRROR] Fixes temperature getting stuck in offset equalibrium causing lizards to die if wearing thermal insulation (#29132)
  code/modules/mob/living/carbon/human/_species.dm
Labels: none

[MIRROR] Makes the big balls rounder (#29134)
  icons/obj/stack_objects.dmi
Labels: Sprites

Automatic changelog for PR #29113 [ci skip]
  html/changelogs/AutoChangeLog-pr-29113.yml
Labels: none

Automatic changelog for PR #29114 [ci skip]
  html/changelogs/AutoChangeLog-pr-29114.yml
Labels: none

Automatic changelog for PR #29115 [ci skip]
  html/changelogs/AutoChangeLog-pr-29115.yml
Labels: none

Automatic changelog for PR #29116 [ci skip]
  html/changelogs/AutoChangeLog-pr-29116.yml
Labels: none

Automatic changelog for PR #29117 [ci skip]
  html/changelogs/AutoChangeLog-pr-29117.yml
Labels: none

Automatic changelog for PR #29118 [ci skip]
  html/changelogs/AutoChangeLog-pr-29118.yml
Labels: none

Automatic changelog for PR #29119 [ci skip]
  html/changelogs/AutoChangeLog-pr-29119.yml
Labels: none

Automatic changelog for PR #29120 [ci skip]
  html/changelogs/AutoChangeLog-pr-29120.yml
Labels: none

Automatic changelog for PR #29121 [ci skip]
  html/changelogs/AutoChangeLog-pr-29121.yml
Labels: none

Automatic changelog for PR #29122 [ci skip]
  html/changelogs/AutoChangeLog-pr-29122.yml
Labels: none

Automatic changelog for PR #29123 [ci skip]
  html/changelogs/AutoChangeLog-pr-29123.yml
Labels: none

Automatic changelog for PR #29124 [ci skip]
  html/changelogs/AutoChangeLog-pr-29124.yml
Labels: none

Automatic changelog for PR #29125 [ci skip]
  html/changelogs/AutoChangeLog-pr-29125.yml
Labels: none

Automatic changelog for PR #29126 [ci skip]
  html/changelogs/AutoChangeLog-pr-29126.yml
Labels: none

Automatic changelog for PR #29127 [ci skip]
  html/changelogs/AutoChangeLog-pr-29127.yml
Labels: none

Automatic changelog for PR #29129 [ci skip]
  html/changelogs/AutoChangeLog-pr-29129.yml
Labels: none

Automatic changelog for PR #29130 [ci skip]
  html/changelogs/AutoChangeLog-pr-29130.yml
Labels: none

Automatic changelog for PR #29132 [ci skip]
  html/changelogs/AutoChangeLog-pr-29132.yml
Labels: none

Automatic changelog for PR #29134 [ci skip]
  html/changelogs/AutoChangeLog-pr-29134.yml
Labels: none

Subtype vendor no longer requries an ID (#85383)
  code/modules/vending/subtype.dm
Labels: none

[NO GBP] Fixed advanced pods showing up as cultist pods (#85393)
  code/datums/pod_style.dm
Labels: none

Fixed spray can face spraying logic (#85375)
  code/game/objects/items/crayons.dm
Labels: none

RD can emag mech fabricator(like roboticist). (#85404)
  code/modules/vehicles/mecha/mech_fabricator.dm
Labels: none

Discounts now pick 4-6 items each from a unique category. Items that cost below 4 TC cannot get discounted anymore (#85398)
  code/__DEFINES/uplink.dm
  code/modules/antagonists/traitor/datum_traitor.dm
  code/modules/uplink/uplink_items.dm
  code/modules/uplink/uplink_items/suits.dm
Labels: none

Carps, frogs and young lobstrosities now fear the fishing hat! (#85380)
  code/__DEFINES/ai/ai_blackboard.dm
  code/__DEFINES/ai/monsters.dm
  code/__DEFINES/basic_mobs.dm
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/_globalvars/traits/admin_tooling.dm
  code/datums/ai/basic_mobs/basic_ai_behaviors/targeting.dm
  code/datums/ai/basic_mobs/basic_subtrees/find_targets_prioritize_traits.dm
  code/datums/ai/basic_mobs/basic_subtrees/flee_target.dm
  code/datums/ai/basic_mobs/basic_subtrees/simple_attack_target.dm
  code/datums/ai/basic_mobs/basic_subtrees/simple_find_target.dm
  code/modules/clothing/head/soft_caps.dm
  code/modules/mob/living/basic/lavaland/lobstrosity/lobstrosity_ai.dm
  code/modules/mob/living/basic/space_fauna/carp/carp_ai_actions.dm
  code/modules/mob/living/basic/space_fauna/carp/carp_ai_rift_actions.dm
  code/modules/mob/living/basic/space_fauna/carp/carp_controllers.dm
  code/modules/mob/living/basic/space_fauna/carp/megacarp.dm
  code/modules/mob/living/basic/vermin/frog.dm
  code/modules/mod/modules/modules_general.dm
  tgstation.dme
Labels: none

Replaces the "eyelight" with a "flashlight" in an ice ruin (#85374)
  _maps/RandomRuins/IceRuins/icemoon_underground_abandoned_plasma_facility.dmm
Labels: Map Modification

Heart eater wizard perk no longer works activates on organs that haven't been used before (#85367)
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/datums/components/heart_eater.dm
  code/modules/surgery/organs/organ_movement.dm
Labels: none

Mining MODsuit sprite changes + balance (#85353)
  code/__DEFINES/inventory.dm
  code/_globalvars/bitfields.dm
  code/modules/mob/living/carbon/inventory.dm
  code/modules/mob/mob_update_icons.dm
  code/modules/mod/mod_theme.dm
  code/modules/mod/mod_types.dm
  code/modules/mod/modules/modules_general.dm
  icons/mob/clothing/modsuit/mod_clothing.dmi
  icons/mob/clothing/modsuit/mod_modules.dmi
  icons/obj/clothing/modsuit/mod_clothing.dmi
  icons/obj/clothing/modsuit/mod_modules.dmi
Labels: Sprites

Players can now reorder items inside storages by dragging them (#85318)
  code/_onclick/hud/screen_objects.dm
  code/datums/storage/storage.dm
  code/datums/storage/storage_interface.dm
Labels: none

The Soundening: Security and guns edition.
  code/game/objects/items/grenades/_grenade.dm
  code/game/objects/items/handcuffs.dm
  code/game/objects/items/melee/baton.dm
  code/game/objects/items/shields.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/storage/holsters.dm
  code/modules/projectiles/guns/ballistic.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/reagents/reagent_containers/spray.dm
  sound/items/attributions.txt
  sound/items/grenade_drop.ogg
  sound/items/grenade_pick_up.ogg
  sound/items/gun_drop.ogg
  sound/items/gun_pick_up.ogg
  sound/items/handcuff_finish.ogg
  sound/items/handcuffs_drop.ogg
  sound/items/handcuffs_pick_up.ogg
  sound/items/holster.ogg
  sound/items/pepper_spray_drop.ogg
  sound/items/pepper_spray_pick_up.ogg
  sound/items/plastic_shield_drop.ogg
  sound/items/plastic_shield_pick_up.ogg
  sound/items/stun_baton_drop.ogg
  sound/items/stun_baton_pick_up.ogg
Labels: none

[NO GBP] Lil' fix to fishing hat PR.
  code/datums/ai/basic_mobs/basic_subtrees/flee_target.dm
  code/modules/mob/living/basic/space_fauna/carp/carp_ai_rift_actions.dm
Labels: none

Revert "Heretic spell invocations now use one dead language per path" (#85417)
  code/modules/antagonists/heretic/knowledge/ash_lore.dm
  code/modules/antagonists/heretic/knowledge/blade_lore.dm
  code/modules/antagonists/heretic/knowledge/cosmic_lore.dm
  code/modules/antagonists/heretic/knowledge/flesh_lore.dm
  code/modules/antagonists/heretic/knowledge/lock_lore.dm
  code/modules/antagonists/heretic/knowledge/moon_lore.dm
  code/modules/antagonists/heretic/knowledge/rust_lore.dm
  code/modules/antagonists/heretic/knowledge/starting_lore.dm
  code/modules/antagonists/heretic/knowledge/void_lore.dm
  code/modules/antagonists/heretic/magic/aggressive_spread.dm
  code/modules/antagonists/heretic/magic/apetravulnera.dm
  code/modules/antagonists/heretic/magic/ash_ascension.dm
  code/modules/antagonists/heretic/magic/ash_jaunt.dm
  code/modules/antagonists/heretic/magic/blood_cleave.dm
  code/modules/antagonists/heretic/magic/blood_siphon.dm
  code/modules/antagonists/heretic/magic/burglar_finesse.dm
  code/modules/antagonists/heretic/magic/cosmic_expansion.dm
  code/modules/antagonists/heretic/magic/cosmic_runes.dm
  code/modules/antagonists/heretic/magic/eldritch_blind.dm
  code/modules/antagonists/heretic/magic/eldritch_emplosion.dm
  code/modules/antagonists/heretic/magic/eldritch_shapeshift.dm
  code/modules/antagonists/heretic/magic/fire_blast.dm
  code/modules/antagonists/heretic/magic/flesh_ascension.dm
  code/modules/antagonists/heretic/magic/flesh_surgery.dm
  code/modules/antagonists/heretic/magic/furious_steel.dm
  code/modules/antagonists/heretic/magic/manse_link.dm
  code/modules/antagonists/heretic/magic/mansus_grasp.dm
  code/modules/antagonists/heretic/magic/mind_gate.dm
  code/modules/antagonists/heretic/magic/moon_parade.dm
  code/modules/antagonists/heretic/magic/moon_ringleader.dm
  code/modules/antagonists/heretic/magic/moon_smile.dm
  code/modules/antagonists/heretic/magic/nightwatcher_rebirth.dm
  code/modules/antagonists/heretic/magic/realignment.dm
  code/modules/antagonists/heretic/magic/rust_wave.dm
  code/modules/antagonists/heretic/magic/star_blast.dm
  code/modules/antagonists/heretic/magic/star_touch.dm
  code/modules/antagonists/heretic/magic/void_cold_cone.dm
  code/modules/antagonists/heretic/magic/void_phase.dm
  code/modules/antagonists/heretic/magic/void_pull.dm
  code/modules/antagonists/heretic/magic/wave_of_desperation.dm
Labels: none

Fixing one way of duplicating iron sheets (#85373)
  code/game/machinery/igniter.dm
  code/game/machinery/lightswitch.dm
Labels: none
