Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

Fixes access issues and button placement on Metastation
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Modification

fixes broken signal bitflag check (#85946)
  code/game/objects/items.dm
Labels: none

Doubles PACMAN power output, triples their sheet efficiency. Inducers can now be recharged with plasma. (#85950)
  code/game/objects/items/inducer.dm
  code/modules/power/cell.dm
  code/modules/power/port_gen.dm
Labels: none

Resprites utility belt tool overlays, fixes up grammar for CE's belt (#85955)
  code/game/objects/items/storage/belt.dm
  icons/obj/clothing/belt_overlays.dmi
Labels: Sprites

b
  modular_skyrat/modules/teshari/code/_clothing_defines.dm
  modular_skyrat/modules/teshari/code/teshari_clothes.dm
Labels: none

Update teshari_fallbacks.dmi
  modular_skyrat/modules/GAGS/icons/teshari_fallbacks.dmi
Labels: Sprites

Update labcoat.dmi
  modular_skyrat/master_files/icons/mob/clothing/suits/labcoat.dmi
Labels: Sprites

TG RD coat made available along SR RD coat; also oops'd wizrobe
  modular_skyrat/master_files/code/modules/clothing/suits/labcoat.dm
  modular_skyrat/master_files/icons/mob/clothing/suits/labcoat.dmi
  modular_skyrat/modules/GAGS/icons/teshari_fallbacks.dmi
  modular_skyrat/modules/command_vendor/code/vending.dm
Labels: Sprites

Update teshari_fallbacks.dmi
  modular_skyrat/modules/GAGS/icons/teshari_fallbacks.dmi
Labels: Sprites

s
  modular_skyrat/modules/GAGS/icons/neck/neck_teshari.dmi
  modular_skyrat/modules/GAGS/icons/suit/suit_teshari.dmi
Labels: Sprites

Revert "[MIRROR] Fix air alarm stuck in warning icon when area's alarms are cleared (#29424)"
  code/modules/atmospherics/machinery/air_alarm/_air_alarm.dm
Labels: none

Fix air alarm stuck in warning icon when area's alarms are cleared (#85746)
  code/modules/atmospherics/machinery/air_alarm/_air_alarm.dm
Labels: none

Revert "[MIRROR] Fix air alarm stuck in warning icon when area's alarms are cleared (#29424)" (#29480)
  code/modules/atmospherics/machinery/air_alarm/_air_alarm.dm
Labels: none

Fix typo in alexithymia mood code
  code/datums/mood.dm
Labels: none

Fix tab on empty line
  code/datums/mood.dm
Labels: none

[WALLENING] [BIRDSHOT] Even Further (2) Wallening Fixes
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Map Modification

Extinguisher cabinet resprite
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/structures/extinguisher.dm
  icons/obj/structures/cabinet.dmi
Labels: Sprites

Moved grav gen on runtime station
  _maps/map_files/debug/runtimestation.dmm
Labels: Map Modification

Cooldown for radio "message received" sound effects (#85958)
  code/game/objects/items/devices/radio/radio.dm
Labels: none

Resprites and changes how haunted 8ball polls ghosts (#85956)
  code/game/objects/items/eightball.dm
  icons/obj/toys/toy.dmi
Labels: Sprites

[NO GBP] Fixes examine balloons not being click transparent even while inactive
  code/__DEFINES/layers.dm
  code/_onclick/hud/rendering/plane_masters/plane_master_subtypes.dm
  code/datums/keybinding/living.dm
Labels: none

Replaces a locked cabinet that you cannot open in ninja den with an unlocked one (#85984)
  _maps/templates/lazy_templates/ninja_den.dmm
Labels: Map Modification

Engineers can now use Air Alarms 3: A New Headcoder (#85881)
  code/modules/atmospherics/machinery/air_alarm/_air_alarm.dm
Labels: none

[MIRROR] Engineers can now use Air Alarms 3: A New Headcoder (#29491)
  code/modules/atmospherics/machinery/air_alarm/_air_alarm.dm
Labels: none

Automatic changelog for PR #29491 [ci skip]
  html/changelogs/AutoChangeLog-pr-29491.yml
Labels: none

Updates cryostasis beaker's sprite (#85972)
  icons/obj/medical/chemical.dmi
Labels: Sprites

Ragnarok deathmatch arena now has noteleport area
  _maps/deathmatch/ragnarok.dmm
Labels: Map Modification

Computer console sounds
  code/__DEFINES/sound.dm
  code/game/machinery/computer/_computer.dm
  code/game/machinery/computer/camera.dm
  code/game/machinery/computer/communications.dm
  code/game/machinery/computer/records/records.dm
  code/game/sound.dm
  code/modules/modular_computers/computers/item/computer.dm
  code/modules/wiremod/shell/controller.dm
  sound/machines/computer/attribution.txt
  sound/machines/computer/keyboard_clicks_1.ogg
  sound/machines/computer/keyboard_clicks_2.ogg
  sound/machines/computer/keyboard_clicks_3.ogg
  sound/machines/computer/keyboard_clicks_4.ogg
  sound/machines/computer/keyboard_clicks_5.ogg
  sound/machines/computer/keyboard_clicks_6.ogg
  sound/machines/computer/keyboard_clicks_7.ogg
Labels: none

[MIRROR] Wardrobe preloads backpack contents (#29471)
  code/datums/outfit.dm
Labels: none

[MIRROR] Updates cryostasis beaker's sprite (#29492)
  icons/obj/medical/chemical.dmi
Labels: Sprites

[MIRROR] portable gravity machine (#29429)
  code/__DEFINES/icon_smoothing.dm
  code/datums/proximity_monitor/fields/gravity.dm
  code/game/machinery/portagrav.dm
  code/game/objects/effects/particles/gravity.dm
  code/game/objects/items/circuitboards/machines/machine_circuitboards.dm
  code/modules/cargo/packs/engineering.dm
  icons/obj/machines/gravity_generator.dmi
  icons/obj/smooth_structures/grav_field.dmi
  icons/obj/smooth_structures/grav_field.png
  icons/obj/smooth_structures/grav_field.png.toml
  icons/obj/smooth_structures/grav_field_emissive.dmi
  icons/obj/smooth_structures/grav_field_emissive.png
  icons/obj/smooth_structures/grav_field_emissive.png.toml
  tgstation.dme
  tgui/packages/tgui/interfaces/Portagrav.tsx
Labels: Sprites

Beepsky no longer salutes itself like a total narcissist (#85960)
  code/modules/mob/living/simple_animal/bot/bot.dm
Labels: none

Icemoon cliffside bench area adjustments (very small) (#85964)
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
Labels: Map Modification

[MIRROR] Vomiting from disgust now removes 50 disgust from you (#29469)
  code/modules/surgery/organs/internal/stomach/_stomach.dm
Labels: none

Automatic changelog for PR #29492 [ci skip]
  html/changelogs/AutoChangeLog-pr-29492.yml
Labels: none

Automatic changelog for PR #29429 [ci skip]
  html/changelogs/AutoChangeLog-pr-29429.yml
Labels: none

Automatic changelog for PR #29469 [ci skip]
  html/changelogs/AutoChangeLog-pr-29469.yml
Labels: none

its simple as that
  code/game/machinery/computer/communications.dm
Labels: none

[MIRROR] Cooldown for radio "message received" sound effects (#29485)
  code/game/objects/items/devices/radio/radio.dm
Labels: none

Fix typo in alexithymia sanity examine (#29481)
  code/datums/mood.dm
Labels: none

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'
