Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'

Space Heaters no longer deplete their starting cell instantly, and scale appropriately
  code/game/machinery/spaceheater.dm
Labels: none

more cool stuff
  modular_skyrat/master_files/code/modules/client/preferences/middleware/languages.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/LanguagesMenu.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/data.ts
Labels: none

womp
  modular_skyrat/master_files/code/modules/client/preferences/middleware/languages.dm
Labels: none

hypospray fixes
  modular_skyrat/modules/hyposprays/code/hyposprays_II.dm
  modular_skyrat/modules/hyposprays/icons/hypokits.dmi
  modular_skyrat/modules/hyposprays/icons/hyposprays.dmi
Labels: Sprites

icon
  modular_skyrat/modules/hyposprays/icons/hypokits.dmi
  modular_skyrat/modules/hyposprays/icons/hyposprays.dmi
Labels: Sprites

update_appearance
  modular_skyrat/modules/hyposprays/code/hyposprays_II.dm
Labels: none

New Microscope UI (#84298)
  code/modules/research/xenobiology/vatgrowing/microscope.dm
  code/modules/research/xenobiology/vatgrowing/samples/_micro_organism.dm
  code/modules/research/xenobiology/vatgrowing/samples/cell_lines/common.dm
  tgui/packages/tgui/interfaces/Microscope.jsx
  tgui/packages/tgui/interfaces/Microscope.tsx
Labels: none

General maintenance for Flat Packer (#84256)
  code/game/machinery/autolathe.dm
  code/game/machinery/flatpacker.dm
  icons/obj/machines/lathes.dmi
  tgui/packages/tgui/interfaces/Flatpacker.tsx
Labels: Sprites

code review: not required
  modular_skyrat/modules/hyposprays/code/hyposprays_II.dm
Labels: none

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-28393.yml
  html/changelogs/AutoChangeLog-pr-28395.yml
  html/changelogs/AutoChangeLog-pr-28397.yml
  html/changelogs/AutoChangeLog-pr-28399.yml
  html/changelogs/AutoChangeLog-pr-28401.yml
  html/changelogs/AutoChangeLog-pr-28402.yml
  html/changelogs/AutoChangeLog-pr-28403.yml
  html/changelogs/AutoChangeLog-pr-28404.yml
  html/changelogs/AutoChangeLog-pr-28405.yml
  html/changelogs/AutoChangeLog-pr-28406.yml
  html/changelogs/AutoChangeLog-pr-28407.yml
  html/changelogs/AutoChangeLog-pr-28408.yml
  html/changelogs/AutoChangeLog-pr-28409.yml
  html/changelogs/AutoChangeLog-pr-28410.yml
  html/changelogs/AutoChangeLog-pr-28411.yml
  html/changelogs/AutoChangeLog-pr-28412.yml
  html/changelogs/AutoChangeLog-pr-28413.yml
  html/changelogs/AutoChangeLog-pr-28414.yml
  html/changelogs/AutoChangeLog-pr-28416.yml
  html/changelogs/AutoChangeLog-pr-28417.yml
  html/changelogs/AutoChangeLog-pr-28418.yml
  html/changelogs/AutoChangeLog-pr-28420.yml
  html/changelogs/AutoChangeLog-pr-28421.yml
  html/changelogs/archive/2024-06.yml
Labels: none

Xenobio Slime Extract Nerfs (#84314)
  code/game/objects/items/stacks/sheets/mineral.dm
  code/modules/reagents/chemistry/recipes/slime_extracts.dm
Labels: none

Birdshot Service Fixes (#84387)
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Map Modification

Ashwalkers now start out in their proper faction; Lavaland mobs also have this if ashwalkers don't attack them
  code/game/objects/structures/lavaland/necropolis_tendril.dm
  code/modules/antagonists/ashwalker/ashwalker.dm
  code/modules/mob/living/basic/lavaland/mining.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
Labels: none

Voltaic Combat Cybernetic Heart. (#84174)
  code/modules/research/designs/medical_designs.dm
  code/modules/research/techweb/nodes/research_nodes.dm
  code/modules/surgery/organs/internal/heart/heart_anomalock.dm
  icons/effects/effects.dmi
  icons/hud/screen_alert.dmi
  icons/obj/medical/organs/organs.dmi
  sound/items/eshield_recharge.ogg
  tgstation.dme
Labels: Sprites

Hypospray fixes (#28425)
  modular_skyrat/modules/hyposprays/code/hyposprays_II.dm
  modular_skyrat/modules/hyposprays/icons/hypokits.dmi
  modular_skyrat/modules/hyposprays/icons/hyposprays.dmi
Labels: Sprites

Automatic changelog for PR #28425 [ci skip]
  html/changelogs/AutoChangeLog-pr-28425.yml
Labels: none

[MIRROR] New Microscope UI (#28426)
  code/modules/research/xenobiology/vatgrowing/microscope.dm
  code/modules/research/xenobiology/vatgrowing/samples/_micro_organism.dm
  code/modules/research/xenobiology/vatgrowing/samples/cell_lines/common.dm
  tgui/packages/tgui/interfaces/Microscope.jsx
  tgui/packages/tgui/interfaces/Microscope.tsx
Labels: none

[MIRROR] General maintenance for Flat Packer (#28427)
  code/game/machinery/autolathe.dm
  code/game/machinery/flatpacker.dm
  icons/obj/machines/lathes.dmi
  tgui/packages/tgui/interfaces/Flatpacker.tsx
Labels: Sprites

Automatic changelog for PR #28426 [ci skip]
  html/changelogs/AutoChangeLog-pr-28426.yml
Labels: none

[MIRROR] Xenobio Slime Extract Nerfs (#28428)
  code/game/objects/items/stacks/sheets/mineral.dm
  code/modules/reagents/chemistry/recipes/slime_extracts.dm
Labels: none

[MIRROR] Birdshot Service Fixes (#28429)
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Map Modification

[MIRROR] Voltaic Combat Cybernetic Heart. (#28431)
  code/modules/research/designs/medical_designs.dm
  code/modules/research/techweb/nodes/research_nodes.dm
  code/modules/surgery/organs/internal/heart/heart_anomalock.dm
  icons/effects/effects.dmi
  icons/hud/screen_alert.dmi
  icons/obj/medical/organs/organs.dmi
  sound/items/eshield_recharge.ogg
  tgstation.dme
Labels: Sprites

Automatic changelog for PR #28427 [ci skip]
  html/changelogs/AutoChangeLog-pr-28427.yml
Labels: none

Automatic changelog for PR #28428 [ci skip]
  html/changelogs/AutoChangeLog-pr-28428.yml
Labels: none

Automatic changelog for PR #28429 [ci skip]
  html/changelogs/AutoChangeLog-pr-28429.yml
Labels: none

Automatic changelog for PR #28431 [ci skip]
  html/changelogs/AutoChangeLog-pr-28431.yml
Labels: none

Update pistol.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/nanotrasen_system_inc/pistol.dm
Labels: none

Fixes dorm and bathroom airlock buttons on Birdshot (#84369)
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Map Modification

Fixes pipe visibility in Northstar ordnance lab (#84370)
  _maps/map_files/NorthStar/north_star.dmm
Labels: Map Modification

[MIRROR] Fixes dorm and bathroom airlock buttons on Birdshot (#28432)
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Map Modification

[MIRROR] Fixes pipe visibility in Northstar ordnance lab (#28433)
  _maps/map_files/NorthStar/north_star.dmm
Labels: Map Modification

Automatic changelog for PR #28432 [ci skip]
  html/changelogs/AutoChangeLog-pr-28432.yml
Labels: none

Automatic changelog for PR #28433 [ci skip]
  html/changelogs/AutoChangeLog-pr-28433.yml
Labels: none

You can access your inventory when lying down (#84380)
  code/datums/storage/storage.dm
Labels: none

Lavaland mobs are friendly now to Lavaland elite (#84377)
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/elite.dm
Labels: none

Removes a bush from the wall on tramstation (#84378)
  _maps/map_files/tramstation/tramstation.dmm
Labels: Map Modification

[no gbp] small fixes to qm room (#84376)
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Modification

Fix active turfs in icebox listening post ruin (#84372)
  _maps/RandomRuins/IceRuins/icemoon_underground_comms_agent.dmm
  code/game/turfs/open/floor/plating/misc_plating.dm
Labels: Map Modification

Add pouring sounds to pouring reagents (#84371)
  code/modules/reagents/reagent_containers/cups/_cup.dm
  sound/attributions.txt
  sound/effects/liquid_pour1.ogg
  sound/effects/liquid_pour2.ogg
  sound/effects/liquid_pour3.ogg
Labels: none

icon
  modular_skyrat/modules/hyposprays/icons/hypokits.dmi
  modular_skyrat/modules/hyposprays/icons/hyposprays.dmi
Labels: Sprites
