Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

Kills spooky_meteor.dmi, updates the meteor variant contained within. (#84477)
  code/modules/meteors/meteor_types.dm
  icons/obj/meteor.dmi
  icons/obj/meteor_spooky.dmi
Labels: Sprites

Adds the DET.ekt Skillchip, upgrading the detective's sense of taste. (#84469)
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/modules/jobs/job_types/detective.dm
  code/modules/library/skill_learning/job_skillchips/detective.dm
  code/modules/reagents/chemistry/reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  tgstation.dme
Labels: none

Update _job.dm
  code/modules/jobs/job_types/_job.dm
Labels: none

Update VoidRaptor.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Map Modification

Update KiloStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Map Modification

Fixes The Arcade Machine Telling You That You Don't Have Enough MP To Counterattack When You Try To Heavy Attack With Insufficient MP (#84461)
  code/game/machinery/computer/arcade/battle.dm
Labels: none

Pyrokinesis bolts no longer have infinite range and hotspots (#84484)
  code/modules/projectiles/projectile/special/temperature.dm
Labels: none

Reduces amount of visual noise on ID cards (#84442)
  icons/obj/card.dmi
Labels: Sprites

Small Wawastation area and disposals fixes (#84457)
  _maps/map_files/wawastation/wawastation.dmm
Labels: Map Modification

fixes brig timer ui
  code/game/machinery/doors/brigdoors.dm
Labels: none

Ancient and recent mecha bug fixes (#84171)
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_main.dm
  code/datums/elements/relay_attackers.dm
  code/modules/mob/living/basic/lavaland/watcher/watcher_overwatch.dm
  code/modules/vehicles/mecha/_mecha.dm
  code/modules/vehicles/mecha/equipment/weapons/weapons.dm
  code/modules/vehicles/mecha/mech_melee_attack.dm
  code/modules/vehicles/mecha/mecha_movement.dm
Labels: none

Heretic spell invocations now use one dead language per path (#84068)
  code/modules/antagonists/heretic/knowledge/ash_lore.dm
  code/modules/antagonists/heretic/knowledge/blade_lore.dm
  code/modules/antagonists/heretic/knowledge/cosmic_lore.dm
  code/modules/antagonists/heretic/knowledge/flesh_lore.dm
  code/modules/antagonists/heretic/knowledge/lock_lore.dm
  code/modules/antagonists/heretic/knowledge/moon_lore.dm
  code/modules/antagonists/heretic/knowledge/rust_lore.dm
  code/modules/antagonists/heretic/knowledge/starting_lore.dm
  code/modules/antagonists/heretic/knowledge/void_lore.dm
  code/modules/antagonists/heretic/magic/aggressive_spread.dm
  code/modules/antagonists/heretic/magic/apetravulnera.dm
  code/modules/antagonists/heretic/magic/ash_ascension.dm
  code/modules/antagonists/heretic/magic/ash_jaunt.dm
  code/modules/antagonists/heretic/magic/blood_cleave.dm
  code/modules/antagonists/heretic/magic/blood_siphon.dm
  code/modules/antagonists/heretic/magic/burglar_finesse.dm
  code/modules/antagonists/heretic/magic/cosmic_expansion.dm
  code/modules/antagonists/heretic/magic/cosmic_runes.dm
  code/modules/antagonists/heretic/magic/eldritch_blind.dm
  code/modules/antagonists/heretic/magic/eldritch_emplosion.dm
  code/modules/antagonists/heretic/magic/eldritch_shapeshift.dm
  code/modules/antagonists/heretic/magic/fire_blast.dm
  code/modules/antagonists/heretic/magic/flesh_ascension.dm
  code/modules/antagonists/heretic/magic/flesh_surgery.dm
  code/modules/antagonists/heretic/magic/furious_steel.dm
  code/modules/antagonists/heretic/magic/manse_link.dm
  code/modules/antagonists/heretic/magic/mansus_grasp.dm
  code/modules/antagonists/heretic/magic/mind_gate.dm
  code/modules/antagonists/heretic/magic/moon_parade.dm
  code/modules/antagonists/heretic/magic/moon_ringleader.dm
  code/modules/antagonists/heretic/magic/moon_smile.dm
  code/modules/antagonists/heretic/magic/nightwatcher_rebirth.dm
  code/modules/antagonists/heretic/magic/realignment.dm
  code/modules/antagonists/heretic/magic/rust_wave.dm
  code/modules/antagonists/heretic/magic/star_blast.dm
  code/modules/antagonists/heretic/magic/star_touch.dm
  code/modules/antagonists/heretic/magic/void_cold_cone.dm
  code/modules/antagonists/heretic/magic/void_phase.dm
  code/modules/antagonists/heretic/magic/void_pull.dm
  code/modules/antagonists/heretic/magic/wave_of_desperation.dm
Labels: none

Bounty Hunters have personalized arrival announcements (#84148)
  code/modules/events/ghost_role/fugitive_event.dm
Labels: none

Genetics coats can hold genetics scanners (#84441)
  code/modules/clothing/suits/labcoat.dm
  code/modules/clothing/suits/wintercoats.dm
Labels: none

station side raptor tweaks (#84306)
  code/datums/components/riding/riding_mob.dm
  code/modules/mob/living/basic/lavaland/raptor/_raptor.dm
Labels: none

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-28241.yml
  html/changelogs/AutoChangeLog-pr-28424.yml
  html/changelogs/AutoChangeLog-pr-28442.yml
  html/changelogs/AutoChangeLog-pr-28449.yml
  html/changelogs/AutoChangeLog-pr-28483.yml
  html/changelogs/AutoChangeLog-pr-28484.yml
  html/changelogs/AutoChangeLog-pr-28485.yml
  html/changelogs/AutoChangeLog-pr-28486.yml
  html/changelogs/AutoChangeLog-pr-28487.yml
  html/changelogs/AutoChangeLog-pr-28489.yml
  html/changelogs/AutoChangeLog-pr-28490.yml
  html/changelogs/AutoChangeLog-pr-28491.yml
  html/changelogs/AutoChangeLog-pr-28492.yml
  html/changelogs/AutoChangeLog-pr-28493.yml
  html/changelogs/AutoChangeLog-pr-28494.yml
  html/changelogs/AutoChangeLog-pr-28495.yml
  html/changelogs/AutoChangeLog-pr-28496.yml
  html/changelogs/AutoChangeLog-pr-28500.yml
  html/changelogs/AutoChangeLog-pr-28502.yml
  html/changelogs/archive/2024-07.yml
Labels: none

tgui: Power monitor refactor, tgui-core bump (#84486)
  tgui/packages/tgui/interfaces/NtosPowerMonitor.tsx
  tgui/packages/tgui/interfaces/PowerMonitor.jsx
  tgui/packages/tgui/interfaces/PowerMonitor.tsx
  tgui/packages/tgui/package.json
  tgui/yarn.lock
Labels: none

Implements Cardinal Smoothing Support, Misc Smoothing Cleanup (#84402)
  code/__DEFINES/icon_smoothing.dm
  code/__HELPERS/icon_smoothing.dm
  code/game/objects/effects/decals/cleanable/misc.dm
  code/game/objects/structures.dm
  code/game/objects/structures/grille.dm
  code/game/objects/structures/mineral_doors.dm
  code/game/objects/structures/tables_racks.dm
  code/game/objects/structures/window.dm
  code/game/turfs/open/_open.dm
  code/game/turfs/open/asteroid.dm
  code/game/turfs/open/floor/fancy_floor.dm
  code/game/turfs/open/grass.dm
  code/game/turfs/turf.dm
  code/modules/holodeck/turfs.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/hierophant.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/elite.dm
  code/modules/shuttle/shuttle_rotate.dm
Labels: none

Makes extinguisher has_reagent check subtypes (#84403)
  code/game/objects/items/extinguisher.dm
Labels: none

Add pickup and placing sound for beakers
  code/modules/reagents/reagent_containers/cups/_cup.dm
  sound/attributions.txt
  sound/items/handling/beaker_pickup.ogg
  sound/items/handling/beaker_place.ogg
Labels: none

Fix /datum/weakref appearing when linking airlock heretic portals (#84465)
  code/modules/antagonists/heretic/items/keyring.dm
Labels: none

Seedlings are now properly apart of the "Plant" faction (#84488)
  code/modules/mob/living/basic/jungle/seedling/seedling.dm
Labels: none

buffs portable air scrubbers
  code/modules/atmospherics/machinery/portable/scrubber.dm
Labels: none

Fixes Hand of Midas not working in melee range (#84491)
  code/modules/projectiles/guns/special/hand_of_midas.dm
Labels: none

Moving some inventory-related procs to the right files.
  code/modules/mob/inventory.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/mob/living/carbon/inventory.dm
  code/modules/mob/mob.dm
Labels: none

Fulton animation is no longer sideways and it does not sleep for 32 seconds before returning item_interaction results (#84487)
  code/__DEFINES/traits/sources.dm
  code/modules/mining/fulton.dm
Labels: none

Update pistol.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/nanotrasen_system_inc/pistol.dm
Labels: none

Update pistol.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/nanotrasen_system_inc/pistol.dm
Labels: none

Update pistol.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/nanotrasen_system_inc/pistol.dm
Labels: none

Update rifle.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/rifle.dm
Labels: none

Automatic changelog for PR #28512 [ci skip]
  html/changelogs/AutoChangeLog-pr-28512.yml
Labels: none

Automatic changelog for PR #28515 [ci skip]
  html/changelogs/AutoChangeLog-pr-28515.yml
Labels: none

Automatic changelog for PR #28520 [ci skip]
  html/changelogs/AutoChangeLog-pr-28520.yml
Labels: none

Automatic changelog for PR #28503 [ci skip]
  html/changelogs/AutoChangeLog-pr-28503.yml
Labels: none

Automatic changelog for PR #28534 [ci skip]
  html/changelogs/AutoChangeLog-pr-28534.yml
Labels: none

Automatic changelog for PR #28525 [ci skip]
  html/changelogs/AutoChangeLog-pr-28525.yml
Labels: none

Automatic changelog for PR #28509 [ci skip]
  html/changelogs/AutoChangeLog-pr-28509.yml
Labels: none

Automatic changelog for PR #28505 [ci skip]
  html/changelogs/AutoChangeLog-pr-28505.yml
Labels: none

Automatic changelog for PR #28504 [ci skip]
  html/changelogs/AutoChangeLog-pr-28504.yml
Labels: none

Automatic changelog for PR #28510 [ci skip]
  html/changelogs/AutoChangeLog-pr-28510.yml
Labels: none

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'
