Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'

Update rifle.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/ammo/rifle.dm
Labels: none

Update magazines.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/magazines.dm
Labels: none

Automatic changelog for PR #28678 [ci skip]
  html/changelogs/AutoChangeLog-pr-28678.yml
Labels: none

Update magazine.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/nanotrasen_system_inc/magazine.dm
Labels: none

Imports from Shiptest, new Cap Drip!
  modular_skyrat/master_files/code/modules/clothing/under/jobs/command.dm
  modular_skyrat/master_files/icons/mob/clothing/head.dmi
  modular_skyrat/master_files/icons/mob/clothing/suits/armor.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/command.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/command_digi.dmi
  modular_skyrat/master_files/icons/obj/clothing/hats.dmi
  modular_skyrat/master_files/icons/obj/clothing/suits/armor.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/command.dmi
  modular_skyrat/modules/command_vendor/code/vending.dm
  modular_skyrat/modules/customization/modules/clothing/head/head.dm
  modular_skyrat/modules/customization/modules/clothing/suits/armor.dm
Labels: Sprites

Update cargo_stuff.dm
  modular_skyrat/modules/sec_haul/code/guns/cargo_stuff.dm
Labels: none

Update cargo_stuff.dm
  modular_skyrat/modules/sec_haul/code/guns/cargo_stuff.dm
Labels: none

Update gun_redemption.dm
  modular_skyrat/modules/sec_haul/code/misc/gun_redemption.dm
Labels: none

what
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/nanotrasen_system_inc/pistol.dm
  modular_skyrat/modules/sec_haul/code/misc/gun_redemption.dm
Labels: none

Whoopsy
  modular_skyrat/master_files/icons/obj/clothing/suits/armor.dmi
  modular_skyrat/modules/customization/modules/clothing/head/head.dm
Labels: Sprites

Properly fixes Mending Touch (#84569)
  code/datums/mutations/touch.dm
  code/modules/mob/living/blood.dm
Labels: none

Update rifle.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/ammo/rifle.dm
Labels: none

Reverts Strongdmm Visual Patch
  code/__DEFINES/layers.dm
Labels: none

Bow Update: Fletching instruction manual, bows using projectile damage multipliers, unhardcoded bow sprites, hot pink death
  code/datums/components/crafting/entertainment.dm
  code/datums/components/crafting/equipment.dm
  code/datums/components/crafting/ranged_weapon.dm
  code/datums/components/crafting/weapon_ammo.dm
  code/game/objects/items/granters/crafting/fletching.dm
  code/modules/capture_the_flag/medieval_sim/medisim_classes.dm
  code/modules/cargo/packs/imports.dm
  code/modules/cargo/packs/service.dm
  code/modules/projectiles/guns/ballistic/bows/_bow.dm
  code/modules/projectiles/guns/ballistic/bows/bow_arrows.dm
  code/modules/projectiles/guns/ballistic/bows/bow_quivers.dm
  code/modules/projectiles/guns/ballistic/bows/bow_types.dm
  icons/obj/weapons/bows/arrows.dmi
  icons/obj/weapons/bows/bows.dmi
  tgstation.dme
Labels: Sprites

Last loadout fixes to make it on par with the old system
  code/modules/loadout/loadout_helpers.dm
  modular_skyrat/master_files/code/modules/loadout/category_rebalance.dm
  tgstation.dme
Labels: none

Loadout Descriptions (#28665)
  code/__DEFINES/~skyrat_defines/loadout.dm
  code/modules/loadout/loadout_items.dm
  tgui/packages/tgui/interfaces/LoadoutManager.tsx
Labels: none

Imports from Shiptest, new Cap Drip! (#28679)
  modular_skyrat/master_files/code/modules/clothing/under/jobs/command.dm
  modular_skyrat/master_files/icons/mob/clothing/head.dmi
  modular_skyrat/master_files/icons/mob/clothing/suits/armor.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/command.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/command_digi.dmi
  modular_skyrat/master_files/icons/obj/clothing/hats.dmi
  modular_skyrat/master_files/icons/obj/clothing/suits/armor.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/command.dmi
  modular_skyrat/modules/command_vendor/code/vending.dm
  modular_skyrat/modules/customization/modules/clothing/head/head.dm
  modular_skyrat/modules/customization/modules/clothing/suits/armor.dm
Labels: Sprites

[MIRROR] Properly fixes Mending Touch (#28680)
  code/datums/mutations/touch.dm
  code/modules/mob/living/blood.dm
Labels: none

Automatic changelog for PR #28665 [ci skip]
  html/changelogs/AutoChangeLog-pr-28665.yml
Labels: none

Automatic changelog for PR #28679 [ci skip]
  html/changelogs/AutoChangeLog-pr-28679.yml
Labels: none

how did we mess this up so badly
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/nanotrasen_system_inc/pistol.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/rifle.dm
Labels: none

be more thorough next time?
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/nanotrasen_system_inc/pistol.dm
Labels: none

12% chance of a ouija board spawning in the chaplain office. (#84615)
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/tramstation/tramstation.dmm
  code/game/objects/effects/spawners/random/structure.dm
  icons/effects/random_spawners.dmi
Labels: Map Modification, Sprites

Search Bar in Vending Machines (#84720)
  tgui/packages/tgui/interfaces/Vending.tsx
Labels: none

Fixes a missing firelock on wawa (#84721)
  _maps/map_files/wawastation/wawastation.dmm
Labels: Map Modification

fixed
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/nanotrasen_system_inc/pistol.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/ammo/rifle.dm
  modular_skyrat/modules/sec_haul/code/misc/gun_redemption.dm
Labels: none

Update pistol.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/nanotrasen_system_inc/pistol.dm
Labels: none

Automatic changelog for PR #28687 [ci skip]
  html/changelogs/AutoChangeLog-pr-28687.yml
Labels: none

Adds informed default values for a bunch of preferences (to produce less outlandish random characters)
  code/__HELPERS/mobs.dm
  code/modules/admin/create_mob.dm
  code/modules/client/preferences/_preference.dm
  code/modules/client/preferences/age.dm
  code/modules/client/preferences/blindfold_color.dm
  code/modules/client/preferences/body_type.dm
  code/modules/client/preferences/clothing.dm
  code/modules/client/preferences/gender.dm
  code/modules/client/preferences/glasses.dm
  code/modules/client/preferences/language.dm
  code/modules/client/preferences/prosthetic_limb.dm
  code/modules/client/preferences/prosthetic_organ.dm
  code/modules/client/preferences/species_features/basic.dm
  code/modules/client/preferences/species_features/felinid.dm
  code/modules/client/preferences/species_features/lizard.dm
  code/modules/client/preferences/species_features/monkey.dm
  code/modules/client/preferences/trans_prosthetic.dm
  code/modules/client/preferences_savefile.dm
Labels: none

[no gbp] fixes watchers making raptors freak out (#84719)
  code/datums/components/riding/riding_mob.dm
Labels: none

All jetpacks are no longer full-speed (#84712)
  code/game/objects/items/tanks/jetpack.dm
  code/modules/mod/mod_types.dm
  code/modules/mod/modules/modules_general.dm
  code/modules/movespeed/modifiers/items.dm
Labels: none

mood is more reactive to area beauty changes, also flips it for people with morbid trait. (#84641)
  code/__DEFINES/dcs/signals/signals_area.dm
  code/datums/mood.dm
  code/datums/mood_events/beauty_events.dm
  code/game/area/areas.dm
Labels: none

Update rifle.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/ammo/rifle.dm
Labels: none

tgui: custom font bluescreen fix, typescript'd (#84601)
  tgui/packages/tgui-panel/settings/SettingsGeneral.tsx
  tgui/packages/tgui-panel/settings/SettingsPanel.jsx
  tgui/packages/tgui-panel/settings/SettingsPanel.tsx
  tgui/packages/tgui-panel/settings/TextHighlight.tsx
  tgui/packages/tgui-panel/settings/middleware.js
  tgui/packages/tgui-panel/settings/middleware.ts
  tgui/packages/tgui-panel/settings/reducer.js
  tgui/packages/tgui-panel/settings/reducer.ts
Labels: none

Update rifle.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/ammo/rifle.dm
Labels: none

Adjusts medical techweb nodes (#84706)
  code/modules/experisci/experiment/experiments.dm
  code/modules/research/techweb/nodes/atmos_nodes.dm
  code/modules/research/techweb/nodes/medbay_nodes.dm
Labels: none

Adds additional equipment for Silverscales.
  _maps/shuttles/pirate_silverscale.dmm
  code/modules/antagonists/pirate/pirate_outfits.dm
  code/modules/clothing/spacesuits/pirate.dm
  code/modules/clothing/spacesuits/syndi.dm
  code/modules/projectiles/ammunition/ballistic/rifle.dm
  code/modules/projectiles/boxes_magazines/ammo_boxes.dm
  code/modules/projectiles/boxes_magazines/internal/rifle.dm
  code/modules/projectiles/guns/ballistic/rifle.dm
  code/modules/projectiles/projectile/bullets/rifle.dm
  icons/mob/clothing/head/spacehelm.dmi
  icons/mob/clothing/suits/spacesuit.dmi
  icons/obj/clothing/head/spacehelm.dmi
  icons/obj/clothing/suits/spacesuit.dmi
Labels: Map Modification, Sprites

Night Vision Goggles update (#84594)
  code/datums/actions/items/toggles.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/game/objects/structures/crates_lockers/closets/syndicate.dm
  code/modules/antagonists/cult/cult_items.dm
  code/modules/antagonists/ninja/outfit.dm
  code/modules/antagonists/nukeop/outfits.dm
  code/modules/client/client_colour.dm
  code/modules/clothing/glasses/_glasses.dm
  code/modules/clothing/glasses/hud.dm
  code/modules/clothing/outfits/ert.dm
  code/modules/mob_spawn/ghost_roles/unused_roles.dm
  icons/mob/clothing/eyes.dmi
  icons/obj/clothing/glasses.dmi
  sound/items/attributions.txt
  sound/items/night_vision_on.ogg
Labels: Sprites

Adds a config that skews random spawners weights. (#84616)
  code/controllers/configuration/entries/game_options.dm
  code/game/objects/effects/spawners/random/random.dm
  config/game_options.txt
Labels: none

[NO GBP] Fixes hoverboard being able to be used in space. (#84533)
  code/__DEFINES/is_helpers.dm
  code/datums/ai/basic_mobs/basic_subtrees/go_for_swim.dm
  code/datums/components/riding/riding_vehicle.dm
  code/datums/elements/floorloving.dm
  code/modules/events/space_vines/vine_structure.dm
  code/modules/mob/living/basic/lavaland/goliath/tentacle.dm
  code/modules/mob/living/basic/pets/parrot/parrot_ai/parrot_hoarding.dm
Labels: none
