Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'

[MIRROR] doors no longer push air away during unit tests (#29369)
  code/modules/atmospherics/environmental/LINDA_system.dm
Labels: none

Anti Speed Merge (#85865)
  code/modules/atmospherics/environmental/LINDA_system.dm
Labels: none

[MIRROR] Anti Speed Merge (#29375)
  code/modules/atmospherics/environmental/LINDA_system.dm
Labels: none

Metastation Wallening update part 1
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Modification

[MIRROR] Raptor faction fix (#29383)
  .gitignore
  code/modules/mob/living/basic/lavaland/raptor/raptor_ai_controller.dm
Labels: none

Automatic changelog for PR #29383 [ci skip]
  html/changelogs/AutoChangeLog-pr-29383.yml
Labels: none

[MIRROR] Block atmos processing on ReservedTurfs\:tm: (#29368)
  code/controllers/subsystem/mapping.dm
  code/modules/atmospherics/environmental/LINDA_turf_tile.dm
  code/modules/mapping/space_management/space_reservation.dm
Labels: none

[MIRROR] Fixes potted plants permanently altering your identity [no gbp] (#29380)
  code/datums/components/tactical.dm
Labels: none

Automatic changelog for PR #29380 [ci skip]
  html/changelogs/AutoChangeLog-pr-29380.yml
Labels: none

pixel
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/suit.dmi
Labels: Sprites

Fixes welding and coil logic on robotic limb fixing (#85857)
  code/game/objects/items/tools/weldingtool.dm
  code/modules/power/cable.dm
Labels: none

Makes the Voidwalker wisp void loop (#85856)
  code/modules/antagonists/voidwalker/voidwalker_kidnap.dm
Labels: none

Adds a treasure chest to the ocean/beach fishing spot. (#85276)
  _maps/RandomZLevels/TheBeach.dmm
  code/__DEFINES/language.dm
  code/game/area/areas/away_content.dm
  code/game/objects/effects/spawners/random/exotic.dm
  code/game/objects/effects/spawners/random/food_or_drink.dm
  code/game/objects/items/circuitboards/machines/machine_circuitboards.dm
  code/game/objects/items/food/bait.dm
  code/game/objects/items/weaponry.dm
  code/game/objects/structures/cannons/cannon.dm
  code/game/objects/structures/mystery_box.dm
  code/modules/awaymissions/mission_code/Beach.dm
  code/modules/fishing/aquarium/aquarium_kit.dm
  code/modules/fishing/bait.dm
  code/modules/fishing/fish/_fish.dm
  code/modules/fishing/fishing_equipment.dm
  code/modules/fishing/fishing_portal_machine.dm
  code/modules/fishing/sources/source_types.dm
  code/modules/language/_language_manuals.dm
  code/modules/mob_spawn/corpses/mob_corpses.dm
  code/modules/reagents/chemistry/reagents/drinks/alcohol_reagents.dm
  code/modules/reagents/reagent_containers/cups/bottle.dm
  code/modules/reagents/reagent_containers/cups/glassbottle.dm
  icons/obj/drinks/bottles.dmi
  icons/obj/fishing.dmi
  icons/obj/service/library.dmi
  icons/obj/storage/box.dmi
  icons/obj/storage/crates.dmi
  icons/obj/weapons/cannons.dmi
  tgstation.dme
Labels: Map Modification, Sprites

Resets atmos between unit test runs (#85886)
  code/modules/unit_tests/unit_test.dm
Labels: none

Changes wall leaning into a component, makes windows leanable
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_living.dm
  code/datums/components/leanable.dm
  code/game/objects/structures/window.dm
  code/game/turfs/closed/walls.dm
  tgstation.dme
Labels: none

You can sell stuff on the blackmarket now. (#85464)
  code/__DEFINES/market.dm
  code/game/objects/effects/anomalies/anomalies_bluespace.dm
  code/game/objects/items/devices/swapper.dm
  code/modules/cargo/markets/market_item.dm
  code/modules/cargo/markets/market_items/local_goods.dm
  code/modules/cargo/markets/market_telepad.dm
  code/modules/cargo/markets/market_uplink.dm
  icons/obj/machines/ltsrbt.dmi
  icons/obj/machines/telecomms.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/BlackMarketUplink.tsx
  tgui/packages/tgui/interfaces/LTSRBT.tsx
Labels: Sprites

Updates guard access.
  modular_skyrat/modules/goofsec/code/department_guards.dm
Labels: none

[MIRROR] Adds arms/legs coverage to armored gloves/shoes, adds a unit test to check for former (#29290)
  code/game/objects/items/religion.dm
  code/modules/antagonists/clown_ops/clown_weapons.dm
  code/modules/clothing/chameleon/generic_chameleon_clothing.dm
  code/modules/clothing/shoes/boots.dm
  code/modules/clothing/shoes/cowboy.dm
  code/modules/mining/lavaland/tendril_loot.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/gloves_and_shoes_armor.dm
  modular_skyrat/modules/ashwalkers/code/clothing/ash_armour.dm
  modular_skyrat/modules/medievalcrate_skyrat/code/vintageitems.dm
  modular_skyrat/modules/reagent_forging/code/forge_clothing.dm
Labels: none

Adjust shadow position for secbots and mice (#85870)
  code/modules/mob/living/basic/vermin/mouse.dm
  code/modules/mob/living/simple_animal/bot/ed209bot.dm
  code/modules/mob/living/simple_animal/bot/secbot.dm
Labels: none

Automatic changelog for PR #29290 [ci skip]
  html/changelogs/AutoChangeLog-pr-29290.yml
Labels: none

done
  code/modules/surgery/organ_manipulation.dm
  modular_skyrat/modules/synths/code/surgery/robot_healing.dm
Labels: none

Adds a light switch to the science hallway in metastation (#85869)
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Modification

Dumping things into microwave en-masse is done via RMB or drag'n'drop (#85530)
  code/modules/food_and_drinks/machinery/microwave.dm
Labels: none

[MIRROR] Fixes welding and coil logic on robotic limb fixing (#29396)
  code/game/objects/items/tools/weldingtool.dm
  code/modules/power/cable.dm
Labels: none

Automatic changelog for PR #29396 [ci skip]
  html/changelogs/AutoChangeLog-pr-29396.yml
Labels: none

Fixes indestructible reinforced walls being the wrong icon state
  code/game/turfs/closed/indestructible.dm
Labels: none

Fixes For Bitrunner Domains & Safehouses To Fit The New Perspective
  _maps/safehouses/den.dmm
  _maps/safehouses/ice.dmm
  _maps/safehouses/shuttle.dmm
  _maps/safehouses/shuttle_space.dmm
  _maps/safehouses/wood.dmm
  _maps/virtual_domains/abductor_ship.dmm
  _maps/virtual_domains/beach_bar.dmm
  _maps/virtual_domains/breeze_bay.dmm
  _maps/virtual_domains/clown_planet.dmm
  _maps/virtual_domains/fredingtonfastingbear.dmm
  _maps/virtual_domains/gondola_asteroid.dmm
  _maps/virtual_domains/island_brawl.dmm
  _maps/virtual_domains/pipedream.dmm
  _maps/virtual_domains/pirates.dmm
  _maps/virtual_domains/syndicate_assault.dmm
  _maps/virtual_domains/vaporwave.dmm
  _maps/virtual_domains/xeno_nest.dmm
  code/modules/bitrunning/turfs.dm
  icons/turf/walls/binary_wall.dmi
  icons/turf/walls/binary_wall.png
  icons/turf/walls/binary_wall.png.toml
Labels: Map Modification, Sprites

Replaces overlay sprite for airlocks that indicates unrestricted access from a specific direction
  code/game/machinery/doors/airlock.dm
  icons/obj/doors/airlocks/tall/overlays.dmi
Labels: Sprites

Write byond-tracy output file to tracy.loc in log folder (#85632)
  code/_compile_options.dm
  code/game/world.dm
Labels: none

Updates guard access. (#29403)
  modular_skyrat/modules/goofsec/code/department_guards.dm
Labels: none

Automatic changelog for PR #29403 [ci skip]
  html/changelogs/AutoChangeLog-pr-29403.yml
Labels: none

[MIRROR] Lavaland Crashed escape pod ruin (#29393)
  _maps/RandomRuins/LavaRuins/lavaland_surface_crashsite.dmm
  code/datums/ruins/lavaland.dm
  config/lavaruinblacklist.txt
Labels: Map Modification

[MIRROR] Fixed improvised shield crafting recipe being overriden by moonflowers (#29378)
  code/datums/components/crafting/equipment.dm
Labels: none

[MIRROR] adds a single pack of experimental medication as a cargo goodie (#29387)
  code/datums/diseases/chronic_illness.dm
  code/modules/cargo/goodies.dm
  code/modules/cargo/packs/medical.dm
Labels: none

[MIRROR] Clean up blood brother teams if all members are removed (#29386)
  code/modules/antagonists/brother/brother.dm
Labels: none

Automatic changelog for PR #29378 [ci skip]
  html/changelogs/AutoChangeLog-pr-29378.yml
Labels: none

[MIRROR] No longer hear radio sounds if you're deaf. (#29390)
  code/game/objects/items/devices/radio/radio.dm
Labels: none

[MIRROR] fixes pickup animation not matching player offset (#29377)
  code/game/objects/items.dm
Labels: none

[MIRROR] Ordnance experiments tweaks [NO GBP] (#29344)
  code/__DEFINES/research/techweb_nodes.dm
  code/datums/id_trim/jobs.dm
  code/modules/modular_computers/file_system/programs/frontier.dm
  code/modules/research/designs/machine_designs.dm
  code/modules/research/ordnance/scipaper_partner.dm
  code/modules/research/techweb/nodes/atmos_nodes.dm
  code/modules/research/techweb/nodes/biology_nodes.dm
  code/modules/research/techweb/nodes/mech_nodes.dm
  code/modules/research/techweb/nodes/medbay_nodes.dm
Labels: none

[MIRROR] Move cobwebs onto the ceiling (#29373)
  code/game/objects/effects/decals/cleanable/misc.dm
Labels: none
