Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

Automatic changelog for PR #28670 [ci skip]
  html/changelogs/AutoChangeLog-pr-28670.yml
Labels: none

Automatic changelog for PR #28671 [ci skip]
  html/changelogs/AutoChangeLog-pr-28671.yml
Labels: none

Automatic changelog for PR #28672 [ci skip]
  html/changelogs/AutoChangeLog-pr-28672.yml
Labels: none

Automatic changelog for PR #28673 [ci skip]
  html/changelogs/AutoChangeLog-pr-28673.yml
Labels: none

Automatic changelog for PR #28676 [ci skip]
  html/changelogs/AutoChangeLog-pr-28676.yml
Labels: none

Automatic changelog for PR #28677 [ci skip]
  html/changelogs/AutoChangeLog-pr-28677.yml
Labels: none

fix modular
  code/modules/unit_tests/screenshots/screenshot_antag_icons_changeling.png
  code/modules/unit_tests/screenshots/screenshot_antag_icons_stowawaychangeling.png
  modular_skyrat/modules/company_imports/code/armament_datums/deforest_medical.dm
Labels: none

wrong changeling files oops
  code/modules/unit_tests/screenshots/screenshot_antag_icons_changeling.png
  code/modules/unit_tests/screenshots/screenshot_antag_icons_stowawaychangeling.png
Labels: none

fixes digi screenshots
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_lizard_ashwalker.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_teshari.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_vox.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_vox_primalis.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_xeno.png
Labels: none

Fixes digis (Again) (#28666)
  code/modules/mob/living/carbon/human/human_update_icons.dm
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_lizard_ashwalker.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_teshari.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_vox.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_vox_primalis.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_xeno.png
Labels: none

Automatic changelog for PR #28666 [ci skip]
  html/changelogs/AutoChangeLog-pr-28666.yml
Labels: none

[MIRROR] [NO GBP] BirdShot Service Fixes 3 (#28674)
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Map Modification

[MIRROR] Renames the organ thrower to the 'organizer' and clears up its description (#28675)
  code/modules/mod/mod_types.dm
  code/modules/mod/modules/modules_medical.dm
  code/modules/mod/modules/modules_service.dm
  code/modules/research/designs/mechfabricator_designs.dm
  code/modules/research/techweb/nodes/modsuit_nodes.dm
  icons/obj/clothing/modsuit/mod_modules.dmi
  modular_skyrat/modules/company_imports/code/armament_datums/deforest_medical.dm
Labels: Sprites

Automatic changelog for PR #28674 [ci skip]
  html/changelogs/AutoChangeLog-pr-28674.yml
Labels: none

Automatic changelog for PR #28675 [ci skip]
  html/changelogs/AutoChangeLog-pr-28675.yml
Labels: none

Update rifle.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/ammo/rifle.dm
Labels: none

Update all_nodes.dm
  modular_skyrat/modules/sec_haul/code/technode/all_nodes.dm
Labels: none

what
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/rifle.dm
  modular_skyrat/modules/sec_haul/code/guns/cargo_stuff.dm
Labels: none

Update rifle.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/rifle.dm
Labels: none

Update all_nodes.dm
  modular_skyrat/modules/sec_haul/code/technode/all_nodes.dm
Labels: none

yeah
  modular_skyrat/modules/sec_haul/code/guns/sec_gun_rs.dm
  modular_skyrat/modules/sec_haul/code/technode/conversion_kit.dm
  modular_skyrat/modules/sec_haul/code/technode/sec_research.dm
Labels: none

Update all_nodes.dm
  modular_skyrat/modules/sec_haul/code/technode/all_nodes.dm
Labels: none

Update pistol.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/nanotrasen_system_inc/pistol.dm
  modular_skyrat/modules/modular_weapons/icons/obj/company_and_or_faction_based/nanotrasen_system_inc/pistol.dmi
Labels: Sprites

so
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/rifle.dm
  modular_skyrat/modules/sec_haul/code/guns/cargo_stuff.dm
Labels: none

Update sec_research.dm
  modular_skyrat/modules/sec_haul/code/technode/sec_research.dm
Labels: none

Update rifle.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/rifle.dm
Labels: none

ready
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/rifle.dm
Labels: none

Update head.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/head.dmi
Labels: Sprites

wwhat
  modular_skyrat/modules/modular_weapons/icons/obj/company_and_or_faction_based/romulus_technology/gun40x32.dmi
  modular_skyrat/modules/modular_weapons/icons/obj/company_and_or_faction_based/romulus_technology/poster.dmi
Labels: Sprites

Update gun40x32.dmi
  modular_skyrat/modules/modular_weapons/icons/obj/company_and_or_faction_based/romulus_technology/gun40x32.dmi
Labels: Sprites

yeah
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/magazines.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/poster
  modular_skyrat/modules/modular_weapons/icons/obj/company_and_or_faction_based/romulus_technology/poster.dmi
Labels: Sprites

ww got vything done
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/poster.dm
  tgstation.dme
Labels: none

we h int at a darker past
  modular_skyrat/modules/modular_weapons/icons/obj/company_and_or_faction_based/romulus_technology/ammo.dmi
Labels: Sprites

yeah I know that there's no pleasing you
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/magazines.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/rifle.dm
  modular_skyrat/modules/sec_haul/code/technode/sec_research.dm
Labels: none

Update magazines.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/magazines.dm
Labels: none

Update sol_fed.dm
  modular_skyrat/modules/goofsec/code/sol_fed.dm
Labels: none

mhm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/nanotrasen_system_inc/alert_pin.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/nanotrasen_system_inc/magazine.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/nanotrasen_system_inc/pistol.dm
  modular_skyrat/modules/sec_haul/code/misc/gun_redemption.dm
  modular_skyrat/modules/sec_haul/code/misc/vending.dm
  modular_skyrat/modules/shotgunrebalance/code/ammobox.dm
Labels: none

Adds the Telecomm clothing to the Engi vendor
  modular_skyrat/modules/modular_vending/code/wardrobes.dm
Labels: none

Update telecomms_specialist.dm
  modular_skyrat/modules/telecomms_specialist/telecomms_specialist.dm
Labels: none

Update rifle.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/ammo/rifle.dm
Labels: none

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'
