Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

[MIRROR] Fixes borg climbing (#28622)
  code/modules/mob/living/silicon/silicon.dm
Labels: none

Automatic changelog for PR #28576 [ci skip]
  html/changelogs/AutoChangeLog-pr-28576.yml
Labels: none

[MIRROR] Updates icemoon_underground_lavaland.dmm (#28623)
  _maps/RandomRuins/IceRuins/icemoon_underground_lavaland.dmm
  code/datums/ruins/icemoon.dm
  code/modules/mapfluff/ruins/icemoonruin_code/lavaland_incursion.dm
  tgstation.dme
Labels: Map Modification

[MIRROR] Adds a breathing sound while using internals of any kind (#28624)
  code/datums/looping_sounds/breathing.dm
  code/modules/client/preferences/sounds.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/carbon/death.dm
  code/modules/mob/living/carbon/inventory.dm
  code/modules/mob/living/carbon/life.dm
  sound/voice/breathing.ogg
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/sounds.tsx
Labels: none

[MIRROR] Adds a new anomaly core item to Illumination technology, the photon cannon. (#28625)
  code/datums/components/crafting/guncrafting.dm
  code/datums/components/crafting/ranged_weapon.dm
  code/modules/projectiles/ammunition/energy/special.dm
  code/modules/projectiles/guns/energy/special.dm
  code/modules/projectiles/projectile/energy/photon.dm
  code/modules/research/designs/weapon_designs.dm
  code/modules/research/techweb/nodes/bepis_nodes.dm
  icons/obj/weapons/guns/energy.dmi
  icons/obj/weapons/guns/projectiles.dmi
  sound/attributions.txt
  sound/weapons/solarflare.ogg
  tgstation.dme
Labels: Sprites

Automatic changelog for PR #28623 [ci skip]
  html/changelogs/AutoChangeLog-pr-28623.yml
Labels: none

Automatic changelog for PR #28624 [ci skip]
  html/changelogs/AutoChangeLog-pr-28624.yml
Labels: none

Automatic changelog for PR #28625 [ci skip]
  html/changelogs/AutoChangeLog-pr-28625.yml
Labels: none

Mind links won't highlight your own messages (#84625)
  code/datums/components/mind_linker.dm
Labels: none

New Traitor mech: Justice. (#84097)
  code/__DEFINES/exosuit_fab.dm
  code/__DEFINES/research/research_categories.dm
  code/game/objects/effects/temporary_visuals/miscellaneous.dm
  code/modules/research/designs/mechfabricator_designs.dm
  code/modules/research/techweb/_techweb_node.dm
  code/modules/research/techweb/nodes/mech_nodes.dm
  code/modules/uplink/uplink_items/job.dm
  code/modules/vehicles/mecha/_mecha.dm
  code/modules/vehicles/mecha/combat/justice.dm
  code/modules/vehicles/mecha/mech_fabricator.dm
  code/modules/vehicles/mecha/mech_melee_attack.dm
  code/modules/vehicles/mecha/mecha_construction_paths.dm
  code/modules/vehicles/mecha/mecha_parts.dm
  code/modules/vehicles/mecha/mecha_ui.dm
  code/modules/vehicles/mecha/mecha_wreckage.dm
  icons/effects/96x96.dmi
  icons/effects/beam.dmi
  icons/effects/effects.dmi
  icons/mob/actions/actions_mecha.dmi
  icons/mob/rideables/mech_construct.dmi
  icons/mob/rideables/mech_construction.dmi
  icons/mob/rideables/mecha.dmi
  sound/mecha/mech_blade_attack.ogg
  sound/mecha/mech_blade_break_wall.ogg
  sound/mecha/mech_blade_safty.ogg
  sound/mecha/mech_charge_attack.ogg
  sound/mecha/mech_stealth_attack.ogg
  sound/mecha/mech_stealth_effect.ogg
  sound/mecha/mech_stealth_pre_attack.ogg
  tgstation.dme
Labels: Sprites

Portable atmos machines` circuitboards (#84201)
  code/game/objects/items/circuitboards/machines/machine_circuitboards.dm
  code/modules/research/designs/machine_designs.dm
  code/modules/research/techweb/nodes/atmos_nodes.dm
Labels: none

Cytology without plumbing
  _maps/RandomRuins/IceRuins/icemoon_surface_bughabitat.dmm
  _maps/RandomRuins/SpaceRuins/oldstation.dmm
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/map_files/wawastation/wawastation.dmm
  code/game/machinery/_machinery.dm
  code/game/objects/items/circuitboards/machines/machine_circuitboards.dm
  code/game/objects/items/rcd/RPLD.dm
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  code/modules/cargo/packs/science.dm
  code/modules/food_and_drinks/machinery/smartfridge.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/reagents/reagent_containers/condiment.dm
  code/modules/research/designs/machine_designs.dm
  code/modules/research/designs/tool_designs.dm
  code/modules/research/techweb/nodes/biology_nodes.dm
  code/modules/research/techweb/nodes/medbay_nodes.dm
  code/modules/research/xenobiology/vatgrowing/biopsy_tool.dm
  code/modules/research/xenobiology/vatgrowing/microscope.dm
  code/modules/research/xenobiology/vatgrowing/samples/_micro_organism.dm
  code/modules/research/xenobiology/vatgrowing/samples/_sample.dm
  code/modules/research/xenobiology/vatgrowing/samples/cell_lines/common.dm
  code/modules/research/xenobiology/vatgrowing/vatgrower.dm
  icons/obj/food/containers.dmi
  icons/obj/pipes_n_cables/hydrochem/plumbers.dmi
  icons/obj/science/vatgrowing.dmi
  tgstation.dme
  tools/UpdatePaths/Scripts/84235_vatgrower_machine.txt
Labels: Map Modification, Sprites

More techweb tweaks [NO GBP] (#84574)
  code/__DEFINES/research/techweb_nodes.dm
  code/game/objects/items/clown_items.dm
  code/modules/experisci/experiment/experiments.dm
  code/modules/experisci/experiment/types/scanning_vatgrown.dm
  code/modules/research/designs/misc_designs.dm
  code/modules/research/techweb/nodes/atmos_nodes.dm
  code/modules/research/techweb/nodes/biology_nodes.dm
  code/modules/research/techweb/nodes/mech_nodes.dm
  code/modules/research/techweb/nodes/medbay_nodes.dm
  code/modules/research/techweb/nodes/research_nodes.dm
  code/modules/research/techweb/nodes/security_nodes.dm
  code/modules/research/techweb/nodes/service_nodes.dm
  code/modules/research/techweb/nodes/surgery_nodes.dm
Labels: none

You can now craft a singularity hammer using all nine anomaly cores and the supermatter. (#84194)
  code/datums/components/crafting/melee_weapon.dm
Labels: none

Various minor fixes to bounty hunter shuttles (#84611)
  _maps/shuttles/hunter_bounty.dmm
  _maps/shuttles/hunter_mi13_foodtruck.dmm
  _maps/shuttles/hunter_psyker.dmm
  _maps/shuttles/hunter_russian.dmm
  _maps/shuttles/hunter_space_cop.dmm
Labels: Map Modification

[NO GBP] Silent events will now announce themselves to admins before rolling
  code/modules/events/_event.dm
Labels: none

Attempts to put out the CI fires (#84277)
  code/datums/components/combustible_flooder.dm
  code/game/objects/effects/decals/cleanable/misc.dm
  code/modules/unit_tests/unit_test.dm
Labels: none

Swap goodie case locked/unlocked textures (#84627)
  icons/obj/storage/case.dmi
Labels: Sprites

Update microfusion_techweb.dm
  modular_skyrat/modules/microfusion/code/microfusion_techweb.dm
Labels: none

fix conflict
  code/modules/mob_spawn/mob_spawn.dm
Labels: none

Fixes fucked rendering in StrongDMM
  code/__DEFINES/layers.dm
Labels: none

[MIRROR] More techweb tweaks [NO GBP] (#28631)
  code/__DEFINES/research/techweb_nodes.dm
  code/game/objects/items/clown_items.dm
  code/modules/experisci/experiment/experiments.dm
  code/modules/experisci/experiment/types/scanning_vatgrown.dm
  code/modules/research/designs/misc_designs.dm
  code/modules/research/techweb/nodes/atmos_nodes.dm
  code/modules/research/techweb/nodes/biology_nodes.dm
  code/modules/research/techweb/nodes/mech_nodes.dm
  code/modules/research/techweb/nodes/medbay_nodes.dm
  code/modules/research/techweb/nodes/research_nodes.dm
  code/modules/research/techweb/nodes/security_nodes.dm
  code/modules/research/techweb/nodes/service_nodes.dm
  code/modules/research/techweb/nodes/surgery_nodes.dm
  modular_skyrat/modules/microfusion/code/microfusion_techweb.dm
Labels: none

Automatic changelog for PR #28631 [ci skip]
  html/changelogs/AutoChangeLog-pr-28631.yml
Labels: none

[MIRROR] Adds more "curated" version of human randomization (for humonkeys, corpse spawners, and fresh characters) (#28582)
  code/datums/sprite_accessories.dm
  code/modules/admin/create_mob.dm
  code/modules/admin/verbs/anonymousnames.dm
  code/modules/admin/verbs/mapping.dm
  code/modules/capture_the_flag/medieval_sim/medisim_game.dm
  code/modules/mob/living/carbon/human/dummy.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob_spawn/mob_spawn.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: none

[MIRROR] Mind links won't highlight your own messages (#28627)
  code/datums/components/mind_linker.dm
Labels: none

[MIRROR] New Traitor mech: Justice. (#28628)
  code/__DEFINES/exosuit_fab.dm
  code/__DEFINES/research/research_categories.dm
  code/game/objects/effects/temporary_visuals/miscellaneous.dm
  code/modules/research/designs/mechfabricator_designs.dm
  code/modules/research/techweb/_techweb_node.dm
  code/modules/research/techweb/nodes/mech_nodes.dm
  code/modules/uplink/uplink_items/job.dm
  code/modules/vehicles/mecha/_mecha.dm
  code/modules/vehicles/mecha/combat/justice.dm
  code/modules/vehicles/mecha/mech_fabricator.dm
  code/modules/vehicles/mecha/mech_melee_attack.dm
  code/modules/vehicles/mecha/mecha_construction_paths.dm
  code/modules/vehicles/mecha/mecha_parts.dm
  code/modules/vehicles/mecha/mecha_ui.dm
  code/modules/vehicles/mecha/mecha_wreckage.dm
  icons/effects/96x96.dmi
  icons/effects/beam.dmi
  icons/effects/effects.dmi
  icons/mob/actions/actions_mecha.dmi
  icons/mob/rideables/mech_construct.dmi
  icons/mob/rideables/mech_construction.dmi
  icons/mob/rideables/mecha.dmi
  sound/mecha/mech_blade_attack.ogg
  sound/mecha/mech_blade_break_wall.ogg
  sound/mecha/mech_blade_safty.ogg
  sound/mecha/mech_charge_attack.ogg
  sound/mecha/mech_stealth_attack.ogg
  sound/mecha/mech_stealth_effect.ogg
  sound/mecha/mech_stealth_pre_attack.ogg
  tgstation.dme
Labels: Sprites

[MIRROR] Portable atmos machines` circuitboards (#28629)
  code/game/objects/items/circuitboards/machines/machine_circuitboards.dm
  code/modules/research/designs/machine_designs.dm
  code/modules/research/techweb/nodes/atmos_nodes.dm
Labels: none

[MIRROR] You can now craft a singularity hammer using all nine anomaly cores and the supermatter. (#28633)
  code/datums/components/crafting/melee_weapon.dm
Labels: none

[MIRROR] Various minor fixes to bounty hunter shuttles (#28634)
  _maps/shuttles/hunter_bounty.dmm
  _maps/shuttles/hunter_mi13_foodtruck.dmm
  _maps/shuttles/hunter_psyker.dmm
  _maps/shuttles/hunter_russian.dmm
  _maps/shuttles/hunter_space_cop.dmm
Labels: Map Modification

[MIRROR] Swap goodie case locked/unlocked textures (#28637)
  icons/obj/storage/case.dmi
Labels: Sprites

[MIRROR] Attempts to put out the CI fires (#28636)
  code/datums/components/combustible_flooder.dm
  code/game/objects/effects/decals/cleanable/misc.dm
  code/modules/unit_tests/unit_test.dm
Labels: none

[MIRROR] Moving some inventory-related procs to the right files. (#28535)
  code/modules/mob/inventory.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/mob/living/carbon/inventory.dm
  code/modules/mob/mob.dm
Labels: none

Automatic changelog for PR #28582 [ci skip]
  html/changelogs/AutoChangeLog-pr-28582.yml
Labels: none

Automatic changelog for PR #28627 [ci skip]
  html/changelogs/AutoChangeLog-pr-28627.yml
Labels: none

Automatic changelog for PR #28628 [ci skip]
  html/changelogs/AutoChangeLog-pr-28628.yml
Labels: none

Automatic changelog for PR #28629 [ci skip]
  html/changelogs/AutoChangeLog-pr-28629.yml
Labels: none

Automatic changelog for PR #28633 [ci skip]
  html/changelogs/AutoChangeLog-pr-28633.yml
Labels: none

Automatic changelog for PR #28634 [ci skip]
  html/changelogs/AutoChangeLog-pr-28634.yml
Labels: none

Automatic changelog for PR #28637 [ci skip]
  html/changelogs/AutoChangeLog-pr-28637.yml
Labels: none

Fix borg licking/booping
  modular_skyrat/modules/borgs/code/robot_items.dm
Labels: none

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'
