Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

Fixes delam counter going over objects (#85974)
  code/game/machinery/incident_display.dm
Labels: none

Canonise passive carp (#85939)
  code/__DEFINES/ai/ai_blackboard.dm
  code/datums/ai/basic_mobs/basic_subtrees/simple_find_nearest_target_to_flee.dm
  code/datums/ai/basic_mobs/basic_subtrees/simple_find_target.dm
  code/datums/ai/basic_mobs/targeting_strategies/basic_targeting_strategy.dm
  code/modules/mob/living/basic/space_fauna/carp/carp.dm
  code/modules/mob/living/basic/space_fauna/carp/carp_ai_rift_actions.dm
  code/modules/mob/living/basic/space_fauna/carp/carp_controllers.dm
  code/modules/mob/living/basic/vermin/crab.dm
  icons/mob/simple/carp.dmi
Labels: Sprites

Adjust Vortex Core Max and Beam Rifle recipe. (#85878)
  code/__DEFINES/research/anomalies.dm
  code/datums/components/crafting/ranged_weapon.dm
Labels: none

reticence require progression (#85858)
  code/modules/uplink/uplink_items/job.dm
Labels: none

ERTs can now be summoned as a set species (#85651)
  code/datums/ert.dm
  code/modules/admin/verbs/ert.dm
Labels: none

Windows broken by a Voidwalker now play a cool sound as they reform
  code/game/objects/structures/window.dm
  sound/attributions.txt
  sound/effects/glass_reverse.ogg
Labels: none

Adds a botany area to the Syndicate Lavaland base
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1.dmm
  code/game/area/areas/ruins/lavaland.dm
Labels: Map Modification

Adds the ability to 'army crawl' as a component, also moves cortical borers hide ability to this component. (#29245)
  code/__DEFINES/~skyrat_defines/keybindings.dm
  code/__DEFINES/~skyrat_defines/signals.dm
  code/__DEFINES/~skyrat_defines/traits.dm
  modular_skyrat/master_files/code/datums/components/prone_mob.dm
  modular_skyrat/master_files/code/datums/keybinding/movement.dm
  modular_skyrat/master_files/code/modules/mob/living/human/human.dm
  modular_skyrat/master_files/code/modules/mob/mob_movement.dm
  modular_skyrat/modules/cortical_borer/code/abilities/_borer_abilities.dm
  tgstation.dme
Labels: none

Abductor fixes
  code/datums/dna.dm
  code/modules/mob/living/carbon/human/_species.dm
  modular_skyrat/master_files/code/modules/mob/living/carbon/human/_species.dm
  tgstation.dme
Labels: none

Automatic changelog for PR #29245 [ci skip]
  html/changelogs/AutoChangeLog-pr-29245.yml
Labels: none

[Fix] mechanical god rite from chaplain properly gives you digitigrade legs if you have them selected (#29502)
  modular_skyrat/master_files/code/modules/surgery/bodyparts/robot_bodyparts.dm
  modular_skyrat/modules/digitigrade_cybernetics/code/robot_bodyparts.dm
Labels: none

sh
  code/game/objects/structures/window.dm
Labels: none

Automatic changelog for PR #29502 [ci skip]
  html/changelogs/AutoChangeLog-pr-29502.yml
Labels: none

Fishing toolboxes (and maint) now come with a paper slip containing fishing-related tips. (#85279)
  code/_globalvars/lists/flavor_misc.dm
  code/_globalvars/lists/maintenance_loot.dm
  code/modules/cargo/goodies.dm
  code/modules/fishing/fishing_equipment.dm
  strings/fishing_tips.txt
Labels: none

[NO GBP] Fixing Clarke's ore box the proper way (#85954)
  code/modules/mining/boulder_processing/boulder.dm
  code/modules/vehicles/mecha/working/clarke.dm
Labels: none

[NO GBP] CytoPro Price Adjustment
  code/modules/vending/cytopro.dm
Labels: none

Clicking floor tiles now also closes curator/morgue doors
  code/game/machinery/doors/door.dm
Labels: none

Jarvis, add buckshot to the blackmarket. (#85470)
  code/game/objects/items/storage/boxes/security_boxes.dm
  code/modules/cargo/markets/market_items/weapons.dm
  code/modules/projectiles/ammunition/_ammunition.dm
  code/modules/projectiles/ammunition/_firing.dm
  code/modules/projectiles/ammunition/ballistic/shotgun.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/ballistic.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
  code/modules/projectiles/projectile/bullets/shotgun.dm
Labels: none

Improve kilo medbay and animal pen
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Map Modification

Rearrange kilo morgue
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Map Modification

[MIRROR] Jarvis, add buckshot to the blackmarket. (#29522)
  code/game/objects/items/storage/boxes/security_boxes.dm
  code/modules/cargo/markets/market_items/weapons.dm
  code/modules/projectiles/ammunition/_ammunition.dm
  code/modules/projectiles/ammunition/_firing.dm
  code/modules/projectiles/ammunition/ballistic/shotgun.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/ballistic.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
  code/modules/projectiles/projectile/bullets/shotgun.dm
Labels: none

[MIRROR] [NO GBP] Fixing Clarke's ore box the proper way (#29519)
  code/modules/mining/boulder_processing/boulder.dm
  code/modules/vehicles/mecha/working/clarke.dm
Labels: none

Automatic changelog for PR #29522 [ci skip]
  html/changelogs/AutoChangeLog-pr-29522.yml
Labels: none

Abductor fixes (#29517)
  code/datums/dna.dm
  code/modules/mob/living/carbon/human/_species.dm
  modular_skyrat/master_files/code/modules/mob/living/carbon/human/_species.dm
  tgstation.dme
Labels: none

Improves Kilostation medbay and animal pen (#29523)
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Map Modification

[MIRROR] Fishing toolboxes (and maint) now come with a paper slip containing fishing-related tips. (#29518)
  code/_globalvars/lists/flavor_misc.dm
  code/_globalvars/lists/maintenance_loot.dm
  code/modules/cargo/goodies.dm
  code/modules/fishing/fishing_equipment.dm
  strings/fishing_tips.txt
Labels: none

manual
  code/game/machinery/doors/door.dm
Labels: none

Automatic changelog for PR #29517 [ci skip]
  html/changelogs/AutoChangeLog-pr-29517.yml
Labels: none

Automatic changelog for PR #29523 [ci skip]
  html/changelogs/AutoChangeLog-pr-29523.yml
Labels: none

Automatic changelog for PR #29518 [ci skip]
  html/changelogs/AutoChangeLog-pr-29518.yml
Labels: none

[MIRROR] Clicking floor tiles now also closes curator/morgue doors (#29521)
  code/game/machinery/doors/door.dm
Labels: none

Automatic changelog for PR #29521 [ci skip]
  html/changelogs/AutoChangeLog-pr-29521.yml
Labels: none

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-29209.yml
  html/changelogs/AutoChangeLog-pr-29245.yml
  html/changelogs/AutoChangeLog-pr-29271.yml
  html/changelogs/AutoChangeLog-pr-29398.yml
  html/changelogs/AutoChangeLog-pr-29439.yml
  html/changelogs/AutoChangeLog-pr-29441.yml
  html/changelogs/AutoChangeLog-pr-29448.yml
  html/changelogs/AutoChangeLog-pr-29453.yml
  html/changelogs/AutoChangeLog-pr-29457.yml
  html/changelogs/AutoChangeLog-pr-29458.yml
  html/changelogs/AutoChangeLog-pr-29464.yml
  html/changelogs/AutoChangeLog-pr-29465.yml
  html/changelogs/AutoChangeLog-pr-29489.yml
  html/changelogs/AutoChangeLog-pr-29493.yml
  html/changelogs/AutoChangeLog-pr-29494.yml
  html/changelogs/AutoChangeLog-pr-29495.yml
  html/changelogs/AutoChangeLog-pr-29502.yml
  html/changelogs/AutoChangeLog-pr-29517.yml
  html/changelogs/AutoChangeLog-pr-29518.yml
  html/changelogs/AutoChangeLog-pr-29521.yml
  html/changelogs/AutoChangeLog-pr-29522.yml
  html/changelogs/AutoChangeLog-pr-29523.yml
  html/changelogs/archive/2024-08.yml
Labels: none

[MIRROR] reticence require progression (#29512)
  code/modules/uplink/uplink_items/job.dm
Labels: none

[MIRROR] Adjust Vortex Core Max and Beam Rifle recipe. (#29511)
  code/__DEFINES/research/anomalies.dm
  code/datums/components/crafting/ranged_weapon.dm
Labels: none

Automatic changelog for PR #29512 [ci skip]
  html/changelogs/AutoChangeLog-pr-29512.yml
Labels: none

[MIRROR] Radioactive nebula no longer runtimes on Runtime station (#29507)
  code/datums/station_traits/negative_traits.dm
Labels: none

Automatic changelog for PR #29511 [ci skip]
  html/changelogs/AutoChangeLog-pr-29511.yml
Labels: none

[MIRROR] Unarmed attacks with carp jaws now uses the bite attack effect (#29506)
  code/game/machinery/dna_infuser/organ_sets/carp_organs.dm
Labels: none

[MIRROR] Fixes lobby buttons from station traits having no name and being unexaminable. (#29437)
  code/datums/station_traits/_station_trait.dm
Labels: none

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'
