Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'

[MIRROR] Adds examine steps and code comments to window doors. (#28652)
  code/game/machinery/doors/windowdoor.dm
  code/game/objects/structures/windoor_assembly.dm
Labels: none

Event horizon rebalance (#28653)
  code/modules/projectiles/guns/energy/beam_rifle.dm
  modular_skyrat/master_files/code/modules/projectiles/guns/energy/beam_rifle.dm
  tgstation.dme
Labels: none

Automatic changelog for PR #28645 [ci skip]
  html/changelogs/AutoChangeLog-pr-28645.yml
Labels: none

Automatic changelog for PR #28646 [ci skip]
  html/changelogs/AutoChangeLog-pr-28646.yml
Labels: none

[MIRROR] Converts slapcrafting into a bespoke element (#28655)
  code/datums/components/crafting/guncrafting.dm
  code/datums/elements/slapcrafting.dm
  code/game/machinery/pipe/construction.dm
  code/game/objects/items/crayons.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/items/devices/scanners/gas_analyzer.dm
  code/game/objects/items/extinguisher.dm
  code/game/objects/items/flamethrower.dm
  code/game/objects/items/handcuffs.dm
  code/game/objects/items/pillow.dm
  code/game/objects/items/shields.dm
  code/game/objects/items/spear.dm
  code/game/objects/items/stacks/rods.dm
  code/game/objects/items/stacks/sheets/leather.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/storage/backpack.dm
  code/modules/clothing/glasses/_glasses.dm
  code/modules/clothing/glasses/hud.dm
  code/modules/clothing/gloves/boxing.dm
  code/modules/clothing/gloves/color.dm
  code/modules/clothing/head/jobs.dm
  code/modules/fishing/aquarium/aquarium_kit.dm
  code/modules/projectiles/ammunition/ballistic/shotgun.dm
  code/modules/projectiles/guns/energy/energy_gun.dm
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/reagents/reagent_containers/cups/glassbottle.dm
  code/modules/reagents/reagent_containers/cups/soda.dm
  code/modules/surgery/tools.dm
  tgstation.dme
Labels: none

[MIRROR] [NO GBP] Augmented organs experiment hotfix (#28656)
  code/modules/experisci/experiment/experiments.dm
Labels: none

[MIRROR] Firefighting nozzle attack chain fixes (#28657)
  code/game/objects/items/tanks/watertank.dm
Labels: none

[MIRROR] Removes stupid listlike var access code (#28658)
  code/__HELPERS/areas.dm
  code/__HELPERS/paths/path.dm
  code/__HELPERS/records.dm
  code/controllers/subsystem/research.dm
  code/controllers/subsystem/spatial_gridmap.dm
  code/datums/ai/_ai_controller.dm
  code/datums/components/_component.dm
  code/datums/greyscale/_greyscale_config.dm
  code/modules/admin/topic.dm
  code/modules/admin/view_variables/debug_variables.dm
  code/modules/mapping/mapping_helpers.dm
  code/modules/vehicles/_vehicle.dm
  code/modules/vehicles/mecha/mech_fabricator.dm
  tgstation.dme
Labels: none

Fixes extra apc in xenobiology (#28659)
  _maps/map_files/NSVBlueshift/Blueshift.dmm
Labels: Map Modification

Automatic changelog for PR #28647 [ci skip]
  html/changelogs/AutoChangeLog-pr-28647.yml
Labels: none

Automatic changelog for PR #28648 [ci skip]
  html/changelogs/AutoChangeLog-pr-28648.yml
Labels: none

Automatic changelog for PR #28649 [ci skip]
  html/changelogs/AutoChangeLog-pr-28649.yml
Labels: none

Automatic changelog for PR #28650 [ci skip]
  html/changelogs/AutoChangeLog-pr-28650.yml
Labels: none

Automatic changelog for PR #28651 [ci skip]
  html/changelogs/AutoChangeLog-pr-28651.yml
Labels: none

Automatic changelog for PR #28652 [ci skip]
  html/changelogs/AutoChangeLog-pr-28652.yml
Labels: none

Automatic changelog for PR #28653 [ci skip]
  html/changelogs/AutoChangeLog-pr-28653.yml
Labels: none

Automatic changelog for PR #28656 [ci skip]
  html/changelogs/AutoChangeLog-pr-28656.yml
Labels: none

Automatic changelog for PR #28657 [ci skip]
  html/changelogs/AutoChangeLog-pr-28657.yml
Labels: none

[MIRROR] Fix master screenshot test (#28654)
  code/modules/clothing/head/hardhat.dm
Labels: none

Use 1,1 instead of CENTER as relay_loc on 516 builds (#84035)
  code/_onclick/hud/rendering/plane_master_group.dm
  code/_onclick/hud/rendering/render_plate.dm
Labels: none

Update all_nodes.dm
  modular_skyrat/master_files/code/modules/research/techweb/all_nodes.dm
Labels: none

Fixes some loadout items missing
  modular_skyrat/master_files/code/modules/loadout/categories/donator_personal.dm
  modular_skyrat/master_files/code/modules/loadout/categories/uniform.dm
Labels: none

Update magazine.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/nanotrasen_system_inc/magazine.dm
Labels: none

we are ready
  modular_skyrat/modules/sec_haul/code/technode/all_nodes.dm
  modular_skyrat/modules/sec_haul/code/technode/sec_research.dm
Labels: none

Update all_nodes.dm
  modular_skyrat/modules/sec_haul/code/technode/all_nodes.dm
Labels: none

Fixes some loadout items missing (#28662)
  modular_skyrat/master_files/code/modules/loadout/categories/donator_personal.dm
  modular_skyrat/master_files/code/modules/loadout/categories/uniform.dm
Labels: none

Automatic changelog for PR #28662 [ci skip]
  html/changelogs/AutoChangeLog-pr-28662.yml
Labels: none

Update rifle.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/rifle.dm
Labels: none

Update gun48x32.dmi
  modular_skyrat/modules/modular_weapons/icons/obj/company_and_or_faction_based/romulus_technology/gun48x32.dmi
Labels: Sprites

Update rifle.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/rifle.dm
Labels: none

bird
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/rifle.dm
  modular_skyrat/modules/modular_weapons/icons/obj/company_and_or_faction_based/romulus_technology/gun48x32.dmi
Labels: Sprites

Update rifle.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/rifle.dm
Labels: none

Why
  modular_skyrat/modules/modular_weapons/icons/obj/company_and_or_faction_based/romulus_technology/gun48x32.dmi
Labels: Sprites

Fixes ninja's adrenaline boost modsuit module not recharging (#84678)
  code/modules/mod/modules/modules_ninja.dm
Labels: none

Automatic changelog for PR #28663 [ci skip]
  html/changelogs/AutoChangeLog-pr-28663.yml
Labels: none

its ready?
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/pistol.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/rifle.dm
  modular_skyrat/modules/sec_haul/code/guns/cargo_stuff.dm
  modular_skyrat/modules/sec_haul/code/misc/packs.dm
Labels: none

what
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/pistol.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/rifle.dm
  modular_skyrat/modules/modular_weapons/icons/obj/company_and_or_faction_based/romulus_technology/gun40x32.dmi
Labels: Sprites

Update rifle.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/rifle.dm
Labels: none

i wish i can die soon
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/rifle.dm
Labels: none

Update ammo.dmi
  modular_skyrat/modules/modular_weapons/icons/obj/company_and_or_faction_based/romulus_technology/ammo.dmi
Labels: Sprites
