Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

Fix advanced proximity monitors being 1 tile too small (again...) (#84307)
  code/datums/proximity_monitor/field.dm
  code/datums/proximity_monitor/fields/projectile_dampener.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/spell_timestop.dm
Labels: none

Surgical omnitool upgrade upgrades the health analyzer (#84331)
  code/game/objects/items/robot/robot_upgrades.dm
Labels: none

[NO GBP] Actions buttons can be dragged anywhere again (#84332)
  code/_onclick/hud/action_button.dm
Labels: none

[NO GBP] Pen size hotfix (#84343)
  code/modules/paperwork/pen.dm
Labels: none

Fix cyborg omnitool regression (#84341)
  code/game/objects/items/robot/items/tools.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/cyborg_tool.dm
Labels: none

Adds cool sword mouse cursor maintenance pda app (#84337)
  code/modules/modular_computers/computers/item/computer_files.dm
  code/modules/modular_computers/computers/item/disks/maintenance_disks.dm
  code/modules/modular_computers/file_system/programs/maintenance/cool_sword.dm
  icons/effects/mouse_pointers/cool_sword.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/NtosCursor.tsx
Labels: Sprites

Fixes head protector modules doing...nothing (#84346)
  code/modules/mod/modules/modules_engineering.dm
Labels: none

Fix carbons deathgasping twice
  code/__DEFINES/living.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/carbon/death.dm
  code/modules/mob/living/death.dm
  code/modules/wiremod/shell/drone.dm
Labels: none

Fixes Pathfinder module AGAIN, General JPS Tweak (#84348)
  code/__HELPERS/paths/jps.dm
  code/__HELPERS/spatial_info.dm
  code/controllers/subsystem/radiation.dm
  code/datums/ai/objects/mod.dm
  code/datums/status_effects/agent_pinpointer.dm
  code/game/machinery/syndicatebomb.dm
  code/game/objects/items/pinpointer.dm
  code/modules/antagonists/changeling/powers/pheromone_receptors.dm
  code/modules/mob/living/navigation.dm
  code/modules/modular_computers/file_system/programs/radar.dm
Labels: none

Protolathe printing speed is affected by parts again
  code/modules/research/machinery/_production.dm
Labels: none

Fixed limb slowdown and hunger affecting your speed in nograv (#84253)
  code/modules/movespeed/modifiers/innate.dm
  code/modules/movespeed/modifiers/mobs.dm
Labels: none

Adds crystallizer boards to delta and tram HFR project rooms (#84288)
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/tramstation/tramstation.dmm
Labels: Map Modification

Techweb nodes DEFINED & bug fix
  code/__DEFINES/research/techweb_nodes.dm
  code/modules/research/ordnance/scipaper_partner.dm
  code/modules/research/techweb/nodes/alien_nodes.dm
  code/modules/research/techweb/nodes/atmos_nodes.dm
  code/modules/research/techweb/nodes/bepis_nodes.dm
  code/modules/research/techweb/nodes/biology_nodes.dm
  code/modules/research/techweb/nodes/circuit_nodes.dm
  code/modules/research/techweb/nodes/cyborg_nodes.dm
  code/modules/research/techweb/nodes/engi_nodes.dm
  code/modules/research/techweb/nodes/mech_nodes.dm
  code/modules/research/techweb/nodes/medbay_nodes.dm
  code/modules/research/techweb/nodes/mining_nodes.dm
  code/modules/research/techweb/nodes/modsuit_nodes.dm
  code/modules/research/techweb/nodes/research_nodes.dm
  code/modules/research/techweb/nodes/robo_nodes.dm
  code/modules/research/techweb/nodes/security_nodes.dm
  code/modules/research/techweb/nodes/service_nodes.dm
  code/modules/research/techweb/nodes/surgery_nodes.dm
  code/modules/research/techweb/nodes/syndicate_nodes.dm
  code/modules/research/techweb/techweb_types.dm
  tgstation.dme
Labels: none

Fixes runtime with out of bounds hitscan projectiles (#84192)
  code/modules/projectiles/projectile.dm
Labels: none

Adds a glug sound to welding fuel tank leaks (#84146)
  code/modules/reagents/reagent_dispenser.dm
  sound/effects/glug.ogg
Labels: none

Moves sugar from polypore mycelium to fireblossoms (#84300)
  code/modules/mining/lavaland/ash_flora.dm
Labels: none

Spess Knife as a random mail item for engi and clown (#84173)
  code/modules/jobs/job_types/clown.dm
  code/modules/jobs/job_types/station_engineer.dm
Labels: none

Moves abductor antag stinger to the datum (#84296)
  code/modules/antagonists/abductor/abductor.dm
Labels: none

[MIRROR] tgui: adds tgui npm library (#28396)
  tgui/packages/tgui/interfaces/AccountingConsole.tsx
  tgui/packages/tgui/interfaces/AirAlarm.tsx
  tgui/packages/tgui/interfaces/Autolathe.tsx
  tgui/packages/tgui/interfaces/CameraConsole.tsx
  tgui/packages/tgui/interfaces/ChemDispenser.tsx
  tgui/packages/tgui/interfaces/CrewConsole.tsx
  tgui/packages/tgui/interfaces/Fabricator.tsx
  tgui/packages/tgui/interfaces/QuantumConsole.tsx
  tgui/packages/tgui/interfaces/Vending.tsx
  tgui/packages/tgui/interfaces/VotePanel.tsx
  tgui/packages/tgui/package.json
  tgui/webpack.config.js
  tgui/yarn.lock
Labels: none

[MIRROR] basic firebots refactor (#28397)
  _maps/RandomRuins/SpaceRuins/infested_frigate.dmm
  _maps/RandomZLevels/SnowCabin.dmm
  _maps/map_files/Birdshot/birdshot.dmm
  code/__DEFINES/ai/bot_keys.dm
  code/__DEFINES/robots.dm
  code/datums/ai/basic_mobs/targeting_strategies/basic_targeting_strategy.dm
  code/datums/components/crafting/robot.dm
  code/modules/mob/living/basic/bots/bot_ai.dm
  code/modules/mob/living/basic/bots/firebot/firebot.dm
  code/modules/mob/living/basic/bots/firebot/firebot_ai.dm
  code/modules/mob/living/simple_animal/bot/construction.dm
  code/modules/mob/living/simple_animal/bot/firebot.dm
  code/modules/unit_tests/simple_animal_freeze.dm
  sound/voice/firebot/candle_tip.ogg
  sound/voice/firebot/electric_fire_tip.ogg
  sound/voice/firebot/gasoline_tip.ogg
  tgstation.dme
  tools/UpdatePaths/Scripts/83861_firebots.txt
Labels: Map Modification

Automatic changelog for PR #28397 [ci skip]
  html/changelogs/AutoChangeLog-pr-28397.yml
Labels: none

[MIRROR] fixes infiltrator sprite being misaligned (#28401)
  icons/mob/clothing/modsuit/mod_clothing.dmi
Labels: Sprites

[MIRROR] Fix advanced proximity monitors being 1 tile too small (again...) (#28402)
  code/datums/proximity_monitor/field.dm
  code/datums/proximity_monitor/fields/projectile_dampener.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/spell_timestop.dm
Labels: none

[MIRROR] Surgical omnitool upgrade upgrades the health analyzer (#28403)
  code/game/objects/items/robot/robot_upgrades.dm
Labels: none

[MIRROR] [NO GBP] Actions buttons can be dragged anywhere again (#28404)
  code/_onclick/hud/action_button.dm
Labels: none

[MIRROR] [NO GBP] Pen size hotfix (#28405)
  code/modules/paperwork/pen.dm
Labels: none

[MIRROR] Fix cyborg omnitool regression (#28406)
  code/game/objects/items/robot/items/tools.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/cyborg_tool.dm
Labels: none

[MIRROR] Adds cool sword mouse cursor maintenance pda app (#28407)
  code/modules/modular_computers/computers/item/computer_files.dm
  code/modules/modular_computers/computers/item/disks/maintenance_disks.dm
  code/modules/modular_computers/file_system/programs/maintenance/cool_sword.dm
  icons/effects/mouse_pointers/cool_sword.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/NtosCursor.tsx
Labels: Sprites

[MIRROR] Fixes head protector modules doing...nothing (#28408)
  code/modules/mod/modules/modules_engineering.dm
Labels: none

[MIRROR] Fixed limb slowdown and hunger affecting your speed in nograv (#28412)
  code/modules/movespeed/modifiers/innate.dm
  code/modules/movespeed/modifiers/mobs.dm
Labels: none

[MIRROR] Adds crystallizer boards to delta and tram HFR project rooms (#28413)
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/tramstation/tramstation.dmm
Labels: Map Modification

[MIRROR] Fixes runtime with out of bounds hitscan projectiles (#28415)
  code/modules/projectiles/projectile.dm
Labels: none

[MIRROR] Adds a glug sound to welding fuel tank leaks (#28416)
  code/modules/reagents/reagent_dispenser.dm
  sound/effects/glug.ogg
Labels: none

[MIRROR] Moves sugar from polypore mycelium to fireblossoms (#28417)
  code/modules/mining/lavaland/ash_flora.dm
Labels: none

[MIRROR] Spess Knife as a random mail item for engi and clown (#28418)
  code/modules/jobs/job_types/clown.dm
  code/modules/jobs/job_types/station_engineer.dm
Labels: none

[MIRROR] Moves abductor antag stinger to the datum (#28419)
  code/modules/antagonists/abductor/abductor.dm
Labels: none

Automatic changelog for PR #28401 [ci skip]
  html/changelogs/AutoChangeLog-pr-28401.yml
Labels: none

Automatic changelog for PR #28402 [ci skip]
  html/changelogs/AutoChangeLog-pr-28402.yml
Labels: none

Automatic changelog for PR #28403 [ci skip]
  html/changelogs/AutoChangeLog-pr-28403.yml
Labels: none

Automatic changelog for PR #28404 [ci skip]
  html/changelogs/AutoChangeLog-pr-28404.yml
Labels: none

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'
