Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'

Automatic changelog for PR #28987 [ci skip]
  html/changelogs/AutoChangeLog-pr-28987.yml
Labels: none

Automatic changelog for PR #28989 [ci skip]
  html/changelogs/AutoChangeLog-pr-28989.yml
Labels: none

Update declarations.dm
  code/__DEFINES/traits/declarations.dm
Labels: none

Update signals_mob_living.dm
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_living.dm
Labels: none

[MIRROR] Voidwalker Balancing, Fixes and Additions (#28965)
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_living.dm
  code/__DEFINES/dcs/signals/signals_voidwalker.dm
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/_onclick/item_attack.dm
  code/datums/components/space_dive.dm
  code/datums/components/space_kidnap.dm
  code/datums/elements/glass_pacifist.dm
  code/datums/elements/no_crit_hitting.dm
  code/datums/elements/only_pull_living.dm
  code/game/objects/items.dm
  code/modules/antagonists/voidwalker/voidwalker_abilities.dm
  code/modules/antagonists/voidwalker/voidwalker_bodyparts.dm
  code/modules/antagonists/voidwalker/voidwalker_kidnap.dm
  code/modules/antagonists/voidwalker/voidwalker_organs.dm
  code/modules/antagonists/voidwalker/voidwalker_species.dm
  code/modules/antagonists/voidwalker/voidwalker_status_effects.dm
  code/modules/antagonists/voidwalker/voidwalker_void_eater.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/religion/sparring/sparring_datum.dm
  icons/mob/actions/actions_voidwalker.dmi
  icons/mob/actions/backgrounds.dmi
  tgstation.dme
Labels: Sprites

[MIRROR] Airlock Pumps on Oldstation (Charlie) (#28974)
  _maps/RandomRuins/SpaceRuins/oldstation.dmm
Labels: Map Modification

[MIRROR] Self-respiration no longer sends misleading messages and instead tells about lack of need to breathe once it actually gives you the effect (#28975)
  code/datums/diseases/advance/symptoms/oxygen.dm
Labels: none

Automatic changelog for PR #28965 [ci skip]
  html/changelogs/AutoChangeLog-pr-28965.yml
Labels: none

Automatic changelog for PR #28974 [ci skip]
  html/changelogs/AutoChangeLog-pr-28974.yml
Labels: none

[MIRROR] Adds the other half of the fox infusion because Arm is a coward (#28978)
  code/datums/sprite_accessories.dm
  code/game/machinery/dna_infuser/infuser_entries/infuser_tier_zero_entries.dm
  code/modules/surgery/organs/external/tails.dm
  icons/mob/human/cat_features.dmi
Labels: Sprites

Automatic changelog for PR #28975 [ci skip]
  html/changelogs/AutoChangeLog-pr-28975.yml
Labels: none

[MIRROR] Makes set_basalt_light local (#28979)
  code/__DEFINES/turfs.dm
  code/game/turfs/open/asteroid.dm
  code/game/turfs/open/basalt.dm
  code/game/turfs/open/floor/fancy_floor.dm
  code/modules/holodeck/turfs.dm
Labels: none

APC/SMES updates [NO GBP] (#28980)
  code/__DEFINES/~skyrat_defines/apc_defines.dm
  code/modules/power/apc/apc_main.dm
  code/modules/power/smes.dm
  modular_skyrat/master_files/code/modules/power/smes.dm
  modular_skyrat/modules/apc_arcing/code/apc.dm
  tgstation.dme
Labels: none

[MIRROR] Fixes shuttle events sometimes killing everyone (#29000)
  code/modules/shuttle/shuttle_events/_shuttle_events.dm
Labels: none

[MIRROR] You can now fish with explosives (#28999)
  code/__DEFINES/dcs/signals/signals_fish.dm
  code/datums/components/fishing_spot.dm
  code/datums/elements/lazy_fishing_spot.dm
  code/modules/fishing/fish/chasm_detritus.dm
  code/modules/fishing/fishing_minigame.dm
  code/modules/fishing/sources/_fish_source.dm
  code/modules/fishing/sources/source_types.dm
  code/modules/unit_tests/fish_unit_tests.dm
Labels: none

[MIRROR] [NO GBP] Updates surgical tape and edagger embedding values (#28998)
  code/game/objects/items/stacks/tape.dm
  code/modules/paperwork/pen.dm
Labels: none

[MIRROR] Mulebot UI refactor (#28997)
  code/__DEFINES/robots.dm
  code/modules/mob/living/simple_animal/bot/mulebot.dm
  code/modules/modular_computers/file_system/programs/robocontrol.dm
  tgui/packages/tgui/interfaces/Mule.jsx
  tgui/packages/tgui/interfaces/Mule.tsx
Labels: none

[MIRROR] Fixes fishing rods not working on adjacent targets (#28995)
  code/modules/fishing/fishing_rod.dm
Labels: none

[MIRROR] Holopads no longer suck in unsuspecting people when crowbared (#28994)
  code/game/machinery/_machinery.dm
Labels: none

[MIRROR] cleans up some formatting for the worn icons unit test (#28993)
  code/modules/unit_tests/worn_icons.dm
Labels: none

[MIRROR] Removes 8 cases of double indentation (#28992)
  code/controllers/subsystem/persistence/counter_tram_hits.dm
  code/datums/quirks/_quirk.dm
  code/game/objects/items/defib.dm
  code/game/objects/items/storage/lockbox.dm
  code/game/objects/structures/curtains.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/simple_animal/bot/mulebot.dm
Labels: none

[MIRROR] New Smartfridge UI (#28985)
  code/modules/food_and_drinks/machinery/smartfridge.dm
  tgui/packages/tgui/interfaces/SmartVend.tsx
Labels: none

[MIRROR] Makes vending use DMIcon where possible, halving the time it takes to make the vending spritesheet (#28984)
  code/modules/asset_cache/assets/vending.dm
  code/modules/vending/_vending.dm
  tgui/packages/tgui/interfaces/Vending.tsx
Labels: none

[MIRROR] Bitrunning Domain Fixes (#28983)
  _maps/virtual_domains/abductor_ship.dmm
  _maps/virtual_domains/ash_drake.dmm
  _maps/virtual_domains/beach_bar.dmm
  _maps/virtual_domains/blood_drunk_miner.dmm
  _maps/virtual_domains/breeze_bay.dmm
  _maps/virtual_domains/bubblegum.dmm
  _maps/virtual_domains/clown_planet.dmm
  _maps/virtual_domains/colossus.dmm
  _maps/virtual_domains/fredingtonfastingbear.dmm
  _maps/virtual_domains/gondola_asteroid.dmm
  _maps/virtual_domains/hierophant.dmm
  _maps/virtual_domains/island_brawl.dmm
  _maps/virtual_domains/pipedream.dmm
  _maps/virtual_domains/pirates.dmm
  _maps/virtual_domains/psyker_shuffle.dmm
  _maps/virtual_domains/psyker_zombies.dmm
  _maps/virtual_domains/stairs_and_cliffs.dmm
  _maps/virtual_domains/syndicate_assault.dmm
  _maps/virtual_domains/vaporwave.dmm
  _maps/virtual_domains/wendigo.dmm
  _maps/virtual_domains/xeno_nest.dmm
  code/game/turfs/closed/indestructible.dm
  code/modules/bitrunning/areas.dm
Labels: Map Modification

Revert "[MIRROR] Adds the other half of the fox infusion because Arm is a cow…"
  code/datums/sprite_accessories.dm
  code/game/machinery/dna_infuser/infuser_entries/infuser_tier_zero_entries.dm
  code/modules/surgery/organs/external/tails.dm
  icons/mob/human/cat_features.dmi
Labels: Sprites

[MIRROR] HONK mech now waddles (#28990)
  code/modules/vehicles/mecha/combat/honker.dm
Labels: none

Automatic changelog for PR #28978 [ci skip]
  html/changelogs/AutoChangeLog-pr-28978.yml
Labels: none

Automatic changelog for PR #28979 [ci skip]
  html/changelogs/AutoChangeLog-pr-28979.yml
Labels: none

HUD traits now apply their corresponding hud automatically. Most clothing/item/etc sources of HUDs now only use traits (#84984)
  code/__DEFINES/atom_hud.dm
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/_globalvars/traits/admin_tooling.dm
  code/datums/elements/digitalcamo.dm
  code/datums/hud.dm
  code/game/data_huds.dm
  code/game/objects/items/busts_and_figurines.dm
  code/modules/admin/verbs/admingame.dm
  code/modules/antagonists/nukeop/equipment/overwatch_tools.dm
  code/modules/clothing/glasses/_glasses.dm
  code/modules/clothing/glasses/hud.dm
  code/modules/clothing/suits/ablativecoat.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/basic/bots/_bots.dm
  code/modules/mob/living/basic/bots/bot_hud.dm
  code/modules/mob/living/basic/bots/vibebot/vibebot.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/mob/mob.dm
  code/modules/mod/modules/modules_visor.dm
  code/modules/pai/software.dm
  code/modules/surgery/organs/internal/cyberimp/augments_eyes.dm
  code/modules/vehicles/mecha/medical/odysseus.dm
Labels: none

Automatic changelog for PR #28980 [ci skip]
  html/changelogs/AutoChangeLog-pr-28980.yml
Labels: none

Automatic changelog for PR #29000 [ci skip]
  html/changelogs/AutoChangeLog-pr-29000.yml
Labels: none

Automatic changelog for PR #28999 [ci skip]
  html/changelogs/AutoChangeLog-pr-28999.yml
Labels: none

Automatic changelog for PR #28998 [ci skip]
  html/changelogs/AutoChangeLog-pr-28998.yml
Labels: none

Automatic changelog for PR #28997 [ci skip]
  html/changelogs/AutoChangeLog-pr-28997.yml
Labels: none

Automatic changelog for PR #28995 [ci skip]
  html/changelogs/AutoChangeLog-pr-28995.yml
Labels: none

Automatic changelog for PR #28994 [ci skip]
  html/changelogs/AutoChangeLog-pr-28994.yml
Labels: none

Automatic changelog for PR #28992 [ci skip]
  html/changelogs/AutoChangeLog-pr-28992.yml
Labels: none

Automatic changelog for PR #28985 [ci skip]
  html/changelogs/AutoChangeLog-pr-28985.yml
Labels: none

Automatic changelog for PR #28984 [ci skip]
  html/changelogs/AutoChangeLog-pr-28984.yml
Labels: none

Automatic changelog for PR #28983 [ci skip]
  html/changelogs/AutoChangeLog-pr-28983.yml
Labels: none
