Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'

Update magazine.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/nanotrasen_system_inc/magazine.dm
Labels: none

Update rifle.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/ammo/rifle.dm
Labels: none

Resurrects Liquidscode
  code/__DEFINES/~skyrat_defines/signals.dm
  code/modules/unit_tests/turf_icons.dm
  modular_skyrat/modules/liquids/code/liquid_systems/liquid_controller.dm
  modular_skyrat/modules/liquids/code/liquid_systems/liquid_effect.dm
  modular_skyrat/modules/liquids/code/liquid_systems/liquid_plumbers.dm
  modular_skyrat/modules/liquids/code/liquid_systems/liquid_turf.dm
  modular_skyrat/modules/liquids/code/ocean_areas.dm
  modular_skyrat/modules/liquids/code/ocean_flora.dm
  modular_skyrat/modules/liquids/code/ocean_mapgen.dm
  modular_skyrat/modules/liquids/code/ocean_turfs.dm
  modular_skyrat/modules/liquids/icons/obj/effects/liquid.dmi
Labels: Sprites

I fucked this one up; oopsies.
  modular_skyrat/modules/liquids/code/ocean_biomes.dm
Labels: none

Automatic changelog for PR #28635 [ci skip]
  html/changelogs/AutoChangeLog-pr-28635.yml
Labels: none

I regex'd for this!! How did this slip through??
  modular_skyrat/modules/liquids/code/ocean_biomes.dm
Labels: none

This one's more understandable though.
  modular_skyrat/modules/liquids/code/ocean_biomes.dm
Labels: none

Update ocean_turfs.dm
  modular_skyrat/modules/liquids/code/ocean_turfs.dm
Labels: none

[MIRROR] [no gbp] fixes master screenshot tests (again) (#28700)
  code/modules/unit_tests/screenshots/screenshot_dynamic_human_icons_syndicate_commando.png
Labels: none

Adds missing wires leading to the port hallway APC on birdshot. (#84748)
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Map Modification

Paintings can be sponsored again (#84746)
  code/modules/art/paintings.dm
Labels: none

fix white noise in scalpel sound (#84739)
  sound/surgery/scalpel1.ogg
Labels: none

[no gbp] the path to the wawastation chemsat is more clear now (#84684)
  _maps/map_files/wawastation/wawastation.dmm
Labels: Map Modification

Fix power usage and heating power of space heaters (#84743)
  code/game/machinery/spaceheater.dm
Labels: none

Allow copying blast door controller ids onto shutters/blast doors directly (#84713)
  code/game/machinery/doors/poddoor.dm
Labels: none

[MIRROR] Adds missing wires leading to the port hallway APC on birdshot. (#28716)
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Map Modification

[MIRROR] Paintings can be sponsored again (#28717)
  code/modules/art/paintings.dm
Labels: none

Automatic changelog for PR #28716 [ci skip]
  html/changelogs/AutoChangeLog-pr-28716.yml
Labels: none

[MIRROR] fix white noise in scalpel sound (#28718)
  sound/surgery/scalpel1.ogg
Labels: none

Automatic changelog for PR #28717 [ci skip]
  html/changelogs/AutoChangeLog-pr-28717.yml
Labels: none

[MIRROR] [no gbp] the path to the wawastation chemsat is more clear now (#28719)
  _maps/map_files/wawastation/wawastation.dmm
Labels: Map Modification

[MIRROR] Fix power usage and heating power of space heaters (#28720)
  code/game/machinery/spaceheater.dm
Labels: none

Automatic changelog for PR #28718 [ci skip]
  html/changelogs/AutoChangeLog-pr-28718.yml
Labels: none

Automatic changelog for PR #28719 [ci skip]
  html/changelogs/AutoChangeLog-pr-28719.yml
Labels: none

Automatic changelog for PR #28720 [ci skip]
  html/changelogs/AutoChangeLog-pr-28720.yml
Labels: none

[MIRROR] Allow copying blast door controller ids onto shutters/blast doors directly (#28721)
  code/game/machinery/doors/poddoor.dm
Labels: none

Automatic changelog for PR #28721 [ci skip]
  html/changelogs/AutoChangeLog-pr-28721.yml
Labels: none

Update labcoat.dm
  modular_skyrat/master_files/code/modules/clothing/suits/labcoat.dm
Labels: none

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-28635.yml
  html/changelogs/AutoChangeLog-pr-28684.yml
  html/changelogs/AutoChangeLog-pr-28685.yml
  html/changelogs/AutoChangeLog-pr-28686.yml
  html/changelogs/AutoChangeLog-pr-28689.yml
  html/changelogs/AutoChangeLog-pr-28690.yml
  html/changelogs/AutoChangeLog-pr-28691.yml
  html/changelogs/AutoChangeLog-pr-28692.yml
  html/changelogs/AutoChangeLog-pr-28693.yml
  html/changelogs/AutoChangeLog-pr-28695.yml
  html/changelogs/AutoChangeLog-pr-28696.yml
  html/changelogs/AutoChangeLog-pr-28697.yml
  html/changelogs/AutoChangeLog-pr-28699.yml
  html/changelogs/AutoChangeLog-pr-28701.yml
  html/changelogs/AutoChangeLog-pr-28702.yml
  html/changelogs/AutoChangeLog-pr-28703.yml
  html/changelogs/AutoChangeLog-pr-28704.yml
  html/changelogs/AutoChangeLog-pr-28705.yml
  html/changelogs/AutoChangeLog-pr-28706.yml
  html/changelogs/AutoChangeLog-pr-28707.yml
  html/changelogs/AutoChangeLog-pr-28708.yml
  html/changelogs/AutoChangeLog-pr-28709.yml
  html/changelogs/AutoChangeLog-pr-28710.yml
  html/changelogs/AutoChangeLog-pr-28711.yml
  html/changelogs/AutoChangeLog-pr-28713.yml
  html/changelogs/AutoChangeLog-pr-28716.yml
  html/changelogs/AutoChangeLog-pr-28717.yml
  html/changelogs/AutoChangeLog-pr-28718.yml
  html/changelogs/AutoChangeLog-pr-28719.yml
  html/changelogs/AutoChangeLog-pr-28720.yml
  html/changelogs/AutoChangeLog-pr-28721.yml
  html/changelogs/archive/2024-07.yml
Labels: none

Adds zipping sound to zipping up a winter coat. (#84769)
  code/modules/clothing/suits/wintercoats.dm
Labels: none

[NO GBP] Embedding hotfix (#84770)
  code/datums/elements/embed.dm
  code/datums/embed_data.dm
  code/game/objects/items.dm
  code/modules/projectiles/projectile.dm
Labels: none

Fixes the randomization of external organs and species features
  code/datums/dna.dm
Labels: none

[MDB IGNORE] Map lints the `piping_layer` var and scrubs it off our maps (#84686)
  _maps/RandomRuins/IceRuins/icemoon_surface_phonebooth.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_phonebooth.dmm
  _maps/RandomRuins/SpaceRuins/phonebooth.dmm
  _maps/RandomZLevels/snowdin.dmm
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/map_files/wawastation/wawastation.dmm
  _maps/shuttles/whiteship_pubby.dmm
  code/game/machinery/computer/atmos_computers/inlets.dm
  code/modules/atmospherics/machinery/components/tank.dm
  code/modules/atmospherics/machinery/components/trinary_devices/mixer.dm
  code/modules/atmospherics/machinery/components/unary_devices/thermomachine.dm
  tools/maplint/lints/atmos_var_edits.yml
Labels: Map Modification

Pen click sound (#84737)
  code/modules/paperwork/pen.dm
  sound/items/attributions.txt
  sound/items/pen_click.ogg
Labels: none

Creates an EMP act for Jetpacks + minor buffs to sec modsuits (#84582)
  code/game/objects/items/tanks/jetpack.dm
  code/modules/mod/mod_types.dm
  code/modules/research/designs/mechfabricator_designs.dm
  code/modules/research/techweb/nodes/modsuit_nodes.dm
Labels: none

Fixes an unrestricted airlock in metastation brig maints (#84753)
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Modification

Fixes welding helmet and hardhat pepperspray protection (#84742)
  code/modules/clothing/head/hardhat.dm
  code/modules/clothing/head/welding.dm
Labels: none

Hydroponic trays take in reagents proportionally from plumbing mech (#84714)
  code/__DEFINES/reagents.dm
  code/datums/components/plumbing/_plumbing.dm
  code/datums/components/plumbing/buffer.dm
  code/datums/components/plumbing/filter.dm
  code/datums/components/plumbing/simple_components.dm
  code/datums/components/plumbing/splitter.dm
  code/modules/hydroponics/hydroponics.dm
  code/modules/plumbing/plumbers/_plumb_machinery.dm
  code/modules/plumbing/plumbers/bottler.dm
  code/modules/reagents/chemistry/holder/holder.dm
  tgstation.dme
Labels: none

Fixes ore vents floating after a tendril collapses nearby. (#84730)
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/game/objects/structures/lavaland/necropolis_tendril.dm
  code/game/objects/structures/lavaland/ore_vent.dm
Labels: none

exodrone sign part 2 (#84606)
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/map_files/wawastation/wawastation.dmm
  code/game/objects/structures/signs/signs_departments.dm
  icons/obj/signs.dmi
Labels: Map Modification, Sprites
