Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'

Automatic changelog for PR #28794 [ci skip]
  html/changelogs/AutoChangeLog-pr-28794.yml
Labels: none

Automatic changelog for PR #28795 [ci skip]
  html/changelogs/AutoChangeLog-pr-28795.yml
Labels: none

Automatic changelog for PR #28796 [ci skip]
  html/changelogs/AutoChangeLog-pr-28796.yml
Labels: none

Automatic changelog for PR #28797 [ci skip]
  html/changelogs/AutoChangeLog-pr-28797.yml
Labels: none

Fixes password doors and shutters not playing their sound effects
  code/game/machinery/doors/door.dm
Labels: none

Fixes MOD hypospray using incorrect fill sprites (#84875)
  code/modules/mod/modules/modules_medical.dm
  icons/obj/medical/reagent_fillings.dmi
Labels: Sprites

Other mobs no longer hear your breathing (#84876)
  code/datums/looping_sounds/breathing.dm
  code/modules/mob/living/carbon/carbon.dm
Labels: none

Heads of staff PDAs start with twice as much disk space (#84874)
  code/modules/modular_computers/computers/item/role_tablet_presets.dm
Labels: none

Experimentor malfunction reduction chance is now multiplicative. Copying is now slightly rarer. (#84858)
  code/modules/research/experimentor.dm
Labels: none

conflicts
  code/game/machinery/dna_infuser/organ_sets/fly_organs.dm
  code/modules/surgery/organs/internal/tongue/_tongue.dm
Labels: none

Update door.dm
  code/game/machinery/doors/door.dm
Labels: none

modular
  _maps/skyrat/automapper/templates/wawastation/wawastation_arrivals.dmm
  modular_skyrat/modules/aesthetics/floors/code/floors.dm
  modular_skyrat/modules/aesthetics/floors/icons/catwalk_plating.dmi
Labels: Map Modification, Sprites

Update serenitystation.json
  _maps/serenitystation.json
Labels: Map Modification

[MIRROR] Resprites Catwalk Tiles to match TG's floortiles (#28778)
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/wawastation/wawastation.dmm
  _maps/shuttles/emergency_northstar.dmm
  _maps/skyrat/automapper/templates/wawastation/wawastation_arrivals.dmm
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/turfs/open/floor/catwalk_plating.dm
  icons/obj/tiles.dmi
  icons/turf/floors/catwalk_plating.dmi
  modular_skyrat/modules/aesthetics/floors/code/floors.dm
  modular_skyrat/modules/aesthetics/floors/icons/catwalk_plating.dmi
  tools/UpdatePaths/Scripts/84819_replace_flat_white_catwalks.txt
Labels: Map Modification, Sprites

[MIRROR] Fixes the Metastation cargo ripley not being able to charge. (#28791)
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Modification

Automatic changelog for PR #28778 [ci skip]
  html/changelogs/AutoChangeLog-pr-28778.yml
Labels: none

[MIRROR] War declaration gives 600 research points (#28798)
  code/modules/antagonists/nukeop/equipment/nuclear_challenge.dm
Labels: none

Automatic changelog for PR #28791 [ci skip]
  html/changelogs/AutoChangeLog-pr-28791.yml
Labels: none

[MIRROR] Pyro and cryo beams (the genetics powers) adjust temperature more severely, additional effects to make them more meaningfully interact with the world (#28799)
  code/modules/projectiles/projectile/special/temperature.dm
Labels: none

[MIRROR] Converts id trim assignment value from strings to defines (#28800)
  code/datums/id_trim/jobs.dm
Labels: none

[MIRROR] Buffs tetrodotoxin availiability a bit. (#28801)
  code/modules/fishing/fish/fish_traits.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
Labels: none

Automatic changelog for PR #28798 [ci skip]
  html/changelogs/AutoChangeLog-pr-28798.yml
Labels: none

[MIRROR] Adds the National Ice Cream Day. (#28802)
  code/__DEFINES/time.dm
  code/game/objects/items/food/pastries.dm
  code/game/objects/items/robot/items/food.dm
  code/game/objects/structures/morgue.dm
  code/modules/food_and_drinks/machinery/icecream_vat.dm
  code/modules/food_and_drinks/restaurant/customers/_customer.dm
  code/modules/holiday/nth_week.dm
  code/modules/mob/living/silicon/robot/robot_model.dm
Labels: none

[MIRROR] Multilines this static list (#28803)
  code/modules/surgery/organs/internal/tongue/_tongue.dm
Labels: none

[MIRROR] Fixes the french beret making you speak spanish (#28804)
  code/modules/clothing/masks/boxing.dm
Labels: none

[MIRROR] Fixes password doors and shutters not playing their sound effects (#28805)
  code/game/machinery/doors/door.dm
Labels: none

[MIRROR] Fixes MOD hypospray using incorrect fill sprites (#28806)
  code/modules/mod/modules/modules_medical.dm
  icons/obj/medical/reagent_fillings.dmi
Labels: Sprites

[MIRROR] Other mobs no longer hear your breathing (#28807)
  code/datums/looping_sounds/breathing.dm
  code/modules/mob/living/carbon/carbon.dm
Labels: none

[MIRROR] Heads of staff PDAs start with twice as much disk space (#28808)
  code/modules/modular_computers/computers/item/role_tablet_presets.dm
Labels: none

[MIRROR] Experimentor malfunction reduction chance is now multiplicative. Copying is now slightly rarer. (#28809)
  code/modules/research/experimentor.dm
Labels: none

Update bow_arrows.dm
  code/modules/projectiles/guns/ballistic/bows/bow_arrows.dm
Labels: none

Automatic changelog for PR #28799 [ci skip]
  html/changelogs/AutoChangeLog-pr-28799.yml
Labels: none

Automatic changelog for PR #28801 [ci skip]
  html/changelogs/AutoChangeLog-pr-28801.yml
Labels: none

Automatic changelog for PR #28802 [ci skip]
  html/changelogs/AutoChangeLog-pr-28802.yml
Labels: none

Automatic changelog for PR #28804 [ci skip]
  html/changelogs/AutoChangeLog-pr-28804.yml
Labels: none

Automatic changelog for PR #28805 [ci skip]
  html/changelogs/AutoChangeLog-pr-28805.yml
Labels: none

Automatic changelog for PR #28806 [ci skip]
  html/changelogs/AutoChangeLog-pr-28806.yml
Labels: none

Automatic changelog for PR #28807 [ci skip]
  html/changelogs/AutoChangeLog-pr-28807.yml
Labels: none

Automatic changelog for PR #28808 [ci skip]
  html/changelogs/AutoChangeLog-pr-28808.yml
Labels: none

Automatic changelog for PR #28809 [ci skip]
  html/changelogs/AutoChangeLog-pr-28809.yml
Labels: none
