Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'

Automatic changelog for PR #29172 [ci skip]
  html/changelogs/AutoChangeLog-pr-29172.yml
Labels: none

Automatic changelog for PR #29159 [ci skip]
  html/changelogs/AutoChangeLog-pr-29159.yml
Labels: none

Automatic changelog for PR #29166 [ci skip]
  html/changelogs/AutoChangeLog-pr-29166.yml
Labels: none

Sentience potions can now be used without a summon reason (#85446)
  code/modules/research/xenobiology/xenobiology.dm
Labels: none

Automatic changelog for PR #29143 [ci skip]
  html/changelogs/AutoChangeLog-pr-29143.yml
Labels: none

Automatic changelog for PR #29133 [ci skip]
  html/changelogs/AutoChangeLog-pr-29133.yml
Labels: none

NODE drones now show their wave progress on the sprite (#85405)
  code/__DEFINES/mining.dm
  code/game/objects/structures/lavaland/ore_vent.dm
  code/modules/mob/living/basic/lavaland/node_drone/node_drone.dm
  icons/obj/mining.dmi
Labels: Sprites

Machines check their parts during initialization (#85345)
  code/game/machinery/_machinery.dm
  code/game/machinery/medipen_refiller.dm
Labels: none

[no gbp] adds a hand labeller to wawa pharmacy (#85421)
  _maps/map_files/wawastation/wawastation.dmm
Labels: Map Modification

[no gbp] Assorted birdshot engineering feedback (#85314)
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Map Modification

[no gbp] Fixes rods not having sound_vary on (#85361)
  code/game/objects/items/stacks/rods.dm
Labels: none

Fix gas meters (#85445)
  code/datums/greyscale/json_configs/meter.json
  icons/obj/pipes_n_cables/meter.dmi
Labels: Sprites

Update alt_job_titles.dm
  modular_skyrat/modules/alternative_job_titles/code/alt_job_titles.dm
Labels: none

Update emotes.dm
  code/datums/emotes.dm
Labels: none

Automatic changelog for PR #29186 [ci skip]
  html/changelogs/AutoChangeLog-pr-29186.yml
Labels: none

Adds a bronze dimensional theme (#85448)
  code/game/objects/effects/anomalies/anomalies_dimensional_themes.dm
Labels: none

Fixed rice hat toggling, now toggle uses alt click
  code/modules/clothing/head/hat.dm
Labels: none

Bamboo staffs can now be wielded, bostaff no longer disappears forever when wielded
  code/game/objects/items/weaponry.dm
  code/modules/jobs/job_types/chaplain/chaplain_nullrod.dm
Labels: none

Add some missing mob traits to VV list (#85462)
  code/_globalvars/traits/_traits.dm
  code/_globalvars/traits/admin_tooling.dm
Labels: none

Fixes flashdark (#85454)
  code/game/objects/items/devices/flashlight.dm
Labels: none

[Merge ready] Adds, well Ports Echolocation (#29108)
  code/controllers/subsystem/processing/quirks.dm
  code/datums/components/echolocation.dm
  code/modules/client/preferences/clothing.dm
  modular_skyrat/modules/quirks/echolocation/echolocation.dm
  modular_skyrat/modules/quirks/echolocation/echolocation_component.dm
  modular_skyrat/modules/quirks/echolocation/echolocation_pref.dm
  modular_skyrat/modules/quirks/good.dm
  modular_skyrat/modules/quirks/negative.dm
  modular_skyrat/modules/quirks/neutral.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/skyrat/echolocation.tsx
Labels: none

Automatic changelog for PR #29108 [ci skip]
  html/changelogs/AutoChangeLog-pr-29108.yml
Labels: none

[NO GBP] shoving someone over onto a table and knocking them down causes them to be shove stun vulnerable. (#85439)
  code/game/objects/structures/tables_racks.dm
Labels: none

Callouts and MODsuit quick module pickers now track user (#85418)
  code/_onclick/hud/radial.dm
  code/datums/components/callouts.dm
  code/modules/mod/mod_control.dm
Labels: none

Automatic changelog for PR #29191 [ci skip]
  html/changelogs/AutoChangeLog-pr-29191.yml
Labels: none

Male bit-size updates (#3232)
  code/__DEFINES/~skyrat_defines/DNA.dm
  modular_skyrat/master_files/code/modules/client/preferences/genitals.dm
  modular_skyrat/master_files/icons/mob/sprite_accessory/genitals/taur_testicles_onmob.dmi
  modular_skyrat/master_files/icons/mob/sprite_accessory/genitals/testicles_onmob.dmi
  modular_skyrat/modules/customization/_globalvars/lists.dm
  modular_skyrat/modules/customization/modules/surgery/organs/genitals.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/skyrat/genitals.tsx
Labels: Sprites

Stop clientless lobstrosities from fishing other lobstrosities and the necropolis chest (#85365)
  code/modules/fishing/sources/_fish_source.dm
Labels: none

New Uplink UI (#85455)
  code/__DEFINES/uplink.dm
  code/datums/components/uplink.dm
  code/modules/antagonists/traitor/uplink_handler.dm
  code/modules/asset_cache/assets/uplink.dm
  code/modules/uplink/uplink_items/bundle.dm
  tgui/packages/tgui/interfaces/AntagInfoMalf.tsx
  tgui/packages/tgui/interfaces/Uplink/GenericUplink.tsx
  tgui/packages/tgui/interfaces/Uplink/PrimaryObjectiveMenu.tsx
  tgui/packages/tgui/interfaces/Uplink/calculateDangerLevel.tsx
  tgui/packages/tgui/interfaces/Uplink/index.tsx
Labels: none

Fixes/improves the Lua UI Slightly
  code/modules/admin/verbs/lua/lua_editor.dm
  code/modules/admin/verbs/lua/lua_state.dm
  tgui/packages/tgui/interfaces/LuaEditor/Log.tsx
  tgui/packages/tgui/interfaces/LuaEditor/index.tsx
  tgui/packages/tgui/interfaces/LuaEditor/types.ts
Labels: none

Skills are passed down to bitrunning avatars and then back to the original body. (#85442)
  code/modules/bitrunning/components/avatar_connection.dm
Labels: none

Stuffing people into contractor pods now unbuckles them first (#85461)
  code/modules/cargo/supplypod.dm
Labels: none

Cable coil and welding tool healing now loops. Fixed heal message not displaying when healing someone else
  code/game/objects/items/tools/weldingtool.dm
  code/modules/power/cable.dm
Labels: none

Makes cyborg damage more... showy (#85298)
  code/game/objects/effects/particles/fire.dm
  code/game/objects/effects/particles/smoke.dm
  code/modules/mob/living/silicon/robot/death.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_defense.dm
  code/modules/mob/living/silicon/robot/robot_defines.dm
  icons/mob/silicon/robots.dmi
Labels: Sprites

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-29108.yml
  html/changelogs/AutoChangeLog-pr-29186.yml
  html/changelogs/AutoChangeLog-pr-29191.yml
  html/changelogs/archive/2024-08.yml
Labels: none

Fixes chat color %
  modular_skyrat/modules/chat_colors/code/chat_color.dm
Labels: none

Update accessories.dm lost item
  modular_skyrat/master_files/code/modules/loadout/categories/accessories.dm
Labels: none

[MIRROR] Bow Update: Fletching instruction manual, bows using projectile damage multipliers, unhardcoded bow sprites, hot pink death [MDB IGNORE] (#3595)
  code/datums/components/crafting/entertainment.dm
  code/datums/components/crafting/equipment.dm
  code/game/objects/items/dice.dm
  code/game/objects/items/granters/crafting/fletching.dm
  code/modules/cargo/packs/service.dm
  code/modules/projectiles/guns/ballistic/bows/_bow.dm
  code/modules/projectiles/guns/ballistic/bows/bow_types.dm
  icons/obj/toys/dice.dmi
  modular_skyrat/master_files/code/modules/projectiles/guns/ballistic/bows/_bow.dm
  modular_skyrat/modules/cargo/code/packs.dm
  modular_skyrat/modules/reagent_forging/code/forge_items.dm
  modular_skyrat/modules/tribal_extended/code/crafting.dm
  modular_skyrat/modules/tribal_extended/code/recipes.dm
  modular_skyrat/modules/tribal_extended/code/weapons/bow.dm
  modular_skyrat/modules/tribal_extended/icons/ammo.dmi
  modular_skyrat/modules/tribal_extended/icons/dice.dmi
  modular_skyrat/modules/tribal_extended/icons/projectile.dmi
Labels: Sprites

Update crafting.dm
  modular_skyrat/modules/tribal_extended/code/crafting.dm
Labels: none

Fixes an infinite tc glitch
  code/datums/components/uplink.dm
Labels: none

[NO GBP] Actually makes the runtime logging suppression for lua states suppress logging runtimes (#85502)
  code/modules/admin/verbs/lua/lua_state.dm
Labels: none
