Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

Update tgstation.dme
  tgstation.dme
Labels: none

Automatic changelog for PR #29416 [ci skip]
  html/changelogs/AutoChangeLog-pr-29416.yml
Labels: none

Resprites Mech Mining Tools (#85176)
  icons/obj/devices/mecha_equipment.dmi
Labels: Sprites

Automatic changelog for PR #29379 [ci skip]
  html/changelogs/AutoChangeLog-pr-29379.yml
Labels: none

[MIRROR] Moves more species traits to bodyparts +bugfixes (#29318)
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/_globalvars/traits/admin_tooling.dm
  code/modules/mob/living/brain/brain_item.dm
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
  code/modules/mob/living/carbon/human/species_types/flypeople.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  code/modules/mob/living/carbon/human/species_types/monkeys.dm
  code/modules/mob/living/carbon/human/species_types/mothmen.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  code/modules/surgery/bodyparts/species_parts/ethereal_bodyparts.dm
  code/modules/surgery/bodyparts/species_parts/misc_bodyparts.dm
  code/modules/surgery/bodyparts/species_parts/moth_bodyparts.dm
Labels: none

Wallmount balloons are now clickable
  code/_onclick/hud/rendering/plane_masters/plane_master_subtypes.dm
  code/datums/components/examine_balloon.dm
Labels: none

Alien beds no longer pretend they can be deconstructed with a wrench (#85883)
  code/game/objects/structures/beds_chairs/alien_nest.dm
  code/game/objects/structures/beds_chairs/bed.dm
Labels: none

Manually aligns Centcom's airlocks (#85882)
  _maps/map_files/generic/CentCom.dmm
Labels: Map Modification

Fixes a runtime caused by incorrect arguments (#85895)
  code/controllers/subsystem/title.dm
Labels: none

Fix air alarm stuck in warning icon when area's alarms are cleared
  code/modules/atmospherics/machinery/air_alarm/_air_alarm.dm
Labels: none

Updates security barriers to be wallening'd
  icons/obj/structures/tall.dmi
Labels: Sprites

[MIRROR] add syndie lipstick (#29305)
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/game/objects/items/cosmetics.dm
  code/game/objects/items/hand_items.dm
  code/modules/mob/living/emote.dm
  code/modules/projectiles/projectile.dm
  code/modules/uplink/uplink_items/stealthy.dm
  icons/obj/cosmetic.dmi
Labels: Sprites

[MIRROR] Fixing the shower water overlay (#29413)
  code/game/objects/structures/shower.dm
Labels: none

Automatic changelog for PR #29318 [ci skip]
  html/changelogs/AutoChangeLog-pr-29318.yml
Labels: none

Update suit.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/suit.dmi
Labels: Sprites

Automatic changelog for PR #29305 [ci skip]
  html/changelogs/AutoChangeLog-pr-29305.yml
Labels: none

Automatic changelog for PR #29413 [ci skip]
  html/changelogs/AutoChangeLog-pr-29413.yml
Labels: none

Automatic changelog for PR #29412 [ci skip]
  html/changelogs/AutoChangeLog-pr-29412.yml
Labels: none

Access Button Sprite Fixes
  icons/obj/machines/airlock_machines.dmi
Labels: Sprites

[MIRROR] Alien beds no longer pretend they can be deconstructed with a wrench (#29421)
  code/game/objects/structures/beds_chairs/alien_nest.dm
  code/game/objects/structures/beds_chairs/bed.dm
Labels: none

[MIRROR] Fixes a runtime caused by incorrect arguments (#29423)
  code/controllers/subsystem/title.dm
Labels: none

Ready
  code/game/objects/structures/window.dm
Labels: none

ready
  code/controllers/subsystem/ai_controllers.dm
Labels: none

[MIRROR] Resets atmos between unit test runs (#29399)
  code/modules/unit_tests/unit_test.dm
Labels: none

rready
  code/__DEFINES/inventory.dm
Labels: none

Automatic changelog for PR #29421 [ci skip]
  html/changelogs/AutoChangeLog-pr-29421.yml
Labels: none

Aliens and digitigrade legs use claw footprint sprite (#85898)
  code/modules/mob/living/carbon/alien/alien.dm
  code/modules/surgery/bodyparts/species_parts/lizard_bodyparts.dm
Labels: none

[MIRROR] Changes wall leaning into a component, makes windows leanable (#29400)
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_living.dm
  code/datums/components/leanable.dm
  code/game/objects/structures/window.dm
  code/game/turfs/closed/walls.dm
  tgstation.dme
Labels: none

[MIRROR] idle basic mobs can plan again (#29351)
  code/__DEFINES/MC.dm
  code/__DEFINES/subsystems.dm
  code/_globalvars/lists/basic_ai.dm
  code/controllers/subsystem/ai_controllers.dm
  code/controllers/subsystem/ai_idle_controllers.dm
  code/controllers/subsystem/processing/ai_idle_behaviors.dm
  code/datums/ai/_ai_controller.dm
  code/modules/mob/living/living.dm
  tgstation.dme
Labels: none

Automatic changelog for PR #29400 [ci skip]
  html/changelogs/AutoChangeLog-pr-29400.yml
Labels: none

Automatic changelog for PR #29351 [ci skip]
  html/changelogs/AutoChangeLog-pr-29351.yml
Labels: none

[BIRDSHOT] Wallening Pass
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Map Modification

portable gravity machine (#85694)
  code/__DEFINES/icon_smoothing.dm
  code/datums/proximity_monitor/fields/gravity.dm
  code/game/machinery/portagrav.dm
  code/game/objects/effects/particles/gravity.dm
  code/game/objects/items/circuitboards/machines/machine_circuitboards.dm
  code/modules/cargo/packs/engineering.dm
  icons/obj/machines/gravity_generator.dmi
  icons/obj/smooth_structures/grav_field.dmi
  icons/obj/smooth_structures/grav_field.png
  icons/obj/smooth_structures/grav_field.png.toml
  icons/obj/smooth_structures/grav_field_emissive.dmi
  icons/obj/smooth_structures/grav_field_emissive.png
  icons/obj/smooth_structures/grav_field_emissive.png.toml
  tgstation.dme
  tgui/packages/tgui/interfaces/Portagrav.tsx
Labels: Sprites

Good enough
  code/game/objects/items/stacks/sheets/sheet_types.dm
Labels: none

Synth refix (#29355)
  .github/CODEOWNERS
  code/__DEFINES/~skyrat_defines/synth_defines.dm
  code/game/machinery/rechargestation.dm
  code/modules/surgery/advanced/brainwashing.dm
  code/modules/surgery/amputation.dm
  code/modules/surgery/bodyparts/head_hair_and_lips.dm
  code/modules/surgery/gastrectomy.dm
  code/modules/surgery/hepatectomy.dm
  code/modules/surgery/lobectomy.dm
  icons/obj/weapons/bows/arrows.dmi
  icons/obj/weapons/bows/bows.dmi
  modular_skyrat/modules/bodyparts/code/taur_bodyparts.dm
  modular_skyrat/modules/colony_fabricator/code/appliances/space_heater.dm
  modular_skyrat/modules/synths/code/bodyparts/brain.dm
  modular_skyrat/modules/synths/code/bodyparts/internal_computer/internal_computer.dm
  modular_skyrat/modules/synths/code/bodyparts/limbs.dm
  modular_skyrat/modules/synths/code/bodyparts/power_cord.dm
  modular_skyrat/modules/synths/code/bodyparts/stomach.dm
  modular_skyrat/modules/synths/code/surgery/robot_chassis_restoration.dm
  modular_skyrat/modules/synths/code/surgery/robot_healing.dm
  modular_skyrat/modules/synths/code/surgery/robot_surgery_rename.dm
  tgstation.dme
Labels: Sprites

[MIRROR] Resprites Mech Mining Tools (#29419)
  icons/obj/devices/mecha_equipment.dmi
Labels: Sprites

ready
  code/modules/atmospherics/machinery/air_alarm/_air_alarm.dm
Labels: none

Splits wall layer into three
  code/__DEFINES/layers.dm
  code/datums/components/wall_mounted.dm
  code/datums/elements/render_over_keep_hitbox.dm
  code/datums/elements/wall_mount.dm
  code/game/machinery/barsigns.dm
  code/game/machinery/camera/camera.dm
  code/game/machinery/flasher.dm
  code/game/machinery/incident_display.dm
  code/game/objects/effects/glowshroom.dm
  code/game/objects/structures/mirror.dm
  code/game/objects/structures/noticeboard.dm
  code/game/objects/structures/plaques/_plaques.dm
  code/game/objects/structures/signs/_signs.dm
  code/game/objects/structures/water_structures/urinal.dm
  code/modules/atmospherics/machinery/bluespace_vendor.dm
  code/modules/mapfluff/ruins/lavalandruin_code/elephantgraveyard.dm
  code/modules/power/lighting/light.dm
  code/modules/power/lighting/light_construct.dm
Labels: none

fixes ai controllers incorrectly idling when changing z level (#85904)
  code/datums/ai/_ai_controller.dm
Labels: none

Automatic changelog for PR #29355 [ci skip]
  html/changelogs/AutoChangeLog-pr-29355.yml
Labels: none

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'
