Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'

Automatic changelog for PR #28925 [ci skip]
  html/changelogs/AutoChangeLog-pr-28925.yml
Labels: none

"Job Playtime Exempt" now also applies to Account Age Restrictions (#84878)
  code/__DEFINES/preferences.dm
  code/modules/client/preferences.dm
  code/modules/jobs/job_exp.dm
  code/modules/jobs/job_types/_job.dm
Labels: none

Sentient floorbots can now rip up tiles when emagged + cleanup (#84976)
  code/modules/mob/living/simple_animal/bot/floorbot.dm
Labels: none

Update sec_clothing_overrides.dm
  modular_skyrat/modules/goofsec/code/sec_clothing_overrides.dm
Labels: none

Update shotgun.dm
  modular_skyrat/modules/shotgunrebalance/code/shotgun.dm
Labels: none

Update bow_arrows.dm
  code/modules/projectiles/guns/ballistic/bows/bow_arrows.dm
Labels: none

tthis also update the actual bow & arrow code
  modular_skyrat/modules/tribal_extended/code/ammo/reusable/arrow.dm
  modular_skyrat/modules/tribal_extended/code/recipes.dm
  modular_skyrat/modules/tribal_extended/code/weapons/bow.dm
Labels: none

[MIRROR] Allows humans with a robotic voicebox installed, MMIs, and posibrains to use silicon emotes, and simple/basic bots to beep (#28878)
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/_globalvars/traits/admin_tooling.dm
  code/datums/emotes.dm
  code/modules/mob/living/basic/bots/_bots.dm
  code/modules/mob/living/basic/pets/orbie/orbie.dm
  code/modules/mob/living/brain/brain.dm
  code/modules/mob/living/emote.dm
  code/modules/mob/living/silicon/robot/emote.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/modular_computers/file_system/programs/virtual_pet.dm
  code/modules/surgery/organs/internal/tongue/_tongue.dm
  modular_skyrat/modules/emote_panel/code/emote_panel.dm
  modular_skyrat/modules/emotes/code/synth_emotes.dm
  modular_skyrat/modules/synths/code/bodyparts/brain.dm
  modular_skyrat/modules/synths/code/bodyparts/internal_computer/brain.dm
Labels: none

[MIRROR] Adjustments to birdshot atmos storage, adds cycling to tcomms/upload (#28928)
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Map Modification

[MIRROR] Fixing a table in the mining office at the metastation (#28931)
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Modification

[MIRROR] Adds holo-fan and two thermomachine and emitters boards to lavaland syndicate base. Attempt #2 (#28934)
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1/mistake_inevitable.dmm
Labels: Map Modification

[MIRROR] Fixes that one alien feature that uses mouse drag (#28936)
  code/datums/elements/strippable.dm
Labels: none

[MIRROR] Tweaks orange pipe colour to be more distinct in darkness (#28937)
  code/__HELPERS/piping_colors_lists.dm
  code/modules/atmospherics/machinery/pipes/mapping.dm
Labels: none

Make chem dispenser display units instead of kilowatts (#85073)
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
  tgui/packages/tgui/interfaces/ChemDispenser.tsx
Labels: none

Automatic changelog for PR #28927 [ci skip]
  html/changelogs/AutoChangeLog-pr-28927.yml
Labels: none

Automatic changelog for PR #28932 [ci skip]
  html/changelogs/AutoChangeLog-pr-28932.yml
Labels: none

Automatic changelog for PR #28938 [ci skip]
  html/changelogs/AutoChangeLog-pr-28938.yml
Labels: none

Automatic changelog for PR #28935 [ci skip]
  html/changelogs/AutoChangeLog-pr-28935.yml
Labels: none

Automatic changelog for PR #28922 [ci skip]
  html/changelogs/AutoChangeLog-pr-28922.yml
Labels: none

Automatic changelog for PR #28924 [ci skip]
  html/changelogs/AutoChangeLog-pr-28924.yml
Labels: none

Automatic changelog for PR #28926 [ci skip]
  html/changelogs/AutoChangeLog-pr-28926.yml
Labels: none

Automatic changelog for PR #28878 [ci skip]
  html/changelogs/AutoChangeLog-pr-28878.yml
Labels: none

Automatic changelog for PR #28928 [ci skip]
  html/changelogs/AutoChangeLog-pr-28928.yml
Labels: none

Automatic changelog for PR #28931 [ci skip]
  html/changelogs/AutoChangeLog-pr-28931.yml
Labels: none

Automatic changelog for PR #28934 [ci skip]
  html/changelogs/AutoChangeLog-pr-28934.yml
Labels: none

Automatic changelog for PR #28936 [ci skip]
  html/changelogs/AutoChangeLog-pr-28936.yml
Labels: none

Automatic changelog for PR #28937 [ci skip]
  html/changelogs/AutoChangeLog-pr-28937.yml
Labels: none

Fixed a signal reg error caused by add_occupant being called twice (#85072)
  code/modules/vehicles/mecha/mecha_mob_interaction.dm
Labels: none

Felinids that pray are given a chimkin nugget (#85059)
  code/modules/mob/living/carbon/human/species_types/felinid.dm
Labels: none

Adds a standalone Civilian Modsuit model, available from robotics (#84806)
  code/modules/mod/mod_construction.dm
  code/modules/mod/mod_theme.dm
  code/modules/mod/mod_types.dm
  code/modules/research/designs/mechfabricator_designs.dm
  code/modules/research/techweb/nodes/modsuit_nodes.dm
  icons/mob/clothing/modsuit/mod_clothing.dmi
  icons/obj/clothing/modsuit/mod_clothing.dmi
  icons/obj/clothing/modsuit/mod_construction.dmi
Labels: Sprites

Blob delta now spawns non-ghost controllable spores (#85078)
  code/modules/antagonists/blob/overmind.dm
Labels: none

Adds the Bitrunner & Miner jumpsuits to the Cargodrobe, Organizes the Coroner Drobe (#85071)
  code/modules/vending/wardrobes.dm
Labels: none

New deep fryer sprite (#85082)
  code/modules/food_and_drinks/machinery/deep_fryer.dm
  icons/obj/machines/kitchen.dmi
Labels: Sprites

Brainwashed brains now have smooth sprites
  code/game/machinery/dna_infuser/organ_sets/carp_organs.dm
  code/game/machinery/dna_infuser/organ_sets/goliath_organs.dm
  code/modules/antagonists/voidwalker/voidwalker_organs.dm
  code/modules/mob/living/brain/brain_item.dm
  icons/obj/medical/organs/organs.dmi
  icons/obj/medical/organs/shadow_organs.dmi
Labels: Sprites

Moving the light bulb removal function from the left mouse button to the right one & add screen tips
  code/modules/power/lighting/light.dm
  code/modules/power/lighting/light_construct.dm
Labels: none

[NO GBP] megaphone tts actually works now. (#85031)
  code/game/objects/items/devices/megaphone.dm
Labels: none

Fix(?) announcement subheader overlapping on long title (#85083)
  tgui/packages/tgui-panel/styles/tgchat/chat-dark.scss
  tgui/packages/tgui-panel/styles/tgchat/chat-light.scss
Labels: none

Holosignification (#85062)
  code/game/objects/items/holosign_creator.dm
  code/game/objects/structures/holosign.dm
  code/modules/vending/security.dm
  icons/effects/effects.dmi
  icons/effects/holosigns.dmi
Labels: Sprites

Adds admin spawnable Redsec varients to the override file
  modular_skyrat/modules/goofsec/code/sec_clothing_overrides.dm
Labels: none

Allow asymmetrical borg hat placement (#84817)
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_defines.dm
  code/modules/mob/living/silicon/robot/robot_model.dm
  code/modules/surgery/bodyparts/worn_feature_offset.dm
Labels: none
