Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

[MIRROR] fixes emagged medbot hypo receiving upgraded medicine upgrade (#28336)
  code/game/objects/items/robot/items/hypo.dm
Labels: none

[MIRROR] Abductors have an antag sound stinger upon being rolled (#28337)
  code/modules/antagonists/abductor/abductor.dm
  sound/ambience/antag/ayylien.ogg
  sound/attributions.txt
Labels: none

[MIRROR] Fixes the MediSim shuttle binocular fabricator, and a few other fabricator subtypes (#28338)
  _maps/shuttles/emergency_medisim.dmm
  code/game/machinery/droneDispenser.dm
Labels: Map Modification

[MIRROR] Rewrites the grapple gun's description. (#28339)
  code/modules/mining/equipment/grapple_gun.dm
Labels: none

Adding human.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/human.dm
Labels: none

Automatic changelog for PR #28323 [ci skip]
  html/changelogs/AutoChangeLog-pr-28323.yml
Labels: none

Automatic changelog for PR #28324 [ci skip]
  html/changelogs/AutoChangeLog-pr-28324.yml
Labels: none

Update ghoul.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/ghoul.dm
Labels: none

Automatic changelog for PR #28325 [ci skip]
  html/changelogs/AutoChangeLog-pr-28325.yml
Labels: none

Automatic changelog for PR #28326 [ci skip]
  html/changelogs/AutoChangeLog-pr-28326.yml
Labels: none

Automatic changelog for PR #28327 [ci skip]
  html/changelogs/AutoChangeLog-pr-28327.yml
Labels: none

Automatic changelog for PR #28328 [ci skip]
  html/changelogs/AutoChangeLog-pr-28328.yml
Labels: none

Automatic changelog for PR #28329 [ci skip]
  html/changelogs/AutoChangeLog-pr-28329.yml
Labels: none

Automatic changelog for PR #28330 [ci skip]
  html/changelogs/AutoChangeLog-pr-28330.yml
Labels: none

Automatic changelog for PR #28331 [ci skip]
  html/changelogs/AutoChangeLog-pr-28331.yml
Labels: none

Automatic changelog for PR #28332 [ci skip]
  html/changelogs/AutoChangeLog-pr-28332.yml
Labels: none

Automatic changelog for PR #28333 [ci skip]
  html/changelogs/AutoChangeLog-pr-28333.yml
Labels: none

Automatic changelog for PR #28334 [ci skip]
  html/changelogs/AutoChangeLog-pr-28334.yml
Labels: none

Automatic changelog for PR #28335 [ci skip]
  html/changelogs/AutoChangeLog-pr-28335.yml
Labels: none

Automatic changelog for PR #28337 [ci skip]
  html/changelogs/AutoChangeLog-pr-28337.yml
Labels: none

Automatic changelog for PR #28338 [ci skip]
  html/changelogs/AutoChangeLog-pr-28338.yml
Labels: none

Automatic changelog for PR #28339 [ci skip]
  html/changelogs/AutoChangeLog-pr-28339.yml
Labels: none

Antag stingers are now defined on the datum
  code/modules/antagonists/_common/antag_datum.dm
  code/modules/antagonists/battlecruiser/battlecruiser.dm
  code/modules/antagonists/blob/blob_antag.dm
  code/modules/antagonists/brother/brother.dm
  code/modules/antagonists/changeling/changeling.dm
  code/modules/antagonists/cult/datums/cultist.dm
  code/modules/antagonists/heretic/heretic_antag.dm
  code/modules/antagonists/heretic/heretic_monsters.dm
  code/modules/antagonists/nukeop/datums/operative.dm
  code/modules/antagonists/nukeop/datums/operative_leader.dm
  code/modules/antagonists/obsessed/obsessed.dm
  code/modules/antagonists/revolution/revolution.dm
  code/modules/antagonists/traitor/datum_traitor.dm
Labels: none

Rewrites GLA mail counterfeit device's descriptions (#84215)
  code/game/objects/items/mail.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/uplink/uplink_items/job.dm
Labels: none

Update pistol.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/nanotrasen_system_inc/pistol.dm
Labels: none

Update pistol.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/nanotrasen_system_inc/pistol.dm
Labels: none

Update pistol.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/nanotrasen_system_inc/pistol.dm
Labels: none

Adding human.dm (#28340)
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/human.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/ghoul.dm
Labels: none

[MIRROR] Rewrites GLA mail counterfeit device's descriptions (#28342)
  code/game/objects/items/mail.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/uplink/uplink_items/job.dm
Labels: none

Automatic changelog for PR #28340 [ci skip]
  html/changelogs/AutoChangeLog-pr-28340.yml
Labels: none

Automatic changelog for PR #28342 [ci skip]
  html/changelogs/AutoChangeLog-pr-28342.yml
Labels: none

Update lizardpeople.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
Labels: none

Update mothmen.dm
  code/modules/mob/living/carbon/human/species_types/mothmen.dm
Labels: none

Cyborg Omnitool Refactor
  code/datums/components/surgery_initiator.dm
  code/game/machinery/telecomms/machine_interactions.dm
  code/game/objects/items/robot/items/tools.dm
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/mob/living/silicon/robot/robot_model.dm
  code/modules/surgery/surgery.dm
  code/modules/surgery/tools.dm
  icons/mob/silicon/robot_items.dmi
Labels: Sprites

Fix printed structures/machines having a random offset (#84272)
  code/game/machinery/autolathe.dm
  code/modules/power/power.dm
  code/modules/research/machinery/_production.dm
Labels: none

PDA messenger & message monitor show actual emoji, other fixes (#83819)
  code/game/machinery/telecomms/computers/message.dm
  code/modules/modular_computers/file_system/programs/messenger/messenger_program.dm
  tgui/packages/tgui/interfaces/MessageMonitor.tsx
  tgui/packages/tgui/interfaces/NtosMessenger/ChatScreen.tsx
Labels: none

Fixes the duration of wizard spell mutate (#84263)
  code/modules/spells/spell_types/self/mutate.dm
Labels: none

Fix chem reaction spawning issue (#84139)
  code/modules/reagents/chemistry/recipes/medicine.dm
Labels: none

Fixes quirk config tooltips rendering behind the popper (#84269)
  tgui/packages/tgui/interfaces/PreferencesMenu/QuirksPage.tsx
Labels: none

Adds an admin secret to mass heal and revive everyone. (#84248)
  code/modules/admin/verbs/secrets.dm
  tgui/packages/tgui/interfaces/Secrets.jsx
Labels: none

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'
