Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

Automatic changelog for PR #28859 [ci skip]
  html/changelogs/AutoChangeLog-pr-28859.yml
Labels: none

Automatic changelog for PR #28860 [ci skip]
  html/changelogs/AutoChangeLog-pr-28860.yml
Labels: none

Automatic changelog for PR #28861 [ci skip]
  html/changelogs/AutoChangeLog-pr-28861.yml
Labels: none

Automatic changelog for PR #28862 [ci skip]
  html/changelogs/AutoChangeLog-pr-28862.yml
Labels: none

Automatic changelog for PR #28863 [ci skip]
  html/changelogs/AutoChangeLog-pr-28863.yml
Labels: none

Automatic changelog for PR #28864 [ci skip]
  html/changelogs/AutoChangeLog-pr-28864.yml
Labels: none

Automatic changelog for PR #28865 [ci skip]
  html/changelogs/AutoChangeLog-pr-28865.yml
Labels: none

Automatic changelog for PR #28867 [ci skip]
  html/changelogs/AutoChangeLog-pr-28867.yml
Labels: none

Automatic changelog for PR #28868 [ci skip]
  html/changelogs/AutoChangeLog-pr-28868.yml
Labels: none

Automatic changelog for PR #28869 [ci skip]
  html/changelogs/AutoChangeLog-pr-28869.yml
Labels: none

Automatic changelog for PR #28870 [ci skip]
  html/changelogs/AutoChangeLog-pr-28870.yml
Labels: none

adjust crates
  modular_skyrat/modules/company_imports/code/armament_datums/deforest_medical.dm
  modular_skyrat/modules/deforest_medical_items/code/cargo_packs.dm
Labels: none

Automatic changelog for PR #28871 [ci skip]
  html/changelogs/AutoChangeLog-pr-28871.yml
Labels: none

Automatic changelog for PR #28872 [ci skip]
  html/changelogs/AutoChangeLog-pr-28872.yml
Labels: none

modular edits
  modular_skyrat/modules/company_imports/code/objects/hud_glasses.dm
  modular_skyrat/modules/customization/modules/clothing/glasses/hud.dm
  modular_skyrat/modules/modular_items/code/modular_glasses.dm
Labels: none

Automatic changelog for PR #28873 [ci skip]
  html/changelogs/AutoChangeLog-pr-28873.yml
Labels: none

Automatic changelog for PR #28874 [ci skip]
  html/changelogs/AutoChangeLog-pr-28874.yml
Labels: none

Automatic changelog for PR #28875 [ci skip]
  html/changelogs/AutoChangeLog-pr-28875.yml
Labels: none

Automatic changelog for PR #28876 [ci skip]
  html/changelogs/AutoChangeLog-pr-28876.yml
Labels: none

Allows humans with a robotic voicebox installed, MMIs, and posibrains to use silicon emotes, and simple/basic bots to beep
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/_globalvars/traits/admin_tooling.dm
  code/datums/emotes.dm
  code/modules/mob/living/basic/bots/_bots.dm
  code/modules/mob/living/basic/pets/orbie/orbie.dm
  code/modules/mob/living/brain/brain.dm
  code/modules/mob/living/emote.dm
  code/modules/mob/living/silicon/robot/emote.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/modular_computers/file_system/programs/virtual_pet.dm
  code/modules/surgery/organs/internal/tongue/_tongue.dm
Labels: none

Adjusts style meter fonts to not be blurry, fixes text overlapping with meter/shifting up when you gain actions (#84979)
  code/datums/components/style/style.dm
  code/datums/components/style/style_meter.dm
Labels: none

Fixes even more stuff with the balaclavas
  modular_skyrat/master_files/icons/mob/clothing/mask.dmi
  modular_skyrat/master_files/icons/obj/clothing/masks.dmi
Labels: Sprites

lets hemophages drink velvet kiss
  modular_skyrat/modules/customization/modules/reagents/chemistry/reagents/alcohol_reagents.dm
Labels: none

balance with company imports
  modular_skyrat/modules/deforest_medical_items/code/cargo_packs.dm
Labels: none

price sync with nova
  modular_skyrat/modules/company_imports/code/armament_datums/deforest_medical.dm
  modular_skyrat/modules/deforest_medical_items/code/cargo_packs.dm
Labels: none

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-28836.yml
  html/changelogs/AutoChangeLog-pr-28854.yml
  html/changelogs/AutoChangeLog-pr-28857.yml
  html/changelogs/AutoChangeLog-pr-28858.yml
  html/changelogs/AutoChangeLog-pr-28859.yml
  html/changelogs/AutoChangeLog-pr-28860.yml
  html/changelogs/AutoChangeLog-pr-28861.yml
  html/changelogs/AutoChangeLog-pr-28862.yml
  html/changelogs/AutoChangeLog-pr-28863.yml
  html/changelogs/AutoChangeLog-pr-28864.yml
  html/changelogs/AutoChangeLog-pr-28865.yml
  html/changelogs/AutoChangeLog-pr-28867.yml
  html/changelogs/AutoChangeLog-pr-28868.yml
  html/changelogs/AutoChangeLog-pr-28869.yml
  html/changelogs/AutoChangeLog-pr-28870.yml
  html/changelogs/AutoChangeLog-pr-28871.yml
  html/changelogs/AutoChangeLog-pr-28872.yml
  html/changelogs/AutoChangeLog-pr-28873.yml
  html/changelogs/AutoChangeLog-pr-28874.yml
  html/changelogs/AutoChangeLog-pr-28875.yml
  html/changelogs/AutoChangeLog-pr-28876.yml
  html/changelogs/archive/2024-07.yml
Labels: none

Small hulk cleanup / nukes `TRAIT_IGNOREDAMAGESLOWDOWN` (#85003)
  code/__DEFINES/traits/declarations.dm
  code/__DEFINES/traits/sources.dm
  code/_globalvars/traits/_traits.dm
  code/_globalvars/traits/admin_tooling.dm
  code/datums/elements/simple_flying.dm
  code/datums/martial/sleeping_carp.dm
  code/datums/mutations/hulk.dm
  code/datums/status_effects/buffs.dm
  code/game/objects/items/devices/scanners/health_analyzer.dm
  code/game/objects/items/dualsaber.dm
  code/game/objects/items/hand_items.dm
  code/modules/antagonists/changeling/powers/adrenaline.dm
  code/modules/antagonists/heretic/knowledge/rust_lore.dm
  code/modules/antagonists/heretic/status_effects/buffs.dm
  code/modules/antagonists/nightmare/nightmare_equipment.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mod/modules/modules_supply.dm
  code/modules/projectiles/projectile/energy/stun.dm
  code/modules/surgery/organs/internal/cyberimp/augments_arms.dm
  code/modules/surgery/organs/internal/cyberimp/augments_internal.dm
Labels: none

Gives a speaking mob megaphone text when standing on top of a closed crate (#84942)
  code/__DEFINES/say.dm
  code/__DEFINES/span.dm
  code/datums/components/soapbox.dm
  code/game/machinery/telecomms/broadcasting.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/structures/crates_lockers/crates.dm
  interface/stylesheet.dm
  tgstation.dme
  tgui/packages/tgui-panel/styles/tgchat/chat-dark.scss
  tgui/packages/tgui-panel/styles/tgchat/chat-light.scss
Labels: none

Fish quality fixes and recipes. (#84996)
  code/game/objects/items/food/meatdish.dm
  code/modules/food_and_drinks/recipes/soup_mixtures.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_lizard.dm
  code/modules/hydroponics/grown/beans.dm
Labels: none

Update Island_brawl.dmm (#85000)
  _maps/virtual_domains/island_brawl.dmm
Labels: Map Modification

Fixes hulks being able to activate dualsabers despite not being able to actually do anything with them (#85005)
  code/datums/components/twohanded.dm
Labels: none

You can properly aim mining bombs at turfs now (#85006)
  code/modules/mod/modules/modules_supply.dm
Labels: none

Borgs cant put their integrated tools into the reagent grinder (#85009)
  code/modules/reagents/chemistry/machinery/reagentgrinder.dm
Labels: none

Stopping orbiting now automatically breaks you out of autoobserve (#84987)
  code/modules/mob/dead/observer/observer.dm
Labels: none

Adds missing cable to Wawastation perma (#84986)
  _maps/map_files/wawastation/wawastation.dmm
Labels: Map Modification

Adds input sanitization to malf ai voice changer module (#84991)
  code/modules/antagonists/malf_ai/malf_ai_modules.dm
Labels: none

Fixes carrot sword description (#84989)
  code/game/objects/items/weaponry.dm
Labels: none

Added unit test for embedding (#84981)
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/embedding.dm
Labels: none

Xenos have their resist UI element again (#84995)
  code/_onclick/hud/alien.dm
Labels: none

You can now buckle to bar stools (#84978)
  code/game/objects/structures/beds_chairs/chair.dm
Labels: none

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'
