Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'

Automatic changelog for PR #29090 [ci skip]
  html/changelogs/AutoChangeLog-pr-29090.yml
Labels: none

Automatic changelog for PR #29089 [ci skip]
  html/changelogs/AutoChangeLog-pr-29089.yml
Labels: none

Automatic changelog for PR #29088 [ci skip]
  html/changelogs/AutoChangeLog-pr-29088.yml
Labels: none

Automatic changelog for PR #29087 [ci skip]
  html/changelogs/AutoChangeLog-pr-29087.yml
Labels: none

Automatic changelog for PR #29086 [ci skip]
  html/changelogs/AutoChangeLog-pr-29086.yml
Labels: none

Automatic changelog for PR #29085 [ci skip]
  html/changelogs/AutoChangeLog-pr-29085.yml
Labels: none

Automatic changelog for PR #29084 [ci skip]
  html/changelogs/AutoChangeLog-pr-29084.yml
Labels: none

Automatic changelog for PR #29083 [ci skip]
  html/changelogs/AutoChangeLog-pr-29083.yml
Labels: none

Automatic changelog for PR #29082 [ci skip]
  html/changelogs/AutoChangeLog-pr-29082.yml
Labels: none

Automatic changelog for PR #29080 [ci skip]
  html/changelogs/AutoChangeLog-pr-29080.yml
Labels: none

Automatic changelog for PR #29078 [ci skip]
  html/changelogs/AutoChangeLog-pr-29078.yml
Labels: none

Automatic changelog for PR #29077 [ci skip]
  html/changelogs/AutoChangeLog-pr-29077.yml
Labels: none

Automatic changelog for PR #29076 [ci skip]
  html/changelogs/AutoChangeLog-pr-29076.yml
Labels: none

Automatic changelog for PR #29075 [ci skip]
  html/changelogs/AutoChangeLog-pr-29075.yml
Labels: none

Automatic changelog for PR #29074 [ci skip]
  html/changelogs/AutoChangeLog-pr-29074.yml
Labels: none

Fixes planet gravity not crushing and void eater not refreshing (#85305)
  code/modules/antagonists/voidwalker/voidwalker_status_effects.dm
  code/modules/antagonists/voidwalker/voidwalker_void_eater.dm
Labels: none

If you have auto fit viewport enabled, it will trigger upon entering or exiting fullscreen (#85302)
  code/modules/client/client_procs.dm
Labels: none

Recyclers no longer recycle contents of indestructible items (#85251)
  code/game/machinery/recycler.dm
Labels: none

[MIRROR] Gas tank sounds (#29073)
  code/game/objects/items/tanks/tanks.dm
  sound/items/attributions.txt
  sound/items/gas_tank_drop.ogg
  sound/items/gas_tank_pick_up.ogg
Labels: none

Automatic changelog for PR #29073 [ci skip]
  html/changelogs/AutoChangeLog-pr-29073.yml
Labels: none

[MIRROR] Fixes planet gravity not crushing and void eater not refreshing (#29095)
  code/modules/antagonists/voidwalker/voidwalker_status_effects.dm
  code/modules/antagonists/voidwalker/voidwalker_void_eater.dm
Labels: none

[MIRROR] If you have auto fit viewport enabled, it will trigger upon entering or exiting fullscreen (#29096)
  code/modules/client/client_procs.dm
Labels: none

[MIRROR] Recyclers no longer recycle contents of indestructible items (#29097)
  code/game/machinery/recycler.dm
Labels: none

Automatic changelog for PR #29095 [ci skip]
  html/changelogs/AutoChangeLog-pr-29095.yml
Labels: none

Automatic changelog for PR #29096 [ci skip]
  html/changelogs/AutoChangeLog-pr-29096.yml
Labels: none

Automatic changelog for PR #29097 [ci skip]
  html/changelogs/AutoChangeLog-pr-29097.yml
Labels: none

Update storage_structures.dm
  modular_skyrat/modules/primitive_structures/code/storage_structures.dm
Labels: none

Update storage_structures.dm
  modular_skyrat/modules/primitive_structures/code/storage_structures.dm
Labels: none

Primitive 'fridge' fixes (#29098)
  modular_skyrat/modules/primitive_structures/code/storage_structures.dm
Labels: none

Automatic changelog for PR #29098 [ci skip]
  html/changelogs/AutoChangeLog-pr-29098.yml
Labels: none

Mining headset upgrade - Callouts and volume boosters (#85008)
  code/__DEFINES/colors.dm
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_main.dm
  code/__DEFINES/traits/declarations.dm
  code/__HELPERS/colors.dm
  code/_globalvars/traits/_traits.dm
  code/_onclick/hud/radial.dm
  code/datums/chatmessage.dm
  code/datums/components/callouts.dm
  code/datums/components/pet_commands/pet_command.dm
  code/datums/components/pet_commands/pet_commands_basic.dm
  code/game/objects/items/devices/radio/headset.dm
  code/modules/mob/living/basic/minebots/minebot_ai.dm
  code/modules/mob/living/living_say.dm
  icons/effects/callouts.dmi
  icons/hud/radial.dmi
  tgstation.dme
Labels: Sprites

Fixes a typo in military javelins (#85317)
  code/game/objects/items/spear.dm
Labels: none

VIM no longer requires hands to enter (#85310)
  code/modules/vehicles/cars/vim.dm
Labels: none

Grass sheath now holds parsnip sabres, fixed grammar for the latter
  code/game/objects/items/melee/misc.dm
  code/game/objects/items/storage/belt.dm
Labels: none

Makes the Cosmic Skull glow purple when it has uses (#85275)
  code/modules/antagonists/voidwalker/voidwalker_loot.dm
Labels: none

remove bathroom cameras
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/NSVBlueshift/Blueshift.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Map Modification

Update Blueshift.dmm
  _maps/map_files/NSVBlueshift/Blueshift.dmm
Labels: Map Modification

Update Blueshift.dmm
  _maps/map_files/NSVBlueshift/Blueshift.dmm
Labels: Map Modification

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-29073.yml
  html/changelogs/AutoChangeLog-pr-29074.yml
  html/changelogs/AutoChangeLog-pr-29075.yml
  html/changelogs/AutoChangeLog-pr-29076.yml
  html/changelogs/AutoChangeLog-pr-29077.yml
  html/changelogs/AutoChangeLog-pr-29078.yml
  html/changelogs/AutoChangeLog-pr-29080.yml
  html/changelogs/AutoChangeLog-pr-29082.yml
  html/changelogs/AutoChangeLog-pr-29083.yml
  html/changelogs/AutoChangeLog-pr-29084.yml
  html/changelogs/AutoChangeLog-pr-29085.yml
  html/changelogs/AutoChangeLog-pr-29086.yml
  html/changelogs/AutoChangeLog-pr-29087.yml
  html/changelogs/AutoChangeLog-pr-29088.yml
  html/changelogs/AutoChangeLog-pr-29089.yml
  html/changelogs/AutoChangeLog-pr-29090.yml
  html/changelogs/AutoChangeLog-pr-29091.yml
  html/changelogs/AutoChangeLog-pr-29092.yml
  html/changelogs/AutoChangeLog-pr-29093.yml
  html/changelogs/AutoChangeLog-pr-29095.yml
  html/changelogs/AutoChangeLog-pr-29096.yml
  html/changelogs/AutoChangeLog-pr-29097.yml
  html/changelogs/AutoChangeLog-pr-29098.yml
  html/changelogs/archive/2024-07.yml
Labels: none

Fixes exploit allowing players to open Bag of Holding rifts in the Heretic dimension (#85330)
  code/__DEFINES/_flags.dm
  code/_globalvars/bitfields.dm
  code/datums/storage/subtypes/bag_of_holding.dm
  code/modules/antagonists/heretic/knowledge/sacrifice_knowledge/sacrifice_map.dm
Labels: none
