Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

Automatic changelog for PR #28829 [ci skip]
  html/changelogs/AutoChangeLog-pr-28829.yml
Labels: none

Automatic changelog for PR #28830 [ci skip]
  html/changelogs/AutoChangeLog-pr-28830.yml
Labels: none

Even more OBJ fixes.
  modular_skyrat/master_files/icons/donator/obj/clothing/hats.dmi
  modular_skyrat/master_files/icons/donator/obj/clothing/suits.dmi
  modular_skyrat/master_files/icons/donator/obj/clothing/uniform.dmi
  modular_skyrat/master_files/icons/obj/clothing/suits.dmi
Labels: Sprites

rfefef
  modular_skyrat/modules/taur_mechanics/code/constrict.dm
Labels: none

Attempts to fix the plague hat having pepper spray and hugger protection, moving it to the mask instead (#84953)
  code/modules/clothing/head/hat.dm
  code/modules/clothing/masks/gasmask.dm
Labels: none

Recyclers no longer tear implant tools from your body (#84945)
  code/modules/surgery/organs/internal/cyberimp/augments_arms.dm
Labels: none

Fix Scream emote running the wrong emote
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/emote.dm
Labels: none

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-28829.yml
  html/changelogs/AutoChangeLog-pr-28830.yml
  html/changelogs/archive/2024-07.yml
Labels: none

Fixes loadout menu bluescreen when recoloring certain items. (#84936)
  code/modules/loadout/loadout_items.dm
Labels: none

Bandaid fix for blood killing you from high percentages if you are in oxycrit (#84946)
  code/__DEFINES/mobs.dm
  code/modules/mob/living/blood.dm
  code/modules/mob/living/carbon/carbon_defense.dm
Labels: none

Fixes a chasm appearing in Tramstation when the jungle grass is destroyed (#84933)
  _maps/map_files/tramstation/tramstation.dmm
  code/game/turfs/open/planet.dm
Labels: Map Modification

You can implant yourself with pathfinder MOD implant while you're wearing the suit (#84927)
  code/modules/mod/modules/module_pathfinder.dm
Labels: none

Adjusts firelock balloons and converts attack_alien to use balloon when failing (#84947)
  code/game/machinery/doors/firedoor.dm
Labels: none

Disabling minigames also disables deathmatch (#84940)
  code/modules/deathmatch/deathmatch_controller.dm
Labels: none

All lattices make catwalk footsteps (instead of just catwalks) (#84917)
  code/game/objects/structures/lattice.dm
Labels: none

[no gbp] fixes mothroach glutton (#84921)
  code/modules/mob/living/basic/vermin/mothroach/mothroach_ai.dm
Labels: none

Fixes outfit manager harddel (#84930)
  code/modules/admin/outfit_manager.dm
Labels: none

Research queue (#84731)
  code/controllers/subsystem/research.dm
  code/modules/modular_computers/file_system/programs/techweb.dm
  code/modules/research/rdconsole.dm
  code/modules/research/techweb/_techweb.dm
  code/modules/research/techweb/_techweb_node.dm
  tgui/packages/tgui/interfaces/Techweb.jsx
Labels: none

Changes some default values from character creation and random characters
  code/modules/client/preferences/clothing.dm
Labels: none

Remove double TRAIT_BOXING_READY declaration. (#84903)
  code/_globalvars/traits/_traits.dm
Labels: none

[THIS DOES NOT AFFECT DAMAGE] [ITS PURELY VISUAL] [TRUST ME] [I CHECKED IT] Accelerator cannon projectiles scale slower and have a size limit now (#84941)
  code/modules/projectiles/guns/energy/laser.dm
Labels: none

Add interaction sounds to pill bottle (#84924)
  code/datums/storage/storage.dm
  code/game/objects/items/storage/medkit.dm
  sound/items/handling/pill_bottle_open.ogg
  sound/items/handling/pill_bottle_pickup.ogg
  sound/items/handling/pill_bottle_place.ogg
Labels: none

Alt right click support for borgs (#84907)
  code/_onclick/cyborg.dm
Labels: none

[NO GBP] Fixes a regression with the no-decal maintenance loot spawner (#84896)
  code/game/objects/effects/spawners/random/maintenance.dm
Labels: none

Fixes overwatch glasses not adding HUDs (#84891)
  code/modules/antagonists/nukeop/equipment/overwatch_tools.dm
Labels: none

Fix Tongue Based Speech Modifiers Being Applied To Users Native Languages
  code/datums/components/speechmod.dm
  code/game/machinery/dna_infuser/organ_sets/fly_organs.dm
  code/modules/surgery/organs/internal/tongue/_tongue.dm
  code/modules/unit_tests/say.dm
Labels: none

Fixes the clown reinforcement spawning with TC (#84918)
  code/modules/antagonists/_common/antag_spawner.dm
  code/modules/antagonists/clown_ops/clownop.dm
  code/modules/antagonists/clown_ops/outfits.dm
  code/modules/antagonists/nukeop/outfits.dm
Labels: none

Update emote.dm
  code/modules/mob/living/carbon/human/emote.dm
Labels: none

Even more OBJ fixes. (#28831)
  modular_skyrat/master_files/icons/donator/obj/clothing/hats.dmi
  modular_skyrat/master_files/icons/donator/obj/clothing/suits.dmi
  modular_skyrat/master_files/icons/donator/obj/clothing/uniform.dmi
  modular_skyrat/master_files/icons/obj/clothing/suits.dmi
Labels: Sprites

Automatic changelog for PR #28831 [ci skip]
  html/changelogs/AutoChangeLog-pr-28831.yml
Labels: none

Fixes a bug with naga constricting where constricting someone you were pulling resets pixel_x to 0 (#28833)
  modular_skyrat/modules/taur_mechanics/code/constrict.dm
Labels: none

[MIRROR] Attempts to fix the plague hat having pepper spray and hugger protection, moving it to the mask instead (#28834)
  code/modules/clothing/head/hat.dm
  code/modules/clothing/masks/gasmask.dm
Labels: none

[MIRROR] Recyclers no longer tear implant tools from your body (#28835)
  code/modules/surgery/organs/internal/cyberimp/augments_arms.dm
Labels: none

[MIRROR] Fixes loadout menu bluescreen when recoloring certain items. (#28837)
  code/modules/loadout/loadout_items.dm
Labels: none

[MIRROR] Bandaid fix for blood killing you from high percentages if you are in oxycrit (#28838)
  code/__DEFINES/mobs.dm
  code/modules/mob/living/blood.dm
  code/modules/mob/living/carbon/carbon_defense.dm
Labels: none

[MIRROR] Fixes a chasm appearing in Tramstation when the jungle grass is destroyed (#28839)
  _maps/map_files/tramstation/tramstation.dmm
  code/game/turfs/open/planet.dm
Labels: Map Modification

[MIRROR] You can implant yourself with pathfinder MOD implant while you're wearing the suit (#28840)
  code/modules/mod/modules/module_pathfinder.dm
Labels: none

[MIRROR] Adjusts firelock balloons and converts attack_alien to use balloon when failing (#28841)
  code/game/machinery/doors/firedoor.dm
Labels: none

[MIRROR] Disabling minigames also disables deathmatch (#28842)
  code/modules/deathmatch/deathmatch_controller.dm
Labels: none

[MIRROR] All lattices make catwalk footsteps (instead of just catwalks) (#28843)
  code/game/objects/structures/lattice.dm
Labels: none

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'
