Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'

ughhh 11
  _maps/map_files/NSVBlueshift/Blueshift.dmm
Labels: Map Modification

ughhhh12
  _maps/map_files/NSVBlueshift/Blueshift.dmm
Labels: Map Modification

Automatic changelog for PR #28543 [ci skip]
  html/changelogs/AutoChangeLog-pr-28543.yml
Labels: none

fix modular
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_syndicate_base1_skyrat.dmm
  _maps/RandomRuins/LavaRuins/skyrat/lavaland_surface_syndicate_base1_skyrat.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/cargodiselost.dmm
  _maps/map_files/NSVBlueshift/Blueshift.dmm
Labels: Map Modification

Tones down the settler speeds by a considerable margin (both slowdown and speedup) (#84639)
  code/datums/components/riding/riding_mob.dm
Labels: none

fix
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_syndicate_base1_skyrat.dmm
  _maps/RandomRuins/LavaRuins/skyrat/lavaland_surface_syndicate_base1_skyrat.dmm
  _maps/map_files/NSVBlueshift/Blueshift.dmm
Labels: Map Modification

fix 3
  _maps/map_files/NSVBlueshift/Blueshift.dmm
Labels: Map Modification

[MIRROR] Tones down the settler speeds by a considerable margin (both slowdown and speedup) (#28642)
  code/datums/components/riding/riding_mob.dm
Labels: none

Automatic changelog for PR #28642 [ci skip]
  html/changelogs/AutoChangeLog-pr-28642.yml
Labels: none

[MIRROR] Cytology without plumbing (#28630)
  _maps/RandomRuins/IceRuins/icemoon_surface_bughabitat.dmm
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_syndicate_base1_skyrat.dmm
  _maps/RandomRuins/LavaRuins/skyrat/lavaland_surface_syndicate_base1_skyrat.dmm
  _maps/RandomRuins/SpaceRuins/oldstation.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/cargodiselost.dmm
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NSVBlueshift/Blueshift.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/map_files/wawastation/wawastation.dmm
  code/game/machinery/_machinery.dm
  code/game/objects/items/circuitboards/machines/machine_circuitboards.dm
  code/game/objects/items/rcd/RPLD.dm
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  code/modules/cargo/packs/science.dm
  code/modules/food_and_drinks/machinery/smartfridge.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/reagents/reagent_containers/condiment.dm
  code/modules/research/designs/machine_designs.dm
  code/modules/research/designs/tool_designs.dm
  code/modules/research/techweb/nodes/biology_nodes.dm
  code/modules/research/techweb/nodes/medbay_nodes.dm
  code/modules/research/xenobiology/vatgrowing/biopsy_tool.dm
  code/modules/research/xenobiology/vatgrowing/microscope.dm
  code/modules/research/xenobiology/vatgrowing/samples/_micro_organism.dm
  code/modules/research/xenobiology/vatgrowing/samples/_sample.dm
  code/modules/research/xenobiology/vatgrowing/samples/cell_lines/common.dm
  code/modules/research/xenobiology/vatgrowing/vatgrower.dm
  icons/obj/food/containers.dmi
  icons/obj/pipes_n_cables/hydrochem/plumbers.dmi
  icons/obj/science/vatgrowing.dmi
  tgstation.dme
  tools/UpdatePaths/Scripts/84235_vatgrower_machine.txt
Labels: Map Modification, Sprites

Automatic changelog for PR #28630 [ci skip]
  html/changelogs/AutoChangeLog-pr-28630.yml
Labels: none

Fixed adaptations not conflictnig (#84642)
  code/datums/mutations/adaptation.dm
Labels: none

Makes the omnitool lathe proof (#84643)
  code/datums/components/material/material_container.dm
Labels: none

Fixes fireproof reagent containers (#84607)
  code/modules/reagents/reagent_containers.dm
Labels: none

Fixes broken animated icons of Emag & Doorjack (#84636)
  icons/obj/card.dmi
Labels: Sprites

Makes bloody footprints messier (#84665)
  code/datums/components/bloodysoles.dm
  code/game/objects/effects/decals/cleanable/humans.dm
Labels: none

CE and Engineer start with their hardhat as the respective welding hard hat variant (#84554)
  code/modules/clothing/head/hardhat.dm
  code/modules/jobs/job_types/chief_engineer.dm
  code/modules/jobs/job_types/station_engineer.dm
Labels: none

Empty distro fix - Binary devices now consider the output pipenet volume (#84497)
  code/modules/atmospherics/gasmixtures/gas_mixture.dm
  code/modules/atmospherics/machinery/components/binary_devices/passive_gate.dm
  code/modules/atmospherics/machinery/components/binary_devices/pressure_valve.dm
  code/modules/atmospherics/machinery/components/binary_devices/pump.dm
  code/modules/atmospherics/machinery/components/binary_devices/temperature_gate.dm
Labels: none

Cleans up relic code & adds new relic theme (#84511)
  code/modules/cargo/bounties/science.dm
  code/modules/mining/boulder_processing/boulder_types.dm
  code/modules/research/experimentor.dm
  icons/obj/devices/artefacts.dmi
  icons/obj/devices/artifacts.dmi
Labels: Sprites

Projectile Dampener field now reduces stuns and stamina damage from incoming projectiles (ebow projectiles in particular) (#84284)
  code/modules/mod/modules/modules_security.dm
Labels: none

Adds examine steps and code comments to window doors. (#84498)
  code/game/machinery/doors/windowdoor.dm
  code/game/objects/structures/windoor_assembly.dm
Labels: none

Event horizon rebalance
  code/modules/projectiles/guns/energy/beam_rifle.dm
  modular_skyrat/master_files/code/modules/projectiles/guns/energy/beam_rifle.dm
  tgstation.dme
Labels: none

Fix master screenshot test
  code/modules/clothing/head/hardhat.dm
Labels: none

Converts slapcrafting into a bespoke element (#84226)
  code/datums/components/crafting/guncrafting.dm
  code/datums/elements/slapcrafting.dm
  code/game/machinery/pipe/construction.dm
  code/game/objects/items/crayons.dm
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/items/devices/scanners/gas_analyzer.dm
  code/game/objects/items/extinguisher.dm
  code/game/objects/items/flamethrower.dm
  code/game/objects/items/handcuffs.dm
  code/game/objects/items/pillow.dm
  code/game/objects/items/shields.dm
  code/game/objects/items/spear.dm
  code/game/objects/items/stacks/rods.dm
  code/game/objects/items/stacks/sheets/leather.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/storage/backpack.dm
  code/modules/clothing/glasses/_glasses.dm
  code/modules/clothing/glasses/hud.dm
  code/modules/clothing/gloves/boxing.dm
  code/modules/clothing/gloves/color.dm
  code/modules/clothing/head/jobs.dm
  code/modules/fishing/aquarium/aquarium_kit.dm
  code/modules/projectiles/ammunition/ballistic/shotgun.dm
  code/modules/projectiles/guns/energy/energy_gun.dm
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/reagents/reagent_containers/cups/glassbottle.dm
  code/modules/reagents/reagent_containers/cups/soda.dm
  code/modules/surgery/tools.dm
  tgstation.dme
Labels: none

[NO GBP] Augmented organs experiment hotfix (#84654)
  code/modules/experisci/experiment/experiments.dm
Labels: none

Firefighting nozzle attack chain fixes (#84652)
  code/game/objects/items/tanks/watertank.dm
Labels: none

Removes stupid listlike var access code (#84648)
  code/__HELPERS/areas.dm
  code/__HELPERS/paths/path.dm
  code/__HELPERS/records.dm
  code/controllers/subsystem/research.dm
  code/controllers/subsystem/spatial_gridmap.dm
  code/datums/ai/_ai_controller.dm
  code/datums/components/_component.dm
  code/datums/greyscale/_greyscale_config.dm
  code/modules/admin/topic.dm
  code/modules/admin/view_variables/debug_variables.dm
  code/modules/mapping/mapping_helpers.dm
  code/modules/vehicles/_vehicle.dm
  code/modules/vehicles/mecha/mech_fabricator.dm
  tgstation.dme
Labels: none

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-28543.yml
  html/changelogs/AutoChangeLog-pr-28555.yml
  html/changelogs/AutoChangeLog-pr-28582.yml
  html/changelogs/AutoChangeLog-pr-28626.yml
  html/changelogs/AutoChangeLog-pr-28627.yml
  html/changelogs/AutoChangeLog-pr-28628.yml
  html/changelogs/AutoChangeLog-pr-28629.yml
  html/changelogs/AutoChangeLog-pr-28630.yml
  html/changelogs/AutoChangeLog-pr-28631.yml
  html/changelogs/AutoChangeLog-pr-28633.yml
  html/changelogs/AutoChangeLog-pr-28634.yml
  html/changelogs/AutoChangeLog-pr-28637.yml
  html/changelogs/AutoChangeLog-pr-28639.yml
  html/changelogs/AutoChangeLog-pr-28640.yml
  html/changelogs/AutoChangeLog-pr-28642.yml
  html/changelogs/archive/2024-07.yml
Labels: none

fix apc
  _maps/map_files/NSVBlueshift/Blueshift.dmm
Labels: Map Modification

[MIRROR] Fixed adaptations not conflictnig (#28643)
  code/datums/mutations/adaptation.dm
Labels: none

[MIRROR] Makes the omnitool lathe proof (#28644)
  code/datums/components/material/material_container.dm
Labels: none

Automatic changelog for PR #28643 [ci skip]
  html/changelogs/AutoChangeLog-pr-28643.yml
Labels: none

[MIRROR] Fixes fireproof reagent containers (#28645)
  code/modules/reagents/reagent_containers.dm
Labels: none

Automatic changelog for PR #28644 [ci skip]
  html/changelogs/AutoChangeLog-pr-28644.yml
Labels: none

[MIRROR] Fixes broken animated icons of Emag & Doorjack (#28646)
  icons/obj/card.dmi
Labels: Sprites

[MIRROR] Makes bloody footprints messier (#28647)
  code/datums/components/bloodysoles.dm
  code/game/objects/effects/decals/cleanable/humans.dm
Labels: none

[MIRROR] CE and Engineer start with their hardhat as the respective welding hard hat variant (#28648)
  code/modules/clothing/head/hardhat.dm
  code/modules/jobs/job_types/chief_engineer.dm
  code/modules/jobs/job_types/station_engineer.dm
Labels: none

[MIRROR] Empty distro fix - Binary devices now consider the output pipenet volume (#28649)
  code/modules/atmospherics/gasmixtures/gas_mixture.dm
  code/modules/atmospherics/machinery/components/binary_devices/passive_gate.dm
  code/modules/atmospherics/machinery/components/binary_devices/pressure_valve.dm
  code/modules/atmospherics/machinery/components/binary_devices/pump.dm
  code/modules/atmospherics/machinery/components/binary_devices/temperature_gate.dm
Labels: none

[MIRROR] Cleans up relic code & adds new relic theme (#28650)
  code/modules/cargo/bounties/science.dm
  code/modules/mining/boulder_processing/boulder_types.dm
  code/modules/research/experimentor.dm
  icons/obj/devices/artefacts.dmi
  icons/obj/devices/artifacts.dmi
Labels: Sprites

[MIRROR] Projectile Dampener field now reduces stuns and stamina damage from incoming projectiles (ebow projectiles in particular) (#28651)
  code/modules/mod/modules/modules_security.dm
Labels: none
