Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'

Airlock Pumps on Oldstation (Charlie) (#85038)
  _maps/RandomRuins/SpaceRuins/oldstation.dmm
Labels: Map Modification

Self-respiration no longer sends misleading messages and instead tells about lack of need to breathe once it actually gives you the effect (#85091)
  code/datums/diseases/advance/symptoms/oxygen.dm
Labels: none

Increases the quantity of available stocked items in the clothesvend and autodrobe (#85098)
  code/modules/vending/autodrobe.dm
  code/modules/vending/clothesmate.dm
Labels: none

correct tgui readme re: yarn and node version (#85094)
  tgui/README.md
Labels: none

Adds the other half of the fox infusion because Arm is a coward
  code/datums/sprite_accessories.dm
  code/game/machinery/dna_infuser/infuser_entries/infuser_tier_zero_entries.dm
  code/modules/surgery/organs/external/tails.dm
  icons/mob/human/cat_features.dmi
Labels: Sprites

Makes set_basalt_light local (#85134)
  code/__DEFINES/turfs.dm
  code/game/turfs/open/asteroid.dm
  code/game/turfs/open/basalt.dm
  code/game/turfs/open/floor/fancy_floor.dm
  code/modules/holodeck/turfs.dm
Labels: none

power updates
  code/__DEFINES/~skyrat_defines/apc_defines.dm
  code/modules/power/apc/apc_main.dm
  code/modules/power/smes.dm
  modular_skyrat/master_files/code/modules/power/smes.dm
  modular_skyrat/modules/apc_arcing/code/apc.dm
  tgstation.dme
Labels: none

Update topic.dm
  code/modules/admin/topic.dm
Labels: none

Update tails.dm
  code/modules/surgery/organs/external/tails.dm
Labels: none

Cult vs Heretic overall polishing
  code/__DEFINES/cult.dm
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_living.dm
  code/_onclick/hud/alert.dm
  code/datums/components/spirit_holding.dm
  code/datums/mind/antag.dm
  code/modules/antagonists/cult/blood_magic.dm
  code/modules/antagonists/cult/cult_items.dm
  code/modules/antagonists/cult/cult_structure_archives.dm
  code/modules/antagonists/cult/datums/cult_team.dm
  code/modules/antagonists/cult/sword_fling.dm
  code/modules/antagonists/heretic/heretic_antag.dm
  code/modules/antagonists/heretic/heretic_knowledge.dm
  code/modules/antagonists/heretic/heretic_monsters.dm
  code/modules/antagonists/heretic/items/heretic_necks.dm
  code/modules/antagonists/heretic/knowledge/sacrifice_knowledge/sacrifice_knowledge.dm
  code/modules/antagonists/wizard/equipment/soulstone.dm
  code/modules/library/bibles.dm
  code/modules/mob/living/basic/cult/constructs/_construct.dm
  code/modules/mob/living/basic/cult/constructs/harvester.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  icons/mob/clothing/neck.dmi
  icons/obj/clothing/neck.dmi
Labels: Sprites

Bitrunning Domain Fixes (#85111)
  _maps/virtual_domains/abductor_ship.dmm
  _maps/virtual_domains/ash_drake.dmm
  _maps/virtual_domains/beach_bar.dmm
  _maps/virtual_domains/blood_drunk_miner.dmm
  _maps/virtual_domains/breeze_bay.dmm
  _maps/virtual_domains/bubblegum.dmm
  _maps/virtual_domains/clown_planet.dmm
  _maps/virtual_domains/colossus.dmm
  _maps/virtual_domains/fredingtonfastingbear.dmm
  _maps/virtual_domains/gondola_asteroid.dmm
  _maps/virtual_domains/hierophant.dmm
  _maps/virtual_domains/island_brawl.dmm
  _maps/virtual_domains/pipedream.dmm
  _maps/virtual_domains/pirates.dmm
  _maps/virtual_domains/psyker_shuffle.dmm
  _maps/virtual_domains/psyker_zombies.dmm
  _maps/virtual_domains/stairs_and_cliffs.dmm
  _maps/virtual_domains/syndicate_assault.dmm
  _maps/virtual_domains/vaporwave.dmm
  _maps/virtual_domains/wendigo.dmm
  _maps/virtual_domains/xeno_nest.dmm
  code/game/turfs/closed/indestructible.dm
  code/modules/bitrunning/areas.dm
Labels: Map Modification

Makes vending use DMIcon where possible, halving the time it takes to make the vending spritesheet (#85085)
  code/modules/asset_cache/assets/vending.dm
  code/modules/vending/_vending.dm
  tgui/packages/tgui/interfaces/Vending.tsx
Labels: none

New Smartfridge UI (#85063)
  code/modules/food_and_drinks/machinery/smartfridge.dm
  tgui/packages/tgui/interfaces/SmartVend.tsx
Labels: none

Datumizes pod types (#85033)
  code/__DEFINES/cargo.dm
  code/_globalvars/lists/cargo.dm
  code/datums/pod_style.dm
  code/datums/quirks/negative_quirks/indebted.dm
  code/datums/skills/_skill.dm
  code/game/gamemodes/objective.dm
  code/game/machinery/botlaunchpad.dm
  code/game/machinery/computer/orders/order_computer/order_computer.dm
  code/game/machinery/mechlaunchpad.dm
  code/game/objects/items/choice_beacon.dm
  code/game/objects/items/devices/battle_royale.dm
  code/modules/admin/smites/supply_pod_quick.dm
  code/modules/antagonists/_common/antag_spawner.dm
  code/modules/antagonists/traitor/objectives/final_objective/battle_royale.dm
  code/modules/antagonists/traitor/objectives/final_objective/battlecruiser.dm
  code/modules/antagonists/traitor/objectives/final_objective/infect_ai.dm
  code/modules/antagonists/traitor/objectives/final_objective/objective_dark_matteor.dm
  code/modules/antagonists/traitor/objectives/final_objective/romerol.dm
  code/modules/antagonists/traitor/objectives/final_objective/supermatter_cascade.dm
  code/modules/antagonists/wizard/grand_ritual/grand_side_effect.dm
  code/modules/asset_cache/assets/supplypods.dm
  code/modules/cargo/centcom_podlauncher.dm
  code/modules/cargo/supplypod.dm
  code/modules/events/stray_cargo.dm
  code/modules/uplink/uplink_items/bundle.dm
  code/modules/vehicles/mecha/combat/savannah_ivanov.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/CentcomPodLauncher/StylePage.tsx
  tgui/packages/tgui/interfaces/CentcomPodLauncher/constants.ts
  tgui/packages/tgui/interfaces/CentcomPodLauncher/types.ts
Labels: none

Refactor table item interactions, fix deck>table interactions (#84836)
  code/game/objects/structures/tables_racks.dm
Labels: none

Revert "Adds the other half of the fox infusion because Arm is a coward"
  code/modules/surgery/organs/external/tails.dm
Labels: none

Adds Yukata's and Kimono's to the ClothesMate + accessory DLC (#84950)
  code/modules/clothing/head/costume.dm
  code/modules/clothing/shoes/sandals.dm
  code/modules/clothing/under/costume.dm
  code/modules/vending/clothesmate.dm
  icons/mob/clothing/feet.dmi
  icons/mob/clothing/head/costume.dmi
  icons/mob/clothing/under/costume.dmi
  icons/mob/inhands/clothing/hats_lefthand.dmi
  icons/mob/inhands/clothing/hats_righthand.dmi
  icons/mob/inhands/clothing/shoes_lefthand.dmi
  icons/mob/inhands/clothing/shoes_righthand.dmi
  icons/mob/inhands/clothing/suits_lefthand.dmi
  icons/mob/inhands/clothing/suits_righthand.dmi
  icons/obj/clothing/head/costume.dmi
  icons/obj/clothing/shoes.dmi
  icons/obj/clothing/under/costume.dmi
Labels: Sprites

HONK mech now waddles (#85152)
  code/modules/vehicles/mecha/combat/honker.dm
Labels: none

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-28914.yml
  html/changelogs/AutoChangeLog-pr-28966.yml
  html/changelogs/AutoChangeLog-pr-28967.yml
  html/changelogs/AutoChangeLog-pr-28968.yml
  html/changelogs/AutoChangeLog-pr-28969.yml
  html/changelogs/AutoChangeLog-pr-28971.yml
  html/changelogs/archive/2024-07.yml
Labels: none

deletes wires on atom/destroy() (#85154)
  code/game/atom/_atom.dm
  code/game/machinery/autolathe.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/mass_driver.dm
  code/game/machinery/scanner_gate.dm
  code/game/machinery/syndicatebomb.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/items/grenades/chem_grenade.dm
  code/game/objects/items/grenades/plastic.dm
  code/modules/atmospherics/machinery/air_alarm/_air_alarm.dm
  code/modules/food_and_drinks/machinery/microwave.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/simple_animal/bot/mulebot.dm
  code/modules/mod/mod_control.dm
  code/modules/paperwork/fax.dm
  code/modules/power/apc/apc_main.dm
  code/modules/recycling/conveyor.dm
  code/modules/research/rdmachines.dm
  code/modules/vehicles/mecha/_mecha.dm
  code/modules/vending/_vending.dm
Labels: none

Removes 8 cases of double indentation (#85140)
  code/controllers/subsystem/persistence/counter_tram_hits.dm
  code/datums/quirks/_quirk.dm
  code/game/objects/items/defib.dm
  code/game/objects/items/storage/lockbox.dm
  code/game/objects/structures/curtains.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/simple_animal/bot/mulebot.dm
Labels: none

cleans up some formatting for the worn icons unit test (#85156)
  code/modules/unit_tests/worn_icons.dm
Labels: none

Holopads no longer suck in unsuspecting people when crowbared (#85139)
  code/game/machinery/_machinery.dm
Labels: none

Fixes fishing rods not working on adjacent targets (#85142)
  code/modules/fishing/fishing_rod.dm
Labels: none

Dehydrator, machine version of drying rack
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/Mining/Lavaland.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/safehouses/ice.dmm
  _maps/virtual_domains/pirates.dmm
  code/_globalvars/lists/typecache.dm
  code/datums/elements/dryable.dm
  code/game/objects/items/circuitboards/machines/machine_circuitboards.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/modules/food_and_drinks/machinery/smartfridge.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_guide.dm
  code/modules/research/designs/machine_designs.dm
  code/modules/research/techweb/nodes/service_nodes.dm
  icons/obj/machines/smartfridge.dmi
  icons/obj/machines/vending.dmi
  icons/obj/service/hydroponics/equipment.dmi
  tools/UpdatePaths/Scripts/99999_drying_rack_rename.txt
Labels: Map Modification, Sprites

Mulebot UI refactor (#85046)
  code/__DEFINES/robots.dm
  code/modules/mob/living/simple_animal/bot/mulebot.dm
  code/modules/modular_computers/file_system/programs/robocontrol.dm
  tgui/packages/tgui/interfaces/Mule.jsx
  tgui/packages/tgui/interfaces/Mule.tsx
Labels: none

[NO GBP] Updates surgical tape and edagger embedding values (#85096)
  code/game/objects/items/stacks/tape.dm
  code/modules/paperwork/pen.dm
Labels: none

You can now fish with explosives (#85118)
  code/__DEFINES/dcs/signals/signals_fish.dm
  code/datums/components/fishing_spot.dm
  code/datums/elements/lazy_fishing_spot.dm
  code/modules/fishing/fish/chasm_detritus.dm
  code/modules/fishing/fishing_minigame.dm
  code/modules/fishing/sources/_fish_source.dm
  code/modules/fishing/sources/source_types.dm
  code/modules/unit_tests/fish_unit_tests.dm
Labels: none

Fixes shuttle events sometimes killing everyone (#85047)
  code/modules/shuttle/shuttle_events/_shuttle_events.dm
Labels: none

fixes ghost huds (#85164)
  code/modules/mob/dead/observer/observer.dm
Labels: none

[MIRROR] Adds Untie Shoes, a 1-point wizard spell. (#28972)
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/datums/components/chuunibyou.dm
  code/datums/components/splattercasting.dm
  code/modules/antagonists/wizard/equipment/spellbook_entries/offensive.dm
  code/modules/antagonists/wizard/grand_ritual/finales/clown.dm
  code/modules/clothing/shoes/_shoes.dm
  code/modules/clothing/shoes/sneakers.dm
  code/modules/movespeed/modifiers/mobs.dm
  code/modules/spells/spell.dm
  code/modules/spells/spell_types/pointed/tie_shoes.dm
  icons/effects/mouse_pointers/lace.dmi
  icons/mob/actions/actions_spells.dmi
  tgstation.dme
Labels: Sprites

Automatic changelog for PR #28972 [ci skip]
  html/changelogs/AutoChangeLog-pr-28972.yml
Labels: none

[MIRROR] Centcom fax (#28973)
  _maps/map_files/generic/CentCom.dmm
  code/__DEFINES/admin.dm
  code/modules/admin/topic.dm
  code/modules/paperwork/fax.dm
Labels: Map Modification

Automatic changelog for PR #28973 [ci skip]
  html/changelogs/AutoChangeLog-pr-28973.yml
Labels: none

[MIRROR] correct tgui readme re: yarn and node version (#28977)
  tgui/README.md
Labels: none

[MIRROR] Increases the quantity of available stocked items in the clothesvend and autodrobe (#28976)
  code/modules/vending/autodrobe.dm
  code/modules/vending/clothesmate.dm
Labels: none

[MIRROR] Refactor table item interactions, fix deck>table interactions (#28987)
  code/game/objects/structures/tables_racks.dm
Labels: none

[MIRROR] Adds Yukata's and Kimono's to the ClothesMate + accessory DLC (#28989)
  code/modules/clothing/head/costume.dm
  code/modules/clothing/shoes/sandals.dm
  code/modules/clothing/under/costume.dm
  code/modules/vending/clothesmate.dm
  icons/mob/clothing/feet.dmi
  icons/mob/clothing/head/costume.dmi
  icons/mob/clothing/under/costume.dmi
  icons/mob/inhands/clothing/hats_lefthand.dmi
  icons/mob/inhands/clothing/hats_righthand.dmi
  icons/mob/inhands/clothing/shoes_lefthand.dmi
  icons/mob/inhands/clothing/shoes_righthand.dmi
  icons/mob/inhands/clothing/suits_lefthand.dmi
  icons/mob/inhands/clothing/suits_righthand.dmi
  icons/obj/clothing/head/costume.dmi
  icons/obj/clothing/shoes.dmi
  icons/obj/clothing/under/costume.dmi
Labels: Sprites

[MIRROR] deletes wires on atom/destroy() (#28991)
  code/game/atom/_atom.dm
  code/game/machinery/autolathe.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/mass_driver.dm
  code/game/machinery/scanner_gate.dm
  code/game/machinery/syndicatebomb.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/items/grenades/chem_grenade.dm
  code/game/objects/items/grenades/plastic.dm
  code/modules/atmospherics/machinery/air_alarm/_air_alarm.dm
  code/modules/food_and_drinks/machinery/microwave.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/simple_animal/bot/mulebot.dm
  code/modules/mod/mod_control.dm
  code/modules/paperwork/fax.dm
  code/modules/power/apc/apc_main.dm
  code/modules/recycling/conveyor.dm
  code/modules/research/rdmachines.dm
  code/modules/vehicles/mecha/_mecha.dm
  code/modules/vending/_vending.dm
Labels: none

Automatic changelog for PR #28976 [ci skip]
  html/changelogs/AutoChangeLog-pr-28976.yml
Labels: none
