Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'

asset protection fix
  modular_skyrat/master_files/code/modules/mod/mod_types.dm
Labels: none

Icon unit test fixes (#29530)
  code/__DEFINES/dcs/signals/signals_atom/signals_atom_movable.dm
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_main.dm
  code/controllers/subsystem/id_access.dm
  code/datums/ai/oldhostile/hostile_tameable.dm
  code/datums/components/pet_commands/pet_command.dm
  code/datums/components/riding/riding_mob.dm
  code/datums/id_trim/_id_trim.dm
  code/datums/id_trim/admin.dm
  code/datums/id_trim/centcom.dm
  code/datums/id_trim/jobs.dm
  code/datums/id_trim/ruins.dm
  code/datums/id_trim/syndicate.dm
  code/game/machinery/doors/door.dm
  code/game/objects/items/cards_ids.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/antagonists/pirate/pirate_outfits.dm
  code/modules/clothing/outfits/ert.dm
  code/modules/jobs/job_types/research_director.dm
  code/modules/library/skill_learning/generic_skillchips/point.dm
  code/modules/mob_spawn/ghost_roles/space_roles.dm
  code/modules/point/point.dm
  code/modules/vending/games.dm
  icons/hud/screen_gen.dmi
  modular_skyrat/master_files/code/modules/mod/mod_types.dm
  modular_skyrat/modules/aesthetics/storage/storage.dmi
  tgstation.dme
Labels: Sprites

Automatic changelog for PR #29530 [ci skip]
  html/changelogs/AutoChangeLog-pr-29530.yml
Labels: none

yippee
  modular_skyrat/master_files/code/modules/loadout/categories/glasses.dm
  modular_skyrat/modules/huds/code/designs.dm
  modular_skyrat/modules/huds/code/glasses/HUD_Glasses.dm
  modular_skyrat/modules/modular_items/code/modular_glasses.dm
Labels: none

le funny
  modular_skyrat/modules/taur_mechanics/code/constrict.dm
Labels: none

Reintroduces custom pies and cakes (#86013)
  code/game/objects/items/food/cake.dm
  code/game/objects/items/food/pie.dm
  icons/obj/food/piecake.dmi
Labels: Sprites

correct felinid vs tajaran
  code/__DEFINES/~skyrat_defines/traits/declarations.dm
  code/__HELPERS/~skyrat_helpers/is_helpers.dm
  code/_globalvars/traits/_traits.dm
  code/_globalvars/traits/admin_tooling.dm
  modular_skyrat/modules/quirks/neutral.dm
Labels: none

missed update
  code/controllers/subsystem/processing/quirks.dm
  modular_skyrat/modules/quirks/neutral.dm
Labels: none

Update Blueshift.dmm
  _maps/map_files/NSVBlueshift/Blueshift.dmm
Labels: Map Modification

Buffs naga constrict to only take 2.2 seconds to acquire (#29532)
  modular_skyrat/modules/taur_mechanics/code/constrict.dm
Labels: none

Feline traits description adjustment (#29534)
  code/__DEFINES/~skyrat_defines/traits/declarations.dm
  code/__HELPERS/~skyrat_helpers/is_helpers.dm
  code/_globalvars/traits/_traits.dm
  code/_globalvars/traits/admin_tooling.dm
  code/controllers/subsystem/processing/quirks.dm
  modular_skyrat/modules/quirks/neutral.dm
Labels: none

Automatic changelog for PR #29532 [ci skip]
  html/changelogs/AutoChangeLog-pr-29532.yml
Labels: none

[MIRROR] Updates goliath cloak sprites (#29528)
  icons/mob/clothing/head/helmet.dmi
  icons/mob/clothing/suits/armor.dmi
  icons/obj/clothing/suits/armor.dmi
Labels: Sprites

Fixes science prescription HUDs giving medhuds + fixes AR prescription huds not working (#29531)
  modular_skyrat/master_files/code/modules/loadout/categories/glasses.dm
  modular_skyrat/modules/huds/code/designs.dm
  modular_skyrat/modules/huds/code/glasses/HUD_Glasses.dm
  modular_skyrat/modules/modular_items/code/modular_glasses.dm
Labels: none

Automatic changelog for PR #29534 [ci skip]
  html/changelogs/AutoChangeLog-pr-29534.yml
Labels: none

[MIRROR] Adds Punching Mitts: Become a One-Spacemen Planetary Ecological Disaster. Available in any mining loot chests (and portals) (#29529)
  code/__DEFINES/melee.dm
  code/datums/martial/boxing.dm
  code/game/objects/structures/icemoon/cave_entrance.dm
  code/modules/clothing/gloves/punch_mitts.dm
  code/modules/mining/lavaland/necropolis_chests.dm
  code/modules/mob/living/basic/lavaland/legion/legion.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/_megafauna.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/blood_drunk_miner.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/demonic_frost_miner.dm
  icons/mob/clothing/hands.dmi
  icons/obj/clothing/gloves.dmi
  tgstation.dme
Labels: Sprites

by god we forgot
  _maps/map_files/NSVBlueshift/Blueshift.dmm
Labels: Map Modification

Automatic changelog for PR #29528 [ci skip]
  html/changelogs/AutoChangeLog-pr-29528.yml
Labels: none

Automatic changelog for PR #29531 [ci skip]
  html/changelogs/AutoChangeLog-pr-29531.yml
Labels: none

fuck
  modular_skyrat/modules/company_imports/code/armament_datums/deforest_medical.dm
  modular_skyrat/modules/company_imports/code/armament_datums/micron_control_systems.dm
Labels: none

Automatic changelog for PR #29529 [ci skip]
  html/changelogs/AutoChangeLog-pr-29529.yml
Labels: none

fixes my stuff
  modular_skyrat/modules/company_imports/code/armament_datums/allstar.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/rifle.dm
Labels: none

[MIRROR] Reintroduces custom pies and cakes (#29533)
  code/game/objects/items/food/cake.dm
  code/game/objects/items/food/pie.dm
  icons/obj/food/piecake.dmi
Labels: Sprites

Automatic changelog for PR #29533 [ci skip]
  html/changelogs/AutoChangeLog-pr-29533.yml
Labels: none

I know you wanna be helpful but i dont need it right now
  code/modules/jobs/job_types/head_of_security.dm
Labels: none

should work now
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/ammo/rifle.dm
Labels: none

Update magazines.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/magazines.dm
Labels: none

Update code/modules/jobs/job_types/head_of_security.dm
  code/modules/jobs/job_types/head_of_security.dm
Labels: none

Remove blueshift substation (#29535)
  _maps/map_files/NSVBlueshift/Blueshift.dmm
Labels: Map Modification

Automatic changelog for PR #29535 [ci skip]
  html/changelogs/AutoChangeLog-pr-29535.yml
Labels: none

Something somethig sec followup (#29536)
  code/modules/jobs/job_types/head_of_security.dm
  modular_skyrat/modules/company_imports/code/armament_datums/allstar.dm
  modular_skyrat/modules/company_imports/code/armament_datums/deforest_medical.dm
  modular_skyrat/modules/company_imports/code/armament_datums/micron_control_systems.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/ammo/rifle.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/magazines.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/rifle.dm
Labels: none

Automatic changelog for PR #29536 [ci skip]
  html/changelogs/AutoChangeLog-pr-29536.yml
Labels: none

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-29437.yml
  html/changelogs/AutoChangeLog-pr-29466.yml
  html/changelogs/AutoChangeLog-pr-29497.yml
  html/changelogs/AutoChangeLog-pr-29500.yml
  html/changelogs/AutoChangeLog-pr-29503.yml
  html/changelogs/AutoChangeLog-pr-29505.yml
  html/changelogs/AutoChangeLog-pr-29506.yml
  html/changelogs/AutoChangeLog-pr-29507.yml
  html/changelogs/AutoChangeLog-pr-29508.yml
  html/changelogs/AutoChangeLog-pr-29510.yml
  html/changelogs/AutoChangeLog-pr-29511.yml
  html/changelogs/AutoChangeLog-pr-29512.yml
  html/changelogs/AutoChangeLog-pr-29513.yml
  html/changelogs/AutoChangeLog-pr-29520.yml
  html/changelogs/AutoChangeLog-pr-29524.yml
  html/changelogs/AutoChangeLog-pr-29528.yml
  html/changelogs/AutoChangeLog-pr-29529.yml
  html/changelogs/AutoChangeLog-pr-29530.yml
  html/changelogs/AutoChangeLog-pr-29531.yml
  html/changelogs/AutoChangeLog-pr-29532.yml
  html/changelogs/AutoChangeLog-pr-29533.yml
  html/changelogs/AutoChangeLog-pr-29534.yml
  html/changelogs/AutoChangeLog-pr-29535.yml
  html/changelogs/AutoChangeLog-pr-29536.yml
  html/changelogs/archive/2024-08.yml
Labels: none

Update rifle.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/rifle.dm
Labels: none

oddity
  modular_skyrat/master_files/code/modules/research/techweb/all_nodes.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/nanotrasen_system_inc/magazine.dm
  modular_skyrat/modules/sec_haul/code/guns/cargo_stuff.dm
  modular_skyrat/modules/sec_haul/code/technode/all_nodes.dm
Labels: none

c10 speedloader small sized (#29538)
  modular_skyrat/master_files/code/modules/research/techweb/all_nodes.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/nanotrasen_system_inc/magazine.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/rifle.dm
  modular_skyrat/modules/sec_haul/code/guns/cargo_stuff.dm
  modular_skyrat/modules/sec_haul/code/technode/all_nodes.dm
Labels: none

Automatic changelog for PR #29538 [ci skip]
  html/changelogs/AutoChangeLog-pr-29538.yml
Labels: none

agh
  modular_skyrat/modules/company_imports/code/armament_datums/allstar.dm
  modular_skyrat/modules/company_imports/code/armament_datums/microstar_energy.dm
Labels: none

thats it
  code/modules/projectiles/guns/ballistic/shotgun.dm
  modular_skyrat/modules/aesthetics/guns/code/guns.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/ammo/rifle.dm
  modular_skyrat/modules/sec_haul/code/misc/packs.dm
  modular_skyrat/modules/sec_haul/code/misc/vending.dm
  modular_skyrat/modules/sec_haul/code/technode/sec_research.dm
  modular_skyrat/modules/shotgunrebalance/code/shotgun.dm
Labels: none

how did i forget this
  modular_skyrat/modules/company_imports/code/armament_datums/akh_frontier.dm
Labels: none
