Repository Skyrat-SS13/Skyrat-tg, changes with the labels that .github/labeler.yml gives for each.
All labels: Map Modification, Sprites

.github/labeler.yml:

# Changes to anything in the _map subfolder
Map Modification:
- changed-files:
  - any-glob-to-any-file: '_maps/**'

# Changes to a .dmi
Sprites:
- changed-files:
  - any-glob-to-any-file: '**/*.dmi'

Medsec gets their own telescreen (#85244)
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/wawastation/wawastation.dmm
  code/game/machinery/computer/telescreen.dm
Labels: Map Modification

Makes mirage grenade dispensers and ionic jump jets work (#85253)
  code/modules/mod/modules/modules_general.dm
  code/modules/mod/modules/modules_security.dm
Labels: none

Injector instead of passive in lavaland waste (#85247)
  _maps/map_files/Mining/Lavaland.dmm
Labels: Map Modification

Emotes by default will not be heard through walls
  code/datums/emotes.dm
  code/modules/mob/living/emote.dm
Labels: none

Radio Sounds (#85115)
  code/game/machinery/telecomms/broadcasting.dm
  code/game/objects/items/devices/radio/radio.dm
  code/modules/client/preferences/sounds.dm
  sound/misc/license.txt
  sound/misc/radio_important.ogg
  sound/misc/radio_receive.ogg
  sound/misc/radio_talk.ogg
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/sounds.tsx
Labels: none

Emergency climbing hooks now spawn in emergency boxes if the station has multi-z level. (#85273)
  code/game/objects/items/storage/boxes/job_boxes.dm
  code/modules/cargo/goodies.dm
Labels: none

Peg limbs can now be removed via surgery
  code/modules/surgery/amputation.dm
Labels: none

Justice invisibility now turns off by the safety (#85272)
  code/modules/vehicles/mecha/combat/justice.dm
Labels: none

[NO GBP] Tooltips no longer call MeasureText every time you move your mouse (#85246)
  code/game/atom/_atom.dm
Labels: none

Update shotgun.dm
  modular_skyrat/modules/shotgunrebalance/code/shotgun.dm
Labels: none

Medkit sounds
  code/game/objects/items/storage/medkit.dm
  sound/items/attributions.txt
  sound/items/medkit_drop.ogg
  sound/items/medkit_open.ogg
  sound/items/medkit_pick_up.ogg
Labels: none

(Black)market Telepad (LTSRBT) Update: Restocking Edition (#85066)
  code/__DEFINES/dcs/signals/signals_market.dm
  code/__DEFINES/market.dm
  code/controllers/subsystem/market.dm
  code/modules/antagonists/spy/spy_bounty.dm
  code/modules/cargo/markets/_market.dm
  code/modules/cargo/markets/market_item.dm
  code/modules/cargo/markets/market_items/hostages.dm
  code/modules/cargo/markets/market_items/stolen_goods.dm
  code/modules/cargo/markets/market_items/tools.dm
  code/modules/cargo/markets/market_telepad.dm
  code/modules/cargo/markets/market_uplink.dm
  code/modules/cargo/packs/imports.dm
  code/modules/mob/living/living.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/blackmarket.dm
  code/modules/unit_tests/market.dm
  icons/obj/machines/telecomms.dmi
  tgstation.dme
Labels: Sprites

Automatic changelog compile [ci skip]
  html/changelogs/AutoChangeLog-pr-28957.yml
  html/changelogs/AutoChangeLog-pr-28986.yml
  html/changelogs/AutoChangeLog-pr-29002.yml
  html/changelogs/AutoChangeLog-pr-29007.yml
  html/changelogs/AutoChangeLog-pr-29024.yml
  html/changelogs/AutoChangeLog-pr-29029.yml
  html/changelogs/AutoChangeLog-pr-29035.yml
  html/changelogs/AutoChangeLog-pr-29065.yml
  html/changelogs/AutoChangeLog-pr-29069.yml
  html/changelogs/AutoChangeLog-pr-29070.yml
  html/changelogs/AutoChangeLog-pr-29071.yml
  html/changelogs/AutoChangeLog-pr-29072.yml
  html/changelogs/archive/2024-07.yml
Labels: none

[MIRROR] Fix ssmachinary sleeping (#29081)
  code/game/machinery/_machinery.dm
Labels: none

Update amputation.dm
  code/modules/surgery/amputation.dm
Labels: none

Update emotes.dm
  code/datums/emotes.dm
Labels: none

fix
  code/__DEFINES/DNA.dm
  code/controllers/subsystem/sprite_accessories.dm
  code/modules/surgery/organs/external/tails.dm
  modular_skyrat/master_files/code/modules/client/preferences/mutant_parts.dm
Labels: none

[MIRROR] (Black)market Telepad (LTSRBT) Update: Restocking Edition (#29094)
  code/__DEFINES/dcs/signals/signals_market.dm
  code/__DEFINES/market.dm
  code/controllers/subsystem/market.dm
  code/modules/antagonists/spy/spy_bounty.dm
  code/modules/cargo/markets/_market.dm
  code/modules/cargo/markets/market_item.dm
  code/modules/cargo/markets/market_items/hostages.dm
  code/modules/cargo/markets/market_items/stolen_goods.dm
  code/modules/cargo/markets/market_items/tools.dm
  code/modules/cargo/markets/market_telepad.dm
  code/modules/cargo/markets/market_uplink.dm
  code/modules/cargo/packs/imports.dm
  code/modules/mob/living/living.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/blackmarket.dm
  code/modules/unit_tests/market.dm
  icons/obj/machines/telecomms.dmi
  tgstation.dme
Labels: Sprites

[MIRROR] Medkit sounds (#29093)
  code/game/objects/items/storage/medkit.dm
  sound/items/attributions.txt
  sound/items/medkit_drop.ogg
  sound/items/medkit_open.ogg
  sound/items/medkit_pick_up.ogg
Labels: none

[MIRROR] [NO GBP] Tooltips no longer call MeasureText every time you move your mouse (#29092)
  code/game/atom/_atom.dm
Labels: none

[MIRROR] Justice invisibility now turns off by the safety (#29091)
  code/modules/vehicles/mecha/combat/justice.dm
Labels: none

Automatic changelog for PR #29093 [ci skip]
  html/changelogs/AutoChangeLog-pr-29093.yml
Labels: none

[MIRROR] Peg limbs can now be removed via surgery (#29090)
  code/modules/surgery/amputation.dm
Labels: none

Automatic changelog for PR #29092 [ci skip]
  html/changelogs/AutoChangeLog-pr-29092.yml
Labels: none

[MIRROR] Emergency climbing hooks now spawn in emergency boxes if the station has multi-z level. (#29089)
  code/game/objects/items/storage/boxes/job_boxes.dm
  code/modules/cargo/goodies.dm
Labels: none

[MIRROR] Radio Sounds (#29088)
  code/game/machinery/telecomms/broadcasting.dm
  code/game/objects/items/devices/radio/radio.dm
  code/modules/client/preferences/sounds.dm
  sound/misc/license.txt
  sound/misc/radio_important.ogg
  sound/misc/radio_receive.ogg
  sound/misc/radio_talk.ogg
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/sounds.tsx
Labels: none

[MIRROR] Emotes by default will not be heard through walls (#29087)
  code/datums/emotes.dm
  code/modules/mob/living/emote.dm
Labels: none

[MIRROR] Injector instead of passive in lavaland waste (#29086)
  _maps/map_files/Mining/Lavaland.dmm
Labels: Map Modification

[MIRROR] Makes mirage grenade dispensers and ionic jump jets work (#29085)
  code/modules/mod/modules/modules_general.dm
  code/modules/mod/modules/modules_security.dm
Labels: none

[MIRROR] Medsec gets their own telescreen (#29084)
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/wawastation/wawastation.dmm
  code/game/machinery/computer/telescreen.dm
Labels: Map Modification

[MIRROR] Mafia role help now checks the original description (#29083)
  code/modules/mafia/roles/roles.dm
Labels: none

[MIRROR] Surgery steps no longer fail silently when missing chemicals (#29082)
  code/game/machinery/computer/operating_computer.dm
  code/modules/surgery/surgery_step.dm
  tgui/packages/tgui/interfaces/OperatingComputer.jsx
Labels: none

[MIRROR] Makes Voidwalker check SSmapping.is_planetary when spawning (#29080)
  code/controllers/subsystem/dynamic/dynamic_rulesets_midround.dm
Labels: none

[MIRROR] Dynamic - fixes a comment for proc/lorentz_to_amount() (#29079)
  code/controllers/subsystem/dynamic/dynamic.dm
Labels: none

[MIRROR] fixes birdshot holodeck area fuckery (#29078)
  _maps/map_files/Birdshot/birdshot.dmm
Labels: Map Modification

[MIRROR] nerfs the sneeze suppressive fire (#29077)
  code/modules/mob/living/sneeze.dm
Labels: none

[MIRROR] [NO GBP] Clown Ops gear is now restricted to clown ops again (#29076)
  code/modules/uplink/uplink_devices.dm
Labels: none

Automatic changelog for PR #29091 [ci skip]
  html/changelogs/AutoChangeLog-pr-29091.yml
Labels: none

[MIRROR] Monkeymancers can interact with runes (#29075)
  code/__DEFINES/interaction_flags.dm
  code/_onclick/other_mobs.dm
  code/modules/antagonists/wizard/grand_ritual/grand_rune.dm
  code/modules/food_and_drinks/machinery/processor.dm
Labels: none

[MIRROR] [no gbp] Changes the default sheet drop sound. (#29074)
  sound/items/attributions.txt
  sound/items/metal_drop.ogg
Labels: none
