Repository Skyrat-SS13/Skyrat-tg, pull requests merged in 2020-09, with the labels that each got.

#683 hello travis
  tgui/public/tgui-common.chunk.js
  tgui/public/tgui.bundle.js
Labels: UI

#784 hardsyncs tgui because mirrorbot dumb
  tgui/public/tgui-common.chunk.js
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.js
Labels: UI

#796 [CONFIG] Bumps the widescreen to 21x15
  config/config.txt
Labels: Config Update

#803 Blueshield Additional Content
  modular_skyrat/master_files/readme.md
  modular_skyrat/modules/blueshield/code/game/objects/structures/crates_lockers/closets/secure/security.dm
  modular_skyrat/modules/blueshield/code/modules/jobs/job_types/blueshield.dm
  modular_skyrat/modules/blueshield/code/modules/projectiles/guns/energy/special.dm
  modular_skyrat/modules/blueshield/icons/mob/inhands/weapons/guns_lefthand.dmi
  modular_skyrat/modules/blueshield/icons/mob/inhands/weapons/guns_righthand.dmi
  modular_skyrat/modules/blueshield/icons/obj/guns/energy.dmi
  tgstation.dme
Labels: Feature

#841 Adds different random title screens! (I'm bored)
  config/title_screens/images/1.jpg
  config/title_screens/images/2.jpg
  config/title_screens/images/3.jpg
  config/title_screens/images/4.png
Labels: Config Update

#868 Revert "Adds different random title screens! (I'm bored)"
  config/title_screens/images/1.jpg
  config/title_screens/images/2.jpg
  config/title_screens/images/3.jpg
  config/title_screens/images/4.png
Labels: Config Update, Revert

#463 [SEMI-MODULAR] [TESTING] All the borgs
  code/__DEFINES/~skyrat_defines/robot_defines.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  modular_skyrat/modules/altborgs/code/game/objects/items/robot_items.dm
  modular_skyrat/modules/altborgs/code/modules/mob/living/silicon/robot/inventory.dm
  modular_skyrat/modules/altborgs/code/modules/mob/living/silicon/robot/robot.dm
  modular_skyrat/modules/altborgs/code/modules/mob/living/silicon/robot/robot_modules.dm
  modular_skyrat/modules/altborgs/code/modules/mob/living/silicon/robot/update_icons.dm
  modular_skyrat/modules/altborgs/icons/mob/robot_items.dmi
  modular_skyrat/modules/altborgs/icons/mob/robots.dmi
  modular_skyrat/modules/altborgs/icons/mob/widerobot.dmi
  modular_skyrat/modules/altborgs/icons/ui/screen_cyborg.dmi
  modular_skyrat/modules/altborgs/readme.md
  tgstation.dme
Labels: Core Proc Edit, Feature, Modularisation Compliant, Old-base Port, Port, Testing Phase

#890 maintained modular maps moment
  _maps/_basemap.dm
  _maps/deltastation.json
  _maps/icebox.json
  _maps/metastation.json
  _maps/pubbystation.json
Labels: Map Edit

#248 Weapons Update: Part 1 Guns n' Improvised Guns.
  modular_skyrat/modules/modular_weapons/code/datums/components/crafting/recipes.dm
  modular_skyrat/modules/modular_weapons/code/modules/projectiles/guns/ballistic/automatic.dm
  modular_skyrat/modules/modular_weapons/code/modules/projectiles/guns/ballistic/pistol.dm
  modular_skyrat/modules/modular_weapons/code/modules/projectiles/guns/ballistic/revolver.dm
  modular_skyrat/modules/modular_weapons/code/modules/projectiles/guns/ballistic/rifle.dm
  modular_skyrat/modules/modular_weapons/code/modules/projectiles/projectile/bullets/modular_projectiles.dm
  modular_skyrat/modules/modular_weapons/code/modules/research/designs/autolathe_designs.dm
  modular_skyrat/modules/modular_weapons/icons/mob/inhands/weapons/64x_guns_left.dmi
  modular_skyrat/modules/modular_weapons/icons/mob/inhands/weapons/64x_guns_right.dmi
  modular_skyrat/modules/modular_weapons/icons/obj/ammo.dmi
  modular_skyrat/modules/modular_weapons/icons/obj/guns/projectile.dmi
  modular_skyrat/modules/modular_weapons/icons/obj/guns/projectile40x32.dmi
  modular_skyrat/modules/modular_weapons/readme.md
  tgstation.dme
Labels: Feature, Modularisation Compliant, Testing Phase, Tweak

#840 Changelog Update
  html/templates/header.html
Labels: Feature

#917 [READY] [MODULAR] Optimizations for mutant parts and character creator updates
  modular_skyrat/modules/customization/icons/mob/sprite_accessory/taur.dmi
  modular_skyrat/modules/customization/modules/client/preferences.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/ears.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/frills.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/genitals.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/ipc.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/snout.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/tails.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/taur_types.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/wings.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/xeno.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/human_defines.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species.dm
  tgstation.dme
Labels: Needs Review

#892 Emotes [MODULAR]
  modular_skyrat/modules/emotes/code/dna_screams.dm
  modular_skyrat/modules/emotes/code/emotes.dm
  modular_skyrat/modules/emotes/code/silicon_emotes.dm
  modular_skyrat/modules/emotes/readme.md
  modular_skyrat/modules/emotes/sound/emotes/jelly_scream.ogg
  modular_skyrat/modules/emotes/sound/emotes/voxcough.ogg
  modular_skyrat/modules/emotes/sound/emotes/voxrustle.ogg
  modular_skyrat/modules/emotes/sound/emotes/voxscream.ogg
  modular_skyrat/modules/emotes/sound/emotes/voxsneeze.ogg
  modular_skyrat/modules/emotes/sound/emotes/zombie_scream.ogg
  modular_skyrat/modules/emotes/sound/voice/awoo.ogg
  modular_skyrat/modules/emotes/sound/voice/bark1.ogg
  modular_skyrat/modules/emotes/sound/voice/bark2.ogg
  modular_skyrat/modules/emotes/sound/voice/hiss.ogg
  modular_skyrat/modules/emotes/sound/voice/merowr.ogg
  modular_skyrat/modules/emotes/sound/voice/merp.ogg
  modular_skyrat/modules/emotes/sound/voice/mothsqueak.ogg
  modular_skyrat/modules/emotes/sound/voice/nya.ogg
  modular_skyrat/modules/emotes/sound/voice/peep.ogg
  modular_skyrat/modules/emotes/sound/voice/peep_once.ogg
  modular_skyrat/modules/emotes/sound/voice/raptor_purr.ogg
  modular_skyrat/modules/emotes/sound/voice/roro_rogue.ogg
  modular_skyrat/modules/emotes/sound/voice/scream_cat.ogg
  modular_skyrat/modules/emotes/sound/voice/scream_f1.ogg
  modular_skyrat/modules/emotes/sound/voice/scream_f2.ogg
  modular_skyrat/modules/emotes/sound/voice/scream_f3.ogg
  modular_skyrat/modules/emotes/sound/voice/scream_lizard.ogg
  modular_skyrat/modules/emotes/sound/voice/scream_m.ogg
  modular_skyrat/modules/emotes/sound/voice/scream_m1.ogg
  modular_skyrat/modules/emotes/sound/voice/scream_m2.ogg
  modular_skyrat/modules/emotes/sound/voice/scream_monkey.ogg
  modular_skyrat/modules/emotes/sound/voice/scream_moth.ogg
  modular_skyrat/modules/emotes/sound/voice/scream_silicon.ogg
  modular_skyrat/modules/emotes/sound/voice/scream_skeleton.ogg
  modular_skyrat/modules/emotes/sound/voice/slime_squish.ogg
  modular_skyrat/modules/emotes/sound/voice/snap.ogg
  modular_skyrat/modules/emotes/sound/voice/snap2.ogg
  modular_skyrat/modules/emotes/sound/voice/snap3.ogg
  modular_skyrat/modules/emotes/sound/voice/weh.ogg
  tgstation.dme
Labels: Feature, Green Label, Modularisation Compliant, Old-base Port, Testing Phase, enhancement

#916 [READY] [MODULAR] Adds support for general donator group, +goodies for loadout
  config/skyrat/donators.txt
  modular_skyrat/modules/customization/__DEFINES/loadout.dm
  modular_skyrat/modules/customization/__HELPERS/global_lists.dm
  modular_skyrat/modules/customization/modules/admin/donator_list.dm
  modular_skyrat/modules/customization/modules/client/loadout/_loadout.dm
  modular_skyrat/modules/customization/modules/client/loadout/donator/backpack.dm
  modular_skyrat/modules/customization/modules/client/preferences.dm
  modular_skyrat/modules/customization/modules/client/preferences_savefile.dm
  tgstation.dme
Labels: Config Update, Needs Review

#869 [Ready-ish] [SEMI-MODULAR] CRYOSLEEP module, yes cryosleepers
  code/game/machinery/announcement_system.dm
  modular_skyrat/modules/cryosleep/code/cryopod.dm
  modular_skyrat/modules/cryosleep/icons/cryogenics.dmi
  modular_skyrat/modules/cryosleep/readme.md
  tgstation.dme
Labels: Work In Progress

#872 MORE VERBS! [MODULAR]
  code/__DEFINES/~skyrat_defines/logging.dm
  code/__DEFINES/~skyrat_defines/preferences.dm
  modular_skyrat/master_files/code/_globalvars/configuration.dm
  modular_skyrat/master_files/readme.md
  modular_skyrat/modules/customization/modules/client/preferences.dm
  modular_skyrat/modules/verbs/code/modules/client/preferences_toggles.dm
  modular_skyrat/modules/verbs/code/modules/client/verbs/looc.dm
  modular_skyrat/modules/verbs/code/modules/mob/say.dm
  modular_skyrat/modules/verbs/code/modules/mob/subtle.dm
  modular_skyrat/modules/verbs/readme.md
  tgstation.dme
Labels: Administration, Core Proc Edit, Modularisation Compliant, Old-base Port, Testing Phase, UI

#969 New lizard markings, grayscaled horns, new horns, new frills, new old accessories
  modular_skyrat/modules/customization/icons/mob/body_markings/other_markings.dmi
  modular_skyrat/modules/customization/icons/mob/sprite_accessory/frills.dmi
  modular_skyrat/modules/customization/icons/mob/sprite_accessory/horns.dmi
  modular_skyrat/modules/customization/modules/client/preferences.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/body_markings/body_markings.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/frills.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/horns.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/lizard.dm
  tgstation.dme
Labels: Feature

#950 Radio transmit noise [MODULAR]
  modular_skyrat/modules/radiosound/code/game/objects/items/devices/radio/headset.dm
  modular_skyrat/modules/radiosound/readme.md
  modular_skyrat/modules/radiosound/sound/radio/common.ogg
  modular_skyrat/modules/radiosound/sound/radio/security.ogg
  modular_skyrat/modules/radiosound/sound/radio/syndie.ogg
  tgstation.dme
Labels: Feature

#998 Update tgui.bundle.js moment
  tgui/public/tgui.bundle.js
Labels: UI

#1003 WAGGIES [SUPER IMPORTANT] [SEMI-MODULAR]
  code/__DEFINES/~skyrat_defines/traits.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  modular_skyrat/master_files/code/datums/traits/good.dm
  modular_skyrat/master_files/code/datums/traits/negative.dm
  modular_skyrat/master_files/code/datums/traits/neutral.dm
  modular_skyrat/master_files/readme.md
  modular_skyrat/modules/emotes/readme.md
  modular_skyrat/modules/emotes/sound/emotes/Nose_boop.ogg
  tgstation.dme
Labels: Feature

#1010 [MODULAR] Body size preference
  code/__DEFINES/~skyrat_defines/DNA.dm
  modular_skyrat/modules/customization/datums/dna.dm
  modular_skyrat/modules/customization/modules/client/preferences.dm
  modular_skyrat/modules/customization/readme.md
Labels: Feature

#1012 [MODULAR] Polychromic Element, polychromic clothes for donators and 3 color support in loadout
  modular_skyrat/modules/customization/datums/elements/polychromic.dm
  modular_skyrat/modules/customization/icons/~donator/mob/clothing/head.dmi
  modular_skyrat/modules/customization/icons/~donator/mob/clothing/neck.dmi
  modular_skyrat/modules/customization/icons/~donator/mob/clothing/suit.dmi
  modular_skyrat/modules/customization/icons/~donator/mob/clothing/uniform.dmi
  modular_skyrat/modules/customization/icons/~donator/obj/clothing/cloaks.dmi
  modular_skyrat/modules/customization/icons/~donator/obj/clothing/hats.dmi
  modular_skyrat/modules/customization/icons/~donator/obj/clothing/suits.dmi
  modular_skyrat/modules/customization/icons/~donator/obj/clothing/uniform.dmi
  modular_skyrat/modules/customization/modules/client/loadout/_loadout.dm
  modular_skyrat/modules/customization/modules/client/loadout/donator/_donator.dm
  modular_skyrat/modules/customization/modules/client/loadout/donator/neck.dm
  modular_skyrat/modules/customization/modules/client/loadout/donator/suit.dm
  modular_skyrat/modules/customization/modules/client/loadout/donator/uniform.dm
  modular_skyrat/modules/customization/modules/client/preferences.dm
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
  tgstation.dme
Labels: Feature

#870 [SEMI-MODULAR] PIXEL-SHIFTING module
  code/__DEFINES/~skyrat_defines/keybindings.dm
  code/datums/keybinding/mob.dm
  code/modules/mob/mob_movement.dm
  modular_skyrat/modules/pixel_shift/code/pixel_shift.dm
  modular_skyrat/modules/pixel_shift/readme.md
  tgstation.dme
Labels: Core Proc Edit, Modularisation Compliant, Ready, Testing Phase

#1000 [SEMI-MODULAR] CUSTOMIZATION - Modular Augmentation system
  code/datums/traits/negative.dm
  code/modules/mob/living/carbon/human/human_update_icons.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  modular_skyrat/modules/customization/__DEFINES/augment.dm
  modular_skyrat/modules/customization/__DEFINES/lists.dm
  modular_skyrat/modules/customization/__HELPERS/global_lists.dm
  modular_skyrat/modules/customization/_globalvars/lists.dm
  modular_skyrat/modules/customization/icons/mob/augmentation/bs2ipc.dmi
  modular_skyrat/modules/customization/icons/mob/augmentation/bshipc.dmi
  modular_skyrat/modules/customization/icons/mob/augmentation/hi2ipc.dmi
  modular_skyrat/modules/customization/icons/mob/augmentation/hsiipc.dmi
  modular_skyrat/modules/customization/icons/mob/augmentation/mcgipc.dmi
  modular_skyrat/modules/customization/icons/mob/augmentation/sgmipc.dmi
  modular_skyrat/modules/customization/icons/mob/augmentation/wtmipc.dmi
  modular_skyrat/modules/customization/icons/mob/augmentation/xm2ipc.dmi
  modular_skyrat/modules/customization/icons/mob/augmentation/xmgipc.dmi
  modular_skyrat/modules/customization/icons/mob/augmentation/zhpipc.dmi
  modular_skyrat/modules/customization/modules/client/augment/_augment.dm
  modular_skyrat/modules/customization/modules/client/augment/implants.dm
  modular_skyrat/modules/customization/modules/client/augment/limbs.dm
  modular_skyrat/modules/customization/modules/client/augment/organs.dm
  modular_skyrat/modules/customization/modules/client/preferences.dm
  modular_skyrat/modules/customization/modules/client/preferences_savefile.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/preferences_setup.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/carbon_update_icons.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species.dm
  modular_skyrat/modules/customization/modules/surgery/bodyparts/_bodyparts.dm
  modular_skyrat/modules/customization/modules/surgery/bodyparts/robot_bodyparts.dm
  modular_skyrat/modules/customization/modules/surgery/bodyparts/robot_parts.dm
  modular_skyrat/modules/customization/modules/surgery/robot_restore_looks.dm
  modular_skyrat/modules/customization/readme.md
  tgstation.dme
Labels: Feature

#1014 map quick fix
  _maps/icebox.json
Labels: Map Edit

#1024 Fixes taur mode orbs rendering
  modular_skyrat/modules/customization/icons/mob/sprite_accessory/genitals/taur_testicles_onmob.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/genitals.dm
Labels: Fix

#1020 Fixes some character creation render updates, bumps save slots to 10
  code/modules/client/preferences_toggles.dm
  modular_skyrat/modules/customization/modules/client/preferences.dm
Labels: Fix, Tweak

#1057 [SEMI-MODULAR] Temporary Flavor Text
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/silicon/robot/examine.dm
  modular_skyrat/modules/customization/modules/mob/living/living.dm
  modular_skyrat/modules/customization/modules/mob/living/living_defines.dm
  modular_skyrat/modules/customization/modules/mob/living/living_verbs.dm
  modular_skyrat/modules/customization/modules/mob/living/simple_mob/examine.dm
  tgstation.dme
Labels: Feature

#1064 Revert "[MIRROR] Adds some file helpers for working with byond file references in external systems"
  code/__HELPERS/files.dm
Labels: Revert

#1032 Sheaths, but not the rapier kind
  code/__DEFINES/~skyrat_defines/DNA.dm
  modular_skyrat/modules/customization/icons/mob/sprite_accessory/genitals/penis_onmob.dmi
  modular_skyrat/modules/customization/icons/mob/sprite_accessory/genitals/taur_penis_onmob.dmi
  modular_skyrat/modules/customization/icons/mob/sprite_accessory/genitals/testicles_onmob.dmi
  modular_skyrat/modules/customization/icons/mob/sprite_accessory/genitals/vagina_onmob.dmi
  modular_skyrat/modules/customization/modules/client/preferences.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/genitals.dm
  modular_skyrat/modules/customization/modules/surgery/organs/genitals.dm
Labels: FUCK, Modularisation Compliant, Test Merged, Testing Phase

#1054 [NON-MODULAR] Can't use direct radio implements if you can't use items (cant radio while cuffed, stunned)
  code/modules/mob/living/living_say.dm
Labels: Balance/Rebalance

#1070 Adds some new markings
  modular_skyrat/modules/customization/icons/mob/body_markings/other_markings.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/body_markings/body_markings.dm
Labels: Feature

#1085 Fluffy tail sprite improvements
  modular_skyrat/modules/customization/icons/mob/sprite_accessory/tails.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/tails.dm
Labels: Feature, Tweak

#1086 Updates some fluffy ears
  modular_skyrat/modules/customization/icons/mob/sprite_accessory/ears.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/ears.dm
Labels: Feature, Tweak
