Repository Skyrat-SS13/Skyrat-tg, pull requests merged in 2020-11, with the labels that each got.

#1524 Makes body size customization more generous 80%-150%
  code/__DEFINES/~skyrat_defines/DNA.dm
Labels: Tweak

#1526 Ports project Zulie cloak, plus fixes a thing regarding donator items
  modular_skyrat/modules/customization/icons/~donator/mob/clothing/neck.dmi
  modular_skyrat/modules/customization/icons/~donator/obj/clothing/cloaks.dmi
  modular_skyrat/modules/customization/modules/client/loadout/donator/personal/donator_personal.dm
  modular_skyrat/modules/customization/modules/client/preferences.dm
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
Labels: Fix

#1536 Light tweaks [SEMI-MODULAR]
  code/__HELPERS/mobs.dm
  code/modules/power/lighting.dm
  modular_skyrat/modules/aesthetics/lights/code/lighting.dm
  modular_skyrat/modules/aesthetics/lights/sound/light_on.ogg
  modular_skyrat/modules/aesthetics/lightswitch/code/lightswitch.dm
  modular_skyrat/modules/aesthetics/lightswitch/sound/lightswitch.ogg
Labels: Feature, Tweak

#1569 [Non-modular] Admins now have 60 seconds to cancel an event, opposed to 10.
  code/modules/events/_event.dm
Labels: Administration

#1572 High impact bottom-end simulation [Thermodynamics] [Gluons] [Semi-Modular]
  code/__DEFINES/~skyrat_defines/traits.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  modular_skyrat/master_files/code/datums/traits/neutral.dm
  modular_skyrat/modules/emotes/code/emotes.dm
Labels: Feature

#1604 No more screen border
  interface/skin.dmf
Labels: Feature

#1346 Energy gun rebalance [Semi-Modular]
  code/modules/projectiles/guns/energy/energy_gun.dm
  code/modules/projectiles/guns/energy/laser.dm
  modular_skyrat/modules/gunsgalore/code/guns/energy.dm
  modular_skyrat/modules/gunsgalore/sound/guns/fire/laser_cannon_charge.ogg
  tgstation.dme
Labels: Balance/Rebalance, Modularisation Compliant, Ready, Test Merged

#1628 [MODULAR] Snubby Snout!
  modular_skyrat/modules/customization/icons/mob/sprite_accessory/snouts.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/snout.dm
Labels: Feature

#1617 [Modular] Robotics Clothing update
  code/modules/jobs/job_types/roboticist.dm
  modular_skyrat/modules/roboclothes/code/clothing/robotics_clothing.dm
  modular_skyrat/modules/roboclothes/code/vending/wardrobes.dm
  modular_skyrat/modules/roboclothes/icons/mob/labcoat_robo_onmob.dmi
  modular_skyrat/modules/roboclothes/icons/mob/robobag_onmob.dmi
  modular_skyrat/modules/roboclothes/icons/obj/labcoat_robo_item.dmi
  modular_skyrat/modules/roboclothes/icons/obj/robobag_item.dmi
  modular_skyrat/modules/roboclothes/readme.md
  tgstation.dme
Labels: Feature, Tweak

#1678 [SEMI-MODULAR] Combat Indicator
  code/__DEFINES/~skyrat_defines/keybindings.dm
  code/datums/keybinding/mob.dm
  code/modules/mob/living/death.dm
  modular_skyrat/master_files/code/modules/mob/living/emote_popup.dm
  modular_skyrat/master_files/icons/mob/popup_flicks.dmi
  modular_skyrat/master_files/readme.md
  modular_skyrat/modules/combat_indicator/code/combat_indicator.dm
  modular_skyrat/modules/combat_indicator/icons/combat_indicator.dmi
  modular_skyrat/modules/combat_indicator/readme.md
  modular_skyrat/modules/pixel_shift/code/pixel_shift.dm
  modular_skyrat/modules/ssd_indicator/readme.md
  modular_skyrat/modules/typing_indicator/readme.md
  tgstation.dme
Labels: Feature, Tweak

#1747 Cleans up CODEOWNERS, assigns map stuff to the current designated maptainer.
  .github/CODEOWNERS
Labels: GitHub

#151 Ports cloning [WIP] [DNM]
  code/_globalvars/lists/poll_ignore.dm
  code/datums/dna.dm
  code/datums/shuttles.dm
  code/modules/antagonists/revenant/revenant_abilities.dm
  code/modules/clothing/head/misc_special.dm
  modular_skyrat/master_files/sounds/horror_scream.ogg
  modular_skyrat/modules/cloning/code/_DEFINES/DNA.dm
  modular_skyrat/modules/cloning/code/_DEFINES/access.dm
  modular_skyrat/modules/cloning/code/_DEFINES/machines.dm
  modular_skyrat/modules/cloning/code/_DEFINES/poll_ignore.dm
  modular_skyrat/modules/cloning/code/datums/brain_damage/brain_trauma.dm
  modular_skyrat/modules/cloning/code/datums/brain_damage/phobia.dm
  modular_skyrat/modules/cloning/code/datums/brain_damage/special.dm
  modular_skyrat/modules/cloning/code/datums/mood_events/generic_negative_events.dm
  modular_skyrat/modules/cloning/code/datums/ruins/space.dm
  modular_skyrat/modules/cloning/code/datums/traits/_quirk.dm
  modular_skyrat/modules/cloning/code/datums/traits/negative.dm
  modular_skyrat/modules/cloning/code/game/area/Space_Station_13_areas.dm
  modular_skyrat/modules/cloning/code/game/machinery/cloning.dm
  modular_skyrat/modules/cloning/code/game/machinery/computer/cloning.dm
  modular_skyrat/modules/cloning/code/game/machinery/exp_cloner.dm
  modular_skyrat/modules/cloning/code/game/objects/effects/countdown.dm
  modular_skyrat/modules/cloning/code/game/objects/effects/spawners/lootdrop.dm
  modular_skyrat/modules/cloning/code/game/objects/items/circuitboards/computer_circuitboards.dm
  modular_skyrat/modules/cloning/code/game/objects/items/circuitboards/machine_circuitboards.dm
  modular_skyrat/modules/cloning/code/game/objects/items/manuals.dm
  modular_skyrat/modules/cloning/code/modules/atmospherics/gasmixtures/immutable_mixtures.dm
  modular_skyrat/modules/cloning/code/modules/jobs/access.dm
  modular_skyrat/modules/cloning/code/modules/jobs/job_types/chemist.dm
  modular_skyrat/modules/cloning/code/modules/jobs/job_types/chief_medical_officer.dm
  modular_skyrat/modules/cloning/code/modules/jobs/job_types/geneticist.dm
  modular_skyrat/modules/cloning/code/modules/jobs/job_types/medical_doctor.dm
  modular_skyrat/modules/cloning/code/modules/jobs/job_types/paramedic.dm
  modular_skyrat/modules/cloning/code/modules/jobs/job_types/virologist.dm
  modular_skyrat/modules/cloning/code/modules/library/lib_items.dm
  modular_skyrat/modules/cloning/code/modules/mob/living/brain/brain_item.dm
  modular_skyrat/modules/cloning/code/modules/research/designs/comp_board_designs.dm
  modular_skyrat/modules/cloning/code/modules/research/designs/machine_designs.dm
  modular_skyrat/modules/cloning/code/modules/research/techweb/all_nodes.dm
  modular_skyrat/modules/cloning/code/modules/ruins/spaceruin_code/cloning_lab.dm
  modular_skyrat/modules/cloning/icons/obj/machines/cloning.dmi
  modular_skyrat/modules/cloning/icons/obj/machines/cloning_pod.dmi
  modular_skyrat/modules/cloning/icons/obj/machines/cryo_mobs.dmi
  modular_skyrat/modules/cloning/readme.md
  modular_skyrat/modules/customization/datums/dna.dm
  tgstation.dme
Labels: Core File Edit, Feature, Modularisation Compliant, Port, Ready, Stale, Work In Progress

#1750 Various changes to chat [NON-MODULAR]
  code/__DEFINES/say.dm
  code/controllers/subsystem/statpanel.dm
  code/modules/mob/living/living_say.dm
Labels: Fix, Tweak

#1616 Old PB system [SEMI-MODULAR]
  code/controllers/subsystem/persistence.dm
  code/modules/admin/admin_verbs.dm
  code/modules/client/client_procs.dm
  modular_skyrat/modules/panicbunker/code/panicbunker.dm
  modular_skyrat/modules/panicbunker/code/readme.md
  tgstation.dme
Labels: Core File Edit, Feature

#943 [MODULAR] Dim Lights
  modular_skyrat/master_files/code/modules/power/lighting.dm
Labels: Test Merged

#1759 Directional Window Sprites [MODULAR]
  modular_skyrat/modules/aesthetics/directwindow/code/window.dm
  modular_skyrat/modules/aesthetics/directwindow/icons/directwindow.dmi
  tgstation.dme
Labels: Feature

#1762 Moths now are properly grayscaled
  modular_skyrat/modules/customization/icons/mob/species/moth_parts_greyscale.dmi
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/moth.dm
Labels: Tweak

#1735 Fixes and cleanup for logging.
  code/__DEFINES/~skyrat_defines/logging.dm
  code/__HELPERS/~skyrat_helpers/logging.dm
  code/controllers/configuration/entries/general.dm
  code/game/atoms.dm
  code/modules/mob/mob_helpers.dm
  config/skyrat/skyrat_config.txt
  modular_skyrat/modules/verbs/code/modules/client/verbs/looc.dm
  modular_skyrat/modules/verbs/code/modules/mob/subtle.dm
  tgstation.dme
Labels: Administration, Config Update, Fix, Tweak

#1714 Aliens no longer gib [NON-MODULAR]
  code/modules/mob/living/carbon/alien/special/alien_embryo.dm
  modular_skyrat/modules/horrorform/code/modules/mob/hostile/true_changeling.dm
Labels: Core File Edit, Modularisation Compliant, Tweak

#1800 CFA Wildcat fixes & 7.62 bullets to the autolathe!
  modular_skyrat/modules/modular_weapons/code/modules/projectiles/guns/ballistic/automatic.dm
  modular_skyrat/modules/modular_weapons/code/modules/research/designs/autolathe_designs.dm
Labels: Fix

#1801 Fixes SSD indicators on ghosted people
  modular_skyrat/modules/ssd_indicator/code/mob.dm
Labels: Fix

#1822 Swaps the blueshields vest with the main-servers version
  modular_skyrat/modules/blueshield/icons/mob/suit.dmi
  modular_skyrat/modules/blueshield/icons/mob/suit_digi.dmi
  modular_skyrat/modules/blueshield/icons/obj/clothing/suits.dmi
Labels: Feature

#1827 You're warned about handling the ticket if there's someone else handling it
  code/modules/admin/verbs/adminhelp.dm
  modular_skyrat/modules/admin/code/admin_help.dm
Labels: Administration

#1835 Server tagline [SEMI-MODULAR]
  code/controllers/configuration/entries/general.dm
  code/game/world.dm
  config/config.txt
  modular_skyrat/modules/tagline/code/readme.md
  modular_skyrat/modules/tagline/code/world.dm
  tgstation.dme
Labels: Config Update, Feature

#1840 Fixes an atmos issue. [NON-MODULAR]
  code/controllers/subsystem/air.dm
Labels: Fix

#1850 Heads can no longer become most antags
  modular_skyrat/modules/antagonists/code/gamemodes.dm
  tgstation.dme
Labels: Balance/Rebalance

#1853 Numbers are now accepted in name sanitization
  code/__HELPERS/text.dm
Labels: Fix

#1865 [Modular] Prescription HUD Glasses for the loadout
  modular_skyrat/modules/huds/code/glasses/HUD_Glasses.dm
  modular_skyrat/modules/huds/code/loadout/glasses_loadout.dm
  modular_skyrat/modules/huds/icons/huds.dmi
  modular_skyrat/modules/huds/readme.md
  tgstation.dme
Labels: Approved for merge(1-hour), Feature, Modularisation Compliant

#1860 [Semi-modular] Ports pouches, changes engi-vend prices, atmos techs get their access back
  code/modules/jobs/job_types/atmospheric_technician.dm
  code/modules/vending/engivend.dm
  code/modules/vending/security.dm
  modular_skyrat/modules/antagonists/code/modules/uplink/uplink_items.dm
  modular_skyrat/modules/emotes/code/emotes.dm
  modular_skyrat/modules/modular_items/code/game/objects/items/storage/bags.dm
  modular_skyrat/modules/modular_items/icons/obj/items/storage.dmi
  modular_skyrat/modules/modular_items/readme.md
  tgstation.dme
Labels: Feature, Tweak

#1849 [SEMI-MODULAR] Ports the alexithymia trait
  code/__DEFINES/~skyrat_defines/traits.dm
  code/datums/components/mood.dm
  modular_skyrat/master_files/code/datums/traits/negative.dm
Labels: Feature

#1613 Cyborg shapeshifter
  modular_skyrat/modules/altborgs/code/modules/mob/living/silicon/robot/update_icons.dm
  modular_skyrat/modules/shapeshifting_module/code/game/objects/items/borg_shapeshifter.dm
  modular_skyrat/modules/shapeshifting_module/code/game/objects/items/robot/robot_upgrades.dm
  modular_skyrat/modules/shapeshifting_module/code/modules/research/designs/mechfabricator_designs.dm
  modular_skyrat/modules/shapeshifting_module/code/modules/research/techweb/all_nodes.dm
  modular_skyrat/modules/shapeshifting_module/readme.md
  tgstation.dme
Labels: Feature, Modularisation Compliant

#1874 Females now have giggle
  modular_skyrat/modules/emotes/code/emotes.dm
Labels: Feature

#1356 [MODULAR] [READY FOR TESTING] Glowshroom-spacevines-blob-PVE-encounter MOLD
  modular_skyrat/modules/biohazard_blob/code/_biohazard_blob_defines.dm
  modular_skyrat/modules/biohazard_blob/code/biohazard_blob_controller.dm
  modular_skyrat/modules/biohazard_blob/code/biohazard_blob_disease.dm
  modular_skyrat/modules/biohazard_blob/code/biohazard_blob_mobs.dm
  modular_skyrat/modules/biohazard_blob/code/biohazard_blob_structures.dm
  modular_skyrat/modules/biohazard_blob/icons/blob_bulb.dmi
  modular_skyrat/modules/biohazard_blob/icons/blob_core.dmi
  modular_skyrat/modules/biohazard_blob/icons/blob_mobs.dmi
  modular_skyrat/modules/biohazard_blob/icons/blob_resin.dmi
  modular_skyrat/modules/biohazard_blob/icons/blob_spawner.dmi
  tgstation.dme
Labels: Feature, Test Merged

#1879 Adds antagonist and security OOC channels
  code/modules/admin/admin_verbs.dm
  modular_skyrat/modules/admin/code/aooc.dm
  modular_skyrat/modules/admin/code/sooc.dm
  tgstation.dme
Labels: Feature

#1838 Panicbunker fixes
  code/modules/client/client_procs.dm
Labels: Feature

#1886 OOC always shows up
  code/modules/mob/living/carbon/human/examine.dm
Labels: Tweak

#1887 Fixes excitable stopping wags
  code/modules/mob/living/carbon/carbon_defense.dm
Labels: Fix

#1888 Halves the rate at which you get drunk
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
Labels: Tweak

#1911 Revert "Panicbunker fixes"
  code/modules/client/client_procs.dm
Labels: Revert

#1910 [SEMI-MODULAR] Auto transfer vote
  code/controllers/subsystem/vote.dm
  code/modules/shuttle/emergency.dm
  config/skyrat/skyrat_config.txt
  modular_skyrat/modules/autotransfer/code/autotransfer.dm
  modular_skyrat/modules/autotransfer/code/autotransfer_config.dm
  modular_skyrat/modules/autotransfer/code/shuttle.dm
  modular_skyrat/modules/autotransfer/readme.md
  tgstation.dme
Labels: Config Update, Feature

#1914 Duffelbags now slow you down less
  code/game/objects/items/storage/backpack.dm
Labels: Balance/Rebalance

#1864 [Modular] Ports over our old chemicals.
  code/datums/components/rot.dm
  code/modules/reagents/chemistry/reagents/cat2_medicine_reagents.dm
  code/modules/reagents/reagent_containers/borghydro.dm
  modular_skyrat/modules/OLDChem/medicines/oldchem_medicines.dm
  modular_skyrat/modules/OLDChem/reactions/oldchem_reactions.dm
  modular_skyrat/modules/OLDChem/readme.md
  tgstation.dme
Labels: Feature, Test Merged

#1743 [SEMI-MODULAR] Ambitions v2
  code/__DEFINES/~skyrat_defines/ambitions.dm
  code/__HELPERS/roundend.dm
  code/datums/mind.dm
  code/modules/admin/antag_panel.dm
  code/modules/admin/check_antagonists.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/antagonists/changeling/changeling.dm
  code/modules/antagonists/traitor/datum_traitor.dm
  modular_skyrat/modules/ambitions/code/ambition.dm
  modular_skyrat/modules/ambitions/code/ambition_templates.dm
  modular_skyrat/modules/ambitions/code/antag_datums.dm
  modular_skyrat/modules/ambitions/code/mind.dm
  tgstation.dme
Labels: Approved for merge(1-day), Feature, Modularisation Compliant, Test Merged

#1744 [NON-MODULAR] The 30TC traitor update
  code/datums/components/uplink.dm
  code/game/machinery/syndicatebomb.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/uplink/uplink_devices.dm
  code/modules/uplink/uplink_items.dm
Labels: Approved for merge(1-day), Balance/Rebalance, Modularisation Compliant, Removal, Test Merged

#1930 Transformation updates - Adds Slime Change, fixes changeling transform, makes that mutation toxins retain features
  code/__DEFINES/~skyrat_defines/DNA.dm
  code/datums/dna.dm
  code/modules/mob/living/carbon/human/species_types/jellypeople.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  modular_skyrat/modules/cloning/code/game/machinery/cloning.dm
  modular_skyrat/modules/customization/datums/dna.dm
  modular_skyrat/modules/customization/icons/mob/actions/actions_slime.dmi
  modular_skyrat/modules/customization/modules/client/preferences.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/roundstartslime.dm
Labels: Feature, Fix, Tweak

#1885 Disables ninja event
  code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
  code/modules/events/space_ninja.dm
Labels: Removal

#1934 [Not Modular] [2-Line] Slightly increases the RIPLEY MKII mechspeed to oldbase levels.
  code/modules/vehicles/mecha/working/ripley.dm
Labels: Balance/Rebalance

#1936 Nerfs borg expanded + adds borg shrinker
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/research/designs/mechfabricator_designs.dm
  code/modules/research/techweb/all_nodes.dm
  modular_skyrat/modules/cyborg/code/mechafabricator_designs.dm
  modular_skyrat/modules/cyborg/code/robot_upgrades.dm
  modular_skyrat/modules/cyborg/readme.md
  tgstation.dme
Labels: Balance/Rebalance, Feature

#1945 Changes ass slap text to say the target's ass, not your own
  code/modules/mob/living/carbon/carbon_defense.dm
Labels: Fix, Modularisation Incompliant

#1928 {SEMI-MODULAR} Silicon OOC notes and flavor text
  code/modules/mob/living/silicon/examine.dm
  code/modules/mob/living/silicon/silicon.dm
  modular_skyrat/modules/customization/modules/client/preferences.dm
Labels: Feature

#1921 Realtime Indicator [NON-MODULAR]
  code/controllers/subsystem/statpanel.dm
  code/controllers/subsystem/ticker.dm
Labels: Feature

#1944 Gubman II - A firearm changing PR series (Part 1)
  modular_skyrat/modules/aesthetics/guns/icons/guns.dmi
Labels: Tweak

#1920 Song name is no longer displayed.
  tgui/packages/tgui-panel/audio/NowPlayingWidget.js
  tgui/public/tgui-panel.bundle.js
Labels: Removal, UI

#1843 [Modular] Implants, implants, implants!
  modular_skyrat/master_files/sound/weapons/bloodyslice.ogg
  modular_skyrat/modules/implants/code/game/_DEFINES/organ_defines.dm
  modular_skyrat/modules/implants/code/organs/augments_arms.dm
  modular_skyrat/modules/implants/code/organs/augments_chest.dm
  modular_skyrat/modules/implants/code/organs/augments_eyes.dm
  modular_skyrat/modules/implants/code/organs/augments_internal.dm
  modular_skyrat/modules/implants/code/research/designs/medical_designs.dm
  modular_skyrat/modules/implants/code/research/techweb/medical_nodes.dm
  modular_skyrat/modules/implants/icons/item/implanted_blade.dmi
  modular_skyrat/modules/implants/icons/item/internal_HA.dmi
  modular_skyrat/modules/implants/icons/mob/implanted_blade_lefthand.dmi
  modular_skyrat/modules/implants/icons/mob/implanted_blade_righthand.dmi
  modular_skyrat/modules/implants/readme.md
  tgstation.dme
Labels: Approved for merge(1-day), Balance/Rebalance, Feature, Modularisation Compliant

#1952 [Modular] Donator Items
  modular_skyrat/modules/customization/icons/~donator/mob/clothing/neck.dmi
  modular_skyrat/modules/customization/icons/~donator/mob/clothing/uniform.dmi
  modular_skyrat/modules/customization/icons/~donator/obj/clothing/cloaks.dmi
  modular_skyrat/modules/customization/icons/~donator/obj/clothing/uniform.dmi
  modular_skyrat/modules/customization/modules/client/loadout/donator/neck.dm
  modular_skyrat/modules/customization/modules/client/loadout/donator/personal/donator_personal.dm
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
  tgstation.dme
Labels: Feature, Fix

#1931 [Not Modular] Ungimps the Chemistry Dispenser, AKA Upgrades actually do shit again.
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
Labels: Balance/Rebalance

#1954 Admins with R_ADMIN can now delay the round end
  code/modules/admin/topic.dm
Labels: Administration

#1968 Reminds people of the blackout policy after being revived/cloned
  code/game/objects/items/defib.dm
  code/modules/surgery/revival.dm
  config/skyrat/skyrat_config.txt
  modular_skyrat/master_files/code/controllers/configuration/entries.dm
  modular_skyrat/modules/cloning/code/game/machinery/cloning.dm
  tgstation.dme
Labels: Config Update, Feature

#1972 QM is a head once again.
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/game/objects/structures/crates_lockers/closets/secure/cargo.dm
  code/modules/jobs/job_types/cargo_technician.dm
  code/modules/jobs/job_types/head_of_personnel.dm
  code/modules/jobs/job_types/quartermaster.dm
  code/modules/jobs/jobs.dm
  modular_skyrat/master_files/code/game/objects/items/devices/radio/encryption_key.dm
  modular_skyrat/master_files/code/game/objects/items/devices/radio/headset.dm
  tgstation.dme
Labels: Balance/Rebalance

#1962 [Modular] Ornate Cross for the Chaplain
  modular_skyrat/master_files/icons/obj/crucifix.dmi
  modular_skyrat/modules/customization/modules/client/loadout/backpack.dm
  modular_skyrat/modules/modular_items/code/game/objects/items/cross.dm
  modular_skyrat/modules/modular_items/icons/mob/inhands/cross_left.dmi
  modular_skyrat/modules/modular_items/icons/mob/inhands/cross_right.dmi
  modular_skyrat/modules/modular_items/icons/obj/items/crucifix.dmi
  tgstation.dme
Labels: Feature

#1955 Removes wound bonus from welding tools
  code/game/objects/items/tools/weldingtool.dm
Labels: Balance/Rebalance, Removal

#1786 [READY] Configurable spawners for event use for admins
  code/__DEFINES/~skyrat_defines/faction.dm
  code/game/communications.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/say.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/randomverbs.dm
  code/modules/mob/living/living_say.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/preferences_setup.dm
  modular_skyrat/modules/events/code/__event_defines.dm
  modular_skyrat/modules/events/code/_event_globalvars.dm
  modular_skyrat/modules/events/code/event_spawner.dm
  modular_skyrat/modules/events/code/event_spawner_menu.dm
  modular_skyrat/modules/events/code/event_spawner_templates.dm
  modular_skyrat/modules/faction/code/clothes.dm
  modular_skyrat/modules/faction/code/id.dm
  modular_skyrat/modules/faction/code/mapping/areas.dm
  modular_skyrat/modules/faction/code/mapping/mapping_helpers.dm
  modular_skyrat/modules/faction/code/mapping/ruins.dm
  modular_skyrat/modules/faction/code/outfit.dm
  modular_skyrat/modules/faction/code/radio.dm
  modular_skyrat/modules/faction/maps/shuttles/tradership_faction.dmm
  modular_skyrat/modules/faction/readme.md
  tgstation.dme
Labels: Administration, Approved for merge(1-hour), Modularisation Compliant, Needs Review

#1976 [MODULAR] [SPEEDMERGE] FUCK FUCK SHIT FUCK FIXES GLASSES
  modular_skyrat/modules/huds/code/glasses/HUD_Glasses.dm
  modular_skyrat/modules/huds/icons/hudeyes.dmi
Labels: Fix

#1982 Tailwagging fix
  code/modules/mob/living/carbon/carbon_defense.dm
Labels: Fix
