Repository Skyrat-SS13/Skyrat-tg, pull requests merged in 2020-10, with the labels that each got.

#1033 Loudsay and font formatting. [SEMI-MODULAR]
  code/datums/chatmessage.dm
  code/game/say.dm
  code/modules/admin/admin_verbs.dm
  code/modules/mob/living/emote.dm
  modular_skyrat/modules/admin/admin_say.dm
  modular_skyrat/modules/admin/readme.md
  tgstation.dme
Labels: Administration, Core Proc Edit, Feature, Modularisation Compliant, Old-base Port, Port, Test Merged, Testing Phase

#1098 Snout, body markings improvements + small fox tail tweak
  modular_skyrat/modules/customization/icons/mob/body_markings/secondary_markings.dmi
  modular_skyrat/modules/customization/icons/mob/body_markings/tertiary_markings.dmi
  modular_skyrat/modules/customization/icons/mob/sprite_accessory/snouts.dmi
  modular_skyrat/modules/customization/icons/mob/sprite_accessory/tails.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/body_markings/body_markings.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/snout.dm
Labels: Tweak

#1067 Security level sounds [MODULAR]
  code/modules/security_levels/security_levels.dm
  modular_skyrat/modules/alerts/code/set_security_level.dm
  modular_skyrat/modules/alerts/sound/misc/deltaklaxon.ogg
  modular_skyrat/modules/alerts/sound/misc/notice1.ogg
  modular_skyrat/modules/alerts/sound/misc/redalert1.ogg
  modular_skyrat/modules/alerts/sound/misc/tas_red_alert.ogg
  modular_skyrat/modules/alerts/sound/misc/voyalert.ogg
  tgstation.dme
Labels: Feature

#1099 Comments out wisdom cow, brain trauma events, add timer to meteor event, changes event weights
  code/modules/events/brain_trauma.dm
  code/modules/events/meteor_wave.dm
  code/modules/events/pirates.dm
  code/modules/events/wisdomcow.dm
  modular_skyrat/modules/events/code/modules/events/meteor_wave.dm
  modular_skyrat/modules/events/readme.md
  tgstation.dme
Labels: Feature, Removal, Tweak

#1100 Fixes clothing variants, and one clothing related runtime
  modular_skyrat/master_files/code/modules/clothing/non_anthro_clothes.dm
  modular_skyrat/modules/customization/modules/clothing/clothing.dm
  modular_skyrat/modules/customization/modules/clothing/head/head.dm
  modular_skyrat/modules/customization/modules/clothing/under/costumes.dm
  modular_skyrat/modules/customization/modules/clothing/under/misc.dm
Labels: Fix

#1103 Ports 2 of our other polychromic cloaks, adds a color key to the choker loadout item
  modular_skyrat/modules/customization/icons/~donator/mob/clothing/neck.dmi
  modular_skyrat/modules/customization/icons/~donator/obj/clothing/cloaks.dmi
  modular_skyrat/modules/customization/modules/client/loadout/neck.dm
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
  tgstation.dme
Labels: Feature

#1104 [NON-MODULAR] Removes random brain damage speech from dumbness trauma
  code/datums/brain_damage/mild.dm
Labels: Removal

#1145 Ports the missing hairstyles
  modular_skyrat/modules/customization/icons/mob/sprite_accessory/facialhair.dmi
  modular_skyrat/modules/customization/icons/mob/sprite_accessory/hair.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/hair.dm
  tgstation.dme
Labels: Feature

#1139 Fixes vox breath issues, makes the survival box spawn with an emergency nitrogen tank for voxes
  code/__HELPERS/~skyrat_helpers/is_helpers.dm
  code/game/objects/items/storage/boxes.dm
  modular_skyrat/modules/customization/game/objects/items/tanks/n2_tanks.dm
  modular_skyrat/modules/customization/icons/mob/inhands/equipment/tanks_lefthand.dmi
  modular_skyrat/modules/customization/icons/mob/inhands/equipment/tanks_righthand.dmi
  modular_skyrat/modules/customization/icons/obj/tank.dmi
  tgstation.dme
Labels: Fix, Tweak

#1134 LOOC, Whisper hotkeys. LOOC stylings
  code/__DEFINES/~skyrat_defines/keybindings.dm
  code/datums/keybinding/living.dm
  code/modules/client/client_procs.dm
  modular_skyrat/modules/customization/datums/keybinding/communication.dm
  modular_skyrat/modules/customization/readme.md
  tgstation.dme
Labels: UI

#1160 Gun safety [MODULAR]
  modular_skyrat/modules/gunsafety/code/gun_safety.dm
  modular_skyrat/modules/gunsafety/icons/hud/actions.dmi
  modular_skyrat/modules/gunsafety/readme.md
  tgstation.dme
Labels: Feature

#1161 Adds 5 lore friendly species, and humanoids.
  config/game_options.txt
  modular_skyrat/modules/customization/_globalvars/names.dm
  modular_skyrat/modules/customization/icons/mob/species/akula_parts_greyscale.dmi
  modular_skyrat/modules/customization/icons/mob/species/skrell_eyes.dmi
  modular_skyrat/modules/customization/icons/mob/species/skrell_parts_greyscale.dmi
  modular_skyrat/modules/customization/icons/mob/sprite_accessory/skrell_hair.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/body_markings/body_marking_sets.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/preferences_setup.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/ears.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/skrell_hair.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/snout.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/tails.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/akula.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/humanoid.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/robotic.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/skrell.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/tajaran.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/unathi.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/vulpkanin.dm
  modular_skyrat/modules/customization/strings/names/first_female_taj.txt
  modular_skyrat/modules/customization/strings/names/first_female_vulp.txt
  modular_skyrat/modules/customization/strings/names/first_male_taj.txt
  modular_skyrat/modules/customization/strings/names/first_male_vulp.txt
  modular_skyrat/modules/customization/strings/names/last_taj.txt
  modular_skyrat/modules/customization/strings/names/last_vulp.txt
  tgstation.dme
Labels: Config Update, Feature

#1163 Multiple taj improvements and some tweaks/bugfixes [Modular]
  modular_skyrat/modules/customization/icons/mob/sprite_accessory/ears.dmi
  modular_skyrat/modules/customization/icons/mob/sprite_accessory/snouts.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/ears.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/snout.dm
  modular_skyrat/modules/emotes/code/dna_screams.dm
  modular_skyrat/modules/emotes/code/emotes.dm
  modular_skyrat/modules/emotes/sound/emotes/cat_scream.ogg
  modular_skyrat/modules/emotes/sound/emotes/hiss.ogg
  modular_skyrat/modules/emotes/sound/emotes/meow.ogg
  modular_skyrat/modules/gunsafety/code/gun_safety.dm
Labels: Feature

#1200 Adds grayscaled moth markings
  modular_skyrat/modules/customization/icons/mob/body_markings/moth_grayscale_markings.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/body_markings/body_markings_moth.dm
Labels: Feature

#1201 Ports out trashpiles, not added to maps yet
  modular_skyrat/master_files/code/game/objects/structures/trash_pile.dm
  modular_skyrat/master_files/icons/obj/trash_piles.dmi
  modular_skyrat/master_files/readme.md
  tgstation.dme
Labels: Feature

#1190 Removes name randomization after switching species.
  modular_skyrat/modules/customization/modules/mob/dead/new_player/preferences_setup.dm
Labels: Removal

#1187 [SEMI-MODULAR] Quirk Job Restriction system + Mute quirk
  code/__DEFINES/~skyrat_defines/jobs.dm
  code/controllers/subsystem/job.dm
  code/modules/mob/dead/new_player/new_player.dm
  modular_skyrat/modules/customization/datums/traits/negative.dm
  modular_skyrat/modules/customization/modules/client/preferences.dm
  modular_skyrat/modules/customization/modules/jobs/_job.dm
  modular_skyrat/modules/customization/readme.md
  tgstation.dme
Labels: Feature

#1212 Adds the missing spaded succubus tail
  modular_skyrat/modules/customization/icons/mob/sprite_accessory/tails.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/tails.dm
Labels: Feature

#1213 Adds a front sprite to non-light lizard snouts
  modular_skyrat/modules/customization/icons/mob/sprite_accessory/lizard_snouts.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/snout.dm
Labels: Feature

#1230 Taur bodies are correctly hidden with suits worn on
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/taur_types.dm
  tgstation.dme
Labels: Fix

#1234 Adds an AI cryo verb, fixes a runtime with loadout and sillycones
  code/controllers/subsystem/job.dm
  modular_skyrat/modules/cryosleep/code/ai.dm
  modular_skyrat/modules/cryosleep/code/cryopod.dm
  modular_skyrat/modules/cryosleep/code/job.dm
  tgstation.dme
Labels: Feature

#1235 Ports echoes, makes thrown items always do sound, with volume being a difference if a force is present
  code/game/sound.dm
  modular_skyrat/master_files/code/game/objects/items.dm
Labels: Feature, Tweak, hacktoberfest-accepted

#1238 [SEMI-MODULAR] Adds missing alerts and various alert features
  code/__DEFINES/misc.dm
  code/__DEFINES/~skyrat_defines/security_alerts.dm
  code/controllers/subsystem/shuttle.dm
  code/game/machinery/computer/communications.dm
  code/game/machinery/firealarm.dm
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/security_levels/security_levels.dm
  config/config.txt
  config/skyrat/skyrat_config.txt
  modular_skyrat/modules/alerts/code/config.dm
  modular_skyrat/modules/alerts/code/firealarm.dm
  modular_skyrat/modules/alerts/code/set_security_level.dm
  modular_skyrat/modules/alerts/icons/obj/monitors.dmi
  modular_skyrat/modules/alerts/readme.md
  modular_skyrat/modules/alerts/sound/misc/voybluealert.ogg
  tgstation.dme
Labels: Config Update, Feature

#1253 Fixes loadout
  code/controllers/subsystem/job.dm
  modular_skyrat/modules/customization/modules/jobs/_job.dm
Labels: Fix

#1167 Ports AI/Cyborg QoL updates, Allows AI to examine and adds more QoL features.
  code/_onclick/ai.dm
  code/_onclick/cyborg.dm
  modular_skyrat/modules/SiliconQoL/code/_onclick.dm
  modular_skyrat/modules/SiliconQoL/readme.md
Labels: Code Improvement, Core File Edit, DO NOT MERGE, Feature, Modularisation Compliant

#1308 TGUI force update
  tgui/packages/tgui/interfaces/CameraConsole.js
  tgui/packages/tgui/interfaces/NtosSecurEye.js
  tgui/public/tgui-common.chunk.js
  tgui/public/tgui-panel.bundle.js
  tgui/public/tgui.bundle.js
Labels: UI

#1305 fixes to gun safety
  modular_skyrat/modules/gunsafety/code/gun_safety.dm
Labels: Fix

#1231 Inflatable walls [MODULAR]
  code/game/objects/structures/crates_lockers/closets/utility_closets.dm
  modular_skyrat/modules/inflatables/code/inflatable.dm
  modular_skyrat/modules/inflatables/icons/inflatable.dmi
  modular_skyrat/modules/inflatables/readme.md
  modular_skyrat/modules/inflatables/sound/ducttape1.ogg
  tgstation.dme
Labels: Feature, Modularisation Compliant, Ready, hacktoberfest-accepted

#1325 Ports our SSD indicator
  code/modules/mob/living/carbon/human/examine.dm
  config/skyrat/skyrat_config.txt
  modular_skyrat/modules/cryosleep/code/config.dm
  modular_skyrat/modules/cryosleep/code/cryopod.dm
  modular_skyrat/modules/ssd_indicator/code/mob.dm
  modular_skyrat/modules/ssd_indicator/icons/ssd_indicator.dmi
  modular_skyrat/modules/ssd_indicator/readme.md
  tgstation.dme
Labels: Config Update

#1360 Blueshield corrections
  modular_skyrat/modules/blueshield/code/modules/jobs/job_types/blueshield.dm
Labels: Fix

#1354 More emotes. [Semi-modular]
  code/modules/mob/living/emote.dm
  modular_skyrat/modules/emotes/code/emotes.dm
  modular_skyrat/modules/emotes/sound/claponce1.ogg
  modular_skyrat/modules/emotes/sound/claponce2.ogg
  modular_skyrat/modules/emotes/sound/emotes/clap1.ogg
  modular_skyrat/modules/emotes/sound/emotes/clap2.ogg
  modular_skyrat/modules/emotes/sound/emotes/clap3.ogg
  modular_skyrat/modules/emotes/sound/emotes/clap4.ogg
  modular_skyrat/modules/emotes/sound/emotes/claponce1.ogg
  modular_skyrat/modules/emotes/sound/emotes/claponce2.ogg
  modular_skyrat/modules/emotes/sound/emotes/female/burp_f.ogg
  modular_skyrat/modules/emotes/sound/emotes/female/female_cough_1.ogg
  modular_skyrat/modules/emotes/sound/emotes/female/female_cough_2.ogg
  modular_skyrat/modules/emotes/sound/emotes/female/female_cough_3.ogg
  modular_skyrat/modules/emotes/sound/emotes/female/female_giggle_1.ogg
  modular_skyrat/modules/emotes/sound/emotes/female/female_giggle_2.ogg
  modular_skyrat/modules/emotes/sound/emotes/female/female_sigh.ogg
  modular_skyrat/modules/emotes/sound/emotes/female/female_sneeze.ogg
  modular_skyrat/modules/emotes/sound/emotes/female/female_sniff.ogg
  modular_skyrat/modules/emotes/sound/emotes/female/gasp_f1.ogg
  modular_skyrat/modules/emotes/sound/emotes/female/gasp_f2.ogg
  modular_skyrat/modules/emotes/sound/emotes/female/gasp_f3.ogg
  modular_skyrat/modules/emotes/sound/emotes/female/gasp_f4.ogg
  modular_skyrat/modules/emotes/sound/emotes/female/gasp_f5.ogg
  modular_skyrat/modules/emotes/sound/emotes/female/gasp_f6.ogg
  modular_skyrat/modules/emotes/sound/emotes/male/burp_m.ogg
  modular_skyrat/modules/emotes/sound/emotes/male/gasp_m1.ogg
  modular_skyrat/modules/emotes/sound/emotes/male/gasp_m2.ogg
  modular_skyrat/modules/emotes/sound/emotes/male/gasp_m3.ogg
  modular_skyrat/modules/emotes/sound/emotes/male/gasp_m4.ogg
  modular_skyrat/modules/emotes/sound/emotes/male/gasp_m5.ogg
  modular_skyrat/modules/emotes/sound/emotes/male/gasp_m6.ogg
  modular_skyrat/modules/emotes/sound/emotes/male/male_cough_1.ogg
  modular_skyrat/modules/emotes/sound/emotes/male/male_cough_2.ogg
  modular_skyrat/modules/emotes/sound/emotes/male/male_cough_3.ogg
  modular_skyrat/modules/emotes/sound/emotes/male/male_sigh.ogg
  modular_skyrat/modules/emotes/sound/emotes/male/male_sneeze.ogg
  modular_skyrat/modules/emotes/sound/emotes/male/male_sniff.ogg
  modular_skyrat/modules/emotes/sound/emotes/mothchitter.ogg
  modular_skyrat/modules/emotes/sound/emotes/mothlaugh.ogg
  modular_skyrat/modules/emotes/sound/emotes/mothsqueak.ogg
  modular_skyrat/modules/emotes/sound/emotes/scream_moth.ogg
  modular_skyrat/modules/emotes/sound/emotes/snore.ogg
  modular_skyrat/modules/emotes/sound/emotes/yawn_m1.ogg
  modular_skyrat/modules/emotes/sound/emotes/yawn_m2.ogg
Labels: Feature

#1359 Chemistry QOL(custom transfer amounts) [Non-Modular]
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
  code/modules/reagents/reagent_containers.dm
  tgui/packages/tgui/interfaces/ChemDispenser.js
  tgui/public/tgui.bundle.js
Labels: UI

#1362 Vending machine dispenses into hand [NON-MODULAR]
  code/game/objects/items/storage/bags.dm
  code/modules/vending/_vending.dm
Labels: Feature

#1366 Moves the chatbar to the output window + adds missing tgui styles
  interface/skin.dmf
  tgui/packages/tgui-panel/index.js
  tgui/packages/tgui-panel/styles/goon/chat-dark.scss
  tgui/packages/tgui-panel/styles/goon/chat-light.scss
  tgui/public/tgui-panel.bundle.css
  tgui/public/tgui-panel.bundle.js
Labels: UI

#1209 [READY] [SEMI-MODULAR] Ports the mentor system.
  code/modules/admin/secrets.dm
  code/modules/client/client_procs.dm
  config/skyrat/mentors.txt
  config/skyrat/skyrat_config.txt
  modular_skyrat/modules/mentor/code/_globalvars.dm
  modular_skyrat/modules/mentor/code/client_procs.dm
  modular_skyrat/modules/mentor/code/config.dm
  modular_skyrat/modules/mentor/code/dementor.dm
  modular_skyrat/modules/mentor/code/follow.dm
  modular_skyrat/modules/mentor/code/logging.dm
  modular_skyrat/modules/mentor/code/mentor.dm
  modular_skyrat/modules/mentor/code/mentor_verbs.dm
  modular_skyrat/modules/mentor/code/mentorhelp.dm
  modular_skyrat/modules/mentor/code/mentorpm.dm
  modular_skyrat/modules/mentor/code/mentorsay.dm
  modular_skyrat/modules/mentor/code/mentorwho.dm
  modular_skyrat/modules/mentor/readme.md
  tgstation.dme
Labels: Config Update, Feature, Needs Review

#1410 Adds TTS Device, loadout tweaks
  modular_skyrat/modules/customization/game/objects/items/devices/ttsdevice.dm
  modular_skyrat/modules/customization/modules/client/loadout/backpack.dm
  modular_skyrat/modules/customization/modules/client/loadout/donator/suit.dm
  modular_skyrat/modules/customization/modules/client/loadout/donator/uniform.dm
  modular_skyrat/modules/customization/modules/client/loadout/suit.dm
  modular_skyrat/modules/customization/modules/client/loadout/uniform.dm
  tgstation.dme
Labels: Feature, Tweak

#1434 Zoomba's are now visible again!
  modular_skyrat/modules/altborgs/code/modules/mob/living/silicon/robot/robot_modules.dm
  modular_skyrat/modules/altborgs/icons/mob/robots.dmi
Labels: Fix, hacktoberfest-accepted

#1438 Fixes eye lights not working on module change
  modular_skyrat/modules/altborgs/code/modules/mob/living/silicon/robot/update_icons.dm
Labels: Fix

#1450 More loadout stuff and loadout tweaks
  modular_skyrat/master_files/icons/mob/clothing/feet_digi.dmi
  modular_skyrat/modules/customization/icons/mob/clothing/feet.dmi
  modular_skyrat/modules/customization/icons/mob/clothing/head.dmi
  modular_skyrat/modules/customization/icons/mob/clothing/mask.dmi
  modular_skyrat/modules/customization/icons/mob/clothing/suit.dmi
  modular_skyrat/modules/customization/icons/mob/clothing/uniform.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/hats.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/masks.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/shoes.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/suits.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/uniforms.dmi
  modular_skyrat/modules/customization/modules/client/loadout/gloves.dm
  modular_skyrat/modules/customization/modules/client/loadout/head.dm
  modular_skyrat/modules/customization/modules/client/loadout/mask.dm
  modular_skyrat/modules/customization/modules/client/loadout/shoes.dm
  modular_skyrat/modules/customization/modules/client/loadout/suit.dm
  modular_skyrat/modules/customization/modules/client/loadout/uniform.dm
  modular_skyrat/modules/customization/modules/clothing/clothing.dm
  modular_skyrat/modules/customization/modules/clothing/hands/hands.dm
  modular_skyrat/modules/customization/modules/clothing/head/head.dm
  modular_skyrat/modules/customization/modules/clothing/masks/breath.dm
  modular_skyrat/modules/customization/modules/clothing/shoes/shoes.dm
  modular_skyrat/modules/customization/modules/clothing/suits/misc.dm
  modular_skyrat/modules/customization/modules/clothing/under/costumes.dm
  modular_skyrat/modules/customization/modules/clothing/under/misc.dm
  tgstation.dme
Labels: Feature
