Repository Skyrat-SS13/Skyrat-tg, pull requests merged in 2020-08, with the labels that each got.

#127 Blueshield [READY] [SEMI-MODULAR]
  code/__DEFINES/~skyrat_defines/blueshield.dm
  code/modules/jobs/access.dm
  code/modules/jobs/jobs.dm
  code/modules/mob/mob.dm
  modular_skyrat/master_files/icons/mob/clothing/hands.dmi
  modular_skyrat/master_files/icons/mob/hud.dmi
  modular_skyrat/master_files/icons/obj/clothing/gloves.dmi
  modular_skyrat/master_files/icons/readme.md
  modular_skyrat/modules/blueshield/code/game/area/Space_Station_13_areas.dm
  modular_skyrat/modules/blueshield/code/game/gamemodes/brother/traitor_bro.dm
  modular_skyrat/modules/blueshield/code/game/gamemodes/changeling/changeling.dm
  modular_skyrat/modules/blueshield/code/game/gamemodes/changeling/traitor_chan.dm
  modular_skyrat/modules/blueshield/code/game/gamemodes/cult/cult.dm
  modular_skyrat/modules/blueshield/code/game/gamemodes/devil/devil_game_mode.dm
  modular_skyrat/modules/blueshield/code/game/gamemodes/monkey/monkey.dm
  modular_skyrat/modules/blueshield/code/game/gamemodes/revolution/revolution.dm
  modular_skyrat/modules/blueshield/code/game/gamemodes/traitor/traitor.dm
  modular_skyrat/modules/blueshield/code/game/objects/effects/landmarks.dm
  modular_skyrat/modules/blueshield/code/game/objects/items/devices/radio/encryptionkey.dm
  modular_skyrat/modules/blueshield/code/game/objects/items/devices/radio/headset.dm
  modular_skyrat/modules/blueshield/code/game/objects/items/melee/misc.dm
  modular_skyrat/modules/blueshield/code/game/objects/items/storage/backpacks/blueshield.dm
  modular_skyrat/modules/blueshield/code/game/objects/items/storage/medkit.dm
  modular_skyrat/modules/blueshield/code/game/objects/structures/crates_lockers/closets/secure/security.dm
  modular_skyrat/modules/blueshield/code/modules/clothing/gloves/miscellaneous.dm
  modular_skyrat/modules/blueshield/code/modules/clothing/head/jobs.dm
  modular_skyrat/modules/blueshield/code/modules/clothing/spacesuits/plasmamen.dm
  modular_skyrat/modules/blueshield/code/modules/clothing/suits/armor.dm
  modular_skyrat/modules/blueshield/code/modules/clothing/under/jobs/Plasmaman/security.dm
  modular_skyrat/modules/blueshield/code/modules/clothing/under/jobs/security.dm
  modular_skyrat/modules/blueshield/code/modules/jobs/job_types/blueshield.dm
  modular_skyrat/modules/blueshield/icons/mob/back.dmi
  modular_skyrat/modules/blueshield/icons/mob/clothing/ears.dmi
  modular_skyrat/modules/blueshield/icons/mob/head.dmi
  modular_skyrat/modules/blueshield/icons/mob/head_muzzled.dmi
  modular_skyrat/modules/blueshield/icons/mob/inhands/weapons/melee_lefthand.dmi
  modular_skyrat/modules/blueshield/icons/mob/inhands/weapons/melee_righthand.dmi
  modular_skyrat/modules/blueshield/icons/mob/suit.dmi
  modular_skyrat/modules/blueshield/icons/mob/suit_digi.dmi
  modular_skyrat/modules/blueshield/icons/mob/uniform.dmi
  modular_skyrat/modules/blueshield/icons/mob/uniform_digi.dmi
  modular_skyrat/modules/blueshield/icons/obj/clothing/hats.dmi
  modular_skyrat/modules/blueshield/icons/obj/clothing/suits.dmi
  modular_skyrat/modules/blueshield/icons/obj/clothing/uniform.dmi
  modular_skyrat/modules/blueshield/icons/obj/radio.dmi
  modular_skyrat/modules/blueshield/icons/obj/storage/blueshieldpacks.dmi
  modular_skyrat/modules/blueshield/icons/obj/stunprod.dmi
  modular_skyrat/modules/blueshield/readme.md
  tgstation.dme
Labels: Core Proc Edit, Modularisation Compliant, Needs Review, Old-base Port, Ready

#291 Let's disable docker builds.
  .github/workflows/docker_publish.yml.disabled
Labels: GitHub

#152 [WIP] Modularization handbook.
  modular_skyrat/readme.md
Labels: Work In Progress

#487 Initial modularization of the maps.
  _maps/_basemap.dm
  _maps/deltastation.json
  _maps/icebox.json
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above_skyrat.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Below_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
  _maps/map_files/PubbyStation/PubbyStation_skyrat.dmm
  _maps/map_files/generic/Offstation_skyrat.dmm
  _maps/metastation.json
  _maps/pubbystation.json
  code/__DEFINES/maps.dm
Labels: Map Edit
