Repository Skyrat-SS13/Skyrat-tg, pull requests merged in 2020-12, with the labels that each got.

#1983 Fixes missing right hand sprite for laser carbine
  modular_skyrat/modules/aesthetics/guns/icons/guns_righthand.dmi
Labels: Fix

#1971 Slightly buffs monkey recycler
  code/modules/food_and_drinks/kitchen_machinery/monkeyrecycler.dm
Labels: Balance/Rebalance

#1981 Removes Romerol from uplink
  code/modules/uplink/uplink_items.dm
Labels: Removal

#1991 Fixes all issues with slime mutations, allows species changes to retain all mutant parts if able
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  modular_skyrat/modules/customization/datums/dna.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/roundstartslime.dm
Labels: Fix

#1992 Fixes false walls
  code/game/objects/structures/false_walls.dm
Labels: Fix

#1994 Fixes donator items
  modular_skyrat/modules/customization/modules/client/preferences.dm
Labels: Fix

#1995 Removes crab 17
  code/modules/uplink/uplink_items.dm
Labels: Removal

#1996 Brings back paychecks, with some tweaks
  code/__DEFINES/~skyrat_defines/economy.dm
  code/controllers/subsystem/economy.dm
  tgstation.dme
Labels: Balance/Rebalance

#1997 Makes lung damage from cigarettes only 50% as effective
  code/game/objects/items/cigs_lighters.dm
Labels: Balance/Rebalance

#1985 Beep emote [Modular]
  modular_skyrat/modules/emotes/code/emotes.dm
  modular_skyrat/modules/emotes/sound/emotes/twobeep.ogg
Labels: Feature

#2008 Fixes autotransfer announcement not having a sound
  modular_skyrat/modules/autotransfer/code/shuttle.dm
Labels: Fix

#2003 Adds a bunch of crates to cargo.
  modular_skyrat/modules/cargo/code/goodies.dm
  modular_skyrat/modules/cargo/code/packs.dm
  modular_skyrat/modules/cargo/readme.dm
  tgstation.dme
Labels: Feature

#1973 Teleporter changes [NON-MODUALR]
  code/game/machinery/teleporter.dm
Labels: Balance/Rebalance

#1943 [Modular] Mob layer shifting verbs
  modular_skyrat/modules/layer_shift/code/modules/mob/mob_movement.dm
  modular_skyrat/modules/layer_shift/readme.md
  tgstation.dme
Labels: Feature

#2024 [SEMI-MODULAR] Cyborg PDA functionality
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/robot.dm
  code/modules/mob/living/silicon/robot/robot.dm
  modular_skyrat/modules/cyborgpda/code/_onclick/hud/robot.dm
  modular_skyrat/modules/cyborgpda/readme.md
  tgstation.dme
Labels: Feature

#1942 [Semi-Modular] Re-adds DNR and DNC traits, prevents clone pod from cloning synthetics
  code/__DEFINES/~skyrat_defines/traits.dm
  code/modules/mob/living/carbon/carbon.dm
  modular_skyrat/master_files/code/datums/traits/neutral.dm
  modular_skyrat/modules/cloning/code/game/machinery/computer/cloning.dm
Labels: Feature, Fix

#2022 Plasma cutter refactor [NON-MODULAR]
  code/modules/projectiles/projectile/special/plasma.dm
Labels: Balance/Rebalance, Refactor

#2021 Readds Ripley MKF [Semi-modular]
  code/modules/research/techweb/all_nodes.dm
  modular_skyrat/modules/firefighter/code/firefighter.dm
  modular_skyrat/modules/firefighter/icons/firefighter.dmi
  modular_skyrat/modules/firefighter/icons/firefighter_equipment.dmi
  modular_skyrat/modules/firefighter/readme.md
  tgstation.dme
Labels: Feature

#2033 Nerfs R window melee resistance
  code/game/objects/structures/window.dm
Labels: Balance/Rebalance

#2037 Adds 4 new hairstyles, 1 new ear style, and 2 hairstyle fixes!
  modular_skyrat/modules/customization/icons/mob/sprite_accessory/ears.dmi
  modular_skyrat/modules/customization/icons/mob/sprite_accessory/hair.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/ears.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/hair.dm
  tgstation.dme
Labels: Feature, Fix

#2049 Admin Control Click spawn is no longer selfish.
  modular_skyrat/modules/icspawning/code/_onclick/observer.dm
Labels: Administration

#2055 Fix double messages while being butt slapped
  code/modules/mob/living/carbon/carbon_defense.dm
Labels: Fix

#2054 Fix various issues with borg resting
  modular_skyrat/modules/altborgs/code/modules/mob/living/silicon/robot/robot.dm
Labels: Fix, Tweak

#2059 Let's fix bonked workflow files
  .github/workflows/update_tgs_dmapi.yml
Labels: GitHub

#2045 Gamma loop + fixes
  code/__DEFINES/~skyrat_defines/security_alerts.dm
  modular_skyrat/modules/alerts/code/firealarm.dm
  modular_skyrat/modules/alerts/code/set_security_level.dm
Labels: Fix, Tweak

#2046 Adds alerts to TGUI comms console
  code/game/machinery/computer/communications.dm
  tgui/packages/tgui/interfaces/CommunicationsConsole.js
  tgui/public/tgui.bundle.js
Labels: Fix, UI

#2035 [Ready] [Not Modular] Expansive Smuggling
  code/game/objects/items/storage/backpack.dm
Labels: Needs Review, Tweak

#2062 Security Otie sprite fix
  modular_skyrat/modules/altborgs/icons/mob/widerobot.dmi
Labels: Fix

#2064 Mapping Module - Dungeons & Little Lamia Paddle Pool™
  modular_skyrat/modules/mapping/code/dungeon.dm
  modular_skyrat/modules/mapping/code/planet_turfs.dm
  modular_skyrat/modules/mapping/code/pool.dm
  modular_skyrat/modules/mapping/icons/dungeon.dmi
  modular_skyrat/modules/mapping/icons/pool.dmi
  modular_skyrat/modules/mapping/readme.md
  tgstation.dme
Labels: Feature

#2065 Replaces the hand drill sprites with the ones from oldbase.
  modular_skyrat/modules/aesthetics/tools/icons/tools.dmi
Labels: Feature

#2076 Cleans up old echo, tweaks new echo
  code/game/sound.dm
  modular_skyrat/modules/jukebox/code/controllers/subsystem/jukeboxes.dm
Labels: Tweak

#2028 [READY] Gubman II Part 2 - Sniper Rifles & Co.
  modular_skyrat/modules/aesthetics/guns/code/guns.dm
  modular_skyrat/modules/aesthetics/guns/icons/guns_gubman2.dmi
  modular_skyrat/modules/aesthetics/guns/sound/sniperrifle.ogg
  modular_skyrat/modules/aesthetics/guns/sound/sniperrifle_s.ogg
Labels: Balance/Rebalance, Feature, Needs Review, Sound, Tweak

#2104 Tweak of alien infestation event weight
  code/modules/events/alien_infestation.dm
Labels: Tweak

#2101 Modular wiki, corporate regulations in spacelaw book
  code/game/objects/items/manuals.dm
  config/skyrat/skyrat_config.txt
  modular_skyrat/master_files/code/controllers/configuration/entries.dm
Labels: Config Update, Fix

#2110 Makes it so when you lie down it makes you lie down in the direction you're facing
  code/modules/mob/living/carbon/carbon.dm
Labels: Tweak

#2113 [Modular] Snow Planet Turfs
  modular_skyrat/modules/mapping/code/planet_turfs.dm
  modular_skyrat/modules/mapping/icons/dungeon.dmi
Labels: Feature

#2114 Fixes nanite slurry
  modular_skyrat/modules/customization/modules/reagents/chemistry/reagents/medicine_reagents.dm
Labels: Fix

#2090 Biomeat in Biogen, Fast Food Craft
  code/modules/food_and_drinks/recipes/food_mixtures.dm
  code/modules/research/designs/biogenerator_designs.dm
Labels: Feature, Tweak

#2136 Removed transformation sting.
  code/modules/antagonists/changeling/powers/tiny_prick.dm
Labels: Removal

#2144 [MODULAR] Positronic Alert Console
  modular_skyrat/modules/posi_alert/code/game/machinery/posialert.dm
  modular_skyrat/modules/posi_alert/icons/obj/machines/terminals.dmi
  modular_skyrat/modules/posi_alert/readme.md
  tgstation.dme
Labels: Feature

#2179 Fixes borg module selection [Fastmerge request]
  modular_skyrat/modules/altborgs/code/modules/mob/living/silicon/robot/robot_modules.dm
Labels: Fix

#2183 [Modular] Hardsuit Tail Sprites (Reptile, Feline, Vulpine)
  code/modules/clothing/spacesuits/hardsuit.dm
  modular_skyrat/modules/customization/icons/mob/sprite_accessory/tails_hardsuit.dmi
  modular_skyrat/modules/customization/modules/clothing/suits/hardsuit_tailsprites.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/genitals.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/synthliz.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/tails.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species.dm
  tgstation.dme
Labels: Feature

#2128 Spacepol Digi Uniform
  modular_skyrat/master_files/code/modules/clothing/non_anthro_clothes.dm
  modular_skyrat/master_files/icons/mob/clothing/under/uniform_digi.dmi
  modular_skyrat/master_files/icons/mob/clothing/uniform_digi.dmi
Labels: Feature

#2208 Fixes wooden crate being overwritten by duplicate sprite
  modular_skyrat/modules/aesthetics/crates/icons/crates.dmi
Labels: Fix

#2195 Changing a marking will no longer reset its color if you've got color customization enabled
  modular_skyrat/modules/customization/icons/mob/sprite_accessory/genitals/penis_onmob.dmi
  modular_skyrat/modules/customization/modules/client/preferences.dm
Labels: Tweak

#2240 Adds oxygen candles, for survival boxes
  code/game/objects/items/storage/boxes.dm
  modular_skyrat/master_files/code/game/objects/items/oxygen_candle.dm
  modular_skyrat/master_files/icons/obj/oxygen_candle.dmi
  tgstation.dme
Labels: Feature

#2247 Fixes inflatable spawns
  code/game/objects/structures/crates_lockers/closets/utility_closets.dm
Labels: Fix

#2242 Adds constructable sauna ovens. Hot and steamy
  code/game/objects/items/stacks/sheets/sheet_types.dm
  modular_skyrat/master_files/code/game/objects/structures/sauna_oven.dm
  modular_skyrat/master_files/icons/obj/structures/sauna_oven.dmi
  tgstation.dme
Labels: Feature

#1925 The avian revolution v0.3 - add more emotes & refactor existing emote code & sounds
  modular_skyrat/modules/emotes/code/emotes.dm
  modular_skyrat/modules/emotes/code/silicon_emotes.dm
  modular_skyrat/modules/emotes/readme.md
  modular_skyrat/modules/emotes/sound/emotes/dwoop.ogg
  modular_skyrat/modules/emotes/sound/emotes/synth_no.ogg
  modular_skyrat/modules/emotes/sound/emotes/synth_yes.ogg
  modular_skyrat/modules/emotes/sound/voice/awoo.ogg
  modular_skyrat/modules/emotes/sound/voice/baa.ogg
  modular_skyrat/modules/emotes/sound/voice/baa2.ogg
  modular_skyrat/modules/emotes/sound/voice/bark1.ogg
  modular_skyrat/modules/emotes/sound/voice/bark2.ogg
  modular_skyrat/modules/emotes/sound/voice/bawk.ogg
  modular_skyrat/modules/emotes/sound/voice/bork.ogg
  modular_skyrat/modules/emotes/sound/voice/cackle_yeen.ogg
  modular_skyrat/modules/emotes/sound/voice/caw.ogg
  modular_skyrat/modules/emotes/sound/voice/caw2.ogg
  modular_skyrat/modules/emotes/sound/voice/growl.ogg
  modular_skyrat/modules/emotes/sound/voice/hoot.ogg
  modular_skyrat/modules/emotes/sound/voice/long_awoo.ogg
  modular_skyrat/modules/emotes/sound/voice/peep.ogg
  modular_skyrat/modules/emotes/sound/voice/peep_once.ogg
  modular_skyrat/modules/emotes/sound/voice/raptor_purr.ogg
  modular_skyrat/modules/emotes/sound/voice/rattle.ogg
  modular_skyrat/modules/emotes/sound/voice/scream_cat.ogg
  modular_skyrat/modules/emotes/sound/voice/scream_moth.ogg
  modular_skyrat/modules/emotes/sound/voice/woof.ogg
  modular_skyrat/modules/emotes/sound/voice/wurble.ogg
Labels: Feature, Refactor, Sound

#2246 [Modular] I have to go to work but I need cobblestone for non-Christmas related purposes.
  modular_skyrat/modules/mapping/code/dungeon.dm
  modular_skyrat/modules/mapping/icons/dungeon.dmi
Labels: Feature

#2269 Fix firealarm alert level indicator
  code/__DEFINES/~skyrat_defines/security_alerts.dm
  code/modules/admin/verbs/randomverbs.dm
  modular_skyrat/modules/alerts/code/set_security_level.dm
Labels: Administration, Fix, Refactor

#2287 Fixes frills
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories.dm
Labels: Feature

#2277 Map Vote Fix [TM]
  code/controllers/subsystem/vote.dm
Labels: Fix, Test Merged

#2292 Unfucks set_security_level.dm
  modular_skyrat/modules/alerts/code/set_security_level.dm
Labels: Refactor

#2308 Fixes Ring visuals
  modular_skyrat/modules/customization/modules/clothing/hands/rings.dm
Labels: Fix

#2297 Turn me verb and emote to multiline input
  code/modules/mob/living/emote.dm
  code/modules/mob/mob_say.dm
Labels: Tweak

#2310 Mold update
  modular_skyrat/modules/biohazard_blob/code/biohazard_blob_controller.dm
  modular_skyrat/modules/biohazard_blob/code/biohazard_blob_structures.dm
Labels: Feature, Fix

#2181 Adds 5 random space ruins made by Dawson
  modular_skyrat/modules/ruins/maps/space/derelictferry.dmm
  modular_skyrat/modules/ruins/maps/space/posterpandamonium.dmm
  modular_skyrat/modules/ruins/maps/space/prisonshuttle.dmm
  modular_skyrat/modules/ruins/maps/space/toystore.dmm
  modular_skyrat/modules/ruins/maps/space/waypointstation.dmm
  modular_skyrat/modules/ruins/space.dm
  tgstation.dme
Labels: Feature

#2296 Updates Skyrat Cargo Packs to TG Format, Adds Mini-E-Gun Goodie
  modular_skyrat/modules/cargo/code/goodies.dm
  modular_skyrat/modules/cargo/code/packs.dm
Labels: Feature, Fix, Removal, Tweak

#2319 Increased minimal population for the spider infestation event.
  code/modules/events/spider_infestation.dm
  modular_skyrat/master_files/code/modules/events/spider_infestation.dm
  tgstation.dme
Labels: Tweak

#2091 [Mostly-Modular] Expansive Shipping Part 1: Mostly Armaments
  code/modules/cargo/goodies.dm
  code/modules/cargo/packs.dm
  modular_skyrat/master_files/code/game/objects/items/storage/boxes.dm
  modular_skyrat/modules/cargo/code/bloat.dm
  tgstation.dme
Labels: Feature, Fix

#2326 [Speedmerge pls] Energy PDW goodie removal (Duplicate)
  modular_skyrat/modules/cargo/code/bloat.dm
Labels: Removal

#2087 Table flipping! [Modular]
  modular_skyrat/modules/tableflip/code/flipped_table.dm
  modular_skyrat/modules/tableflip/icons/flipped_tables.dmi
  tgstation.dme
Labels: Feature, Ready

#2383 Turret IDS [MODULAR]
  modular_skyrat/modules/turretid/code/turret_id_system.dm
  modular_skyrat/modules/turretid/readme.md
  tgstation.dme
Labels: Feature

#2378 Genetics can no longer unlock Thermal Vision mutation
  code/datums/mutations/sight.dm
Labels: Removal

#2320 Emote spam + Fixes
  code/datums/emotes.dm
  code/modules/mob/living/carbon/emote.dm
  code/modules/mob/living/emote.dm
  modular_skyrat/modules/emotes/code/emotes.dm
  modular_skyrat/modules/emotes/readme.md
Labels: Tweak

#2092 [SEMI-MODULAR] Ports the old food like/dislike system
  code/controllers/subsystem/processing/quirks.dm
  modular_skyrat/modules/customization/modules/client/preferences.dm
  modular_skyrat/modules/customization/modules/client/preferences_savefile.dm
Labels: Feature, Test Merge Candidate, Test Merged, Test merged(1-week)

#2338 [Non-Modular] Rebalances previous SM anom PR
  code/modules/power/supermatter/supermatter.dm
Labels: Balance/Rebalance

#2386 [Semi-Modular] Re-adds the 'hardened soles' quirk
  code/__DEFINES/~skyrat_defines/traits.dm
  code/datums/components/caltrop.dm
  modular_skyrat/master_files/code/datums/traits/good.dm
Labels: Feature

#2401 Tweaks play internet sound
  code/modules/admin/verbs/playsound.dm
Labels: Tweak
