Repository Skyrat-SS13/Skyrat-tg, pull requests merged in 2021-01, with the labels that each got.

#2405 Removes clown mobs from cytology
  code/__DEFINES/research.dm
  code/_globalvars/lists/xenobiology.dm
  code/modules/clothing/masks/gasmask.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/clothing/under/jobs/civilian/clown_mime.dm
  code/modules/research/xenobiology/vatgrowing/samples/cell_lines/common.dm
Labels: Removal

#2439 Fixes bad string in double examine
  modular_skyrat/modules/medical/code/carbon_examine.dm
Labels: Grammar and Formatting

#2437 webedit heartbeat fix
  modular_skyrat/modules/biohazard_blob/code/biohazard_blob_structures.dm
Labels: Fix

#2442 Makes vox eyes a bigger contrast
  modular_skyrat/modules/customization/icons/mob/species/vox_eyes.dmi
Labels: Tweak

#2452 Revert "Makes it so assistants (and others with the no_dresscode var) have their loadout equipped first"
  code/controllers/subsystem/job.dm
Labels: Revert

#2448 Fix scientists having access to the blueshield office
  code/__DEFINES/~skyrat_defines/blueshield.dm
Labels: Fix

#2472 Centers the silver leg wraps icon
  modular_skyrat/master_files/icons/mob/clothing/feet_digi.dmi
Labels: Fix

#2476 Large Airlocks [Semi-modular]
  code/game/machinery/doors/airlock.dm
  code/game/objects/structures/door_assembly.dm
  modular_skyrat/modules/aesthetics/airlock/code/airlock.dm
  modular_skyrat/modules/large_doors/code/large_doors.dm
  modular_skyrat/modules/large_doors/icons/glass/multi_tile.dmi
  modular_skyrat/modules/large_doors/icons/glass/overlays.dmi
  modular_skyrat/modules/large_doors/icons/metal/multi_tile.dmi
  modular_skyrat/modules/large_doors/icons/metal/overlays.dmi
  modular_skyrat/modules/large_doors/readme.md
  tgstation.dme
Labels: Feature

#2341 [READY] Ghost roles can now be configured to allow people using their prefs character. Allows this for a good chunk of ghosties
  code/__DEFINES/~skyrat_defines/jobs.dm
  code/controllers/subsystem/job.dm
  code/game/objects/structures/ghost_role_spawners.dm
  code/modules/awaymissions/corpse.dm
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/mob/living/carbon/human/species.dm
  modular_skyrat/master_files/code/game/objects/ghost_role_spawners.dm
  modular_skyrat/master_files/code/modules/clothing/non_anthro_clothes.dm
  modular_skyrat/modules/customization/modules/client/preferences.dm
  modular_skyrat/modules/customization/modules/jobs/_job.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/lizard.dm
  modular_skyrat/modules/emotes/code/dna_screams.dm
  tgstation.dme
Labels: Feature, Needs Review

#2459 fixes firearm availability from partisan shuttle
  modular_skyrat/modules/ruins/maps/space/prisonshuttle.dmm
Labels: Fix

#2366 Bloody soles for digitigrade legs
  code/datums/components/bloodysoles.dm
  code/modules/clothing/shoes/_shoes.dm
  code/modules/mob/living/carbon/carbon_update_icons.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/carbon_update_icons.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/human_update_icons.dm
  modular_skyrat/modules/digi_bloodsole/code/modules/clothing/shoes/_shoes.dm
  modular_skyrat/modules/digi_bloodsole/icons/effects/64x64.dmi
  modular_skyrat/modules/digi_bloodsole/icons/effects/blood.dmi
  modular_skyrat/modules/digi_bloodsole/readme.md
  tgstation.dme
Labels: Feature, Sprites

#2479 Improve mold heartbeat sound & tiny cleanup
  modular_skyrat/master_files/readme.md
  modular_skyrat/master_files/sound/effects/heart_beat_loop3.ogg
  modular_skyrat/master_files/sound/effects/heart_beat_once.ogg
  modular_skyrat/master_files/sounds/horror_scream.ogg
  modular_skyrat/modules/biohazard_blob/code/biohazard_blob_structures.dm
  modular_skyrat/modules/biohazard_blob/readme.md
Labels: Removal, Sound, Tweak

#2471 Adds the pharoah hat and nemes outfit to the chapdrobe
  code/modules/vending/wardrobes.dm
Labels: Feature

#2495 Allow blind and/or deaf characters to see/hear emotes
  code/datums/emotes.dm
Labels: Tweak

#2438 Lowers down and disables some events
  code/modules/events/brand_intelligence.dm
  code/modules/events/heart_attack.dm
  code/modules/events/spacevine.dm
  code/modules/events/spider_infestation.dm
  code/modules/events/spontaneous_appendicitis.dm
Labels: Tweak

#2508 Fixes burn damage sometimes not showing in closer examine
  modular_skyrat/modules/medical/code/carbon_examine.dm
Labels: Fix

#2507 Regenerating limbs now properly regenerates digitigrade legs
  code/modules/surgery/bodyparts/dismemberment.dm
Labels: Fix

#2500 Makes most lizard sprites 18% brighter.
  modular_skyrat/modules/customization/icons/mob/mutant_bodyparts.dmi
  modular_skyrat/modules/customization/icons/mob/species/lizard_parts_greyscale.dmi
  modular_skyrat/modules/customization/icons/mob/sprite_accessory/frills.dmi
  modular_skyrat/modules/customization/icons/mob/sprite_accessory/lizard_snouts.dmi
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/lizard.dm
Labels: Tweak

#2498 Backend for accessories for donators, neck and head accessory slots, donator accessories for whirlsam
  modular_skyrat/modules/customization/__HELPERS/mobs.dm
  modular_skyrat/modules/customization/icons/mob/sprite_accessory/ears.dmi
  modular_skyrat/modules/customization/icons/mob/sprite_accessory/head_accessory.dmi
  modular_skyrat/modules/customization/icons/mob/sprite_accessory/neck_accessory.dmi
  modular_skyrat/modules/customization/modules/client/preferences.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/ears.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/head_accessory.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/neck_accessory.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/mammal.dm
  tgstation.dme
Labels: Feature

#2429 Drink Porting, Chem Dispenser Fixes.
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
  code/modules/reagents/reagent_containers/borghydro.dm
  modular_skyrat/master_files/icons/obj/drinks.dmi
  modular_skyrat/modules/customization/modules/food_and_drinks/recipes/drinks_recipes.dm
  modular_skyrat/modules/customization/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  modular_skyrat/modules/customization/modules/reagents/chemistry/reagents/drink_reagents.dm
  tgstation.dme
Labels: Feature, Fix, Sprites

#2538 Removes old chemicals, adjusts stuff related to hypovials
  code/datums/components/rot.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/modules/jobs/job_types/medical_doctor.dm
  code/modules/jobs/job_types/paramedic.dm
  code/modules/reagents/chemistry/reagents/cat2_medicine_reagents.dm
  code/modules/reagents/reagent_containers/borghydro.dm
  modular_skyrat/modules/OLDChem/medicines/oldchem_medicines.dm
  modular_skyrat/modules/OLDChem/reactions/oldchem_reactions.dm
  modular_skyrat/modules/OLDChem/readme.md
  modular_skyrat/modules/hyposprays/code/game/hypospray_kits.dm
  modular_skyrat/modules/hyposprays/code/game/hyposprays_II.dm
  modular_skyrat/modules/hyposprays/code/game/hypovials.dm
  tgstation.dme
Labels: Removal, Tweak

#2540 Removes meat and pizza materials
  code/datums/materials/meat.dm
  code/datums/materials/pizza.dm
  code/game/machinery/sheetifier.dm
  code/game/objects/items/food/meat.dm
  code/game/objects/items/food/pizza.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/modules/cargo/exports/sheets.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Removal

#2522 [TOTALLY NOT GUBMAN 2.5] Miscellaneous gunsprite update
  code/modules/projectiles/guns/ballistic/shotgun.dm
  modular_skyrat/modules/aesthetics/guns/code/guns.dm
  modular_skyrat/modules/aesthetics/guns/icons/energy.dmi
  modular_skyrat/modules/aesthetics/guns/icons/guns.dmi
  modular_skyrat/modules/aesthetics/guns/icons/guns_back.dmi
  modular_skyrat/modules/aesthetics/guns/icons/guns_lefthand.dmi
  modular_skyrat/modules/aesthetics/guns/icons/guns_righthand.dmi
Labels: Sprites, Tweak

#2559 Fixes lizard tail rewind
  modular_skyrat/modules/customization/icons/mob/mutant_bodyparts.dmi
Labels: Fix

#2509 [Modular] Hardsuit tails for avians/sharks/canines, Cybersun hardsuit digi/muzzle sprite, missing hardsuit colors
  modular_skyrat/master_files/icons/mob/clothing/head_muzzled.dmi
  modular_skyrat/master_files/icons/mob/clothing/suit_digi.dmi
  modular_skyrat/modules/customization/icons/mob/sprite_accessory/tails_hardsuit.dmi
  modular_skyrat/modules/customization/modules/clothing/suits/hardsuit_tailsprites.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/tails.dm
Labels: Feature, Tweak

#2569 Adds an IC verb to try and actively hide your mutant bodyparts under your clothes. Some bugfixes too
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/frills.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/ipc.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/moth_antennae.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/neck_accessory.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/tails.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/wings.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/human.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/human_defines.dm
  tgstation.dme
Labels: Feature, Fix

#2567 Ports missing prescription huds. Makes them available from the appropriate techwebs.
  code/modules/research/techweb/all_nodes.dm
  modular_skyrat/modules/huds/code/designs.dm
  modular_skyrat/modules/huds/code/glasses/HUD_Glasses.dm
  tgstation.dme
Labels: Feature

#2568 Small lizard sprite legs adjustement
  modular_skyrat/modules/customization/icons/mob/species/lizard_parts_greyscale.dmi
Labels: Tweak

#2494 removes some guns and there ammo from cargo goodie
  code/modules/cargo/goodies.dm
  modular_skyrat/modules/cargo/code/bloat.dm
  modular_skyrat/modules/cargo/code/goodies.dm
Labels: Removal

#2589 makes it so the chapdrobe pharaoh outfit actually has it in stock
  code/modules/vending/wardrobes.dm
Labels: Fix

#2585 Update feature request issue template
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: GitHub, documentation

#2570 [READY] Fixes blood and damage overlays for taur suits
  code/__DEFINES/~skyrat_defines/inventory.dm
  code/modules/clothing/suits/_suits.dm
  modular_skyrat/master_files/icons/mob/64x32_blood.dmi
  modular_skyrat/master_files/icons/mob/64x32_item_damage.dmi
  tgstation.dme
Labels: Fix, Needs Review

#2600 Wings are no longer hidden in hardsuits and other obscuring suits
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/wings.dm
Labels: Tweak

#2603 removes Uraium from matsbox, debugtools
  code/game/objects/items/storage/boxes.dm
Labels: Removal

#2611 Fixes some loadout issues
  modular_skyrat/modules/customization/modules/client/loadout/_loadout.dm
  modular_skyrat/modules/customization/modules/client/preferences.dm
  modular_skyrat/modules/customization/modules/client/preferences_savefile.dm
Labels: Fix

#2622 LOOC now doesnt care about any pref, or OOC bans. LOOC code optimizations. Skyrat toggles sanitization fixing
  code/__DEFINES/~skyrat_defines/preferences.dm
  modular_skyrat/modules/customization/modules/client/preferences_savefile.dm
  modular_skyrat/modules/verbs/code/modules/client/verbs/looc.dm
Labels: Fix, Tweak

#2631 Only ballistic and energy guns have gun safety now
  modular_skyrat/modules/gunsafety/code/gun_safety.dm
Labels: Fix

#2633 Fix a couple typos in modular hairstyles
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/hair.dm
Labels: Fix

#2636 Exempt active testmerges from becoming stale
  .github/workflows/stale.yml
Labels: GitHub

#2252 Syndicate Lavaland Rework
  code/datums/ruins/lavaland.dm
  code/game/area/areas/ruins/lavaland.dm
  config/iceruinblacklist.txt
  config/lavaruinblacklist.txt
  modular_skyrat/modules/faction/maps/shuttles/tradership_faction.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/IceRuins/icemoon_underground_syndicate_base1_skyrat.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1_skyrat.dmm
  modular_skyrat/modules/mapping/code/datums/ruins/icemoon.dm
  modular_skyrat/modules/mapping/code/datums/ruins/lavaland.dm
  tgstation.dme
Labels: Config Update, Feature, Tweak

#2658 Remove gun safeties from bows
  modular_skyrat/modules/gunsafety/code/gun_safety.dm
Labels: Fix

#2428 Slimeperson race improvements - digitigrade legs, transparent markings/mutant bodyparts
  code/modules/surgery/bodyparts/_bodyparts.dm
  modular_skyrat/modules/customization/icons/mob/species/slime_parts_greyscale.dmi
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/roundstartslime.dm
  modular_skyrat/modules/customization/modules/surgery/bodyparts/_bodyparts.dm
Labels: Feature, Fix

#2674 Fixes a couple game breaking bugs to do with the slimeperson improvements PR
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species.dm
Labels: Fix

#2681 [MANUAL MIRROR] Use portable Python for map merge hooks, other tools / Add .dmm merge driver
  .github/workflows/ci_suite.yml
  dependencies.sh
  modular_skyrat/modules/faction/maps/shuttles/tradership_faction.dmm
  tools/HitboxExpander/.gitignore
  tools/HitboxExpander/Hitbox Expander.bat
  tools/HitboxExpander/README.txt
  tools/HitboxExpander/__main__.py
  tools/HitboxExpander/hitbox_expander.sh
  tools/HitboxExpander/install.bat
  tools/HitboxExpander/install.sh
  tools/HitboxExpander/requirements.txt
  tools/UpdatePaths/Update Paths.bat
  tools/UpdatePaths/__main__.py
  tools/UpdatePaths/apc_pixel_offsets.txt
  tools/UpdatePaths/clothingunderrepath.txt
  tools/UpdatePaths/cornersfix.txt
  tools/UpdatePaths/replacemonkeys.txt
  tools/UpdatePaths/turfs2decals.txt
  tools/bootstrap/python
  tools/bootstrap/python.bat
  tools/bootstrap/python36._pth
  tools/bootstrap/python_.ps1
  tools/dmi/Resolve Icon Conflicts.bat
  tools/dmi/__init__.py
  tools/dmi/merge_driver.py
  tools/dmi/test.py
  tools/hooks/Install.bat
  tools/hooks/README.md
  tools/hooks/Uninstall.bat
  tools/hooks/dmi.merge
  tools/hooks/dmm.merge
  tools/hooks/install.bat
  tools/hooks/install.py
  tools/hooks/install.sh
  tools/hooks/merge_frontend.py
  tools/hooks/pre-commit.hook
  tools/hooks/python.sh
  tools/makeChangelog.bat
  tools/mapmerge2/I Forgot To Map Merge.bat
  tools/mapmerge2/Prepare Maps.bat
  tools/mapmerge2/README.md
  tools/mapmerge2/Resolve Map Conflicts.bat
  tools/mapmerge2/Run Before Committing.bat
  tools/mapmerge2/convert.py
  tools/mapmerge2/dmm.py
  tools/mapmerge2/dmm2tgm.bat
  tools/mapmerge2/dmm_test.py
  tools/mapmerge2/fixup.py
  tools/mapmerge2/mapmerge.bat
  tools/mapmerge2/mapmerge.py
  tools/mapmerge2/merge_driver.py
  tools/mapmerge2/precommit.py
  tools/mapmerge2/requirements-install.bat
  tools/mapmerge2/requirements.txt
  tools/mapmerge2/tgm2dmm.bat
  tools/requirements.txt
Labels: GitHub, Tools, Upstream PR Merged

#2689 Otie sprite improvements, 3 new body markings, sergal ear sprite improvements
  modular_skyrat/modules/customization/icons/mob/body_markings/secondary_markings.dmi
  modular_skyrat/modules/customization/icons/mob/body_markings/tertiary_markings.dmi
  modular_skyrat/modules/customization/icons/mob/sprite_accessory/ears.dmi
  modular_skyrat/modules/customization/icons/mob/sprite_accessory/snouts.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/body_markings/body_markings.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/snout.dm
Labels: Feature, Tweak

#2726 Removes superfluous ID access from HoP
  code/modules/jobs/job_types/head_of_personnel.dm
Labels: Balance/Rebalance, Fix, Removal

#2740 [NON-MODULAR] Adds drinking glass, shot glass and bowl to the service protolathe.
  code/modules/research/designs/autolathe_designs.dm
  code/modules/research/techweb/all_nodes.dm
Labels: Tweak

#2710 [NON-MODULAR] Admin Antag Removal removes Changeling powers properly
  code/modules/antagonists/_common/antag_datum.dm
Labels: Fix, Removal

#2180 [Ready] [Fully Modular] Xenomorph Balancing - Buffs & Speeding Tickets
  code/modules/events/alien_infestation.dm
  modular_skyrat/modules/xenomorph/code/xenomorph_balance.dm
  modular_skyrat/modules/xenomorph/readme.md
  tgstation.dme
Labels: Needs Review, Test Merged, Test merged(1-week)

#1939 Brig timers now calculate from real time, not time dilation time. You can set brig timers to 60 minutes
  code/game/machinery/doors/brigdoors.dm
Labels: Balance/Rebalance, Stale, Test Merged, Tweak

#2175 Makes command immune to FAMILIES
  code/game/gamemodes/gang/gang_things.dm
  modular_skyrat/modules/antagonists/code/gamemodes.dm
  modular_skyrat/modules/antagonists/code/gang_things.dm
  tgstation.dme
Labels: Feature, Stale, Test Merged

#2406 [TM FIRST] Wounds are applied easier on damaged bodyparts
  code/__DEFINES/~skyrat_defines/medical_defines.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
Labels: Balance/Rebalance, Test Merged, Test merged(1-week)

#2421 Automatically flag Severe+ intensity ambitions for admin review
  modular_skyrat/modules/ambitions/code/ambition.dm
Labels: Administration, Test Merged

#2758 [MODULAR] Separates the fluff from moth wings like in oldbase.
  modular_skyrat/modules/customization/icons/mob/species/insect_parts_greyscale.dmi
  modular_skyrat/modules/customization/icons/mob/sprite_accessory/moth_fluff.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/fluff.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/wings.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/insect.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/mammal.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/moth.dm
Labels: Feature, Tweak

#2679 Syndie Base Overhaul Fixes And Tweaks
  modular_skyrat/modules/mapping/_maps/RandomRuins/IceRuins/icemoon_underground_syndicate_base1_skyrat.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1_skyrat.dmm
  modular_skyrat/modules/mapping/code/modules/ruins/lavaland_ruin_code.dm
  tgstation.dme
Labels: Tweak

#2688 [Semi-Modular] ID Card Modularization + Additions
  code/modules/jobs/access.dm
  modular_skyrat/modules/card/access.dm
  modular_skyrat/modules/card/card.dm
  modular_skyrat/modules/card/card.dmi
  tgstation.dme
Labels: Feature, Tweak

#2468 no_dresscode variable but this time it doesn't override important slots
  code/controllers/subsystem/job.dm
  code/modules/mob/mob.dm
  modular_skyrat/modules/customization/modules/jobs/_job.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/preferences_setup.dm
Labels: Tweak

#2655 removes australicus slime extract injector from the uplink
  code/modules/uplink/uplink_items.dm
Labels: Removal, Vote pending

#2780 Revert "[MODULAR] Separates the fluff from moth wings like in oldbase."
  modular_skyrat/modules/customization/icons/mob/species/insect_parts_greyscale.dmi
  modular_skyrat/modules/customization/icons/mob/sprite_accessory/moth_fluff.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/fluff.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/wings.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/insect.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/mammal.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/moth.dm
Labels: Revert

#2804 [MODULAR] Separates the fluff from moth wings like in oldbase.
  modular_skyrat/modules/customization/icons/mob/species/insect_parts_greyscale.dmi
  modular_skyrat/modules/customization/icons/mob/sprite_accessory/moth_fluff.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/fluff.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/wings.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/insect.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/mammal.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/moth.dm
  tgstation.dme
Labels: Feature, Tweak

#2803 Assault Ops Card Stuff
  modular_skyrat/modules/assaultops/code/assaultops_spawners.dm
  modular_skyrat/modules/card/access.dm
  modular_skyrat/modules/card/card.dmi
Labels: Tweak

#2802 Gun Modernisation PR
  modular_skyrat/modules/gunsgalore/code/guns/akm/akm.dm
  modular_skyrat/modules/gunsgalore/code/guns/fg42/fg42.dm
  modular_skyrat/modules/gunsgalore/code/guns/m16/m16.dm
  modular_skyrat/modules/gunsgalore/code/guns/master.dm
  modular_skyrat/modules/gunsgalore/code/guns/mp40/mp40.dm
  modular_skyrat/modules/gunsgalore/code/guns/ppsh/ppsh.dm
  modular_skyrat/modules/gunsgalore/code/guns/stg/stg.dm
  modular_skyrat/modules/gunsgalore/icons/guns/akm/akm.dmi
  modular_skyrat/modules/gunsgalore/icons/guns/fg42/fg42.dmi
  modular_skyrat/modules/gunsgalore/icons/guns/m16/m16.dmi
  modular_skyrat/modules/gunsgalore/icons/guns/mg34/mg34.dmi
  modular_skyrat/modules/gunsgalore/icons/guns/mp40/mp40.dmi
  modular_skyrat/modules/gunsgalore/icons/guns/ppsh/ppsh.dmi
  modular_skyrat/modules/gunsgalore/icons/guns/stg/stg.dmi
Labels: Feature

#2851 Makes build.js check for changes in modular_skyrat/ folder too
  tools/build/build.js
Labels: Tools

#2844 Lavaland Syndicate ID Stuffs
  modular_skyrat/modules/card/access.dm
  modular_skyrat/modules/card/card.dmi
  modular_skyrat/modules/mapping/code/modules/ruins/lavaland_ruin_code.dm
Labels: Tweak

#2701 MAKE BLUESHIELD COOL!
  modular_skyrat/modules/blueshield/code/modules/clothing/suits/armor.dm
  modular_skyrat/modules/blueshield/code/modules/clothing/under/jobs/security.dm
  modular_skyrat/modules/blueshield/code/modules/jobs/job_types/blueshield.dm
  modular_skyrat/modules/blueshield/icons/mob/suit.dmi
  modular_skyrat/modules/blueshield/icons/mob/suit_digi.dmi
  modular_skyrat/modules/blueshield/icons/mob/uniform.dmi
  modular_skyrat/modules/blueshield/icons/mob/uniform_digi.dmi
  modular_skyrat/modules/blueshield/icons/obj/clothing/suits.dmi
  modular_skyrat/modules/blueshield/icons/obj/clothing/uniform.dmi
Labels: Test Merge Candidate, Test Merged, Test merged(1-week), Tweak

#2661 Defibrillates Split-Personality
  code/datums/brain_damage/split_personality.dm
  code/modules/spells/spell_types/personality_commune.dm
Labels: Feature, Vote pending

#2793 adds flash darks to the bepis minor rewards
  code/modules/research/bepis.dm
Labels: Feature

#2856 [Modular] Once again, Vox ruined everything (EMP brain damage fix)
  modular_skyrat/modules/customization/modules/surgery/organs/vox.dm
Labels: Fix

#2861 Assault Ops Map Tweaks
  _maps/skyrat/maps/CentCom_Skyrat.dmm
  _maps/skyrat/shuttles/syndicate_frigate.dmm
Labels: Map Edit

#2868 Prohibits the HoP from opening blueshield slots.
  code/game/machinery/computer/card.dm
Labels: Fix

#2887 Revert "Automatic TGS DMAPI Update"
  code/__DEFINES/tgs.dm
  code/modules/tgs/core/core.dm
  code/modules/tgs/v4/api.dm
  code/modules/tgs/v5/_defines.dm
  code/modules/tgs/v5/api.dm
  code/modules/tgs/v5/interop_version.dm
  code/modules/tgs/v5/undefs.dm
Labels: Revert

#2890 Modular Maps
  _maps/deltastation.json
  _maps/icebox.json
  _maps/kilostation.json
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/KiloStation/KiloStation_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
  _maps/map_files/readme.md
  _maps/metastation.json
Labels: Map Edit, Tweak

#2889 [MODULAR] Fixes for fluff accessory PR and Insect species restoration
  code/__DEFINES/is_helpers.dm
  modular_skyrat/modules/customization/icons/mob/species/insect_parts_greyscale.dmi
  modular_skyrat/modules/customization/icons/mob/sprite_accessory/moth_fluff.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/fluff.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/wings.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/insect.dm
  modular_skyrat/modules/emotes/code/dna_screams.dm
  modular_skyrat/modules/emotes/code/emotes.dm
Labels: Feature, Fix

#2891 Map updates
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/KiloStation/KiloStation_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
  _maps/map_files/readme.md
Labels: Feature, Map Edit

#2030 [TM] Disables sentient disease - pending rebalancing/tweaks
  code/modules/antagonists/disease/disease_event.dm
Labels: Test Merge Only, Test Merged

#948 [TESTMERGE] Makes icon2html not work
  code/__HELPERS/icons.dm
Labels: DO NOT MERGE, Fix, Stale, Test Merge Only, Test Merged

#2852 [Modular] Adds a bunch of new cargo packs for medical and engineering
  modular_skyrat/modules/cargo/code/packs.dm
  modular_skyrat/modules/emotes/code/emotes.dm
Labels: Feature, Fix

#2855 [Semi-modular] Replaces the AI's transformer with one that is server-policy friendly
  code/modules/antagonists/traitor/equipment/Malf_Modules.dm
  modular_skyrat/modules/SiliconQoL/code/robotic_factory.dm
  tgstation.dme
Labels: Tweak

#2899 Mapping
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
Labels: Feature, Map Edit

#2917 [ASSOPS] Removes The Orbital Mech Pad From DS-1
  _maps/map_files/generic/CentCom_skyrat.dmm
Labels: Map Edit, Removal

#2923 Modernizes Admin Only Wizard Event, Department Revolt (#56061)
  code/__DEFINES/dcs/signals.dm
  code/modules/antagonists/separatist/separatist.dm
  code/modules/events/_event.dm
  code/modules/events/wizard/departmentrevolt.dm
  code/modules/mob/dead/new_player/new_player.dm
  tgui/public/tgui-common.bundle.js
Labels: UI

#2921 Removes beepsky's racism
  code/modules/mob/living/carbon/human/human.dm
Labels: Removal

#2902 [modular] Adds a fluff icon that overlays hair/clothing per request!
  modular_skyrat/modules/customization/icons/mob/sprite_accessory/moth_fluff.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/fluff.dm
Labels: Feature

#2668 [NON-MODULAR] [TM Only] Added the SQL logging.. waf
  SQL/tgstation_schema.sql
  code/controllers/configuration/entries/general.dm
  code/game/atoms.dm
Labels: Config Update, SQL, Test Merged

#2900 [Modular(?) ]Moves Icebox's underground to modular maps.
  _maps/icebox.json
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above_skyrat.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Below_skyrat.dmm
Labels: Config Update, Map Edit

#2915 [Modular] Adds 6 new tails!
  modular_skyrat/modules/customization/icons/mob/body_markings/secondary_markings.dmi
  modular_skyrat/modules/customization/icons/mob/sprite_accessory/tails.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/body_markings/body_markings.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/tails.dm
Labels: Feature

#2941 [Non-Modular] Killdozerripleymemeshit clamp no longer tears arms off
  code/modules/vehicles/mecha/equipment/tools/work_tools.dm
Labels: Balance/Rebalance

#1285 [WIP] Combat rework - less lethality, less hardstuns, nonlethal takedowns. Focus on combat ineffectivity
  code/__DEFINES/~skyrat_defines/combat.dm
  code/_onclick/item_attack.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/door.dm
  code/game/objects/items/food/pie.dm
  code/game/objects/items/grenades/flashbang.dm
  code/game/objects/items/melee/misc.dm
  code/game/objects/items/stacks/tiles/tile_types.dm
  code/game/objects/items/stunbaton.dm
  code/game/objects/items/weaponry.dm
  code/game/turfs/open/_open.dm
  code/game/turfs/turf.dm
  code/modules/antagonists/abductor/equipment/abduction_gear.dm
  code/modules/assembly/flash.dm
  code/modules/food_and_drinks/drinks/drinks/bottle.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/carbon/damage_procs.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/mob/living/carbon/status_procs.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/simple_animal/bot/secbot.dm
  code/modules/projectiles/ammunition/_firing.dm
  code/modules/projectiles/projectile/energy/stun.dm
  code/modules/reagents/chemistry/reagents/cat2_medicine_reagents.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  code/modules/surgery/bodyparts/head.dm
  code/modules/surgery/bodyparts/parts.dm
  code/modules/unit_tests/combat.dm
  modular_skyrat/master_files/code/modules/mob/living/carbon/carbon_say.dm
  modular_skyrat/modules/blueshield/code/game/objects/items/melee/misc.dm
  tgstation.dme
Labels: Balance/Rebalance, Test Merged, Work In Progress

#2317 DS-1 Assault Group + Skyrat Modular Map System [READY FOR TESTING, MODULAR]
  _maps/_basemap.dm
  _maps/map_files/generic/CentCom_skyrat.dmm
  _maps/skyrat/readme.md
  _maps/skyrat/shuttles/syndicate_cruiser.dmm
  _maps/skyrat/shuttles/syndicate_frigate.dmm
  code/__DEFINES/icon_smoothing.dm
  code/__DEFINES/misc.dm
  code/__DEFINES/role_preferences.dm
  code/__DEFINES/~skyrat_defines/assaultops.dm
  code/datums/components/gunpoint.dm
  code/datums/mind.dm
  code/game/gamemodes/game_mode.dm
  code/game/objects/effects/decals/decal.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/one_click_antag.dm
  code/modules/mob/dead/new_player/new_player.dm
  config/game_options.txt
  html/changelogs/AutoChangeLog-pr-2803.yml
  modular_skyrat/modules/assaultops/code/_assaultops_defines.dm
  modular_skyrat/modules/assaultops/code/areas.dm
  modular_skyrat/modules/assaultops/code/assaultops_admin.dm
  modular_skyrat/modules/assaultops/code/assaultops_capturemachine.dm
  modular_skyrat/modules/assaultops/code/assaultops_datum.dm
  modular_skyrat/modules/assaultops/code/assaultops_gamemode.dm
  modular_skyrat/modules/assaultops/code/assaultops_misc.dm
  modular_skyrat/modules/assaultops/code/assaultops_outfits.dm
  modular_skyrat/modules/assaultops/code/assaultops_procs.dm
  modular_skyrat/modules/assaultops/code/assaultops_spawners.dm
  modular_skyrat/modules/assaultops/code/assaultops_team.dm
  modular_skyrat/modules/assaultops/code/base_alarm.dm
  modular_skyrat/modules/assaultops/code/shuttle.dm
  modular_skyrat/modules/assaultops/icons/alarm.dmi
  modular_skyrat/modules/assaultops/icons/radial.dmi
  modular_skyrat/modules/assaultops/readme.md
  modular_skyrat/modules/assaultops/sound/GoldeneyeAlarm.ogg
  modular_skyrat/modules/assaultops/sound/assaultops_start.ogg
  modular_skyrat/modules/card/access.dm
  modular_skyrat/modules/card/card.dmi
  modular_skyrat/modules/cryosleep/code/cryopod.dm
  modular_skyrat/modules/large_doors/code/large_doors.dm
  tgstation.dme
Labels: Config Update, Feature, Map Edit, Test Merge Only, Test Merged, Work In Progress

#2945 Replaces a window with a wall
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
Labels: Fix, Map Edit

#2946 [Modular] Additional Medical ERT
  modular_skyrat/master_files/icons/mob/clothing/head_muzzled.dmi
  modular_skyrat/master_files/icons/mob/clothing/head_vox.dmi
  modular_skyrat/master_files/icons/mob/clothing/suit_digi.dmi
  modular_skyrat/modules/additionalert/code/datums/ert.dm
  modular_skyrat/modules/additionalert/code/modules/antagonists/ert/ert.dm
  modular_skyrat/modules/additionalert/code/modules/clothing/outfit/ert.dm
  modular_skyrat/modules/additionalert/code/modules/clothing/spacesuits/hardsuit.dm
  modular_skyrat/modules/additionalert/icons/mob/clothing/head.dmi
  modular_skyrat/modules/additionalert/icons/mob/clothing/suit.dmi
  modular_skyrat/modules/additionalert/icons/obj/clothing/head.dmi
  modular_skyrat/modules/additionalert/icons/obj/clothing/suit.dmi
  modular_skyrat/modules/additionalert/readme.md
  tgstation.dme
Labels: Feature

#2943 [Modular] Aesthetic Additions
  modular_skyrat/modules/aesthetics/abductor/abductor.dm
  modular_skyrat/modules/aesthetics/abductor/abductor.dmi
  modular_skyrat/modules/aesthetics/airlock_machines/airlock_machines.dm
  modular_skyrat/modules/aesthetics/airlock_machines/airlock_machines.dmi
  modular_skyrat/modules/aesthetics/atmos/atmos.dm
  modular_skyrat/modules/aesthetics/atmos/atmos.dmi
  modular_skyrat/modules/aesthetics/bureaucracy/bureaucracy.dm
  modular_skyrat/modules/aesthetics/bureaucracy/bureaucracy.dmi
  modular_skyrat/modules/aesthetics/chemical_tanks/chemical_tanks.dm
  modular_skyrat/modules/aesthetics/chemical_tanks/chemical_tanks.dmi
  modular_skyrat/modules/aesthetics/closet/closet.dm
  modular_skyrat/modules/aesthetics/closet/closet.dmi
  modular_skyrat/modules/aesthetics/device/device.dm
  modular_skyrat/modules/aesthetics/device/device.dmi
  modular_skyrat/modules/aesthetics/heavy_lathe/heavy_lathe.dm
  modular_skyrat/modules/aesthetics/heavy_lathe/heavy_lathe.dmi
  modular_skyrat/modules/aesthetics/items_and_weapons/items_and_weapons.dm
  modular_skyrat/modules/aesthetics/items_and_weapons/items_and_weapons.dmi
  modular_skyrat/modules/aesthetics/items_cyborg/items_cyborg.dm
  modular_skyrat/modules/aesthetics/items_cyborg/items_cyborg.dmi
  modular_skyrat/modules/aesthetics/janitor/janitor.dm
  modular_skyrat/modules/aesthetics/janitor/janitor.dmi
  modular_skyrat/modules/aesthetics/kitchen/kitchen.dm
  modular_skyrat/modules/aesthetics/kitchen/kitchen.dmi
  modular_skyrat/modules/aesthetics/mining/mining.dm
  modular_skyrat/modules/aesthetics/mining/mining.dmi
  modular_skyrat/modules/aesthetics/pda/pda.dm
  modular_skyrat/modules/aesthetics/pda/pda.dmi
  modular_skyrat/modules/aesthetics/recycling/recycling.dm
  modular_skyrat/modules/aesthetics/recycling/recycling.dmi
  modular_skyrat/modules/aesthetics/spaceship_navigation_beacon/spaceship_navigation_beacon.dm
  modular_skyrat/modules/aesthetics/spaceship_navigation_beacon/spaceship_navigation_beacon.dmi
  modular_skyrat/modules/aesthetics/stasis/stasis.dm
  modular_skyrat/modules/aesthetics/stasis/stasis.dmi
  modular_skyrat/modules/aesthetics/stationobjs/stationobjs.dm
  modular_skyrat/modules/aesthetics/stationobjs/stationobjs.dmi
  modular_skyrat/modules/aesthetics/stock_parts/stock_parts.dm
  modular_skyrat/modules/aesthetics/stock_parts/stock_parts.dmi
  modular_skyrat/modules/aesthetics/storage/storage.dm
  modular_skyrat/modules/aesthetics/storage/storage.dmi
  modular_skyrat/modules/aesthetics/suit_storage_unit/suit_storage.dmi
  modular_skyrat/modules/aesthetics/suit_storage_unit/suit_storage_unit.dm
  modular_skyrat/modules/aesthetics/supermatter/supermatter.dm
  modular_skyrat/modules/aesthetics/supermatter/supermatter.dmi
  modular_skyrat/modules/aesthetics/surgery/surgery.dm
  modular_skyrat/modules/aesthetics/surgery/surgery.dmi
  modular_skyrat/modules/aesthetics/syringe/syringe.dm
  modular_skyrat/modules/aesthetics/syringe/syringe.dmi
  modular_skyrat/modules/aesthetics/telescience/telescience.dm
  modular_skyrat/modules/aesthetics/telescience/telescience.dmi
  modular_skyrat/modules/aesthetics/tools/tools.dm
  modular_skyrat/modules/aesthetics/tools/tools.dmi
  tgstation.dme
Labels: Feature

#2960 [Modular] Adds positronic alert consoles to all modular maps
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/KiloStation/KiloStation_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
Labels: Feature, Map Edit

#2985 Moves DS1 Dungeon
  _maps/map_files/generic/CentCom_skyrat.dmm
  _maps/skyrat/ruins/dungeon.dmm
Labels: Map Edit

#2470 [Ready] Maintenance Loot Overhaul
  code/__DEFINES/~skyrat_defines/maintenance_loot.dm
  code/modules/holiday/holidays.dm
  modular_skyrat/master_files/code/_globalvars/maint_loot_common.dm
  modular_skyrat/master_files/code/_globalvars/maint_loot_oddity.dm
  modular_skyrat/master_files/code/_globalvars/maint_loot_trash.dm
  modular_skyrat/master_files/code/_globalvars/maint_loot_uncommon.dm
  modular_skyrat/master_files/code/_globalvars/~maint_loot.dm
  tgstation.dme
Labels: Feature, Needs Review, Sprites, Test Merged, Test merged(1-week), UI

#2443 [TM ONLY] Tick test to reduce lag
  code/__DEFINES/_tick.dm
Labels: Test Merged

#2993 Misc DS1 fixes
  _maps/map_files/generic/CentCom_skyrat.dmm
Labels: Map Edit

#2994 Special Atmos Mask Variants by Sethnov
  modular_skyrat/master_files/code/modules/clothing/anthro_clothes.dm
  modular_skyrat/master_files/icons/mob/clothing/mask_muzzled.dmi
  modular_skyrat/master_files/icons/mob/clothing/mask_vox.dmi
  tgstation.dme
Labels: Feature
