Repository Skyrat-SS13/Skyrat-tg, pull requests merged in 2021-09, with the labels that each got.

#7860 Returns brainwash disk to 5 TC
  code/modules/uplink/uplink_items.dm
Labels: Balance/Rebalance

#7903 [Modular] Various misc DS-2 QoL additions
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/interdynefob.dmm
Labels: Feature, Removal

#7819 Renables and rebalances ninja
  code/modules/antagonists/space_ninja/space_ninja.dm
  code/modules/events/space_ninja.dm
  code/modules/ninja/energy_katana.dm
  code/modules/ninja/suit/ninjaDrainAct.dm
  code/modules/ninja/suit/shoes.dm
  code/modules/ninja/suit/suit.dm
Labels: Feature

#7865 [READY] Deletes depreciated cyrodorms area
  _maps/map_files/NSSJourney/NSSJourney.dmm
  modular_skyrat/modules/cryosleep/code/area.dm
  tgstation.dme
Labels: Needs Review, Map Edit

#7748 [MIRROR] Replaced the lobby menu (with actual art) (#60953)
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/layers.dm
  code/__DEFINES/mobs.dm
  code/_onclick/hud/new_player.dm
  code/_onclick/hud/screen_objects.dm
  code/controllers/master.dm
  code/controllers/subsystem.dm
  code/controllers/subsystem/job.dm
  code/controllers/subsystem/mapping.dm
  code/controllers/subsystem/ticker.dm
  code/controllers/subsystem/title.dm
  code/datums/mapgen/CaveGenerator.dm
  code/game/turfs/closed/_closed.dm
  code/modules/admin/admin_verbs.dm
  code/modules/mob/dead/new_player/login.dm
  code/modules/mob/dead/new_player/new_player.dm
  icons/hud/lobby/background.dmi
  icons/hud/lobby/bottom_buttons.dmi
  icons/hud/lobby/character_setup.dmi
  icons/hud/lobby/join.dmi
  icons/hud/lobby/observe.dmi
  icons/hud/lobby/poll_overlay.dmi
  icons/hud/lobby/ready.dmi
  icons/runtime/default_title.dmi
  interface/skin.dmf
  modular_skyrat/master_files/code/_onclick/hud/new_player.dm
  modular_skyrat/master_files/code/modules/mob/living/dead/new_player/new_player.dm
  modular_skyrat/master_files/icons/hud/lobby/bottom_buttons.dmi
  modular_skyrat/master_files/sound/effects/save.ogg
  modular_skyrat/modules/customization/modules/client/preferences.dm
  modular_skyrat/modules/lobbyscreen/code/change_titlescreen.dm
  modular_skyrat/modules/lobbyscreen/code/load_servers.dm
  modular_skyrat/modules/lobbyscreen/code/lobby.dm
  modular_skyrat/modules/lobbyscreen/code/title_screen.dm
  modular_skyrat/modules/random_mining/code/mining_maps.dm
  tgstation.dme
Labels: Sprites

#7830 Re-Re-Reworks the Ashwalker Camp
  modular_skyrat/modules/ashwalkers/code/fuelwell.dm
  modular_skyrat/modules/mapping/_maps/RandomRuins/LavaRuins/lavaland_surface_ash_walker1_skyrat.dmm
  tgstation.dme
Labels: Balance/Rebalance

#7759 [MODULAR] NSS Journey Prison Overhaul
  _maps/map_files/NSSJourney/NSSJourney.dmm
Labels: Feature, Map Edit

#7770 Changes cult sacrifice and what happens to construct on their death
  code/__DEFINES/~skyrat_defines/traits.dm
  code/_globalvars/traits.dm
  code/modules/antagonists/cult/runes.dm
  code/modules/antagonists/wizard/equipment/soulstone.dm
  modular_skyrat/modules/soulstone_changes/components/return_on_death.dm
  modular_skyrat/modules/soulstone_changes/readme.md
  modular_skyrat/modules/soulstone_changes/soulstone.dm
  tgstation.dme
Labels: Tweak, Stale

#7859 Enables sec/med huds to view records on examine, as well as antagonists being able to view exploitables.
  code/datums/datacore.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
  modular_skyrat/master_files/code/modules/antagonists/_common/antag_datum.dm
  modular_skyrat/master_files/readme.md
  modular_skyrat/modules/records_on_examine/readme.md
  tgstation.dme
Labels: Feature, Fix, Good First PR

#7780 [modular][ready]adds a fashionable baseball cap
  code/modules/vending/clothesmate.dm
  modular_skyrat/master_files/icons/mob/clothing/feet_digi.dmi
  modular_skyrat/master_files/icons/mob/clothing/head.dmi
  modular_skyrat/master_files/icons/mob/dog/corgi_head.dmi
  modular_skyrat/master_files/icons/obj/clothing/hats.dmi
  modular_skyrat/modules/customization/datums/components/crafting/clothing.dm
  modular_skyrat/modules/customization/modules/clothing/head/head.dm
  modular_skyrat/modules/dogfashion/code/datums/head.dm
  tgstation.dme
  tools/build/build.js
Labels: Needs Review, Tools

#7852 [NONMODULAR] Makes Mediguns fit in CMO suit storage and makes Medicells fit inside belts.
  code/game/objects/items/storage/belt.dm
  code/modules/clothing/spacesuits/hardsuit.dm
  code/modules/clothing/suits/labcoat.dm
  code/modules/clothing/suits/wintercoats.dm
Labels: Balance/Rebalance

#7837 Syndicate Fight Club Template
  modular_skyrat/modules/ambitions/code/ambition_templates.dm
Labels: Feature, Good First PR

#7908 Adding russian version to autohiss
  code/modules/surgery/organs/tongue.dm
Labels: Feature, Good First PR

#7916 learn new chems, fix the logs as well
  modular_skyrat/modules/cortical_borer/code/cortical_borer.dm
  modular_skyrat/modules/cortical_borer/code/cortical_borer_abilities.dm
  modular_skyrat/modules/cortical_borer/code/cortical_borer_chems.dm
  tgstation.dme
Labels: Feature, Fix

#7921 Hahaha GitHub Bot you closed my issues!
  .github/workflows/stale.yml
Labels: Fix, GitHub, FUCK, PRIORITY

#7913 Hahaha Golden you fixed my master!
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/KiloStation/KiloStation_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
  _maps/map_files/NSSJourney/NSSJourney.dmm
  _maps/map_files/WaterKiloStation/WaterKiloStation.dmm
  _maps/map_files/tramstation/tramstation_skyrat.dmm
  code/game/machinery/computer/station_alert.dm
  modular_skyrat/master_files/code/modules/clothing/chameleon.dm
  modular_skyrat/master_files/code/modules/clothing/clothing.dm
  modular_skyrat/modules/mapping/_maps/RandomRuins/RockplanetRuins/abandoned_b.dmm
  tgstation.dme
Labels: Fix, Map Edit, DEVCON 2

#7873 [Mostly Nonmodular] Chameleon Mutation Buffs
  code/__DEFINES/~skyrat_defines/traits.dm
  code/datums/mutations/chameleon.dm
Labels: Feature, Balance/Rebalance

#7917 [MODULAR] Kazoo ballgags and ballgag refactoring
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/ballgag.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/erp_belt.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_structures/lustwish.dm
  modular_skyrat/modules/modular_items/lewd_items/code/technical_stuff_for_lewd.dm
  modular_skyrat/modules/modular_items/lewd_items/sounds/kazoo_1.ogg
  modular_skyrat/modules/modular_items/lewd_items/sounds/kazoo_2.ogg
  modular_skyrat/modules/modular_items/lewd_items/sounds/kazoo_3.ogg
  modular_skyrat/modules/modular_items/lewd_items/sounds/kazoo_4.ogg
  modular_skyrat/modules/modular_items/lewd_items/sounds/kazoo_5.ogg
  modular_skyrat/modules/modular_items/lewd_items/sounds/kazoo_6.ogg
  modular_skyrat/modules/modular_items/lewd_items/sounds/kazoo_7.ogg
  modular_skyrat/modules/modular_items/lewd_items/sounds/kazoo_8.ogg
Labels: Feature, Refactor

#7923 [MODULAR] Fixing flavor text input not letting you have linebreaks
  modular_skyrat/modules/customization/modules/client/preferences.dm
Labels: Fix

#7874 [NONMODULAR] Adds TG's "Environment Bodybag" to the mining vendor
  code/modules/mining/machine_vending.dm
Labels: Feature

#7953 Fixes Vox GAGS issues
  modular_skyrat/master_files/icons/mob/clothing/species/vox/color_gags_vox.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/vox/uniform.dmi
  modular_skyrat/modules/customization/modules/mob/living/carbon/carbon_update_icons.dm
  modular_skyrat/modules/vox_sprites/code/modules/clothing/head/head.dm
  modular_skyrat/modules/vox_sprites/code/modules/clothing/shoes/sneakers.dm
  tgstation.dme
Labels: Fix

#7956 make the examine more informational for forge
  modular_skyrat/modules/reagent_forging/code/modules/reagent_forging/forge.dm
Labels: Feature

#7782 Fixes the Ant Reagent Recipe literally not working how did no one test this
  code/modules/reagents/chemistry/recipes/others.dm
Labels: Fix

#7974 Porting Generate Documentation workflow fix from TGMC
  .github/workflows/generate_documentation.yml
  dependencies.sh
  tools/ci/build_spaceman_dmm.sh
Labels: Tools, GitHub

#7958 [MODULAR] [READY] Blueshield additions, fixes, and drip!
  modular_skyrat/master_files/icons/mob/clothing/suit.dmi
  modular_skyrat/master_files/icons/mob/clothing/uniform.dmi
  modular_skyrat/master_files/icons/mob/clothing/uniform_digi.dmi
  modular_skyrat/master_files/icons/obj/clothing/suits.dmi
  modular_skyrat/master_files/icons/obj/clothing/uniforms.dmi
  modular_skyrat/modules/altjobtitles/code/_job.dm
  modular_skyrat/modules/blueshield/code/game/objects/structures/crates_lockers/closets/secure/security.dm
  modular_skyrat/modules/blueshield/code/modules/clothing/suits/armor.dm
  modular_skyrat/modules/blueshield/code/modules/clothing/under/jobs/security.dm
  modular_skyrat/modules/blueshield/code/modules/jobs/job_types/blueshield.dm
Labels: Feature, Needs Review

#7973 primitive centrifuge
  code/game/objects/items/stacks/sheets/sheet_types.dm
  modular_skyrat/modules/ash_chemical_centrifuge/code/ash_centrifuge.dm
  modular_skyrat/modules/ash_chemical_centrifuge/icons/chemical.dmi
  modular_skyrat/modules/ash_chemical_centrifuge/readme.md
  tgstation.dme
Labels: Feature

#7975 some forge fixes
  modular_skyrat/modules/reagent_forging/code/modules/reagent_forging/forge.dm
Labels: Fix

#7979 what the fuck is a peackeeper (also slightly buffs peacekeeper belt)
  modular_skyrat/modules/sec_haul/code/peacekeeper/peacekeeper_backpack.dm
  modular_skyrat/modules/sec_haul/code/peacekeeper/peacekeeper_clothing.dm
Labels: Balance/Rebalance

#7833 Additional Traitor Templates
  modular_skyrat/modules/ambitions/code/ambition_templates.dm
Labels: Feature

#7930 A tweak for russian autohiss
  code/modules/surgery/organs/tongue.dm
  config/skyrat/skyrat_config.txt
  modular_skyrat/master_files/code/controllers/configuration/entries/skryat_config_entries.dm
Labels: Config Update

#8017 xenoarch addition
  code/modules/unit_tests/plantgrowth_tests.dm
  modular_skyrat/modules/mapping/_maps/RandomRuins/LavaRuins/lavaland_surface_ash_walker1_skyrat.dmm
  modular_skyrat/modules/xenoarch/code/modules/hydroponics/amauri.dm
  modular_skyrat/modules/xenoarch/code/modules/hydroponics/gelthi.dm
  modular_skyrat/modules/xenoarch/code/modules/hydroponics/jurlmah.dm
  modular_skyrat/modules/xenoarch/code/modules/hydroponics/nofruit.dm
  modular_skyrat/modules/xenoarch/code/modules/hydroponics/shand.dm
  modular_skyrat/modules/xenoarch/code/modules/hydroponics/surik.dm
  modular_skyrat/modules/xenoarch/code/modules/hydroponics/telriis.dm
  modular_skyrat/modules/xenoarch/code/modules/hydroponics/thaadra.dm
  modular_skyrat/modules/xenoarch/code/modules/hydroponics/vale.dm
  modular_skyrat/modules/xenoarch/code/modules/hydroponics/vaporsac.dm
  modular_skyrat/modules/xenoarch/code/modules/research/xenoarch/designs_and_tech.dm
  modular_skyrat/modules/xenoarch/code/modules/research/xenoarch/strange_rock.dm
  modular_skyrat/modules/xenoarch/code/modules/research/xenoarch/xenoarch_item.dm
  modular_skyrat/modules/xenoarch/code/modules/research/xenoarch/xenoarch_machine.dm
  modular_skyrat/modules/xenoarch/code/modules/research/xenoarch/xenoarch_reward.dm
  modular_skyrat/modules/xenoarch/code/modules/research/xenoarch/xenoarch_tool.dm
  modular_skyrat/modules/xenoarch/icons/growing.dmi
  modular_skyrat/modules/xenoarch/icons/harvest.dmi
  modular_skyrat/modules/xenoarch/icons/seeds.dmi
  modular_skyrat/modules/xenoarch/icons/xenoarch_items.dmi
  tgstation.dme
Labels: Feature

#7983 NSS Journey Prison touchups
  _maps/map_files/NSSJourney/NSSJourney.dmm
Labels: Map Edit

#8027 [MODULAR] Credits mean nothing to Ash Walkers...
  modular_skyrat/modules/ashwalkers/code/vendors/ash_clothing_vendor.dm
Labels: Fix

#8029 [MDB IGNORE] Fixes multiple turfs stacked on top of each other on Journey and Interlink
  _maps/map_files/NSSJourney/NSSJourney.dmm
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
Labels: Fix, Map Edit

#8023 [PORT] [READY] Ports over Paradises' trenchcoats and fedoras.
  modular_skyrat/master_files/icons/mob/clothing/head.dmi
  modular_skyrat/master_files/icons/mob/clothing/head_vox.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/vox/suit.dmi
  modular_skyrat/master_files/icons/mob/clothing/suit.dmi
  modular_skyrat/master_files/icons/mob/clothing/suit_digi.dmi
  modular_skyrat/master_files/icons/obj/clothing/hats.dmi
  modular_skyrat/master_files/icons/obj/clothing/suits.dmi
  modular_skyrat/modules/customization/modules/client/loadout/head.dm
  modular_skyrat/modules/customization/modules/client/loadout/suit.dm
  modular_skyrat/modules/customization/modules/clothing/head/head.dm
  modular_skyrat/modules/customization/modules/clothing/suits/misc.dm
Labels: Feature, Needs Review

#8024 [MODULAR] Removes screenshake from M45A5
  modular_skyrat/modules/nanotrasen_rep/code/m45a5.dm
Labels: Removal

#8030 [MODULAR] I hate clicking (HANDLE)
  code/modules/admin/verbs/adminhelp.dm
  modular_skyrat/modules/admin/code/admin_help.dm
Labels: Administration

#8057 Fuck you *removes your ZephyrTFA from codeowners*
  .github/CODEOWNERS
Labels: Removal, GitHub

#8033 [Maptainer Request] Fixes for NSS Journey
  _maps/map_files/NSSJourney/NSSJourney.dmm
Labels: Fix, Map Edit

#8037 [MODULAR] blueshield winter coat
  modular_skyrat/master_files/icons/mob/clothing/head.dmi
  modular_skyrat/master_files/icons/mob/clothing/suit.dmi
  modular_skyrat/master_files/icons/obj/clothing/hats.dmi
  modular_skyrat/master_files/icons/obj/clothing/suits.dmi
  modular_skyrat/modules/blueshield/code/game/objects/structures/crates_lockers/closets/secure/security.dm
  modular_skyrat/modules/blueshield/code/modules/clothing/suits/armor.dm
Labels: Feature

#7902 Revert "[MIRROR] Refactor area and turf lighting"
  code/__DEFINES/flags.dm
  code/__DEFINES/layers.dm
  code/__DEFINES/lighting.dm
  code/__HELPERS/areas.dm
  code/_globalvars/bitfields.dm
  code/controllers/subsystem/lighting.dm
  code/datums/mapgen/JungleGenerator.dm
  code/game/area/areas.dm
  code/game/area/areas/away_content.dm
  code/game/area/areas/centcom.dm
  code/game/area/areas/holodeck.dm
  code/game/area/areas/ruins/_ruins.dm
  code/game/area/areas/shuttles.dm
  code/game/area/space_station_13_areas.dm
  code/game/turfs/change_turf.dm
  code/game/turfs/open/space/space.dm
  code/game/turfs/turf.dm
  code/modules/awaymissions/mission_code/Cabin.dm
  code/modules/awaymissions/mission_code/caves.dm
  code/modules/awaymissions/mission_code/murderdome.dm
  code/modules/awaymissions/mission_code/research.dm
  code/modules/awaymissions/mission_code/snowdin.dm
  code/modules/events/aurora_caelus.dm
  code/modules/lighting/lighting_area.dm
  code/modules/lighting/lighting_setup.dm
  code/modules/lighting/lighting_turf.dm
  code/modules/lighting/static_lighting_area.dm
  code/modules/mafia/map_pieces.dm
  code/modules/mining/equipment/survival_pod.dm
  code/modules/mob/living/silicon/ai/multicam.dm
  code/modules/power/lighting.dm
  code/modules/power/lighting/_light_defines.dm
  code/modules/power/lighting/light.dm
  code/modules/power/lighting/light_construct.dm
  code/modules/power/lighting/light_items.dm
  code/modules/power/lighting/light_mapping_helpers.dm
  code/modules/power/lighting/light_wallframes.dm
  code/modules/ruins/spaceruin_code/hilbertshotel.dm
  modular_skyrat/master_files/code/modules/awaymission/mission_code/black_mesa.dm
  modular_skyrat/modules/advanced_shuttles/code/areas.dm
  modular_skyrat/modules/aesthetics/lights/code/lighting.dm
  modular_skyrat/modules/awaymissions_skyrat/mission_code/mothership_astrum.dm
  modular_skyrat/modules/cme/code/cme.dm
  tgstation.dme
Labels: DO NOT MERGE, Refactor, Revert, Test Merged, Stale-b-gone

#8031 Fixes Vox sneakers being shown on digi legs and digi leg sneakers being shown on Vox
  modular_skyrat/master_files/icons/mob/clothing/feet_gags_digi.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/vox/color_gags_vox.dmi
Labels: Fix

#8079 Admins will no longer repeatedly handle the ticket they've already started handling
  modular_skyrat/modules/admin/code/admin_help.dm
Labels: Fix, Administration

#8080 [MODULAR] Capitalizes the names of the Temperature and Clotting Medicells.
  modular_skyrat/modules/modular_weapons/code/modules/projectiles/guns/energy/medgun/medguns.dm
Labels: Grammar and Formatting

#8085 less destructive rodstopper
  code/modules/power/singularity/boh_tear.dm
  modular_skyrat/modules/rod-stopper/code/immovable_skyrat.dm
  modular_skyrat/modules/rod-stopper/code/rodstopper.dm
Labels: Feature, Balance/Rebalance

#8097 Fixing documentation (again)
  .github/workflows/generate_documentation.yml
  tools/ci/build_spaceman_dmm.sh
Labels: Tools, GitHub

#8063 Revert "Revert "[MIRROR] Refactor area and turf lighting""
  code/__DEFINES/flags.dm
  code/__DEFINES/layers.dm
  code/__DEFINES/lighting.dm
  code/__HELPERS/areas.dm
  code/_globalvars/bitfields.dm
  code/controllers/subsystem/lighting.dm
  code/datums/mapgen/JungleGenerator.dm
  code/game/area/areas.dm
  code/game/area/areas/away_content.dm
  code/game/area/areas/centcom.dm
  code/game/area/areas/holodeck.dm
  code/game/area/areas/ruins/_ruins.dm
  code/game/area/areas/shuttles.dm
  code/game/area/space_station_13_areas.dm
  code/game/turfs/change_turf.dm
  code/game/turfs/open/space/space.dm
  code/game/turfs/turf.dm
  code/modules/awaymissions/mission_code/Cabin.dm
  code/modules/awaymissions/mission_code/caves.dm
  code/modules/awaymissions/mission_code/murderdome.dm
  code/modules/awaymissions/mission_code/research.dm
  code/modules/awaymissions/mission_code/snowdin.dm
  code/modules/events/aurora_caelus.dm
  code/modules/lighting/lighting_area.dm
  code/modules/lighting/lighting_setup.dm
  code/modules/lighting/lighting_turf.dm
  code/modules/lighting/static_lighting_area.dm
  code/modules/mafia/map_pieces.dm
  code/modules/mining/equipment/survival_pod.dm
  code/modules/mob/living/silicon/ai/multicam.dm
  code/modules/power/lighting.dm
  code/modules/power/lighting/_light_defines.dm
  code/modules/power/lighting/light.dm
  code/modules/power/lighting/light_construct.dm
  code/modules/power/lighting/light_items.dm
  code/modules/power/lighting/light_mapping_helpers.dm
  code/modules/power/lighting/light_wallframes.dm
  code/modules/ruins/spaceruin_code/hilbertshotel.dm
  modular_skyrat/master_files/code/modules/awaymission/mission_code/black_mesa.dm
  modular_skyrat/modules/advanced_shuttles/code/areas.dm
  modular_skyrat/modules/aesthetics/lights/code/lighting.dm
  modular_skyrat/modules/awaymissions_skyrat/mission_code/mothership_astrum.dm
  tgstation.dme
Labels: Refactor, Revert, Approved for merge(1-hour), Stale-b-gone

#8103 [modular][fix][kinda] ACTUALLY gives the IRA- Tactical outfit a digi version
  modular_skyrat/master_files/icons/mob/clothing/uniform_digi.dmi
Labels: Fix

#8115 initial port of species shit
  code/__DEFINES/DNA.dm
  code/__DEFINES/dcs/signals.dm
  code/__DEFINES/misc.dm
  code/__DEFINES/traits.dm
  code/datums/dna.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/mob/living/carbon/human/human_update_icons.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  code/modules/mob/living/carbon/human/species_types/mothmen.dm
  code/modules/surgery/advanced/wingreconstruction.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  code/modules/surgery/organs/external/_external_organs.dm
  code/modules/surgery/organs/external/wings.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/wings.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/human_update_icons.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species.dm
  modular_skyrat/modules/customization/modules/surgery/bodyparts/_bodyparts.dm
  tgstation.dme
Labels: Feature

#8068 [MODULAR][Scalamov/Zombie Prison Away Mission] Warden changes, small map changes, ghost role flavortext edits
  _maps/RandomZLevels/zombieprison.dmm
  modular_skyrat/modules/awaymissions_skyrat/icons/prisonmobs.dmi
  modular_skyrat/modules/awaymissions_skyrat/mission_code/zombieprison.dm
Labels: Balance/Rebalance, Fix, Map Edit

#8026 multiple borer focuses
  modular_skyrat/modules/cortical_borer/code/_cortical_borer_important.dm
  modular_skyrat/modules/cortical_borer/code/cortical_borer.dm
  modular_skyrat/modules/cortical_borer/code/cortical_borer_abilities.dm
  modular_skyrat/modules/cortical_borer/code/cortical_borer_antag.dm
Labels: Balance/Rebalance, Test Merged, Test Merge Candidate

#7919 hurtsposals
  code/modules/recycling/disposal/pipe.dm
Labels: Feature, Test Merged

#7948 [Modular] DS-2 armory prettification and swap outs + other misc changes.
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/interdynefob.dmm
Labels: Feature, Removal, Stale

#8120 [modular][fix]es the fedoras jaxx ported
  modular_skyrat/modules/customization/modules/client/loadout/head.dm
  modular_skyrat/modules/customization/modules/clothing/head/head.dm
Labels: Fix

#8121 testing to fix ci
  code/modules/mob/living/carbon/human/species_types/mothmen.dm
  code/modules/surgery/organs/external/_external_organs.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/wings.dm
  modular_skyrat/modules/customization/modules/surgery/organs/wings.dm
  modular_skyrat/modules/emotes/code/additionalemotes/turf_emote.dm
Labels: Feature

#8127 [SEMI-MODULAR] fixes bloody soles on digitigrade legs again
  code/datums/components/bloodysoles.dm
  modular_skyrat/modules/digi_bloodsole/code/modules/clothing/shoes/_shoes.dm
  modular_skyrat/modules/digi_bloodsole/icons/effects/64x64.dmi
  modular_skyrat/modules/digi_bloodsole/icons/effects/blood.dmi
Labels: Fix

#8128 Changes the surgery speedup to be based on whether the patient is knocked out or on painkillers, instead of on literal byond area.
  code/modules/surgery/surgery_step.dm
Labels: Balance/Rebalance

#8126 [NONMODULAR] fuck you dynamic (turns the admin cancel button for midrounds from 10 seconds to 60 seconds)
  code/game/gamemodes/dynamic/ruleset_picking.dm
Labels: Config Update

#8122 Ashwalker Shaman + Items
  modular_skyrat/modules/ashwalker_shaman/code/ashwalker_shaman.dm
  modular_skyrat/modules/ashwalker_shaman/icons/ashwalker_clothing.dmi
  modular_skyrat/modules/ashwalker_shaman/icons/ashwalker_clothing_left.dmi
  modular_skyrat/modules/ashwalker_shaman/icons/ashwalker_clothing_mob.dmi
  modular_skyrat/modules/ashwalker_shaman/icons/ashwalker_clothing_right.dmi
  modular_skyrat/modules/ashwalker_shaman/icons/ashwalker_tools.dmi
  modular_skyrat/modules/ashwalker_shaman/readme.md
  tgstation.dme
Labels: Feature

#8104 [modular] fishin'
  modular_skyrat/modules/fishing/code/fishing.dm
  modular_skyrat/modules/fishing/icons/fishing.dmi
  modular_skyrat/modules/fishing/icons/fishing_left.dmi
  modular_skyrat/modules/fishing/icons/fishing_right.dmi
  modular_skyrat/modules/fishing/readme.md
  tgstation.dme
Labels: Feature

#8129 just check for numbed instead
  code/modules/surgery/surgery_step.dm
Labels: Feature

#7595 [MODULAR] Blueshield locker stuff and slight vendor update
  modular_skyrat/master_files/icons/mob/clothing/ears.dmi
  modular_skyrat/master_files/icons/obj/closet.dmi
  modular_skyrat/modules/blueshield/code/game/objects/structures/crates_lockers/closets/secure/security.dm
  modular_skyrat/modules/command_vendor/code/vending/vending.dm
Labels: Feature, Sprites

#8086 [Ready] [Semi-Modular] [Donator] Holocigs
  code/modules/vending/games.dm
  modular_skyrat/modules/customization/modules/client/loadout/donator/personal/donator_personal.dm
  modular_skyrat/modules/modular_items/code/game/objects/items/ciggies.dm
  modular_skyrat/modules/pollution/code/pollutants_generic.dm
  tgstation.dme
Labels: Feature, Needs Review

#8143 [MDB Ignore] TG AND SKYRAT MAP RESET 14/09/21
  _maps/RandomZLevels/mothership_astrum.dmm
  _maps/icebox.json
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above_skyrat.dmm
  _maps/map_files/KiloStation/KiloStation_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
  _maps/map_files/generic/CentCom_skyrat.dmm
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  _maps/map_files/tramstation/tramstation_skyrat.dmm
  _maps/shuttles/pirate_enclave.dmm
  code/modules/research/techweb/all_nodes.dm
Labels: Map Edit, Refactor, TG Reset

#8054 [READY] [NONMODULAR] Adds Synthanol to booze dispenser.
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
Labels: Feature, Needs Review, Stale

#8137 [TG RESET] Blob
  code/modules/antagonists/blob/structures/shield.dm
Labels: Refactor, TG Reset

#8138 [TG RESET] Spacedragon
  code/modules/mob/living/simple_animal/hostile/space_dragon.dm
Labels: TG Reset

#8148 [modular]adds a cyto lab to NSS Journey
  _maps/map_files/NSSJourney/NSSJourney.dmm
Labels: Map Edit

#8139 [TG RESET] Alien infestation / Disabled
  code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
  code/modules/events/alien_infestation.dm
  modular_skyrat/modules/xenomorph/code/xenomorph_balance.dm
  modular_skyrat/modules/xenomorph/readme.md
  tgstation.dme
Labels: Balance/Rebalance, TG Reset

#8146 [Modular] Various SSDecay fixes and tweaks
  code/game/turfs/open/floor.dm
  config/skyrat/skyrat_config.txt
  modular_skyrat/master_files/code/controllers/configuration/entries/skryat_config_entries.dm
  modular_skyrat/modules/decay_subsystem/code/decaySS.dm
  modular_skyrat/modules/decay_subsystem/code/decay_turf_handling.dm
  tgstation.dme
Labels: Fix, Code Improvement, Config Update

#8240 [Temporary] No more stale until the freeze is over
  .github/gbp.toml
  .github/workflows/stale.yml
Labels: GitHub

#8298 Fixes Libital/Lenturi/Meth in plumbing
  modular_skyrat/modules/cortical_borer/code/cortical_borer_chems.dm
Labels: Fix

#8342 Reverts NTF roles and the NTF Cargo system pending OVERMAP.
  _maps/icebox.json
  _maps/map_files/generic/CentCom_skyrat.dmm
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  _maps/metastation.json
  _maps/nssjourney.json
  _maps/tramstation.json
  code/__DEFINES/economy.dm
  code/__DEFINES/jobs.dm
  code/__DEFINES/preferences.dm
  code/controllers/subsystem/economy.dm
  code/controllers/subsystem/job.dm
  code/datums/shuttles.dm
  code/game/objects/items/religion.dm
  code/modules/antagonists/revolution/revolution.dm
  code/modules/cargo/orderconsole.dm
  code/modules/shuttle/supply.dm
  modular_skyrat/master_files/code/modules/jobs/departments/departments.dm
  modular_skyrat/master_files/code/modules/shuttle/supply.dm
  modular_skyrat/modules/blueshield/code/modules/jobs/job_types/blueshield.dm
  modular_skyrat/modules/central_command_module/code/computers/cargo_shuttle_console.dm
  modular_skyrat/modules/central_command_module/code/computers/export_console.dm
  modular_skyrat/modules/central_command_module/code/computers/import_console.dm
  modular_skyrat/modules/central_command_module/code/jobs/bridge_officer.dm
  modular_skyrat/modules/central_command_module/code/jobs/deck_crew.dm
  modular_skyrat/modules/central_command_module/code/jobs/fleetmaster.dm
  modular_skyrat/modules/central_command_module/code/jobs/operations_inspector.dm
  modular_skyrat/modules/nanotrasen_rep/code/nanotrasen_representative.dm
  modular_skyrat/modules/sec_haul/code/junior_officer/junior_officer.dm
  tgstation.dme
Labels: Map Edit, Revert

#8247 Salt PR
  _maps/map_files/NSSJourney/NSSJourney.dmm
Labels: Feature, Map Edit

#8368 Readds scream and laugh to the preferences menu
  modular_skyrat/master_files/code/modules/client/preferences/flavor_text.dm
  modular_skyrat/master_files/code/modules/client/preferences/laugh.dm
  modular_skyrat/master_files/code/modules/client/preferences/scream.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/skyrat/character_laugh.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/skyrat/character_scream.tsx
Labels: UI

#8309 fixes the GPS computer sprite anim.
  modular_skyrat/modules/mapping/icons/machinery/gps_computer.dmi
Labels: Fix

#8349 [modular][request]makes the wedding veil not a rice ball
  modular_skyrat/master_files/icons/mob/clothing/head.dmi
  modular_skyrat/modules/aesthetics/clothing/clothing.dm
Labels: Sprites

#8251 Language Consistency Tweaks
  modular_skyrat/modules/customization/modules/language/japanese.dm
  modular_skyrat/modules/customization/modules/language/russian.dm
Labels: Tweak

#8348 [modular][ready][fix]es the open cardi being a bit up
  modular_skyrat/master_files/icons/mob/clothing/suit.dmi
Labels: Fix, Needs Review

#8300 [MODULAR] [READY] Vox Exp Corp gear.
  modular_skyrat/master_files/icons/mob/clothing/head_vox.dmi
  modular_skyrat/master_files/icons/mob/clothing/mask_vox.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/vox/feet.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/vox/hands.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/vox/suit.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/vox/uniform.dmi
Labels: Feature, Needs Review

#8133 [MODULAR][READY] Cargodise Lost - New Ghost Role
  code/datums/ruins/space.dm
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/cargodiselost.dmm
  modular_skyrat/modules/mapping/code/datums/ruins/space.dm
  modular_skyrat/modules/mapping/code/game/objects/structures/ghost_role_spawners.dm
Labels: Feature, Needs Review

#8369 TG maps to TG default
  _maps/RandomRuins/SpaceRuins/abandonedzoo.dmm
  _maps/RandomZLevels/zombieprison.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
  _maps/map_files/NSSJourney/NSSJourney.dmm
  _maps/map_files/tramstation/tramstation.dmm
Labels: Map Edit

#8370 [Modular] readds ripped jeans to loadout 2.0
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_under.dm
Labels: Feature

#8383 [MODULAR][FIXES] Fixes the Scalamov ghost roles
  modular_skyrat/modules/awaymissions_skyrat/mission_code/zombieprison.dm
Labels: Fix

#8386 borers should be outputing pure chemicals
  modular_skyrat/modules/cortical_borer/code/cortical_borer_abilities.dm
Labels: Balance/Rebalance

#8387 make me codeowner
  .github/CODEOWNERS
Labels: GitHub

#8244 glassblowing and ceramics
  code/game/objects/items/stacks/sheets/sheet_types.dm
  modular_skyrat/modules/primitive_fun/code/ceramics.dm
  modular_skyrat/modules/primitive_fun/code/glassblowing.dm
  modular_skyrat/modules/primitive_fun/icons/prim_fun.dmi
  modular_skyrat/modules/primitive_fun/readme.md
  modular_skyrat/modules/reagent_forging/code/modules/reagent_forging/forge.dm
  modular_skyrat/modules/reagent_forging/code/modules/reagent_forging/water_basin.dm
  modular_skyrat/modules/xenoarch/code/modules/research/xenoarch/xenoarch_item.dm
  tgstation.dme
Labels: Feature

#8171 [modular][map](hopefully) restores stuff we lost in the map reset
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
Labels: Fix, Map Edit, Stale-b-gone

#8423 Mirrors changes from #8401 (Master R&D Server) + Fixes Journey/Spacebox server room missing cooling.
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/KiloStation/KiloStation_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
  _maps/map_files/NSSJourney/NSSJourney.dmm
  _maps/map_files/WaterKiloStation/WaterKiloStation.dmm
  _maps/map_files/tramstation/tramstation_skyrat.dmm
Labels: Fix, Map Edit

#8425 Mass Map Fixes
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/KiloStation/KiloStation_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
  _maps/map_files/NSSJourney/NSSJourney.dmm
  _maps/map_files/WaterKiloStation/WaterKiloStation.dmm
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  _maps/map_files/tramstation/tramstation_skyrat.dmm
Labels: Fix, Map Edit

#8417 Mostly Reverts "Language Consistency Tweaks"
  modular_skyrat/modules/customization/modules/language/japanese.dm
Labels: Revert, Grammar and Formatting

#8440 Let's cross our fingers that this fixes the changelog
  html/changelogs/AutoChangeLog-pr-7770.yml
  html/changelogs/AutoChangeLog-pr-8251.yml
Labels: Fix

#8340 power armor
  code/modules/vehicles/mecha/mech_fabricator.dm
  modular_skyrat/modules/powerarmor/code/powerarmor.dm
  modular_skyrat/modules/powerarmor/icons/hats.dmi
  modular_skyrat/modules/powerarmor/icons/head.dmi
  modular_skyrat/modules/powerarmor/icons/suit.dmi
  modular_skyrat/modules/powerarmor/icons/suit_construction.dmi
  modular_skyrat/modules/powerarmor/icons/suits.dmi
  modular_skyrat/modules/powerarmor/readme.md
  tgstation.dme
Labels: Needs Documentation In PR Body

#8457 organic ui fix
  code/_onclick/hud/hud.dm
  code/_onclick/hud/human.dm
  code/modules/client/preferences/ui_style.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/login.dm
  code/modules/mob/mob_helpers.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_structures/lustwish.dm
  modular_skyrat/modules/modular_items/lewd_items/code/technical_stuff_for_lewd.dm
  modular_skyrat/modules/modular_items/lewd_items/icons/obj/lewd_items/inventory_icons/clockwork.dmi
  modular_skyrat/modules/modular_items/lewd_items/icons/obj/lewd_items/inventory_icons/glass.dmi
  modular_skyrat/modules/modular_items/lewd_items/icons/obj/lewd_items/inventory_icons/midnight.dmi
  modular_skyrat/modules/modular_items/lewd_items/icons/obj/lewd_items/inventory_icons/operative.dmi
  modular_skyrat/modules/modular_items/lewd_items/icons/obj/lewd_items/inventory_icons/plasmafire.dmi
  modular_skyrat/modules/modular_items/lewd_items/icons/obj/lewd_items/inventory_icons/retro.dmi
  modular_skyrat/modules/modular_items/lewd_items/icons/obj/lewd_items/inventory_icons/slimecore.dmi
Labels: Feature, Code Improvement

#8468 I am now the owner of Skyrat...
  .github/CODEOWNERS
Labels: GitHub

#8476 [FIX] Merge conflict resolution - zombieprison.dmm
  _maps/RandomZLevels/zombieprison.dmm
Labels: Fix, Map Edit

#8445 Fixes ushanka hiding hair
  code/modules/clothing/head/hat.dm
Labels: Tweak, Good First PR

#8467 power armor fix
  modular_skyrat/modules/powerarmor/code/powerarmor.dm
Labels: Feature, Balance/Rebalance, Fix

#8493 fix clay creation in sinks
  modular_skyrat/modules/primitive_fun/code/ceramics.dm
Labels: Fix

#8421 [MODULAR] [READY][FIXES] Cargodise Lost fixes
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/cargodiselost.dmm
  modular_skyrat/modules/mapping/code/datums/shuttles.dm
  modular_skyrat/modules/mapping/code/game/objects/structures/ghost_role_spawners.dm
Labels: Needs Review

#8482 New brig for Icebox :)
  _maps/icebox.json
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above_skyrat.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Below_skyrat.dmm
Labels: Feature, Map Edit, DO NOT MERGE

#8461 Restoring the skyrat version of the Borg tools.
  code/modules/mob/living/silicon/robot/robot_model.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  modular_skyrat/modules/borg_buffs/code/robot_model.dm
  tgstation.dme
Labels: Fix

#8505 fix speed upgrade still being in the techweb
  modular_skyrat/modules/powerarmor/code/powerarmor.dm
Labels: Fix

#8507 fix pipe and wire at delta arrivals
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
Labels: Fix, Map Edit

#8495 [modular] fixes the examine menu sprite preview
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species.dm
Labels: Fix

#8498 [modular][ready]adds a kilt for the captain
  modular_skyrat/master_files/icons/mob/clothing/uniform.dmi
  modular_skyrat/master_files/icons/obj/clothing/uniforms.dmi
  modular_skyrat/modules/command_vendor/code/vending/vending.dm
  modular_skyrat/modules/customization/modules/clothing/under/misc.dm
Labels: Needs Review

#8499 [nonmodular] makes the prefs tricolor select into color select buttons instead of text boxes
  code/modules/client/preferences.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/base.tsx
Labels: UI

#8500 [MODULAR] Fixes fishnet socks
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories.dm
Labels: Fix

#8501 [semimodular] adds a pick marking preset dropdown + reformats the limbs/markings page
  modular_skyrat/master_files/code/modules/client/preferences/middleware/limbs_and_markings.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/LimbsPage.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/data.ts
Labels: UI

#8509 Collars the singularity
  code/datums/components/singularity.dm
  code/game/objects/structures/window.dm
  modular_skyrat/master_files/code/game/objects/structures/railings.dm
  modular_skyrat/master_files/code/modules/power/singularity/containment_field.dm
  tgstation.dme
Labels: Fix
