Repository Skyrat-SS13/Skyrat-tg, pull requests merged in 2021-03, with the labels that each got.

#3726 [MODULAR] Ports hoodies from Citadel Station 13 RP
  modular_skyrat/modules/customization/__DEFINES/loadout.dm
  modular_skyrat/modules/customization/icons/mob/clothing/suit.dmi
  modular_skyrat/modules/customization/modules/client/loadout/suit.dm
  modular_skyrat/modules/customization/modules/clothing/suits/hoodies.dm
  tgstation.dme
Labels: Feature

#3728 Ghost Cafe Borgs assorted fixes
  modular_skyrat/modules/ghostcafe/code/modules/mob/living/silicon/robot/robot_ghostcafe.dm
Labels: Fix

#3738 Ghost Cafe plumbing area + small fixes
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  modular_skyrat/modules/ghostcafe/code/game/area/areas/centcom.dm
Labels: Feature, Fix, Map Edit

#3689 [NonModular] Sepia/lightpink rebalance
  code/modules/movespeed/modifiers/status_effects.dm
  code/modules/research/xenobiology/crossbreeding/_status_effects.dm
Labels: Balance/Rebalance

#3739 [NONMODULAR]Brings Noc regen in line with starlight and fleshmend
  code/datums/diseases/advance/symptoms/heal.dm
Labels: Tweak

#3754 [MODULAR] [FUCK] [SM] Cybersun Hardsuit Helmet Fix
  modular_skyrat/master_files/icons/mob/clothing/head_muzzled.dmi
Labels: Fix

#3760 [NONMODULAR] [FUCK] FIX FOR BLOBS BLOWING UP STATION WITH NUKE VORE
  code/modules/antagonists/nukeop/equipment/nuclearbomb.dm
Labels: Fix

#3758 Adjusts stamina damage of contractor batons.
  code/game/objects/items/melee/misc.dm
Labels: Balance/Rebalance

#3752 [MODULAR] Returns the pet bee of botany, Bumbles
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above_skyrat.dmm
  _maps/map_files/KiloStation/KiloStation_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
  modular_skyrat/master_files/code/modules/mob/living/simple_animal/friendly/bumbles.dm
  modular_skyrat/master_files/icons/mob/pets.dmi
  tgstation.dme
Labels: Feature, Map Edit

#3765 [Modular] Tactical Skirtleneck Digi Fix
  modular_skyrat/master_files/code/modules/clothing/non_anthro_clothes.dm
Labels: Fix

#3785 [Modular] Cybersun Hotfix
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/forgottenship_skyrat.dmm
Labels: Fix

#3788 [MODULAR] Fixes xeno tails vanishing when wagging
  modular_skyrat/modules/customization/icons/mob/sprite_accessory/xeno_parts.dmi
Labels: Fix

#3409 [SEMI-MODULAR] [READY] Space Hotel Rework
  _maps/RandomRuins/SpaceRuins/spacehotel_skyrat.dmm
  code/game/area/areas/ruins/space.dm
  code/game/objects/structures/ghost_role_spawners.dm
Labels: Feature, Map Edit, Needs Review

#3381 [MODULAR] Delta Med Changes
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
Labels: Feature, Map Edit, Removal, Stale

#3790 [Semi-modular] Fixes vapes for muzzled people
  code/game/objects/items/cigs_lighters.dm
  modular_skyrat/modules/customization/icons/mob/clothing/mask.dmi
Labels: Fix

#3768 [NON-MODULAR] Makes the teleprod weight class bulky
  code/game/objects/items/teleprod.dm
Labels: Balance/Rebalance

#3804 Repaths agent IDs in modular smuggler's satchels and traitor loadouts
  code/game/objects/items/storage/backpack.dm
  modular_skyrat/modules/moretraitoritems/code/game/objects/items/cards_id.dm
  modular_skyrat/modules/moretraitoritems/code/game/objects/items/storage/syndicate_loadout.dm
Labels: Fix

#3803 [SPEEDMERGE FOR NOOBS AND CAPTAINS] Adds memo for new ID system to HoP offices + Cap's spare safe
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/KiloStation/KiloStation_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
Labels: Feature, Map Edit

#3805 [NON-MODULAR] Gives the captain access to their own display case
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  code/game/objects/structures/displaycase.dm
Labels: Fix, Map Edit

#3795 [MODULAR] Ninja kit fix thing
  modular_skyrat/modules/moretraitoritems/code/game/objects/items/weaponry.dm
Labels: Fix

#3792 [NONMODULAR] Adds the new hoodies to the clothesmate.
  code/modules/vending/clothesmate.dm
Labels: Feature

#3807 Old to New ID system compliance
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  code/datums/id_trim/jobs.dm
  icons/mob/hud_old.dmi
  modular_skyrat/master_files/code/datums/id_trim/jobs.dm
  modular_skyrat/master_files/code/datums/id_trim/syndicate.dm
  modular_skyrat/master_files/icons/mob/hud.dmi
  modular_skyrat/master_files/icons/obj/card.dmi
  modular_skyrat/modules/assaultops/code/assaultops_spawners.dm
  modular_skyrat/modules/icspawning/code/game/objects/items/cards_ids.dm
  modular_skyrat/modules/icspawning/code/modules/clothing/outfits/standard.dm
  modular_skyrat/modules/mapping/code/genpop.dm
  modular_skyrat/modules/mapping/code/modules/jobs/job_types/shuttle_pilot.dm
  modular_skyrat/modules/mapping/code/modules/ruins/lavaland_ruin_code.dm
  tgstation.dme
Labels: Fix, Map Edit, Sprites

#3819 Fixes egregious merge conflicts
  .github/CODEOWNERS
  modular_skyrat/readme.md
  tgui/bin/tgui_.ps1
Labels: GitHub, UI

#3842 [Modular] Gives DS-1 The Offstation Variant Of The Protolathe / Circuit Imprinter
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
Labels: Balance/Rebalance, Map Edit

#3808 Removes cloning once and for all
  _maps/RandomRuins/SpaceRuins/whiteshipruin_box_skyrat.dmm
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/KiloStation/KiloStation_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  _maps/shuttles/station_ship.dmm
  code/_globalvars/lists/poll_ignore.dm
  code/datums/dna.dm
  code/modules/antagonists/revenant/revenant_abilities.dm
  code/modules/clothing/head/misc_special.dm
  modular_skyrat/master_files/code/_globalvars/maint_loot_trash.dm
  modular_skyrat/modules/cloning/code/_DEFINES/DNA.dm
  modular_skyrat/modules/cloning/code/_DEFINES/access.dm
  modular_skyrat/modules/cloning/code/_DEFINES/machines.dm
  modular_skyrat/modules/cloning/code/_DEFINES/poll_ignore.dm
  modular_skyrat/modules/cloning/code/datums/brain_damage/brain_trauma.dm
  modular_skyrat/modules/cloning/code/datums/brain_damage/phobia.dm
  modular_skyrat/modules/cloning/code/datums/brain_damage/special.dm
  modular_skyrat/modules/cloning/code/datums/mood_events/generic_negative_events.dm
  modular_skyrat/modules/cloning/code/datums/ruins/space.dm
  modular_skyrat/modules/cloning/code/datums/traits/_quirk.dm
  modular_skyrat/modules/cloning/code/datums/traits/negative.dm
  modular_skyrat/modules/cloning/code/game/area/Space_Station_13_areas.dm
  modular_skyrat/modules/cloning/code/game/machinery/cloning.dm
  modular_skyrat/modules/cloning/code/game/machinery/computer/cloning.dm
  modular_skyrat/modules/cloning/code/game/machinery/exp_cloner.dm
  modular_skyrat/modules/cloning/code/game/objects/effects/countdown.dm
  modular_skyrat/modules/cloning/code/game/objects/effects/spawners/lootdrop.dm
  modular_skyrat/modules/cloning/code/game/objects/items/circuitboards/computer_circuitboards.dm
  modular_skyrat/modules/cloning/code/game/objects/items/circuitboards/machine_circuitboards.dm
  modular_skyrat/modules/cloning/code/game/objects/items/manuals.dm
  modular_skyrat/modules/cloning/code/modules/atmospherics/gasmixtures/immutable_mixtures.dm
  modular_skyrat/modules/cloning/code/modules/library/lib_items.dm
  modular_skyrat/modules/cloning/code/modules/mob/living/brain/brain_item.dm
  modular_skyrat/modules/cloning/code/modules/research/designs/comp_board_designs.dm
  modular_skyrat/modules/cloning/code/modules/research/designs/machine_designs.dm
  modular_skyrat/modules/cloning/code/modules/research/techweb/all_nodes.dm
  modular_skyrat/modules/cloning/code/modules/ruins/spaceruin_code/cloning_lab.dm
  modular_skyrat/modules/cloning/icons/obj/machines/cloning.dmi
  modular_skyrat/modules/cloning/icons/obj/machines/cloning_pod.dmi
  modular_skyrat/modules/cloning/icons/obj/machines/cryo_mobs.dmi
  modular_skyrat/modules/cloning/readme.md
  tgstation.dme
Labels: Map Edit, Removal

#3855 Makes config entries the correct directory
  modular_skyrat/master_files/code/controllers/configuration/entries/skryat_config_entries.dm
  tgstation.dme
Labels: Administration, Config Update

#3854 Map Maintenance - Repurposes now unused cloning rooms & minor bugfixing.
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/KiloStation/KiloStation_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
Labels: Feature, Fix, Map Edit

#3846 [Modular] Implements more of the aesthetics module properly, deletes duplicates. Sprite fixes.
  modular_skyrat/modules/aesthetics/airlock_machines/airlock_machines.dm
  modular_skyrat/modules/aesthetics/camera/code/camera.dm
  modular_skyrat/modules/aesthetics/crates/icons/crates.dmi
  modular_skyrat/modules/aesthetics/device/device.dmi
  modular_skyrat/modules/aesthetics/intercom/code/intercom.dm
  modular_skyrat/modules/aesthetics/items_cyborg/items_cyborg.dmi
  modular_skyrat/modules/aesthetics/kitchen/kitchen.dmi
  modular_skyrat/modules/aesthetics/lights/code/lighting.dm
  modular_skyrat/modules/aesthetics/pda/pda.dmi
  modular_skyrat/modules/aesthetics/rack/code/rack.dm
  modular_skyrat/modules/aesthetics/stock_parts/stock_parts.dmi
  modular_skyrat/modules/aesthetics/storage/storage.dmi
  modular_skyrat/modules/aesthetics/telescience/telescience.dmi
Labels: Feature, Sprites

#3816 [NONMODULAR] Increases sniper projectile speed
  code/modules/projectiles/projectile/bullets/sniper.dm
Labels: Balance/Rebalance

#3817 [Modular] 'Fixes' monkey tail wagging
  modular_skyrat/modules/customization/modules/surgery/organs/tails.dm
Labels: Fix

#3856 [MODULAR]Adjusts security to be more inline with policy.
  modular_skyrat/modules/sec_haul/code/guns/bullets.dm
  modular_skyrat/modules/sec_haul/code/guns/token_system/gunsets.dm
  modular_skyrat/modules/sec_haul/code/guns/token_system/token_system.dm
  modular_skyrat/modules/sec_haul/code/security_sergeant/security_sergeant.dm
Labels: Tweak

#3861 [MODULAR] Adds item outline glow
  code/_onclick/hud/screen_objects.dm
  code/datums/components/storage/concrete/_concrete.dm
  code/datums/components/storage/storage.dm
  code/game/objects/items.dm
  modular_skyrat/modules/customization/modules/client/preferences.dm
  modular_skyrat/modules/item_outline/code/outline_procs.dm
  modular_skyrat/modules/item_outline/code/readme.md
  tgstation.dme
Labels: Feature

#3877 Ports beestation's gasmask
  code/_globalvars/lists/maintenance_loot.dm
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  code/game/objects/structures/crates_lockers/closets/utility_closets.dm
  modular_skyrat/master_files/icons/mob/clothing/mask.dmi
  modular_skyrat/master_files/icons/mob/clothing/mask_muzzled.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/masks.dmi
  modular_skyrat/modules/customization/modules/clothing/masks/breath.dm
Labels: Feature

#3878 Ports a new space ambience from beestation
  code/_globalvars/lists/ambience.dm
  modular_skyrat/master_files/sound/ambience/starlight.ogg
Labels: Sound

#3875 [NONMODULAR]Employs interns less.
  code/datums/station_traits/neutral_traits.dm
Labels: Removal

#3879 [Modular] New Whiteship, Various Fixes For Dawson's Ruins
  _maps/shuttles/station_ship.dmm
  _maps/shuttles/whiteship_ship.dmm
  modular_skyrat/modules/mapping/code/datums/shuttles.dm
  modular_skyrat/modules/ruins/maps/space/posterpandamonium.dmm
  modular_skyrat/modules/ruins/maps/space/toystore.dmm
Labels: Feature, Fix, Map Edit

#3886 [Modular] Fixes destructible ghost cafe wall
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
Labels: Fix, Map Edit

#3897 [MODULAR] Ling Horror Bugfix
  modular_skyrat/modules/horrorform/code/modules/mob/hostile/true_changeling.dm
Labels: Fix

#3883 [MODULAR] [ATOMIZED] Adds Free Trade Union ERT, lays out groundwork for more faction ERTs in the near future [PART 1]
  modular_skyrat/modules/ERT_Factions/FTU/code/items.dm
  modular_skyrat/modules/ERT_Factions/FTU/code/projectiles.dm
  modular_skyrat/modules/ERT_Factions/FTU/icons/PLACEHOLDER.dm
  modular_skyrat/modules/ERT_Factions/FTU/icons/clothes/PLACEHOLDER.dm
  modular_skyrat/modules/ERT_Factions/FTU/icons/clothes/armorhelmets.dmi
  modular_skyrat/modules/ERT_Factions/FTU/icons/clothes/armorsuits.dmi
  modular_skyrat/modules/ERT_Factions/FTU/icons/clothes/objecticons.dmi
  modular_skyrat/modules/ERT_Factions/FTU/icons/weapons/PLEACEHOLDER.dm
  modular_skyrat/modules/ERT_Factions/FTU/icons/weapons/lefthand.dmi
  modular_skyrat/modules/ERT_Factions/FTU/icons/weapons/mags.dmi
  modular_skyrat/modules/ERT_Factions/FTU/icons/weapons/projectiles.dmi
  modular_skyrat/modules/ERT_Factions/FTU/icons/weapons/righthand.dmi
  modular_skyrat/modules/ERT_Factions/FTU/icons/weapons/serviceguns.dmi
  modular_skyrat/modules/ERT_Factions/FTU/sound/ignis_hit.ogg
  modular_skyrat/modules/ERT_Factions/FTU/sound/ignis_toggle.ogg
  modular_skyrat/modules/ERT_Factions/FTU/sound/magnum_slide.ogg
  modular_skyrat/modules/ERT_Factions/FTU/sound/r37.ogg
  modular_skyrat/modules/ERT_Factions/FTU/sound/r40.ogg
  modular_skyrat/modules/ERT_Factions/FTU/sound/serpent_fire.ogg
Labels: Code Improvement, Feature, Sound

#3901 [OOPS] The hotel spawns properly now
  code/datums/ruins/space.dm
Labels: Fix

#3899 Pacification bans + DNR bans + Respawn Bans
  code/__DEFINES/~skyrat_defines/banning.dm
  code/modules/admin/sql_ban_system.dm
  code/modules/mob/mob.dm
  html/admin/banpanel.css
  modular_skyrat/modules/banning/code/skyrat_bans.dm
  tgstation.dme
Labels: Feature, Fix

#3880 Replaces generic ambience with ERIS style sounds and removes the LRP ones from the ambience pool
  code/_globalvars/lists/ambience.dm
  code/controllers/subsystem/ambience.dm
  code/game/area/areas.dm
  modular_skyrat/master_files/code/_globalvars/lists/ambience.dm
  modular_skyrat/master_files/sound/ambience/ambigen1.ogg
  modular_skyrat/master_files/sound/ambience/ambigen2.ogg
  modular_skyrat/master_files/sound/ambience/ambigen3.ogg
  modular_skyrat/master_files/sound/ambience/ambigen4.ogg
  modular_skyrat/master_files/sound/ambience/ambigen5.ogg
  modular_skyrat/master_files/sound/ambience/ambigen6.ogg
  modular_skyrat/master_files/sound/ambience/ambigen7.ogg
  modular_skyrat/master_files/sound/ambience/ambigen8.ogg
  modular_skyrat/master_files/sound/ambience/ambigen9.ogg
  tgstation.dme
Labels: Removal, Sound, Test Merged

#3849 [NONMODULAR] get this ugly ass ID shit off our chests
  code/modules/mob/living/carbon/human/human_update_icons.dm
Labels: Fix

#3900 Fun vendors + Shockcollar
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/KiloStation/KiloStation_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
  modular_skyrat/modules/customization/icons/mob/clothing/neck.dmi
  modular_skyrat/modules/nsfw/aphros/code/chemistry/aphro_keg.dm
  modular_skyrat/modules/nsfw/aphros/code/chemistry/reagents/aphrodisiac_reagent.dm
  modular_skyrat/modules/nsfw/aphros/code/chemistry/recipes/aphrodisiac.dm
  modular_skyrat/modules/nsfw/aphros/icons/aphrokeg.dmi
  modular_skyrat/modules/nsfw/aphros/readme.md
  modular_skyrat/modules/nsfw/shockcollar/code/shock_collar.dm
  modular_skyrat/modules/nsfw/shockcollar/icons/collar.dmi
  modular_skyrat/modules/nsfw/vendors/code/item_overrides.dm
  modular_skyrat/modules/nsfw/vendors/code/naughty_vendor.dm
  modular_skyrat/modules/nsfw/vendors/icons/vending.dmi
  tgstation.dme
Labels: Feature

#3919 Fixes QM office maint door access req and name on icebox
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
Labels: Fix, Map Edit

#3928 [Modular] Replaces advanced defib with compact defib on cargo list.
  modular_skyrat/modules/cargo/code/packs.dm
Labels: Fix

#3927 [Modular] Allows you to craft blindfolds into fake blindfolds with wirecutters
  modular_skyrat/modules/modular_items/code/datums/components/crafting/recipes/tailoring.dm
  tgstation.dme
Labels: Feature

#3926 [Modular] Better KinkMate sprite
  modular_skyrat/modules/nsfw/vendors/icons/vending.dmi
Labels: Sprites

#3931 Removes dabbing
  modular_skyrat/modules/emotes/code/emotes.dm
Labels: Removal

#3941 [Modular] Removes Hitman bundle from the uplink.
  modular_skyrat/master_files/code/modules/uplink/uplink_items.dm
Labels: Removal

#3944 [MODULAR] Fixed chokehold
  code/__DEFINES/~skyrat_defines/combat.dm
  modular_skyrat/master_files/code/datums/martial/cqcplus.dm
Labels: Balance/Rebalance, Fix

#3962 oooopsie monke did an oooopsie with tgui ohhh nooooooo
  tgui/packages/tgui-panel/styles/goon/chat-dark.scss
  tgui/packages/tgui-panel/styles/goon/chat-light.scss
Labels: UI

#3970 [Modular] Fixes durathread helmet disappear on muzzled people
  modular_skyrat/master_files/code/modules/clothing/non_anthro_clothes.dm
Labels: Fix

#3959 [NON-MODULAR] Nerfs plasma sheet generation in the crystalliser
  code/modules/atmospherics/machinery/components/gas_recipe_machines/atmos_machines_recipes.dm
Labels: Balance/Rebalance

#3929 Minor Hotel fixes
  _maps/RandomRuins/SpaceRuins/spacehotel_skyrat.dmm
Labels: Fix, Map Edit

#3973 [Modular] Adds fake blindfold to the loadout
  modular_skyrat/modules/customization/modules/client/loadout/glasses.dm
Labels: Feature

#3982 The security medic's helmet can now have a flashlight attached
  modular_skyrat/modules/sec_haul/code/security_medic/secmed_clothes.dm
Labels: Fix

#3921 [MODULAR] Makes the Security Brain Surgeon into the Security Paramedic
  modular_skyrat/master_files/code/datums/id_trim/jobs.dm
  modular_skyrat/modules/sec_haul/code/security_medic/security_medic.dm
Labels: Balance/Rebalance, Feature, Removal

#3974 [NONMODULAR] Removes Xray and Thermal eyes from research tree
  code/modules/research/designs/medical_designs.dm
  modular_skyrat/modules/implants/code/research/techweb/medical_nodes.dm
Labels: Removal

#3981 [PENDING TEST] Probably fixes blueshield etc access
  modular_skyrat/master_files/code/datums/id_trim/jobs.dm
Labels: Fix

#3902 Simplifies antagonist scaling coefficient and adds admin feedback
  code/game/gamemodes/changeling/changeling.dm
  code/game/gamemodes/changeling/traitor_chan.dm
  code/game/gamemodes/traitor/traitor.dm
Labels: Balance/Rebalance

#3971 [MODULAR] Reduces ninja kit vibro sword damage
  modular_skyrat/modules/moretraitoritems/code/game/objects/items/weaponry.dm
Labels: Balance/Rebalance

#3983 [Modular] Adds two new plushies to the Loadout
  modular_skyrat/modules/customization/game/objects/items/plushes.dm
  modular_skyrat/modules/customization/icons/obj/plushes.dmi
  modular_skyrat/modules/customization/modules/client/loadout/backpack.dm
Labels: Feature

#4004 [MODULAR] Adds suspicious spider plushie
  modular_skyrat/modules/customization/game/objects/items/plushes.dm
  modular_skyrat/modules/customization/game/objects/items/sound/spiderplush.ogg
  modular_skyrat/modules/customization/icons/obj/plushes.dmi
  modular_skyrat/modules/customization/modules/client/loadout/backpack.dm
Labels: Feature

#3984 Malorian Arms 3516 and Johnny Robohand bundle
  modular_skyrat/master_files/code/modules/uplink/uplink_items.dm
  modular_skyrat/modules/3516/code/3516.dm
  modular_skyrat/modules/3516/code/bodypart_autosurgeon.dm
  modular_skyrat/modules/3516/code/silverhand_bundle.dm
  modular_skyrat/modules/3516/icons/3516.dmi
  modular_skyrat/modules/3516/icons/3516_mag.dmi
  modular_skyrat/modules/3516/sound/fire.ogg
  modular_skyrat/modules/3516/sound/fire2.ogg
  modular_skyrat/modules/3516/sound/release.ogg
  modular_skyrat/modules/3516/sound/reload.ogg
  modular_skyrat/modules/3516/sound/slide.ogg
  modular_skyrat/modules/3516/sound/wakeup.ogg
  tgstation.dme
Labels: Feature

#4026 Removes redundant assops stuff
  code/game/objects/effects/decals/decal.dm
  modular_skyrat/modules/assaultops/code/assaultops_capturemachine.dm
  tgstation.dme
Labels: Removal

#4028 Resets TG maps to TG versions
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Edit

#4036 [Nonmodular] Reverts Chef CQC back to being kitchen only
  code/datums/martial/cqc.dm
Labels: Removal, Revert

#4045 [FUCK][NONMODULAR][SM]Fixes someones fucky wucky!!!
  code/modules/jobs/jobs.dm
Labels: Fix

#4047 [MIRROR] META: Fixes for camera ctags, wires, pipes, apc's #4044
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
Labels: Map Edit

#4051 Adds blueshield area to icebox
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
Labels: Map Edit

#4061 [Modular] Adds super glue to traitors.
  code/__DEFINES/~skyrat_defines/traits.dm
  modular_skyrat/master_files/code/modules/uplink/uplink_items.dm
  modular_skyrat/master_files/icons/obj/tools.dmi
  modular_skyrat/modules/moretraitoritems/code/game/objects/items/device/glue.dm
  tgstation.dme
Labels: Feature

#4100 [MODULAR] Adds one new plushie
  modular_skyrat/modules/customization/game/objects/items/plushes.dm
  modular_skyrat/modules/customization/icons/obj/plushes.dmi
  modular_skyrat/modules/customization/modules/client/loadout/backpack.dm
Labels: Feature

#4076 True changeling refactor
  modular_skyrat/modules/horrorform/code/modules/mob/hostile/true_changeling.dm
Labels: Balance/Rebalance, Refactor

#3997 Makes chameleon gear usable by furries and adds a slowdown button
  modular_skyrat/master_files/code/modules/clothing/chameleon.dm
  tgstation.dme
Labels: Fix

#4104 Tramstation: Skyrat Edition
  _maps/map_files/tramstation/tramstation_skyrat.dmm
  icons/turf/areas.dmi
Labels: Feature, Map Edit, Sprites

#4107 FIRE ALL PHASERS at MONKE [CONFIRMED KILL]
  code/datums/ai/monkey/monkey_behaviors.dm
Labels: Fix

#4117 [Modular] Ports The VG Turf Decals From Oldbase
  modular_skyrat/modules/mapping/code/game/objects/effects/decals/vgdecals.dm
  modular_skyrat/modules/mapping/icons/turf/vgstation_decals.dmi
  tgstation.dme
Labels: Sprites

#4128 [NONMODULAR]Lavaland swarmer ruin change
  _maps/RandomRuins/LavaRuins/lavaland_surface_swarmer_crash.dmm
Labels: Map Edit, Tweak

#4116 [Modular] Cybersun Hotfix
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/forgottenship_skyrat.dmm
Labels: Fix

#4115 [MODULAR] Tramstation Fixes
  _maps/map_files/tramstation/tramstation_skyrat.dmm
Labels: Fix, Map Edit

#4129 [Modular] Tramstation Map Fixes Part 3
  _maps/map_files/tramstation/tramstation_skyrat.dmm
Labels: Fix, Map Edit

#4138 [NONMODULAR] No minors allowed.
  code/game/objects/items/cards_ids.dm
Labels: Fix

#4043 Added Metas Grenadelauncher to the Armory of Icebox and Delta
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
Labels: Balance/Rebalance, Feature, Map Edit

#3930 [READY] Alek you're a madman [Free Trade Union ERT Extensions]
  modular_skyrat/modules/ERT_Factions/FTU/code/items.dm
  modular_skyrat/modules/ERT_Factions/FTU/code/projectiles.dm
  modular_skyrat/modules/ERT_Factions/FTU/icons/PLACEHOLDER.dm
  modular_skyrat/modules/ERT_Factions/FTU/icons/clothes/PLACEHOLDER.dm
  modular_skyrat/modules/ERT_Factions/FTU/icons/weapons/PLEACEHOLDER.dm
  modular_skyrat/modules/bulletrebalance/sniper.dm
  tgstation.dme
Labels: Needs Review

#4164 [SPEEDMERGE CANDIDATE] Free Trade Union ERT Fixes
  modular_skyrat/modules/ERT_Factions/FTU/code/items.dm
  modular_skyrat/modules/ERT_Factions/FTU/code/projectiles.dm
Labels: Fix

#4174 [FUCK][MODULAR][SM]Crocin/Hexa fixes
  modular_skyrat/modules/nsfw/aphros/code/chemistry/reagents/aphrodisiac_reagent.dm
Labels: Fix

#4170 [Modular] Adds certain outfits from the KinkMate to the loadout selection
  modular_skyrat/modules/customization/modules/client/loadout/uniform.dm
Labels: Feature

#4135 [MODULAR] Tramstation Pipe Fix
  _maps/map_files/tramstation/tramstation_skyrat.dmm
Labels: Feature, Fix, Map Edit

#4173 [Semi-Modular] Ghostroles Can Now Use Quirks
  code/modules/awaymissions/corpse.dm
  modular_skyrat/master_files/code/datums/id_trim/syndicate.dm
  modular_skyrat/master_files/icons/obj/card.dmi
  modular_skyrat/modules/ghostcafe/code/game/objects/structures/ghost_role_spawners.dm
  modular_skyrat/modules/mapping/code/game/objects/structures/ghost_role_spawners.dm
Labels: Feature, Fix

#4191 [MODULAR]Das Tool Failure
  modular_skyrat/modules/modular_items/code/game/objects/items/cross.dm
Labels: Fix

#4192 DANGER ZONE: PREF FILES RESET TO TG STANDARD [DEFCON 1]
  modular_skyrat/modules/customization/modules/client/preferences.dm
  modular_skyrat/modules/customization/modules/client/preferences_savefile.dm
Labels: DEVCON 1(FUCK)

#4194 EMERGENCY FIX - SILICONS CAN DO SHIT AGAIN!
  code/game/machinery/_machinery.dm
Labels: Fix

#4166 Revert "[NONMODULAR]Lavaland swarmer ruin change"
  _maps/RandomRuins/LavaRuins/lavaland_surface_swarmer_crash.dmm
Labels: Map Edit, Revert

#4189 [NONMODULAR] Gives Engineering Borgs Holofans
  code/modules/mob/living/silicon/robot/robot_modules.dm
Labels: Feature

#4190 [MODULAR] Reverts the tool sprites for Engineering Borgs back to TG sprites
  modular_skyrat/modules/aesthetics/items_cyborg/items_cyborg.dm
Labels: Revert

#4219 [MODULAR]Security Sergeants now have 2 slots again
  modular_skyrat/modules/sec_haul/code/security_sergeant/security_sergeant.dm
Labels: Fix

#4046 Replaces icebox maint bar with the better one from Citadel
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
Labels: Feature, Map Edit

#4226 Fixed "Safeguard" run time error in game options config
  config/game_options.txt
Labels: Config Update, Fix

#4236 Ports some hairs
  modular_skyrat/modules/customization/icons/mob/sprite_accessory/hair.dmi
  modular_skyrat/modules/customization/icons/mob/sprite_accessory/vox_hair.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/hair.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/vox.dm
Labels: Sprites

#4255 [Modular] Restores Half-Shaved Hairstyle
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/hair.dm
Labels: Fix

#4231 [Modular] Gives Ghostrole Lathes Circuitry
  modular_skyrat/modules/integrated_circuits/code/research/designs/integrated_circuit_designs.dm
Labels: Balance/Rebalance

#4246 [SEMI-MODULAR] Engineering Borg Powertools
  code/modules/mob/living/silicon/robot/robot_modules.dm
  modular_skyrat/modules/cyborg/code/borgpowertools.dm
  modular_skyrat/modules/cyborg/icons/items_cyborg.dmi
  modular_skyrat/modules/cyborg/readme.md
  tgstation.dme
Labels: Feature

#4266 [Modular] ShipStation Maintenance
  _maps/map_files/ShipStation/ShipStation.dmm
Labels: Map Edit

#4275 [Non-modular]Examining a syndicate bomb no longer tells you how much it has left before it blows
  code/game/machinery/syndicatebomb.dm
Labels: Balance/Rebalance

#4269 [SEMI-MODULAR] Mediborg Advanced Surgical Tool Upgrade
  code/modules/research/techweb/all_nodes.dm
  modular_skyrat/modules/cyborg/code/mechafabricator_designs.dm
  modular_skyrat/modules/cyborg/code/robot_upgrades.dm
  modular_skyrat/modules/cyborg/readme.md
Labels: Feature

#4267 GUBMAN 2 & 2.5 REVISITED: REMASTERED HD
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
  modular_skyrat/modules/aesthetics/guns/code/guns.dm
  modular_skyrat/modules/aesthetics/guns/icons/guns_gubman2.dmi
Labels: Sprites, Tweak

#4298 [NONMODULAR]Heretics no longer gib.
  code/modules/antagonists/eldritch_cult/eldritch_knowledge.dm
Labels: Tweak

#4027 [Modular] [SM] Fixes an issue with Shipstation's lathe being the wrong type.
  _maps/shuttles/station_ship.dmm
Labels: Fix, Map Edit

#4211 [Modular]Mechanical Hydra-Heads.
  modular_skyrat/master_files/code/datums/traits/neutral.dm
  modular_skyrat/modules/hydra/neutral.dm
  modular_skyrat/modules/hydra/other_markings.dmi
  modular_skyrat/modules/hydra/readme.md
  modular_skyrat/modules/hydra/snouts.dmi
  tgstation.dme
Labels: DO NOT MERGE

#4225 Changeling nerf + Horror form equilibrium
  code/__DEFINES/~skyrat_defines/signals.dm
  code/datums/components/pellet_cloud.dm
  code/modules/antagonists/changeling/changeling.dm
  modular_skyrat/master_files/code/modules/uplink/uplink_items.dm
  modular_skyrat/modules/horrorform/code/modules/antagonists/changeling/powers/horror_form.dm
  modular_skyrat/modules/horrorform/code/modules/mob/hostile/true_changeling.dm
  modular_skyrat/modules/horrorform/icons/bone_fragment.dmi
  modular_skyrat/modules/horrorform/icons/mob/animal.dmi
Labels: Balance/Rebalance, Test Merged

#4322 [NONMODULAR]More Heretic Changes
  code/modules/antagonists/eldritch_cult/eldritch_knowledge.dm
Labels: Tweak

#4326 Lighting runtime fix
  code/modules/power/lighting.dm
Labels: Fix

#4327 [Non-Modular] [SM] Whiteship fix
  code/modules/shuttle/shuttle.dm
Labels: Fix

#4343 [MODULAR] Fishnet Socks
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories.dm
Labels: Feature

#4311 [Modular] Ports Advanced Tools From Oldbase, And A Ruin To Go With
  modular_skyrat/modules/ruins/code/game/objects/items/tools/tools.dm
  modular_skyrat/modules/ruins/icons/obj/advancedtools.dmi
  modular_skyrat/modules/ruins/maps/space/alientoollab.dmm
  modular_skyrat/modules/ruins/space.dm
  tgstation.dme
Labels: Feature

#4317 [Modular Item] Alien monkeycube
  modular_skyrat/modules/modular_items/code/game/objects/items/miscellaneous.dm
Labels: Feature

#3845 [Modular] Reproductive integration test
  code/__DEFINES/~skyrat_defines/preferences.dm
  code/__DEFINES/~skyrat_defines/signals.dm
  modular_skyrat/modules/cum/chemistry/reagents/cum_reagent.dm
  modular_skyrat/modules/cum/chemistry/recipes/cum.dm
  modular_skyrat/modules/cum/cum.dmi
  modular_skyrat/modules/cum/effects/cumface.dm
  modular_skyrat/modules/cum/effects/cumstain.dm
  modular_skyrat/modules/cum/jerkoff_verb.dm
  modular_skyrat/modules/cum/seaofmen_keg.dm
  modular_skyrat/modules/customization/modules/client/preferences.dm
  tgstation.dme
  tgui/bin/tgui.bat
Labels: Feature, Test Merged, UI

#4348 Fixes for integrated circuit printer
  modular_skyrat/modules/integrated_circuits/code/integrated_electronics/core/printer.dm
Labels: Fix

#4342 [MODULAR] Replaces our old cat tail wagging sprite with the new one from upstream that was originally intended for skyrat.
  modular_skyrat/modules/customization/icons/mob/mutant_bodyparts.dmi
Labels: Feature

#4340 [Modular] SolGov ID Trims, Removes Heretical TerraGov Reference
  code/modules/events/market_crash.dm
  modular_skyrat/master_files/code/datums/id_trim/solgov.dm
  modular_skyrat/master_files/icons/obj/card.dmi
  tgstation.dme
Labels: Feature, Removal

#4347 [NON-MODULAR] Gives Engie Borgs Light Replacers
  code/modules/mob/living/silicon/robot/robot_modules.dm
Labels: Feature

#4353 [modularish] fixes some coat descriptions
  code/modules/clothing/suits/wintercoats.dm
  modular_skyrat/modules/sec_haul/code/peacekeeper/peacekeeper_clothing.dm
Labels: Fix

#4361 More integrated circuit fixes
  modular_skyrat/modules/integrated_circuits/code/integrated_electronics/core/analyzer.dm
  modular_skyrat/modules/integrated_circuits/code/integrated_electronics/core/assemblies.dm
  modular_skyrat/modules/integrated_circuits/code/integrated_electronics/core/debugger.dm
  modular_skyrat/modules/integrated_circuits/code/integrated_electronics/core/detailer.dm
  modular_skyrat/modules/integrated_circuits/code/integrated_electronics/core/integrated_circuit.dm
  modular_skyrat/modules/integrated_circuits/code/integrated_electronics/core/printer.dm
  modular_skyrat/modules/integrated_circuits/code/integrated_electronics/core/saved_circuits.dm
  modular_skyrat/modules/integrated_circuits/code/integrated_electronics/core/wirer.dm
Labels: Fix, Refactor

#4366 Replaces all freezers with new freezers
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/Deltastation/DeltaStation2_skyrat_old.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat_old.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above_skyrat.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above_skyrat_old.dmm
  _maps/map_files/KiloStation/KiloStation_skyrat.dmm
  _maps/map_files/KiloStation/KiloStation_skyrat_old.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat_old.dmm
  _maps/map_files/ShipStation/ShipStation.dmm
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  _maps/map_files/tramstation/tramstation_skyrat.dmm
  _maps/map_files/tramstation/tramstation_skyrat_old.dmm
  _maps/shuttles/station_ship.dmm
  _maps/shuttles/whiteship_ship.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/IceRuins/icemoon_underground_syndicate_base1_skyrat.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1_skyrat.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/oldstation_skyrat.dmm
Labels: Map Edit

#4372 MAP RESET
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above_skyrat.dmm
  _maps/map_files/KiloStation/KiloStation_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
  _maps/map_files/tramstation/tramstation_skyrat.dmm
Labels: Map Edit

#4376 Updates .github to TG upstream standard, remember to merge master.
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/workflows/ci_suite.yml
  .github/workflows/compile_changelogs.yml
  .github/workflows/docker_publish.yml
  .github/workflows/gbp.yml
  .github/workflows/generate_documentation.yml
  .github/workflows/round_id_linker.yml
  .github/workflows/stale.yml
  .github/workflows/update_tgs_dmapi.yml
Labels: GitHub

#4374 [MOSTLY MODULAR] Removes stunbaton crate from cargo, replaces with baton crate
  code/modules/cargo/packs.dm
  modular_skyrat/modules/cargo/code/packs.dm
Labels: Feature, Removal

#4195 [MODULAR] Tramstation Medical Storage APC is now connected to the grid
  _maps/map_files/tramstation/tramstation_skyrat.dmm
Labels: Fix, Map Edit, Stale

#4369 [QUESTIONABLY MODULAR] Changes the cargopack armor vests to the appropriate type
  code/modules/cargo/packs.dm
  modular_skyrat/modules/cargo/code/bloat.dm
Labels: Code Improvement

#4385 [SEMI-MODULAR] Makes firelocks manually openable
  code/game/machinery/doors/firedoor.dm
  modular_skyrat/master_files/code/game/machinery/doors/firedoor.dm
  modular_skyrat/master_files/readme.md
  modular_skyrat/modules/aesthetics/firedoor/code/firedoor.dm
  tgstation.dme
Labels: Feature

#4415 Vex donor fix
  modular_skyrat/modules/customization/modules/client/loadout/donator/personal/donator_personal.dm
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
Labels: Fix

#4417 [Non-modular]Fixes duplicating changeling actions
  code/modules/antagonists/changeling/changeling.dm
Labels: Fix

#4420 [MODULAR] Replaces divisions in the CME defines with multiplications
  modular_skyrat/modules/cme/code/_cme_defines.dm
Labels: Code Improvement

#4422 [MODULAR] Replaces an amogus reference with a slightly less obvious amogus reference
  modular_skyrat/modules/moretraitoritems/code/game/objects/items/granters.dm
Labels: Balance/Rebalance

#4412 [MODULAR] Fixes distro and scrubber pipes being connected by a layer adaptor on deltastation (prob speedmerge?)
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
Labels: Fix, Map Edit

#4397 Fixes icebox pool
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above_skyrat.dmm
Labels: Fix, Map Edit

#4407 CME occurrence rebalance
  modular_skyrat/modules/cme/code/_cme_defines.dm
  modular_skyrat/modules/cme/code/cme.dm
Labels: Balance/Rebalance

#4430 [Modular] I want to be free of Ship, but I must labor on
  _maps/map_files/ShipStation/ShipStation.dmm
  _maps/shuttles/station_ship.dmm
Labels: Feature, Map Edit

#4433 [MODULAR] Division bad, division begone
  modular_skyrat/modules/cme/code/cme.dm
Labels: Code Improvement

#4398 [TM-Only] Probably fixes shotguns firing in waves at high TiDi
  code/datums/components/pellet_cloud.dm
Labels: Fix

#4441 Pool fix 2: Return of the Power
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
Labels: Fix, Map Edit

#4443 Fixes tail related moodlets
  code/modules/mob/living/carbon/human/species.dm
Labels: Fix

#4468 [Modular] Charlie SM Feex
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/oldstation_skyrat.dmm
Labels: Fix

#4439 [MODULAR] Lets cargo purchase exodrone fuel for a 'steep' price.
  modular_skyrat/modules/cargo/code/packs.dm
Labels: Feature

#4474 [NON-MODULAR] Disables Space Adaptation
  code/datums/mutations/space_adaptation.dm
Labels: Config Update

#4491 [Modular] Aesthetics Cleanup, New Sprites for a handful of PDA Cartridges
  modular_skyrat/modules/aesthetics/guns/icons/guns.dmi
  modular_skyrat/modules/aesthetics/janitor/janitor.dmi
  modular_skyrat/modules/aesthetics/pda/pda.dm
  modular_skyrat/modules/aesthetics/pda/pda.dmi
  modular_skyrat/modules/aesthetics/recycling/recycling.dmi
  modular_skyrat/modules/aesthetics/tools/icons/tools.dmi
  modular_skyrat/modules/aesthetics/tools/tools.dmi
Labels: Fix, Removal, Sprites

#4205 Civil Dispute Officers
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/KiloStation/KiloStation_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
  _maps/map_files/tramstation/tramstation_skyrat.dmm
  code/__DEFINES/jobs.dm
  code/__DEFINES/~skyrat_defines/projectiles.dm
  code/game/gamemodes/changeling/changeling.dm
  code/game/gamemodes/cult/cult.dm
  code/game/gamemodes/eldritch_cult/eldritch_cult.dm
  code/game/gamemodes/revolution/revolution.dm
  code/game/gamemodes/traitor/traitor.dm
  code/modules/jobs/jobs.dm
  code/modules/research/techweb/all_nodes.dm
  config/jobs.txt
  modular_skyrat/master_files/code/datums/id_trim/jobs.dm
  modular_skyrat/master_files/icons/obj/card.dmi
  modular_skyrat/modules/antagonists/code/gamemodes.dm
  modular_skyrat/modules/modular_items/code/game/objects/items/storage/bags.dm
  modular_skyrat/modules/sec_haul/code/guns/ammo.dm
  modular_skyrat/modules/sec_haul/code/guns/bullets.dm
  modular_skyrat/modules/sec_haul/code/guns/guns.dm
  modular_skyrat/modules/sec_haul/code/guns/token_system/gunsets.dm
  modular_skyrat/modules/sec_haul/code/guns/token_system/token_system.dm
  modular_skyrat/modules/sec_haul/code/junior_officer/junior_officer.dm
  modular_skyrat/modules/sec_haul/code/junior_officer/junior_officer_clothes.dm
  modular_skyrat/modules/sec_haul/code/junior_officer/pepperball_gun.dm
  modular_skyrat/modules/sec_haul/code/misc/vending.dm
  modular_skyrat/modules/sec_haul/icons/guns/ammoboxes.dmi
  modular_skyrat/modules/sec_haul/icons/guns/mags.dmi
  modular_skyrat/modules/sec_haul/icons/guns/pepperball.dmi
  modular_skyrat/modules/sec_haul/icons/guns/projectiles.dmi
  modular_skyrat/modules/sec_haul/icons/junior_officer/cap.dmi
  modular_skyrat/modules/sec_haul/icons/junior_officer/items.dmi
  modular_skyrat/modules/sec_haul/icons/junior_officer/suit.dmi
  modular_skyrat/modules/sec_haul/icons/junior_officer/uniform.dmi
  modular_skyrat/modules/sec_haul/icons/junior_officer/uniform_digi.dmi
  tgstation.dme
Labels: Config Update, Feature, Map Edit

#4373 [Modular] Interdyne 2.0, + Syndie Wardrobe
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/IceRuins/icemoon_underground_syndicate_base1_skyrat.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1_skyrat.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/forgottenship_skyrat.dmm
  modular_skyrat/modules/mapping/code/modules/vending/wardrobes.dm
  modular_skyrat/modules/mapping/icons/obj/vending.dmi
  tgstation.dme
Labels: Feature, Map Edit

#4142 [Semi-Modular] OutpostStation's Revengeance
  _maps/map_files/OutpostStation/outpoststation.dmm
  _maps/outpoststation.json
  _maps/shuttles/arrival_outpost.dmm
  _maps/shuttles/emergency_outpost.dmm
  _maps/shuttles/whiteship_outpost.dmm
  code/modules/shuttle/shuttle.dm
  config/maps.txt
  modular_skyrat/modules/mapping/code/datums/shuttles.dm
Labels: Config Update, Feature, Map Edit, Test Merged
