Repository Skyrat-SS13/Skyrat-tg, pull requests merged in 2021-11, with the labels that each got.

#9171 Fixes emp_act on gun/ballistic
  modular_skyrat/modules/sec_haul/code/guns/guns.dm
Labels: Fix

#9170 Fixes the m23 and m2 shotguns being unable to be loaded with the ammo they start with
  modular_skyrat/modules/sec_haul/code/guns/guns.dm
Labels: Fix

#9172 Perfume cap can now be toggled by using them inhand
  modular_skyrat/modules/pollution/code/perfumes.dm
Labels: hacktoberfest-accepted, Quality of Life

#9177 [MODULAR][SPEED MERGE][FUCK][FIX] Fixes a very crucial oversight on my part.
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/cargodiselost.dmm
Labels: Fix

#9173 Added GoldenAlpharex' donator item
  modular_skyrat/master_files/icons/donator/mob/clothing/eyes.dmi
  modular_skyrat/master_files/icons/donator/obj/clothing/glasses.dmi
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
  modular_skyrat/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
Labels: hacktoberfest-accepted

#9189 fixes the forge from the reagent refactor
  modular_skyrat/modules/reagent_forging/code/modules/reagent_forging/forge.dm
Labels: Fix

#9207 Multiple APC warning fix
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
Labels: Fix, Map Edit

#9196 [MODULAR] Moves the departmental guards baton to their backpack on spawn.
  modular_skyrat/modules/goofsec/jobs/department_guards.dm
Labels: Fix

#9115 [nonmodular][ready](hopefully) gets all the sec items that were missed in the reskinning
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/under/jobs/security.dm
  modular_skyrat/modules/customization/modules/clothing/suits/misc.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_heads.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_suit.dm
Labels: UI, Needs Review, Sprites, Sound, Config Update, hacktoberfest-accepted

#9238 [non-modular][ready][fix]unfucking the new reskins
  code/modules/clothing/under/jobs/security.dm
Labels: Needs Review

#9236 [modular][ready]makes the victorian vests show up in the loadout
  modular_skyrat/modules/loadouts/loadout_items/under/loadout_datum_under.dm
Labels: Fix, Needs Review

#9227 Re-centers the title screen
  code/game/turfs/closed/_closed.dm
Labels: Fix

#9264 Fixes oversized headpatting.
  code/modules/mob/living/carbon/carbon_defense.dm
Labels: Fix

#9243 Fixes the corporate deceit loadout having an error item
  modular_skyrat/modules/moretraitoritems/code/game/objects/items/storage/syndicate_loadout.dm
Labels: Fix

#9186 High luminosity eyes now keep the eye colour they are set to
  code/modules/surgery/organs/eyes.dm
  modular_skyrat/master_files/icons/mob/human_face.dmi
Labels: Needs Sprites Pictures, Quality of Life

#9184 [MODULAR] Adds Trash Piles back to TG Maps 2: Stealth Revert Edition
  modular_skyrat/master_files/code/game/effects/spawners/random/structure.dm
  tgstation.dme
Labels: Fix, Revert

#9215 must be an ashwalker to use the staff
  modular_skyrat/modules/ashwalker_shaman/code/ashwalker_shaman.dm
Labels: Balance/Rebalance

#9275 fix run times on lines 192 and 194
  modular_skyrat/master_files/code/modules/client/preferences/erp_preferences.dm
Labels: Fix

#9023 tail/ears addition and datashark ability to be used
  modular_skyrat/master_files/icons/mob/sprite_accessory/ears.dmi
  modular_skyrat/master_files/icons/mob/sprite_accessory/tails.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/ears.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/tails.dm
Labels: Feature, Fix, Sprites, hacktoberfest-accepted

#9257 Ash walker clothing additions & donor item
  modular_skyrat/master_files/icons/donator/mob/clothing/suit.dmi
  modular_skyrat/master_files/icons/donator/obj/clothing/suits.dmi
  modular_skyrat/modules/ashwalkers/code/item/clothing/neck/neck.dm
  modular_skyrat/modules/ashwalkers/code/item/clothing/shoes/shoes.dm
  modular_skyrat/modules/ashwalkers/code/item/clothing/under/costumes.dm
  modular_skyrat/modules/ashwalkers/code/vendors/ash_clothing_vendor.dm
  modular_skyrat/modules/ashwalkers/icons/mob/clothing/feet.dmi
  modular_skyrat/modules/ashwalkers/icons/mob/clothing/feet_digi.dmi
  modular_skyrat/modules/ashwalkers/icons/mob/clothing/neck.dmi
  modular_skyrat/modules/ashwalkers/icons/mob/clothing/uniform.dmi
  modular_skyrat/modules/ashwalkers/icons/mob/clothing/uniform_digi.dmi
  modular_skyrat/modules/ashwalkers/icons/obj/clothing/cloaks.dmi
  modular_skyrat/modules/ashwalkers/icons/obj/clothing/shoes.dmi
  modular_skyrat/modules/ashwalkers/icons/obj/clothing/uniforms.dmi
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
  tgstation.dme
Labels: Feature

#9261 [NONMODULAR] Adjusts the damage-threshold knockout from regen-coma
  code/datums/diseases/advance/symptoms/heal.dm
Labels: Quality of Life

#9262 [MODULAR] Improves grammar with a specific PR's items.
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/ballgag.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/bdsm_mask.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/kink_collars.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/kinky_sleepbag.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/lewd_gloves.dm
Labels: Grammar and Formatting

#9263 [MODULAR] Fixes security snowmobiles.
  modular_skyrat/master_files/code/modules/vehicles/snowmobile.dm
Labels: Fix

#9268 [MOSTLY MODULAR]Hardlight Salve Medicell
  code/modules/research/techweb/all_nodes.dm
  modular_skyrat/modules/modular_weapons/code/modules/projectiles/guns/energy/cell_based/medgun/medcells.dm
  modular_skyrat/modules/modular_weapons/code/modules/projectiles/guns/energy/cell_based/medgun/medguns.dm
  modular_skyrat/modules/modular_weapons/code/modules/research/designs/mediguns.dm
  modular_skyrat/modules/modular_weapons/icons/obj/guns/mediguns/misc.dmi
  modular_skyrat/modules/modular_weapons/icons/obj/upgrades.dmi
Labels: Feature

#9277 Makes the auto-dementor pref start at FALSE
  modular_skyrat/master_files/code/modules/client/preferences/auto_dementor.dm
Labels: Fix

#8960 [SEMI-MODULAR?][TESTMERGE FIRST] Glow in the dark markings/bodyparts/eyes
  code/__DEFINES/~skyrat_defines/DNA.dm
  code/__HELPERS/lighting.dm
  code/__HELPERS/~skyrat_helpers/colors.dm
  code/modules/client/preferences/_preference.dm
  code/modules/mob/living/carbon/human/human_update_icons.dm
  code/modules/surgery/organs/eyes.dm
  modular_skyrat/master_files/code/modules/client/preferences/cursed_shit.dm
  modular_skyrat/master_files/code/modules/client/preferences/middleware/limbs_and_markings.dm
  modular_skyrat/master_files/code/modules/client/preferences/mutant_parts.dm
  modular_skyrat/master_files/code/modules/client/preferences_savefile.dm
  modular_skyrat/master_files/icons/mob/sprite_accessory/ears.dmi
  modular_skyrat/master_files/icons/mob/sprite_accessory/frills.dmi
  modular_skyrat/master_files/icons/mob/sprite_accessory/genitals/breasts_onmob.dmi
  modular_skyrat/master_files/icons/mob/sprite_accessory/genitals/penis_onmob.dmi
  modular_skyrat/master_files/icons/mob/sprite_accessory/genitals/taur_penis_onmob.dmi
  modular_skyrat/master_files/icons/mob/sprite_accessory/genitals/taur_testicles_onmob.dmi
  modular_skyrat/master_files/icons/mob/sprite_accessory/genitals/testicles_onmob.dmi
  modular_skyrat/master_files/icons/mob/sprite_accessory/genitals/vagina_onmob.dmi
  modular_skyrat/master_files/icons/mob/sprite_accessory/head_accessory.dmi
  modular_skyrat/master_files/icons/mob/sprite_accessory/lizard_snouts.dmi
  modular_skyrat/master_files/icons/mob/sprite_accessory/neck_accessory.dmi
  modular_skyrat/master_files/icons/mob/sprite_accessory/snouts.dmi
  modular_skyrat/master_files/icons/mob/sprite_accessory/synthliz_antennas.dmi
  modular_skyrat/master_files/icons/mob/sprite_accessory/synthliz_snouts.dmi
  modular_skyrat/master_files/icons/mob/sprite_accessory/tails.dmi
  modular_skyrat/master_files/icons/mob/sprite_accessory/taur.dmi
  modular_skyrat/master_files/icons/mob/sprite_accessory/wings.dmi
  modular_skyrat/modules/customization/__HELPERS/mobs.dm
  modular_skyrat/modules/customization/datums/elements/polychromic.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/ears.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/fluff.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/snout.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/synthliz.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/tails.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/wings.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/human_defines.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species.dm
  modular_skyrat/modules/customization/modules/surgery/bodyparts/_bodyparts.dm
  modular_skyrat/modules/emotes/code/additionalemotes/turf_emote.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/LimbsPage.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/base.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/skyrat/cursed_shit.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/skyrat/species_features.tsx
Labels: UI, Feature, Test Merged, hacktoberfest-accepted

#9294 GitHub Episode V: The Stale Bot Strikes Back
  .github/workflows/stale.yml
Labels: GitHub

#9289 [MODULAR] What Cloner?
  modular_skyrat/master_files/code/datums/traits/neutral.dm
Labels: Fix

#9307 fixes delta arrivals
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
Labels: Fix, Map Edit

#9081 [SEMI-MODULAR] Re-implements complete records functionality, my old records on examine PR, implements a exploitables menu, and more!
  code/_globalvars/tgui.dm
  code/datums/datacore.dm
  code/datums/mind.dm
  code/modules/antagonists/_common/antag_datum.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
  modular_skyrat/master_files/code/modules/antagonists/_common/antag_datum.dm
  modular_skyrat/master_files/code/modules/client/preferences/flavor_text.dm
  modular_skyrat/master_files/code/modules/client/preferences_savefile.dm
  modular_skyrat/modules/ambitions/code/ambition.dm
  modular_skyrat/modules/records_on_examine/code/datums/mind.dm
  modular_skyrat/modules/records_on_examine/code/modules/mob/living/record_manifest.dm
  modular_skyrat/modules/records_on_examine/code/modules/mob/verbs/view_exploitables.dm
  modular_skyrat/modules/records_on_examine/readme.md
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/skyrat/species_features.tsx
  tgui/packages/tgui/interfaces/RecordManifest.js
Labels: UI, Feature, Fix, Refactor, Test Merged, hacktoberfest-accepted

#9247 [MODULAR] Mildly buffs teshari (heavily)
  modular_skyrat/modules/teshari/modules/mob/living/carbon/human/species_types/teshari.dm
Labels: Balance/Rebalance

#9308 fix delta map reset
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
Labels: Map Edit

#9146 Returns the Knockdown to security batons.
  code/game/objects/items/melee/baton.dm
Labels: Balance/Rebalance

#8772 [semi-modular] thieving gloves
  code/__DEFINES/strippable.dm
  code/__DEFINES/~skyrat_defines/traits.dm
  code/datums/elements/strippable.dm
  code/game/objects/items.dm
  code/modules/mob/living/carbon/human/human_stripping.dm
  code/modules/mob/living/living.dm
  modular_skyrat/modules/modular_items/code/game/objects/items/thieving_gloves.dm
  tgstation.dme
Labels: Feature, hacktoberfest-accepted

#9325 I Love safety_mode = 1, I Truly Do
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
Labels: Map Edit

#9302 [Modular] Vox Departmental guard coat sprites
  modular_skyrat/master_files/icons/mob/clothing/species/vox/suit.dmi
Labels: Sprites

#8884 restoring some items in a vendor
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_structures/lustwish.dm
Labels: Fix

#9344 [MODULAR] Readds three loadout items, Flowers are correctly Donator-only again
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_heads.dm
  modular_skyrat/modules/loadouts/loadout_items/under/loadout_datum_under.dm
Labels: Fix

#9347 Fixing the Felinid/Tajaran's ability to land on their feet
  code/modules/mob/living/carbon/human/human.dm
  modular_skyrat/master_files/code/modules/mob/living/carbon/human.dm
  tgstation.dme
Labels: Fix

#9372 Pollution changes
  code/__DEFINES/~skyrat_defines/pollution.dm
  code/game/objects/items/cigs_lighters.dm
  code/game/objects/structures/bonfire.dm
  modular_skyrat/modules/pollution/code/pollution.dm
Labels: Balance/Rebalance

#9387 Fixes typo in ambition screen.
  modular_skyrat/modules/ambitions/code/ambition.dm
Labels: Grammar and Formatting

#9392 [MODULAR][FIX] Fixes message on use of conversion kits displaying a first person message to everyone.
  modular_skyrat/modules/customization/game/objects/items/conversion_kits.dm
Labels: Fix

#9126 Hyena hair, robo wings, and spooder wings addition - Ports from hyper and chomp
  modular_skyrat/master_files/icons/mob/sprite_accessory/hair.dmi
  modular_skyrat/master_files/icons/mob/sprite_accessory/wings.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/hair.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/wings.dm
Labels: Feature, hacktoberfest-accepted

#9410 [MODULAR] Adds the recolored hardhats back to the Engidrobe, fixes dupe item, spare construction pouches to Engivend
  modular_skyrat/modules/modular_vending/code/engivend.dm
  modular_skyrat/modules/modular_vending/code/wardrobes.dm
Labels: Feature, Fix

#9422 [MODULAR] Disables singularity crates from cargo
  modular_skyrat/modules/singularity_engine/code/supply/packs.dm
Labels: Removal, Verified

#9421 removes two range bone spears on the right code base
  code/game/objects/items/spear.dm
Labels: Balance/Rebalance, Removal

#9423 Makes a fireplace's fire last a lot longer
  code/game/objects/structures/fireplace.dm
Labels: Quality of Life

#9394 [MOSTLY MODULAR] Hardlight Rollerbed Medicell
  code/modules/research/techweb/all_nodes.dm
  modular_skyrat/modules/modular_weapons/code/modules/projectiles/guns/energy/cell_based/medgun/medcells.dm
  modular_skyrat/modules/modular_weapons/code/modules/projectiles/guns/energy/cell_based/medgun/medguns.dm
  modular_skyrat/modules/modular_weapons/code/modules/research/designs/mediguns.dm
  modular_skyrat/modules/modular_weapons/icons/obj/guns/mediguns/misc.dmi
Labels: Feature

#9414 [MODULAR] Adds Vox Mane and Ruff Hawk Hairstyle
  modular_skyrat/master_files/icons/mob/sprite_accessory/vox_facial_hair.dmi
  modular_skyrat/master_files/icons/mob/sprite_accessory/vox_hair.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/vox.dm
Labels: Feature

#9419 Adds Vox lore and updates their bio page.
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/species/vox.ts
Labels: UI, Feature

#9386 [MODULAR] Marine Hardsuit
  modular_skyrat/master_files/icons/mob/clothing/back.dmi
  modular_skyrat/master_files/icons/mob/clothing/head.dmi
  modular_skyrat/master_files/icons/mob/clothing/suit.dmi
  modular_skyrat/master_files/icons/obj/clothing/backpacks.dmi
  modular_skyrat/master_files/icons/obj/clothing/hats.dmi
  modular_skyrat/master_files/icons/obj/clothing/suits.dmi
  modular_skyrat/modules/marines/code/clothing/spacesuits/miscellaneous.dm
  tgstation.dme
Labels: Feature

#9388 [MODULAR][DO NOT MERGE] Sets our custom Prisoner level jumpsuits to use GAGS
  modular_skyrat/master_files/icons/mob/clothing/uniform.dmi
  modular_skyrat/master_files/icons/mob/clothing/uniform_digi.dmi
  modular_skyrat/master_files/icons/obj/clothing/uniforms.dmi
  modular_skyrat/modules/customization/modules/clothing/under/security.dm
  modular_skyrat/modules/mapping/code/_unsorted/genpop/genpop.dm
Labels: Needs Review, Removal, Sprites

#9446 Resetting auto dementor preference to FALSE for everyone
  code/modules/client/preferences_savefile.dm
  modular_skyrat/master_files/code/modules/client/preferences/tgui_prefs_migration.dm
Labels: Fix

#9389 Small Interdyne/DS-2 fixes
  modular_skyrat/modules/mapping/_maps/RandomRuins/IceRuins/icemoon_underground_syndicate_base1_skyrat.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1_skyrat.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/interdynefob.dmm
Labels: Fix

#9458 [SPEEDMERGE] Oversight: Air alarm skyrat overrides are inverse on expected DIR
  modular_skyrat/modules/aesthetics/airalarm/icons/airalarm.dmi
Labels: Fix

#9459 [NONMODULAR] fixes pocket stripping issues
  code/modules/mob/living/carbon/human/human_stripping.dm
Labels: Fix

#9461 Removes unused borg item icons and code
  modular_skyrat/modules/altborgs/code/modules/mob/living/silicon/robot/inventory.dm
  modular_skyrat/modules/altborgs/code/modules/mob/living/silicon/robot/robot_modules.dm
  modular_skyrat/modules/altborgs/icons/mob/robot_items.dmi
Labels: Removal

#9465 [IMPORTANT] Folder layout guideline update.
  modular_skyrat/readme.md
Labels: documentation

#9466 IMPORTANT - Commenting code out
  modular_skyrat/readme.md
Labels: documentation, Contribution Guideline Update

#9374 Ensuring all of our maps will get compiled by the Compile Maps action
  _maps/_basemap.dm
Labels: Fix, Map Edit

#9486 [SPEED MERGE] Cameras now go where the walls are
  modular_skyrat/modules/aesthetics/camera/icons/camera.dmi
  modular_skyrat/modules/aesthetics/firealarm/icons/firealarm.dmi
Labels: Fix

#9453 [NON-MODULAR] Re-adds per-character PDA settings
  code/game/objects/items/devices/PDA/PDA.dm
  code/modules/client/preferences/pda.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/skyrat/species_features.tsx
Labels: UI, Feature

#9448 Fixes borg emotes, wooooooooo!
  code/datums/emotes.dm
  modular_skyrat/modules/emotes/code/silicon_emotes.dm
  modular_skyrat/modules/emotes/code/synth_emotes.dm
  tgstation.dme
Labels: Fix, Refactor

#9332 [MODULAR] Trait recodes
  modular_skyrat/master_files/code/datums/traits/negative.dm
  modular_skyrat/master_files/code/datums/traits/neutral.dm
  modular_skyrat/modules/customization/datums/traits/negative.dm
  tgstation.dme
Labels: Code Improvement

#9297 [NONMODULAR] Fixes the clothesmate having 0 stock of two items.
  code/modules/vending/clothesmate.dm
  modular_skyrat/modules/modular_vending/code/clothesmate.dm
Labels: Needs skyrat comments

#9503 Automerge Workflow
  .github/workflows/automerge.yml
Labels: GitHub

#9506 Revert "Automerge Workflow"
  .github/workflows/automerge.yml
Labels: GitHub, Revert, AUTOMERGE

#9445 [NONMODULAR] Security Cyborgs are now locked behind the techweb! Requires the Mother of God experiment to research!
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/research/designs/weapon_designs.dm
  code/modules/research/techweb/all_nodes.dm
Labels: Balance/Rebalance, Approved, Headmin Approved

#9508 Iced Syntax Error. Icebox will now load in StrongDM
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
Labels: Code Improvement, Map Edit, AUTOMERGE

#9482 Modularizes HUD icons, fixes missing HUD icons & department guards' IDs
  code/controllers/subsystem/job.dm
  code/modules/mob/mob.dm
  modular_skyrat/master_files/icons/mob/hud.dmi
  modular_skyrat/modules/goofsec/code/department_guards.dm
Labels: Fix, AUTOMERGE

#9517 Fixing cryopods and bringing back item storage
  modular_skyrat/modules/cryosleep/code/cryopod.dm
  tgui/packages/tgui/interfaces/CryopodConsole.js
Labels: UI, Fix, AUTOMERGE

#9534 Fireplaces will now properly display flames at full fuel capacity
  code/game/objects/structures/fireplace.dm
Labels: Fix

#9544 [Modular] Medibeam gun economy bugfix
  modular_skyrat/modules/cargo/code/packs.dm
Labels: Fix

#9451 Removes all mood buffs and debuffs from ERP content
  modular_skyrat/modules/modular_items/lewd_items/code/arousal_system.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_quirks.dm
Labels: Removal

#9545 Icebox dep. order consoles
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
Labels: Fix, Map Edit

#9511 [SEMI-MODULAR] Hypospray storage consistency tweaks.
  code/game/objects/items/storage/belt.dm
  modular_skyrat/modules/hyposprays/code/hypospray_kits.dm
Labels: Balance/Rebalance

#9533 [MODULAR] CMO Hyposrpay sprite changes according to size of inserted Hypovial
  modular_skyrat/modules/hyposprays/code/hyposprays_II.dm
  modular_skyrat/modules/hyposprays/code/hypovials.dm
  modular_skyrat/modules/hyposprays/icons/hyposprays.dmi
Labels: Code Improvement, Quality of Life

#9217 Making kudzu more utilitarian
  modular_skyrat/master_files/code/modules/events/spacevine.dm
  modular_skyrat/modules/aesthetics/floors/icons/floors.dmi
Labels: Feature, Code Improvement, Test Merged

#9572 Revert "[MIRROR] HoS, warden and officers no longer spawn with a stunbaton in their bags. [MDB IGNORE]"
  code/modules/jobs/job_types/head_of_security.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/jobs/job_types/warden.dm
Labels: Revert

#9579 Revert Firealarm rotation
  modular_skyrat/modules/aesthetics/firealarm/icons/firealarm.dmi
Labels: Revert

#9578 [MODULAR] Improves Hypospray vial swapping
  modular_skyrat/modules/hyposprays/code/hyposprays_II.dm
Labels: Quality of Life

#9513 [MODULAR] yeah yeah, blueshield time
  modular_skyrat/master_files/icons/mob/clothing/suit.dmi
  modular_skyrat/master_files/icons/mob/clothing/uniform.dmi
  modular_skyrat/master_files/icons/obj/clothing/uniforms.dmi
  modular_skyrat/modules/blueshield/code/blueshield_clothing.dm
  modular_skyrat/modules/command_vendor/code/vending.dm
Labels: Code Improvement, Sprites

#9510 [Semi-Modular] Adds the Ranged Analyzer from Oldbase
  code/game/objects/items/devices/scanners.dm
  code/game/objects/items/storage/belt.dm
  code/modules/research/techweb/all_nodes.dm
  modular_skyrat/modules/modular_items/code/ranged_analyzer.dm
  modular_skyrat/modules/modular_items/icons/tools.dmi
  tgstation.dme
Labels: Feature

#9566 [MODULAR] Makes the Poncho Greyscale-customizable!
  modular_skyrat/master_files/icons/greyscale_clothes/ranger_poncho.dmi
  modular_skyrat/master_files/icons/mob/clothing/neck.dmi
  modular_skyrat/master_files/icons/obj/clothing/neck.dmi
  modular_skyrat/modules/customization/datums/greyscale/config_types/greyscale_configs.dm
  modular_skyrat/modules/customization/datums/greyscale/json_configs/ranger_poncho/ranger_poncho.json
  modular_skyrat/modules/customization/datums/greyscale/json_configs/ranger_poncho/ranger_poncho_worn.json
  modular_skyrat/modules/customization/modules/clothing/neck/cloaks.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_neck.dm
  modular_skyrat/modules/modular_vending/code/autodrobe.dm
Labels: Feature

#9130 Novaya Rossiyskaya Imperiya(NRI) ERT
  modular_skyrat/master_files/icons/import.dmi
  modular_skyrat/master_files/icons/mob/clothing/belt.dmi
  modular_skyrat/master_files/icons/mob/clothing/head.dmi
  modular_skyrat/master_files/icons/mob/clothing/head_muzzled.dmi
  modular_skyrat/master_files/icons/mob/clothing/suit.dmi
  modular_skyrat/master_files/icons/mob/clothing/suit_digi.dmi
  modular_skyrat/master_files/icons/mob/clothing/uniform.dmi
  modular_skyrat/master_files/icons/mob/clothing/uniform_digi.dmi
  modular_skyrat/master_files/icons/obj/card.dmi
  modular_skyrat/master_files/icons/obj/clothing/belts.dmi
  modular_skyrat/master_files/icons/obj/clothing/hats.dmi
  modular_skyrat/master_files/icons/obj/clothing/suits.dmi
  modular_skyrat/master_files/icons/obj/clothing/uniforms.dmi
  modular_skyrat/modules/novaya_ert/code/belt.dm
  modular_skyrat/modules/novaya_ert/code/ert.dm
  modular_skyrat/modules/novaya_ert/code/head.dm
  modular_skyrat/modules/novaya_ert/code/id.dm
  modular_skyrat/modules/novaya_ert/code/outfit.dm
  modular_skyrat/modules/novaya_ert/code/suit.dm
  modular_skyrat/modules/novaya_ert/code/survival_pack.dm
  modular_skyrat/modules/novaya_ert/code/uniform.dm
  modular_skyrat/modules/novaya_ert/readme.md
  tgstation.dme
Labels: Feature

#9447 Removes nymphomania entirely.
  code/__DEFINES/~skyrat_defines/jobs.dm
  modular_skyrat/modules/modular_items/lewd_items/code/arousal_system.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/leather_whip.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/spanking_pad.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_quirks.dm
Labels: Removal

#9602 Recolors the HUD icons for Security back to the original variants.
  modular_skyrat/master_files/icons/mob/hud.dmi
Labels: Sprites

#9612 Fixes mentorwho
  modular_skyrat/modules/mentor/code/mentorwho.dm
Labels: Fix, GBP: No Update

#9625 Soft-Revert of "[MIRROR] The bureaucratic mistake station trait can now truly chose any job. [MDB IGNORE]"
  code/datums/station_traits/negative_traits.dm
Labels: Removal, Revert

#9624 Fixes spelling error in dono item
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
Labels: Grammar and Formatting

#9656 [MODULAR] Removes redundant Oxygen Medicell from replacement crates
  modular_skyrat/modules/cargo/code/packs.dm
Labels: Removal

#9610 [MODULAR] deeeeer taaaail
  modular_skyrat/master_files/icons/mob/sprite_accessory/tails.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/tails.dm
Labels: Feature

#9663 span patch
  code/__DEFINES/~skyrat_defines/combat.dm
  modular_skyrat/modules/mutants/code/mutant_datum.dm
Labels: Fix

#9567 [Modular]Teshari Suit and Hardsuit sprite fix
  modular_skyrat/modules/teshari/code/teshari_clothes.dm
Labels: Fix

#9543 [MODULAR] Fragile PR attempt #2
  modular_skyrat/master_files/code/datums/traits/negative.dm
Labels: Feature

#9615 Poly perch command
  code/modules/mob/living/simple_animal/parrot.dm
  modular_skyrat/modules/poly_commands/parrot.dm
  tgstation.dme
Labels: Feature

#9665 Patches digi and vox gags jumpsuits and sneakers
  code/datums/greyscale/config_types/greyscale_configs.dm
  code/game/objects/items.dm
  code/modules/clothing/shoes/sneakers.dm
  code/modules/clothing/under/color.dm
  code/modules/clothing/under/jobs/security.dm
  modular_skyrat/modules/GAGS/greyscale_configs.dm
  modular_skyrat/modules/GAGS/icons/beret_vox.dmi
  modular_skyrat/modules/GAGS/icons/jumpsuit_digi.dmi
  modular_skyrat/modules/GAGS/icons/jumpsuit_vox.dmi
  modular_skyrat/modules/GAGS/icons/sneakers_digi.dmi
  modular_skyrat/modules/GAGS/icons/sneakers_vox.dmi
Labels: GBP: No Update

#9669 Adds 7 Missing sweaters to the Misc. Under loadout list
  modular_skyrat/modules/loadouts/loadout_items/under/loadout_datum_under.dm
Labels: Feature

#9664 [MODULAR] Traitors can buy bulldog ammo from the uplink
  modular_skyrat/master_files/code/modules/uplink/uplink_items.dm
Labels: Fix

#9685 Refactoring the flashlight code to make it actually work as intended
  modular_skyrat/modules/cell_component/code/flashlight.dm
Labels: Fix, Refactor

#9690 Fixes the aesthetics plant module
  modular_skyrat/modules/aesthetics/plants/plants.dmi
Labels: Fix

#9633 Fixing modular drink glass icons
  code/modules/food_and_drinks/drinks/drinks/drinkingglass.dm
  modular_skyrat/modules/customization/modules/reagents/chemistry/reagents.dm
Labels: Fix, Test Merged

#9680 [modular] better whitespace for the examine menu
  tgui/packages/tgui/interfaces/ExaminePanel.js
Labels: UI, Code Improvement

#9395 The Roleplay Update - Slightly more versatile emotes
  code/datums/emotes.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/drake.dm
  code/modules/mob/mob.dm
  modular_skyrat/master_files/code/_globalvars/lists/chat.dm
  modular_skyrat/modules/verbs/code/subtle.dm
  tgstation.dme
Labels: Code Improvement, Grammar and Formatting, Test Merged, Approved for merge(1-day), Quality of Life

#9706 [NONMODULAR] removes part of "observe" popup message
  code/modules/mob/dead/new_player/new_player.dm
Labels: Removal

#9702 [MODULAR][FIX] Fixes Eng-Guard inhand/inventory sprite.
  modular_skyrat/master_files/icons/mob/clothing/uniform.dmi
  modular_skyrat/master_files/icons/obj/clothing/uniforms.dmi
  modular_skyrat/modules/goofsec/code/department_guards.dm
Labels: Fix

#9716 [NON-MODULAR] stops medhuds from seeing DNRs as revivable
  code/game/data_huds.dm
  modular_skyrat/master_files/code/modules/mob/living/carbon/human_helpers.dm
Labels: Fix

#9710 You can no longer shove people off of tables from range
  modular_skyrat/master_files/code/game/objects/structures/tables_racks.dm
Labels: Fix

#9697 Fixes our modular poster file
  modular_skyrat/modules/aesthetics/posters/contraband.dmi
  modular_skyrat/modules/aesthetics/posters/posters.dm
Labels: Fix

#9613 Assorted barber fixes
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  code/__DEFINES/access.dm
  code/controllers/subsystem/id_access.dm
  modular_skyrat/master_files/code/datums/id_trim/jobs.dm
Labels: Fix, Map Edit

#9734 Hides an appropriate bodypart under appropriate conditions
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/genitals.dm
Labels: Fix

#9742 Fixing the icons for the mapping version of the benches
  modular_skyrat/modules/aesthetics/bench/icons/bench.dmi
  tgstation.dme
Labels: Fix

#9721 [MODULAR] -big- deer antler horns
  modular_skyrat/master_files/icons/mob/sprite_accessory/horns_big.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/horns.dm
Labels: Feature

#9738 [NON-MODULAR] records runtimes + code improvements
  code/modules/mob/living/carbon/human/examine.dm
Labels: Fix, Code Improvement

#9709 Renames and cleans up additionalert module
  modular_skyrat/modules/additionalert/code/pizza/weaponry.dm
  modular_skyrat/modules/additionalert/icons/odst/gun_odst.dmi
  modular_skyrat/modules/additionalert/icons/odst/lefthand.dmi
  modular_skyrat/modules/additionalert/icons/odst/ostwind.dmi
  modular_skyrat/modules/additionalert/icons/odst/righthand.dmi
  modular_skyrat/modules/additionalert/readme.md
  modular_skyrat/modules/additionalert/sound/smg_fire.ogg
  modular_skyrat/modules/modular_ert/code/engineer/engineer.dm
  modular_skyrat/modules/modular_ert/code/fumigators/ert.dm
  modular_skyrat/modules/modular_ert/code/fumigators/fumigator.dm
  modular_skyrat/modules/modular_ert/code/fumigators/fumigator_outfit.dm
  modular_skyrat/modules/modular_ert/code/fumigators/head.dm
  modular_skyrat/modules/modular_ert/code/odst/ert.dm
  modular_skyrat/modules/modular_ert/code/odst/hardsuit.dm
  modular_skyrat/modules/modular_ert/code/odst/odst.dm
  modular_skyrat/modules/modular_ert/code/odst/odst_outfit.dm
  modular_skyrat/modules/modular_ert/code/odst/syndicate.dm
  modular_skyrat/modules/modular_ert/code/pizza/ert.dm
  modular_skyrat/modules/modular_ert/code/pizza/ert_antag.dm
  modular_skyrat/modules/modular_ert/code/pizza/head.dm
  modular_skyrat/modules/modular_ert/code/pizza/misc_clothing.dm
  modular_skyrat/modules/modular_ert/code/pizza/pizza_outfit.dm
  modular_skyrat/modules/modular_ert/code/pizza/weaponry.dm
  modular_skyrat/modules/modular_ert/code/trauma_team/ert.dm
  modular_skyrat/modules/modular_ert/code/trauma_team/ert_antag.dm
  modular_skyrat/modules/modular_ert/code/trauma_team/hardsuit.dm
  modular_skyrat/modules/modular_ert/code/trauma_team/truama_team_outfit.dm
  modular_skyrat/modules/modular_ert/icons/pizza/hotknife.dmi
  modular_skyrat/modules/modular_ert/icons/pizza/lefthand.dmi
  modular_skyrat/modules/modular_ert/icons/pizza/righthand.dmi
  tgstation.dme
Labels: Code Improvement

#9718 [MODULAR] fixes the spider leg wings + robo wings
  modular_skyrat/master_files/icons/mob/sprite_accessory/wings.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/wings.dm
Labels: Fix

#9504 [MOSTLY MODULAR] Borg inducers take two
  code/modules/research/techweb/all_nodes.dm
  modular_skyrat/modules/borg_buffs/code/robot.dm
  modular_skyrat/modules/cyborg/code/mechafabricator_designs.dm
  modular_skyrat/modules/cyborg/code/robot_upgrades.dm
Labels: Feature

#9722 [MODULAR] dual color fluff sprites
  modular_skyrat/master_files/icons/mob/sprite_accessory/moth_fluff.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/fluff.dm
Labels: Feature, Sprites

#9324 [MODULAR] Fighterslam - Captain Jacket
  modular_skyrat/master_files/icons/mob/clothing/suit.dmi
  modular_skyrat/master_files/icons/obj/clothing/suits.dmi
  modular_skyrat/modules/command_vendor/code/vending.dm
  modular_skyrat/modules/customization/modules/clothing/suits/armor.dm
Labels: Feature, Sprites, Needs Sprites Pictures, Needs skyrat comments

#9420 Alternative job titles in the Occupations screen actually used in-game
  code/controllers/subsystem/job.dm
  code/datums/datacore.dm
  code/modules/admin/verbs/admingame.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/mob/dead/new_player/new_player.dm
  modular_skyrat/modules/alternative_job_titles/code/job.dm
  modular_skyrat/modules/alternative_job_titles/readme.md
  tgstation.dme
  tgui/packages/tgui/interfaces/CrewManifest.js
  tgui/packages/tgui/interfaces/NtosCrewManifest.js
Labels: UI, Fix

#9599 [MOSTLY MODULAR] Body Teleporter Medicell
  code/modules/research/techweb/all_nodes.dm
  modular_skyrat/modules/modular_weapons/code/medcells.dm
  modular_skyrat/modules/modular_weapons/code/medguns.dm
  modular_skyrat/modules/modular_weapons/code/mediguns.dm
  modular_skyrat/modules/modular_weapons/icons/obj/upgrades.dmi
Labels: Feature

#9666 Fixes borg emotes FOR REAL THIS TIME.
  code/modules/mob/living/emote.dm
  modular_skyrat/modules/emotes/code/synth_emotes.dm
Labels: Feature, Fix

#9681 [STILL NOT MODULAR] #9144's Hemophages
  code/__DEFINES/~skyrat_defines/DNA.dm
  code/__HELPERS/~skyrat_helpers/is_helpers.dm
  code/game/machinery/scan_gate.dm
  code/modules/antagonists/revenant/revenant_abilities.dm
  code/modules/client/preferences/species.dm
  code/modules/research/nanites/nanite_programs/sensor.dm
  config/game_options.txt
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/hemophage.dm
  modular_skyrat/modules/customization/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/SpeciesPage.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/data.ts
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/species/hemophage.ts
  tgui/packages/tgui/interfaces/ScannerGate.js
Labels: UI, Fix, Config Update, Test Merged

#9757 [MODULAR] Allows the purchase of empty C-20R & Bulldog magazines from the uplink
  modular_skyrat/master_files/code/modules/projectiles/boxes_magazines/external/shotgun.dm
  modular_skyrat/master_files/code/modules/projectiles/boxes_magazines/external/smg.dm
  modular_skyrat/master_files/code/modules/uplink/uplink_items.dm
  tgstation.dme
Labels: Feature

#9756 [MODULAR] Adds a Supply playtime requirement to the Quartermaster job
  code/modules/jobs/job_types/quartermaster.dm
Labels: Balance/Rebalance

#9768 Kills the outdated aesthetics sub-module for Catwalks
  _maps/map_files/Blueshift/BlueShift_lower.dmm
  _maps/map_files/Blueshift/BlueShift_middle.dmm
  _maps/map_files/Blueshift/BlueShift_upper.dmm
  _maps/map_files/NSSJourney/NSSJourney.dmm
  modular_skyrat/modules/aesthetics/catwalk_plating/catwalk_dark.dmi
  modular_skyrat/modules/aesthetics/catwalk_plating/catwalk_plated.dmi
  modular_skyrat/modules/aesthetics/catwalk_plating/catwalk_plating.dm
  modular_skyrat/modules/mapping/_maps/RandomRuins/IceRuins/icemoon_underground_syndicate_base1_skyrat.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1_skyrat.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/RockplanetRuins/rockplanet_surface_syndicate_base1_skyrat.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/interdynefob.dmm
  tgstation.dme
Labels: Removal, Map Edit
