Repository Skyrat-SS13/Skyrat-tg, pull requests merged in 2021-02, with the labels that each got.

#2948 [Semi-Modular] Separate SyndieComms : Take 2
  code/__DEFINES/~skyrat_defines/assaultops.dm
  code/__DEFINES/~skyrat_defines/mapping.dm
  code/game/communications.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/say.dm
  code/modules/mob/living/living_say.dm
  modular_skyrat/modules/assaultops/code/assaultops_misc.dm
  modular_skyrat/modules/assaultops/code/assaultops_outfits.dm
  modular_skyrat/modules/assaultops/code/assaultops_spawners.dm
  modular_skyrat/modules/mapping/code/game/objects/structures/ghost_role_spawners.dm
  modular_skyrat/modules/mapping/code/modules/ruins/lavaland_ruin_code.dm
  modular_skyrat/modules/mapping/code/radio.dm
  tgstation.dme
Labels: Tweak

#3008 [Modular] Replaces Lavaland syndicate headsets with more base-specific ones.
  modular_skyrat/modules/mapping/_maps/RandomRuins/IceRuins/icemoon_underground_syndicate_base1_skyrat.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1_skyrat.dmm
Labels: Tweak

#3002 Fix Shapeshifter module node
  modular_skyrat/modules/shapeshifting_module/code/modules/research/techweb/all_nodes.dm
Labels: Fix

#2982 Adds tinyfans to mining shuttles
  _maps/shuttles/labour_box.dmm
  _maps/shuttles/labour_delta.dmm
  _maps/shuttles/labour_kilo.dmm
  _maps/shuttles/mining_box.dmm
  _maps/shuttles/mining_common_kilo.dmm
  _maps/shuttles/mining_common_meta.dmm
  _maps/shuttles/mining_delta.dmm
  _maps/shuttles/mining_freight.dmm
  _maps/shuttles/mining_kilo.dmm
  _maps/shuttles/mining_large.dmm
Labels: Feature, Map Edit

#3018 Update to Abandoned Ship Ruin
  _maps/RandomRuins/SpaceRuins/whiteshipruin_box_skyrat.dmm
  code/datums/ruins/space.dm
Labels: Feature, Map Edit, Tweak

#3007 Added Syndicate Cyborg Modules to DS-1
  _maps/map_files/generic/CentCom_skyrat.dmm
  modular_skyrat/modules/altborgs/code/game/objects/items/robot_upgrade.dm
  modular_skyrat/modules/altborgs/code/modules/mob/living/silicon/robot/robot_modules.dm
  tgstation.dme
Labels: Feature, Map Edit

#3055 [Modular] Adds jukebox and disco ball crate, removes access requirements
  modular_skyrat/modules/cargo/code/packs.dm
  modular_skyrat/modules/jukebox/code/controllers/subsystem/game/machinery/dance_machine.dm
Labels: Feature, Removal, Tweak

#2958 [Semi-modular] View Latest Ticket ahelp command for players
  code/modules/admin/sql_ban_system.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/admin/verbs/adminpm.dm
  modular_skyrat/modules/admin/code/admin_help.dm
  modular_skyrat/modules/admin/code/adminhelp.dm
  tgstation.dme
Labels: Feature, Test Merge Candidate, Test Merged, Test merged(1-week)

#2795 [NON-MODULAR] Porting audible emotes from oldbase.
  code/__DEFINES/say.dm
  code/game/say.dm
  code/modules/mob/living/living_say.dm
Labels: Test Merge Candidate, Test Merged

#3081 Forced non-modular map update
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Edit

#3082 Metastation fixes
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
Labels: Fix, Map Edit

#3083 Centcom Z2 and Title screen fixes
  _maps/_basemap.dm
  _maps/map_files/generic/CentCom_skyrat.dmm
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  _maps/map_files/readme.md
Labels: Feature, Fix, Map Edit

#3094 Fixes dark tiles missing directional sprites & Tau Ceti turfs
  modular_skyrat/modules/aesthetics/floors/code/floors.dm
  modular_skyrat/modules/aesthetics/floors/icons/floors.dmi
Labels: Fix

#3095 Fixes bug that is totally not my fault I swear
  modular_skyrat/modules/aesthetics/floors/code/floors.dm
Labels: Feature, Removal

#3096 Removes capital X KSS from forked tongues
  code/modules/surgery/organs/tongue.dm
Labels: Removal

#2974 Special Examine System
  code/__DEFINES/~skyrat_defines/examine_defines.dm
  code/__DEFINES/~skyrat_defines/traits.dm
  code/modules/jobs/job_types/detective.dm
  modular_skyrat/modules/examinemore/code/examine_more.dm
  modular_skyrat/modules/examinemore/code/readme.md
  tgstation.dme
Labels: Feature

#2834 [NON-MODULAR] Adds a crafting recipe for the double emergency oxygen tank
  code/datums/components/crafting/recipes.dm
Labels: Feature

#3085 SYNTHS MUST SCREAM!!!
  modular_skyrat/modules/emotes/code/synth_emotes.dm
  tgstation.dme
Labels: Feature

#3127 Safety updates + CI fix
  modular_skyrat/modules/combat_indicator/code/combat_indicator.dm
  modular_skyrat/modules/gunsafety/code/gun_safety.dm
Labels: Fix

#3129 [MODULAR] Ashwalker Re-buff
  modular_skyrat/modules/ashwalkers/Ashwalker/Ashwalkers.dm
  modular_skyrat/modules/ashwalkers/readme.md
  tgstation.dme
Labels: Feature

#3138 More stealth descriptions
  code/game/objects/items/devices/flashlight.dm
  code/game/objects/items/devices/traitordevices.dm
  code/modules/assembly/flash.dm
  code/modules/clothing/glasses/_glasses.dm
  code/modules/projectiles/guns/energy/special.dm
Labels: Tweak

#3146 Reverts changes to some traitor items
  code/game/objects/items/devices/chameleonproj.dm
  code/game/objects/items/toys.dm
  code/modules/projectiles/guns/energy/special.dm
Labels: Revert, Tweak

#3151 Removes LRP/Transformation Anomalous Crystal Variants
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
Labels: Removal

#3154 Fixes grammar errors
  code/modules/mob/living/carbon/life.dm
  modular_skyrat/modules/biohazard_blob/code/biohazard_blob_disease.dm
Labels: Grammar and Formatting

#3157 [Semi-modular] Ports race-specific drinks from oldbase
  code/__DEFINES/food.dm
  code/datums/mood_events/drink_events.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  modular_skyrat/master_files/icons/obj/drinks.dmi
  modular_skyrat/modules/customization/modules/food_and_drinks/recipes/drinks_recipes.dm
  modular_skyrat/modules/customization/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  modular_skyrat/modules/customization/modules/reagents/chemistry/reagents/drink_reagents.dm
Labels: Feature

#3174 [Modular] Lets synthetic lizards select wings
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/wings.dm
Labels: Fix

#3145 Actually fix synth emotes
  code/datums/emotes.dm
  modular_skyrat/modules/emotes/code/silicon_emotes.dm
  modular_skyrat/modules/emotes/code/synth_emotes.dm
Labels: Feature

#3159 Add and Removes items from the uplink list
  code/modules/uplink/uplink_items.dm
Labels: Feature, Removal, Tweak

#3194 Removes the lrp suicide verbs.
  code/modules/client/verbs/suicide.dm
  modular_skyrat/modules/suicide_verb/readme.md
Labels: Removal

#3218 Revert "Simplify Node bootstrapping"
  tools/bootstrap/node.bat
  tools/bootstrap/node_.ps1
  tools/build/cbt/task.js
Labels: Revert, Tools

#2914 [Modular] Aphrodisiacs
  code/__DEFINES/~skyrat_defines/preferences.dm
  modular_skyrat/modules/aphros/aphrokeg.dmi
  modular_skyrat/modules/aphros/chemistry/aphro_keg.dm
  modular_skyrat/modules/aphros/chemistry/reagents/aphrodisiac_reagent.dm
  modular_skyrat/modules/aphros/chemistry/recipes/aphrodisiac.dm
  modular_skyrat/modules/aphros/readme.dm
  modular_skyrat/modules/customization/modules/client/preferences.dm
  tgstation.dme
Labels: Feature, Test Merged, Test merged(1-week)

#3219 MAJOR: Non-modular map hardset 09.02.2021
  _maps/RandomRuins/SpaceRuins/TheDerelict.dmm
  _maps/RandomRuins/SpaceRuins/oldstation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Below.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/debug/multiz.dmm
  _maps/map_files/debug/runtimestation.dmm
  _maps/map_files/generic/CentCom.dmm
  _maps/map_files/readme.md
  _maps/shuttles/emergency_cere.dmm
  _maps/shuttles/labour_box.dmm
  _maps/shuttles/labour_delta.dmm
  _maps/shuttles/labour_kilo.dmm
  _maps/shuttles/mining_box.dmm
  _maps/shuttles/mining_common_kilo.dmm
  _maps/shuttles/mining_common_meta.dmm
  _maps/shuttles/mining_delta.dmm
  _maps/shuttles/mining_freight.dmm
  _maps/shuttles/mining_kilo.dmm
  _maps/shuttles/mining_large.dmm
  code/modules/tgui/USE_BUILD_BAT_INSTEAD_OF_DREAM_MAKER.dm
Labels: Map Edit

#3234 Adjusts job slots for Prisoner, AI, Cyborgs & Adds latejoin Prisoner spawns
  code/game/objects/effects/landmarks.dm
  code/modules/jobs/job_types/cyborg.dm
  code/modules/jobs/job_types/prisoner.dm
  code/modules/jobs/job_types/shaft_miner.dm
  config/jobs.txt
Labels: Config Update, Fix, Tweak

#3233 Rebases Metastation & Updates Modular Maps
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above_skyrat.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Below_skyrat.dmm
  _maps/map_files/KiloStation/KiloStation_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
Labels: Feature, Fix, Map Edit

#3226 Changes beakers to be like oldbase
  code/modules/food_and_drinks/drinks/drinks.dm
  code/modules/reagents/reagent_containers/glass.dm
Labels: Tweak

#3256 [Modular] Panicked Interdyne Base Fix
  modular_skyrat/modules/mapping/_maps/RandomRuins/IceRuins/icemoon_underground_syndicate_base1_skyrat.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1_skyrat.dmm
Labels: Fix

#3252 [Modular] Gives synthetic lizards wings (for real this time)
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/robotic.dm
Labels: Feature

#3092 PDH Rebalance/Spellcheck
  modular_skyrat/modules/sec_haul/code/guns/guns.dm
  modular_skyrat/modules/sec_haul/icons/guns/pdh.dmi
Labels: Balance/Rebalance, Grammar and Formatting, Tweak

#3236 Adds MORE items to the traitor uplink v.2!
  code/modules/uplink/uplink_items.dm
Labels: Feature

#3294 fixes hos clothing
  modular_skyrat/modules/sec_haul/code/peacekeeper/peacekeeper_clothing.dm
Labels: Fix

#3272 Engidrobe overalls
  code/modules/vending/wardrobes.dm
Labels: Feature

#3267 [SEMI-MODULAR] Adds catnip & felinid race drink
  code/__DEFINES/food.dm
  code/datums/mood_events/drink_events.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/unit_tests/plantgrowth_tests.dm
  code/modules/vending/megaseed.dm
  modular_skyrat/master_files/icons/obj/hydroponics/growing.dmi
  modular_skyrat/master_files/icons/obj/hydroponics/harvest.dmi
  modular_skyrat/master_files/icons/obj/hydroponics/seeds.dmi
  modular_skyrat/modules/customization/modules/food_and_drinks/recipes/drinks_recipes.dm
  modular_skyrat/modules/customization/modules/hydroponics/grown/tea_coffee.dm
  modular_skyrat/modules/customization/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  modular_skyrat/modules/customization/modules/reagents/chemistry/reagents/drink_reagents.dm
  modular_skyrat/modules/customization/modules/reagents/chemistry/reagents/other_reagents.dm
  tgstation.dme
Labels: Feature, Fix

#3072 Headcrab/Headslug can be spawned via gold core
  code/modules/mob/living/simple_animal/hostile/headcrab.dm
Labels: Code Improvement

#3295 add skirtleneck to loadout
  modular_skyrat/modules/customization/modules/client/loadout/uniform.dm
Labels: Feature

#3223 Makes Quad-Sec only work inside /area/security
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
Labels: Balance/Rebalance

#3273 [Modular] Yet More DS-1 Tweaks
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
Labels: Map Edit, Tweak

#3319 re removes changeling head slugs from gold slime pool
  code/modules/mob/living/simple_animal/hostile/headcrab.dm
Labels: Removal

#3247 Fix service borg modules being missing
  modular_skyrat/modules/altborgs/code/modules/mob/living/silicon/robot/robot.dm
  modular_skyrat/modules/altborgs/code/modules/mob/living/silicon/robot/robot_defines.dm
  modular_skyrat/modules/altborgs/code/modules/mob/living/silicon/robot/robot_model.dm
  modular_skyrat/modules/altborgs/code/modules/mob/living/silicon/robot/robot_modules.dm
Labels: UI

#2888 [Semi-Modular] Cybersun Overhaul
  code/datums/ruins/space.dm
  config/spaceruinblacklist.txt
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/forgottenship_skyrat.dmm
  modular_skyrat/modules/mapping/code/datums/ruins/space.dm
  tgstation.dme
Labels: Config Update, Tweak

#3315 (NON MODULAR) Heehoo all humanoid mobs can use nanites again.
  code/modules/research/nanites/public_chamber.dm
Labels: Tweak

#3318 [Modular] [SM] Icebokss Pool Fix
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
Labels: Fix, Map Edit

#2680 [Semi-Modular] Adds Shipstation, an entire station... on a shuttle.
  _maps/map_files/ShipStation/ShipStation.dmm
  _maps/shipstation.json
  _maps/shuttles/station_ship.dmm
  code/datums/components/stationloving.dm
  config/maps.txt
  modular_skyrat/master_files/code/modules/clothing/non_anthro_clothes.dm
  modular_skyrat/modules/card/access.dm
  modular_skyrat/modules/card/card.dmi
  modular_skyrat/modules/mapping/code/datums/shuttles.dm
  modular_skyrat/modules/mapping/code/game/area/areas/shuttles.dm
  modular_skyrat/modules/mapping/code/game/gamemodes/brother/traitor_bro.dm
  modular_skyrat/modules/mapping/code/game/gamemodes/changeling/changeling.dm
  modular_skyrat/modules/mapping/code/game/gamemodes/changeling/traitor_chan.dm
  modular_skyrat/modules/mapping/code/game/gamemodes/cult/cult.dm
  modular_skyrat/modules/mapping/code/game/gamemodes/devil/devil_game_mode.dm
  modular_skyrat/modules/mapping/code/game/gamemodes/monkey/monkey.dm
  modular_skyrat/modules/mapping/code/game/gamemodes/revolution/revolution.dm
  modular_skyrat/modules/mapping/code/game/gamemodes/traitor/traitor.dm
  modular_skyrat/modules/mapping/code/game/objects/effects/landmarks.dm
  modular_skyrat/modules/mapping/code/modules/clothing/gloves/color.dm
  modular_skyrat/modules/mapping/code/modules/clothing/head/jobs.dm
  modular_skyrat/modules/mapping/code/modules/clothing/under/jobs/command.dm
  modular_skyrat/modules/mapping/code/modules/jobs/job_types/shuttle_pilot.dm
  modular_skyrat/modules/mapping/code/modules/shuttle/shipstation.dm
  modular_skyrat/modules/mapping/icons/mob/clothing/hands.dmi
  modular_skyrat/modules/mapping/icons/mob/clothing/head.dmi
  modular_skyrat/modules/mapping/icons/mob/clothing/under/captain.dmi
  modular_skyrat/modules/mapping/icons/mob/clothing/under/captain_digi.dmi
  modular_skyrat/modules/mapping/icons/obj/clothing/gloves.dmi
  modular_skyrat/modules/mapping/icons/obj/clothing/hats.dmi
  modular_skyrat/modules/mapping/icons/obj/clothing/under/captain.dmi
  tgstation.dme
Labels: Config Update, Feature, Map Edit, Test merged(1-week)

#3326 Added a Combat Indicator config setting.
  config/skyrat/skyrat_config.txt
  modular_skyrat/modules/combat_indicator/code/combat_indicator.dm
Labels: Config Update

#3317 [Modular] Ports speech impediments from old base
  modular_skyrat/master_files/code/datums/traits/neutral.dm
  modular_skyrat/master_files/code/datums/traits/speech_mod/_speech_mod.dm
  modular_skyrat/master_files/code/datums/traits/speech_mod/impediments.dm
  tgstation.dme
Labels: Feature

#3323 Adds the Borb plushie
  modular_skyrat/modules/customization/game/objects/items/plushes.dm
  modular_skyrat/modules/customization/icons/obj/plushes.dmi
Labels: Feature, Sprites

#3333 [MODULAR] [SM] Cybersun Fix
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/forgottenship_skyrat.dmm
Labels: Fix

#3322 Prison Wars Episode 6: Return of the Genpop
  code/__DEFINES/access.dm
  code/game/objects/items/cards_ids.dm
  code/modules/jobs/access.dm
  code/modules/jobs/job_types/head_of_security.dm
  code/modules/jobs/job_types/security_officer.dm
  modular_skyrat/modules/blueshield/code/modules/jobs/job_types/blueshield.dm
  modular_skyrat/modules/mapping/code/genpop.dm
  modular_skyrat/modules/mapping/code/quest_succeeded.ogg
  modular_skyrat/modules/mapping/code/turnstile.dm
  modular_skyrat/modules/mapping/icons/turnstile.dmi
  modular_skyrat/modules/sec_haul/code/security_medic/security_medic.dm
  modular_skyrat/modules/sec_haul/code/security_sergeant/security_sergeant.dm
  tgstation.dme
Labels: Feature, UI

#3342 Ports Utility Outfits +
  code/modules/vending/autodrobe.dm
  code/modules/vending/clothesmate.dm
  code/modules/vending/wardrobes.dm
  modular_skyrat/master_files/icons/mob/clothing/under/uniform_digi.dmi
  modular_skyrat/master_files/icons/mob/clothing/uniform_digi.dmi
  modular_skyrat/modules/customization/icons/mob/clothing/uniform.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/uniforms.dmi
  modular_skyrat/modules/customization/modules/client/loadout/head.dm
  modular_skyrat/modules/customization/modules/client/loadout/uniform.dm
  modular_skyrat/modules/customization/modules/clothing/under/utility_port/other_port.dm
  modular_skyrat/modules/customization/modules/clothing/under/utility_port/readme.md
  modular_skyrat/modules/customization/modules/clothing/under/utility_port/utility.dm
  tgstation.dme
Labels: Feature

#3358 Fixes borb
  tgstation.dme
Labels: Fix

#3359 [NON-MODULAR] Security HUD visual improvement
  icons/mob/hud.dmi
Labels: Sprites, Tweak

#3334 [NONMODULAR] Nanites can now infect all MOB_HUMANOIDs.
  code/datums/components/nanites.dm
Labels: Fix

#3363 [SEMI-MODULAR] Resprites and new clothing for Captain, HoS, and Detective
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/clothing/under/jobs/security.dm
  code/modules/vending/wardrobes.dm
  modular_skyrat/modules/customization/icons/mob/clothing/suit.dmi
  modular_skyrat/modules/customization/icons/mob/clothing/under/captain.dmi
  modular_skyrat/modules/customization/icons/mob/clothing/under/security.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/suits.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/under/captain.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/under/security.dmi
  modular_skyrat/modules/customization/modules/clothing/under/captain.dm
  modular_skyrat/modules/customization/modules/clothing/under/security.dm
  tgstation.dme
Labels: Feature, Tweak

#3366 oh no missing wire
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
Labels: Fix, Map Edit

#3372 Assops Update
  code/modules/awaymissions/corpse.dm
  modular_skyrat/modules/assaultops/code/assaultops_misc.dm
  modular_skyrat/modules/assaultops/code/assaultops_outfits.dm
  modular_skyrat/modules/assaultops/code/assaultops_spawners.dm
Labels: Tweak

#3371 [Modular] Shipstation Fix.
  _maps/map_files/ShipStation/ShipStation.dmm
  _maps/shuttles/station_ship.dmm
Labels: Fix, Map Edit

#3332 Ninja Cyborgs
  code/modules/ninja/suit/ninjaDrainAct.dm
  modular_skyrat/modules/altborgs/icons/mob/robots.dmi
  modular_skyrat/modules/shapeshifting_module/code/game/objects/items/borg_shapeshifter.dm
  modular_skyrat/modules/specborg/code/game/objects/items/cyborg_items.dm
  modular_skyrat/modules/specborg/code/modules/living/sillicon/robot/robot_module.dm
  modular_skyrat/modules/specborg/icons/hud/screen_cyborg.dmi
  modular_skyrat/modules/specborg/icons/mob/moreborgs.dmi
  modular_skyrat/modules/specborg/icons/obj/item_cyborgs.dmi
  modular_skyrat/modules/specborg/readme.md
  tgstation.dme
Labels: Feature

#3390 [OOPS] Makes HoS and Cap female parade uniforms into the jackets they were meant to be
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  modular_skyrat/modules/customization/icons/mob/clothing/suit.dmi
  modular_skyrat/modules/customization/icons/mob/clothing/under/captain.dmi
  modular_skyrat/modules/customization/icons/mob/clothing/under/security.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/suits.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/under/captain.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/under/security.dmi
  modular_skyrat/modules/customization/modules/clothing/suits/armor.dm
  modular_skyrat/modules/customization/modules/clothing/under/captain.dm
  modular_skyrat/modules/customization/modules/clothing/under/security.dm
  tgstation.dme
Labels: Fix

#3392 Cyber P.I. Costume
  code/modules/vending/wardrobes.dm
  modular_skyrat/modules/customization/icons/mob/clothing/head.dmi
  modular_skyrat/modules/customization/icons/mob/clothing/uniform.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/hats.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/uniforms.dmi
  modular_skyrat/modules/customization/modules/client/loadout/head.dm
  modular_skyrat/modules/customization/modules/client/loadout/uniform.dm
  modular_skyrat/modules/customization/modules/clothing/head/head.dm
  modular_skyrat/modules/customization/modules/clothing/under/costumes.dm
Labels: Feature

#3410 Chubby Markings
  modular_skyrat/modules/customization/icons/mob/body_markings/other_markings.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/body_markings/body_markings.dm
Labels: Feature

#3383 makes bone spears have reach of two
  code/game/objects/items/spear.dm
Labels: Balance/Rebalance

#3316 [Modular] Yet even MORE DS-1 Tweaks.
  .gitignore
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  modular_skyrat/modules/assaultops/code/assaultops_misc.dm
  modular_skyrat/modules/assaultops/code/assaultops_spawners.dm
Labels: Map Edit, Tweak

#3411 Armadyne Update
  modular_skyrat/modules/sec_haul/code/guns/bullets.dm
  modular_skyrat/modules/sec_haul/code/guns/guns.dm
  modular_skyrat/modules/sec_haul/code/peacekeeper/armadyne_clothing.dm
  modular_skyrat/modules/sec_haul/icons/armadyne/armadyne_clothing.dmi
  modular_skyrat/modules/sec_haul/icons/armadyne/armadyne_clothing_digi.dmi
  modular_skyrat/modules/sec_haul/icons/armadyne/armadyne_items.dmi
  modular_skyrat/modules/sec_haul/icons/guns/dmr.dmi
  modular_skyrat/modules/sec_haul/icons/guns/inhands/lefthand40x32.dmi
  modular_skyrat/modules/sec_haul/icons/guns/inhands/righthand40x32.dmi
  modular_skyrat/modules/sec_haul/icons/peacekeeper/clothing/armadyne/armadyne_clothing.dmi
Labels: Feature

#3280 Coronal Mass Ejection Event
  code/controllers/subsystem/events.dm
  code/game/objects/items/devices/anomaly_neutralizer.dm
  code/modules/admin/admin_verbs.dm
  modular_skyrat/modules/alerts/code/set_security_level.dm
  modular_skyrat/modules/cme/code/_cme_defines.dm
  modular_skyrat/modules/cme/code/cme.dm
  modular_skyrat/modules/cme/icons/cme_effect.dmi
  modular_skyrat/modules/cme/readme.md
  modular_skyrat/modules/cme/sound/cme.ogg
  modular_skyrat/modules/cme/sound/cme_warning.ogg
  tgstation.dme
Labels: Feature, Test Merged

#3423 Fixes Detective Under/Oversuit for digi sprites
  modular_skyrat/modules/customization/modules/clothing/under/security.dm
Labels: Fix

#3424 Removes mindshield from blueshield's baton
  modular_skyrat/modules/blueshield/code/game/objects/items/melee/misc.dm
Labels: Balance/Rebalance, Removal

#3430 Meet the interns
  modular_skyrat/modules/customization/modules/client/loadout/donator/personal/donator_personal.dm
  modular_skyrat/modules/customization/modules/clothing/head/head.dm
Labels: Feature

#3432 Security Medic Fixes
  modular_skyrat/modules/sec_haul/code/security_medic/secmed_clothes.dm
  modular_skyrat/modules/sec_haul/code/security_medic/security_medic.dm
  modular_skyrat/modules/sec_haul/icons/security_medic/secmed_uniform_digi.dmi
Labels: Feature, Fix

#3434 Icebox & Metastation Bugfixing & New Prison
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
Labels: Feature, Map Edit

#3437 SURPRISE SUPRISE. MUTANT_VARIANT Moment.
  code/modules/clothing/suits/jobs.dm
  modular_skyrat/modules/customization/modules/clothing/suits/armor.dm
Labels: Fix

#3428 Yet more special description contraband
  code/game/objects/items/devices/traitordevices.dm
  code/game/objects/items/emags.dm
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/storage/toolbox.dm
Labels: Tweak

#3021 Makes the drawing tablet not GARBAGE
  modular_skyrat/modules/customization/modules/client/loadout/donator/personal/donator_personal.dm
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
Labels: Feature

#3460 [NONMODULAR]Removes RESTRICTED_GAS roll chance for both lavaland and icebox
  code/datums/atmosphere/planetary.dm
Labels: Tweak

#3463 [MODULAR]Armadyne now doesnt use bluespace compression
  modular_skyrat/modules/sec_haul/code/guns/token_system/gunsets.dm
Labels: Fix

#3469 hotpsrings
  modular_skyrat/modules/mapping/code/pool.dm
Labels: Fix

#3438 pre-rebase plushies !
  modular_skyrat/modules/customization/game/objects/items/plushes.dm
  modular_skyrat/modules/customization/game/objects/items/sound/deerplush.ogg
  modular_skyrat/modules/customization/game/objects/items/sound/merowr.ogg
  modular_skyrat/modules/customization/icons/obj/plushes.dmi
Labels: Feature, Sprites

#3320 Adds Polychromic Sweater
  modular_skyrat/modules/customization/icons/~donator/mob/clothing/uniform.dmi
  modular_skyrat/modules/customization/icons/~donator/obj/clothing/uniform.dmi
  modular_skyrat/modules/customization/modules/client/loadout/uniform.dm
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
Labels: Feature

#3313 Edits Deltastation SM to be less... wack
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
Labels: Map Edit, Tweak

#3487 [NON-MODULAR] Disables OCD Device
  code/modules/uplink/uplink_items.dm
Labels: Removal

#3468 Modifies/Resprites most Armadyne guns, changes descriptions and names accordingly
  modular_skyrat/modules/sec_haul/code/guns/guns.dm
  modular_skyrat/modules/sec_haul/icons/guns/croon.dmi
  modular_skyrat/modules/sec_haul/icons/guns/dozer.dmi
  modular_skyrat/modules/sec_haul/icons/guns/energy/allstar.dmi
  modular_skyrat/modules/sec_haul/icons/guns/firefly.dmi
  modular_skyrat/modules/sec_haul/icons/guns/glock.dmi
  modular_skyrat/modules/sec_haul/icons/guns/gunsets.dmi
  modular_skyrat/modules/sec_haul/icons/guns/inhands/lefthand.dmi
  modular_skyrat/modules/sec_haul/icons/guns/inhands/righthand.dmi
  modular_skyrat/modules/sec_haul/icons/guns/ladon.dmi
  modular_skyrat/modules/sec_haul/icons/guns/mags.dmi
  modular_skyrat/modules/sec_haul/icons/guns/makarov.dmi
  modular_skyrat/modules/sec_haul/icons/guns/mk58.dmi
  modular_skyrat/modules/sec_haul/icons/guns/norwind.dmi
  modular_skyrat/modules/sec_haul/icons/guns/ostwind.dmi
  modular_skyrat/modules/sec_haul/icons/guns/pcr.dmi
  modular_skyrat/modules/sec_haul/icons/guns/pcr2.dmi
  modular_skyrat/modules/sec_haul/icons/guns/pdh.dmi
  modular_skyrat/modules/sec_haul/icons/guns/pitbull.dmi
  modular_skyrat/modules/sec_haul/icons/guns/projectiles.dmi
  modular_skyrat/modules/sec_haul/icons/guns/smartgun.dmi
  modular_skyrat/modules/sec_haul/icons/guns/vintorez.dmi
Labels: Fix, Grammar and Formatting, Sprites, Tweak

#3485 Icebox Prison: the Glass Agenda
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
Labels: Feature, Map Edit

#2962 [Modular] Ports the bluespace locker from oldskyrat
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  code/modules/shuttle/supply.dm
  modular_skyrat/modules/bluespace_locker/code/__HELPERS/unsorted.dm
  modular_skyrat/modules/bluespace_locker/code/controllers/subsystem/bluespace_locker.dm
  modular_skyrat/modules/bluespace_locker/code/game/area/Space_Station_13_areas.dm
  modular_skyrat/modules/bluespace_locker/code/game/objects/structures/crates_lockers/bluespace_locker.dm
  modular_skyrat/modules/bluespace_locker/icons/obj/closet.dmi
  tgstation.dme
Labels: Feature, Map Edit, Test Merged

#3473 Deathsquads don't exist
  code/game/objects/effects/contraband.dm
Labels: Fix

#3490 Respect my pronouns
  code/__DEFINES/~skyrat_defines/combat.dm
Labels: Fix

#3470 [Modular] Adds the asset protection ert
  modular_skyrat/master_files/code/datums/ert.dm
  modular_skyrat/master_files/code/modules/antagonists/ert/ert.dm
  modular_skyrat/master_files/code/modules/clothing/outfits/ert.dm
  tgstation.dme
Labels: Feature

#3494 Fixes CI on death
  code/modules/mob/living/death.dm
Labels: Fix

#3516 HITSCAN BEGONE YOU WHORE
  modular_skyrat/modules/sec_haul/code/guns/laser_hitscan.dm
Labels: Removal

#3517 [SEMI-MODULAR]Funny mutant variant man bad
  code/modules/clothing/under/jobs/medical.dm
Labels: Fix

#3515 MORE MMTUUTANT VAIRNANT
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/under/costume.dm
  code/modules/clothing/under/jobs/cargo.dm
Labels: Fix

#3417 [Modular] I can't beleive it's even more DS-1 Tweaks!
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  _maps/skyrat/shuttles/syndicate_frigate.dmm
  modular_skyrat/modules/assaultops/code/areas.dm
  modular_skyrat/modules/assaultops/code/assaultops_spawners.dm
Labels: Balance/Rebalance, Fix, Map Edit

#3496 Rejigs CME weight
  modular_skyrat/modules/cme/code/cme.dm
Labels: Balance/Rebalance, Fix

#3518 [NONMODULAR] Clown slots can no longer be edited.
  code/game/machinery/computer/card.dm
  code/modules/modular_computers/file_system/programs/jobmanagement.dm
Labels: Fix

#3499 Adds Loincloths
  code/game/objects/items/stacks/sheets/leather.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/modules/vending/autodrobe.dm
  modular_skyrat/modules/customization/icons/mob/clothing/uniform.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/uniforms.dmi
  modular_skyrat/modules/customization/modules/client/loadout/uniform.dm
  modular_skyrat/modules/customization/modules/clothing/under/costumes.dm
Labels: Feature

#3544 [Modular] Fixes the Monkey Pens on DS-1
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
Labels: Map Edit

#3542 [MODULAR] Silverscales Actually Work
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/snout.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/tails.dm
Labels: Fix

#3548 Thermonuclear Detonation
  code/modules/antagonists/nukeop/equipment/nuclearbomb.dm
  modular_skyrat/master_files/code/modules/antagonists/nukeop/equipment/nuclearbomb.dm
  tgstation.dme
Labels: Feature

#3551 [NON-MODULAR] Removes ability to edit QM and shuttle pilot job slots
  code/modules/modular_computers/file_system/programs/jobmanagement.dm
Labels: Fix, Removal

#3356 45 TC traitor update
  code/__DEFINES/antagonists.dm
  code/modules/uplink/uplink_items.dm
  modular_skyrat/master_files/code/modules/uplink/uplink_items.dm
Labels: Feature, Test Merged, Tweak

#3500 Adds two new public plushies to the loadout
  modular_skyrat/modules/customization/__DEFINES/loadout.dm
  modular_skyrat/modules/customization/game/objects/items/instruments.dm
  modular_skyrat/modules/customization/game/objects/items/plushes.dm
  modular_skyrat/modules/customization/game/objects/items/sound/deerplush.ogg
  modular_skyrat/modules/customization/game/objects/items/sound/leaplush.ogg
  modular_skyrat/modules/customization/icons/obj/instruments.dmi
  modular_skyrat/modules/customization/icons/obj/plushes.dmi
  modular_skyrat/modules/customization/modules/client/loadout/backpack.dm
  tgstation.dme
Labels: Feature

#3559 Sets the monastery shuttle to be unpurchasable
  code/datums/shuttles.dm
Labels: Removal

#3555 [Modular] One Last, Last. LAST DS-1 Tweak.
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
Labels: Map Edit

#3527 Adds polychromic gear to ClothesMates
  code/modules/vending/clothesmate.dm
Labels: Feature

#3419 Stealthier Hacked Law amd Chameleon Projector (again)
  code/game/objects/items/AI_modules.dm
  code/game/objects/items/devices/chameleonproj.dm
Labels: Tweak

#3552 Adds Hospital Gowns
  code/game/objects/items/storage/backpack.dm
  code/modules/research/designs/medical_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/vending/wardrobes.dm
  modular_skyrat/master_files/icons/mob/clothing/suit_digi.dmi
  modular_skyrat/modules/customization/icons/mob/clothing/suit.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/suits.dmi
  modular_skyrat/modules/customization/modules/clothing/suits/misc.dm
Labels: Code Improvement, Feature

#3586 IDs show your age if you're not old enough to drink in the US.
  code/game/objects/items/cards_ids.dm
  code/modules/vending/_vending.dm
Labels: Tweak

#3583 Consistency in Loadout for plushies
  modular_skyrat/modules/customization/game/objects/items/plushes.dm
  modular_skyrat/modules/customization/modules/client/loadout/backpack.dm
Labels: Tweak

#3584 [Modular] The Master At Arms' New Drip
  _maps/skyrat/shuttles/syndicate_cruiser.dmm
  code/__DEFINES/~skyrat_defines/assaultops.dm
  modular_skyrat/modules/assaultops/code/assaultops_spawners.dm
  modular_skyrat/modules/card/card.dm
  modular_skyrat/modules/card/card.dmi
  modular_skyrat/modules/customization/icons/mob/clothing/head.dmi
  modular_skyrat/modules/customization/icons/mob/clothing/suit.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/hats.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/suits.dmi
  modular_skyrat/modules/customization/modules/clothing/head/head.dm
  modular_skyrat/modules/customization/modules/clothing/suits/armor.dm
  modular_skyrat/modules/customization/modules/clothing/suits/misc.dm
  modular_skyrat/modules/icspawning/code/game/objects/items/cards_ids.dm
Labels: Feature, Fix, Map Edit

#3537 [MODULAR] Adds EAL back to all synthetics
  modular_skyrat/master_files/code/modules/language/language_holders.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/robotic.dm
  tgstation.dme
Labels: Feature

#3597 [Modular] More.. More. More.. More. More. DS-1 Tweaks.
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
Labels: Feature, Map Edit

#3393 Changeling Rebuff
  code/game/gamemodes/changeling/changeling.dm
  code/modules/antagonists/changeling/changeling.dm
  code/modules/antagonists/changeling/powers/adrenaline.dm
  code/modules/antagonists/changeling/powers/mutations.dm
  modular_skyrat/modules/horrorform/code/modules/antagonists/changeling/powers/horror_form.dm
  modular_skyrat/modules/horrorform/code/modules/mob/hostile/true_changeling.dm
Labels: Balance/Rebalance, Test Merged

#3598 [NONMODULAR]Fixes synths and slimes being unable to speak their respective language
  code/modules/surgery/organs/tongue.dm
Labels: Fix

#3572 [Modular] Captain Gasmask For Muzzles and Vox
  modular_skyrat/master_files/code/modules/clothing/anthro_clothes.dm
  modular_skyrat/master_files/icons/mob/clothing/mask_muzzled.dmi
  modular_skyrat/master_files/icons/mob/clothing/mask_vox.dmi
Labels: Removal, Sprites

#3595 [MODULAR]Blueshield semi-rework
  modular_skyrat/master_files/code/defines/_ammo_defines.dm
  modular_skyrat/modules/blueshield/code/modules/jobs/job_types/blueshield.dm
  modular_skyrat/modules/blueshield/code/modules/projectiles/guns/ballistic/ballistic.dm
  modular_skyrat/modules/blueshield/icons/obj/guns/M45A5.dmi
  modular_skyrat/modules/sec_haul/code/guns/_ammo_defines.dm
  tgstation.dme
Labels: Feature

#3600 TACTICAL NUKE INCOMING
  code/__DEFINES/~skyrat_defines/DNA.dm
  code/__DEFINES/~skyrat_defines/ammo_defines.dm
  code/__DEFINES/~skyrat_defines/examine_defines.dm
  code/__DEFINES/~skyrat_defines/inventory.dm
  code/__DEFINES/~skyrat_defines/logging.dm
  code/__DEFINES/~skyrat_defines/medical_defines.dm
  code/__DEFINES/~skyrat_defines/obj_flags.dm
  code/__DEFINES/~skyrat_defines/preferences.dm
  code/__DEFINES/~skyrat_defines/robot_defines.dm
  code/__DEFINES/~skyrat_defines/say.dm
  code/__DEFINES/~skyrat_defines/security_alerts.dm
  code/__DEFINES/~skyrat_defines/traits.dm
  modular_skyrat/master_files/code/defines/_ammo_defines.dm
  modular_skyrat/modules/cme/code/_cme_defines.dm
  tgstation.dme
Labels: Fix

#3601 [FUCK][MODULAR][SPEEDMERGE ME]Phone edit man bad
  modular_skyrat/modules/blueshield/code/modules/projectiles/guns/ballistic/ballistic.dm
Labels: Fix

#3573 [Semi-Modular] Ports SEVA suit from oldbase.
  code/modules/jobs/job_types/shaft_miner.dm
  code/modules/mining/machine_vending.dm
  modular_skyrat/modules/SEVA_suit/icons/equipped/seva_head.dmi
  modular_skyrat/modules/SEVA_suit/icons/equipped/seva_mask.dmi
  modular_skyrat/modules/SEVA_suit/icons/equipped/seva_mask_muzzled.dmi
  modular_skyrat/modules/SEVA_suit/icons/equipped/seva_suit.dmi
  modular_skyrat/modules/SEVA_suit/icons/equipped/seva_suit_digi.dmi
  modular_skyrat/modules/SEVA_suit/icons/seva_hat.dmi
  modular_skyrat/modules/SEVA_suit/icons/seva_mask.dmi
  modular_skyrat/modules/SEVA_suit/icons/seva_suit.dmi
  modular_skyrat/modules/SEVA_suit/seva_obj.dm
  modular_skyrat/modules/SEVA_suit/suit_voucher.dm
  tgstation.dme
Labels: Feature

#3609 Blueshield gun fixes
  modular_skyrat/modules/blueshield/code/modules/projectiles/guns/ballistic/ballistic.dm
  modular_skyrat/modules/blueshield/icons/obj/guns/M45A5.dmi
  modular_skyrat/modules/sec_haul/code/guns/ammo.dm
  modular_skyrat/modules/sec_haul/code/guns/guns.dm
Labels: Fix

#3484 [MODULAR] Handheld mirror port
  modular_skyrat/master_files/code/game/objects/items/hhmirror.dm
  modular_skyrat/master_files/icons/obj/hhmirror.dmi
  modular_skyrat/modules/customization/modules/client/loadout/backpack.dm
  tgstation.dme
Labels: Feature

#3643 Revert "[Modular] Ports speech impediments from old base"
  modular_skyrat/master_files/code/datums/traits/neutral.dm
  modular_skyrat/master_files/code/datums/traits/speech_mod/_speech_mod.dm
  modular_skyrat/master_files/code/datums/traits/speech_mod/impediments.dm
  tgstation.dme
Labels: Revert

#3638 Lets medibelts hold hospital gowns
  code/game/objects/items/storage/belt.dm
Labels: Fix

#3630 Removes forced brain damage speech from dumbness trauma
  code/datums/brain_damage/mild.dm
Labels: Removal

#3646 [NONMODULAR]Spread Infestation removal
  code/modules/antagonists/changeling/powers/spiders.dm
Labels: Removal

#3647 [NONMODULAR] Fixes changeling transform (BANDAID)
  code/modules/antagonists/changeling/powers/transform.dm
Labels: Fix

#3653 Update TG's Icons
  icons/mob/clothing/head.dmi
  icons/mob/clothing/suit.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/suits.dmi
Labels: Sprites

#3666 [Modular] Fixes typo for berserker suit in suit_digi
  modular_skyrat/master_files/icons/mob/clothing/suit_digi.dmi
Labels: Fix

#3659 [Modular] ShipStation Toxins.
  _maps/map_files/ShipStation/ShipStation.dmm
Labels: Feature, Map Edit

#3620 [MODULAR] Metastation Prison Rework
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
Labels: Feature, Map Edit

#3694 Hardsyncs TG maps
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Edit

#3695 Updates modular maps with TG's recent changes.
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above_skyrat.dmm
  _maps/map_files/KiloStation/KiloStation_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
Labels: Feature, Map Edit

#3483 More traitor items Part 1
  modular_skyrat/master_files/code/modules/uplink/uplink_items.dm
  modular_skyrat/modules/moretraitoritems/code/game/objects/items/cards_id.dm
  modular_skyrat/modules/moretraitoritems/code/game/objects/items/device/radio/headset.dm
  modular_skyrat/modules/moretraitoritems/code/game/objects/items/granters.dm
  modular_skyrat/modules/moretraitoritems/code/game/objects/items/storage/syndicate_loadout.dm
  modular_skyrat/modules/moretraitoritems/code/game/objects/items/weaponry.dm
  modular_skyrat/modules/moretraitoritems/readme.md
  tgstation.dme
Labels: Feature, Test Merged

#3440 [MODULAR]Gives new Lungs as Selectable on the augmentation Menu
  icons/obj/surgery.dmi
  modular_skyrat/modules/customization/modules/client/augment/organs.dm
  modular_skyrat/modules/organs/lungs.dm
  modular_skyrat/modules/organs/lungs.dmi
  tgstation.dme
Labels: Feature, Sprites

#3703 Fixes IPC Redtext
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/ipc.dm
Labels: Fix

#3712 [MODULAR] Adds two new plushies to the loadout
  modular_skyrat/modules/customization/game/objects/items/plushes.dm
  modular_skyrat/modules/customization/icons/obj/plushes.dmi
  modular_skyrat/modules/customization/modules/client/loadout/backpack.dm
Labels: Feature

#3711 [MODULAR] Gives Paramedics access to the prescription health hud glasses
  modular_skyrat/modules/huds/code/loadout/glasses_loadout.dm
Labels: Fix

#3592 [Semi-Modular] Ghost Cafe
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  code/__DEFINES/~skyrat_defines/traits.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/ruins/spaceruin_code/hilbertshotel.dm
  modular_skyrat/modules/aesthetics/floors/code/floors.dm
  modular_skyrat/modules/aesthetics/floors/icons/floors.dmi
  modular_skyrat/modules/ghostcafe/code/datums/elements/dusts_on_catatonia.dm
  modular_skyrat/modules/ghostcafe/code/datums/elements/dusts_on_leaving_area.dm
  modular_skyrat/modules/ghostcafe/code/datums/elements/ghost_role_eligibility.dm
  modular_skyrat/modules/ghostcafe/code/game/area/areas/centcom.dm
  modular_skyrat/modules/ghostcafe/code/game/objects/items/hilbertshotel_ghost.dm
  modular_skyrat/modules/ghostcafe/code/game/objects/items/stackspawner_item.dm
  modular_skyrat/modules/ghostcafe/code/game/objects/structures/ghost_role_spawners.dm
  modular_skyrat/modules/ghostcafe/code/game/objects/structures/stackspawner_machine.dm
  modular_skyrat/modules/ghostcafe/code/modules/mob/living/silicon/robot/robot_ghostcafe.dm
  modular_skyrat/modules/ghostcafe/icons/obj/machines/robot_storage.dmi
  modular_skyrat/modules/ghostcafe/icons/obj/machines/stackspawner.dmi
  modular_skyrat/modules/ghostcafe/icons/turf/floors/carpet_royalblack.dmi
  modular_skyrat/modules/ghostcafe/icons/turf/floors/floors.dmi
  modular_skyrat/modules/ghostcafe/readme.md
  modular_skyrat/modules/jungle/code/game/objects/structures/flora.dm
  modular_skyrat/modules/jungle/icons/obj/flora/jungleflora.dmi
  modular_skyrat/modules/jungle/readme.md
  modular_skyrat/modules/mapping/code/planet_turfs.dm
  modular_skyrat/modules/mapping/code/pool.dm
  tgstation.dme
Labels: Feature, Map Edit

#3648 [MODULAR] Makeshift Tools
  modular_skyrat/modules/modular_items/code/datums/components/crafting/recipes/recipes_misc.dm
  modular_skyrat/modules/modular_items/code/game/objects/items/miscellaneous.dm
  modular_skyrat/modules/modular_items/code/game/objects/items/tools/makeshift.dm
  modular_skyrat/modules/modular_items/icons/obj/items/tools.dmi
  tgstation.dme
Labels: Feature

#3610 CQC+
  code/__DEFINES/melee.dm
  modular_skyrat/master_files/code/datums/martial/cqcplus.dm
  modular_skyrat/master_files/code/modules/uplink/uplink_items.dm
  tgstation.dme
Labels: Feature

#3718 Putting your hand in the food processor without due care is bad
  code/modules/food_and_drinks/kitchen_machinery/processor.dm
Labels: Feature

#3707 Finish "Utility Port"
  code/modules/vending/autodrobe.dm
  code/modules/vending/clothesmate.dm
  code/modules/vending/wardrobes.dm
  modular_skyrat/modules/customization/icons/mob/clothing/head.dmi
  modular_skyrat/modules/customization/icons/mob/clothing/suit.dmi
  modular_skyrat/modules/customization/icons/mob/clothing/uniform.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/hats.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/suits.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/uniforms.dmi
  modular_skyrat/modules/customization/modules/client/loadout/head.dm
  modular_skyrat/modules/customization/modules/client/loadout/suit.dm
  modular_skyrat/modules/customization/modules/client/loadout/uniform.dm
  modular_skyrat/modules/customization/modules/clothing/under/utility_port/other_port.dm
  modular_skyrat/modules/customization/modules/clothing/under/utility_port/readme.md
  modular_skyrat/modules/customization/modules/clothing/under/utility_port/suits_port.dm
  modular_skyrat/modules/customization/modules/clothing/under/utility_port/utility.dm
  tgstation.dme
Labels: Feature, Fix

#3720 [Modular]Removes ERCD
  modular_skyrat/modules/cargo/code/packs.dm
Labels: Removal

#3725 erm uhm eerrr (ai sat had a literal stroke)
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
Labels: Map Edit
