Repository Skyrat-SS13/Skyrat-tg, pull requests merged in 2021-06, with the labels that each got.

#6046 Privateers 2.0 Prototype
  _maps/skyrat/shuttles/slaver_syndie.dmm
  code/__DEFINES/~skyrat_defines/mapping.dm
  code/game/communications.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/say.dm
  code/modules/mob/living/living_say.dm
  modular_skyrat/modules/mapping/code/radio.dm
  modular_skyrat/modules/mapping/code/shuttles.dm
  tgstation.dme
Labels: Map Edit

#6017 Metastation Prison Remap
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
Labels: Map Edit

#6057 [Modular] Adds the Curator's Console to NSS Journey
  _maps/map_files/NSSJourney/NSSJourney.dmm
Labels: Fix, Map Edit

#6060 [Non-Modular] Adds missing compile artefact to repo
  tgui/yarn.lock
Labels: UI

#6077 Fixes crusader belt
  modular_skyrat/master_files/icons/obj/clothing/belts.dmi
Labels: Fix

#6068 Fixes Missing Skunk Ears & Belly Markings, Unlocks Eevee Ears Secondary Colour
  modular_skyrat/master_files/icons/mob/body_markings/secondary_markings.dmi
  modular_skyrat/master_files/icons/mob/sprite_accessory/ears.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/ears.dm
Labels: Fix, Tweak

#6032 Makes General, Medical, Security records work
  code/datums/datacore.dm
  code/game/machinery/computer/medical.dm
  code/game/machinery/computer/security.dm
  code/modules/mob/living/carbon/human/examine.dm
Labels: Fix

#6101 update out of date species helpers
  code/__HELPERS/~skyrat_helpers/is_helpers.dm
Labels: Code Improvement

#5987 The sun's wrath is bound to it's designated intensity, minimal ejections will no longer change strength of their own will (CME strength fix)
  modular_skyrat/modules/cme/code/_cme_defines.dm
  modular_skyrat/modules/cme/code/cme.dm
Labels: Fix

#5975 [NON-MODULAR] Doing Surgery in the correct area now gives you a boost to its speed.
  code/modules/surgery/surgery_step.dm
Labels: Balance/Rebalance

#6110 Fixes Metaprison vacuum (IMPORTANT MAP FIX)
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
Labels: Map Edit

#6100 [ready] Fixes robots screaming in pain when they don't feel it
  modular_skyrat/modules/surgerypain/code/mechanic_steps.dm
  modular_skyrat/modules/surgerypain/code/surgery_step.dm
Labels: Fix, Needs Review

#6118 [modular] [ready] Adds goose Honking and cow mooing! BEWARE COWS!
  modular_skyrat/modules/emotes/code/emotes.dm
  modular_skyrat/modules/emotes/sound/voice/goose_honk.ogg
  modular_skyrat/modules/emotes/sound/voice/moo.ogg
Labels: Feature, Needs Review

#6117 Bedroom Crew~
  code/__DEFINES/~skyrat_defines/jobs.dm
  code/controllers/subsystem/job.dm
  code/game/machinery/computer/card.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/clown.dm
  code/modules/modular_computers/file_system/programs/jobmanagement.dm
  config/skyrat/veteran_players.txt
  modular_skyrat/master_files/code/modules/mob/living/dead/new_player/new_player.dm
  modular_skyrat/modules/customization/__HELPERS/global_lists.dm
  modular_skyrat/modules/customization/modules/client/preferences.dm
  modular_skyrat/modules/exp_corps/code/expeditionary_trooper.dm
  modular_skyrat/modules/trusted_players/code/trusted_players.dm
  modular_skyrat/modules/veteran_players/code/veteran_players.dm
  tgstation.dme
Labels: Config Update

#6080 Minor map fixes from reset
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/KiloStation/KiloStation_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
  _maps/map_files/WaterKiloStation/WaterKiloStation.dmm
  _maps/map_files/tramstation/tramstation_skyrat.dmm
Labels: Fix, Map Edit

#6120 [modular][ready]adds poly code to the keff and cowbell
  modular_skyrat/master_files/icons/mob/clothing/feet.dmi
  modular_skyrat/master_files/icons/mob/clothing/feet_digi.dmi
  modular_skyrat/master_files/icons/mob/clothing/head.dmi
  modular_skyrat/master_files/icons/mob/clothing/neck.dmi
  modular_skyrat/master_files/icons/mob/clothing/suit.dmi
  modular_skyrat/master_files/icons/mob/clothing/uniform.dmi
  modular_skyrat/modules/customization/modules/client/loadout/neck.dm
  modular_skyrat/modules/customization/modules/clothing/neck/collars.dm
Labels: Feature, Needs Review, Removal

#6147 [FUCK] Meta Moment
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
Labels: Fix, Map Edit

#6121 [BANDAID] [NON-MODULAR] Fixes internals in the stripping menu
  tgui/packages/tgui/interfaces/StripMenu.tsx
Labels: Fix, UI

#6150 [modular][ready]fixes holobadge access to let the det use it
  modular_skyrat/modules/customization/modules/clothing/under/accessories.dm
Labels: Fix, Needs Review

#6170 Fixes a bunch of lattice runtimes
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
  _maps/map_files/Mining/TidalLock.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/waypointstation.dmm
Labels: Fix, Map Edit

#6167 Fixed Run time in GAGS caused by peacekeeper clothes [Semi-Modular] [FIX]
  code/datums/greyscale/config_types/greyscale_configs.dm
  code/game/objects/items.dm
  code/modules/clothing/shoes/colour.dm
  code/modules/clothing/under/color.dm
  code/modules/clothing/under/jobs/security.dm
  code/modules/jobs/jobs.dm
  modular_skyrat/master_files/icons/mob/clothing/color_gags_digi.dmi
  modular_skyrat/master_files/icons/mob/clothing/feet_gags_digi.dmi
  modular_skyrat/modules/customization/modules/clothing/clothing.dm
  modular_skyrat/modules/sec_haul/code/peacekeeper/peacekeeper_clothing.dm
Labels: Code Improvement, Fix

#6185 [Semi-Modular] Space hotel fixes
  _maps/RandomRuins/SpaceRuins/spacehotel_skyrat.dmm
  code/game/area/areas/ruins/space.dm
Labels: Fix, Map Edit

#6192 [Modular] Stasis beds are darker when unoccupied.
  modular_skyrat/modules/stasisrework/code/game/machinery/stasissleeper.dm
  modular_skyrat/modules/stasisrework/icons/obj/machines/stasissleeper.dmi
  tgstation.dme
Labels: Sprites

#6202 Fixes vox ponytail hair
  modular_skyrat/master_files/icons/mob/sprite_accessory/vox_hair.dmi
Labels: Fix

#6186 Adds SIGNAL_HANDLER to a bunch of procs
  modular_skyrat/master_files/code/controllers/subsystem/statpanel.dm
  modular_skyrat/master_files/code/datums/components/fullauto.dm
  modular_skyrat/master_files/code/modules/clothing/head/monkey_magnification_helmet.dm
  modular_skyrat/modules/biohazard_blob/code/biohazard_blob_structures.dm
  modular_skyrat/modules/cell_component/code/cell_component.dm
  modular_skyrat/modules/combat_indicator/code/combat_indicator.dm
  modular_skyrat/modules/ghostcafe/code/datums/elements/dusts_on_leaving_area.dm
  modular_skyrat/modules/gunpoint/code/datum/gunpoint/gunpoint_datum.dm
  modular_skyrat/modules/liquids/code/liquid_systems/liquid_effect.dm
  modular_skyrat/modules/liquids/code/liquid_systems/liquid_height.dm
  modular_skyrat/modules/medical/code/wounds/bones.dm
  modular_skyrat/modules/medical/code/wounds/muscle.dm
  modular_skyrat/modules/mutants/code/mutant_datum.dm
  modular_skyrat/modules/shapeshifting_module/code/game/objects/items/borg_shapeshifter.dm
Labels: Code Improvement

#6204 [whoops] Scrubs the O2 indicator out of Delta station's plasma tank, replaces it with a plasma indicator
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
Labels: Fix, Map Edit

#6163 [semi-modular][ready] vendors now get a bunch of loadout job locked stuff
  code/modules/vending/wardrobes.dm
  modular_skyrat/master_files/icons/mob/clothing/head.dmi
  modular_skyrat/master_files/icons/obj/clothing/hats.dmi
  modular_skyrat/master_files/icons/obj/clothing/uniforms.dmi
  modular_skyrat/modules/customization/modules/client/loadout/uniform.dm
  modular_skyrat/modules/customization/modules/clothing/head/head.dm
  modular_skyrat/modules/customization/modules/clothing/under/misc.dm
  modular_skyrat/modules/sec_haul/code/misc/vending.dm
Labels: Fix, Needs Review

#6162 [Modular] aesthetics module fixes
  modular_skyrat/modules/aesthetics/device/device.dm
  modular_skyrat/modules/aesthetics/device/device.dmi
  modular_skyrat/modules/aesthetics/supermatter/supermatter.dm
  modular_skyrat/modules/aesthetics/supermatter/supermatter.dmi
  tgstation.dme
Labels: Fix, Removal, Sprites

#6043 [Modular] Interdyne Remap
  modular_skyrat/modules/customization/modules/clothing/under/misc.dm
  modular_skyrat/modules/mapping/_maps/RandomRuins/IceRuins/icemoon_underground_syndicate_base1_skyrat.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1_skyrat.dmm
Labels: Feature

#6236 [nonmodular][ready] adds loadout stuff to the everyone vendors
  code/modules/vending/autodrobe.dm
  code/modules/vending/clothesmate.dm
  modular_skyrat/modules/customization/modules/client/loadout/glasses.dm
Labels: Fix, Needs Review

#6233 Fixes and re-enables e-welder
  _maps/map_files/generic/CentCom_skyrat.dmm
  code/game/objects/items/storage/belt.dm
  code/modules/cargo/exports/tools.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord.dm
  code/modules/research/designs/tool_designs.dm
  modular_skyrat/modules/altborgs/code/modules/mob/living/silicon/robot/robot_modules.dm
  modular_skyrat/modules/electric_welder/code/electric_welder.dm
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/forgottenship_skyrat.dmm
  modular_skyrat/modules/specborg/code/modules/living/sillicon/robot/robot_module.dm
Labels: Fix, Map Edit, Refactor

#6206 [MODULAR] Removes the CI sound.
  modular_skyrat/modules/combat_indicator/code/combat_indicator.dm
Labels: Removal

#6235 Cocaine QOL changes
  modular_skyrat/modules/morenarcotics/items/cocaine.dm
Labels: Fix

#6102 [Modular] NSS Journey Fixes And Updates
  _maps/map_files/NSSJourney/NSSJourney.dmm
Labels: Fix, Map Edit

#6211 Prevent Shrinking of Certain Small Borg Chassis w/ Small Refactor
  code/__DEFINES/~skyrat_defines/robot_defines.dm
  code/modules/mob/living/silicon/robot/robot_modules.dm
  modular_skyrat/modules/altborgs/code/modules/mob/living/silicon/robot/robot.dm
  modular_skyrat/modules/altborgs/code/modules/mob/living/silicon/robot/robot_defines.dm
  modular_skyrat/modules/altborgs/code/modules/mob/living/silicon/robot/robot_model.dm
  modular_skyrat/modules/altborgs/code/modules/mob/living/silicon/robot/robot_modules.dm
  modular_skyrat/modules/altborgs/code/modules/mob/living/silicon/robot/update_icons.dm
  modular_skyrat/modules/cyborg/code/robot_upgrades.dm
  modular_skyrat/modules/shapeshifting_module/code/game/objects/items/borg_shapeshifter.dm
Labels: Removal

#6172 [TM-FIRST][DNM] Fixes buckshot?
  code/__HELPERS/~skyrat_helpers/is_helpers.dm
  code/datums/components/pellet_cloud.dm
Labels: DO NOT MERGE

#5884 [MODULAR][TM-FIRST][READY] Interaction Menu Framework and Basic Interactions
  code/modules/mob/living/living.dm
  config/skyrat/interactions/cheer.json
  config/skyrat/interactions/example_interaction.json
  config/skyrat/interactions/fistbump.json
  config/skyrat/interactions/handshake.json
  config/skyrat/interactions/headpat.json
  config/skyrat/interactions/highfive.json
  config/skyrat/interactions/pat.json
  config/skyrat/interactions/salute.json
  modular_skyrat/modules/imenu/code/imenu.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/InteractionMenu.js
Labels: Config Update, Feature, Needs Review, Test Merged, UI

#6255 [SPEEEEEEEDMEEERGE] Fixes electric welder, again
  modular_skyrat/modules/electric_welder/code/electric_welder.dm
Labels: Fix

#6270 Gateway fixes
  code/modules/awaymissions/gateway.dm
  modular_skyrat/master_files/code/modules/awaymission/mission_code/black_mesa.dm
  modular_skyrat/modules/awaymissions_skyrat/mission_code/gateway_key.dm
  modular_skyrat/modules/awaymissions_skyrat/mission_code/mothership_astrum.dm
Labels: Fix

#6271 [FIX][SQL][COMPLIANCE] Fixes SQL documentation and updates versioning
  SQL/database_changelog.txt
  code/__DEFINES/subsystems.dm
Labels: Fix, SQL

#6273 Revert "[MODULAR] Removes the CI sound."
  modular_skyrat/modules/combat_indicator/code/combat_indicator.dm
Labels: Removal, Revert

#6282 [fix][ready]makes the pizza stuff and keffiyeh show up
  modular_skyrat/master_files/icons/mob/clothing/suit.dmi
  modular_skyrat/master_files/icons/obj/clothing/hats.dmi
  modular_skyrat/master_files/icons/obj/clothing/uniforms.dmi
  modular_skyrat/modules/customization/modules/clothing/head/head.dm
Labels: Fix, Needs Review

#6312 GBP is working again. Oopsie!
  .github/gbp.toml
Labels: GitHub

#6313 [MIRROR] Juke Build
  .github/workflows/ci_suite.yml
  BUILD.bat
  code/modules/asset_cache/asset_list_items.dm
  tools/bootstrap/python.bat
  tools/build/build.bat
  tools/build/build.js
  tools/build/cbt/dm.js
  tools/build/cbt/fs.js
  tools/build/cbt/glob.js
  tools/build/cbt/process.js
  tools/build/cbt/task.js
  tools/build/cbt/yarn.js
  tools/build/juke/argparse.d.ts
  tools/build/juke/exec.d.ts
  tools/build/juke/fs.d.ts
  tools/build/juke/index.d.ts
  tools/build/juke/index.js
  tools/build/juke/logger.d.ts
  tools/build/juke/parameter.d.ts
  tools/build/juke/runner.d.ts
  tools/build/juke/target.d.ts
  tools/deploy.sh
Labels: GitHub, Tools, Upstream PR Merged

#6268 Changes access requirements on Meta turnstiles
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
Labels: Fix, Map Edit

#6319 moves a misplaced vendor + fixes minor piping mishap in sec
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
Labels: Fix, Map Edit

#6317 [fix][ready]howard schultz please be my president
  modular_skyrat/master_files/icons/mob/clothing/accessories.dmi
  modular_skyrat/modules/customization/modules/clothing/under/accessories.dm
Labels: Fix, Needs Review

#6285 New "pirate" type - Imperial Enclave Audit
  _maps/shuttles/pirate_enclave.dmm
  code/__DEFINES/~skyrat_defines/projectiles.dm
  code/modules/clothing/outfits/standard.dm
  code/modules/events/pirates.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  modular_skyrat/modules/encounters/enclave_pirates.dm
  modular_skyrat/modules/sec_haul/code/guns/ammo.dm
  modular_skyrat/modules/sec_haul/icons/guns/automag.dmi
  modular_skyrat/modules/sec_haul/icons/guns/mags.dmi
  modular_skyrat/modules/sec_haul/sound/automag.ogg
  tgstation.dme
Labels: Feature, Map Edit

#6340 Revert "[Non-Modular] Ghostroles Now Apply Their Loadout Correctly"
  code/modules/awaymissions/corpse.dm
Labels: Revert

#6343 Linter go brr
  code/modules/clothing/head/misc_special.dm
Labels: FUCK

#6275 Adds visitation shutter buttons to delta station
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
Labels: Fix, Map Edit

#6348 [MODULAR][NOT A BLUESHIELD BUFF]Blueshields now get the CFA lynx
  modular_skyrat/modules/blueshield/code/modules/projectiles/guns/ballistic/ballistic.dm
Labels: Tweak

#6341 [semi-modular][ready]one new loadout item, and some contra
  code/modules/vending/wardrobes.dm
  modular_skyrat/master_files/icons/mob/clothing/head.dmi
  modular_skyrat/master_files/icons/mob/clothing/neck.dmi
  modular_skyrat/master_files/icons/mob/clothing/uniform.dmi
  modular_skyrat/master_files/icons/mob/clothing/uniform_digi.dmi
  modular_skyrat/master_files/icons/obj/clothing/uniforms.dmi
  modular_skyrat/modules/customization/modules/client/loadout/neck.dm
  modular_skyrat/modules/customization/modules/client/loadout/uniform.dm
  modular_skyrat/modules/customization/modules/clothing/neck/collars.dm
  modular_skyrat/modules/customization/modules/clothing/under/misc.dm
Labels: Needs Review

#6334 Security/bullet rebalance
  code/modules/jobs/job_types/security_officer.dm
  code/modules/projectiles/ammunition/_ammunition.dm
  code/modules/projectiles/projectile/bullets.dm
  code/modules/research/techweb/all_nodes.dm
  modular_skyrat/modules/aesthetics/guns/icons/energy.dmi
  modular_skyrat/modules/aesthetics/guns/icons/guns.dmi
  modular_skyrat/modules/aesthetics/guns/icons/guns_lefthand.dmi
  modular_skyrat/modules/aesthetics/guns/icons/guns_righthand.dmi
  modular_skyrat/modules/blueshield/code/modules/projectiles/guns/ballistic/ballistic.dm
  modular_skyrat/modules/gunsgalore/code/guns/master.dm
  modular_skyrat/modules/sec_haul/code/guns/ammo.dm
  modular_skyrat/modules/sec_haul/code/guns/bullets.dm
  modular_skyrat/modules/sec_haul/code/guns/guns.dm
  modular_skyrat/modules/sec_haul/code/guns/token_system/gunsets.dm
  modular_skyrat/modules/sec_haul/code/guns/token_system/token_system.dm
  modular_skyrat/modules/sec_haul/code/misc/vending.dm
  modular_skyrat/modules/sec_haul/code/security_sergeant/security_sergeant.dm
  modular_skyrat/modules/sec_haul/icons/guns/gunsets.dmi
Labels: Balance/Rebalance, Test Merged

#6318 Armadyne Munitions Workbench
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/KiloStation/KiloStation_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
  _maps/map_files/NSSJourney/NSSJourney.dmm
  _maps/map_files/WaterKiloStation/WaterKiloStation.dmm
  _maps/map_files/tramstation/tramstation_skyrat.dmm
  _maps/map_files/tramstation/tramstation_skyrat_old.dmm
  _maps/shuttles/pirate_enclave.dmm
  code/modules/projectiles/ammunition/ballistic/revolver.dm
  code/modules/projectiles/ammunition/ballistic/shotgun.dm
  code/modules/research/machinery/circuit_imprinter.dm
  code/modules/research/techweb/all_nodes.dm
  modular_skyrat/modules/ammo_workbench/code/ammo_workbench.dm
  modular_skyrat/modules/ammo_workbench/code/design_disks.dm
  modular_skyrat/modules/ammo_workbench/icons/ammo_workbench.dmi
  modular_skyrat/modules/blueshield/code/modules/jobs/job_types/blueshield.dm
  modular_skyrat/modules/blueshield/code/modules/projectiles/guns/ballistic/ballistic.dm
  modular_skyrat/modules/blueshield/icons/obj/guns/M45A5.dmi
  modular_skyrat/modules/modular_weapons/code/modules/projectiles/projectile/bullets/modular_projectiles.dm
  modular_skyrat/modules/sec_haul/code/guns/bullets.dm
  modular_skyrat/modules/sec_haul/code/junior_officer/pepperball_gun.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/AmmoWorkbench.js
Labels: Feature, Map Edit, Test Merged, UI

#6353 [semimodular][ready]fixes the parka, digi ira uniform, and adds trousers
  code/modules/vending/wardrobes.dm
  modular_skyrat/master_files/icons/mob/clothing/suit.dmi
  modular_skyrat/master_files/icons/mob/clothing/uniform.dmi
  modular_skyrat/master_files/icons/mob/clothing/uniform_digi.dmi
  modular_skyrat/master_files/icons/obj/clothing/uniforms.dmi
  modular_skyrat/modules/customization/modules/client/loadout/uniform.dm
  modular_skyrat/modules/customization/modules/clothing/under/misc.dm
  modular_skyrat/modules/sec_haul/code/misc/vending.dm
Labels: Fix, Needs Review

#6356 Flipped Tables and Turnstiles no longer always runtime
  modular_skyrat/modules/mapping/code/modules/genpop/turnstile.dm
  modular_skyrat/modules/tableflip/code/flipped_table.dm
Labels: Fix

#6194 MERGE WHEN BYOND LATEST IS 514.1557
  dependencies.sh
  tools/LinuxOneShot/docker-compose.yml
Labels: DEVCON 1(FUCK), FUCK, Green Label, Revert, Tools

#6367 Ticket counter
  modular_skyrat/modules/ticket_counter/counter.dm
  tgstation.dme
Labels: Feature

#6345 Moving the cargo chatroom and supply request console. (Metastation)
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
Labels: Fix, Map Edit

#6374 [Modular] De-Trivializing Medbay - Medical Beamguns
  modular_skyrat/modules/cargo/code/packs.dm
Labels: Removal

#6377 [modular][ready]adds painting frames to the box library
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/NSSJourney/NSSJourney.dmm
Labels: Map Edit, Needs Review

#6364 Crapifies the sec taser
  modular_skyrat/modules/sec_haul/code/guns/guns.dm
Labels: Balance/Rebalance

#6363 [modular]skull shirt and digi briefs, also ACTUALLY fixed the tac swet
  modular_skyrat/master_files/icons/mob/clothing/underwear.dmi
  modular_skyrat/master_files/icons/mob/clothing/uniform_digi.dmi
  modular_skyrat/master_files/icons/obj/clothing/uniforms.dmi
  modular_skyrat/modules/customization/modules/clothing/under/misc.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories.dm
Labels: Fix

#6366 [NONMODULAR] Removes the telekinesis headglow.
  code/datums/mutations/telekinesis.dm
Labels: Removal

#6382 [NON-MODULAR] Medibot Nerf
  code/modules/mob/living/simple_animal/bot/medbot.dm
Labels: Balance/Rebalance

#6388 [RE-MIRROR] Smartfridge code cleanup
  code/modules/food_and_drinks/kitchen_machinery/smartfridge.dm
Labels: Fix

#6381 [MODULAR] Purring felinids will slowly heal everyone nearby
  modular_skyrat/modules/emotes/code/emotes.dm
Labels: Feature

#6380 Improves ERT docks on Delta + Meta
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
Labels: Fix, Map Edit

#6355 [MODULAR] Astrum Rebalance: Revengeance
  _maps/RandomZLevels/mothership_astrum.dmm
  modular_skyrat/modules/awaymissions_skyrat/mission_code/mothership_astrum.dm
Labels: Balance/Rebalance, Fix, Map Edit

#6373 [Modular] Dangerous Research Mapfix
  _maps/skyrat/ruins/dangerous_research.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/dangerous_research.dmm
Labels: Fix, Map Edit

#6376 Adds various Departmental warning tapes
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/vending/engivend.dm
  code/modules/vending/medical.dm
  code/modules/vending/wardrobes.dm
  modular_skyrat/modules/sec_haul/code/misc/policetape.dm
  modular_skyrat/modules/sec_haul/code/misc/vending.dm
  modular_skyrat/modules/sec_haul/icons/misc/jobtape.dmi
  tgstation.dme
Labels: Feature

#6391 Revert "[MODULAR] Purring felinids will slowly heal everyone nearby "
  modular_skyrat/modules/emotes/code/emotes.dm
Labels: Revert

#6398 Updates the explosion sound effects to have a bigger pool of sounds.
  code/game/sound.dm
  modular_skyrat/master_files/sound/blackmesa/explosions/explode1.ogg
  modular_skyrat/master_files/sound/blackmesa/explosions/explode2.ogg
  modular_skyrat/master_files/sound/blackmesa/explosions/explode3.ogg
  modular_skyrat/master_files/sound/blackmesa/explosions/explode4.ogg
  modular_skyrat/master_files/sound/blackmesa/explosions/explode5.ogg
  modular_skyrat/master_files/sound/blackmesa/explosions/explode6.ogg
  modular_skyrat/master_files/sound/blackmesa/explosions/explode7.ogg
Labels: Feature

#6396 [modular][ready]imperial uniforms for command
  modular_skyrat/master_files/icons/mob/clothing/feet.dmi
  modular_skyrat/master_files/icons/mob/clothing/head.dmi
  modular_skyrat/master_files/icons/mob/clothing/uniform.dmi
  modular_skyrat/master_files/icons/obj/clothing/hats.dmi
  modular_skyrat/master_files/icons/obj/clothing/shoes.dmi
  modular_skyrat/master_files/icons/obj/clothing/uniforms.dmi
  modular_skyrat/modules/customization/modules/client/loadout/head.dm
  modular_skyrat/modules/customization/modules/client/loadout/shoes.dm
  modular_skyrat/modules/customization/modules/client/loadout/uniform.dm
  modular_skyrat/modules/customization/modules/clothing/head/head.dm
  modular_skyrat/modules/customization/modules/clothing/shoes/shoes.dm
  modular_skyrat/modules/customization/modules/clothing/under/misc.dm
Labels: Needs Review

#6368 The Nanotrasen Representative (MY WAY)
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  code/__DEFINES/jobs.dm
  code/__DEFINES/preferences.dm
  code/__DEFINES/~skyrat_defines/projectiles.dm
  code/__HELPERS/global_lists.dm
  code/controllers/subsystem/job.dm
  code/game/machinery/computer/card.dm
  code/game/objects/items/religion.dm
  code/game/objects/structures/flora.dm
  code/modules/admin/sql_ban_system.dm
  code/modules/antagonists/revolution/revolution.dm
  code/modules/jobs/job_exp.dm
  code/modules/jobs/jobs.dm
  code/modules/mob/dead/crew_manifest.dm
  code/modules/modular_computers/file_system/programs/jobmanagement.dm
  modular_skyrat/master_files/code/datums/id_trim/jobs.dm
  modular_skyrat/master_files/icons/mob/clothing/head.dmi
  modular_skyrat/master_files/icons/mob/clothing/suit.dmi
  modular_skyrat/master_files/icons/mob/clothing/uniform.dmi
  modular_skyrat/master_files/icons/mob/clothing/uniform_digi.dmi
  modular_skyrat/master_files/icons/obj/card.dmi
  modular_skyrat/master_files/icons/obj/clothing/hats.dmi
  modular_skyrat/master_files/icons/obj/clothing/suits.dmi
  modular_skyrat/master_files/icons/obj/clothing/uniforms.dmi
  modular_skyrat/modules/aesthetics/plants/plants.dmi
  modular_skyrat/modules/altjobtitles/code/datacore.dm
  modular_skyrat/modules/altjobtitles/code/jobs.dm
  modular_skyrat/modules/antagonists/code/gamemodes.dm
  modular_skyrat/modules/blueshield/code/modules/jobs/job_types/blueshield.dm
  modular_skyrat/modules/customization/modules/jobs/_job.dm
  modular_skyrat/modules/nanotrasen_rep/code/clothing.dm
  modular_skyrat/modules/nanotrasen_rep/code/m45a5.dm
  modular_skyrat/modules/nanotrasen_rep/code/nanotrasen_representative.dm
  tgstation.dme
Labels: Feature, Map Edit

#6401 Cryo Storage PDA Silence
  .github/CODEOWNERS
  code/game/machinery/cryopod.dm
Labels: Fix, GitHub

#6402 Re-sprites Imperial CE Uniform + touchups to related code
  modular_skyrat/master_files/icons/mob/clothing/head.dmi
  modular_skyrat/master_files/icons/mob/clothing/uniform.dmi
  modular_skyrat/master_files/icons/obj/clothing/hats.dmi
  modular_skyrat/master_files/icons/obj/clothing/shoes.dmi
  modular_skyrat/master_files/icons/obj/clothing/uniforms.dmi
  modular_skyrat/modules/customization/modules/client/loadout/head.dm
  modular_skyrat/modules/customization/modules/client/loadout/uniform.dm
  modular_skyrat/modules/customization/modules/clothing/head/head.dm
Labels: Fix

#6412 [MODULAR] No More Vox Powergaming
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/vox.dm
Labels: Fix

#6441 [semi modular] replaces *woof sound
  modular_skyrat/modules/emotes/code/emotes.dm
  modular_skyrat/modules/emotes/sound/voice/woof2.ogg
Labels: Sound

#6428 [modular][ready]the scottish metaclub infests cooking
  modular_skyrat/master_files/icons/mob/inhands/irnbruhand.dmi
  modular_skyrat/master_files/icons/obj/food/irnbru.dmi
  modular_skyrat/modules/customization/datums/components/crafting/recipes.dm
  modular_skyrat/modules/customization/modules/food_and_drinks/food/scottish.dm
  modular_skyrat/modules/customization/modules/food_and_drinks/recipes/drinks_recipes.dm
  modular_skyrat/modules/customization/modules/reagents/chemistry/reagents/drink_reagents.dm
  tgstation.dme
Labels: Needs Review

#6369 Synthetic wounds
  code/__DEFINES/wounds.dm
  code/datums/wounds/_wounds.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/robotic.dm
  modular_skyrat/modules/more_wounds/code/readme.md
  modular_skyrat/modules/more_wounds/code/synthetic/burn.dm
  modular_skyrat/modules/more_wounds/code/synthetic/muscle.dm
  modular_skyrat/modules/more_wounds/code/synthetic/pierce.dm
  modular_skyrat/modules/more_wounds/code/synthetic/slash.dm
  tgstation.dme
Labels: Feature

#6450 [MODULAR] Anthros can now wear chaplain stuff.
  modular_skyrat/master_files/code/modules/clothing/non_anthro_clothes.dm
Labels: Fix

#6344 Introducing a new space ruin, "Shuttle 8532."
  config/spaceruinblacklist.txt
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/shuttle8532.dmm
  modular_skyrat/modules/mapping/code/datums/ruins/space.dm
  modular_skyrat/modules/mapping/code/game/area/areas/ruins/space.dm
Labels: Code Improvement, Config Update, Feature

#6463 Discards one emote
  modular_skyrat/modules/emotes/code/emotes.dm
  modular_skyrat/modules/emotes/sound/voice/long_awoo.ogg
  modular_skyrat/modules/emotes/sound/voice/woof.ogg
  modular_skyrat/modules/emotes/sound/voice/woof2.ogg
Labels: Removal

#6451 Removes Late-Join cyborg slots
  code/modules/jobs/job_types/cyborg.dm
  config/jobs.txt
Labels: Config Update, Fix, Removal

#6466 Update stale.yml
  .github/workflows/stale.yml
Labels: GitHub

#6467 [modular][ready][fix]es the brig skirt to point to the right file
  modular_skyrat/modules/brigoff/code/modules/clothing/under/jobs/security.dm
Labels: Fix, Needs Review

#6464 [SEMI-MODULAR] Removes 'Lick' and 'Boop' modules to be a roundstart upgrade
  code/modules/research/techweb/all_nodes.dm
  modular_skyrat/modules/altborgs/code/game/objects/items/robot_items.dm
  modular_skyrat/modules/altborgs/code/modules/mob/living/silicon/robot/robot_modules.dm
  modular_skyrat/modules/cyborg/code/mechafabricator_designs.dm
  modular_skyrat/modules/cyborg/code/robot_upgrades.dm
Labels: Balance/Rebalance, Code Improvement, Removal

#6440 [modular][ready]a full engineer ert and...one for plants
  modular_skyrat/modules/additionalert/engineer/code/datums/ert.dm
  modular_skyrat/modules/additionalert/fumigators/code/datums/ert.dm
  modular_skyrat/modules/additionalert/fumigators/code/modules/antagonists/ert/ert.dm
  modular_skyrat/modules/additionalert/fumigators/code/modules/clothing/head/head.dm
  modular_skyrat/modules/additionalert/fumigators/code/modules/clothing/outfit/ert.dm
  tgstation.dme
Labels: Feature, Needs Review

#6475 MAJOR MAP RESET TO TG STANDARD 23-06-21 [EXPECT BUGS]
  _maps/RandomRuins/LavaRuins/lavaland_biodome_beach.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_biodome_winter.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1.dmm
  _maps/RandomRuins/SpaceRuins/TheDerelict.dmm
  _maps/RandomRuins/SpaceRuins/crashedship.dmm
  _maps/RandomRuins/SpaceRuins/deepstorage.dmm
  _maps/RandomRuins/SpaceRuins/derelict6.dmm
  _maps/RandomRuins/SpaceRuins/listeningstation.dmm
  _maps/RandomRuins/SpaceRuins/spacehotel.dmm
  _maps/RandomRuins/SpaceRuins/vaporwave.dmm
  _maps/RandomZLevels/Academy.dmm
  _maps/RandomZLevels/SnowCabin.dmm
  _maps/RandomZLevels/TheBeach.dmm
  _maps/RandomZLevels/caves.dmm
  _maps/RandomZLevels/moonoutpost19.dmm
  _maps/RandomZLevels/research.dmm
  _maps/RandomZLevels/snowdin.dmm
  _maps/RandomZLevels/undergroundoutpost45.dmm
  _maps/RandomZLevels/wildwest.dmm
  _maps/map_files/CTF/downtown.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/Mining/Lavaland.dmm
  _maps/map_files/generic/CentCom.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/shuttles/emergency_bar.dmm
  _maps/shuttles/pirate_default.dmm
  _maps/shuttles/pirate_silverscale.dmm
  _maps/shuttles/ruin_caravan_victim.dmm
  _maps/shuttles/whiteship_delta.dmm
  _maps/templates/hilbertshotel.dmm
  _maps/templates/hilbertshotellore.dmm
  _maps/templates/holodeck_lounge.dmm
  _maps/templates/shelter_3.dmm
Labels: Map Edit

#6384 Adds the blueshield (And just the blueshield) to the veteran crew list.
  modular_skyrat/modules/blueshield/code/modules/jobs/job_types/blueshield.dm
Labels: Headmin Approved, Needs Head Input, Stale

#6397 makes vine mutations make gases at 293 instead of 100
  modular_skyrat/master_files/code/modules/events/spacevine.dm
Labels: Fix, Stale

#6489 [modular][fix]battered sausage my beloved
  modular_skyrat/modules/customization/modules/food_and_drinks/food/scottish.dm
Labels: Fix

#6486 Hazard tape go brrr
  modular_skyrat/modules/sec_haul/code/misc/policetape.dm
Labels: Fix

#6485 [MODULAR] Restricts 'Affection' module to one use and to dogborgs (and fixes an exploit)
  modular_skyrat/modules/cyborg/code/robot_upgrades.dm
Labels: Fix

#6259 S&T Additional Emotes
  code/__DEFINES/~skyrat_defines/traits.dm
  code/__HELPERS/~skyrat_helpers/is_helpers.dm
  modular_skyrat/master_files/code/datums/traits/good.dm
  modular_skyrat/master_files/icons/effects/overlay_effects.dmi
  modular_skyrat/master_files/icons/effects/turf_effects.dmi
  modular_skyrat/master_files/icons/effects/turf_effects_64.dmi
  modular_skyrat/master_files/icons/effects/turf_effects_icons.dmi
  modular_skyrat/master_files/sound/effects/weave.ogg
  modular_skyrat/master_files/sound/effects/wing_flap.ogg
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/tails.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/taur_types.dm
  modular_skyrat/modules/emotes/code/additionalemotes/overlay_emote.dm
  modular_skyrat/modules/emotes/code/additionalemotes/turf_emote.dm
  modular_skyrat/modules/emotes/code/additionalemotes/turf_list.dm
  modular_skyrat/modules/emotes/readme.md
  modular_skyrat/modules/emotes/sound/emotes/annoyed.ogg
  modular_skyrat/modules/emotes/sound/emotes/blush.ogg
  modular_skyrat/modules/emotes/sound/emotes/realize.ogg
  modular_skyrat/modules/emotes/sound/emotes/sweatdrop.ogg
  tgstation.dme
Labels: Stale, Test Merged

#6514 fixes my dumbdumb mapping
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
Labels: Fix, Map Edit

#6512 [Modular] NSS Journey Maintaining PR
  _maps/map_files/NSSJourney/NSSJourney.dmm
Labels: Fix, Map Edit

#6280 Amber alert energy weapons, and the return of the energy gun.
  modular_skyrat/modules/sec_haul/code/guns/token_system/gunsets.dm
  modular_skyrat/modules/sec_haul/code/guns/token_system/token_system.dm
Labels: Balance/Rebalance, Stale

#6490 [modular][ready]adds the pencil skirts to loadout, vendor, and existance
  code/modules/vending/clothesmate.dm
  modular_skyrat/master_files/icons/mob/clothing/uniform.dmi
  modular_skyrat/master_files/icons/obj/clothing/uniforms.dmi
  modular_skyrat/modules/customization/modules/client/loadout/uniform.dm
  modular_skyrat/modules/customization/modules/clothing/under/misc.dm
Labels: Needs Review

#6520 Adds Colorable Loincloths
  modular_skyrat/modules/customization/modules/client/loadout/uniform.dm
Labels: Feature

#6505 fixes airlock names for icebox + nss
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/NSSJourney/NSSJourney.dmm
Labels: Fix, Map Edit

#6517 [kilo] scrubbers in dorms
  _maps/map_files/KiloStation/KiloStation_skyrat.dmm
Labels: Feature, Map Edit

#6530 [MODULAR] Astrum Maintenance
  _maps/RandomZLevels/mothership_astrum.dmm
  modular_skyrat/modules/awaymissions_skyrat/mission_code/mothership_astrum.dm
Labels: Balance/Rebalance, Fix, Map Edit

#6518 [nss journey] xenobio change
  _maps/map_files/NSSJourney/NSSJourney.dmm
Labels: Map Edit

#6445 [MODULAR] [READY] Makes Skirtle/Turtleneck fully cosmetic and gives it sensors
  code/modules/clothing/under/syndicate.dm
  modular_skyrat/master_files/icons/mob/clothing/uniform.dmi
  modular_skyrat/master_files/icons/mob/clothing/uniform_digi.dmi
  modular_skyrat/master_files/icons/obj/clothing/uniforms.dmi
  modular_skyrat/modules/aesthetics/clothing/clothing.dm
  modular_skyrat/modules/customization/modules/client/loadout/uniform.dm
  modular_skyrat/modules/customization/modules/clothing/under/costumes.dm
Labels: Needs Review, Sprites, Tweak

#6532 [BUG FIX] fixes several implants not working
  modular_skyrat/modules/implants/code/organs/augments_arms.dm
Labels: Fix

#6154 [MODULAR] Lazily adds trash piles to TG maps.
  modular_skyrat/master_files/code/game/objects/effects/spawners/lootsite.dm
  tgstation.dme
Labels: Stale

#6469 [modular][ready]adds the new boots to the vendors
  code/modules/vending/autodrobe.dm
  code/modules/vending/clothesmate.dm
  modular_skyrat/modules/nsfw/vendors/code/naughty_vendor.dm
Labels: Needs Review, Stale

#6535 [Semi-Modular] Revert Skyrat's Version Of Oldstation
  code/datums/ruins/space.dm
  config/spaceruinblacklist.txt
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/oldstation_skyrat.dmm
  modular_skyrat/modules/mapping/code/datums/ruins/space.dm
  modular_skyrat/modules/mapping/code/game/objects/structures/ghost_role_spawners.dm
Labels: Config Update, Removal, Revert

#6400 [Modular] Two new drinks
  modular_skyrat/modules/New_drinks/code/modules/food_and_drinks/recipes/alcohol_reagents.dm
  modular_skyrat/modules/New_drinks/code/modules/food_and_drinks/recipes/drink_recipes.dm
  modular_skyrat/modules/New_drinks/icons/obj/CIAH.dmi
  tgstation.dme
Labels: Feature, Stale

#6542 Revert "[Modular] Two new drinks"
  modular_skyrat/modules/New_drinks/code/modules/food_and_drinks/recipes/alcohol_reagents.dm
  modular_skyrat/modules/New_drinks/code/modules/food_and_drinks/recipes/drink_recipes.dm
  modular_skyrat/modules/New_drinks/icons/obj/CIAH.dmi
  tgstation.dme
Labels: Revert

#6555 [modular][ready]adds the new tg emojis to our file
  modular_skyrat/master_files/icons/emoji.dmi
Labels: Needs Review, Sprites

#6567 [SPEEDMERGE] Fixes maps so we can actually compile.
  _maps/RandomRuins/OceanRuins/ocean_listening_outpost.dmm
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/KiloStation/KiloStation_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
  _maps/map_files/Mining/Icemoon.dmm
  _maps/map_files/Mining/Rockplanet.dmm
  _maps/map_files/Mining/TidalLock.dmm
  _maps/map_files/NSSJourney/NSSJourney.dmm
  _maps/map_files/WaterKiloStation/WaterKiloStation.dmm
  _maps/map_files/generic/CentCom_skyrat.dmm
  _maps/map_files/tramstation/tramstation_skyrat.dmm
  _maps/map_files/tramstation/tramstation_skyrat_old.dmm
  _maps/shuttles/pirate_enclave.dmm
  _maps/skyrat/shuttles/slaver_syndie.dmm
  _maps/skyrat/shuttles/syndicate_cruiser.dmm
  code/modules/atmospherics/machinery/components/unary_devices/tank.dm
  modular_skyrat/modules/faction/maps/shuttles/tradership_faction.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/blackmarket.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/forgottenship_skyrat.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/oldstation_skyrat.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/shuttle8532.dmm
Labels: Map Edit

#6568 [MODULAR] Astrum Whatever
  _maps/RandomZLevels/mothership_astrum.dmm
Labels: Fix, Map Edit

#6561 [MODULAR] Requested Cordyceps Changes
  modular_skyrat/modules/biohazard_blob/code/biohazard_blob_disease.dm
Labels: Balance/Rebalance

#6538 [modular][ready]adds a bald and poly clown mask
  code/modules/vending/autodrobe.dm
  modular_skyrat/master_files/icons/mob/clothing/mask.dmi
  modular_skyrat/master_files/icons/mob/clothing/mask_muzzled.dmi
  modular_skyrat/master_files/icons/mob/clothing/mask_vox.dmi
  modular_skyrat/master_files/icons/obj/clothing/masks.dmi
  modular_skyrat/modules/customization/modules/clothing/masks/breath.dm
Labels: Needs Review

#6540 [SEMI-MODULAR] Removes Stonk Market 😔
  code/game/objects/structures/crates_lockers/closets/secure/cargo.dm
  modular_skyrat/modules/stock_market/code/articles.dm
  modular_skyrat/modules/stock_market/code/computer.dm
  modular_skyrat/modules/stock_market/code/computer_circuitboards.dm
  modular_skyrat/modules/stock_market/code/events.dm
  modular_skyrat/modules/stock_market/code/industries.dm
  modular_skyrat/modules/stock_market/code/logs.dm
  modular_skyrat/modules/stock_market/code/stockmarket.dm
  modular_skyrat/modules/stock_market/code/stocks.dm
  tgstation.dme
Labels: Removal

#6539 [FIX] prevents ghosts from un-flipping tables
  modular_skyrat/modules/tableflip/code/flipped_table.dm
Labels: Fix

#6488 [MODULAR] New Station Trait! Sector Overseer!
  modular_skyrat/modules/modular_station_traits/datums/_station_trait_skyrat.dm
  modular_skyrat/modules/modular_station_traits/datums/announcers/swanson_announcer.dm
  modular_skyrat/modules/modular_station_traits/sound/swanson/alerts/1.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/alerts/10.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/alerts/11.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/alerts/12.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/alerts/13.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/alerts/14.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/alerts/15.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/alerts/16.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/alerts/17.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/alerts/18.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/alerts/19.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/alerts/2.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/alerts/3.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/alerts/4.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/alerts/5.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/alerts/6.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/alerts/7.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/alerts/8.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/alerts/9.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/commandreport/1.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/commandreport/2.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/commandreport/3.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/event/aimalf.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/event/aliens.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/event/anime.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/event/granomalies.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/event/intercept.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/event/ionstorm.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/event/meteors.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/event/outbreak5.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/event/outbreak7.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/event/poweroff.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/event/poweron.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/event/radiation.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/event/shuttlecalled.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/event/shuttledock.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/event/shuttlerecalled.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/event/spanomalies.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/welcome/1.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/welcome/2.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/welcome/3.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/welcome/4.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/welcome/5.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/welcome/6.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/welcome/7.ogg
Labels: Feature, Stale, Test Merged

#6507 [READY]Adds two new space ruins, tiny bit of framework for other future mapping
  code/__DEFINES/icon_smoothing.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/ghostship.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/salvagepost.dmm
  modular_skyrat/modules/mapping/code/datums/ruins/space.dm
  modular_skyrat/modules/mapping/code/game/machinery/machinery.dm
  modular_skyrat/modules/mapping/code/game/objects/effects/decals/vgdecals.dm
  modular_skyrat/modules/mapping/code/game/objects/fluff.dm
  modular_skyrat/modules/mapping/code/game/objects/items/spaceship_items.dm
  modular_skyrat/modules/mapping/code/game/turfs/spaceship_turfs.dm
  modular_skyrat/modules/mapping/code/sounds/MachineDeath.ogg
  modular_skyrat/modules/mapping/icons/machinery/gps_computer.dmi
  modular_skyrat/modules/mapping/icons/obj/fluff.dmi
  modular_skyrat/modules/mapping/icons/turf/decals/vgstation_decals.dmi
  modular_skyrat/modules/mapping/icons/unique/spaceships/shipstacks.dmi
  modular_skyrat/modules/mapping/icons/unique/spaceships/shipwalls.dmi
  modular_skyrat/modules/mapping/icons/unique/spaceships/shipwindows.dmi
  modular_skyrat/modules/materials_glass/glass.dm
  tgstation.dme
Labels: Feature, Needs Review

#6480 SSdecay - Making the station dirty(and creepy)
  code/__DEFINES/subsystems.dm
  code/controllers/subsystem/explosions.dm
  code/modules/mob/living/simple_animal/hostile/ooze.dm
  code/modules/mob/living/simple_animal/hostile/vatbeast.dm
  code/modules/power/lighting.dm
  modular_skyrat/master_files/sound/effects/rustle1.ogg
  modular_skyrat/master_files/sound/effects/rustle2.ogg
  modular_skyrat/modules/aesthetics/lights/code/lighting.dm
  modular_skyrat/modules/biohazard_blob/code/biohazard_blob_structures.dm
  modular_skyrat/modules/decay_subsystem/code/decaySS.dm
  modular_skyrat/modules/decay_subsystem/code/nests.dm
  modular_skyrat/modules/decay_subsystem/icons/loot.dmi
  modular_skyrat/modules/decay_subsystem/icons/nests.dmi
  tgstation.dme
Labels: Feature, Test Merged

#6575 TheOOZ donator item (Kindle's mask)
  modular_skyrat/master_files/icons/donator/mob/clothing/mask.dmi
  modular_skyrat/master_files/icons/donator/obj/clothing/masks.dmi
  modular_skyrat/master_files/sound/effects/plastic_crush.ogg
  modular_skyrat/modules/customization/modules/client/loadout/donator/personal/donator_personal.dm
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
Labels: Feature

#6580 [MODULAR] Ghost Cafe QoL Map Tweaks
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
Labels: Feature, Map Edit

#6579 [Modular] [SM] NSS Incinerator Fix
  _maps/map_files/NSSJourney/NSSJourney.dmm
Labels: Map Edit

#6585 [CRITICAL] Gandalf deserves death(Yellow siding gone)
  _maps/RandomZLevels/research2.dmm
  _maps/map_files/generic/CentCom_skyrat.dmm
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
Labels: Map Edit

#6566 [MODULAR] Ambitions now require admin approval
  modular_skyrat/modules/ambitions/code/ambition.dm
Labels: Administration, Fix

#6549 Introduces the ARBORLINK Vault Tango, a new space ruin.
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/vaulttango.dmm
  modular_skyrat/modules/mapping/code/datums/ruins/space.dm
  modular_skyrat/modules/mapping/code/game/area/areas/ruins/space.dm
Labels: Feature

#6586 Exempts "Upstream PR Merged" from becoming stale.
  .github/workflows/stale.yml
Labels: GitHub

#6590 [fix] ACTUALLY adds the poly clown mask and makes the headphones show up
  modular_skyrat/master_files/icons/obj/clothing/accessories.dmi
  modular_skyrat/master_files/icons/obj/clothing/uniforms.dmi
  modular_skyrat/modules/customization/modules/clothing/masks/breath.dm
Labels: Fix

#6487 [Semi-Modular] DS-2: Because It's Not A Feature, It's a "Map Change".
  _maps/RandomZLevels/wildwest_skyrat.dmm
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  _maps/skyrat/shuttles/syndicate_cruiser.dmm
  _maps/skyrat/shuttles/syndicate_frigate.dmm
  code/__DEFINES/~skyrat_defines/assaultops.dm
  code/game/communications.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/say.dm
  code/modules/mob/living/living_say.dm
  modular_skyrat/master_files/code/datums/id_trim/syndicate.dm
  modular_skyrat/master_files/icons/obj/card.dmi
  modular_skyrat/modules/advanced_shuttles/code/closet.dm
  modular_skyrat/modules/advanced_shuttles/icons/closet.dmi
  modular_skyrat/modules/aesthetics/floors/icons/floors.dmi
  modular_skyrat/modules/aesthetics/status_display/code/status_display.dm
  modular_skyrat/modules/aesthetics/status_display/icons/status_display.dmi
  modular_skyrat/modules/assaultops/code/areas.dm
  modular_skyrat/modules/assaultops/code/assaultops_misc.dm
  modular_skyrat/modules/assaultops/code/assaultops_outfits.dm
  modular_skyrat/modules/assaultops/code/assaultops_spawners.dm
  modular_skyrat/modules/assaultops/code/base_alarm.dm
  modular_skyrat/modules/assaultops/code/shuttle.dm
  modular_skyrat/modules/assaultops/icons/alarm.dmi
  modular_skyrat/modules/assaultops/icons/radial.dmi
  modular_skyrat/modules/assaultops/readme.md
  modular_skyrat/modules/assaultops/sound/GoldeneyeAlarm.ogg
  modular_skyrat/modules/assaultops/sound/assaultops_start.ogg
  modular_skyrat/modules/customization/modules/clothing/under/utility_port/utility.dm
  modular_skyrat/modules/mapping/_maps/RandomRuins/IceRuins/icemoon_underground_syndicate_base1_skyrat.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1_skyrat.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/interdynefob.dmm
  modular_skyrat/modules/mapping/code/datums/ruins/icemoon.dm
  modular_skyrat/modules/mapping/code/datums/ruins/lavaland.dm
  modular_skyrat/modules/mapping/code/datums/ruins/space.dm
  modular_skyrat/modules/mapping/code/datums/shuttles.dm
  modular_skyrat/modules/mapping/code/game/area/areas/ruins/space.dm
  modular_skyrat/modules/mapping/code/game/area/areas/shuttles.dm
  modular_skyrat/modules/mapping/code/game/objects/effects/decals/turf_decals.dm
  modular_skyrat/modules/mapping/code/game/objects/structures/ghost_role_spawners.dm
  modular_skyrat/modules/mapping/code/modules/ruins/lavaland_ruin_code.dm
  modular_skyrat/modules/mapping/icons/turf/turf_decals.dmi
  tgstation.dme
Labels: Feature, Map Edit, Removal

#6597 [Modular] DO is a head once again.
  modular_skyrat/master_files/code/datums/id_trim/syndicate.dm
Labels: Fix

#6601 [BUG-FIX][SPEEDMERGE] Ambition auto approval actually fucking works now
  modular_skyrat/modules/ambitions/code/ambition.dm
Labels: Fix

#6616 Fixes nests and removes a few
  code/modules/mob/living/simple_animal/hostile/vatbeast.dm
  modular_skyrat/modules/decay_subsystem/code/decaySS.dm
  modular_skyrat/modules/decay_subsystem/code/nests.dm
Labels: Removal

#6615 Removes a lot of redundant non-modular changes and maybe fixes cleanbots
  code/__HELPERS/sanitize_values.dm
  code/datums/ai/_ai_controller.dm
  code/datums/chatmessage.dm
  code/datums/diseases/advance/advance.dm
  code/datums/mapgen/CaveGenerator.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_latejoin.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_roundstart.dm
  code/game/objects/effects/spawners/bundle.dm
  code/game/objects/effects/spawners/lootdrop.dm
  code/game/objects/effects/spawners/structure.dm
  code/game/objects/items.dm
  code/game/objects/structures/flora.dm
  code/modules/admin/view_variables/mass_edit_variables.dm
  code/modules/admin/view_variables/modify_variables.dm
  code/modules/cargo/blackmarket/blackmarket_uplink.dm
  code/modules/cargo/expressconsole.dm
  code/modules/cargo/order.dm
  code/modules/clothing/clothing.dm
  code/modules/hydroponics/grown.dm
  code/modules/hydroponics/hydroitemdefines.dm
  code/modules/mapping/map_template.dm
  code/modules/mob/dead/crew_manifest.dm
  code/modules/mob/living/carbon/carbon_update_icons.dm
  code/modules/mob/living/carbon/human/species_types/golems.dm
  code/modules/mob/living/carbon/inventory.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/robot/inventory.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/mob/living/simple_animal/bot/mulebot.dm
  code/modules/mob/living/simple_animal/bot/secbot.dm
  code/modules/mob/living/simple_animal/hostile/hostile.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/mob/mob.dm
  code/modules/modular_computers/file_system/programs/ntnrc_client.dm
  code/modules/power/powernet.dm
  code/modules/religion/rites.dm
  code/modules/shuttle/emergency.dm
  code/modules/spells/spell_types/projectile.dm
  code/modules/station_goals/dna_vault.dm
  code/modules/unit_tests/outfit_sanity.dm
Labels: Removal

#6521 [modular] wirebrush
  code/modules/research/techweb/all_nodes.dm
  modular_skyrat/modules/wirebrush_rust/code/game/objects/items/wirebrush.dm
  modular_skyrat/modules/wirebrush_rust/code/modules/food_and_drinks/kitchen_machinery/microwave.dm
  modular_skyrat/modules/wirebrush_rust/code/modules/research/designs/misc_designs.dm
  modular_skyrat/modules/wirebrush_rust/icons/obj/wirebrush.dmi
  modular_skyrat/modules/wirebrush_rust/readme.md
  modular_skyrat/modules/wirebrush_rust/sound/items/wirebrush.ogg
  tgstation.dme
Labels: Feature, Sound, Sprites

#6614 [semi-modular] reagent forging
  _maps/RandomRuins/LavaRuins/lavaland_surface_ash_walker1.dmm
  code/game/objects/items/stacks/rods.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  modular_skyrat/modules/reagent_forging/code/modules/reagent_forging/anvil.dm
  modular_skyrat/modules/reagent_forging/code/modules/reagent_forging/forge.dm
  modular_skyrat/modules/reagent_forging/code/modules/reagent_forging/forge_clothing.dm
  modular_skyrat/modules/reagent_forging/code/modules/reagent_forging/forge_items.dm
  modular_skyrat/modules/reagent_forging/code/modules/reagent_forging/forge_recipes.dm
  modular_skyrat/modules/reagent_forging/code/modules/reagent_forging/forge_weapons.dm
  modular_skyrat/modules/reagent_forging/code/modules/reagent_forging/water_basin.dm
  modular_skyrat/modules/reagent_forging/icons/mob/forge_clothing.dmi
  modular_skyrat/modules/reagent_forging/icons/mob/forge_weapon_l.dmi
  modular_skyrat/modules/reagent_forging/icons/mob/forge_weapon_r.dmi
  modular_skyrat/modules/reagent_forging/icons/obj/forge_clothing.dmi
  modular_skyrat/modules/reagent_forging/icons/obj/forge_items.dmi
  modular_skyrat/modules/reagent_forging/icons/obj/forge_structures.dmi
  modular_skyrat/modules/reagent_forging/readme.md
  modular_skyrat/modules/reagent_forging/sound/forge.ogg
  modular_skyrat/modules/reagent_forging/sound/hot_hiss.ogg
  tgstation.dme
Labels: Feature, Map Edit, Sound, Sprites

#6626 Byond minimum version is now 514.1557
  byond-extools.dll
  code/__DEFINES/_tick.dm
  code/_compile_options.dm
  code/controllers/subsystem/profiler.dm
  code/controllers/subsystem/time_track.dm
  code/game/machinery/cryopod.dm
  code/game/objects/items/RCD.dm
  code/game/world.dm
  code/modules/admin/admin_verbs.dm
  code/modules/vehicles/motorized_wheelchair.dm
  dependencies.sh
  tools/tgs4_scripts/PreCompile.sh
Labels: Tools
