Repository Skyrat-SS13/Skyrat-tg, pull requests merged in 2021-05, with the labels that each got.

#5363 [Modular] "Wouldn't it be wacky if I made another NSS Journey Update PR"
  _maps/map_files/NSSJourney/NSSJourney.dmm
Labels: Balance/Rebalance, Fix, Map Edit

#5374 [Modular] Fuck Smart Pipes (The Musical)
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/oldstation_skyrat.dmm
Labels: Fix

#5380 [Modular] OutOfTime.dmm Fixes, and the SOULFUL NewSec Airlock
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/station/securitysoul.dmi
  modular_skyrat/modules/ruins/maps/space/outoftime.dmm
Labels: Fix, Sprites

#5334 [MODULAR] Changes the amount our custom species get per paycheck to be equal with TG non-humans.
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/akula.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/aquatic.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/dwarf.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/humanoid.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/insect.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/lizard.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/mammal.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/moth.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/podweak.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/robotic.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/roundstartslime.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/skrell.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/tajaran.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/unathi.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/vox.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/vulpkanin.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/xeno.dm
Labels: Fix

#5266 [MODULAR] Tribal Crafting Expanded! Bows and Arrows!
  modular_skyrat/modules/tribal_extended/code/ammo/caseless/arrow.dm
  modular_skyrat/modules/tribal_extended/code/ammo/reusable/arrow.dm
  modular_skyrat/modules/tribal_extended/code/bow.dm
  modular_skyrat/modules/tribal_extended/code/crafting.dm
  modular_skyrat/modules/tribal_extended/code/quiver.dm
  modular_skyrat/modules/tribal_extended/code/recipes.dm
  modular_skyrat/modules/tribal_extended/code/weapons/bow.dm
  modular_skyrat/modules/tribal_extended/code/weapons/shield.dm
  modular_skyrat/modules/tribal_extended/code/weapons/sword.dm
  modular_skyrat/modules/tribal_extended/icons/ammo.dmi
  modular_skyrat/modules/tribal_extended/icons/back.dmi
  modular_skyrat/modules/tribal_extended/icons/belt.dmi
  modular_skyrat/modules/tribal_extended/icons/bows_lefthand.dmi
  modular_skyrat/modules/tribal_extended/icons/bows_righthand.dmi
  modular_skyrat/modules/tribal_extended/icons/crafting.dmi
  modular_skyrat/modules/tribal_extended/icons/items_and_weapons.dmi
  modular_skyrat/modules/tribal_extended/icons/projectile.dmi
  modular_skyrat/modules/tribal_extended/icons/shields.dmi
  modular_skyrat/modules/tribal_extended/icons/shields_lefthand.dmi
  modular_skyrat/modules/tribal_extended/icons/shields_righthand.dmi
  modular_skyrat/modules/tribal_extended/icons/swords_lefthand.dmi
  modular_skyrat/modules/tribal_extended/icons/swords_righthand.dmi
  modular_skyrat/modules/tribal_extended/sound/sound_weapons_bowdraw.ogg
  modular_skyrat/modules/tribal_extended/sound/sound_weapons_bowfire.ogg
  tgstation.dme
Labels: Feature

#5330 [Modular] New Custom ID Card Types: Take Two
  modular_skyrat/master_files/code/datums/id_trim/syndicate.dm
  modular_skyrat/master_files/code/game/objects/items/cards_ids.dm
  modular_skyrat/master_files/icons/obj/card.dmi
  tgstation.dme
Labels: Feature

#5341 Changes GBP payouts
  .github/gbp.toml
Labels: GitHub

#5388 map reset pt1
  _maps/RandomRuins/LavaRuins/lavaland_surface_dead_ratvar.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
Labels: Map Edit

#5394 [modular] updated sprites - mining carts, trash carts, wrapped packages
  code/modules/recycling/sortingmachinery.dm
  modular_skyrat/modules/aesthetics/crates/code/crates.dm
  modular_skyrat/modules/aesthetics/crates/icons/crates.dmi
Labels: Sprites

#5395 [Modular] Well, it's Icebox.
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
Labels: Feature, Map Edit

#5397 [FUCK] Update NSSJourney.dmm
  _maps/map_files/NSSJourney/NSSJourney.dmm
Labels: Fix, Map Edit

#5389 map reset Pt2
  _maps/RandomRuins/LavaRuins/lavaland_surface_dead_ratvar.dmm
  _maps/RandomRuins/SpaceRuins/spacehotel_skyrat.dmm
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/Deltastation/DeltaStation2_skyrat_old.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above_skyrat.dmm
  _maps/map_files/KiloStation/KiloStation_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat_old.dmm
  _maps/map_files/tramstation/tramstation_skyrat.dmm
  _maps/map_files/tramstation/tramstation_skyrat_old.dmm
  _maps/skyrat/ruins/dungeon.dmm
  html/changelogs/AutoChangeLog-pr-5255.yml
  html/changelogs/AutoChangeLog-pr-5266.yml
  html/changelogs/AutoChangeLog-pr-5280.yml
  html/changelogs/AutoChangeLog-pr-5310.yml
  html/changelogs/AutoChangeLog-pr-5330.yml
  html/changelogs/AutoChangeLog-pr-5331.yml
  html/changelogs/AutoChangeLog-pr-5334.yml
  html/changelogs/AutoChangeLog-pr-5338.yml
  html/changelogs/AutoChangeLog-pr-5339.yml
  html/changelogs/AutoChangeLog-pr-5352.yml
  html/changelogs/AutoChangeLog-pr-5360.yml
  html/changelogs/AutoChangeLog-pr-5363.yml
  html/changelogs/AutoChangeLog-pr-5368.yml
  html/changelogs/AutoChangeLog-pr-5371.yml
  html/changelogs/AutoChangeLog-pr-5373.yml
  html/changelogs/AutoChangeLog-pr-5374.yml
  html/changelogs/AutoChangeLog-pr-5376.yml
  html/changelogs/AutoChangeLog-pr-5379.yml
  html/changelogs/AutoChangeLog-pr-5380.yml
  html/changelogs/AutoChangeLog-pr-5381.yml
  html/changelogs/AutoChangeLog-pr-5395.yml
  html/changelogs/archive/2021-05.yml
  modular_skyrat/master_files/code/_globalvars/maint_loot_common.dm
  modular_skyrat/modules/ruins/maps/space/posterpandamonium.dmm
  modular_skyrat/modules/ruins/maps/space/waypointstation.dmm
Labels: Map Edit

#5398 [MODULAR] Removes antimagic protection from the ez-craft crucifix
  modular_skyrat/modules/modular_items/code/game/objects/items/cross.dm
Labels: Removal

#5402 Revert "[MODULAR] Tribal Crafting Expanded! Bows and Arrows!"
  modular_skyrat/modules/tribal_extended/code/ammo/caseless/arrow.dm
  modular_skyrat/modules/tribal_extended/code/ammo/reusable/arrow.dm
  modular_skyrat/modules/tribal_extended/code/bow.dm
  modular_skyrat/modules/tribal_extended/code/crafting.dm
  modular_skyrat/modules/tribal_extended/code/quiver.dm
  modular_skyrat/modules/tribal_extended/code/recipes.dm
  modular_skyrat/modules/tribal_extended/code/weapons/bow.dm
  modular_skyrat/modules/tribal_extended/code/weapons/shield.dm
  modular_skyrat/modules/tribal_extended/code/weapons/sword.dm
  modular_skyrat/modules/tribal_extended/icons/ammo.dmi
  modular_skyrat/modules/tribal_extended/icons/back.dmi
  modular_skyrat/modules/tribal_extended/icons/belt.dmi
  modular_skyrat/modules/tribal_extended/icons/bows_lefthand.dmi
  modular_skyrat/modules/tribal_extended/icons/bows_righthand.dmi
  modular_skyrat/modules/tribal_extended/icons/crafting.dmi
  modular_skyrat/modules/tribal_extended/icons/items_and_weapons.dmi
  modular_skyrat/modules/tribal_extended/icons/projectile.dmi
  modular_skyrat/modules/tribal_extended/icons/shields.dmi
  modular_skyrat/modules/tribal_extended/icons/shields_lefthand.dmi
  modular_skyrat/modules/tribal_extended/icons/shields_righthand.dmi
  modular_skyrat/modules/tribal_extended/icons/swords_lefthand.dmi
  modular_skyrat/modules/tribal_extended/icons/swords_righthand.dmi
  modular_skyrat/modules/tribal_extended/sound/sound_weapons_bowdraw.ogg
  modular_skyrat/modules/tribal_extended/sound/sound_weapons_bowfire.ogg
  tgstation.dme
Labels: Revert

#5414 [Semi-Modular(?)] Reverts Shipstation.
  _maps/map_files/ShipStation/ShipStation.dmm
  _maps/shipstation.json
  _maps/shuttles/station_ship.dmm
  _maps/shuttles/whiteship_ship.dmm
  code/datums/components/stationloving.dm
  code/modules/shuttle/shuttle.dm
  config/maps.txt
  modular_skyrat/modules/mapping/code/datums/shuttles.dm
  modular_skyrat/modules/mapping/code/game/area/areas/shuttles.dm
  modular_skyrat/modules/mapping/code/game/gamemodes/brother/traitor_bro.dm
  modular_skyrat/modules/mapping/code/game/gamemodes/changeling/changeling.dm
  modular_skyrat/modules/mapping/code/game/gamemodes/changeling/traitor_chan.dm
  modular_skyrat/modules/mapping/code/game/gamemodes/cult/cult.dm
  modular_skyrat/modules/mapping/code/game/gamemodes/devil/devil_game_mode.dm
  modular_skyrat/modules/mapping/code/game/gamemodes/monkey/monkey.dm
  modular_skyrat/modules/mapping/code/game/gamemodes/revolution/revolution.dm
  modular_skyrat/modules/mapping/code/game/gamemodes/traitor/traitor.dm
  modular_skyrat/modules/mapping/code/game/objects/effects/landmarks.dm
  modular_skyrat/modules/mapping/code/modules/jobs/job_types/shuttle_pilot.dm
  modular_skyrat/modules/mapping/code/modules/shuttle/shipstation.dm
  tgstation.dme
Labels: Config Update, Map Edit, Removal, Revert

#5390 [SEMI-MODULAR] Added a few more chaplains related items
  code/modules/vending/wardrobes.dm
  modular_skyrat/master_files/code/game/objects/items/holy_weapons.dm
  modular_skyrat/master_files/code/modules/uplink/uplink_items.dm
  modular_skyrat/modules/chaplain/code/game/objects/items/implants/mortis.dm
  modular_skyrat/modules/chaplain/icons/mobs/clothings/head.dmi
  modular_skyrat/modules/chaplain/icons/mobs/clothings/suit.dmi
  modular_skyrat/modules/chaplain/icons/obj/clothings/hats.dmi
  modular_skyrat/modules/chaplain/icons/obj/clothings/suits.dmi
  modular_skyrat/modules/chaplain/icons/obj/holy_weapons.dmi
  modular_skyrat/modules/chaplain/sound/misc/mortis.ogg
  modular_skyrat/modules/moretraitoritems/code/game/objects/items/storage/uplink_kits.dm
  tgstation.dme
Labels: Feature

#5405 [Modular] <In theory, Returning guns to the people, episode III, is this even about guns anymore?
  modular_skyrat/master_files/code/game/objects/items/religion.dm
  modular_skyrat/modules/cargo/code/bloat.dm
  modular_skyrat/modules/cargo/code/goodies.dm
  modular_skyrat/modules/cargo/code/packs.dm
  tgstation.dme
Labels: DO NOT MERGE, Feature

#5415 [modular][ready] THE GOD OF CLOTH RETURNS YET AGAIN
  modular_skyrat/modules/customization/icons/mob/clothing/head.dmi
  modular_skyrat/modules/customization/icons/mob/clothing/suit.dmi
  modular_skyrat/modules/customization/icons/mob/clothing/uniform.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/hats.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/suits.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/uniforms.dmi
  modular_skyrat/modules/customization/modules/client/loadout/head.dm
  modular_skyrat/modules/customization/modules/client/loadout/suit.dm
  modular_skyrat/modules/customization/modules/client/loadout/uniform.dm
  modular_skyrat/modules/customization/modules/clothing/head/head.dm
  modular_skyrat/modules/customization/modules/clothing/suits/coats.dm
  modular_skyrat/modules/customization/modules/clothing/suits/misc.dm
  modular_skyrat/modules/customization/modules/clothing/under/misc.dm
Labels: Feature, Needs Review

#5416 [MODULAR] [FUCK] Bows and Arrows, Tribal Bullshit, Crafting No Longer Broken
  modular_skyrat/modules/tribal_extended/code/ammo/caseless/arrow.dm
  modular_skyrat/modules/tribal_extended/code/ammo/reusable/arrow.dm
  modular_skyrat/modules/tribal_extended/code/bow.dm
  modular_skyrat/modules/tribal_extended/code/crafting.dm
  modular_skyrat/modules/tribal_extended/code/quiver.dm
  modular_skyrat/modules/tribal_extended/code/recipes.dm
  modular_skyrat/modules/tribal_extended/code/weapons/bow.dm
  modular_skyrat/modules/tribal_extended/code/weapons/shield.dm
  modular_skyrat/modules/tribal_extended/code/weapons/sword.dm
  modular_skyrat/modules/tribal_extended/icons/ammo.dmi
  modular_skyrat/modules/tribal_extended/icons/back.dmi
  modular_skyrat/modules/tribal_extended/icons/belt.dmi
  modular_skyrat/modules/tribal_extended/icons/bows_lefthand.dmi
  modular_skyrat/modules/tribal_extended/icons/bows_righthand.dmi
  modular_skyrat/modules/tribal_extended/icons/crafting.dmi
  modular_skyrat/modules/tribal_extended/icons/items_and_weapons.dmi
  modular_skyrat/modules/tribal_extended/icons/projectile.dmi
  modular_skyrat/modules/tribal_extended/icons/shields.dmi
  modular_skyrat/modules/tribal_extended/icons/shields_lefthand.dmi
  modular_skyrat/modules/tribal_extended/icons/shields_righthand.dmi
  modular_skyrat/modules/tribal_extended/icons/swords_lefthand.dmi
  modular_skyrat/modules/tribal_extended/icons/swords_righthand.dmi
  modular_skyrat/modules/tribal_extended/sound/sound_weapons_bowdraw.ogg
  modular_skyrat/modules/tribal_extended/sound/sound_weapons_bowfire.ogg
Labels: Fix

#5417 [MODULAR] Double Interdyne Removal
  code/__DEFINES/~skyrat_defines/maps.dm
Labels: Fix

#5408 [Modular?] PCP tweaks
  modular_skyrat/modules/morenarcotics/chemistry/reagents/pcp.dm
  modular_skyrat/modules/morenarcotics/chemistry/recipes/pcp.dm
Labels: Balance/Rebalance

#5413 [SEMI-MODULAR] slimes can now properly switch between digitigrade and normal legs
  code/modules/surgery/bodyparts/helpers.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/roundstartslime.dm
Labels: Fix

#5372 [MODULAR] Improves the code for IPC organs and the charging thereof.
  modular_skyrat/modules/customization/modules/surgery/organs/ipc.dm
Labels: Code Improvement

#5367 [MODULAR] You know what? Bonk you *removes your baton*
  modular_skyrat/modules/sec_haul/code/misc/vending.dm
Labels: Removal

#5386 [Ready][kinda][Semi-Modular] Brig Officers, Prison guards that have one job, guard the prison
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/KiloStation/KiloStation_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
  _maps/map_files/NSSJourney/NSSJourney.dmm
  _maps/map_files/tramstation/tramstation_skyrat.dmm
  code/__DEFINES/jobs.dm
  code/controllers/subsystem/job.dm
  code/game/gamemodes/changeling/changeling.dm
  code/game/gamemodes/cult/cult.dm
  code/game/gamemodes/eldritch_cult/eldritch_cult.dm
  code/game/gamemodes/gang/gang.dm
  code/game/gamemodes/revolution/revolution.dm
  code/game/gamemodes/traitor/traitor.dm
  config/jobs.txt
  modular_skyrat/master_files/code/datums/id_trim/jobs.dm
  modular_skyrat/master_files/icons/mob/clothing/under/uniform_digi.dmi
  modular_skyrat/master_files/icons/mob/clothing/uniform_digi.dmi
  modular_skyrat/master_files/icons/mob/hud.dmi
  modular_skyrat/master_files/icons/obj/card.dmi
  modular_skyrat/modules/brigoff/code/game/area/Space_Station_13_areas.dm
  modular_skyrat/modules/brigoff/code/game/objects/effects/landmarks.dm
  modular_skyrat/modules/brigoff/code/game/objects/items/devices/radio/headset.dm
  modular_skyrat/modules/brigoff/code/game/objects/structures/crates_lockers/closets/secure/security.dm
  modular_skyrat/modules/brigoff/code/modules/clothing/head/jobs.dm
  modular_skyrat/modules/brigoff/code/modules/clothing/suits/armor.dm
  modular_skyrat/modules/brigoff/code/modules/clothing/under/jobs/security.dm
  modular_skyrat/modules/brigoff/code/modules/jobs/job_types/brigoff.dm
  modular_skyrat/modules/brigoff/icons/lockers/closet.dmi
  modular_skyrat/modules/brigoff/icons/mob/head.dmi
  modular_skyrat/modules/brigoff/icons/mob/suit.dmi
  modular_skyrat/modules/brigoff/icons/mob/uniform.dmi
  modular_skyrat/modules/brigoff/icons/obj/clothing/hats.dmi
  modular_skyrat/modules/brigoff/icons/obj/clothing/suits.dmi
  modular_skyrat/modules/brigoff/icons/obj/clothing/uniform.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/masks.dmi
  modular_skyrat/modules/customization/modules/clothing/masks/breath.dm
  tgstation.dme
Labels: Config Update, Feature, Map Edit, Needs Review, Test Merged

#5438 [Non-Modular] Stops borgs from being a glorified departmental comms loudspeaker
  code/game/objects/items/devices/radio/radio.dm
Labels: Fix

#5434 [MODULAR] TidalLock Chasms!
  _maps/map_files/Mining/TidalLock.dmm
Labels: Feature, Fix, Map Edit

#5435 [MODULAR] Re-adds gas miners and layer adapters back to atmos
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/KiloStation/KiloStation_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
  _maps/map_files/tramstation/tramstation_skyrat.dmm
Labels: Feature, Map Edit

#5353 [MODULAR] infinite showers for the interlink
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  modular_skyrat/master_files/code/game/objects/structures/shower.dm
  tgstation.dme
Labels: Feature, Map Edit

#5431 [modular][ready] Sol Police uniforms
  modular_skyrat/modules/customization/icons/mob/clothing/head.dmi
  modular_skyrat/modules/customization/icons/mob/clothing/suit.dmi
  modular_skyrat/modules/customization/icons/mob/clothing/uniform.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/hats.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/uniforms.dmi
  modular_skyrat/modules/customization/modules/client/loadout/head.dm
  modular_skyrat/modules/customization/modules/client/loadout/uniform.dm
  modular_skyrat/modules/customization/modules/clothing/head/head.dm
  modular_skyrat/modules/customization/modules/clothing/under/security.dm
Labels: Feature, Needs Review

#5448 [NON-MODULAR] Stops the possibility of being sexually harrassed by nanites
  code/modules/research/nanites/nanite_programs/suppression.dm
Labels: Fix

#5406 [Modular] More NSS Journey Updates.
  _maps/map_files/NSSJourney/NSSJourney.dmm
Labels: Map Edit

#5452 [fix][modular] REadds the brig officers office show up
  _maps/map_files/NSSJourney/NSSJourney.dmm
  modular_skyrat/modules/customization/icons/mob/clothing/uniform.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/hats.dmi
  modular_skyrat/modules/customization/modules/clothing/suits/coats.dm
  modular_skyrat/modules/customization/modules/clothing/under/misc.dm
Labels: Map Edit

#5453 mostly [modular] renames brig off to correction officer, on request of gandalf
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/NSSJourney/NSSJourney.dmm
  code/controllers/subsystem/job.dm
  code/game/gamemodes/changeling/changeling.dm
  code/game/gamemodes/cult/cult.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_latejoin.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_roundstart.dm
  code/game/gamemodes/eldritch_cult/eldritch_cult.dm
  code/game/gamemodes/gang/gang.dm
  code/game/gamemodes/revolution/revolution.dm
  code/game/gamemodes/traitor/traitor.dm
  code/modules/jobs/jobs.dm
  config/jobs.txt
  modular_skyrat/master_files/code/datums/id_trim/jobs.dm
  modular_skyrat/modules/antagonists/code/gamemodes.dm
  modular_skyrat/modules/brigoff/code/game/area/Space_Station_13_areas.dm
  modular_skyrat/modules/brigoff/code/game/objects/effects/landmarks.dm
  modular_skyrat/modules/brigoff/code/game/objects/items/devices/radio/headset.dm
  modular_skyrat/modules/brigoff/code/game/objects/structures/crates_lockers/closets/secure/security.dm
  modular_skyrat/modules/brigoff/code/modules/clothing/head/jobs.dm
  modular_skyrat/modules/brigoff/code/modules/clothing/suits/armor.dm
  modular_skyrat/modules/brigoff/code/modules/clothing/under/jobs/security.dm
  modular_skyrat/modules/brigoff/code/modules/jobs/job_types/brigoff.dm
  modular_skyrat/modules/brigoff/icons/lockers/closet.dmi
  modular_skyrat/modules/customization/modules/client/loadout/uniform.dm
  tgstation.dme
Labels: Config Update, Feature, Map Edit

#5454 [NON-MODULAR] Resolves an issue where you could no longer do an optional experiment.
  code/modules/experisci/experiment/experiments.dm
  code/modules/research/techweb/all_nodes.dm
Labels: Fix

#5455 [Modular] Tribal Crafting Finally
  tgstation.dme
Labels: Fix

#5461 Fix Runtime when removing antag status from ambition having antagonist
  code/modules/antagonists/_common/antag_datum.dm
Labels: Fix

#5467 [Modular] Bring NSS Journey's Decalling up to snuff.
  _maps/map_files/NSSJourney/NSSJourney.dmm
Labels: Balance/Rebalance, Map Edit

#5477 [FIX][SERVER][SQL] Cleaned up merge conflict artifacts and incremented Database version
  SQL/database_changelog.txt
  code/__DEFINES/subsystems.dm
Labels: Fix, SQL

#5474 [modular][fix] makes the loadout stuff show up, adds a thief blindfold
  modular_skyrat/modules/brigoff/icons/obj/clothing/hats.dmi
  modular_skyrat/modules/brigoff/icons/obj/clothing/suits.dmi
  modular_skyrat/modules/customization/icons/mob/clothing/eyes.dmi
  modular_skyrat/modules/customization/icons/mob/clothing/head.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/eyes.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/hats.dmi
  modular_skyrat/modules/customization/modules/client/loadout/head.dm
  modular_skyrat/modules/customization/modules/client/loadout/suit.dm
  modular_skyrat/modules/customization/modules/client/loadout/uniform.dm
  modular_skyrat/modules/customization/modules/clothing/glasses/glasses.dm
  modular_skyrat/modules/customization/modules/clothing/head/head.dm
  modular_skyrat/modules/customization/modules/clothing/under/misc.dm
  modular_skyrat/modules/sec_haul/code/peacekeeper/peacekeeper_clothing.dm
  modular_skyrat/modules/sec_haul/icons/peacekeeper/clothing/peacekeeper_armors.dmi
  modular_skyrat/modules/sec_haul/icons/peacekeeper/peacekeeper_items.dmi
Labels: Feature

#5482 [MODULAR] Icebox Elevator Shaft Fix
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above.dmm
Labels: Fix, Map Edit

#5499 a single space
  modular_skyrat/modules/cell_component/code/cell_component.dm
Labels: Fix

#5500 Gives the secmed and HoP gunsets an extra mag each
  modular_skyrat/modules/sec_haul/code/guns/token_system/gunsets.dm
Labels: Fix

#5484 [Modular] Icebox perma cabin has atmospherics again.
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
Labels: Fix, Map Edit

#5513 [FIX] SQL Changelog cleanup AGAIN
  SQL/database_changelog.txt
Labels: Fix, SQL

#5378 Sorts the majority of the rest of the Skyrat specific unsorted chat
  code/datums/emotes.dm
  modular_skyrat/modules/admin/code/aooc.dm
  modular_skyrat/modules/admin/code/sooc.dm
  modular_skyrat/modules/combat_indicator/code/combat_indicator.dm
  modular_skyrat/modules/ghostcafe/code/game/objects/structures/ghost_role_spawners.dm
  modular_skyrat/modules/gunpoint/code/datum/gunpoint/gunpoint_datum.dm
  modular_skyrat/modules/horrorform/code/modules/mob/hostile/true_changeling.dm
  modular_skyrat/modules/mentor/code/mentorhelp.dm
  modular_skyrat/modules/mentor/code/mentorpm.dm
  modular_skyrat/modules/mentor/code/mentorsay.dm
  modular_skyrat/modules/mentor/code/mentorwho.dm
  modular_skyrat/modules/verbs/code/modules/client/preferences_toggles.dm
  modular_skyrat/modules/verbs/code/modules/client/verbs/looc.dm
  tgui/packages/tgui-panel/chat/constants.js
Labels: Fix, UI

#5472 [MODULAR] Adds Ashwalker/Golem Fingers Quirk
  code/__DEFINES/~skyrat_defines/jobs.dm
  modular_skyrat/master_files/code/datums/traits/negative.dm
  modular_skyrat/modules/customization/modules/jobs/_job.dm
  modular_skyrat/modules/ssd_indicator/code/mob.dm
Labels: Feature

#5460 [Modular] Lone Infiltrator - Non-Crew Traitor Event.
  modular_skyrat/modules/Midroundtraitor/datum_traitor.dm
  modular_skyrat/modules/Midroundtraitor/event.dm
  tgstation.dme
Labels: Feature

#5491 [SEMI-MODULAR] Bluespace RPD
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  modular_skyrat/modules/bsrpd/code/bsrpd.dm
  modular_skyrat/modules/bsrpd/icons/bsrpd.dmi
  modular_skyrat/modules/bsrpd/icons/bsrpd_left.dmi
  modular_skyrat/modules/bsrpd/icons/bsrpd_right.dmi
  tgstation.dme
Labels: Feature

#5483 [modular][ready] A colourable Duster and Peacoat. Five new Collars.
  modular_skyrat/modules/customization/icons/mob/clothing/neck.dmi
  modular_skyrat/modules/customization/icons/mob/clothing/suit.dmi
  modular_skyrat/modules/customization/icons/mob/clothing/uniform.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/neck.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/suits.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/uniforms.dmi
  modular_skyrat/modules/customization/modules/client/loadout/donator/personal/donator_personal.dm
  modular_skyrat/modules/customization/modules/client/loadout/neck.dm
  modular_skyrat/modules/customization/modules/client/loadout/suit.dm
  modular_skyrat/modules/customization/modules/client/loadout/uniform.dm
  modular_skyrat/modules/customization/modules/clothing/neck/collars.dm
  modular_skyrat/modules/customization/modules/clothing/suits/coats.dm
  modular_skyrat/modules/customization/modules/clothing/under/misc.dm
  modular_skyrat/modules/customization/modules/clothing/under/security.dm
Labels: Feature, Needs Review

#5441 [SEMI-MODULAR] Re-adds the stock market for cargo
  code/game/objects/structures/crates_lockers/closets/secure/cargo.dm
  modular_skyrat/modules/stock_market/code/articles.dm
  modular_skyrat/modules/stock_market/code/computer.dm
  modular_skyrat/modules/stock_market/code/computer_circuitboards.dm
  modular_skyrat/modules/stock_market/code/events.dm
  modular_skyrat/modules/stock_market/code/industries.dm
  modular_skyrat/modules/stock_market/code/logs.dm
  modular_skyrat/modules/stock_market/code/stockmarket.dm
  modular_skyrat/modules/stock_market/code/stocks.dm
  tgstation.dme
Labels: Feature, Test Merged

#5518 Civil Disputes Officers get SOOC now
  modular_skyrat/modules/admin/code/sooc.dm
  modular_skyrat/modules/sec_haul/code/junior_officer/junior_officer.dm
Labels: Fix

#5150 [FIXED] [MOSTLY MODULAR] Alt titles
  code/__HELPERS/game.dm
  code/controllers/subsystem/job.dm
  code/datums/datacore.dm
  code/game/machinery/computer/crew.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/security_officer.dm
  modular_skyrat/master_files/code/modules/mob/living/dead/new_player/new_player.dm
  modular_skyrat/modules/altjobtitles/code/_job.dm
  modular_skyrat/modules/altjobtitles/code/cards_ids.dm
  modular_skyrat/modules/altjobtitles/code/datacore.dm
  modular_skyrat/modules/altjobtitles/code/game.dm
  modular_skyrat/modules/altjobtitles/code/jobs.dm
  modular_skyrat/modules/altjobtitles/readme.md
  modular_skyrat/modules/customization/modules/client/preferences.dm
  modular_skyrat/modules/customization/modules/client/preferences_savefile.dm
  modular_skyrat/modules/customization/modules/jobs/_job.dm
  tgstation.dme
Labels: Needs Review, Test Merged

#5494 GENPOP lockers give different prison outfits per allocated time, and general prison outfit code cleanup.
  modular_skyrat/modules/customization/modules/client/loadout/uniform.dm
  modular_skyrat/modules/customization/modules/clothing/under/security.dm
  modular_skyrat/modules/mapping/code/genpop.dm
Labels: Code Improvement, Feature

#5531 [modular][ready] woah new job titles, cool
  modular_skyrat/modules/altjobtitles/code/_job.dm
  modular_skyrat/modules/altjobtitles/code/jobs.dm
Labels: Feature, Needs Review

#5526 [Modular] Here, You Whiners, Your One Line Of Tiles Is Back
  _maps/map_files/NSSJourney/NSSJourney.dmm
Labels: Feature, Map Edit

#5537 [READY] Gubman 3.0: Beginning of The End, Start of The Finish, I hate wikipedia gun descriptions!!
  modular_skyrat/modules/gunsgalore/code/guns/akm/akm.dm
  modular_skyrat/modules/gunsgalore/code/guns/fg42/fg42.dm
  modular_skyrat/modules/gunsgalore/code/guns/m16/m16.dm
  modular_skyrat/modules/gunsgalore/code/guns/mg34/mg34.dm
  modular_skyrat/modules/gunsgalore/code/guns/mp40/mp40.dm
  modular_skyrat/modules/gunsgalore/code/guns/pps/pps.dm
  modular_skyrat/modules/gunsgalore/code/guns/ppsh/ppsh.dm
  modular_skyrat/modules/gunsgalore/code/guns/stg/stg.dm
  modular_skyrat/modules/gunsgalore/icons/guns/akm/akm.dmi
  modular_skyrat/modules/gunsgalore/icons/guns/m16/m16.dmi
  modular_skyrat/modules/gunsgalore/icons/guns/mp40/mp40.dmi
  modular_skyrat/modules/gunsgalore/icons/guns/ppsh/ppsh.dmi
Labels: Grammar and Formatting, Needs Review, Sprites

#5536 [modular] evac shuttle alignment
  _maps/shuttles/emergency_skyrat.dmm
  modular_skyrat/modules/advanced_shuttles/icons/evac_shuttle.dmi
Labels: Fix, Map Edit

#5519 Revert "[NONMODULAR] Balances wizard points (Staff request)"
  code/modules/antagonists/wizard/equipment/spellbook.dm
Labels: Balance/Rebalance, Revert

#5547 Fixes worn choker sprite
  modular_skyrat/modules/customization/icons/mob/clothing/neck.dmi
Labels: Fix, Sprites

#5541 Deltaprison tiny fix
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
Labels: Map Edit

#5530 [semi modular][ready]adds the collars to the dorm vendor, two blue gl…
  code/modules/vending/wardrobes.dm
  modular_skyrat/modules/customization/icons/mob/clothing/mask.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/masks.dmi
  modular_skyrat/modules/customization/modules/clothing/masks/breath.dm
  modular_skyrat/modules/nsfw/vendors/code/naughty_vendor.dm
Labels: Fix, Needs Review

#5573 Fix playtime requirements for Civil Disputes Officer.
  modular_skyrat/modules/sec_haul/code/junior_officer/junior_officer.dm
Labels: Fix

#5533 mostly [modular] adds a red scrub for sec med [ready]
  modular_skyrat/modules/customization/icons/mob/clothing/uniform.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/eyes.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/uniforms.dmi
  modular_skyrat/modules/customization/modules/client/loadout/uniform.dm
  modular_skyrat/modules/customization/modules/clothing/under/misc.dm
  modular_skyrat/modules/customization/modules/clothing/under/security.dm
  modular_skyrat/modules/sec_haul/code/peacekeeper/peacekeeper_clothing.dm
  modular_skyrat/modules/sec_haul/code/security_medic/security_medic.dm
Labels: Feature, Needs Review

#5563 [modular] Ports the Oddjob traitor hat from fulp
  modular_skyrat/master_files/code/modules/uplink/uplink_items.dm
  modular_skyrat/modules/moretraitoritems/code/game/objects/items/weaponry.dm
Labels: Feature

#5498 Stone walls & Mineable ore veins
  code/__DEFINES/icon_smoothing.dm
  modular_skyrat/modules/stone/code/ore_veins.dm
  modular_skyrat/modules/stone/code/stone.dm
  modular_skyrat/modules/stone/icons/ore.dmi
  modular_skyrat/modules/stone/icons/wall.dmi
  tgstation.dme
Labels: Feature

#5504 Adds a Multitude of Ruins, and Loot to go with.
  _maps/skyrat/shuttles/ruin_blackmarket_chevvy.dmm
  modular_skyrat/modules/integrated_circuits/code/integrated_electronics/core/printer.dm
  modular_skyrat/modules/integrated_circuits/icons/obj/assemblies/electronic_tools.dmi
  modular_skyrat/modules/ruins/code/datums/shuttles.dm
  modular_skyrat/modules/ruins/code/game/area/areas/ruins/space.dm
  modular_skyrat/modules/ruins/code/game/objects/items/melee/misc.dm
  modular_skyrat/modules/ruins/code/game/objects/structures/ghost_role_spawners.dm
  modular_skyrat/modules/ruins/icons/mob/inhands/weapons/swords_lefthand.dmi
  modular_skyrat/modules/ruins/icons/mob/inhands/weapons/swords_righthand.dmi
  modular_skyrat/modules/ruins/icons/obj/items_and_weapons.dmi
  modular_skyrat/modules/ruins/maps/space/blackmarket.dmm
  modular_skyrat/modules/ruins/maps/space/luna.dmm
  modular_skyrat/modules/ruins/maps/space/polychromicfacility.dmm
  modular_skyrat/modules/ruins/maps/space/smugglies.dmm
  modular_skyrat/modules/ruins/space.dm
  tgstation.dme
Labels: Feature, Map Edit, Work In Progress

#5590 Changes up the prisoner alt titles to be more "risk" focused, and less arbitrary "security" levels.
  modular_skyrat/modules/altjobtitles/code/_job.dm
  modular_skyrat/modules/altjobtitles/code/jobs.dm
Labels: Grammar and Formatting

#5584 [SEMI-MODULAR] Gubman 3.1: A bureaucrat? With a hand cannon!?
  code/game/objects/structures/crates_lockers/closets/secure/cargo.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/jobs/job_types/quartermaster.dm
  modular_skyrat/modules/aesthetics/guns/code/guns.dm
  modular_skyrat/modules/aesthetics/guns/icons/guns.dmi
Labels: Balance/Rebalance, Fix, Sprites, Tweak

#5621 [Modular] Batch Of Map Fixes
  _maps/map_files/NSSJourney/NSSJourney.dmm
  _maps/skyrat/shuttles/ruin_blackmarket_chevvy.dmm
  modular_skyrat/modules/ruins/maps/space/polychromicfacility.dmm
Labels: Fix, Map Edit

#5612 [modular] [ready] [fix] gives sec med maint access and fixes a spelling mistake
  modular_skyrat/master_files/code/datums/id_trim/jobs.dm
  modular_skyrat/modules/altjobtitles/code/_job.dm
  modular_skyrat/modules/altjobtitles/code/jobs.dm
  tgstation.dme
Labels: Fix, Needs Review

#5624 Icebox cryo has wires now haha
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
Labels: Fix, Map Edit

#5620 More prepwork for privateers (PR 2 of 6-ish maybe)
  modular_skyrat/master_files/code/_globalvars/maint_loot_uncommon.dm
  modular_skyrat/modules/faction/code/mapping/mapping_helpers.dm
  modular_skyrat/modules/modular_weapons/code/modules/projectiles/guns/ballistic/automatic.dm
  modular_skyrat/modules/modular_weapons/code/modules/projectiles/guns/ballistic/pistol.dm
  modular_skyrat/modules/modular_weapons/code/modules/projectiles/guns/energy/energy.dm
  modular_skyrat/modules/modular_weapons/code/modules/projectiles/projectile/bullets/modular_projectiles.dm
  modular_skyrat/modules/modular_weapons/code/modules/research/designs/autolathe_designs.dm
  modular_skyrat/modules/modular_weapons/icons/obj/ammo.dmi
  modular_skyrat/modules/modular_weapons/icons/obj/guns/projectile.dmi
  modular_skyrat/modules/modular_weapons/icons/obj/guns/projectile40x32.dmi
  modular_skyrat/modules/modular_weapons/icons/obj/gunsets.dmi
  modular_skyrat/modules/modular_weapons/icons/obj/projectiles.dmi
  modular_skyrat/modules/modular_weapons/icons/obj/vending.dmi
  modular_skyrat/modules/modular_weapons/sounds/laser_fire.ogg
  tgstation.dme
Labels: Feature

#5629 [Modular] NSS Journey Fixes
  _maps/map_files/NSSJourney/NSSJourney.dmm
Labels: Fix, Map Edit

#5628 [Modular] Utility Sec Fix + Syndicate Outfit Overhaul
  modular_skyrat/master_files/icons/mob/clothing/under/uniform_digi.dmi
  modular_skyrat/modules/customization/modules/clothing/under/utility_port/utility.dm
  modular_skyrat/modules/mapping/code/modules/ruins/lavaland_ruin_code.dm
Labels: Fix

#5632 Icebox tweaks
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
Labels: Fix, Map Edit, Tweak

#5594 [MODULAR] Mothership Astrum Gateway
  _maps/RandomZLevels/mothership_astrum.dmm
  modular_skyrat/modules/awaymissions_skyrat/icons/abductors.dmi
  modular_skyrat/modules/awaymissions_skyrat/icons/freeman.dmi
  modular_skyrat/modules/awaymissions_skyrat/mission_code/gateway_key.dm
  modular_skyrat/modules/awaymissions_skyrat/mission_code/mothership_astrum.dm
  tgstation.dme
Labels: Feature, Map Edit, Sprites

#5647 [NONMODULAR]Venus Humantraps are no longer capable of immortality
  code/modules/mob/living/simple_animal/hostile/venus_human_trap.dm
  modular_skyrat/master_files/code/modules/events/spacevine.dm
Labels: Fix, Tweak

#5440 [Semi-Modular] Security Sergeant Update + Trim Tokens! (Plus Fixes)
  code/game/objects/items/cards_ids.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  config/config.txt
  config/jobs.txt
  modular_skyrat/master_files/code/datums/id_trim/jobs.dm
  modular_skyrat/modules/sec_haul/code/guns/token_system/gunsets.dm
  modular_skyrat/modules/sec_haul/code/guns/token_system/token_system.dm
  modular_skyrat/modules/sec_haul/icons/guns/gunsets.dmi
  modular_skyrat/modules/trim_tokens/code/cards_ids.dm
  modular_skyrat/modules/trim_tokens/code/trim_tokens.dm
  modular_skyrat/modules/trim_tokens/readme.md
  tgstation.dme
Labels: Code Improvement, Config Update, Feature, Fix, Removal, Test Merged

#5587 [Semi-Modular] *Inflates your rockplanet making it full of content and fun*
  _maps/map_files/Mining/Rockplanet.dmm
  _maps/skyrat/RandomRuins/AsteroidRuins/throwback.dmm
  code/__DEFINES/maps.dm
  code/__DEFINES/~skyrat_defines/maps.dm
  code/controllers/subsystem/mapping.dm
  code/modules/admin/verbs/debug.dm
  config/asteroid.txt
  config/skyrat/skyrat_config.txt
  modular_skyrat/master_files/code/_globalvars/configuration.dm
  modular_skyrat/master_files/code/datums/ruins/AsteroidRuins.dm
  modular_skyrat/master_files/code/game/area/areas/ruins/asteroid.dm
  modular_skyrat/modules/planets/code/areas/rockplanet.dm
  tgstation.dme
Labels: Code Improvement, Config Update, Feature, Map Edit

#5607 [MODULAR] [READY] Adds black pants to the loadout
  modular_skyrat/modules/customization/modules/client/loadout/uniform.dm
Labels: Feature, Needs Review

#5603 [Modular] Interdyne Fixes/Major Tweak.
  modular_skyrat/modules/mapping/_maps/RandomRuins/IceRuins/icemoon_underground_syndicate_base1_skyrat.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1_skyrat.dmm
  modular_skyrat/modules/mapping/code/modules/ruins/lavaland_ruin_code.dm
Labels: Code Improvement, Removal

#4181 [TM ONLY] Tick reserve test
  code/__DEFINES/_tick.dm
Labels: Test Merge Only, Test Merged

#5493 [NON-MODULAR] no more bone-zone
  code/modules/antagonists/wizard/equipment/artefact.dm
Labels: Removal

#5666 map reset holy fucking shit I fucking hate maps so fucking much why are they so fucking dumb I hate them
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above.dmm
Labels: Map Edit

#5664 [Modular] Reverts the pre-built SM on newcharlie because fuck smart pipes
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/oldstation_skyrat.dmm
Labels: Balance/Rebalance, Revert

#5659 [Modular] Add Skyrat-Specific Commemorative Map-Plaques (Rebase Maps Only).
  _maps/map_files/NSSJourney/NSSJourney.dmm
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  modular_skyrat/modules/mapping/code/game/objects/structures/plaques/static_plaques.dm
  tgstation.dme
Labels: Feature, Map Edit

#5654 Added more Trash Piles to NSS Journey
  _maps/map_files/NSSJourney/NSSJourney.dmm
  modular_skyrat/master_files/code/_globalvars/maint_loot_uncommon.dm
  modular_skyrat/master_files/code/game/objects/structures/trash_pile.dm
Labels: Feature, Map Edit

#5655 Fixed Medihounds
  modular_skyrat/modules/altborgs/code/modules/mob/living/silicon/robot/robot_modules.dm
Labels: Fix

#5630 [modular] Dogginos! A service ERT that delivers Pizza.
  modular_skyrat/master_files/icons/mob/clothing/under/uniform_digi.dmi
  modular_skyrat/master_files/icons/mob/clothing/uniform_digi.dmi
  modular_skyrat/modules/additionalert/pizza/code/datums/ert.dm
  modular_skyrat/modules/additionalert/pizza/code/game/objects/items/weaponry.dm
  modular_skyrat/modules/additionalert/pizza/code/modules/antagonists/ert/ert.dm
  modular_skyrat/modules/additionalert/pizza/code/modules/clothing/head/head.dm
  modular_skyrat/modules/additionalert/pizza/code/modules/clothing/outfit/ert.dm
  modular_skyrat/modules/additionalert/pizza/code/modules/clothing/suits/misc.dm
  modular_skyrat/modules/additionalert/pizza/code/modules/clothing/under/misc.dm
  modular_skyrat/modules/additionalert/pizza/icons/mob/clothing/head.dmi
  modular_skyrat/modules/additionalert/pizza/icons/mob/clothing/suit.dmi
  modular_skyrat/modules/additionalert/pizza/icons/mob/clothing/uniform.dmi
  modular_skyrat/modules/additionalert/pizza/icons/obj/clothing/head.dmi
  modular_skyrat/modules/additionalert/pizza/icons/obj/clothing/suit.dmi
  modular_skyrat/modules/additionalert/pizza/icons/obj/clothing/under.dmi
  modular_skyrat/modules/additionalert/pizza/icons/obj/hotknife.dmi
  modular_skyrat/modules/additionalert/pizza/icons/obj/inhand/lefthand.dmi
  modular_skyrat/modules/additionalert/pizza/icons/obj/inhand/righthand.dmi
  tgstation.dme
Labels: Feature

#5503 [MODULAR] Toggle Admin Auto-Dementor
  modular_skyrat/modules/customization/modules/client/preferences.dm
  modular_skyrat/modules/mentor/code/client_procs.dm
Labels: Administration

#5677 Gubman 3.1.5: It's too minor to be a real update, okay!?
  modular_skyrat/modules/aesthetics/guns/code/guns.dm
  modular_skyrat/modules/aesthetics/guns/icons/guns.dmi
  modular_skyrat/modules/aesthetics/guns/icons/guns_back.dmi
Labels: Sprites, Tweak

#5343 [NONMODULAR] [TM FIRST] Shooting a gun while prone temporarily imobilises you, and reverts PR #5083 (laying down makes you drop stuff)
  code/modules/mob/living/carbon/carbon.dm
  modular_skyrat/master_files/code/modules/projectiles/guns/gun.dm
Labels: Balance/Rebalance, Revert

#5682 Fix "You are the Security Officer!" wrt. alt titles
  code/controllers/subsystem/job.dm
Labels: Fix

#5700 [Modular] Nyahaha Emotes
  modular_skyrat/modules/emotes/code/emotes.dm
  modular_skyrat/modules/emotes/sound/emotes/nyaha.ogg
  modular_skyrat/modules/emotes/sound/emotes/nyahaha1.ogg
  modular_skyrat/modules/emotes/sound/emotes/nyahaha2.ogg
  modular_skyrat/modules/emotes/sound/emotes/nyahehe.ogg
Labels: Feature

#5593 [MODULAR] [READY] Makes an special poncho and apron sprite to Dog-Taurs.
  modular_skyrat/master_files/icons/mob/clothing/suit_taur_hoof.dmi
  modular_skyrat/master_files/icons/mob/clothing/suit_taur_paw.dmi
  modular_skyrat/modules/customization/icons/mob/sprite_accessory/genitals/vagina_onmob.dmi
  modular_skyrat/modules/customization/modules/clothing/suits/coats.dm
Labels: Needs Review

#5702 [MODULAR] Fixes Stock Market cap being stupidly high
  modular_skyrat/modules/stock_market/code/stocks.dm
Labels: Balance/Rebalance

#5705 [Modular] Fix for round ID 1739's Syndicate Problem
  _maps/map_files/NSSJourney/NSSJourney.dmm
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  modular_skyrat/modules/mapping/code/datums/ruins/icemoon.dm
  modular_skyrat/modules/mapping/code/datums/ruins/lavaland.dm
  modular_skyrat/modules/mapping/code/datums/ruins/space.dm
Labels: Fix, Map Edit

#5727 CRITICAL FIX adds dorms vendor to ghost cafe
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
Labels: Fix, Map Edit

#5722 Special Desc: Brainwashing Disk
  code/modules/surgery/advanced/brainwashing.dm
Labels: Balance/Rebalance

#5729 Actually fixes the auto-dementor preference by saving and loading it :^)
  modular_skyrat/modules/customization/modules/client/preferences_savefile.dm
Labels: Fix

#5710 [modular][ready] adds the curator skirt to the loadout on request
  modular_skyrat/modules/customization/modules/client/loadout/uniform.dm
Labels: Needs Review

#5737 [SEMI-MODULAR] Modular Emoji Reincarnation
  code/__DEFINES/misc.dm
  modular_skyrat/master_files/icons/emoji.dmi
  modular_skyrat/master_files/readme.md
Labels: Sprites

#5725 [NON-MODULAR] Adds our species to the nanite "Species Sensor" program.
  code/modules/research/nanites/nanite_programs/sensor.dm
Labels: Fix

#5665 [NONMODULAR]Slaugher demons no longer RR
  code/modules/antagonists/slaughter/slaughter.dm
Labels: Tweak

#5738 [MODULAR] Astrum 2.0 + Gateway Keys
  _maps/RandomZLevels/mothership_astrum.dmm
  modular_skyrat/modules/awaymissions_skyrat/icons/abductorkey.dmi
  modular_skyrat/modules/awaymissions_skyrat/mission_code/gateway_key.dm
  modular_skyrat/modules/awaymissions_skyrat/mission_code/mothership_astrum.dm
Labels: Feature, Fix, Map Edit

#5747 [Modular] Resouls Floor Tile (Item) Sprites
  modular_skyrat/modules/aesthetics/stacks/stack_objects.dmi
  modular_skyrat/modules/aesthetics/stacks/stacks.dm
Labels: Removal, Sprites

#5728 [SEMI-MODULAR] Adds more filtering options to the scanner gates
  code/game/machinery/scan_gate.dm
  tgui/packages/tgui/interfaces/ScannerGate.js
Labels: Feature, UI

#5740 [modular][ready] Gives the Blueshield their own Family Heirlooms and mail.
  modular_skyrat/modules/blueshield/code/modules/jobs/job_types/blueshield.dm
Labels: Needs Review

#5741 [fix][modular][ready](hopefully) Fixes dogborg deathsprites not showing
  modular_skyrat/modules/altborgs/code/modules/mob/living/silicon/robot/robot_modules.dm
  modular_skyrat/modules/altborgs/code/modules/mob/living/silicon/robot/update_icons.dm
Labels: Needs Review

#5756 [MODULAR] Adds Track Jacket
  modular_skyrat/modules/customization/icons/mob/clothing/suit.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/suits.dmi
  modular_skyrat/modules/customization/modules/client/loadout/suit.dm
  modular_skyrat/modules/customization/modules/clothing/suits/misc.dm
Labels: Feature

#5754 [MODULAR] Astrum QoL changes (Plus Gamer Loot)
  _maps/RandomZLevels/mothership_astrum.dmm
  modular_skyrat/modules/awaymissions_skyrat/icons/alienblaster.dmi
  modular_skyrat/modules/awaymissions_skyrat/icons/alienhand.dmi
  modular_skyrat/modules/awaymissions_skyrat/icons/alienhand2.dmi
  modular_skyrat/modules/awaymissions_skyrat/mission_code/mothership_astrum.dm
Labels: Feature, Map Edit, Tweak

#5760 [MODULAR] Adds Flower Pin from Virgo
  modular_skyrat/modules/customization/icons/mob/clothing/head.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/hats.dmi
  modular_skyrat/modules/customization/modules/client/loadout/head.dm
  modular_skyrat/modules/customization/modules/clothing/head/head.dm
Labels: Feature

#5742 [NONMODULAR] [READY] Goliath Cloaks protect against cold.
  code/modules/clothing/suits/cloaks.dm
Labels: Balance/Rebalance, Needs Review, Testing Phase

#5744 [modular][ready] Adds paintings and a clock to NSS Journey
  _maps/map_files/NSSJourney/NSSJourney.dmm
  modular_skyrat/modules/officestuff/code/officestuff.dm
  modular_skyrat/modules/officestuff/icons/cowboyobh.dmi
  tgstation.dme
Labels: Map Edit, Needs Review

#5766 [MODULAR] resprites cap, HoS fem parade overcoats (for real this time)
  modular_skyrat/modules/customization/icons/mob/clothing/suit.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/suits.dmi
Labels: Removal

#5772 [modular][ready][fix] makes sure the pioneer outfits show up
  modular_skyrat/modules/customization/icons/obj/clothing/uniforms.dmi
Labels: Fix, Needs Review

#5773 Fixes Drake Armour to show up on certain races. Mutation variant to NONE.
  modular_skyrat/master_files/code/modules/clothing/non_anthro_clothes.dm
Labels: Code Improvement

#5778 [Modular] Adds 2 new feathered wing variants
  modular_skyrat/modules/customization/icons/mob/sprite_accessory/tails.dmi
  modular_skyrat/modules/customization/icons/mob/sprite_accessory/wings.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/wings.dm
Labels: Feature, Fix

#5770 [READY] Sleek security coat a-la Hugo Boss
  modular_skyrat/modules/sec_haul/code/misc/vending.dm
  modular_skyrat/modules/sec_haul/code/peacekeeper/peacekeeper_clothing.dm
  modular_skyrat/modules/sec_haul/icons/peacekeeper/clothing/peacekeeper_armors.dmi
  modular_skyrat/modules/sec_haul/icons/peacekeeper/peacekeeper_items.dmi
Labels: Feature, Needs Review

#5755 [Modular] Nerfs The STINKY Blueshield's organs A LOT. (Goodbye liquor powergaming (hate u) >:(( <- Me being angry)
  modular_skyrat/modules/blueshield/code/modules/jobs/job_types/blueshield.dm
Labels: Balance/Rebalance

#5793 [FUCK] Black Market Chevvy Fix
  modular_skyrat/modules/ruins/code/datums/shuttles.dm
Labels: Fix

#5795 Bumps Blueshield up on the job select screen
  code/__DEFINES/jobs.dm
Labels: DO NOT MERGE, Needs Review

#5828 [modular][ready]From the River to the-
  modular_skyrat/modules/customization/modules/clothing/head/head.dm
Labels: Fix, Needs Review

#5831 Revert "[MIRROR] Add Maptainer to codeowners"
  .github/CODEOWNERS
Labels: GitHub, Revert

#5826 [Modular] Return of the Pseudobulbar Affect
  modular_skyrat/master_files/code/datums/traits/neutral.dm
  modular_skyrat/master_files/icons/obj/card.dmi
Labels: Feature

#5800 [MODULAR] Goliath Cloak Hood Now Appears on Non-Humans
  modular_skyrat/master_files/code/modules/clothing/non_anthro_clothes.dm
Labels: Fix

#5791 [semi-modular] Adds optional bluespace sparks to admin delete
  code/__DEFINES/~skyrat_defines/preferences.dm
  code/modules/admin/view_variables/admin_delete.dm
  code/modules/buildmode/submodes/advanced.dm
  code/modules/buildmode/submodes/basic.dm
  code/modules/buildmode/submodes/delete.dm
  modular_skyrat/modules/verbs/code/modules/client/preferences_toggles.dm
Labels: Administration

#5799 [MODULAR] [Speedmerge plz] Stock market should no longer go to the moon constantly
  modular_skyrat/modules/stock_market/code/stockmarket.dm
  modular_skyrat/modules/stock_market/code/stocks.dm
Labels: Balance/Rebalance

#5473 [SEMI-MODULAR][READY] Recreates the admin verb 'Create Antagonist(s)'
  code/modules/admin/admin_verbs.dm
  code/modules/admin/topic.dm
  modular_skyrat/modules/oneclickantag/oneclickantag.dm
  tgstation.dme
Labels: Administration, DO NOT MERGE, Needs Review, Test Merge Only, Test Merged

#5784 [Semi-Modular] Resurrects #1304's Catwalk Changes
  code/__DEFINES/~skyrat_defines/icon_smoothing.dm
  code/__DEFINES/~skyrat_defines/planes_layers.dm
  code/game/objects/items/stacks/rods.dm
  code/game/objects/structures/lattice.dm
  modular_skyrat/modules/mapping/code/catwalk_items.dm
  modular_skyrat/modules/mapping/code/game/objects/structures/lattice.dm
  modular_skyrat/modules/mapping/code/plated_catwalk.dm
  modular_skyrat/modules/mapping/icons/catwalk_item.dmi
  modular_skyrat/modules/mapping/icons/catwalk_plated.dmi
  modular_skyrat/modules/mapping/icons/dark_catwalk_plated.dmi
  tgstation.dme
Labels: Feature

#5780 [MODULAR] Bring back the aesthetics PDA in GAGS form,also aesthetics PDA cartridge
  modular_skyrat/modules/aesthetics/pda/pda.dm
  modular_skyrat/modules/aesthetics/pda/pda.dmi
  tgstation.dme
Labels: Feature

#5745 [MODULAR] Fixes Subtle and Subtler Swaps
  modular_skyrat/modules/verbs/code/modules/mob/subtle.dm
Labels: Fix, Testing Phase

#5836 More donator stuff. Clothes no longer burn completely.
  code/modules/clothing/clothing.dm
  modular_skyrat/master_files/icons/mob/clothing/uniform.dmi
  modular_skyrat/master_files/icons/mob/clothing/uniform_digi.dmi
  modular_skyrat/master_files/icons/obj/clothing/uniforms.dmi
  modular_skyrat/modules/customization/modules/client/loadout/donator/personal/donator_personal.dm
  modular_skyrat/modules/customization/modules/client/loadout/uniform.dm
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
  modular_skyrat/modules/mapping/code/modules/clothing/under/jobs/command.dm
Labels: Feature

#5835 Rebases Icebox for pre-set directional wallmount objects.
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above_skyrat.dmm
Labels: Map Edit, Refactor

#5839 [Modular] Readies NSS Journey For The Wallening
  _maps/map_files/NSSJourney/NSSJourney.dmm
Labels: Map Edit

#5856 Ghost role bans
  code/__DEFINES/~skyrat_defines/banning.dm
  code/__HELPERS/game.dm
  code/modules/admin/sql_ban_system.dm
  code/modules/awaymissions/corpse.dm
  code/modules/mob/living/simple_animal/hostile/venus_human_trap.dm
  modular_skyrat/master_files/code/modules/mob/living/simple_animal/simple_animal.dm
  modular_skyrat/modules/events/code/event_spawner.dm
  tgstation.dme
Labels: Feature

#5767 [NONMODULAR] Ports Arcing APCs from paradise.
  code/modules/power/apc.dm
Labels: Feature, Test Merged

#4690 [READY] [MODULAR] Closable stasis beds and stasis body bags.
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/KiloStation/KiloStation_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
  _maps/map_files/NSSJourney/NSSJourney.dmm
  _maps/map_files/tramstation/tramstation_skyrat.dmm
  modular_skyrat/modules/stasisrework/code/game/machinery/stasissleeper.dm
  modular_skyrat/modules/stasisrework/code/game/objects/items/bodybag.dm
  modular_skyrat/modules/stasisrework/code/game/objects/items/circuitboards/machine_circuitboards.dm
  modular_skyrat/modules/stasisrework/code/game/objects/structures/crates_lockers/closets/bodybag.dm
  modular_skyrat/modules/stasisrework/code/modules/research/designs/medical_designs.dm
  modular_skyrat/modules/stasisrework/code/modules/research/techweb/all_nodes.dm
  modular_skyrat/modules/stasisrework/icons/obj/machines/stasissleeper.dmi
  modular_skyrat/modules/stasisrework/icons/obj/stasisbag.dmi
  modular_skyrat/modules/stasisrework/readme.md
  tgstation.dme
Labels: Feature, Map Edit, Needs Review, Removal, Test Merged

#5794 [SEMI-MODULAR] LOOC mutes now exist.
  code/__DEFINES/admin.dm
  code/modules/admin/admin.dm
  code/modules/admin/verbs/randomverbs.dm
  modular_skyrat/modules/verbs/code/modules/client/verbs/looc.dm
Labels: Administration

#5855 [MODULAR] Astrum But Harder [READY]
  _maps/RandomZLevels/mothership_astrum.dmm
  modular_skyrat/modules/awaymissions_skyrat/mission_code/mothership_astrum.dm
Labels: Balance/Rebalance, Feature, Fix, Map Edit, Needs Review

#5859 [MODULAR] Massive Tribal Rework / Ashies STRONG
  modular_skyrat/modules/tribal_extended/code/ammo/caseless/arrow.dm
  modular_skyrat/modules/tribal_extended/code/ammo/reusable/arrow.dm
  modular_skyrat/modules/tribal_extended/code/quiver.dm
  modular_skyrat/modules/tribal_extended/code/recipes.dm
  modular_skyrat/modules/tribal_extended/code/weapons/bow.dm
  modular_skyrat/modules/tribal_extended/code/weapons/shield.dm
  modular_skyrat/modules/tribal_extended/code/weapons/sword.dm
  modular_skyrat/modules/tribal_extended/icons/back.dmi
Labels: Balance/Rebalance, Fix

#5861 [Modular] So many map tweaks. It's. Not even funny.
  modular_skyrat/modules/mapping/_maps/RandomRuins/IceRuins/icemoon_underground_syndicate_base1_skyrat.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1_skyrat.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/forgottenship_skyrat.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/oldstation_skyrat.dmm
  modular_skyrat/modules/ruins/maps/space/blackmarket.dmm
  modular_skyrat/modules/ruins/maps/space/dangerous_research.dmm
  modular_skyrat/modules/ruins/maps/space/luna.dmm
  modular_skyrat/modules/ruins/maps/space/outoftime.dmm
  modular_skyrat/modules/ruins/maps/space/polychromicfacility.dmm
  modular_skyrat/modules/ruins/maps/space/posterpandamonium.dmm
  modular_skyrat/modules/ruins/maps/space/smugglies.dmm
  modular_skyrat/modules/ruins/maps/space/toystore.dmm
  modular_skyrat/modules/ruins/maps/space/waypointstation.dmm
Labels: Fix

#5481 [SEMI-MODULAR] The Rodstopper! Who needs a Research Director?
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  modular_skyrat/modules/rod-stopper/code/immovable_skyrat.dm
  modular_skyrat/modules/rod-stopper/code/rodstopper.dm
  modular_skyrat/modules/rod-stopper/icons/rodstopper.dmi
  tgstation.dme
Labels: Feature

#5847 [MODULAR] Fixes pipes on Metastation connecting the scrubber pipes to the public gas pumps outside engineering
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
Labels: Fix, Map Edit

#5879 [Non-Modular] [Speedmerge] LZ-2 Can Now Spawn Ruins
  code/controllers/subsystem/mapping.dm
  tgstation.dme
Labels: Fix

#5878 [MODULAR]Department peace keeper ID trim
  modular_skyrat/master_files/icons/obj/card.dmi
Labels: Sprites

#5880 [modular][ready] Squid Beard, either for pirates, or schoolgirls
  modular_skyrat/master_files/icons/mob/sprite_accessory/facialhair.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/hair.dm
Labels: Feature, Needs Review

#5857 [NON-MODULAR][TM-FIRST] Cryopods can now store items.
  code/game/machinery/cryopod.dm
  tgui/packages/tgui/interfaces/CryopodConsole.js
Labels: Feature, Test Merge Candidate, Test Merged, UI

#5883 [MODULAR] Gives built buttons the same fancy icon as the roundstart ones
  modular_skyrat/modules/aesthetics/buttons/code/buttons.dm
Labels: Sprites
