Repository Skyrat-SS13/Skyrat-tg, pull requests merged in 2021-12, with the labels that each got.

#9754 Fixes the Armory not spawning guns by reworking how the armory spawners work.
  modular_skyrat/modules/sec_haul/code/guns/gun_spawns.dm
Labels: Fix, Test Merged

#9779 [MANUAL MIRROR OF 9774 AND 9798] DELTASTATION: Complete service + arrivals revamp, cargo tweaks (some maintenance was harmed in the making of this pr)
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  code/game/area/space_station_13_areas.dm
  code/game/objects/structures/watercloset.dm
Labels: Feature, Map Edit

#9776 [Modular] Fixes the tail color on the Winter Hardsuit + EVA mode resprite
  modular_skyrat/master_files/icons/mob/clothing/head.dmi
  modular_skyrat/master_files/icons/mob/clothing/head_muzzled.dmi
  modular_skyrat/master_files/icons/obj/clothing/hats.dmi
  modular_skyrat/modules/Winter-hardsuit/code/winter_hardsuit.dm
Labels: Fix, Sprites

#9770 Updates master-files styling
  modular_skyrat/master_files/code/_globalvars/lists/ambience.dm
  modular_skyrat/master_files/code/controllers/subsystem/statpanel.dm
  modular_skyrat/master_files/code/datums/components/fullauto.dm
  modular_skyrat/master_files/code/datums/id_trim/syndicate.dm
  modular_skyrat/master_files/code/datums/martial/cqcplus.dm
  modular_skyrat/master_files/code/datums/mutations/chameleon.dm
  modular_skyrat/master_files/code/datums/traits/negative.dm
  modular_skyrat/master_files/code/datums/traits/neutral.dm
  modular_skyrat/master_files/code/game/machinery/doors/firedoor.dm
  modular_skyrat/master_files/code/game/objects/items/airlock_painter.dm
  modular_skyrat/master_files/code/game/objects/items/dyekit.dm
  modular_skyrat/master_files/code/game/objects/items/hhmirror.dm
  modular_skyrat/master_files/code/game/objects/items/holy_weapons.dm
  modular_skyrat/master_files/code/game/objects/structures/sauna_oven.dm
  modular_skyrat/master_files/code/game/objects/structures/trash_pile.dm
  modular_skyrat/master_files/code/modules/admin/admin.dm
  modular_skyrat/master_files/code/modules/antagonists/nukeop/equipment/nuclearbomb.dm
  modular_skyrat/master_files/code/modules/awaymission/mission_code/black_mesa.dm
  modular_skyrat/master_files/code/modules/buildmode/submodes/offercontrol.dm
  modular_skyrat/master_files/code/modules/client/preferences.dm
  modular_skyrat/master_files/code/modules/client/preferences/middleware/languages.dm
  modular_skyrat/master_files/code/modules/client/preferences/species_features/generate_side_shots.dm
  modular_skyrat/master_files/code/modules/clothing/chameleon.dm
  modular_skyrat/master_files/code/modules/clothing/head/monkey_magnification_helmet.dm
  modular_skyrat/master_files/code/modules/clothing/outfits/ert.dm
  modular_skyrat/master_files/code/modules/events/spacevine.dm
  modular_skyrat/master_files/code/modules/mob/dead/new_player/preferences_setup.dm
  modular_skyrat/master_files/code/modules/mob/living/carbon/human.dm
  modular_skyrat/master_files/code/modules/mob/living/emote_popup.dm
  modular_skyrat/master_files/code/modules/mob/living/simple_animal/friendly/dogs.dm
  modular_skyrat/master_files/code/modules/mob/living/simple_animal/friendly/poppy.dm
  modular_skyrat/master_files/code/modules/mob/living/simple_animal/hostile/grabbagmob.dm
  modular_skyrat/master_files/code/modules/mob/living/simple_animal/hostile/zombie.dm
  modular_skyrat/master_files/code/modules/projectiles/guns/ballistic/automatic.dm
  modular_skyrat/master_files/code/modules/projectiles/guns/gun.dm
  modular_skyrat/master_files/code/modules/reagents/withdrawal/generic_addictions.dm
  modular_skyrat/master_files/code/modules/research/designs/biogenerator_designs.dm
  modular_skyrat/master_files/code/modules/shuttle/shuttle.dm
  modular_skyrat/master_files/code/modules/uplink/uplink_items.dm
  modular_skyrat/master_files/code/modules/vehicles/snowmobile.dm
Labels: Code Improvement

#9785 You can now shift layers even while lying down
  modular_skyrat/modules/layer_shift/code/mob_movement.dm
Labels: Quality of Life

#9701 [modular] big borg code improvements and fixes
  code/__DEFINES/~skyrat_defines/robot_defines.dm
  code/modules/mob/living/silicon/examine.dm
  code/modules/mob/living/silicon/robot/robot_model.dm
  modular_skyrat/modules/altborgs/code/cyborg_items.dm
  modular_skyrat/modules/altborgs/code/robot.dm
  modular_skyrat/modules/altborgs/code/robot_defines.dm
  modular_skyrat/modules/altborgs/code/robot_model.dm
  modular_skyrat/modules/altborgs/code/robot_modules.dm
  modular_skyrat/modules/altborgs/code/update_icons.dm
  modular_skyrat/modules/altborgs/icons/robot_items.dmi
  modular_skyrat/modules/altborgs/icons/robots_ninja.dmi
  modular_skyrat/modules/altborgs/icons/screen_cyborg.dmi
  modular_skyrat/modules/pixel_shift/code/pixel_shift.dm
  modular_skyrat/modules/shapeshifting_module/code/borg_shapeshifter.dm
  modular_skyrat/modules/specborg/code/robot_module.dm
  modular_skyrat/modules/specborg/icons/item_cyborgs.dmi
  modular_skyrat/modules/specborg/icons/moreborgs.dmi
  modular_skyrat/modules/specborg/icons/screen_cyborg.dmi
  modular_skyrat/modules/specborg/readme.md
  tgstation.dme
Labels: Fix, Code Improvement, Refactor

#9825 Fixes stripper poles and other ERP equipment being constructable in boxes
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_machinery/milking_machine.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_structures/bdsm_furniture.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_structures/dancing_pole.dm
Labels: Fix

#9830 Titan fix 2
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
Labels: Fix, Map Edit

#9831 Cyborg PKA is now visible again
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
Labels: Fix, Good First PR

#9840 Fixes FTU 'Ignis' plasma sword
  code/game/objects/items/melee/energy.dm
  modular_skyrat/modules/ERT_Factions/FTU/code/items.dm
  modular_skyrat/modules/ERT_Factions/FTU/icons/weapons/lefthand.dmi
  modular_skyrat/modules/ERT_Factions/FTU/icons/weapons/righthand.dmi
  modular_skyrat/modules/ERT_Factions/FTU/icons/weapons/serviceguns.dmi
Labels: Fix

#9857 Removes direct character references from Blueshift
  _maps/map_files/Blueshift/BlueShift_upper.dmm
Labels: Removal, Map Edit

#9859 Blueshift engi tweaks
  _maps/map_files/Blueshift/BlueShift_middle.dmm
Labels: Removal, Map Edit

#9863 Adds a button to Blueshift crematorium
  _maps/map_files/Blueshift/BlueShift_middle.dmm
Labels: Fix, Map Edit

#9838 [Modular][Vanity] Two new matrixed low wings for Tesharis, tri-toned and jeweled
  modular_skyrat/master_files/icons/mob/sprite_accessory/wings.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/wings.dm
Labels: Feature

#9638 Microfusion Energy Guns
  _maps/map_files/Blueshift/BlueShift_middle.dmm
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
  _maps/map_files/NSSJourney/NSSJourney.dmm
  _maps/map_files/tramstation/tramstation_skyrat.dmm
  code/__DEFINES/inventory.dm
  code/__DEFINES/~skyrat_defines/traits.dm
  code/game/machinery/cell_charger.dm
  code/game/machinery/recharger.dm
  code/game/objects/items/storage/belt.dm
  code/modules/power/cell.dm
  code/modules/projectiles/guns/energy.dm
  modular_skyrat/master_files/code/modules/projectiles/guns/gun.dm
  modular_skyrat/modules/aesthetics/cells/cell.dm
  modular_skyrat/modules/goofsec/code/projectiles.dm
  modular_skyrat/modules/gunhud/code/gun_hud_component.dm
  modular_skyrat/modules/gunhud/icons/gun_hud.dmi
  modular_skyrat/modules/gunsgalore/code/guns/ballistic_master.dm
  modular_skyrat/modules/gunsgalore/code/guns/skillchip.dm
  modular_skyrat/modules/microfusion/code/_microfusion_defines.dm
  modular_skyrat/modules/microfusion/code/cargo_stuff.dm
  modular_skyrat/modules/microfusion/code/gun_types.dm
  modular_skyrat/modules/microfusion/code/microfusion_cell.dm
  modular_skyrat/modules/microfusion/code/microfusion_cell_attachments.dm
  modular_skyrat/modules/microfusion/code/microfusion_designs.dm
  modular_skyrat/modules/microfusion/code/microfusion_energy_master.dm
  modular_skyrat/modules/microfusion/code/microfusion_gun_attachments.dm
  modular_skyrat/modules/microfusion/code/microfusion_techweb.dm
  modular_skyrat/modules/microfusion/code/phase_emitter.dm
  modular_skyrat/modules/microfusion/code/projectiles.dm
  modular_skyrat/modules/microfusion/icons/guns_lefthand.dmi
  modular_skyrat/modules/microfusion/icons/guns_righthand.dmi
  modular_skyrat/modules/microfusion/icons/microfusion_cells.dmi
  modular_skyrat/modules/microfusion/icons/microfusion_gun40x32.dmi
  modular_skyrat/modules/microfusion/icons/microfusion_gun_attachments.dmi
  modular_skyrat/modules/microfusion/icons/projectiles.dmi
  modular_skyrat/modules/microfusion/sound/burn.ogg
  modular_skyrat/modules/microfusion/sound/incinerate.ogg
  modular_skyrat/modules/microfusion/sound/laser_1.ogg
  modular_skyrat/modules/microfusion/sound/mag_insert.ogg
  modular_skyrat/modules/microfusion/sound/melt.ogg
  modular_skyrat/modules/microfusion/sound/overheat.ogg
  modular_skyrat/modules/microfusion/sound/vaporize.ogg
  modular_skyrat/modules/modular_items/code/bags.dm
  modular_skyrat/modules/multicellcharger/code/multi_cell_charger.dm
  modular_skyrat/modules/robohand/code/robohand.dm
  modular_skyrat/modules/sec_haul/code/guns/gun_spawns.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/MicrofusionGunControl.js
Labels: UI, Feature, Balance/Rebalance, Removal, Map Edit, Test Merged

#9864 Fixes spelling and improves the fishing master skillchip's name
  modular_skyrat/modules/fishing/code/fishing.dm
Labels: Grammar and Formatting

#9866 Removes more player references
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/cargodiselost.dmm
Labels: Removal

#8230 Personal space quirk
  code/__DEFINES/~skyrat_defines/traits.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  modular_skyrat/master_files/code/datums/traits/neutral.dm
Labels: UI, Feature, Removal, Sprites, Sound

#9865 Adds ambition approval/discarding to ticket counter
  modular_skyrat/modules/ambitions/code/ambition.dm
  modular_skyrat/modules/ticket_counter/code/counter.dm
Labels: Administration

#9805 Replaces Captain and NT Rep sidearms with default energy guns
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  modular_skyrat/modules/nanotrasen_rep/code/nanotrasen_representative.dm
Labels: Balance/Rebalance

#9869 Fixes interdynefob map
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/interdynefob.dmm
Labels: Fix

#9692 Vox Sprites Fix One [READY FOR MERGE]
  modular_skyrat/master_files/icons/mob/clothing/head_vox.dmi
  modular_skyrat/master_files/icons/mob/clothing/mask_vox.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/vox/head.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/vox/suit.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/vox/uniform.dmi
Labels: Sprites

#9875 [s] Whoops, no more underage!
  tgui/packages/tgui/interfaces/NtosCard.js
Labels: UI, Fix

#9884 Revert "[MIRROR] Ethereals no longer get the "he" pronoun accidentally [MDB IGNORE]"
  code/modules/client/preferences/gender.dm
Labels: Revert

#9899 No safeties on mining guns
  modular_skyrat/modules/gunsafety/code/gun_safety.dm
Labels: Fix

#9911 Microfusion bugfixes
  modular_skyrat/modules/microfusion/code/microfusion_designs.dm
  modular_skyrat/modules/microfusion/code/microfusion_gun_attachments.dm
  modular_skyrat/modules/microfusion/code/microfusion_techweb.dm
  modular_skyrat/modules/microfusion/code/phase_emitter.dm
  modular_skyrat/modules/microfusion/code/projectiles.dm
Labels: Balance/Rebalance, Fix

#9917 Brief Blueshift balance pass
  _maps/map_files/Blueshift/BlueShift_middle.dmm
  _maps/map_files/Blueshift/BlueShift_upper.dmm
Labels: Removal, Map Edit

#9936 Small Microfusion Hotfix
  modular_skyrat/modules/microfusion/code/microfusion_designs.dm
Labels: Fix

#9904 [MODULAR] adds the nitrogen breathing quirk
  modular_skyrat/master_files/code/datums/quirks/neutral.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/vox.dm
  modular_skyrat/modules/customization/modules/surgery/organs/vox.dm
  tgstation.dme
Labels: Feature

#9953 Fixes microfusion charging runtime
  modular_skyrat/modules/microfusion/code/microfusion_energy_master.dm
Labels: Fix

#9954 Blueshift lattice runtime fix
  _maps/map_files/Blueshift/BlueShift_middle.dmm
  _maps/map_files/Blueshift/BlueShift_upper.dmm
Labels: Fix, Map Edit

#9944 [NON-MODULAR] Bandana hats for 'mutants'
  code/modules/clothing/masks/bandana.dm
Labels: Code Improvement

#9943 [Modular] Allows Heretic clothing sprites to work on 'mutant' races.
  modular_skyrat/master_files/code/modules/clothing/non_anthro_clothes.dm
Labels: Code Improvement

#9947 [MODULAR][FIX]Body Teleporter Medicell no longer teleports living people
  modular_skyrat/modules/modular_weapons/code/medcells.dm
Labels: Fix

#9958 [MODULAR]Restores Claw melee visuals to species with claw sound effects (Ten of them)
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/akula.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/aquatic.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/insect.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/mammal.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/tajaran.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/unathi.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/vox.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/vulpkanin.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/xeno.dm
  modular_skyrat/modules/teshari/code/_teshari.dm
Labels: Fix

#9972 protolathe to techfab blueshift medical
  _maps/map_files/Blueshift/BlueShift_upper.dmm
Labels: Fix, Map Edit

#10004 Removes nanites
  _maps/map_files/WaterKiloStation/WaterKiloStation.dmm
  modular_skyrat/modules/alternative_job_titles/code/alt_job_titles.dm
  modular_skyrat/modules/awaymissions_skyrat/code/mothership_astrum.dm
  modular_skyrat/modules/connecting_computer/code/non_connecting_computers.dm
Labels: Removal, Map Edit

#10006 Removes stray pixel on moth fluff
  modular_skyrat/master_files/icons/mob/sprite_accessory/moth_fluff.dmi
Labels: Sprites

#9489 Re-adds the recently removed two tile range from bone spears
  code/game/objects/items/spear.dm
Labels: Balance/Rebalance, Stale

#10011 [FUCK] Fixes bodyparts not appearing
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species.dm
Labels: Fix, Priority: HIGH

#10000 Updating GBP values: The Re-GBP-ening
  .github/gbp.toml
Labels: Feature, GitHub

#10018 [MODULAR] Ghouls are no longer exclusively agender
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/ghoul.dm
Labels: Config Update

#9964 positronic changes
  modular_skyrat/modules/positronic_alert_console/code/positronic_alert_console.dm
  modular_skyrat/modules/positronic_alert_console/readme.md
Labels: Feature, Code Improvement

#10027 Makes haggis sliceable
  modular_skyrat/modules/customization/modules/food_and_drinks/food/scottish.dm
Labels: Fix

#10026 Quick MM runtime fix
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_machinery/milking_machine.dm
Labels: Fix

#10009 [Modular] Makes anthromorphs/mutants able to wear tech robes
  modular_skyrat/master_files/code/modules/clothing/non_anthro_clothes.dm
Labels: Fix

#10007 [MODULAR] Removes Roller Bed from sec-medic Heirlooms (TLDR it doesn't work)
  modular_skyrat/modules/sec_haul/code/security_medic/security_medic.dm
Labels: Removal, Code Improvement

#10029 [NONMODULAR] fixes a bug with alt titles
  code/modules/client/preferences/middleware/jobs.dm
Labels: Fix

#10031 Fixes space tiles in blueshift maint
  _maps/map_files/Blueshift/BlueShift_lower.dmm
Labels: Fix, Map Edit

#10030 [MODULAR] kills Titan
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  _maps/shuttles/nsstitan.dmm
  modular_skyrat/modules/advanced_shuttles/code/areas.dm
Labels: Map Edit

#9999 Makes the "Do your job regardless of alt title" warning extra loud and obnoxious
  code/controllers/subsystem/job.dm
  interface/stylesheet.dm
  tgui/packages/tgui-panel/styles/goon/chat-dark.scss
Labels: UI

#9951 [Semi-Modular] Advanced Shuttles Revamp, and new Advanced Shuttles!
  _maps/deltastation.json
  _maps/icebox.json
  _maps/map_files/Blueshift/BlueShift_lower.dmm
  _maps/map_files/Blueshift/BlueShift_middle.dmm
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
  _maps/map_files/Mining/Rockplanet.dmm
  _maps/map_files/generic/CentCom_skyrat.dmm
  _maps/metastation.json
  _maps/nssjourney.json
  _maps/readme.md
  _maps/shuttles/cargo_skyrat.dmm
  _maps/shuttles/emergency_skyrat.dmm
  _maps/skyrat/shuttles/arrivals_skyrat.dmm
  _maps/skyrat/shuttles/cargo_delta_skyrat.dmm
  _maps/skyrat/shuttles/cargo_skyrat.dmm
  _maps/skyrat/shuttles/escape_pod_default_skyrat.dmm
  _maps/skyrat/shuttles/ferry_skyrat.dmm
  _maps/skyrat/shuttles/labour_skyrat.dmm
  _maps/skyrat/shuttles/mining_common_skyrat.dmm
  _maps/skyrat/shuttles/mining_large_skyrat.dmm
  _maps/skyrat/shuttles/mining_skyrat.dmm
  _maps/templates/ferry_skyrat.dmm
  _maps/tramstation.json
  code/modules/shuttle/supply.dm
  modular_skyrat/master_files/icons/obj/closet.dmi
  modular_skyrat/modules/advanced_shuttles/code/areas.dm
  modular_skyrat/modules/advanced_shuttles/code/closet.dm
  modular_skyrat/modules/advanced_shuttles/code/decals.dm
  modular_skyrat/modules/advanced_shuttles/code/floor.dm
  modular_skyrat/modules/advanced_shuttles/code/shuttles.dm
  modular_skyrat/modules/advanced_shuttles/code/turfs.dm
  modular_skyrat/modules/advanced_shuttles/code/wall.dm
  modular_skyrat/modules/advanced_shuttles/icons/cargo.dmi
  modular_skyrat/modules/advanced_shuttles/icons/cargofloor.dmi
  modular_skyrat/modules/advanced_shuttles/icons/computer_shuttle_mining.dmi
  modular_skyrat/modules/advanced_shuttles/icons/computer_shuttle_white.dmi
  modular_skyrat/modules/advanced_shuttles/icons/erokez.dmi
  modular_skyrat/modules/advanced_shuttles/icons/evac_shuttle.dmi
  modular_skyrat/modules/advanced_shuttles/icons/exploration_floor.dmi
  modular_skyrat/modules/advanced_shuttles/icons/mining.dmi
  modular_skyrat/modules/advanced_shuttles/icons/mining_labor.dmi
  modular_skyrat/modules/advanced_shuttles/icons/mining_large.dmi
  modular_skyrat/modules/advanced_shuttles/icons/pod.dmi
  modular_skyrat/modules/advanced_shuttles/icons/shuttle.dmi
  modular_skyrat/modules/advanced_shuttles/icons/shuttle_mining.dmi
  modular_skyrat/modules/advanced_shuttles/icons/trusters.dmi
  modular_skyrat/modules/advanced_shuttles/icons/wagon.dmi
  modular_skyrat/modules/mapping/_maps/RandomRuins/RockplanetRuins/rockplanet_surface_syndicate_base1_skyrat.dmm
  tgstation.dme
Labels: Feature, Balance/Rebalance, Fix, Map Edit

#10010 [SEMI-MODULAR] Fixes and improvements for the ghost cafe
  code/modules/awaymissions/corpse.dm
  modular_skyrat/master_files/code/datums/quirks/neutral.dm
  modular_skyrat/modules/ghostcafe/code/ghost_role_spawners.dm
Labels: Fix, Code Improvement

#10046 [NON-MODULAR] Re-adds the glowy TK head we removed because being able to have TK with absolutely zero trade-off is terrible in practice
  code/datums/mutations/telekinesis.dm
Labels: Feature

#9963 New Security Drip! :)
  _maps/map_files/Blueshift/BlueShift_middle.dmm
  code/game/objects/items.dm
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/clothing/glasses/_glasses.dm
  code/modules/clothing/glasses/hud.dm
  code/modules/clothing/head/helmet.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/under/jobs/security.dm
  code/modules/jobs/job_types/head_of_security.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/jobs/job_types/warden.dm
  code/modules/vending/wardrobes.dm
  modular_skyrat/master_files/icons/mob/clothing/back.dmi
  modular_skyrat/master_files/icons/mob/clothing/belt.dmi
  modular_skyrat/master_files/icons/mob/clothing/eyes.dmi
  modular_skyrat/master_files/icons/mob/clothing/feet.dmi
  modular_skyrat/master_files/icons/mob/clothing/feet_digi.dmi
  modular_skyrat/master_files/icons/mob/clothing/hands.dmi
  modular_skyrat/master_files/icons/mob/clothing/head.dmi
  modular_skyrat/master_files/icons/mob/clothing/neck.dmi
  modular_skyrat/master_files/icons/mob/clothing/suit.dmi
  modular_skyrat/master_files/icons/mob/clothing/uniform.dmi
  modular_skyrat/master_files/icons/mob/clothing/uniform_digi.dmi
  modular_skyrat/master_files/icons/mob/sprite_accessory/conversion.dmi
  modular_skyrat/master_files/icons/mob/sprite_accessory/final.dmi
  modular_skyrat/master_files/icons/obj/clothing/backpacks.dmi
  modular_skyrat/master_files/icons/obj/clothing/belts.dmi
  modular_skyrat/master_files/icons/obj/clothing/glasses.dmi
  modular_skyrat/master_files/icons/obj/clothing/gloves.dmi
  modular_skyrat/master_files/icons/obj/clothing/hats.dmi
  modular_skyrat/master_files/icons/obj/clothing/neck.dmi
  modular_skyrat/master_files/icons/obj/clothing/shoes.dmi
  modular_skyrat/master_files/icons/obj/clothing/suits.dmi
  modular_skyrat/master_files/icons/obj/clothing/uniforms.dmi
  modular_skyrat/master_files/sound/effects/footstep1.ogg
  modular_skyrat/master_files/sound/effects/footstep2.ogg
  modular_skyrat/master_files/sound/effects/footstep3.ogg
  modular_skyrat/modules/goofsec/code/clothing/security_backpacks.dm
  modular_skyrat/modules/goofsec/code/clothing/security_belt.dm
  modular_skyrat/modules/goofsec/code/clothing/security_eyes.dm
  modular_skyrat/modules/goofsec/code/clothing/security_feet.dm
  modular_skyrat/modules/goofsec/code/clothing/security_gloves.dm
  modular_skyrat/modules/goofsec/code/clothing/security_head.dm
  modular_skyrat/modules/goofsec/code/clothing/security_neck.dm
  modular_skyrat/modules/goofsec/code/clothing/security_suit.dm
  modular_skyrat/modules/goofsec/code/clothing/security_under.dm
  modular_skyrat/modules/modular_vending/code/wardrobes.dm
  tgstation.dme
Labels: Feature, Map Edit, Test Merge Candidate

#10008 911 Rework: Button Relocation, Cops -> Marshals, Confirmation Prompts, S.W.A.T. Rework, Dogginos, and Treason.
  code/game/machinery/computer/communications.dm
  modular_skyrat/master_files/code/datums/id_trim/solgov.dm
  modular_skyrat/modules/goofsec/code/sol_fed.dm
  modular_skyrat/modules/goofsec/icons/reporter.dmi
  tgui/packages/tgui/interfaces/CommunicationsConsole.js
Labels: UI, Feature

#9941 Events audit, moving overrides to modular files + TEMP FIX
  code/controllers/subsystem/events.dm
  code/modules/events/_event.dm
  code/modules/events/abductor.dm
  code/modules/events/alien_infestation.dm
  code/modules/events/blob.dm
  code/modules/events/brain_trauma.dm
  code/modules/events/brand_intelligence.dm
  code/modules/events/heart_attack.dm
  code/modules/events/immovable_rod.dm
  code/modules/events/meteor_wave.dm
  code/modules/events/radiation_storm.dm
  code/modules/events/shuttle_catastrophe.dm
  code/modules/events/space_dragon.dm
  code/modules/events/spider_infestation.dm
  code/modules/events/swarmer.dm
  code/modules/events/wisdomcow.dm
  modular_skyrat/modules/cme/code/cme.dm
  modular_skyrat/modules/events/code/__event_defines.dm
  modular_skyrat/modules/events/code/event_overrides.dm
  modular_skyrat/modules/events/code/event_spawner_templates.dm
  modular_skyrat/modules/events/code/meteor_wave.dm
  tgstation.dme
Labels: Fix, Test Merged

#10073 Fixes spawner stuff
  code/modules/awaymissions/corpse.dm
Labels: Fix

#10099 Fixes oversight in mateba cost
  modular_skyrat/master_files/code/modules/uplink/uplink_items.dm
Labels: Fix

#10101 Updates our modular posters.dmi with the new TG posters again (no more missing icon posters!)
  modular_skyrat/modules/aesthetics/posters/contraband.dmi
Labels: Fix

#9910 [modular] fixes some lewd furnitures spawnable inside people's hands
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_machinery/milking_machine.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_structures/bdsm_furniture.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_structures/dancing_pole.dm
Labels: Fix

#10028 Revert "[MODULAR] Ghouls are no longer exclusively agender"
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/ghoul.dm
Labels: Revert

#10070 Updates corset
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/corset.dm
Labels: Code Improvement

#10071 [NON-MODULAR] Readds hypnoflash/hypno flashbang
  code/modules/uplink/uplink_items.dm
Labels: Feature

#9878 [Modular] [Ready for Merge] Adds Vox Syndicate Infiltrator Sprites
  modular_skyrat/master_files/icons/mob/clothing/head_vox.dmi
  modular_skyrat/master_files/icons/mob/clothing/mask_vox.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/vox/feet.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/vox/suit.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/vox/uniform.dmi
Labels: Feature, Fix, Stale

#9619 [NON-MODULAR] Players in the interlink can no longer be selected as antagonist objective targets
  code/datums/brain_damage/creepy_trauma.dm
  code/game/gamemodes/objective.dm
  code/modules/antagonists/cult/cult.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_quirks.dm
Labels: Quality of Life

#10079 Deployable Barricades
  _maps/map_files/Blueshift/BlueShift_middle.dmm
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  modular_skyrat/modules/barricades/code/barricade.dm
  modular_skyrat/modules/barricades/icons/barricade.dmi
  modular_skyrat/modules/modular_vending/code/security.dm
  tgstation.dme
Labels: Feature, Map Edit, Test Merged

#10074 [modular]ihopeits[ready] adds tuna and shortbread
  modular_skyrat/master_files/icons/obj/food/irnbru.dmi
  modular_skyrat/modules/customization/datums/components/crafting/recipes.dm
  modular_skyrat/modules/customization/modules/food_and_drinks/food/SRseafood.dm
  modular_skyrat/modules/customization/modules/food_and_drinks/food/scottish.dm
  tgstation.dme
Labels: Needs Review, Needs Sprites Pictures

#10108 [NONMODULAR] Vox backup internals fix, no more double epipen, unique internals fix
  code/game/objects/items/storage/boxes.dm
Labels: Fix

#10120 "NanoTrasen" -> "Nanotrasen"
  modular_skyrat/modules/customization/modules/clothing/suits/hoodies.dm
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
  modular_skyrat/modules/customization/modules/culture/faction/faction_generic.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/species/ethereal.ts
Labels: UI, Grammar and Formatting

#10125 rad armour runtime fix
  modular_skyrat/modules/barricades/code/barricade.dm
Labels: Fix

#10121 Fixes a few missing SIGNAL_HANDLERs
  modular_skyrat/modules/aesthetics/firealarm/code/firealarm.dm
  modular_skyrat/modules/emotes/code/additionalemotes/turf_emote.dm
  modular_skyrat/modules/fishing/code/fishing.dm
  modular_skyrat/modules/gunpoint/code/gunpoint_datum.dm
  modular_skyrat/modules/pollution/code/temporary_pollution_emission_component.dm
  modular_skyrat/modules/reagent_forging/code/reagent_component.dm
  modular_skyrat/modules/xenoarch/code/modules/research/xenoarch/xenoarch_tool.dm
Labels: Code Improvement

#9970 [SEMI-MODULAR] Nerve staple bounty
  code/controllers/subsystem/processing/quirks.dm
  modular_skyrat/master_files/code/datums/quirks/negative.dm
  modular_skyrat/master_files/code/modules/clothing/glasses/nerve_staple.dm
  modular_skyrat/master_files/icons/mob/clothing/eyes.dmi
  modular_skyrat/master_files/icons/obj/clothing/glasses.dmi
  tgstation.dme
Labels: Feature

#10109 [NON-MODULAR][BALANCE(?)] Updating the TK visuals!
  code/datums/mutations/telekinesis.dm
  code/game/objects/effects/temporary_visuals/miscellaneous.dm
  modular_skyrat/master_files/icons/effects/tele_effects.dmi
Labels: Feature, Sprites

#10152 [MODULAR] Allows the L6-Saw to close its dust cover
  modular_skyrat/master_files/code/modules/projectiles/guns/ballistic/automatic.dm
Labels: Fix

#10182 Hopefully finally fixing CI + Config updates
  code/modules/unit_tests/strippable.dm
  config/jobs.txt
  config/skyrat/skyrat_config.txt
Labels: Fix, Config Update, Priority: HIGH

#10184 Removes Power Armor
  modular_skyrat/modules/powerarmor/code/powerarmor.dm
  modular_skyrat/modules/powerarmor/icons/hats.dmi
  modular_skyrat/modules/powerarmor/icons/head.dmi
  modular_skyrat/modules/powerarmor/icons/suit.dmi
  modular_skyrat/modules/powerarmor/icons/suit_construction.dmi
  modular_skyrat/modules/powerarmor/icons/suits.dmi
  modular_skyrat/modules/powerarmor/readme.md
  tgstation.dme
Labels: Removal

#10165 [MODULAR] Fixed grammar on Barricades
  modular_skyrat/modules/barricades/code/barricade.dm
Labels: Grammar and Formatting

#10161 [MODULAR] Boy I love sidecuts!
  modular_skyrat/master_files/icons/mob/sprite_accessory/more_hair.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/hair.dm
Labels: Feature, Sprites, Verified

#10208 Advanced shuttle edges now have transparency
  modular_skyrat/modules/advanced_shuttles/code/turfs.dm
Labels: Fix

#10186 [MODULAR] Makes adv-eguns once more crafted with eguns.
  modular_skyrat/modules/crafting/crafting_skyrat.dm
Labels: Removal

#10130 less or equal to strictly less flavor size
  code/_onclick/hud/new_player.dm
Labels: Fix

#10126 [MODULAR] fixes the NT Rep's formal jacket
  _maps/map_files/Blueshift/BlueShift_upper.dmm
  modular_skyrat/modules/command_vendor/code/vending.dm
  modular_skyrat/modules/nanotrasen_rep/code/clothing.dm
Labels: Fix, Map Edit

#10167 [MODULAR] Metastation replaced deep fryer with grill
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
Labels: Map Edit

#10168 Fixes, Tweaks, and more for Security's new uniforms
  _maps/map_files/Blueshift/BlueShift_middle.dmm
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/KiloStation/KiloStation_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
  _maps/map_files/Mining/Rockplanet.dmm
  _maps/map_files/NSSJourney/NSSJourney.dmm
  _maps/map_files/tramstation/tramstation_skyrat.dmm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/game/objects/items/storage/backpack.dm
  modular_skyrat/master_files/icons/mob/clothing/belt.dmi
  modular_skyrat/master_files/icons/mob/clothing/eyes.dmi
  modular_skyrat/master_files/icons/mob/clothing/feet.dmi
  modular_skyrat/master_files/icons/mob/clothing/feet_digi.dmi
  modular_skyrat/master_files/icons/mob/clothing/hands.dmi
  modular_skyrat/master_files/icons/mob/clothing/head.dmi
  modular_skyrat/master_files/icons/mob/clothing/head_muzzled.dmi
  modular_skyrat/master_files/icons/mob/clothing/neck.dmi
  modular_skyrat/master_files/icons/mob/clothing/uniform.dmi
  modular_skyrat/master_files/icons/mob/clothing/uniform_digi.dmi
  modular_skyrat/master_files/icons/obj/clothing/belts.dmi
  modular_skyrat/master_files/icons/obj/clothing/glasses.dmi
  modular_skyrat/master_files/icons/obj/clothing/gloves.dmi
  modular_skyrat/master_files/icons/obj/clothing/hats.dmi
  modular_skyrat/master_files/icons/obj/clothing/neck.dmi
  modular_skyrat/master_files/icons/obj/clothing/shoes.dmi
  modular_skyrat/master_files/icons/obj/clothing/uniforms.dmi
  modular_skyrat/modules/goofsec/code/clothing/security_backpacks.dm
  modular_skyrat/modules/goofsec/code/clothing/security_belt.dm
  modular_skyrat/modules/goofsec/code/clothing/security_eyes.dm
  modular_skyrat/modules/goofsec/code/clothing/security_feet.dm
  modular_skyrat/modules/goofsec/code/clothing/security_gloves.dm
  modular_skyrat/modules/goofsec/code/clothing/security_head.dm
  modular_skyrat/modules/goofsec/code/clothing/security_neck.dm
  modular_skyrat/modules/goofsec/code/clothing/security_suit.dm
  modular_skyrat/modules/goofsec/code/clothing/security_under.dm
  modular_skyrat/modules/goofsec/code/sec_clothing_overrides.dm
  modular_skyrat/modules/modular_vending/code/wardrobes.dm
  modular_skyrat/modules/sec_haul/code/misc/vending.dm
  modular_skyrat/modules/sec_haul/icons/vending/vending.dmi
  tgstation.dme
Labels: Feature, Map Edit

#9902 [MODULAR] Let's the crusader belt hold the claymore, and it's subtypes
  modular_skyrat/modules/customization/modules/clothing/storage/belts.dm
Labels: Balance/Rebalance, Your opinion my choice

#10164 [MODULAR] Added Alt Jester related outfits
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_shoes.dm
  modular_skyrat/modules/modular_vending/code/autodrobe.dm
Labels: Feature

#10088 [NON-MODULAR] Stasis tweaks + penalties for varying levels of surgery anesthesia.
  code/datums/mood_events/generic_negative_events.dm
  code/datums/status_effects/debuffs.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/surgery/surgery_step.dm
  modular_skyrat/modules/modular_vending/code/wardrobes.dm
Labels: Balance/Rebalance

#9892 [200% MODULAR] New Megafauna
  _maps/skyrat/RandomRuins/LavaRuins/lavaland_surface_arena.dmm
  _maps/skyrat/readme.md
  modular_skyrat/master_files/icons/mob/agateraminhandsleft.dmi
  modular_skyrat/master_files/icons/mob/agateraminhandsright.dmi
  modular_skyrat/master_files/icons/mob/markedone.dmi
  modular_skyrat/master_files/icons/obj/agateram.dmi
  modular_skyrat/modules/gladiator/code/datums/ruins/lavaland.dm
  modular_skyrat/modules/gladiator/code/game/objects/items/gladiator_items.dm
  modular_skyrat/modules/gladiator/code/modules/mob/living/simple_animal/hostile/megafauna/markedone.dm
  modular_skyrat/modules/gladiator/readme.md
  tgstation.dme
Labels: Feature, Map Edit

#10181 Remove legacy tokens and blueshift adjustment
  _maps/map_files/Blueshift/BlueShift_middle.dmm
  _maps/map_files/Blueshift/BlueShift_upper.dmm
  _maps/map_files/KiloStation/KiloStation_skyrat.dmm
Labels: Fix, Map Edit

#10102 final cme nerf
  code/game/objects/items/devices/anomaly_neutralizer.dm
  modular_skyrat/modules/cme/code/_cme_defines.dm
  modular_skyrat/modules/cme/code/cme.dm
Labels: Feature

#10211 [FUCK] Fixes ghost role spawners on maps
  modular_skyrat/modules/mapping/_maps/RandomRuins/IceRuins/icemoon_underground_syndicate_base1_skyrat.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1_skyrat.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/blackmarket.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/cargodiselost.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/interdynefob.dmm
Labels: Fix

#10212 [Ready] Fixing a bunch of pathing issues and fixing CI due to the mob spawning refactor
  _maps/RandomRuins/SpaceRuins/spacehotel_skyrat.dmm
  _maps/RandomZLevels/blackmesa.dmm
  _maps/RandomZLevels/mothership_astrum.dmm
  _maps/RandomZLevels/wildwest_skyrat.dmm
  _maps/RandomZLevels/zombieprison.dmm
  _maps/map_files/Blueshift/BlueShift_middle.dmm
  _maps/map_files/Blueshift/BlueShift_upper.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/KiloStation/KiloStation_skyrat.dmm
  _maps/map_files/WaterKiloStation/WaterKiloStation.dmm
  _maps/shuttles/pirate_enclave.dmm
  modular_skyrat/modules/faction/maps/shuttles/tradership_faction.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/prisonshuttle.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/shuttle8532.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/syndibase.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/waypointstation.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/wreckedfriendship.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/wreckedhomestead.dmm
Labels: Fix, Map Edit

#10219 [Modular] Fixes ninja cyborg's module-tools button from being missing
  modular_skyrat/modules/altborgs/icons/screen_cyborg.dmi
Labels: Fix

#10023 [FUCK] Fixing the external organs, for real this time(?)
  code/modules/client/preferences/species.dm
  code/modules/mob/living/carbon/human/dummy.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species_types/mothmen.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  modular_skyrat/modules/customization/datums/dna.dm
Labels: Fix, Test Merged

#10214 [NO GBP] Fixes Icebox
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above_skyrat.dmm
Labels: Fix, Map Edit

#10223 [MODULAR] Fixes an oopsie in #10161
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/hair.dm
Labels: Fix

#10215 [NO GBP] Fixes some sprite errors on the new security caps/gauntlets
  modular_skyrat/master_files/icons/mob/clothing/head.dmi
  modular_skyrat/master_files/icons/mob/clothing/neck.dmi
Labels: Fix, Needs Sprites Pictures

#10236 [SEMI-MODULAR] Removes the Cyborg Shrinker from the techweb.
  code/modules/research/techweb/all_nodes.dm
Labels: Removal

#10235 [NON-MODULAR] You can no longer expand non-32x32 cyborg sprites.
  code/game/objects/items/robot/robot_upgrades.dm
Labels: Balance/Rebalance

#10234 [NON-MODULAR] Makes Actual Round Time... Actual Round Time
  code/controllers/subsystem/ticker.dm
  modular_skyrat/master_files/code/controllers/subsystem/statpanel.dm
Labels: Tweak

#10230 [MODULAR]Added one(1) hair style
  modular_skyrat/master_files/icons/mob/sprite_accessory/hair.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/hair.dm
Labels: Sprites, Needs Sprites Pictures

#10213 [MODULAR]Removes some off colour remarks from a set of comments
  modular_skyrat/modules/gladiator/code/modules/mob/living/simple_animal/hostile/megafauna/markedone.dm
Labels: Removal

#10178 [modular]hopefully[ready]christmas, just a pr away
  modular_skyrat/modules/customization/modules/clothing/head/head.dm
  modular_skyrat/modules/customization/modules/clothing/shoes/shoes.dm
  modular_skyrat/modules/customization/modules/clothing/suits/coats.dm
  modular_skyrat/modules/customization/modules/clothing/under/misc.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_heads.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_shoes.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_suit.dm
  modular_skyrat/modules/loadouts/loadout_items/under/loadout_datum_under.dm
  modular_skyrat/modules/modular_vending/code/autodrobe.dm
Labels: Needs Review

#10162 Mince pies
  modular_skyrat/modules/modular_items/code/pastries.dm
  modular_skyrat/modules/modular_items/icons/pastries.dmi
  tgstation.dme
Labels: Feature

#10090 [NON-MODULAR] Nerfs the medibot by increasing the time it takes per tend wounds.
  code/modules/mob/living/simple_animal/bot/medbot.dm
Labels: Balance/Rebalance

#10245 [MODULAR] A familiar IPC chassis
  modular_skyrat/master_files/icons/mob/species/ipc_parts.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/ipc.dm
Labels: Feature

#10267 [MODULAR] Replaces the Cargo Teleporter sprite (and its beacon) with a new, fresh one.
  modular_skyrat/modules/cargo_teleporter/icons/cargo_teleporter.dmi
Labels: Sprites

#10266 tts device will now give feedback on if the user is typing (or not)
  modular_skyrat/master_files/sound/items/tts/started_type.ogg
  modular_skyrat/master_files/sound/items/tts/stopped_type.ogg
  modular_skyrat/modules/customization/game/objects/items/devices/ttsdevice.dm
Labels: Sound, Quality of Life

#10268 add myself to more modular folders
  .github/CODEOWNERS
Labels: GitHub

#10269 [MODULAR] Medigun Toxin Healing now scales with non-medicine chemicals in bloodstream
  modular_skyrat/modules/modular_weapons/code/medcells.dm
Labels: Balance/Rebalance

#10249 [SEMI-MODULAR] Allows items to force-show animal ears (when they have earholes), and fixes masks hiding muzzles when they shouldnt
  code/__DEFINES/inventory.dm
  modular_skyrat/master_files/code/modules/clothing/anthro_clothes.dm
  modular_skyrat/master_files/icons/mob/clothing/mask_muzzled.dmi
  modular_skyrat/modules/customization/modules/clothing/head/head.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/ears.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/snout.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/carbon_update_icons.dm
Labels: Fix, Code Improvement

#9979 CROSSLINK + Population control cap
  code/__DEFINES/~skyrat_defines/span.dm
  code/controllers/subsystem/ticker.dm
  code/datums/world_topic.dm
  code/game/machinery/computer/communications.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/admin/verbs/adminsay.dm
  code/modules/client/client_procs.dm
  code/modules/client/verbs/ooc.dm
  code/modules/mob/dead/new_player/login.dm
  config/skyrat/skyrat_config.txt
  config/skyrat/swap_ips.txt
  modular_skyrat/master_files/code/_onclick/hud/new_player.dm
  modular_skyrat/master_files/code/controllers/configuration/entries/skyrat_config_entries.dm
  modular_skyrat/modules/admin/code/loud_say.dm
  modular_skyrat/modules/lobbyscreen/code/load_servers.dm
  modular_skyrat/modules/server_overflow/code/chat_link.dm
  modular_skyrat/modules/server_overflow/code/client_procs.dm
  modular_skyrat/modules/server_overflow/code/server_connect_panel.dm
  tgstation.dme
  tgui/packages/tgui-panel/styles/goon/chat-dark.scss
  tgui/packages/tgui-panel/styles/goon/chat-light.scss
  tgui/packages/tgui/interfaces/ServerControlPanel.js
Labels: UI, Administration, Config Update, Test Merged

#10278 [Modular][Fix]Small typo in hair.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/hair.dm
Labels: Fix

#10287 [modular][ready]makes the Executive Suit Alt stuff work
  modular_skyrat/modules/loadouts/loadout_items/under/loadout_datum_under.dm
Labels: Fix, Needs Review

#10289 Ghost role alias code reset
  code/modules/mob_spawn/ghost_roles/mining_roles.dm
  code/modules/mob_spawn/mob_spawn.dm
  modular_skyrat/master_files/code/game/objects/ghost_role_spawners.dm
  modular_skyrat/master_files/code/modules/awaymission/mission_code/black_mesa.dm
  modular_skyrat/modules/awaymissions_skyrat/code/wildwest_skyrat.dm
  modular_skyrat/modules/awaymissions_skyrat/code/zombieprison.dm
  modular_skyrat/modules/encounters/code/enclave_pirates.dm
  modular_skyrat/modules/ghostcafe/code/ghost_role_spawners.dm
  modular_skyrat/modules/mapping/code/mob_spawns.dm
  modular_skyrat/modules/mapping/code/shuttles.dm
  tgstation.dme
Labels: Take it upstream

#10291 Fixes the SAD
  modular_skyrat/modules/donut_steel_restoration_device/code/oc_donut_steel_restoration_device.dm
Labels: Fix

#10276 [MODULAR] Adds say modifier to Tajaran species
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/tajaran.dm
Labels: Fix

#10302 FINAL ICEBOX FIXES
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above_skyrat.dmm
Labels: Fix, Map Edit

#10309 Fixes the Automated Announcement System feeling shy and not announcing anything
  modular_skyrat/modules/radiosound/code/headset.dm
Labels: Fix

#9581 GoofSec 1.5: Departmental Batons, Departmental Guard Offices, Batons from Backpacks -> Belts, Guard Cuffs -> Cableties, Mapping Icons for Jobs, Belt Reskinning, Brig Officer Baton Change, Sec Medic Gun Removal + Medical Access Removal, Security Sergeant Removal
  _maps/map_files/Blueshift/BlueShift_middle.dmm
  _maps/map_files/Blueshift/BlueShift_upper.dmm
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above_skyrat.dmm
  _maps/map_files/KiloStation/KiloStation_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
  _maps/map_files/NSSJourney/NSSJourney.dmm
  _maps/map_files/tramstation/tramstation_skyrat.dmm
  code/game/objects/items/storage/belt.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/admin/verbs/mapping.dm
  code/modules/clothing/gloves/color.dm
  code/modules/clothing/shoes/boots.dm
  code/modules/jobs/job_types/head_of_security.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/jobs/job_types/warden.dm
  modular_skyrat/master_files/code/datums/id_trim/jobs.dm
  modular_skyrat/master_files/icons/mob/landmarks.dmi
  modular_skyrat/modules/awaymissions_skyrat/code/zombieprison.dm
  modular_skyrat/modules/blueshield/code/landmarks.dm
  modular_skyrat/modules/brigoff/code/brigoff.dm
  modular_skyrat/modules/brigoff/code/landmarks.dm
  modular_skyrat/modules/exp_corps/code/expeditionary_trooper.dm
  modular_skyrat/modules/goofsec/code/department_guards.dm
  modular_skyrat/modules/goofsec/icons/departmental_batons.dmi
  modular_skyrat/modules/modular_weapons/code/autolathe_designs.dm
  modular_skyrat/modules/nanotrasen_rep/code/nanotrasen_representative.dm
  modular_skyrat/modules/salon/code/barber.dm
  modular_skyrat/modules/sec_haul/code/guns/guns.dm
  modular_skyrat/modules/sec_haul/code/guns/token_system/gunsets.dm
  modular_skyrat/modules/sec_haul/code/guns/token_system/token_system.dm
  modular_skyrat/modules/sec_haul/code/peacekeeper/peacekeeper_lockers.dm
  modular_skyrat/modules/sec_haul/code/security_medic/security_medic.dm
  modular_skyrat/modules/sec_haul/code/security_sergeant/security_sergeant.dm
  modular_skyrat/modules/trim_tokens/code/trim_tokens.dm
  tgstation.dme
Labels: UI, Feature, Balance/Rebalance, Fix, Removal, Map Edit, Stale, Atomisation Required

#10323 Revert "[MIRROR] adds a new janiborg sprite! [MDB IGNORE]"
  code/__DEFINES/robots.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_model.dm
  icons/mob/robots_tall.dmi
Labels: Sprites, Revert, GBP: No Update

#10325 Fixes fireplaces not producing light when they should be fully lit
  code/game/objects/structures/fireplace.dm
Labels: Fix

#10334 Fixes pizza ERT
  code/game/machinery/computer/communications.dm
Labels: Fix

#10332 Fixes various game-start runtimes
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_syndicate_base1_skyrat.dmm
  _maps/RandomRuins/LavaRuins/skyrat/lavaland_surface_syndicate_base1_skyrat.dmm
  _maps/RandomRuins/RockplanetRuins/rockplanet_surface_syndicate_base1_skyrat.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/shuttle8532.dmm
  code/controllers/subsystem/id_access.dm
  modular_skyrat/modules/aesthetics/clothing/clothing.dm
  modular_skyrat/modules/goofsec/code/department_guards.dm
Labels: Fix, Map Edit

#10084 OPFOR part one: Killing ambitions
  code/__DEFINES/~skyrat_defines/ambitions.dm
  code/__HELPERS/roundend.dm
  code/datums/mind.dm
  code/modules/admin/antag_panel.dm
  code/modules/admin/check_antagonists.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/antagonists/_common/antag_datum.dm
  code/modules/antagonists/changeling/changeling.dm
  code/modules/antagonists/disease/disease_event.dm
  code/modules/antagonists/gang/handler.dm
  code/modules/antagonists/gang/induction_package.dm
  code/modules/antagonists/traitor/datum_traitor.dm
  code/modules/antagonists/wizard/wizard.dm
  modular_skyrat/modules/ambitions/code/ambition.dm
  modular_skyrat/modules/ambitions/code/ambition_templates.dm
  modular_skyrat/modules/ambitions/code/antag_datums.dm
  modular_skyrat/modules/ambitions/code/mind.dm
  modular_skyrat/modules/morewizardstuffs/code/antag_spawner.dm
  modular_skyrat/modules/ticket_counter/code/counter.dm
  tgstation.dme
Labels: Removal

#10312 two new cell types: crank and auto-charge
  code/_globalvars/lists/maintenance_loot.dm
  modular_skyrat/modules/new_cells/code/power_cell.dm
  modular_skyrat/modules/new_cells/icons/power.dmi
  modular_skyrat/modules/new_cells/readme.md
  modular_skyrat/modules/new_cells/sound/crank.ogg
  modular_skyrat/modules/xenoarch/code/modules/research/xenoarch/xenoarch_reward.dm
  tgstation.dme
Labels: Feature

#10338 [Non-modular] Mime mask checks snout type upon variation selection
  code/modules/clothing/masks/gasmask.dm
  modular_skyrat/master_files/icons/mob/clothing/mask_muzzled.dmi
  modular_skyrat/master_files/icons/obj/clothing/masks.dmi
Labels: Feature

#10356 Fixes hot and cold augmented lung messages
  modular_skyrat/modules/organs/code/lungs.dm
Labels: Grammar and Formatting

#10352 please for the love of all that is holy add your clothing to vendors
  modular_skyrat/modules/customization/modules/clothing/under/misc.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_heads.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_shoes.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_suit.dm
  modular_skyrat/modules/loadouts/loadout_items/under/loadout_datum_under.dm
  modular_skyrat/modules/modular_vending/code/autodrobe.dm
  modular_skyrat/modules/modular_vending/code/clothesmate.dm
  modular_skyrat/modules/modular_vending/code/wardrobes.dm
Labels: Fix, Grammar and Formatting

#10363 Fixes double lattices issues on salvagepost
  _maps/RandomRuins/SpaceRuins/skyrat/salvagepost.dmm
Labels: Fix, Map Edit

#10353 Re-enables the goodie packs for the Detective's alternative ammunition, and the Survival Knife.
  code/modules/cargo/goodies.dm
Labels: Balance/Rebalance

#10344 [MODULAR] Armory Spawn Shotguns Fix
  modular_skyrat/modules/sec_haul/code/guns/guns.dm
Labels: Fix
