Repository Skyrat-SS13/Skyrat-tg, pull requests merged in 2021-04, with the labels that each got.

#4555 [Semi-Modular] OutpostStation Update - Bridge, Service, Maintenance
  _maps/map_files/OutpostStation/outpoststation.dmm
  _maps/map_files/OutpostStation/outpoststationlower.dmm
  _maps/outpoststation.json
Labels: Feature, Map Edit

#4507 [SEMI MODULAR] Discord Link Updates (Config) (TM this)
  code/controllers/configuration/entries/general.dm
  config/config.txt
  modular_skyrat/modules/tagline/code/world.dm
Labels: Config Update

#4579 Adds a ""Structural Support"" Pole
  modular_skyrat/modules/nsfw/misc/dancerpole.dm
  modular_skyrat/modules/nsfw/misc/dancerpole.dmi
  tgstation.dme
Labels: Feature

#4573 [NON-MODULAR] I had to unfuck the Dutch coat hands.
  icons/mob/clothing/suit.dmi
  modular_skyrat/modules/customization/icons/mob/clothing/accessories.dmi
  modular_skyrat/modules/customization/icons/mob/clothing/eyes.dmi
  modular_skyrat/modules/customization/icons/mob/clothing/suit.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/eyes.dmi
  modular_skyrat/modules/customization/modules/client/loadout/suit.dm
  modular_skyrat/modules/customization/modules/clothing/suits/misc.dm
Labels: Sprites

#4508 Deltastation Permabrig Remap (For real)
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
Labels: Map Edit

#4589 [NONMODULAR] [READY] Fixes Xeno hat being invisible on muzzled people
  code/modules/clothing/head/misc.dm
Labels: DO NOT MERGE, Fix, Needs Review

#4611 [I'm tired of your shit.] [FUCK] Nerfs the Norwind
  modular_skyrat/modules/sec_haul/code/guns/guns.dm
Labels: Balance/Rebalance

#4603 [Modular] Proper Energy Weapons
  modular_skyrat/modules/crafting/crafting_skyrat.dm
  modular_skyrat/modules/sec_haul/code/guns/laser_hitscan.dm
  modular_skyrat/modules/sec_haul/code/guns/token_system/gunsets.dm
  modular_skyrat/modules/sec_haul/code/guns/token_system/token_system.dm
  modular_skyrat/modules/sec_haul/icons/guns/gunsets.dmi
  tgstation.dme
Labels: Fix

#4621 [READY] if this doesnt work i will be fucking furious
  modular_skyrat/modules/customization/icons/mob/clothing/eyes.dmi
  modular_skyrat/modules/customization/icons/mob/clothing/suit.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/eyes.dmi
  modular_skyrat/modules/customization/modules/client/loadout/glasses.dm
  modular_skyrat/modules/customization/modules/client/loadout/shoes.dm
  modular_skyrat/modules/customization/modules/clothing/glasses/glasses.dm
  modular_skyrat/modules/customization/modules/clothing/glasses/hud.dm
  tgstation.dme
Labels: Needs Review

#4620 [MODULAR] Rebalances the security revolvers
  modular_skyrat/modules/sec_haul/code/guns/guns.dm
Labels: Balance/Rebalance

#4614 Should fix Satchels and Duffels of holding being accessible to any protolathe
  modular_skyrat/modules/holdingfashion_port/code/research/designs/bluespace_design.dm
Labels: Fix

#4561 [MODULAR] Lets cyborgs move dragged objects around
  code/_onclick/cyborg.dm
  modular_skyrat/master_files/code/_onclick/cyborg.dm
  modular_skyrat/master_files/code/game/objects/structures/tables_racks.dm
  tgstation.dme
Labels: Balance/Rebalance, DO NOT MERGE, Needs Review

#4595 [Modular] Added drape to syndicate cyborg
  modular_skyrat/modules/altborgs/code/modules/mob/living/silicon/robot/robot_modules.dm
Labels: Fix

#4333 Gun huds V2 [NOW WITH COMPONENTS!]
  code/__DEFINES/atom_hud.dm
  code/__DEFINES/~skyrat_defines/signals.dm
  code/_onclick/hud/_defines.dm
  code/_onclick/hud/hud.dm
  code/_onclick/hud/human.dm
  code/game/objects/items/tools/weldingtool.dm
  code/modules/projectiles/guns/ballistic.dm
  code/modules/projectiles/guns/energy.dm
  modular_skyrat/master_files/code/_onclick/hud/readme.md
  modular_skyrat/master_files/code/datums/components/fullauto.dm
  modular_skyrat/master_files/code/modules/projectiles/guns/gun.dm
  modular_skyrat/modules/gunhud/code/gun_hud_component.dm
  modular_skyrat/modules/gunhud/code/hud/gun_hud.dm
  modular_skyrat/modules/gunhud/icons/hud/gun_hud.dmi
  modular_skyrat/modules/gunhud/readme.md
  modular_skyrat/modules/gunsgalore/code/guns/master.dm
  tgstation.dme
Labels: Feature, Stale

#4502 [Semi-modular] Robotic species rebalancing , changeling stings no longer affect robotic species
  code/modules/antagonists/changeling/powers/tiny_prick.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/robotic.dm
Labels: Test Merged

#4637 [modular] [ready] [FUCK](probably) (GOD I HOPE SO)added brig medic and sarg to locked item lists in loadout
  modular_skyrat/modules/customization/modules/client/loadout/glasses.dm
  modular_skyrat/modules/customization/modules/client/loadout/head.dm
  modular_skyrat/modules/customization/modules/client/loadout/mask.dm
  modular_skyrat/modules/customization/modules/client/loadout/neck.dm
  modular_skyrat/modules/customization/modules/client/loadout/suit.dm
  modular_skyrat/modules/customization/modules/client/loadout/uniform.dm
  tgstation.dme
Labels: Needs Review

#4640 Fixes Skyrat drinks and adds some new ones
  modular_skyrat/master_files/icons/obj/drinks.dmi
  modular_skyrat/modules/customization/modules/food_and_drinks/recipes/drinks_recipes.dm
  modular_skyrat/modules/customization/modules/reagents/chemistry/reagents/alcohol_reagents.dm
Labels: Feature, Fix

#4635 Fixes Secmedic quirks, removes RDS from sec restrictions
  code/__DEFINES/~skyrat_defines/jobs.dm
  modular_skyrat/modules/customization/modules/jobs/_job.dm
Labels: Fix, Removal

#4626 [NON-MODULAR] Adds extra laces.
  code/modules/clothing/shoes/miscellaneous.dm
Labels: Refactor

#4625 Fixes the dark spot in Ice Box's pool.
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above_skyrat.dmm
Labels: Fix, Map Edit

#4636 [Modular] Donator Stuff
  modular_skyrat/modules/customization/icons/~donator/mob/clothing/suit.dmi
  modular_skyrat/modules/customization/icons/~donator/obj/clothing/suits.dmi
  modular_skyrat/modules/customization/modules/client/loadout/donator/personal/donator_personal.dm
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
Labels: Fix

#4649 Adds a control computer to the ghost cafe.
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
Labels: Fix, Map Edit

#4501 [MODULAR] Latejoin cyborgs are now linked to the station AI
  modular_skyrat/master_files/code/modules/jobs/job_types/cyborg.dm
  modular_skyrat/master_files/readme.md
  tgstation.dme
Labels: Feature, Test Merged

#4656 [MODULAR] Pie Smite
  modular_skyrat/modules/admin/code/smites/pie.dm
  tgstation.dme
Labels: Administration

#4572 Massive shuttle refactor and arrivals system change
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/KiloStation/KiloStation_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
  _maps/map_files/generic/CentCom_skyrat.dmm
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  _maps/map_files/tramstation/tramstation_skyrat.dmm
  _maps/shuttles/emergency_skyrat.dmm
  _maps/shuttles/ferry_skyrat.dmm
  _maps/skyrat/shuttles/arrivals_skyrat.dmm
  _maps/skyrat/shuttles/escape_pod_default_skyrat.dmm
  _maps/templates/ferry_skyrat.dmm
  code/datums/map_config.dm
  code/datums/shuttles.dm
  code/modules/admin/verbs/shuttlepanel.dm
  code/modules/shuttle/docking.dm
  code/modules/shuttle/emergency.dm
  code/modules/shuttle/shuttle.dm
  modular_skyrat/master_files/code/modules/shuttle/shuttle.dm
  modular_skyrat/modules/advanced_shuttles/code/areas.dm
  modular_skyrat/modules/advanced_shuttles/code/closet.dm
  modular_skyrat/modules/advanced_shuttles/code/computer.dm
  modular_skyrat/modules/advanced_shuttles/code/decals.dm
  modular_skyrat/modules/advanced_shuttles/code/floor.dm
  modular_skyrat/modules/advanced_shuttles/code/shuttles.dm
  modular_skyrat/modules/advanced_shuttles/code/wall.dm
  modular_skyrat/modules/advanced_shuttles/icons/cargo.dmi
  modular_skyrat/modules/advanced_shuttles/icons/cargofloor.dmi
  modular_skyrat/modules/advanced_shuttles/icons/closet.dmi
  modular_skyrat/modules/advanced_shuttles/icons/computer.dmi
  modular_skyrat/modules/advanced_shuttles/icons/computer_shuttle_mining.dmi
  modular_skyrat/modules/advanced_shuttles/icons/computer_shuttle_white.dmi
  modular_skyrat/modules/advanced_shuttles/icons/effects.dmi
  modular_skyrat/modules/advanced_shuttles/icons/erokez.dmi
  modular_skyrat/modules/advanced_shuttles/icons/evac_shuttle.dmi
  modular_skyrat/modules/advanced_shuttles/icons/g250.dmi
  modular_skyrat/modules/advanced_shuttles/icons/pod.dmi
  modular_skyrat/modules/advanced_shuttles/icons/shuttle.dmi
  modular_skyrat/modules/advanced_shuttles/icons/shuttle_mining.dmi
  modular_skyrat/modules/advanced_shuttles/icons/trusters.dmi
  modular_skyrat/modules/advanced_shuttles/icons/wagon.dmi
  modular_skyrat/modules/aesthetics/airlock/code/airlock.dm
  tgstation.dme
Labels: Feature, Map Edit, Refactor, Test Merged

#4662 Completely re-sprites the Blueshield's primary clothes, tiny rebalance included.
  modular_skyrat/modules/blueshield/code/modules/clothing/head/jobs.dm
  modular_skyrat/modules/blueshield/code/modules/clothing/suits/armor.dm
  modular_skyrat/modules/blueshield/icons/mob/head.dmi
  modular_skyrat/modules/blueshield/icons/mob/head_muzzled.dmi
  modular_skyrat/modules/blueshield/icons/mob/suit.dmi
  modular_skyrat/modules/blueshield/icons/mob/suit_digi.dmi
  modular_skyrat/modules/blueshield/icons/obj/clothing/hats.dmi
  modular_skyrat/modules/blueshield/icons/obj/clothing/suits.dmi
Labels: Balance/Rebalance, Tweak

#4632 [READY] You know what? Fuck you. *restricts your primaries*
  modular_skyrat/modules/sec_haul/code/guns/token_system/gunsets.dm
  modular_skyrat/modules/sec_haul/code/guns/token_system/token_system.dm
Labels: Balance/Rebalance, DO NOT MERGE, Needs Review, Removal

#4650 Deltastation quick fix
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
Labels: Map Edit

#4651 [modular] [ready] (probably) more cowboy shit? more cowboy shit
  modular_skyrat/master_files/icons/mob/clothing/suit_taur_hoof.dmi
  modular_skyrat/modules/customization/icons/mob/clothing/head.dmi
  modular_skyrat/modules/customization/icons/mob/clothing/uniform.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/hats.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/uniforms.dmi
  modular_skyrat/modules/customization/modules/client/loadout/glasses.dm
  modular_skyrat/modules/customization/modules/client/loadout/head.dm
  modular_skyrat/modules/customization/modules/client/loadout/uniform.dm
  modular_skyrat/modules/customization/modules/clothing/head/head.dm
  modular_skyrat/modules/customization/modules/clothing/under/costumes.dm
Labels: Needs Review

#4677 [MODULAR] Station has a crew loose, again! (Ports Orville-inspired uniforms)
  modular_skyrat/master_files/icons/mob/clothing/under/trek.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/trek_digi.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/trek.dmi
  modular_skyrat/modules/customization/modules/client/loadout/uniform.dm
  modular_skyrat/modules/customization/modules/clothing/under/trek.dm
  tgstation.dme
Labels: Feature

#4676 Fixes mutant variant on hawaiian shirt
  modular_skyrat/modules/customization/modules/clothing/suits/misc.dm
Labels: Fix

#4681 Ports Bastion of Hestia Harpy wings on request
  modular_skyrat/modules/customization/icons/mob/sprite_accessory/wings.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/wings.dm
Labels: Sprites

#4686 Adds subtle and subtler to the local chat tab filter
  modular_skyrat/modules/verbs/code/modules/mob/subtle.dm
Labels: Feature

#4700 [modular][ready][fix]I didnt change the side sprites
  modular_skyrat/modules/customization/icons/mob/clothing/eyes.dmi
Labels: Needs Review

#4534 Rockplanet LZ-669 [READY]
  _maps/_basemap.dm
  _maps/skyrat/planets/rockplanet.dmm
  _maps/skyrat/shuttles/syndicate_frigate.dmm
  code/__DEFINES/~skyrat_defines/maps.dm
  code/controllers/subsystem/mapping.dm
  code/modules/mining/mine_items.dm
  modular_skyrat/modules/assaultops/code/shuttle.dm
  modular_skyrat/modules/planets/code/areas/rockplanet.dm
  modular_skyrat/modules/planets/code/mine.dm
  modular_skyrat/modules/planets/code/mobs/rockplanet_mobs.dm
  tgstation.dme
Labels: Feature, Map Edit, Needs Review, Test Merged

#4657 [SEMI-MODULAR] Fixes mutant bodyparts that share the hair color not updating from regenerative jelly exposure
  code/modules/mob/living/carbon/human/human_update_icons.dm
  code/modules/mob/living/carbon/human/species_types/mushpeople.dm
  code/modules/mob/living/carbon/human/species_types/synths.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/human_update_icons.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species.dm
Labels: Code Improvement, Fix

#4714 [FUCK] M45A5 Elite and .460 Rowland Magnum HP rebalance
  modular_skyrat/modules/blueshield/code/modules/projectiles/guns/ballistic/ballistic.dm
Labels: Balance/Rebalance, Grammar and Formatting

#4696 Adds LOOC to the local chat filter
  tgui/packages/tgui-panel/chat/constants.js
Labels: Tweak, UI

#4704 Deltastation map port (Security)
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
Labels: Map Edit

#4705 Metastation map port (Security)
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
Labels: Map Edit

#4706 Icebox Sec/Prison map port
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
Labels: Map Edit

#4707 Tramstation sec/prison map tweak
  _maps/map_files/tramstation/tramstation_skyrat.dmm
Labels: Map Edit

#4715 [modular][ready] kilts, a few other things but A SEC KILT
  modular_skyrat/modules/customization/icons/mob/clothing/feet.dmi
  modular_skyrat/modules/customization/icons/mob/clothing/suit.dmi
  modular_skyrat/modules/customization/icons/mob/clothing/uniform.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/shoes.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/uniforms.dmi
  modular_skyrat/modules/customization/modules/client/loadout/shoes.dm
  modular_skyrat/modules/customization/modules/client/loadout/suit.dm
  modular_skyrat/modules/customization/modules/client/loadout/uniform.dm
  modular_skyrat/modules/customization/modules/clothing/shoes/shoes.dm
  modular_skyrat/modules/customization/modules/clothing/suits/misc.dm
  modular_skyrat/modules/customization/modules/clothing/under/misc.dm
  modular_skyrat/modules/customization/modules/clothing/under/security.dm
  strings/names/death_commando.txt
Labels: Needs Review

#4665 Adds Cargo/QM Gorkas and Turtlenecks
  code/modules/vending/wardrobes.dm
  modular_skyrat/master_files/icons/mob/clothing/under/uniform_digi.dmi
  modular_skyrat/modules/customization/icons/mob/clothing/suit.dmi
  modular_skyrat/modules/customization/icons/mob/clothing/uniform.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/suits.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/uniforms.dmi
  modular_skyrat/modules/customization/modules/client/loadout/suit.dm
  modular_skyrat/modules/customization/modules/client/loadout/uniform.dm
  modular_skyrat/modules/customization/modules/clothing/under/utility_port/suits_port.dm
  modular_skyrat/modules/customization/modules/clothing/under/utility_port/utility.dm
Labels: Feature

#4708 [NONMODULAR] Buffs Heretic Sacrifices
  code/modules/antagonists/eldritch_cult/eldritch_knowledge.dm
Labels: Balance/Rebalance

#4702 Shuttle landing and takeoff sounds
  code/modules/shuttle/arrivals.dm
  code/modules/shuttle/shuttle.dm
  modular_skyrat/master_files/code/modules/shuttle/shuttle.dm
  modular_skyrat/modules/advanced_shuttles/code/shuttles.dm
  modular_skyrat/modules/advanced_shuttles/sound/engine_landing.ogg
  modular_skyrat/modules/advanced_shuttles/sound/engine_startup.ogg
Labels: Feature, Test Merged

#4728 Metastation sec hotfix
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
Labels: Map Edit

#4736 Fixes a few genturfs on icebox
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
Labels: Fix, Map Edit

#4746 Makes the Arrivals Docks feel more open-ended
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
Labels: Fix, Map Edit

#4600 [Modular] Cargo Crate Balance / 4 Added Crates
  modular_skyrat/modules/cargo/code/packs.dm
Labels: Balance/Rebalance, Feature

#4622 [SEMI-MODULAR] Wizards Changes and new spells
  code/modules/antagonists/wizard/equipment/spellbook.dm
  code/modules/antagonists/wizard/wizard.dm
  code/modules/events/wizard/curseditems.dm
  code/modules/events/wizard/petsplosion.dm
  code/modules/events/wizard/race.dm
  code/modules/events/wizard/shuffle.dm
  modular_skyrat/modules/ambitions/code/antag_datums.dm
  modular_skyrat/modules/morewizardstuffs/code/modules/antagonists/wizard/equipments/antag_spawner.dm
  modular_skyrat/modules/morewizardstuffs/code/modules/antagonists/wizard/equipments/spellbooks.dm
  modular_skyrat/modules/morewizardstuffs/code/modules/spells/spells_types/pointed/tiedshoes.dm
  modular_skyrat/modules/morewizardstuffs/code/modules/spells/spells_types/snapceleritas.dm
  modular_skyrat/modules/morewizardstuffs/code/modules/spells/spells_types/summonknives.dm
  modular_skyrat/modules/morewizardstuffs/icons/obj/projectile.dmi
  tgstation.dme
Labels: Feature, Removal, Test Merged

#4720 Removes blood deficiency from the sec restricted quirks list
  code/__DEFINES/~skyrat_defines/jobs.dm
Labels: Feature, Removal

#4760 Make some configs for the gamer alert ping
  code/controllers/subsystem/ticker.dm
  config/skyrat/skyrat_config.txt
  modular_skyrat/master_files/code/controllers/configuration/entries/skryat_config_entries.dm
Labels: Code Improvement, Config Update

#4761 Fix Chameleon runtime! Rejoice CI
  modular_skyrat/master_files/code/modules/clothing/chameleon.dm
Labels: Fix

#4762 Adds a few missing items to the crusader belt whitelist
  modular_skyrat/modules/customization/modules/clothing/storage/belts.dm
Labels: Fix

#4767 [Modular] Tiny Map Fix for Metastation
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
Labels: Fix, Map Edit

#4724 [Semi-Modular] [pls] Adds some coats and underwear
  code/modules/vending/clothesmate.dm
  modular_skyrat/modules/customization/icons/mob/clothing/suit.dmi
  modular_skyrat/modules/customization/icons/mob/clothing/underwear.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/suits.dmi
  modular_skyrat/modules/customization/modules/client/loadout/suit.dm
  modular_skyrat/modules/customization/modules/clothing/suits/coats.dm
  modular_skyrat/modules/customization/modules/clothing/suits/misc.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories.dm
Labels: Feature, Fix

#4771 Fixes mutant urban coat
  modular_skyrat/modules/customization/modules/clothing/suits/coats.dm
Labels: Fix

#4777 Fixes modern glasses inhand sprite
  modular_skyrat/modules/customization/modules/clothing/glasses/glasses.dm
Labels: Fix

#4765 Ambition logging
  code/__DEFINES/~skyrat_defines/logging.dm
  code/__HELPERS/~skyrat_helpers/logging.dm
  code/controllers/configuration/entries/general.dm
  code/game/atoms.dm
  config/skyrat/skyrat_config.txt
  modular_skyrat/modules/ambitions/code/ambition.dm
Labels: Administration, Config Update

#4766 [Modular] Ported Synth Lizard Snouts
  modular_skyrat/modules/customization/icons/mob/sprite_accessory/synthliz_snouts.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/synthliz.dm
Labels: Feature

#4781 [MODULAR] ODST ERT
  modular_skyrat/master_files/icons/mob/clothing/head_muzzled.dmi
  modular_skyrat/master_files/icons/mob/clothing/suit_digi.dmi
  modular_skyrat/master_files/icons/mob/clothing/uniform_digi.dmi
  modular_skyrat/modules/additionalert/code/datums/ert.dm
  modular_skyrat/modules/additionalert/code/modules/antagonists/ert/ert.dm
  modular_skyrat/modules/additionalert/code/modules/clothing/spacesuits/hardsuit.dm
  modular_skyrat/modules/additionalert/odst/code/datums/ert.dm
  modular_skyrat/modules/additionalert/odst/code/guns/guns.dm
  modular_skyrat/modules/additionalert/odst/code/modules/antagonists/ert/ert.dm
  modular_skyrat/modules/additionalert/odst/code/modules/clothing/outfit/ert.dm
  modular_skyrat/modules/additionalert/odst/code/modules/clothing/spacesuits/hardsuit.dm
  modular_skyrat/modules/additionalert/odst/code/modules/clothing/under/syndicate.dm
  modular_skyrat/modules/additionalert/odst/icons/guns/gun_odst.dmi
  modular_skyrat/modules/additionalert/odst/icons/guns/lefthand.dmi
  modular_skyrat/modules/additionalert/odst/icons/guns/ostwind.dmi
  modular_skyrat/modules/additionalert/odst/icons/guns/righthand.dmi
  modular_skyrat/modules/additionalert/odst/icons/mob/clothing/back.dmi
  modular_skyrat/modules/additionalert/odst/icons/mob/clothing/belts.dmi
  modular_skyrat/modules/additionalert/odst/icons/mob/clothing/head.dmi
  modular_skyrat/modules/additionalert/odst/icons/mob/clothing/suit.dmi
  modular_skyrat/modules/additionalert/odst/icons/mob/clothing/under.dmi
  modular_skyrat/modules/additionalert/odst/icons/obj/clothing/back.dmi
  modular_skyrat/modules/additionalert/odst/icons/obj/clothing/belt.dmi
  modular_skyrat/modules/additionalert/odst/icons/obj/clothing/head.dmi
  modular_skyrat/modules/additionalert/odst/icons/obj/clothing/suit.dmi
  modular_skyrat/modules/additionalert/odst/icons/obj/clothing/under.dmi
  modular_skyrat/modules/additionalert/odst/sound/smg_fire.ogg
  modular_skyrat/modules/additionalert/readme.md
  modular_skyrat/modules/additionalert/trauma_team/code/datums/ert.dm
  modular_skyrat/modules/additionalert/trauma_team/code/modules/antagonists/ert/ert.dm
  modular_skyrat/modules/additionalert/trauma_team/code/modules/clothing/outfit/ert.dm
  modular_skyrat/modules/additionalert/trauma_team/code/modules/clothing/spacesuits/hardsuit.dm
  modular_skyrat/modules/additionalert/trauma_team/icons/mob/clothing/head.dmi
  modular_skyrat/modules/additionalert/trauma_team/icons/mob/clothing/suit.dmi
  modular_skyrat/modules/additionalert/trauma_team/icons/obj/clothing/head.dmi
  modular_skyrat/modules/additionalert/trauma_team/icons/obj/clothing/suit.dmi
  tgstation.dme
Labels: Feature

#4788 [NONMODULAR] Fixes a few invisible hardsuit helmets
  code/modules/clothing/spacesuits/chronosuit.dm
  code/modules/clothing/spacesuits/miscellaneous.dm
Labels: Fix

#4783 Modular HTML UI + Server swapping feature (HIGH DOWNSTREAM IMPORTANCE)
  code/modules/admin/admin_verbs.dm
  config/config.txt
  config/skyrat/lobby_html.txt
  config/skyrat/swap_ips.txt
  html/browser/TerminusTTFWindows-4.47.0.ttf
  modular_skyrat/master_files/code/modules/mob/living/dead/new_player/new_player.dm
  modular_skyrat/modules/lobbyscreen/code/change_titlescreen.dm
  modular_skyrat/modules/lobbyscreen/code/load_servers.dm
  modular_skyrat/modules/lobbyscreen/code/lobby.dm
  modular_skyrat/modules/lobbyscreen/code/title_screen.dm
  modular_skyrat/modules/lobbyscreen/readme.md
  tgstation.dme
Labels: Config Update, Feature

#4784 [READY] Resprites shark/fish tail and adds smoother wagging animations for them
  modular_skyrat/modules/customization/icons/mob/sprite_accessory/tails.dmi
  modular_skyrat/modules/customization/icons/mob/sprite_accessory/tails_hardsuit.dmi
Labels: Needs Review, Sprites

#4794 Adds Welding Hardhat variants to the engidrobe + other tweaks
  code/modules/clothing/head/hardhat.dm
  code/modules/clothing/head/misc.dm
  code/modules/vending/wardrobes.dm
  modular_skyrat/master_files/icons/mob/clothing/head_muzzled.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/uniform_digi.dmi
Labels: Feature, Fix

#4779 [modular][ready] adds a uniform in the loadout for the superstar cops
  code/modules/clothing/under/accessories.dm
  modular_skyrat/modules/customization/icons/mob/clothing/accessories.dmi
  modular_skyrat/modules/customization/icons/mob/clothing/eyes.dmi
  modular_skyrat/modules/customization/icons/mob/clothing/feet.dmi
  modular_skyrat/modules/customization/icons/mob/clothing/hands.dmi
  modular_skyrat/modules/customization/icons/mob/clothing/neck.dmi
  modular_skyrat/modules/customization/icons/mob/clothing/suit.dmi
  modular_skyrat/modules/customization/icons/mob/clothing/uniform.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/accessories.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/eyes.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/gloves.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/neck.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/shoes.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/suits.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/uniforms.dmi
  modular_skyrat/modules/customization/modules/client/loadout/neck.dm
  modular_skyrat/modules/customization/modules/client/loadout/shoes.dm
  modular_skyrat/modules/customization/modules/client/loadout/suit.dm
  modular_skyrat/modules/customization/modules/client/loadout/uniform.dm
  modular_skyrat/modules/customization/modules/clothing/neck/_neck.dm
  modular_skyrat/modules/customization/modules/clothing/shoes/shoes.dm
  modular_skyrat/modules/customization/modules/clothing/suits/misc.dm
  modular_skyrat/modules/customization/modules/clothing/under/misc.dm
  tgstation.dme
Labels: Needs Review

#4647 cultures and languages
  code/__DEFINES/~skyrat_defines/culture.dm
  code/__DEFINES/~skyrat_defines/jobs.dm
  code/controllers/subsystem/job.dm
  code/datums/quirks/neutral.dm
  code/modules/language/language_holder.dm
  code/modules/surgery/organs/tongue.dm
  modular_skyrat/master_files/code/modules/mob/living/dead/new_player/new_player.dm
  modular_skyrat/modules/customization/__HELPERS/global_lists.dm
  modular_skyrat/modules/customization/datums/dna.dm
  modular_skyrat/modules/customization/icons/misc/language.dmi
  modular_skyrat/modules/customization/modules/client/preferences.dm
  modular_skyrat/modules/customization/modules/client/preferences_savefile.dm
  modular_skyrat/modules/customization/modules/culture/cultural_info.dm
  modular_skyrat/modules/customization/modules/culture/culture/_culture.dm
  modular_skyrat/modules/customization/modules/culture/culture/culture_generic.dm
  modular_skyrat/modules/customization/modules/culture/culture/culture_lizard.dm
  modular_skyrat/modules/customization/modules/culture/faction/_faction.dm
  modular_skyrat/modules/customization/modules/culture/faction/faction_generic.dm
  modular_skyrat/modules/customization/modules/culture/location/_location.dm
  modular_skyrat/modules/customization/modules/culture/location/location_generic.dm
  modular_skyrat/modules/customization/modules/jobs/_job.dm
  modular_skyrat/modules/customization/modules/language/gutter.dm
  modular_skyrat/modules/customization/modules/language/russian.dm
  modular_skyrat/modules/customization/modules/language/selenian.dm
  modular_skyrat/modules/customization/modules/language/spacer.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/preferences_setup.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/dwarf.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/lizard.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/moth.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/podweak.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/robotic.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/roundstartslime.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/skrell.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/vox.dm
  tgstation.dme
Labels: Approved, ERROR, Paw

#4684 [NONMODULAR]Shocks & Zaps, Episode 2
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/power/powernet.dm
Labels: Test Merged, Tweak

#4664 Mutants - HNZ1 - A medical and scientific adventure!
  _maps/RandomZLevels/research2.dmm
  code/__DEFINES/~skyrat_defines/is_helpers.dm
  code/__DEFINES/~skyrat_defines/signals.dm
  code/__DEFINES/~skyrat_defines/sound.dm
  code/__DEFINES/~skyrat_defines/traits.dm
  code/datums/diseases/advance/symptoms/flesh_eating.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/antagonists/changeling/powers/panacea.dm
  code/modules/surgery/advanced/necrotic_revival.dm
  code/modules/surgery/bodyparts/dismemberment.dm
  modular_skyrat/modules/alerts/code/default_announcer.dm
  modular_skyrat/modules/alerts/sound/ai/default/hazdet.ogg
  modular_skyrat/modules/mutants/code/mutant_cure.dm
  modular_skyrat/modules/mutants/code/mutant_datum.dm
  modular_skyrat/modules/mutants/code/mutant_event.dm
  modular_skyrat/modules/mutants/code/mutant_species.dm
  modular_skyrat/modules/mutants/code/mutant_techweb.dm
  modular_skyrat/modules/mutants/icons/cure_machine.dmi
  modular_skyrat/modules/mutants/icons/extractor.dmi
  modular_skyrat/modules/mutants/icons/mutant_parts_greyscale.dmi
  modular_skyrat/modules/mutants/readme.md
  tgstation.dme
Labels: Feature, Map Edit, Test Merged

#4617 [MODULAR] Adds new wizard spell, Magic Stimpack!
  modular_skyrat/master_files/code/modules/antagonists/wizard/equipment/spellbook.dm
  modular_skyrat/master_files/code/modules/spells/wizard.dm
  tgstation.dme
Labels: Balance/Rebalance

#4492 [Fully Modular] Adds breaching hammers
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/KiloStation/KiloStation_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
  _maps/map_files/tramstation/tramstation_skyrat.dmm
  code/__DEFINES/~skyrat_defines/signals.dm
  modular_skyrat/modules/mentor/code/dementor.dm
  modular_skyrat/modules/sec_haul/code/peacekeeper/peacekeeper_hammer.dm
  modular_skyrat/modules/sec_haul/icons/peacekeeper/baton/peacekeeper_baton_lefthand.dmi
  modular_skyrat/modules/sec_haul/icons/peacekeeper/baton/peacekeeper_baton_righthand.dmi
  modular_skyrat/modules/sec_haul/icons/peacekeeper/peacekeeper_items.dmi
  tgstation.dme
Labels: Map Edit

#4797 [FUCK] [SHIT] SHARK TAIL EMERGENCY FIX
  modular_skyrat/modules/customization/icons/mob/sprite_accessory/tails.dmi
Labels: Fix

#4795 Adds trashbag worn icon+modularizes QoL change and readjusts black and brown flannel sprites
  code/game/objects/items/storage/bags.dm
  modular_skyrat/master_files/icons/mob/clothing/belt.dmi
  modular_skyrat/modules/customization/icons/mob/clothing/suit.dmi
  modular_skyrat/modules/modular_items/code/game/objects/items/storage/bags.dm
  tgstation.dme
Labels: Code Improvement, Fix, Sprites

#4801 Fixes a whoopsie with the Particle Accelerator and Teslas!
  modular_skyrat/modules/singularity_engine/code/particle_accelerator/particle.dm
Labels: Fix

#4803 huh whuh
  modular_skyrat/modules/customization/icons/mob/sprite_accessory/tails_hardsuit.dmi
Labels: Fix

#4802 [Semi-modular] More barsigns
  code/game/objects/structures/barsigns.dm
  modular_skyrat/modules/barsigns/code/game/objects/structures/barsigns.dm
  modular_skyrat/modules/barsigns/icons/obj/barsigns.dmi
  modular_skyrat/modules/barsigns/readme.md
  tgstation.dme
Labels: Sprites

#4798 Tram stop addition
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
Labels: Map Edit

#4812 SM delaminating sounds
  code/modules/power/supermatter/supermatter.dm
  modular_skyrat/master_files/sound/effects/reactor/core_overheating.ogg
  modular_skyrat/master_files/sound/effects/reactor/explode.ogg
  modular_skyrat/master_files/sound/effects/reactor/meltdown.ogg
Labels: Feature

#4816 ADDS A FIX LOBBYSCREEN BUTTON
  modular_skyrat/modules/lobbyscreen/code/title_screen.dm
Labels: Feature

#4820 Tram stop edit correction.
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
Labels: Map Edit

#4821 Renames tram_dock to interlink
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  modular_skyrat/modules/advanced_shuttles/code/areas.dm
Labels: Fix, Map Edit

#4826 De souls the cells
  code/game/machinery/cell_charger.dm
  code/modules/power/cell.dm
  modular_skyrat/modules/aesthetics/cells/cell.dm
  modular_skyrat/modules/aesthetics/cells/cell.dmi
  tgstation.dme
Labels: Feature

#4822 Makes firelock manual mechanisms 5 seconds faster
  modular_skyrat/master_files/code/game/machinery/doors/firedoor.dm
Labels: Balance/Rebalance

#4814 [modular] Interdyne atmos fix
  modular_skyrat/modules/mapping/_maps/RandomRuins/IceRuins/icemoon_underground_syndicate_base1_skyrat.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1_skyrat.dmm
Labels: Fix

#4833 Metastation sec hotterfix
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
Labels: Map Edit

#4840 [Modular] Buffs Blob
  code/__DEFINES/blob_defines.dm
  code/modules/antagonists/blob/overmind.dm
  modular_skyrat/modules/blob/code/modules/antagonists/blob/overmind.dm
  tgstation.dme
Labels: Fix

#4831 [semi-modular][ready] COATS and another, more serious detective costume
  code/modules/vending/wardrobes.dm
  modular_skyrat/modules/customization/icons/mob/clothing/eyes.dmi
  modular_skyrat/modules/customization/icons/mob/clothing/suit.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/suits.dmi
  modular_skyrat/modules/customization/modules/client/loadout/glasses.dm
  modular_skyrat/modules/customization/modules/client/loadout/suit.dm
  modular_skyrat/modules/customization/modules/clothing/glasses/glasses.dm
  modular_skyrat/modules/customization/modules/clothing/glasses/hud.dm
  modular_skyrat/modules/customization/modules/clothing/hands/hands.dm
  modular_skyrat/modules/customization/modules/clothing/shoes/shoes.dm
  modular_skyrat/modules/customization/modules/clothing/suits/misc.dm
Labels: Feature, Needs Review

#4846 protogen snout and ears
  modular_skyrat/modules/customization/icons/mob/sprite_accessory/ears.dmi
  modular_skyrat/modules/customization/icons/mob/sprite_accessory/synthliz_snouts.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/ears.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/synthliz.dm
Labels: Feature, Sprites

#4872 [Modular] Fixes Charlie Station and Cybersun's Atmos
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/forgottenship_skyrat.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/oldstation_skyrat.dmm
Labels: Fix

#4873 PROPERLY Gives the engi high-vis hazsuit digi legs
  modular_skyrat/master_files/code/modules/clothing/non_anthro_clothes.dm
  modular_skyrat/master_files/icons/mob/clothing/under/uniform_digi.dmi
Labels: Fix

#4876 [Modular] Interdyne fixes
  modular_skyrat/modules/mapping/_maps/RandomRuins/IceRuins/icemoon_underground_syndicate_base1_skyrat.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1_skyrat.dmm
Labels: Fix

#4878 Fix Mi-qo'te Ears, Adds Top-layer Wings, a Snout & Snout-Compatible Hairstlye
  modular_skyrat/modules/customization/icons/mob/sprite_accessory/ears.dmi
  modular_skyrat/modules/customization/icons/mob/sprite_accessory/hair.dmi
  modular_skyrat/modules/customization/icons/mob/sprite_accessory/snouts.dmi
  modular_skyrat/modules/customization/icons/mob/sprite_accessory/wings.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/hair.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/snout.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/wings.dm
Labels: Feature, Fix

#4813 [MODULAR] Return of guns to the people, episode one, the small guys.
  modular_skyrat/modules/cargo/code/goodies.dm
  modular_skyrat/modules/cargo/code/packs.dm
Labels: Feature

#4867 [CELL QOL] Multi-cell charger
  code/modules/research/techweb/all_nodes.dm
  modular_skyrat/modules/aesthetics/cells/cell.dmi
  modular_skyrat/modules/multicellcharger/code/multi_cell_charger.dm
  tgstation.dme
Labels: Feature

#4857 [Non-Modular]The Buff nobody wanted. Wallet
  code/game/objects/items/storage/wallets.dm
Labels: Balance/Rebalance

#4834 [Modular Removal] Deletes alien monkeycube.
  modular_skyrat/modules/modular_items/code/game/objects/items/miscellaneous.dm
Labels: Fix

#4885 [Modular] Nullrod Reskins (Sickle Edition)
  modular_skyrat/master_files/code/game/objects/items/holy_weapons.dm
  tgstation.dme
Labels: Feature

#4892 Monke magnification helmet(added to R&D) + fixes
  code/modules/clothing/head/helmet.dm
  code/modules/research/techweb/all_nodes.dm
  modular_skyrat/master_files/code/modules/clothing/head/monkey_magnification_helmet.dm
  modular_skyrat/master_files/code/modules/research/designs/misc_designs.dm
  tgstation.dme
Labels: Feature

#4856 Icebox sec tweaks
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
Labels: Map Edit

#4825 [MODULAR] Sets Deltastation's SM to baseline loop you'd see on Meta/Icebox
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
Labels: Map Edit

#4913 [MODULAR] Tramstation Sec Fixes
  _maps/map_files/tramstation/tramstation_skyrat.dmm
Labels: Fix, Map Edit

#4926 [NON-MODULAR] [SPEEDMERGE CANDIDATE] No more discord spam
  code/controllers/subsystem/ticker.dm
Labels: Fix

#4914 [Bug Fix] Multi-Cell chargers no longer only care about the last capacitor
  modular_skyrat/modules/multicellcharger/code/multi_cell_charger.dm
Labels: Fix

#4644 Adds a nondescript dick option.
  modular_skyrat/modules/customization/icons/mob/sprite_accessory/genitals/penis_onmob.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/genitals.dm
  modular_skyrat/modules/customization/modules/surgery/organs/genitals.dm
Labels: Feature, Stale

#4932 Reverts "Putting your hand in the food processor without due care is bad #3718"
  code/modules/food_and_drinks/kitchen_machinery/processor.dm
Labels: Balance/Rebalance, Revert

#4948 [Modular] [SM] Finally.. boot
  modular_skyrat/modules/integrated_circuits/icons/obj/clothing/circuit_shoes.dmi
Labels: Fix

#4928 [Modular] Adds the Vale model borg variant to the peacekeeper borg list
  modular_skyrat/modules/altborgs/code/modules/mob/living/silicon/robot/robot_modules.dm
  modular_skyrat/modules/altborgs/icons/mob/widerobot_pk.dmi
Labels: Feature

#4953 [modular] engie & mining oties
  modular_skyrat/modules/altborgs/code/modules/mob/living/silicon/robot/robot_modules.dm
  modular_skyrat/modules/altborgs/icons/mob/widerobot_eng.dmi
  modular_skyrat/modules/altborgs/icons/mob/widerobot_mine.dmi
Labels: Sprites

#4957 Random mining! [DOWNSTREAM IMPORTANCE LEVEL 1]
  _maps/map_files/Mining/Rockplanet.dmm
  code/__DEFINES/~skyrat_defines/mining_traits.dm
  code/controllers/subsystem/mapping.dm
  code/modules/mining/mine_items.dm
  config/skyrat/mining_levels.txt
  modular_skyrat/modules/random_mining/code/mining_maps.dm
  tgstation.dme
Labels: Config Update, Feature, Map Edit

#4961 Whoops
  _maps/_basemap.dm
  code/__DEFINES/~skyrat_defines/maps.dm
  code/controllers/subsystem/mapping.dm
  code/controllers/subsystem/vote.dm
  modular_skyrat/modules/random_mining/code/mining_maps.dm
  tgui/packages/tgui/interfaces/Vote.js
Labels: Map Edit, UI

#4967 Security boot crunch
  code/game/objects/items/stacks/tape.dm
  modular_skyrat/master_files/sound/effects/suitstep1.ogg
  modular_skyrat/master_files/sound/effects/suitstep2.ogg
  modular_skyrat/modules/sec_haul/code/peacekeeper/peacekeeper_clothing.dm
Labels: Feature

#4977 [MODULAR] [SM] DS-1 EMERGENCY FIX.
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
Labels: Fix, Map Edit

#4949 Eyepatch Left/Right Toggle!
  code/game/objects/items/stacks/sheets/sheet_types.dm
  modular_skyrat/modules/customization/icons/mob/clothing/eyes.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/eyes.dmi
  modular_skyrat/modules/customization/modules/client/loadout/glasses.dm
  modular_skyrat/modules/customization/modules/clothing/glasses/glasses.dm
  modular_skyrat/modules/customization/modules/clothing/glasses/hud.dm
Labels: Feature

#4979 [Semi-Modular] Icemoon Mining
  _maps/_basemap.dm
  _maps/map_files/Mining/Icemoon.dmm
  code/__DEFINES/~skyrat_defines/maps.dm
  code/__DEFINES/~skyrat_defines/mining_traits.dm
  config/skyrat/mining_levels.txt
  tgstation.dme
Labels: Config Update, Feature, Map Edit

#4985 [NON-MODULAR] Fixes an inconsistency where the nanite chamber couldn't interact on MOB_HUMANOID
  code/modules/research/nanites/nanite_chamber_computer.dm
Labels: Fix

#4958 Adds in four missing scrubber pipes on delta
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
Labels: Fix, Map Edit

#4986 Revert "Eyepatch Left/Right Toggle!" - To fix eyewear
  code/game/objects/items/stacks/sheets/sheet_types.dm
  modular_skyrat/modules/customization/icons/mob/clothing/eyes.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/eyes.dmi
  modular_skyrat/modules/customization/modules/client/loadout/glasses.dm
  modular_skyrat/modules/customization/modules/clothing/glasses/glasses.dm
  modular_skyrat/modules/customization/modules/clothing/glasses/hud.dm
Labels: Revert

#4987 Fixes the stripping issue
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/akula.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/aquatic.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/dwarf.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/humanoid.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/insect.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/mammal.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/moth.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/podweak.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/robotic.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/skrell.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/tajaran.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/unathi.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/vox.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/vulpkanin.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/xeno.dm
Labels: Fix

#4972 [NONMODULAR] Head Of Security Nerf/Fix
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/jobs/job_types/head_of_security.dm
Labels: Fix

#4952 Removes assaultops
  code/__DEFINES/misc.dm
  code/__DEFINES/role_preferences.dm
  code/__DEFINES/~skyrat_defines/assaultops.dm
  code/datums/components/gunpoint.dm
  code/datums/mind.dm
  code/game/communications.dm
  code/game/gamemodes/game_mode.dm
  code/game/machinery/_machinery.dm
  code/game/machinery/cryopod.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/say.dm
  code/modules/admin/sql_ban_system.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/one_click_antag.dm
  code/modules/mob/living/living_say.dm
  config/game_options.txt
  modular_skyrat/master_files/code/modules/mob/living/dead/new_player/new_player.dm
  modular_skyrat/modules/assaultops/code/_assaultops_defines.dm
  modular_skyrat/modules/assaultops/code/assaultops_admin.dm
  modular_skyrat/modules/assaultops/code/assaultops_datum.dm
  modular_skyrat/modules/assaultops/code/assaultops_gamemode.dm
  modular_skyrat/modules/assaultops/code/assaultops_misc.dm
  modular_skyrat/modules/assaultops/code/assaultops_procs.dm
  modular_skyrat/modules/assaultops/code/assaultops_spawners.dm
  modular_skyrat/modules/assaultops/code/assaultops_team.dm
  tgstation.dme
Labels: Config Update, DO NOT MERGE, Removal

#5013 [Modular] Syndix PCs for Cybersun and Interdyne
  modular_skyrat/modules/mapping/_maps/RandomRuins/IceRuins/icemoon_underground_syndicate_base1_skyrat.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1_skyrat.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/forgottenship_skyrat.dmm
  modular_skyrat/modules/mapping/code/modules/modular_computers/computers/item/laptop_presets.dm
  tgstation.dme
Labels: Feature

#5008 Adjusts crunch
  modular_skyrat/modules/sec_haul/code/peacekeeper/peacekeeper_clothing.dm
Labels: Test Merged

#5016 Desouls floor tiles
  code/game/objects/items/stacks/sheets/glass.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/stacks/tiles/tile_types.dm
  icons/obj/stack_objects.dmi
  modular_skyrat/modules/aesthetics/stacks/stack_objects.dmi
  modular_skyrat/modules/aesthetics/stacks/stacks.dm
  tgstation.dme
Labels: Feature, Sprites

#5011 Fixes cryopods not working for those without a job
  code/game/machinery/cryopod.dm
Labels: Fix

#5017 New biosuits & RD Labcoat
  code/modules/jobs/job_types/research_director.dm
  modular_skyrat/modules/aesthetics/clothing/clothing.dm
  modular_skyrat/modules/aesthetics/clothing/head.dmi
  modular_skyrat/modules/aesthetics/clothing/items.dmi
  modular_skyrat/modules/aesthetics/clothing/suit.dmi
  tgstation.dme
Labels: Feature

#5018 You there, disarm yourself.
  modular_skyrat/master_files/code/modules/projectiles/guns/gun.dm
  modular_skyrat/modules/sec_haul/code/misc/vending.dm
  modular_skyrat/modules/stormtrooper/code/stormtrooper_clothes.dm
  modular_skyrat/modules/stormtrooper/icons/feet.dmi
  modular_skyrat/modules/stormtrooper/icons/hands.dmi
  modular_skyrat/modules/stormtrooper/icons/head.dmi
  modular_skyrat/modules/stormtrooper/icons/items.dmi
  modular_skyrat/modules/stormtrooper/icons/suit.dmi
  tgstation.dme
Labels: Feature

#4943 [Semi-Modular?] More narcotics
  code/modules/vending/megaseed.dm
  modular_skyrat/master_files/icons/obj/hydroponics/growing.dmi
  modular_skyrat/master_files/icons/obj/hydroponics/harvest.dmi
  modular_skyrat/master_files/icons/obj/hydroponics/seeds.dmi
  modular_skyrat/modules/morenarcotics/chemistry/reagents/cocaine.dm
  modular_skyrat/modules/morenarcotics/chemistry/reagents/opium.dm
  modular_skyrat/modules/morenarcotics/chemistry/reagents/quaalude.dm
  modular_skyrat/modules/morenarcotics/chemistry/recipes/cocaine.dm
  modular_skyrat/modules/morenarcotics/chemistry/recipes/opium.dm
  modular_skyrat/modules/morenarcotics/chemistry/recipes/quaalude.dm
  modular_skyrat/modules/morenarcotics/hydroponics/cocoleaves.dm
  modular_skyrat/modules/morenarcotics/hydroponics/opiumpoppy.dm
  modular_skyrat/modules/morenarcotics/icons/crack.dmi
  modular_skyrat/modules/morenarcotics/icons/mask.dmi
  modular_skyrat/modules/morenarcotics/items/blacktar.dm
  modular_skyrat/modules/morenarcotics/items/cocaine.dm
  modular_skyrat/modules/morenarcotics/items/crackpipe.dm
  tgstation.dme
Labels: Feature, Test Merged

#5028 [MODULAR] Monkey Magnification Helmet armor adjustment.
  modular_skyrat/master_files/code/modules/clothing/head/monkey_magnification_helmet.dm
Labels: Balance/Rebalance

#5033 [Modular] Spacebox funny tweaks and fixes.
  _maps/map_files/NSSJourney/NSSJourney.dmm
Labels: Balance/Rebalance, Feature, Map Edit

#5034 [Modular] Donator stuffs
  modular_skyrat/modules/customization/icons/~donator/mob/clothing/feet.dmi
  modular_skyrat/modules/customization/icons/~donator/mob/clothing/hands.dmi
  modular_skyrat/modules/customization/icons/~donator/mob/clothing/head.dmi
  modular_skyrat/modules/customization/icons/~donator/mob/clothing/suit.dmi
  modular_skyrat/modules/customization/icons/~donator/mob/clothing/uniform.dmi
  modular_skyrat/modules/customization/icons/~donator/obj/clothing/gloves.dmi
  modular_skyrat/modules/customization/icons/~donator/obj/clothing/hats.dmi
  modular_skyrat/modules/customization/icons/~donator/obj/clothing/shoes.dmi
  modular_skyrat/modules/customization/icons/~donator/obj/clothing/suits.dmi
  modular_skyrat/modules/customization/icons/~donator/obj/clothing/uniform.dmi
  modular_skyrat/modules/customization/modules/client/loadout/donator/personal/donator_personal.dm
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
Labels: Fix

#5046 [MODULAR] Biohood should hold your hair in
  modular_skyrat/modules/aesthetics/clothing/clothing.dm
Labels: Fix, Modularisation Compliant

#5029 [modular] MORE AND MORE AND MORE LOADOUT SHIT
  modular_skyrat/modules/customization/icons/mob/clothing/head.dmi
  modular_skyrat/modules/customization/icons/mob/clothing/mask.dmi
  modular_skyrat/modules/customization/icons/mob/clothing/suit.dmi
  modular_skyrat/modules/customization/icons/mob/clothing/uniform.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/hats.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/masks.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/suits.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/uniforms.dmi
  modular_skyrat/modules/customization/modules/client/loadout/head.dm
  modular_skyrat/modules/customization/modules/client/loadout/suit.dm
  modular_skyrat/modules/customization/modules/client/loadout/uniform.dm
  modular_skyrat/modules/customization/modules/clothing/head/head.dm
  modular_skyrat/modules/customization/modules/clothing/suits/coats.dm
  modular_skyrat/modules/customization/modules/clothing/suits/misc.dm
  modular_skyrat/modules/customization/modules/clothing/under/misc.dm
Labels: Feature, Sprites

#5027 [MODULAR] Bongs
  modular_skyrat/master_files/sound/effects/lungbust_cough1.ogg
  modular_skyrat/master_files/sound/effects/lungbust_cough2.ogg
  modular_skyrat/master_files/sound/effects/lungbust_moan1.ogg
  modular_skyrat/master_files/sound/effects/lungbust_moan2.ogg
  modular_skyrat/master_files/sound/effects/lungbust_moan3.ogg
  modular_skyrat/modules/bongs/icons/bong.dmi
  modular_skyrat/modules/bongs/icons/lefthand.dmi
  modular_skyrat/modules/bongs/icons/righthand.dmi
  modular_skyrat/modules/bongs/items/bong.dm
  tgstation.dme
Labels: Feature

#5003 [Semi-Modular] De-Multizify the Iceminer arena so it can load on maps other than icebox
  code/datums/ruins/icemoon.dm
  modular_skyrat/modules/mapping/_maps/RandomRuins/IceRuins/icemoon_underground_mining_site_skyrat.dmm
  modular_skyrat/modules/mapping/code/datums/ruins/icemoon.dm
Labels: Fix

#5036 [MODULAR] CitRP Port - Feign Slur/Stutter/Jitter
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/human.dm
Labels: Feature

#5049 [Modular] More Spacebox Tweaks
  _maps/map_files/NSSJourney/NSSJourney.dmm
Labels: Fix, Map Edit

#5050 Misc fixes + more donator items
  modular_skyrat/master_files/icons/mob/clothing/feet_digi.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/uniform_digi.dmi
  modular_skyrat/master_files/icons/mob/clothing/uniform_digi.dmi
  modular_skyrat/modules/customization/icons/mob/clothing/feet.dmi
  modular_skyrat/modules/customization/icons/mob/clothing/hands.dmi
  modular_skyrat/modules/customization/icons/mob/clothing/head.dmi
  modular_skyrat/modules/customization/icons/mob/clothing/uniform.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/gloves.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/hats.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/shoes.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/suits.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/uniforms.dmi
  modular_skyrat/modules/customization/modules/client/loadout/donator/feet.dm
  modular_skyrat/modules/customization/modules/client/loadout/donator/hands.dm
  modular_skyrat/modules/customization/modules/client/loadout/donator/head.dm
  modular_skyrat/modules/customization/modules/client/loadout/donator/suit.dm
  modular_skyrat/modules/customization/modules/client/loadout/donator/uniform.dm
  modular_skyrat/modules/customization/modules/clothing/hands/hands.dm
  modular_skyrat/modules/customization/modules/clothing/head/head.dm
  modular_skyrat/modules/customization/modules/clothing/shoes/shoes.dm
  modular_skyrat/modules/customization/modules/clothing/suits/misc.dm
  modular_skyrat/modules/customization/modules/clothing/under/misc.dm
  tgstation.dme
Labels: Fix

#5047 [Modular] New Space Ruin
  _maps/skyrat/ruins/dangerous_research.dmm
  config/spaceruinblacklist.txt
  modular_skyrat/modules/ruins/maps/space/dangerous_research.dmm
  modular_skyrat/modules/ruins/space.dm
Labels: Config Update, Feature, Map Edit

#5051 [FUCK] fixes lungbuster crafting recipe
  modular_skyrat/modules/bongs/items/bong.dm
Labels: Fix

#5063 [modular][ready]Prison rainbow, more prison uniforms for the erp mains
  modular_skyrat/modules/customization/icons/mob/clothing/mask.dmi
  modular_skyrat/modules/customization/icons/mob/clothing/uniform.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/masks.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/uniforms.dmi
  modular_skyrat/modules/customization/modules/client/loadout/uniform.dm
  modular_skyrat/modules/customization/modules/clothing/under/misc.dm
  modular_skyrat/modules/customization/modules/clothing/under/security.dm
Labels: Feature, Needs Review

#5062 [Modular] Let there be LIGHT
  _maps/map_files/NSSJourney/NSSJourney.dmm
Labels: Fix, Map Edit

#5074 Random assortment of clothes
  modular_skyrat/modules/customization/icons/mob/clothing/uniform.dmi
  modular_skyrat/modules/customization/icons/obj/clothing/uniforms.dmi
  modular_skyrat/modules/customization/modules/client/loadout/uniform.dm
  modular_skyrat/modules/customization/modules/clothing/under/misc.dm
Labels: Feature

#5048 [NONMODULAR] Why does Heretic have so much RR
  code/modules/antagonists/eldritch_cult/eldritch_effects.dm
Labels: Fix

#4991 Prisoners now spawn in the prison(hopefully)
  code/controllers/subsystem/job.dm
  code/controllers/subsystem/mapping.dm
  code/modules/jobs/job_types/prisoner.dm
  modular_skyrat/master_files/code/controllers/subsystem/job.dm
  tgstation.dme
Labels: Fix

#5087 [Modular] Unfucks Interdyne
  modular_skyrat/modules/mapping/_maps/RandomRuins/IceRuins/icemoon_underground_syndicate_base1_skyrat.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1_skyrat.dmm
Labels: Fix

#5089 Minor hypospray code cleanup and fix
  modular_skyrat/modules/hyposprays/code/game/hypospray_kits.dm
  modular_skyrat/modules/hyposprays/code/game/hyposprays_II.dm
  modular_skyrat/modules/hyposprays/code/game/hypovials.dm
Labels: Code Improvement, Fix

#5092 Fixes a few lattice runtimes as well as a broken item path
  modular_skyrat/modules/ruins/maps/space/waypointstation.dmm
Labels: Fix

#5090 [Modular] remove duplicate APC from NSS Journey
  _maps/map_files/NSSJourney/NSSJourney.dmm
Labels: Fix, Map Edit

#5088 [Modular] Ports the most Important thing from Oldbase ever.
  modular_skyrat/modules/ruins/maps/space/completelynormalspacetile.dmm
  modular_skyrat/modules/ruins/space.dm
Labels: Feature
