Repository Skyrat-SS13/Skyrat-tg, pull requests merged in 2021-08, with the labels that each got.

#7262 [Modular] NSS Journey Update + Service Airlocks
  _maps/map_files/NSSJourney/NSSJourney.dmm
  code/game/objects/items/RCD.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  modular_skyrat/modules/aesthetics/airlock/code/airlock.dm
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/station/service.dmi
Labels: Fix, Map Edit

#7281 [Modular] DS-2 Updates.
  modular_skyrat/modules/mapping/_maps/RandomRuins/IceRuins/icemoon_underground_syndicate_base1_skyrat.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1_skyrat.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/RockplanetRuins/rockplanet_surface_syndicate_base1_skyrat.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/interdynefob.dmm
Labels: Balance/Rebalance, Fix

#7255 [Semi-Modular] Medieval space-ruin, possible series
  _maps/RandomRuins/SpaceRuins/medieval1.dmm
  code/datums/ruins/space.dm
  config/spaceruinblacklist.txt
Labels: Config Update, Feature, Map Edit

#7249 [MODULAR] [READY, PROBABLY] Adds Linguist Quirk
  code/__DEFINES/~skyrat_defines/culture.dm
  code/__DEFINES/~skyrat_defines/traits.dm
  modular_skyrat/master_files/code/datums/traits/good.dm
  modular_skyrat/modules/customization/modules/client/preferences.dm
Labels: Feature

#7237 [MODULAR] Limit advanced modules to 1 and to engineering borg
  modular_skyrat/modules/cyborg/code/robot_upgrades.dm
Labels: Fix

#7269 [MODULAR] Replaces demon-core sprite with something more fitting.
  modular_skyrat/modules/modular_items/icons/obj/lavaland/artefacts.dmi
Labels: Sprites

#7274 Un-fucks maps after reset. again
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/KiloStation/KiloStation_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
Labels: Feature, Map Edit, Removal

#7277 [FIX] Adds CDOs, COs, Vanguard Operatives, Paramedics and Psychologists to job-related loadout lists
  modular_skyrat/modules/customization/modules/client/loadout/glasses.dm
  modular_skyrat/modules/customization/modules/client/loadout/head.dm
  modular_skyrat/modules/customization/modules/client/loadout/suit.dm
  modular_skyrat/modules/customization/modules/client/loadout/uniform.dm
Labels: Fix

#7256 [MODULAR] The start of Medigun changes
  modular_skyrat/modules/cargo/code/packs.dm
  modular_skyrat/modules/modular_weapons/code/modules/projectiles/guns/energy/medgun/medcells.dm
  modular_skyrat/modules/modular_weapons/code/modules/projectiles/guns/energy/medgun/medguns.dm
Labels: Balance/Rebalance

#7296 Gives Lynx and Wildcat safeties
  modular_skyrat/modules/modular_weapons/code/modules/projectiles/guns/ballistic/automatic.dm
Labels: Fix

#7294 Small area fixes on NSS Journey
  _maps/map_files/NSSJourney/NSSJourney.dmm
Labels: Fix, Map Edit

#7295 Delta pipe fix 2.0
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
Labels: Fix, Map Edit

#7244 [NONMODUAR] Fixes mediguns fitting inside turrets and emitters
  code/game/machinery/porta_turret/portable_turret_construct.dm
  code/modules/power/singularity/emitter.dm
Labels: Fix

#7307 [FUCK] [DEVCON-1] Whoops, now you can speak again
  modular_skyrat/modules/customization/modules/client/preferences.dm
Labels: Fix

#7298 NT Rep office, again.
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/KiloStation/KiloStation_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
Labels: Feature, Map Edit

#7309 [MODULAR] The CentCom Formal Coat spawns in the NT Rep's locker again
  modular_skyrat/modules/moretraitoritems/code/game/objects/items/storage/syndicate_loadout.dm
  modular_skyrat/modules/nanotrasen_rep/code/clothing.dm
  modular_skyrat/modules/nanotrasen_rep/code/nanotrasen_representative.dm
Labels: Fix

#7318 the gas giant doesn't exist the gas giant doesn't exist the gas giant doesn't exist (deletes gas miners)
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/KiloStation/KiloStation_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
  _maps/map_files/NSSJourney/NSSJourney.dmm
Labels: Map Edit, Removal

#7343 [MODULAR] Fixes an extra pixel line slime legs have, for some reason.
  modular_skyrat/master_files/icons/mob/species/slime_parts_greyscale.dmi
Labels: Fix

#7356 [SEMI-MODULAR] mentor chat filter
  interface/stylesheet.dm
  modular_skyrat/master_files/code/__DEFINES/chat.dm
  modular_skyrat/modules/mentor/code/dementor.dm
  modular_skyrat/modules/mentor/code/mentorhelp.dm
  modular_skyrat/modules/mentor/code/mentorpm.dm
  modular_skyrat/modules/mentor/code/mentorsay.dm
  tgstation.dme
  tgui/packages/tgui-panel/chat/constants.js
  tgui/packages/tgui-panel/styles/goon/chat-dark.scss
  tgui/packages/tgui-panel/styles/goon/chat-light.scss
Labels: Feature, UI

#7284 [NON-MODULAR] Alt title maintenance
  code/controllers/subsystem/job.dm
Labels: Fix

#7236 [MODULAR] Fix borg affection upgrade dropping
  modular_skyrat/modules/cyborg/code/robot_upgrades.dm
Labels: Fix, Stale

#6995 [NON-MODULAR] fixes things so that classic (including peacekeeper) batons can stamcrit again
  code/game/objects/items/melee/misc.dm
Labels: Fix, Stale-b-gone, Test Merged

#7368 Fixes size and preview issues(maybe)
  modular_skyrat/modules/customization/modules/client/preferences.dm
Labels: Fix

#7360 [Modular] Imperial Enclave Remap
  _maps/shuttles/pirate_enclave.dmm
  modular_skyrat/modules/mapping/code/game/objects/effects/decals/turf_decals.dm
  modular_skyrat/modules/mapping/icons/turf/turf_decals.dmi
Labels: Feature, Map Edit

#7105 [Modular] [Ready] Adds some new traitor items
  modular_skyrat/master_files/code/modules/projectiles/guns/ballistic/automatic.dm
  modular_skyrat/master_files/code/modules/projectiles/guns/ballistic/revolver.dm
  modular_skyrat/master_files/code/modules/uplink/uplink_items.dm
  modular_skyrat/modules/moretraitoritems/code/game/objects/items/clothing/suits/mafioso.dm
  modular_skyrat/modules/moretraitoritems/code/game/objects/items/drinks/drinkingglass.dm
  modular_skyrat/modules/moretraitoritems/code/game/objects/items/grenades/spawnergrenade.dm
  modular_skyrat/modules/moretraitoritems/code/game/objects/items/storage/syndicate_loadout.dm
  tgstation.dme
Labels: Feature, Needs Review, Removal, Stale

#7359 [MODULAR] Scalamov Prison - New Gateway Mission
  _maps/RandomZLevels/zombieprison.dmm
  modular_skyrat/modules/awaymissions_skyrat/icons/clothing/mob/under/prisonmob.dmi
  modular_skyrat/modules/awaymissions_skyrat/icons/clothing/mob/under/prisonmobdigi.dmi
  modular_skyrat/modules/awaymissions_skyrat/icons/clothing/obj/uniform/prisoncloth.dmi
  modular_skyrat/modules/awaymissions_skyrat/icons/prisonmobs.dmi
  modular_skyrat/modules/awaymissions_skyrat/mission_code/zombieprison.dm
  tgstation.dme
Labels: Code Improvement, Feature, Map Edit, Sprites

#7393 [MODULAR] Augment Fix
  modular_skyrat/modules/customization/modules/client/preferences.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/preferences_setup.dm
Labels: Fix

#7385 [MODULAR] Fixes SOOC
  modular_skyrat/modules/admin/code/sooc.dm
Labels: Fix

#7390 Vox sprites for the owl mask
  modular_skyrat/master_files/icons/mob/clothing/mask_vox.dmi
Labels: Sprites

#7391 [MODULAR][Fixes] Scalamov Fixes and maintenance
  _maps/RandomZLevels/zombieprison.dmm
  modular_skyrat/modules/awaymissions_skyrat/mission_code/zombieprison.dm
Labels: Fix, Map Edit

#7392 [MODULAR] Ashwalker Village fixes
  modular_skyrat/modules/mapping/_maps/RandomRuins/LavaRuins/lavaland_surface_ash_walker1_skyrat.dmm
Labels: Feature

#7396 "Your chest throbs with pain as your new the organ storage bag comes to life!" (Surgery pain fix/cleanup)
  modular_skyrat/modules/surgerypain/code/surgery/advanced/bioware/cortex_folding.dm
  modular_skyrat/modules/surgerypain/code/surgery/advanced/bioware/cortex_imprint.dm
  modular_skyrat/modules/surgerypain/code/surgery/advanced/bioware/ligament_hook.dm
  modular_skyrat/modules/surgerypain/code/surgery/advanced/bioware/ligament_reinforcement.dm
  modular_skyrat/modules/surgerypain/code/surgery/advanced/bioware/muscled_veins.dm
  modular_skyrat/modules/surgerypain/code/surgery/advanced/bioware/nerve_grounding.dm
  modular_skyrat/modules/surgerypain/code/surgery/advanced/bioware/nerve_splicing.dm
  modular_skyrat/modules/surgerypain/code/surgery/advanced/bioware/vein_threading.dm
  modular_skyrat/modules/surgerypain/code/surgery/advanced/brainwashing.dm
  modular_skyrat/modules/surgerypain/code/surgery/advanced/lobotomy.dm
  modular_skyrat/modules/surgerypain/code/surgery/advanced/necrotic_revival.dm
  modular_skyrat/modules/surgerypain/code/surgery/advanced/pacification.dm
  modular_skyrat/modules/surgerypain/code/surgery/advanced/viral_bonding.dm
  modular_skyrat/modules/surgerypain/code/surgery/advanced/wingreconstruction.dm
  modular_skyrat/modules/surgerypain/code/surgery/amputation.dm
  modular_skyrat/modules/surgerypain/code/surgery/blood_filter.dm
  modular_skyrat/modules/surgerypain/code/surgery/bone_mending.dm
  modular_skyrat/modules/surgerypain/code/surgery/brain_surgery.dm
  modular_skyrat/modules/surgerypain/code/surgery/burn_dressing.dm
  modular_skyrat/modules/surgerypain/code/surgery/cavity_implant.dm
  modular_skyrat/modules/surgerypain/code/surgery/coronary_bypass.dm
  modular_skyrat/modules/surgerypain/code/surgery/dental_implant.dm
  modular_skyrat/modules/surgerypain/code/surgery/eye_surgery.dm
  modular_skyrat/modules/surgerypain/code/surgery/gastrectomy.dm
  modular_skyrat/modules/surgerypain/code/surgery/hepatectomy.dm
  modular_skyrat/modules/surgerypain/code/surgery/implant_removal.dm
  modular_skyrat/modules/surgerypain/code/surgery/limb_augmentation.dm
  modular_skyrat/modules/surgerypain/code/surgery/lipoplasty.dm
  modular_skyrat/modules/surgerypain/code/surgery/lobectomy.dm
  modular_skyrat/modules/surgerypain/code/surgery/mechanic_steps.dm
  modular_skyrat/modules/surgerypain/code/surgery/organ_manipulation.dm
  modular_skyrat/modules/surgerypain/code/surgery/organic_steps.dm
  modular_skyrat/modules/surgerypain/code/surgery/plastic_surgery.dm
  modular_skyrat/modules/surgerypain/code/surgery/prosthetic_replacement.dm
  modular_skyrat/modules/surgerypain/code/surgery/repair_puncture.dm
  modular_skyrat/modules/surgerypain/code/surgery/stomachpump.dm
Labels: Fix, Refactor

#7397 [Modular] NSS Journey: Library Overhaul, Chaplain (Minor) Update
  _maps/map_files/NSSJourney/NSSJourney.dmm
Labels: Fix, Map Edit

#7398 Adds the CMO turtleneck that exists in files but not in game.
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  modular_skyrat/modules/customization/modules/clothing/under/misc.dm
Labels: Feature

#7403 [Modular][Vanity] Low wings/waist-high wings
  modular_skyrat/master_files/icons/mob/sprite_accessory/horns.dmi
  modular_skyrat/master_files/icons/mob/sprite_accessory/wings.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/horns.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/wings.dm
Labels: Feature

#7352 [SEMI-MODULAR] Wrestling Rings
  code/game/objects/items/stacks/rods.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  modular_skyrat/modules/wrestlingring/code/game/objects/structures/wrestlingring.dm
  modular_skyrat/modules/wrestlingring/icons/obj/wrestling.dmi
  tgstation.dme
Labels: Feature

#7327 [FIX] Makes it so you can actually make crack bricks
  _maps/RandomRuins/OceanRuins/ocean_hideout_above.dmm
  modular_skyrat/modules/morenarcotics/items/cocaine.dm
  modular_skyrat/modules/morenarcotics/items/crackpipe.dm
Labels: Fix, Map Edit

#7407 [MODULAR][FUCK] SPEEDMERGE PLEASE - FIXES BIG PROBLEM WITH SCALAMOV
  _maps/RandomZLevels/zombieprison.dmm
Labels: Fix, Map Edit

#7412 Removes bluespace lockers
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  code/modules/shuttle/supply.dm
  modular_skyrat/modules/bluespace_locker/code/__HELPERS/unsorted.dm
  modular_skyrat/modules/bluespace_locker/code/controllers/subsystem/bluespace_locker.dm
  modular_skyrat/modules/bluespace_locker/code/game/area/Space_Station_13_areas.dm
  modular_skyrat/modules/bluespace_locker/code/game/objects/structures/crates_lockers/bluespace_locker.dm
  tgstation.dme
Labels: Removal, Map Edit

#7411 [MODULAR] [FIXES] More Scalamov Gateway fixes (performance, loot decreases, more enemies)
  _maps/RandomZLevels/zombieprison.dmm
  modular_skyrat/modules/awaymissions_skyrat/mission_code/zombieprison.dm
Labels: Fix, Map Edit

#7416 Fixes blank liquids and division by zero in them
  modular_skyrat/modules/liquids/code/liquid_systems/liquid_turf.dm
Labels: Fix

#7414 PREFERENCES RESET [DANGER]
  code/_globalvars/lists/names.dm
  code/modules/client/preferences.dm
  code/modules/jobs/job_types/chaplain.dm
  code/modules/mob/dead/new_player/preferences_setup.dm
  modular_skyrat/modules/customization/modules/client/preferences.dm
  modular_skyrat/modules/customization/modules/client/preferences_savefile.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/preferences_setup.dm
  strings/names/religion.txt
Labels: Merge Conflict, Refactor, DEVCON 2

#7420 [MODULAR] Final round of Scalamov edits and fixes (hopefully)
  _maps/RandomZLevels/zombieprison.dmm
  modular_skyrat/modules/awaymissions_skyrat/mission_code/zombieprison.dm
Labels: Feature, Fix, Map Edit

#7430 Fixes alt titles
  code/__HELPERS/global_lists.dm
  code/datums/datacore.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/security_officer.dm
  modular_skyrat/master_files/code/modules/mob/living/dead/new_player/new_player.dm
  modular_skyrat/modules/altjobtitles/code/_job.dm
  modular_skyrat/modules/altjobtitles/code/jobs.dm
  modular_skyrat/modules/nanotrasen_rep/code/nanotrasen_representative.dm
  tgstation.dme
Labels: Fix

#7433 Fix the program at the cyborg tablet
  code/modules/modular_computers/computers/item/tablet_presets.dm
Labels: Fix

#7426 fixes #7085 (hopefully) removing the officer's disabler, for some reason.
  code/modules/jobs/job_types/security_officer.dm
  code/modules/jobs/job_types/warden.dm
Labels: Feature, Fix

#7425 Removes HOS parade jackets
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  modular_skyrat/modules/customization/modules/clothing/suits/armor.dm
  modular_skyrat/modules/customization/modules/clothing/under/security.dm
Labels: Removal

#7383 Critical bugfix for employment contracts
  code/modules/paperwork/contract.dm
Labels: Fix

#7432 [(mostly) MODULAR] HOP Drip
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/jobs/job_types/head_of_personnel.dm
  modular_skyrat/master_files/icons/mob/clothing/back.dmi
  modular_skyrat/master_files/icons/mob/clothing/uniform.dmi
  modular_skyrat/master_files/icons/obj/clothing/uniforms.dmi
  modular_skyrat/modules/hop_drip/code/clothing/under/jobs/civillian.dm
  modular_skyrat/modules/hop_drip/code/storage/backpacks/head_of_personnel.dm
  modular_skyrat/modules/hop_drip/icons/storage/backpack_lefthand.dmi
  modular_skyrat/modules/hop_drip/icons/storage/backpack_righthand.dmi
  modular_skyrat/modules/hop_drip/icons/storage/hop_packs.dmi
  tgstation.dme
Labels: Feature, Sprites

#7434 Re(removes) anti-exploit to fix shitcode prefs.
  modular_skyrat/modules/customization/modules/client/preferences.dm
Labels: Fix, Removal

#7437 [MODULAR][FIX] Fixes Medigun causing runtimes
  modular_skyrat/modules/modular_weapons/code/modules/projectiles/guns/energy/medgun/medcells.dm
Labels: Fix

#7438 [Map] Adds one sink to the NSS Journey medbay 💧
  _maps/map_files/NSSJourney/NSSJourney.dmm
Labels: Feature, Map Edit

#7442 [FUCK] Update IceBoxStation_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
Labels: Fix, Map Edit

#7443 [NON-MODULAR] Adjust tank values to respect longer shift durations
  code/__DEFINES/atmospherics.dm
Labels: Balance/Rebalance

#7444 Fixes NPC zombies and makes them better.
  code/modules/mob/living/simple_animal/hostile/zombie.dm
  modular_skyrat/master_files/code/modules/mob/living/simple_animal/hostile/zombie.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/preferences_setup.dm
  tgstation.dme
Labels: Balance/Rebalance, Fix, Test Merged

#6478 [DNM] Revert "[MIRROR] Refactors dbcore and limits the maximum amount of concurrent async queries to a variable amount"
  code/__DEFINES/database.dm
  code/__DEFINES/subsystems.dm
  code/controllers/subsystem/dbcore.dm
  code/controllers/subsystem/time_track.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/debug.dm
  config/dbconfig.txt
  tgstation.dme
Labels: Upstream PR Merged, DO NOT MERGE, Config Update, Refactor, Revert, Test Merge Only, Test Merged, Stale-b-gone

#7446 gives the sec sarge a sidearm token, finally.
  modular_skyrat/modules/sec_haul/code/security_sergeant/security_sergeant.dm
Labels: Feature

#7321 [MODULAR] Access Based Vending Machine
  modular_skyrat/modules/aesthetics/vending/access_vending.dm
  tgstation.dme
Labels: Stale

#7457 Vox QoL (Icons/Verbiage)
  modular_skyrat/master_files/icons/misc/language.dmi
  modular_skyrat/modules/customization/modules/language/vox.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/vox.dm
Labels: Feature

#7460 Fixes the suit sensor sorting, ohgodohfuck
  code/game/machinery/computer/crew.dm
Labels: Fix

#7463 [MODULAR] Minor Medigun code improvements
  modular_skyrat/modules/modular_weapons/code/modules/projectiles/guns/energy/medgun/medguns.dm
Labels: Code Improvement, Grammar and Formatting

#7464 Revert "Removes HOS parade jackets"
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  modular_skyrat/modules/customization/modules/clothing/suits/armor.dm
  modular_skyrat/modules/customization/modules/clothing/under/security.dm
Labels: Removal, Revert

#7468 Fixes access on meta sm alarm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
Labels: Fix, Map Edit

#6933 [NON MODULAR] Nerfs wheely heels, replaces bike crate with a Medical Beamgun crate (still extremely expensive)
  code/datums/components/riding/riding_vehicle.dm
  code/modules/cargo/packs.dm
  modular_skyrat/modules/cargo/code/packs.dm
Labels: Stale

#6643 [semi-modular] reagent forge
  _maps/RandomRuins/LavaRuins/lavaland_surface_ash_walker1.dmm
  code/game/objects/items/stacks/rods.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  modular_skyrat/modules/reagent_forging/code/modules/reagent_forging/anvil.dm
  modular_skyrat/modules/reagent_forging/code/modules/reagent_forging/forge.dm
  modular_skyrat/modules/reagent_forging/code/modules/reagent_forging/forge_clothing.dm
  modular_skyrat/modules/reagent_forging/code/modules/reagent_forging/forge_items.dm
  modular_skyrat/modules/reagent_forging/code/modules/reagent_forging/forge_recipes.dm
  modular_skyrat/modules/reagent_forging/code/modules/reagent_forging/forge_weapons.dm
  modular_skyrat/modules/reagent_forging/code/modules/reagent_forging/water_basin.dm
  modular_skyrat/modules/reagent_forging/icons/mob/forge_clothing.dmi
  modular_skyrat/modules/reagent_forging/icons/mob/forge_weapon_l.dmi
  modular_skyrat/modules/reagent_forging/icons/mob/forge_weapon_r.dmi
  modular_skyrat/modules/reagent_forging/icons/obj/forge_clothing.dmi
  modular_skyrat/modules/reagent_forging/icons/obj/forge_items.dmi
  modular_skyrat/modules/reagent_forging/icons/obj/forge_structures.dmi
  modular_skyrat/modules/reagent_forging/readme.md
  modular_skyrat/modules/reagent_forging/sound/forge.ogg
  modular_skyrat/modules/reagent_forging/sound/hot_hiss.ogg
  tgstation.dme
Labels: Feature, Map Edit, Test Merged

#6671 [semi-modular] xenoarch
  _maps/map_files/Mining/Icemoon.dmm
  _maps/map_files/Mining/Lavaland.dmm
  code/modules/mining/equipment/mineral_scanner.dm
  modular_skyrat/modules/xenoarch/code/modules/research/xenoarch/designs_and_tech.dm
  modular_skyrat/modules/xenoarch/code/modules/research/xenoarch/strange_rock.dm
  modular_skyrat/modules/xenoarch/code/modules/research/xenoarch/xenoarch_item.dm
  modular_skyrat/modules/xenoarch/code/modules/research/xenoarch/xenoarch_machine.dm
  modular_skyrat/modules/xenoarch/code/modules/research/xenoarch/xenoarch_reward.dm
  modular_skyrat/modules/xenoarch/code/modules/research/xenoarch/xenoarch_tool.dm
  modular_skyrat/modules/xenoarch/icons/mining.dmi
  modular_skyrat/modules/xenoarch/icons/ore_visuals.dmi
  modular_skyrat/modules/xenoarch/icons/xenoarch_items.dmi
  modular_skyrat/modules/xenoarch/icons/xenoarch_machines.dmi
  modular_skyrat/modules/xenoarch/readme.md
  tgstation.dme
Labels: Feature, Map Edit, Test Merged, Needs Head Input, Stale-b-gone

#7471 [MODULAR] [FIXES] Reduces enemy count for Scalamov gateway, buffs enemy health to compensate
  _maps/RandomZLevels/zombieprison.dmm
  modular_skyrat/modules/awaymissions_skyrat/mission_code/zombieprison.dm
Labels: Balance/Rebalance, Fix, Map Edit

#7447 Spellchecks, fixes, and m- Wait? Guns, again?
  modular_skyrat/modules/sec_haul/code/guns/guns.dm
Labels: Balance/Rebalance, Fix, Grammar and Formatting

#7469 [NONMODULAR]Venus Humantrap Re-buffs
  code/modules/mob/living/simple_animal/hostile/venus_human_trap.dm
Labels: Balance/Rebalance

#7428 [MODULAR] actually fixes SOOC, probably
  modular_skyrat/modules/admin/code/sooc.dm
Labels: Fix

#7478 [MODULAR] LIZARED underwear
  modular_skyrat/master_files/icons/mob/clothing/underwear.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories.dm
Labels: Feature, Sprites

#7479 Updates HoP parade jacket
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  modular_skyrat/master_files/icons/mob/clothing/suit.dmi
  modular_skyrat/master_files/icons/obj/clothing/suits.dmi
  modular_skyrat/modules/customization/modules/clothing/suits/armor.dm
Labels: Feature

#7482 [MODULAR][Sprites] New Medigun Sprites
  modular_skyrat/modules/modular_weapons/code/modules/projectiles/guns/energy/medgun/medguns.dm
  modular_skyrat/modules/modular_weapons/icons/obj/guns/mediguns/misc.dmi
  modular_skyrat/modules/modular_weapons/icons/obj/guns/mediguns/projectile.dmi
  modular_skyrat/modules/modular_weapons/icons/obj/upgrades.dmi
Labels: Sprites

#7488 Nerfs/Reworks Nicotine Withdrawl and Addiction
  code/modules/reagents/withdrawal/generic_addictions.dm
  modular_skyrat/master_files/code/modules/reagents/withdrawal/generic_addictions.dm
  tgstation.dme
Labels: Balance/Rebalance

#7494 [MODULAR][FIX/QoL] Mediguns eject Medicells into hands before the floor.
  modular_skyrat/modules/modular_weapons/code/modules/projectiles/guns/energy/medgun/medguns.dm
Labels: Fix

#7483 [semi-modular] floor demon
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  code/modules/admin/admin_verbs.dm
  modular_skyrat/modules/demon_floor/code/floor_demon.dm
  modular_skyrat/modules/demon_floor/icon/demon.dmi
  modular_skyrat/modules/demon_floor/readme.md
  modular_skyrat/modules/demon_floor/sound/bikehorn_alert.ogg
  modular_skyrat/modules/demon_floor/sound/bikehorn_creepy.ogg
  modular_skyrat/modules/demon_floor/sound/bodyscrape-01.ogg
  modular_skyrat/modules/demon_floor/sound/bodyscrape-02.ogg
  modular_skyrat/modules/demon_floor/sound/cluwne_breathing.ogg
  modular_skyrat/modules/demon_floor/sound/cluwne_feast.ogg
  modular_skyrat/modules/demon_floor/sound/cluwnelaugh1.ogg
  modular_skyrat/modules/demon_floor/sound/cluwnelaugh2.ogg
  modular_skyrat/modules/demon_floor/sound/cluwnelaugh3.ogg
  modular_skyrat/modules/demon_floor/sound/floor_cluwne_emerge.ogg
  modular_skyrat/modules/demon_floor/sound/honk_echo_distant.ogg
  modular_skyrat/modules/demon_floor/sound/hungry1.ogg
  modular_skyrat/modules/demon_floor/sound/hungry2.ogg
  modular_skyrat/modules/demon_floor/sound/hungry3.ogg
  modular_skyrat/modules/demon_floor/sound/hungry4.ogg
  tgstation.dme
Labels: Feature, Map Edit, Sound

#6928 [MODULAR] New species: Ghouls
  config/game_options.txt
  modular_skyrat/master_files/icons/mob/species/ghoul_bodyparts.dmi
  modular_skyrat/modules/customization/_globalvars/lists.dm
  modular_skyrat/modules/customization/modules/client/preferences.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/ghoul.dm
  tgstation.dme
Labels: Feature, Config Update, Test Merged, Stale-b-gone

#7502 fix floor cluwne being so rude
  code/modules/jobs/job_types/clown.dm
  modular_skyrat/modules/demon_floor/code/floor_demon.dm
Labels: Fix

#7514 ashwalker changes
  modular_skyrat/modules/ashwalker_change/code/ash_walker_den.dm
  modular_skyrat/modules/ashwalker_change/readme.md
  modular_skyrat/modules/mapping/_maps/RandomRuins/LavaRuins/lavaland_surface_ash_walker1_skyrat.dmm
  tgstation.dme
Labels: Feature

#7504 more modern forging icons
  modular_skyrat/modules/reagent_forging/code/modules/reagent_forging/anvil.dm
  modular_skyrat/modules/reagent_forging/code/modules/reagent_forging/forge.dm
  modular_skyrat/modules/reagent_forging/code/modules/reagent_forging/water_basin.dm
  modular_skyrat/modules/reagent_forging/icons/obj/forge_structures.dmi
Labels: Sprites

#7472 [SEMI-MODULAR] Command Clothing Vendor
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/KiloStation/KiloStation_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
  _maps/map_files/NSSJourney/NSSJourney.dmm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  code/game/objects/structures/crates_lockers/closets/secure/cargo.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/suits/jobs.dm
  code/modules/clothing/under/jobs/command.dm
  code/modules/clothing/under/jobs/security.dm
  modular_skyrat/modules/command_vendor/code/vending/vending.dm
  modular_skyrat/modules/command_vendor/icons/vending/vending.dmi
  modular_skyrat/modules/customization/modules/client/loadout/head.dm
  modular_skyrat/modules/customization/modules/client/loadout/suit.dm
  modular_skyrat/modules/customization/modules/client/loadout/uniform.dm
  modular_skyrat/modules/customization/modules/clothing/suits/armor.dm
  modular_skyrat/modules/customization/modules/clothing/under/misc.dm
  modular_skyrat/modules/customization/modules/clothing/under/security.dm
  modular_skyrat/modules/nanotrasen_rep/code/nanotrasen_representative.dm
  tgstation.dme
Labels: Feature, Removal, Map Edit

#7498 [MODULAR] fixes HOP Alt Clothing, CC/Cap/HOP/HOS Parade Jackets not working on digitigrade
  modular_skyrat/master_files/icons/mob/clothing/suit_digi.dmi
  modular_skyrat/master_files/icons/mob/clothing/uniform_digi.dmi
Labels: Fix

#7532 [Modular][Fix]Fixes Linguist Quirk
  code/__DEFINES/~skyrat_defines/culture.dm
  code/__DEFINES/~skyrat_defines/traits.dm
  modular_skyrat/master_files/code/datums/traits/good.dm
  modular_skyrat/modules/customization/modules/client/preferences.dm
Labels: Fix

#7515 [MODULAR] Increases cost of 'Believer' bundle.
  modular_skyrat/modules/neural-lacing/code/implanter.dm
Labels: Balance/Rebalance

#7028 [NON-MODULAR] [READY] More people who can antag who shouldn't be able to
  code/game/gamemodes/dynamic/dynamic_rulesets_latejoin.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_roundstart.dm
  config/dynamic.json
Labels: Fix, Needs Review, Config Update

#7557 [NON-MODULAR] Organized runtime viewer now shows number of each runtime
  code/modules/error_handler/error_viewer.dm
Labels: Administration

#7558 update maps, adds ovens to prison and kitchen
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/KiloStation/KiloStation_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
  _maps/map_files/NSSJourney/NSSJourney.dmm
  _maps/map_files/generic/CentCom.dmm
  _maps/map_files/readme.md
  _maps/map_files/tramstation/tramstation.dmm
Labels: Fix, Map Edit

#7574 Fixes this dumb stupid pipe mistake on Icebox
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
Labels: Fix, Map Edit

#7577 [MODULAR] Scalamov Gateway Mission - Nerfs Warden, replaces invisible zombies, deletes a few guns
  _maps/RandomZLevels/zombieprison.dmm
  modular_skyrat/modules/awaymissions_skyrat/mission_code/zombieprison.dm
Labels: Balance/Rebalance, Fix, Map Edit

#7578 makes hairbrush tiny
  modular_skyrat/modules/hairbrush/code/hairbrush.dm
Labels: Fix

#7523 [NON-MODULAR] Feline Trait
  code/__DEFINES/~skyrat_defines/traits.dm
  code/game/objects/items/devices/laserpointer.dm
  code/game/objects/items/pet_carrier.dm
  code/modules/mob/living/living_say.dm
  modular_skyrat/master_files/code/datums/traits/neutral.dm
Labels: Feature

#7534 scythes and vine
  code/modules/hydroponics/hydroitemdefines.dm
  modular_skyrat/modules/apocolypse_of_scythes/code/scythes.dm
  modular_skyrat/modules/apocolypse_of_scythes/icons/back.dmi
  modular_skyrat/modules/apocolypse_of_scythes/icons/items_and_weapons.dmi
  modular_skyrat/modules/apocolypse_of_scythes/icons/polearms_lefthand.dmi
  modular_skyrat/modules/apocolypse_of_scythes/icons/polearms_righthand.dmi
  modular_skyrat/modules/apocolypse_of_scythes/readme.md
  tgstation.dme
Labels: Feature, Balance/Rebalance

#7470 [Semi-Modular] Stops Jacob's Ladder From Piercing Space Ruins
  code/__HELPERS/~skyrat_helpers/level_traits.dm
  code/modules/mining/lavaland/tendril_loot.dm
  tgstation.dme
Labels: Balance/Rebalance

#7583 [Fix] 10 MINUTES != FIVE MINUTES
  modular_skyrat/modules/ambitions/code/ambition.dm
Labels: Grammar and Formatting

#7556 [NONMODULAR][FUCK] Regen cores now completely clear stamina
  code/datums/status_effects/buffs.dm
Labels: Fix

#7453 Ports pollution from Horizon - Original PR: https://github.com/hrzntal/horizon/pull/468 (Made by Azarak)
  _maps/map_files/NSSJourney/NSSJourney.dmm
  code/__DEFINES/layers.dm
  code/__DEFINES/subsystems.dm
  code/__DEFINES/~skyrat_defines/pollution.dm
  code/datums/components/grillable.dm
  code/game/objects/items/candle.dm
  code/game/objects/items/cigs_lighters.dm
  code/game/objects/items/food/meat.dm
  code/game/objects/structures/bonfire.dm
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  code/game/objects/structures/crates_lockers/closets/secure/bar.dm
  code/game/turfs/change_turf.dm
  code/game/turfs/open/_open.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/fix_air.dm
  code/modules/atmospherics/environmental/LINDA_fire.dm
  code/modules/atmospherics/environmental/LINDA_system.dm
  code/modules/atmospherics/machinery/portable/scrubber.dm
  code/modules/food_and_drinks/recipes/drinks_recipes.dm
  code/modules/food_and_drinks/recipes/food_mixtures.dm
  code/modules/mob/living/blood.dm
  code/modules/mob/living/carbon/carbon_defines.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/mob/living/emote.dm
  code/modules/reagents/chemistry/holder.dm
  code/modules/reagents/chemistry/recipes.dm
  code/modules/reagents/chemistry/recipes/medicine.dm
  code/modules/vending/wardrobes.dm
  modular_skyrat/modules/customization/__DEFINES/loadout.dm
  modular_skyrat/modules/customization/modules/client/loadout/backpack.dm
  modular_skyrat/modules/liquids/code/liquid_systems/liquid_effect.dm
  modular_skyrat/modules/pollution/code/admin_spawn_pollution.dm
  modular_skyrat/modules/pollution/code/air_refresher.dm
  modular_skyrat/modules/pollution/code/fancy_storage_items.dm
  modular_skyrat/modules/pollution/code/perfumes.dm
  modular_skyrat/modules/pollution/code/plane_master.dm
  modular_skyrat/modules/pollution/code/pollutant_datum.dm
  modular_skyrat/modules/pollution/code/pollutants_generic.dm
  modular_skyrat/modules/pollution/code/pollution.dm
  modular_skyrat/modules/pollution/code/pollution_emitters.dm
  modular_skyrat/modules/pollution/code/pollution_initializations.dm
  modular_skyrat/modules/pollution/code/pollution_subsystem.dm
  modular_skyrat/modules/pollution/code/scented_candles.dm
  modular_skyrat/modules/pollution/code/temporary_pollution_emission_component.dm
  modular_skyrat/modules/pollution/code/turf_open.dm
  modular_skyrat/modules/pollution/icons/air_refresher.dmi
  modular_skyrat/modules/pollution/icons/perfume.dmi
  modular_skyrat/modules/pollution/icons/pollution_scrubber.dmi
  tgstation.dme
Labels: Feature, Map Edit, Test Merged

#7585 adds 5 new hairs
  modular_skyrat/master_files/icons/mob/sprite_accessory/hair.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/hair.dm
Labels: Feature

#7587 Minor beret fixes
  code/modules/clothing/spacesuits/specialops.dm
  modular_skyrat/modules/berets/code/modules/clothing/head/jobs.dm
Labels: Fix

#7586 [modular][ready]transfers the old cowboy poncho to the neckslot and adds obj sprites for mantles
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/vending/autodrobe.dm
  modular_skyrat/master_files/icons/mob/clothing/neck.dmi
  modular_skyrat/master_files/icons/obj/clothing/neck.dmi
  modular_skyrat/modules/customization/modules/client/loadout/neck.dm
  modular_skyrat/modules/customization/modules/client/loadout/suit.dm
  modular_skyrat/modules/customization/modules/clothing/neck/cloaks.dm
  modular_skyrat/modules/customization/modules/clothing/suits/coats.dm
Labels: Feature, Needs Review

#7603 modular icebox, xenoarch
  _maps/icebox.json
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above_skyrat.dmm
Labels: Feature, Map Edit

#7591 Allow detectives thru police tape
  modular_skyrat/modules/sec_haul/code/misc/policetape.dm
Labels: Fix

#7610 [MODULAR] Axolotl tail for Hardsuits
  modular_skyrat/master_files/icons/mob/sprite_accessory/tails_hardsuit.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/tails.dm
Labels: Feature, Sprites

#7615 [SEMI-MODULAR] Adds an override to allow the use of icon2html RARELY when we need it, fixing in the same swoop the in-game GAGS coloring screen
  code/__HELPERS/icons.dm
  code/modules/admin/greyscale_modify_menu.dm
Labels: Fix, Code Improvement

#7624 fixes the stairs
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above_skyrat.dmm
Labels: Fix, Map Edit

#7637 GUBMAN 3.3: Nanotrasen Ballistics R&D
  modular_skyrat/modules/aesthetics/guns/code/guns.dm
  modular_skyrat/modules/aesthetics/guns/icons/guns.dmi
Labels: Feature

#7645 [MIRROR] Juke Build 0.8.1 + Juke Build 0.8.1 Hotfix 1 + Skyrat Juke Build Hotfix
  .github/workflows/ci_suite.yml
  .gitignore
  CLEAN.bat
  RUN_SERVER.bat
  dependencies.sh
  tools/build/build.js
  tools/build/cbt/dm.js
  tools/build/cbt/fs.js
  tools/build/cbt/winreg.js
  tools/build/cbt/yarn.js
  tools/ci/template_dm_generator.py
Labels: Tools, Code Improvement, GitHub

#7674 [MODULAR][FIX] fixes incubus draft recipe
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_chemistry/chemistry_for_ERP.dm
Labels: Fix

#7684 Gives the nt rep office maint on journey
  _maps/map_files/NSSJourney/NSSJourney.dmm
Labels: Balance/Rebalance, Map Edit

#7672 Update landmarks.dm to spawn latejoin prisoners in the permabrig
  code/game/objects/effects/landmarks.dm
Labels: Fix, Good First PR

#7623 CDO Fix V2
  modular_skyrat/master_files/code/datums/id_trim/jobs.dm
Labels: Fix

#7625 [MODULAR] Ports Double beds
  modular_skyrat/modules/aesthetics/furniture/bed.dm
  modular_skyrat/modules/aesthetics/furniture/bedsheets.dmi
  modular_skyrat/modules/aesthetics/furniture/furniture.dmi
  tgstation.dme
Labels: Feature, Sprites

#7628 [MODULAR][Balance] more Medigun Balance.
  modular_skyrat/modules/modular_weapons/code/modules/projectiles/guns/energy/medgun/medcells.dm
  modular_skyrat/modules/modular_weapons/code/modules/research/designs/mediguns.dm
Labels: Balance/Rebalance

#7639 [MODULAR] [READY] Fixes all the e_gun subtypes using the AC-2 worn sprite
  modular_skyrat/modules/aesthetics/guns/code/guns.dm
Labels: Fix, Needs Review

#7641 [MIRROR] Adds a mapping helper that can cycle multiple airlocks regardless of location (#60675)
  _maps/map_files/tramstation/tramstation.dmm
  code/game/machinery/doors/airlock.dm
  code/modules/mapping/mapping_helpers.dm
  icons/effects/mapping_helpers.dmi
Labels: Sprites, Map Edit

#7643 [MODULAR] Ghost Cafe Visitors will now always get their chameleon clothes box
  modular_skyrat/modules/ghostcafe/code/game/objects/structures/ghost_role_spawners.dm
Labels: Fix

#7612 [SEMI-MODULAR] (Not really) Added Command and CC budgets.
  code/__DEFINES/economy.dm
  code/controllers/subsystem/economy.dm
  code/game/objects/items/mail.dm
  code/modules/jobs/job_types/captain.dm
  modular_skyrat/modules/blueshield/code/modules/jobs/job_types/blueshield.dm
  modular_skyrat/modules/central_command_module/code/jobs/bridge_officer.dm
  modular_skyrat/modules/central_command_module/code/jobs/deck_crew.dm
  modular_skyrat/modules/central_command_module/code/jobs/fleetmaster.dm
  modular_skyrat/modules/central_command_module/code/jobs/operations_inspector.dm
  modular_skyrat/modules/command_vendor/code/vending/vending.dm
  modular_skyrat/modules/nanotrasen_rep/code/nanotrasen_representative.dm
  modular_skyrat/modules/sec_haul/code/junior_officer/junior_officer.dm
Labels: Feature

#7617 Mold changes
  modular_skyrat/modules/biohazard_blob/code/biohazard_blob_controller.dm
  modular_skyrat/modules/biohazard_blob/code/biohazard_blob_structures.dm
Labels: Balance/Rebalance

#7621 [SEMI-MODULAR] (mostly) fixes AI improvement PR code
  code/datums/emotes.dm
  modular_skyrat/modules/verbs/code/modules/client/verbs/looc.dm
Labels: Fix

#7644 [modular][ready] replaces a bunch of onmob sprites with better bee versions
  modular_skyrat/master_files/icons/mob/clothing/feet.dmi
  modular_skyrat/master_files/icons/mob/clothing/suit.dmi
  modular_skyrat/master_files/icons/mob/clothing/suit_digi.dmi
  modular_skyrat/master_files/icons/mob/clothing/uniform.dmi
  modular_skyrat/master_files/icons/obj/clothing/suits.dmi
  modular_skyrat/master_files/icons/obj/clothing/uniforms.dmi
  modular_skyrat/modules/aesthetics/clothing/clothing.dm
Labels: Needs Review

#7601 [MOSTLY NON-MODULAR] Hypovials can be printed from ChemMasters and pill presses.
  code/modules/plumbing/plumbers/pill_press.dm
  code/modules/reagents/chemistry/machinery/chem_master.dm
  modular_skyrat/modules/hyposprays/code/game/autolathe_designs.dm
  tgui/packages/tgui/interfaces/ChemMaster.js
  tgui/packages/tgui/interfaces/ChemPress.js
Labels: UI, Balance/Rebalance, Removal

#7619 lavaland farming
  modular_skyrat/modules/ash_farming/code/ash_farming.dm
  modular_skyrat/modules/ash_farming/readme.md
  tgstation.dme
Labels: Feature

#7661 [MODULAR] Quick-Spawning other people is no longer awkward for the spawning admin
  modular_skyrat/modules/icspawning/code/_onclick/observer.dm
Labels: Fix

#7678 Addition: Security Gun Vendor Circuit
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  modular_skyrat/modules/sec_haul/code/guns/token_system/token_system.dm
Labels: Balance/Rebalance

#7683 [NONMODULAR]Advanced Agent ID's can now actually be used to impersonate NT officials.
  code/game/objects/items/cards_ids.dm
Labels: Tweak

#7685 Guns Galore now use their sounds.
  modular_skyrat/modules/gunsgalore/code/guns/akm/akm.dm
  modular_skyrat/modules/gunsgalore/code/guns/m16/m16.dm
  modular_skyrat/modules/gunsgalore/code/guns/mp40/mp40.dm
Labels: Sound

#7691 [probably][fix]es headphone offstate
  modular_skyrat/master_files/icons/mob/clothing/ears.dmi
  modular_skyrat/master_files/icons/obj/clothing/accessories.dmi
Labels: Fix

#7522 [READY] [MOSTLY MODULAR] Vox sprite fixes, updates, and additions
  code/game/objects/items.dm
  code/modules/mob/living/carbon/human/human_update_icons.dm
  modular_skyrat/master_files/code/modules/clothing/non_anthro_clothes.dm
  modular_skyrat/master_files/icons/mob/body_markings/vox_secondary.dmi
  modular_skyrat/master_files/icons/mob/clothing/feet_gags_digi.dmi
  modular_skyrat/master_files/icons/mob/clothing/head_vox.dmi
  modular_skyrat/master_files/icons/mob/clothing/mask_vox.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/vox/back.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/vox/color_gags_vox.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/vox/ears.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/vox/eyes.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/vox/feet.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/vox/hands.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/vox/head.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/vox/helmet.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/vox/suit.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/vox/uniform.dmi
  modular_skyrat/master_files/icons/mob/species/vox_eyes.dmi
  modular_skyrat/master_files/icons/mob/species/vox_parts_greyscale.dmi
  modular_skyrat/master_files/icons/mob/sprite_accessory/vox_facial_hair.dmi
  modular_skyrat/master_files/icons/mob/sprite_accessory/vox_hair.dmi
  modular_skyrat/master_files/icons/mob/sprite_accessory/vox_snouts.dmi
  modular_skyrat/modules/customization/modules/clothing/clothing.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/human_update_icons.dm
  modular_skyrat/modules/nanotrasen_rep/code/clothing.dm
  modular_skyrat/modules/vox_sprites/code/datums/greyscale/config_types/greyscale_configs.dm
  modular_skyrat/modules/vox_sprites/code/modules/clothing/head/head.dm
  modular_skyrat/modules/vox_sprites/code/modules/clothing/shoes/sneakers.dm
  modular_skyrat/modules/vox_sprites/code/modules/clothing/under/color.dm
  modular_skyrat/modules/vox_sprites/code/modules/clothing/under/jobs/security.dm
  modular_skyrat/modules/vox_sprites/readme.md
Labels: Feature, Needs Review

#7693 [Modular] Fixes a wrong typepath that resulted in regular drink boxes to have syndicate shot glasses in them.
  modular_skyrat/modules/moretraitoritems/code/game/objects/items/drinks/drinkingglass.dm
Labels: Fix

#7705 You must now opt into antag, and be antag now actually works.
  code/game/gamemodes/dynamic/dynamic.dm
  code/game/gamemodes/dynamic/dynamic_rulesets.dm
  modular_skyrat/modules/customization/modules/client/preferences.dm
Labels: Balance/Rebalance, Fix

#7702 [Modular] Adds nympho quirk to headrole, security restricted quirk lists.
  code/__DEFINES/~skyrat_defines/jobs.dm
  modular_skyrat/modules/customization/modules/jobs/_job.dm
Labels: Balance/Rebalance

#7581 [MODULAR] Adds Manage Player Ranks verb
  code/modules/admin/admin_verbs.dm
  modular_skyrat/modules/admin/code/manage_player_ranks.dm
  modular_skyrat/modules/customization/modules/admin/donator_list.dm
  modular_skyrat/modules/mentor/code/mentor.dm
  modular_skyrat/modules/veteran_players/code/veteran_players.dm
  tgstation.dme
Labels: Administration, Test Merged, Stale-b-gone

#7696 [SEMIMODULAR] Medical Bandolier (& One Fix)
  code/modules/research/designs/biogenerator_designs.dm
  code/modules/vending/wardrobes.dm
  modular_skyrat/master_files/code/modules/research/designs/biogenerator_designs.dm
  modular_skyrat/master_files/icons/mob/clothing/back.dmi
  modular_skyrat/master_files/icons/mob/clothing/belt.dmi
  modular_skyrat/master_files/icons/obj/clothing/belts.dmi
  modular_skyrat/modules/customization/modules/clothing/storage/belts.dm
  tgstation.dme
Labels: Feature, Fix

#7718 [Modular] Fixes character ringtones
  modular_skyrat/modules/customization/modules/client/preferences_savefile.dm
Labels: Fix

#7694 [UPDATE] [VOX SPRITES] Updates missed features, fixes bugged sprites to heads.
  modular_skyrat/master_files/icons/mob/body_markings/vox_secondary.dmi
  modular_skyrat/master_files/icons/mob/clothing/eyes_vox.dmi
  modular_skyrat/master_files/icons/mob/clothing/head_vox.dmi
  modular_skyrat/master_files/icons/mob/clothing/mask_vox.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/vox/belt.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/vox/eyes.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/vox/feet.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/vox/helmet.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/vox/suit.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/vox/uniform.dmi
  modular_skyrat/master_files/icons/mob/species/vox_parts_greyscale.dmi
  modular_skyrat/modules/customization/game/objects/items/tanks/n2_tanks.dm
Labels: Fix, Modularisation Compliant

#7710 [fix]paramed and other 76whateverit was sprite speed fixs
  modular_skyrat/master_files/icons/mob/clothing/uniform.dmi
  modular_skyrat/modules/aesthetics/clothing/clothing.dm
Labels: Fix

#7711 [MODULAR] Lets users change the case design for hypospray kits
  modular_skyrat/modules/hyposprays/code/game/hypospray_kits.dm
Labels: Feature

#7703 [modular][ready]very fashionable boots
  code/modules/vending/autodrobe.dm
  code/modules/vending/clothesmate.dm
  modular_skyrat/master_files/icons/obj/clothing/shoes.dmi
  modular_skyrat/modules/customization/modules/client/loadout/shoes.dm
  modular_skyrat/modules/customization/modules/clothing/shoes/shoes.dm
Labels: Needs Review

#7709 [Modular] Fixes a few language keys being broken since forever.
  modular_skyrat/modules/customization/modules/language/gutter.dm
  modular_skyrat/modules/customization/modules/language/vox.dm
  modular_skyrat/modules/customization/modules/language/xenoknockoff.dm
Labels: Fix

#7724 [Modular] Adds the Sailor dress to the loadout
  modular_skyrat/modules/customization/modules/client/loadout/uniform.dm
Labels: Fix

#7712 Makes CI more clearly an IC indication of combat
  modular_skyrat/modules/indicators/code/combat_indicator.dm
Labels: Balance/Rebalance

#7738 [Modular] Med Bandolier Buff
  modular_skyrat/modules/customization/modules/clothing/storage/belts.dm
Labels: Balance/Rebalance

#7760 changes to ashwalker lair
  modular_skyrat/modules/mapping/_maps/RandomRuins/LavaRuins/lavaland_surface_ash_walker1_skyrat.dmm
Labels: Balance/Rebalance

#7758 [MODULAR] makes the ghost cafe less yellow in some places (map change)
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
Labels: Map Edit

#7802 [FIX] [CONFIG] Jobs config and Jobs list out of date
  code/controllers/subsystem/job.dm
  config/jobs.txt
Labels: Code Improvement, Config Update

#7815 [MODULAR][QoL] Extends Hypospray quick-swapping functionality along with some code refactoring
  modular_skyrat/modules/hyposprays/code/game/hyposprays_II.dm
Labels: Code Improvement

#7751 Gives Warden the Sergeant's Megaphone
  code/modules/jobs/job_types/warden.dm
Labels: Feature

#7776 [Modular] [Ready] NSV Titan is kinda cool
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  modular_skyrat/modules/blueshield/code/game/objects/items/devices/radio/headset.dm
  modular_skyrat/modules/blueshield/code/modules/jobs/job_types/blueshield.dm
  modular_skyrat/modules/central_command_module/code/jobs/bridge_officer.dm
  modular_skyrat/modules/central_command_module/code/jobs/fleetmaster.dm
  modular_skyrat/modules/central_command_module/code/jobs/operations_inspector.dm
  modular_skyrat/modules/central_command_module/code/obj/wall.dm
  tgstation.dme
Labels: Balance/Rebalance, Needs Review, Map Edit

#7744 Changes corpse examine text to be more RP friendly.
  code/modules/mob/living/carbon/human/human_helpers.dm
  modular_skyrat/master_files/code/modules/mob/living/carbon/human_helpers.dm
  tgstation.dme
Labels: Tweak

#7756 [Modular, I think] Syndicate Captain's winter vest + Syndicate hardsuit helmet change
  modular_skyrat/master_files/icons/mob/clothing/head.dmi
  modular_skyrat/master_files/icons/mob/clothing/head_muzzled.dmi
  modular_skyrat/master_files/icons/obj/clothing/hats.dmi
  modular_skyrat/modules/Syndie_edits/code/clothing/suit/syndie_edits.dm
  modular_skyrat/modules/Syndie_edits/icons/obj/syndievest_winter_items.dmi
  modular_skyrat/modules/Syndie_edits/icons/suit/syndievest_winter.dmi
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/interdynefob.dmm
  tgstation.dme
Labels: Sprites

#7742 De-snowflakes latejoin on-station code, latejoin borgs now sync properly, see #6472
  code/controllers/subsystem/job.dm
  code/game/objects/effects/landmarks.dm
  code/modules/jobs/job_types/cyborg.dm
  config/jobs.txt
  modular_skyrat/master_files/code/modules/jobs/job_types/cyborg.dm
  modular_skyrat/master_files/code/modules/mob/living/dead/new_player/new_player.dm
  tools/build/build.js
Labels: Fix, Tools, Merge Conflict, Config Update
