Repository Skyrat-SS13/Skyrat-tg, pull requests merged in 2021-07, with the labels that each got.

#6631 [MODULAR] Adds two new plushies
  modular_skyrat/master_files/icons/obj/plushes.dmi
  modular_skyrat/modules/customization/game/objects/items/plushes.dm
  modular_skyrat/modules/customization/modules/client/loadout/backpack.dm
Labels: Feature

#6636 Revert "[semi-modular] reagent forging"
  _maps/RandomRuins/LavaRuins/lavaland_surface_ash_walker1.dmm
  code/game/objects/items/stacks/rods.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  modular_skyrat/modules/reagent_forging/code/modules/reagent_forging/anvil.dm
  modular_skyrat/modules/reagent_forging/code/modules/reagent_forging/forge.dm
  modular_skyrat/modules/reagent_forging/code/modules/reagent_forging/forge_clothing.dm
  modular_skyrat/modules/reagent_forging/code/modules/reagent_forging/forge_items.dm
  modular_skyrat/modules/reagent_forging/code/modules/reagent_forging/forge_recipes.dm
  modular_skyrat/modules/reagent_forging/code/modules/reagent_forging/forge_weapons.dm
  modular_skyrat/modules/reagent_forging/code/modules/reagent_forging/water_basin.dm
  modular_skyrat/modules/reagent_forging/icons/mob/forge_clothing.dmi
  modular_skyrat/modules/reagent_forging/icons/mob/forge_weapon_l.dmi
  modular_skyrat/modules/reagent_forging/icons/mob/forge_weapon_r.dmi
  modular_skyrat/modules/reagent_forging/icons/obj/forge_clothing.dmi
  modular_skyrat/modules/reagent_forging/icons/obj/forge_items.dmi
  modular_skyrat/modules/reagent_forging/icons/obj/forge_structures.dmi
  modular_skyrat/modules/reagent_forging/readme.md
  modular_skyrat/modules/reagent_forging/sound/forge.ogg
  modular_skyrat/modules/reagent_forging/sound/hot_hiss.ogg
  tgstation.dme
Labels: Map Edit, Revert

#6595 Firelocks are now sentient + better firealarms
  code/__DEFINES/~skyrat_defines/signals.dm
  code/game/area/areas.dm
  code/game/machinery/doors/firedoor.dm
  code/game/machinery/firealarm.dm
  code/modules/power/lighting.dm
  modular_skyrat/modules/aesthetics/firealarm/code/firealarm.dm
  modular_skyrat/modules/aesthetics/firedoor/code/firedoor.dm
  modular_skyrat/modules/aesthetics/firedoor/icons/firedoor.dmi
  modular_skyrat/modules/aesthetics/firedoor/icons/firedoor_glass.dmi
  modular_skyrat/modules/aesthetics/lights/code/lighting.dm
Labels: Feature, Test Merged

#6594 [modular]all maps now have a locker for the second detective
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/KiloStation/KiloStation_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
  _maps/map_files/NSSJourney/NSSJourney.dmm
Labels: Feature, Map Edit

#6651 [Modular] One ocean ruin.
  _maps/RandomRuins/OceanRuins/ocean_hideout_above.dmm
  _maps/RandomRuins/OceanRuins/ocean_hideout_below.dmm
  modular_skyrat/modules/liquids/code/ocean_areas.dm
  modular_skyrat/modules/liquids/code/ocean_ruins.dm
Labels: Map Edit

#6648 [Modular] What if I updated Journey more? 😳
  _maps/map_files/NSSJourney/NSSJourney.dmm
Labels: Feature, Map Edit

#6656 [MODULAR] Anthromorphs can wear armor
  code/modules/clothing/suits/armor.dm
  modular_skyrat/master_files/code/modules/clothing/non_anthro_clothes.dm
Labels: Fix

#6693 [modular][ready]adds an NT rep office to the station
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/KiloStation/KiloStation_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
  _maps/map_files/NSSJourney/NSSJourney.dmm
Labels: Map Edit, Needs Review

#6670 [Modularish] Adds hairbrushes
  code/modules/vending/games.dm
  modular_skyrat/modules/hairbrush/code/hairbrush.dm
  modular_skyrat/modules/hairbrush/code/mood_events.dm
  modular_skyrat/modules/hairbrush/icons/mob/inhand_left.dmi
  modular_skyrat/modules/hairbrush/icons/mob/inhand_right.dmi
  modular_skyrat/modules/hairbrush/icons/obj/hairbrush.dmi
  tgstation.dme
Labels: Feature

#6612 [Semi-Modular] Per-character PDA settings
  code/game/objects/items/devices/PDA/PDA.dm
  modular_skyrat/modules/customization/modules/client/preferences.dm
  modular_skyrat/modules/customization/modules/client/preferences_savefile.dm
  modular_skyrat/modules/customization/readme.md
Labels: Feature, Stale

#6569 [NON-MODULAR] Allows AI to send messages to CC
  code/game/machinery/computer/communications.dm
Labels: Stale

#6695 light replacer fix
  code/modules/power/lighting.dm
Labels: Fix

#6658 [Modular] Bring back the catwalks!
  modular_skyrat/modules/aesthetics/catwalk_plating/catwalk_dark.dmi
  modular_skyrat/modules/aesthetics/catwalk_plating/catwalk_plated.dmi
  modular_skyrat/modules/aesthetics/catwalk_plating/catwalk_plating.dm
  modular_skyrat/modules/mapping/_maps/RandomRuins/IceRuins/icemoon_underground_syndicate_base1_skyrat.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1_skyrat.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/interdynefob.dmm
  tgstation.dme
Labels: Fix

#6698 [fix][FUCK]ok so not only did i edit the base ice, i akimbo's the rep
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/KiloStation/KiloStation_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
  _maps/map_files/NSSJourney/NSSJourney.dmm
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  modular_skyrat/modules/aesthetics/closet/closet.dmi
  modular_skyrat/modules/nanotrasen_rep/code/nanotrasen_representative.dm
Labels: Fix, Map Edit

#6712 [Modular] Adds a uni-horn to horns
  modular_skyrat/master_files/icons/mob/sprite_accessory/horns.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/horns.dm
Labels: Feature

#6727 [modular][ready][fix]es the on station nt office futher
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/KiloStation/KiloStation_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
  _maps/map_files/NSSJourney/NSSJourney.dmm
  modular_skyrat/master_files/icons/mob/clothing/head.dmi
  modular_skyrat/modules/nanotrasen_rep/code/Space_Station_13_areas.dm
  modular_skyrat/modules/nanotrasen_rep/code/clothing.dm
  modular_skyrat/modules/nanotrasen_rep/code/nanotrasen_representative.dm
  tgstation.dme
Labels: Map Edit, Needs Review

#6736 [Modular] Gives the NT Rep's closet a fresh coat of paint
  modular_skyrat/modules/aesthetics/closet/closet.dmi
Labels: Sprites

#6739 Undoes beepsky balance changes done in a code refactor PR
  code/modules/mob/living/simple_animal/bot/secbot.dm
Labels: Fix, Refactor

#6745 Deep Space 2 Changes
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/interdynefob.dmm
Labels: Feature

#6659 EORG bans
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  code/__DEFINES/~skyrat_defines/banning.dm
  code/modules/admin/sql_ban_system.dm
  code/modules/shuttle/emergency.dm
  modular_skyrat/modules/banning/code/skyrat_bans.dm
Labels: Feature, Map Edit, Stale, Test Merged

#6746 [fix]es the NT rep meta office caster
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
Labels: Map Edit

#6653 [Modular] Two New Posters (+ Custom Poster "Framework")
  modular_skyrat/modules/aesthetics/posters/contraband.dmi
  modular_skyrat/modules/aesthetics/posters/posters.dm
  tgstation.dme
Labels: Stale

#6749 [FUCK]FIXES SPACE TILE ON DELTA
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
Labels: Map Edit

#6748 (mostly) [modular] adds a language for xeno hybrids via culture
  code/__DEFINES/~skyrat_defines/culture.dm
  code/modules/surgery/organs/tongue.dm
  modular_skyrat/modules/customization/modules/culture/culture/culture_generic.dm
  modular_skyrat/modules/customization/modules/culture/culture/culture_xeno.dm
  modular_skyrat/modules/customization/modules/language/xenoknockoff.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/xeno.dm
  tgstation.dme
Labels: Feature

#6755 fixes grilles and lattices on nss journey solars, etc.
  _maps/map_files/NSSJourney/NSSJourney.dmm
Labels: Feature, Map Edit

#6756 [Modular] Update *Turf emote to include moth sparkle in quirks. Quirks are also free now.
  code/__DEFINES/~skyrat_defines/traits.dm
  modular_skyrat/master_files/code/datums/traits/good.dm
  modular_skyrat/modules/emotes/code/additionalemotes/turf_emote.dm
  modular_skyrat/modules/emotes/code/additionalemotes/turf_list.dm
Labels: Feature

#6767 Animated locker doors
  code/game/objects/structures/crates_lockers/closets.dm
  modular_skyrat/master_files/icons/obj/closet.dmi
  modular_skyrat/modules/advanced_shuttles/code/closet.dm
  modular_skyrat/modules/advanced_shuttles/icons/closet.dmi
  modular_skyrat/modules/aesthetics/closet/closet.dmi
  modular_skyrat/modules/animated_doors/code/closets.dm
  modular_skyrat/modules/animated_doors/code/overlays.dm
  modular_skyrat/modules/bluespace_locker/code/game/objects/structures/crates_lockers/bluespace_locker.dm
  modular_skyrat/modules/bluespace_locker/icons/obj/closet.dmi
  modular_skyrat/modules/brigoff/code/game/objects/structures/crates_lockers/closets/secure/security.dm
  modular_skyrat/modules/brigoff/icons/lockers/closet.dmi
  modular_skyrat/modules/nanotrasen_rep/code/nanotrasen_representative.dm
  modular_skyrat/modules/sec_haul/code/peacekeeper/peacekeeper_lockers.dm
  modular_skyrat/modules/sec_haul/code/security_medic/security_medic.dm
  modular_skyrat/modules/sec_haul/icons/lockers/closet.dmi
  tgstation.dme
Labels: Feature

#6766 [modular][ready][fix]es the hotkey for xenoun not working
  modular_skyrat/modules/customization/modules/language/xenoknockoff.dm
Labels: Needs Review

#6791 [MODULAR] Fix Culture Defines
  code/__DEFINES/~skyrat_defines/culture.dm
Labels: Fix

#6788 [NON-MODULAR][SPEED-MERGE] Mentors Load Again
  code/controllers/subsystem/ticker.dm
Labels: Fix

#6744 [Ready] [Modular] Shameless Lizard Buff (Mining Change)
  code/modules/mob/living/simple_animal/hostile/mining_mobs/ice demon.dm
  modular_skyrat/modules/modular_items/code/game/objects/items/mining/equipment/kinetic_crusher.dm
  modular_skyrat/modules/modular_items/icons/obj/lavaland/artefacts.dmi
  tgstation.dme
Labels: Needs Review

#6725 [Modular] Better sound for admins when someone submits their ambitions
  modular_skyrat/modules/ambitions/code/ambition.dm
Labels: Code Improvement, Fix

#6795 (MODULAR) Fixes Flower Pin Texture and Weight
  modular_skyrat/master_files/icons/obj/clothing/hats.dmi
  modular_skyrat/modules/customization/modules/clothing/head/head.dm
Labels: Balance/Rebalance, Fix

#6747 Prisoner Transport
  _maps/shuttles/prison_transport_skyrat.dmm
  modular_skyrat/modules/mapping/code/datums/shuttles.dm
  modular_skyrat/modules/prison_transport/code/outfits.dm
  modular_skyrat/modules/prison_transport/code/shuttle.dm
  tgstation.dme
Labels: Feature, Map Edit, Test Merged

#6775 [Semi-Modular] Yet Another NSS Journey Update
  _maps/map_files/NSSJourney/NSSJourney.dmm
  code/game/objects/items/RCD.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  modular_skyrat/master_files/code/game/objects/items/airlock_painter.dm
  modular_skyrat/modules/aesthetics/airlock/code/airlock.dm
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/station/corporate.dmi
Labels: Feature, Fix, Map Edit

#6829 [NON-MODULAR] Restricts Cyborgs from Gateways
  code/modules/awaymissions/gateway.dm
Labels: Fix, Headmin Approved, Needs Head Input

#6827 [Modular] Teleporter Beacons are no longer in the Maint Loottable.
  modular_skyrat/master_files/code/_globalvars/maint_loot_common.dm
Labels: Fix

#6741 [NONMODULAR] [READY] Tweaks the cost of a few positive quirks
  code/datums/quirks/good.dm
Labels: Balance/Rebalance, Headmin Approved, Needs Head Input, Needs Review

#6845 [modular][ready]ports three ears from citadel
  modular_skyrat/master_files/icons/mob/sprite_accessory/ears.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/ears.dm
Labels: Needs Review

#6846 [modular][ready]made the cowbell collar unshit
  modular_skyrat/master_files/icons/mob/clothing/neck.dmi
  modular_skyrat/master_files/icons/mob/clothing/uniform.dmi
Labels: Needs Review, Sprites

#6856 [MODULAR] You turn me right round baby right round (Fixes and refactors turnstiles)
  modular_skyrat/modules/mapping/code/modules/genpop/turnstile.dm
Labels: Fix, Refactor

#6696 [MODULAR] Vanguard Class Reworks (also another things)
  _maps/RandomZLevels/blackmesa.dmm
  _maps/RandomZLevels/mothership_astrum.dmm
  _maps/RandomZLevels/wildwest_skyrat.dmm
  code/game/objects/items/storage/firstaid.dm
  modular_skyrat/master_files/code/modules/awaymission/mission_code/black_mesa.dm
  modular_skyrat/master_files/icons/obj/clothing/gloves.dmi
  modular_skyrat/modules/advanced_choice_beacons/code/advanced_choice_beacon.dm
  modular_skyrat/modules/awaymissions_skyrat/mission_code/mothership_astrum.dm
  modular_skyrat/modules/awaymissions_skyrat/mission_code/wildwest_skyrat.dm
  modular_skyrat/modules/exp_corps/code/clothing.dm
  modular_skyrat/modules/exp_corps/code/expeditionary_trooper.dm
  modular_skyrat/modules/exp_corps/code/gear.dm
  modular_skyrat/modules/exp_corps/code/loot_drops.dm
  modular_skyrat/modules/exp_corps/icons/bonesaw.dmi
  modular_skyrat/modules/exp_corps/icons/bonesaw_l.dmi
  modular_skyrat/modules/exp_corps/icons/bonesaw_r.dmi
  modular_skyrat/modules/exp_corps/icons/riot.dmi
  modular_skyrat/modules/exp_corps/icons/riot_left.dmi
  modular_skyrat/modules/exp_corps/icons/riot_right.dmi
  modular_skyrat/modules/exp_corps/icons/throwing.dmi
  modular_skyrat/modules/exp_corps/icons/tomahawk.dmi
  tgstation.dme
Labels: Feature, Map Edit, Test Merged

#6844 [Modular] Station pets (Poppy, Markus, Bumbles, E-N)
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/KiloStation/KiloStation_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
  _maps/map_files/NSSJourney/NSSJourney.dmm
  modular_skyrat/master_files/code/modules/mob/living/simple_animal/friendly/bumbles.dm
  modular_skyrat/master_files/code/modules/mob/living/simple_animal/friendly/dogs.dm
  modular_skyrat/master_files/code/modules/mob/living/simple_animal/friendly/poppy.dm
  modular_skyrat/master_files/icons/mob/clothing/head.dmi
  modular_skyrat/master_files/icons/mob/clothing/suit.dmi
  modular_skyrat/master_files/icons/mob/pets.dmi
  modular_skyrat/master_files/icons/obj/clothing/hats.dmi
  modular_skyrat/master_files/icons/obj/clothing/suits.dmi
  modular_skyrat/master_files/sound/effects/dorime.ogg
  modular_skyrat/modules/customization/modules/clothing/head/head.dm
  modular_skyrat/modules/customization/modules/clothing/suits/misc.dm
  tgstation.dme
Labels: Feature, Map Edit

#6787 Revert "Deep Space 2 Changes"
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/interdynefob.dmm
Labels: Revert

#6576 [SEMI-MODULAR]Neural Lacing (Or copyright infringement)
  code/__DEFINES/DNA.dm
  code/game/objects/items/devices/scanners.dm
  code/modules/mining/machine_vending.dm
  code/modules/mob/living/carbon/death.dm
  code/modules/vending/medical.dm
  modular_skyrat/modules/neural-lacing/code/delacer.dm
  modular_skyrat/modules/neural-lacing/code/implanter.dm
  modular_skyrat/modules/neural-lacing/code/mobhandlers.dm
  modular_skyrat/modules/neural-lacing/code/resleever.dm
  modular_skyrat/modules/neural-lacing/code/stack.dm
  modular_skyrat/modules/neural-lacing/code/traits.dm
  modular_skyrat/modules/neural-lacing/defines/stackdefines.dm
  modular_skyrat/modules/neural-lacing/icons/Neuralstack.dmi
  tgstation.dme
Labels: Feature, Stale

#6888 [MODULAR] Skyrat Github challenge: Don't make a gun balance PR (99% IMPOSSIBLE)
  modular_skyrat/modules/blueshield/code/game/objects/items/melee/misc.dm
  modular_skyrat/modules/modular_weapons/code/modules/projectiles/guns/ballistic/automatic.dm
  modular_skyrat/modules/nanotrasen_rep/code/m45a5.dm
Labels: Balance/Rebalance, Code Improvement, Grammar and Formatting

#6793 fixes the arborlink vault floor until we get these catwalks in check.
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/vaulttango.dmm
Labels: Fix

#6893 [Modular] Journey; Bees for Botany, Green Engineering, and a WRENCH
  _maps/map_files/NSSJourney/NSSJourney.dmm
Labels: Map Edit

#6899 [Modular] ..Fix NSS Journey Toxins?
  _maps/map_files/NSSJourney/NSSJourney.dmm
Labels: Fix, Map Edit

#6902 [MODULAR] Lavaland Samples
  modular_skyrat/modules/cargo/code/bloat.dm
Labels: Feature

#6912 [MODULAR] [Ready] Brushies <3
  modular_skyrat/modules/hairbrush/code/hairbrush.dm
Labels: Fix, Needs Review

#6901 [READY] [FUCK] (Almost a) Complete re-classification of Security's guns
  modular_skyrat/modules/sec_haul/code/guns/ammo.dm
  modular_skyrat/modules/sec_haul/code/guns/bullets.dm
  modular_skyrat/modules/sec_haul/code/guns/guns.dm
  modular_skyrat/modules/sec_haul/code/guns/token_system/gunsets.dm
  modular_skyrat/modules/sec_haul/code/guns/token_system/token_system.dm
Labels: DO NOT MERGE, Feature, Needs Review, Test Merged

#6919 [Semi-Modular] [DEVCON 2] Blacklists vanguards from rolling antagonists.
  code/game/gamemodes/dynamic/dynamic_rulesets_latejoin.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_roundstart.dm
  config/dynamic.json
  modular_skyrat/modules/antagonists/code/gamemodes.dm
Labels: Config Update, Fix

#6920 [Speedmergies] Map Fail Fix
  _maps/RandomZLevels/blackmesa.dmm
Labels: Fix, Map Edit

#6924 major oversight fix on arborlink vault space ruin, replaces turrets.
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/vaulttango.dmm
Labels: Feature, Removal

#6940 [FUCK] Turnstiles are no longer scared of flashlights
  modular_skyrat/modules/mapping/code/modules/genpop/turnstile.dm
Labels: Fix

#6951 Stale-B-Gone
  .github/workflows/stale.yml
Labels: GitHub

#6950 [NONMODULAR][BUGFIX]Weapon examines fixed.
  code/datums/elements/weapon_description.dm
Labels: Fix

#6956 [Modular] Player Reactivity Changes, Volume One
  modular_skyrat/master_files/code/_globalvars/maint_loot_uncommon.dm
  modular_skyrat/modules/aesthetics/posters/contraband.dmi
  modular_skyrat/modules/aesthetics/posters/posters.dm
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/wreckedfriendship.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/wreckedhomestead.dmm
  modular_skyrat/modules/mapping/code/datums/holocall.dm
  modular_skyrat/modules/mapping/code/datums/ruins/space.dm
  tgstation.dme
Labels: Feature, Work In Progress

#6905 [Mostly Modular] Lidocaine and Lidopaine
  code/modules/reagents/reagent_containers/borghydro.dm
  modular_skyrat/modules/modular_reagents/code/reagents/medicine.dm
  modular_skyrat/modules/modular_reagents/code/recipes/medicine_recipes.dm
  tgstation.dme
Labels: Feature

#7016 Reverts infinite showers
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  code/game/objects/structures/shower.dm
  modular_skyrat/master_files/code/game/objects/structures/shower.dm
  tgstation.dme
Labels: Fix, Map Edit, Revert

#7026 [Modular] [Ready] [Bounty] Adds fermentation options for a bunch of plants.
  modular_skyrat/modules/customization/modules/hydroponics/grown/tea_coffee.dm
  modular_skyrat/modules/morefermentplants/code/modules/hydroponics/grown/ambrosia.dm
  modular_skyrat/modules/morefermentplants/code/modules/hydroponics/grown/banana.dm
  modular_skyrat/modules/morefermentplants/code/modules/hydroponics/grown/beans.dm
  modular_skyrat/modules/morefermentplants/code/modules/hydroponics/grown/berries.dm
  modular_skyrat/modules/morefermentplants/code/modules/hydroponics/grown/cannabis.dm
  modular_skyrat/modules/morefermentplants/code/modules/hydroponics/grown/chili.dm
  modular_skyrat/modules/morefermentplants/code/modules/hydroponics/grown/citrus.dm
  modular_skyrat/modules/morefermentplants/code/modules/hydroponics/grown/eggplant.dm
  modular_skyrat/modules/morefermentplants/code/modules/hydroponics/grown/garlic.dm
  modular_skyrat/modules/morefermentplants/code/modules/hydroponics/grown/kudzu.dm
  modular_skyrat/modules/morefermentplants/code/modules/hydroponics/grown/melon.dm
  modular_skyrat/modules/morefermentplants/code/modules/hydroponics/grown/misc.dm
  modular_skyrat/modules/morefermentplants/code/modules/hydroponics/grown/mushrooms.dm
  modular_skyrat/modules/morefermentplants/code/modules/hydroponics/grown/nettle.dm
  modular_skyrat/modules/morefermentplants/code/modules/hydroponics/grown/onion.dm
  modular_skyrat/modules/morefermentplants/code/modules/hydroponics/grown/pineapple.dm
  modular_skyrat/modules/morefermentplants/code/modules/hydroponics/grown/pumpkin.dm
  modular_skyrat/modules/morefermentplants/code/modules/hydroponics/grown/root.dm
  modular_skyrat/modules/morefermentplants/code/modules/hydroponics/grown/tobacco.dm
  modular_skyrat/modules/morefermentplants/code/modules/hydroponics/grown/tomato.dm
  modular_skyrat/modules/morefermentplants/readme.md
  modular_skyrat/modules/morenarcotics/hydroponics/cocoleaves.dm
  modular_skyrat/modules/morenarcotics/hydroponics/opiumpoppy.dm
Labels: Needs Review

#6955 [MOSTLY-MODULAR] Snappy Surrendering and Indicator Code Cleanup.
  code/modules/mob/living/emote.dm
  modular_skyrat/modules/combat_indicator/readme.md
  modular_skyrat/modules/indicators/code/combat_indicator.dm
  modular_skyrat/modules/indicators/code/ssd_indicator.dm
  modular_skyrat/modules/indicators/code/typing_indicator.dm
  modular_skyrat/modules/indicators/icons/combat_indicator.dmi
  modular_skyrat/modules/indicators/icons/ssd_indicator.dmi
  modular_skyrat/modules/indicators/icons/typing_indicator.dmi
  modular_skyrat/modules/indicators/readme.md
  modular_skyrat/modules/ssd_indicator/readme.md
  modular_skyrat/modules/typing_indicator/readme.md
  tgstation.dme
Labels: Code Improvement, Feature

#6984 [semi-modular][ready]YEE HAW! More cowboy clothes!
  code/modules/vending/autodrobe.dm
  code/modules/vending/clothesmate.dm
  code/modules/vending/wardrobes.dm
  modular_skyrat/master_files/icons/mob/clothing/belt.dmi
  modular_skyrat/master_files/icons/mob/clothing/head.dmi
  modular_skyrat/master_files/icons/mob/clothing/neck.dmi
  modular_skyrat/master_files/icons/mob/clothing/suit.dmi
  modular_skyrat/master_files/icons/mob/clothing/uniform.dmi
  modular_skyrat/master_files/icons/obj/clothing/belts.dmi
  modular_skyrat/master_files/icons/obj/clothing/hats.dmi
  modular_skyrat/master_files/icons/obj/clothing/neck.dmi
  modular_skyrat/master_files/icons/obj/clothing/suits.dmi
  modular_skyrat/master_files/icons/obj/clothing/uniforms.dmi
  modular_skyrat/modules/customization/modules/client/loadout/donator/suit.dm
  modular_skyrat/modules/customization/modules/client/loadout/donator/uniform.dm
  modular_skyrat/modules/customization/modules/client/loadout/head.dm
  modular_skyrat/modules/customization/modules/client/loadout/neck.dm
  modular_skyrat/modules/customization/modules/clothing/head/head.dm
  modular_skyrat/modules/customization/modules/clothing/neck/_neck.dm
  modular_skyrat/modules/customization/modules/clothing/neck/cloaks.dm
  modular_skyrat/modules/customization/modules/clothing/storage/belts.dm
  modular_skyrat/modules/customization/modules/clothing/toggle_base.dm
  modular_skyrat/modules/customization/modules/clothing/under/security.dm
  tgstation.dme
Labels: Needs Review

#6256 [WIP][Test merge me please] Rockplanet Revamp!
  _maps/map_files/Mining/Rockplanet.dmm
  code/__DEFINES/maps.dm
  code/__DEFINES/~skyrat_defines/maps.dm
  code/controllers/subsystem/mapping.dm
  code/game/objects/items/cards_ids.dm
  code/modules/admin/verbs/debug.dm
  config/asteroid.txt
  config/rockplanet.txt
  config/skyrat/skyrat_config.txt
  modular_skyrat/master_files/code/_globalvars/configuration.dm
  modular_skyrat/master_files/code/datums/ruins/AsteroidRuins.dm
  modular_skyrat/modules/mapping/_maps/RandomRuins/RockplanetRuins/abandoned_a.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/RockplanetRuins/abandoned_b.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/RockplanetRuins/abandoned_c.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/RockplanetRuins/abandoned_d.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/RockplanetRuins/biodome.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/RockplanetRuins/cozycabin.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/RockplanetRuins/crashedshuttle.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/RockplanetRuins/factory.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/RockplanetRuins/throwback.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/RockplanetRuins/xenohive.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/ancient_satellite.dmm
  modular_skyrat/modules/mapping/code/_unsorted/dungeon.dm
  modular_skyrat/modules/mapping/code/_unsorted/genpop/genpop.dm
  modular_skyrat/modules/mapping/code/_unsorted/genpop/turnstile.dm
  modular_skyrat/modules/mapping/code/_unsorted/pool.dm
  modular_skyrat/modules/mapping/code/_unsorted/radio.dm
  modular_skyrat/modules/mapping/code/_unsorted/slavership/shuttles.dm
  modular_skyrat/modules/mapping/code/datums/ruins/rockplanet.dm
  modular_skyrat/modules/mapping/code/game/area/areas/rockplanet.dm
  modular_skyrat/modules/mapping/code/game/area/areas/ruins/rockplanet.dm
  modular_skyrat/modules/mapping/code/game/turfs/lowpressure.dm
  modular_skyrat/modules/mapping/code/game/turfs/planet_turfs.dm
  modular_skyrat/modules/mapping/code/modules/mob/rockplanet_mobs.dm
  modular_skyrat/modules/mapping/code/sounds/quest_succeeded.ogg
  modular_skyrat/modules/mapping/icons/turf/open/sandychasm.dmi
  modular_skyrat/modules/planets/code/areas/rockplanet.dm
  modular_skyrat/modules/planets/code/mobs/rockplanet_mobs.dm
  modular_skyrat/modules/planets/code/rockplanet.dm
  tgstation.dme
Labels: Balance/Rebalance, Config Update, Feature, Map Edit, Stale-b-gone, Work In Progress

#6891 [NON-MODULAR] Immovable Rods are nicer to people laying down
  code/modules/events/immovable_rod.dm
Labels: Balance/Rebalance, Stale

#6911 [Modular] Fixes NSS Journey Toxins.. again. Also Xenobiology
  _maps/map_files/NSSJourney/NSSJourney.dmm
Labels: Fix, Map Edit, Stale

#7035 Add HoP's Parade Uniform/Suit
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  modular_skyrat/master_files/icons/mob/clothing/suit.dmi
  modular_skyrat/master_files/icons/mob/clothing/uniform.dmi
  modular_skyrat/master_files/icons/obj/clothing/suits.dmi
  modular_skyrat/master_files/icons/obj/clothing/uniforms.dmi
  modular_skyrat/modules/customization/modules/clothing/suits/armor.dm
  modular_skyrat/modules/customization/modules/clothing/under/misc.dm
Labels: Feature

#7029 [SEMI-MODULAR] [READY] I love paramedics
  code/modules/clothing/suits/labcoat.dm
  modular_skyrat/modules/customization/modules/clothing/under/utility_port/suits_port.dm
  modular_skyrat/modules/sec_haul/code/security_medic/secmed_clothes.dm
Labels: Needs Review

#7040 [modular][ready][fix]fixed area error w/ delt det office
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
Labels: Fix, Map Edit, Needs Review

#7041 Spelling and grammar cleanup
  code/modules/vending/autodrobe.dm
  code/modules/vending/clothesmate.dm
  modular_skyrat/modules/customization/modules/client/loadout/head.dm
  modular_skyrat/modules/customization/modules/client/loadout/neck.dm
  modular_skyrat/modules/customization/modules/clothing/head/head.dm
  modular_skyrat/modules/customization/modules/clothing/under/security.dm
Labels: Grammar and Formatting

#6931 [Modular] [Ready] Wake the fuck up, samurai. (Removes robohand from the uplink)
  modular_skyrat/master_files/code/modules/uplink/uplink_items.dm
Labels: Needs Review, Removal, Tweak

#6971 Tweaks the Ants PR to make food decay longer, and no longer decay on lockers/fridges/crates. I was paid $20 to make this PR.
  code/datums/components/food/decomposition.dm
Labels: Balance/Rebalance, Stale-b-gone, Test Merged

#7090 Removes Vatbeasts/Slime nests, Snake Nests, and Toxic Bee nests from SSdecay
  modular_skyrat/modules/decay_subsystem/code/decaySS.dm
  modular_skyrat/modules/decay_subsystem/code/nests.dm
Labels: Balance/Rebalance, Removal

#6932 [Modular] Return of guns to the people, episode IV, the sequel you never wanted.
  modular_skyrat/modules/cargo/code/packs.dm
Labels: Feature

#7004 [NON-MODULAR] Fixes extra job icons, revamps those icons, adds some new ones for the others that didn't have any
  code/controllers/subsystem/job.dm
  icons/mob/hud.dmi
Labels: Fix, Sprites

#6929 [SEMI-MODULAR] Draconic Necklace
  code/modules/antagonists/ashwalker/ashwalker.dm
  modular_skyrat/master_files/icons/mob/clothing/neck.dmi
  modular_skyrat/master_files/icons/obj/clothing/neck.dmi
  modular_skyrat/modules/modular_items/code/datums/components/crafting/recipes/recipes_misc.dm
  modular_skyrat/modules/modular_items/code/game/objects/items/mining/equipment/necklace.dm
  tgstation.dme
Labels: Feature, Sprites

#7055 [NON-MODULAR] Re-adds our changes to cannabis from #5170
  code/modules/hydroponics/grown/cannabis.dm
Labels: Fix

#7073 Fixes alt titles manifest sorting for CDO, Sarge, Secmed
  modular_skyrat/modules/brigoff/code/modules/jobs/job_types/brigoff.dm
  modular_skyrat/modules/sec_haul/code/security_medic/security_medic.dm
  modular_skyrat/modules/sec_haul/code/security_sergeant/security_sergeant.dm
Labels: Fix

#7107 THE QM IS A HEAD THEY ARE THEY AREEEEEE >:(((( (non-modular)
  code/modules/jobs/job_types/quartermaster.dm
Labels: Fix

#7092 [NON-MODULAR] Fixes changing an ID's title correctly sorting it on crew monitoring systems
  code/modules/modular_computers/file_system/programs/card.dm
Labels: Fix

#7125 newline fix
  modular_skyrat/modules/hairbrush/code/mood_events.dm
Labels: Fix

#6886 Rebalances mutants [PENDING TEST]
  modular_skyrat/modules/mutants/code/mutant_cure.dm
  modular_skyrat/modules/mutants/code/mutant_datum.dm
  modular_skyrat/modules/mutants/code/mutant_event.dm
  modular_skyrat/modules/mutants/code/mutant_species.dm
Labels: Stale-b-gone

#6921 Armory minidate
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
  _maps/map_files/NSSJourney/NSSJourney.dmm
  code/__DEFINES/~skyrat_defines/projectiles.dm
  code/game/objects/structures/fence.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/jobs/job_types/warden.dm
  modular_skyrat/modules/aesthetics/rack/code/rack.dm
  modular_skyrat/modules/aesthetics/rack/icons/rack.dmi
  modular_skyrat/modules/sec_haul/code/guns/ammo.dm
  modular_skyrat/modules/sec_haul/code/guns/bullets.dm
  modular_skyrat/modules/sec_haul/code/guns/gun_spawns.dm
  modular_skyrat/modules/sec_haul/code/guns/guns.dm
  modular_skyrat/modules/sec_haul/code/guns/token_system/gunsets.dm
  modular_skyrat/modules/sec_haul/code/guns/token_system/token_system.dm
  modular_skyrat/modules/sec_haul/code/security_sergeant/security_sergeant.dm
  modular_skyrat/modules/sec_haul/icons/guns/mags.dmi
  modular_skyrat/modules/sec_haul/icons/guns/sas14.dmi
  modular_skyrat/modules/sec_haul/icons/guns/spawner.dmi
  modular_skyrat/modules/sec_haul/sound/shotgun_bm.ogg
  tgstation.dme
Labels: Balance/Rebalance, Map Edit, Stale-b-gone, Test Merged

#6669 Revert "Synthetic wounds"
  code/__DEFINES/wounds.dm
  code/datums/wounds/_wounds.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/robotic.dm
  modular_skyrat/modules/more_wounds/code/readme.md
  modular_skyrat/modules/more_wounds/code/synthetic/burn.dm
  modular_skyrat/modules/more_wounds/code/synthetic/muscle.dm
  modular_skyrat/modules/more_wounds/code/synthetic/pierce.dm
  modular_skyrat/modules/more_wounds/code/synthetic/slash.dm
  tgstation.dme
Labels: Revert, Stale-b-gone, Test Merged

#7076 GUBMAN 3.2: "Man, this fucking sucks!"
  html/changelogs/archive/2021-07.yml
  modular_skyrat/modules/gunsgalore/code/ammo/ammo.dm
  modular_skyrat/modules/gunsgalore/code/guns/akm/akm.dm
  modular_skyrat/modules/gunsgalore/code/guns/m16/m16.dm
Labels: Balance/Rebalance

#7093 [nonmodular] gatto
  code/modules/language/nekomimetic.dm
Labels: Fix

#7116 disabler
  modular_skyrat/modules/sec_haul/code/security_sergeant/security_sergeant.dm
Labels: Fix

#7117 [MODULAR] Lets pens be constructed at autolathes.
  modular_skyrat/modules/hyposprays/code/game/autolathe_designs.dm
Labels: Feature

#7112 ["Non-Modular"] Magic mirrors are no longer scared of colorful ears and tails
  code/game/objects/structures/mirror.dm
Labels: Fix

#6808 [SEMI-MODULAR] Engineering Cyborg Advanced Materials Upgrade
  code/modules/research/techweb/all_nodes.dm
  modular_skyrat/modules/cyborg/code/mechafabricator_designs.dm
  modular_skyrat/modules/cyborg/code/robot_upgrades.dm
Labels: Feature, Needs Head Input, Test Merged

#7163 Linter be good now
  html/changelogs/archive/2021-07.yml
Labels: Fix

#7147 [NON-MODULAR] Events Roll Less Often
  code/controllers/subsystem/events.dm
  modular_skyrat/modules/cme/code/cme.dm
Labels: Balance/Rebalance

#7136 Fixes Toggle Component (just a poncho right now)
  modular_skyrat/modules/customization/modules/clothing/toggle_base.dm
Labels: Fix

#7198 Map fixes + MAP RESET MAJOR
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/KiloStation/KiloStation_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
  _maps/map_files/WaterKiloStation/WaterKiloStation.dmm
  _maps/map_files/generic/CentCom_skyrat.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/map_files/tramstation/tramstation_skyrat.dmm
  _maps/map_files/tramstation/tramstation_skyrat_old.dmm
  _maps/skyrat/ruins/dangerous_research.dmm
  _maps/skyrat/ruins/dungeon.dmm
  modular_skyrat/modules/faction/maps/shuttles/tradership_faction.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/dangerous_research.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/polychromicfacility.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/toystore.dmm
Labels: Map Edit

#7187 Ronin Curator bundle
  code/game/objects/items/miscellaneous.dm
  code/game/objects/items/weaponry.dm
Labels: Feature

#7175 Stop test merges from going stale!
  .github/workflows/stale.yml
Labels: GitHub

#7168 [MODULAR]Traitor syndicate borgs (again)
  modular_skyrat/modules/skyrat-uplinks/code/borgupgrades.dm
Labels: Feature

#7160 [NONMODULAR] Nerfs Bio-reconstruction & Dermal Hardening.
  code/modules/research/nanites/nanite_programs/buffing.dm
  code/modules/research/nanites/nanite_programs/healing.dm
Labels: Balance/Rebalance

#7159 Makes monkeys immortal
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
Labels: Fix, Map Edit

#7111 [Modular] Rockplanet Ghostroles + Fixes
  _maps/map_files/Mining/Rockplanet.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/RockplanetRuins/rockplanet_surface_syndicate_base1_skyrat.dmm
  modular_skyrat/modules/mapping/code/datums/ruins/icemoon.dm
  modular_skyrat/modules/mapping/code/datums/ruins/lavaland.dm
  modular_skyrat/modules/mapping/code/datums/ruins/rockplanet.dm
  modular_skyrat/modules/mapping/code/game/area/areas/rockplanet.dm
  tgstation.dme
Labels: Fix, Map Edit

#7120 [MODULAR] Black Market Dealer QOL
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/blackmarket.dmm
Labels: Feature

#7178 [Modular] Disables cybersun codewise because the box people won't
  modular_skyrat/modules/mapping/code/datums/ruins/space.dm
Labels: Removal

#7089 [READY] [MODULAR] Adds Japanese language
  code/modules/surgery/organs/tongue.dm
  modular_skyrat/master_files/icons/misc/language.dmi
  modular_skyrat/modules/customization/modules/culture/culture/culture_generic.dm
  modular_skyrat/modules/customization/modules/language/japanese.dm
  modular_skyrat/modules/customization/modules/language/zolmach.dm
  tgstation.dme
Labels: Feature, Needs Review

#7068 Adds Plumbing Units to Research, Adds New Mining Plumber
  code/modules/research/techweb/all_nodes.dm
  modular_skyrat/master_files/code/game/objects/items/RCD.dm
  modular_skyrat/master_files/code/modules/research/designs/misc_designs.dm
  modular_skyrat/modules/aesthetics/tools/tools.dmi
Labels: Feature

#6546 [READY][MOSTLY MODULAR] Mediguns!
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/modules/research/techweb/all_nodes.dm
  modular_skyrat/modules/cargo/code/packs.dm
  modular_skyrat/modules/modular_weapons/code/datums/components/crafting/recipes.dm
  modular_skyrat/modules/modular_weapons/code/modules/projectiles/guns/energy/medgun/medcells.dm
  modular_skyrat/modules/modular_weapons/code/modules/projectiles/guns/energy/medgun/medguns.dm
  modular_skyrat/modules/modular_weapons/code/modules/research/designs/mediguns.dm
  modular_skyrat/modules/modular_weapons/icons/obj/guns/mediguns/projectile.dmi
  modular_skyrat/modules/modular_weapons/icons/obj/upgrades.dmi
  tgstation.dme
Labels: Feature, Needs Review

#7212 [MODULAR] Remove nanites
  modular_skyrat/modules/altjobtitles/code/_job.dm
Labels: Removal

#7213 OOPS MANY FIXES
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
  _maps/map_files/WaterKiloStation/WaterKiloStation.dmm
  modular_skyrat/modules/blueshield/code/modules/jobs/job_types/blueshield.dm
  modular_skyrat/modules/brigoff/code/modules/jobs/job_types/brigoff.dm
  modular_skyrat/modules/exp_corps/code/expeditionary_trooper.dm
  modular_skyrat/modules/nanotrasen_rep/code/nanotrasen_representative.dm
  modular_skyrat/modules/sec_haul/code/junior_officer/junior_officer.dm
  modular_skyrat/modules/sec_haul/code/security_medic/security_medic.dm
  modular_skyrat/modules/sec_haul/code/security_sergeant/security_sergeant.dm
Labels: Map Edit

#7219 [MODULAR] MEDIGUN FIXES AND TWEAKS
  modular_skyrat/modules/cargo/code/packs.dm
  modular_skyrat/modules/modular_weapons/code/modules/projectiles/guns/energy/medgun/medcells.dm
Labels: Balance/Rebalance

#7222 [Modular] More Nanite Removal Fixes
  modular_skyrat/modules/mapping/_maps/RandomRuins/IceRuins/icemoon_underground_syndicate_base1_skyrat.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1_skyrat.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/RockplanetRuins/rockplanet_surface_syndicate_base1_skyrat.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/interdynefob.dmm
Labels: Fix

#7224 SEVA properly protects clothes
  modular_skyrat/modules/SEVA_suit/seva_obj.dm
Labels: Fix

#7243 [MODULAR] The Beret-lliant Update
  code/datums/greyscale/config_types/greyscale_configs.dm
  code/modules/vending/wardrobes.dm
  modular_skyrat/modules/berets/code/datums/greyscale/config_types/greyscale_configs.dm
  modular_skyrat/modules/berets/code/datums/greyscale/json_configs/beret.json
  modular_skyrat/modules/berets/code/datums/greyscale/json_configs/beret_badge.json
  modular_skyrat/modules/berets/code/datums/greyscale/json_configs/beret_badge_fancy.json
  modular_skyrat/modules/berets/code/datums/greyscale/json_configs/beret_badge_fancy_worn.json
  modular_skyrat/modules/berets/code/datums/greyscale/json_configs/beret_badge_worn.json
  modular_skyrat/modules/berets/code/datums/greyscale/json_configs/beret_worn.json
  modular_skyrat/modules/berets/code/modules/clothing/head/jobs.dm
  modular_skyrat/modules/berets/icons/obj/clothing/head/beret.dmi
  modular_skyrat/modules/blueshield/code/modules/clothing/head/jobs.dm
  modular_skyrat/modules/customization/modules/client/loadout/head.dm
  modular_skyrat/modules/customization/modules/clothing/head/head.dm
  modular_skyrat/modules/customization/modules/clothing/under/utility_port/other_port.dm
  modular_skyrat/modules/mapping/code/game/objects/structures/ghost_role_spawners.dm
  modular_skyrat/modules/nanotrasen_rep/code/clothing.dm
  modular_skyrat/modules/nanotrasen_rep/code/nanotrasen_representative.dm
  modular_skyrat/modules/sec_haul/code/guns/token_system/gunsets.dm
  modular_skyrat/modules/sec_haul/code/misc/vending.dm
  modular_skyrat/modules/sec_haul/code/peacekeeper/armadyne_clothing.dm
  modular_skyrat/modules/sec_haul/code/peacekeeper/peacekeeper_clothing.dm
  modular_skyrat/modules/sec_haul/code/security_medic/secmed_clothes.dm
  modular_skyrat/modules/sec_haul/code/security_sergeant/secseg_clothes.dm
  modular_skyrat/modules/sec_haul/code/security_sergeant/security_sergeant.dm
  tgstation.dme
Labels: Refactor
