Repository Skyrat-SS13/Skyrat-tg, pull requests merged in 2021-10, with the labels that each got.

#8516 [Fug] Interdyne and DS-2 have windows again!
  modular_skyrat/modules/mapping/_maps/RandomRuins/IceRuins/icemoon_underground_syndicate_base1_skyrat.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1_skyrat.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/RockplanetRuins/rockplanet_surface_syndicate_base1_skyrat.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/interdynefob.dmm
Labels: Fix

#8517 [nonmodular] hopefully fixes the blue screen of death in the augmentations/limb markings page
  tgui/packages/tgui/interfaces/PreferencesMenu/LimbsPage.tsx
Labels: UI

#8522 [modular?] allows the boxes in the examine menu to use newlines again
  tgui/packages/tgui/interfaces/ExaminePanel.js
Labels: UI

#8528 Fixes, QoL & minor expansion of Icebox Security
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above_skyrat.dmm
Labels: Fix, Map Edit

#8530 Fix rendering
  modular_skyrat/modules/pollution/code/plane_master.dm
Labels: Fix

#8532 [FIX] Black Mesa CI Failure [MDB IGNORE]
  _maps/RandomZLevels/blackmesa.dmm
Labels: Fix, Map Edit

#8533 [FIX] Pirate Enclave CI Fix [MDB IGNORE]
  _maps/shuttles/pirate_enclave.dmm
Labels: Fix, Map Edit

#8527 [modular] ghost cafe borg name fix + loadout in the ghost cafe
  modular_skyrat/modules/ghostcafe/code/game/objects/structures/ghost_role_spawners.dm
Labels: Fix

#8523 [MODULAR][READY][TECHNICALLY A FIX] Cargodise Lost 2
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/cargodiselost.dmm
Labels: Needs Review

#8459 [modular][ready]boosts clothing numbers in everyone vendors
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_heads.dm
  modular_skyrat/modules/modular_vending/code/autodrobe.dm
  modular_skyrat/modules/modular_vending/code/clothesmate.dm
  modular_skyrat/modules/modular_vending/code/megaseed.dm
  modular_skyrat/modules/modular_vending/code/wardrobes.dm
Labels: Fix, Needs Review

#8136 Makes it so cyborgs can get the affection modules again after getting their model reset
  code/modules/mob/living/silicon/robot/robot.dm
  modular_skyrat/modules/cyborg/code/robot_upgrades.dm
Labels: Fix

#8561 Yet another render one line fix
  code/__DEFINES/layers.dm
Labels: Fix

#8574 Bugfix for #8456
  _maps/map_files/NSSJourney/NSSJourney.dmm
Labels: Fix, Map Edit

#8575 Fixes most if not all space ruins with wrong paths
  modular_skyrat/modules/mapping/_maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1_skyrat.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/alientoollab.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/blackmarket.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/codealpha.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/dangerous_research.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/derelictferry.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/ghostship.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/outoftime.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/posterpandamonium.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/prisonshuttle.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/salvagepost.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/shuttle8532.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/smugglies.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/vaulttango.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/waypointstation.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/wreckedhomestead.dmm
Labels: Fix

#8576 Glue
  modular_skyrat/master_files/icons/obj/tools.dmi
Labels: Sprites

#8577 [modular][fix] ok so for some reason all the ushankas shared the same datum
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_heads.dm
Labels: Fix

#8506 [MODULAR] Conversion Kits Framework
  modular_skyrat/master_files/icons/donator/obj/kits.dmi
  modular_skyrat/modules/customization/game/objects/items/conversion_kits.dm
  tgstation.dme
Labels: Feature

#8592 [Modular] Breastmilk production now consumes nutrition instead of adding it
  modular_skyrat/modules/modular_items/lewd_items/code/arousal_system.dm
Labels: Fix

#8557 [MODULAR][MAP EDITS][FIX] Cargodise fixes, this time final hopefully
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/cargodiselost.dmm
Labels: Feature

#8573 [modular] fixes the markings/augmentations menu, attempt number 2
  modular_skyrat/master_files/code/modules/client/preferences/middleware/limbs_and_markings.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/LimbsPage.tsx
Labels: UI

#8150 New benis sprites for taur
  modular_skyrat/master_files/icons/mob/sprite_accessory/genitals/taur_penis_onmob.dmi
Labels: Sprites

#8586 More halloween costumes in loadout
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_heads.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_masks.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_suit.dm
Labels: Feature, Good First PR

#8595 Mirrors funny-button changes ignored in #8572 and fixes SM windows
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/KiloStation/KiloStation_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
  _maps/map_files/NSSJourney/NSSJourney.dmm
  _maps/map_files/WaterKiloStation/WaterKiloStation.dmm
  _maps/map_files/tramstation/tramstation_skyrat.dmm
Labels: Fix, Map Edit

#8548 Fixes missing color for undershirt/socks
  code/game/objects/structures/dresser.dm
  code/modules/client/preferences/clothing.dm
  modular_skyrat/master_files/code/modules/client/preferences/underwear_color.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/skyrat/species_features.tsx
Labels: UI, Fix

#8598 re-adds the pink tutu to loadout
  modular_skyrat/modules/loadouts/loadout_items/under/loadout_datum_under.dm
Labels: Fix

#8602 [MODULAR] adds ID icons/HUD icons for upcoming department guards
  modular_skyrat/master_files/icons/mob/hud.dmi
  modular_skyrat/master_files/icons/obj/card.dmi
Labels: Sprites

#8606 [modular] makes the secshanka a ushanka subtype
  modular_skyrat/modules/customization/modules/clothing/head/head.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_heads.dm
  modular_skyrat/modules/sec_haul/code/misc/vending.dm
Labels: Fix

#8604 [semimodular] stops the mutant_bodyparts from not updating and causing ghost images
  code/modules/client/preferences.dm
  modular_skyrat/master_files/code/modules/client/preferences_savefile.dm
Labels: Fix

#8632 GBP point values reset to /tg/station
  .github/gbp.toml
Labels: GitHub

#8638 Less suitcases lying around the Interlink
  modular_skyrat/master_files/code/modules/client/preferences/loadout_override_preference.dm
Labels: Fix

#9129 Fixing the Veteran-only quirks
  code/modules/client/preferences/middleware/quirks.dm
  config/skyrat/veteran_players.txt
  tgui/packages/tgui/interfaces/PreferencesMenu/QuirksPage.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/data.ts
Labels: UI, Fix, Config Update, hacktoberfest-accepted

#9092 Moves the Military VOX Announcer voice to Malf-AI only and improves VOX Announcer voice code
  code/modules/antagonists/malf_ai/datum_malf_ai.dm
  modular_skyrat/modules/alt_vox/code/vox_procs.dm
Labels: Fix, Code Improvement, Content Expansion

#9168 refactor reagent forging
  modular_skyrat/modules/reagent_forging/code/modules/reagent_forging/forge.dm
  modular_skyrat/modules/reagent_forging/code/modules/reagent_forging/forge_clothing.dm
  modular_skyrat/modules/reagent_forging/code/modules/reagent_forging/forge_items.dm
  modular_skyrat/modules/reagent_forging/code/modules/reagent_forging/forge_recipes.dm
  modular_skyrat/modules/reagent_forging/code/modules/reagent_forging/forge_weapons.dm
  modular_skyrat/modules/reagent_forging/code/modules/reagent_forging/reagent_component.dm
  modular_skyrat/modules/reagent_forging/icons/mob/forge_clothing.dmi
  modular_skyrat/modules/reagent_forging/icons/mob/forge_weapon_l.dmi
  modular_skyrat/modules/reagent_forging/icons/mob/forge_weapon_r.dmi
  modular_skyrat/modules/reagent_forging/icons/obj/forge_clothing.dmi
  modular_skyrat/modules/reagent_forging/icons/obj/forge_items.dmi
  tgstation.dme
Labels: Feature, Removal, Refactor

#9152 Fixes #9151 and cleans up some jank with barbervend.dm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  modular_skyrat/modules/salon/code/barbervend.dm
Labels: Fix, hacktoberfest-accepted

#8390 [Modular][Ready] Winterized Syndicate hardsuit conversion kit
  modular_skyrat/master_files/icons/donator/obj/kits.dmi
  modular_skyrat/master_files/icons/mob/clothing/head.dmi
  modular_skyrat/master_files/icons/mob/clothing/head_muzzled.dmi
  modular_skyrat/master_files/icons/mob/clothing/suit.dmi
  modular_skyrat/master_files/icons/mob/clothing/suit_digi.dmi
  modular_skyrat/master_files/icons/mob/clothing/suit_taur_snake.dmi
  modular_skyrat/master_files/icons/obj/clothing/hats.dmi
  modular_skyrat/master_files/icons/obj/clothing/suits.dmi
  modular_skyrat/modules/Winter-hardsuit/code/clothing/suit/winter_hardsuit.dm
  modular_skyrat/modules/mapping/_maps/RandomRuins/IceRuins/icemoon_underground_syndicate_base1_skyrat.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1_skyrat.dmm
  modular_skyrat/modules/mapping/_maps/RandomRuins/SpaceRuins/interdynefob.dmm
  tgstation.dme
Labels: Feature, Needs Review, Refactor, hacktoberfest-accepted

#9167 [MODULAR] nerfs pod people, but in a better way.
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/podweak.dm
Labels: Balance/Rebalance

#9024 Rebalance makeshift tools, remove makeshift hammer
  modular_skyrat/modules/modular_items/code/datums/components/crafting/recipes/recipes_misc.dm
  modular_skyrat/modules/modular_items/code/game/objects/items/miscellaneous.dm
  modular_skyrat/modules/modular_items/code/game/objects/items/tools/makeshift.dm
Labels: Balance/Rebalance, Removal

#9128 Loadout auto-GAGS
  modular_skyrat/modules/loadouts/loadout_items/_loadout_datum.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_heads.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_shoes.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_suit.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_toys.dm
  modular_skyrat/modules/loadouts/loadout_items/under/loadout_datum_under.dm
  modular_skyrat/modules/loadouts/loadout_ui/loadout_manager.dm
Labels: Feature, Code Improvement, hacktoberfest-accepted
