Repository Skyrat-SS13/Skyrat-tg, pull requests merged in 2022-12, with the labels that each got.

#17600 Adds a toggle for BSRPD remote piping
  modular_skyrat/modules/bsrpd/code/bsrpd.dm
Labels: Quality of Life

#17763 Modular Suit Sorting A: Labcoats
  _maps/RandomRuins/SpaceRuins/skyrat/interdynefob.dmm
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/items/storage/garment.dm
  code/modules/research/designs/medical_designs.dm
  modular_skyrat/master_files/code/modules/clothing/clothing_variation_overrides/under.dm
  modular_skyrat/master_files/code/modules/clothing/suits/labcoat.dm
  modular_skyrat/master_files/icons/mob/clothing/suits/labcoat.dmi
  modular_skyrat/master_files/icons/mob/clothing/suits/labcoat_digi.dmi
  modular_skyrat/master_files/icons/obj/clothing/suits/labcoat.dmi
  modular_skyrat/modules/aesthetics/clothing/clothing.dm
  modular_skyrat/modules/cellguns/code/medigun_cells.dm
  modular_skyrat/modules/customization/modules/clothing/suits/misc.dm
  modular_skyrat/modules/customization/modules/clothing/under/utility_port/suits_port.dm
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/genitals.dm
  modular_skyrat/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_suit.dm
  modular_skyrat/modules/mapping/voidraptor/code/clothing.dm
  modular_skyrat/modules/modular_vending/code/wardrobes.dm
  modular_skyrat/modules/roboclothes/code/robotics_clothing.dm
  modular_skyrat/modules/sec_haul/code/security_medic/secmed_clothes.dm
  modular_skyrat/modules/sec_haul/code/security_medic/security_medic.dm
  tgstation.dme
Labels: Fix, Sprites

#17807 Adds a subtype of that coat I added that's slightly shorter
  modular_skyrat/modules/GAGS/greyscale_configs.dm
  modular_skyrat/modules/GAGS/json_configs/suits/tailored_short_jacket/tailored_short_jacket.json
  modular_skyrat/modules/GAGS/json_configs/suits/tailored_short_jacket/tailored_short_jacket_worn.json
  modular_skyrat/modules/customization/modules/clothing/suits/coats.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_suit.dm
Labels: Feature

#17868 Removed cell component from megaphone
  code/game/objects/items/devices/megaphone.dm
Labels: Removal

#17861 Digi Berserker Amor
  code/modules/mining/lavaland/tendril_loot.dm
  modular_skyrat/master_files/icons/mob/clothing/suit_digi.dmi
Labels: Sprites

#17896 Fix of the error icon when trying to get SEVA suit
  modular_skyrat/modules/SEVA_suit/code/suit_voucher.dm
Labels: Fix

#17819 Undoes the disaster that is having two different 9mm and 10mm rounds when you can achieve the same exact thing with a single var on the gun
  _maps/RandomRuins/SpaceRuins/skyrat/dangerous_research.dmm
  _maps/RandomZLevels/blackmesa.dmm
  code/__DEFINES/~skyrat_defines/projectiles.dm
  code/modules/projectiles/ammunition/ballistic/pistol.dm
  code/modules/projectiles/boxes_magazines/external/rifle.dm
  code/modules/research/designs/autolathe_designs.dm
  modular_skyrat/master_files/code/modules/projectiles/guns/ballistic/automatic.dm
  modular_skyrat/modules/black_mesa/code/guns.dm
  modular_skyrat/modules/black_mesa/code/mobs/human_mobs.dm
  modular_skyrat/modules/black_mesa/code/turrets.dm
  modular_skyrat/modules/company_imports/code/armament_datums/vitezstvi_ammo.dm
  modular_skyrat/modules/modular_weapons/code/autolathe_designs.dm
  modular_skyrat/modules/modular_weapons/code/modular_projectiles.dm
  modular_skyrat/modules/novaya_ert/code/advanced_choice_beacon.dm
  modular_skyrat/modules/sec_haul/code/guns/ammo.dm
  modular_skyrat/modules/sec_haul/code/guns/bullets.dm
  modular_skyrat/modules/sec_haul/code/guns/cmg.dm
  modular_skyrat/modules/sec_haul/code/guns/guns.dm
  modular_skyrat/modules/sec_haul/code/guns/token_system/gunsets.dm
  modular_skyrat/modules/sec_haul/icons/guns/projectiles.dmi
Labels: Balance, Quality of Life

#17872 [MODULAR] Fixes mops double acting when cleaning up liquids
  code/game/objects/items/mop.dm
  code/modules/reagents/reagent_containers.dm
  modular_skyrat/modules/liquids/code/mop.dm
  modular_skyrat/modules/liquids/code/reagent_containers.dm
  tgstation.dme
Labels: Fix

#17842 [MODULAR] Fixes undefined var for tram
  modular_skyrat/master_files/code/modules/industrial_lift/industrial_lift.dm
  tgstation.dme
Labels: Fix

#17910 Teshari SEVA Sprites
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/head.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/mask.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/suit.dmi
  modular_skyrat/modules/SEVA_suit/code/seva_obj.dm
Labels: Sprites

#17919 webedit health analyzer rmb fix
  code/game/objects/items/devices/scanners/health_analyzer.dm
Labels: Fix

#17857 Void Raptor - Fixes various new bugs
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Fix

#17963 Runtime in examine.dm, line 52: Cannot read null.prefs
  code/modules/mob/living/silicon/robot/examine.dm
Labels: Fix

#17372 MOD Hardlight (Refactors how sprite accessories handle MODs)
  code/modules/mod/mod_activation.dm
  code/modules/mod/mod_control.dm
  code/modules/mod/mod_theme.dm
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_lizard.png
  modular_skyrat/modules/better_vox/code/vox_sprite_accessories.dm
  modular_skyrat/modules/customization/modules/clothing/suits/modsuit_tailsprites.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/ears.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/frills.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/horns.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/ipc.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/moth_antennae.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/neck_accessory.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/synthliz.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/tails.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/wings.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/xeno.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/MOD_sprite_accessories/icons/MOD_mask.dmi
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/MOD_sprite_accessories/icons/radial.dmi
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/MOD_sprite_accessories/mod_accessory_handler.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/MOD_sprite_accessories/mod_actions.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/MOD_sprite_accessories/mod_themes.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/human.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/human_defines.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species.dm
  tgstation.dme
Labels: Feature, Code Improvement, Refactor, Test Merged

#17964 silicon_alt_brains.dm, line 55: Cannot read null.type
  modular_skyrat/modules/customization/modules/surgery/organs/silicon_alt_brains.dm
Labels: Fix

#17965 Fix briefcase loadout option deleting handheld items
  modular_skyrat/modules/loadouts/loadout_ui/loadout_outfit_helpers.dm
Labels: Fix

#18013 Makes Angel, Dragon and Robotic wings available in the preferences menu again
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/wings.dm
Labels: Fix

#18049 [fix] fixes det revolver icons
  modular_skyrat/modules/aesthetics/guns/icons/guns.dmi
Labels: Fix

#18015 Fix: Self-Actualization Device Doubling Damage
  modular_skyrat/modules/self_actualization_device/code/self_actualization_device.dm
Labels: Fix

#17605 OPFORs now have json import/export
  modular_skyrat/modules/opposing_force/code/opposing_force_datum.dm
  tgui/packages/tgui/interfaces/OpposingForcePanel.js
Labels: Feature

#18116 Making an important mission-critical change to red Christmas boots (moves one of the states of the icon by one pixel)
  modular_skyrat/master_files/icons/mob/clothing/feet.dmi
Labels: Fix, Sprites

#17968 Adds privacy curtains to the station maps
  _maps/skyrat/automapper/automapper_config.toml
  _maps/skyrat/automapper/templates/deltastation/deltastation_prison_privacy.dmm
  _maps/skyrat/automapper/templates/metastation/metastation_prison_privacy.dmm
  _maps/skyrat/automapper/templates/tramstation/tramstation_prison_privacy.dmm
Labels: Quality of Life, Host Request

#18129 [MODULAR] Removes Duplicate Law in God Complex Laws!
  modular_skyrat/master_files/code/datums/ai_laws.dm
Labels: Fix, Removal

#18130 [NON-MODULAR] Sets Pixel-Scaling for the Prefs Menu!
  code/modules/client/preferences.dm
Labels: Quality of Life

#18136 [MODULAR] Bumbles is now a basic mob.
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  code/modules/unit_tests/simple_animal_freeze.dm
  modular_skyrat/master_files/code/modules/mob/living/simple_animal/friendly/bumbles.dm
  modular_skyrat/modules/automapper/code/area_spawn_entries.dm
Labels: Feature

#18144 Minor Map Change - Rename Interlink Fax machine
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
Labels: Fix

#17913 Adds three new ear sprites
  modular_skyrat/master_files/icons/mob/sprite_accessory/ears.dmi
  modular_skyrat/master_files/icons/mob/sprite_accessory/ears_big.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/ears.dm
Labels: Feature, Sprites

#18163 [FIX] Bunker pass-throughs will now load correctly.
  modular_skyrat/modules/panicbunker/code/panicbunker.dm
Labels: Fix

#17561 Add: Cybernetic Tongue & Augments Tweak
  code/modules/research/techweb/all_nodes.dm
  modular_skyrat/master_files/code/modules/client/preferences/middleware/limbs_and_markings.dm
  modular_skyrat/master_files/code/modules/research/designs/medical_designs.dm
  modular_skyrat/modules/customization/modules/client/augment/limbs.dm
  modular_skyrat/modules/customization/modules/client/augment/organs.dm
  modular_skyrat/modules/organs/code/tongue.dm
  modular_skyrat/modules/organs/icons/cyber_tongue.dmi
  tgstation.dme
Labels: Feature, Quality of Life

#18155 [FUCK] Fixes Void Raptor Shuttles
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Fix

#17377 Fixes Modsuits Self-QDEL from an Assert Failure when removing while retracted.
  code/modules/mod/mod_control.dm
Labels: Fix

#18194 [MODULAR] Fixes Latejoin Veteran Check For Admins
  modular_skyrat/modules/veteran_players/code/veteran_players.dm
Labels: Fix

#18198 [MODULAR] Christmas tree has a whitelist for presents
  modular_skyrat/modules/holidays/flora.dm
  tgstation.dme
Labels: Feature

#17803 Actually for real de-cocks the cargo shuttles (#17786 alternative)
  _maps/shuttles/skyrat/cargo_delta_skyrat.dmm
  _maps/shuttles/skyrat/cargo_skyrat.dmm
  code/modules/shuttle/supply.dm
  modular_skyrat/modules/mapping/code/areas/shuttles.dm
Labels: Removal, Stale, Mapping

#18002 Space Hotel quick fix
  _maps/RandomRuins/SpaceRuins/spacehotel_skyrat.dmm
Labels: Fix

#18048 Void Raptor - Mapping fixes
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Fix, Mapping

#17962 Voidraptor christmas tree addition
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Fix

#18106 [MODULAR] contraband.dmi is no longer a hard override on posters
  modular_skyrat/modules/aesthetics/posters/contraband.dmi
  modular_skyrat/modules/aesthetics/posters/posters.dm
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
Labels: Fix, Stale

#18289 Feathery(Featherful) moth wings fix
  modular_skyrat/master_files/icons/mob/sprite_accessory/moth_wings.dmi
Labels: Fix

#18326 Fixes a donator item
  modular_skyrat/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
Labels: Fix

#18342 [BackgroundsV2 Project] [MODULAR] Removes Old Unused Culture Code
  code/__DEFINES/~skyrat_defines/culture.dm
  modular_skyrat/modules/customization/__HELPERS/global_lists.dm
  modular_skyrat/modules/customization/modules/culture/cultural_info.dm
  modular_skyrat/modules/customization/modules/culture/culture/_culture.dm
  modular_skyrat/modules/customization/modules/culture/culture/culture_generic.dm
  modular_skyrat/modules/customization/modules/culture/culture/culture_lizard.dm
  modular_skyrat/modules/customization/modules/culture/culture/culture_xeno.dm
  modular_skyrat/modules/customization/modules/culture/faction/_faction.dm
  modular_skyrat/modules/customization/modules/culture/faction/faction_generic.dm
  modular_skyrat/modules/customization/modules/culture/location/_location.dm
  modular_skyrat/modules/customization/modules/culture/location/location_generic.dm
  tgstation.dme
Labels: Removal, GBP: No Update, Project

#18332 Changed Syndi-Fox to be have a basic ai controller
  _maps/RandomRuins/SpaceRuins/skyrat/interdynefob.dmm
  modular_skyrat/master_files/code/modules/mob/living/simple_animal/friendly/syndicatefox.dm
Labels: Fix

#18317 Adds a footnote for Spriters and Mappers in `Proof of Testing`
  .github/PULL_REQUEST_TEMPLATE.md
Labels: GitHub

#18211 Fixes missing monkey cube and donk pocket boxes
  modular_skyrat/modules/aesthetics/storage/storage.dm
  modular_skyrat/modules/aesthetics/storage/storage.dmi
Labels: Fix

#18353 [Kinda A Priority] Fixes Free Cargo.
  code/modules/cargo/orderconsole.dm
  code/modules/shuttle/supply.dm
Labels: Fix

#18285 Teshari Sprites Pack: Winter Coats, Satchels and other small things
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/back.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/eyes.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/head.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/suit.dmi
Labels: Sprites

#17813 Moves modular uplink items into a module rather than master files + Removes some of the goofy ahh items we had available to traitors
  code/modules/unit_tests/simple_animal_freeze.dm
  code/modules/uplink/uplink_items/dangerous.dm
  modular_skyrat/master_files/code/modules/uplink/uplink_items.dm
  modular_skyrat/modules/cortical_borer/code/cortical_borer_egg.dm
  modular_skyrat/modules/modular_items/code/goosenade.dm
  modular_skyrat/modules/opposing_force/code/equipment/explosives.dm
  modular_skyrat/modules/shotgunrebalance/code/uplink.dm
  modular_skyrat/modules/skyrat-uplinks/code/borgupgrades.dm
  modular_skyrat/modules/skyrat-uplinks/code/categories/bundles.dm
  modular_skyrat/modules/skyrat-uplinks/code/categories/dangerous.dm
  modular_skyrat/modules/skyrat-uplinks/code/categories/device_tools.dm
  modular_skyrat/modules/skyrat-uplinks/code/categories/stealthy_tools.dm
  modular_skyrat/modules/skyrat-uplinks/code/categories/stealthy_weapons.dm
  modular_skyrat/modules/skyrat-uplinks/code/categories/suits.dm
  modular_skyrat/modules/skyrat-uplinks/code/uplink_implant.dm
  tgstation.dme
Labels: Balance, Removal, Code Improvement, Test Merged

#18183 [MODULAR] fixes borer roundend report
  modular_skyrat/modules/cortical_borer/code/cortical_borer.dm
  modular_skyrat/modules/cortical_borer/code/cortical_borer_antag.dm
Labels: Fix

#18287 Security Tallborg
  modular_skyrat/modules/altborgs/code/robot_model.dm
  modular_skyrat/modules/altborgs/icons/tallborg/tallrobot_sec.dmi
Labels: Feature, Sprites

#18252 Void Raptor - AI Sat Power isolation and fixes to the mini-powernet - removes the alien blob of a building above chapel
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Fix

#17467 Space ruins that annoyed me part 1: Blackmarket trader, abandoned satellite, alien tool lab
  _maps/RandomRuins/SpaceRuins/skyrat/alientoollab.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/ancient_satellite.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/blackmarket.dmm
  modular_skyrat/modules/mapping/code/areas/space.dm
Labels: Feature

#18283 Void Raptor Security door access fix
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Fix

#18047 [MODULAR] Removes that One Vox Primalis Hairstyle That's Bugged!
  modular_skyrat/modules/better_vox/code/vox_sprite_accessories.dm
Labels: Fix, Removal, Test Merge Candidate

#17455 Fairly large assault operatives changes
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  _maps/shuttles/skyrat/goldeneye_cruiser.dmm
  modular_skyrat/master_files/icons/mob/mod.dmi
  modular_skyrat/modules/armaments/code/armament_station.dm
  modular_skyrat/modules/assault_operatives/code/areas.dm
  modular_skyrat/modules/assault_operatives/code/armaments/_armament_primary.dm
  modular_skyrat/modules/assault_operatives/code/armaments/_armament_secondary.dm
  modular_skyrat/modules/assault_operatives/code/armaments/armament_explosives.dm
  modular_skyrat/modules/assault_operatives/code/armaments/armament_implants.dm
  modular_skyrat/modules/assault_operatives/code/armaments/armament_medical.dm
  modular_skyrat/modules/assault_operatives/code/armaments/armament_melee.dm
  modular_skyrat/modules/assault_operatives/code/armaments/armament_modules.dm
  modular_skyrat/modules/assault_operatives/code/armaments/armament_utility.dm
  modular_skyrat/modules/assault_operatives/code/assault_operatives.dm
  modular_skyrat/modules/assault_operatives/code/assault_operatives_outfits.dm
  modular_skyrat/modules/assault_operatives/code/dynamic_rulsesets_roundstart.dm
  modular_skyrat/modules/assault_operatives/code/equipment_items/guns.dm
  modular_skyrat/modules/assault_operatives/code/equipment_items/misc_items.dm
  modular_skyrat/modules/assault_operatives/code/equipment_items/stealth_mod.dm
  modular_skyrat/modules/assault_operatives/code/interrogator.dm
  modular_skyrat/modules/assault_operatives/code/keycard_doors.dm
  modular_skyrat/modules/assault_operatives/icons/guns/guns.dmi
  modular_skyrat/modules/assault_operatives/icons/guns/guns_lefthand.dmi
  modular_skyrat/modules/assault_operatives/icons/guns/guns_righthand.dmi
  modular_skyrat/modules/assault_operatives/icons/guns/guns_worn.dmi
  modular_skyrat/modules/assault_operatives/icons/guns/magazines.dmi
  modular_skyrat/modules/assault_operatives/icons/modsuits/mod.dmi
  modular_skyrat/modules/assault_operatives/icons/modsuits/wornmod.dmi
  modular_skyrat/modules/black_mesa/code/armaments/armament_explosives.dm
  modular_skyrat/modules/black_mesa/code/armaments/armament_utility.dm
  tgstation.dme
Labels: Feature, Balance

#18422 Fixes goldeneye ops modsuit causing CI failures
  modular_skyrat/modules/assault_operatives/icons/modsuits/mod.dmi
Labels: Fix

#18427 [MANUAL MIRROR] Fixes a bunch of sidemap/plane cube issues [NO GBP]
  code/datums/components/customizable_reagent_holder.dm
  code/game/objects/structures/reflector.dm
  code/game/objects/structures/signs/signs_interactive.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/paperwork/paperbin.dm
  code/modules/power/solar.dm
  code/modules/power/tracker.dm
Labels: Fix, GBP: No Update, Manual Mirror

#18433 Fixes Department Guard access helpers to require department access
  modular_skyrat/modules/skyrat_access_helpers/accesshelpers.dm
Labels: Fix

#18400 Removes the armament token system that is now only being used by a whopping single ghost role in space
  _maps/RandomRuins/SpaceRuins/skyrat/cargodiselost.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  modular_skyrat/modules/automapper/code/area_spawn_entries.dm
  modular_skyrat/modules/mapping/code/mob_spawns.dm
  modular_skyrat/modules/sec_haul/code/guns/gunsets.dm
  modular_skyrat/modules/sec_haul/code/guns/token_system/token_system.dm
  modular_skyrat/modules/sec_haul/code/misc/vending.dm
  tgstation.dme
Labels: Removal

#18406 [Void Raptor] Adjusts some of the R-Walls around Security
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Balance, Fix

#18408 [Void Raptor] Adjusts R-Walls around Science + a minor adjustment to the tegu tank
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Balance, Fix

#18401 Removes duplicate wooden barricade from crafting menu
  modular_skyrat/master_files/code/game/objects/items/stacks/sheets/sheet_types.dm
Labels: Fix, Removal

#18221 A language category for OPFOR loadout
  code/__DEFINES/~skyrat_defines/opposing_force_defines.dm
  modular_skyrat/modules/opposing_force/code/equipment/languages.dm
  tgstation.dme
Labels: Feature
