Repository Skyrat-SS13/Skyrat-tg, pull requests merged in 2022-09, with the labels that each got.

#16031 68896 & 69443
  code/datums/status_effects/buffs.dm
  code/datums/status_effects/debuffs/debuffs.dm
  code/datums/weather/weather_types/void_storm.dm
  code/modules/antagonists/heretic/knowledge/void_lore.dm
  code/modules/antagonists/heretic/status_effects/buffs.dm
  code/modules/antagonists/heretic/status_effects/debuffs.dm
  code/modules/antagonists/heretic/status_effects/ghoul.dm
  code/modules/antagonists/heretic/status_effects/mark_effects.dm
  tgstation.dme
Labels: Balance, Fix, GBP: No Update

#16049 69618
  code/game/machinery/gulag_teleporter.dm
  code/modules/mod/mod_control.dm
  code/modules/mod/mod_types.dm
  code/modules/mod/modules/module_kinesis.dm
  code/modules/mod/modules/modules_general.dm
  code/modules/surgery/tools.dm
Labels: Fix, Administration

#15922 re-nerfs the venus
  code/modules/mob/living/simple_animal/hostile/venus_human_trap.dm
  modular_skyrat/master_files/code/modules/events/spacevine.dm
  modular_skyrat/modules/apocolypse_of_scythes/code/venus.dm
  modular_skyrat/modules/apocolypse_of_scythes/readme.md
  tgstation.dme
Labels: Feature, Balance, Removal

#15842 [Tram] New tram, new consequences. Tram collisions actually hurt.
  modular_skyrat/master_files/code/modules/industrial_lift/tram_lift_master.dm
  tgstation.dme
Labels: Test Merged, Balance/Rebalance

#15869 the mop can only absorb liquid within 1 tile
  code/game/objects/items/mop.dm
  modular_skyrat/modules/liquids/code/mop.dm
  tgstation.dme
Labels: Fix

#15723 Bodily fluid now carries forensic data
  modular_skyrat/modules/modular_items/lewd_items/code/arousal_system.dm
  modular_skyrat/modules/modular_items/lewd_items/code/technical_stuff_for_lewd.dm
Labels: Fix, Stale

#15951 Fixes coffee machines being invisible
  icons/obj/medical/chemical.dmi
Labels: Fix

#15950 Fixes being able to retract an active MODsuit's parts and still be able to use its modules
  code/modules/mod/mod_activation.dm
  code/modules/mod/modules/_module.dm
Labels: Fix

#15947 Fixes events happening too often and blobs being handled outside of dynamic
  modular_skyrat/modules/events/code/event_overrides.dm
Labels: Fix, Quality of Life

#16027 [Modular] Changes 5.6x40mm cartridge's icon so it looks like it's meant to and not like 7.62x39mm or something
  modular_skyrat/modules/gunsgalore/icons/ammo/ammo.dmi
Labels: Sprites

#16033 Buffs agent ID, removes deluxe agent ID
  code/__DEFINES/~skyrat_defines/id_cards.dm
  code/game/objects/items/cards_ids.dm
  modular_skyrat/master_files/code/modules/uplink/uplink_items.dm
  modular_skyrat/modules/assault_operatives/code/armaments/armament_utility.dm
  modular_skyrat/modules/opposing_force/code/equipment/utility.dm
  tgstation.dme
Labels: Balance, Removal

#16042 the default sec helmet (of which every seccie is given in a locker) is no longer completely hugger proof
  modular_skyrat/modules/goofsec/code/sec_clothing_overrides.dm
Labels: Balance

#16096 actually fixes operating tables
  modular_skyrat/modules/aesthetics/surgery/surgery.dmi
Labels: Fix, GBP: No Update

#16100 [MIRROR] Fixes role banned players not being banned from roles that they are banned from (Option Two) [MDB IGNORE]
  code/controllers/subsystem/ban_cache.dm
Labels: Priority: HIGH

#15904 Adminping fix w/ server config option
  code/modules/admin/verbs/adminhelp.dm
  config/skyrat/skyrat_config.txt
  modular_skyrat/master_files/code/_globalvars/configuration.dm
  modular_skyrat/modules/opposing_force/code/opposing_force_datum.dm
  modular_skyrat/modules/subsystems/code/ticket_ping/ticket_ss.dm
Labels: Feature, Fix

#16022 Admin action to send play in cryo
  code/__DEFINES/vv.dm
  code/modules/mob/mob.dm
  modular_skyrat/modules/cryosleep/code/admin.dm
  modular_skyrat/modules/cryosleep/code/cryopod.dm
  tgstation.dme
Labels: Administration

#16133 Removes revenants damaging windows
  code/modules/antagonists/revenant/revenant_abilities.dm
Labels: Upstream PR Merged, Balance, Removal, GBP: No Update

#16115 Reduces the downsides of borers
  modular_skyrat/modules/cortical_borer/code/cortical_borer.dm
  modular_skyrat/modules/cortical_borer/code/cortical_borer_abilities.dm
Labels: Balance

#16143 Fixes defunct facial preference appearing in game prefs
  modular_skyrat/master_files/code/modules/client/preferences/erp_preferences.dm
  modular_skyrat/modules/modular_items/lewd_items/code/arousal_system.dm
Labels: Fix

#15257 Shorts/Pants/Skirts/Dresses Spritefile Cleanup
  _maps/map_files/Blueshift/BlueShift_middle.dmm
  code/game/objects/items/cigs_lighters.dm
  code/modules/clothing/shoes/sneakers.dm
  code/modules/clothing/under/color.dm
  code/modules/clothing/under/costume.dm
  code/modules/clothing/under/jobs/security.dm
  code/modules/clothing/under/pants.dm
  code/modules/clothing/under/shorts.dm
  code/modules/clothing/under/skirt_dress.dm
  modular_skyrat/master_files/code/modules/clothing/under/jobs/centcom.dm
  modular_skyrat/master_files/code/modules/clothing/under/shorts_pants.dm
  modular_skyrat/master_files/code/modules/clothing/under/skirts_dresses.dm
  modular_skyrat/master_files/icons/mob/clothing/under/shorts_pants_shirts.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/shorts_pants_shirts_digi.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/skirts_dresses.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/skirts_dresses_digi.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/shorts_pants_shirts.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/skirts_dresses.dmi
  modular_skyrat/modules/GAGS/greyscale_configs.dm
  modular_skyrat/modules/GAGS/icons/dress.dmi
  modular_skyrat/modules/GAGS/json_configs/pants_shorts_skirts_dresses/jean_skirt.json
  modular_skyrat/modules/GAGS/json_configs/pants_shorts_skirts_dresses/jeans_ripped.json
  modular_skyrat/modules/GAGS/json_configs/pants_shorts_skirts_dresses/lone_skirt.json
  modular_skyrat/modules/GAGS/json_configs/pants_shorts_skirts_dresses/pentagram_dress.json
  modular_skyrat/modules/GAGS/json_configs/pants_shorts_skirts_dresses/short_dress.json
  modular_skyrat/modules/GAGS/json_configs/pants_shorts_skirts_dresses/shorts_ripped.json
  modular_skyrat/modules/GAGS/json_configs/pants_shorts_skirts_dresses/strapless_dress.json
  modular_skyrat/modules/GAGS/json_configs/pants_shorts_skirts_dresses/turtleskirt_knit.json
  modular_skyrat/modules/GAGS/json_configs/pants_shorts_skirts_dresses/yoga_pants.json
  modular_skyrat/modules/customization/modules/clothing/under/misc.dm
  modular_skyrat/modules/customization/modules/clothing/under/pants.dm
  modular_skyrat/modules/customization/modules/clothing/under/skirts_dresses.dm
  modular_skyrat/modules/customization/modules/clothing/under/utility_port/other_port.dm
  modular_skyrat/modules/loadouts/loadout_items/under/loadout_datum_under.dm
  modular_skyrat/modules/modular_vending/code/clothesmate.dm
  tgstation.dme
Labels: Feature, Sprites

#15946 [MODULAR] Allows the Vulpkanin species to use beards and facial hair
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/vulpkanin.dm
Labels: Quality of Life

#16158 fix missing food icon
  icons/obj/food/food.dmi
Labels: Fix

#16156 Fixes hypovials not respecting chem press guidelines
  code/modules/plumbing/plumbers/pill_press.dm
Labels: Fix

#16157 Using a bedsheet on an occupied cryopod tucks the occupant in goodnight
  modular_skyrat/modules/cryosleep/code/cryopod.dm
  modular_skyrat/modules/cryosleep/code/mood.dm
  tgstation.dme
Labels: Feature

#16154 [NO GBP] Removes a stray pixel from Digi legs' jean side-states
  modular_skyrat/master_files/icons/mob/clothing/under/shorts_pants_shirts_digi.dmi
Labels: Fix, Removal, GBP: No Update

#16155 Families broken items fixes
  _maps/map_files/Blueshift/BlueShift_middle.dmm
  modular_skyrat/master_files/code/modules/clothing/clothing_variation_overrides/head.dm
  modular_skyrat/master_files/code/modules/clothing/clothing_variation_overrides/suit.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_heads.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_neck.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_suit.dm
  modular_skyrat/modules/loadouts/loadout_items/under/loadout_datum_under.dm
Labels: Fix

#16169 Remove duplicated buildmode buttons
  code/modules/buildmode/bm_mode.dm
  code/modules/buildmode/buttons.dm
  modular_skyrat/master_files/code/modules/buildmode/bm_mode.dm
  modular_skyrat/master_files/code/modules/buildmode/submodes/offercontrol.dm
  modular_skyrat/master_files/icons/misc/buildmode.dmi
  tgstation.dme
Labels: Feature, Removal

#16170 add useful checks to send_to)cryo
  modular_skyrat/modules/cryosleep/code/admin.dm
Labels: Fix

#16159 LOOC muting again
  code/__DEFINES/~skyrat_defines/banning.dm
  code/modules/admin/sql_ban_system.dm
  code/modules/admin/verbs/admin.dm
  code/modules/admin/verbs/admingame.dm
  modular_skyrat/modules/verbs/code/looc.dm
Labels: Feature, Fix

#16184 [NO GBP] Donator Item Adjustment - Star trill
  modular_skyrat/modules/customization/game/objects/items/plushes.dm
Labels: GBP: No Update

#16097 Fix Chaplain's ancient armor
  modular_skyrat/master_files/code/game/objects/items/holy_weapons.dm
Labels: Fix

#16185 [MODULAR] fix automapper base turfs, micro opt
  modular_skyrat/modules/automapper/code/automap_template.dm
  modular_skyrat/modules/automapper/code/automapper_subsystem.dm
Labels: Fix

#16035 Removes CQC+
  code/__DEFINES/melee.dm
  modular_skyrat/master_files/code/datums/martial/cqcplus.dm
  modular_skyrat/master_files/code/modules/uplink/uplink_items.dm
  modular_skyrat/modules/opposing_force/code/equipment/martial_arts.dm
  tgstation.dme
Labels: Removal

#16078 Adds cat helper, makes cat behaviour more consistent
  code/__HELPERS/~skyrat_helpers/is_helpers.dm
  code/datums/components/tackle.dm
  code/game/objects/items/devices/laserpointer.dm
  code/game/objects/items/pet_carrier.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  modular_skyrat/master_files/code/datums/traits/neutral.dm
  modular_skyrat/modules/customization/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  modular_skyrat/modules/customization/modules/reagents/chemistry/reagents/drink_reagents.dm
  modular_skyrat/modules/customization/modules/reagents/chemistry/reagents/other_reagents.dm
Labels: Code Improvement, Stale, Quality of Life

#16218 Updates Digitigrade Captain uniforms and Captain Kilt to new palette
  _maps/map_files/Blueshift/BlueShift_upper.dmm
  modular_skyrat/master_files/code/modules/clothing/under/jobs/command.dm
  modular_skyrat/master_files/icons/mob/clothing/under/command.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/command_digi.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/command.dmi
  modular_skyrat/modules/command_vendor/code/vending.dm
Labels: Removal, Sprites

#16200 Reverts us back to using TG's maint spawn list
  code/__DEFINES/~skyrat_defines/maintenance_loot.dm
  code/_globalvars/lists/maintenance_loot.dm
  modular_skyrat/master_files/code/_globalvars/maint_loot_common.dm
  modular_skyrat/master_files/code/_globalvars/maint_loot_oddity.dm
  modular_skyrat/master_files/code/_globalvars/maint_loot_trash.dm
  modular_skyrat/master_files/code/_globalvars/maint_loot_uncommon.dm
  modular_skyrat/master_files/code/_globalvars/~maint_loot.dm
  tgstation.dme
Labels: Balance, Revert

#16029 [Modular] Quick Nihilanth's cascade tweak
  modular_skyrat/modules/black_mesa/code/mobs/nihilanth.dm
  modular_skyrat/modules/black_mesa/code/xen_crystal.dm
Labels: Balance, Administration

#16261 Tgstation#67724
  code/modules/hydroponics/hydroponics.dm
  code/modules/projectiles/projectile/magic.dm
Labels: Upstream PR Merged, Feature, GBP: No Update

#16021 Changes the CMG to use 9mm peacekeeper instead of .45
  modular_skyrat/modules/aesthetics/guns/code/guns.dm
  modular_skyrat/modules/blueshield/code/blueshield.dm
  modular_skyrat/modules/sec_haul/code/guns/cmg.dm
Labels: Balance, Code Improvement, Stale

#16274 Fixes XenoArch bag not picking up Strange Rockss
  modular_skyrat/modules/xenoarch/code/modules/research/xenoarch/xenoarch_tool.dm
Labels: Fix

#16282 Fixes molds creating foam that could cover the entire Z-level
  modular_skyrat/modules/biohazard_blob/code/biohazard_blob_structures.dm
Labels: Fix

#16017 Reworks microfusion guns to behave like energy guns that can be upgraded, not like ballistic guns that happen to fire lasers
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/defcon2.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/defcon3.dmm
  modular_skyrat/modules/gun_cargo/code/armament_datums/micron.dm
  modular_skyrat/modules/gun_cargo/code/company_datums.dm
  modular_skyrat/modules/gun_cargo/code/objects/ammo_boxes.dm
  modular_skyrat/modules/microfusion/code/cargo_stuff.dm
  modular_skyrat/modules/microfusion/code/gun_types.dm
  modular_skyrat/modules/microfusion/code/microfusion_cell.dm
  modular_skyrat/modules/microfusion/code/microfusion_cell_attachments.dm
  modular_skyrat/modules/microfusion/code/microfusion_designs.dm
  modular_skyrat/modules/microfusion/code/microfusion_energy_master.dm
  modular_skyrat/modules/microfusion/code/microfusion_techweb.dm
  modular_skyrat/modules/microfusion/code/projectiles.dm
  modular_skyrat/modules/sec_haul/code/guns/armory_spawns.dm
Labels: Balance, Fix, Quality of Life

#16276 [Vanity] An alternative deer-tail with wag
  modular_skyrat/master_files/icons/mob/sprite_accessory/tails.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/tails.dm
Labels: Sprites

#16272 Makes Interdyne's base less aggressive
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_syndicate_base1_skyrat.dmm
  _maps/RandomRuins/LavaRuins/skyrat/lavaland_surface_syndicate_base1_skyrat.dmm
Labels: Balance

#16192 Removes chemlab and autolathe from ghost cafe
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  modular_skyrat/modules/modular_vending/code/wardrobes.dm
Labels: Removal

#16253 Corrects the safeguard lawboard
  modular_skyrat/modules/sec_haul/code/misc/ai_module.dm
Labels: Fix

#16212 multitools are now gentle on light fixtures
  code/modules/power/lighting/light.dm
  modular_skyrat/modules/aesthetics/lights/code/lighting.dm
Labels: Quality of Life

#16153 Return of APC arcing, modular edition
  code/__DEFINES/~skyrat_defines/apc_defines.dm
  modular_skyrat/modules/apc_arcing/apc.dm
  tgstation.dme
Labels: Fix

#16068 Redoes bluesec clothing sprites to have a nicer, more consistent color palette, along with correcting alot of glaring mistakes.
  modular_skyrat/master_files/icons/mob/clothing/back.dmi
  modular_skyrat/master_files/icons/mob/clothing/belt.dmi
  modular_skyrat/master_files/icons/mob/clothing/eyes.dmi
  modular_skyrat/master_files/icons/mob/clothing/feet.dmi
  modular_skyrat/master_files/icons/mob/clothing/feet_digi.dmi
  modular_skyrat/master_files/icons/mob/clothing/hands.dmi
  modular_skyrat/master_files/icons/mob/clothing/head.dmi
  modular_skyrat/master_files/icons/mob/clothing/head_muzzled.dmi
  modular_skyrat/master_files/icons/mob/clothing/neck.dmi
  modular_skyrat/master_files/icons/mob/clothing/suit.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/security.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/security_digi.dmi
  modular_skyrat/master_files/icons/obj/clothing/backpacks.dmi
  modular_skyrat/master_files/icons/obj/clothing/belts.dmi
  modular_skyrat/master_files/icons/obj/clothing/glasses.dmi
  modular_skyrat/master_files/icons/obj/clothing/gloves.dmi
  modular_skyrat/master_files/icons/obj/clothing/hats.dmi
  modular_skyrat/master_files/icons/obj/clothing/neck.dmi
  modular_skyrat/master_files/icons/obj/clothing/shoes.dmi
  modular_skyrat/master_files/icons/obj/clothing/suits.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/security.dmi
  modular_skyrat/modules/goofsec/code/sec_clothing_overrides.dm
  modular_skyrat/modules/sec_haul/code/security_medic/security_medic.dm
Labels: Sprites, Test Merged

#16307 [s] Maroon objective removal
  modular_skyrat/master_files/code/modules/antagonists/_common/objectives.dm
Labels: Host Request

#16306 [NO GBP] Donator Items - Commanding and Comfy Plushies
  modular_skyrat/master_files/icons/obj/plushes.dmi
  modular_skyrat/modules/customization/game/objects/items/plushes.dm
  modular_skyrat/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
Labels: GBP: No Update

#16346 [Modular] Wargame - Blue Lizard: How a stupid IC gimmick turned into code
  _maps/skyrat/holodeck_wargame.dmm
  modular_skyrat/modules/GAGS/greyscale_configs.dm
  modular_skyrat/modules/GAGS/json_configs/wargame_holoprojector/projector.json
  modular_skyrat/modules/modular_vending/code/games.dm
  modular_skyrat/modules/wargame_projectors/code/game_kit.dm
  modular_skyrat/modules/wargame_projectors/code/holograms.dm
  modular_skyrat/modules/wargame_projectors/code/projectors.dm
  modular_skyrat/modules/wargame_projectors/icons/projectors_and_holograms.dmi
  modular_skyrat/modules/wargame_projectors/readme.md
  tgstation.dme
Labels: Feature

#16386 Fixes default MCR charging
  modular_skyrat/modules/microfusion/code/microfusion_energy_master.dm
Labels: Fix

#16387 EM closet adjustment change thing(?)
  code/game/objects/structures/crates_lockers/closets/utility_closets.dm
  modular_skyrat/modules/emergency_spacesuit/code/emergency_spacesuit.dm
Labels: Fix

#16384 Fixes Hotdog and Spider Egg sprites
  code/game/objects/items/food/misc.dm
  code/game/objects/items/food/sandwichtoast.dm
Labels: Fix

#16359 resolve sending to cryo buckled people
  modular_skyrat/modules/cryosleep/code/admin.dm
Labels: Fix

#16351 Fixes for the Couches in Interlink and Ghost Cafe before my brain goes too crazy
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
Labels: Fix

#16337 Removes spawn() from horrorling death
  modular_skyrat/modules/horrorform/code/true_changeling.dm
Labels: Removal, Code Improvement

#16315 Fixes Blush not Blushing audibly
  code/modules/mob/living/emote.dm
  modular_skyrat/modules/emotes/sound/emotes/blush.ogg
Labels: Fix, Sound

#16344 [Modular] The Syndicate facelift update
  modular_skyrat/master_files/icons/mob/clothing/feet.dmi
  modular_skyrat/master_files/icons/mob/clothing/feet_digi.dmi
  modular_skyrat/master_files/icons/mob/clothing/hands.dmi
  modular_skyrat/master_files/icons/mob/clothing/head.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/suit.dmi
  modular_skyrat/master_files/icons/mob/clothing/suit.dmi
  modular_skyrat/master_files/icons/mob/clothing/suit_digi.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/syndicate.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/syndicate_digi.dmi
  modular_skyrat/master_files/icons/obj/clothing/gloves.dmi
  modular_skyrat/master_files/icons/obj/clothing/hats.dmi
  modular_skyrat/master_files/icons/obj/clothing/shoes.dmi
  modular_skyrat/master_files/icons/obj/clothing/suits.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/syndicate.dmi
  modular_skyrat/modules/Syndie_edits/code/syndie_edits.dm
  modular_skyrat/modules/customization/modules/clothing/suits/armor.dm
  modular_skyrat/modules/mapping/code/mob_spawns.dm
  modular_skyrat/modules/mapping/code/wardrobes.dm
Labels: Feature, Removal, Sprites

#16171 Part one of phasing out sprited 'advanced' shuttles
  _maps/shuttles/skyrat/cargo_delta_skyrat.dmm
  _maps/shuttles/skyrat/cargo_skyrat.dmm
  _maps/shuttles/skyrat/emergency_skyrat.dmm
  _maps/shuttles/skyrat/escape_pod_default_skyrat.dmm
  _maps/shuttles/skyrat/labour_skyrat.dmm
  _maps/shuttles/skyrat/mining_common_skyrat.dmm
  _maps/shuttles/skyrat/mining_skyrat.dmm
Labels: Quality of Life

#15972 Fixes security levels playing incorrect sounds
  modular_skyrat/modules/alerts/code/priority_announce.dm
Labels: Feature, Fix

#16072 [MDB IGNORE] Costumes Spritefile Cleanup
  _maps/map_files/Blueshift/BlueShift_middle.dmm
  _maps/map_files/Blueshift/BlueShift_upper.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  code/modules/clothing/under/costume.dm
  icons/obj/clothing/under/costume.dmi
  modular_skyrat/master_files/code/modules/clothing/clothing_variation_overrides/under.dm
  modular_skyrat/master_files/code/modules/clothing/under/costume.dm
  modular_skyrat/master_files/icons/mob/clothing/under/costume.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/costume_digi.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/skirts_dresses.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/skirts_dresses_digi.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/costume.dmi
  modular_skyrat/modules/GAGS/greyscale_configs.dm
  modular_skyrat/modules/GAGS/json_configs/costumes/lunar_japanese.json
  modular_skyrat/modules/GAGS/json_configs/costumes/misc.json
  modular_skyrat/modules/blastwave_outfits/code/clothing/blastwave_uniform.dm
  modular_skyrat/modules/curatorbundle/Ronin.dm
  modular_skyrat/modules/customization/modules/clothing/under/costumes.dm
  modular_skyrat/modules/customization/modules/clothing/under/misc.dm
  modular_skyrat/modules/customization/modules/clothing/under/skirts_dresses.dm
  modular_skyrat/modules/customization/modules/clothing/under/utility_port/other_port.dm
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_heads.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_suit.dm
  modular_skyrat/modules/loadouts/loadout_items/under/loadout_datum_under.dm
  modular_skyrat/modules/modular_vending/code/autodrobe.dm
  modular_skyrat/modules/modular_vending/code/clothesmate.dm
  modular_skyrat/modules/modular_vending/code/wardrobes.dm
  tgstation.dme
Labels: Removal, Sprites

#16187 [AutoMapper] icebox touchups
  _maps/skyrat/automapper/automapper_config.toml
  _maps/skyrat/automapper/templates/icebox/icebox_barber.dmm
  _maps/skyrat/automapper/templates/icebox/icebox_hop_maint.dmm
  _maps/skyrat/automapper/templates/icebox/icebox_ntrep_office.dmm
Labels: Fix

#16377 Disables greentext for traitor, ling, heretic, and malf AI
  code/modules/antagonists/changeling/changeling.dm
  code/modules/antagonists/heretic/heretic_antag.dm
  code/modules/antagonists/malf_ai/datum_malf_ai.dm
  code/modules/antagonists/traitor/datum_traitor.dm
Labels: Removal

#16138 Teshari cultural food
  code/__DEFINES/~skyrat_defines/construction.dm
  code/datums/components/crafting/crafting.dm
  modular_skyrat/master_files/icons/obj/food/irnbru.dmi
  modular_skyrat/master_files/icons/obj/hydroponics/growing.dmi
  modular_skyrat/master_files/icons/obj/hydroponics/harvest.dmi
  modular_skyrat/master_files/icons/obj/hydroponics/seeds.dmi
  modular_skyrat/modules/customization/datums/components/crafting/teshari_recipes.dm
  modular_skyrat/modules/customization/modules/food_and_drinks/food/teshari_food.dm
  modular_skyrat/modules/customization/modules/hydroponics/grown/kiri.dm
  modular_skyrat/modules/customization/modules/hydroponics/grown/muli.dm
  modular_skyrat/modules/customization/modules/hydroponics/grown/nakati.dm
  modular_skyrat/modules/customization/modules/hydroponics/grown/piru.dm
  modular_skyrat/modules/customization/modules/reagents/chemistry/reagents/food_reagents.dm
  modular_skyrat/modules/modular_vending/code/megaseed.dm
  tgstation.dme
Labels: Feature

#16132 [Modular] Adds some of our pistol magazines to boot pockets
  modular_skyrat/master_files/code/datums/storage/storage.dm
  modular_skyrat/master_files/code/datums/storage/subtypes/pockets.dm
  tgstation.dme
Labels: Balance

#15898 the ash farming expands
  modular_skyrat/modules/ashwalkers/code/buildings/ash_farming.dm
  modular_skyrat/modules/ashwalkers/code/buildings/railroad.dm
Labels: Feature, Fix, Code Improvement, Quality of Life

#14917 [HOST][MODULAR]Adds a pointing cooldown (once per half second)
  modular_skyrat/master_files/code/modules/client/pointing_cooldown.dm
  tgstation.dme
Labels: Removal, Host Request

#15971 VoidRaptor Disposals Conveyor belt and Perma Cryo fixes
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Fix

#15649 [MODULAR] Add Some Species Previews
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_akula.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_dwarf.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_ghoul.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_hemophage.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_humanoid.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_insect.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_mammal.png
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/akula.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/dwarf.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/ghoul.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/hemophage.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/humanoid.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/insect.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/mammal.dm
Labels: Fix, Stale

#16413 Fixes IPC/Skyrat specific robotic arm's hands being rendered under clothing
  modular_skyrat/master_files/icons/mob/augmentation/bs2ipc.dmi
  modular_skyrat/master_files/icons/mob/augmentation/bshipc.dmi
  modular_skyrat/master_files/icons/mob/augmentation/hi2ipc.dmi
  modular_skyrat/master_files/icons/mob/augmentation/hsiipc.dmi
  modular_skyrat/master_files/icons/mob/augmentation/mcgipc.dmi
  modular_skyrat/master_files/icons/mob/augmentation/sgmipc.dmi
  modular_skyrat/master_files/icons/mob/augmentation/wtmipc.dmi
  modular_skyrat/master_files/icons/mob/augmentation/xm2ipc.dmi
  modular_skyrat/master_files/icons/mob/augmentation/xmgipc.dmi
  modular_skyrat/master_files/icons/mob/augmentation/zhpipc.dmi
Labels: Fix

#16418 Removes the deltastation prison automapper template
  _maps/skyrat/automapper/automapper_config.toml
  _maps/skyrat/automapper/templates/deltastation/deltastation_prison.dmm
Labels: Removal

#16414 Fixes pollution component runtiming when it tries to pollute something it shouldn't be polluting
  modular_skyrat/modules/pollution/code/temporary_pollution_emission_component.dm
Labels: Fix

#16424 Returns Suicide verb to PAI's
  code/modules/client/verbs/suicide.dm
Labels: Quality of Life

#16419 fixes a funny mistake with the new cargo shuttles
  _maps/shuttles/skyrat/cargo_delta_skyrat.dmm
  _maps/shuttles/skyrat/cargo_skyrat.dmm
Labels: Fix

#16197 Removes obsolete Skyrat_Wiki variable (Fixes CorpReg link) and sets wikiurl default config to the Skyrat wiki (helps test servers/downstreams)
  code/controllers/configuration/entries/general.dm
  code/game/objects/items/manuals.dm
  config/skyrat/skyrat_config.txt
  modular_skyrat/master_files/code/controllers/configuration/entries/skyrat_config_entries.dm
  modular_skyrat/modules/cellguns/code/mediguns.dm
Labels: Fix

#16436 Fixes the SaturnX screenshot test
  code/modules/unit_tests/screenshots/screenshot_saturnx_invisibility.png
Labels: Fix

#15886 [SEMI-MODULAR] Adds Xerxian language
  code/modules/surgery/organs/tongue.dm
  modular_skyrat/master_files/code/modules/language/language_holders.dm
  modular_skyrat/master_files/icons/misc/language.dmi
  modular_skyrat/modules/customization/modules/culture/culture/culture_generic.dm
  modular_skyrat/modules/customization/modules/language/xerxian.dm
  tgstation.dme
Labels: Feature

#16215 Adds several themed vending machines that can spawn in place of snack vendors
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  modular_skyrat/master_files/icons/obj/drinks.dmi
  modular_skyrat/master_files/icons/obj/janitor.dmi
  modular_skyrat/modules/imported_vendors/code/vendor_containers.dm
  modular_skyrat/modules/imported_vendors/code/vendor_food.dm
  modular_skyrat/modules/imported_vendors/code/vendor_snacks.dm
  modular_skyrat/modules/imported_vendors/code/vendors.dm
  modular_skyrat/modules/imported_vendors/icons/imported_quick_foods.dmi
  modular_skyrat/modules/imported_vendors/icons/imported_vendors.dmi
  modular_skyrat/modules/imported_vendors/readme.md
  tgstation.dme
Labels: Feature

#16297 [modular] updates the SAD messages, and removes the EMP act
  modular_skyrat/modules/self_actualization_device/code/self_actualization_device.dm
Labels: Removal, Code Improvement

#15802 [MODULAR] Fixes That Stupid Language Reset Bug That's Been Here Since Newprefs
  code/modules/client/preferences/middleware/_middleware.dm
  code/modules/client/preferences/middleware/quirks.dm
  modular_skyrat/master_files/code/modules/client/preferences.dm
  modular_skyrat/master_files/code/modules/client/preferences/middleware/languages.dm
  modular_skyrat/modules/customization/modules/language/_foreigner_helper.dm
  tgstation.dme
Labels: Fix, Test Merged

#16426 [MDB IGNORE][Fix] Re-enables digi legs on shorts
  modular_skyrat/master_files/code/modules/clothing/under/shorts_pants.dm
Labels: Fix

#16430 incompatible species for ghostroles, and character pref for black market dealer
  code/modules/mob_spawn/mob_spawn.dm
  modular_skyrat/modules/mapping/code/mob_spawns.dm
Labels: Fix, Test Merged, Quality of Life

#16444 Makes breakfast end at 35 minutes, as opposed to 15
  code/__DEFINES/food.dm
Labels: Quality of Life

#16462 re-add the water basin and forging workbench
  code/game/objects/items/stacks/sheets/sheet_types.dm
Labels: Fix

#15851 [MODULAR] Marked One Buffs and Adjustments - HAI YO
  _maps/RandomRuins/LavaRuins/skyrat/lavaland_surface_arena.dmm
  modular_skyrat/modules/gladiator/Clang_cut.ogg
  modular_skyrat/modules/gladiator/code/game/objects/items/gladiator_items.dm
  modular_skyrat/modules/gladiator/code/modules/mob/living/simple_animal/hostile/megafauna/markedone.dm
  modular_skyrat/modules/gladiator/icons/berserk_icons.dmi
  modular_skyrat/modules/gladiator/icons/berserk_suit.dmi
  modular_skyrat/modules/gladiator/icons/dragonslayer.dmi
  modular_skyrat/modules/gladiator/icons/dragonslayer_inhand_L.dmi
  modular_skyrat/modules/gladiator/icons/dragonslayer_inhand_R.dmi
  modular_skyrat/modules/gladiator/icons/markedone.dmi
Labels: Feature

#16464 Modularizes crafting list edits
  code/game/objects/items/stacks/sheets/sheet_types.dm
  modular_skyrat/master_files/code/game/objects/items/stacks/sheets/sheet_types.dm
  tgstation.dme
Labels: Code Improvement

#16469 Xenos now only spawn midround from dynamic, as intended
  modular_skyrat/modules/events/code/event_overrides.dm
Labels: Fix

#16465 Swaps Armadyne and Lopland for the security winter coat logo
  modular_skyrat/modules/goofsec/code/sec_clothing_overrides.dm
Labels: Fix, GBP: No Update

#16336 Hotfixes for sec stuff that I missed on the first resprite.
  modular_skyrat/master_files/icons/mob/clothing/head.dmi
  modular_skyrat/master_files/icons/mob/clothing/suit.dmi
  modular_skyrat/master_files/icons/obj/clothing/suits.dmi
  modular_skyrat/modules/goofsec/code/sec_clothing_overrides.dm
  modular_skyrat/modules/sec_haul/code/security_medic/secmed_clothes.dm
  modular_skyrat/modules/sec_haul/code/security_medic/security_medic.dm
Labels: Fix, GBP: No Update

#16470 Refits upstream paramedic uniforms to fit digi, removes the Bee version of the dark paramedic uniform
  modular_skyrat/master_files/code/modules/clothing/under/jobs/medical.dm
  modular_skyrat/master_files/icons/mob/clothing/under/medical.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/medical_digi.dmi
  modular_skyrat/modules/loadouts/loadout_items/under/loadout_datum_under.dm
Labels: Removal, Sprites

#16458 Void Raptor Minor Fixes (Cargo Shuttle Pilot Begone Edition)
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Fix

#16275 Reverts the heretic sacrifice point buff
  code/modules/antagonists/heretic/knowledge/sacrifice_knowledge/sacrifice_knowledge.dm
Labels: Balance, Revert

#16496 ashwalkers now understand the marked one
  modular_skyrat/modules/gladiator/code/modules/mob/living/simple_animal/hostile/megafauna/markedone.dm
Labels: Fix

#16416 Remaps Atmos, Engi and surrounding maints (NSS Void Raptor)
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Feature

#15863 [SEMI-MODULAR] A (Nearly) complete rework and rebalance of xenos
  code/__DEFINES/~skyrat_defines/traits.dm
  code/modules/mob/living/carbon/alien/larva/powers.dm
  code/modules/mob/living/carbon/alien/special/alien_embryo.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  modular_skyrat/modules/xenos_skyrat_redo/code/base_skyrat_xeno.dm
  modular_skyrat/modules/xenos_skyrat_redo/code/human_defense.dm
  modular_skyrat/modules/xenos_skyrat_redo/code/larva.dm
  modular_skyrat/modules/xenos_skyrat_redo/code/xeno_types/defender.dm
  modular_skyrat/modules/xenos_skyrat_redo/code/xeno_types/drone.dm
  modular_skyrat/modules/xenos_skyrat_redo/code/xeno_types/praetorian.dm
  modular_skyrat/modules/xenos_skyrat_redo/code/xeno_types/queen.dm
  modular_skyrat/modules/xenos_skyrat_redo/code/xeno_types/ravager.dm
  modular_skyrat/modules/xenos_skyrat_redo/code/xeno_types/rouny.dm
  modular_skyrat/modules/xenos_skyrat_redo/code/xeno_types/sentinel.dm
  modular_skyrat/modules/xenos_skyrat_redo/code/xeno_types/spitter.dm
  modular_skyrat/modules/xenos_skyrat_redo/code/xeno_types/warrior.dm
  modular_skyrat/modules/xenos_skyrat_redo/icons/big_xenos.dmi
  modular_skyrat/modules/xenos_skyrat_redo/icons/xeno_actions.dmi
  modular_skyrat/modules/xenos_skyrat_redo/readme.md
  modular_skyrat/modules/xenos_skyrat_redo/sound/alien_hiss.ogg
  modular_skyrat/modules/xenos_skyrat_redo/sound/alien_queen_screech.ogg
  modular_skyrat/modules/xenos_skyrat_redo/sound/alien_roar1.ogg
  modular_skyrat/modules/xenos_skyrat_redo/sound/alien_roar2.ogg
  modular_skyrat/modules/xenos_skyrat_redo/sound/alien_spitacid.ogg
  modular_skyrat/modules/xenos_skyrat_redo/sound/alien_spitacid2.ogg
  modular_skyrat/modules/xenos_skyrat_redo/sound/alien_tail_swipe.ogg
  tgstation.dme
Labels: Feature, Sprites, Sound, Test Merged, Balance/Rebalance

#16533 Adds a slimmer reskin variant of the secbelt for those that don't want a bulky belt, fixes the skirt hole issue with the secmed skirt
  modular_skyrat/master_files/icons/mob/clothing/belt.dmi
  modular_skyrat/master_files/icons/obj/clothing/belts.dmi
  modular_skyrat/modules/goofsec/code/sec_clothing_overrides.dm
  modular_skyrat/modules/sec_haul/code/security_medic/secmed_clothes.dm
Labels: Fix, Sprites

#16475 No more Oversized Piggyback riding v2.0
  code/modules/mob/living/carbon/human/human.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/human_defines.dm
Labels: Feature

#16494 LORECASTERS: Making newscasters maybe somewhat relevant again
  .github/CODEOWNERS
  code/__DEFINES/~skyrat_defines/text.dm
  config/skyrat/archived_stories.json
  config/skyrat/news_stories.json
  config/skyrat/skyrat_config.txt
  modular_skyrat/modules/lorecaster/code/archive_viewer.dm
  modular_skyrat/modules/lorecaster/code/config.dm
  modular_skyrat/modules/lorecaster/code/subsystem.dm
  modular_skyrat/modules/lorecaster/readme.md
  tgstation.dme
  tgui/packages/tgui/interfaces/NtosNewsArchive.js
Labels: Feature

#16552 Redoes our current automapper template for the centcom dock
  _maps/skyrat/automapper/templates/centcom/centcom_shuttle_dock.dmm
Labels: Map Edit, Quality of Life

#16459 Removes armadyne oldarms as a company you can buy weapons from
  modular_skyrat/modules/gun_cargo/code/armament_datums/armadyne_oldarms.dm
  modular_skyrat/modules/gun_cargo/code/company_datums.dm
  tgstation.dme
Labels: Removal

#16567 Adds a "initially published date" to lorecaster announcements; corrects a config timer
  config/skyrat/skyrat_config.txt
  modular_skyrat/modules/lorecaster/code/subsystem.dm
Labels: Quality of Life, GBP: No Update
