Repository Skyrat-SS13/Skyrat-tg, pull requests merged in 2022-03, with the labels that each got.

#11206 Renames NT Rep to NT Consultant, moves NT Rep title to alt titles
  _maps/map_files/Blueshift/BlueShift_upper.dmm
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
  _maps/map_files/NSSJourney/NSSJourney.dmm
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  _maps/map_files/tramstation/tramstation_skyrat.dmm
  _maps/readme.md
  code/__DEFINES/atom_hud.dm
  code/__DEFINES/jobs.dm
  code/game/machinery/computer/card.dm
  config/dynamic.json
  config/jobs.txt
  modular_skyrat/master_files/code/datums/id_trim/jobs.dm
  modular_skyrat/master_files/icons/mob/clothing/head.dmi
  modular_skyrat/master_files/icons/obj/card.dmi
  modular_skyrat/master_files/icons/obj/clothing/hats.dmi
  modular_skyrat/master_files/icons/obj/clothing/uniforms.dmi
  modular_skyrat/modules/alternative_job_titles/code/alt_job_titles.dm
  modular_skyrat/modules/blueshield/code/blueshield.dm
  modular_skyrat/modules/command_vendor/code/vending.dm
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
  modular_skyrat/modules/customization/modules/jobs/_job.dm
  modular_skyrat/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
  modular_skyrat/modules/nanotrasen_rep/code/Space_Station_13_areas.dm
  modular_skyrat/modules/nanotrasen_rep/code/clothing.dm
  modular_skyrat/modules/nanotrasen_rep/code/nanotrasen_consultant.dm
  modular_skyrat/modules/protected_roles/code/antag_restricted_jobs.dm
  modular_skyrat/modules/vox_sprites/code/head.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/CrewManifest.js
Labels: UI, Map Edit, Tweak, Config Update, Host Request

#11834 Fixes the NT Consultant HUD icon/uniform
  modular_skyrat/master_files/icons/mob/clothing/uniform.dmi
  modular_skyrat/master_files/icons/mob/huds/hud.dmi
  modular_skyrat/modules/nanotrasen_rep/code/clothing.dm
Labels: Fix

#11831 Fix alignment of updated air alarm sprites
  modular_skyrat/modules/aesthetics/airalarm/icons/airalarm.dmi
Labels: Fix, Sprites

#11841 Adds in a new colorable fancy suit, for when you need more STYLE in your life
  modular_skyrat/modules/GAGS/greyscale_configs.dm
  modular_skyrat/modules/GAGS/icons/fancy_suits.dmi
  modular_skyrat/modules/GAGS/json_configs/fancy_suits/fancy_suit.json
  modular_skyrat/modules/GAGS/json_configs/fancy_suits/fancy_suit_worn.json
  modular_skyrat/modules/customization/modules/clothing/under/suits.dm
  modular_skyrat/modules/loadouts/loadout_items/under/loadout_datum_under.dm
  modular_skyrat/modules/modular_vending/code/clothesmate.dm
  tgstation.dme
Labels: Sprites

#11859 Fixing a few greyscale colors
  modular_skyrat/master_files/icons/mob/sprite_accessory/ears.dmi
  modular_skyrat/master_files/icons/mob/sprite_accessory/tails.dmi
Labels: Fix

#11652 [Modular] Energy fire axes and DS-2 atmos QoLs
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_syndicate_base1_skyrat.dmm
  _maps/RandomRuins/LavaRuins/skyrat/lavaland_surface_syndicate_base1_skyrat.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/interdynefob.dmm
  modular_skyrat/master_files/icons/mob/clothing/back.dmi
  modular_skyrat/master_files/icons/mob/energyaxe_lefthand.dmi
  modular_skyrat/master_files/icons/mob/energyaxe_righthand.dmi
  modular_skyrat/master_files/icons/obj/energy_axe.dmi
  modular_skyrat/modules/energy_axe/code/energy_fireaxe.dm
  modular_skyrat/modules/energy_axe/code/energy_fireaxe_case.dm
  tgstation.dme
Labels: Feature, Map Edit

#11643 Organic interface update cleanup part 3
  _maps/map_files/Blueshift/BlueShift_upper.dmm
  _maps/map_files/tramstation/tramstation_skyrat.dmm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/erp_belt.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/attachable_vibrator.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/buttplug.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/dildo.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/fleshlight.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/vibrator.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/vibroring.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_structures/lustwish.dm
  modular_skyrat/modules/modular_items/lewd_items/code/technical_stuff_for_lewd.dm
Labels: Map Edit, Refactor, Stale

#11757 [MODULAR] Update Job Titles - Fixes Barber, Adds Firefighter, Adds Off-Duty Crew
  modular_skyrat/modules/alternative_job_titles/code/alt_job_titles.dm
Labels: Feature

#11843 [MODULAR] Adds a temperature gunkit orderable from the goodies tab
  modular_skyrat/modules/cargo/code/goodies.dm
Labels: Feature

#11861 [MODULAR] Fixes laptop loadout item
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_pocket.dm
  modular_skyrat/modules/modular_items/code/miscellaneous.dm
Labels: Fix

#11868 [MODULAR] Wildcat Price Reduction
  modular_skyrat/modules/cargo/code/packs.dm
Labels: Balance/Rebalance

#11876 [MODULAR] Modularizes the Skyrat Cigarette Vendor Code
  code/modules/vending/cigarette.dm
  modular_skyrat/modules/modular_vending/code/cigarette.dm
  tgstation.dme
Labels: Refactor

#11787 [MODULAR] Fixes a broken icon state of ash walker ash coated bronze boots
  modular_skyrat/modules/ashwalkers/code/clothing/shoes.dm
  modular_skyrat/modules/ashwalkers/icons/shoes.dmi
Labels: Fix

#11858 [MODULAR] Fixes rope clothing suit sensors
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/shibari_worn_uniform.dm
Labels: Fix

#11810 Fixes Hat offset on Cargo Zoomba and fixes north sprite when moving
  modular_skyrat/modules/cargoborg/code/robot_modules.dm
  modular_skyrat/modules/cargoborg/icons/robots_cargo.dmi
Labels: Fix

#11721 [NON-MODULAR] Allow you to load your character at the magic mirror
  code/game/objects/structures/mirror.dm
Labels: Stale

#11780 [Modular] The turtleneckening, give those turtlenecks actual turtlenecks! PT. 1
  modular_skyrat/master_files/icons/mob/clothing/feet.dmi
  modular_skyrat/master_files/icons/mob/clothing/feet_digi.dmi
  modular_skyrat/master_files/icons/mob/clothing/suit.dmi
  modular_skyrat/master_files/icons/mob/clothing/underwear.dmi
  modular_skyrat/master_files/icons/mob/clothing/uniform.dmi
  modular_skyrat/master_files/icons/mob/clothing/uniform_digi.dmi
  modular_skyrat/master_files/icons/obj/clothing/suits.dmi
  modular_skyrat/master_files/icons/obj/clothing/uniforms.dmi
  modular_skyrat/modules/GAGS/icons/suit.dmi
  modular_skyrat/modules/customization/modules/clothing/suits/coats.dm
  modular_skyrat/modules/customization/modules/clothing/under/pants.dm
  modular_skyrat/modules/customization/modules/clothing/under/sweaters.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_suit.dm
  modular_skyrat/modules/loadouts/loadout_items/under/loadout_datum_under.dm
Labels: Sprites

#11867 [MODULAR] More guns in cargo goodies tab
  modular_skyrat/modules/cargo/code/goodies.dm
Labels: Feature, Grammar and Formatting

#11803 [host] auto host request
  tools/WebhookProcessor/github_webhook_processor.php
Labels: Tools

#11890 Refits the new upstream GAGS jumpsuits to fit with digitigrade legs.
  modular_skyrat/modules/GAGS/icons/jumpsuit_digi.dmi
Labels: Sprites

#11838 Ports TauCeti's welding effect
  code/game/objects/items.dm
  modular_skyrat/modules/welding_sparks/code/weldingtool.dm
  modular_skyrat/modules/welding_sparks/icons/welding_effect.dmi
  tgstation.dme
Labels: Feature

#11644 [NON-MODULAR] Removes the bluespace launchpad from the uplink.
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/uplink/uplink_items/device_tools.dm
  modular_skyrat/modules/moretraitoritems/code/syndicate_loadout.dm
Labels: Removal, Host Request

#11701 [NONMODULAR] D-e-sword nerf option: 1: the revenge of the blockchance.
  code/game/objects/items/dualsaber.dm
Labels: Balance/Rebalance

#11933 Hotfix for Teshari NT consultant clothing
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/uniform.dmi
Labels: Fix

#11937 [NON-MODULAR] Removes Purge and Block Malf AI objectives
  code/modules/antagonists/malf_ai/datum_malf_ai.dm
Labels: Removal

#11795 production/fishing skills, forge/ceramics/glassblow cleanup
  code/__DEFINES/~skyrat_defines/tools.dm
  code/__DEFINES/~skyrat_defines/traits.dm
  code/modules/vending/games.dm
  modular_skyrat/master_files/code/_globalvars/maint_loot_uncommon.dm
  modular_skyrat/modules/fishing/code/fishing.dm
  modular_skyrat/modules/fishing/code/fishing_skill.dm
  modular_skyrat/modules/fishing/icons/cloaks.dmi
  modular_skyrat/modules/fishing/icons/neck.dmi
  modular_skyrat/modules/primitive_fun/code/ceramics.dm
  modular_skyrat/modules/primitive_fun/code/glassblowing.dm
  modular_skyrat/modules/primitive_fun/code/production_skill.dm
  modular_skyrat/modules/primitive_fun/icons/cloaks.dmi
  modular_skyrat/modules/primitive_fun/icons/neck.dmi
  modular_skyrat/modules/reagent_forging/code/anvil.dm
  modular_skyrat/modules/reagent_forging/code/crafting_bench.dm
  modular_skyrat/modules/reagent_forging/code/forge.dm
  modular_skyrat/modules/reagent_forging/code/forge_items.dm
  modular_skyrat/modules/reagent_forging/code/forge_weapons.dm
  modular_skyrat/modules/reagent_forging/code/smith_skill.dm
  modular_skyrat/modules/reagent_forging/code/tool_override.dm
  modular_skyrat/modules/reagent_forging/code/water_basin.dm
  tgstation.dme
Labels: Feature, Removal, Code Improvement

#11963 [MODULAR] Wheelys for digigrade legs
  modular_skyrat/master_files/code/modules/clothing/shoes/wheelys.dm
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/feet_64.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/vox/feet_64.dmi
  modular_skyrat/master_files/icons/mob/large-worn-icons/64x64/feet_digi.dmi
  modular_skyrat/modules/customization/modules/clothing/clothing.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/carbon_update_icons.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/human_update_icons.dm
  tgstation.dme
Labels: Sprites

#11970 [NON-MODULAR] Soulshards now require a 5 second action bar
  code/modules/antagonists/wizard/equipment/soulstone.dm
Labels: Balance/Rebalance

#11971 [NON-MODULAR] Bows/blowguns no longer have safeties
  code/modules/projectiles/guns/special/syringe_gun.dm
  modular_skyrat/modules/tribal_extended/code/weapons/bow.dm
Labels: Fix

#11931 [NON-MODULAR] Thieving gloves let you tie/untie shoes in half the time
  code/modules/clothing/shoes/_shoes.dm
Labels: Balance/Rebalance

#11924 Organic Interface Cleanup 4
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/dildo.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/feather.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/kinky_shocker.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/leather_whip.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/serviette.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/shibari_stand.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/torture_candle.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/vibrator.dm
Labels: Refactor, Grammar and Formatting

#11926 [MODULAR] Adds a deployable barricades crate.
  modular_skyrat/modules/cargo/code/packs.dm
Labels: Feature

#11964 some xenoarch changes
  modular_skyrat/modules/xenoarch/code/modules/research/xenoarch/designs_and_tech.dm
  modular_skyrat/modules/xenoarch/code/modules/research/xenoarch/strange_rock.dm
  modular_skyrat/modules/xenoarch/code/modules/research/xenoarch/xenoarch_item.dm
  modular_skyrat/modules/xenoarch/code/modules/research/xenoarch/xenoarch_machine.dm
Labels: Feature

#11981 ashwalker abandoned kitchen and more
  _maps/RandomRuins/LavaRuins/skyrat/lavaland_surface_ash_walker1_skyrat.dmm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  modular_skyrat/modules/ashwalkers/area.dm
  modular_skyrat/modules/ashwalkers/code/items/ash_centrifuge.dm
  modular_skyrat/modules/ashwalkers/code/items/ash_seedmesh.dm
  modular_skyrat/modules/ashwalkers/icons/chemical.dmi
  modular_skyrat/modules/ashwalkers/icons/misc_tools.dmi
  modular_skyrat/modules/reagent_forging/code/crafting_bench.dm
  tgstation.dme
Labels: Feature, Balance/Rebalance, Map Edit

#11979 Fixes Mechs (and all the other vehicles, and all of Megafauna) being considered as "stealthy" for the FoV
  code/modules/mob/living/simple_animal/hostile/megafauna/_megafauna.dm
  code/modules/vehicles/_vehicle.dm
Labels: Fix

#11805 aesthetics update (box specific)
  code/modules/atmospherics/machinery/portable/pump.dm
  modular_skyrat/modules/aesthetics/scrubber/code/scrubber.dm
  modular_skyrat/modules/aesthetics/scrubber/icons/atmos.dmi
  modular_skyrat/modules/aesthetics/storage/storage.dm
  modular_skyrat/modules/aesthetics/storage/storage.dmi
  tgstation.dme
Labels: Feature, Stale

#11961 [modular] new archane borg sprites
  modular_skyrat/modules/altborgs/icons/robots_med.dmi
Labels: Sprites

#11992 Tarkon 1.6.1: Ordnance update
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon.dmm
Labels: Map Edit

#11820 ARBORLINK vault + shuttle 8532 fixes
  _maps/RandomRuins/SpaceRuins/skyrat/shuttle8532.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/vaulttango.dmm
Labels: Balance/Rebalance, Fix, Map Edit

#12010 [MODULAR] Fixes wildcat rubbers bleeding.
  modular_skyrat/modules/modular_weapons/code/modular_projectiles.dm
Labels: Fix

#11978 P90 SMG
  modular_skyrat/modules/gunsgalore/code/guns/p90.dm
  modular_skyrat/modules/gunsgalore/icons/guns/gunsgalore_back.dmi
  modular_skyrat/modules/gunsgalore/icons/guns/gunsgalore_guns40x32.dmi
  modular_skyrat/modules/gunsgalore/icons/guns/gunsgalore_items.dmi
  modular_skyrat/modules/gunsgalore/icons/guns/gunsgalore_lefthand.dmi
  modular_skyrat/modules/gunsgalore/icons/guns/gunsgalore_righthand.dmi
  modular_skyrat/modules/gunsgalore/sound/guns/fire/p90_fire.ogg
  modular_skyrat/modules/gunsgalore/sound/guns/interact/p90_cock.ogg
  modular_skyrat/modules/gunsgalore/sound/guns/interact/p90_magin.ogg
  modular_skyrat/modules/gunsgalore/sound/guns/interact/p90_magout.ogg
Labels: Feature, DO NOT MERGE, Needs Sprites Pictures

#11962 [MODULAR] Scalamov overhaul (I am literally deleting it)
  _maps/RandomRuins/SpaceRuins/skyrat/scrapheap.dmm
  _maps/RandomZLevels/zombieprison.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
  _maps/map_files/NSSJourney/NSSJourney.dmm
  modular_skyrat/modules/awaymissions_skyrat/code/zombieprison.dm
  modular_skyrat/modules/awaymissions_skyrat/icons/prisoncloth.dmi
  modular_skyrat/modules/awaymissions_skyrat/icons/prisonmob.dmi
  modular_skyrat/modules/awaymissions_skyrat/icons/prisonmobdigi.dmi
  modular_skyrat/modules/awaymissions_skyrat/icons/prisonmobs.dmi
  tgstation.dme
Labels: Removal, Map Edit

#11709 Cleans our Floor aesthetics module, re-sorting it and updating all the newer TG floors to our new palette
  modular_skyrat/modules/aesthetics/floors/code/floors.dm
  modular_skyrat/modules/aesthetics/floors/icons/floors.dmi
Labels: Sprites

#11956 [MODULAR] OPFOR Expansion - Odds and Ends
  code/__DEFINES/~skyrat_defines/opposing_force_defines.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/~skyrat/opposing_force.dm
  modular_skyrat/modules/opposing_force/code/equipment/ammo.dm
  modular_skyrat/modules/opposing_force/code/equipment/equip_parent.dm
  modular_skyrat/modules/opposing_force/code/equipment/explosives.dm
  modular_skyrat/modules/opposing_force/code/equipment/implants.dm
  modular_skyrat/modules/opposing_force/code/equipment/melee.dm
  modular_skyrat/modules/opposing_force/code/equipment/misc.dm
  modular_skyrat/modules/opposing_force/code/equipment/pistols.dm
  modular_skyrat/modules/opposing_force/code/equipment/services.dm
  modular_skyrat/modules/opposing_force/code/equipment/submachineguns.dm
  modular_skyrat/modules/opposing_force/code/equipment/utility.dm
  modular_skyrat/modules/opposing_force/code/opposing_force_datum.dm
  tgstation.dme
Labels: Fix, Code Improvement

#12039 updates nihilanth sprite
  modular_skyrat/master_files/code/modules/awaymission/mission_code/black_mesa.dm
  modular_skyrat/master_files/icons/mob/nihilanth.dmi
Labels: Sprites

#12006 Cleans/Organizes SR Trekkie Stuff
  modular_skyrat/modules/customization/modules/clothing/head/trek.dm
  modular_skyrat/modules/customization/modules/clothing/suits/trek.dm
  modular_skyrat/modules/customization/modules/clothing/under/trek.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_heads.dm
Labels: Fix

#12059 Nerfs enclave pirates
  _maps/shuttles/skyrat/pirate_enclave.dmm
  modular_skyrat/modules/encounters/code/enclave_pirates.dm
Labels: Balance/Rebalance, Map Edit

#12061 Species lock for ghost spawners
  code/modules/mob_spawn/ghost_roles/mining_roles.dm
  code/modules/mob_spawn/mob_spawn.dm
  modular_skyrat/master_files/code/modules/awaymission/mission_code/black_mesa.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species.dm
  modular_skyrat/modules/encounters/code/enclave_pirates.dm
Labels: Feature

#12063 TG MAP RESET 12/03/22
  _maps/RandomRuins/LavaRuins/lavaland_biodome_beach.dmm
  _maps/RandomRuins/LavaRuins/lavaland_biodome_clown_planet.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_survivalpod.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1/mistake_inevitable.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1/mistake_unlikely.dmm
  _maps/RandomRuins/SpaceRuins/bigderelict1.dmm
  _maps/RandomRuins/SpaceRuins/derelict4.dmm
  _maps/RandomRuins/SpaceRuins/forgottenship.dmm
  _maps/RandomRuins/SpaceRuins/hellfactory.dmm
  _maps/RandomRuins/SpaceRuins/listeningstation.dmm
  _maps/RandomRuins/SpaceRuins/oldstation.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/cargodiselost.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/scrapheap.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/shuttlescrap.dmm
  _maps/RandomZLevels/Academy.dmm
  _maps/RandomZLevels/SnowCabin.dmm
  _maps/RandomZLevels/caves.dmm
  _maps/RandomZLevels/challenge.dmm
  _maps/RandomZLevels/moonoutpost19.dmm
  _maps/RandomZLevels/research.dmm
  _maps/RandomZLevels/snowdin.dmm
  _maps/RandomZLevels/spacebattle.dmm
  _maps/RandomZLevels/undergroundoutpost45.dmm
  _maps/_basemap.dm
  _maps/map_files/CTF/fourSide.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/Mining/Lavaland.dmm
  _maps/map_files/debug/runtimestation.dmm
  _maps/map_files/generic/CentCom.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/shuttles/arrival_delta.dmm
  _maps/shuttles/emergency_casino.dmm
  _maps/shuttles/emergency_cere.dmm
  _maps/shuttles/emergency_cruise.dmm
  _maps/shuttles/emergency_delta.dmm
  _maps/shuttles/emergency_monastery.dmm
  _maps/shuttles/emergency_omega.dmm
  _maps/shuttles/emergency_wabbajack.dmm
  _maps/shuttles/infiltrator_basic.dmm
  _maps/shuttles/ruin_caravan_victim.dmm
  _maps/shuttles/ruin_pirate_cutter.dmm
  _maps/shuttles/ruin_syndicate_dropship.dmm
  _maps/shuttles/starfury_corvette.dmm
  _maps/shuttles/whiteship_box.dmm
  _maps/shuttles/whiteship_delta.dmm
  _maps/shuttles/whiteship_meta.dmm
  _maps/templates/battlecruiser_starfury.dmm
  _maps/templates/medium_shuttle1.dmm
  _maps/templates/medium_shuttle2.dmm
  _maps/templates/medium_shuttle3.dmm
  code/game/objects/items/storage/medkit.dm
  modular_skyrat/master_files/code/modules/mob/living/simple_animal/hostile/grabbagmob.dm
Labels: Map Edit

#12064 TG ICON RESET 13/03/22
  icons/mob/clothing/head.dmi
  icons/mob/clothing/mod.dmi
  icons/mob/clothing/suit.dmi
  icons/mob/clothing/under/security.dmi
  icons/obj/artstuff.dmi
  icons/obj/billboard.dmi
  icons/obj/clothing/hats.dmi
  icons/obj/clothing/modsuit/mod_clothing.dmi
  icons/obj/clothing/modsuit/mod_modules.dmi
  icons/obj/clothing/suits.dmi
  icons/obj/clothing/under/security.dmi
  icons/obj/drinks.dmi
  icons/obj/machines/camera.dmi
  icons/turf/areas.dmi
Labels: Sprites

#12047 [Modular] DS-2 touch ups, small tweaks and corrections.
  modular_skyrat/master_files/icons/mob/clothing/hands.dmi
  modular_skyrat/master_files/icons/mob/clothing/mask.dmi
  modular_skyrat/master_files/icons/mob/clothing/mask_muzzled.dmi
  modular_skyrat/master_files/icons/mob/clothing/suit.dmi
  modular_skyrat/master_files/icons/obj/clothing/masks.dmi
  modular_skyrat/master_files/icons/obj/clothing/suits.dmi
  modular_skyrat/modules/Syndie_edits/code/syndie_edits.dm
  modular_skyrat/modules/energy_axe/code/energy_fireaxe.dm
  modular_skyrat/modules/mapping/code/mob_spawns.dm
  modular_skyrat/modules/mapping/code/wardrobes.dm
Labels: Fix, Sprites

#12043 Replaces Biobags in Interdyne Xenobio with properly functioning Xenobags
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_syndicate_base1_skyrat.dmm
  _maps/RandomRuins/LavaRuins/skyrat/lavaland_surface_syndicate_base1_skyrat.dmm
Labels: Fix, Map Edit

#11509 Heretic Buffs, the Rebuffening
  code/modules/antagonists/heretic/heretic_antag.dm
  code/modules/antagonists/heretic/items/heretic_blades.dm
  code/modules/antagonists/heretic/knowledge/ash_lore.dm
  code/modules/antagonists/heretic/knowledge/flesh_lore.dm
  code/modules/antagonists/heretic/knowledge/rust_lore.dm
  code/modules/antagonists/heretic/knowledge/sacrifice_knowledge/sacrifice_knowledge.dm
  code/modules/antagonists/heretic/knowledge/void_lore.dm
Labels: Balance/Rebalance, Test Merged

#11935 [MODULAR] Adds a wall-piercing LOOC verb
  code/__HELPERS/~skyrat_helpers/unsorted.dm
  modular_skyrat/modules/verbs/code/looc.dm
Labels: Feature

#12068 Brings Space Hotel into the modern era, with some QoL.
  _maps/RandomRuins/SpaceRuins/spacehotel_skyrat.dmm
Labels: Feature, Map Edit

#12118 [HOST] [MODULAR] Disables barnyard curse in OPFOR
  modular_skyrat/modules/opposing_force/code/equipment/spells.dm
Labels: Removal, Host Request

#11673 [MODULAR] Remaps Icebox Brig Layout
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
Labels: Fix, Map Edit, Stale

#12139 Cleans our new box icons
  modular_skyrat/modules/aesthetics/storage/storage.dm
  modular_skyrat/modules/aesthetics/storage/storage.dmi
  modular_skyrat/modules/sec_haul/code/guns/ammo.dm
Labels: Fix, Sprites

#11754 [MODULAR] Makes all job-default jumpsuits naga compatable.
  modular_skyrat/master_files/icons/mob/clothing/suit_taur_paw.dmi
  modular_skyrat/master_files/icons/mob/clothing/suit_taur_snake.dmi
  modular_skyrat/master_files/icons/mob/clothing/uniform_taur_snake.dmi
  modular_skyrat/modules/GAGS/greyscale_configs.dm
  modular_skyrat/modules/GAGS/icons/jumpsuit_snake.dmi
  modular_skyrat/modules/customization/modules/clothing/under/tauruniformscolor.dm
  tgstation.dme
Labels: Feature, Stale

#12122 [MODULAR] New traitor item, fake announcement
  modular_skyrat/master_files/code/modules/uplink/uplink_items.dm
  modular_skyrat/modules/moretraitoritems/code/fake_announcement.dm
  tgstation.dme
Labels: Feature

#12138 [NON-MODULAR] Exploitable Info fix
  code/modules/antagonists/_common/antag_datum.dm
Labels: Fix

#12070 [SEMI-MODULAR] Adds a "view OPFORs" admin verb and lets you get to it via the tickets tab
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/adminhelp.dm
  modular_skyrat/modules/opposing_force/code/admin_procs.dm
  modular_skyrat/modules/opposing_force/code/opposing_force_datum.dm
  modular_skyrat/modules/ticket_counter/code/counter.dm
Labels: Administration

#11946 Refits and slightly demodularizes upstream medical and detective jumpsuits for digis
  modular_skyrat/master_files/icons/mob/clothing/uniform.dmi
  modular_skyrat/master_files/icons/mob/clothing/uniform_digi.dmi
  modular_skyrat/modules/aesthetics/clothing/clothing.dm
  modular_skyrat/modules/customization/modules/clothing/clothing.dm
  modular_skyrat/modules/customization/modules/clothing/under/misc.dm
Labels: Sprites

#11960 [MODULAR] Makes Ceramics and Glassware use Cargo Crate Value Pricing + Adds more Narc + Balances Pricing
  modular_skyrat/modules/morenarcotics/code/cocaine_item.dm
  modular_skyrat/modules/morenarcotics/code/opium.dm
  modular_skyrat/modules/morenarcotics/icons/crack.dmi
  modular_skyrat/modules/primitive_fun/code/ceramics.dm
  modular_skyrat/modules/primitive_fun/code/glassblowing.dm
Labels: Code Improvement, Stale

#12104 [Modular][Fix] Updates Hud.dmi to have the suspected sprite, cause it's diff then tg idk
  modular_skyrat/master_files/icons/mob/huds/hud.dmi
Labels: Fix

#12121 [MODULAR] Goose grenade
  modular_skyrat/modules/modular_items/code/goosenade.dm
  modular_skyrat/modules/opposing_force/code/equipment/explosives.dm
  tgstation.dme
Labels: Feature

#12099 [Modular] Black market chevvy now actually spawns by black market ruin
  _maps/RandomRuins/SpaceRuins/skyrat/blackmarket.dmm
  _maps/shuttles/skyrat/ruin_blackmarket_chevvy.dmm
Labels: Fix, Map Edit

#12053 Combat overhaul - Reloads
  code/modules/projectiles/guns/ballistic.dm
  modular_skyrat/modules/gunsgalore/code/guns/ballistic_master.dm
Labels: Balance/Rebalance, Combat Overhaul, Group B

#12091 [HOST] [MODULAR] Pings admins every 3 minutes if there are unhandled open tickets or OPFOR applications
  code/__DEFINES/~skyrat_defines/opposing_force_defines.dm
  code/modules/admin/verbs/adminhelp.dm
  modular_skyrat/modules/subsystems/code/ticket_ss.dm
  modular_skyrat/modules/subsystems/readme.md
  modular_skyrat/modules/subsystems/sounds/soft_ping.ogg
  tgstation.dme
Labels: Administration, Host Request

#12158 TG MAP RESET 18/03/2022
  _maps/RandomRuins/IceRuins/icemoon_surface_engioutpost.dmm
  _maps/RandomRuins/IceRuins/icemoon_underground_abandoned_plasma_facility.dmm
  _maps/RandomRuins/IceRuins/icemoon_underground_frozen_comms.dmm
  _maps/RandomRuins/IceRuins/icemoon_underground_library.dmm
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_syndicate_base1_skyrat.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/Mafia/mafia_lavaland.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NSSJourney/NSSJourney.dmm
  _maps/map_files/generic/CentCom.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/map_files/tramstation/tramstation_skyrat.dmm
  code/game/turfs/open/floor/plating/misc_plating.dm
Labels: Map Edit

#12159 OPFOR service fix
  modular_skyrat/modules/opposing_force/code/opposing_force_datum.dm
Labels: Fix

#12163 NTR Wiki link fix
  modular_skyrat/modules/nanotrasen_rep/code/nanotrasen_consultant.dm
Labels: Fix

#12164 [MODULAR] Loadout: Adds departmental armbands to the loadout.
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_accessory.dm
Labels: Feature

#12180 Fixing codeowners merge conflict
  .github/CODEOWNERS
Labels: Fix, GitHub

#12182 [Modular] Mesa tweaks because HECU sucks
  _maps/RandomZLevels/blackmesa.dmm
  modular_skyrat/master_files/code/modules/awaymission/mission_code/black_mesa/black_mesa.dm
  modular_skyrat/master_files/code/modules/awaymission/mission_code/black_mesa/food.dm
  modular_skyrat/master_files/code/modules/awaymission/mission_code/black_mesa/ghost_spawn.dm
  modular_skyrat/master_files/code/modules/awaymission/mission_code/black_mesa/mesa_mobs.dm
  modular_skyrat/master_files/icons/mob/clothing/mask.dmi
  modular_skyrat/master_files/icons/mob/clothing/uniform.dmi
  modular_skyrat/master_files/icons/obj/clothing/masks.dmi
  modular_skyrat/master_files/icons/obj/clothing/uniforms.dmi
  modular_skyrat/modules/awaymissions_skyrat/icons/hecucloth.dmi
  modular_skyrat/modules/awaymissions_skyrat/icons/hecumob.dmi
  modular_skyrat/modules/customization/modules/clothing/masks/breath.dm
  modular_skyrat/modules/gunsgalore/icons/guns/gunsgalore_items.dmi
  modular_skyrat/modules/hev_suit/code/hev_suit.dm
  tgstation.dme
Labels: Map Edit

#12171 small xenoarch change, put it back
  _maps/map_files/Mining/Lavaland.dmm
  _maps/skyrat/xenoarch_base.dmm
Labels: Fix, Map Edit

#12033 [SEMI-MODULAR] OPFOR Expansion: Contracting
  code/__DEFINES/~skyrat_defines/examine_defines.dm
  code/modules/modular_computers/hardware/hard_drive.dm
  modular_skyrat/modules/contractor/code/datums/contract.dm
  modular_skyrat/modules/contractor/code/datums/contractor_datum.dm
  modular_skyrat/modules/contractor/code/datums/contractor_hub.dm
  modular_skyrat/modules/contractor/code/datums/contractor_items.dm
  modular_skyrat/modules/contractor/code/datums/contractor_support.dm
  modular_skyrat/modules/contractor/code/datums/contractor_tablet.dm
  modular_skyrat/modules/contractor/code/datums/mind_datum.dm
  modular_skyrat/modules/contractor/code/items/items.dm
  modular_skyrat/modules/contractor/code/items/modsuit.dm
  modular_skyrat/modules/contractor/code/items/tablet.dm
  modular_skyrat/modules/contractor/icons/fulton.dmi
  modular_skyrat/modules/contractor/icons/modsuit.dmi
  modular_skyrat/modules/contractor/icons/modsuit_modules.dmi
  modular_skyrat/modules/contractor/icons/worn_modsuit.dmi
  modular_skyrat/modules/cryosleep/code/cryopod.dm
  modular_skyrat/modules/examinemore/code/examine_more.dm
  modular_skyrat/modules/opposing_force/code/equipment/loadouts.dm
  modular_skyrat/modules/opposing_force/code/opposing_force_datum.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/SyndContractor.js
Labels: UI, Feature

#12202 Fixes contractor kit OPFOR
  modular_skyrat/modules/contractor/code/items/modsuit.dm
  modular_skyrat/modules/opposing_force/code/equipment/loadouts.dm
Labels: Fix, GBP: No Update

#12097 [semimodular] fixes the hop winter coat because I can't trust other people to do it
  code/game/objects/items/storage/garment.dm
  modular_skyrat/master_files/icons/mob/clothing/head.dmi
  modular_skyrat/master_files/icons/mob/clothing/suit.dmi
  modular_skyrat/master_files/icons/obj/clothing/hats.dmi
  modular_skyrat/master_files/icons/obj/clothing/suits.dmi
  modular_skyrat/modules/customization/modules/clothing/suits/armor.dm
Labels: Fix, Stale

#12242 [Modular] Mesa "quick" patch
  _maps/RandomZLevels/blackmesa.dmm
  modular_skyrat/master_files/code/modules/awaymission/mission_code/black_mesa/black_mesa.dm
  modular_skyrat/modules/gunsgalore/code/guns/akm.dm
  modular_skyrat/modules/gunsgalore/code/guns/fg42.dm
  modular_skyrat/modules/gunsgalore/code/guns/m16.dm
  modular_skyrat/modules/gunsgalore/code/guns/mp40.dm
  modular_skyrat/modules/gunsgalore/code/guns/stg.dm
Labels: Map Edit

#12217 [MODULAR] Adds a density=false fakelattice, patches it into Ghostship/Salvagepost ruins
  _maps/RandomRuins/SpaceRuins/skyrat/ghostship.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/salvagepost.dmm
  modular_skyrat/modules/mapping/code/turf_decals.dm
Labels: Feature, Map Edit

#12216 Contractor Expansion 1
  .github/CODEOWNERS
  code/__DEFINES/~skyrat_defines/baton_upgrades.dm
  modular_skyrat/modules/contractor/code/datums/contractor_items.dm
  modular_skyrat/modules/contractor/code/items/baton.dm
  modular_skyrat/modules/contractor/code/items/boxes.dm
  modular_skyrat/modules/contractor/code/items/misc.dm
  modular_skyrat/modules/contractor/code/items/modsuit.dm
  modular_skyrat/modules/contractor/code/items/modsuit/modsuit.dm
  modular_skyrat/modules/contractor/code/items/modsuit/modules.dm
  modular_skyrat/modules/contractor/code/items/modsuit/theme.dm
  modular_skyrat/modules/contractor/icons/baton_upgrades.dmi
  modular_skyrat/modules/contractor/icons/modsuit_modules.dmi
  tgstation.dme
Labels: Feature, Fix, GitHub

#12211 [NON-MODULAR] changeling dnr ban tweak
  code/modules/mob/dead/observer/observer.dm
Labels: Fix

#12208 Fixes advanced vision node not existing because I forgor
  tgstation.dme
Labels: Fix, GBP: No Update

#12173 [Modular] Adds some friend shaped plushes to loadout
  modular_skyrat/master_files/icons/obj/plushes.dmi
  modular_skyrat/modules/customization/game/objects/items/plushes.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_toys.dm
Labels: Sprites

#11941 [SEMI-MODULAR] Upgraded Borg Snack Dispensor
  code/modules/research/techweb/all_nodes.dm
  modular_skyrat/master_files/icons/obj/food/snacks.dmi
  modular_skyrat/modules/borg_buffs/code/snack_dispensor.dm
  tgstation.dme
Labels: Feature, Stale

#11939 Organic Interface Update Refactor Pt. 5
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/ballgag.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/corset.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/domina_cap.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/hypnogoggles.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/kink_collars.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/kinky_blindfold.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/kinky_headphones.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/latex_straight_jacket.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/lewd_gloves.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/lewd_maid.dm
Labels: Refactor, Grammar and Formatting

#10346 [NON-MODULAR]Fixes corrupt photo records
  code/__HELPERS/icons.dm
Labels: Test Merged

#12250 security sprite update
  code/modules/jobs/job_types/head_of_security.dm
  modular_skyrat/master_files/icons/import.dmi
  modular_skyrat/master_files/icons/mob/clothing/back.dmi
  modular_skyrat/master_files/icons/mob/clothing/belt.dmi
  modular_skyrat/master_files/icons/mob/clothing/feet.dmi
  modular_skyrat/master_files/icons/mob/clothing/feet_digi.dmi
  modular_skyrat/master_files/icons/mob/clothing/hands.dmi
  modular_skyrat/master_files/icons/mob/clothing/head.dmi
  modular_skyrat/master_files/icons/mob/clothing/head_muzzled.dmi
  modular_skyrat/master_files/icons/mob/clothing/neck.dmi
  modular_skyrat/master_files/icons/mob/clothing/suit.dmi
  modular_skyrat/master_files/icons/mob/clothing/uniform.dmi
  modular_skyrat/master_files/icons/mob/clothing/uniform_digi.dmi
  modular_skyrat/master_files/icons/mob/huds/hud.dmi
  modular_skyrat/master_files/icons/obj/clothing/belts.dmi
  modular_skyrat/master_files/icons/obj/clothing/suits.dmi
  modular_skyrat/modules/goofsec/code/sec_clothing_overrides.dm
  tgstation.dme
Labels: Sprites

#12205 [MODULAR][QoL] Removes empty Hypovials from standard Hypospray Kits
  modular_skyrat/modules/hyposprays/code/hypospray_kits.dm
  modular_skyrat/modules/hyposprays/code/hyposprays_II.dm
Labels: Removal

#12252 Formalises security medic
  modular_skyrat/master_files/icons/mob/clothing/belt.dmi
  modular_skyrat/master_files/icons/obj/clothing/belts.dmi
  modular_skyrat/modules/sec_haul/code/security_medic/secmed_clothes.dm
  modular_skyrat/modules/sec_haul/code/security_medic/security_medic.dm
Labels: Feature

#12266 Ashwalker kitchen now gets salt and pepper
  _maps/RandomRuins/LavaRuins/skyrat/lavaland_surface_ash_walker1_skyrat.dmm
Labels: Map Edit

#12261 [Modular] Switches tree ferret plush sound file to cause less heart attacks
  modular_skyrat/modules/customization/game/objects/items/plushes.dm
Labels: Code Improvement

#12175 Removes most sec reskins so that its all one style instead of 3 conflicting ones
  _maps/map_files/Blueshift/BlueShift_lower.dmm
  _maps/map_files/Blueshift/BlueShift_middle.dmm
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
  _maps/map_files/tramstation/tramstation_skyrat.dmm
  code/game/objects/items/storage/garment.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/suits/armor.dm
  code/modules/clothing/under/jobs/security.dm
  code/modules/vending/wardrobes.dm
  modular_skyrat/master_files/code/modules/awaymission/mission_code/black_mesa/ghost_spawn.dm
  modular_skyrat/master_files/icons/mob/clothing/eyes.dmi
  modular_skyrat/master_files/icons/mob/clothing/head.dmi
  modular_skyrat/master_files/icons/mob/clothing/neck.dmi
  modular_skyrat/master_files/icons/mob/clothing/suit.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/security.dmi
  modular_skyrat/master_files/icons/mob/clothing/uniform.dmi
  modular_skyrat/master_files/icons/mob/clothing/uniform_digi.dmi
  modular_skyrat/master_files/icons/obj/clothing/glasses.dmi
  modular_skyrat/master_files/icons/obj/clothing/hats.dmi
  modular_skyrat/master_files/icons/obj/clothing/neck.dmi
  modular_skyrat/master_files/icons/obj/clothing/suits.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/security.dmi
  modular_skyrat/master_files/icons/obj/clothing/uniforms.dmi
  modular_skyrat/modules/brigoff/code/brigoff_clothes.dm
  modular_skyrat/modules/command_vendor/code/vending.dm
  modular_skyrat/modules/customization/modules/clothing/neck/_neck.dm
  modular_skyrat/modules/customization/modules/clothing/suits/armor.dm
  modular_skyrat/modules/customization/modules/clothing/under/misc.dm
  modular_skyrat/modules/customization/modules/clothing/under/security.dm
  modular_skyrat/modules/customization/modules/clothing/under/utility_port/other_port.dm
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
  modular_skyrat/modules/goofsec/code/sec_clothing_overrides.dm
  modular_skyrat/modules/loadouts/loadout_items/under/loadout_datum_under.dm
  modular_skyrat/modules/mapping/code/command.dm
  modular_skyrat/modules/modular_vending/code/wardrobes.dm
  modular_skyrat/modules/sec_haul/code/misc/vending.dm
  modular_skyrat/modules/sec_haul/code/peacekeeper/armadyne_clothing.dm
  modular_skyrat/modules/sec_haul/code/peacekeeper/peacekeeper_clothing.dm
  modular_skyrat/modules/sec_haul/code/security_medic/secmed_clothes.dm
  modular_skyrat/modules/sec_haul/code/security_medic/security_medic.dm
Labels: Removal, Sprites, Map Edit

#12259 Ports new central command jobs from Yogs
  code/__DEFINES/jobs.dm
  modular_skyrat/master_files/icons/mob/clothing/hands.dmi
  modular_skyrat/master_files/icons/mob/clothing/head.dmi
  modular_skyrat/master_files/icons/mob/clothing/neck.dmi
  modular_skyrat/master_files/icons/mob/clothing/suit.dmi
  modular_skyrat/master_files/icons/mob/clothing/uniform.dmi
  modular_skyrat/master_files/icons/obj/clothing/gloves.dmi
  modular_skyrat/master_files/icons/obj/clothing/hats.dmi
  modular_skyrat/master_files/icons/obj/clothing/neck.dmi
  modular_skyrat/master_files/icons/obj/clothing/suits.dmi
  modular_skyrat/master_files/icons/obj/clothing/uniforms.dmi
  modular_skyrat/modules/mapping/code/jobs.dm
  modular_skyrat/modules/nanotrasen_naval_command/code/clothing.dm
  modular_skyrat/modules/nanotrasen_naval_command/code/id_trims.dm
  modular_skyrat/modules/nanotrasen_naval_command/code/outfits.dm
  modular_skyrat/modules/sec_haul/code/guns/token_system/gunsets.dm
  tgstation.dme
Labels: Feature

#12318 Fixes Emergency Shuttles
  modular_skyrat/modules/advanced_shuttles/code/shuttles.dm
  modular_skyrat/modules/mapping/code/shuttles.dm
Labels: Fix

#12184 Deltastation Old Prison
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
Labels: Feature, Map Edit, Host Request

#12325 [MODULAR] Fixes Dark Medihound
  modular_skyrat/modules/altborgs/code/robot_model.dm
Labels: Fix

#12331 Matter manipulator fix
  _maps/RandomRuins/RockplanetRuins/crashedshuttle.dmm
  modular_skyrat/master_files/code/game/objects/items/RCD.dm
Labels: Fix, Map Edit

#12301 Resets Icebox Medbay Central to match upstream
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
Labels: Fix, Map Edit

#12187 [Modular] Adds a few missing families items to the loadout, adds croptop turtlenecks to the clothesmate
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_suit.dm
  modular_skyrat/modules/modular_vending/code/clothesmate.dm
Labels: Feature

#12317 GATEWAY OPTIMISATION - MOB SPAWNING
  modular_skyrat/master_files/code/modules/awaymission/mission_code/black_mesa/mesa_mobs.dm
Labels: Code Improvement

#12367 Assault Ops update and fixes
  _maps/shuttles/skyrat/goldeneye_cruiser.dmm
  modular_skyrat/master_files/code/modules/clothing/shoes/sneakers.dm
  modular_skyrat/modules/aesthetics/rack/code/rack.dm
  modular_skyrat/modules/assault_operatives/code/armaments/__armament_bodyarmor.dm
  modular_skyrat/modules/assault_operatives/code/armaments/_armaments_secondary.dm
  modular_skyrat/modules/assault_operatives/code/armaments/armament_modules.dm
  modular_skyrat/modules/assault_operatives/code/armaments/armament_utility.dm
  modular_skyrat/modules/assault_operatives/code/armaments/assaultops_armament_station.dm
  modular_skyrat/modules/assault_operatives/code/assault_operatives.dm
  modular_skyrat/modules/customization/modules/clothing/under/security.dm
  modular_skyrat/modules/mapping/code/mob_spawns.dm
  tgstation.dme
Labels: Feature, Fix, Removal, Map Edit

#12363 Fixes the shutter for the NT consultant on delta
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
Labels: Fix, Map Edit

#12368 Armaments update
  modular_skyrat/modules/armaments/code/armament_entries.dm
  modular_skyrat/modules/armaments/code/armament_station.dm
  modular_skyrat/modules/assault_operatives/code/shuttle.dm
  tgui/packages/tgui/interfaces/ArmamentStation.js
Labels: UI, Feature

#12360 [Modular]Friend Shapes Expansion 2!
  modular_skyrat/master_files/icons/obj/plushes.dmi
  modular_skyrat/modules/customization/game/objects/items/plushes.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_toys.dm
Labels: Sprites

#12357 Corrects the reputation granting OPFOR services
  modular_skyrat/modules/opposing_force/code/equipment/services.dm
Labels: Fix, GBP: No Update

#12342 Toxins area fixes
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
Labels: Fix, Map Edit

#12379 [Modular] Teshari Sprite pack 3: The Syndicate sends it's regards
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/belt.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/head.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/mask.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/suit.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/uniform.dmi
Labels: Sprites

#11836 [SEMI-MODULAR] Medical Smartdarts
  code/modules/projectiles/guns/special/syringe_gun.dm
  code/modules/reagents/chemistry/machinery/chem_master.dm
  code/modules/research/techweb/all_nodes.dm
  modular_skyrat/master_files/code/modules/research/designs/misc_designs.dm
  modular_skyrat/modules/medical/code/smartdarts.dm
  modular_skyrat/modules/medical/icons/obj/dartguns.dmi
  modular_skyrat/modules/medical/icons/obj/smartdarts.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/ChemMaster.js
Labels: UI, Feature, Test Merged, Golden

#12380 Kills off the last remaining redsec that got through the sec cleanup (Hopefully)
  _maps/map_files/Blueshift/BlueShift_middle.dmm
  modular_skyrat/modules/command_vendor/code/vending.dm
  modular_skyrat/modules/goofsec/code/sec_clothing_overrides.dm
Labels: Removal, Map Edit
