Repository Skyrat-SS13/Skyrat-tg, pull requests merged in 2022-06, with the labels that each got.

#13860 Refactors Contractor
  code/modules/mod/modules/_module.dm
  modular_skyrat/modules/contractor/code/datums/contract.dm
  modular_skyrat/modules/contractor/code/datums/contractor_hub.dm
  modular_skyrat/modules/contractor/code/datums/contractor_items.dm
  modular_skyrat/modules/contractor/code/datums/midround/antag_datum.dm
  modular_skyrat/modules/contractor/code/datums/midround/outfit.dm
  modular_skyrat/modules/contractor/code/items/hook.dm
  modular_skyrat/modules/contractor/code/items/modsuit/modules.dm
  modular_skyrat/modules/contractor/code/objects/supplypod.dm
Labels: Refactor, Stale

#14038 [MODULAR] Nukes the last of `req_one_access_txt` and the like from BlueShift
  _maps/map_files/Blueshift/BlueShift_lower.dmm
  _maps/map_files/Blueshift/BlueShift_middle.dmm
  _maps/map_files/Blueshift/BlueShift_upper.dmm
Labels: Fix

#14047 Fixes non-gendered chest markings not being visible
  code/modules/surgery/bodyparts/_bodyparts.dm
Labels: Fix

#14046 Adjusts the range of the mold foam and smoke effects
  modular_skyrat/modules/biohazard_blob/code/biohazard_blob_structures.dm
Labels: Fix

#14045 [MODULAR] Adds Cyropods back to (our version) of /TG/s maps
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/KiloStation/KiloStation_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
  _maps/map_files/tramstation/tramstation_skyrat.dmm
Labels: Feature

#14040 Fixes adjustable masks for snouts; also teshari mask and hat improvement
  code/_globalvars/bitfields.dm
  code/modules/mob/living/carbon/human/human_update_icons.dm
  modular_skyrat/modules/teshari/code/teshari_bodytype.dm
Labels: Fix

#13985 Adds the gas miner delivery beacon
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  modular_skyrat/modules/cargo/code/packs.dm
  modular_skyrat/modules/modular_items/code/gas_miner_beacon.dm
  tgstation.dme
Labels: Feature

#13978 Makes armadyne guns in-line with GUBMAN 3.4 changes
  modular_skyrat/modules/sec_haul/code/guns/guns.dm
Labels: Grammar and Formatting

#14049 Finally updates the sec sprites from #12250
  modular_skyrat/master_files/icons/mob/clothing/suit.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/security.dmi
  modular_skyrat/master_files/icons/obj/clothing/suits.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/security.dmi
  modular_skyrat/modules/black_mesa/code/ghost_spawners.dm
  modular_skyrat/modules/customization/modules/clothing/under/security.dm
  modular_skyrat/modules/loadouts/loadout_items/under/loadout_datum_under.dm
  modular_skyrat/modules/sec_haul/code/misc/vending.dm
Labels: Fix, Sprites

#13871 Latejoining AI now syncs unsynced borgs & All (non-posi) latejoining borgs are synced to the AI.
  code/modules/jobs/job_types/ai.dm
  code/modules/jobs/job_types/cyborg.dm
Labels: Balance/Rebalance, Stale

#14064 [MODULAR] Adds Ferry Dock and Barber shop to Kilo
  _maps/map_files/KiloStation/KiloStation_skyrat.dmm
Labels: Fix

#14108 Unfortunately removes ashwalker eggs getting hardboiled roundstart on icebox
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_ash_walker1_skyrat.dmm
  modular_skyrat/modules/ashwalkers/code/turfs/icemoon_tiles.dm
  tgstation.dme
Labels: Fix, Removal

#14114 Updated blueshift's toxins lab!
  _maps/map_files/Blueshift/BlueShift_middle.dmm
  _maps/map_files/Blueshift/BlueShift_upper.dmm
Labels: Refactor

#14111 gas miner box fix
  modular_skyrat/modules/modular_items/code/gas_miner_beacon.dm
Labels: Fix, GBP: No Update

#14134 Command Sprite Cleanup mk2
  _maps/RandomRuins/SpaceRuins/skyrat/interdynefob.dmm
  _maps/map_files/Blueshift/BlueShift_upper.dmm
  modular_skyrat/master_files/code/modules/clothing/under/jobs/cargo.dm
  modular_skyrat/master_files/code/modules/clothing/under/jobs/command.dm
  modular_skyrat/master_files/icons/donator/mob/clothing/uniform.dmi
  modular_skyrat/master_files/icons/donator/mob/clothing/uniform_digi.dmi
  modular_skyrat/master_files/icons/donator/obj/clothing/uniform.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/command.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/command_digi.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/command.dmi
  modular_skyrat/modules/blueshield/code/blueshield.dm
  modular_skyrat/modules/blueshield/code/blueshield_clothing.dm
  modular_skyrat/modules/command_vendor/code/vending.dm
  modular_skyrat/modules/customization/modules/clothing/under/misc.dm
  modular_skyrat/modules/customization/modules/clothing/under/utility_port/utility.dm
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
  modular_skyrat/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
  modular_skyrat/modules/loadouts/loadout_items/under/loadout_datum_under.dm
  modular_skyrat/modules/mapping/code/command.dm
  modular_skyrat/modules/mapping/code/mob_spawns.dm
  modular_skyrat/modules/nanotrasen_rep/code/clothing.dm
  tgstation.dme
Labels: Sprites

#14109 Fixes recordless examine runtime
  code/modules/mob/living/carbon/human/examine.dm
Labels: Fix

#14110 Cargo and Engineering digi refits
  modular_skyrat/master_files/code/modules/clothing/under/jobs/cargo.dm
  modular_skyrat/master_files/icons/mob/clothing/feet.dmi
  modular_skyrat/master_files/icons/mob/clothing/feet_digi.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/cargo.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/cargo_digi.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/engineering_digi.dmi
  modular_skyrat/master_files/icons/obj/clothing/shoes.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/cargo.dmi
  modular_skyrat/modules/aesthetics/clothing/clothing.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_shoes.dm
Labels: Sprites

#14060 Patches gas generation exploit
  modular_skyrat/modules/liquids/code/liquid_systems/liquid_plumbers.dm
Labels: Fix

#14096 [MODULAR] Ears stay revealed unless verb'd away
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/ears.dm
Labels: Code Improvement

#13391 Preparation for Future TG PR upstream.
  code/__DEFINES/~skyrat_defines/hud.dm
Labels: Code Improvement

#13997 Allows players to actually be able to use the tile variety added in #13344
  modular_skyrat/modules/aesthetics/floors/code/floors.dm
  modular_skyrat/modules/aesthetics/floors/icons/floors.dmi
Labels: Fix

#14137 repaths armoured high vis jacket to pk vest
  modular_skyrat/modules/customization/modules/clothing/suits/coats.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_suit.dm
  modular_skyrat/modules/sec_haul/code/misc/vending.dm
  modular_skyrat/modules/sec_haul/code/peacekeeper/peacekeeper_clothing.dm
Labels: Fix

#14086 [MODULAR] Fixes the sprite of spent peacekeeper FMJ bullet casings.
  modular_skyrat/modules/sec_haul/icons/guns/ammo_cartridges.dmi
Labels: Fix

#14080 [MODULAR] Gives COs weapon permits.
  modular_skyrat/master_files/code/datums/id_trim/jobs.dm
Labels: Fix

#13959 [MODULAR] Replaces the cargo sec helmet, with the original just-black version.
  code/modules/cargo/packs.dm
  modular_skyrat/modules/cargo/code/packs.dm
Labels: Feature, Your opinion my choice

#13856 Hides ongoing vote count from non-admins
  tgui/packages/tgui/interfaces/VotePanel.tsx
Labels: Removal, Test Merged

#14142 Reduces the amount of cables needed to put wire on barricades, also adds something to the description that you can actually add wire to begin with
  modular_skyrat/modules/barricades/code/barricade.dm
Labels: Balance/Rebalance, Quality of Life

#14139 CI FIX & MAP RESET [MDB IGNORE]
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon.dmm
  _maps/RandomRuins/SpaceRuins/spacehotel_skyrat.dmm
  _maps/map_files/Blueshift/BlueShift_middle.dmm
  _maps/map_files/Blueshift/BlueShift_upper.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/KiloStation/KiloStation_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/map_files/tramstation/tramstation_skyrat.dmm
  _maps/skyrat/xenoarch_base.dmm
Labels: Fix

#14089 [MODULAR] Makes Interdyne minebots not get shot by interdyne turrets
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_syndicate_base1_skyrat.dmm
  _maps/RandomRuins/LavaRuins/skyrat/lavaland_surface_syndicate_base1_skyrat.dmm
  modular_skyrat/modules/mapping/code/interdyne_mining.dm
  tgstation.dme
Labels: Fix

#14168 [MODULAR]Give all skyrat roundstart races TRAIT_LITERATE,give primal podperson TRAIT_PLANT_SAFE
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/akula.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/aquatic.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/dwarf.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/ghoul.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/hemophage.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/humanoid.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/insect.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/mammal.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/podweak.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/robotic/_robotic.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/skrell.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/tajaran.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/unathi.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/vox.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/vulpkanin.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/xeno.dm
  modular_skyrat/modules/teshari/code/_teshari.dm
Labels: Fix

#14069 [SEMI-MODULAR] [READY] Underwear Ports, in 2022? Also fixing the Dutch jacket hiding your hands
  icons/mob/clothing/suit.dmi
  modular_skyrat/master_files/icons/mob/clothing/underwear.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories.dm
Labels: Feature

#13879 [READY] [SEMI-MODULAR] Port several (HUD) glasses from several Bay codebases
  code/modules/research/techweb/all_nodes.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_glasses.dm
  modular_skyrat/modules/modular_items/code/designs.dm
  modular_skyrat/modules/modular_items/code/modular_glasses.dm
  modular_skyrat/modules/modular_items/icons/modular_glasses.dmi
  modular_skyrat/modules/modular_items/icons/modular_glasses_mob.dmi
  modular_skyrat/modules/modular_items/readme.md
  modular_skyrat/modules/modular_vending/code/clothesmate.dm
  tgstation.dme
Labels: Feature

#14174 Demotes the QM (because he's getting promoted upstream)
  code/controllers/subsystem/id_access.dm
  code/game/objects/structures/crates_lockers/closets/secure/cargo.dm
  code/modules/jobs/job_types/cargo_technician.dm
  code/modules/jobs/job_types/quartermaster.dm
  modular_skyrat/master_files/code/datums/id_trim/jobs.dm
  modular_skyrat/master_files/code/game/objects/items/devices/radio/encryption_key.dm
  modular_skyrat/master_files/code/game/objects/items/devices/radio/headset.dm
  modular_skyrat/modules/customization/modules/jobs/_job.dm
  tgstation.dme
Labels: DO NOT MERGE

#14186 [MIRROR] CARGONIA THE FREE: The Quartermaster is now a head of staff. (#67518) [MDB IGNORE]
  _maps/RandomZLevels/blackmesa.dmm
  _maps/RandomZLevels/mothership_astrum.dmm
  _maps/RandomZLevels/research2.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/generic/CentCom_skyrat.dmm
  _maps/map_files/tramstation/tramstation.dmm
  code/__DEFINES/access.dm
  code/controllers/configuration/entries/game_options.dm
  code/controllers/subsystem/id_access.dm
  code/datums/id_trim/jobs.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_latejoin.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_roundstart.dm
  code/game/machinery/PDApainter.dm
  code/game/machinery/computer/crew.dm
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/structures/crates_lockers/closets/secure/cargo.dm
  code/modules/antagonists/traitor/objectives/bug_room.dm
  code/modules/antagonists/traitor/objectives/destroy_heirloom.dm
  code/modules/antagonists/traitor/objectives/destroy_machinery.dm
  code/modules/antagonists/traitor/objectives/kidnapping.dm
  code/modules/antagonists/traitor/objectives/kill_pet.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/jobs/job_types/cargo_technician.dm
  code/modules/jobs/job_types/head_of_personnel.dm
  code/modules/jobs/job_types/quartermaster.dm
  code/modules/jobs/job_types/shaft_miner.dm
  code/modules/jobs/job_types/warden.dm
  code/modules/modular_computers/computers/item/role_tablet_presets.dm
  code/modules/modular_computers/file_system/programs/budgetordering.dm
  config/game_options.txt
  icons/mob/huds/hud.dmi
  icons/obj/card.dmi
  strings/sillytips.txt
Labels: Code Improvement

#14215 Fixes skyrat-specific plumbing RCD's
  modular_skyrat/master_files/code/game/objects/items/RCD.dm
  modular_skyrat/modules/liquids/code/liquid_systems/liquid_plumbers.dm
Labels: Fix

#14198 [MODULAR] Fixes Retinal Projectors
  modular_skyrat/modules/modular_items/code/modular_glasses.dm
  modular_skyrat/modules/modular_items/icons/modular_glasses_mob.dmi
Labels: Fix

#14224 [MODULAR] Adds a CMG crate.
  modular_skyrat/modules/sec_haul/code/guns/cargo_stuff.dm
  tgstation.dme
Labels: Feature

#14227 [MODULAR] Some teshari backpack and mod control unit sprites
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/back.dmi
  modular_skyrat/modules/GAGS/greyscale_configs.dm
  modular_skyrat/modules/GAGS/icons/teshari_fallbacks.dmi
  modular_skyrat/modules/GAGS/json_configs/teshari_fallbacks/backpack.json
  modular_skyrat/modules/GAGS/json_configs/teshari_fallbacks/modcontrol.json
  modular_skyrat/modules/teshari/code/_clothing_defines.dm
  modular_skyrat/modules/teshari/code/teshari_bodytype.dm
  modular_skyrat/modules/teshari/code/teshari_clothes.dm
Labels: Sprites

#14225 [MODULAR] Replaces Stasis Pods in BlueShift with Stasis Beds.
  _maps/map_files/Blueshift/BlueShift_upper.dmm
Labels: Fix

#14214 Laughtrack emote for synthetics!
  modular_skyrat/modules/emotes/code/synth_emotes.dm
Labels: Feature

#14173 [Modular] Yet another guns PR (STG+Mp40 Nerf, armadyne dirt nerfed)
  modular_skyrat/modules/gunsgalore/code/guns/mp40.dm
  modular_skyrat/modules/gunsgalore/code/guns/stg.dm
  modular_skyrat/modules/sec_haul/code/guns/guns.dm
Labels: Balance/Rebalance

#14208 [NON-MODULAR] Bring back Ninja Cyborg
  code/modules/ninja/ninjaDrainAct.dm
Labels: Fix

#14211 [MODULAR] Fixes the QM's office on all maps + fixes broken Icebox
  _maps/map_files/Blueshift/BlueShift_middle.dmm
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
  _maps/map_files/tramstation/tramstation_skyrat.dmm
Labels: Fix

#14079 [FIX][MODULAR] Reduces the amount that the S.A.D can be abused.
  modular_skyrat/modules/self_actualization_device/code/self_actualization_device.dm
Labels: Fix, Code Improvement

#14202 [NONMODULAR] Allows Ethereals To Wear Underwear
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
Labels: Feature

#13960 [ready]Ghost Cafe: Japanese Room (and a cave room with fake lava)
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  modular_skyrat/modules/ghostcafe/code/ghostcafeturf.dm
  tgstation.dme
Labels: Feature, Quality of Life

#14165 [MODULAR] GWTB Outfit
  modular_skyrat/master_files/icons/mob/clothing/head.dmi
  modular_skyrat/master_files/icons/mob/clothing/mask.dmi
  modular_skyrat/master_files/icons/mob/clothing/mask_muzzled.dmi
  modular_skyrat/master_files/icons/mob/clothing/suit.dmi
  modular_skyrat/master_files/icons/mob/clothing/suit_digi.dmi
  modular_skyrat/master_files/icons/mob/clothing/uniform.dmi
  modular_skyrat/master_files/icons/mob/clothing/uniform_digi.dmi
  modular_skyrat/master_files/icons/obj/clothing/hats.dmi
  modular_skyrat/master_files/icons/obj/clothing/masks.dmi
  modular_skyrat/master_files/icons/obj/clothing/suits.dmi
  modular_skyrat/master_files/icons/obj/clothing/uniforms.dmi
  modular_skyrat/modules/blastwave_outfits/code/cargo_packs.dm
  modular_skyrat/modules/blastwave_outfits/code/clothing/blastwave_head.dm
  modular_skyrat/modules/blastwave_outfits/code/clothing/blastwave_mask.dm
  modular_skyrat/modules/blastwave_outfits/code/clothing/blastwave_suit.dm
  modular_skyrat/modules/blastwave_outfits/code/clothing/blastwave_uniform.dm
  modular_skyrat/modules/blastwave_outfits/readme.md
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_heads.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_suit.dm
  modular_skyrat/modules/loadouts/loadout_items/under/loadout_datum_under.dm
  tgstation.dme
Labels: Feature

#14234 Fixing CI: Sick Edition
  modular_skyrat/modules/mapping/code/mob_spawns.dm
Labels: Fix

#14235 Fixing leftover conflicts in the .txt files
  config/game_options.txt
  strings/tips.txt
Labels: Fix

#14070 Re-adds missing Arrivals ERT Docks
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
  _maps/map_files/tramstation/tramstation_skyrat.dmm
Labels: Fix

#14236 [Host] Triangulate Weakpoint objective now requires 80 crew to take
  code/modules/antagonists/traitor/objectives/locate_weakpoint.dm
  code/modules/antagonists/traitor/traitor_objective.dm
  code/modules/antagonists/traitor/uplink_handler.dm
Labels: Removal, Host Request

#14247 Culls the big uniform.dmi master files (part 1)
  modular_skyrat/master_files/icons/mob/clothing/uniform.dmi
  modular_skyrat/master_files/icons/mob/clothing/uniform_digi.dmi
  modular_skyrat/master_files/icons/obj/clothing/uniforms.dmi
Labels: Removal, Sprites

#14240 Blueshift map maintenance
  _maps/map_files/Blueshift/BlueShift_lower.dmm
  _maps/map_files/Blueshift/BlueShift_middle.dmm
  _maps/map_files/Blueshift/BlueShift_upper.dmm
Labels: Fix

#14250 Fixes exploitables... Again.
  code/modules/mob/living/carbon/human/human.dm
Labels: Fix

#14252 [MODULAR] Adds 9x19mm Peacekeeper and 10mm Auto ammo to autolathes
  modular_skyrat/modules/modular_weapons/code/autolathe_designs.dm
Labels: Feature

#14255 Adds a chameleon module to all interdyne/ds2 modsuits
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_syndicate_base1_skyrat.dmm
  _maps/RandomRuins/LavaRuins/skyrat/lavaland_surface_syndicate_base1_skyrat.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/interdynefob.dmm
  modular_skyrat/master_files/code/game/machinery/suit_storage.dm
  modular_skyrat/master_files/code/modules/mod/mod_types.dm
Labels: Quality of Life

#14284 Adds landing on their feet to visible species traits for felinids
  code/modules/mob/living/carbon/human/species_types/felinid.dm
Labels: Quality of Life

#14237 Redoes the blackmarket chevvy shuttle once again, now it might just actually look like a blackmarket cargo shuttle
  _maps/shuttles/skyrat/ruin_blackmarket_chevvy.dmm
Labels: Feature, Map Edit

#14233 [MODULAR] The PR that kills the ASHA, (and replaces it with two more fitting old-arms guns)
  code/__DEFINES/~skyrat_defines/projectiles.dm
  modular_skyrat/modules/gun_cargo/code/armament_datums/armadyne_oldarms.dm
  modular_skyrat/modules/gun_cargo/code/objects/guns/oldarms.dm
  tgstation.dme
Labels: Feature, Removal

#14196 [MODULAR] Yet Another Gun Balance PR, PT.II Revenge of the ammobox
  modular_skyrat/modules/gun_cargo/code/objects/ammo_boxes.dm
  modular_skyrat/modules/sec_haul/code/guns/ammo.dm
Labels: Balance/Rebalance

#14197 [MODULAR] Makes the CO eligible for secHUD options in loadout selection
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_glasses.dm
Labels: Balance/Rebalance

#14169 make the current map not appear in map votes
  code/datums/votes/map_vote.dm
Labels: DO NOT MERGE, Test Merged, Quality of Life

#14288 Removes after_spawn policy reminders
  code/modules/jobs/job_types/quartermaster.dm
  modular_skyrat/modules/brigoff/code/brigoff.dm
  modular_skyrat/modules/exp_corps/code/expeditionary_trooper.dm
  modular_skyrat/modules/nanotrasen_rep/code/nanotrasen_consultant.dm
  modular_skyrat/modules/sec_haul/code/security_medic/security_medic.dm
Labels: Removal, Config Update

#14294 Fixes organic interface IC verbs
  modular_skyrat/modules/customization/modules/surgery/organs/genitals.dm
  modular_skyrat/modules/modular_items/lewd_items/code/arousal_system.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_chemistry/chemistry_for_ERP.dm
Labels: Fix

#14295 Wings and Cat tails are no longer locked to your skin/hair color
  modular_skyrat/modules/customization/modules/surgery/organs/tails.dm
  modular_skyrat/modules/customization/modules/surgery/organs/wings.dm
Labels: Fix

#14296 Gives Contractors access to the Manifest app
  modular_skyrat/modules/contractor/code/items/tablet.dm
Labels: Feature

#14297 Fixes Security Medic Jumpsuits
  modular_skyrat/modules/sec_haul/code/security_medic/secmed_clothes.dm
Labels: Fix

#14292 [hotfix] burstfire is a strange beast NO GBP NO GBP NOGBP
  modular_skyrat/modules/gun_cargo/code/objects/guns/oldarms.dm
  modular_skyrat/modules/gunsgalore/code/guns/mp40.dm
  modular_skyrat/modules/gunsgalore/code/guns/stg.dm
Labels: Fix, GBP: No Update

#14303 fixes .223 stinger bullets not loading into the proper magazine
  modular_skyrat/modules/gun_cargo/code/objects/guns/oldarms.dm
Labels: Fix

#14315 Fixes literally nobody being able to use the blackmarket shuttle by removing its baked in access restrictions
  modular_skyrat/modules/mapping/code/shuttles.dm
Labels: Fix

#14342 Fixes the circular saw not working as a weapon (organic interface update edition)
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/kink_collars.dm
Labels: Fix

#14365 Allows borers to leave their hosts
  modular_skyrat/modules/cortical_borer/code/cortical_borer_abilities.dm
Labels: Fix

#14369 Sec webbings cant reskin
  modular_skyrat/modules/goofsec/code/sec_clothing_overrides.dm
Labels: Fix

#14361 Modules that work while inactive now work while inactive
  code/modules/mod/modules/_module.dm
Labels: Fix

#14337 Adds Drifting Contractors as a midround heavy ruleset
  modular_skyrat/modules/contractor/code/datums/midround/ruleset.dm
  tgstation.dme
Labels: Feature

#14313 [MODULAR] Fixes xeno-tail wag and MOD visibility
  modular_skyrat/master_files/icons/mob/sprite_accessory/xeno_parts.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/xeno.dm
Labels: Fix

#14344 Very minor changes to Maid Cafe for immersion
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
Labels: Fix

#14329 Adds a security_digi.dmi for uniforms
  _maps/RandomRuins/SpaceRuins/skyrat/interdynefob.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon.dmm
  modular_skyrat/master_files/code/modules/clothing/under/jobs/security.dm
  modular_skyrat/master_files/icons/donator/mob/clothing/uniform.dmi
  modular_skyrat/master_files/icons/donator/obj/clothing/uniform.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/security.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/security_digi.dmi
  modular_skyrat/master_files/icons/mob/clothing/uniform.dmi
  modular_skyrat/master_files/icons/mob/clothing/uniform_digi.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/security.dmi
  modular_skyrat/master_files/icons/obj/clothing/uniforms.dmi
  modular_skyrat/modules/customization/modules/clothing/under/security.dm
  modular_skyrat/modules/customization/modules/clothing/under/utility_port/utility.dm
  modular_skyrat/modules/loadouts/loadout_items/under/loadout_datum_under.dm
  modular_skyrat/modules/mapping/code/lavaland_ruin_code.dm
  modular_skyrat/modules/mapping/code/mob_spawns.dm
  modular_skyrat/modules/sec_haul/code/misc/vending.dm
  tgstation.dme
Labels: Sprites

#14385 [MODULARIZATION] Surgery Tables now only apply numbing
  code/game/objects/structures/tables_racks.dm
  modular_skyrat/master_files/code/game/objects/structures/tables_racks.dm
Labels: Balance/Rebalance, Removal, Code Improvement, Grammar and Formatting

#14364 Permit HUD QOL
  code/game/objects/structures/crates_lockers/closets/secure/cargo.dm
  code/modules/research/techweb/all_nodes.dm
  modular_skyrat/modules/gun_cargo/code/objects/hud_glasses.dm
  modular_skyrat/modules/gun_cargo/code/objects/vending.dm
  modular_skyrat/modules/modular_vending/code/wardrobes.dm
  tgstation.dme
Labels: Quality of Life

#13400 Vox version Beanyvox
  _maps/_basemap.dm
  code/__DEFINES/~skyrat_defines/DNA.dm
  code/__DEFINES/~skyrat_defines/species_clothing_paths.dm
  code/__HELPERS/~skyrat_helpers/is_helpers.dm
  code/datums/components/nanites.dm
  code/modules/research/nanites/nanite_chamber_computer.dm
  code/modules/research/nanites/nanite_programs/buffing.dm
  code/modules/research/nanites/nanite_programs/healing.dm
  code/modules/research/nanites/nanite_programs/sensor.dm
  code/modules/research/nanites/nanite_programs/suppression.dm
  code/modules/research/nanites/public_chamber.dm
  config/game_options.txt
  modular_skyrat/master_files/code/modules/client/preferences/species_features/digitigrade_legs.dm
  modular_skyrat/master_files/code/modules/client/preferences/species_features/mutant_colors.dm
  modular_skyrat/modules/better_vox/code/vox_bodycolor.dm
  modular_skyrat/modules/better_vox/code/vox_bodyparts.dm
  modular_skyrat/modules/better_vox/code/vox_species.dm
  modular_skyrat/modules/better_vox/code/vox_sprite_accessories.dm
  modular_skyrat/modules/better_vox/icons/accessories/vox_bodymarkings.dmi
  modular_skyrat/modules/better_vox/icons/accessories/vox_hair.dmi
  modular_skyrat/modules/better_vox/icons/accessories/vox_snout.dmi
  modular_skyrat/modules/better_vox/icons/accessories/vox_tail.dmi
  modular_skyrat/modules/better_vox/icons/bodyparts/vox_bodyparts.dmi
  modular_skyrat/modules/better_vox/icons/bodyparts/vox_eyes.dmi
  modular_skyrat/modules/better_vox/icons/bodyparts/vox_yellow.dmi
  modular_skyrat/modules/better_vox/icons/clothing/back.dmi
  modular_skyrat/modules/better_vox/icons/clothing/belt.dmi
  modular_skyrat/modules/better_vox/icons/clothing/color_gags_vox.dmi
  modular_skyrat/modules/better_vox/icons/clothing/ears.dmi
  modular_skyrat/modules/better_vox/icons/clothing/eyes.dmi
  modular_skyrat/modules/better_vox/icons/clothing/feet.dmi
  modular_skyrat/modules/better_vox/icons/clothing/feet_64.dmi
  modular_skyrat/modules/better_vox/icons/clothing/hands.dmi
  modular_skyrat/modules/better_vox/icons/clothing/head.dmi
  modular_skyrat/modules/better_vox/icons/clothing/helmet.dmi
  modular_skyrat/modules/better_vox/icons/clothing/mask.dmi
  modular_skyrat/modules/better_vox/icons/clothing/suit.dmi
  modular_skyrat/modules/better_vox/icons/clothing/uniform.dmi
  modular_skyrat/modules/better_vox/icons/vox_templates.dmi
  modular_skyrat/modules/better_vox/readme.md
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/human.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/vox.dm
  modular_skyrat/modules/emotes/code/dna_screams.dm
  modular_skyrat/modules/modular_items/lewd_items/code/arousal_system.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/skyrat/species_features.tsx
Labels: Feature, Ready

#14415 Fix the air alarms in toxins on blueshift (hopefully)
  _maps/map_files/Blueshift/BlueShift_upper.dmm
Labels: Fix

#14411 [MODULAR] Fix Engineering Delivery Windoor for Normal Engineers
  _maps/map_files/Blueshift/BlueShift_middle.dmm
Labels: Fix

#14188 CentCom/"Allies" Spritefile Cleanup
  modular_skyrat/master_files/code/modules/clothing/under/jobs/centcom.dm
  modular_skyrat/master_files/icons/mob/clothing/suit.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/centcom.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/centcom_digi.dmi
  modular_skyrat/master_files/icons/obj/clothing/suits.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/centcom.dmi
  modular_skyrat/modules/modular_ert/code/odst/odst_outfit.dm
  modular_skyrat/modules/modular_ert/code/odst/syndicate.dm
  modular_skyrat/modules/modular_ert/code/pizza/misc_clothing.dm
  modular_skyrat/modules/nanotrasen_naval_command/code/clothing.dm
  modular_skyrat/modules/nanotrasen_naval_command/code/outfits.dm
  modular_skyrat/modules/sec_haul/code/peacekeeper/armadyne_clothing.dm
  tgstation.dme
Labels: Sprites

#14346 Improves the "Naval"/Imperial sprites, and updates departmental Utility sprites
  _maps/map_files/Blueshift/BlueShift_middle.dmm
  _maps/map_files/Blueshift/BlueShift_upper.dmm
  modular_skyrat/master_files/code/modules/clothing/under/jobs/command.dm
  modular_skyrat/master_files/code/modules/clothing/under/jobs/engineering.dm
  modular_skyrat/master_files/code/modules/clothing/under/jobs/medical.dm
  modular_skyrat/master_files/code/modules/clothing/under/jobs/rnd.dm
  modular_skyrat/master_files/code/modules/clothing/under/jobs/security.dm
  modular_skyrat/master_files/icons/mob/clothing/feet.dmi
  modular_skyrat/master_files/icons/mob/clothing/feet_digi.dmi
  modular_skyrat/master_files/icons/mob/clothing/head.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/command.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/engineering.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/medical.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/rnd.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/security.dmi
  modular_skyrat/master_files/icons/mob/clothing/uniform.dmi
  modular_skyrat/master_files/icons/obj/clothing/hats.dmi
  modular_skyrat/master_files/icons/obj/clothing/shoes.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/command.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/engineering.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/medical.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/rnd.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/security.dmi
  modular_skyrat/master_files/icons/obj/clothing/uniforms.dmi
  modular_skyrat/modules/command_vendor/code/vending.dm
  modular_skyrat/modules/customization/modules/clothing/head/head.dm
  modular_skyrat/modules/customization/modules/clothing/shoes/shoes.dm
  modular_skyrat/modules/customization/modules/clothing/under/misc.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_heads.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_shoes.dm
  modular_skyrat/modules/loadouts/loadout_items/under/loadout_datum_under.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_structures/lustwish.dm
  modular_skyrat/modules/modular_vending/code/autodrobe.dm
  modular_skyrat/modules/modular_vending/code/clothesmate.dm
Labels: Sprites

#14190 Fixes for changeling transformations. Part 2.
  code/datums/quirks/_quirk.dm
  code/modules/antagonists/changeling/changeling.dm
  code/modules/antagonists/changeling/powers/transform.dm
Labels: Fix

#12185 Reverts #9625
  code/datums/station_traits/negative_traits.dm
Labels: Revert

#14408 Resprites on-mob bust overlays
  modular_skyrat/master_files/icons/mob/sprite_accessory/genitals/breasts_onmob.dmi
Labels: Sprites

#14384 Chunko Fops: Soulless Plushies for a Donator. Or all of them.
  modular_skyrat/master_files/icons/obj/plushes.dmi
  modular_skyrat/modules/customization/game/objects/items/plushes.dm
  modular_skyrat/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
Labels: Feature

#14336 [MODULAR] Xenohybrid species touch-up
  modular_skyrat/master_files/icons/mob/species/xeno_parts_greyscale.dmi
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/xeno.dm
Labels: Sprites

#14418 Updates phallus overlays and changes the interval of icon size 1 and 2
  modular_skyrat/master_files/icons/mob/sprite_accessory/genitals/penis_onmob.dmi
  modular_skyrat/modules/customization/modules/surgery/organs/genitals.dm
Labels: Balance/Rebalance, Sprites

#14427 [NO GBP] Actually links the newly sorted modular CC stuff to the right file
  modular_skyrat/master_files/code/modules/clothing/under/jobs/centcom.dm
Labels: GBP: No Update

#14420 Yet Another PR To Fix Various CI Failures
  _maps/map_files/Deltastation/DeltaStation2.dmm
  code/modules/jobs/job_types/assistant.dm
  code/modules/projectiles/projectile.dm
  code/modules/unit_tests/mecha_damage.dm
  code/modules/unit_tests/screenshots/screenshot_antag_icons_assaultoperative.png
  code/modules/unit_tests/screenshots/screenshot_antag_icons_borer.png
  code/modules/unit_tests/screenshots/screenshot_antag_icons_driftingcontractor.png
  code/modules/unit_tests/screenshots/screenshot_antag_icons_loneinfiltrator.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_akula.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_aquatic.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_dwarf.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_ghoul.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_hemophage.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_humanoid.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_insect.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_jelly_roundstartslime.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_mammal.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_mutant.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_mutant_infectious.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_mutant_infectious_fast.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_mutant_infectious_slow.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_pod_podweak.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_robotic.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_robotic_ipc.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_robotic_synthetic_human.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_robotic_synthetic_mammal.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_robotic_synthliz.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_skrell.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_tajaran.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_teshari.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_unathi.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_vox.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_vulpkanin.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_xeno.png
  modular_skyrat/master_files/code/datums/outfits.dm
  modular_skyrat/modules/loadouts/loadout_items/under/loadout_datum_under.dm
  tgstation.dme
Labels: Fix, Priority: HIGH

#14434 Goldeneye keys are now POIs
  modular_skyrat/modules/assault_operatives/code/goldeneye.dm
Labels: Quality of Life

#14338 Fixes synched borgs not syncing laws
  code/datums/station_traits/neutral_traits.dm
  code/game/objects/items/AI_modules.dm
  code/game/objects/items/AI_modules/_AI_modules.dm
  code/modules/mob/living/silicon/laws.dm
Labels: Fix, GBP: No Update

#14439 [NO GBP] fixes two mistakes with my previous changes to genitals.
  modular_skyrat/master_files/icons/mob/sprite_accessory/genitals/breasts_onmob.dmi
  modular_skyrat/modules/customization/modules/surgery/organs/genitals.dm
Labels: Fix, GBP: No Update

#14440 You can no longer use the radio while cuffed
  code/modules/mob/living/living_say.dm
Labels: Balance/Rebalance

#14448 [MODULAR] Fixes the 'SABR' in N-T armories to actually come with a firing-pin.
  modular_skyrat/modules/gun_cargo/code/armament_datums/nanotrasen.dm
Labels: Fix

#14462 New botanist alt-title: "Florist"
  modular_skyrat/modules/alternative_job_titles/code/alt_job_titles.dm
Labels: Feature

#14460 Re-Aligns Metastation/Tramstation ERT shuttle
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
  _maps/map_files/tramstation/tramstation_skyrat.dmm
Labels: Fix

#14456 [NO GBP] Fixes Armadyne Uniform icons
  modular_skyrat/modules/sec_haul/code/peacekeeper/armadyne_clothing.dm
Labels: GBP: No Update

#14453 Re-adds the red/white quipaos to loadout screen
  modular_skyrat/modules/loadouts/loadout_items/under/loadout_datum_under.dm
Labels: Quality of Life

#14459 Assault Ops equipment nerf
  _maps/shuttles/skyrat/goldeneye_cruiser.dmm
Labels: Balance/Rebalance

#14465 Re-adds the one true permabrig to Delta
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
Labels: Feature

#14469 Ashwalkers killing megafauna will always drop the crusher trophy
  modular_skyrat/modules/ashwalkers/code/megafauna/_megafauna.dm
Labels: Feature

#14455 Emergency Spacesuits
  code/game/objects/structures/crates_lockers/closets/utility_closets.dm
  modular_skyrat/modules/emergency_spacesuit/code/emergency_spacesuit.dm
  modular_skyrat/modules/more_briefcases/icons/briefcases.dmi
  tgstation.dme
Labels: Feature, Test Merged

#14441 Makes ears/frills/horns match the same hide mutant parts logic of every other accessory.
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/ears.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/frills.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/horns.dm
Labels: Fix

#14478 [Delta] Makes Linters Shut Up
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
Labels: Grammar and Formatting

#14482 [MODULAR] Removes the STG (from guncargo)
  modular_skyrat/modules/gun_cargo/code/armament_datums/armadyne_oldarms.dm
Labels: Removal

#14479 [NON-MODULAR] Progtot value tweaks (fewer TC, lower final objective costs.)
  code/__DEFINES/antagonists.dm
  code/modules/antagonists/traitor/objectives/final_objective/final_objective.dm
  code/modules/uplink/uplink_devices.dm
Labels: Balance/Rebalance

#14503 Refactors ashwalker trophy claiming
  code/modules/mob/living/simple_animal/hostile/megafauna/_megafauna.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/mining_mobs.dm
  modular_skyrat/modules/ashwalkers/code/megafauna/_megafauna.dm
  modular_skyrat/modules/ashwalkers/code/species/Ashwalkers.dm
  modular_skyrat/modules/ashwalkers/code/species/damage_datum.dm
  tgstation.dme
Labels: Refactor

#14446 Window Airbags (also refactors inflatables)
  modular_skyrat/master_files/code/_globalvars/maint_loot_trash.dm
  modular_skyrat/modules/inflatables/code/inflatable.dm
  modular_skyrat/modules/inflatables/icons/inflatable.dmi
  modular_skyrat/modules/window_airbags/code/window_airbag.dm
  modular_skyrat/modules/window_airbags/readme.md
  modular_skyrat/modules/window_airbags/sound/airbag_arm.ogg
  modular_skyrat/modules/window_airbags/sound/airbag_bang.ogg
  tgstation.dme
Labels: Feature, Refactor, Test Merged

#14481 Adds butterfly and infinity tattoos markings.
  modular_skyrat/master_files/icons/mob/body_markings/tattoo_markings.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/body_markings/body_markings.dm
Labels: Feature

#14506 Fixes some contractor items not working
  modular_skyrat/modules/contractor/code/datums/contractor_items.dm
Labels: Fix, GBP: No Update

#14316 Removes briefcase of cash from the smuggler satchel loot pool
  code/game/objects/items/storage/backpack.dm
  modular_skyrat/modules/modular_items/code/cash.dm
  tgstation.dme
Labels: Fix, Removal, Stale

#14493 [Delta] Another CI Fix
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
Labels: Fix

#14512 adds cat toy to loadout
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_toys.dm
Labels: Feature

#14523 [BlueShift] Yet ANOTHER CI fix
  _maps/map_files/Blueshift/BlueShift_lower.dmm
  _maps/map_files/Blueshift/BlueShift_middle.dmm
  _maps/map_files/Blueshift/BlueShift_upper.dmm
Labels: Fix

#14530 fixes erroneous accessory message
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
Labels: Fix

#14321 [(99.5%) MODULAR] Marine ERT Rework: Pass The Ammunition
  code/__DEFINES/~skyrat_defines/factions.dm
  code/__DEFINES/~skyrat_defines/signals.dm
  code/modules/antagonists/ert/ert.dm
  code/modules/projectiles/projectile.dm
  modular_skyrat/master_files/code/modules/mod/modules/_module.dm
  modular_skyrat/modules/gunsgalore/icons/guns/gunsgalore_guns.dmi
  modular_skyrat/modules/gunsgalore/icons/guns/gunsgalore_lefthand.dmi
  modular_skyrat/modules/gunsgalore/icons/guns/gunsgalore_righthand.dmi
  modular_skyrat/modules/marines/code/gear.dm
  modular_skyrat/modules/marines/code/miscellaneous.dm
  modular_skyrat/modules/marines/code/mod.dm
  modular_skyrat/modules/marines/code/modsuit_modules.dm
  modular_skyrat/modules/marines/code/smartgun.dm
  modular_skyrat/modules/marines/icons/items/ammo.dmi
  modular_skyrat/modules/marines/icons/items/guns.dmi
  modular_skyrat/modules/marines/icons/items/module.dmi
  modular_skyrat/modules/marines/icons/m44a.dmi
  modular_skyrat/modules/marines/icons/m44a_l.dmi
  modular_skyrat/modules/marines/icons/m44a_r.dmi
  modular_skyrat/modules/marines/icons/mobs/guns_l.dmi
  modular_skyrat/modules/marines/icons/mobs/guns_r.dmi
  modular_skyrat/modules/marines/icons/mobs/mod_modules.dmi
  modular_skyrat/modules/marines/icons/mod.dmi
  modular_skyrat/modules/marines/icons/smartgun.dmi
  modular_skyrat/modules/marines/icons/smartgun_back.dmi
  modular_skyrat/modules/marines/icons/smartgun_l.dmi
  modular_skyrat/modules/marines/icons/smartgun_module.dmi
  modular_skyrat/modules/marines/icons/smartgun_r.dmi
  modular_skyrat/modules/marines/icons/wornmod.dmi
  modular_skyrat/modules/marines/sound/m44a.ogg
  modular_skyrat/modules/modular_ert/code/marine_override/modified_equipment.dm
  modular_skyrat/modules/modular_ert/code/marine_override/modified_gear.dm
  tgstation.dme
Labels: Feature

#14526 [MODULAR] High heel shoes are now just normal shoes with special footstep sounds. No discomfort, unequip times, or slowdowns.
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/lewd_shoes.dm
Labels: Code Improvement, Refactor

#14531 Fixes lone infiltrator, makes it a light ruleset
  modular_skyrat/modules/Midroundtraitor/code/event.dm
Labels: Fix

#14566 [MODULAR] Short black dress and sweater availability tweaks!
  modular_skyrat/modules/loadouts/loadout_items/under/loadout_datum_under.dm
  modular_skyrat/modules/modular_vending/code/clothesmate.dm
Labels: Feature

#14536 [NO GBP][READY]Donator Item fix request.
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
Labels: Grammar and Formatting, GBP: No Update

#14569 Fixes missing 'how to charge your PDA' poster icon
  modular_skyrat/modules/aesthetics/posters/contraband.dmi
Labels: Fix

#14528 Fixed the screenshot tests, fixing a bunch of prefs menu species preview icons along the way
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/tramstation/tramstation_skyrat.dmm
  code/__HELPERS/global_lists.dm
  code/_globalvars/lists/flavor_misc.dm
  code/modules/antagonists/brother/brother.dm
  code/modules/antagonists/nightmare/nightmare.dm
  code/modules/mob/living/carbon/human/species_types/felinid.dm
  code/modules/mob/living/carbon/human/species_types/mothmen.dm
  code/modules/mob/living/carbon/human/species_types/mushpeople.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  code/modules/surgery/organs/eyes.dm
  code/modules/unit_tests/screenshot_humanoids.dm
  code/modules/unit_tests/screenshots/screenshot_antag_icons_bloodbrother.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_human_felinid.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_lizard.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_lizard_ashwalker.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_lizard_silverscale.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_moth.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_pod.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_snail.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_vox_primalis.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_xeno.png
  icons/mob/human_face.dmi
  modular_skyrat/master_files/code/modules/mob/living/carbon/human/species_type/snail.dm
  modular_skyrat/master_files/code/modules/mod/modules/modules_antag.dm
  modular_skyrat/master_files/icons/mob/mod.dmi
  modular_skyrat/master_files/icons/mob/species/moth_parts_greyscale.dmi
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/lizard.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/moth.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/mushpeople.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/xeno.dm
  modular_skyrat/modules/customization/modules/surgery/organs/ears.dm
  modular_skyrat/modules/modular_items/lewd_items/code/technical_stuff_for_lewd.dm
  tgstation.dme
Labels: Fix, Code Improvement, Sprites, Map Edit, Priority: HIGH, Unit Tests

#14520 Blueshift hydroponics fixes
  _maps/map_files/Blueshift/BlueShift_middle.dmm
Labels: Fix

#14494 Fix Blueshift cargo windoor access
  _maps/map_files/Blueshift/BlueShift_lower.dmm
  _maps/map_files/Blueshift/BlueShift_middle.dmm
Labels: Fix

#14574 [Half-Modular] Ashtongue for Ashwalkers
  code/modules/language/language_holder.dm
  code/modules/surgery/organs/tongue.dm
  modular_skyrat/master_files/code/modules/antagonists/ashwalker/ashwalker.dm
  modular_skyrat/master_files/icons/misc/language.dmi
  modular_skyrat/modules/customization/modules/language/ashtongue.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/lizard.dm
  modular_skyrat/modules/modular_items/code/necklace.dm
  tgstation.dme
Labels: Feature, Test Merged

#14508 Fixes drifting contractor greentext
  modular_skyrat/modules/contractor/code/datums/midround/antag_datum.dm
Labels: Fix

#14501 ash ritual
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_ash_walker1_skyrat.dmm
  _maps/RandomRuins/LavaRuins/skyrat/lavaland_surface_ash_walker1_skyrat.dmm
  code/__DEFINES/~skyrat_defines/signals.dm
  code/datums/components/crafting/recipes.dm
  code/modules/antagonists/ashwalker/ashwalker.dm
  modular_skyrat/modules/ashwalkers/code/buildings/tendril_cursing.dm
  modular_skyrat/modules/ashwalkers/code/effects/ash_ritual.dm
  modular_skyrat/modules/ashwalkers/code/effects/ash_rituals.dm
  modular_skyrat/modules/ashwalkers/code/effects/ash_rune.dm
  modular_skyrat/modules/ashwalkers/code/items/ash_tool.dm
  modular_skyrat/modules/ashwalkers/code/items/ashwalker_shaman.dm
  modular_skyrat/modules/ashwalkers/code/species/Ashwalkers.dm
  modular_skyrat/modules/ashwalkers/icons/ash_ritual.dmi
  modular_skyrat/modules/ashwalkers/icons/ashwalker_tools.dmi
  modular_skyrat/modules/mapping/code/icemoon.dm
  modular_skyrat/modules/modular_items/code/recipes_misc.dm
  tgstation.dme
Labels: Feature, Fix, Removal, Test Merged

#14592 Fixes CI and refactors Lone Infiltrator
  code/__DEFINES/role_preferences.dm
  code/__DEFINES/~skyrat_defines/role_preferences.dm
  modular_skyrat/modules/Midroundtraitor/code/datum_traitor.dm
  modular_skyrat/modules/Midroundtraitor/code/event.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/antagonists/antagonists/loneinfiltrator.ts
Labels: Refactor

#14578 Fixes heels not being properly subtyped
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_shoes.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/erp_belt.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/lewd_shoes.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_remove_erp_items.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_structures/lustwish.dm
Labels: Fix

#14565 [MODULAR] Fix Blueshift capacitor banks not actually being linked
  _maps/map_files/Blueshift/BlueShift_lower.dmm
Labels: Fix

#14633 Fixes ash rune harddel
  modular_skyrat/modules/ashwalkers/code/effects/ash_rune.dm
Labels: Fix

#14636 aribag
  modular_skyrat/modules/window_airbags/code/window_airbag.dm
Labels: Grammar and Formatting

#14630 [MIRROR] GAGS-ifies ties, and removes inherent ties from some outfits. (#67053)
  code/datums/greyscale/config_types/greyscale_configs.dm
  code/datums/greyscale/json_configs/ties.json
  code/datums/greyscale/json_configs/ties_worn.json
  code/game/objects/effects/spawners/costume.dm
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/storage/briefcase.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  code/modules/admin/topic.dm
  code/modules/awaymissions/mission_code/Academy.dm
  code/modules/clothing/neck/_neck.dm
  code/modules/clothing/outfits/standard.dm
  code/modules/clothing/under/jobs/civilian/civilian.dm
  code/modules/clothing/under/suits.dm
  code/modules/jobs/job_types/lawyer.dm
  code/modules/jobs/job_types/psychologist.dm
  code/modules/mafia/outfits.dm
  code/modules/vending/autodrobe.dm
  code/modules/vending/clothesmate.dm
  code/modules/vending/wardrobes.dm
  icons/mob/clothing/neck.dmi
  icons/mob/clothing/under/civilian.dmi
  icons/mob/clothing/under/suits.dmi
  icons/obj/clothing/neck.dmi
  icons/obj/clothing/under/civilian.dmi
  icons/obj/clothing/under/suits.dmi
Labels: Removal

#14431 Mutant touchups
  modular_skyrat/modules/mutants/code/mutant_antag_datum.dm
  modular_skyrat/modules/mutants/code/mutant_component.dm
  modular_skyrat/modules/mutants/code/mutant_event.dm
Labels: Feature, Test Merged

#14532 [SEMIMODULAR] Ghosts and antags can view crew background records
  code/datums/datacore.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
  modular_skyrat/modules/records_on_examine/code/record_manifest.dm
  tgui/packages/tgui/interfaces/RecordManifest.js
Labels: Feature

#14572 Adds missing Lidocaine
  code/game/objects/items/robot/items/hypo.dm
Labels: Fix

#14573 [Modular] Ghost cafe Japanese building tweaks
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
Labels: Fix, Quality of Life

#14585 Adds random teshari name generation
  modular_skyrat/modules/customization/__HELPERS/mobs.dm
  modular_skyrat/modules/customization/__HELPERS/names.dm
  modular_skyrat/modules/teshari/code/_teshari.dm
Labels: Fix

#14511 #14509 but not a coding travesty
  code/__DEFINES/~skyrat_defines/gun.dm
  code/modules/cargo/goodies.dm
  code/modules/cargo/packs.dm
  modular_skyrat/modules/cargo/code/goodies.dm
  modular_skyrat/modules/gun_cargo/code/armament_datums/jarnsmiour.dm
  modular_skyrat/modules/gun_cargo/code/company_datums.dm
  modular_skyrat/modules/knives/knives.dm
  tgstation.dme
Labels: Feature, Fix, Quality of Life

#14634 [Blueshift] Small Ordnance QOL
  _maps/map_files/Blueshift/BlueShift_upper.dmm
Labels: Quality of Life

#14602 Fixes mining and gulag shuttles in a way that will stay through map resets - I lied its modular
  modular_skyrat/modules/advanced_shuttles/code/shuttles.dm
Labels: Fix

#14604 [Modular] Snails & Blushing Fix (again!)
  code/modules/surgery/organs/eyes.dm
  modular_skyrat/master_files/icons/mob/human_face.dmi
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species.dm
Labels: Fix

#14644 [Tram] CI fix #2?
  _maps/map_files/readme.md
  _maps/map_files/tramstation/tramstation_skyrat.dmm
Labels: Fix

#14646 [BlueShift] CI fix + access fix
  _maps/map_files/Blueshift/BlueShift_upper.dmm
Labels: Fix

#14590 Chrono legionnaire outfit fix
  code/modules/clothing/outfits/standard.dm
  code/modules/mod/mod_types.dm
  modular_skyrat/master_files/icons/mob/mod.dmi
Labels: Fix

#14653 [s] Revert "Revert "[MIRROR] remove y##f in h##l spray, adds furry pride spray [MDB IGNORE]" [ MODULAR ]"
  code/game/objects/items/crayons.dm
  icons/effects/96x32.dmi
Labels: Revert
