Repository Skyrat-SS13/Skyrat-tg, pull requests merged in 2022-07, with the labels that each got.

#14650 Removes turnstiles
  _maps/RandomRuins/SpaceRuins/skyrat/interdynefob.dmm
  _maps/map_files/Blueshift/BlueShift_middle.dmm
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/Map_Reset/Skyrat_Map_Reset.dmm
  modular_skyrat/modules/mapping/code/turnstile.dm
  modular_skyrat/modules/mapping/icons/unique/turnstile.dmi
  tgstation.dme
  tools/UpdatePaths/Scripts/replace_turnstiles.txt
Labels: Removal

#14654 [NO GBP, MODULAR] makes the bowie knife work
  modular_skyrat/modules/knives/knives.dm
Labels: Fix, GBP: No Update

#14655 [MDB IGNORE] Map Reset Template updates + Delta Perma rebalance
  _maps/map_files/Map_Reset/Skyrat_Map_Reset.dmm
Labels: Balance/Rebalance

#14648 [MDB IGNORE] [MAP RESET] Map Reset 6/30
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/KiloStation/KiloStation_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
  _maps/map_files/readme.md
  _maps/map_files/tramstation/tramstation_skyrat.dmm
Labels: Map Reset

#14670 [Mirror] Manual mirrors of #68086, #68124 and #67870
  code/modules/clothing/masks/gas_filter.dm
  code/modules/mob/living/simple_animal/hostile/statue.dm
  tgui/packages/tgui/interfaces/Wires.tsx
Labels: Fix, Quality of Life

#14671 https://github.com/tgstation/tgstation/pull/67674
  code/datums/status_effects/gas.dm
  code/modules/movespeed/modifiers/reagent.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  icons/hud/screen_alert.dmi
Labels: Manual Mirror

#14672 https://github.com/tgstation/tgstation/pull/67856
  code/modules/projectiles/projectile/bullets/shotgun.dm
  icons/obj/guns/projectiles.dmi
Labels: Manual Mirror

#14673 https://github.com/tgstation/tgstation/pull/67821
  code/modules/paperwork/desk_bell.dm
  code/modules/vehicles/vehicle_actions.dm
  code/modules/vehicles/wheelchair.dm
  icons/obj/vehicles.dmi
Labels: Manual Mirror

#14661 [Non-Modular] Gives Those Ghoulish Gastropods Colorable Eyes
  code/modules/mob/living/carbon/human/species_types/snail.dm
  code/modules/surgery/organs/eyes.dm
  modular_skyrat/master_files/icons/mob/species/snail_eyes.dmi
Labels: Fix

#14620 Adds status displays for interlink shuttle
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  _maps/shuttles/skyrat/arrivals_skyrat.dmm
Labels: Quality of Life

#14675 ICON RESET
  icons/mob/clothing/suit.dmi
  icons/mob/clothing/under/civilian.dmi
  icons/mob/clothing/under/suits.dmi
  icons/mob/mutant_bodyparts.dmi
  icons/obj/clothing/under/civilian.dmi
  icons/obj/clothing/under/suits.dmi
  icons/obj/tiles.dmi
Labels: TG Reset, automerge

#14678 Adds hunter buckshot ammo boxes to mining vendor
  code/modules/mining/machine_vending.dm
  modular_skyrat/modules/gun_cargo/code/armament_datums/dynamics.dm
Labels: Feature, Fix

#14680 Fixes a few blueshift certified bruh moments
  _maps/map_files/Blueshift/BlueShift_lower.dmm
Labels: Fix

#14658 [MDB IGNORE] Adds summon beacons for command pets, secmed locker, and commandrobes
  _maps/map_files/Blueshift/BlueShift_middle.dmm
  _maps/map_files/Blueshift/BlueShift_upper.dmm
  _maps/map_files/Map_Reset/Skyrat_Map_Reset.dmm
  _maps/map_resetting.md
  code/game/objects/structures/crates_lockers/closets/secure/cargo.dm
  code/game/objects/structures/crates_lockers/closets/secure/engineering.dm
  code/game/objects/structures/crates_lockers/closets/secure/scientist.dm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  modular_skyrat/modules/advanced_choice_beacons/code/advanced_choice_beacon.dm
  modular_skyrat/modules/cargo/code/packs.dm
  modular_skyrat/modules/exp_corps/code/expeditionary_trooper.dm
  modular_skyrat/modules/modular_items/code/gas_miner_beacon.dm
  modular_skyrat/modules/modular_items/code/summon_beacon.dm
  modular_skyrat/modules/sec_haul/code/security_medic/security_medic.dm
  tgstation.dme
Labels: Refactor

#14677 TGUI reset and removal of unticked files and ci suite update
  .github/workflows/ci_suite.yml
  code/_globalvars/lists/maintenance_loot.dm
  code/datums/action.dm
  code/datums/actions/items/toggles.dm
  code/game/machinery/computer/atmos_control.dm
  code/game/objects/effects/effect_system/effects_foam.dm
  code/game/objects/items/AI_modules.dm
  code/game/objects/items/teleprod.dm
  code/modules/antagonists/nukeop/equipment/nuclear_bomb/_nuclear_bomb.dm
  code/modules/antagonists/nukeop/equipment/nuclearbomb.dm
  code/modules/antagonists/wizard/equipment/spellbook.dm
  code/modules/clothing/head/misc.dm
  code/modules/clothing/shoes/miscellaneous.dm
  code/modules/detectivework/detective_work.dm
  code/modules/events/spontaneous_appendicitis.dm
  code/modules/flufftext/Hallucination.dm
  code/modules/hydroponics/grown/misc.dm
  code/modules/language/swarmer.dm
  code/modules/mining/equipment/vendor_items.dm
  code/modules/mob/living/simple_animal/hostile/cockroach.dm
  code/modules/ninja/suit/ninjaDrainAct.dm
  code/modules/ninja/suit/shoes.dm
  code/modules/ninja/suit/suit.dm
  code/modules/power/apc.dm
  code/modules/security_levels/security_levels.dm
  code/modules/tgui/tgui.dm
  code/modules/tgui_panel/tgui_panel.dm
  modular_skyrat/master_files/code/modules/mining/equipment/explorer_gear.dm
  tgui/packages/tgfont/icons/nanotrasen_logo.svg
  tgui/packages/tgfont/icons/syndicate_logo.svg
  tools/ci/dm.sh
  tools/linux_build.py
  tools/validate_dme.py
Labels: Manual Mirror

#14691 Fixing the safety and fire mode toggle action buttons, as well as the Bluespace Technician's Return spell
  modular_skyrat/master_files/code/modules/projectiles/guns/gun.dm
  modular_skyrat/modules/icspawning/code/observer.dm
  modular_skyrat/modules/icspawning/code/spell.dm
  tgstation.dme
Labels: Fix, Test Merged

#14693 [FUCK] Fixes Delta Arrivals
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
Labels: Fix, GBP: No Update

#14694 [OH NO] Disables hunter buckshot
  code/modules/mining/machine_vending.dm
  modular_skyrat/modules/gun_cargo/code/armament_datums/dynamics.dm
Labels: Removal, automerge

#14695 [BlueShift] Permabrig post turnstile removal fix
  _maps/map_files/Blueshift/BlueShift_middle.dmm
Labels: Fix

#14699 [BlueShift] Even more fixes
  _maps/map_files/Blueshift/BlueShift_lower.dmm
  _maps/map_files/Blueshift/BlueShift_middle.dmm
  _maps/map_files/Blueshift/BlueShift_upper.dmm
  modular_skyrat/modules/skyrat_areas/code/station.dm
Labels: Fix

#14696 [Ghost Spawns] Rectifies Active Turfs in Ice-Ashies
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_ash_walker1_skyrat.dmm
Labels: Fix

#14701 Move urban coat to GAGS
  modular_skyrat/modules/GAGS/greyscale_configs.dm
  modular_skyrat/modules/GAGS/icons/urban_coat.dmi
  modular_skyrat/modules/GAGS/json_configs/urban_coat/urban_coat.json
  modular_skyrat/modules/GAGS/json_configs/urban_coat/urban_coat_worn.json
  modular_skyrat/modules/customization/modules/clothing/suits/coats.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_suit.dm
  modular_skyrat/modules/modular_vending/code/clothesmate.dm
Labels: Code Improvement, Sprites

#14703 [NO GBP] Quickfix to the currently broken augments tab.
  modular_skyrat/master_files/code/modules/client/preferences/middleware/limbs_and_markings.dm
Labels: Fix, GBP: No Update

#14706 More GAGS coats
  _maps/map_files/Blueshift/BlueShift_middle.dmm
  modular_skyrat/master_files/icons/mob/clothing/suit.dmi
  modular_skyrat/master_files/icons/obj/clothing/suits.dmi
  modular_skyrat/modules/GAGS/greyscale_configs.dm
  modular_skyrat/modules/GAGS/icons/duster.dmi
  modular_skyrat/modules/GAGS/icons/leather_jacket.dmi
  modular_skyrat/modules/GAGS/icons/peacoat.dmi
  modular_skyrat/modules/GAGS/json_configs/duster/duster.json
  modular_skyrat/modules/GAGS/json_configs/duster/duster_worn.json
  modular_skyrat/modules/GAGS/json_configs/leather_jacket/leather_jacket.json
  modular_skyrat/modules/GAGS/json_configs/leather_jacket/leather_jacket_worn.json
  modular_skyrat/modules/GAGS/json_configs/peacoat/peacoat.json
  modular_skyrat/modules/GAGS/json_configs/peacoat/peacoat_worn.json
  modular_skyrat/modules/customization/modules/clothing/suits/coats.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_suit.dm
  modular_skyrat/modules/modular_vending/code/autodrobe.dm
  modular_skyrat/modules/modular_vending/code/clothesmate.dm
Labels: Code Improvement

#14711 Fixes summon beacons
  modular_skyrat/modules/modular_items/code/summon_beacon.dm
Labels: Fix, automerge

#14709 i forgot to do the pr title: redux, fixes draconic and ashtongue using the same key
  modular_skyrat/modules/customization/modules/language/ashtongue.dm
Labels: Fix

#14729 updates wiki config + fixes corp. reg. manual
  code/game/objects/items/manuals.dm
  config/skyrat/skyrat_config.txt
Labels: Fix, Config Update

#14710 [Modular] Adds Pencilskirts As A Loadout Option.
  modular_skyrat/modules/loadouts/loadout_items/under/loadout_datum_under.dm
Labels: Feature

#14738 Ash ritual circles can no longer be moved
  modular_skyrat/modules/ashwalkers/code/effects/ash_rune.dm
Labels: Fix

#14726 Trapdoors should no longer be broken by the Decay subsystem
  code/datums/components/trapdoor.dm
Labels: Fix

#14747 Makes modular contraband in the seed vendor actually contraband
  modular_skyrat/modules/modular_vending/code/megaseed.dm
Labels: Fix

#14731 Fix: Cryopod breaking exploit
  modular_skyrat/modules/cryosleep/code/cryopod.dm
Labels: Fix

#14763 That One Time I Fixed Skrells For The Prefs Menu And Screenshots Tests
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_skrell.png
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/skrell.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/xeno.dm
Labels: Fix

#14692 [Non-Modular] Accessibility For The Blind: Volume 1 (Allows Them Analyzers/White Canes)
  code/game/objects/items/devices/scanners/gas_analyzer.dm
  code/game/objects/items/devices/scanners/health_analyzer.dm
  code/game/objects/items/devices/scanners/slime_scanner.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_inhands.dm
Labels: Feature, Balance/Rebalance

#14704 [Non-Modular] Modest Mollusk Bone Banishment
  code/modules/mob/living/carbon/human/species_types/snail.dm
  modular_skyrat/master_files/code/modules/mob/living/carbon/human/species_type/snail.dm
Labels: Balance/Rebalance

#14833 Removes >> from some comments that really shouldn't have them
  modular_skyrat/master_files/code/modules/clothing/anthro_clothes.dm
Labels: Code Improvement

#14759 [BlueShift] Adds power stations for each department
  _maps/map_files/Blueshift/BlueShift_lower.dmm
  _maps/map_files/Blueshift/BlueShift_middle.dmm
  _maps/map_files/Blueshift/BlueShift_upper.dmm
  modular_skyrat/modules/skyrat_areas/code/station.dm
  modular_skyrat/modules/skyrat_areas/icons/areas_station.dmi
Labels: Quality of Life

#14722 GAGS ID card
  _maps/RandomRuins/SpaceRuins/skyrat/polychromicfacility.dmm
  modular_skyrat/master_files/code/game/objects/items/cards_ids.dm
  modular_skyrat/master_files/icons/obj/card.dmi
  modular_skyrat/modules/GAGS/greyscale_configs.dm
  modular_skyrat/modules/GAGS/icons/id_card.dmi
  modular_skyrat/modules/GAGS/json_configs/items/id_card.json
Labels: Code Improvement

#14751 Fixes tile sprayer sec colour
  code/game/objects/items/airlock_painter.dm
Labels: Fix

#14760 Makes the "steal the hypospray" antag objective possible
  code/game/gamemodes/objective_items.dm
Labels: Fix

#14788 Modular languages translation keys
  modular_skyrat/master_files/code/game/objects/items/encryptionkey.dm
  tgstation.dme
Labels: Feature

#14835 fixes slime person colour change and hairstyle change and markings change and and and and
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/roundstartslime.dm
Labels: Fix

#14856 fixes an issue with indentation in the version of select_job() that Skyrat uses
  modular_skyrat/modules/title_screen/code/new_player.dm
Labels: Fix

#14492 Adds a couple wearable pelts to the loadout.
  modular_skyrat/master_files/icons/mob/clothing/head.dmi
  modular_skyrat/master_files/icons/mob/clothing/head/pelt_big.dmi
  modular_skyrat/master_files/icons/obj/clothing/hats.dmi
  modular_skyrat/modules/aesthetics/clothing/clothing.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_heads.dm
Labels: Feature

#14893 Revert "[MIRROR] Fixes admin.fun list [MDB IGNORE]"
  code/modules/admin/admin_verbs.dm
Labels: Revert

#14895 changes bubblegums on centcom z-level to no gps versions
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  modular_skyrat/master_files/code/modules/mob/living/simple_animal/hostile/bubblegum.dm
  tgstation.dme
Labels: Quality of Life

#14852 [MODULAR] Cyborgs addition and fixes
  modular_skyrat/master_files/code/modules/language/language_holders.dm
  modular_skyrat/modules/altborgs/code/cyborg_items.dm
  modular_skyrat/modules/altborgs/code/robot_model.dm
  modular_skyrat/modules/borg_buffs/code/robot.dm
Labels: Feature, Balance/Rebalance, Fix, Quality of Life

#14779 Repaths skyrat plushies
  _maps/map_files/Blueshift/BlueShift_middle.dmm
  _maps/map_files/Blueshift/BlueShift_upper.dmm
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  _maps/shuttles/skyrat/emergency_skyrat.dmm
  code/modules/cargo/packs.dm
  modular_skyrat/master_files/icons/donator/obj/custom.dmi
  modular_skyrat/master_files/icons/obj/plushes.dmi
  modular_skyrat/modules/customization/game/objects/items/plushes.dm
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
  modular_skyrat/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_toys.dm
  modular_skyrat/modules/moretraitoritems/code/syndicate_loadout.dm
Labels: Code Improvement, Good First PR

#14878 Fix/refactor synth reagents
  modular_skyrat/modules/customization/modules/reagents/chemistry/reagents/medicine_reagents.dm
  modular_skyrat/modules/customization/modules/reagents/chemistry/reagents/toxin_reagents.dm
Labels: Fix, Code Improvement

#14854 [BlueShift] Adds encryption key to CEs office, also takes away Tcomms thunderdome monitor console
  _maps/map_files/Blueshift/BlueShift_middle.dmm
Labels: Fix

#14832 Buzzwords Fix
  code/modules/surgery/organs/tongue.dm
Labels: Fix

#14828 Ashwalker Lavaland Kitchen Remap
  _maps/RandomRuins/LavaRuins/skyrat/lavaland_surface_ash_walker1_skyrat.dmm
Labels: Feature

#14740 Contractor qol things
  modular_skyrat/modules/contractor/code/datums/contract.dm
  modular_skyrat/modules/contractor/code/datums/contractor_support.dm
Labels: Fix, Stale, Quality of Life

#14625 Railroads
  code/modules/vehicles/_vehicle.dm
  modular_skyrat/modules/ashwalkers/code/buildings/railroad.dm
  modular_skyrat/modules/ashwalkers/icons/railroad.dmi
  modular_skyrat/modules/reagent_forging/code/forge.dm
  modular_skyrat/modules/reagent_forging/code/forge_items.dm
  tgstation.dme
Labels: Feature, Fix, Testing Phase, Test Merged

#14930 [MANUAL MIRROR] Add a long-range version of the gas analyzer [MDB IGNORE]
  code/game/objects/items/devices/scanners/gas_analyzer.dm
  code/game/objects/items/storage/belt.dm
  code/modules/research/designs/tool_designs.dm
  code/modules/research/techweb/all_nodes.dm
  icons/obj/device.dmi
  modular_skyrat/modules/aesthetics/device/device.dmi
  modular_skyrat/modules/modular_items/code/ranged_analyzer.dm
  tgstation.dme
Labels: Feature, GBP: No Update

#14867 [Interlink] Some QoL stuff, changes, edits + removes the trash spawners from the bathrooms
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
Labels: Quality of Life

#14906 [Modular] Just a braided hair
  modular_skyrat/master_files/icons/mob/sprite_accessory/hair.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/hair.dm
Labels: Feature, Sprites

#14927 fixes pencil skirts having that one pixel cut out
  modular_skyrat/master_files/code/modules/clothing/under/jobs/civilian/suits.dm
Labels: Fix

#14924 [HOST REQUEST] Remapps CCs evac shuttle dock
  _maps/map_files/generic/CentCom_skyrat.dmm
Labels: Feature

#14891 [Modular] Better area spawn algorithm
  code/modules/admin/admin_verbs.dm
  modular_skyrat/modules/automapper/code/area_spawn_entries.dm
  modular_skyrat/modules/automapper/code/area_spawn_subsystem.dm
  tgstation.dme
Labels: Quality of Life

#14847 [MODULAR] Tarkon Tideovers (Ready for Review)
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon.dmm
  code/__DEFINES/~skyrat_defines/access.dm
  modular_skyrat/master_files/code/game/machinery/doors/firedoor.dm
  modular_skyrat/modules/mapping/code/fluff.dm
  modular_skyrat/modules/mapping/code/misc.dm
  modular_skyrat/modules/mapping/code/mob_spawns.dm
  modular_skyrat/modules/projectiles/code/guns/misc/m6pdw.dm
  modular_skyrat/modules/skyrat_access_helpers/accesshelpers.dm
Labels: Balance/Rebalance, Fix

#14971 fixes pelt item icons
  modular_skyrat/master_files/icons/mob/clothing/head.dmi
  modular_skyrat/master_files/icons/mob/clothing/head/pelt_big.dmi
  modular_skyrat/master_files/icons/obj/clothing/hats.dmi
  modular_skyrat/modules/aesthetics/clothing/clothing.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_heads.dm
Labels: Feature, Fix

#14877 lets a few things be recolourable when they're meant to be
  modular_skyrat/modules/customization/modules/clothing/suits/coats.dm
Labels: Fix, GBP: No Update

#14980 [modular] fixes yet again, more random pixels missing from modular skirts
  modular_skyrat/master_files/code/modules/clothing/under/jobs/cargo.dm
  modular_skyrat/modules/customization/modules/clothing/under/sweaters.dm
Labels: Fix

#14978 Stops borers synthesising any reagent
  modular_skyrat/modules/cortical_borer/code/cortical_borer_abilities.dm
Labels: Fix

#14981 skirt fixes again
  modular_skyrat/modules/customization/modules/clothing/under/costumes.dm
  modular_skyrat/modules/customization/modules/clothing/under/misc.dm
  modular_skyrat/modules/customization/modules/clothing/under/utility_port/other_port.dm
Labels: Fix

#15007 [MODULARISATION AUDIT] Removes redundant mining maps
  _maps/RandomRuins/OceanRuins/ocean_bioweapon_lab.dmm
  _maps/RandomRuins/OceanRuins/ocean_fissure.dmm
  _maps/RandomRuins/OceanRuins/ocean_fissure_diag.dmm
  _maps/RandomRuins/OceanRuins/ocean_hideout_above.dmm
  _maps/RandomRuins/OceanRuins/ocean_hideout_below.dmm
  _maps/RandomRuins/OceanRuins/ocean_listening_outpost.dmm
  _maps/RandomRuins/OceanRuins/ocean_mining_above.dmm
  _maps/RandomRuins/OceanRuins/ocean_mining_below.dmm
  _maps/RandomRuins/RockplanetRuins/abandoned_a.dmm
  _maps/RandomRuins/RockplanetRuins/abandoned_b.dmm
  _maps/RandomRuins/RockplanetRuins/abandoned_c.dmm
  _maps/RandomRuins/RockplanetRuins/abandoned_d.dmm
  _maps/RandomRuins/RockplanetRuins/biodome.dmm
  _maps/RandomRuins/RockplanetRuins/cozycabin.dmm
  _maps/RandomRuins/RockplanetRuins/crashedshuttle.dmm
  _maps/RandomRuins/RockplanetRuins/factory.dmm
  _maps/RandomRuins/RockplanetRuins/rockplanet_surface_syndicate_base1_skyrat.dmm
  _maps/RandomRuins/RockplanetRuins/throwback.dmm
  _maps/RandomRuins/RockplanetRuins/xenohive.dmm
  _maps/_basemap.dm
  _maps/map_files/Mining/Icemoon.dmm
  _maps/map_files/Mining/Lavaland.dmm
  _maps/map_files/Mining/Rockplanet.dmm
  _maps/map_files/Mining/TidalLock.dmm
  code/__DEFINES/maps.dm
  code/__DEFINES/~skyrat_defines/maps.dm
  code/__DEFINES/~skyrat_defines/mining_traits.dm
  tgstation.dme
Labels: Removal, Modularisation Compliant

#15023 Black mesa ghost roles (sci, guard, HECU) can now speak common again
  modular_skyrat/modules/black_mesa/code/ghost_spawners.dm
Labels: Balance/Rebalance

#15014 [MODULARISATION AUDIT] Role preferences defines
  code/__DEFINES/role_preferences.dm
  code/__DEFINES/~skyrat_defines/role_preferences.dm
  tgstation.dme
Labels: Modularisation Compliant

#15011 [MODULARISATION AUDIT] Hud defines
  code/__DEFINES/atom_hud.dm
  code/__DEFINES/~skyrat_defines/atom_hud.dm
  tgstation.dme
Labels: Modularisation Compliant

#15008 [MODULARISATION AUDIT] Removes redundant genpop
  code/__DEFINES/access.dm
  modular_skyrat/master_files/code/datums/id_trim/jobs.dm
Labels: Removal, Modularisation Compliant

#15009 [MODULARISATION AUDIT] Removes redundant dependency changes
  dependencies.sh
Labels: Removal, Modularisation Compliant

#15010 [MODULARISATION AUDIT] Borer defines
  code/__DEFINES/actionspeed_modification.dm
  code/__DEFINES/~skyrat_defines/actionspeed_modification.dm
  tgstation.dme
Labels: Modularisation Compliant

#15016 [MODULARISATION AUDIT] Strippable defines
  code/__DEFINES/strippable.dm
  code/__DEFINES/~skyrat_defines/strippable.dm
  tgstation.dme
Labels: Modularisation Compliant

#15033 Shrink ray manufacturer text
  code/__DEFINES/~skyrat_defines/gun.dm
  modular_skyrat/master_files/code/modules/projectiles/guns/gun.dm
  modular_skyrat/modules/gun_cargo/code/gun_companies.dm
Labels: Feature

#15038 Revert "[MIRROR] Remove the powered requirement for ambience [MDB IGNORE]"
  code/game/area/areas.dm
Labels: Revert

#14932 Replaces two of secmed's gun case magazines with rubber.
  modular_skyrat/modules/sec_haul/code/guns/token_system/gunsets.dm
Labels: Balance/Rebalance

#15039 Revert "Revert "[MIRROR] Remove the powered requirement for ambience [MDB IGNORE]""
  code/game/area/areas.dm
Labels: Revert

#15044 [Mirror] Manual mirror of upstream 67909 and fixes gift sprites missing
  code/modules/recycling/sortingmachinery.dm
  modular_skyrat/modules/aesthetics/crates/icons/crates.dmi
Labels: Fix

#15045 Makes safes function as intended
  code/game/objects/items/storage/secure.dm
Labels: Fix

#15034 Relabels some guns' gun companies
  modular_skyrat/master_files/code/modules/projectiles/guns/gun.dm
  modular_skyrat/modules/gun_cargo/code/gun_companies.dm
  modular_skyrat/modules/gunsgalore/code/guns/fg42.dm
  modular_skyrat/modules/gunsgalore/code/guns/mg34.dm
  modular_skyrat/modules/gunsgalore/code/guns/pps.dm
  modular_skyrat/modules/marines/code/smartgun.dm
  modular_skyrat/modules/modular_weapons/code/energy.dm
  modular_skyrat/modules/sec_haul/code/guns/guns.dm
Labels: Fix

#15058 Fixes the lack of plum sprites due to mishaps in dealing with a merge conflict in #14909
  icons/obj/hydroponics/harvest.dmi
  icons/obj/hydroponics/seeds.dmi
Labels: Sprites

#14853 [Ice Box] The stairs outside the barbershop are now OSHA compliant, you're welcome
  _maps/skyrat/automapper/templates/icebox/icebox_barber.dmm
Labels: Fix

#15061 Fixes the issues with the database that have been forcing us to have #10823 test-merged for half a year
  code/controllers/configuration/entries/dbconfig.dm
  modular_skyrat/modules/title_screen/code/new_player.dm
Labels: Fix, Priority: HIGH

#14765 [MODULAR] Better Interdyne!
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_syndicate_base1_skyrat.dmm
  _maps/RandomRuins/LavaRuins/skyrat/lavaland_surface_syndicate_base1_skyrat.dmm
Labels: Quality of Life

#14775 fixes ashwalker conversion on icebox
  modular_skyrat/modules/ashwalkers/code/buildings/tendril_corruption.dm
Labels: Fix, Stale

#15064 Area Spawn now supports wall mounts. wall_hug replaced with mode.
  code/__DEFINES/~skyrat_defines/automapper.dm
  modular_skyrat/modules/automapper/code/area_spawn_entries.dm
  modular_skyrat/modules/automapper/code/area_spawn_subsystem.dm
  modular_skyrat/modules/positronic_alert_console/code/positronic_alert_console.dm
  tgstation.dme
Labels: Feature

#15074 [MODULARISATION AUDIT] Modularising some emissive bits
  code/modules/client/preferences/_preference.dm
  code/modules/surgery/organs/eyes.dm
  modular_skyrat/master_files/code/modules/client/preferences/_preference.dm
  modular_skyrat/modules/customization/modules/surgery/organs/eyes.dm
  tgstation.dme
Labels: Code Improvement, Modularisation Compliant

#15068 [MODULARISATION AUDIT] Modularise some liquids code
  code/game/turfs/open/_open.dm
  code/modules/reagents/chemistry/reagents.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/chemistry/reagents/pyrotechnic_reagents.dm
  modular_skyrat/modules/liquids/code/liquid_systems/liquid_turf.dm
  modular_skyrat/modules/liquids/code/reagents.dm
  tgstation.dme
Labels: Code Improvement, Modularisation Compliant

#15065 Revert "[MODULARISATION AUDIT] Role preferences defines"
  code/__DEFINES/role_preferences.dm
  code/__DEFINES/~skyrat_defines/role_preferences.dm
  tgstation.dme
Labels: Revert

#15062 updates the icebox ashwalker den
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_ash_walker1_skyrat.dmm
Labels: Quality of Life

#14814 Fixing special traumas being able to be rolled by inverse neurine, thus fixing a rare CI runtime
  code/modules/reagents/chemistry/reagents/impure_reagents/impure_medicine_reagents.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_chemistry/chemistry_for_ERP.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/hypnogoggles.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_quirks.dm
Labels: Fix, Stale

#15079 Removes free insuls from loadout menu
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_gloves.dm
  modular_skyrat/modules/mapping/code/color.dm
Labels: Removal

#14848 Slimeperson Alter Form improvements
  code/modules/mob/living/carbon/human/species_types/jellypeople.dm
  modular_skyrat/master_files/icons/mob/actions/actions_slime.dmi
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/roundstartslime.dm
Labels: Refactor

#15129 [MODULAR] Tarkon Firelock Cutbacks
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon.dmm
Labels: Fix

#15096 [MODULAR] [HOST REQUEST] Cut Down on Some Languages
  code/modules/surgery/organs/tongue.dm
  modular_skyrat/master_files/code/game/objects/items/encryptionkey.dm
  modular_skyrat/master_files/code/modules/language/language_holders.dm
  modular_skyrat/modules/customization/modules/culture/culture/culture_generic.dm
  modular_skyrat/modules/customization/modules/culture/culture/culture_xeno.dm
  modular_skyrat/modules/customization/modules/culture/location/location_generic.dm
  modular_skyrat/modules/customization/modules/language/beachbum.dm
  modular_skyrat/modules/customization/modules/language/buzzwords.dm
  modular_skyrat/modules/customization/modules/language/calcic.dm
  modular_skyrat/modules/customization/modules/language/dwarf.dm
  modular_skyrat/modules/customization/modules/language/language_holder.dm
  modular_skyrat/modules/customization/modules/language/monkey.dm
  modular_skyrat/modules/customization/modules/language/mushroom.dm
  modular_skyrat/modules/customization/modules/language/nekomimetic.dm
  modular_skyrat/modules/customization/modules/language/piratespeak.dm
  modular_skyrat/modules/customization/modules/language/selenian.dm
  modular_skyrat/modules/customization/modules/language/xenoknockoff.dm
  modular_skyrat/modules/customization/modules/language/zolmach.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/dwarf.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/skrell.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/xeno.dm
  tgstation.dme
Labels: Removal, Code Improvement, Modularisation Incompliant

#15076 reimplements 11987
  code/game/objects/items/storage/backpack.dm
Labels: Fix

#15156 Nerve Staple Blacklist Fix
  code/controllers/subsystem/processing/quirks.dm
Labels: Fix

#15118 [MIRROR] Admin lua scripting (#65635)
  .github/workflows/ci_suite.yml
  .gitignore
  .vscode/launch.json
  .vscode/settings.json
  auxlua.dll
  code/__DEFINES/admin.dm
  code/__DEFINES/spaceman_dmm.dm
  code/__HELPERS/_auxtools_api.dm
  code/__HELPERS/_lists.dm
  code/__HELPERS/auxtools.dm
  code/__HELPERS/logging/debug.dm
  code/_globalvars/logging.dm
  code/controllers/configuration/entries/game_options.dm
  code/controllers/configuration/entries/lua.dm
  code/controllers/subsystem/lua.dm
  code/datums/callback.dm
  code/game/world.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/SDQL2/SDQL_2_wrappers.dm
  code/modules/admin/verbs/lua/README.md
  code/modules/admin/verbs/lua/_hooks.dm
  code/modules/admin/verbs/lua/_wrappers.dm
  code/modules/admin/verbs/lua/helpers.dm
  code/modules/admin/verbs/lua/lua_editor.dm
  code/modules/admin/verbs/lua/lua_state.dm
  code/modules/admin/view_variables/modify_variables.dm
  config/config.txt
  config/lua.txt
  dependencies.sh
  lua/SS13.lua
  tgstation.dme
  tgui/packages/tgui/components/Button.js
  tgui/packages/tgui/components/Section.tsx
  tgui/packages/tgui/interfaces/LuaEditor/CallModal.js
  tgui/packages/tgui/interfaces/LuaEditor/ChunkViewModal.js
  tgui/packages/tgui/interfaces/LuaEditor/ListMapper.js
  tgui/packages/tgui/interfaces/LuaEditor/Log.js
  tgui/packages/tgui/interfaces/LuaEditor/StateSelectModal.js
  tgui/packages/tgui/interfaces/LuaEditor/TaskManager.js
  tgui/packages/tgui/interfaces/LuaEditor/index.js
  tgui/packages/tgui/package.json
  tgui/packages/tgui/styles/components/Section.scss
  tgui/packages/tgui/styles/main.scss
  tgui/yarn.lock
  tools/ci/install_auxlua.sh
Labels: Code Improvement

#14642 Updates /update_body_size() to compensate for a player's rotation.
  modular_skyrat/modules/customization/datums/dna.dm
Labels: Fix, Stale

#15183 [MIRROR] Update Python required versions
  tools/requirements.txt
Labels: Upstream PR Merged

#15138 [MDB IGNORE] There are many paths in life
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_syndicate_base1_skyrat.dmm
  _maps/RandomRuins/LavaRuins/skyrat/lavaland_surface_syndicate_base1_skyrat.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/alientoollab.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/blackmarket.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/cargodiselost.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/dangerous_research.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/interdynefob.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/polychromicfacility.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/salvagepost.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/smugglies.dmm
  _maps/RandomRuins/SpaceRuins/spacehotel_skyrat.dmm
  _maps/RandomZLevels/blackmesa.dmm
  _maps/RandomZLevels/mothership_astrum.dmm
  _maps/RandomZLevels/research2.dmm
  _maps/map_files/Blueshift/BlueShift_lower.dmm
  _maps/map_files/Blueshift/BlueShift_middle.dmm
  _maps/map_files/Blueshift/BlueShift_upper.dmm
  _maps/map_files/Map_Reset/Skyrat_Map_Reset.dmm
  _maps/map_files/Mining/Lavaland.dmm
  _maps/map_files/generic/CentCom_skyrat.dmm
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  _maps/shuttles/skyrat/goldeneye_cruiser.dmm
  _maps/shuttles/skyrat/pirate_enclave.dmm
  _maps/shuttles/skyrat/prison_transport.dmm
  _maps/shuttles/skyrat/slaver_syndie.dmm
  _maps/skyrat/automapper/templates/Skyrat_Map_Reset.dmm
  _maps/skyrat/automapper/templates/deltastation/deltastation_barber.dmm
  _maps/skyrat/automapper/templates/deltastation/deltastation_prison.dmm
  _maps/skyrat/automapper/templates/icebox/icebox_barber.dmm
  _maps/skyrat/automapper/templates/kilostation/kilostation_ert_bay.dmm
  _maps/skyrat/automapper/templates/metastation/metastation_arrivals.dmm
  _maps/skyrat/automapper/templates/metastation/metastation_barber.dmm
  _maps/skyrat/automapper/templates/tramstation/tramstation_barber.dmm
  _maps/skyrat/automapper/templates/tramstation/tramstation_ntrep_office.dmm
  _maps/skyrat/xenoarch_base.dmm
Labels: Code Improvement

#15196 Fix digi and tesh clothing
  code/modules/mob/living/carbon/human/human_update_icons.dm
Labels: Fix

#15200 Ports upstream LUA PRs
  .vscode/launch.json
  code/__HELPERS/_lists.dm
  code/controllers/subsystem/lua.dm
  code/modules/admin/verbs/lua/_wrappers.dm
  code/modules/admin/verbs/lua/helpers.dm
  code/modules/admin/verbs/lua/lua_editor.dm
  code/modules/admin/verbs/lua/lua_state.dm
  dependencies.sh
  lua/SS13.lua
  tgui/packages/tgui/interfaces/LuaEditor/index.js
Labels: Fix, Quality of Life

#15235 [FUCK] Sanitize Loaded Languages!
  modular_skyrat/master_files/code/modules/client/preferences/middleware/languages.dm
Labels: Fix, GBP: No Update

#15243 fixes the marked one megafauna arena not spawning
  modular_skyrat/modules/gladiator/code/datums/ruins/lavaland.dm
Labels: Fix

#15192 Fixed computers joining together when there's also wall mount computers
  modular_skyrat/modules/connecting_computer/code/_computer.dm
Labels: Fix

#15231 [NO GBP] [Tram] Hey, so I accidentally baked in the barber shop and NT office into Tram (FUCK FUCK FUCK)
  _maps/map_files/tramstation/tramstation.dmm
Labels: Fix, GBP: No Update

#15234 Removes old Map Reset template and the associated readme
  _maps/map_files/Map_Reset/Skyrat_Map_Reset.dmm
  _maps/map_files/readme.md
  _maps/map_resetting.md
Labels: Removal

#15233 [Kilo] Adds NT Consultant Office to Auto Mapper
  _maps/skyrat/automapper/templates/kilostation/kilostation_ert_bay.dmm
Labels: Quality of Life

#15198 [MODULAR] Makes CI sound shorter range.
  modular_skyrat/modules/indicators/code/combat_indicator.dm
Labels: Balance/Rebalance

#15208 Tarkon Shuttle Overhaul
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon.dmm
  _maps/skyrat/shuttles/ruin_tarkon_driver.dmm
Labels: Feature

#15229 [Delta] Updates the Barber Shop, also fixes cryo not being connected to the main power grid
  _maps/skyrat/automapper/automapper_config.toml
  _maps/skyrat/automapper/templates/deltastation/deltastation_barber.dmm
  _maps/skyrat/automapper/templates/deltastation/deltastation_cryo.dmm
Labels: Fix, Quality of Life

#15073 NRI ERT Modernisation DLC: Posters
  modular_skyrat/modules/aesthetics/posters/contraband.dmi
  modular_skyrat/modules/aesthetics/posters/posters.dm
Labels: Feature

#14741 Fixes of a bunch of sprite issues with Synth lizards
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_robotic_synthliz.png
  modular_skyrat/master_files/icons/mob/body_markings/synthliz_secondary.dmi
  modular_skyrat/master_files/icons/mob/body_markings/synthliz_tertiary.dmi
  modular_skyrat/master_files/icons/mob/species/synthliz_parts_greyscale.dmi
Labels: Sprites

#15261 Delete neckleash.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/neckleash.dm
  modular_skyrat/modules/modular_items/lewd_items/code/technical_stuff_for_lewd.dm
  tgstation.dme
Labels: Removal, Code Improvement

#15178 fauna reagent health
  modular_skyrat/modules/fauna_reagent/fauna_reagent.dm
  tgstation.dme
Labels: Feature

#14901 [MODULAR] Ghostrole Cryo Announcements!
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_syndicate_base1_skyrat.dmm
  _maps/RandomRuins/LavaRuins/skyrat/lavaland_surface_syndicate_base1_skyrat.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/interdynefob.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon.dmm
  code/game/machinery/announcement_system.dm
  modular_skyrat/modules/cryosleep/code/cryopod.dm
  modular_skyrat/modules/mapping/code/mob_spawns.dm
Labels: Feature, Code Improvement

#15188 Increases Cargo Borg's Upgraded Clamp Capacity
  modular_skyrat/modules/cargoborg/code/robot_items.dm
Labels: Balance/Rebalance

#15265 [FIX, again, NO GBP] makes the bowie once again, not act strange
  modular_skyrat/modules/knives/knives.dm
Labels: Fix, GBP: No Update

#15230 Nukes Salon area define from maps, uses upstreams Barber
  _maps/map_files/Blueshift/BlueShift_middle.dmm
  _maps/map_files/Blueshift/BlueShift_upper.dmm
  _maps/skyrat/automapper/templates/icebox/icebox_barber.dmm
  _maps/skyrat/automapper/templates/kilostation/kilostation_ert_bay.dmm
  _maps/skyrat/automapper/templates/metastation/metastation_barber.dmm
  _maps/skyrat/automapper/templates/tramstation/tramstation_barber.dmm
  tools/UpdatePaths/Scripts_Skyrat/_salon_to_barber.txt
  tools/UpdatePaths/Scripts_Skyrat/replace_turnstiles.txt
Labels: Quality of Life

#15171 Engineering Tallborg
  modular_skyrat/modules/altborgs/code/robot_model.dm
  modular_skyrat/modules/altborgs/icons/tallborg/tallrobot_eng.dmi
Labels: Feature

#13848 The Refactaur
  code/__DEFINES/mobs.dm
  code/__DEFINES/~skyrat_defines/DNA.dm
  code/datums/components/surgery_initiator.dm
  code/modules/mob/living/carbon/human/human_update_icons.dm
  code/modules/surgery/amputation.dm
  code/modules/surgery/limb_augmentation.dm
  modular_skyrat/master_files/code/modules/clothing/clothing.dm
  modular_skyrat/master_files/code/modules/clothing/clothing_variation_overrides/suit.dm
  modular_skyrat/master_files/code/modules/clothing/clothing_variation_overrides/under.dm
  modular_skyrat/master_files/code/modules/clothing/suits/_suits.dm
  modular_skyrat/master_files/code/modules/clothing/under/_under.dm
  modular_skyrat/master_files/code/modules/surgery/bodyparts/species_parts/taur_bodyparts.dm
  modular_skyrat/master_files/code/modules/surgery/surgery.dm
  modular_skyrat/master_files/icons/mob/clothing/taur_masking_helpers.dmi
  modular_skyrat/master_files/icons/mob/species/taur_invisible_legs.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/taur_types.dm
  modular_skyrat/modules/customization/modules/surgery/bodyparts/_bodyparts.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/shibari_worn_uniform.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/shibari.dm
  modular_skyrat/modules/modular_items/lewd_items/code/technical_stuff_for_lewd.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/SurgeryInitiator.tsx
Labels: Fix, Refactor, Test Merged

#15276 Hair color changing for slimepeople
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/roundstartslime.dm
Labels: Feature

#14857 [SEMI-MODULAR] adding some stuffs that got removed during spell refactor
  code/modules/mining/lavaland/necropolis_chests.dm
  modular_skyrat/modules/curatorbundle/Ronin.dm
  modular_skyrat/modules/morewizardstuffs/spellbook.dm
  modular_skyrat/modules/morewizardstuffs/spells/bloodcrawl_potion.dm
  modular_skyrat/modules/morewizardstuffs/spells/magical_stimpack.dm
  modular_skyrat/modules/morewizardstuffs/spells/snap_celeritas.dm
  tgstation.dme
Labels: Refactor, Stale

#15189 donator items
  modular_skyrat/master_files/icons/donator/mob/clothing/suit.dmi
  modular_skyrat/master_files/icons/donator/obj/clothing/suits.dmi
  modular_skyrat/master_files/icons/obj/plushes.dmi
  modular_skyrat/modules/customization/game/objects/items/plushes.dm
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
  modular_skyrat/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
Labels: Feature, GBP: No Update

#15282 [FUCK] [NO GBP] Fix Ghost Pods Speaking Over Common and Showing Ghost Roles on Manifest!
  modular_skyrat/modules/cryosleep/code/cryopod.dm
Labels: Fix, GBP: No Update

#15318 [MODULAR] Ammo bags no longer stack mags ontop of eachother
  modular_skyrat/modules/modular_items/code/bags.dm
Labels: Quality of Life

#15319 [MODULAR] Telebatons and Ammo pouches no longer give Illegal Tech
  modular_skyrat/master_files/code/modules/uplink/uplink_items.dm
Labels: Balance/Rebalance

#15324 Sets MAT_CATEGORY_ITEM_MATERIAL to TRUE for Bluespace Crystals
  code/datums/materials/basemats.dm
Labels: Upstream PR Merged

#15317 Hotspots no longer produce smoke and bonfires on CentCom z-levels don't either
  code/game/objects/structures/bonfire.dm
  code/modules/atmospherics/environmental/LINDA_fire.dm
  modular_skyrat/modules/liquids/code/liquid_systems/liquid_effect.dm
Labels: Fix, Removal

#14908 Syndicate Spritefile Cleanup
  _maps/RandomRuins/SpaceRuins/skyrat/cargodiselost.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/interdynefob.dmm
  _maps/shuttles/skyrat/pirate_enclave.dmm
  code/modules/clothing/under/syndicate.dm
  code/modules/unit_tests/screenshots/screenshot_antag_icons_driftingcontractor.png
  modular_skyrat/master_files/code/modules/clothing/under/syndicate.dm
  modular_skyrat/master_files/icons/mob/clothing/under/syndicate.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/syndicate_digi.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/syndicate.dmi
  modular_skyrat/modules/Syndie_edits/code/syndie_edits.dm
  modular_skyrat/modules/aesthetics/clothing/clothing.dm
  modular_skyrat/modules/black_mesa/code/ghost_spawners.dm
  modular_skyrat/modules/customization/modules/clothing/under/costumes.dm
  modular_skyrat/modules/customization/modules/clothing/under/misc.dm
  modular_skyrat/modules/encounters/code/enclave_pirates.dm
  modular_skyrat/modules/loadouts/loadout_items/under/donator.dm
  modular_skyrat/modules/loadouts/loadout_items/under/loadout_datum_under.dm
  modular_skyrat/modules/mapping/code/lavaland_ruin_code.dm
  modular_skyrat/modules/mapping/code/mob_spawns.dm
  modular_skyrat/modules/mapping/code/wardrobes.dm
  tgstation.dme
Labels: Sprites, Quality of Life
