Repository Skyrat-SS13/Skyrat-tg, pull requests merged in 2022-08, with the labels that each got.

#15335 [MANUAL MIRROR] Fix rolling paper pack spawning empty
  code/game/objects/items/storage/fancy.dm
Labels: Fix

#15347 Interlink banners no longer heal you
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
Labels: Fix

#15316 Moves sweaters to GAGS
  modular_skyrat/master_files/icons/mob/clothing/uniform.dmi
  modular_skyrat/master_files/icons/obj/clothing/uniforms.dmi
  modular_skyrat/modules/GAGS/greyscale_configs.dm
  modular_skyrat/modules/GAGS/icons/sweaters.dmi
  modular_skyrat/modules/GAGS/json_configs/sweater/sweater.json
  modular_skyrat/modules/GAGS/json_configs/sweater/sweater_worn.json
  modular_skyrat/modules/customization/modules/clothing/under/sweaters.dm
  modular_skyrat/modules/loadouts/loadout_items/under/loadout_datum_under.dm
  modular_skyrat/modules/modular_vending/code/clothesmate.dm
Labels: Code Improvement

#15330 Optimizes SQL logging and adds missing related default config entries
  code/__HELPERS/logging/_logging.dm
  code/controllers/subsystem/dbcore.dm
  config/skyrat/dbconfig.txt
  modular_skyrat/master_files/code/_globalvars/configuration.dm
  modular_skyrat/master_files/code/controllers/subsystem/dbcore.dm
  tgstation.dme
Labels: Config Update, Refactor, Test Merged

#15325 Nerfs borer HP
  modular_skyrat/modules/cortical_borer/code/cortical_borer.dm
  modular_skyrat/modules/cortical_borer/code/cortical_borer_abilities.dm
Labels: Balance/Rebalance

#14368 [MODULAR] Make Vendors Have at Least 5 of Cosmetic Clothing!
  modular_skyrat/modules/modular_vending/code/vending.dm
Labels: Balance, Stale

#15365 [MODULAR] Improves liquid input and output pumps
  modular_skyrat/modules/liquids/code/liquid_systems/liquid_plumbers.dm
  modular_skyrat/modules/liquids/icons/obj/structures/drains.dmi
Labels: Feature

#15167 [MODULAR] Remove Cryo Console and Pod Power Requirements!
  modular_skyrat/modules/cryosleep/code/cryopod.dm
Labels: Quality of Life

#15159 [Modular] Lore Flags and stuff
  modular_skyrat/modules/aesthetics/flag/code/signs_flags.dm
  modular_skyrat/modules/aesthetics/flag/icons/flags.dmi
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_inhands.dm
  tgstation.dme
Labels: Feature

#15158 Updates a few Modular Engineering uniform icons
  modular_skyrat/master_files/code/modules/clothing/under/jobs/engineering.dm
  modular_skyrat/master_files/icons/mob/clothing/under/engineering.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/engineering_digi.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/engineering.dmi
  modular_skyrat/modules/customization/modules/clothing/under/misc.dm
  modular_skyrat/modules/modular_vending/code/wardrobes.dm
Labels: Sprites

#15195 [Modular] Fixes being able to clear temp flavor text
  modular_skyrat/modules/customization/modules/mob/living/living_verbs.dm
Labels: Fix

#15279 [MOSTLY-MODULAR] Tarkon Overhaul: Defcon Levels [TM Ready]
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/defcon2.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/defcon3.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/defcon4.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/defcon5.dmm
  _maps/shuttles/skyrat/ruin_tarkon_driverdc2.dmm
  _maps/shuttles/skyrat/ruin_tarkon_driverdc3.dmm
  _maps/shuttles/skyrat/ruin_tarkon_driverdc54.dmm
  modular_skyrat/master_files/code/modules/mob/living/simple_animal/hostile/grabbagmob.dm
  modular_skyrat/modules/mapping/code/fluff.dm
  modular_skyrat/modules/mapping/code/mob_spawns.dm
  modular_skyrat/modules/mapping/code/shuttles.dm
  modular_skyrat/modules/mapping/code/space.dm
  strings/modular_maps/skyrat/PortTarkon.toml
Labels: Feature, Balance/Rebalance

#15077 reorganises CO into sec_haul
  _maps/map_files/Blueshift/BlueShift_middle.dmm
  _maps/skyrat/automapper/templates/Skyrat_Map_Reset.dmm
  _maps/skyrat/automapper/templates/deltastation/deltastation_prison.dmm
  code/__DEFINES/jobs.dm
  modular_skyrat/master_files/code/datums/id_trim/jobs.dm
  modular_skyrat/master_files/icons/mob/clothing/head.dmi
  modular_skyrat/master_files/icons/mob/clothing/suit.dmi
  modular_skyrat/master_files/icons/obj/card.dmi
  modular_skyrat/master_files/icons/obj/clothing/hats.dmi
  modular_skyrat/master_files/icons/obj/clothing/suits.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/security.dmi
  modular_skyrat/modules/alternative_job_titles/code/alt_job_titles.dm
  modular_skyrat/modules/brigoff/code/armor.dm
  modular_skyrat/modules/brigoff/code/brigoff_clothes.dm
  modular_skyrat/modules/brigoff/code/headset.dm
  modular_skyrat/modules/brigoff/code/jobs.dm
  modular_skyrat/modules/brigoff/code/security.dm
  modular_skyrat/modules/protected_roles/code/antag_restricted_jobs.dm
  modular_skyrat/modules/sec_haul/code/corrections_officer/Space_Station_13_areas.dm
  modular_skyrat/modules/sec_haul/code/corrections_officer/corrections_officer.dm
  modular_skyrat/modules/sec_haul/code/corrections_officer/corrections_officer_equipment.dm
  modular_skyrat/modules/sec_haul/code/corrections_officer/landmarks.dm
  modular_skyrat/modules/skyrat_areas/icons/areas_station.dmi
  tgstation.dme
Labels: Code Improvement

#15105 [MODULAR] IRCD removal, Improved RCD added, also featuring, the AFAD
  modular_skyrat/modules/cargo/code/goodies.dm
  modular_skyrat/modules/cargo/code/items/AFAD.dm
  modular_skyrat/modules/cargo/code/items/improvedRCD.dm
  modular_skyrat/modules/cargo/code/packs.dm
  tgstation.dme
Labels: Feature, Balance

#15050 Locks *flip to freerunning quirk
  modular_skyrat/modules/emotes/code/emotes.dm
Labels: Removal, Host Request

#14687 [MODULAR] Restores the 'feign impairment' verb
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/human.dm
Labels: Fix

#15385 Fixes a few storage exploits
  modular_skyrat/modules/goofsec/code/sec_clothing_overrides.dm
  modular_skyrat/modules/sec_haul/code/peacekeeper/peacekeeper_clothing.dm
Labels: Fix

#15382 [MODULAR] slightly improved title loading screen
  config/skyrat/title_html.txt
  modular_skyrat/modules/title_screen/code/title_screen_html.dm
  modular_skyrat/modules/title_screen/code/title_screen_subsystem.dm
Labels: Feature, Config Update

#15381 Tarkon Fix/QoL: Mostly Atmos Edition
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/defcon2.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/defcon3.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/defcon4.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/defcon5.dmm
  code/__DEFINES/~skyrat_defines/_HELPERS/atmos_mapping_helpers.dm
  modular_skyrat/modules/mapping/code/atmos_control.dm
  modular_skyrat/modules/mapping/code/misc.dm
  tgstation.dme
Labels: Fix, Quality of Life, Balance/Rebalance

#15343 [MODULAR] [MDB IGNORE] Several fixes to the space hotel
  _maps/RandomRuins/SpaceRuins/spacehotel_skyrat.dmm
  code/modules/mob_spawn/ghost_roles/unused_roles.dm
  modular_skyrat/modules/mapping/code/mob_spawns.dm
Labels: Fix, Quality of Life

#15199 [MODULAR] Better Subtle and Subtler!
  modular_skyrat/modules/verbs/code/subtle.dm
Labels: Fix, Quality of Life

#14607 [NO GBP] Final adjustments to on-mob sprites for racks.
  modular_skyrat/master_files/icons/mob/sprite_accessory/genitals/breasts_onmob.dmi
Labels: Sprites, Test Merged, GBP: No Update

#14864 [NON-MODULAR] Remove piratespeak from the language menu
  code/modules/language/aphasia.dm
  code/modules/language/codespeak.dm
  code/modules/language/drone.dm
  code/modules/language/narsian.dm
  code/modules/language/xenocommon.dm
  modular_skyrat/master_files/code/modules/language/language.dm
  tgstation.dme
Labels: Balance, Stale, GBP: No Update

#15346 Changes the polychromic winter coat to GAGS
  modular_skyrat/master_files/code/_globalvars/maint_loot_common.dm
  modular_skyrat/master_files/icons/donator/mob/clothing/head.dmi
  modular_skyrat/master_files/icons/donator/mob/clothing/suit.dmi
  modular_skyrat/master_files/icons/donator/obj/clothing/hats.dmi
  modular_skyrat/master_files/icons/donator/obj/clothing/suits.dmi
  modular_skyrat/modules/GAGS/greyscale_configs.dm
  modular_skyrat/modules/GAGS/json_configs/winter_coat/winter_coat.json
  modular_skyrat/modules/GAGS/json_configs/winter_coat/winter_coat_worn.json
  modular_skyrat/modules/GAGS/json_configs/winter_coat/winter_hood.json
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_suit.dm
  modular_skyrat/modules/modular_vending/code/clothesmate.dm
Labels: Code Improvement

#15017 [MODULARISATION AUDIT] Redundant atmos turf changes
  code/__DEFINES/atmospherics/atmos_mapping_helpers.dm
Labels: Modularisation Compliant

#15013 [MODULARISATION AUDIT] Layer defines
  code/__DEFINES/layers.dm
  code/__DEFINES/~skyrat_defines/layers.dm
  tgstation.dme
Labels: Modularisation Compliant

#15028 Disable spiders from rolling in events
  modular_skyrat/modules/events/code/event_overrides.dm
Labels: Balance, Test Merge Candidate, Host Request

#15259 [MODULAR] Actually Fix Invisible Selected Languages
  code/modules/client/preferences.dm
  modular_skyrat/master_files/code/modules/client/preferences/middleware/languages.dm
Labels: Fix

#15248 [HOST REQUEST] [MODULAR] (or something) Imperial Enclave pirates into NRI raiders
  _maps/shuttles/skyrat/pirate_enclave.dmm
  code/modules/events/pirates.dm
  modular_skyrat/modules/encounters/code/enclave_pirates.dm
  strings/pirates.json
Labels: Feature, Removal

#15388 Fixes sprite-related CI issues
  code/modules/unit_tests/screenshots/screenshot_antag_icons_headrevolutionary.png
  code/modules/unit_tests/screenshots/screenshot_antag_icons_provocateur.png
  modular_skyrat/modules/GAGS/icons/shorts_pants.dmi
  modular_skyrat/modules/sec_haul/code/misc/vending.dm
Labels: Fix

#15389 Fixes to some pollution runtimes and fixes pollution being able to spread to space
  code/__DEFINES/~skyrat_defines/pollution.dm
  code/datums/components/grillable.dm
  code/game/objects/items/candle.dm
  code/game/objects/items/cigs_lighters.dm
  code/game/objects/structures/bonfire.dm
  code/game/turfs/change_turf.dm
  code/modules/atmospherics/environmental/LINDA_system.dm
  code/modules/atmospherics/machinery/components/unary_devices/vent_scrubber.dm
  code/modules/atmospherics/machinery/portable/scrubber.dm
  code/modules/mob/living/blood.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/mob/living/emote.dm
  code/modules/reagents/chemistry/holder.dm
  modular_skyrat/modules/pollution/code/admin_spawn_pollution.dm
  modular_skyrat/modules/pollution/code/air_refresher.dm
  modular_skyrat/modules/pollution/code/perfumes.dm
  modular_skyrat/modules/pollution/code/pollutant_datum.dm
  modular_skyrat/modules/pollution/code/pollutants_generic.dm
  modular_skyrat/modules/pollution/code/pollution.dm
  modular_skyrat/modules/pollution/code/pollution_emitters.dm
  modular_skyrat/modules/pollution/code/pollution_subsystem.dm
  modular_skyrat/modules/pollution/code/temporary_pollution_emission_component.dm
  modular_skyrat/modules/pollution/code/turf_open.dm
Labels: Fix, Code Improvement

#15405 [FUCK] No more randomized humans
  code/modules/client/preferences.dm
Labels: Fix, Green Label, FUCK, DEVCON 1(FUCK), Priority: CRITICAL

#15406 Fix Mini Bat Wings Sprite
  modular_skyrat/master_files/icons/mob/sprite_accessory/wings.dmi
Labels: Fix

#15433 resprites SEVA suit AND ALSO MAKES IT FULLY FIREPROOF AGAIN
  modular_skyrat/master_files/icons/mob/clothing/head.dmi
  modular_skyrat/master_files/icons/mob/clothing/head_muzzled.dmi
  modular_skyrat/master_files/icons/mob/clothing/mask.dmi
  modular_skyrat/master_files/icons/mob/clothing/mask_muzzled.dmi
  modular_skyrat/master_files/icons/mob/clothing/suit.dmi
  modular_skyrat/master_files/icons/mob/clothing/suit_digi.dmi
  modular_skyrat/master_files/icons/obj/clothing/hats.dmi
  modular_skyrat/master_files/icons/obj/clothing/masks.dmi
  modular_skyrat/master_files/icons/obj/clothing/suits.dmi
  modular_skyrat/modules/SEVA_suit/code/seva_obj.dm
Labels: Sprites

#15443 Fixes not looking at the mouse in combat mode
  code/game/atoms.dm
Labels: Fix

#15449 Removes the Icon for Common
  modular_skyrat/master_files/icons/misc/language.dmi
  modular_skyrat/modules/customization/modules/language/common.dm
Labels: Removal, Sprites

#15442 rebalances SEVA somewhat, as it's very ??? at the moment
  code/__DEFINES/~skyrat_defines/traits.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/goliath.dm
  modular_skyrat/modules/SEVA_suit/code/seva_obj.dm
Labels: Balance/Rebalance

#15451 Adds Digitigrade sprites for the ninja MODsuit
  modular_skyrat/master_files/icons/mob/mod.dmi
Labels: Fix

#15448 Corrects the description of the baton holster module
  modular_skyrat/modules/contractor/code/items/modsuit/modules.dm
Labels: Grammar and Formatting

#15458 Fixes the bomber jacket being tied to the wrong item in the loadout
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_suit.dm
Labels: Fix

#15457 Actually removes the icon for Sol for those that speak it
  modular_skyrat/master_files/icons/misc/language.dmi
  modular_skyrat/modules/customization/modules/language/common.dm
Labels: Fix

#15431 gives the agateram an incredibly subpar dodgeroll
  modular_skyrat/modules/gladiator/code/game/objects/items/gladiator_items.dm
Labels: Feature

#15386 Fixes CO area
  _maps/map_files/Blueshift/BlueShift_middle.dmm
  _maps/skyrat/automapper/templates/Skyrat_Map_Reset.dmm
  _maps/skyrat/automapper/templates/deltastation/deltastation_prison.dmm
  modular_skyrat/modules/sec_haul/code/corrections_officer/Space_Station_13_areas.dm
  modular_skyrat/modules/skyrat_areas/icons/areas_station.dmi
Labels: Fix, GBP: No Update

#15340 [MODULAR] Fixes default security belt having 7 slots instead of 5
  modular_skyrat/modules/goofsec/code/sec_clothing_overrides.dm
Labels: Fix

#15049 NRI ERT Modernisation mini-DLC, Part 1
  modular_skyrat/master_files/code/modules/projectiles/guns/ballistic/automatic.dm
  modular_skyrat/master_files/icons/mob/clothing/suit.dmi
  modular_skyrat/master_files/icons/mob/clothing/uniform_digi.dmi
  modular_skyrat/master_files/icons/obj/clothing/suits.dmi
  modular_skyrat/modules/aesthetics/guns/code/guns.dm
  modular_skyrat/modules/cargo/code/goodies.dm
  modular_skyrat/modules/cargo/code/packs.dm
  modular_skyrat/modules/customization/modules/clothing/masks/breath.dm
  modular_skyrat/modules/gun_cargo/code/armament_datums/izhevsk.dm
  modular_skyrat/modules/novaya_ert/code/advanced_choice_beacon.dm
  modular_skyrat/modules/novaya_ert/code/automatic.dm
  modular_skyrat/modules/novaya_ert/code/back.dm
  modular_skyrat/modules/novaya_ert/code/belt.dm
  modular_skyrat/modules/novaya_ert/code/ert.dm
  modular_skyrat/modules/novaya_ert/code/head.dm
  modular_skyrat/modules/novaya_ert/code/id.dm
  modular_skyrat/modules/novaya_ert/code/outfit.dm
  modular_skyrat/modules/novaya_ert/code/suit.dm
  modular_skyrat/modules/novaya_ert/code/uniform.dm
Labels: Feature, Balance, Fix, Grammar and Formatting

#15110 Mimes are now Veteran Only
  code/modules/jobs/job_types/clown.dm
  code/modules/mob/living/carbon/human/species_types/snail.dm
  modular_skyrat/modules/veteran_only/code/job_types.dm
  modular_skyrat/modules/veteran_only/code/species_types.dm
  modular_skyrat/modules/veteran_only/readme.md
  tgstation.dme
Labels: Balance, Host Request

#15429 Some lewd fixes and feature
  modular_skyrat/modules/modular_items/lewd_items/code/arousal_system.dm
Labels: Feature, Fix

#15379 Adds brain tumor and Illiterate quirks to headrole, security restricked quirk lists.
  code/__DEFINES/~skyrat_defines/jobs.dm
Labels: Balance/Rebalance

#15476 fixes briefcase loadout greyscaling
  modular_skyrat/modules/loadouts/loadout_items/_loadout_datum.dm
Labels: Fix

#15477 Ring boxes contain rings again
  modular_skyrat/modules/customization/game/objects/items/storage/rings.dm
Labels: Fix

#15483 Fixes the Screenshot Tests (hopefully)
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_monkey.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_moth.png
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/monkey.dm
  tgstation.dme
Labels: Fix

#15487 Ghosts can now flip
  modular_skyrat/modules/emotes/code/emotes.dm
Labels: Fix

#15522 Add new Queen Bee and Queen Insect tails
  modular_skyrat/master_files/icons/mob/sprite_accessory/tails.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/tails.dm
Labels: Feature

#15557 equalization of the problems and opportunities of men and women in organic interactions
  modular_skyrat/modules/modular_items/lewd_items/code/arousal_system.dm
Labels: Fix

#15564 [MODULAR] Fixes cryopod timers.
  modular_skyrat/modules/cryosleep/code/cryopod.dm
Labels: Fix

#15576 Fixes BSA papercode
  code/modules/station_goals/bsa.dm
  modular_skyrat/modules/bsa_overhaul/code/bsa_cannon.dm
Labels: GBP: No Update

#15472 Updates Medical sprites, labcoats, biosuits, and several digitigrade sprites to match upstream
  code/modules/unit_tests/screenshots/screenshot_antag_icons_bloodbrother.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_moth.png
  modular_skyrat/master_files/icons/mob/clothing/head_muzzled.dmi
  modular_skyrat/master_files/icons/mob/clothing/suit.dmi
  modular_skyrat/master_files/icons/mob/clothing/suit_digi.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/medical.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/medical_digi.dmi
  modular_skyrat/master_files/icons/obj/clothing/suits.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/medical.dmi
  modular_skyrat/modules/aesthetics/clothing/clothing.dm
  modular_skyrat/modules/roboclothes/code/robotics_clothing.dm
  modular_skyrat/modules/roboclothes/icons/labcoat_robo_item.dmi
  modular_skyrat/modules/roboclothes/icons/labcoat_robo_onmob.dmi
Labels: Sprites

#15579 Datumizes borer focuses and converts abilities to balloon alerts
  modular_skyrat/modules/cortical_borer/code/cortical_borer.dm
  modular_skyrat/modules/cortical_borer/code/cortical_borer_abilities.dm
  modular_skyrat/modules/cortical_borer/code/focus_datum.dm
  tgstation.dme
Labels: Refactor, Quality of Life

#15580 makes borers removable again
  modular_skyrat/modules/cortical_borer/code/cortical_borer.dm
  modular_skyrat/modules/cortical_borer/code/cortical_borer_abilities.dm
Labels: Fix

#15584 68689
  code/game/objects/structures/reflector.dm
Labels: GBP: No Update, Balance/Rebalance

#15529 [AutoMapper] Some map fixes
  _maps/skyrat/automapper/automapper_config.toml
  _maps/skyrat/automapper/templates/deltastation/deltastation_prison.dmm
  _maps/skyrat/automapper/templates/metastation/metastation_barber.dmm
Labels: Fix, Quality of Life

#15526 [IceBox Inderdyne] Fixes Active Turfs
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_syndicate_base1_skyrat.dmm
Labels: Fix

#15562 [MODULAR] Borer tweaks - no more free lunch.
  modular_skyrat/modules/cortical_borer/code/cortical_borer.dm
  modular_skyrat/modules/cortical_borer/code/cortical_borer_abilities.dm
Labels: Jake, Balance/Rebalance

#15583 Adds a UI to inject chemicals as a borer
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
  modular_skyrat/modules/cortical_borer/code/cortical_borer.dm
  modular_skyrat/modules/cortical_borer/code/cortical_borer_abilities.dm
  tgui/packages/tgui/interfaces/BorerChem.js
Labels: Refactor

#15510 Nerfs drifting contractors a bit
  modular_skyrat/master_files/code/modules/uplink/uplink_implant.dm
  modular_skyrat/modules/contractor/code/datums/midround/outfit.dm
  modular_skyrat/modules/contractor/code/items/modsuit/modsuit.dm
  tgstation.dme
Labels: Balance/Rebalance

#15602 Refactors more borer things
  modular_skyrat/modules/cortical_borer/code/_cortical_borer_important.dm
  modular_skyrat/modules/cortical_borer/code/cortical_borer.dm
  modular_skyrat/modules/cortical_borer/code/cortical_borer_abilities.dm
  modular_skyrat/modules/cortical_borer/code/cortical_borer_antag.dm
  modular_skyrat/modules/cortical_borer/code/cortical_borer_egg.dm
  modular_skyrat/modules/cortical_borer/code/focus_datum.dm
  tgstation.dme
Labels: Fix, Refactor, Grammar and Formatting

#15520 Fixes Tarkon Active Turfs
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/defcon2.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/defcon4.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/defcon5.dmm
Labels: Fix

#15589 Fixes TG posters and updates 2 Modular posters
  modular_skyrat/modules/aesthetics/posters/contraband.dmi
Labels: Sprites

#15563 [MODULAR] Fixes sec/guard quirk blacklist oversights.
  code/__DEFINES/~skyrat_defines/jobs.dm
Labels: Fix

#15611 heal organs on host revive
  modular_skyrat/modules/cortical_borer/code/cortical_borer_abilities.dm
Labels: Feature

#15545 Mobs without the freerunning quirk can (unintentionally) flip once again.
  modular_skyrat/modules/emotes/code/emotes.dm
Labels: Fix

#15619 Borers now have a status effect while under the effect of sugar
  modular_skyrat/modules/cortical_borer/code/cortical_borer.dm
  modular_skyrat/modules/cortical_borer/code/cortical_borer_abilities.dm
  modular_skyrat/modules/cortical_borer/code/status_effects.dm
  modular_skyrat/modules/cortical_borer/icons/actions.dmi
  tgstation.dme
Labels: Quality of Life

#15622 Fixes armor/vest breaking on digitigrade legs
  modular_skyrat/master_files/code/modules/clothing/clothing_variation_overrides/suit.dm
  modular_skyrat/modules/black_mesa/code/armor.dm
Labels: Fix

#15631 Fixes screenshot tests failing due to new sneakers sprites
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_akula.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_aquatic.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_dwarf.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_ghoul.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_hemophage.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_human.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_human_felinid.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_human_krokodil_addict.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_humanoid.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_insect.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_jelly_roundstartslime.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_lizard_ashwalker.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_lizard_silverscale.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_mammal.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_moth.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_mutant.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_mutant_infectious.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_mutant_infectious_fast.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_mutant_infectious_slow.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_pod.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_pod_podweak.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_robotic.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_robotic_ipc.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_robotic_synthetic_human.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_robotic_synthetic_mammal.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_robotic_synthliz.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_skrell.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_snail.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_tajaran.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_teshari.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_unathi.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_vampire.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_vox.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_vox_primalis.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_vulpkanin.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_xeno.png
Labels: Fix

#15632 Cybernetic bodyparts will no longer change appearance randomly during the round
  modular_skyrat/modules/customization/modules/client/augment/limbs.dm
  modular_skyrat/modules/customization/modules/surgery/bodyparts/_bodyparts.dm
Labels: Fix

#15647 [NON-MODULAR] Actually Actually Fix Invisible Languages for Good!
  code/modules/client/preferences.dm
Labels: Fix

#15633 Updates the new shoe sprites for digi legs
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_lizard_ashwalker.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_xeno.png
  modular_skyrat/master_files/icons/mob/clothing/feet_digi.dmi
  modular_skyrat/modules/GAGS/icons/sneakers_digi.dmi
Labels: Sprites

#15524 [Modular] NRI Raider ship fixes
  _maps/shuttles/skyrat/pirate_enclave.dmm
  modular_skyrat/modules/aesthetics/posters/posters.dm
  modular_skyrat/modules/black_mesa/code/objects.dm
  modular_skyrat/modules/encounters/code/enclave_pirates.dm
  modular_skyrat/modules/novaya_ert/code/advanced_choice_beacon.dm
Labels: Fix, Quality of Life

#15686 Updates a bunch of GAGS conversion color palettes to something half decent
  modular_skyrat/master_files/icons/donator/mob/clothing/head.dmi
  modular_skyrat/master_files/icons/donator/mob/clothing/suit.dmi
  modular_skyrat/master_files/icons/donator/obj/clothing/hats.dmi
  modular_skyrat/master_files/icons/donator/obj/clothing/suits.dmi
  modular_skyrat/modules/GAGS/icons/cloak.dmi
  modular_skyrat/modules/GAGS/icons/suit.dmi
  modular_skyrat/modules/GAGS/icons/sweaters.dmi
  modular_skyrat/modules/GAGS/icons/urban_coat.dmi
Labels: Sprites

#15668 [SEMI-MODULAR] Fixes to the DNR trait and ghost's DNR verb, as well as to corpse examine text
  code/__DEFINES/~skyrat_defines/mobs.dm
  code/__DEFINES/~skyrat_defines/traits.dm
  code/game/objects/items/defib.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/living/living.dm
  code/modules/surgery/revival.dm
  modular_skyrat/master_files/code/modules/mob/living/carbon/human_helpers.dm
Labels: Fix, Balance/Rebalance

#15690 fix forging
  code/game/objects/items/stacks/rods.dm
  modular_skyrat/modules/reagent_forging/code/forge_items.dm
Labels: Fix

#15700 Tarkon shutter consistencies
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/defcon2.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/defcon3.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/defcon4.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/defcon5.dmm
Labels: Fix

#15766 [MODULAR] Removes Space Ninja from rolling from random events
  modular_skyrat/modules/events/code/event_overrides.dm
Labels: Removal, GBP: No Update

#15790 fixes mothic and lizard supply boxes not having a sprite
  modular_skyrat/modules/aesthetics/storage/storage.dm
Labels: Fix

#15624 [Automapper] Touches up the CC evac shuttle dock
  _maps/skyrat/automapper/automapper_config.toml
  _maps/skyrat/automapper/templates/centcom/centcom_shuttle_dock.dmm
Labels: Quality of Life

#15485 Lone infiltrators can now access their modsuit along with getting a chameleon module
  modular_skyrat/master_files/code/modules/mod/mod_types.dm
  modular_skyrat/modules/Midroundtraitor/code/event.dm
Labels: Fix, Balance/Rebalance

#15680 [NO GBP] Fix Languages Being Reset if You Load in Early
  code/modules/client/preferences.dm
  modular_skyrat/master_files/code/modules/client/preferences.dm
  modular_skyrat/master_files/code/modules/client/preferences/middleware/languages.dm
  modular_skyrat/modules/better_vox/code/vox_species.dm
  modular_skyrat/modules/customization/modules/client/preferences.dm
  modular_skyrat/modules/customization/modules/language/_species.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/lizard.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/podweak.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/robotic/_robotic.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/roundstartslime.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/skrell.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/vox.dm
  modular_skyrat/modules/teshari/code/_teshari.dm
  tgstation.dme
Labels: Fix, Test Merged, GBP: No Update

#15718 [MODULAR] Adds teshari preview
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_teshari.png
  modular_skyrat/modules/teshari/code/_teshari.dm
Labels: Fix

#15732 [MODULAR] Fixed tesh liking and hating gore
  modular_skyrat/modules/teshari/code/_teshari.dm
Labels: Fix

#15741 Optimizes the Examine panel's character preview, while making it a lot more accurate
  code/modules/antagonists/changeling/powers/transform.dm
  code/modules/mob/living/carbon/human/examine_tgui.dm
Labels: Fix, Code Improvement

#15773 Fixes SQL game logs throwing a bunch of SQL errors
  code/__HELPERS/logging/_logging.dm
  modular_skyrat/master_files/code/controllers/subsystem/dbcore.dm
Labels: Fix

#15819 [RESET/AUDIT] fix tempory flavor text Show More... etc
  code/modules/mob/living/carbon/human/human.dm
Labels: Fix

#15844 Makes jitteriness from electrode shots cap out at 30 seconds
  code/modules/projectiles/projectile/energy/stun.dm
Labels: Fix

#15837 Updates our modular wooden floor icons to match upstream's
  modular_skyrat/modules/aesthetics/floors/icons/floors.dmi
Labels: Fix

#15830 [AutoMapper] QoL to the barber shops
  _maps/skyrat/automapper/templates/deltastation/deltastation_barber.dmm
  _maps/skyrat/automapper/templates/icebox/icebox_barber.dmm
  _maps/skyrat/automapper/templates/metastation/metastation_barber.dmm
Labels: Removal, Quality of Life

#15828 [MODULAR] [Delta] Some QoL to the prison
  _maps/skyrat/automapper/templates/deltastation/deltastation_prison.dmm
  modular_skyrat/modules/mapping/code/turf.dm
  tgstation.dme
Labels: Removal, Code Improvement, Quality of Life

#15808 Fixes the examine panel's preview not displaying the right person
  code/modules/mob/living/carbon/human/examine_tgui.dm
Labels: Fix, GBP: No Update

#15742 [Shuttles] Touches up our evac shuttle
  _maps/shuttles/skyrat/emergency_skyrat.dmm
Labels: Fix

#15864 [FUCK] Actually makes CC use the new map I mapped
  _maps/skyrat/automapper/templates/centcom/centcom_shuttle_dock.dmm
Labels: Fix

#13970 Disables progtots
  code/__DEFINES/role_preferences.dm
  code/modules/antagonists/traitor/datum_traitor.dm
  code/modules/antagonists/traitor/objectives/final_objective/final_objective.dm
  code/modules/antagonists/traitor/objectives/final_objective/romerol.dm
  code/modules/antagonists/traitor/objectives/locate_weakpoint.dm
  code/modules/antagonists/traitor/traitor_objective.dm
  code/modules/antagonists/traitor/uplink_handler.dm
  modular_skyrat/master_files/code/game/gamemodes/dynamic/dynamic_rulesets_latejoin.dm
  modular_skyrat/master_files/code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
  modular_skyrat/master_files/code/game/gamemodes/dynamic/dynamic_rulesets_roundstart.dm
  modular_skyrat/master_files/code/modules/antagonists/_common/objectives.dm
  modular_skyrat/master_files/code/modules/antagonists/traitor/datums/datum_traitor.dm
  modular_skyrat/modules/contractor/code/datums/contractor_support.dm
  tgstation.dme
Labels: Removal, Test Merged, Stale-b-gone, Host Request

#15871 Fixing that lying Announcer for BS Anomaly
  code/modules/events/anomaly_bluespace.dm
Labels: Fix

#15875 [MDB IGNORE] Fixes some missed drinks in the refactor and resets the migration script to upstream
  _maps/skyrat/automapper/templates/centcom/centcom_shuttle_dock.dmm
  tools/UpdatePaths/Scripts/69081_drinks_refactor.txt
Labels: Fix, Refactor

#15870 existing path
  modular_skyrat/master_files/code/modules/clothing/clothing_variation_overrides/suit.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_suit.dm
Labels: Fix

#15797 [Vanity] Mouse sprite accessory pack
  modular_skyrat/master_files/icons/mob/sprite_accessory/ears.dmi
  modular_skyrat/master_files/icons/mob/sprite_accessory/hair.dmi
  modular_skyrat/master_files/icons/mob/sprite_accessory/tails.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/ears.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/hair.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/tails.dm
Labels: Sprites

#15648 [MODULAR] Actually Hides Shadowtongue
  modular_skyrat/modules/customization/modules/language/shadowtongue.dm
  tgstation.dme
Labels: Removal, GBP: No Update

#14937 NSS Void Raptor [MDB IGNORE] [SEMI-MODULAR]
  _maps/_basemap.dm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  _maps/voidraptor.json
  config/maps.txt
  modular_skyrat/master_files/icons/mob/pets.dmi
  modular_skyrat/modules/automapper/code/area_spawn_subsystem.dm
  modular_skyrat/modules/mapping/voidraptor/code/areas.dm
  modular_skyrat/modules/mapping/voidraptor/code/clothing.dm
  modular_skyrat/modules/mapping/voidraptor/code/mob.dm
  modular_skyrat/modules/mapping/voidraptor/code/shuttles.dm
  modular_skyrat/modules/mapping/voidraptor/readme.md
  tgstation.dme
Labels: Feature, Test Merged

#15679 barricade open/close time buff
  modular_skyrat/modules/barricades/code/barricade.dm
Labels: Balance/Rebalance

#15175 [MODULAR] [HOST REQUEST] Pixel Shift Out of the Way!
  modular_skyrat/modules/pixel_shift/code/pixel_shift.dm
Labels: Quality of Life, Host Request

#15881 [No gbp] Removes a singular pixel on Teshari chests so it doesn't poke out of clothing.
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_teshari.png
  modular_skyrat/master_files/icons/mob/species/teshari_parts_greyscale.dmi
Labels: Fix, Removal, GBP: No Update

#15817 New clown donator items
  icons/mob/clothing/feet.dmi
  modular_skyrat/master_files/icons/donator/mob/clothing/uniform.dmi
  modular_skyrat/master_files/icons/donator/obj/clothing/uniform.dmi
  modular_skyrat/master_files/icons/mob/body_markings/other_markings.dmi
  modular_skyrat/master_files/icons/mob/clothing/feet.dmi
  modular_skyrat/master_files/icons/mob/clothing/uniform.dmi
  modular_skyrat/master_files/icons/obj/clothing/shoes.dmi
  modular_skyrat/master_files/icons/obj/clothing/uniforms.dmi
  modular_skyrat/modules/customization/modules/clothing/shoes/shoes.dm
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/body_markings/body_markings.dm
  modular_skyrat/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_shoes.dm
Labels: Sprites

#15859 Space dragons are now dynamic spawned only
  modular_skyrat/modules/events/code/event_overrides.dm
Labels: Administration, Host Request

#15816 Removes traitor makarov from Imperial Surplus crate
  modular_skyrat/modules/cargo/code/packs.dm
Labels: Removal, Balance/Rebalance

#15867 Fixes another rare bug related to the languages preference middleware and cleans up its code
  modular_skyrat/master_files/code/modules/client/preferences/middleware/languages.dm
Labels: Documentation, Fix, Code Improvement

#15769 Updates a few underwear sprites, adds a singular new one.
  modular_skyrat/master_files/icons/mob/clothing/underwear.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories.dm
Labels: Sprites

#15678 Lowers the in-repo cost of Lone Infiltrator
  modular_skyrat/modules/Midroundtraitor/code/event.dm
Labels: Stale, Balance/Rebalance

#15910 Scrubbed off Chameleon Gun's manufacturer
  modular_skyrat/modules/gun_cargo/code/gun_companies.dm
Labels: Grammar and Formatting

#15919 Pink Clown Shoe Fix
  modular_skyrat/modules/customization/modules/clothing/shoes/shoes.dm
Labels: GBP: No Update

#15909 Removes body fluid face component
  code/__DEFINES/~skyrat_defines/signals.dm
  modular_skyrat/modules/modular_items/lewd_items/code/arousal_system.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/skyrat/erp_preferences.tsx
Labels: Removal

#15878 Readds surplus crates
  modular_skyrat/master_files/code/modules/uplink/uplink_items.dm
Labels: Feature

#15743 [Tram] Adds clothesmat and autodrobe back to the laundry room
  _maps/skyrat/automapper/templates/tramstation/tramstation_cryo.dmm
Labels: Fix, Stale

#15923 Fixes the endless title screen error bug
  modular_skyrat/modules/title_screen/code/title_screen_subsystem.dm
Labels: Fix

#15879 [NO GBP] [FUCK] Fixes Delta Armory
  _maps/skyrat/automapper/automapper_config.toml
  _maps/skyrat/automapper/templates/deltastation/deltastation_armory.dmm
Labels: Fix, GBP: No Update

#15924 [AutoMapper] adds navigate verb destinations to cryo
  _maps/skyrat/automapper/templates/deltastation/deltastation_cryo.dmm
  _maps/skyrat/automapper/templates/icebox/icebox_cryo.dmm
  _maps/skyrat/automapper/templates/kilostation/kilostation_cryo.dmm
  _maps/skyrat/automapper/templates/metastation/metastation_cryo.dmm
  _maps/skyrat/automapper/templates/tramstation/tramstation_cryo.dmm
Labels: Quality of Life

#15939 Fixes the Dutch Jacket being invisible in the loadout
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_suit.dm
Labels: Fix, Grammar and Formatting

#15825 [Fix] Illiterate quirk-holders can use the interlink shuttle console
  modular_skyrat/modules/advanced_shuttles/code/shuttles.dm
Labels: Fix
