Repository Skyrat-SS13/Skyrat-tg, pull requests merged in 2022-05, with the labels that each got.

#13246 [FUCK] fix cargo pathing in loadout
  modular_skyrat/modules/loadouts/loadout_items/under/loadout_datum_under.dm
Labels: Fix, GBP: No Update

#13171 [MODULAR] Adds 4 new guns to guncargo
  modular_skyrat/modules/gun_cargo/code/armament_datums/izhevsk.dm
  modular_skyrat/modules/gun_cargo/code/armament_datums/nanotrasen.dm
  modular_skyrat/modules/gun_cargo/code/gun_companies.dm
Labels: Feature

#13236 [SEMI-MODULAR] Blindfold HUDs
  code/game/objects/items.dm
  modular_skyrat/master_files/icons/mob/clothing/eyes.dmi
  modular_skyrat/master_files/icons/obj/clothing/glasses.dmi
  modular_skyrat/modules/customization/modules/clothing/glasses/glasses.dm
  modular_skyrat/modules/customization/modules/clothing/glasses/hud.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_glasses.dm
Labels: Feature, Code Improvement, Sprites

#13258 Guns Galore: SCAR-L
  modular_skyrat/modules/gunsgalore/code/guns/scar.dm
  modular_skyrat/modules/gunsgalore/icons/guns/gunsgalore_back.dmi
  modular_skyrat/modules/gunsgalore/icons/guns/gunsgalore_guns40x32.dmi
  modular_skyrat/modules/gunsgalore/icons/guns/gunsgalore_lefthand.dmi
  modular_skyrat/modules/gunsgalore/icons/guns/gunsgalore_righthand.dmi
  modular_skyrat/modules/gunsgalore/sound/guns/fire/scar_fire.ogg
  modular_skyrat/modules/gunsgalore/sound/guns/interact/scar_cock.ogg
  modular_skyrat/modules/gunsgalore/sound/guns/interact/scar_mag_in.ogg
  modular_skyrat/modules/gunsgalore/sound/guns/interact/scar_mag_out.ogg
  tgstation.dme
Labels: Feature, Code Improvement

#13252 [MODULAR] Gives departmental gurads access to the eyepatch HUDs for their departments.
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_glasses.dm
Labels: Fix

#13257 Fixes serviettes
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/serviette.dm
Labels: Fix

#13235 Makes examine block HR's format better collapse
  code/__DEFINES/~skyrat_defines/chat.dm
  code/game/atoms.dm
  code/modules/mob/living/carbon/examine.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/silicon/ai/examine.dm
  code/modules/mob/living/simple_animal/constructs.dm
  code/modules/mob/living/simple_animal/friendly/drone/_drone.dm
  code/modules/mob/living/simple_animal/guardian/types/dextrous.dm
  code/modules/mob/living/simple_animal/slime/slime.dm
  code/modules/mob/mob.dm
Labels: Refactor

#13276 Scarborough Arms now requires emag
  modular_skyrat/modules/gun_cargo/code/armament_component.dm
Labels: Balance/Rebalance

#13253 [NONMODULAR] Snerfs (Snail Nerfs)
  code/datums/elements/snail_crawl.dm
  code/modules/surgery/organs/tongue.dm
Labels: Removal

#13274 [MODULAR] Fixes Sci-Patches not having the ability to research scan
  modular_skyrat/modules/customization/modules/clothing/glasses/hud.dm
Labels: Fix

#13190 Guncargo balance pass 2
  .github/CODEOWNERS
  code/__DEFINES/~skyrat_defines/gun.dm
  modular_skyrat/modules/gun_cargo/code/armament_datums/armadyne_oldarms.dm
  modular_skyrat/modules/gun_cargo/code/armament_datums/cantalan.dm
  modular_skyrat/modules/gun_cargo/code/armament_datums/interdyne.dm
  modular_skyrat/modules/gun_cargo/code/company_datums.dm
  modular_skyrat/modules/gun_cargo/code/objects/bottles.dm
  modular_skyrat/modules/gun_cargo/code/objects/box.dm
  modular_skyrat/modules/gun_cargo/code/objects/vending.dm
  tgstation.dme
Labels: Feature, Balance/Rebalance, Removal, Grammar and Formatting

#13256 Kapulimb Fixes: Digitigrade Edition
  modular_skyrat/master_files/code/modules/surgery/bodyparts/species_parts/lizard_bodyparts.dm
  modular_skyrat/master_files/icons/mob/species/lizard_parts_greyscale.dmi
  modular_skyrat/master_files/icons/mob/species/skrell_organ.dmi
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/humanoid.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/lizard.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/skrell.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/xeno.dm
  tgstation.dme
Labels: Fix

#13286 [NO GBP] examine section fix
  code/modules/mob/mob.dm
Labels: GBP: No Update

#13273 Teshari skill reward cloaks
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/neck.dmi
Labels: Sprites

#13288 Fixes teshari and vox clothing (again)
  code/modules/mob/living/carbon/human/human_update_icons.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/custom_bodytype.dm
Labels: Fix

#13291 Nerfs and replaces guncargo AK
  code/__DEFINES/~skyrat_defines/projectiles.dm
  modular_skyrat/modules/gun_cargo/code/armament_datums/izhevsk.dm
  modular_skyrat/modules/gun_cargo/code/objects/guns/izhevsk.dm
  modular_skyrat/modules/gun_cargo/icons/ak25/ak25.dmi
  modular_skyrat/modules/gun_cargo/icons/ak25/ak25_ammo.dmi
  modular_skyrat/modules/gun_cargo/icons/ak25/ak25_back.dmi
  modular_skyrat/modules/gun_cargo/icons/ak25/ak25_lefthand.dmi
  modular_skyrat/modules/gun_cargo/icons/ak25/ak25_righthand.dmi
  tgstation.dme
Labels: Balance/Rebalance

#13284 Modest bugfixes blueshift 2.3
  _maps/map_files/Blueshift/BlueShift_lower.dmm
  _maps/map_files/Blueshift/BlueShift_middle.dmm
  _maps/map_files/Blueshift/BlueShift_upper.dmm
Labels: Fix

#13220 Adds the ability to examine turf liquid
  modular_skyrat/modules/liquids/code/liquid_systems/liquid_effect.dm
Labels: Quality of Life

#13086 The rave of the crab (Bye bye CRAB-17)
  code/modules/uplink/uplink_items/device_tools.dm
  modular_skyrat/modules/opposing_force/code/equipment/utility.dm
Labels: GBP: No Update

#11270 Event voting system, prelude to event planner
  code/__DEFINES/~skyrat_defines/events.dm
  code/__DEFINES/~skyrat_defines/logging.dm
  code/controllers/subsystem/events.dm
  code/controllers/subsystem/ticker.dm
  code/game/world.dm
  code/modules/admin/admin_verbs.dm
  code/modules/events/_event.dm
  config/skyrat/skyrat_config.txt
  modular_skyrat/master_files/code/_globalvars/configuration.dm
  modular_skyrat/modules/assault_operatives/code/sunbeam.dm
  modular_skyrat/modules/event_vote/code/event_chaos_system.dm
  modular_skyrat/modules/event_vote/code/event_vote.dm
  modular_skyrat/modules/events/code/event_overrides.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/EventPanel.js
Labels: UI, Feature, Config Update, Test Merged

#13306 Gives heads gun permits
  modular_skyrat/master_files/code/datums/id_trim/jobs.dm
Labels: Feature

#13304 Fixes Chem Dispenser upgraded reagents
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
Labels: Fix

#13301 Yet another pass of guncargo's balance
  modular_skyrat/modules/armaments/code/armament_entries.dm
  modular_skyrat/modules/gun_cargo/code/armament_component.dm
  modular_skyrat/modules/gun_cargo/code/armament_datums/armadyne.dm
  modular_skyrat/modules/gun_cargo/code/armament_datums/armadyne_oldarms.dm
  modular_skyrat/modules/gun_cargo/code/armament_datums/bolt.dm
  modular_skyrat/modules/gun_cargo/code/armament_datums/cantalan.dm
  modular_skyrat/modules/gun_cargo/code/armament_datums/micron.dm
  modular_skyrat/modules/gun_cargo/code/armament_datums/nanotrasen.dm
  modular_skyrat/modules/gun_cargo/code/armament_datums/scarborough.dm
  tgui/packages/tgui/interfaces/CargoGunConsole.js
Labels: Balance/Rebalance, Fix, Removal

#13283 Removal of my plushie, as well as Oleander's
  _maps/map_files/Blueshift/BlueShift_upper.dmm
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  modular_skyrat/master_files/icons/obj/plushes.dmi
  modular_skyrat/modules/customization/game/objects/items/plushes.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_toys.dm
Labels: Feature, Removal

#13312 Fixes jumpsuit adjustments.
  code/modules/clothing/under/_under.dm
Labels: Fix

#13313 restored firedoor sounds
  modular_skyrat/modules/aesthetics/firedoor/code/firedoor.dm
Labels: Feature

#13314 [MODULAR] Makes Striped Thigh-Highs Colourable
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories.dm
Labels: Feature

#13316 Fixes Synthetics being unable to get their right digitigrade leg to not be white
  modular_skyrat/master_files/code/modules/surgery/bodyparts/species_parts/robotic/_mutant_robotic_bodyparts.dm
Labels: Fix

#13318 Snouts Refactor: Less Hardcoding Edition
  modular_skyrat/master_files/code/modules/client/preferences/mutant_parts.dm
  modular_skyrat/master_files/code/modules/mod/modules/_module.dm
  modular_skyrat/master_files/code/modules/surgery/bodyparts/species_parts/_mutant_bodyparts.dm
  modular_skyrat/master_files/code/modules/surgery/bodyparts/species_parts/lizard_bodyparts.dm
  modular_skyrat/master_files/code/modules/surgery/bodyparts/species_parts/robotic/_mutant_robotic_bodyparts.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/snout.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species.dm
  modular_skyrat/modules/customization/modules/surgery/organs/organ.dm
Labels: Fix, Code Improvement, Refactor

#12885 Blob Enhancements 1
  code/__DEFINES/blob_defines.dm
Labels: Balance/Rebalance, Test Merged

#13329 Fixes missing inhands for the norwind, vintorez, and DTR rifles
  modular_skyrat/modules/goofsec/code/projectiles.dm
Labels: Fix

#13327 Restores the skyrat versions of the mining and common mining shuttles on the maps that got reset
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
  _maps/map_files/tramstation/tramstation_skyrat.dmm
Labels: Fix

#13320 Gives the marine ert digitgrade and snout sprites for all of their equipment
  modular_skyrat/master_files/icons/mob/clothing/head_muzzled.dmi
  modular_skyrat/master_files/icons/mob/clothing/suit_digi.dmi
  modular_skyrat/master_files/icons/mob/clothing/uniform_digi.dmi
Labels: Fix

#13297 [SemiModular] Raises the layer of the chat indicator
  code/__DEFINES/layers.dm
  modular_skyrat/master_files/code/modules/mob/living/sillicon/robot.dm
  modular_skyrat/modules/indicators/code/typing_indicator.dm
Labels: Quality of Life

#13325 Redoes the assault ops shuttle
  _maps/shuttles/skyrat/goldeneye_cruiser.dmm
Labels: Map Edit, Quality of Life

#13323 [MODULAR] Replaces the armaments of the marine ert to use skyrat weapons
  modular_skyrat/modules/modular_ert/code/marine_override/modified_equipment.dm
  modular_skyrat/modules/modular_ert/code/marine_override/modified_gear.dm
  tgstation.dme
Labels: Balance/Rebalance

#13326 [s] Necropolis tendril destruction is now logged
  code/modules/mapfluff/ruins/objects_and_mobs/ash_walker_den.dm
Labels: Administration

#13328 Ports TauCeti's briefcases!
  _maps/RandomZLevels/research2.dmm
  modular_skyrat/modules/inflatables/code/inflatable.dm
  modular_skyrat/modules/more_briefcases/code/briefcases.dm
  modular_skyrat/modules/more_briefcases/icons/briefcases.dmi
  modular_skyrat/modules/more_briefcases/readme.md
  modular_skyrat/modules/mutants/code/mutant_cure.dm
  tgstation.dme
Labels: Feature

#13336 Assault Shuttle Runtime Fix
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  _maps/shuttles/skyrat/goldeneye_cruiser.dmm
Labels: Fix

#13341 [Missed Mirror][NO GBP] Merge 66649
  .github/workflows/ci_suite.yml
  code/modules/unit_tests/README.md
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/achievements.dm
  code/modules/unit_tests/anchored_mobs.dm
  code/modules/unit_tests/bespoke_id.dm
  code/modules/unit_tests/card_mismatch.dm
  code/modules/unit_tests/chain_pull_through_space.dm
  code/modules/unit_tests/chat_filter.dm
  code/modules/unit_tests/component_tests.dm
  code/modules/unit_tests/crayons.dm
  code/modules/unit_tests/create_and_destroy.dm
  code/modules/unit_tests/designs.dm
  code/modules/unit_tests/dynamic_ruleset_sanity.dm
  code/modules/unit_tests/egg_glands.dm
  code/modules/unit_tests/food_edibility_check.dm
  code/modules/unit_tests/greyscale_config.dm
  code/modules/unit_tests/heretic_knowledge.dm
  code/modules/unit_tests/heretic_rituals.dm
  code/modules/unit_tests/hydroponics_harvest.dm
  code/modules/unit_tests/keybinding_init.dm
  code/modules/unit_tests/merge_type.dm
  code/modules/unit_tests/mob_spawn.dm
  code/modules/unit_tests/modular_map_loader.dm
  code/modules/unit_tests/objectives.dm
  code/modules/unit_tests/outfit_sanity.dm
  code/modules/unit_tests/paintings.dm
  code/modules/unit_tests/plantgrowth_tests.dm
  code/modules/unit_tests/preference_species.dm
  code/modules/unit_tests/preferences.dm
  code/modules/unit_tests/projectiles.dm
  code/modules/unit_tests/quirks.dm
  code/modules/unit_tests/rcd.dm
  code/modules/unit_tests/reagent_id_typos.dm
  code/modules/unit_tests/reagent_names.dm
  code/modules/unit_tests/reagent_recipe_collisions.dm
  code/modules/unit_tests/say.dm
  code/modules/unit_tests/security_officer_distribution.dm
  code/modules/unit_tests/species_config_sanity.dm
  code/modules/unit_tests/species_unique_id.dm
  code/modules/unit_tests/species_whitelists.dm
  code/modules/unit_tests/stack_singular_name.dm
  code/modules/unit_tests/subsystem_init.dm
  code/modules/unit_tests/surgeries.dm
  code/modules/unit_tests/timer_sanity.dm
  code/modules/unit_tests/traitor.dm
  code/modules/unit_tests/unit_test.dm
Labels: GBP: No Update

#13342 [NO GBP]Fixes lizards not having snouts
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/lizard.dm
Labels: Fix, GBP: No Update

#13315 Fixes the Legs preference not working for every species, when Allow Mismatched Bodyparts is toggled
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/akula.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/aquatic.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/humanoid.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/mammal.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/robotic/synthetic_lizard.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/robotic/synthetic_mammal.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/tajaran.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/vox.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/vulpkanin.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/xeno.dm
Labels: Fix

#13340 [non-modular] [uh oh stinky config change] new AI laws from oldbase, dagoth-bot, and texas-ranger (God Complex, and Frontier Ranger ingame)
  code/game/objects/effects/spawners/random/ai_module.dm
  config/game_options.txt
  modular_skyrat/master_files/code/datums/ai_laws.dm
  modular_skyrat/master_files/code/game/objects/items/AI_modules.dm
  tgstation.dme
Labels: Feature, Config Update

#13370 Better makarov
  code/modules/projectiles/boxes_magazines/external/pistol.dm
  modular_skyrat/modules/aesthetics/guns/code/magazine.dm
  modular_skyrat/modules/aesthetics/guns/icons/guns.dmi
  modular_skyrat/modules/aesthetics/guns/icons/magazine.dmi
  tgstation.dme
Labels: Feature

#13374 remove the skyrat logo in loading
  modular_skyrat/modules/lobby_cam/code/lobby_cam.dm
  modular_skyrat/modules/lobby_cam/code/lobby_eye_ss.dm
  modular_skyrat/modules/lobby_cam/icons/skyrat_logo.dmi
  tgstation.dme
Labels: Removal

#13382 Adds ashwalkers to icebox
  _maps/RandomRuins/LavaRuins/skyrat/lavaland_surface_ash_walker1_skyrat.dmm
  modular_skyrat/modules/mapping/code/icemoon.dm
  modular_skyrat/modules/mapping/code/mob_spawns.dm
Labels: Feature

#13398 Go good (lights) or go home.
  modular_skyrat/modules/aesthetics/airlock/code/airlock.dm
Labels: Fix

#13394 Fixes elite modsuit on cargodise lost
  _maps/RandomRuins/SpaceRuins/skyrat/cargodiselost.dmm
Labels: Fix

#13392 Fixes cargodise lost's token machine
  _maps/RandomRuins/SpaceRuins/skyrat/cargodiselost.dmm
  modular_skyrat/modules/sec_haul/code/guns/token_system/token_system.dm
Labels: Fix

#13396 Fixes stray pixel on Science utility
  modular_skyrat/master_files/icons/mob/clothing/under/rnd.dmi
Labels: Fix

#13393 Fixes freighter boss's ammo
  _maps/RandomRuins/SpaceRuins/skyrat/cargodiselost.dmm
  _maps/RandomZLevels/blackmesa.dmm
  modular_skyrat/modules/modular_weapons/code/rifle.dm
  modular_skyrat/modules/opposing_force/code/equipment/ammo.dm
Labels: Fix

#13397 [Modular] Adds 6 new beak options
  modular_skyrat/master_files/icons/mob/sprite_accessory/snouts.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/snout.dm
Labels: Sprites

#13375 xenoarch base back
  _maps/map_files/Mining/Lavaland.dmm
  _maps/skyrat/xenoarch_base.dmm
Labels: Fix

#13248 Language tweaks, lift-ups and fixes (mostly lore related)
  modular_skyrat/master_files/icons/misc/language.dmi
  modular_skyrat/modules/customization/modules/language/dwarf.dm
  modular_skyrat/modules/customization/modules/language/russian.dm
  modular_skyrat/modules/customization/modules/language/selenian.dm
Labels: Sprites, Grammar and Formatting

#13399 [Modular] Peacekeeper roomba model
  modular_skyrat/modules/altborgs/code/robot_model.dm
  modular_skyrat/modules/altborgs/icons/robots_pk.dmi
Labels: Sprites

#13317 [MODULAR] Adds Sabres in as a cargo goodie.
  modular_skyrat/master_files/icons/mob/clothing/belt.dmi
  modular_skyrat/master_files/icons/obj/clothing/belts.dmi
  modular_skyrat/modules/cargo/code/goodies.dm
  modular_skyrat/modules/modular_weapons/code/melee.dm
  modular_skyrat/modules/modular_weapons/icons/mob/inhands/weapons/swords_lefthand.dmi
  modular_skyrat/modules/modular_weapons/icons/mob/inhands/weapons/swords_righthand.dmi
  modular_skyrat/modules/modular_weapons/icons/obj/melee.dmi
  tgstation.dme
Labels: Feature

#13332 Crew Monitor Re-enhancements
  tgui/packages/tgui/constants.js
  tgui/packages/tgui/interfaces/CrewConsole.js
Labels: Feature, Fix

#13464 [s] Removes black-tar self-duplication
  modular_skyrat/modules/morenarcotics/code/opium.dm
Labels: Fix, Removal

#13453 Loadout cleanup and improvement
  modular_skyrat/modules/customization/modules/clothing/accessories.dm
  modular_skyrat/modules/customization/modules/clothing/masks/breath.dm
  modular_skyrat/modules/loadouts/loadout_items/_loadout_datum.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_accessory.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_belts.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_ears.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_glasses.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_gloves.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_heads.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_inhands.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_masks.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_neck.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_pocket.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_shoes.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_suit.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_toys.dm
  modular_skyrat/modules/loadouts/loadout_ui/loadout_manager.dm
  tgstation.dme
Labels: Code Improvement, Grammar and Formatting

#13463 [FIX] PDH icon flashing fix
  modular_skyrat/modules/sec_haul/icons/guns/pdh.dmi
Labels: Fix

#13469 Fixes GoldenEye shuttle and turret ID system
  _maps/shuttles/skyrat/goldeneye_cruiser.dmm
  modular_skyrat/modules/turretid/code/turret_id_system.dm
Labels: Fix

#13452 [MODULAR] SmartDart Pistols now show the inserted SmartDarts inside of them.
  modular_skyrat/modules/gun_cargo/code/objects/guns/interdyne.dm
  modular_skyrat/modules/medical/code/smartdarts.dm
Labels: Quality of Life

#13485 Lets the stone materials stacks be used to create the fancy stone walls, instead of just grey material datum walls
  modular_skyrat/modules/stone/code/stone.dm
Labels: Fix

#13339 [Modular] Flags bug snout not to use muzzled sprites
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/snout.dm
Labels: Code Improvement

#13466 Un-panicfixes the self duplication exploit
  modular_skyrat/modules/morenarcotics/code/cocaine.dm
  modular_skyrat/modules/morenarcotics/code/opium.dm
Labels: Fix

#13523 Lets you make stone brick floor tiles that actually look like stone brick, not exact copies of metal tiles, also lets them make stone walls directly out of stone without girders
  modular_skyrat/modules/stone/code/stone.dm
Labels: Fix, Quality of Life

#13501 Partial revert of #12310 (suit slot guns)
  code/modules/mod/mod_theme.dm
Labels: Removal, Revert

#13429 Adds in an audible *gnash emote
  modular_skyrat/modules/emotes/code/emotes.dm
Labels: Feature

#13369 [MODULAR] Ballistic Skyrat: Part 1 | Un-Goofsec's the hardlight guns, Defines 9x19mm Peacekeeper as its own caliber and various balance and qol changes
  code/__DEFINES/~skyrat_defines/projectiles.dm
  modular_skyrat/modules/blueshield/code/blueshield.dm
  modular_skyrat/modules/goofsec/code/projectiles.dm
  modular_skyrat/modules/gun_cargo/code/armament_datums/armadyne.dm
  modular_skyrat/modules/gun_cargo/code/armament_datums/armadyne_oldarms.dm
  modular_skyrat/modules/gun_cargo/code/armament_datums/bolt.dm
  modular_skyrat/modules/modular_ert/code/marine_override/modified_gear.dm
  modular_skyrat/modules/modular_ert/code/odst/odst_outfit.dm
  modular_skyrat/modules/opposing_force/code/equipment/ammo.dm
  modular_skyrat/modules/opposing_force/code/equipment/rifles.dm
  modular_skyrat/modules/opposing_force/code/equipment/submachineguns.dm
  modular_skyrat/modules/sec_haul/code/guns/ammo.dm
  modular_skyrat/modules/sec_haul/code/guns/bullets.dm
  modular_skyrat/modules/sec_haul/code/guns/cmg.dm
  modular_skyrat/modules/sec_haul/code/guns/guns.dm
  modular_skyrat/modules/sec_haul/code/guns/token_system/gunsets.dm
  modular_skyrat/modules/sec_haul/icons/guns/mags.dmi
  modular_skyrat/modules/sec_haul/readme.md
  tgstation.dme
Labels: Feature, Balance/Rebalance, Fix, Removal, Sprites, Refactor, Grammar and Formatting

#13377 Vent scrubbers now scrub pollution
  code/modules/atmospherics/machinery/components/unary_devices/vent_scrubber.dm
Labels: Feature

#13311 [NON-MODULAR] Reduces the required rep in objectives for getting a final objective spawn.
  code/modules/antagonists/traitor/objectives/final_objective/final_objective.dm
Labels: Balance/Rebalance

#13537 Freighter Fix 1 (Also cargo outfit fixes)
  modular_skyrat/master_files/code/modules/clothing/clothing_variation_overrides/under.dm
  modular_skyrat/modules/goofsec/code/sec_clothing_overrides.dm
Labels: Fix

#13544 fix autotransfer
  config/skyrat/skyrat_config.txt
  modular_skyrat/modules/autotransfer/code/autotransfer.dm
  modular_skyrat/modules/autotransfer/code/autotransfer_config.dm
  modular_skyrat/modules/autotransfer/code/transfer_vote.dm
Labels: Fix

#13550 [MDB IGNORE] Splits Black Mesa areas
  _maps/RandomZLevels/blackmesa.dmm
  modular_skyrat/modules/black_mesa/code/area.dm
Labels: Refactor

#13571 Makes sauna ovens emit steam particles
  modular_skyrat/master_files/code/game/objects/structures/sauna_oven.dm
Labels: Feature

#13564 Fixes security jumpskirt loadout override
  modular_skyrat/modules/goofsec/code/sec_clothing_overrides.dm
  modular_skyrat/modules/loadouts/loadout_items/under/loadout_datum_under.dm
Labels: Fix

#13533 [READY] [BlueShift] [MDB IGNORE] [MODULAR] Slicing Skyrats Behemoth: Adding areas to BlueShifts maintenance (plus other fixes + adjustments)
  _maps/map_files/Blueshift/BlueShift_lower.dmm
  _maps/map_files/Blueshift/BlueShift_middle.dmm
  _maps/map_files/Blueshift/BlueShift_upper.dmm
  modular_skyrat/modules/blueshield/code/Space_Station_13_areas.dm
  modular_skyrat/modules/brigoff/code/Space_Station_13_areas.dm
  modular_skyrat/modules/nanotrasen_rep/code/Space_Station_13_areas.dm
  modular_skyrat/modules/salon/code/area.dm
  modular_skyrat/modules/skyrat_areas/README.md
  modular_skyrat/modules/skyrat_areas/code/station.dm
  modular_skyrat/modules/skyrat_areas/icons/areas_station.dmi
  tgstation.dme
Labels: Feature, Sprites

#13585 [MODULAR]New drink sprites aka Drink Desouling SKYRAT EDITION
  modular_skyrat/master_files/icons/obj/drinks.dmi
  modular_skyrat/master_files/icons/obj/janitor.dmi
  modular_skyrat/modules/customization/modules/food_and_drinks/recipes/drinks_recipes.dm
  modular_skyrat/modules/customization/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  modular_skyrat/modules/customization/modules/reagents/chemistry/reagents/drink_reagents.dm
  modular_skyrat/modules/customization/modules/reagents/chemistry/reagents/drinks.dm
  modular_skyrat/modules/customization/modules/reagents/chemistry/reagents/other_reagents.dm
  modular_skyrat/modules/modular_vending/code/boozeomat.dm
  modular_skyrat/modules/modular_vending/code/cola.dm
  tgstation.dme
Labels: Feature, Balance/Rebalance, Removal, Code Improvement, Sprites

#13557 [MODULAR] Applies Combat Overhaul B - Magazines to MCR's
  modular_skyrat/modules/microfusion/code/microfusion_cell_attachments.dm
  modular_skyrat/modules/microfusion/code/microfusion_energy_master.dm
Labels: Fix

#13618 Fixes mesa baseturfs
  _maps/RandomZLevels/blackmesa.dmm
Labels: Fix, GBP: No Update

#13697 Fixes padded firesuit on deltastation
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
Labels: Fix

#13561 [MODULAR] Fixes Multi Sprite Mags using non existing sprites
  modular_skyrat/modules/sec_haul/code/guns/ammo.dm
  modular_skyrat/modules/sec_haul/code/guns/cmg.dm
  modular_skyrat/modules/sec_haul/code/guns/guns.dm
Labels: Fix

#13552 [MODULAR][NO GBP] Fixes Sabre Belt Sprite not being assigned a name in Belts.dmi.
  modular_skyrat/master_files/icons/obj/clothing/belts.dmi
Labels: Fix, GBP: No Update

#13645 re-adds gas miners to icebox and tram
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/tramstation/tramstation_skyrat.dmm
Labels: Fix

#13625 More guns have companies and gun companies are visible on regular examine
  modular_skyrat/master_files/code/modules/projectiles/guns/gun.dm
  tgstation.dme
Labels: Fix, Quality of Life, GBP: No Update

#13662 Reforging Several Forged Armor Sprites
  modular_skyrat/modules/reagent_forging/code/forge_clothing.dm
  modular_skyrat/modules/reagent_forging/icons/mob/forge_clothing.dmi
  modular_skyrat/modules/reagent_forging/icons/mob/forge_clothing_digi.dmi
Labels: Fix, Sprites

#13665 [MODULAR] More Ears
  modular_skyrat/master_files/icons/mob/sprite_accessory/ears.dmi
  modular_skyrat/master_files/icons/mob/sprite_accessory/ears_big.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/ears.dm
Labels: Feature, Sprites

#13667 [MODULAR] More Wings
  modular_skyrat/master_files/icons/mob/sprite_accessory/wings.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/wings.dm
Labels: Feature

#13668 [MODULAR] More Horns
  modular_skyrat/master_files/icons/mob/sprite_accessory/horns.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/horns.dm
Labels: Feature

#13569 Making primitive cooking real part 1 - Baking bread and 'microwaving' rice in furnaces
  _maps/RandomRuins/LavaRuins/skyrat/lavaland_surface_ash_walker1_skyrat.dmm
  modular_skyrat/modules/reagent_forging/code/forge.dm
  modular_skyrat/modules/reagent_forging/icons/hud/forge_radials.dmi
Labels: Quality of Life

#13642 [MODULAR] New Tail Options
  modular_skyrat/master_files/icons/mob/sprite_accessory/tails.dmi
  modular_skyrat/master_files/icons/mob/sprite_accessory/tails_big.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/tails.dm
  modular_skyrat/modules/emotes/code/additionalemotes/turf_emote.dm
  tgstation.dme
Labels: Feature, Sprites

#13681 Fixing the Phantom Rods in Forging Tongs
  modular_skyrat/modules/reagent_forging/code/forge.dm
Labels: Fix

#13715 Some contractor fixes
  code/modules/modular_computers/hardware/hard_drive.dm
  modular_skyrat/modules/contractor/code/items/tablet.dm
Labels: Fix

#13744 [NO GBP] Fixes some stupid mistakes I have done with stone and forge cooking
  modular_skyrat/modules/reagent_forging/code/forge.dm
  modular_skyrat/modules/stone/code/stone.dm
Labels: Fix, GBP: No Update

#13596 Transfer votes will no longer be available to be started by everyone
  config/skyrat/skyrat_config.txt
  modular_skyrat/modules/autotransfer/code/autotransfer_config.dm
  modular_skyrat/modules/autotransfer/code/transfer_vote.dm
Labels: Fix, Config Update, Test Merged

#13749 Blueshift pipe and cyclelink fixes
  _maps/map_files/Blueshift/BlueShift_lower.dmm
  _maps/map_files/Blueshift/BlueShift_middle.dmm
  _maps/map_files/Blueshift/BlueShift_upper.dmm
Labels: Fix

#13717 changes a bunch of `to_chat`s to `balloon_alert`s`
  modular_skyrat/master_files/code/datums/components/fullauto.dm
  modular_skyrat/master_files/code/datums/traits/neutral.dm
  modular_skyrat/master_files/code/game/machinery/doors/firedoor.dm
  modular_skyrat/master_files/code/game/objects/items/dyekit.dm
  modular_skyrat/master_files/code/game/objects/items/holy_weapons.dm
  modular_skyrat/master_files/code/game/objects/items/oxygen_candle.dm
  modular_skyrat/master_files/code/game/objects/structures/sauna_oven.dm
  modular_skyrat/master_files/code/game/objects/structures/trash_pile.dm
  modular_skyrat/master_files/code/modules/antagonists/traitor/objectives/kill_pet.dm
  modular_skyrat/master_files/code/modules/projectiles/guns/ballistic/automatic.dm
  modular_skyrat/master_files/code/modules/projectiles/guns/gun.dm
Labels: Quality of Life

#13746 Remove server room firedoors Delta/Meta
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
Labels: Fix

#13716 Sec Officer vest - digitigrade fix
  modular_skyrat/modules/goofsec/code/sec_clothing_overrides.dm
Labels: Fix

#13713 [MODULAR] Various guncargo 'fixes'
  modular_skyrat/modules/aesthetics/guns/code/magazine.dm
  modular_skyrat/modules/gun_cargo/code/armament_datums/dynamics.dm
  modular_skyrat/modules/gunsgalore/code/guns/luger.dm
  modular_skyrat/modules/sec_haul/code/guns/guns.dm
Labels: Fix, Quality of Life

#13711 fixes an incorrect use of unregistersignal
  modular_skyrat/modules/soulstone_changes/code/components/return_on_death.dm
Labels: Code Improvement

#13722 [Modular]Port Tarkon Fixes number: i forgot to count
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon.dmm
Labels: Fix

#13674 Interdyne role id adjustments
  code/modules/mob_spawn/ghost_roles/mining_roles.dm
  modular_skyrat/modules/mapping/code/lavaland_ruin_code.dm
Labels: Quality of Life

#13626 It is more apparent when objectives are denied in an OPFOR application
  modular_skyrat/modules/opposing_force/code/opposing_force_datum.dm
Labels: Quality of Life

#13737 [MODULAR] [Interlink/Ghost Cafe] Rotates some chairs, nuking their var edits, plus a tweak
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
Labels: Feature, Fix

#13747 Removes derelict logging dm
  code/__HELPERS/_logging.dm
Labels: Removal

#13738 Changes tree ferret plush sound once more
  modular_skyrat/modules/customization/game/objects/items/plushes.dm
Labels: Code Improvement

#13734 [MODULAR][FIX] Fixes Blueshift Cryo coming with O2 Canisters and Not Anesthetic Mix Canisters
  _maps/map_files/Blueshift/BlueShift_upper.dmm
Labels: Fix

#13745 Removes some small straggling redsec items
  code/modules/jobs/job_types/security_officer.dm
  modular_skyrat/master_files/icons/mob/clothing/accessories.dmi
  modular_skyrat/master_files/icons/obj/clothing/accessories.dmi
  modular_skyrat/modules/brigoff/code/brigoff.dm
  modular_skyrat/modules/customization/modules/clothing/head/head.dm
  modular_skyrat/modules/goofsec/code/sec_clothing_overrides.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_accessory.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_heads.dm
Labels: Fix, Removal

#13679 fixes tramstation supermatter apc
  _maps/map_files/tramstation/tramstation_skyrat.dmm
Labels: Fix

#13694 Removes NSS Journey
  _maps/_basemap.dm
  _maps/map_files/NSSJourney/NSSJourney.dmm
  _maps/nssjourney.json
  config/maps.txt
  modular_skyrat/modules/mapping/code/static_plaques.dm
Labels: Removal

#13675 MCRs can be stored on magnetic harnesses
  code/modules/mod/modules/modules_security.dm
Labels: Fix

#13733 [MODULAR] Removes single letter variables from our modular wound code.
  modular_skyrat/modules/medical/code/wounds/bones.dm
  modular_skyrat/modules/medical/code/wounds/burns.dm
  modular_skyrat/modules/medical/code/wounds/pierce.dm
  modular_skyrat/modules/medical/code/wounds/slash.dm
Labels: Removal, Code Improvement

#13631 Fixes synths errantly getting inherent armor
  modular_skyrat/master_files/code/modules/surgery/bodyparts/species_parts/robotic/_mutant_robotic_bodyparts.dm
Labels: Fix

#13598 [De-NonModular'd] Resets disabler stamina damage
  code/modules/projectiles/projectile/beams.dm
Labels: Balance/Rebalance

#13735 [NO GBP] [MODULAR] [BlueShift] Some BlueShift fixes
  _maps/map_files/Blueshift/BlueShift_lower.dmm
  _maps/map_files/Blueshift/BlueShift_middle.dmm
  _maps/map_files/Blueshift/BlueShift_upper.dmm
Labels: Fix, GBP: No Update

#13790 fixes the status tab
  code/controllers/subsystem/statpanel.dm
Labels: Fix, GBP: No Update

#13779 Re-Removes His Grace
  code/modules/uplink/uplink_items/job.dm
Labels: Removal

#13759 Replaces the space turfs under the resin walls at the ghost cafe with dirt
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
Labels: Fix

#13800 [Modular] [Icebox] Tints the permabrig windows
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
Labels: Balance/Rebalance

#13797 fixes nose boops
  code/modules/mob/living/carbon/carbon_defense.dm
Labels: Fix

#13782 Non-ashwalkers now only get half the ore from forges
  modular_skyrat/modules/reagent_forging/code/forge.dm
Labels: Balance/Rebalance

#13789 Fixes dmr caliber
  code/__DEFINES/~skyrat_defines/projectiles.dm
  modular_skyrat/modules/sec_haul/code/guns/bullets.dm
  modular_skyrat/modules/sec_haul/code/guns/guns.dm
Labels: Fix

#13427 Adds manifest to borg integrated tablets
  code/modules/modular_computers/hardware/hard_drive.dm
Labels: Fix

#13775 Fix: public airlock assembly icon
  modular_skyrat/modules/aesthetics/airlock/code/airlock.dm
Labels: Fix

#13676 converts unnecessary capitals in names to lowercase
  modular_skyrat/master_files/code/datums/quirks/neutral.dm
  modular_skyrat/modules/assault_operatives/code/goldeneye.dm
  modular_skyrat/modules/awaymissions_skyrat/code/gateway_key.dm
  modular_skyrat/modules/black_mesa/code/weapons.dm
  modular_skyrat/modules/blueshield/code/blueshield.dm
  modular_skyrat/modules/borg_buffs/code/snack_dispensor.dm
  modular_skyrat/modules/cellguns/code/mediguns.dm
  modular_skyrat/modules/contractor/code/items/boxes.dm
  modular_skyrat/modules/curatorbundle/Mushy.dm
  modular_skyrat/modules/customization/game/objects/items/plushes.dm
  modular_skyrat/modules/customization/modules/clothing/head/head.dm
  modular_skyrat/modules/customization/modules/clothing/suits/trek.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/skrell.dm
  modular_skyrat/modules/ghostcafe/code/hilbertshotel_ghost.dm
  modular_skyrat/modules/goofsec/code/sol_fed.dm
  modular_skyrat/modules/gun_cargo/code/objects/ammo_boxes.dm
  modular_skyrat/modules/gun_cargo/code/objects/suppressor.dm
  modular_skyrat/modules/mapping/code/fluff.dm
  modular_skyrat/modules/mapping/code/mob_spawns.dm
  modular_skyrat/modules/mapping/code/shuttles.dm
  modular_skyrat/modules/microfusion/code/gun_types.dm
  modular_skyrat/modules/microfusion/code/microfusion_gun_attachments.dm
  modular_skyrat/modules/modular_items/code/goosenade.dm
  modular_skyrat/modules/modular_items/code/necklace.dm
  modular_skyrat/modules/modular_items/lewd_items/code/technical_stuff_for_lewd.dm
  modular_skyrat/modules/modular_weapons/code/energy.dm
  modular_skyrat/modules/modular_weapons/code/revolver.dm
  modular_skyrat/modules/moretraitoritems/code/syndiemirror.dm
  modular_skyrat/modules/mutants/code/mutant_cure.dm
  modular_skyrat/modules/nanotrasen_rep/code/m45a5.dm
  modular_skyrat/modules/nanotrasen_rep/code/nanotrasen_consultant.dm
  modular_skyrat/modules/opposing_force/code/items.dm
  modular_skyrat/modules/sec_haul/code/guns/ammo.dm
  modular_skyrat/modules/sec_haul/code/guns/bullets.dm
  modular_skyrat/modules/sec_haul/code/guns/guns.dm
  modular_skyrat/modules/tribal_extended/code/crafting.dm
Labels: Grammar and Formatting

#13710 Fixes bad global used by turf emote
  modular_skyrat/modules/emotes/code/additionalemotes/turf_emote.dm
  modular_skyrat/modules/emotes/code/additionalemotes/turf_list.dm
Labels: Fix

#13823 Fixes teshari clothing fallback fallback edgecase rendering
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/custom_bodytype.dm
  modular_skyrat/modules/teshari/code/_clothing_defines.dm
Labels: Fix

#13795 Updates tails.dm, allows tails to show from under more clothing
  code/__DEFINES/inventory.dm
  code/datums/mutations/hulk.dm
  code/modules/antagonists/cult/cult_items.dm
  code/modules/clothing/spacesuits/_spacesuits.dm
  code/modules/clothing/suits/bio.dm
  code/modules/clothing/suits/costume.dm
  code/modules/clothing/suits/utility.dm
  code/modules/mod/mod_theme.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/tails.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/kinky_sleepbag.dm
Labels: Code Improvement, Quality of Life

#13792 reorganises wings.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/wings.dm
Labels: Fix, Grammar and Formatting

#13776 [NO GBP] Fixes issue with springlock module
  modular_skyrat/modules/contractor/code/items/modsuit/modules.dm
Labels: Fix, GBP: No Update

#13661 DS-2/Interdyne modsuits no longer have access requirements
  _maps/RandomRuins/LavaRuins/skyrat/lavaland_surface_syndicate_base1_skyrat.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/interdynefob.dmm
  modular_skyrat/master_files/code/game/machinery/suit_storage.dm
  modular_skyrat/master_files/code/modules/mod/mod_types.dm
  tgstation.dme
Labels: Fix

#13519 [MODULAR] Rat-Stabbers Episode 1, Bowie's Knife
  modular_skyrat/modules/knives/icons/bowie.dmi
  modular_skyrat/modules/knives/icons/bowie_lefthand.dmi
  modular_skyrat/modules/knives/icons/bowie_righthand.dmi
  modular_skyrat/modules/knives/icons/bowiepocket.dmi
  modular_skyrat/modules/knives/knives.dm
  tgstation.dme
Labels: Feature

#13527 Fixes for changeling transformations.
  code/modules/antagonists/changeling/changeling.dm
  code/modules/antagonists/changeling/powers/humanform.dm
  code/modules/antagonists/changeling/powers/lesserform.dm
  code/modules/mob/living/simple_animal/hostile/headcrab.dm
  modular_skyrat/modules/customization/datums/dna.dm
Labels: Fix, Code Improvement

#13553 Only show DNR slappers as DNR on Medhud for consistency & change the soul blurb
  code/game/data_huds.dm
  modular_skyrat/master_files/code/modules/mob/living/carbon/human_helpers.dm
Labels: Stale, Quality of Life

#13843 [FUCK] Fixes the job subsystem
  code/controllers/subsystem/job.dm
Labels: FUCK, Priority: CRITICAL, GBP: No Update

#13748 Adds a new contractor module, the SCORPION
  code/modules/projectiles/guns/special/meat_hook.dm
  modular_skyrat/modules/contractor/code/datums/contractor_items.dm
  modular_skyrat/modules/contractor/code/items/hook.dm
  modular_skyrat/modules/contractor/code/items/modsuit/modsuit.dm
  modular_skyrat/modules/contractor/code/items/modsuit/modules.dm
  modular_skyrat/modules/contractor/icons/hook.dmi
  modular_skyrat/modules/contractor/icons/hook_projectile.dmi
  modular_skyrat/modules/contractor/icons/modsuit_modules.dmi
  tgstation.dme
Labels: Feature

#13854 ashwalkers can use quirks
  code/modules/mob_spawn/ghost_roles/mining_roles.dm
Labels: Fix

#13863 Fixes OPFOR runtime
  modular_skyrat/modules/opposing_force/code/opposing_force_datum.dm
Labels: Fix

#13864 Fixes teshari modsuit suits to use correct sprite
  modular_skyrat/modules/teshari/code/teshari_clothes.dm
Labels: Fix

#13865 Fixes some tail turf emotes
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/tails.dm
  modular_skyrat/modules/emotes/code/additionalemotes/turf_emote.dm
Labels: Fix, Code Improvement

#13870 Ghost Cafe un-weirdining
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
Labels: Feature, Fix

#13873 Fixes headshots not working
  modular_skyrat/master_files/code/modules/client/preferences/headshot.dm
Labels: Fix

#13882 [MODULAR] BlueShift active turf rectification
  _maps/map_files/Blueshift/BlueShift_lower.dmm
  _maps/map_files/Blueshift/BlueShift_middle.dmm
  _maps/map_files/Blueshift/BlueShift_upper.dmm
Labels: Fix

#13881 [MODULAR] BlueShift CI Fix
  _maps/map_files/Blueshift/BlueShift_upper.dmm
Labels: Fix

#13892 [NO GBP] [MODULAR] Ticks accesshelpers.dm
  modular_skyrat/modules/skyrat_access_helpers/accesshelpers.dm
  tgstation.dme
Labels: Fix, GBP: No Update

#13850 Icebox Unique (snow?)Ashwalker Den
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_ash_walker1_skyrat.dmm
  modular_skyrat/modules/mapping/code/icemoon.dm
Labels: Feature

#13868 Flipped tables now preserve custom materials
  modular_skyrat/modules/tableflip/code/flipped_table.dm
Labels: Fix

#13835 Familiar lobbyscreen
  code/_onclick/hud/new_player.dm
  code/_onclick/hud/screen_objects.dm
  code/controllers/master.dm
  code/controllers/subsystem.dm
  code/controllers/subsystem/job.dm
  code/controllers/subsystem/mapping.dm
  code/controllers/subsystem/ticker.dm
  code/controllers/subsystem/title.dm
  code/datums/mapgen/CaveGenerator.dm
  code/game/turfs/closed/_closed.dm
  code/modules/admin/admin_verbs.dm
  code/modules/mob/dead/new_player/new_player.dm
  config/skyrat/title_html.txt
  interface/skin.dmf
  modular_skyrat/master_files/code/_onclick/hud/new_player.dm
  modular_skyrat/modules/title_screen/code/_title_screen_defines.dm
  modular_skyrat/modules/title_screen/code/new_player.dm
  modular_skyrat/modules/title_screen/code/title_screen_controls.dm
  modular_skyrat/modules/title_screen/code/title_screen_html.dm
  modular_skyrat/modules/title_screen/code/title_screen_subsystem.dm
  modular_skyrat/modules/title_screen/icons/loading_screen.gif
  modular_skyrat/modules/title_screen/icons/skyrat_title_screen.png
  modular_skyrat/modules/title_screen/readme.md
  tgstation.dme
Labels: Feature, Test Merged

#13599 [MODULAR] Blacklists morphine and all inverses from smartdarts.
  modular_skyrat/modules/medical/code/smartdarts.dm
Labels: Balance/Rebalance
