Repository Skyrat-SS13/Skyrat-tg, pull requests merged in 2022-10, with the labels that each got.

#16572 fixes wildcat lethals being unreloadable into the magazines
  modular_skyrat/modules/modular_weapons/code/modular_projectiles.dm
Labels: Fix

#16561 Removes cell component from the radio jammer
  code/game/objects/items/devices/traitordevices.dm
Labels: Removal

#16573 more missing pixel fixes
  modular_skyrat/modules/customization/modules/clothing/under/costumes.dm
  modular_skyrat/modules/customization/modules/clothing/under/sweaters.dm
Labels: Fix

#16589 Head of staff mantle resprite, adds a new mantle for the QM
  modular_skyrat/master_files/icons/mob/clothing/neck.dmi
  modular_skyrat/master_files/icons/obj/clothing/neck.dmi
  modular_skyrat/modules/command_vendor/code/vending.dm
  modular_skyrat/modules/customization/modules/clothing/neck/_neck.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_neck.dm
Labels: Sprites

#16588 Fixes mistakes in atmos and engi (Void raptor)
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Fix

#16305 Subtler fix and slight tidy up
  modular_skyrat/modules/verbs/code/subtle.dm
Labels: Fix

#16570 Lets the guard rail barricade type actually be built
  modular_skyrat/master_files/code/game/objects/items/stacks/sheets/sheet_types.dm
  modular_skyrat/modules/barricades/code/barricade.dm
Labels: Feature

#16590 Blueshield: Redone
  modular_skyrat/master_files/code/modules/clothing/under/jobs/command.dm
  modular_skyrat/master_files/icons/mob/clothing/head.dmi
  modular_skyrat/master_files/icons/mob/clothing/suit.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/command.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/command_digi.dmi
  modular_skyrat/master_files/icons/obj/clothing/hats.dmi
  modular_skyrat/master_files/icons/obj/clothing/suits.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/command.dmi
  modular_skyrat/modules/blueshield/code/blueshield_clothing.dm
Labels: Sprites

#16456 Fixes broken cryo on Cargodise Lost, expands areas and APC's
  _maps/RandomRuins/SpaceRuins/skyrat/cargodiselost.dmm
  modular_skyrat/modules/mapping/code/areas/space.dm
  modular_skyrat/modules/mapping/code/mob_spawns.dm
Labels: Feature, Fix, Quality of Life

#16569 Makes the half mask respirator actually look like what the image in the pr body was in #16442
  modular_skyrat/modules/GAGS/icons/masks.dmi
Labels: Fix, GBP: No Update

#16411 Improves the "disable ERP" config
  code/controllers/configuration/configuration.dm
  code/controllers/subsystem/processing/quirks.dm
  code/controllers/subsystem/processing/reagents.dm
  code/modules/client/preferences.dm
  code/modules/mob/living/carbon/human/human.dm
  modular_skyrat/master_files/code/modules/client/preferences/cursed_shit.dm
  modular_skyrat/modules/customization/__HELPERS/global_lists.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories.dm
  modular_skyrat/modules/loadouts/loadout_items/_loadout_datum.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_heads.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_neck.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_shoes.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_chemistry/chemistry_for_ERP.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_quirks.dm
Labels: Code Improvement

#16565 balance the dragonslayer
  modular_skyrat/modules/gladiator/code/game/objects/items/gladiator_items.dm
Labels: Balance

#16604 Fixes the examine panel (again) and lets you regenerate the displayed appearance so it updates properly
  modular_skyrat/master_files/code/modules/mob/living/examine_tgui.dm
  tgstation.dme
Labels: Fix

#16559 demonic watcher crusher trophy fix
  code/modules/mob/living/simple_animal/hostile/mining_mobs/ice_demon.dm
Labels: Fix

#16613 [MODULARISING] Fixes Job Unavailable Messages
  code/__DEFINES/jobs.dm
  code/__DEFINES/~skyrat_defines/jobs.dm
Labels: Fix

#16618 fixes a duplicate couch on the ghost cafe
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
Labels: Fix, Map Edit

#16608 fix: null languages are also removed in sanitize
  modular_skyrat/modules/customization/modules/client/preferences.dm
Labels: Fix

#16658 Fixes borers being able to use abilities while dead and use the injector while having sugar in them
  modular_skyrat/modules/cortical_borer/code/cortical_borer_abilities.dm
Labels: Fix

#16662 Simplifies the Borer Health Scan Proc
  modular_skyrat/modules/cortical_borer/code/cortical_borer_abilities.dm
Labels: Code Improvement

#16665 [MODULAR][BUGFIX][READY] Fixes Two Snail Shells
  modular_skyrat/master_files/icons/mob/clothing/back.dmi
  modular_skyrat/master_files/icons/obj/clothing/backpacks.dmi
Labels: Fix

#16653 [MDB IGNORE] Ran Migration Script for Lights
  _maps/RandomRuins/SpaceRuins/skyrat/alientoollab.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/blackmarket.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/cargodiselost.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/dangerous_research.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/derelictferry.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/polychromicfacility.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/posterpandamonium.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/prisonshuttle.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/salvagepost.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/shuttle8532.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/smugglies.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/toystore.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/waypointstation.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/wreckedhomestead.dmm
  _maps/RandomRuins/SpaceRuins/spacehotel_skyrat.dmm
  _maps/RandomRuins/SpaceRuins/whiteshipruin_box_skyrat.dmm
  _maps/RandomZLevels/blackmesa.dmm
  _maps/RandomZLevels/mothership_astrum.dmm
  _maps/RandomZLevels/research2.dmm
  _maps/map_files/Blueshift/BlueShift_middle.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  _maps/shuttles/skyrat/arrival_outpost.dmm
  _maps/shuttles/skyrat/emergency_outpost.dmm
  _maps/shuttles/skyrat/emergency_skyrat.dmm
  _maps/shuttles/skyrat/ferry_skyrat.dmm
  _maps/shuttles/starfury_corvette.dmm
  _maps/shuttles/starfury_fighter1.dmm
  _maps/skyrat/automapper/templates/Skyrat_Map_Reset.dmm
  _maps/skyrat/automapper/templates/centcom/centcom_ferry_dock.dmm
Labels: Fix

#16686 fix: Examine trying to get antag datum from mindless mobs
  code/datums/quirks/_quirk.dm
Labels: Fix

#16655 Removes most of skyrat fishing in favor of tg fishing, keeps the ability to upgrade and fish out of water basins (they just use tg fishing now)
  modular_skyrat/modules/fishing/code/fishing.dm
  modular_skyrat/modules/fishing/code/fishing_skill.dm
  modular_skyrat/modules/fishing/icons/cloaks.dmi
  modular_skyrat/modules/fishing/icons/fishing.dmi
  modular_skyrat/modules/fishing/icons/fishing_left.dmi
  modular_skyrat/modules/fishing/icons/fishing_right.dmi
  modular_skyrat/modules/fishing/icons/neck.dmi
  modular_skyrat/modules/fishing/readme.md
  modular_skyrat/modules/reagent_forging/code/water_basin.dm
  tgstation.dme
Labels: Removal

#16650 [MODULAR] Reagent Forging Chem Blacklist
  modular_skyrat/modules/reagent_forging/code/forge.dm
Labels: Balance

#16684 Fix: Improves ERP-disabling config
  modular_skyrat/master_files/code/modules/client/preferences/erp_preferences.dm
  modular_skyrat/master_files/code/modules/client/preferences/genitals.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/roundstartslime.dm
  modular_skyrat/modules/customization/modules/surgery/organs/genitals.dm
Labels: Fix

#16692 Fix: Allows cows, bots, and other mobs, to be tipped over again!
  modular_skyrat/master_files/code/datums/components/tippable.dm
  modular_skyrat/master_files/code/modules/mob/living/sillicon/robot.dm
  tgstation.dme
Labels: Fix

#16710 Fixes morgue unit lights and their informational paper
  modular_skyrat/modules/aesthetics/morgue/code/morgue.dm
  modular_skyrat/modules/aesthetics/morgue/icons/morgue.dmi
Labels: Fix

#16477 [modular] arachne borgs
  modular_skyrat/modules/altborgs/code/robot_model.dm
  modular_skyrat/modules/altborgs/icons/robots_clown.dmi
  modular_skyrat/modules/altborgs/icons/robots_eng.dmi
  modular_skyrat/modules/altborgs/icons/robots_jani.dmi
  modular_skyrat/modules/altborgs/icons/robots_med.dmi
  modular_skyrat/modules/altborgs/icons/robots_mine.dmi
  modular_skyrat/modules/altborgs/icons/robots_serv.dmi
  modular_skyrat/modules/altborgs/icons/robots_syndi.dmi
Labels: Feature, Stale

#16713 [MISSED MIRROR] 70253
  code/__DEFINES/traits.dm
  code/modules/hallucination/body.dm
  code/modules/hallucination/fake_sound.dm
  code/modules/hallucination/ice_cube.dm
  code/modules/unit_tests/hallucination_icons.dm
  icons/effects/effects.dmi
  sound/effects/ice_shovel.ogg
  sound/hallucinations/radio_static.ogg
  tgstation.dme
Labels: Feature

#16712 [MISSED MIRROR] 69340
  code/game/objects/items/kitchen.dm
  code/modules/vending/drinnerware.dm
  icons/mob/inhands/equipment/kitchen_lefthand.dmi
  icons/mob/inhands/equipment/kitchen_righthand.dmi
  icons/obj/kitchen.dmi
Labels: Balance, GBP: No Update

#16522 [MODULAR][MDB IGNORE]Re-adds the (renamed) Victorian Vest and Dutch Assistant costumes
  modular_skyrat/master_files/code/modules/clothing/under/costume.dm
  modular_skyrat/master_files/icons/mob/clothing/under/costume.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/costume_digi.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/shorts_pants_shirts.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/shorts_pants_shirts_digi.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/costume.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/shorts_pants_shirts.dmi
  modular_skyrat/modules/GAGS/greyscale_configs.dm
  modular_skyrat/modules/GAGS/json_configs/costumes/buttondown_vicvest.json
  modular_skyrat/modules/loadouts/loadout_items/under/loadout_datum_under.dm
  modular_skyrat/modules/modular_vending/code/autodrobe.dm
Labels: Feature

#16553 forging using material items, not rods
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_ash_walker1_skyrat.dmm
  modular_skyrat/modules/reagent_forging/code/anvil.dm
  modular_skyrat/modules/reagent_forging/code/crafting_bench.dm
  modular_skyrat/modules/reagent_forging/code/forge.dm
  modular_skyrat/modules/reagent_forging/code/forge_clothing.dm
  modular_skyrat/modules/reagent_forging/code/forge_items.dm
  modular_skyrat/modules/reagent_forging/code/forge_weapons.dm
  modular_skyrat/modules/reagent_forging/code/reagent_component.dm
  modular_skyrat/modules/reagent_forging/code/water_basin.dm
Labels: Feature, Fix, Test Merged

#16704 Replaces some borer progression with an upgrade tree
  code/__DEFINES/~skyrat_defines/antagonists.dm
  code/__HELPERS/~skyrat_helpers/logging.dm
  code/modules/antagonists/changeling/powers/panacea.dm
  modular_skyrat/modules/cortical_borer/code/cortical_borer.dm
  modular_skyrat/modules/cortical_borer/code/cortical_borer_abilities.dm
  modular_skyrat/modules/cortical_borer/code/cortical_borer_egg.dm
  modular_skyrat/modules/cortical_borer/code/evolution/borer_evolution.dm
  modular_skyrat/modules/cortical_borer/code/evolution/evolution_datum.dm
  modular_skyrat/modules/cortical_borer/code/evolution/evolution_diveworm.dm
  modular_skyrat/modules/cortical_borer/code/evolution/evolution_general.dm
  modular_skyrat/modules/cortical_borer/code/evolution/evolution_hivelord.dm
  modular_skyrat/modules/cortical_borer/code/evolution/evolution_symbiote.dm
  modular_skyrat/modules/cortical_borer/code/evolution/evolution_things/empowered_egg.dm
  modular_skyrat/modules/cortical_borer/code/focus_datum.dm
  modular_skyrat/modules/cortical_borer/icons/animal.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/BorerEvolution.tsx
Labels: Balance

#16683 Revert "Adds a pointing cooldown (once per half second)"
  modular_skyrat/master_files/code/modules/client/pointing_cooldown.dm
  tgstation.dme
Labels: Revert

#16714 Changes Morgue lights to use Red=Dead, and removes the now unneeded paper override
  modular_skyrat/modules/aesthetics/morgue/code/morgue.dm
  modular_skyrat/modules/aesthetics/morgue/icons/morgue.dmi
Labels: Revert

#16682 Load Character Prefs VV
  code/__DEFINES/vv.dm
  code/__DEFINES/~skyrat_defines/vv.dm
  code/modules/mob/mob.dm
  modular_skyrat/modules/extra_vv/code/extra_vv.dm
  tgstation.dme
Labels: Administration

#16594 Titanium walls no longer smooth with SMOOTH_GROUP_WALLS
  code/game/turfs/closed/wall/mineral_walls.dm
Labels: Fix, Take it upstream

#16525 Fixes Skyrat Camera Icons [TM FIRST]
  modular_skyrat/modules/aesthetics/camera/icons/camera.dmi
Labels: Fix, Test Merge Only, Test Merged

#16723 shared heal ash ritual + more
  modular_skyrat/modules/ashwalkers/code/effects/ash_ritual.dm
  modular_skyrat/modules/ashwalkers/code/effects/ash_rituals.dm
  modular_skyrat/modules/ashwalkers/code/effects/ash_rune.dm
Labels: Feature, Quality of Life

#16428 [MDB IGNORE] Touches up floor tiles a tiny bit
  modular_skyrat/modules/aesthetics/floors/code/floors.dm
  modular_skyrat/modules/aesthetics/floors/icons/floors.dmi
Labels: Fix, Sprites

#16734 ICON RESET
  icons/hud/screen_alert.dmi
  icons/mob/clothing/accessories.dmi
  icons/mob/clothing/belt.dmi
  icons/mob/clothing/feet.dmi
  icons/mob/clothing/modsuit/mod_clothing.dmi
  icons/mob/clothing/suits/armor.dmi
  icons/mob/clothing/suits/jacket.dmi
  icons/mob/clothing/suits/wintercoat.dmi
  icons/mob/inhands/items/food_righthand.dmi
  icons/mob/inhands/weapons/bombs_lefthand.dmi
  icons/mob/inhands/weapons/bombs_righthand.dmi
  icons/obj/clothing/accessories.dmi
  icons/obj/clothing/modsuit/mod_clothing.dmi
  icons/obj/clothing/modsuit/mod_modules.dmi
  icons/obj/clothing/shoes.dmi
  icons/obj/clothing/suits/armor.dmi
  icons/obj/clothing/suits/costume.dmi
  icons/obj/clothing/suits/jacket.dmi
  icons/obj/clothing/suits/wintercoat.dmi
  icons/obj/clothing/under/costume.dmi
  icons/obj/food/containers.dmi
  icons/obj/hydroponics/harvest.dmi
  icons/obj/hydroponics/seeds.dmi
  icons/obj/kitchen.dmi
  icons/obj/medical/chemical.dmi
  icons/obj/weapons/grenade.dmi
Labels: Sprites, TG Reset

#16745 [MISSED MIRROR] Fixes baguette examine text
  code/game/objects/items/food/bread.dm
Labels: Fix

#16736 [MODULAR] [READY] [IT'S LIKE ONE LINE] Adds Biker Jacket To The Loadout
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_suit.dm
Labels: Feature

#16751 Moves Keyhole Sweater to GAGS, fixes Cableknit Sweater unintentionally overwriting TG's Sweater Jacket icons
  modular_skyrat/modules/GAGS/greyscale_configs.dm
  modular_skyrat/modules/GAGS/icons/sweaters.dmi
  modular_skyrat/modules/GAGS/json_configs/sweater/sweater.json
  modular_skyrat/modules/GAGS/json_configs/sweater/sweater_worn.json
  modular_skyrat/modules/customization/modules/clothing/under/sweaters.dm
  modular_skyrat/modules/loadouts/loadout_items/under/loadout_datum_under.dm
  modular_skyrat/modules/modular_vending/code/clothesmate.dm
Labels: Fix, Sprites

#16738 [MODULAR] Gives jackboots laces, along with minor fixes.
  code/game/objects/items/stacks/tape.dm
  modular_skyrat/modules/customization/modules/clothing/shoes/shoes.dm
  modular_skyrat/modules/sec_haul/code/corrections_officer/corrections_officer_equipment.dm
  modular_skyrat/modules/sec_haul/code/peacekeeper/armadyne_clothing.dm
  modular_skyrat/modules/sec_haul/code/peacekeeper/peacekeeper_clothing.dm
Labels: Balance, Fix, Code Improvement

#16729 Slightly updates Medical/Security/CC/Command/Cargo/Civilian/Suits icon files (So almost all of them)
  modular_skyrat/master_files/icons/mob/clothing/under/cargo.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/cargo_digi.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/centcom.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/centcom_digi.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/civilian.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/civilian_digi.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/command.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/command_digi.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/security.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/security_digi.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/suits.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/suits_digi.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/cargo.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/centcom.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/civilian.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/command.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/medical.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/security.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/suits.dmi
Labels: Sprites

#16753 Hat path updates
  _maps/RandomRuins/SpaceRuins/skyrat/interdynefob.dmm
  _maps/RandomRuins/SpaceRuins/spacehotel_skyrat.dmm
  _maps/map_files/Blueshift/BlueShift_middle.dmm
  _maps/map_files/Blueshift/BlueShift_upper.dmm
  _maps/shuttles/starfury_corvette.dmm
  _maps/shuttles/starfury_fighter1.dmm
  modular_skyrat/master_files/code/modules/clothing/clothing_variation_overrides/head.dm
  modular_skyrat/modules/command_vendor/code/vending.dm
  modular_skyrat/modules/customization/modules/clothing/head/head.dm
  modular_skyrat/modules/customization/modules/clothing/head/trek.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_heads.dm
  modular_skyrat/modules/mapping/code/jobs.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/erp_belt.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_machinery/lustwish.dm
  modular_skyrat/modules/modular_vending/code/autodrobe.dm
  modular_skyrat/modules/modular_vending/code/clothesmate.dm
  modular_skyrat/modules/modular_vending/code/wardrobes.dm
  modular_skyrat/modules/nanotrasen_naval_command/code/clothing.dm
  modular_skyrat/modules/nanotrasen_naval_command/code/outfits.dm
  modular_skyrat/modules/sec_haul/code/misc/vending.dm
  modular_skyrat/modules/sec_haul/code/peacekeeper/peacekeeper_clothing.dm
  modular_skyrat/modules/teshari/code/teshari_clothes.dm
  modular_skyrat/modules/vox_sprites/code/head.dm
  tools/UpdatePaths/Scripts_Skyrat/hats_repath.txt
Labels: Fix

#16697 [SEMI-MODULAR] Synthetic Quirks Rebalancer & Quirk Hider
  code/controllers/subsystem/processing/quirks.dm
  modular_skyrat/master_files/code/datums/quirks/_quirk.dm
  modular_skyrat/master_files/code/datums/quirks/negative.dm
  modular_skyrat/master_files/code/game/objects/items/storage/pill_bottles.dm
  modular_skyrat/master_files/code/modules/reagents/pill.dm
  modular_skyrat/modules/customization/modules/reagents/chemistry/reagents/medicine_reagents.dm
  tgstation.dme
Labels: Feature, Balance, Fix

#16770 Departmental coat resprite + a non-departmental variant
  modular_skyrat/master_files/icons/mob/clothing/suit.dmi
  modular_skyrat/master_files/icons/obj/clothing/suits.dmi
  modular_skyrat/modules/customization/modules/clothing/under/utility_port/suits_port.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_suit.dm
Labels: Sprites

#16737 [MODULAR] Allows taurs to wear more dresses and skirts
  modular_skyrat/master_files/code/modules/clothing/under/costume.dm
  modular_skyrat/master_files/code/modules/clothing/under/jobs/civilian/suits.dm
  modular_skyrat/master_files/code/modules/clothing/under/skirts_dresses.dm
  modular_skyrat/modules/customization/modules/clothing/under/sweaters.dm
Labels: Fix

#16752 [DRAFT]Misc Icon Sorting
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/defcon2.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/defcon3.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/defcon4.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/defcon5.dmm
  _maps/map_files/Blueshift/BlueShift_upper.dmm
  code/game/objects/items/stacks/sheets/leather.dm
  code/modules/clothing/under/trek.dm
  modular_skyrat/master_files/code/modules/clothing/under/misc.dm
  modular_skyrat/master_files/icons/mob/clothing/under/color_digi.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/costume.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/costume_digi.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/misc.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/misc_digi.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/trek_digi.dmi
  modular_skyrat/master_files/icons/mob/clothing/underwear.dmi
  modular_skyrat/master_files/icons/obj/clothing/accessories.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/costume.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/misc.dmi
  modular_skyrat/modules/GAGS/greyscale_configs.dm
  modular_skyrat/modules/GAGS/icons/jumpsuit_digi.dmi
  modular_skyrat/modules/customization/modules/clothing/under/misc.dm
  modular_skyrat/modules/customization/modules/clothing/under/security.dm
  modular_skyrat/modules/customization/modules/clothing/under/skirts_dresses.dm
  modular_skyrat/modules/customization/modules/clothing/under/utility_port/other_port.dm
  modular_skyrat/modules/customization/modules/clothing/under/utility_port/utility.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories.dm
  modular_skyrat/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
  modular_skyrat/modules/loadouts/loadout_items/under/loadout_datum_under.dm
  modular_skyrat/modules/mapping/code/mob_spawns.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/erp_belt.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/lewd_maid.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_machinery/lustwish.dm
  modular_skyrat/modules/modular_items/lewd_items/icons/mob/lewd_clothing/lewd_uniform/lewd_uniform.dmi
  modular_skyrat/modules/modular_items/lewd_items/icons/obj/lewd_clothing/lewd_uniform.dmi
  modular_skyrat/modules/modular_vending/code/clothesmate.dm
  modular_skyrat/modules/modular_vending/code/wardrobes.dm
  tgstation.dme
Labels: Removal, Sprites, Quality of Life

#16746 Granite's Love pass 1 of X for ruins
  _maps/RandomRuins/SpaceRuins/skyrat/blackmarket.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/cargodiselost.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/derelictferry.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/polychromicfacility.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/scrapheap.dmm
  modular_skyrat/modules/mapping/code/areas/space.dm
Labels: Fix, Mapping, Quality of Life

#16760 Granite's Love pass 2 of X for ruins
  _maps/RandomRuins/SpaceRuins/skyrat/ancient_satellite.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/crash.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/prisonshuttle.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/shuttle8532.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/smugglies.dmm
Labels: Fix, Mapping, Quality of Life

#16433 [MODULAR] Fixes bug where opening Game Preferences and then spawning causing you to be random human. Also SR bodypart prefs refactor
  code/modules/client/preferences.dm
  modular_skyrat/master_files/code/modules/client/preferences/_preference.dm
  modular_skyrat/master_files/code/modules/client/preferences/genitals.dm
  modular_skyrat/master_files/code/modules/client/preferences/mutant_parts.dm
  modular_skyrat/master_files/code/modules/client/preferences/species_features/digitigrade_legs.dm
  modular_skyrat/modules/better_vox/code/vox_bodycolor.dm
  modular_skyrat/modules/teshari/code/_teshari.dm
Labels: Fix, Refactor, Test Merged, Priority: HIGH

#16105 [MODULAR] Prefs-Enabled Synth, IPC and Cyborg Brains!
  code/__DEFINES/~skyrat_defines/preferences.dm
  modular_skyrat/master_files/code/modules/client/preferences/brain.dm
  modular_skyrat/master_files/icons/obj/alt_silicon_brains.dmi
  modular_skyrat/master_files/icons/obj/surgery.dmi
  modular_skyrat/modules/customization/modules/surgery/organs/silicon_alt_brains.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/skyrat/brain_type.tsx
Labels: Feature, Test Merged, Quality of Life

#16803 Corrects modularization readme
  modular_skyrat/readme.md
Labels: Grammar and Formatting

#16804 properly capitalises Nanotrasen in modular files
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  modular_skyrat/modules/aesthetics/clothing/clothing.dm
  modular_skyrat/modules/cryosleep/code/admin.dm
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
  modular_skyrat/modules/microfusion/code/microfusion_gun_attachments.dm
Labels: Grammar and Formatting

#16812 Changes the sprite for stone floors
  modular_skyrat/modules/aesthetics/floors/icons/floors.dmi
Labels: Sprites

#16771 [MODULAR] Fixes Targeted Subtler
  modular_skyrat/modules/verbs/code/subtle.dm
Labels: Fix

#16815 Kills every single instance of baked in color decal floors on the maps (Today on making prs that conflict with other prs I have open)
  _maps/RandomRuins/SpaceRuins/skyrat/cargodiselost.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/interdynefob.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/luna.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/piratefort.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/scrapheap.dmm
  _maps/RandomZLevels/blackmesa.dmm
  _maps/map_files/Blueshift/BlueShift_middle.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  _maps/shuttles/skyrat/pirate_enclave.dmm
  _maps/shuttles/skyrat/prison_transport.dmm
  _maps/shuttles/skyrat/slaver_syndie.dmm
  _maps/skyrat/automapper/templates/Skyrat_Map_Reset.dmm
  modular_skyrat/modules/aesthetics/floors/code/floors.dm
  modular_skyrat/modules/aesthetics/floors/icons/floors.dmi
Labels: Fix

#16824 [MODULAR] Makes the armament list load the preview items correctly
  code/__DEFINES/subsystems.dm
  modular_skyrat/modules/armaments/code/armament_component.dm
  modular_skyrat/modules/armaments/code/armament_entries.dm
  modular_skyrat/modules/gun_cargo/code/armament_component.dm
  modular_skyrat/modules/gun_cargo/code/gun_subsystem.dm
Labels: Fix

#16884 Ports missed things from #68648, fixes #16872 (Maid corsets)
  code/modules/clothing/under/costume.dm
  code/modules/vending/autodrobe.dm
Labels: Fix

#16861 [MODULAR] make title screen progress bar pacing work a little better
  modular_skyrat/modules/title_screen/code/_title_screen_defines.dm
  modular_skyrat/modules/title_screen/code/title_screen_subsystem.dm
Labels: Code Improvement

#16837 CQC can no longer be discounted in the uplink
  modular_skyrat/master_files/code/modules/uplink/uplink_items.dm
Labels: Balance

#16882 [Modular] Oppressive Force Relocation medicell tweaks
  modular_skyrat/modules/cellguns/code/medigun_cells.dm
Labels: Balance, Fix

#16899 Fix: Hydraulic Leak removing more blood than intended
  modular_skyrat/master_files/code/datums/quirks/negative.dm
  modular_skyrat/master_files/code/modules/reagents/blood_pack.dm
  tgstation.dme
Labels: Fix

#16757 Hemophagus: The Hemophage Revamp, Part One: The Bloodthirst
  code/__DEFINES/mobs.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  modular_skyrat/master_files/code/modules/mob/living/blood.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/hemophage.dm
  tgstation.dme
Labels: Balance, Fix, Code Improvement, Test Merged

#16875 Mini Suit File Cleanup: Removes some completely unused, sus (tm), 1944 'german military' larp sprites from the modular suits file
  modular_skyrat/master_files/icons/mob/clothing/suit.dmi
  modular_skyrat/master_files/icons/obj/clothing/suits.dmi
Labels: Removal, Sprites

#16820 Various fixes on Voidraptor.
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Fix

#16910 [Hotfix][NO GBP] Drider taur accessory is visible
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/taur_types.dm
Labels: GBP: No Update

#16903 primitive cooking improvements part: i've forgotten at this point - larger version of the mortar
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_ash_walker1_skyrat.dmm
  _maps/RandomRuins/LavaRuins/skyrat/lavaland_surface_ash_walker1_skyrat.dmm
  modular_skyrat/master_files/code/game/objects/items/stacks/sheets/sheet_types.dm
  modular_skyrat/modules/primitive_fun/code/big_mortar.dm
  modular_skyrat/modules/primitive_fun/icons/cooking_structures.dmi
  modular_skyrat/modules/primitive_fun/readme.md
  tgstation.dme
Labels: Feature

#16926 Allows the recently added stone stairs type to be built using (still unobtainable, I gotta work on that) stone
  modular_skyrat/modules/stone/code/stone.dm
Labels: Feature

#16856 Feat: Allow Genitals Toggle in CharPrefs and Mismatched Parts server config
  config/skyrat/skyrat_config.txt
  modular_skyrat/master_files/code/modules/client/preferences/genitals.dm
  modular_skyrat/master_files/code/modules/client/preferences/mutant_parts.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/skyrat/species_features.tsx
Labels: Feature, Config Update

#16835 New xeno balance changes that I told golden I'd make then never did
  modular_skyrat/modules/xenos_skyrat_redo/code/base_skyrat_xeno.dm
  modular_skyrat/modules/xenos_skyrat_redo/code/xeno_types/rouny.dm
  modular_skyrat/modules/xenos_skyrat_redo/code/xeno_types/sentinel.dm
  modular_skyrat/modules/xenos_skyrat_redo/code/xeno_types/warrior.dm
Labels: Balance

#16908 improves some of the ceramic and glassblowing sprites
  modular_skyrat/modules/primitive_fun/code/glassblowing.dm
  modular_skyrat/modules/primitive_fun/icons/prim_fun.dmi
Labels: Sprites

#16873 Changes material floor tiles to use a whiter tile as opposed to a grey one that was causing muddy looking tiles
  modular_skyrat/modules/aesthetics/floors/icons/floors.dmi
Labels: Sprites

#16991 [MDB IGNORE] Fixes Seva hood/mask on muzzles
  modular_skyrat/modules/SEVA_suit/code/seva_obj.dm
Labels: Fix

#16996 blueshift powernet fix
  _maps/map_files/Blueshift/BlueShift_middle.dmm
Labels: Fix

#16958 Primitive Cooking Part 5 (I made that number up): A way to get food processor stuff
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_ash_walker1_skyrat.dmm
  _maps/RandomRuins/LavaRuins/skyrat/lavaland_surface_ash_walker1_skyrat.dmm
  modular_skyrat/master_files/code/game/objects/items/stacks/sheets/sheet_types.dm
  modular_skyrat/modules/primitive_fun/code/big_mortar.dm
  modular_skyrat/modules/primitive_fun/code/cutting_board.dm
  modular_skyrat/modules/primitive_fun/icons/cooking_structures.dmi
  tgstation.dme
Labels: Feature

#16732 hammers dont damage, reagent weapons when imbued lose durability
  code/__DEFINES/~skyrat_defines/_globalvars/bitfields.dm
  code/__DEFINES/~skyrat_defines/obj_flags.dm
  modular_skyrat/master_files/code/game/objects/objs.dm
  modular_skyrat/modules/reagent_forging/code/anvil.dm
  modular_skyrat/modules/reagent_forging/code/crafting_bench.dm
  modular_skyrat/modules/reagent_forging/code/forge.dm
  modular_skyrat/modules/reagent_forging/code/forge_clothing.dm
  modular_skyrat/modules/reagent_forging/code/forge_items.dm
  modular_skyrat/modules/reagent_forging/code/forge_weapons.dm
  modular_skyrat/modules/reagent_forging/code/reagent_component.dm
  modular_skyrat/modules/reagent_forging/code/tool_override.dm
  modular_skyrat/modules/reagent_forging/code/water_basin.dm
  tgstation.dme
Labels: Feature, Fix, Test Merged

#16918 Gives forging armor some new sprites, removes a single bit of forging armor as a consequence
  modular_skyrat/modules/reagent_forging/code/crafting_bench.dm
  modular_skyrat/modules/reagent_forging/code/forge_clothing.dm
  modular_skyrat/modules/reagent_forging/icons/mob/clothing/forge_clothing.dmi
  modular_skyrat/modules/reagent_forging/icons/mob/clothing/forge_clothing_digi.dmi
  modular_skyrat/modules/reagent_forging/icons/mob/clothing/forge_clothing_newvox.dmi
  modular_skyrat/modules/reagent_forging/icons/mob/clothing/forge_clothing_oldvox.dmi
  modular_skyrat/modules/reagent_forging/icons/mob/clothing/forge_clothing_teshari.dmi
  modular_skyrat/modules/reagent_forging/icons/mob/forge_clothing.dmi
  modular_skyrat/modules/reagent_forging/icons/mob/forge_clothing_digi.dmi
  modular_skyrat/modules/reagent_forging/icons/obj/forge_clothing.dmi
Labels: Removal, Sprites, DO NOT MERGE

#16957 Updates forge structure sprites
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_ash_walker1_skyrat.dmm
  modular_skyrat/modules/reagent_forging/code/anvil.dm
  modular_skyrat/modules/reagent_forging/code/crafting_bench.dm
  modular_skyrat/modules/reagent_forging/code/forge.dm
  modular_skyrat/modules/reagent_forging/code/water_basin.dm
  modular_skyrat/modules/reagent_forging/icons/obj/forge_structures.dmi
Labels: Sprites

#17040 [NO GBP] [MODULAR] Fixes Breast Pref Update Almost Always Runtiming
  modular_skyrat/master_files/code/modules/client/preferences_savefile.dm
Labels: Fix, GBP: No Update

#17032 [MISSED MIRROR] Updates GH actions to use GITHUB_OUTPUT
  .github/workflows/autowiki.yml
  .github/workflows/ci_suite.yml
  .github/workflows/compile_changelogs.yml
  .github/workflows/gbp.yml
  .github/workflows/gbp_collect.yml
  .github/workflows/show_screenshot_test_results.yml
  .github/workflows/test_merge_bot.yml
Labels: Fix, Manual Mirror

#17022 Adds the ability to make glass bottles to glassblowing
  modular_skyrat/modules/primitive_fun/code/glassblowing.dm
Labels: Feature

#17019 [MODULAR] Forging Item Resprites - ROCK AND STONE
  modular_skyrat/modules/reagent_forging/code/forge_items.dm
  modular_skyrat/modules/reagent_forging/code/forge_weapons.dm
  modular_skyrat/modules/reagent_forging/icons/mob/forge_weapon_l.dmi
  modular_skyrat/modules/reagent_forging/icons/mob/forge_weapon_r.dmi
  modular_skyrat/modules/reagent_forging/icons/mob/forge_weapon_worn.dmi
  modular_skyrat/modules/reagent_forging/icons/obj/forge_items.dmi
Labels: Feature

#16961 Adds a collection of some kinda random greyscaled, recolorable clothes options
  modular_skyrat/master_files/code/modules/clothing/under/costume.dm
  modular_skyrat/modules/GAGS/greyscale_configs.dm
  modular_skyrat/modules/GAGS/icons/head/head.dmi
  modular_skyrat/modules/GAGS/icons/head/head_newvox.dmi
  modular_skyrat/modules/GAGS/icons/head/head_oldvox.dmi
  modular_skyrat/modules/GAGS/icons/head/head_teshari.dmi
  modular_skyrat/modules/GAGS/icons/neck/neck.dmi
  modular_skyrat/modules/GAGS/icons/neck/neck_newvox.dmi
  modular_skyrat/modules/GAGS/icons/neck/neck_oldvox.dmi
  modular_skyrat/modules/GAGS/icons/neck/neck_teshari.dmi
  modular_skyrat/modules/GAGS/icons/shoes/shoes.dmi
  modular_skyrat/modules/GAGS/icons/shoes/shoes_digi.dmi
  modular_skyrat/modules/GAGS/icons/shoes/shoes_newvox.dmi
  modular_skyrat/modules/GAGS/icons/shoes/shoes_oldvox.dmi
  modular_skyrat/modules/GAGS/icons/shoes/shoes_teshari.dmi
  modular_skyrat/modules/GAGS/icons/suit/suit.dmi
  modular_skyrat/modules/GAGS/icons/suit/suit_newvox.dmi
  modular_skyrat/modules/GAGS/icons/suit/suit_oldvox.dmi
  modular_skyrat/modules/GAGS/icons/suit/suit_teshari.dmi
  modular_skyrat/modules/GAGS/json_configs/head/hood/hood.json
  modular_skyrat/modules/GAGS/json_configs/head/hood/hood_worn.json
  modular_skyrat/modules/GAGS/json_configs/neck/mantle/mantle.json
  modular_skyrat/modules/GAGS/json_configs/neck/mantle/mantle_worn.json
  modular_skyrat/modules/GAGS/json_configs/shoes/boots/boots.json
  modular_skyrat/modules/GAGS/json_configs/shoes/boots/boots_worn.json
  modular_skyrat/modules/GAGS/json_configs/shoes/laceups/laceups.json
  modular_skyrat/modules/GAGS/json_configs/shoes/laceups/laceups_worn.json
  modular_skyrat/modules/GAGS/json_configs/shoes/sandals/sandals.json
  modular_skyrat/modules/GAGS/json_configs/shoes/sandals/sandals_worn.json
  modular_skyrat/modules/GAGS/json_configs/suits/apron/apron.json
  modular_skyrat/modules/GAGS/json_configs/suits/apron/apron_worn.json
  modular_skyrat/modules/GAGS/json_configs/suits/bathrobe/bathrobe.json
  modular_skyrat/modules/GAGS/json_configs/suits/bathrobe/bathrobe_worn.json
  modular_skyrat/modules/ashwalkers/code/buildings/ash_clothing_vendor.dm
  modular_skyrat/modules/customization/modules/clothing/head/head.dm
  modular_skyrat/modules/customization/modules/clothing/neck/_neck.dm
  modular_skyrat/modules/customization/modules/clothing/shoes/shoes.dm
  modular_skyrat/modules/customization/modules/clothing/suits/misc.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_heads.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_neck.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_shoes.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_suit.dm
  modular_skyrat/modules/modular_vending/code/clothesmate.dm
Labels: Feature

#16867 adds the funny hand mirror to cafe costuming kit
  modular_skyrat/modules/ghostcafe/code/ghost_role_spawners.dm
Labels: Quality of Life

#17073 [MODULAR] Removes lobby camera remnants
  code/__DEFINES/~skyrat_defines/layers.dm
  code/controllers/configuration/entries/general.dm
  config/skyrat/skyrat_config.txt
  modular_skyrat/modules/lobby_cam/code/lobby_cam.dm
  modular_skyrat/modules/lobby_cam/code/lobby_eye_ss.dm
  modular_skyrat/modules/lobby_cam/icons/black_screen.dmi
  modular_skyrat/modules/lobby_cam/readme.md
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/skyrat/lobby_eye.tsx
Labels: Removal

#17072 PRs now require testing proof
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
Labels: Verified, Requires Testing Evidence

#17074 [MISSED MIRROR] Bumps Auxlua to 1.3.2
  auxlua.dll
  dependencies.sh
Labels: Manual Mirror

#16999 Fixes firing an empty gun displaying your name
  modular_skyrat/master_files/code/modules/projectiles/guns/gun.dm
Labels: Fix

#17045 Cleans up some of the code and balloon alerts for anvils, lets you drop them on people's heads
  modular_skyrat/modules/reagent_forging/code/anvil.dm
Labels: Feature, Code Improvement, Quality of Life

#17067 Gives the new standalone hoods hidehair
  modular_skyrat/modules/customization/modules/clothing/head/head.dm
Labels: Fix, GBP: No Update

#17068 Fixes some bold text in big mortar descriptions not terminating, spaces some of the code out a bit for golden
  modular_skyrat/modules/primitive_fun/code/big_mortar.dm
Labels: Fix, Code Improvement, GBP: No Update

#17069 Gives primitive centrifuges new icons + makes them material'd + code spacing
  modular_skyrat/modules/ashwalkers/code/items/ash_centrifuge.dm
  modular_skyrat/modules/ashwalkers/icons/misc_tools.dmi
Labels: Code Improvement, Sprites

#17089 Removes redundant skyrat inhands unit test edit
  code/modules/unit_tests/inhands.dm
Labels: Removal

#17087 [MODULAR] Fixes CO undersuits
  modular_skyrat/master_files/icons/mob/clothing/under/security.dmi
Labels: Fix

#17058 Resprites some of the Stirrup socks and leotard, adds digi variants to the stirrup socks
  modular_skyrat/master_files/icons/mob/clothing/underwear.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories.dm
Labels: Sprites

#17065 Resprited and GAGS'd Varsity jacket + An additional leather jacket option
  modular_skyrat/master_files/icons/mob/clothing/head.dmi
  modular_skyrat/master_files/icons/mob/clothing/suit.dmi
  modular_skyrat/master_files/icons/obj/clothing/hats.dmi
  modular_skyrat/master_files/icons/obj/clothing/suits.dmi
  modular_skyrat/modules/GAGS/greyscale_configs.dm
  modular_skyrat/modules/GAGS/icons/suit/suit.dmi
  modular_skyrat/modules/GAGS/json_configs/suits/varsity/varsity.json
  modular_skyrat/modules/GAGS/json_configs/suits/varsity/varsity_worn.json
  modular_skyrat/modules/customization/modules/clothing/suits/coats.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_suit.dm
  modular_skyrat/modules/modular_vending/code/clothesmate.dm
Labels: Sprites

#17070 Improves the color contrasting on colorable jackboots and colorable laceups
  modular_skyrat/modules/GAGS/icons/shoes/shoes.dmi
  modular_skyrat/modules/GAGS/icons/shoes/shoes_digi.dmi
  modular_skyrat/modules/GAGS/icons/shoes/shoes_newvox.dmi
  modular_skyrat/modules/GAGS/icons/shoes/shoes_oldvox.dmi
  modular_skyrat/modules/GAGS/icons/shoes/shoes_teshari.dmi
Labels: Sprites

#17102 [Fix] Feign impairment verb for 'jittering' makes your character shake, instead of your screen
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/human.dm
Labels: Fix

#17098 Re-adds the Countess Dress
  modular_skyrat/master_files/code/modules/clothing/under/skirts_dresses.dm
  modular_skyrat/master_files/icons/mob/clothing/under/skirts_dresses.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/skirts_dresses_digi.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/skirts_dresses.dmi
  modular_skyrat/modules/loadouts/loadout_items/under/loadout_datum_under.dm
Labels: Feature

#17120 [NO GBP] sets the greyscale config for digis on both sandals and colorable jackboots (i forgor to)
  modular_skyrat/modules/customization/modules/clothing/shoes/shoes.dm
Labels: Fix, GBP: No Update

#16941 Fix: Void Raptor evac extention
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Feature, Fix

#16956 [Void-raptor] Rearranges consoles at Customs (Arrivals sec outpost)
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Fix

#17099 [Void-raptor] Minorly changes detective/lawyer office and maintenance
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Feature, Fix

#16769 Granite's Love pass 3 of X for ruins - DS-2 flavor
  _maps/RandomRuins/SpaceRuins/skyrat/interdynefob.dmm
  modular_skyrat/master_files/code/game/machinery/suit_storage.dm
Labels: Fix, Test Merged, Mapping, Quality of Life

#16290 Space hotel Tender loving Care (and more)
  _maps/RandomRuins/SpaceRuins/spacehotel_skyrat.dmm
  code/game/area/areas/ruins/space.dm
  code/game/machinery/doors/airlock.dm
  modular_skyrat/master_files/icons/obj/structures/puzzle_door.dmi
  modular_skyrat/modules/aesthetics/airlock/code/airlock.dm
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/station/overlays.dmi
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/station2/overlays.dmi
  modular_skyrat/modules/aesthetics/keyed_doors/code/keyed_door.dm
  modular_skyrat/modules/aesthetics/keyed_doors/icons/keyed.dmi
  modular_skyrat/modules/mapping/code/space_hotel.dm
  tgstation.dme
Labels: Fix, Test Merged, Mapping, Quality of Life

#16852 [NO GBP] Minor tesh food changes + kiri alcohol
  modular_skyrat/master_files/icons/obj/drinks.dmi
  modular_skyrat/modules/customization/modules/food_and_drinks/food/teshari_food.dm
  modular_skyrat/modules/customization/modules/food_and_drinks/recipes/drinks_recipes.dm
  modular_skyrat/modules/customization/modules/hydroponics/grown/kiri.dm
  modular_skyrat/modules/customization/modules/hydroponics/grown/muli.dm
  modular_skyrat/modules/customization/modules/hydroponics/grown/nakati.dm
  modular_skyrat/modules/customization/modules/hydroponics/grown/piru.dm
  modular_skyrat/modules/customization/modules/reagents/chemistry/reagents/alcohol_reagents.dm
Labels: Feature, Balance, Fix, Needs Sprites Pictures, GBP: No Update

#17115 Removes polychrome
  _maps/RandomRuins/SpaceRuins/skyrat/clothing_facility.dmm
  modular_skyrat/modules/customization/__DEFINES/loadout.dm
  modular_skyrat/modules/customization/datums/elements/polychromic.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_suit.dm
  modular_skyrat/modules/mapping/code/areas/space.dm
  modular_skyrat/modules/mapping/code/space.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/dildo.dm
  tgstation.dme
Labels: Removal

#16836 [MODULARIZING] Removes Foreigner and Adds Quirk Sanitization
  code/modules/client/preferences.dm
  code/modules/client/preferences/middleware/quirks.dm
  modular_skyrat/master_files/code/modules/client/preferences.dm
  modular_skyrat/master_files/code/modules/client/preferences/middleware/languages.dm
  modular_skyrat/modules/customization/modules/client/preferences.dm
  modular_skyrat/modules/customization/modules/language/_foreigner.dm
  modular_skyrat/modules/customization/modules/language/_foreigner_helper.dm
  tgstation.dme
Labels: Removal, Code Improvement, Test Merged

#17194 [MODULAR][Fix] Alter Form now accounts for Oversized
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/roundstartslime.dm
Labels: Fix

#17126 Gives minecarts, railway nails, and stacks of railway tracks new icons, material datum minecarts
  modular_skyrat/modules/ashwalkers/code/buildings/railroad.dm
  modular_skyrat/modules/ashwalkers/icons/railroad.dmi
Labels: Sprites

#17147 Fixes quite a few broken digi suit icons
  code/modules/mining/lavaland/megafauna_loot.dm
  modular_skyrat/master_files/code/modules/clothing/clothing_variation_overrides/suit.dm
  modular_skyrat/master_files/icons/mob/clothing/suit_digi.dmi
  modular_skyrat/modules/GAGS/greyscale_configs.dm
  modular_skyrat/modules/customization/modules/clothing/suits/coats.dm
  modular_skyrat/modules/customization/modules/clothing/suits/misc.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_suit.dm
Labels: Fix

#17160 Re-Implements a unused variable in NowPlayingWidget.js
  tgui/packages/tgui-panel/audio/NowPlayingWidget.js
Labels: Administration

#17222 [MODULAR] Makes shuttle monitors directional
  _maps/shuttles/skyrat/arrivals_skyrat.dmm
  _maps/skyrat/automapper/templates/deltastation/deltastation_arrivals.dmm
  _maps/skyrat/automapper/templates/icebox/icebox_arrivals.dmm
  _maps/skyrat/automapper/templates/kilostation/kilostation_arrivals.dmm
  _maps/skyrat/automapper/templates/metastation/metastation_arrivals.dmm
  _maps/skyrat/automapper/templates/tramstation/tramstation_arrivals.dmm
  modular_skyrat/modules/mapping/code/mapping_directionals.dm
  tgstation.dme
Labels: Quality of Life

#17236 [MISSED MIRROR] Macro Defines the On-Station Year
  code/__DEFINES/time.dm
  code/datums/memory/memory.dm
  code/game/gamemodes/dynamic/dynamic.dm
  code/game/machinery/computer/medical.dm
  code/game/machinery/computer/security.dm
  code/game/objects/structures/signs/signs_interactive.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/modular_computers/computers/item/computer.dm
  code/modules/reagents/reagent_containers/cups/glassbottle.dm
  modular_skyrat/modules/lorecaster/code/archive_viewer.dm
Labels: Manual Mirror

#16696 Adds some quality of life to the Cafe
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
Labels: Quality of Life

#16942 new rituals
  modular_skyrat/modules/ashwalkers/code/effects/ash_ritual.dm
  modular_skyrat/modules/ashwalkers/code/effects/ash_rituals.dm
Labels: Feature, Test Merged

#16902 change how ashwalker's revive + more
  code/modules/antagonists/ashwalker/ashwalker.dm
  code/modules/mapfluff/ruins/objects_and_mobs/ash_walker_den.dm
  modular_skyrat/master_files/code/datums/components/crafting.dm
  modular_skyrat/master_files/code/modules/antagonists/_common/antag_datum.dm
  modular_skyrat/modules/ashwalkers/code/buildings/ash_tendril.dm
  modular_skyrat/modules/ashwalkers/code/buildings/tendril_corruption.dm
  tgstation.dme
Labels: Fix, Removal, Test Merged

#17237 VoidRaptor - Departures Extension Polishing and Fixes
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Feature, Fix, Removal, Quality of Life
