Repository Skyrat-SS13/Skyrat-tg, pull requests merged in 2022-02, with the labels that each got.

#10950 [PR to overmaps-and-traders branch] Redesigns most of the buyable shuttles so that they aren't vastly different in quality to the ones I've made
  _maps/shuttles/skyrat/carrier_vixen.dmm
  _maps/shuttles/skyrat/common_baserunner.dmm
  _maps/shuttles/skyrat/common_vulture.dmm
  _maps/shuttles/skyrat/common_workman.dmm
  _maps/shuttles/skyrat/exploration_crow.dmm
  _maps/shuttles/skyrat/exploration_deckard.dmm
  _maps/shuttles/skyrat/exploration_nexus.dmm
  _maps/shuttles/skyrat/exploration_nexus_2.dmm
  modular_skyrat/modules/overmap/code/misc_templates.dm
  modular_skyrat/modules/overmap/code/shuttles/shuttle_areas.dm
  modular_skyrat/modules/overmap/code/shuttles/shuttle_overmap_objects.dm
  modular_skyrat/modules/overmap/code/shuttles/shuttle_templates.dm
  modular_skyrat/modules/overmap/code/shuttles/sold_shuttles.dm
Labels: Fix, Map Edit

#10848 [MODULAR] Returns Tram Brig back to its original form
  _maps/map_files/tramstation/tramstation_skyrat.dmm
Labels: Fix, Map Edit

#11176 [MODULAR] Ghost Cafe Renovations - Detainment
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
Labels: Fix, Map Edit

#11183 Replaces every use of the shuttle_bar subtype of wooden tables with normal ones in barber shops on both metastation and deltastaton, because for some reason mappers keep using this table type despite it not being meant to be used
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
Labels: Fix, Map Edit

#11161 Makes the Meta Station Supermatter Air alarm the engine subtype
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
Labels: Fix, Map Edit

#11151 Makes pipes/vents/scrubbers/wiring slightly more sane on icebox
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
Labels: Fix, Map Edit

#11166 Adds Dorm Bolts to Service Hall Cabins
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
Labels: Map Edit

#11199 Fixes various map error causes.
  _maps/RandomRuins/SpaceRuins/skyrat/ghostship.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/salvagepost.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/shuttle8532.dmm
  _maps/RandomZLevels/blackmesa.dmm
  _maps/map_files/Mining/Rockplanet.dmm
  _maps/map_files/tramstation/tramstation_skyrat.dmm
Labels: Fix, Map Edit, Priority: HIGH

#11196 Fixes the CO's trim datum so that heads can actually assign the job.
  modular_skyrat/master_files/code/datums/id_trim/jobs.dm
Labels: Fix

#11210 [MODULAR] Tarkon 1.5.1 update: 420 purge it, Xeno Weed Update compliance
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon.dmm
  _maps/skyrat/shuttles/ruin_tarkon_driver.dmm
Labels: Map Edit

#11175 [Semi-Modular] Allows ghost roles to use loadouts & quirks
  code/modules/mob_spawn/ghost_roles/mining_roles.dm
  code/modules/mob_spawn/mob_spawn.dm
  modular_skyrat/modules/mapping/code/mob_spawns.dm
Labels: Fix

#11229 Fix bluespace miner examine text to match actual logic
  modular_skyrat/modules/bluespace_miner/code/bluespace_miner.dm
Labels: Fix

#11220 MCR's now properly show up in the right hand when held in the right hand
  modular_skyrat/modules/microfusion/code/microfusion_energy_master.dm
Labels: Fix

#11232 Converts polychromic cloaks to GAGS
  _maps/RandomRuins/SpaceRuins/skyrat/polychromicfacility.dmm
  modular_skyrat/master_files/icons/donator/mob/clothing/neck.dmi
  modular_skyrat/master_files/icons/donator/obj/clothing/cloaks.dmi
  modular_skyrat/modules/GAGS/greyscale_configs.dm
  modular_skyrat/modules/GAGS/icons/cloak.dmi
  modular_skyrat/modules/GAGS/json_configs/cloak/boat.json
  modular_skyrat/modules/GAGS/json_configs/cloak/boat_worn.json
  modular_skyrat/modules/GAGS/json_configs/cloak/cloak.json
  modular_skyrat/modules/GAGS/json_configs/cloak/cloak_worn.json
  modular_skyrat/modules/GAGS/json_configs/cloak/shroud.json
  modular_skyrat/modules/GAGS/json_configs/cloak/shroud_worn.json
  modular_skyrat/modules/GAGS/json_configs/cloak/veil.json
  modular_skyrat/modules/GAGS/json_configs/cloak/veil_worn.json
  modular_skyrat/modules/GAGS/json_configs/mush_cap/mushcap.json
  modular_skyrat/modules/GAGS/json_configs/mush_cap/mushcap_worn.json
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_neck.dm
  modular_skyrat/modules/modular_vending/code/clothesmate.dm
Labels: Removal, Code Improvement, Map Edit

#11160 [MODULAR] Heart Tattoo (for groins)
  modular_skyrat/master_files/icons/mob/body_markings/tattoo_markings.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/body_markings/body_markings.dm
Labels: Sprites

#11239 Converts polychromic clown mask to gags
  _maps/RandomZLevels/zombieprison.dmm
  modular_skyrat/modules/GAGS/greyscale_configs.dm
  modular_skyrat/modules/GAGS/icons/clown_mask.dmi
  modular_skyrat/modules/GAGS/json_configs/clown_mask/clown_mask.json
  modular_skyrat/modules/GAGS/json_configs/clown_mask/clown_mask_worn.json
  modular_skyrat/modules/customization/modules/clothing/masks/breath.dm
  modular_skyrat/modules/modular_vending/code/autodrobe.dm
Labels: Code Improvement, Map Edit

#11203 Fixing a flickering light properly updates the light
  modular_skyrat/modules/aesthetics/lights/code/lighting.dm
Labels: Fix

#11266 event modifications
  modular_skyrat/modules/events/code/event_overrides.dm
Labels: Balance/Rebalance, Removal

#11173 temporarily disable lone ops
  modular_skyrat/modules/events/code/event_overrides.dm
Labels: Removal, GBP: No Update

#11269 fix chat
  code/modules/admin/admin_verbs.dm
  modular_skyrat/modules/admin/code/fix_chat.dm
  tgstation.dme
Labels: Administration

#11268 remove fungal mold from mold event
  modular_skyrat/modules/biohazard_blob/code/mold_event.dm
Labels: Removal

#11029 [Modular] Adds more progression traitor objectives about department pets
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/KiloStation/KiloStation_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
  _maps/map_files/tramstation/tramstation_skyrat.dmm
  modular_skyrat/master_files/code/modules/antagonists/traitor/objectives/kill_pet.dm
  modular_skyrat/master_files/code/modules/mob/living/simple_animal/friendly/dogs.dm
  modular_skyrat/master_files/code/modules/mob/living/simple_animal/friendly/poppy.dm
  tgstation.dme
Labels: Feature, Map Edit

#11208 Cleans up leftover log code and fixes a logging issue.
  code/__DEFINES/~skyrat_defines/logging.dm
  code/__HELPERS/~skyrat_helpers/logging.dm
  code/controllers/configuration/entries/general.dm
  code/game/atoms.dm
  config/skyrat/skyrat_config.txt
Labels: Fix, Config Update

#11310 Adds carpskin and bamboo chairs to modular override
  modular_skyrat/modules/aesthetics/chairs/icons/chairs.dmi
Labels: Fix

#11309 64417
  .github/workflows/autowiki.yml
  .gitignore
  code/__HELPERS/_lists.dm
  code/_compile_options.dm
  code/controllers/subsystem/processing/station.dm
  code/game/world.dm
  code/modules/autowiki/autowiki.dm
  code/modules/autowiki/pages/base.dm
  code/modules/autowiki/pages/techweb.dm
  code/modules/autowiki/pages/vending.dm
  code/modules/research/designs.dm
  code/modules/research/techweb/_techweb_node.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/autowiki.dm
  code/modules/vehicles/mecha/mech_fabricator.dm
  tgstation.dme
  tools/autowiki/autowiki.js
  tools/autowiki/package-lock.json
  tools/autowiki/package.json
  tools/build/build.js
Labels: Upstream PR Merged, Tools, GitHub

#11308 [s] Clean Up Merge Conlfict markers
  config/config.txt
Labels: Config Update

#11292 [MODULAR] Fix greyscale colors on female versions of clothes
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/human_update_icons.dm
Labels: Fix

#11312 HECU changes
  modular_skyrat/master_files/code/modules/awaymission/mission_code/black_mesa.dm
  modular_skyrat/master_files/icons/mob/clothing/uniform.dmi
  modular_skyrat/modules/awaymissions_skyrat/icons/hecucloth.dmi
  modular_skyrat/modules/awaymissions_skyrat/icons/hecumob.dmi
Labels: Balance/Rebalance, Fix

#11204 modularises #2834
  code/datums/components/crafting/recipes.dm
  modular_skyrat/modules/QOL/code/datums/components/crafting/recipes/recipes_misc.dm
Labels: Code Improvement

#11294 [Modular] Fixes some traitor objectives not awarding TC properly
  modular_skyrat/master_files/code/modules/antagonists/traitor/objectives/kill_pet.dm
Labels: Fix

#11279 Flat Cap and flower pin to GAGS
  modular_skyrat/master_files/icons/mob/clothing/head.dmi
  modular_skyrat/master_files/icons/obj/clothing/hats.dmi
  modular_skyrat/modules/GAGS/greyscale_configs.dm
  modular_skyrat/modules/GAGS/icons/hats.dmi
  modular_skyrat/modules/GAGS/json_configs/flatcap/flatcap.json
  modular_skyrat/modules/GAGS/json_configs/flatcap/flatcap_worn.json
  modular_skyrat/modules/GAGS/json_configs/flowerpin/flowerpin.json
  modular_skyrat/modules/GAGS/json_configs/flowerpin/flowerpin_worn.json
  modular_skyrat/modules/customization/modules/clothing/head/head.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_heads.dm
  modular_skyrat/modules/modular_vending/code/clothesmate.dm
Labels: Removal, Code Improvement

#11013 [MODULAR] Triple cat tails
  modular_skyrat/master_files/icons/mob/sprite_accessory/tails.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/tails.dm
Labels: Feature

#11341 Removes cortical stacks
  code/__DEFINES/DNA.dm
  code/modules/mining/machine_vending.dm
  code/modules/mob/living/carbon/death.dm
  modular_skyrat/modules/modular_vending/code/medical.dm
  modular_skyrat/modules/neural-lacing/code/defines/stackdefines.dm
  modular_skyrat/modules/neural-lacing/code/delacer.dm
  modular_skyrat/modules/neural-lacing/code/implanter.dm
  modular_skyrat/modules/neural-lacing/code/mobhandlers.dm
  modular_skyrat/modules/neural-lacing/code/resleever.dm
  modular_skyrat/modules/neural-lacing/code/stack.dm
  modular_skyrat/modules/neural-lacing/code/traits.dm
  modular_skyrat/modules/neural-lacing/icons/Neuralstack.dmi
  tgstation.dme
Labels: Removal

#11300 Black Mesa security tweak
  modular_skyrat/master_files/code/modules/awaymission/mission_code/black_mesa.dm
  modular_skyrat/modules/sec_haul/code/guns/guns.dm
  modular_skyrat/modules/sec_haul/icons/guns/glock.dmi
Labels: Feature, Fix, Removal

#11211 More map fixes
  _maps/RandomRuins/OceanRuins/ocean_listening_outpost.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/ghostship.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/salvagepost.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/shuttle8532.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/vaulttango.dmm
  _maps/RandomRuins/SpaceRuins/spacehotel_skyrat.dmm
  _maps/RandomZLevels/research2.dmm
  _maps/map_files/Blueshift/BlueShift_lower.dmm
  _maps/map_files/Blueshift/BlueShift_middle.dmm
  _maps/map_files/Blueshift/BlueShift_upper.dmm
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
  _maps/map_files/Mining/TidalLock.dmm
  _maps/map_files/NSSJourney/NSSJourney.dmm
  _maps/shuttles/skyrat/pirate_enclave.dmm
  _maps/shuttles/skyrat/slaver_syndie.dmm
Labels: Fix, Map Edit

#11353 Makes the digi CC clothing use the new resprited CC clothing instead
  modular_skyrat/master_files/icons/mob/clothing/uniform_digi.dmi
Labels: Fix

#11339 Fixes spelling on the door cycling helpers, giving some "entrence" doors proper spelling
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/KiloStation/KiloStation_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
Labels: Fix, Map Edit

#11274 Polychromic kilt and cardigan to GAGS
  modular_skyrat/master_files/code/_globalvars/maint_loot_common.dm
  modular_skyrat/master_files/icons/mob/clothing/suit.dmi
  modular_skyrat/master_files/icons/obj/clothing/suits.dmi
  modular_skyrat/master_files/icons/obj/clothing/uniforms.dmi
  modular_skyrat/modules/GAGS/greyscale_configs.dm
  modular_skyrat/modules/GAGS/icons/kilt.dmi
  modular_skyrat/modules/GAGS/icons/suit.dmi
  modular_skyrat/modules/GAGS/json_configs/cardigan/cardigan.json
  modular_skyrat/modules/GAGS/json_configs/cardigan/cardigan_worn.json
  modular_skyrat/modules/GAGS/json_configs/kilt/kilt.json
  modular_skyrat/modules/GAGS/json_configs/kilt/kilt_worn.json
  modular_skyrat/modules/customization/modules/clothing/suits/misc.dm
  modular_skyrat/modules/customization/modules/clothing/under/misc.dm
  modular_skyrat/modules/modular_vending/code/clothesmate.dm
Labels: Code Improvement

#11233 Fix Delta Station air mixer
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
Labels: Fix, Map Edit

#11109 Teshari sprite pack 2, security galore
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/belt.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/hands.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/head.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/neck.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/suit.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/uniform.dmi
Labels: Sprites, Stale

#11336 Fixes preference menu for NO_UNDERWEAR species (Teshari)
  code/modules/client/preferences/clothing.dm
  modular_skyrat/master_files/code/modules/client/preferences/clothing.dm
  tgstation.dme
Labels: Fix

#11056 [MODULAR] Food Flavor Fix III: Fixes these NUTS
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/akula.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/aquatic.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/dwarf.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/mammal.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/skrell.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/tajaran.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/unathi.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/vulpkanin.dm
Labels: Fix

#11096 Sprefs
  modular_skyrat/master_files/code/modules/client/preferences/erp_preferences.dm
  modular_skyrat/modules/interaction_menu/code/interaction_component.dm
  modular_skyrat/modules/interaction_menu/code/interaction_datum.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/skyrat/erp_preferences.tsx
Labels: UI, Feature, Stale

#10910 [MODULAR] Makes it so that lewd chems change gender when genderswapping prefs are enabled upon OD.
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_chemistry/chemistry_for_ERP.dm
Labels: Feature

#10684 [NON-MODULAR] You can no longer use Dwarfism and Gigantism if you've got an already smaller/larger body respectively.
  code/datums/mutations/body.dm
Labels: Balance/Rebalance

#11311 Allow player's to put people into Cryo
  modular_skyrat/modules/cryosleep/code/cryopod.dm
Labels: Good First PR, Quality of Life

#11354 Mapreset 2
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1/mistake_feasible.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1/mistake_inevitable.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1/mistake_unlikely.dmm
  _maps/RandomRuins/SpaceRuins/forgottenship.dmm
  _maps/map_files/Blueshift/BlueShift_middle.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above_skyrat.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Below.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
  _maps/map_files/Mining/Lavaland.dmm
  _maps/map_files/NSSJourney/NSSJourney.dmm
  _maps/map_files/tramstation/modular_pieces/maintenance_engine_5x6_east_3.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/map_files/tramstation/tramstation_skyrat.dmm
Labels: Map Edit

#11370 fixes ci
  _maps/map_files/IceBoxStation/IcemoonUnderground_Below_skyrat.dmm
Labels: Fix, Map Edit

#11362 [MOSTLY MODULAR] re-opens #11343
  modular_skyrat/modules/cargo/code/goodies.dm
  modular_skyrat/modules/cargo/code/packs.dm
Labels: Tweak

#11366 New Elite and Mining MODsuit digi sprites
  modular_skyrat/master_files/icons/mob/mod.dmi
Labels: Sprites

#11367 Minor HECU equipment QOL adjustments
  modular_skyrat/master_files/code/modules/awaymission/mission_code/black_mesa.dm
  modular_skyrat/master_files/icons/mob/clothing/uniform.dmi
  modular_skyrat/modules/awaymissions_skyrat/icons/courses.dmi
  modular_skyrat/modules/awaymissions_skyrat/icons/hecucloth.dmi
  modular_skyrat/modules/awaymissions_skyrat/icons/hecumob.dmi
  modular_skyrat/modules/awaymissions_skyrat/icons/mre_hecu.dmi
  modular_skyrat/modules/sec_haul/code/guns/guns.dm
Labels: Balance/Rebalance

#11380 Med/Engi Guard digi uniform fix.
  modular_skyrat/master_files/icons/mob/clothing/uniform_digi.dmi
Labels: Fix

#11295 reagent forging 1.2
  code/game/objects/items/stacks/sheets/sheet_types.dm
  modular_skyrat/modules/cortical_borer/code/cortical_borer_items.dm
  modular_skyrat/modules/primitive_fun/code/ceramics.dm
  modular_skyrat/modules/reagent_forging/code/anvil.dm
  modular_skyrat/modules/reagent_forging/code/crafting_bench.dm
  modular_skyrat/modules/reagent_forging/code/forge.dm
  modular_skyrat/modules/reagent_forging/code/forge_items.dm
  modular_skyrat/modules/reagent_forging/code/forge_recipes.dm
  modular_skyrat/modules/reagent_forging/code/forge_weapons.dm
  modular_skyrat/modules/reagent_forging/code/reagent_component.dm
  modular_skyrat/modules/reagent_forging/code/smith_skill.dm
  modular_skyrat/modules/reagent_forging/code/water_basin.dm
  modular_skyrat/modules/reagent_forging/icons/mob/forge_weapon_l.dmi
  modular_skyrat/modules/reagent_forging/icons/mob/forge_weapon_r.dmi
  modular_skyrat/modules/reagent_forging/icons/mob/neck.dmi
  modular_skyrat/modules/reagent_forging/icons/obj/cloaks.dmi
  modular_skyrat/modules/reagent_forging/icons/obj/forge_items.dmi
  modular_skyrat/modules/reagent_forging/icons/obj/forge_structures.dmi
  tgstation.dme
Labels: Feature, Removal, Test Merged

#11394 fix ci because of hecu grunt
  modular_skyrat/master_files/code/modules/awaymission/mission_code/black_mesa.dm
Labels: Fix

#11413 fix users being able to remove suit restraints effects by struggling out of glove restraints
  code/__DEFINES/~skyrat_defines/traits.dm
  code/modules/mob/living/carbon/human/inventory.dm
Labels: Fix

#11475 some forging fixes
  modular_skyrat/modules/reagent_forging/code/anvil.dm
  modular_skyrat/modules/reagent_forging/code/forge.dm
  modular_skyrat/modules/reagent_forging/code/forge_items.dm
Labels: Fix

#11253 Xenoarch base
  _maps/map_files/Mining/Lavaland.dmm
  _maps/skyrat/xenoarch_base.dmm
  code/modules/atmospherics/environmental/LINDA_turf_tile.dm
  modular_skyrat/modules/xenoarch/code/area.dm
  modular_skyrat/modules/xenoarch/icons/xenoarch_area.dmi
  tgstation.dme
Labels: Feature, Map Edit, Test Merged

#11468 [Modular] Fixes two broken posters
  modular_skyrat/modules/aesthetics/posters/contraband.dmi
Labels: Fix

#11235 Changes all Head of Staff airlocks on maps to be fancy versions
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/KiloStation/KiloStation_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
Labels: Map Edit, Stale

#11384 [MODULAR] Dehardcodes head/armory access from Cryo-console requirements
  modular_skyrat/modules/cryosleep/code/cryopod.dm
Labels: Fix

#11470 [Modular] Fixes E-N's notify_ghost and fingerprint add
  modular_skyrat/master_files/code/modules/mob/living/simple_animal/friendly/dogs.dm
Labels: Fix

#11472 [Modular] Fixes servelyn tails disappearing on *wag
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/tails.dm
Labels: Fix

#11477 [MODULAR] Black Mesa final (I think) overhaul (I hope)
  _maps/RandomZLevels/blackmesa.dmm
  modular_skyrat/master_files/code/modules/awaymission/mission_code/black_mesa.dm
  modular_skyrat/modules/awaymissions_skyrat/sound/glock17_fire.ogg
  modular_skyrat/modules/sec_haul/code/guns/guns.dm
Labels: Fix, Map Edit, Sound

#11474 [Modular][Vanity] Oni horns
  modular_skyrat/master_files/icons/mob/sprite_accessory/horns.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/horns.dm
Labels: Sprites

#11488 Revert "[MODULAR] Black Mesa final (I think) overhaul (I hope)" [DNM]
  _maps/RandomZLevels/blackmesa.dmm
  modular_skyrat/master_files/code/modules/awaymission/mission_code/black_mesa.dm
  modular_skyrat/modules/awaymissions_skyrat/sound/glock17_fire.ogg
  modular_skyrat/modules/sec_haul/code/guns/guns.dm
Labels: Map Edit, DO NOT MERGE, Revert

#11478 all z-level experi-scanners
  modular_skyrat/master_files/code/modules/experisci/experiment/handlers/experiment_handler.dm
  tgstation.dme
Labels: Feature

#11412 [MODULAR] Adds a new Victorian Vest variant. Green! Finally, we have the core colors of RGB.
  modular_skyrat/master_files/icons/mob/clothing/uniform.dmi
  modular_skyrat/master_files/icons/obj/clothing/uniforms.dmi
  modular_skyrat/modules/customization/modules/clothing/under/utility_port/other_port.dm
  modular_skyrat/modules/loadouts/loadout_items/under/loadout_datum_under.dm
Labels: Feature

#11485 Icebox Warden's office area fix
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
Labels: Fix, Map Edit

#11486 [Modular][Vanity] Many more bunny character parts
  modular_skyrat/master_files/icons/mob/sprite_accessory/ears_big.dmi
  modular_skyrat/master_files/icons/mob/sprite_accessory/snouts.dmi
  modular_skyrat/master_files/icons/mob/sprite_accessory/tails.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/ears.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/snout.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/tails.dm
Labels: Sprites

#11499 [Modular] Misc digi refits for upstream sprites + muzzled mime mask resprite
  modular_skyrat/master_files/icons/mob/clothing/feet_digi.dmi
  modular_skyrat/master_files/icons/mob/clothing/mask_muzzled.dmi
  modular_skyrat/master_files/icons/mob/clothing/uniform_digi.dmi
Labels: Sprites

#11481 removal of two "organic" traits
  modular_skyrat/master_files/code/modules/client/preferences/erp_preferences.dm
  modular_skyrat/modules/modular_items/lewd_items/code/arousal_system.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_chemistry/chemistry_for_ERP.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/leather_whip.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/spanking_pad.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_quirks.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/skyrat/erp_preferences.tsx
Labels: UI, Removal

#11428 [MODULAR] Mining MODsuit Armor Balance Alternative
  modular_skyrat/modules/modsuit_armour/modsuit_armour.dm
Labels: Fix

#11299 [MODULAR] Feign impairment ceiling increase 1 minute -> 10 hours
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/human.dm
Labels: Code Improvement, Quality of Life

#11505 [NONMOD] Locks tribal weapons to ashwalkers
  _maps/RandomRuins/LavaRuins/skyrat/lavaland_surface_ash_walker1_skyrat.dmm
  code/datums/components/crafting/recipes.dm
  code/game/objects/items/spear.dm
  code/modules/antagonists/ashwalker/ashwalker.dm
  code/modules/cargo/bounties/mining.dm
  modular_skyrat/modules/ashwalker_shaman/code/ashwalker_shaman.dm
  modular_skyrat/modules/tribal_extended/code/recipes.dm
Labels: Removal, Map Edit

#11507 [MODULAR] Rebalances forge weapons
  modular_skyrat/master_files/code/game/objects/items/religion.dm
  modular_skyrat/modules/reagent_forging/code/forge_weapons.dm
Labels: Balance/Rebalance

#11519 [No GBP] Fixes Teshari winter hoods not correctly appearing for some coats
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/head.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/suit.dmi
Labels: Fix

#11508 [MODULAR] Black mesa overhaul but this time I try to not break the codebase
  _maps/RandomZLevels/blackmesa.dmm
  modular_skyrat/master_files/code/modules/awaymission/mission_code/black_mesa.dm
Labels: Map Edit

#10821 [Semi-Modular] Synthetic Rebalance III: A Rope of Sand
  code/__DEFINES/~skyrat_defines/mobs.dm
  code/game/objects/items/tools/weldingtool.dm
  code/modules/power/cable.dm
  code/modules/surgery/healing.dm
  modular_skyrat/master_files/code/game/objects/items/tools/weldingtool.dm
  modular_skyrat/master_files/code/modules/power/cable.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/human.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/human_defense.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/robotic.dm
  modular_skyrat/modules/customization/modules/surgery/organs/ipc.dm
  modular_skyrat/modules/customization/modules/surgery/robot_brain_surgery.dm
  modular_skyrat/modules/customization/modules/surgery/robot_chassis_restoration.dm
  modular_skyrat/modules/customization/modules/surgery/robot_healing.dm
  tgstation.dme
Labels: Feature, Balance/Rebalance, Fix, Test Merged

#10895 [TM?][v0.5] MekaNIKA cyborg skinline, AKA Tallborgs
  code/__DEFINES/~skyrat_defines/robot_defines.dm
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/mob/living/silicon/robot/robot_model.dm
  modular_skyrat/master_files/code/modules/mob/living/sillicon/robot.dm
  modular_skyrat/modules/altborgs/code/robot.dm
  modular_skyrat/modules/altborgs/code/robot_model.dm
  modular_skyrat/modules/altborgs/code/update_icons.dm
  modular_skyrat/modules/altborgs/icons/tallborg/readme.md
  modular_skyrat/modules/altborgs/icons/tallborg/tallrobot_cargo.dmi
  modular_skyrat/modules/altborgs/icons/tallborg/tallrobot_jani.dmi
  modular_skyrat/modules/altborgs/icons/tallborg/tallrobot_med.dmi
  modular_skyrat/modules/altborgs/icons/tallborg/tallrobot_mine.dmi
  modular_skyrat/modules/altborgs/icons/tallborg/tallrobot_ninja.dmi
  modular_skyrat/modules/altborgs/icons/tallborg/tallrobot_pk.dmi
  modular_skyrat/modules/altborgs/icons/tallborg/tallrobot_serv.dmi
  modular_skyrat/modules/altborgs/icons/tallborg/tallrobot_syndi.dmi
  modular_skyrat/modules/cargoborg/code/robot_modules.dm
  modular_skyrat/modules/indicators/icons/typing_indicator.dmi
  modular_skyrat/modules/shapeshifting_module/code/borg_shapeshifter.dm
Labels: Sprites, Test Merged

#11535 Roleplay Module Love
  modular_skyrat/modules/ghostcafe/code/robot_ghostcafe.dm
Labels: Feature

#11528 Cryopod fix
  modular_skyrat/modules/cryosleep/code/cryopod.dm
Labels: Code Improvement

#10833 [partially modular] advanced handcuff stuff
  code/__DEFINES/mobs.dm
  code/game/objects/items.dm
  code/game/objects/structures/beds_chairs/chair.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/surgery/organs/external/_external_organs.dm
  modular_skyrat/master_files/code/modules/client/preferences/species_features/generate_side_shots.dm
  modular_skyrat/modules/GAGS/nsfw/greyscale_configs.dm
  modular_skyrat/modules/GAGS/nsfw/json_configs/clothes/body.json
  modular_skyrat/modules/GAGS/nsfw/json_configs/clothes/fullbody.json
  modular_skyrat/modules/GAGS/nsfw/json_configs/clothes/groin.json
  modular_skyrat/modules/GAGS/nsfw/json_configs/clothes/hands.json
  modular_skyrat/modules/GAGS/nsfw/json_configs/clothes/legs.json
  modular_skyrat/modules/GAGS/nsfw/json_configs/items/shibari.json
  modular_skyrat/modules/GAGS/nsfw/json_configs/items/shibari_high.json
  modular_skyrat/modules/GAGS/nsfw/json_configs/items/shibari_inhands.json
  modular_skyrat/modules/GAGS/nsfw/json_configs/items/shibari_med.json
  modular_skyrat/modules/GAGS/nsfw/json_configs/items/shibari_stand_item.json
  modular_skyrat/modules/GAGS/nsfw/json_configs/structures/shibari_stand.json
  modular_skyrat/modules/GAGS/nsfw/json_configs/structures/shibari_stand_ropes.json
  modular_skyrat/modules/customization/modules/clothing/clothing.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/taur_types.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species.dm
  modular_skyrat/modules/modular_items/lewd_items/code/arousal_system.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/shibari_worn_hands.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/shibari_worn_legs.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/shibari_worn_uniform.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/shibari.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/shibari_stand.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_quirks.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_structures/lustwish.dm
  modular_skyrat/modules/modular_items/lewd_items/code/technical_stuff_for_lewd.dm
  modular_skyrat/modules/modular_items/lewd_items/credits
  modular_skyrat/modules/modular_items/lewd_items/icons/mob/lewd_clothing/lewd_gloves.dmi
  modular_skyrat/modules/modular_items/lewd_items/icons/mob/lewd_clothing/lewd_hats.dmi
  modular_skyrat/modules/modular_items/lewd_items/icons/mob/lewd_clothing/lewd_shoes.dmi
  modular_skyrat/modules/modular_items/lewd_items/icons/mob/lewd_clothing/lewd_shoes_digi.dmi
  modular_skyrat/modules/modular_items/lewd_items/icons/mob/lewd_clothing/lewd_uniform/lewd_uniform-digi.dmi
  modular_skyrat/modules/modular_items/lewd_items/icons/mob/lewd_clothing/lewd_uniform/lewd_uniform-hoof.dmi
  modular_skyrat/modules/modular_items/lewd_items/icons/mob/lewd_clothing/lewd_uniform/lewd_uniform-paw.dmi
  modular_skyrat/modules/modular_items/lewd_items/icons/mob/lewd_clothing/lewd_uniform/lewd_uniform-snake.dmi
  modular_skyrat/modules/modular_items/lewd_items/icons/mob/lewd_clothing/lewd_uniform/lewd_uniform.dmi
  modular_skyrat/modules/modular_items/lewd_items/icons/mob/lewd_clothing/lewd_uniform/lewd_uniform_teshari.dmi
  modular_skyrat/modules/modular_items/lewd_items/icons/mob/lewd_inhands/lewd_inhand_left.dmi
  modular_skyrat/modules/modular_items/lewd_items/icons/mob/lewd_inhands/lewd_inhand_right.dmi
  modular_skyrat/modules/modular_items/lewd_items/icons/obj/lewd_clothing/lewd_gloves.dmi
  modular_skyrat/modules/modular_items/lewd_items/icons/obj/lewd_clothing/lewd_shoes.dmi
  modular_skyrat/modules/modular_items/lewd_items/icons/obj/lewd_clothing/lewd_uniform.dmi
  modular_skyrat/modules/modular_items/lewd_items/icons/obj/lewd_items/lewd_items.dmi
  modular_skyrat/modules/modular_items/lewd_items/icons/obj/lewd_structures/bdsm_furniture.dmi
  modular_skyrat/modules/modular_items/lewd_items/icons/obj/lewd_structures/shibari_stand.dmi
  tgstation.dme
Labels: Feature, Test Merged

#11368 [Semi-Modular] Adds a shift-start report for Traits/Goals
  code/game/gamemodes/dynamic/dynamic.dm
  modular_skyrat/master_files/code/game/gamemodes/dynamic.dm
  tgstation.dme
Labels: Feature

#11542 [MODULAR] breast_milk is no longer a /milk/ subtype
  modular_skyrat/modules/modular_items/lewd_items/code/arousal_system.dm
Labels: Balance/Rebalance

#11545 [Modular] Refits yet more upstream sprites for Digi/Teshari
  modular_skyrat/master_files/icons/mob/clothing/feet_digi.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/feet.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/uniform.dmi
Labels: Sprites

#11551 put vines back in maint
  modular_skyrat/master_files/code/modules/events/spacevine.dm
Labels: Fix, Code Improvement

#11577 [Modular] Facelifting, fixing, and refitting a bunch of sprites.
  modular_skyrat/master_files/icons/mob/clothing/suit.dmi
  modular_skyrat/master_files/icons/mob/clothing/underwear.dmi
  modular_skyrat/master_files/icons/mob/clothing/uniform_digi.dmi
Labels: Sprites

#11179 ["""MODULAR"""] Re-criminalizes the augmented eyes, by moving them behind alien medical research.
  code/modules/research/techweb/all_nodes.dm
  modular_skyrat/master_files/code/modules/research/techweb/all_nodes.dm
  modular_skyrat/modules/implants/code/medical_nodes.dm
Labels: Balance/Rebalance

#11595 Ashwalker Naming Fix - Pre-Made Ashwalkers Will Not Have Names Overwritten by Random Name
  code/modules/mob_spawn/ghost_roles/mining_roles.dm
Labels: Fix

#11534 add back bimbo
  code/game/machinery/medical_kiosk.dm
  code/game/objects/items/devices/scanners.dm
  modular_skyrat/master_files/code/modules/client/preferences/erp_preferences.dm
  modular_skyrat/modules/modular_items/lewd_items/code/arousal_system.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_chemistry/chemistry_for_ERP.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/leather_whip.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/spanking_pad.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_quirks.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/skyrat/erp_preferences.tsx
Labels: UI, Feature

#11546 Organic Interface code cleanup part 1
  _maps/map_files/tramstation/tramstation_skyrat.dmm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/erp_belt.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/attachable_vibrator.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/buttplug.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/clamps.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/condom.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/discount_card.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/feather.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/serviette.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_structures/lustwish.dm
  modular_skyrat/modules/modular_items/lewd_items/code/technical_stuff_for_lewd.dm
Labels: Map Edit, Refactor

#11554 Feather tickling mood rebalance
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/feather.dm
Labels: Balance/Rebalance

#11556 [MODULAR] Ghost Cafe Renovations - Beach Resort
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
Labels: Feature, Map Edit

#11559 [MODULAR] Expansive Shipping 2: Fine Cuisine Boogaloo
  modular_skyrat/modules/cargo/code/bloat.dm
  modular_skyrat/modules/cargo/code/packs.dm
  tgstation.dme
Labels: Feature, Code Improvement

#11565 Removes a duplicate definition of a variable on the breach control modsuit
  modular_skyrat/modules/goofsec/code/sol_fed.dm
Labels: Removal

#11558 Organic Interface update cleanup 2
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/fleshlight.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/kinky_shocker.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/leather_whip.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/magic_wand.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/pinkcuffs.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/shibari_stand.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/spanking_pad.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/torture_candle.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/vibroring.dm
  tgstation.dme
Labels: Refactor

#11615 [MODULAR][FIX] Fixes High-Heel Jackboots pulling up a reskin menu.
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
Labels: Fix

#11616 Removes message about the HoP managing supply
  code/modules/jobs/job_types/head_of_personnel.dm
Labels: Removal, Grammar and Formatting

#11377 [SEMI-MODULAR] MCR Expansion Vol 1 & Balance Passes
  code/modules/projectiles/projectile/beams.dm
  modular_skyrat/modules/microfusion/code/cargo_stuff.dm
  modular_skyrat/modules/microfusion/code/gun_types.dm
  modular_skyrat/modules/microfusion/code/microfusion_cell.dm
  modular_skyrat/modules/microfusion/code/microfusion_cell_attachments.dm
  modular_skyrat/modules/microfusion/code/microfusion_designs.dm
  modular_skyrat/modules/microfusion/code/microfusion_energy_master.dm
  modular_skyrat/modules/microfusion/code/microfusion_gun_attachments.dm
  modular_skyrat/modules/microfusion/code/microfusion_techweb.dm
  modular_skyrat/modules/microfusion/code/projectiles.dm
  modular_skyrat/modules/microfusion/icons/microfusion_cells.dmi
  modular_skyrat/modules/microfusion/icons/microfusion_gun40x32.dmi
  modular_skyrat/modules/microfusion/icons/microfusion_gun_attachments.dmi
  modular_skyrat/modules/sec_haul/code/guns/gun_spawns.dm
Labels: Balance/Rebalance, Sprites, Grammar and Formatting

#11617 Makes the black market chevvy shuttle not a titanium rectangle
  _maps/shuttles/skyrat/ruin_blackmarket_chevvy.dmm
Labels: Map Edit

#11627 [MODULAR] Mesa Glock firing sound re-addition
  modular_skyrat/master_files/sound/weapons/glock17_fire.ogg
  modular_skyrat/modules/sec_haul/code/guns/guns.dm
Labels: Sound

#11628 [MODULAR] Black Mesa things to make HECU suffer
  _maps/RandomZLevels/blackmesa.dmm
Labels: Map Edit

#11553 [SEMI-MODULAR] Removes the automatic gun safety toggling from Combat Mode for being clunky.
  code/modules/mob/living/living_defense.dm
Labels: Removal

#11609 update fishing
  modular_skyrat/modules/fishing/code/fishing.dm
  modular_skyrat/modules/fishing/icons/fishing.dmi
  modular_skyrat/modules/reagent_forging/code/water_basin.dm
Labels: Feature, Balance/Rebalance, Fix

#11626 MAP RESET
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Below.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/KiloStation/KiloStation_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
  _maps/map_files/Mining/Lavaland.dmm
  _maps/map_files/readme.md
  _maps/map_files/tramstation/tramstation.dmm
  _maps/map_files/tramstation/tramstation_skyrat.dmm
  _maps/readme.md
  _maps/shuttles/emergency_construction.dmm
  _maps/skyrat/xenoarch_base.dmm
  code/game/area/space_station_13_areas.dm
  icons/turf/areas.dmi
  modular_skyrat/modules/materials_glass/code/glass.dm
Labels: Sprites, Map Edit, DO NOT MERGE

#11614 lower required reagent for reagent forging
  modular_skyrat/modules/reagent_forging/code/forge.dm
  modular_skyrat/modules/reagent_forging/code/reagent_component.dm
Labels: Balance/Rebalance

#11637 not shy drone
  code/modules/mob/living/simple_animal/friendly/drone/_drone.dm
Labels: Balance/Rebalance

#11635 Fixes the weird say description that gets applied when FIX SAY is called
  modular_skyrat/modules/admin/code/fix_chat.dm
Labels: Fix

#10994 [SEMI-MODULAR] Assorted OPFOR and ProgTraitor changes
  code/__DEFINES/~skyrat_defines/span.dm
  code/controllers/subsystem/job.dm
  code/datums/mind.dm
  code/modules/antagonists/_common/antag_datum.dm
  code/modules/antagonists/traitor/datum_traitor.dm
  modular_skyrat/modules/opposing_force/code/opposing_force_datum.dm
  modular_skyrat/modules/opposing_force/code/opposing_force_subsystem.dm
Labels: Removal, Administration

#11574 [MODULAR][BALANCE] Allows the CMO Hypospray to pierce MODSuits
  modular_skyrat/modules/hyposprays/code/hyposprays_II.dm
Labels: Balance/Rebalance

#11649 [PR PR] Air alarm sprites for #11602
  modular_skyrat/modules/aesthetics/airalarm/icons/airalarm.dmi
Labels: Sprites

#11655 [SEMI-MODULAR] Makes the OPFOR action button actually work
  code/datums/mind.dm
  code/modules/mob/living/carbon/human/human.dm
  modular_skyrat/modules/opposing_force/code/opposing_force_subsystem.dm
Labels: Fix

#11648 [MODULAR] OPFOR gear expansion
  code/__DEFINES/~skyrat_defines/opposing_force_defines.dm
  modular_skyrat/modules/opposing_force/code/equipment/ammo.dm
  modular_skyrat/modules/opposing_force/code/equipment/clothing.dm
  modular_skyrat/modules/opposing_force/code/equipment/equip_parent.dm
  modular_skyrat/modules/opposing_force/code/equipment/explosives.dm
  modular_skyrat/modules/opposing_force/code/equipment/guns.dm
  modular_skyrat/modules/opposing_force/code/equipment/loadouts.dm
  modular_skyrat/modules/opposing_force/code/equipment/martial_arts.dm
  modular_skyrat/modules/opposing_force/code/equipment/melee.dm
  modular_skyrat/modules/opposing_force/code/equipment/misc.dm
  modular_skyrat/modules/opposing_force/code/equipment/services.dm
  modular_skyrat/modules/opposing_force/code/equipment/utility.dm
  modular_skyrat/modules/opposing_force/code/items.dm
  modular_skyrat/modules/opposing_force/code/opposing_force_datum.dm
  modular_skyrat/modules/opposing_force/code/opposing_force_equipment.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/OpposingForcePanel.js
Labels: UI, Code Improvement

#11660 [MODULAR] Brig QoL Fixes + Minor QoL Fixes for Maps
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above_skyrat.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Below_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
Labels: Fix, Map Edit

#11536 [MODULAR] Refactors MCR designs
  modular_skyrat/modules/microfusion/code/microfusion_designs.dm
Labels: Refactor

#11674 [MODULAR] Black Mesa balancing
  _maps/RandomZLevels/blackmesa.dmm
  modular_skyrat/master_files/code/modules/awaymission/mission_code/black_mesa.dm
Labels: Map Edit

#11676 Fixes the HEV
  _maps/RandomZLevels/blackmesa.dmm
  modular_skyrat/master_files/code/modules/awaymission/mission_code/black_mesa.dm
  modular_skyrat/master_files/icons/mob/clothing/head.dmi
  modular_skyrat/master_files/icons/mob/clothing/head_muzzled.dmi
  modular_skyrat/master_files/icons/mob/clothing/suit.dmi
  modular_skyrat/master_files/icons/mob/clothing/suit_digi.dmi
  modular_skyrat/master_files/icons/obj/clothing/suits.dmi
  modular_skyrat/modules/hev_suit/code/hev_suit.dm
Labels: Fix, Map Edit

#11695 [MODULAR] Yet another Mesa balancing attempt
  _maps/RandomZLevels/blackmesa.dmm
  modular_skyrat/master_files/code/modules/awaymission/mission_code/black_mesa.dm
Labels: Map Edit

#11693 [Modular] Some cleanup, resprites, and new sprites for our tool sprite overwrites
  modular_skyrat/modules/aesthetics/tools/code/tools.dm
  modular_skyrat/modules/aesthetics/tools/tools.dmi
  modular_skyrat/modules/aesthetics/tools/tools_lefthand.dmi
  modular_skyrat/modules/aesthetics/tools/tools_righthand.dmi
Labels: Removal, Sprites

#11675 [MODULAR] Modularizes the Vintage Crate Contents
  modular_skyrat/modules/cargo/code/packs.dm
  modular_skyrat/modules/medievalcrate_skyrat/code/vintageitems.dm
  tgstation.dme
Labels: Balance/Rebalance

#11685 gun update pt2
  modular_skyrat/modules/gunsgalore/code/ammo/ammo.dm
  modular_skyrat/modules/gunsgalore/code/guns/akm.dm
  modular_skyrat/modules/gunsgalore/code/guns/ballistic_master.dm
  modular_skyrat/modules/gunsgalore/code/guns/fg42.dm
  modular_skyrat/modules/gunsgalore/code/guns/luger.dm
  modular_skyrat/modules/gunsgalore/code/guns/m16.dm
  modular_skyrat/modules/gunsgalore/code/guns/mg34.dm
  modular_skyrat/modules/gunsgalore/code/guns/mp40.dm
  modular_skyrat/modules/gunsgalore/code/guns/pps.dm
  modular_skyrat/modules/gunsgalore/code/guns/ppsh.dm
  modular_skyrat/modules/gunsgalore/code/guns/stg.dm
  modular_skyrat/modules/gunsgalore/icons/guns/gunsgalore_back.dmi
  modular_skyrat/modules/gunsgalore/icons/guns/gunsgalore_guns.dmi
  modular_skyrat/modules/gunsgalore/icons/guns/gunsgalore_guns40x32.dmi
  modular_skyrat/modules/gunsgalore/icons/guns/gunsgalore_items.dmi
  modular_skyrat/modules/gunsgalore/icons/guns/gunsgalore_lefthand.dmi
  modular_skyrat/modules/gunsgalore/icons/guns/gunsgalore_righthand.dmi
  modular_skyrat/modules/gunsgalore/sound/guns/fire/fg42_fire.ogg
  modular_skyrat/modules/gunsgalore/sound/guns/fire/luger_fire.ogg
  modular_skyrat/modules/gunsgalore/sound/guns/fire/luger_mag_insert.ogg
  modular_skyrat/modules/gunsgalore/sound/guns/fire/luger_mag_release.ogg
  modular_skyrat/modules/gunsgalore/sound/guns/fire/luger_rack.ogg
  modular_skyrat/modules/gunsgalore/sound/guns/fire/mg34_fire.ogg
  modular_skyrat/modules/gunsgalore/sound/guns/fire/mg42_bipod.ogg
  modular_skyrat/modules/gunsgalore/sound/guns/fire/mg42_fire.ogg
  modular_skyrat/modules/gunsgalore/sound/guns/fire/mg42_fire_overheat.ogg
  modular_skyrat/modules/gunsgalore/sound/guns/fire/mg_overheat.ogg
  modular_skyrat/modules/gunsgalore/sound/guns/fire/mp40_fire.ogg
  modular_skyrat/modules/gunsgalore/sound/guns/fire/ppsh_fire.ogg
  modular_skyrat/modules/gunsgalore/sound/guns/fire/stg_fire.ogg
  modular_skyrat/modules/opposing_force/code/equipment/ammo.dm
  modular_skyrat/modules/opposing_force/code/equipment/guns.dm
  modular_skyrat/modules/opposing_force/code/items.dm
  modular_skyrat/modules/sec_haul/code/guns/guns.dm
  tgstation.dme
Labels: Feature

#11687 Refactors modular ashwalker files
  modular_skyrat/modules/ash_chemical_centrifuge/readme.md
  modular_skyrat/modules/ash_farming/readme.md
  modular_skyrat/modules/ashwalker_change/readme.md
  modular_skyrat/modules/ashwalker_shaman/readme.md
  modular_skyrat/modules/ashwalkers/code/buildings/ash_clothing_vendor.dm
  modular_skyrat/modules/ashwalkers/code/buildings/ash_farming.dm
  modular_skyrat/modules/ashwalkers/code/buildings/fuelwell.dm
  modular_skyrat/modules/ashwalkers/code/buildings/tendril_corruption.dm
  modular_skyrat/modules/ashwalkers/code/clothing/ash_armour.dm
  modular_skyrat/modules/ashwalkers/code/clothing/hands.dm
  modular_skyrat/modules/ashwalkers/code/clothing/head.dm
  modular_skyrat/modules/ashwalkers/code/clothing/misc.dm
  modular_skyrat/modules/ashwalkers/code/clothing/neck.dm
  modular_skyrat/modules/ashwalkers/code/clothing/shoes.dm
  modular_skyrat/modules/ashwalkers/code/clothing/under.dm
  modular_skyrat/modules/ashwalkers/code/items/ash_centrifuge.dm
  modular_skyrat/modules/ashwalkers/code/items/ash_surgery.dm
  modular_skyrat/modules/ashwalkers/code/items/ash_tool.dm
  modular_skyrat/modules/ashwalkers/code/items/ash_weapon.dm
  modular_skyrat/modules/ashwalkers/code/items/ashwalker_shaman.dm
  modular_skyrat/modules/ashwalkers/code/species/Ashwalkers.dm
  modular_skyrat/modules/ashwalkers/icons/ashwalker_clothing.dmi
  modular_skyrat/modules/ashwalkers/icons/ashwalker_clothing_left.dmi
  modular_skyrat/modules/ashwalkers/icons/ashwalker_clothing_mob.dmi
  modular_skyrat/modules/ashwalkers/icons/ashwalker_clothing_right.dmi
  modular_skyrat/modules/ashwalkers/icons/ashwalker_tools.dmi
  modular_skyrat/modules/ashwalkers/icons/chemical.dmi
  modular_skyrat/modules/ashwalkers/readme.md
  tgstation.dme
Labels: Refactor

#11704 opfor fix
  modular_skyrat/modules/opposing_force/code/equipment/equip_parent.dm
  tgui/packages/tgui/interfaces/OpposingForcePanel.js
Labels: UI, Fix

#11703 meat
  code/datums/materials/pizza.dm
  code/game/objects/items/RCD.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/modules/cargo/exports/sheets.dm
  code/modules/mapping/turfs.dm
  tgstation.dme
Labels: Feature

#11632 [Modular] Secmed sprite changes
  modular_skyrat/master_files/icons/mob/clothing/belt.dmi
  modular_skyrat/master_files/icons/mob/clothing/suit.dmi
  modular_skyrat/master_files/icons/mob/clothing/uniform.dmi
  modular_skyrat/master_files/icons/mob/clothing/uniform_digi.dmi
  modular_skyrat/master_files/icons/obj/clothing/belts.dmi
  modular_skyrat/master_files/icons/obj/clothing/suits.dmi
  modular_skyrat/master_files/icons/obj/clothing/uniforms.dmi
  modular_skyrat/modules/sec_haul/code/security_medic/secmed_clothes.dm
  modular_skyrat/modules/sec_haul/code/security_medic/security_medic.dm
Labels: Sprites

#11708 [Modular] - Interaction: Beckoning
  config/skyrat/interactions/beckon.json
Labels: Feature, Config Update

#11753 Removes the loose NTSec cardboard cutout from the Interlink
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
Labels: Removal, Map Edit

#11756 OPFOR fixes and expansion
  modular_skyrat/modules/opposing_force/code/equipment/ammo.dm
  modular_skyrat/modules/opposing_force/code/equipment/guns.dm
  modular_skyrat/modules/opposing_force/code/equipment/services.dm
Labels: Fix
