Repository Skyrat-SS13/Skyrat-tg, pull requests merged in 2022-04, with the labels that each got.

#12446 Upstream merge 65642
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/tramstation/tramstation.dmm
  code/__DEFINES/traits.dm
  code/controllers/subsystem/persistent_paintings.dm
  code/datums/elements/item_scaling.dm
  code/modules/admin/painting_manager.dm
  code/modules/art/paintings.dm
  code/modules/unit_tests/paintings.dm
  code/modules/vending/games.dm
  icons/obj/artstuff.dmi
  icons/obj/artstuff_64x64.dmi
  icons/obj/decals.dmi
  tgui/packages/tgui/interfaces/Canvas.tsx
  tgui/packages/tgui/interfaces/NtosPortraitPrinter.js
Labels: UI, Feature, Sprites, Map Edit

#12448 Upstream merge 65372
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1.dmm
  _maps/RandomRuins/SpaceRuins/TheDerelict.dmm
  _maps/RandomRuins/SpaceRuins/deepstorage.dmm
  _maps/RandomRuins/SpaceRuins/mrow_thats_right.dmm
  _maps/RandomRuins/SpaceRuins/thelizardsgas.dmm
  _maps/RandomZLevels/snowdin.dmm
  _maps/RandomZLevels/undergroundoutpost45.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/tramstation/tramstation.dmm
  code/__DEFINES/atmospherics/atmos_mapping_helpers.dm
  code/__HELPERS/atmospherics.dm
  code/game/machinery/computer/atmos_computers/__identifiers.dm
  code/game/machinery/computer/atmos_computers/_air_sensor.dm
  code/game/machinery/computer/atmos_computers/_atmos_control.dm
  code/game/machinery/computer/atmos_computers/air_sensors.dm
  code/game/machinery/computer/atmos_computers/atmos_controls.dm
  code/game/machinery/computer/atmos_computers/inlets.dm
  code/game/machinery/computer/atmos_computers/meters.dm
  code/game/machinery/computer/atmos_computers/outlets.dm
  code/game/objects/items/circuitboards/computer_circuitboards.dm
  code/modules/admin/verbs/debug.dm
  code/modules/admin/verbs/mapping.dm
  code/modules/atmospherics/machinery/components/unary_devices/outlet_injector.dm
  code/modules/atmospherics/machinery/components/unary_devices/vent_pump.dm
  code/modules/atmospherics/machinery/other/meter.dm
  code/modules/atmospherics/machinery/pipes/color_adapter.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/AnomalyRefinery.js
  tgui/packages/tgui/interfaces/AtmosControlConsole.js
  tgui/packages/tgui/interfaces/AtmosControlConsole.tsx
  tgui/packages/tgui/interfaces/TankCompressor.js
  tgui/packages/tgui/interfaces/common/GasmixParser.js
  tgui/packages/tgui/interfaces/common/GasmixParser.tsx
Labels: UI, Map Edit

#12451 Upstream merge 65672
  _maps/RandomRuins/SpaceRuins/crashedship.dmm
  code/datums/ruins/space.dm
  code/modules/ruins/spaceruin_code/crashedship.dm
Labels: Map Edit

#12452 Upstream merge 65625
  code/controllers/configuration/entries/general.dm
  code/modules/admin/verbs/adminhelp.dm
  config/config.txt
Labels: Config Update

#12454 Upstream merge 65699
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Below.dmm
  _maps/shuttles/labour_box.dmm
  code/game/turfs/open/glass.dm
Labels: Map Edit

#12455 Upstream merge 65375
  code/__DEFINES/cooldowns.dm
  code/__DEFINES/mecha.dm
  code/modules/asset_cache/assets/mecha.dm
  code/modules/mob/living/simple_animal/hostile/mecha_pilot.dm
  code/modules/research/designs/mecha_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/uplink/uplink_items/job.dm
  code/modules/vehicles/mecha/_mecha.dm
  code/modules/vehicles/mecha/combat/combat.dm
  code/modules/vehicles/mecha/combat/durand.dm
  code/modules/vehicles/mecha/combat/gygax.dm
  code/modules/vehicles/mecha/combat/honker.dm
  code/modules/vehicles/mecha/combat/marauder.dm
  code/modules/vehicles/mecha/combat/phazon.dm
  code/modules/vehicles/mecha/combat/reticence.dm
  code/modules/vehicles/mecha/combat/savannah_ivanov.dm
  code/modules/vehicles/mecha/equipment/mecha_equipment.dm
  code/modules/vehicles/mecha/equipment/tools/medical_tools.dm
  code/modules/vehicles/mecha/equipment/tools/mining_tools.dm
  code/modules/vehicles/mecha/equipment/tools/other_tools.dm
  code/modules/vehicles/mecha/equipment/tools/weapon_bay.dm
  code/modules/vehicles/mecha/equipment/tools/work_tools.dm
  code/modules/vehicles/mecha/equipment/weapons/weapons.dm
  code/modules/vehicles/mecha/mech_melee_attack.dm
  code/modules/vehicles/mecha/mecha_actions.dm
  code/modules/vehicles/mecha/mecha_control_console.dm
  code/modules/vehicles/mecha/mecha_defense.dm
  code/modules/vehicles/mecha/mecha_parts.dm
  code/modules/vehicles/mecha/mecha_topic.dm
  code/modules/vehicles/mecha/mecha_ui.dm
  code/modules/vehicles/mecha/medical/odysseus.dm
  code/modules/vehicles/mecha/working/clarke.dm
  code/modules/vehicles/mecha/working/ripley.dm
  code/modules/vehicles/mecha/working/working.dm
  icons/ui_icons/mecha/armor.dmi
  modular_skyrat/modules/firefighter/code/firefighter.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/ExosuitControlConsole.js
  tgui/packages/tgui/interfaces/Mecha/AlertPane.tsx
  tgui/packages/tgui/interfaces/Mecha/ArmPane.tsx
  tgui/packages/tgui/interfaces/Mecha/ArmorPane.tsx
  tgui/packages/tgui/interfaces/Mecha/MaintMode.tsx
  tgui/packages/tgui/interfaces/Mecha/MechStatPane.tsx
  tgui/packages/tgui/interfaces/Mecha/OperatorMode.tsx
  tgui/packages/tgui/interfaces/Mecha/PowerModulesPane.tsx
  tgui/packages/tgui/interfaces/Mecha/RadioPane.tsx
  tgui/packages/tgui/interfaces/Mecha/UtilityModulesPane.tsx
  tgui/packages/tgui/interfaces/Mecha/data.ts
  tgui/packages/tgui/interfaces/Mecha/index.tsx
  tgui/packages/tgui/styles/interfaces/Mecha.scss
  tgui/packages/tgui/styles/main.scss
Labels: UI, Sprites

#12460 Upstream merge 65326
  _maps/RandomRuins/SpaceRuins/intactemptyship.dmm
  _maps/RandomRuins/SpaceRuins/listeningstation.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Below.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/Mining/Lavaland.dmm
  _maps/map_files/generic/CentCom.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/shuttles/emergency_imfedupwiththisworld.dmm
  _maps/shuttles/emergency_monastery.dmm
  code/__DEFINES/jobs.dm
  code/__DEFINES/paper.dm
  code/controllers/subsystem/library.dm
  code/datums/map_config.dm
  code/game/machinery/computer/_computer.dm
  code/game/objects/effects/contraband.dm
  code/game/objects/items/circuitboards/computer_circuitboards.dm
  code/game/objects/items/manuals.dm
  code/modules/aquarium/aquarium_kit.dm
  code/modules/asset_cache/assets/bibles.dm
  code/modules/jobs/job_types/chaplain.dm
  code/modules/library/lib_codex_gigas.dm
  code/modules/library/lib_items.dm
  code/modules/library/lib_machines.dm
  code/modules/library/random_books.dm
  code/modules/paperwork/paper.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  modular_skyrat/modules/modular_weapons/code/medguns.dm
  sound/attributions.txt
  sound/machines/eject.ogg
  sound/machines/printer.ogg
  tgstation.dme
  tgui/packages/tgui/assets/bg-spookycomp-compressed.svg
  tgui/packages/tgui/assets/bg-spookycomp-raw.svg
  tgui/packages/tgui/assets/bg-spookycomp.svg
  tgui/packages/tgui/index.js
  tgui/packages/tgui/interfaces/LibraryConsole.js
  tgui/packages/tgui/interfaces/LibraryScanner.js
  tgui/packages/tgui/interfaces/LibraryVisitor.js
  tgui/packages/tgui/sanitize.js
  tgui/packages/tgui/styles/components/Dimmer.scss
  tgui/packages/tgui/styles/interfaces/LibraryComputer.scss
  tgui/packages/tgui/styles/main.scss
  tgui/packages/tgui/styles/themes/spookyconsole.scss
  tools/UpdatePaths/lib_computers.txt
Labels: UI, Tools, Map Edit, Sound

#12463 Upstream merge 65812
  icons/mecha/mecha_96x96.dmi
Labels: Sprites

#12465 Upstream merge 65787
  icons/obj/library.dmi
Labels: Sprites

#12330 Map repair
  _maps/map_files/Blueshift/BlueShift_upper.dmm
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/KiloStation/KiloStation_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
Labels: Fix, Map Edit

#12332 Delta station atmos door ID requirement undo
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
Labels: Fix, Map Edit

#12364 Cargo Sprite Cleanup
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_syndicate_base1_skyrat.dmm
  _maps/RandomRuins/LavaRuins/skyrat/lavaland_surface_syndicate_base1_skyrat.dmm
  _maps/RandomRuins/RockplanetRuins/rockplanet_surface_syndicate_base1_skyrat.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon.dmm
  _maps/map_files/Blueshift/BlueShift_middle.dmm
  modular_skyrat/master_files/code/modules/clothing/under/jobs/cargo.dm
  modular_skyrat/master_files/icons/mob/clothing/under/cargo.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/cargo_digi.dmi
  modular_skyrat/master_files/icons/mob/clothing/uniform_digi.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/cargo.dmi
  modular_skyrat/modules/command_vendor/code/vending.dm
  modular_skyrat/modules/customization/modules/clothing/under/misc.dm
  modular_skyrat/modules/customization/modules/clothing/under/utility_port/other_port.dm
  modular_skyrat/modules/customization/modules/clothing/under/utility_port/utility.dm
  modular_skyrat/modules/loadouts/loadout_items/under/loadout_datum_under.dm
  modular_skyrat/modules/mapping/code/lavaland_ruin_code.dm
  modular_skyrat/modules/mapping/code/mob_spawns.dm
  modular_skyrat/modules/modular_vending/code/wardrobes.dm
  tgstation.dme
Labels: Sprites, Map Edit

#12337 Gives the QM's locker a spare headset
  code/game/objects/structures/crates_lockers/closets/secure/cargo.dm
Labels: Fix

#12441 Fixes blueshield bowman
  modular_skyrat/modules/blueshield/code/blueshield_clothing.dm
Labels: Fix

#12339 Stealth interdyne areas
  code/game/area/areas/ruins/lavaland.dm
Labels: Code Improvement

#12378 Fixes latejoin heretic influence generation
  code/modules/antagonists/heretic/influences.dm
Labels: Fix

#12417 Assault ops armament update and mapping fixes
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  _maps/shuttles/skyrat/goldeneye_cruiser.dmm
  modular_skyrat/modules/assault_operatives/code/armaments/__armament_bodyarmor.dm
  modular_skyrat/modules/assault_operatives/code/armaments/_armaments_secondary.dm
  modular_skyrat/modules/assault_operatives/code/armaments/armament_melee.dm
  modular_skyrat/modules/assault_operatives/code/armaments/armament_modules.dm
  modular_skyrat/modules/assault_operatives/code/armaments/armament_utility.dm
  modular_skyrat/modules/assault_operatives/code/turrets.dm
Labels: Feature, Fix, Map Edit

#12361 Adds Bamboo Stacks to Ghost Cafe
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  modular_skyrat/modules/ghostcafe/code/stackspawner_item.dm
  modular_skyrat/modules/ghostcafe/code/stackspawner_machine.dm
  tgstation.dme
Labels: Map Edit

#12468 YET ANOTHER FUCKING MAP RESET 01/04/22
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Below.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/tramstation/tramstation.dmm
Labels: Map Edit

#12492 Removes stormtrooper outfit from PK vendor
  modular_skyrat/modules/sec_haul/code/misc/vending.dm
Labels: Removal

#12491 Fixed the book management console on all of our maps
  _maps/RandomRuins/SpaceRuins/skyrat/interdynefob.dmm
  _maps/map_files/Blueshift/BlueShift_lower.dmm
  _maps/map_files/Blueshift/BlueShift_middle.dmm
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above_skyrat.dmm
  _maps/map_files/KiloStation/KiloStation_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
  _maps/map_files/Mining/Icemoon.dmm
  _maps/map_files/Mining/Rockplanet.dmm
  _maps/map_files/NSSJourney/NSSJourney.dmm
  _maps/map_files/generic/CentCom_skyrat.dmm
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  _maps/map_files/tramstation/tramstation_skyrat.dmm
  _maps/shuttles/skyrat/goldeneye_cruiser.dmm
Labels: Fix, Map Edit

#12499 OPFOR Expansion: MODSuits and junk
  modular_skyrat/modules/moretraitoritems/code/fake_announcement.dm
  modular_skyrat/modules/opposing_force/code/equipment/clothing.dm
  modular_skyrat/modules/opposing_force/code/equipment/implants.dm
  modular_skyrat/modules/opposing_force/code/equipment/martial_arts.dm
  modular_skyrat/modules/opposing_force/code/equipment/services.dm
  modular_skyrat/modules/opposing_force/code/equipment/utility.dm
  tgui/packages/tgui/interfaces/OpposingForcePanel.js
Labels: UI, Fix

#12503 Head of staff doors again
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
Labels: Map Edit

#12504 Copy/pastes the consultant office from old skyrat maps
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
Labels: Map Edit

#12506 Fixes borg expander exploit
  code/modules/mob/living/silicon/robot/robot_model.dm
Labels: Fix

#12500 Adds three new cargo goody packs
  modular_skyrat/modules/cargo/code/goodies.dm
Labels: Feature

#12515 Componentizes armaments
  modular_skyrat/modules/armaments/code/armament_component.dm
  modular_skyrat/modules/armaments/code/armament_station.dm
  modular_skyrat/modules/assault_operatives/code/armaments/assaultops_armament_station.dm
Labels: Refactor

#12498 Fixes frame_canvas not returning TRUE/FALSE because of modular code
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
Labels: Fix

#12311 Contractor Expansion 2
  code/__DEFINES/role_preferences.dm
  code/__DEFINES/~skyrat_defines/baton_upgrades.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/client/preferences/middleware/antags.dm
  modular_skyrat/master_files/icons/obj/card.dmi
  modular_skyrat/modules/contractor/code/datums/contractor_items.dm
  modular_skyrat/modules/contractor/code/datums/midround/antag_datum.dm
  modular_skyrat/modules/contractor/code/datums/midround/event.dm
  modular_skyrat/modules/contractor/code/datums/midround/objective.dm
  modular_skyrat/modules/contractor/code/datums/midround/outfit.dm
  modular_skyrat/modules/contractor/code/datums/midround/trim.dm
  modular_skyrat/modules/contractor/code/items/baton.dm
  modular_skyrat/modules/contractor/code/items/boxes.dm
  modular_skyrat/modules/contractor/code/items/misc.dm
  modular_skyrat/modules/contractor/code/items/modsuit/modsuit.dm
  modular_skyrat/modules/contractor/icons/baton_upgrades.dmi
  modular_skyrat/modules/contractor/icons/hud_icon.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/antagonists/antagonists/driftingcontractor.ts
Labels: UI, Feature, Fix

#12514 Advanced MMG
  code/__DEFINES/~skyrat_defines/projectiles.dm
  code/modules/projectiles/ammunition/_firing.dm
  modular_skyrat/modules/gunsgalore/icons/ammo/ammo.dmi
  modular_skyrat/modules/mounted_machine_gun/code/ammobox.dm
  modular_skyrat/modules/mounted_machine_gun/code/mounted_machine_gun.dm
  modular_skyrat/modules/mounted_machine_gun/icons/turret.dmi
  modular_skyrat/modules/mounted_machine_gun/icons/turret_objects.dmi
  modular_skyrat/modules/mounted_machine_gun/sound/50cal_box_01.ogg
  modular_skyrat/modules/mounted_machine_gun/sound/close_lid.ogg
  modular_skyrat/modules/mounted_machine_gun/sound/cock_bolt.ogg
  modular_skyrat/modules/mounted_machine_gun/sound/insert_ammobox.ogg
  modular_skyrat/modules/mounted_machine_gun/sound/open_lid.ogg
  modular_skyrat/modules/mounted_machine_gun/sound/remove_ammobox.ogg
  tgstation.dme
Labels: Feature

#12479 Revert "[MIRROR] Moves help menu to end, fixes Hotkeys Help [MDB IGNORE]" because TGS is throwing a hissy fit
  code/_globalvars/tgui.dm
  code/datums/hotkeys_help.dm
  code/modules/client/client_procs.dm
  interface/interface.dm
  interface/skin.dmf
  tgstation.dme
  tgui/packages/tgui/interfaces/HotkeysHelp.tsx
  tgui/packages/tgui/styles/interfaces/HotKeysHelp.scss
  tgui/packages/tgui/styles/main.scss
Labels: UI, Revert

#12522 Update blueshift to be overall a better experience! Blueshift 2.0
  _maps/map_files/Blueshift/BlueShift_lower.dmm
  _maps/map_files/Blueshift/BlueShift_middle.dmm
  _maps/map_files/Blueshift/BlueShift_upper.dmm
Labels: Feature, Fix, Removal, Map Edit

#12523 map reset fixes and gas miners
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
  _maps/map_files/Mining/Lavaland.dmm
  _maps/skyrat/xenoarch_base.dmm
Labels: Feature, Fix, Map Edit

#12527 [NO GBP] revert revert [mirror] help (with fix)
  code/_globalvars/tgui.dm
  code/datums/hotkeys_help.dm
  code/modules/client/client_procs.dm
  interface/interface.dm
  interface/skin.dmf
  tgstation.dme
  tgui/packages/tgui/interfaces/HotkeysHelp.tsx
  tgui/packages/tgui/styles/interfaces/HotKeysHelp.scss
  tgui/packages/tgui/styles/main.scss
Labels: UI, Revert

#12528 Corrects croon single-pack description
  modular_skyrat/modules/cargo/code/goodies.dm
Labels: Grammar and Formatting, GBP: No Update

#12530 Fixes Armaments
  modular_skyrat/modules/armaments/code/armament_component.dm
Labels: GBP: No Update

#12537 Ghost role loadout/quirk fix
  code/modules/mob_spawn/mob_spawn.dm
Labels: Fix, GBP: No Update

#12533 Mirrors tgstation#65733
  code/__DEFINES/mod.dm
  code/modules/mod/mod_control.dm
  modular_skyrat/modules/contractor/code/items/modsuit/modsuit.dm
  modular_skyrat/modules/contractor/code/items/modsuit/theme.dm
Labels: Refactor

#12536 Fixes mining boot icon
  modular_skyrat/master_files/code/modules/clothing/shoes/boots.dm
Labels: Fix

#12538 Fix huge air scrubber icon
  modular_skyrat/modules/aesthetics/scrubber/code/scrubber.dm
Labels: Fix

#12554 Batch pr pull
  code/__DEFINES/dye_keys.dm
  code/__DEFINES/logging.dm
  code/datums/components/crafting/tailoring.dm
  code/datums/components/singularity.dm
  code/datums/greyscale/config_types/greyscale_configs.dm
  code/datums/greyscale/json_configs/bandana.json
  code/datums/greyscale/json_configs/bandana_up.json
  code/datums/greyscale/json_configs/bandana_worn.json
  code/datums/greyscale/json_configs/bandana_worn_up.json
  code/datums/greyscale/json_configs/bandskull.json
  code/datums/greyscale/json_configs/bandskull_up.json
  code/datums/greyscale/json_configs/bandskull_worn.json
  code/datums/greyscale/json_configs/bandskull_worn_up.json
  code/datums/greyscale/json_configs/bandstriped.json
  code/datums/greyscale/json_configs/bandstriped_up.json
  code/datums/greyscale/json_configs/bandstriped_worn.json
  code/datums/greyscale/json_configs/bandstriped_worn_up.json
  code/game/area/space_station_13_areas.dm
  code/game/machinery/_machinery.dm
  code/game/machinery/washing_machine.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/theft_tools.dm
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  code/game/objects/structures/crates_lockers/closets/wardrobe.dm
  code/modules/admin/admin_investigate.dm
  code/modules/antagonists/gang/gang.dm
  code/modules/antagonists/thief/thief.dm
  code/modules/atmospherics/machinery/components/gas_recipe_machines/crystallizer.dm
  code/modules/cargo/packs.dm
  code/modules/clothing/masks/bandana.dm
  code/modules/clothing/neck/_neck.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/simple_animal/friendly/trader.dm
  code/modules/power/singularity/emitter.dm
  code/modules/power/singularity/field_generator.dm
  code/modules/power/singularity/singularity.dm
  code/modules/power/smes.dm
  code/modules/power/supermatter/supermatter.dm
  code/modules/power/supermatter/supermatter_hit_procs.dm
  code/modules/power/supermatter/supermatter_process.dm
  code/modules/power/tesla/energy_ball.dm
  code/modules/vehicles/mecha/equipment/mecha_equipment.dm
  code/modules/vending/wardrobes.dm
  modular_skyrat/master_files/code/_globalvars/maint_loot_trash.dm
  modular_skyrat/modules/customization/modules/clothing/masks/breath.dm
  modular_skyrat/modules/exp_corps/code/clothing.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_masks.dm
  modular_skyrat/modules/sec_haul/code/misc/vending.dm
  modular_skyrat/modules/singularity_engine/code/particle_accelerator/particle_accelerator.dm
  modular_skyrat/modules/singularity_engine/code/particle_accelerator/particle_control.dm
  tools/requirements.txt
Labels: Tools

#12398 Medical Sprite Cleanup
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon.dmm
  modular_skyrat/master_files/code/modules/clothing/under/jobs/medical.dm
  modular_skyrat/master_files/icons/mob/clothing/under/medical.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/medical_digi.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/medical.dmi
  modular_skyrat/modules/customization/modules/clothing/under/misc.dm
  modular_skyrat/modules/customization/modules/clothing/under/security.dm
  modular_skyrat/modules/customization/modules/clothing/under/utility_port/utility.dm
  modular_skyrat/modules/loadouts/loadout_items/under/loadout_datum_under.dm
  modular_skyrat/modules/mapping/code/mob_spawns.dm
  modular_skyrat/modules/modular_vending/code/wardrobes.dm
  modular_skyrat/modules/sec_haul/code/security_medic/security_medic.dm
  tgstation.dme
Labels: Sprites, Map Edit

#12512 [Modular] Friend Shapes Expansion 3!
  modular_skyrat/master_files/icons/obj/plushes.dmi
  modular_skyrat/modules/customization/game/objects/items/plushes.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_toys.dm
Labels: Sprites

#12585 fix CI (hopefully)
  _maps/map_files/Blueshift/BlueShift_middle.dmm
  _maps/map_files/Blueshift/BlueShift_upper.dmm
  code/modules/clothing/masks/bandana.dm
  code/modules/mapping/mapping_helpers.dm
  modular_skyrat/master_files/code/modules/bandana/bandanafix.dm
  tgstation.dme
Labels: Map Edit

#12580 delta rec area disposal fix
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
Labels: Fix, Map Edit

#12575 Icebox underground Consultant/blueshield offices
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above_skyrat.dmm
Labels: Feature, Map Edit

#12539 Small fix to the Volaju hairstyle
  icons/mob/human_face.dmi
Labels: Fix, Sprites

#11135 The MODsuit Digital Revolution: Replaces AIs in MODsuits with pAIs
  code/modules/mod/mod_actions.dm
  code/modules/mod/mod_activation.dm
  code/modules/mod/mod_ai.dm
  code/modules/mod/mod_control.dm
  code/modules/mod/mod_ui.dm
  modular_skyrat/modules/modsuit_pai/code/mod_pai.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/MODsuit.js
Labels: UI, Balance/Rebalance, Refactor, Test Merged

#12577 Engineering Sprite Cleanup
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon.dmm
  modular_skyrat/master_files/code/modules/clothing/under/jobs/engineering.dm
  modular_skyrat/master_files/icons/mob/clothing/under/engineering.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/engineering_digi.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/engineering.dmi
  modular_skyrat/modules/customization/modules/clothing/under/misc.dm
  modular_skyrat/modules/customization/modules/clothing/under/utility_port/utility.dm
  modular_skyrat/modules/loadouts/loadout_items/under/loadout_datum_under.dm
  modular_skyrat/modules/mapping/code/mob_spawns.dm
  modular_skyrat/modules/modular_vending/code/wardrobes.dm
  tgstation.dme
Labels: Sprites, Map Edit

#12251 [MODULAR] Alert level text changes
  code/controllers/configuration/entries/game_options.dm
  modular_skyrat/modules/alerts/code/config.dm
Labels: Config Update, Stale

#12169 [Semi-Modular] Oversized Overhaul (Overrated!)
  code/datums/components/riding/riding_mob.dm
  code/modules/mob/mob_movement.dm
  modular_skyrat/modules/organs/code/stomach.dm
  modular_skyrat/modules/organs/icons/stomach.dmi
  modular_skyrat/modules/oversized/code/door.dm
  modular_skyrat/modules/oversized/code/oversized_quirk.dm
  tgstation.dme
Labels: Feature, Balance/Rebalance, Removal, Test Merged

#12147 Crew Monitor Robotic Races Update
  code/game/machinery/computer/crew.dm
  tgui/packages/tgui/interfaces/CrewConsole.js
Labels: UI

#12531 [NON-MODULAR] Fixes the skyrat edit from eating attack verbs
  code/modules/mob/living/carbon/carbon_defense.dm
Labels: Fix

#12309 [MODULAR] Adds No Guns-new quirk that strictly disallows you from using guns. That's it.
  code/__DEFINES/~skyrat_defines/jobs.dm
  code/controllers/subsystem/processing/quirks.dm
  modular_skyrat/master_files/code/datums/traits/negative.dm
Labels: Feature

#12591 Adds Export Scanner To Cargo Borg
  modular_skyrat/modules/cargoborg/code/robot_modules.dm
Labels: Feature

#12246 ACTUALLY FIX RESTRICTED JOBS ROLLING ANTAGONIST
  code/game/gamemodes/dynamic/dynamic.dm
  code/game/gamemodes/dynamic/dynamic_rulesets.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_latejoin.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
Labels: Feature, Test Merged

#12604 [Modular] heterochromia
  modular_skyrat/master_files/code/modules/client/preferences/mutant_parts.dm
  modular_skyrat/master_files/icons/mob/body_markings/heterochromia.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/heterochromia.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/skyrat/species_features.tsx
Labels: UI, Feature

#12534 [MODULAR] Replacement syringe gun crate
  modular_skyrat/modules/cargo/code/packs.dm
Labels: Feature

#12526 #12511 but without the fighting pit.
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  modular_skyrat/modules/ghostcafe/code/ghost_role_spawners.dm
Labels: Feature, Fix, Map Edit

#12520 [MODULAR] Medigun/Cellgun Code Cleanup
  modular_skyrat/modules/modular_weapons/code/cellguns.dm
  modular_skyrat/modules/modular_weapons/code/guncells.dm
  modular_skyrat/modules/modular_weapons/code/medcells.dm
Labels: Code Improvement

#12510 [MODULAR][REMOVAL] Removes Stasis Pods
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_syndicate_base1_skyrat.dmm
  _maps/RandomRuins/LavaRuins/skyrat/lavaland_surface_syndicate_base1_skyrat.dmm
  _maps/RandomRuins/RockplanetRuins/rockplanet_surface_syndicate_base1_skyrat.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/interdynefob.dmm
  _maps/map_files/Blueshift/BlueShift_middle.dmm
  _maps/map_files/Blueshift/BlueShift_upper.dmm
  _maps/map_files/NSSJourney/NSSJourney.dmm
  _maps/shuttles/skyrat/pirate_enclave.dmm
  modular_skyrat/modules/stasisrework/code/all_nodes.dm
  modular_skyrat/modules/stasisrework/code/stasissleeper.dm
Labels: Removal, Map Edit

#12578 [NEEDS CONFIG CHANGE][Non-Modular] Makes CorpRegs readable again
  code/game/objects/items/manuals.dm
Labels: Fix

#12404 [Semi-Modular] GAGS Teshari items
  code/game/objects/items.dm
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/eyes.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/suit.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/uniform.dmi
  modular_skyrat/modules/GAGS/greyscale_configs.dm
  modular_skyrat/modules/GAGS/icons/beret_teshari.dmi
  modular_skyrat/modules/GAGS/icons/jumpsuit_teshari.dmi
  modular_skyrat/modules/GAGS/icons/ranger_poncho_teshari.dmi
  modular_skyrat/modules/GAGS/icons/sneakers_teshari.dmi
  modular_skyrat/modules/customization/modules/clothing/clothing.dm
  modular_skyrat/modules/sec_haul/code/peacekeeper/peacekeeper_clothing.dm
  modular_skyrat/modules/teshari/code/teshari_clothes.dm
Labels: Sprites

#11860 [HOST] [MODULAR] New character customization option, Headshots.
  .github/CODEOWNERS
  code/modules/mob/living/carbon/human/examine_tgui.dm
  modular_skyrat/master_files/code/modules/client/preferences.dm
  modular_skyrat/master_files/code/modules/client/preferences/headshot.dm
  modular_skyrat/master_files/code/modules/client/preferences_savefile.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/ExaminePanel.js
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/skyrat/headshot.tsx
Labels: UI, Feature, GitHub, Test Merged, Host Request

#12513 Adds commonly emoted emotes as emotes.
  modular_skyrat/modules/emotes/code/emotes.dm
Labels: Feature

#12616 Removes the security_peacekeeper vending machine and just overrides the sec vendor.
  _maps/map_files/Blueshift/BlueShift_middle.dmm
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/Deltastation/skyrat_old/DeltaStation2_skyrat_old.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/IceBoxStation/skyrat_old/IceBoxStation_skyrat_old.dmm
  _maps/map_files/KiloStation/KiloStation_skyrat.dmm
  _maps/map_files/KiloStation/skyrat_old/KiloStation_skyrat_old.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
  _maps/map_files/MetaStation/skryat_old/MetaStation_skyrat_old.dmm
  _maps/map_files/Mining/Rockplanet.dmm
  _maps/map_files/NSSJourney/NSSJourney.dmm
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  _maps/map_files/tramstation/skryat_old/tramstation_skyrat_old.dmm
  _maps/map_files/tramstation/tramstation_skyrat.dmm
  code/game/objects/items/circuitboards/machine_circuitboards.dm
  modular_skyrat/modules/sec_haul/code/misc/vending.dm
Labels: Feature, Removal, Map Edit, Host Request

#11954 [modular] Some Dept Guard Banned Traits
  code/__DEFINES/~skyrat_defines/jobs.dm
  modular_skyrat/modules/customization/modules/jobs/_job.dm
Labels: Balance/Rebalance

#12576 Ticket Ping SS touchups
  code/modules/admin/verbs/adminhelp.dm
  modular_skyrat/modules/opposing_force/code/opposing_force_datum.dm
  modular_skyrat/modules/subsystems/code/ticket_ping/adminhelp.dm
  modular_skyrat/modules/subsystems/code/ticket_ping/preference.dm
  modular_skyrat/modules/subsystems/code/ticket_ping/ticket_ss.dm
  tgstation.dme
Labels: Administration

#12618 Adds missing TSX file
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/skyrat/ticket_ping.tsx
Labels: UI

#12633 Adds how to use the SAD to its description
  modular_skyrat/modules/self_actualization_device/code/self_actualization_device.dm
  tgstation.dme
Labels: Feature

#12624 [HOST] Removes auto-shoot from gunpointing
  modular_skyrat/modules/gunpoint/code/gunpoint.dm
  modular_skyrat/modules/gunpoint/code/gunpoint_datum.dm
Labels: Removal, Host Request

#12617 HECU Drip for the digi-muzzled
  modular_skyrat/master_files/icons/mob/clothing/mask_muzzled.dmi
  modular_skyrat/master_files/icons/mob/clothing/uniform_digi.dmi
  modular_skyrat/modules/awaymissions_skyrat/icons/hecumob_digi.dmi
  modular_skyrat/modules/awaymissions_skyrat/icons/hecumob_muzzled.dmi
  modular_skyrat/modules/black_mesa/code/ghost_spawners.dm
  modular_skyrat/modules/hev_suit/code/hev_suit.dm
Labels: Fix, Sprites

#12636 [Modular] Teshari sprite pack 4: It's servicable
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/belt.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/ears.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/feet.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/hands.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/head.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/mask.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/suit.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/uniform.dmi
Labels: Sprites

#12635 Restores the RedSec vendor to the Cafe
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  modular_skyrat/modules/sec_haul/code/misc/vending.dm
Labels: Fix, Map Edit

#12639 MMG updates
  _maps/RandomZLevels/blackmesa.dmm
  modular_skyrat/modules/mounted_machine_gun/code/ammobox.dm
  modular_skyrat/modules/mounted_machine_gun/code/mounted_machine_gun.dm
Labels: Feature, Map Edit

#12651 Adds bowman headset to HECU armaments
  modular_skyrat/modules/black_mesa/code/armaments/armament_utility.dm
Labels: Balance/Rebalance

#12623 Refits upstream CC resprites to fit on Digi legs.
  modular_skyrat/master_files/icons/mob/clothing/uniform_digi.dmi
Labels: Sprites

#12660 HEV fixes
  modular_skyrat/modules/hev_suit/code/hev_suit.dm
Labels: Fix

#12669 Fixes OPFOR cancel buttons
  modular_skyrat/modules/opposing_force/code/opposing_force_datum.dm
Labels: Fix

#12532 Fix potential lag source from active atmos turfs on blueshift
  _maps/map_files/Blueshift/BlueShift_lower.dmm
  _maps/map_files/Blueshift/BlueShift_middle.dmm
  _maps/map_files/Blueshift/BlueShift_upper.dmm
Labels: Map Edit

#12564 Contractor touchup
  code/__DEFINES/~skyrat_defines/baton_upgrades.dm
  code/game/gamemodes/objective.dm
  modular_skyrat/modules/contractor/code/datums/contract.dm
  modular_skyrat/modules/contractor/code/datums/contractor_hub.dm
  modular_skyrat/modules/contractor/code/datums/contractor_items.dm
  modular_skyrat/modules/contractor/code/datums/midround/antag_datum.dm
  modular_skyrat/modules/contractor/code/datums/midround/objective.dm
  modular_skyrat/modules/contractor/code/datums/midround/outfit.dm
  modular_skyrat/modules/contractor/code/datums/objective.dm
  modular_skyrat/modules/contractor/code/items/baton.dm
  modular_skyrat/modules/contractor/code/items/boxes.dm
  modular_skyrat/modules/contractor/code/items/modsuit/modsuit.dm
  modular_skyrat/modules/contractor/code/items/modsuit/modules.dm
  modular_skyrat/modules/contractor/code/objects/supplypod.dm
  modular_skyrat/modules/contractor/icons/modsuit_modules.dmi
  modular_skyrat/modules/cryosleep/code/cryopod.dm
  modular_skyrat/modules/examinemore/code/examine_more.dm
  tgstation.dme
Labels: Feature, Balance/Rebalance, Fix

#12657 Reskinnable belt and bag for Vanguard Operatives
  modular_skyrat/master_files/icons/mob/clothing/belt.dmi
  modular_skyrat/master_files/icons/obj/clothing/belts.dmi
  modular_skyrat/modules/exp_corps/code/clothing.dm
  modular_skyrat/modules/exp_corps/icons/backpack.dmi
  modular_skyrat/modules/exp_corps/icons/mob_backpack.dmi
Labels: Feature, Sprites

#12277 [SEMI-MODULAR] Somewhat refactors the way records are handled, adds a traitor panel + OPFOR override for exploitables to allow non-antags to use them. Also adds some text to exploitables to let people know to not put sex shit in there.
  code/__DEFINES/~skyrat_defines/flavor_defines.dm
  code/datums/mind.dm
  code/modules/admin/antag_panel.dm
  code/modules/antagonists/_common/antag_datum.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
  modular_skyrat/master_files/code/modules/antagonists/_common/antag_datum.dm
  modular_skyrat/master_files/code/modules/client/preferences/flavor_text.dm
  modular_skyrat/modules/opposing_force/code/equipment/services.dm
  modular_skyrat/modules/records_on_examine/code/mind.dm
  modular_skyrat/modules/records_on_examine/code/record_manifest.dm
  modular_skyrat/modules/records_on_examine/code/record_variables.dm
  modular_skyrat/modules/records_on_examine/code/records_procs.dm
  modular_skyrat/modules/records_on_examine/code/view_exploitables.dm
  tgstation.dme
Labels: Feature, Administration, Refactor

#12656 Adds 7 new spawners into icebox interdyne
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_syndicate_base1_skyrat.dmm
Labels: Feature, Map Edit

#12654 [MOSTLY MODULAR] Oppressive Force Relocation Medicell
  code/modules/research/techweb/all_nodes.dm
  modular_skyrat/modules/modular_weapons/code/medcells.dm
  modular_skyrat/modules/modular_weapons/code/medguns.dm
  modular_skyrat/modules/modular_weapons/code/mediguns.dm
Labels: Feature

#12613 [NON-MODULAR] Renames the bluespace warning labels to be OOC info
  code/datums/elements/weapon_description.dm
  code/modules/clothing/clothing.dm
Labels: Grammar and Formatting

#12670 [Modular] Introducing the Bird Borg shell!
  modular_skyrat/modules/altborgs/code/robot_model.dm
  modular_skyrat/modules/altborgs/icons/robots_eng.dmi
  modular_skyrat/modules/altborgs/icons/robots_jani.dmi
  modular_skyrat/modules/altborgs/icons/robots_med.dmi
  modular_skyrat/modules/altborgs/icons/robots_mine.dmi
  modular_skyrat/modules/altborgs/icons/robots_pk.dmi
  modular_skyrat/modules/altborgs/icons/robots_serv.dmi
  modular_skyrat/modules/cargoborg/code/robot_modules.dm
  modular_skyrat/modules/cargoborg/icons/robots_cargo.dmi
Labels: Sprites

#12675 Fix CI
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon.dmm
  _maps/map_files/Blueshift/BlueShift_upper.dmm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/surgery/organs/external/_external_organs.dm
  modular_skyrat/master_files/code/modules/surgery/bodyparts/species_parts/robotic/_mutant_robotic_bodyparts.dm
  modular_skyrat/modules/modular_weapons/code/mediguns.dm
Labels: Map Edit

#12687 Adjusts interlink spawn locations
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
Labels: Map Edit

#12695 More fixes
  code/__DEFINES/inventory.dm
  code/__DEFINES/~skyrat_defines/DNA.dm
  code/_globalvars/bitfields.dm
  code/modules/mob/living/carbon/human/human_update_icons.dm
  icons/mob/human_face.dmi
  modular_skyrat/modules/aesthetics/newscaster/icons/newscaster.dmi
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/robotic/synthetic_human.dm
  modular_skyrat/modules/mutants/code/mutant_species.dm
Labels: Fix, Sprites

#12703 Fixes, and makes the Sec Ushanka Better.
  modular_skyrat/master_files/icons/mob/clothing/head.dmi
  modular_skyrat/modules/customization/modules/clothing/head/head.dm
Labels: Fix, Sprites

#12704 Adds gun cleaning kits to assault op lockers
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
Labels: Map Edit

#12705 [Modular][Fix] Fixes the Cargo Cyborb
  modular_skyrat/modules/cargoborg/code/robot_modules.dm
Labels: Fix

#12709 [MODULAR] Engihound plush
  modular_skyrat/master_files/icons/obj/plushes.dmi
  modular_skyrat/modules/customization/game/objects/items/plushes.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_toys.dm
Labels: Feature

#12712 [MODULAR] Fixes camera facings once and for all
  modular_skyrat/modules/aesthetics/camera/icons/camera.dmi
Labels: Fix

#12708 Refits the new Syndie MODsuit to fit on digitigrade legs.
  modular_skyrat/master_files/icons/mob/mod.dmi
Labels: Sprites

#12718 Map Maintenance: Turbine Edition
  _maps/map_files/Blueshift/BlueShift_lower.dmm
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/KiloStation/KiloStation_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
  _maps/map_files/tramstation/tramstation_skyrat.dmm
Labels: Fix, Map Edit

#12716 Adds the CMG-1 less-than-lethal to the armory
  _maps/map_files/Blueshift/BlueShift_middle.dmm
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/KiloStation/KiloStation_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
  _maps/map_files/tramstation/tramstation_skyrat.dmm
  modular_skyrat/modules/cargo/code/goodies.dm
  modular_skyrat/modules/sec_haul/code/guns/armory_spawns.dm
  modular_skyrat/modules/sec_haul/code/guns/cmg.dm
  tgstation.dme
Labels: Balance/Rebalance, Map Edit

#12722 Bans some stackable quirk combos
  code/controllers/subsystem/processing/quirks.dm
Labels: Balance/Rebalance

#12724 Fixes all our broken cell/cellcharger icons, and adds unique icons for cells in the 1cell charger
  code/game/machinery/cell_charger.dm
  code/modules/ninja/suit/suit.dm
  modular_skyrat/modules/aesthetics/cells/cell.dm
  modular_skyrat/modules/aesthetics/cells/cell.dmi
  modular_skyrat/modules/microfusion/code/microfusion_cell.dm
  modular_skyrat/modules/new_cells/code/power_cell.dm
  modular_skyrat/modules/new_cells/icons/power.dmi
Labels: Fix, Sprites

#12720 Fake Announce now broadcasts to dchat
  modular_skyrat/modules/moretraitoritems/code/fake_announcement.dm
Labels: Fix

#12713 More digitigrade fixes
  code/__DEFINES/~skyrat_defines/reskin_defines.dm
  code/game/objects/items.dm
  code/modules/clothing/suits/armor.dm
  code/modules/mob/living/carbon/human/species.dm
  modular_skyrat/master_files/code/modules/clothing/base_clothes.dm
  modular_skyrat/master_files/code/modules/clothing/clothing_variation_overrides/eyes.dm
  modular_skyrat/master_files/code/modules/clothing/clothing_variation_overrides/head.dm
  modular_skyrat/master_files/code/modules/clothing/clothing_variation_overrides/mask.dm
  modular_skyrat/master_files/code/modules/clothing/clothing_variation_overrides/shoes.dm
  modular_skyrat/master_files/code/modules/clothing/clothing_variation_overrides/suit.dm
  modular_skyrat/master_files/code/modules/clothing/clothing_variation_overrides/under.dm
  modular_skyrat/master_files/code/modules/clothing/non_anthro_clothes.dm
  modular_skyrat/modules/aesthetics/clothing/clothing.dm
  modular_skyrat/modules/ashwalkers/code/clothing/ash_armour.dm
  modular_skyrat/modules/ashwalkers/code/clothing/misc.dm
  modular_skyrat/modules/ashwalkers/code/clothing/neck.dm
  modular_skyrat/modules/brigoff/code/brigoff_clothes.dm
  modular_skyrat/modules/brigoff/code/jobs.dm
  modular_skyrat/modules/customization/modules/clothing/clothing.dm
  modular_skyrat/modules/customization/modules/clothing/head/head.dm
  modular_skyrat/modules/customization/modules/clothing/neck/cloaks.dm
  modular_skyrat/modules/customization/modules/clothing/suits/armor.dm
  modular_skyrat/modules/customization/modules/clothing/suits/coats.dm
  modular_skyrat/modules/customization/modules/clothing/suits/hoodies.dm
  modular_skyrat/modules/customization/modules/clothing/suits/misc.dm
  modular_skyrat/modules/customization/modules/clothing/suits/trek.dm
  modular_skyrat/modules/customization/modules/clothing/under/misc.dm
  modular_skyrat/modules/customization/modules/clothing/under/security.dm
  modular_skyrat/modules/customization/modules/clothing/under/utility_port/other_port.dm
  modular_skyrat/modules/customization/modules/clothing/under/utility_port/suits_port.dm
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
  modular_skyrat/modules/exp_corps/code/clothing.dm
  modular_skyrat/modules/goofsec/code/sec_clothing_overrides.dm
  modular_skyrat/modules/hev_suit/code/hev_suit.dm
  modular_skyrat/modules/nanotrasen_naval_command/code/clothing.dm
  modular_skyrat/modules/nanotrasen_rep/code/clothing.dm
  modular_skyrat/modules/novaya_ert/code/head.dm
  modular_skyrat/modules/novaya_ert/code/suit.dm
  modular_skyrat/modules/reagent_forging/code/forge_clothing.dm
  modular_skyrat/modules/sec_haul/code/peacekeeper/armadyne_clothing.dm
  modular_skyrat/modules/sec_haul/code/peacekeeper/peacekeeper_clothing.dm
  modular_skyrat/modules/sec_haul/code/security_medic/secmed_clothes.dm
  tgstation.dme
Labels: Fix

#12728 Fixes Teshari and Vox clothing sprites
  code/__DEFINES/mobs.dm
  code/__DEFINES/~skyrat_defines/species_clothing_paths.dm
  code/__DEFINES/~skyrat_defines/teshari_clothing_paths.dm
  code/modules/clothing/under/_under.dm
  code/modules/mob/living/carbon/human/human_update_icons.dm
  modular_skyrat/master_files/code/modules/clothing/base_clothes.dm
  modular_skyrat/master_files/code/modules/clothing/clothing.dm
  modular_skyrat/master_files/code/modules/surgery/bodyparts/species_parts/teshari_bodyparts.dm
  modular_skyrat/master_files/code/modules/surgery/bodyparts/species_parts/vox_bodyparts.dm
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/teshari_matrixcolor_clothes.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/vox/mask.dmi
  modular_skyrat/modules/GAGS/greyscale_configs.dm
  modular_skyrat/modules/GAGS/icons/teshari_fallbacks.dmi
  modular_skyrat/modules/GAGS/json_configs/teshari_fallbacks/armor.json
  modular_skyrat/modules/GAGS/json_configs/teshari_fallbacks/cloak.json
  modular_skyrat/modules/GAGS/json_configs/teshari_fallbacks/coat.json
  modular_skyrat/modules/GAGS/json_configs/teshari_fallbacks/glasses.json
  modular_skyrat/modules/GAGS/json_configs/teshari_fallbacks/gloves.json
  modular_skyrat/modules/GAGS/json_configs/teshari_fallbacks/hardsuit.json
  modular_skyrat/modules/GAGS/json_configs/teshari_fallbacks/scarf.json
  modular_skyrat/modules/GAGS/json_configs/teshari_fallbacks/shoes.json
  modular_skyrat/modules/GAGS/json_configs/teshari_fallbacks/spacesuit.json
  modular_skyrat/modules/GAGS/json_configs/teshari_fallbacks/tie.json
  modular_skyrat/modules/GAGS/json_configs/teshari_fallbacks/under.json
  modular_skyrat/modules/GAGS/json_configs/teshari_fallbacks/under_skirt.json
  modular_skyrat/modules/customization/__DEFINES/lists.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/custom_bodytype.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/vox.dm
  modular_skyrat/modules/teshari/code/_teshari.dm
  modular_skyrat/modules/teshari/code/flavor_misc.dm
  modular_skyrat/modules/teshari/code/teshari_bodytype.dm
  modular_skyrat/modules/teshari/code/teshari_clothes.dm
  tgstation.dme
Labels: Fix, Refactor

#12699 Fixed Veteran-Only species being selectable by non-Veterans
  code/modules/client/preferences/species.dm
Labels: Fix

#12706 Science Sprite Cleanup
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon.dmm
  modular_skyrat/master_files/code/modules/clothing/under/jobs/cargo.dm
  modular_skyrat/master_files/code/modules/clothing/under/jobs/medical.dm
  modular_skyrat/master_files/code/modules/clothing/under/jobs/rnd.dm
  modular_skyrat/master_files/icons/mob/clothing/under/rnd.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/rnd_digi.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/rnd.dmi
  modular_skyrat/modules/awaymissions_skyrat/code/wildwest_skyrat.dm
  modular_skyrat/modules/black_mesa/code/ghost_spawners.dm
  modular_skyrat/modules/black_mesa/code/mobs/gordon_freeman.dm
  modular_skyrat/modules/command_vendor/code/vending.dm
  modular_skyrat/modules/customization/modules/clothing/under/misc.dm
  modular_skyrat/modules/customization/modules/clothing/under/utility_port/utility.dm
  modular_skyrat/modules/loadouts/loadout_items/under/loadout_datum_under.dm
  modular_skyrat/modules/mapping/code/lavaland_ruin_code.dm
  modular_skyrat/modules/mapping/code/mob_spawns.dm
  modular_skyrat/modules/modular_vending/code/wardrobes.dm
  tgstation.dme
Labels: Sprites, Map Edit

#12688 [MODULAR] Removes the undercharger MCR attachment.
  modular_skyrat/modules/microfusion/code/microfusion_designs.dm
  modular_skyrat/modules/microfusion/code/microfusion_gun_attachments.dm
  modular_skyrat/modules/microfusion/code/microfusion_techweb.dm
Labels: Removal

#12732 Blueshift 2.2, Cargo bays and crappy atmospherics.
  _maps/map_files/Blueshift/BlueShift_lower.dmm
  _maps/map_files/Blueshift/BlueShift_middle.dmm
  _maps/map_files/Blueshift/BlueShift_upper.dmm
Labels: Map Edit

#12749 [NO GBP] Fixes snout masks again
  code/modules/mob/living/carbon/human/human_update_icons.dm
Labels: Fix

#12753 RealWinterFrost Donor Item Pull Request
  modular_skyrat/master_files/icons/donator/mob/clothing/neck.dmi
  modular_skyrat/master_files/icons/donator/obj/clothing/cloaks.dmi
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
  modular_skyrat/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
Labels: Feature

#12768 Fixing hemophages being literally unplayable
  code/modules/client/preferences/species.dm
Labels: Fix

#12766 CI, Shadowperson, Nightmare, Holodeck, Lore & Description Runtimes & Moth Eyes Fixing Combo PR
  code/modules/antagonists/nightmare/nightmare.dm
  code/modules/mob/living/carbon/human/species_types/shadowpeople.dm
  code/modules/unit_tests/create_and_destroy.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/akula.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/aquatic.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/dwarf.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/ghoul.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/hemophage.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/humanoid.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/insect.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/mammal.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/moth.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/placeholder_helper.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/robotic/_robotic.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/roundstartslime.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/skrell.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/tajaran.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/unathi.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/vox.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/vulpkanin.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/xeno.dm
  tgstation.dme
Labels: Fix, Refactor

#12796 AI Cryo Fix
  modular_skyrat/modules/cryosleep/code/ai.dm
Labels: Fix

#12799 Icebox package sorting fix
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
Labels: Fix, Map Edit

#12824 Headshot removal
  modular_skyrat/master_files/code/modules/client/preferences/headshot.dm
Labels: Fix

#12797 Meta bs gas vendor tweak
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
Labels: Fix, Map Edit

#12714 Returns Xenobiological Slime Hybrid sprites to their pre-Kapulimbs versions
  code/modules/surgery/bodyparts/_bodyparts.dm
  modular_skyrat/master_files/code/modules/surgery/bodyparts/species_parts/roundstartslime_bodyparts.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/roundstartslime.dm
  tgstation.dme
Labels: Fix, Good First PR

#12855 Conveyor exploit fix
  modular_skyrat/modules/conveyor_sorter/code/conveyor_sorter.dm
Labels: Fix

#12828 Fixes grenade launcher safety
  code/modules/projectiles/guns/ballistic/launchers.dm
Labels: Fix

#12761 [MODULAR] tactically fixes the CMG-1 cargo crates
  modular_skyrat/modules/cargo/code/goodies.dm
  modular_skyrat/modules/cargo/code/packs.dm
Labels: Fix

#12856 Roselia Donator Items
  modular_skyrat/master_files/icons/donator/mob/clothing/eyes.dmi
  modular_skyrat/master_files/icons/donator/mob/clothing/uniform.dmi
  modular_skyrat/master_files/icons/donator/obj/clothing/glasses.dmi
  modular_skyrat/master_files/icons/donator/obj/clothing/uniform.dmi
  modular_skyrat/master_files/icons/obj/plushes.dmi
  modular_skyrat/modules/customization/game/objects/items/plushes.dm
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
  modular_skyrat/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
Labels: Feature

#12873 [MODULAR][FIX] Beepsky no longer goes after people wielding medical guns
  modular_skyrat/modules/cellguns/code/mediguns.dm
  modular_skyrat/modules/medical/code/smartdarts.dm
Labels: Fix

#12711 [MODULAR] Re-Skyratifies TramStation
  _maps/map_files/readme.md
  _maps/map_files/tramstation/tramstation_skyrat.dmm
Labels: Fix, Map Edit

#12779 [MODULAR] Adds missing stuff to MetaStation from Mapreset
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
Labels: Fix, Map Edit

#12870 Fix for Teshari berets floating off their heads
  modular_skyrat/modules/GAGS/icons/beret_teshari.dmi
Labels: Fix

#12731 [Technically modular] Mesa balancing run number big number
  _maps/RandomZLevels/blackmesa.dmm
  _maps/RandomZLevels/wildwest_skyrat.dmm
  modular_skyrat/modules/awaymissions_skyrat/icons/hecucloth.dmi
  modular_skyrat/modules/awaymissions_skyrat/icons/hecumob.dmi
  modular_skyrat/modules/awaymissions_skyrat/icons/hecumob_digi.dmi
  modular_skyrat/modules/awaymissions_skyrat/icons/hecumob_muzzled.dmi
  modular_skyrat/modules/black_mesa/code/armaments/__armament_bodyarmor.dm
  modular_skyrat/modules/black_mesa/code/armaments/_armament_primary.dm
  modular_skyrat/modules/black_mesa/code/armaments/_armaments_secondary.dm
  modular_skyrat/modules/black_mesa/code/armaments/armament_explosives.dm
  modular_skyrat/modules/black_mesa/code/armaments/armament_medical.dm
  modular_skyrat/modules/black_mesa/code/armaments/armament_melee.dm
  modular_skyrat/modules/black_mesa/code/armaments/armament_utility.dm
  modular_skyrat/modules/black_mesa/code/armor.dm
  modular_skyrat/modules/black_mesa/code/ghost_spawners.dm
  modular_skyrat/modules/black_mesa/code/mobs/headcrab.dm
  modular_skyrat/modules/black_mesa/code/mobs/human_mobs.dm
  modular_skyrat/modules/black_mesa/code/mobs/nihilanth.dm
  modular_skyrat/modules/black_mesa/code/resonance_cascade.dm
  modular_skyrat/modules/black_mesa/code/turrets.dm
  modular_skyrat/modules/gunsgalore/code/guns/ballistic_master.dm
  modular_skyrat/modules/gunsgalore/code/guns/m16.dm
  modular_skyrat/modules/hev_suit/code/hev_suit.dm
  modular_skyrat/modules/opposing_force/code/equipment/ammo.dm
  modular_skyrat/modules/opposing_force/code/items.dm
  tgstation.dme
Labels: Balance/Rebalance, Fix, Map Edit

#12777 Edits a tip to comply with policy.
  strings/tips.txt
Labels: Fix

#12776 Plasmaman Sprite Cleanup
  modular_skyrat/master_files/icons/mob/clothing/head/plasmaman_head.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/plasmaman.dmi
  modular_skyrat/master_files/icons/obj/clothing/head/plasmaman_hats.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/plasmaman.dmi
  modular_skyrat/modules/blueshield/code/blueshield_clothing.dm
  modular_skyrat/modules/goofsec/code/sec_clothing_overrides.dm
Labels: Sprites

#12889 Removes firelocks from windows
  modular_skyrat/master_files/code/game/effects/spawners/structure.dm
  tgstation.dme
Labels: Removal

#12894 buff xenoarch items/machines
  modular_skyrat/modules/xenoarch/code/modules/research/xenoarch/strange_rock.dm
  modular_skyrat/modules/xenoarch/code/modules/research/xenoarch/xenoarch_machine.dm
  modular_skyrat/modules/xenoarch/code/modules/research/xenoarch/xenoarch_reward.dm
  modular_skyrat/modules/xenoarch/code/modules/research/xenoarch/xenoarch_tool.dm
Labels: Balance/Rebalance

#12805 [Modular] Adds Meson eyepatch to selectable cargo/engi gear, adds it to craftable clothing
  modular_skyrat/modules/customization/modules/clothing/glasses/hud.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_glasses.dm
  modular_skyrat/modules/modular_items/code/tailoring.dm
Labels: Feature

#12884 Bong refactor and water vapour removal
  modular_skyrat/modules/bongs/code/bong.dm
Labels: Removal, Refactor

#12827 Quiet Cryo Pods
  _maps/RandomRuins/LavaRuins/skyrat/lavaland_surface_syndicate_base1_skyrat.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/interdynefob.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon.dmm
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  modular_skyrat/modules/cryosleep/code/cryopod.dm
Labels: Map Edit, Quality of Life

#12752 There Is Only One Free Man aka Stop Cloning Gordon Freeman aka Make This Var Standard for new Mob Code
  modular_skyrat/modules/black_mesa/code/mobs/gordon_freeman.dm
Labels: Fix

#12830 Allows borgs to have headshots
  code/modules/mob/living/carbon/human/examine_tgui.dm
Labels: Fix

#12310 [NON-MODULAR] Small MODsuits remaster
  code/modules/mod/mod_activation.dm
  code/modules/mod/mod_clothes.dm
  code/modules/mod/mod_theme.dm
  code/modules/mod/modules/_module.dm
Labels: Test Merged, Content Expansion

#12933 Unfucks ghost role PKA spawns
  modular_skyrat/modules/mapping/code/lavaland_ruin_code.dm
  modular_skyrat/modules/mapping/code/mob_spawns.dm
Labels: Fix

#12744 Crew Monitor Icons
  tgui/packages/tgui/interfaces/CrewConsole.js
Labels: UI, Feature, Removal

#12938 Assault operatives now announce at 15 minutes
  modular_skyrat/modules/assault_operatives/code/assault_operatives.dm
  modular_skyrat/modules/assault_operatives/code/dynamic_rulsesets_roundstart.dm
  modular_skyrat/modules/assault_operatives/code/shuttle.dm
Labels: Test Merged

#12955 Ghost role spawners species lock balloon alert
  code/modules/mob_spawn/mob_spawn.dm
Labels: Fix

#12947 Cryo removes you from messenger list
  modular_skyrat/modules/cryosleep/code/cryopod.dm
Labels: Fix

#12961 MCR renaming adjustment
  modular_skyrat/modules/microfusion/code/microfusion_energy_master.dm
  tgui/packages/tgui/interfaces/MicrofusionGunControl.js
Labels: Fix, Tweak

#12800 [Ready] [Semi-Modular] Roundstart Snails
  code/__HELPERS/~skyrat_helpers/is_helpers.dm
  code/datums/elements/snail_crawl.dm
  code/game/machinery/scan_gate.dm
  code/modules/mob/living/carbon/human/species_types/snail.dm
  code/modules/research/nanites/nanite_programs/sensor.dm
  code/modules/surgery/organs/eyes.dm
  config/game_options.txt
  icons/mob/human_face.dmi
  modular_skyrat/master_files/code/modules/mob/living/carbon/human/species_type/snail.dm
  modular_skyrat/master_files/icons/mob/clothing/back.dmi
  modular_skyrat/master_files/icons/obj/clothing/backpacks.dmi
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species.dm
  modular_skyrat/modules/organs/code/liver.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/ScannerGate.js
Labels: UI, Feature, Balance/Rebalance, Fix, Needs Review, Sprites, Config Update

#12957 Allows the NT Rep to get more M45A5 ammo
  modular_skyrat/modules/modular_weapons/code/autolathe_designs.dm
Labels: Quality of Life

#12940 Heads of staff once again get their guns
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/jobs/job_types/head_of_security.dm
  modular_skyrat/modules/blueshield/code/blueshield.dm
  modular_skyrat/modules/nanotrasen_rep/code/nanotrasen_consultant.dm
  modular_skyrat/modules/sec_haul/code/guns/bullets.dm
  modular_skyrat/modules/sec_haul/code/guns/cmg.dm
Labels: Test Merged

#12956 Ghost role appearance change restriction
  code/modules/mob_spawn/ghost_roles/mining_roles.dm
  code/modules/mob_spawn/ghost_roles/unused_roles.dm
  code/modules/mob_spawn/mob_spawn.dm
  modular_skyrat/modules/black_mesa/code/ghost_spawners.dm
  modular_skyrat/modules/ghostcafe/code/ghost_role_spawners.dm
  modular_skyrat/modules/mapping/code/mob_spawns.dm
Labels: Fix

#12794 Organ spilling tweaks
  code/modules/cargo/supplypod.dm
  code/modules/mob/living/carbon/death.dm
  modular_skyrat/modules/customization/modules/surgery/organs/genitals.dm
  modular_skyrat/modules/customization/modules/surgery/organs/organ.dm
Labels: Fix

#13078 Finally fixed the issues with handling ahelps
  code/modules/admin/verbs/adminhelp.dm
  code/modules/admin/verbs/adminpm.dm
  modular_skyrat/modules/admin/code/admin_help.dm
Labels: Fix

#13097 Gun Cargo balance pass 1
  code/modules/projectiles/guns/ballistic.dm
  modular_skyrat/modules/gun_cargo/code/armament_datums/armadyne.dm
  modular_skyrat/modules/gun_cargo/code/armament_datums/nanotrasen.dm
  modular_skyrat/modules/gunsgalore/code/ammo/ammo.dm
Labels: Balance/Rebalance, Removal, Grammar and Formatting

#13112 Fixes gun cargo orders
  code/modules/shuttle/supply.dm
Labels: Fix, GBP: No Update

#13079 Default Gulag Shuttle fix
  _maps/shuttles/labour_box.dmm
Labels: Fix
