Repository Skyrat-SS13/Skyrat-tg, pull requests merged in 2022-11, with the labels that each got.

#17226 Fixes Commandrobe issues. Adds heads' cloaks and resupply unit.
  modular_skyrat/modules/command_vendor/code/vending.dm
  modular_skyrat/modules/sec_haul/code/misc/packs.dm
Labels: Feature, Fix

#17139 [MODULAR] converts kiwis and banana spiders into basic mobs.
  _maps/RandomRuins/SpaceRuins/skyrat/dangerous_research.dmm
  modular_skyrat/master_files/code/modules/mob/living/simple_animal/friendly/kiwi.dm
  modular_skyrat/modules/basic_mobs/code/bananaspider.dm
  modular_skyrat/modules/basic_mobs/code/kiwi.dm
  modular_skyrat/modules/customization/modules/hydroponics/grown/bananaspider.dm
  tgstation.dme
Labels: Fix, Refactor, hacktoberfest-accepted

#17085 Converts Hawaiian Shirts to GAGS
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  modular_skyrat/modules/GAGS/greyscale_configs.dm
  modular_skyrat/modules/GAGS/icons/hawaiianshirt.dmi
  modular_skyrat/modules/GAGS/json_configs/suits/hawaiianshirt/hawaiianshirt.json
  modular_skyrat/modules/GAGS/json_configs/suits/hawaiianshirt/hawaiianshirt_worn.json
  modular_skyrat/modules/customization/modules/clothing/suits/misc.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_suit.dm
  modular_skyrat/modules/modular_vending/code/clothesmate.dm
Labels: hacktoberfest-accepted, Quality of Life

#17282 Fixes some runtime errors
  code/game/area/areas/ruins/space.dm
  modular_skyrat/modules/mapping/code/space_hotel.dm
Labels: Fix, hacktoberfest-accepted

#17299 [MODULAR] Automapper now supports /turf/template_noop
  _maps/skyrat/automapper/templates/tramstation/tramstation_ntrep_office.dmm
  modular_skyrat/modules/automapper/code/automap_template.dm
  modular_skyrat/modules/automapper/code/automapper_subsystem.dm
Labels: Feature, Mapping

#17260 Fixes some missed hat repaths
  code/modules/jobs/job_types/warden.dm
  modular_skyrat/master_files/code/modules/clothing/anthro_clothes.dm
  modular_skyrat/master_files/code/modules/clothing/clothing_variation_overrides/head.dm
  modular_skyrat/modules/Syndie_edits/code/syndie_edits.dm
  modular_skyrat/modules/aesthetics/clothing/clothing.dm
  modular_skyrat/modules/command_vendor/code/vending.dm
  modular_skyrat/modules/curatorbundle/Ronin.dm
  modular_skyrat/modules/goofsec/code/sec_clothing_overrides.dm
  modular_skyrat/modules/goofsec/code/sol_fed.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_heads.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_masks.dm
  modular_skyrat/modules/mapping/code/mob_spawns.dm
Labels: Fix

#17281 Added a donator item.
  modular_skyrat/master_files/icons/mob/clothing/feet.dmi
  modular_skyrat/master_files/icons/obj/clothing/shoes.dmi
  modular_skyrat/modules/GAGS/greyscale_configs.dm
  modular_skyrat/modules/GAGS/icons/fancyheels.dmi
  modular_skyrat/modules/GAGS/json_configs/shoes/fancyheels/fancyheels.json
  modular_skyrat/modules/GAGS/json_configs/shoes/fancyheels/fancyheels_worn.json
  modular_skyrat/modules/GAGS/json_configs/shoes/heels/heels.json
  modular_skyrat/modules/GAGS/json_configs/shoes/heels/heels_worn.json
  modular_skyrat/modules/customization/modules/clothing/shoes/shoes.dm
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
  modular_skyrat/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_shoes.dm
Labels: Feature, Code Improvement, hacktoberfest-accepted

#17103 Near complete refactor and rework of how forge crafting benches work
  modular_skyrat/modules/reagent_forging/code/crafting_bench.dm
  modular_skyrat/modules/reagent_forging/code/crafting_bench_recipes.dm
  tgstation.dme
Labels: Fix, Refactor, Test Merged, hacktoberfest-accepted, Quality of Life

#16447 Ghost Hotel Update
  code/modules/mapfluff/ruins/spaceruin_code/hilbertshotel.dm
  modular_skyrat/master_files/code/game/turfs/closed/_closed.dm
  modular_skyrat/modules/ghostcafe/code/hilbertshotel_ghost.dm
  modular_skyrat/modules/hotel_rooms/apartment.dmm
  modular_skyrat/modules/liquids/code/height_floors.dm
  tgstation.dme
Labels: Feature, Removal, hacktoberfest-accepted

#17088 Granite's Love pass 5 of X - Whiteship edition
  _maps/RandomRuins/SpaceRuins/whiteshipruin_box_skyrat.dmm
Labels: Balance, hacktoberfest-accepted, Quality of Life

#17296 Hotfix for Upstream Merge 70750 & Anesthetic Machine
  code/__DEFINES/obj_flags.dm
  code/modules/mob/living/carbon/life.dm
  modular_skyrat/modules/better_vox/code/vox_species.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/vox.dm
  modular_skyrat/modules/medical/code/anesthetic_machine.dm
Labels: Fix

#17250 Adds prisoner privacy shutters and minor fixes [Void Raptor]
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Feature, Fix

#17077 Granite's fix for Red decals - aka my OCD can not handle seeing red as blue anymore in SDMM
  modular_skyrat/master_files/code/game/objects/effects/decals/turfdecals/markings.dm
  modular_skyrat/master_files/code/game/objects/effects/decals/turfdecals/tilecoloring.dm
  tgstation.dme
Labels: Sprites, hacktoberfest-accepted, Quality of Life

#17338 Fixes missing Crew manifests on various tablets for roles, mostly service
  code/modules/modular_computers/computers/item/role_tablet_presets.dm
  code/modules/modular_computers/computers/item/tablet.dm
Labels: Fix

#17231 Fixes CO and QM job quirk restrictions
  modular_skyrat/modules/customization/modules/jobs/_job.dm
Labels: Fix, hacktoberfest-accepted

#17253 Fixes some things with borers
  modular_skyrat/modules/cortical_borer/code/cortical_borer_abilities.dm
  modular_skyrat/modules/cortical_borer/code/evolution/evolution_things/empowered_egg.dm
Labels: Fix

#17374 [MISSED MIRROR] Fixes the errant line in the template decal
  icons/turf/decals.dmi
Labels: Fix

#17256 Fixes syndicate saboteurs and lone infiltrators
  code/__DEFINES/role_preferences.dm
  modular_skyrat/master_files/code/game/gamemodes/dynamic/dynamic_rulesets_latejoin.dm
  modular_skyrat/master_files/code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
  modular_skyrat/master_files/code/game/gamemodes/dynamic/dynamic_rulesets_roundstart.dm
  modular_skyrat/master_files/code/modules/antagonists/_common/objectives.dm
  modular_skyrat/master_files/code/modules/antagonists/traitor/datums/datum_traitor.dm
  modular_skyrat/modules/Midroundtraitor/code/event.dm
  tgstation.dme
Labels: Fix

#17327 [MODULAR] [NO GBP] Fixes a Runtime With Quirk Sanitization
  modular_skyrat/modules/customization/modules/client/preferences.dm
Labels: Fix, Test Merged, GBP: No Update

#17056 Refactors like all of forge code, improves the functionality of using it like an oven, these two items are unrelated
  modular_skyrat/modules/reagent_forging/code/forge.dm
  modular_skyrat/modules/reagent_forging/icons/obj/forge_structures.dmi
Labels: Balance, Refactor, hacktoberfest-accepted, Quality of Life

#16892 [MDB IGNORE] Updates Departmental Guard icons, sorts files
  _maps/RandomZLevels/blackmesa.dmm
  modular_skyrat/master_files/icons/mob/clothing/head.dmi
  modular_skyrat/master_files/icons/mob/clothing/suit.dmi
  modular_skyrat/master_files/icons/mob/clothing/suit_digi.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/cargo.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/cargo_digi.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/civilian.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/civilian_digi.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/engineering.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/engineering_digi.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/medical.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/medical_digi.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/rnd.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/rnd_digi.dmi
  modular_skyrat/master_files/icons/obj/clothing/hats.dmi
  modular_skyrat/master_files/icons/obj/clothing/suits.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/cargo.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/civilian.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/engineering.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/medical.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/rnd.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/security.dmi
  modular_skyrat/modules/alternative_job_titles/code/alt_job_titles.dm
  modular_skyrat/modules/goofsec/code/department_guards.dm
Labels: Fix, Sprites, Test Merged, hacktoberfest-accepted

#17230 Hat Sort Pt1: Cowboy Hats
  _maps/RandomRuins/SpaceRuins/spacehotel_skyrat.dmm
  modular_skyrat/master_files/code/modules/clothing/head/cowboy.dm
  modular_skyrat/master_files/icons/mob/clothing/head/cowboy.dmi
  modular_skyrat/master_files/icons/obj/clothing/head/cowboy.dmi
  modular_skyrat/modules/GAGS/greyscale_configs.dm
  modular_skyrat/modules/GAGS/json_configs/head/cowboy/three_layer_hats.json
  modular_skyrat/modules/GAGS/json_configs/head/cowboy/two_layer_hats.json
  modular_skyrat/modules/customization/modules/clothing/head/head.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_heads.dm
  modular_skyrat/modules/modular_vending/code/clothesmate.dm
  tgstation.dme
Labels: Feature

#17254 DNR frees up your job slot.
  code/modules/mob/dead/observer/observer.dm
Labels: Code Improvement

#17408 Fixes various issues with Admin Ticket Handling
  code/modules/admin/verbs/adminhelp.dm
  code/modules/admin/verbs/adminpm.dm
Labels: Fix

#17341 Removes ERT_Factions module (and FTU equipment)
  modular_skyrat/modules/ERT_Factions/FTU/code/items.dm
  modular_skyrat/modules/ERT_Factions/FTU/code/projectiles.dm
  modular_skyrat/modules/ERT_Factions/FTU/icons/clothes/armorhelmets.dmi
  modular_skyrat/modules/ERT_Factions/FTU/icons/clothes/armorsuits.dmi
  modular_skyrat/modules/ERT_Factions/FTU/icons/clothes/objecticons.dmi
  modular_skyrat/modules/ERT_Factions/FTU/icons/weapons/lefthand.dmi
  modular_skyrat/modules/ERT_Factions/FTU/icons/weapons/mags.dmi
  modular_skyrat/modules/ERT_Factions/FTU/icons/weapons/projectiles.dmi
  modular_skyrat/modules/ERT_Factions/FTU/icons/weapons/righthand.dmi
  modular_skyrat/modules/ERT_Factions/FTU/icons/weapons/serviceguns.dmi
  modular_skyrat/modules/ERT_Factions/FTU/sound/ignis_hit.ogg
  modular_skyrat/modules/ERT_Factions/FTU/sound/ignis_toggle.ogg
  modular_skyrat/modules/ERT_Factions/FTU/sound/magnum_slide.ogg
  modular_skyrat/modules/ERT_Factions/FTU/sound/r37.ogg
  modular_skyrat/modules/ERT_Factions/FTU/sound/r40.ogg
  modular_skyrat/modules/ERT_Factions/FTU/sound/serpent_fire.ogg
  tgstation.dme
Labels: Removal

#17378 MCR crates have better contents
  modular_skyrat/modules/gun_cargo/code/armament_datums/micron.dm
  modular_skyrat/modules/microfusion/code/cargo_stuff.dm
  modular_skyrat/modules/microfusion/code/gun_types.dm
Labels: Quality of Life

#17373 Resprites the cryo pods.
  modular_skyrat/modules/cryosleep/icons/cryogenics.dmi
Labels: Sprites

#17322 [MODULAR] Fixes Bureaucratic Error Being Spawned by Chaos For Sure!
  modular_skyrat/modules/event_vote/code/event_chaos_system.dm
Labels: Fix, Config Update

#17439 [MISSED MIRROR] Giant Spider action fixes & Action feedback
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_main.dm
  code/__DEFINES/traits.dm
  code/__HELPERS/mobs.dm
  code/__HELPERS/roundend.dm
  code/controllers/subsystem/vote.dm
  code/datums/actions/action.dm
  code/datums/actions/cooldown_action.dm
  code/datums/actions/innate_action.dm
  code/datums/actions/items/organ_action.dm
  code/datums/actions/items/toggles.dm
  code/datums/actions/items/vortex_recall.dm
  code/datums/components/mind_linker.dm
  code/datums/dash_weapon.dm
  code/modules/antagonists/_common/antag_datum.dm
  code/modules/antagonists/cult/blood_magic.dm
  code/modules/antagonists/cult/cult_comms.dm
  code/modules/antagonists/cult/cult_items.dm
  code/modules/antagonists/cult/rune_spawn_action.dm
  code/modules/antagonists/heretic/heretic_living_heart.dm
  code/modules/antagonists/heretic/magic/expand_sight.dm
  code/modules/antagonists/heretic/structures/carving_knife.dm
  code/modules/antagonists/traitor/equipment/Malf_Modules.dm
  code/modules/clothing/chameleon.dm
  code/modules/mining/lavaland/tendril_loot.dm
  code/modules/mob/living/carbon/alien/adult/alien_powers.dm
  code/modules/mob/living/carbon/alien/adult/caste/drone.dm
  code/modules/mob/living/carbon/alien/adult/caste/praetorian.dm
  code/modules/mob/living/carbon/alien/adult/queen.dm
  code/modules/mob/living/carbon/alien/larva/powers.dm
  code/modules/mob/living/carbon/human/species_types/golems.dm
  code/modules/mob/living/carbon/human/species_types/jellypeople.dm
  code/modules/mob/living/silicon/robot/robot_model.dm
  code/modules/mob/living/simple_animal/bot/vibebot.dm
  code/modules/mob/living/simple_animal/hostile/bosses/paperwizard.dm
  code/modules/mob/living/simple_animal/hostile/giant_spider.dm
  code/modules/mob/living/simple_animal/hostile/megafauna/colossus.dm
  code/modules/mob/living/simple_animal/hostile/ooze.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/clown.dm
  code/modules/mob/living/simple_animal/slime/powers.dm
  code/modules/mod/mod_actions.dm
  code/modules/research/xenobiology/crossbreeding/_clothing.dm
  code/modules/spells/spell.dm
  code/modules/spells/spell_types/pointed/swap.dm
  code/modules/spells/spell_types/teleport/teleport.dm
  code/modules/surgery/organs/vocal_cords.dm
  modular_skyrat/modules/event_vote/code/event_vote.dm
  modular_skyrat/modules/opposing_force/code/opposing_force_datum.dm
  modular_skyrat/modules/xenos_skyrat_redo/code/base_skyrat_xeno.dm
  modular_skyrat/modules/xenos_skyrat_redo/code/larva.dm
  modular_skyrat/modules/xenos_skyrat_redo/code/xeno_types/defender.dm
  modular_skyrat/modules/xenos_skyrat_redo/code/xeno_types/sentinel.dm
Labels: Fix, Quality of Life, Manual Mirror

#17462 [Missed Mirror] Cleanbot fixes and adjustments
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/mob/living/simple_animal/bot/cleanbot.dm
  code/modules/mob/living/simple_animal/bot/firebot.dm
  code/modules/mob/living/simple_animal/bot/floorbot.dm
  code/modules/mob/living/simple_animal/bot/medbot.dm
  code/modules/mob/living/simple_animal/bot/mulebot.dm
Labels: Fix, Quality of Life

#17440 Undoes every skyrat change to the plasma cutter projectiles file
  code/modules/projectiles/projectile/special/plasma.dm
Labels: Balance

#17457 fix loadout cap colour
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_heads.dm
Labels: Fix

#17451 Makes regular pillows craftable, as intended
  modular_skyrat/master_files/code/game/objects/items/stacks/sheets/sheet_types.dm
Labels: Fix

#17336 [MODULAR] [Space Ruins] Space Hotel touch ups + some code facing tweaks.
  _maps/RandomRuins/SpaceRuins/spacehotel_skyrat.dmm
  code/game/area/areas/ruins/space.dm
  modular_skyrat/modules/mapping/code/areas/space.dm
Labels: Fix

#17430 updates rocks, stones even
  _maps/map_files/Blueshift/BlueShift_middle.dmm
  modular_skyrat/modules/stone/code/ore_veins.dm
  modular_skyrat/modules/stone/code/stone.dm
  modular_skyrat/modules/stone/icons/ore.dmi
  modular_skyrat/modules/stone/icons/wall.dmi
Labels: Balance, Sprites

#17427 Removes thieving gloves from the uplink
  modular_skyrat/modules/modular_items/code/thieving_gloves.dm
Labels: Removal

#17319 Fixes the ghost role spawner spawning a naked human while waiting on you to decide whether you want to use the character from your preferences or not
  code/modules/mob_spawn/mob_spawn.dm
  modular_skyrat/master_files/code/modules/mob_spawn/mob_spawn.dm
  tgstation.dme
Labels: Fix

#17368 Makes the holocarp uplink item a subtype of the holoparasites one.
  modular_skyrat/master_files/code/modules/uplink/uplink_items.dm
Labels: Balance

#17232 Flavor role for Security Officer.
  modular_skyrat/modules/alternative_job_titles/code/alt_job_titles.dm
Labels: Feature

#17433 The Skyrat underwear resprite
  modular_skyrat/master_files/icons/mob/clothing/underwear.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories.dm
Labels: Sprites

#17432 [MODULAR] Fixes more bad clothing variation overrides
  modular_skyrat/master_files/code/modules/clothing/clothing_variation_overrides/head.dm
  modular_skyrat/master_files/code/modules/clothing/clothing_variation_overrides/mask.dm
  modular_skyrat/master_files/code/modules/clothing/clothing_variation_overrides/suit.dm
  modular_skyrat/master_files/code/modules/clothing/clothing_variation_overrides/under.dm
  modular_skyrat/modules/blueshield/code/blueshield_clothing.dm
  modular_skyrat/modules/customization/modules/clothing/under/security.dm
  modular_skyrat/modules/modular_vending/code/wardrobes.dm
  modular_skyrat/modules/moretraitoritems/code/mafioso.dm
  modular_skyrat/modules/moretraitoritems/code/syndicate_loadout.dm
Labels: Fix

#17454 Fixes Pepperball Ammo Box icons
  modular_skyrat/modules/sec_haul/code/guns/pepperball_gun.dm
  modular_skyrat/modules/sec_haul/icons/guns/ammoboxes.dmi
Labels: Fix

#17493 [MANUAL MIRRORS] #71201, #71247 and #71143
  code/datums/components/cleaner.dm
  code/modules/hydroponics/plant_genes.dm
Labels: Fix

#17492 [MANUAL MIRROR] R[D]evamp - Secret Door
  _maps/map_files/Blueshift/BlueShift_upper.dmm
  code/game/objects/items/storage/garment.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/suits/labcoat.dm
  code/modules/clothing/under/jobs/rnd.dm
  code/modules/jobs/job_types/research_director.dm
  code/modules/vending/wardrobes.dm
  icons/mob/clothing/suits/labcoat.dmi
  icons/mob/clothing/under/rnd.dmi
  icons/obj/clothing/suits/labcoat.dmi
  icons/obj/clothing/under/rnd.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/rnd.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/rnd_digi.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/rnd.dmi
  modular_skyrat/modules/command_vendor/code/vending.dm
  modular_skyrat/modules/customization/modules/clothing/head/jobs.dm
  modular_skyrat/modules/teshari/code/teshari_clothes.dm
  modular_skyrat/modules/vox_sprites/code/head.dm
Labels: Feature, Sprites

#17516 [Ruins] Fixes active turfs in the SR Box Whiteship
  _maps/RandomRuins/SpaceRuins/whiteshipruin_box_skyrat.dmm
Labels: Fix

#16833 NRI raider ship maintenance PR
  _maps/shuttles/skyrat/pirate_enclave.dmm
  _maps/shuttles/skyrat/pirate_nri_raider.dmm
  code/__DEFINES/sound.dm
  code/modules/events/ghost_role/pirates.dm
  modular_skyrat/modules/alerts/code/default_announcer.dm
  modular_skyrat/modules/assault_operatives/code/base_alarm.dm
  modular_skyrat/modules/central_command_module/code/computers/command_report_computer.dm
  modular_skyrat/modules/encounters/code/enclave_pirates.dm
  modular_skyrat/modules/encounters/code/nri_raiders.dm
  modular_skyrat/modules/encounters/icons/turrets.dmi
  modular_skyrat/modules/encounters/sounds/alarm_radio.ogg
  modular_skyrat/modules/encounters/sounds/alarm_small_09.ogg
  modular_skyrat/modules/encounters/sounds/engine_ignit_int.ogg
  modular_skyrat/modules/encounters/sounds/env_horn.ogg
  modular_skyrat/modules/encounters/sounds/env_ship_down.ogg
  modular_skyrat/modules/encounters/sounds/env_ship_idle.ogg
  modular_skyrat/modules/encounters/sounds/gear_loop.ogg
  modular_skyrat/modules/encounters/sounds/gear_start.ogg
  modular_skyrat/modules/encounters/sounds/gear_stop.ogg
  modular_skyrat/modules/encounters/sounds/intercom_loop.ogg
  modular_skyrat/modules/encounters/sounds/morse.ogg
  modular_skyrat/modules/encounters/sounds/shell_out_tiny.ogg
  modular_skyrat/modules/event_vote/code/event_chaos_system.dm
  modular_skyrat/modules/novaya_ert/code/mod_suit.dm
  tgstation.dme
Labels: Feature, Fix, hacktoberfest-accepted

#17470 [MODULARIZING] Removes Our Tongue Modifications for a Better Solution!
  code/modules/surgery/organs/tongue.dm
  modular_skyrat/master_files/code/modules/client/preferences/middleware/languages.dm
  modular_skyrat/master_files/code/modules/surgery/organs/tongue.dm
  tgstation.dme
Labels: Fix, Removal, Code Improvement

#17507 Fixes chest-covering underwear not hiding chests
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/genitals.dm
Labels: Fix

#17290 Hemophagus: The Hemophage Revamp, Part Two: Blood Surge
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/hemophage.dm
  modular_skyrat/modules/organs/icons/hemophage_organs.dmi
Labels: Balance, Sprites, Refactor, Test Merged

#16043 NuInterlink, or as I like to call it, the Evac Shuttle now docks at the Interlink
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  _maps/skyrat/automapper/templates/centcom/centcom_shuttle_dock.dmm
  modular_skyrat/modules/mapping/code/doors.dm
  modular_skyrat/modules/mapping/code/fence.dm
  modular_skyrat/modules/mapping/code/shutters.dm
  tgstation.dme
Labels: Feature, Removal, Test Merged

#17544 [FUCK] [NO GBP] Yeah, fixes something in NuInterlink(?)
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
Labels: Fix, FUCK, GBP: No Update

#17548 [MIRROR] Adds Sabrage [MDB IGNORE]
  code/__DEFINES/traits.dm
  code/datums/mood_events/generic_negative_events.dm
  code/datums/mood_events/generic_positive_events.dm
  code/modules/jobs/job_types/captain.dm
  code/modules/library/skill_learning/skillchip.dm
  code/modules/reagents/reagent_containers/cups/drinks.dm
  code/modules/reagents/reagent_containers/cups/glassbottle.dm
  code/modules/vending/games.dm
  icons/obj/drinks.dmi
Labels: Upstream PR Merged, GBP: No Update

#17445 Adds 2 new head markings-- Monster mouth and Blank round face
  modular_skyrat/master_files/icons/mob/body_markings/other_markings.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/body_markings/body_markings.dm
Labels: Feature, Sprites

#17459 Fixes random event Disease Outbreak: Advanced
  modular_skyrat/master_files/code/modules/events/disease_outbreak.dm
  tgstation.dme
Labels: Fix

#17553 [FUCK][MODULAR] Fixes tram linear induction plates
  modular_skyrat/modules/aesthetics/floors/icons/floors.dmi
Labels: Sprites, FUCK

#16025 Teshari sprite pack 5: Blood Money
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/feet.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/head.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/mask.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/suit.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/uniform.dmi
  modular_skyrat/modules/GAGS/greyscale_configs.dm
  modular_skyrat/modules/GAGS/icons/dressteshari.dmi
  modular_skyrat/modules/GAGS/icons/teshari_fallbacks.dmi
  modular_skyrat/modules/teshari/code/teshari_clothes.dm
Labels: Sprites

#17569 [OOPS] Fixes template-noop in AM
  modular_skyrat/modules/automapper/code/automapper_subsystem.dm
Labels: Fix, FUCK

#17572 [AM] Update to some of Metas maps
  _maps/skyrat/automapper/automapper_config.toml
  _maps/skyrat/automapper/templates/metastation/metastation_barber.dmm
  _maps/skyrat/automapper/templates/metastation/metastation_cryo.dmm
  _maps/skyrat/automapper/templates/metastation/metastation_ntrep_office.dmm
Labels: Quality of Life

#17574 [AM] Update to some of Trams maps
  _maps/skyrat/automapper/automapper_config.toml
  _maps/skyrat/automapper/templates/tramstation/tramstation_armory.dmm
  _maps/skyrat/automapper/templates/tramstation/tramstation_barber.dmm
  _maps/skyrat/automapper/templates/tramstation/tramstation_ntrep_office.dmm
Labels: Quality of Life

#17575 [AM] Update to some of Kilos maps
  _maps/skyrat/automapper/automapper_config.toml
  _maps/skyrat/automapper/templates/kilostation/kilostation_armory.dmm
  _maps/skyrat/automapper/templates/kilostation/kilostation_ert_bay.dmm
Labels: Quality of Life

#17423 Fixes Sofa In Void Raptor Prison
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Fix, Mapping

#17388 Tarkon Tidings 2: I forgot to think of something funny (Fixes stuff)
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/defcon2.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/defcon3.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/defcon4.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/defcon5.dmm
  modular_skyrat/modules/projectiles/code/guns/misc/m6pdw.dm
Labels: Fix, Mapping

#17573 [AM] Update to some of Ice Boxes maps
  _maps/skyrat/automapper/automapper_config.toml
  _maps/skyrat/automapper/templates/icebox/icebox_armory_middle.dmm
  _maps/skyrat/automapper/templates/icebox/icebox_armory_top.dmm
  _maps/skyrat/automapper/templates/icebox/icebox_barber.dmm
  _maps/skyrat/automapper/templates/icebox/icebox_cryo.dmm
Labels: Quality of Life

#17542 [MODULAR] Removes the most useless ruin in code
  _maps/RandomRuins/SpaceRuins/skyrat/completelynormalspacetile.dmm
  modular_skyrat/modules/mapping/code/space.dm
Labels: Removal

#17441 Removes the firefighter and any ability to make it
  _maps/RandomRuins/SpaceRuins/skyrat/vaulttango.dmm
  code/modules/research/techweb/all_nodes.dm
  modular_skyrat/modules/firefighter/code/firefighter.dm
  modular_skyrat/modules/firefighter/icons/firefighter.dmi
  modular_skyrat/modules/firefighter/icons/firefighter_equipment.dmi
  modular_skyrat/modules/firefighter/readme.md
  tgstation.dme
Labels: Removal

#17381 Fixes VoidRaptor's wacky area mismanagement - aka Granite's eye doesnt twitch anymore
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Fix, Mapping

#17557 Teshari sprite pack 6: Marking them up some
  modular_skyrat/master_files/icons/mob/body_markings/secondary_markings.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/body_markings/body_markings.dm
Labels: Sprites

#17590 adds a greyscale coat with a concerningly high number of colorable sections
  modular_skyrat/modules/GAGS/greyscale_configs.dm
  modular_skyrat/modules/GAGS/icons/suit/suit.dmi
  modular_skyrat/modules/GAGS/json_configs/suits/tailored_jacket/tailored_jacket.json
  modular_skyrat/modules/GAGS/json_configs/suits/tailored_jacket/tailored_jacket_worn.json
  modular_skyrat/modules/customization/modules/clothing/suits/coats.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_suit.dm
Labels: Feature

#17589 [MODULAR] Dept-Sec equipment adjustment
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  modular_skyrat/modules/goofsec/code/department_guards.dm
Labels: Removal, Quality of Life

#17594 Hotfix for Upstream Merge 71265
  _maps/map_files/Blueshift/BlueShift_middle.dmm
  code/__DEFINES/~skyrat_defines/jobs.dm
  code/datums/components/sign_language.dm
  code/datums/quirks/negative.dm
  modular_skyrat/master_files/code/datums/traits/negative.dm
  modular_skyrat/modules/customization/modules/jobs/_job.dm
Labels: Feature

#17450 The xeno hybrid refurbishing.
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_xeno.png
  modular_skyrat/master_files/icons/mob/body_markings/tertiary_markings.dmi
  modular_skyrat/master_files/icons/mob/sprite_accessory/xeno_parts.dmi
  modular_skyrat/modules/bodyparts/icons/xeno_parts_greyscale.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/xeno.dm
Labels: Sprites

#17656 Snake tail resprites (The tail, not the taur legs. Don't worry.)
  modular_skyrat/master_files/icons/mob/sprite_accessory/tails.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/tails.dm
Labels: Sprites

#17431 Reworks (sort of) the Armadyne PMC
  modular_skyrat/modules/sec_haul/code/guns/guns.dm
  modular_skyrat/modules/sec_haul/code/guns/token_system/gunsets.dm
  modular_skyrat/modules/sec_haul/code/peacekeeper/armadyne_clothing.dm
  modular_skyrat/modules/sec_haul/icons/guns/pdh.dmi
Labels: Balance

#17508 Gets rid of both ballistic gun fowling* and ballistic emp fulnerability
  code/modules/projectiles/guns/ballistic/rifle.dm
  modular_skyrat/master_files/code/modules/projectiles/guns/ballistic/automatic.dm
  modular_skyrat/modules/aesthetics/guns/code/guns.dm
  modular_skyrat/modules/assault_operatives/code/armaments/armament_utility.dm
  modular_skyrat/modules/black_mesa/code/guns.dm
  modular_skyrat/modules/cargo/code/goodies.dm
  modular_skyrat/modules/gun_cargo/code/gun_companies.dm
  modular_skyrat/modules/gun_cargo/code/objects/guns/izhevsk.dm
  modular_skyrat/modules/gun_cargo/code/objects/guns/oldarms.dm
  modular_skyrat/modules/gunhud/code/gun_hud_component.dm
  modular_skyrat/modules/gunsgalore/code/guns/akm.dm
  modular_skyrat/modules/gunsgalore/code/guns/ballistic_master.dm
  modular_skyrat/modules/gunsgalore/code/guns/fg42.dm
  modular_skyrat/modules/gunsgalore/code/guns/m16.dm
  modular_skyrat/modules/gunsgalore/code/guns/mg34.dm
  modular_skyrat/modules/gunsgalore/code/guns/mp40.dm
  modular_skyrat/modules/gunsgalore/code/guns/p90.dm
  modular_skyrat/modules/gunsgalore/code/guns/pps.dm
  modular_skyrat/modules/gunsgalore/code/guns/ppsh.dm
  modular_skyrat/modules/gunsgalore/code/guns/scar.dm
  modular_skyrat/modules/gunsgalore/code/guns/stg.dm
  modular_skyrat/modules/marines/code/gear.dm
  modular_skyrat/modules/marines/code/smartgun.dm
  modular_skyrat/modules/modular_weapons/code/automatic.dm
  modular_skyrat/modules/modular_weapons/code/pistol.dm
  modular_skyrat/modules/modular_weapons/code/revolver.dm
  modular_skyrat/modules/modular_weapons/code/rifle.dm
  modular_skyrat/modules/nanotrasen_rep/code/m45a5.dm
  modular_skyrat/modules/novaya_ert/code/automatic.dm
  modular_skyrat/modules/projectiles/code/guns/misc/m6pdw.dm
  modular_skyrat/modules/sec_haul/code/guns/guns.dm
  modular_skyrat/modules/sec_haul/code/guns/pepperball_gun.dm
  modular_skyrat/modules/sec_haul/code/guns/token_system/gunsets.dm
Labels: Balance, Removal

#17631 [MIRROR] Changes check_grep to use ripgrep and reformats/cleans up the check_grep file
  .github/workflows/ci_suite.yml
  _maps/shuttles/whiteship_obelisk.dmm
  _maps/shuttles/whiteship_personalshuttle.dmm
  _maps/shuttles/whiteship_pubby.dmm
  code/modules/food_and_drinks/machinery/coffeemaker.dm
  code/modules/projectiles/guns/special/syringe_gun.dm
  code/modules/reagents/reagent_dispenser.dm
  tools/ci/check_grep.sh
Labels: Tools, GitHub, Manual Mirror

#17688 [MIRROR] Adds chromosome effects to Cryokinesis, Shocktouch, Chameleon, and Webbing mutations.
  code/datums/mutations/chameleon.dm
  code/datums/mutations/cold.dm
  code/datums/mutations/touch.dm
  code/datums/mutations/webbing.dm
Labels: GBP: No Update, Manual Mirror

#17702 [FUCK] Adds the missed Auto Changelog workflow
  .github/workflows/auto_changelog.yml
Labels: Upstream PR Merged, GitHub

#17690 Re-removes the detomatix from the uplink
  code/modules/uplink/uplink_items/explosive.dm
Labels: Removal, GBP: No Update

#16787 [MODULAR] Engineering staff have increased access on orange alert
  modular_skyrat/modules/aesthetics/airlock/code/airlock.dm
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/centcom/overlays.dmi
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/external/overlays.dmi
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/hatch/overlays.dmi
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/highsec/overlays.dmi
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/multi_tile/overlays.dmi
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/station/overlays.dmi
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/station2/overlays.dmi
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/vault/overlays.dmi
  modular_skyrat/modules/aesthetics/firealarm/icons/firealarm.dmi
  modular_skyrat/modules/engineering_override/code/engineering_override.dm
  modular_skyrat/modules/engineering_override/readme.md
  tgstation.dme
Labels: Feature, Refactor, hacktoberfest-accepted

#17607 JSON Savefile port
  code/__DEFINES/client.dm
  code/datums/json_savefile.dm
  code/datums/mocking/client.dm
  code/modules/client/preferences.dm
  code/modules/client/preferences/_preference.dm
  code/modules/client/preferences/migrations/body_type_migration.dm
  code/modules/client/preferences/migrations/convert_to_json_savefile.dm
  code/modules/client/preferences_savefile.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/anonymous_themes.dm
  code/modules/unit_tests/json_savefile_importing.dm
  code/modules/unit_tests/nuke_cinematic.dm
  code/modules/unit_tests/preferences.dm
  code/modules/unit_tests/security_officer_distribution.dm
  modular_skyrat/master_files/code/modules/client/preferences/tgui_prefs_migration.dm
  modular_skyrat/master_files/code/modules/client/preferences_savefile.dm
  tgstation.dme
Labels: Upstream PR Merged

#17229 [MODULAR] Complete DS2 remap + 2 new syndicate spawners
  _maps/RandomRuins/SpaceRuins/skyrat/interdynefob.dmm
  code/__DEFINES/~skyrat_defines/atom_hud.dm
  modular_skyrat/master_files/code/datums/id_trim/syndicate.dm
  modular_skyrat/master_files/code/game/objects/items/cards_ids.dm
  modular_skyrat/master_files/code/modules/mob/living/simple_animal/friendly/syndicatefox.dm
  modular_skyrat/master_files/icons/mob/huds/hud.dmi
  modular_skyrat/master_files/icons/mob/pets.dmi
  modular_skyrat/master_files/icons/obj/card.dmi
  modular_skyrat/modules/aesthetics/guns/code/guns.dm
  modular_skyrat/modules/aesthetics/guns/icons/guns.dmi
  modular_skyrat/modules/aesthetics/guns/icons/guns_back.dmi
  modular_skyrat/modules/aesthetics/guns/icons/guns_lefthand.dmi
  modular_skyrat/modules/aesthetics/guns/icons/guns_righthand.dmi
  modular_skyrat/modules/mapping/code/areas/space.dm
  modular_skyrat/modules/mapping/code/mob_spawns.dm
  modular_skyrat/modules/mapping/icons/turf/turf_decals.dmi
  tgstation.dme
Labels: Feature, Test Merged

#17714 [MODULAR] Tram sprite future compatibility
  modular_skyrat/modules/aesthetics/floors/icons/floors.dmi
Labels: Fix

#17759 Xenos can now only spawn from dynamic
  code/game/objects/effects/spawners/random/medical.dm
Labels: Fix

#17769 Adds myself as a code owner of the mapping module
  .github/CODEOWNERS
Labels: GitHub

#17764 [NO GBP] Stops hiding chests when underwear is hidden
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/genitals.dm
Labels: Fix, GBP: No Update

#17416 Extended chest alphabet
  modular_skyrat/master_files/code/modules/client/preferences/genitals.dm
  modular_skyrat/modules/customization/_globalvars/lists.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/roundstartslime.dm
Labels: Feature

#17775 Autodrobe has skyrat clothes in it again
  modular_skyrat/modules/modular_vending/code/autodrobe.dm
Labels: Fix

#17780 [Manual Mirror] Hydroponics produce resprite
  icons/obj/hydroponics/harvest.dmi
Labels: Sprites

#17774 [Fixes Broken Mirror: #14965] Greyscales ID Trims
  code/__HELPERS/~skyrat_helpers/level_traits.dm
  modular_skyrat/master_files/code/datums/id_trim/jobs.dm
  modular_skyrat/master_files/code/datums/id_trim/solfed.dm
  modular_skyrat/master_files/code/datums/id_trim/syndicate.dm
  modular_skyrat/master_files/icons/obj/card.dmi
  modular_skyrat/modules/contractor/code/datums/midround/trim.dm
  modular_skyrat/modules/encounters/code/nri_raiders.dm
  modular_skyrat/modules/goofsec/code/department_guards.dm
  modular_skyrat/modules/icspawning/code/cards_ids.dm
  modular_skyrat/modules/novaya_ert/code/id.dm
Labels: Fix

#17735 Departmental Apprenticeships
  modular_skyrat/modules/alternative_job_titles/code/alt_job_titles.dm
Labels: Feature

#17758 Removes what's left of blueshift for now
  _maps/_basemap.dm
  _maps/blueshift.json
  _maps/map_files/Blueshift/BlueShift_lower.dmm
  _maps/map_files/Blueshift/BlueShift_middle.dmm
  _maps/map_files/Blueshift/BlueShift_upper.dmm
  modular_skyrat/modules/automapper/code/area_spawn_subsystem.dm
Labels: Removal

#17608 Teshari sprite pack (?): The non canon spinoff that improves the look of things
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/accessories.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/back.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/hands.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/head.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/neck.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/suit.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/uniform.dmi
  modular_skyrat/modules/customization/modules/clothing/hands/hands.dm
Labels: Sprites

#17678 IPC body part resprites part 1 (aka how I learned how awful IPC icon code is :) )
  modular_skyrat/master_files/icons/mob/augmentation/mcgipc.dmi
  modular_skyrat/master_files/icons/mob/augmentation/sgmipc.dmi
  modular_skyrat/master_files/icons/mob/augmentation/wtmipc.dmi
  modular_skyrat/master_files/icons/mob/augmentation/zhpipc.dmi
  modular_skyrat/modules/bodyparts/icons/ipc_parts.dmi
Labels: Sprites

#17701 Removes redundant random old bluesec sprites from the sprite accessories folder, why it was there, I don't know.
  modular_skyrat/master_files/icons/mob/sprite_accessory/conversion.dmi
  modular_skyrat/master_files/icons/mob/sprite_accessory/final.dmi
Labels: Removal

#17781 Tweaks Bolt/Denied light to be a redder red, Changes Engineering alert light color to Orange
  modular_skyrat/modules/aesthetics/airlock/code/airlock.dm
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/centcom/overlays.dmi
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/external/overlays.dmi
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/hatch/overlays.dmi
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/highsec/overlays.dmi
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/multi_tile/overlays.dmi
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/station/overlays.dmi
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/station2/overlays.dmi
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/vault/overlays.dmi
Labels: Quality of Life

#17760 [Void Raptor] Fixes an active turf and adds disposal to the law + det offices (as well as mail sorting).
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Fix

#17806 [MANUAL MIRROR] Tram Malfunction successfully announces 'successfully'
  code/modules/events/tram_malfunction.dm
Labels: Grammar and Formatting

#17805 [MANUAL MIRROR] Removes message admins for tram malfunction failing to run
  code/modules/events/tram_malfunction.dm
Labels: Removal, Administration

#17810 [MODULAR] Fixes amber, violet, and orange alert escape shuttle time modifiers
  modular_skyrat/modules/alerts/code/security_level_datums.dm
Labels: Fix

#17577 Abductors no longer get objectives
  code/modules/antagonists/abductor/abductor.dm
Labels: Removal, Stale

#17761 [Void Raptor] Dept Sec tweaks, access adjustments, minor stuff
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Fix

#17762 [Void Raptor] De-fuckifies some of the area defines, and touchs up some r-wall usage
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Fix

#17604 [Modular] Smuggling Satchels Refined: Actual Contraband This Time.
  code/game/objects/items/storage/backpack.dm
  modular_skyrat/master_files/code/game/objects/items/storage/backpack.dm
  tgstation.dme
Labels: Balance

#17269 New default laws for Silicon
  code/modules/mob/living/silicon/robot/robot_model.dm
  config/silicon_laws.txt
  modular_skyrat/modules/sec_haul/code/misc/ai_module.dm
Labels: Administration, Config Update, Test Merged
