Repository Skyrat-SS13/Skyrat-tg, pull requests merged in 2022-01, with the labels that each got.

#10372 [MODULAR] All Shotguns in the armory are now Riot Shotguns that load normal shotgun shells.
  modular_skyrat/modules/sec_haul/code/guns/gun_spawns.dm
Labels: Balance/Rebalance

#10371 [Modular] Places modular pets back into our maps
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/KiloStation/KiloStation_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
Labels: Map Edit

#10386 Barboza equipment list Vol 1
  code/__DEFINES/~skyrat_defines/opposing_force_defines.dm
  modular_skyrat/modules/opposing_force/code/items.dm
  modular_skyrat/modules/opposing_force/code/opposing_force_equipment.dm
  modular_skyrat/modules/sec_haul/code/guns/guns.dm
Labels: Feature, Balance/Rebalance

#10387 [Modular] Adds new beak sprite (small)
  modular_skyrat/master_files/icons/mob/sprite_accessory/snouts.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/snout.dm
Labels: Sprites

#10391 Fixes regression of interdyne and other faction radios
  code/game/objects/items/devices/radio/radio.dm
Labels: Fix

#10392 adds tactical pants
  modular_skyrat/master_files/icons/mob/clothing/uniform.dmi
  modular_skyrat/master_files/icons/mob/clothing/uniform_digi.dmi
  modular_skyrat/master_files/icons/obj/clothing/uniforms.dmi
  modular_skyrat/modules/customization/modules/clothing/under/costumes.dm
  modular_skyrat/modules/loadouts/loadout_items/under/loadout_datum_under.dm
  modular_skyrat/modules/modular_vending/code/autodrobe.dm
Labels: Feature

#10393 [MODULAR] Adds Transit Tube Dispensers to Icebox and Deltastation.
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
Labels: Map Edit

#10399 [MODULAR] Only half of the Sol-Fed response needs to vote for an upgrade in severity.
  modular_skyrat/modules/goofsec/code/sol_fed.dm
Labels: Balance/Rebalance

#10368 [MODULAR] Guns Galore Rebalance
  modular_skyrat/master_files/code/modules/awaymission/mission_code/black_mesa.dm
  modular_skyrat/modules/gunsgalore/code/guns/akm/akm.dm
  modular_skyrat/modules/gunsgalore/code/guns/fg42/fg42.dm
  modular_skyrat/modules/gunsgalore/code/guns/m16/m16.dm
  modular_skyrat/modules/gunsgalore/code/guns/mp40/mp40.dm
  modular_skyrat/modules/gunsgalore/code/guns/ppsh/ppsh.dm
  modular_skyrat/modules/gunsgalore/code/guns/stg/stg.dm
Labels: Balance/Rebalance, Fix, Grammar and Formatting

#10364 Fixes security helmet visor/flashlight interaction
  modular_skyrat/master_files/icons/mob/clothing/head.dmi
  modular_skyrat/master_files/icons/mob/clothing/head_muzzled.dmi
  modular_skyrat/modules/goofsec/code/sec_clothing_overrides.dm
Labels: Fix

#10273 MODsuit Digitigrade and Muzzled Variants!
  code/__DEFINES/inventory.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mod/mod_activation.dm
  code/modules/mod/modules/_module.dm
  code/modules/surgery/bodyparts/helpers.dm
  modular_skyrat/master_files/code/modules/mod/mod_clothes.dm
  modular_skyrat/master_files/code/modules/mod/modules/_module.dm
  modular_skyrat/master_files/code/modules/mod/modules/modules_antag.dm
  modular_skyrat/master_files/icons/mob/clothing/head_muzzled.dmi
  modular_skyrat/master_files/icons/mob/mod.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories.dm
  tgstation.dme
Labels: Fix, Code Improvement, Sprites, Test Merged

#10421 Fixes whitespace issues in modular maps that literally blocked my Git client
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
Labels: Fix, Map Edit, DEVCON 2

#10428 Db telemetry stuff
  SQL/database_changelog.txt
  SQL/tgstation_schema.sql
  SQL/tgstation_schema_prefixed.sql
  code/__DEFINES/subsystems.dm
  code/modules/tgui_panel/telemetry.dm
Labels: SQL

#10326 [MODULAR] Helltaker Subtle References Pt. 2
  modular_skyrat/master_files/icons/mob/clothing/uniform.dmi
  modular_skyrat/master_files/icons/obj/clothing/uniforms.dmi
  modular_skyrat/modules/customization/modules/clothing/under/misc.dm
  modular_skyrat/modules/loadouts/loadout_items/under/loadout_datum_under.dm
  modular_skyrat/modules/modular_vending/code/clothesmate.dm
  modular_skyrat/modules/modular_vending/code/wardrobes.dm
Labels: Feature

#10433 TGUI Crew Monitor & Crew Manifest job fixes
  code/game/machinery/computer/crew.dm
  tgui/packages/tgui/interfaces/CrewConsole.js
  tgui/packages/tgui/interfaces/CrewManifest.js
Labels: UI, Fix

#10438 fake sunglasses
  modular_skyrat/modules/customization/modules/clothing/glasses/glasses.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_glasses.dm
Labels: Feature

#10439 Adds old-style peacekeeper variants to sec vendors
  modular_skyrat/modules/goofsec/code/sec_clothing_overrides.dm
  modular_skyrat/modules/sec_haul/code/misc/vending.dm
Labels: Feature

#10305 [MODULAR] The breaching hammer is now exclusively for breaching doors.
  modular_skyrat/modules/sec_haul/code/peacekeeper/peacekeeper_hammer.dm
Labels: Balance/Rebalance

#10322 Disables medical cyborg pinpointer and remote crew monitor access
  code/modules/research/designs/mechfabricator_designs.dm
  code/modules/research/techweb/all_nodes.dm
Labels: Balance/Rebalance

#10397 [MODULAR] Wildcat and Lynx Rebalance + Blueshield Gun Change
  modular_skyrat/modules/blueshield/code/blueshield.dm
  modular_skyrat/modules/modular_weapons/code/automatic.dm
Labels: Balance/Rebalance

#10447 [MODULAR] Blueshield Hellfire PDW
  modular_skyrat/modules/aesthetics/guns/icons/guns.dmi
  modular_skyrat/modules/aesthetics/guns/icons/guns_back.dmi
  modular_skyrat/modules/aesthetics/guns/icons/guns_lefthand.dmi
  modular_skyrat/modules/aesthetics/guns/icons/guns_righthand.dmi
  modular_skyrat/modules/blueshield/code/blueshield.dm
Labels: Fix, Sprites

#10453 fix the ashwalker den map
  code/datums/ruins/lavaland.dm
Labels: Fix

#10437 Cleans up some of our mentor code
  modular_skyrat/modules/mentor/code/mentorhelp.dm
  modular_skyrat/modules/mentor/code/mentorpm.dm
Labels: Fix, Code Improvement

#10515 Adds firelock override range check
  modular_skyrat/master_files/code/game/machinery/doors/firedoor.dm
Labels: Fix

#10456 [SEMI-MODULAR] Security Gloves are fireproof once more!
  code/modules/jobs/job_types/head_of_security.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/jobs/job_types/warden.dm
  modular_skyrat/modules/goofsec/code/sec_clothing_overrides.dm
  modular_skyrat/modules/sec_haul/code/misc/vending.dm
Labels: Fix

#10459 [MODULAR] Departmental Baton Sprites Update
  modular_skyrat/modules/goofsec/icons/departmental_batons.dmi
Labels: Sprites

#10496 [MODULAR] Fixes DetDrobe duplication
  modular_skyrat/modules/modular_vending/code/wardrobes.dm
Labels: Fix

#10482 Makes internships more viable by adding all the missing headsets to their appropriate vendors
  modular_skyrat/modules/modular_vending/code/wardrobes.dm
Labels: Fix

#10499 [Modular] More mutant clothing fixes
  modular_skyrat/master_files/code/modules/clothing/non_anthro_clothes.dm
Labels: Fix, Verified

#10500 [MODULAR] Adds in ace socks to the override underwear dmi, fixing the icon.
  modular_skyrat/master_files/icons/mob/clothing/underwear.dmi
Labels: Fix, Good First PR

#10519 fixes icebox's lawyer office not having a drobe for some reason
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
Labels: Fix, Map Edit

#10517 Removes several duplicate catwalks that were causing mapload runtimes from the shipbreaker ruin
  _maps/RandomRuins/SpaceRuins/skyrat/salvagepost.dmm
Labels: Fix, Map Edit

#10187 [modular][ready] woah old and new job titles, cool
  modular_skyrat/modules/alternative_job_titles/code/alt_job_titles.dm
Labels: Needs Review

#10537 Mentor Fixes: I Tested Everything Edition
  modular_skyrat/modules/mentor/code/mentorhelp.dm
  modular_skyrat/modules/mentor/code/mentorpm.dm
Labels: Fix

#10538 [MODULAR] Fixes Recycling room in Blueshift
  _maps/map_files/Blueshift/BlueShift_lower.dmm
Labels: Feature, Map Edit

#10429 Blueshield office on Blueshift tweak
  _maps/map_files/Blueshift/BlueShift_upper.dmm
Labels: Fix, Map Edit

#10481 Fix Prayer Beads
  modular_skyrat/master_files/code/game/objects/items/holy_weapons.dm
Labels: Fix

#10505 [MODULAR] Adds Contraband to Deltastation2_skyrat Armory
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
Labels: Feature, Map Edit

#10544 Harshly stuffing xenoarch into every mining map
  _maps/map_files/Mining/Lavaland.dmm
  _maps/map_files/Mining/Rockplanet.dmm
  _maps/map_files/Mining/TidalLock.dmm
Labels: Feature, Map Edit

#10467 Roller bed cells now buckles the mob to the bed.
  modular_skyrat/modules/modular_weapons/code/medcells.dm
Labels: Quality of Life

#10540 [NON-MODULAR][FIX] Hypovials can now fit inside fridges
  code/modules/food_and_drinks/kitchen_machinery/smartfridge.dm
Labels: Fix

#9922 [SEMI-MODULAR] Lets mechs use CI, also adds a seperate emote_flick proc to allow emote_flick to be used on objects.
  code/__DEFINES/~skyrat_defines/signals.dm
  code/modules/vehicles/mecha/_mecha.dm
  modular_skyrat/master_files/code/modules/mob/living/emote_popup.dm
  modular_skyrat/modules/indicators/code/combat_indicator.dm
  modular_skyrat/modules/indicators/code/sealed.dm
  modular_skyrat/modules/indicators/readme.md
  tgstation.dme
Labels: Fix

#10233 [NON MODULAR] Teshari clothes
  code/__DEFINES/~skyrat_defines/inventory.dm
  code/__DEFINES/~skyrat_defines/teshari_clothing_paths.dm
  code/modules/mob/living/carbon/carbon_update_icons.dm
  code/modules/mob/living/carbon/human/human_update_icons.dm
  modular_skyrat/master_files/code/modules/clothing/clothing.dm
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/accessories.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/back.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/belt.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/eyes.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/feet.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/hands.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/head.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/mask.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/neck.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/suit.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/uniform.dmi
  modular_skyrat/modules/customization/modules/mob/living/carbon/carbon_update_icons.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/human_update_icons.dm
  tgstation.dme
Labels: Feature, Needs Sprites Pictures

#10106 [MODULAR] Allows emotes to be done using the container of a mob, AKA mech emote PR
  modular_skyrat/modules/container_emotes/code/container_emotes.dm
  modular_skyrat/modules/container_emotes/readme.md
  tgstation.dme
Labels: Feature

#10495 [SEMI-MODULAR] Fixes Interdyne & DS-2 Id card registrations
  code/modules/mob_spawn/ghost_roles/mining_roles.dm
  modular_skyrat/modules/mapping/code/lavaland_ruin_code.dm
  modular_skyrat/modules/mapping/code/mob_spawns.dm
Labels: Fix

#10549 [Modular] Adds some missing Teshari sprites, fixes some other wrong file names
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/eyes.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/hands.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/head.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/mask.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/suit.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/uniform.dmi
  modular_skyrat/master_files/icons/mob/species/teshari_parts_greyscale.dmi
Labels: Sprites

#10560 Adds xenoarch to Icemoon
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above_skyrat.dmm
Labels: Feature, Map Edit

#10553 small xenoarch update
  _maps/map_files/Mining/Icemoon.dmm
  _maps/map_files/Mining/Lavaland.dmm
  _maps/map_files/Mining/Rockplanet.dmm
  _maps/map_files/Mining/TidalLock.dmm
  code/game/objects/items/stacks/sheets/leather.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  modular_skyrat/modules/xenoarch/code/modules/research/xenoarch/designs_and_tech.dm
  modular_skyrat/modules/xenoarch/code/modules/research/xenoarch/strange_rock.dm
  modular_skyrat/modules/xenoarch/code/modules/research/xenoarch/xenoarch_item.dm
  modular_skyrat/modules/xenoarch/code/modules/research/xenoarch/xenoarch_machine.dm
Labels: Feature, Balance/Rebalance, Removal, Map Edit

#10564 (Probably) Temporarily removes the ninja kit because #10550 breaks it anyway
  modular_skyrat/master_files/code/modules/uplink/uplink_items.dm
  modular_skyrat/modules/moretraitoritems/code/syndicate_loadout.dm
  modular_skyrat/modules/moretraitoritems/code/weaponry.dm
Labels: Removal

#10581 [MODULAR] Janitor alt title correction/addition
  modular_skyrat/modules/alternative_job_titles/code/alt_job_titles.dm
Labels: Fix

#10483 [MODULAR] TramStation Returns - Map Update
  _maps/_basemap.dm
  _maps/map_files/readme.md
  _maps/map_files/tramstation/tramstation_skyrat.dmm
Labels: Feature, Map Edit

#10600 Xenoarch adjustments
  modular_skyrat/modules/xenoarch/code/modules/research/xenoarch/xenoarch_item.dm
Labels: Fix

#10597 [MODULAR] Fixes Blueshield Bowman Not Protecting Against Flashbangs, and Removes Loudmode
  _maps/map_files/Blueshift/BlueShift_upper.dmm
  modular_skyrat/modules/blueshield/code/blueshield.dm
  modular_skyrat/modules/blueshield/code/blueshield_clothing.dm
Labels: Fix, Removal, Map Edit

#10603 [MODULAR] Detective Blade Runner Drip
  modular_skyrat/master_files/icons/mob/clothing/suit.dmi
  modular_skyrat/master_files/icons/mob/clothing/uniform.dmi
  modular_skyrat/master_files/icons/obj/clothing/suits.dmi
  modular_skyrat/master_files/icons/obj/clothing/uniforms.dmi
  modular_skyrat/modules/customization/modules/clothing/suits/coats.dm
  modular_skyrat/modules/customization/modules/clothing/under/security.dm
  modular_skyrat/modules/modular_vending/code/wardrobes.dm
Labels: Feature

#10626 tramstation fixes (part 1 of X)
  _maps/map_files/tramstation/tramstation_skyrat.dmm
  config/maps.txt
Labels: Fix, Map Edit, Config Update

#10630 Tram Brig Holding Cells Fix
  _maps/map_files/tramstation/tramstation_skyrat.dmm
Labels: Feature, Map Edit

#10633 [Modular] Adds a toggle option to overlay effects for emotes
  modular_skyrat/master_files/code/modules/client/preferences/emote_overlay.dm
  modular_skyrat/modules/emotes/code/additionalemotes/overlay_emote.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/skyrat/emote_overlay.tsx
Labels: UI

#10635 [MODULAR] Skyrat Races Food Prefs Fix
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/akula.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/aquatic.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/dwarf.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/insect.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/mammal.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/tajaran.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/unathi.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/vulpkanin.dm
Labels: Fix

#10571 IceBox Fixes: Removes accesses; adds lattices
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above_skyrat.dmm
Labels: Fix, Map Edit

#10561 [MODULAR] Delta Permabrig Expansion
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
Labels: Feature, Map Edit

#10516 [SEMI-MODULAR] Re-implements the flavor text preview. Also tidies up some examine code and adds a bit of extra text to temp flavor text.
  code/__DEFINES/~skyrat_defines/flavor_defines.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/silicon/robot/examine.dm
  modular_skyrat/master_files/code/modules/client/preferences/flavor_text.dm
  tgstation.dme
Labels: UI, Feature, Code Improvement

#10331 [MODULAR] Port Tarkon (New Ghostrole/Space ruin) [Ready for Review/Testing]
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon.dmm
  _maps/skyrat/shuttles/ruin_tarkon_driver.dmm
  modular_skyrat/modules/mapping/code/fluff.dm
  modular_skyrat/modules/mapping/code/misc.dm
  modular_skyrat/modules/mapping/code/mob_spawns.dm
  modular_skyrat/modules/mapping/code/shuttle_area.dm
  modular_skyrat/modules/mapping/code/shuttles.dm
  modular_skyrat/modules/mapping/code/space.dm
  modular_skyrat/modules/mapping/code/space_area.dm
  modular_skyrat/modules/projectiles/code/guns/misc/m6pdw.dm
  modular_skyrat/modules/projectiles/icons/inhands/lefthand.dmi
  modular_skyrat/modules/projectiles/icons/inhands/righthand.dmi
  modular_skyrat/modules/projectiles/icons/m6pdw.dmi
  tgstation.dme
Labels: Feature, Map Edit, Test Merged

#10657 in-game xenoarch guide
  modular_skyrat/modules/xenoarch/code/modules/research/xenoarch/xenoarch_item.dm
  modular_skyrat/modules/xenoarch/code/modules/research/xenoarch/xenoarch_tool.dm
Labels: Feature

#10641 Tweaks a few things from my flavor text preview PR
  code/__DEFINES/~skyrat_defines/flavor_defines.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/silicon/robot/examine.dm
Labels: Code Improvement

#10667 [Semi-modular] Roombas can be flipped
  code/modules/mob/living/silicon/robot/robot_model.dm
  modular_skyrat/modules/altborgs/code/robot_model.dm
  modular_skyrat/modules/altborgs/icons/robot_effect.dmi
Labels: Balance/Rebalance

#10666 fixes a dumb mistake my dumb brain did with the flavor text preview pr [GBP NO UPDATE]
  code/modules/mob/living/carbon/human/examine.dm
Labels: Fix, GBP: No Update

#10656 [MODULAR] Botany implant refresh + emag mode
  modular_skyrat/modules/implants/code/augments_arms.dm
  modular_skyrat/modules/implants/code/medical_designs.dm
Labels: Feature, Balance/Rebalance

#10693 Revert "Bump pillow from 8.3.2 to 9.0.0 in /tools (#10655)"
  tools/requirements.txt
Labels: Tools, Revert

#10714 MCR patch
  modular_skyrat/modules/microfusion/code/microfusion_gun_attachments.dm
Labels: Fix, Verified

#10689 A fix for corvid beak
  modular_skyrat/master_files/icons/mob/sprite_accessory/snouts.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/snout.dm
Labels: Fix

#10539 Ghost Cafe: Themed Rooms. (also paperbins) [ready]
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
Labels: Needs Review, Map Edit

#10720 MCR Patch 2
  modular_skyrat/modules/microfusion/code/microfusion_gun_attachments.dm
Labels: Fix

#10734 moves some latespawn points off some couches
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
Labels: Fix, Map Edit

#10735 trying to make tram less shit
  _maps/map_files/tramstation/tramstation_skyrat.dmm
Labels: Fix, Map Edit

#10727 new circuit components
  modular_skyrat/modules/additional_circuit/code/_designs.dm
  modular_skyrat/modules/additional_circuit/code/cell_reader.dm
  modular_skyrat/modules/additional_circuit/code/interact_item.dm
  modular_skyrat/modules/additional_circuit/code/mining_circuit.dm
  modular_skyrat/modules/additional_circuit/code/target_scanner.dm
  modular_skyrat/modules/additional_circuit/readme.md
  tgstation.dme
Labels: Feature

#10742 [Revert] Reverts #10667 and #10688
  code/modules/mob/living/silicon/robot/robot_model.dm
  modular_skyrat/modules/altborgs/code/robot_model.dm
Labels: Revert

#10743 [Modular] Fixes posters and adds the new TG ones
  modular_skyrat/modules/aesthetics/posters/contraband.dmi
Labels: Fix, Sprites

#10733 Tarkon patch 1.1: Accomodations and headsets.
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon.dmm
  code/__DEFINES/~skyrat_defines/mapping.dm
  code/game/communications.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/say.dm
  code/modules/mob/living/living_say.dm
  modular_skyrat/modules/mapping/code/mob_spawns.dm
  modular_skyrat/modules/mapping/code/radio.dm
  modular_skyrat/modules/mapping/code/space_area.dm
Labels: Map Edit

#10782 gives tramstation an arrivals shuttle recall console
  _maps/map_files/tramstation/tramstation_skyrat.dmm
Labels: Fix, Map Edit

#10747 [MODULAR] Update job list filter for access to SOOC
  modular_skyrat/modules/admin/code/sooc.dm
Labels: Fix

#10767 borer 1.1
  code/__DEFINES/actionspeed_modification.dm
  modular_skyrat/modules/cortical_borer/code/cortical_borer.dm
  modular_skyrat/modules/cortical_borer/code/cortical_borer_abilities.dm
  modular_skyrat/modules/cortical_borer/code/cortical_borer_antag.dm
  modular_skyrat/modules/cortical_borer/code/cortical_borer_egg.dm
  modular_skyrat/modules/cortical_borer/icons/actions.dmi
  modular_skyrat/modules/cortical_borer/icons/animal.dmi
  tgstation.dme
Labels: Feature, Balance/Rebalance, Sprites

#10665 [NON MODULAR] Baton 'rebalance' (nerf)
  code/game/objects/items/melee/baton.dm
  modular_skyrat/modules/goofsec/code/department_guards.dm
Labels: Balance/Rebalance

#10662 [MODULAR] Updates Traumateam ERT, merges redundant ERT module into modular_ert
  modular_skyrat/master_files/icons/mob/clothing/belt.dmi
  modular_skyrat/master_files/icons/mob/clothing/hands.dmi
  modular_skyrat/master_files/icons/mob/clothing/head.dmi
  modular_skyrat/master_files/icons/mob/clothing/suit.dmi
  modular_skyrat/master_files/icons/mob/clothing/suit_digi.dmi
  modular_skyrat/master_files/icons/obj/clothing/belts.dmi
  modular_skyrat/master_files/icons/obj/clothing/gloves.dmi
  modular_skyrat/master_files/icons/obj/clothing/hats.dmi
  modular_skyrat/master_files/icons/obj/clothing/suits.dmi
  modular_skyrat/modules/additionalert/readme.md
  modular_skyrat/modules/modular_ert/code/readme.md
  modular_skyrat/modules/modular_ert/code/trauma_team/ert_antag.dm
  modular_skyrat/modules/modular_ert/code/trauma_team/truama_team_outfit.dm
Labels: Balance/Rebalance

#10455 [MODULAR] Syndicate Hand Mirror
  modular_skyrat/modules/moretraitoritems/code/syndiemirror.dm
  modular_skyrat/modules/moretraitoritems/readme.md
  tgstation.dme
Labels: Feature, Code Improvement

#10794 Fix one of chaplain's null rod icons
  modular_skyrat/master_files/code/game/objects/items/holy_weapons.dm
Labels: Fix

#10781 fixes random floating copy-pasted bit of delta that we had for some reason
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
Labels: Fix, Map Edit

#10809 Ewelder now visually turns off when turned off
  modular_skyrat/modules/electric_welder/code/electric_welder.dm
Labels: Fix

#10810 Telemetry 'n shit
  code/__DEFINES/database.dm
  code/__DEFINES/subsystems.dm
  code/controllers/configuration/entries/dbconfig.dm
  code/controllers/subsystem/dbcore.dm
  code/controllers/subsystem/time_track.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/debug.dm
  code/modules/tgui_panel/telemetry.dm
  config/dbconfig.txt
  tgstation.dme
Labels: Config Update

#10807 [MODULAR] Ghost Cafe Renovations - Medical/QOL
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
Labels: Feature, Map Edit

#10804 [MODULAR] MODsuit armour
  modular_skyrat/modules/modsuit_armour/modsuit_armour.dm
  tgstation.dme
Labels: Balance/Rebalance

#10839 venus nerf
  code/modules/mob/living/simple_animal/hostile/venus_human_trap.dm
Labels: Feature

#10806 borer midround, balance, and objective
  code/__DEFINES/role_preferences.dm
  code/modules/admin/sql_ban_system.dm
  modular_skyrat/modules/cortical_borer/code/cortical_borer.dm
  modular_skyrat/modules/cortical_borer/code/cortical_borer_abilities.dm
  modular_skyrat/modules/cortical_borer/code/cortical_borer_antag.dm
  modular_skyrat/modules/cortical_borer/code/cortical_borer_egg.dm
  modular_skyrat/modules/cortical_borer/code/cortical_borer_items.dm
  modular_skyrat/modules/cortical_borer/icons/items.dmi
  tgstation.dme
Labels: Feature, Balance/Rebalance, Fix

#10836 Reverts x-ray and thermal implant removal
  code/modules/research/designs/medical_designs.dm
  modular_skyrat/modules/implants/code/medical_nodes.dm
Labels: Feature, Revert

#10840 Ports my old captain suit from oldbase
  modular_skyrat/master_files/icons/mob/clothing/uniform.dmi
  modular_skyrat/master_files/icons/mob/clothing/uniform_digi.dmi
  modular_skyrat/master_files/icons/obj/clothing/uniforms.dmi
  modular_skyrat/modules/customization/modules/clothing/under/misc.dm
  modular_skyrat/modules/loadouts/loadout_items/under/loadout_datum_under.dm
Labels: Feature

#10837 Fixes Freighter clothing not spawning
  modular_skyrat/modules/mapping/code/mob_spawns.dm
Labels: Fix

#10764 Changes the syndicate Jack cyborg
  modular_skyrat/modules/altborgs/code/robot_model.dm
  modular_skyrat/modules/altborgs/code/robot_upgrade.dm
  modular_skyrat/modules/skyrat-uplinks/code/borgupgrades.dm
Labels: Feature, Balance/Rebalance, Fix

#10817 blindfold to loadout
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_glasses.dm
Labels: Feature

#10610 bluespace miner
  modular_skyrat/modules/bluespace_miner/code/bluespace_miner.dm
  modular_skyrat/modules/bluespace_miner/icons/bluespace_miner.dmi
  modular_skyrat/modules/bluespace_miner/readme.md
  tgstation.dme
Labels: Feature, Test Merge Candidate

#10838 Tarkon 1.25: The infection spreads
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon.dmm
  modular_skyrat/modules/projectiles/code/guns/misc/m6pdw.dm
Labels: Map Edit

#10830 Fixes numbing in stasis not working if already applied.
  code/datums/status_effects/debuffs.dm
Labels: Fix

#10484 [MODULAR] messes with maint-loot
  modular_skyrat/master_files/code/_globalvars/maint_loot_common.dm
  modular_skyrat/master_files/code/_globalvars/maint_loot_oddity.dm
  modular_skyrat/master_files/code/_globalvars/maint_loot_uncommon.dm
Labels: Feature

#10771 Reworks 911 Firefighters into 811 Breach Control
  code/game/machinery/computer/communications.dm
  modular_skyrat/modules/goofsec/code/sol_fed.dm
  tgui/packages/tgui/interfaces/CommunicationsConsole.js
Labels: UI, Balance/Rebalance

#10816 [Modular]Hellfire in a box, Blueshield fix
  modular_skyrat/modules/blueshield/code/blueshield.dm
Labels: Fix

#10744 Changes a few things with my flavor text preview PR, AGAIN. [NO GBP CHANGE]
  code/__DEFINES/~skyrat_defines/flavor_defines.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/silicon/robot/examine.dm
Labels: Code Improvement

#10737 [Modular] Syndicate fashion drop + DS-2 fixes
  _maps/RandomRuins/SpaceRuins/skyrat/interdynefob.dmm
  modular_skyrat/master_files/icons/mob/clothing/belt.dmi
  modular_skyrat/master_files/icons/mob/clothing/feet.dmi
  modular_skyrat/master_files/icons/mob/clothing/feet_digi.dmi
  modular_skyrat/master_files/icons/mob/clothing/hands.dmi
  modular_skyrat/master_files/icons/mob/clothing/head.dmi
  modular_skyrat/master_files/icons/mob/clothing/head_muzzled.dmi
  modular_skyrat/master_files/icons/mob/clothing/mask.dmi
  modular_skyrat/master_files/icons/mob/clothing/mask_muzzled.dmi
  modular_skyrat/master_files/icons/mob/clothing/uniform.dmi
  modular_skyrat/master_files/icons/mob/clothing/uniform_digi.dmi
  modular_skyrat/master_files/icons/obj/clothing/belts.dmi
  modular_skyrat/master_files/icons/obj/clothing/hats.dmi
  modular_skyrat/master_files/icons/obj/clothing/masks.dmi
  modular_skyrat/master_files/icons/obj/clothing/uniforms.dmi
  modular_skyrat/modules/Syndie_edits/code/syndie_edits.dm
  modular_skyrat/modules/customization/modules/clothing/head/head.dm
  modular_skyrat/modules/mapping/code/mob_spawns.dm
Labels: Sprites, Map Edit

#10739 [NON-MODULAR] Final Objective Telegraphing + Rebalance
  code/game/machinery/computer/communications.dm
  code/modules/antagonists/traitor/objectives/final_objective/final_objective.dm
  code/modules/antagonists/traitor/objectives/final_objective/romerol.dm
Labels: Feature, Balance/Rebalance

#10150 [SEMI-MODULAR] More lewd chemistry additions, plus extra misc text features. Adds OD to camphor, updates OD effects.
  code/modules/reagents/chemistry/reagents.dm
  modular_skyrat/modules/customization/modules/surgery/organs/genitals.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_chemistry/chemistry_for_ERP.dm
Labels: Content Expansion

#10093 The Opposing Force (OPFOR) - Ready for review/testing
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  code/__DEFINES/~skyrat_defines/banning.dm
  code/__DEFINES/~skyrat_defines/opposing_force_defines.dm
  code/__HELPERS/roundend.dm
  code/game/gamemodes/dynamic/dynamic_rulesets.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
  code/game/gamemodes/objective.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/check_antagonists.dm
  code/modules/admin/sql_ban_system.dm
  code/modules/admin/verbs/adminhelp.dm
  html/changelogs/AutoChangeLog-pr-10386.yml
  modular_skyrat/master_files/code/game/gamemodes/objective.dm
  modular_skyrat/modules/opposing_force/code/admin_procs.dm
  modular_skyrat/modules/opposing_force/code/items.dm
  modular_skyrat/modules/opposing_force/code/mind.dm
  modular_skyrat/modules/opposing_force/code/opposing_force_datum.dm
  modular_skyrat/modules/opposing_force/code/opposing_force_equipment.dm
  modular_skyrat/modules/opposing_force/code/opposing_force_subsystem.dm
  modular_skyrat/modules/opposing_force/code/roundend.dm
  modular_skyrat/modules/opposing_force/sound/application_recieved.ogg
  modular_skyrat/modules/opposing_force/sound/approved.ogg
  modular_skyrat/modules/opposing_force/sound/denied.ogg
  modular_skyrat/modules/opposing_force/sound/update_requested.ogg
  modular_skyrat/modules/sec_haul/code/guns/guns.dm
  modular_skyrat/modules/ticket_counter/code/counter.dm
  tgstation.dme
  tgui/packages/tgui-panel/styles/goon/chat-dark.scss
  tgui/packages/tgui-panel/styles/goon/chat-light.scss
  tgui/packages/tgui/interfaces/OpposingForcePanel.js
Labels: UI, Feature, Map Edit, Test Merged

#10864 fixes missing modsuit core sprites
  icons/obj/clothing/modsuit/mod_construction.dmi
Labels: Sprites

#10846 tarkon change
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon.dmm
Labels: Feature, Map Edit

#10741 [Modular][Ready] Cyborg Tipping modularization
  code/__DEFINES/~skyrat_defines/robot_defines.dm
  modular_skyrat/modules/altborgs/code/robot_tipping.dm
  modular_skyrat/modules/altborgs/icons/robot_effect.dmi
  tgstation.dme
Labels: Balance/Rebalance, Needs Review

#10899 Fire alarms prepend their area name
  modular_skyrat/modules/aesthetics/firealarm/code/firealarm.dm
Labels: Fix

#10851 lower bluespace price and fix a missing desc error
  modular_skyrat/modules/bluespace_miner/code/bluespace_miner.dm
Labels: Balance/Rebalance, Fix

#10885 removes some chemicals from the borers starting chems
  modular_skyrat/modules/cortical_borer/code/cortical_borer.dm
Labels: Removal

#10921 [Modular] Tarkon 1.3 Update: Insert fancy title card here that i dont have because i cant think of one
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon.dmm
Labels: Map Edit

#10845 [Modular][Fix] Runechat height adjusts for oversized quirk-holders
  modular_skyrat/modules/oversized/code/oversized_quirk.dm
Labels: Fix

#10881 Upgrades Tramstation's 'Service Lathe' not-even-a-real-area to the Service Hallway
  _maps/map_files/tramstation/tramstation_skyrat.dmm
Labels: Feature, Fix, Map Edit

#10947 [SEMI-MODULAR] Fixes random colored skirts (assistant skirts) and makes species (teshari) clothing support GAGS outfits
  code/modules/clothing/under/color.dm
  modular_skyrat/master_files/code/modules/clothing/clothing.dm
  modular_skyrat/master_files/code/modules/clothing/under/color.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/human_update_icons.dm
  tgstation.dme
Labels: Fix

#10977 Removes the joe swanson announcer, at the request of the creator.
  modular_skyrat/modules/modular_station_traits/code/_station_trait_skyrat.dm
  modular_skyrat/modules/modular_station_traits/code/swanson_announcer.dm
  modular_skyrat/modules/modular_station_traits/sound/swanson/alerts/1.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/alerts/10.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/alerts/11.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/alerts/12.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/alerts/13.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/alerts/14.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/alerts/15.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/alerts/16.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/alerts/17.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/alerts/18.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/alerts/19.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/alerts/2.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/alerts/3.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/alerts/4.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/alerts/5.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/alerts/6.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/alerts/7.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/alerts/8.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/alerts/9.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/commandreport/1.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/commandreport/2.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/commandreport/3.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/events/aimalf.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/events/aliens.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/events/anime.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/events/granomalies.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/events/intercept.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/events/ionstorm.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/events/meteors.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/events/outbreak5.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/events/outbreak7.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/events/poweroff.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/events/poweron.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/events/radiation.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/events/shuttlecalled.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/events/shuttledock.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/events/shuttlerecalled.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/events/spanomalies.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/welcome/1.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/welcome/2.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/welcome/3.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/welcome/4.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/welcome/5.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/welcome/6.ogg
  modular_skyrat/modules/modular_station_traits/sound/swanson/welcome/7.ogg
  tgstation.dme
Labels: Removal

#10896 Fixes accessories always being treated like Teshari is wearing them
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/human_update_icons.dm
Labels: Fix, Needs Testing

#10988 Removes secborgs from the techweb
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/research/designs/weapon_designs.dm
  code/modules/research/techweb/all_nodes.dm
Labels: Fix, Removal

#10980 [Modular] Someone forgot the briefs smh my head
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories.dm
Labels: Feature

#10995 [Modular] Adds emag to the loadout selection... of OPFOR
  modular_skyrat/modules/opposing_force/code/opposing_force_equipment.dm
Labels: Feature

#10962 [MODULAR]Adds #10937 and Removes the Firelocks from Tram SM
  _maps/map_files/tramstation/tramstation_skyrat.dmm
Labels: Fix, Removal, Map Edit

#11024 objectives in opfor roundend report are no longer bold
  modular_skyrat/modules/opposing_force/code/opposing_force_datum.dm
Labels: Grammar and Formatting

#10778 [MODULAR] Nanite Slurry Enhancements
  code/__DEFINES/misc.dm
  code/game/turfs/turf.dm
  modular_skyrat/modules/customization/modules/reagents/chemistry/reagents/medicine_reagents.dm
Labels: Fix, Content Expansion

#10232 [BOUNTY] For Christmas, a new Cyborg model! Cargo Cyborgs!
  code/__DEFINES/robots.dm
  code/__DEFINES/~skyrat_defines/robot_defines.dm
  code/game/objects/items/stacks/wrap.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_defines.dm
  code/modules/mob/living/silicon/robot/robot_model.dm
  code/modules/paperwork/clipboard.dm
  code/modules/paperwork/paperplane.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/vehicles/mecha/mech_fabricator.dm
  modular_skyrat/master_files/code/_onclick/hud/screen_objects.dm
  modular_skyrat/master_files/icons/hud/screen_cyborg.dmi
  modular_skyrat/master_files/icons/mob/robots.dmi
  modular_skyrat/modules/cargoborg/code/robot_items.dm
  modular_skyrat/modules/cargoborg/code/robot_modules.dm
  modular_skyrat/modules/cargoborg/icons/robots_cargo.dmi
  modular_skyrat/modules/cargoborg/icons/widerobots_cargo.dmi
  modular_skyrat/modules/shapeshifting_module/code/borg_shapeshifter.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/Clipboard.js
Labels: UI, Fix, Sprites, Content Expansion

#10849 Ghost Cafe: Detainment Cell
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
Labels: Feature, Map Edit

#10878 Fixes Tramstation Disposals
  _maps/map_files/tramstation/tramstation_skyrat.dmm
Labels: Fix, Map Edit

#10525 [Semi-Modular] Allows most of our Skyrat races the use of the Flight Potion
  code/modules/mining/lavaland/tendril_loot.dm
  code/modules/mob/living/carbon/human/species.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/akula.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/aquatic.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/dwarf.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/hemophage.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/humanoid.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/insect.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/mammal.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/moth.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/skrell.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/tajaran.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/unathi.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/vox.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/vulpkanin.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/xeno.dm
Labels: Fix

#10900 [NON MODULAR] Fix medical cryo cell sprite layering
  code/modules/atmospherics/machinery/components/unary_devices/cryo.dm
Labels: Code Improvement

#11028 [MODULAR] Makes the screwdriver and wirecutters sprites use the correct versions
  modular_skyrat/modules/aesthetics/tools/code/tools.dm
Labels: Fix

#10829 lobby camera
  code/__DEFINES/layers.dm
  code/controllers/configuration/entries/general.dm
  config/skyrat/skyrat_config.txt
  modular_skyrat/modules/lobby_cam/code/lobby_cam.dm
  modular_skyrat/modules/lobby_cam/code/lobby_eye_ss.dm
  modular_skyrat/modules/lobby_cam/icons/black_screen.dmi
  modular_skyrat/modules/lobby_cam/icons/skyrat_logo.dmi
  modular_skyrat/modules/lobby_cam/readme.md
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/skyrat/lobby_eye.tsx
Labels: UI, Feature, Config Update, Test Merged

#11060 [Modular] Teshari sprite pack 1 accessorizing edition
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/accessories.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/feet.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/hands.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/neck.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/teshari_matrixcolor_clothes.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/uniform.dmi
Labels: Sprites

#11032 [BOUNTY] Familiar Harpy Plushie
  modular_skyrat/master_files/icons/obj/plushes.dmi
  modular_skyrat/modules/customization/game/objects/items/plushes.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_toys.dm
Labels: Feature

#11030 [BOUNTY] Servelyn Tails
  modular_skyrat/master_files/icons/mob/sprite_accessory/tails.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/tails.dm
  tgstation.dme
Labels: Feature

#11026 [SEMI-MODULAR] Standardizes Armories, Wardens Room & Detectives Office | Renames the Kilo Execution Room | Security Lockers Spawn Vests | Minor Brig Fixes
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/KiloStation/KiloStation_skyrat.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
  _maps/map_files/tramstation/tramstation_skyrat.dmm
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
Labels: Balance/Rebalance, Fix, Map Edit

#11016 Fixes protected roles getting antagonist
  code/game/gamemodes/dynamic/dynamic_rulesets.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_latejoin.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_roundstart.dm
  modular_skyrat/modules/antagonists/code/gamemodes.dm
  modular_skyrat/modules/protected_roles/code/_job.dm
  modular_skyrat/modules/protected_roles/code/antag_restricted_jobs.dm
  tgstation.dme
Labels: Fix

#11014 [NON-MODULAR] [TWEAK?] gives flypeople hair
  code/modules/mob/living/carbon/human/species_types/flypeople.dm
Labels: Feature

#10894 [Modular] a TRAIT define lets cyborg modules change sprite on tip
  code/__DEFINES/~skyrat_defines/robot_defines.dm
  modular_skyrat/master_files/code/modules/mob/living/sillicon/robot.dm
  modular_skyrat/modules/altborgs/icons/robot_effect.dmi
Labels: Code Improvement

#11065 Another 12 AM CI Fix
  code/game/objects/effects/spawners/structure.dm
  modular_skyrat/master_files/code/game/effects/spawners/structure.dm
  tgstation.dme
Labels: Fix, Priority: HIGH

#11066 Fixes Skyrat emojis not working
  code/__DEFINES/fonts.dm
Labels: Fix

#11059 further lowers bluespace miner price
  modular_skyrat/modules/bluespace_miner/code/bluespace_miner.dm
Labels: Balance/Rebalance

#11061 map reset and updates
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/Deltastation/DeltaStation2_skyrat.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/IceBoxStation/IceBoxStation_skyrat.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Above_skyrat.dmm
  _maps/map_files/IceBoxStation/IcemoonUnderground_Below.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/MetaStation/MetaStation_skyrat.dmm
  _maps/map_files/Mining/Icemoon.dmm
  _maps/map_files/Mining/Lavaland.dmm
  _maps/map_files/Mining/Rockplanet.dmm
  _maps/map_files/Mining/TidalLock.dmm
  _maps/map_files/generic/CentCom.dmm
  _maps/map_files/readme.md
  _maps/map_files/tramstation/tramstation.dmm
  _maps/map_files/tramstation/tramstation_skyrat.dmm
Labels: Map Edit

#11076 Fixes a few tool sprites
  modular_skyrat/master_files/code/game/objects/items/RCD.dm
  modular_skyrat/modules/aesthetics/tools/code/tools.dm
  modular_skyrat/modules/aesthetics/tools/tools.dmi
  modular_skyrat/modules/liquids/code/liquid_systems/liquid_plumbers.dm
  modular_skyrat/modules/liquids/icons/obj/tools.dmi
Labels: Fix

#11077 Fixes microfusion cell emp_act
  modular_skyrat/modules/microfusion/code/microfusion_cell.dm
Labels: Fix

#11069 adds more stuff to the modifications of maps
  _maps/readme.md
Labels: Map Edit

#11089 Tarkon Update 1.5: Meet the Ensign
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon.dmm
  modular_skyrat/modules/mapping/code/fluff.dm
  modular_skyrat/modules/mapping/code/mob_spawns.dm
Labels: Fix, Map Edit

#11115 [modular] cargo loader armor + crate
  code/__DEFINES/~skyrat_defines/traits.dm
  code/modules/mod/modules/modules_supply.dm
  code/modules/recycling/disposal/pipe.dm
  modular_skyrat/modules/cargo/code/packs.dm
  modular_skyrat/modules/modsuit_armour/modsuit_armour.dm
Labels: Feature

#11120 Lets you flash your luscious hair by undeploying active MODsuit helmets
  code/modules/mod/mod_activation.dm
Labels: Quality of Life
