Repository Skyrat-SS13/Skyrat-tg, pull requests merged in 2023-07, with the labels that each got.

#22052 [MODULAR][QoL] NIFSoft Catalog automatically downloads if you own a NIF
  modular_skyrat/modules/modular_implants/code/nif_persistence.dm
Labels: Quality of Life

#22152 [modular] cyclops eye marking
  modular_skyrat/master_files/icons/mob/body_markings/other_markings.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/body_markings/body_markings.dm
Labels: Sprites

#22159 ref: Changes .proc to PROC_REF()
  modular_skyrat/modules/bsa_overhaul/code/bsa_cannon.dm
  modular_skyrat/modules/mapping/code/automatic_respawner.dm
  modular_skyrat/modules/modular_implants/code/nifs.dm
  modular_skyrat/modules/modular_implants/code/nifsofts.dm
  modular_skyrat/modules/modular_implants/code/nifsofts/money_sense.dm
  modular_skyrat/modules/modular_implants/code/nifsofts/prop_summoner.dm
  modular_skyrat/modules/modular_implants/code/nifsofts/soulcatcher.dm
  modular_skyrat/modules/modular_implants/code/soulcatcher/soulcatcher_body_component.dm
  modular_skyrat/modules/time_clock/code/off_duty_component.dm
Labels: Refactor

#22114 [MODULAR] Adds fill to non-glass public airlock door sprites
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/station2/glass.dmi
Labels: Fix, Sprites

#22082 [MODULAR] Fixes hemophages getting stuck with dormant movespeed modifier when changing species
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/hemophage.dm
Labels: Fix

#22225 Adds ability for Ashwalkers to get trophies from non-megafauna mobs that drop crusher loot
  code/datums/elements/crusher_loot.dm
Labels: Fix

#22043 Lizard import vendor improvements.
  _maps/RandomRuins/SpaceRuins/skyrat/interdynefob.dmm
  _maps/RandomRuins/SpaceRuins/spacehotel_skyrat.dmm
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  code/game/objects/items/circuitboards/machines/machine_circuitboards.dm
  modular_skyrat/modules/imported_vendors/code/vendor_containers.dm
  modular_skyrat/modules/imported_vendors/code/vendor_food.dm
  modular_skyrat/modules/imported_vendors/code/vendor_snacks.dm
  modular_skyrat/modules/imported_vendors/code/vendors.dm
  modular_skyrat/modules/imported_vendors/icons/imported_quick_foods.dmi
  modular_skyrat/modules/imported_vendors/icons/imported_vendors.dmi
Labels: Fix, Sprites, Grammar and Formatting, Map Modification

#22192 [Modular] Revert borg language changes
  modular_skyrat/master_files/code/modules/language/language_holder.dm
Labels: Feature, Revert, GBP: No Update

#21417 [MODULAR] Size Collar
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  config/skyrat/skyrat_config.txt
  modular_skyrat/master_files/code/_globalvars/configuration.dm
  modular_skyrat/modules/mapping/code/areas/centcom.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/size_items.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_machinery/lustwish.dm
  tgstation.dme
Labels: Feature, Map Modification

#22143 Tramstation Barber Remake
  _maps/skyrat/automapper/automapper_config.toml
  _maps/skyrat/automapper/templates/tramstation/tramstation_barber.dmm
Labels: Good First PR, Quality of Life, Map Modification

#22254 [MODULAR] Fixes checkerboard sprites on assistant's formal winter coat
  modular_skyrat/master_files/icons/mob/clothing/suits/wintercoat.dmi
Labels: Sprites

#22259 Update moth screenshot on unit test
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_moth.png
Labels: Fix

#22255 [MODULAR] Fixes broken checkerboard icon with unhooded colourable winter coat
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
Labels: Fix

#22266 fix-synthliz-tail
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/synthliz.dm
Labels: Fix

#22072 Buffs spacemen refractory period to reduce audio spam problems for players walking past dorms by utilizing REALTIMEOFDAY.
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_arousal/climax.dm
Labels: Fix, Stale

#22095 [MODULAR] Allow the Blueshield to select security glasses from the loadout menu.
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_glasses.dm
Labels: Fix

#22275 [Missed Mirror] Maptext 2023 tweaks 3 (#76552)
  code/__DEFINES/text.dm
  code/__HELPERS/icons.dm
  code/_onclick/hud/credits.dm
  code/datums/actions/cooldown_action.dm
  code/game/atoms.dm
  code/game/objects/effects/countdown.dm
  code/modules/events/wizard/rpgtitles.dm
  code/modules/industrial_lift/elevator/elevator_indicator.dm
  interface/fonts/Pixellari.ttf
  interface/fonts/SpessFont.ttf
  interface/fonts/license.txt
  interface/fonts/pixellari.dm
  interface/fonts/spess_font.dm
  tgstation.dme
Labels: Upstream PR Merged, Manual Mirror

#22249 [MODULAR] Fixes issue with Miner's Salve and refactors medicine.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  modular_skyrat/master_files/code/modules/reagents/medicine_reagents/medicine_reagents.dm
  modular_skyrat/modules/modular_reagents/code/reagents/medicine.dm
  tgstation.dme
Labels: Fix, Refactor

#22231 [MODULAR] Fixes shapeshifted taurs not hiding shoes + QoL
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/roundstartslime.dm
Labels: Fix, Quality of Life

#21871 Donator plush: BriareosBlue
  modular_skyrat/master_files/icons/obj/plushes.dmi
  modular_skyrat/modules/customization/game/objects/items/plushes.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_toys.dm
Labels: Sprites, Stale-b-gone

#22311 [MODULAR] Items stored in pockets will now be sent flying when gibbed
  modular_skyrat/master_files/code/modules/mob/living/carbon/human/death.dm
  tgstation.dme
Labels: Quality of Life

#22166 [MODULAR] Adds a slight armor protection value to ash armor
  modular_skyrat/modules/ashwalkers/code/clothing/ash_armour.dm
Labels: Fix

#22228 [MODULAR] Allows better interaction with the silly slots
  modular_skyrat/modules/interaction_menu/code/interaction_component.dm
Labels: Fix

#22221 [MODULAR] Fixes the milking machine UI
  tgui/packages/tgui/interfaces/MilkingMachine.js
Labels: Fix

#22232 Age restrict fix reason
  code/__DEFINES/~skyrat_defines/jobs.dm
Labels: Fix

#22317 Fix CSS for new maptext
  interface/skin.dmf
Labels: Fix

#22270 [MODULAR] Fixes arrow spawner spawning bullet casings + finishes converting caseless ammo subtypes to element
  modular_skyrat/modules/black_mesa/code/guns.dm
  modular_skyrat/modules/clock_cult/code/items/weaponry.dm
  modular_skyrat/modules/marines/code/gear.dm
  modular_skyrat/modules/marines/code/smartgun.dm
  modular_skyrat/modules/modular_weapons/code/energy.dm
  modular_skyrat/modules/novaya_ert/code/surplus_weapons.dm
  modular_skyrat/modules/reagent_forging/code/forge_items.dm
  modular_skyrat/modules/sec_haul/code/guns/bullets.dm
  modular_skyrat/modules/sec_haul/code/guns/guns.dm
  modular_skyrat/modules/xenos_skyrat_redo/code/xeno_types/praetorian.dm
Labels: Fix, Refactor

#22276 [RSC] Some .ogg compressions for the RSC reduction
  modular_skyrat/modules/assault_operatives/sound/assault_operatives_greet.ogg
  modular_skyrat/modules/assault_operatives/sound/goldeneyealarm.ogg
  modular_skyrat/modules/assault_operatives/sound/sunbeam_loop.ogg
  modular_skyrat/modules/bsa_overhaul/sound/superlaser_firing.ogg
  modular_skyrat/modules/bsa_overhaul/sound/superlaser_prefire.ogg
  modular_skyrat/modules/emotes/sound/emotes/mothchitter.ogg
  modular_skyrat/modules/emotes/sound/emotes/mothlaugh.ogg
  modular_skyrat/modules/emotes/sound/emotes/yawn_m2.ogg
  modular_skyrat/modules/encounters/sounds/env_horn.ogg
  modular_skyrat/modules/encounters/sounds/env_ship_down.ogg
  modular_skyrat/modules/encounters/sounds/gear_loop.ogg
  modular_skyrat/modules/encounters/sounds/gear_start.ogg
  modular_skyrat/modules/encounters/sounds/gear_stop.ogg
  modular_skyrat/modules/encounters/sounds/morse.ogg
  modular_skyrat/modules/encounters/sounds/shell_out_tiny.ogg
  modular_skyrat/modules/hev_suit/sound/hev/01_hev_logon.ogg
  modular_skyrat/modules/hev_suit/sound/hev/anomalous_materials.ogg
  modular_skyrat/modules/hev_suit/sound/pcv/01_pcv_logon.ogg
Labels: RSC Reduction

#22271 Adds new dresses & skirts
  modular_skyrat/master_files/code/modules/clothing/under/skirts_dresses.dm
  modular_skyrat/master_files/icons/mob/clothing/under/skirts_dresses.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/skirts_dresses_digi.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/skirts_dresses.dmi
  modular_skyrat/modules/loadouts/loadout_items/under/loadout_datum_under.dm
Labels: Feature, Sprites

#22349 [READY] Fixes some Voidraptor CI failures
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  code/datums/proximity_monitor/field.dm
Labels: Map Modification

#22222 [MODULAR] Fixes a bug that keeps you horny forever
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_arousal/climax.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_machinery/milking_machine.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_organs/_genital.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_quirks.dm
Labels: Fix

#22376 Fixes a small gigantism/dwarfism issue
  code/datums/mutations/body.dm
Labels: Fix

#22383 [Manual Mirror Fix] Per unit value of materials now scale with material defines (#76366)
  code/datums/materials/basemats.dm
Labels: Code Improvement

#22380 [Manual Mirror Fix] Coroner additions and tweaks (#76534)
  code/datums/components/crafting/tools.dm
  code/game/objects/items/devices/scanners/autopsy_scanner.dm
  code/game/objects/items/knives.dm
  code/modules/clothing/gloves/special.dm
  code/modules/hydroponics/hydroitemdefines.dm
  code/modules/jobs/job_types/coroner.dm
  code/modules/mining/equipment/mining_tools.dm
  code/modules/surgery/amputation.dm
  code/modules/surgery/lipoplasty.dm
  code/modules/surgery/organic_steps.dm
  modular_skyrat/modules/space_vines/scythes.dm
Labels: Feature, Fix

#22269 [MODULAR] NiKA and NiKO borg models
  modular_skyrat/modules/altborgs/code/robot_model.dm
  modular_skyrat/modules/altborgs/icons/tallborg/tallrobot_cargo.dmi
  modular_skyrat/modules/altborgs/icons/tallborg/tallrobot_eng.dmi
  modular_skyrat/modules/altborgs/icons/tallborg/tallrobot_jani.dmi
  modular_skyrat/modules/altborgs/icons/tallborg/tallrobot_med.dmi
  modular_skyrat/modules/altborgs/icons/tallborg/tallrobot_mine.dmi
  modular_skyrat/modules/altborgs/icons/tallborg/tallrobot_ninja.dmi
  modular_skyrat/modules/altborgs/icons/tallborg/tallrobot_pk.dmi
  modular_skyrat/modules/altborgs/icons/tallborg/tallrobot_sec.dmi
  modular_skyrat/modules/altborgs/icons/tallborg/tallrobot_serv.dmi
  modular_skyrat/modules/altborgs/icons/tallborg/tallrobot_syndi.dmi
  modular_skyrat/modules/cargoborg/code/robot_modules.dm
Labels: Sprites

#22272 [MODULAR] Fixes an assortment of bugs related to the interaction menu and toys
  modular_skyrat/modules/interaction_menu/code/interaction_component.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/_sex_toy.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/attachable_vibrator.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/buttplug.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/clamps.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/condom.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/dildo.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/magic_wand.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/vibrator.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/vibroring.dm
  modular_skyrat/modules/modular_items/lewd_items/icons/mob/lewd_items/lewd_items.dmi
  modular_skyrat/modules/modular_items/lewd_items/icons/obj/lewd_items/lewd_items.dmi
Labels: Fix, Sprites, Refactor

#22329 [Meow!] K4TBorgs, by Zydras!
  modular_skyrat/modules/altborgs/code/robot_model.dm
  modular_skyrat/modules/altborgs/icons/tallborg/tallrobot_cargo.dmi
  modular_skyrat/modules/altborgs/icons/tallborg/tallrobot_clown.dmi
  modular_skyrat/modules/altborgs/icons/tallborg/tallrobot_eng.dmi
  modular_skyrat/modules/altborgs/icons/tallborg/tallrobot_jani.dmi
  modular_skyrat/modules/altborgs/icons/tallborg/tallrobot_med.dmi
  modular_skyrat/modules/altborgs/icons/tallborg/tallrobot_mine.dmi
  modular_skyrat/modules/altborgs/icons/tallborg/tallrobot_ninja.dmi
  modular_skyrat/modules/altborgs/icons/tallborg/tallrobot_pk.dmi
  modular_skyrat/modules/altborgs/icons/tallborg/tallrobot_sec.dmi
  modular_skyrat/modules/altborgs/icons/tallborg/tallrobot_serv.dmi
  modular_skyrat/modules/altborgs/icons/tallborg/tallrobot_syndi.dmi
  modular_skyrat/modules/cargoborg/code/robot_modules.dm
Labels: Sprites

#22301 Refactors manufacturer examine into an element rather than a component with a massive switch case
  code/__DEFINES/~skyrat_defines/gun.dm
  code/__DEFINES/~skyrat_defines/manufacturer_strings.dm
  modular_skyrat/modules/aesthetics/guns/code/guns.dm
  modular_skyrat/modules/assault_operatives/code/equipment_items/guns.dm
  modular_skyrat/modules/blueshield/code/weapons.dm
  modular_skyrat/modules/company_imports/code/datums/cargo_pack.dm
  modular_skyrat/modules/company_imports/code/objects/nri_surplus/ak25.dm
  modular_skyrat/modules/gunsgalore/code/guns/akm.dm
  modular_skyrat/modules/gunsgalore/code/guns/fg42.dm
  modular_skyrat/modules/gunsgalore/code/guns/luger.dm
  modular_skyrat/modules/gunsgalore/code/guns/mg34.dm
  modular_skyrat/modules/gunsgalore/code/guns/mp40.dm
  modular_skyrat/modules/gunsgalore/code/guns/pps.dm
  modular_skyrat/modules/gunsgalore/code/guns/ppsh.dm
  modular_skyrat/modules/gunsgalore/code/guns/stg.dm
  modular_skyrat/modules/manufacturer_examine/code/gun_company_additions.dm
  modular_skyrat/modules/manufacturer_examine/code/manufacturer_component.dm
  modular_skyrat/modules/manufacturer_examine/code/manufacturer_element.dm
  modular_skyrat/modules/marines/code/gear.dm
  modular_skyrat/modules/marines/code/smartgun.dm
  modular_skyrat/modules/microfusion/code/gun_types.dm
  modular_skyrat/modules/modular_weapons/code/automatic.dm
  modular_skyrat/modules/modular_weapons/code/energy.dm
  modular_skyrat/modules/modular_weapons/code/pistol.dm
  modular_skyrat/modules/modular_weapons/code/revolver.dm
  modular_skyrat/modules/modular_weapons/code/rifle.dm
  modular_skyrat/modules/novaya_ert/code/automatic.dm
  modular_skyrat/modules/novaya_ert/code/surplus_weapons.dm
  modular_skyrat/modules/sec_haul/code/guns/guns.dm
  modular_skyrat/modules/sec_haul/code/guns/pepperball_gun.dm
  tgstation.dme
Labels: Code Improvement, Refactor

#22418 [ Semi-Modular ] Reconnects some sounds for event announcements
  code/__DEFINES/sound.dm
  code/game/objects/effects/anomalies/anomalies_bluespace.dm
  code/modules/events/brand_intelligence.dm
  modular_skyrat/modules/alerts/code/default_announcer.dm
Labels: Sound

#22250 [MODULAR] Fixes missing digi icon paths for some of the hooded robe type armors
  code/modules/mining/equipment/explorer_gear.dm
  modular_skyrat/master_files/code/modules/antagonists/cult/cult_items.dm
  modular_skyrat/master_files/code/modules/mining/equipment/explorer_gear.dm
  tgstation.dme
Labels: Fix

#22113 The Illusive Language Re-Flavor PR
  modular_skyrat/master_files/icons/misc/language.dmi
  modular_skyrat/modules/customization/modules/language/canilunzt.dm
  modular_skyrat/modules/customization/modules/language/chitinclick.dm
  modular_skyrat/modules/customization/modules/language/common.dm
  modular_skyrat/modules/customization/modules/language/gutter.dm
  modular_skyrat/modules/customization/modules/language/panslavic.dm
  modular_skyrat/modules/customization/modules/language/piratespeak.dm
  modular_skyrat/modules/customization/modules/language/siiktajr.dm
  modular_skyrat/modules/customization/modules/language/skrell.dm
  modular_skyrat/modules/customization/modules/language/spacer.dm
  modular_skyrat/modules/customization/modules/language/vox.dm
  modular_skyrat/modules/customization/modules/language/xerxian.dm
  modular_skyrat/modules/customization/modules/language/yangyu.dm
  modular_skyrat/modules/primitive_catgirls/code/language.dm
  modular_skyrat/modules/primitive_catgirls/code/species.dm
Labels: Sprites, Grammar and Formatting

#22466 [MISSED MIRROR] makes the rcd able to make girders (#76515)
  code/__DEFINES/construction.dm
  code/game/objects/items/rcd/RCD.dm
  code/game/turfs/open/floor.dm
  code/game/turfs/open/misc.dm
  code/modules/asset_cache/assets/rcd.dm
Labels: Feature

#22438 [MISSED MIRROR] Robot suit hard-del / exited cleanup (#76583)
  code/game/objects/items/robot/robot_parts.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_defense.dm
  code/modules/mob/living/silicon/robot/robot_model.dm
  code/modules/surgery/bodyparts/robot_bodyparts.dm
Labels: Fix

#22274 [MODULAR] Fixes missing inhand sprites for a few guns
  modular_skyrat/modules/aesthetics/guns/icons/guns_lefthand.dmi
  modular_skyrat/modules/aesthetics/guns/icons/guns_righthand.dmi
  modular_skyrat/modules/modular_weapons/code/energy.dm
Labels: Fix, Sprites

#22314 Makes Suicide properly impossible when the config to disable suicide is active
  code/modules/client/verbs/suicide.dm
Labels: Fix

#22443 [MISSED MIRROR] Fixes multiz gas not displaying properly (#76572)
  code/__DEFINES/atmospherics/atmos_helpers.dm
  code/modules/atmospherics/gasmixtures/gas_types.dm
Labels: Fix

#22439 [MISSED MIRROR] Fixes silly siding sprites (#76586)
  code/game/objects/effects/decals/turfdecal/markings.dm
  icons/turf/decals.dmi
  modular_skyrat/master_files/code/game/objects/effects/decals/turfdecals/markings.dm
Labels: Fix, Sprites

#22453 Some thrown liquid logic improvement
  code/modules/reagents/reagent_containers.dm
  modular_skyrat/modules/liquids/code/liquid_systems/liquid_turf.dm
Labels: Fix

#22324 Fixes issue with the ammo counter HUD displaying inaccurately for revolvers
  code/modules/projectiles/guns/ballistic.dm
  modular_skyrat/modules/gunhud/code/gun_hud_component.dm
  modular_skyrat/modules/gunsgalore/code/guns/ballistic_master.dm
Labels: Fix

#22279 [MODULAR] Resets Human, Lizard, and Moth screams to /tg/ stock.
  modular_skyrat/modules/emotes/code/scream_datums.dm
Labels: Removal

#22280 [MODULAR] Fixes screaming easter eggs.
  modular_skyrat/modules/emotes/code/scream_emote.dm
Labels: Fix

#22401 [MODULAR] Makes DS-2 lockers use PopulateContents()
  _maps/RandomRuins/SpaceRuins/skyrat/interdynefob.dmm
  modular_skyrat/modules/mapping/code/lockers/interdyne_fob/cargo.dm
  modular_skyrat/modules/mapping/code/lockers/interdyne_fob/command.dm
  modular_skyrat/modules/mapping/code/lockers/interdyne_fob/engineering.dm
  modular_skyrat/modules/mapping/code/lockers/interdyne_fob/generic.dm
  modular_skyrat/modules/mapping/code/lockers/interdyne_fob/medical.dm
  modular_skyrat/modules/mapping/code/lockers/interdyne_fob/science.dm
  modular_skyrat/modules/mapping/code/lockers/interdyne_fob/security.dm
  modular_skyrat/modules/mapping/code/lockers/interdynefob_lockers.dm
  tgstation.dme
Labels: Quality of Life, Map Modification

#18110 Antag Revamp*: The Nuclear-ish Option
  code/__DEFINES/role_preferences.dm
  code/__DEFINES/~skyrat_defines/admin.dm
  code/__DEFINES/~skyrat_defines/opposing_force_defines.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
  code/modules/admin/topic.dm
  modular_skyrat/master_files/code/game/gamemodes/dynamic/dynamic_rulesets_roundstart.dm
  modular_skyrat/master_files/code/modules/antagonists/_common/antag_datum.dm
  modular_skyrat/master_files/code/modules/antagonists/changeling/changeling.dm
  modular_skyrat/modules/examinemore/code/examine_more.dm
  modular_skyrat/modules/opposing_force/code/antagonist.dm
  modular_skyrat/modules/opposing_force/code/dynamic.dm
  modular_skyrat/modules/opposing_force/code/equipment/antagonist_powers.dm
  modular_skyrat/modules/opposing_force/code/equipment/loadouts.dm
  modular_skyrat/modules/opposing_force/code/items.dm
  modular_skyrat/modules/opposing_force/icons/items.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/AntagInfoHeretic.tsx
  tgui/packages/tgui/interfaces/AntagInfoOpfor.tsx
  tgui/packages/tgui/interfaces/OpposingForcePanel.js
Labels: Balance, Sprites, Test Merged, Stale-b-gone

#22490 removes myself from CODEOWNERS
  .github/CODEOWNERS
Labels: Removal, GitHub

#22506 [MANUAL MIRROR] SPECIES NUKING 2023: Head flags 2: Electric Boogaloo (#76298) [MDB IGNORE]
  code/datums/bodypart_overlays/mutant_bodypart_overlay.dm
  code/datums/diseases/advance/symptoms/beard.dm
  code/datums/diseases/advance/symptoms/shedding.dm
  code/datums/dna.dm
  code/datums/quirks/neutral_quirks.dm
  code/datums/sprite_accessories.dm
  code/game/objects/items/cosmetics.dm
  code/game/objects/items/dyespray.dm
  code/game/objects/structures/mirror.dm
  code/modules/antagonists/changeling/changeling.dm
  code/modules/antagonists/fugitive/fugitive_outfits.dm
  code/modules/antagonists/obsessed/obsessed.dm
  code/modules/antagonists/revolution/revolution.dm
  code/modules/client/preferences/species_features/basic.dm
  code/modules/clothing/head/wig.dm
  code/modules/clothing/outfits/event.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/carbon_update_icons.dm
  code/modules/mob/living/carbon/examine.dm
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/species_types/abominations.dm
  code/modules/mob/living/carbon/human/species_types/android.dm
  code/modules/mob/living/carbon/human/species_types/dullahan.dm
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
  code/modules/mob/living/carbon/human/species_types/felinid.dm
  code/modules/mob/living/carbon/human/species_types/humans.dm
  code/modules/mob/living/carbon/human/species_types/jellypeople.dm
  code/modules/mob/living/carbon/human/species_types/lizardpeople.dm
  code/modules/mob/living/carbon/human/species_types/vampire.dm
  code/modules/mob/living/simple_animal/hostile/blobspore.dm
  code/modules/reagents/chemistry/reagents/drinks/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/drug_reagents.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/withdrawal/generic_addictions.dm
  code/modules/religion/burdened/psyker.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  code/modules/surgery/bodyparts/dismemberment.dm
  code/modules/surgery/bodyparts/head.dm
  code/modules/surgery/bodyparts/head_hair_and_lips.dm
  code/modules/surgery/bodyparts/species_parts/android_parts.dm
  code/modules/unit_tests/surgeries.dm
  modular_skyrat/master_files/code/game/objects/items/dyekit.dm
  modular_skyrat/modules/customization/datums/dna.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/hemophage.dm
  tgstation.dme
Labels: Upstream PR Merged, Refactor, Manual Mirror

#22509 [MANUAL MIRROR] SPECIES NUKING 2023: Moves speed modifier to bodyparts [MDB IGNORE]
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/mob/living/carbon/human/human_update_icons.dm
  code/modules/mob/living/carbon/human/species_types/mushpeople.dm
  code/modules/mob/living/carbon/human/species_types/snail.dm
  code/modules/mob/living/carbon/human/species_types/zombies.dm
  code/modules/movespeed/modifiers/innate.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  code/modules/surgery/bodyparts/dismemberment.dm
  code/modules/surgery/bodyparts/species_parts/misc_bodyparts.dm
  modular_skyrat/modules/mutants/code/mutant_species.dm
  modular_skyrat/modules/oversized/code/oversized_quirk.dm
Labels: Upstream PR Merged, Fix, Refactor, Manual Mirror

#22516 [MANUAL MIRROR] SPECIES NUKING 2023: Head flags 3 & Knuckles: Fixes some growing pains with head flags [MDB IGNORE]
  code/__DEFINES/DNA.dm
  code/datums/dna.dm
  code/game/objects/items/dyespray.dm
  code/modules/client/preferences/_preference.dm
  code/modules/client/preferences/species_features/basic.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/mob_transformation_simple.dm
  code/modules/surgery/bodyparts/head_hair_and_lips.dm
  modular_skyrat/master_files/code/game/objects/items/dyekit.dm
Labels: Upstream PR Merged, Fix, Manual Mirror

#22519 [MANUAL MIRROR] Fixes carbon bodytypes not always being synchronized with bodyparts + Fixes dumb usage of TRAIT_LIVERLESS_METABOLISM i caused [MDB IGNORE]
  code/__DEFINES/mobs.dm
  code/_globalvars/bitfields.dm
  code/game/objects/items/devices/scanners/health_analyzer.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/mob/living/carbon/human/monkey.dm
  code/modules/mob/living/carbon/human/species_types/monkeys.dm
  code/modules/surgery/bodyparts/dismemberment.dm
  code/modules/surgery/bodyparts/helpers.dm
  code/modules/surgery/bodyparts/parts.dm
  code/modules/surgery/organs/external/_external_organ.dm
  code/modules/surgery/organs/internal/liver/_liver.dm
  code/modules/surgery/organs/internal/liver/liver_skeleton.dm
  code/modules/unit_tests/screenshots/screenshot_antag_icons_opforcandidate.png
  modular_skyrat/master_files/code/modules/client/preferences/middleware/limbs_and_markings.dm
  modular_skyrat/master_files/code/modules/client/preferences/mutant_parts.dm
  tgstation.dme
Labels: Fix

#22543 [MODULAR] Fixes all the bugs with hair
  modular_skyrat/master_files/code/game/objects/items/dyekit.dm
  modular_skyrat/modules/black_mesa/code/mobs/headcrab.dm
  modular_skyrat/modules/customization/datums/dna.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/roundstartslime.dm
  modular_skyrat/modules/moretraitoritems/code/syndiemirror.dm
  modular_skyrat/modules/salon/code/misc_items.dm
  modular_skyrat/modules/salon/code/scissors.dm
Labels: Fix

#22535 [MISSED MIRROR] Volume pump refactor (#76260)
  code/__DEFINES/atmospherics/atmos_piping.dm
  code/modules/atmospherics/machinery/components/binary_devices/volume_pump.dm
Labels: Code Improvement, Refactor

#22578 Fixes mutant bodyparts not being properly made transparent when they should be
  code/datums/bodypart_overlays/mutant_bodypart_overlay.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  modular_skyrat/master_files/code/datums/bodypart_overlays/mutant_bodypart_overlay.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/roundstartslime.dm
Labels: Fix

#22521 Adds back our own screams, adds the /tg/ screams as alternate choices
  modular_skyrat/modules/emotes/code/scream_datums.dm
Labels: Quality of Life

#22580 [FUCK] Fixes a bad check for skintones in the preferences
  modular_skyrat/master_files/code/modules/client/preferences/genitals.dm
Labels: Fix

#22529 [FIX] Allows some decals spawn
  modular_skyrat/master_files/code/game/objects/effects/decals/cleanable/humans.dm
  modular_skyrat/master_files/code/game/objects/effects/decals/cleanable/misc.dm
  modular_skyrat/master_files/code/game/objects/effects/decals/remains.dm
  modular_skyrat/master_files/code/modules/mapfluff/ruins/objects_and_mobs/necropolis_gate.dm
  modular_skyrat/modules/mapping/code/turf_decals.dm
  tgstation.dme
Labels: Fix

#22363 [MANUAL MIRROR] Reworks Duffel Bags (Zippers)
  code/__DEFINES/dcs/signals/signals_backpack.dm
  code/__DEFINES/storage.dm
  code/controllers/subsystem/job.dm
  code/datums/actions/items/unzip.dm
  code/datums/outfit.dm
  code/datums/quirks/_quirk.dm
  code/datums/station_traits/neutral_traits.dm
  code/datums/storage/storage.dm
  code/datums/storage/subtypes/backpack.dm
  code/datums/storage/subtypes/bag_of_holding.dm
  code/datums/storage/subtypes/duffel_bag.dm
  code/datums/storage/subtypes/extract_inventory.dm
  code/game/gamemodes/objective.dm
  code/game/machinery/_machinery.dm
  code/game/machinery/computer/orders/order_items/mining/order_mining.dm
  code/game/objects/items.dm
  code/game/objects/items/devices/portable_chem_mixer.dm
  code/game/objects/items/storage/backpack.dm
  code/game/objects/items/storage/lockbox.dm
  code/game/objects/items/storage/secure.dm
  code/game/objects/items/storage/storage.dm
  code/modules/admin/verbs/debug.dm
  code/modules/antagonists/changeling/changeling.dm
  code/modules/antagonists/nukeop/outfits.dm
  code/modules/antagonists/revolution/revolution.dm
  code/modules/clothing/neck/_neck.dm
  code/modules/clothing/outfits/vr.dm
  code/modules/events/wizard/curseditems.dm
  code/modules/events/wizard/rpgloot.dm
  code/modules/jobs/job_types/chaplain/chaplain.dm
  code/modules/mining/fulton.dm
  code/modules/mob/inventory.dm
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/mob/living/carbon/inventory.dm
  code/modules/mob/living/simple_animal/friendly/drone/inventory.dm
  code/modules/mob/living/simple_animal/guardian/guardian.dm
  code/modules/mob/living/simple_animal/guardian/types/dextrous.dm
  code/modules/mob/mob.dm
  code/modules/mod/modules/modules_general.dm
  code/modules/research/xenobiology/crossbreeding/reproductive.dm
  code/modules/unit_tests/outfit_sanity.dm
  modular_skyrat/modules/modular_items/lewd_items/code/clothing_pref_check.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/size_items.dm
  modular_skyrat/modules/novaya_ert/code/head.dm
  sound/attributions.txt
  sound/items/un_zip.ogg
  sound/items/zip_up.ogg
  tgstation.dme
Labels: Fix, Manual Mirror

#22326 Fixes Hemophages having lungs
  code/game/machinery/computer/dna_console.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/hemophage.dm
  modular_skyrat/modules/mold/code/mold_disease.dm
Labels: Fix

#22617 [MODULAR] Fixes smoothbore getting the wrong cell type, removes skyrat edits
  code/modules/projectiles/guns/energy/stun.dm
  modular_skyrat/master_files/code/modules/projectiles/guns/energy/crank_guns.dm
  modular_skyrat/master_files/code/modules/projectiles/guns/stun/stun.dm
  tgstation.dme
Labels: Fix, Removal

#22624 Allows PAI range restrictions to be toggled on/off
  code/__DEFINES/pai.dm
  modular_skyrat/master_files/code/modules/pai/card.dm
  modular_skyrat/master_files/code/modules/pai/pai.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PaiCard.tsx
Labels: Quality of Life

#22632 Wall fungi event changes
  modular_skyrat/modules/wall_fungus/code/wall_fungus_event.dm
Labels: Quality of Life

#22628 Reenables Spacevine Event
  modular_skyrat/modules/ices_events/code/ICES_event_config.dm
Labels: Config Update

#21360 [TM] (Maybe) fixes enormous RSC bloat
  code/world.dm
Labels: Fix, Test Merged, Priority: HIGH

#22366 adds donator item for ChillyLobster
  modular_skyrat/master_files/icons/donator/mob/clothing/uniform.dmi
  modular_skyrat/master_files/icons/donator/obj/clothing/uniform.dmi
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
  modular_skyrat/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
Labels: Sprites, Stale

#22649 Fixes IRS pirates not spawning
  code/datums/shuttles.dm
Labels: Fix

#22640 [MODULAR] Fixes ammoboxes spawning with missing ammo
  modular_skyrat/modules/novaya_ert/code/toolbox.dm
Labels: Fix

#22641 [MODULAR] Updates alt job title on PDA item
  modular_skyrat/modules/alternative_job_titles/code/job.dm
Labels: Fix

#22397 Autotransfer subsystem uses REALTIMEOFDAY
  code/controllers/subsystem/ticker.dm
  modular_skyrat/modules/autotransfer/code/autotransfer.dm
Labels: Stale-b-gone

#21934 these are some REAL tentative numbers trust me - ammo material rebalance (mainly for the ammobench)
  modular_skyrat/modules/aesthetics/guns/code/guns.dm
  modular_skyrat/modules/gunsgalore/code/ammo/ammo.dm
  modular_skyrat/modules/modular_weapons/code/modular_projectiles.dm
  modular_skyrat/modules/sec_haul/code/guns/bullets.dm
  modular_skyrat/modules/shotgunrebalance/code/shotgun.dm
Labels: Balance, Test Merged

#22663 [MODULAR] Fixes nitrogen breather quirk
  modular_skyrat/master_files/code/datums/quirks/neutral.dm
Labels: Fix

#22662 Revert powernet electrocute damage to tg values
  code/modules/power/powernet.dm
Labels: Balance, Revert

#21708 restrict imbuing to ashwalkers & icecats
  modular_skyrat/modules/reagent_forging/code/forge.dm
Labels: Balance

#22671 ICES events uses same ticker as autotransfer [NO GBP]
  modular_skyrat/master_files/code/controllers/subsystem/events.dm
Labels: Fix, GBP: No Update

#22638 Hemophagus, The Hemophage Revamp, Part 4.5: Bases of Blood
  modular_skyrat/modules/customization/modules/food_and_drinks/recipes/drinks_recipes.dm
  modular_skyrat/modules/customization/modules/reagents/chemistry/reagents/alcohol_reagents.dm
Labels: Quality of Life

#22642 sec uniform stuff - chest coverage on adjust, desc tweak, formal uniform thing
  modular_skyrat/modules/goofsec/code/sec_clothing_overrides.dm
Labels: Fix, Grammar and Formatting

#22684 [NO GBP] Adds Skyrat edit comment in jobmanagement.dm
  code/modules/modular_computers/file_system/programs/jobmanagement.dm
Labels: GBP: No Update

#22400 Complete Freighter Remap
  _maps/RandomRuins/SpaceRuins/skyrat/cargodiselost.dmm
  modular_skyrat/modules/mapping/code/areas/space.dm
  modular_skyrat/modules/mapping/code/lockers/cargodiselost/cargodiselockers.dm
  tgstation.dme
Labels: Stale, Map Modification

#22705 Fixes eye emissives not scaling properly with height
  code/modules/surgery/organs/internal/eyes/_eyes.dm
Labels: Fix

#22147 [Modular] Nerfs pirate cheese (stop destroying the consoles)
  modular_skyrat/master_files/code/modules/antagonists/pirate/pirate_shuttle_equipment.dm
  tgstation.dme
Labels: Balance

#22713 [FIX] Synths now have a way to remove disgust
  modular_skyrat/modules/synths/code/reagents/reagents.dm
Labels: Fix

#22753 Fix escape menu items
  modular_skyrat/modules/escape_menu/code/escape_menu_skyrat.dm
Labels: Fix

#22760 [MISSED MIRROR] make the mushroom a basic monster (#76570)
  code/datums/memory/_memory.dm
  code/modules/events/vent_clog.dm
  code/modules/hydroponics/unique_plant_genes.dm
  code/modules/mob/living/basic/space_fauna/mushroom.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/hostile/mushroom.dm
  code/modules/mob/transform_procs.dm
  code/modules/research/xenobiology/vatgrowing/samples/cell_lines/common.dm
  code/modules/unit_tests/simple_animal_freeze.dm
  tgstation.dme
Labels: Refactor

#22708 Remove Ghost Cafe cyborg PDA
  modular_skyrat/modules/ghostcafe/code/robot_ghostcafe.dm
Labels: Fix

#22664 [MODULAR] Fixes custom tongues not getting the right food preferences/hemophage abilities
  modular_skyrat/master_files/code/datums/traits/neutral.dm
  modular_skyrat/modules/customization/modules/client/augment/organs.dm
  modular_skyrat/modules/organs/code/organs.dm
  modular_skyrat/modules/organs/code/tongue.dm
  tgstation.dme
Labels: Fix

#22626 once more, as a joke - re-ports the proto-kinetic glaive
  code/game/objects/items.dm
  modular_skyrat/master_files/icons/mob/64x64_lefthand.dmi
  modular_skyrat/master_files/icons/mob/64x64_righthand.dmi
  modular_skyrat/master_files/icons/mob/clothing/back.dmi
  modular_skyrat/master_files/icons/obj/kinetic_glaive.dmi
  modular_skyrat/modules/mining_vendor_additions/code/order_mining.dm
Labels: Feature, Sprites

#22711 [Modular] GAGS Version of the Flannel Shirt
  modular_skyrat/modules/GAGS/greyscale_configs.dm
  modular_skyrat/modules/GAGS/icons/suit.dmi
  modular_skyrat/modules/GAGS/json_configs/flannel/flannel.json
  modular_skyrat/modules/GAGS/json_configs/flannel/flannel_worn.json
  modular_skyrat/modules/customization/modules/clothing/under/utility_port/suits_port.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_suit.dm
  modular_skyrat/modules/modular_vending/code/clothesmate.dm
Labels: Feature, Sprites

#22739 Returns Security Skirts (Somewhat)
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  modular_skyrat/master_files/icons/mob/clothing/under/security.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/security_digi.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/security.dmi
  modular_skyrat/modules/goofsec/code/sec_clothing_overrides.dm
  modular_skyrat/modules/sec_haul/code/misc/vending.dm
Labels: Sprites

#22647 [MODULAR] Off-Duty check proc
  modular_skyrat/master_files/code/modules/jobs/off_duty_check.dm
  modular_skyrat/modules/time_clock/code/console_tgui.dm
  modular_skyrat/modules/time_clock/code/mind.dm
  tgstation.dme
Labels: Code Improvement

#22685 [Modular] Adds a thinner variant of the choker
  modular_skyrat/modules/GAGS/greyscale_configs.dm
  modular_skyrat/modules/GAGS/icons/collar.dmi
  modular_skyrat/modules/GAGS/json_configs/collar/thinchoker.json
  modular_skyrat/modules/GAGS/json_configs/collar/thinchoker_worn.json
  modular_skyrat/modules/customization/modules/clothing/neck/collars.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_neck.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_machinery/lustwish.dm
Labels: Feature, Sprites

#22714 Correct powernet electrocution damage [NO GBP]
  code/__DEFINES/~skyrat_defines/mobs.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  modular_skyrat/master_files/code/modules/power/powernet.dm
  tgstation.dme
Labels: Fix, GBP: No Update

#22749 Digi Kneeboot Fix
  modular_skyrat/master_files/icons/mob/clothing/feet_digi.dmi
Labels: Sprites

#22759 [Non-Modular] detective spawn with gun
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/jobs/job_types/detective.dm
Labels: Quality of Life

#22518 [MODULAR] Anti-Gravity Harness
  modular_skyrat/master_files/code/modules/clothing/back/antigravityharness.dm
  modular_skyrat/master_files/icons/mob/clothing/back.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/back.dmi
  modular_skyrat/master_files/icons/mob/clothing/suit_digi.dmi
  modular_skyrat/master_files/icons/obj/clothing/backpacks.dmi
  modular_skyrat/modules/cargo/code/goodies.dm
  tgstation.dme
Labels: Feature, Sprites
