Repository Skyrat-SS13/Skyrat-tg, pull requests merged in 2023-09, with the labels that each got.

#23446 [MODULAR] Increases the amount of eyewear that the NIFSoft HUD Adapter works with
  modular_skyrat/modules/modular_implants/code/misc_devices.dm
Labels: Quality of Life

#23423 Fixes anti-fauna arrows not applying bonus damage to certain mobs & fixes ammo hud for bows
  modular_skyrat/modules/gunhud/code/gun_hud_component.dm
  modular_skyrat/modules/tribal_extended/code/ammo/reusable/arrow.dm
Labels: Fix

#23050 [IT'S READY NOW!] [MODULAR] Razor Claws Augment
  modular_skyrat/master_files/code/game/objects/items/scratchingstone.dm
  modular_skyrat/master_files/code/modules/client/preferences/middleware/limbs_and_markings.dm
  modular_skyrat/master_files/icons/hud/actions.dmi
  modular_skyrat/master_files/icons/obj/kitchen.dmi
  modular_skyrat/modules/cargo/code/goodies.dm
  modular_skyrat/modules/customization/modules/client/augment/implants.dm
  modular_skyrat/modules/implants/code/augments_arms.dm
  modular_skyrat/modules/implants/code/medical_designs.dm
  modular_skyrat/modules/implants/code/medical_nodes.dm
  modular_skyrat/modules/implants/icons/razorclaws.dmi
  modular_skyrat/modules/implants/icons/razorclaws_lefthand.dmi
  modular_skyrat/modules/implants/icons/razorclaws_righthand.dmi
  tgstation.dme
Labels: Sprites, Test Merged

#21776 [Not Entirely Modular] Removes bundles from opfor : Removes Microbomb implants from Ninja + Contractor
  code/modules/antagonists/ninja/outfit.dm
  modular_skyrat/modules/contractor/code/datums/midround/outfit.dm
  modular_skyrat/modules/opposing_force/code/equipment/misc.dm
Labels: Removal

#22799 [Modular] Arrivals shuttle autoreturn
  config/skyrat/skyrat_config.txt
  modular_skyrat/master_files/code/_globalvars/configuration.dm
  modular_skyrat/modules/advanced_shuttles/code/shuttles.dm
Labels: Feature, Config Update, Test Merged

#23477 [MODULAR] Makes evoker available through the R&D protolathe
  modular_skyrat/modules/modular_implants/code/nif_research.dm
Labels: Balance

#23476 [MODULAR] Fixes organic interface gas mask
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/bdsm_mask.dm
Labels: Fix

#23452 [MODULAR] You cannot put enterprise resource planning drugs in the Odysseus syringe gun, and they will no longer be used in the random reagent recipes.
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_chemistry/reagents/_aphrodisiac.dm
Labels: Fix

#23298 [MODULAR] Hairfre Hairstyle
  modular_skyrat/master_files/icons/mob/sprite_accessory/hair.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/hair.dm
Labels: Sprites, Port

#23061 [MODULAR] Fixes Quickspawn/SimpleTF/genetics eating mutcols
  modular_skyrat/modules/customization/datums/dna.dm
Labels: Fix

#23390 Allow bag dumping into mortars and millstones
  modular_skyrat/modules/primitive_cooking_additions/code/big_mortar.dm
  modular_skyrat/modules/primitive_cooking_additions/code/millstone.dm
Labels: Quality of Life

#23504 [MODULAR][FUCK]Fixes compile error
  modular_skyrat/modules/primitive_cooking_additions/code/big_mortar.dm
Labels: FUCK, GBP: No Update

#23509 [MODULAR] Meson NIF HUDs
  modular_skyrat/master_files/code/modules/research/techweb/all_nodes.dm
  modular_skyrat/modules/modular_implants/code/nif_research.dm
  modular_skyrat/modules/modular_implants/code/nifsofts/huds.dm
Labels: Feature

#23498 Mold spawns above catwalk floors
  modular_skyrat/modules/mold/code/mold_structures.dm
Labels: Fix

#23006 DS-2 QoL / Interdyne light fix
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_syndicate_base1_skyrat.dmm
  _maps/RandomRuins/LavaRuins/skyrat/lavaland_surface_syndicate_base1_skyrat.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/interdynefob.dmm
Labels: Fix, Quality of Life, Map Modification

#23560 Revert making the vote sound a define
  code/__DEFINES/sound.dm
  modular_skyrat/master_files/code/datums/votes/_vote_datum.dm
  modular_skyrat/modules/alerts/code/default_announcer.dm
Labels: Fix, Revert, GBP: No Update

#23590 Fix: Poly's Emotes & Voice Commands
  modular_skyrat/modules/poly_commands/parrot.dm
Labels: Fix

#23591 (Bugfix) Fixes Interdyne mining reward boards making the golem rewards vendor
  modular_skyrat/modules/mapping/code/interdyne_mining.dm
Labels: Fix

#23536 [MODULAR] Fixes large mortar grinding and juicing
  modular_skyrat/modules/primitive_cooking_additions/code/big_mortar.dm
Labels: Fix

#23483 Delam emergency procedure moth
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  _maps/skyrat/automapper/automapper_config.toml
  _maps/skyrat/automapper/templates/birdshot/birdshot_supermatter.dmm
  _maps/skyrat/automapper/templates/deltastation/deltastation_supermatter.dmm
  _maps/skyrat/automapper/templates/icebox/icebox_supermatter.dmm
  _maps/skyrat/automapper/templates/metastation/metastation_supermatter.dmm
  _maps/skyrat/automapper/templates/northstar/northstar_supermatter.dmm
  _maps/skyrat/automapper/templates/tramstation/tramstation_supermatter.dmm
  modular_skyrat/modules/delam_emergency_stop/code/scram.dm
  modular_skyrat/modules/delam_emergency_stop/icons/scram.dmi
  tgui/packages/tgui/interfaces/DelamProcedure.tsx
Labels: Code Improvement, Sprites, Map Modification

#23607 [non modular] disables TG "hold up" for the foreseeable future
  code/modules/projectiles/gun.dm
Labels: Removal

#23513 fixes revive mob ritual and makes ashies ashwalker faction
  modular_skyrat/modules/ashwalkers/code/effects/ash_rituals.dm
  modular_skyrat/modules/ashwalkers/code/species/Ashwalkers.dm
Labels: Fix

#23618 Wound refactor two compatability
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  _maps/skyrat/automapper/automapper_config.toml
  _maps/skyrat/automapper/templates/birdshot/birdshot_supermatter.dmm
  _maps/skyrat/automapper/templates/deltastation/deltastation_supermatter.dmm
  _maps/skyrat/automapper/templates/icebox/icebox_supermatter.dmm
  _maps/skyrat/automapper/templates/metastation/metastation_supermatter.dmm
  _maps/skyrat/automapper/templates/northstar/northstar_supermatter.dmm
  _maps/skyrat/automapper/templates/tramstation/tramstation_supermatter.dmm
  code/__DEFINES/wounds.dm
  code/__DEFINES/~skyrat_defines/medical_defines.dm
  code/__DEFINES/~skyrat_defines/wounds.dm
  code/datums/wounds/bones.dm
  code/game/objects/effects/temporary_visuals/miscellaneous.dm
  code/modules/food_and_drinks/recipes/food_mixtures.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/hivelord.dm
  code/modules/projectiles/gun.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  html/changelogs/AutoChangeLog-pr-23536.yml
  html/changelogs/AutoChangeLog-pr-23560.yml
  html/changelogs/AutoChangeLog-pr-23590.yml
  html/changelogs/AutoChangeLog-pr-23591.yml
  html/changelogs/AutoChangeLog-pr-23595.yml
  html/changelogs/AutoChangeLog-pr-23596.yml
  html/changelogs/AutoChangeLog-pr-23597.yml
  html/changelogs/AutoChangeLog-pr-23598.yml
  html/changelogs/AutoChangeLog-pr-23599.yml
  html/changelogs/AutoChangeLog-pr-23600.yml
  html/changelogs/AutoChangeLog-pr-23607.yml
  html/changelogs/AutoChangeLog-pr-23608.yml
  html/changelogs/AutoChangeLog-pr-23609.yml
  html/changelogs/AutoChangeLog-pr-23611.yml
  html/changelogs/archive/2023-09.yml
  icons/mob/simple/lavaland/lavaland_monsters.dmi
  icons/obj/pipes_n_cables/hydrochem/plumbers.dmi
  modular_skyrat/modules/contractor/code/datums/contract.dm
  modular_skyrat/modules/delam_emergency_stop/code/scram.dm
  modular_skyrat/modules/delam_emergency_stop/icons/scram.dmi
  modular_skyrat/modules/hev_suit/code/hev_suit.dm
  modular_skyrat/modules/medical/code/grasp.dm
  modular_skyrat/modules/medical/code/wounds/muscle.dm
  tgui/packages/tgui/interfaces/DelamProcedure.tsx
Labels: Sprites, Map Modification

#23443 extends the teleporter comment-out to the syndicate hand tele
  code/modules/uplink/uplink_items/device_tools.dm
Labels: Removal

#23602 [MODULAR] Ghost Cafe Hivemind NIFSoft removal
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  modular_skyrat/modules/mapping/code/wardrobes.dm
  modular_skyrat/modules/modular_implants/code/nifs.dm
Labels: Fix, Map Modification

#23454 MCR damage buff
  modular_skyrat/modules/microfusion/code/projectiles.dm
Labels: Balance, Stale

#23631 medical tongue bounty text tweak
  modular_skyrat/master_files/code/modules/cargo/bounties/medical.dm
  tgstation.dme
Labels: Quality of Life

#23664 [MISSED MIRROR] Fixes headsets not using their proper worn sprites (#72953)
  code/game/objects/items/devices/radio/headset.dm
  code/modules/unit_tests/screenshots/screenshot_antag_icons_assaultoperative.png
  code/modules/unit_tests/screenshots/screenshot_antag_icons_bloodbrother.png
  code/modules/unit_tests/screenshots/screenshot_antag_icons_changeling.png
  code/modules/unit_tests/screenshots/screenshot_antag_icons_stowawaychangeling.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_lizard.png
Labels: Fix

#23653 Adds a crafting recipe for ammo pouches
  modular_skyrat/master_files/code/game/objects/items/stacks/sheets/sheet_types.dm
Labels: Feature

#23220 Void Raptor - Medbay additions, QoL tweaks
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Feature, Fix, Quality of Life, Map Modification

#23628 [SEMI-MODULAR] Gives robotics bonesetters, non-medibot health analyzers, and some gauze
  code/modules/mob/living/simple_animal/bot/construction.dm
  modular_skyrat/modules/medical/code/health_analyzer.dm
  modular_skyrat/modules/modular_vending/code/wardrobes.dm
  tgstation.dme
Labels: Feature

#23647 Removes Changeling Horror-Form's Reduced Click Delay
  modular_skyrat/modules/horrorform/code/true_changeling.dm
Labels: Balance, Removal

#23572 buffs the captains sabre, and changes around the balance of the cargo sabre
  code/game/objects/items/melee/misc.dm
  modular_skyrat/modules/modular_weapons/code/melee.dm
Labels: Balance

#23732 Makes muscle wounds not scar and not cause a general disfigurement
  modular_skyrat/modules/medical/code/wounds/muscle.dm
Labels: Fix

#23512 Bullet Drive machine is get-able again via cargo-imports
  modular_skyrat/modules/company_imports/code/armament_datums/vitezstvi_ammo.dm
Labels: Feature, Quality of Life

#23764 [MODULAR] Fixes an old path that never got updated
  modular_skyrat/modules/loadouts/loadout_items/under/loadout_datum_under.dm
  modular_skyrat/modules/moretraitoritems/code/mafioso.dm
  modular_skyrat/modules/moretraitoritems/code/syndicate_loadout.dm
Labels: Fix

#23686 [Modular] Verb panel revamp - aka Granite's tired of scrolling 4 miles down a list
  code/__DEFINES/~skyrat_defines/_organ_defines.dm
  modular_skyrat/modules/interaction_menu/code/interaction_component.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_helpers/human.dm
  tgui/packages/tgui/interfaces/InteractionMenu.tsx
Labels: Quality of Life

#23827 [NO GBP] Restores missing spiritual quirk
  code/datums/quirks/positive_quirks/spiritual.dm
  tgstation.dme
Labels: Fix, GBP: No Update

#23837 [MISSED MIRROR] Replace DreamAnnotate action with a python script (#78225)
  .github/workflows/ci_suite.yml
  tools/ci/annotate_dm.py
  tools/ci/annotate_dm.sh
Labels: Upstream PR Merged, Manual Mirror

#23434 Donator reward: grasshand
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
  modular_skyrat/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
Labels: Stale-b-gone

#23814 Adds /shorter/ shorts to loadout preferences
  modular_skyrat/master_files/code/datums/greyscale/config_types/greyscale_configs.dm
  modular_skyrat/master_files/code/modules/clothing/under/shorts_pants.dm
  modular_skyrat/master_files/icons/obj/clothing/under/shorts_pants_shirts.dmi
  modular_skyrat/modules/GAGS/icons/shorts_pants.dmi
  modular_skyrat/modules/GAGS/json_configs/pants_shorts_skirts_dresses/shortershorts.json
  modular_skyrat/modules/loadouts/loadout_items/under/loadout_datum_under.dm
Labels: Feature, Sprites

#23845 Digi shorter shorts
  modular_skyrat/master_files/code/datums/greyscale/config_types/greyscale_configs.dm
  modular_skyrat/master_files/code/modules/clothing/under/shorts_pants.dm
  modular_skyrat/master_files/icons/mob/clothing/under/shorts_pants_shirts_digi.dmi
  modular_skyrat/modules/GAGS/greyscale_configs.dm
  modular_skyrat/modules/GAGS/icons/shorts_pants.dmi
Labels: Sprites

#23831 [MODULAR] Fixes seed mesh being able to spawn prototype 'lavaland seed'
  modular_skyrat/modules/ashwalkers/code/items/ash_seedmesh.dm
Labels: Fix

#23832 [MODULARIZATION] Reinstates the Experimental Welding Tool
  code/modules/research/designs/tool_designs.dm
  modular_skyrat/master_files/code/modules/research/designs/tool_designs.dm
  modular_skyrat/modules/electric_welder/code/electric_welder.dm
Labels: Removal

#23741 Makes flashlights not need cells to operate anymore, by consequences removes that one feature where you can change flashlight light power that nobody uses ever.
  code/game/objects/items/devices/flashlight.dm
  modular_skyrat/master_files/sound/effects/flashlight.ogg
  modular_skyrat/modules/cell_component/code/flashlight.dm
  tgstation.dme
Labels: Removal, Quality of Life

#23269 [SEMI-MODULAR] Underwear and Bra split
  code/__DEFINES/~skyrat_defines/mobs.dm
  code/__HELPERS/dynamic_human_icon_gen.dm
  code/__HELPERS/global_lists.dm
  code/datums/martial/plasma_fist.dm
  code/datums/outfit.dm
  code/datums/sprite_accessories.dm
  code/game/objects/structures/dresser.dm
  code/game/objects/structures/mannequin.dm
  code/modules/antagonists/changeling/changeling.dm
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob_spawn/mob_spawn.dm
  modular_skyrat/master_files/code/game/objects/structures/mannequin.dm
  modular_skyrat/master_files/code/modules/antagonists/changeling/changeling.dm
  modular_skyrat/master_files/code/modules/client/preferences/clothing.dm
  modular_skyrat/master_files/code/modules/client/preferences/underwear_color.dm
  modular_skyrat/master_files/code/modules/client/preferences_savefile.dm
  modular_skyrat/master_files/code/modules/mob/dead/new_player/preferences_setup.dm
  modular_skyrat/master_files/code/modules/mob/living/carbon/human_helpers.dm
  modular_skyrat/master_files/icons/mob/clothing/underwear.dmi
  modular_skyrat/modules/contractor/code/datums/outfit.dm
  modular_skyrat/modules/customization/__HELPERS/global_lists.dm
  modular_skyrat/modules/customization/__HELPERS/mobs.dm
  modular_skyrat/modules/customization/_globalvars/lists.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/genitals.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/human.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/human_defines.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/species_features.tsx
Labels: Feature, Sprites, Test Merged

#23853 Reverts wall-mushroom outbreak, take 2
  code/__DEFINES/sound.dm
  modular_skyrat/modules/alerts/code/default_announcer.dm
  modular_skyrat/modules/alerts/sound/alerts/fungi.ogg
  modular_skyrat/modules/ices_events/code/ICES_event_config.dm
  modular_skyrat/modules/wall_fungus/code/wall_fungus_component.dm
  modular_skyrat/modules/wall_fungus/code/wall_fungus_event.dm
  modular_skyrat/modules/wall_fungus/code/wall_mushroom.dm
  modular_skyrat/modules/wall_fungus/icons/wall_fungus_overlay.dmi
  tgstation.dme
Labels: Sprites

#23886 [MODULAR] Fixes a bug with the steampunk goggles that deletes items that aren't welding goggles when hit by it.
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
Labels: Fix

#23796 [MODULAR] Persistent NIFSofts
  modular_skyrat/modules/modular_implants/code/nif_persistence.dm
  modular_skyrat/modules/modular_implants/code/nifs.dm
  modular_skyrat/modules/modular_implants/code/nifs_tgui.dm
  modular_skyrat/modules/modular_implants/code/nifsoft_catalog.dm
  modular_skyrat/modules/modular_implants/code/nifsofts.dm
  modular_skyrat/modules/modular_implants/code/nifsofts/prop_summoner.dm
  modular_skyrat/modules/modular_implants/code/nifsofts/soulcatcher.dm
  tgui/packages/tgui/interfaces/NifPanel.js
  tgui/packages/tgui/interfaces/NtosNifsoftCatalog.js
Labels: Feature, Test Merged

#24013 Maybe possibly fixes icecat languages sometimes breaking, also adds a round end report bit for them
  modular_skyrat/modules/primitive_catgirls/code/spawner.dm
  modular_skyrat/modules/primitive_catgirls/code/species.dm
Labels: Fix, Quality of Life

#24005 Adds some new hairstyles
  modular_skyrat/master_files/icons/mob/sprite_accessory/hair.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/hair.dm
Labels: Sprites

#23574 reduces base wound bonus of bullets' base type
  code/modules/projectiles/projectile/bullets.dm
Labels: Balance
