Repository Skyrat-SS13/Skyrat-tg, pull requests merged in 2023-03, with the labels that each got.

#19581 Chemist/viro AR glasses can be printed in medical protolathe
  modular_skyrat/modules/modular_items/code/designs.dm
Labels: Fix

#19532 Teshari sprite pack: booster spinoff pack 2
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/hands.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/head.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/suit.dmi
  modular_skyrat/modules/customization/modules/clothing/hands/hands.dm
Labels: Sprites

#19218 [Modular] Allows custom emoting while in soft-crit
  modular_skyrat/modules/emotes/code/emotes.dm
Labels: Quality of Life

#19360 Better NRI ship ambience
  modular_skyrat/modules/encounters/code/nri_raiders.dm
  modular_skyrat/modules/encounters/sounds/amb_ship_01.ogg
  modular_skyrat/modules/encounters/sounds/env_ship_idle.ogg
Labels: Removal, Sound, Stale

#19574 Dancer pole fixes and code improvements
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/_erp_disabled_item_enforcement.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_structures/dancing_pole.dm
Labels: Fix, Quality of Life

#19611 [MODULARITY: SSS] [THIS IS LIKE HER THIRD PR TODAY WHAT'S WITH THAT] Adds Plasmaman Limbs to Setup
  modular_skyrat/modules/customization/modules/client/augment/limbs.dm
Labels: Feature

#19414 [SEMI-MODULAR] Engineering Override Update
  code/__DEFINES/~skyrat_defines/signals.dm
  code/game/machinery/computer/communications.dm
  code/modules/security_levels/keycard_authentication.dm
  config/skyrat/skyrat_config.txt
  modular_skyrat/modules/aesthetics/airlock/code/airlock.dm
  modular_skyrat/modules/airlock_override/code/airlock_override.dm
  modular_skyrat/modules/airlock_override/readme.md
  tgstation.dme
  tgui/packages/tgui/interfaces/CommunicationsConsole.js
  tgui/packages/tgui/interfaces/KeycardAuth.js
Labels: Fix, Quality of Life

#19624 Fix Loadout Laptop Spawning.
  modular_skyrat/master_files/code/modules/modular_computers/computers/item/laptop_presets.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_pocket.dm
  tgstation.dme
Labels: Fix

#19587 More skyrat specific GAGS color palette cleanups and facelifts.
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_teshari.png
  modular_skyrat/master_files/icons/donator/mob/clothing/head.dmi
  modular_skyrat/master_files/icons/donator/mob/clothing/suit.dmi
  modular_skyrat/master_files/icons/donator/obj/clothing/suits.dmi
  modular_skyrat/modules/GAGS/icons/beret.dmi
  modular_skyrat/modules/GAGS/icons/beret_teshari.dmi
  modular_skyrat/modules/GAGS/icons/beret_vox.dmi
  modular_skyrat/modules/GAGS/icons/ranger_poncho.dmi
  modular_skyrat/modules/GAGS/icons/ranger_poncho_teshari.dmi
  modular_skyrat/modules/GAGS/icons/sneakers_digi.dmi
  modular_skyrat/modules/GAGS/icons/sneakers_teshari.dmi
  modular_skyrat/modules/GAGS/icons/teshari_fallbacks.dmi
Labels: Sprites

#19215 [MANUAL MIRROR] Buff scythes, goats, and plantbgone vs PLANT biotypes
  code/datums/components/fantasy/suffixes.dm
  code/datums/elements/bane.dm
  code/game/objects/items/holy_weapons.dm
  code/modules/art/statues.dm
  code/modules/cargo/packs/emergency.dm
  code/modules/events/spacevine.dm
  code/modules/hydroponics/hydroitemdefines.dm
  code/modules/mining/lavaland/megafauna_loot.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/friendly/farm_animals.dm
  code/modules/mob/living/simple_animal/hostile/venus_human_trap.dm
  code/modules/mob_spawn/ghost_roles/venus_human_trap.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
Labels: Upstream PR Merged, Feature, Fix, Code Improvement, Sound, Manual Mirror

#19633 Fixes CI again
  _maps/RandomRuins/SpaceRuins/crashedship.dmm
  _maps/map_files/generic/CentCom.dmm
Labels: Fix

#19631 Three small changes with assops, since I'm a fool
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  _maps/shuttles/skyrat/goldeneye_cruiser.dmm
  modular_skyrat/modules/assault_operatives/code/armaments/armament_utility.dm
Labels: Balance, Fix

#19662 Fixes IP xenobio pens
  _maps/RandomRuins/LavaRuins/skyrat/lavaland_surface_syndicate_base1_skyrat.dmm
Labels: Fix

#17788 Adminhelps into mentorhelps converting.
  code/modules/admin/verbs/adminhelp.dm
  modular_skyrat/master_files/code/modules/admin/admin.dm
Labels: Administration, Stale-b-gone

#19672 [MOSTLY Modular] Roles and tracking for ghost roles
  code/__DEFINES/role_preferences.dm
  code/modules/jobs/jobs.dm
  modular_skyrat/master_files/code/modules/jobs/job_types/blackmarket.dm
  modular_skyrat/master_files/code/modules/jobs/job_types/ds2.dm
  modular_skyrat/master_files/code/modules/jobs/job_types/freighter_crew.dm
  modular_skyrat/master_files/code/modules/jobs/job_types/ghostcafe.dm
  modular_skyrat/master_files/code/modules/jobs/job_types/tarkon.dm
  modular_skyrat/modules/ghostcafe/code/ghost_role_spawners.dm
  modular_skyrat/modules/mapping/code/mob_spawns.dm
  tgstation.dme
Labels: Feature, Quality of Life

#19654 removes single vendor on the interlink
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
Labels: Fix, Removal

#19489 Makes CMGs in the armory spawn as gunsets that include both non-lethal and lethal magazines
  modular_skyrat/modules/blueshield/code/blueshield.dm
  modular_skyrat/modules/sec_haul/code/guns/armory_spawns.dm
  modular_skyrat/modules/sec_haul/code/guns/cmg.dm
Labels: Balance, Host Request

#19588 [MIRROR] A few records-related manual mirrors (so I don't have to deal with annoying conflicts)
  _maps/RandomRuins/SpaceRuins/abandonedzoo.dmm
  _maps/RandomRuins/SpaceRuins/crashedship.dmm
  _maps/RandomRuins/SpaceRuins/listeningstation.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/scrapheap.dmm
  _maps/RandomZLevels/SnowCabin.dmm
  _maps/RandomZLevels/blackmesa.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/Mining/Lavaland.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  _maps/map_files/generic/CentCom.dmm
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/shuttles/emergency_cere.dmm
  _maps/shuttles/emergency_cruise.dmm
  _maps/shuttles/emergency_delta.dmm
  _maps/shuttles/emergency_medisim.dmm
  _maps/shuttles/emergency_pubby.dmm
  _maps/shuttles/emergency_raven.dmm
  _maps/shuttles/emergency_shadow.dmm
  _maps/shuttles/infiltrator_advanced.dmm
  _maps/shuttles/infiltrator_basic.dmm
  _maps/shuttles/skyrat/emergency_skyrat.dmm
  _maps/shuttles/skyrat/goldeneye_cruiser.dmm
  _maps/shuttles/starfury_corvette.dmm
  _maps/shuttles/whiteship_box.dmm
  _maps/skyrat/automapper/templates/centcom/centcom_shuttle_dock.dmm
  _maps/templates/battlecruiser_starfury.dmm
  _maps/templates/holodeck_medicalsim.dmm
  code/datums/records/crime.dm
  code/datums/records/record.dm
  code/game/machinery/computer/_computer.dm
  code/game/machinery/computer/records/medical.dm
  code/game/machinery/computer/records/records.dm
  code/game/machinery/computer/records/security.dm
  code/game/machinery/computer/warrant.dm
  code/game/objects/items/circuitboards/computer_circuitboards.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/modular_computers/file_system/programs/records.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/MedicalRecords/RecordTabs.tsx
  tgui/packages/tgui/interfaces/SecurityRecords/CrimeWatcher.tsx
  tgui/packages/tgui/interfaces/SecurityRecords/RecordTabs.tsx
  tgui/packages/tgui/interfaces/SecurityRecords/RecordView.tsx
  tgui/packages/tgui/interfaces/SecurityRecords/constants.ts
  tgui/packages/tgui/interfaces/SecurityRecords/types.ts
  tools/UpdatePaths/Scripts/73363_records_computers.txt
Labels: Upstream PR Merged, Balance, Fix, Quality of Life, Manual Mirror

#19719 [MODULAR] Adds new PDA themes to NIFs
  modular_skyrat/modules/modular_implants/code/nifs_tgui.dm
Labels: Quality of Life

#19718 [MODULAR] Dorms NIFSoft
  modular_skyrat/modules/modular_implants/code/nifs.dm
  modular_skyrat/modules/modular_implants/code/nifsoft_catalog.dm
  modular_skyrat/modules/modular_implants/code/nifsofts/dorms.dm
  modular_skyrat/modules/modular_implants/code/nifsofts/prop_summoner.dm
  tgstation.dme
Labels: Feature

#19744 [MODULAR] Adds restocks for Skyrat vendors to cargo.
  modular_skyrat/modules/cargo/code/packs.dm
Labels: Quality of Life

#19710 Removes a lot of //TODO comments from modular code
  modular_skyrat/master_files/code/modules/clothing/head/_head.dm
  modular_skyrat/master_files/code/modules/clothing/under/jobs/centcom.dm
  modular_skyrat/master_files/code/modules/clothing/under/jobs/security.dm
  modular_skyrat/master_files/code/modules/clothing/under/shorts_pants.dm
  modular_skyrat/modules/blastwave_outfits/code/clothing/blastwave_uniform.dm
  modular_skyrat/modules/customization/modules/clothing/suits/misc.dm
  modular_skyrat/modules/customization/modules/clothing/under/misc.dm
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
  modular_skyrat/modules/goofsec/code/department_guards.dm
  modular_skyrat/modules/goofsec/code/sec_clothing_overrides.dm
Labels: Removal

#19752 [MANUAL MIRROR] [MIRROR] Some more RCD Designs & Patches (#72757)
  code/__DEFINES/construction.dm
  code/game/machinery/firealarm.dm
  code/game/objects/effects/poster.dm
  code/game/objects/items/RCD.dm
  code/game/objects/structures/lattice.dm
  code/game/turfs/closed/walls.dm
  code/game/turfs/open/floor.dm
  code/game/turfs/open/space/space.dm
  code/modules/asset_cache/assets/rcd.dm
  code/modules/atmospherics/machinery/air_alarm/air_alarm_interact.dm
  code/modules/power/apc/apc_main.dm
  code/modules/power/apc/apc_tool_act.dm
  tgui/packages/tgui/interfaces/RapidConstructionDevice.tsx
Labels: Upstream PR Merged, Feature, Fix, Manual Mirror

#19754 MARCH MAP RESET [MDB IGNORE]
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1.dmm
  _maps/RandomRuins/SpaceRuins/crashedship.dmm
  _maps/RandomZLevels/SnowCabin.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/Mining/Lavaland.dmm
  _maps/map_files/generic/CentCom.dmm
  _maps/map_files/tramstation/maintenance_modules/atmoscilower_attachment_a_1.dmm
  _maps/map_files/tramstation/maintenance_modules/cargoscilower_attachment_a_1.dmm
  _maps/map_files/tramstation/maintenance_modules/cargoscilower_attachment_a_2.dmm
  _maps/map_files/tramstation/maintenance_modules/cargoscilower_attachment_a_3.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/shuttles/arrival_delta.dmm
  _maps/shuttles/emergency_delta.dmm
Labels: TG Reset, Map Reset

#19602 [MDB ignore] NRI police MOD
  modular_skyrat/master_files/icons/mob/mod.dmi
  modular_skyrat/modules/encounters/code/nri_raiders.dm
  modular_skyrat/modules/novaya_ert/code/mod_suit.dm
  modular_skyrat/modules/novaya_ert/icons/mod.dmi
  modular_skyrat/modules/novaya_ert/icons/wornmod.dmi
Labels: Feature

#19757 [manual mirror] [MIRROR] Resprites The Detective's Wardrobe! (#72821)
  icons/mob/clothing/hands.dmi
  icons/obj/clothing/gloves.dmi
Labels: Sprites, Manual Mirror

#19758 [MANUAL MIRROR] [MIRROR] Rapid Wiring Device(RWD) (#72802)
  code/game/objects/items/RWD.dm
  code/modules/research/designs/autolathe/multi-department_designs.dm
  code/modules/research/techweb/all_nodes.dm
  tgstation.dme
Labels: Feature, Sprites

#19755 ICON RESET
  icons/area/areas_station.dmi
  icons/hud/screen_alert.dmi
  icons/hud/screen_gen.dmi
  icons/mob/clothing/feet.dmi
  icons/mob/clothing/head/hats.dmi
  icons/mob/clothing/suits/jacket.dmi
  icons/mob/clothing/under/security.dmi
  icons/mob/inhands/equipment/tools_lefthand.dmi
  icons/mob/inhands/equipment/tools_righthand.dmi
  icons/mob/species/misc/bodypart_overlay_simple.dmi
  icons/obj/bureaucracy.dmi
  icons/obj/clothing/head/hats.dmi
  icons/obj/clothing/shoes.dmi
  icons/obj/clothing/suits/jacket.dmi
  icons/obj/clothing/under/security.dmi
  icons/obj/food/burgerbread.dmi
  icons/obj/hydroponics/growing_flowers.dmi
  icons/obj/medical/organs/organs.dmi
  icons/obj/tools.dmi
  icons/turf/space.dmi
Labels: TG Reset

#19760 [MODULAR] Fixes the glass lens item description
  modular_skyrat/modules/primitive_production/code/glassblowing.dm
Labels: Fix

#19747 [MODULAR] Allows crafting of modular glasses in DS-2 lathe
  modular_skyrat/modules/huds/code/designs.dm
  modular_skyrat/modules/modular_items/code/designs.dm
Labels: Fix

#19636 Fixes summon beacons
  modular_skyrat/modules/modular_items/code/summon_beacon.dm
Labels: Fix

#19677 [PROJECT] Clockwork Marauder
  modular_skyrat/modules/clock_cult/code/items/clockwork_slab.dm
  modular_skyrat/modules/clock_cult/code/mobs/clockwork_marauder.dm
  modular_skyrat/modules/clock_cult/code/scriptures/preservation/summon_marauder.dm
  tgstation.dme
Labels: Project

#19494 [MODULAR] Loading diffirent types of ammo in multi-sprite mags and !POTENTIALY! in other ammo mags.
  modular_skyrat/modules/ammo_workbench/code/ammo_workbench.dm
  modular_skyrat/modules/sec_haul/code/guns/ammo.dm
Labels: Code Improvement, Quality of Life

#19352 [MODULAR] Adjust Moldies Random Event
  code/__DEFINES/sound.dm
  modular_skyrat/modules/alerts/code/default_announcer.dm
  modular_skyrat/modules/biohazard_blob/code/biohazard_blob_disease.dm
  modular_skyrat/modules/biohazard_blob/code/biohazard_blob_mobs.dm
  modular_skyrat/modules/biohazard_blob/code/biohazard_blob_structures.dm
  modular_skyrat/modules/biohazard_blob/code/mold_event.dm
  modular_skyrat/modules/events/code/event_seclevel.dm
  tgstation.dme
Labels: Balance, Test Merged

#19682 [MODULAR] CME event balance/alert
  modular_skyrat/modules/airlock_override/code/airlock_override.dm
  modular_skyrat/modules/cme/code/_cme_defines.dm
  modular_skyrat/modules/cme/code/cme.dm
Labels: Balance

#19311 [MODULAR] Fixes syndicate ghost roles not spawning with codespeak language, & an assortment of language related fixes/improvements
  code/__DEFINES/~skyrat_defines/language.dm
  code/modules/language/language_holder.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob_spawn/ghost_roles/mining_roles.dm
  code/modules/mob_spawn/ghost_roles/unused_roles.dm
  modular_skyrat/master_files/code/modules/client/preferences/middleware/languages.dm
  modular_skyrat/master_files/code/modules/language/language_holder.dm
  modular_skyrat/master_files/code/modules/mob/living/carbon/human/species.dm
  modular_skyrat/master_files/code/modules/mob/living/carbon/human/species_type/lizardpeople.dm
  modular_skyrat/master_files/code/modules/mob_spawn/mob_spawn.dm
  modular_skyrat/modules/black_mesa/code/ghost_spawners.dm
  modular_skyrat/modules/customization/_globalvars/names.dm
  modular_skyrat/modules/customization/modules/client/preferences.dm
  modular_skyrat/modules/customization/strings/names/callsigns_nri.txt
  modular_skyrat/modules/customization/strings/names/phonetic_alphabet_numbers.txt
  modular_skyrat/modules/encounters/code/nri_raiders.dm
  modular_skyrat/modules/goofsec/code/sol_fed.dm
  modular_skyrat/modules/mapping/code/mob_spawns.dm
  tgstation.dme
Labels: Fix

#19705 [NON-MODULAR] Restore nonmodular changes to VotePanel.tsx
  tgui/packages/tgui/interfaces/VotePanel.tsx
Labels: Fix

#19731 [MODULAR] Cleans up the code for adult furniture.
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_structures/bdsm_furniture.dm
Labels: Fix, Code Improvement

#19613 Undoes the override for holopad sprites
  modular_skyrat/modules/aesthetics/stationobjs/stationobjs.dm
  modular_skyrat/modules/aesthetics/stationobjs/stationobjs.dmi
Labels: Removal, Sprites

#19763 [MODULAR] [NO-GBP] Language fixes hotfix
  modular_skyrat/modules/customization/modules/client/preferences.dm
Labels: Code Improvement

#19770 Removes the merge header about March into Mapness from the PR contributing file
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Removal

#19604 [MODULAR] Adds new legless taur variant: "Goop"
  modular_skyrat/master_files/icons/mob/sprite_accessory/taur.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/taur_types.dm
Labels: Sprites

#19683 SEVA Suit tweaks - lowers temp resist so it's not at 35000K anymore
  modular_skyrat/modules/SEVA_suit/code/seva_obj.dm
Labels: Balance

#19781 Nukes the stupid `blue/darkblue` in favor of `dark_blue`, aka one of my spite PRs over something stupid
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_syndicate_base1_skyrat.dmm
  _maps/RandomRuins/LavaRuins/skyrat/lavaland_surface_syndicate_base1_skyrat.dmm
  modular_skyrat/modules/sec_haul/code/misc/decals.dm
  tools/UpdatePaths/Scripts_Skyrat/19781_darkblue_to_dark_blue.txt
Labels: Code Improvement

#19808 [MODULAR] Fixes CUCKS runtiming on examine + fixes their examine text
  modular_skyrat/modules/barricades/code/barricade.dm
Labels: Fix

#19811 [Fix] New arachne medical cyborg with proper sprite-faces this time
  modular_skyrat/modules/altborgs/icons/robots_med.dmi
Labels: Fix, Sprites

#19790 [MODULAR] The adult helmet is no longer a space helmet along with some other tweaks.
  modular_skyrat/modules/modular_implants/code/nifsofts/dorms.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/deprivation_helmet.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/erp_belt.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_machinery/lustwish.dm
Labels: Fix

#18437 Probably saves init time by not loading an edited centcom shuttle dock that we don't use anymore
  _maps/skyrat/automapper/automapper_config.toml
  _maps/skyrat/automapper/templates/centcom/centcom_shuttle_dock.dmm
Labels: Removal

#19291 [SEMI-MODULAR] SR specific escape menu options
  code/modules/escape_menu/escape_menu.dm
  code/modules/escape_menu/home_page.dm
  code/modules/escape_menu/leave_body.dm
  modular_skyrat/modules/escape_menu/code/escape_menu_skyrat.dm
  modular_skyrat/modules/escape_menu/code/readme.md
  tgstation.dme
Labels: Code Improvement

#18813 Meteor early warning system
  modular_skyrat/modules/custom_meteors/code/custom_meteors.dm
  modular_skyrat/modules/custom_meteors/readme.md
  tgstation.dme
Labels: Feature

#19696 [PROJECT] Outpost of Cogs
  _maps/skyrat/lazy_templates/reebe.dmm
  code/__DEFINES/lazy_templates.dm
  code/__DEFINES/~skyrat_defines/lazy_templates.dm
  modular_skyrat/modules/clock_cult/code/actions/whirring_convergence.dm
  modular_skyrat/modules/clock_cult/code/area.dm
  modular_skyrat/modules/clock_cult/code/globals.dm
  modular_skyrat/modules/clock_cult/code/outpost_of_cogs.dm
  modular_skyrat/modules/clock_cult/code/portal.dm
  modular_skyrat/modules/clock_cult/code/scriptures/structures/vitality_sigil.dm
  modular_skyrat/modules/clock_cult/code/structures/tinkerers_cache.dm
  modular_skyrat/modules/clock_cult/code/turf.dm
  modular_skyrat/modules/clock_cult/icons/clockwork_garb.dmi
  tgstation.dme
Labels: Project

#19644 [PROJECT] Refactors some clock cult code
  modular_skyrat/modules/clock_cult/code/items/clockwork_slab.dm
  modular_skyrat/modules/clock_cult/code/items/replica_fabricator.dm
  modular_skyrat/modules/clock_cult/code/scriptures/_scripture.dm
  tgui/packages/tgui/interfaces/ClockworkSlab.js
Labels: Refactor, Project

#19632 [MODULAR] Removes Changeling from random events system
  modular_skyrat/modules/event_vote/code/event_chaos_system.dm
  modular_skyrat/modules/events/code/event_overrides.dm
Labels: Removal, Code Improvement

#19845 [FIX] Arachne Sprite Proper Reshuffling
  modular_skyrat/modules/altborgs/code/robot_model.dm
  modular_skyrat/modules/altborgs/icons/robots_clown.dmi
  modular_skyrat/modules/altborgs/icons/robots_eng.dmi
  modular_skyrat/modules/altborgs/icons/robots_med.dmi
  modular_skyrat/modules/altborgs/icons/robots_mine.dmi
  modular_skyrat/modules/altborgs/icons/robots_serv.dmi
  modular_skyrat/modules/cargoborg/code/robot_modules.dm
Labels: Fix

#19889 Fix changelog for 19845 [NO GBP]
  html/changelogs/INFRARED_BARON-PR-19596.yml
Labels: GBP: No Update

#19541 isthatdan's donator item
  modular_skyrat/master_files/icons/obj/plushes.dmi
  modular_skyrat/modules/customization/game/objects/items/plushes.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_toys.dm
Labels: Feature

#18973 [MODULAR][FIX] Cryo now saves modular persistence
  modular_skyrat/modules/cryosleep/code/cryopod.dm
Labels: Fix

#19880 Armor of the Imperiya : Giving some real life to the NRI surplus armor
  modular_skyrat/modules/GAGS/greyscale_configs.dm
  modular_skyrat/modules/GAGS/json_configs/nri_surplus_equipment/backpack.json
  modular_skyrat/modules/GAGS/json_configs/nri_surplus_equipment/chestrig.json
  modular_skyrat/modules/GAGS/json_configs/nri_surplus_equipment/helmet.json
  modular_skyrat/modules/GAGS/json_configs/nri_surplus_equipment/undersuit.json
  modular_skyrat/modules/cargo/code/packs.dm
  modular_skyrat/modules/company_imports/code/armament_datums/nri_military_surplus.dm
  modular_skyrat/modules/novaya_ert/code/surplus_armor.dm
  modular_skyrat/modules/novaya_ert/icons/surplus_armor/surplus_armor.dmi
  modular_skyrat/modules/novaya_ert/icons/surplus_armor/surplus_armor_digi.dmi
  modular_skyrat/modules/novaya_ert/icons/surplus_armor/surplus_armor_object.dmi
  tgstation.dme
Labels: Sprites

#19848 Nukes the stupid `darkblue` turf decals once and for all
  _maps/RandomRuins/SpaceRuins/spacehotel_skyrat.dmm
  _maps/RandomZLevels/blackmesa.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  _maps/skyrat/automapper/templates/metastation/metastation_armory.dmm
  modular_skyrat/modules/sec_haul/code/misc/decals.dm
  tools/UpdatePaths/Scripts_Skyrat/19848_darkblue_to_dark_blue_FINAL.txt
Labels: Code Improvement

#19893 [MODULAR] Fixes Sadism quirk counting dead mobs
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_quirks.dm
Labels: Fix

#19888 Removes the broken fire cremation process
  modular_skyrat/master_files/code/modules/mob/living/carbon/life.dm
  tgstation.dme
Labels: Fix, Removal

#19912 Fixes the new cargo CIN armor vests having reversed icon and worn_icon files
  modular_skyrat/modules/novaya_ert/code/surplus_armor.dm
Labels: Fix

#19211 [MANUAL MIRROR] Fix: DNA Infuser & Unit Tests, Organs Bugfixes
  code/datums/dna.dm
  code/datums/elements/organ_set_bonus.dm
  code/datums/weather/weather_types/radiation_storm.dm
  code/game/machinery/dna_infuser/dna_infuser.dm
  code/game/machinery/dna_infuser/organ_sets/carp_organs.dm
  code/game/machinery/dna_infuser/organ_sets/fly_organs.dm
  code/game/machinery/dna_infuser/organ_sets/fox_organs.dm
  code/game/machinery/dna_infuser/organ_sets/goliath_organs.dm
  code/game/machinery/dna_infuser/organ_sets/gondola_organs.dm
  code/game/machinery/dna_infuser/organ_sets/rat_organs.dm
  code/game/objects/items/dna_injector.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  code/modules/surgery/organs/_organ.dm
  code/modules/surgery/organs/ears.dm
  code/modules/surgery/organs/external/_external_organs.dm
  code/modules/surgery/organs/external/tails.dm
  code/modules/surgery/organs/external/wings/functional_wings.dm
  code/modules/surgery/organs/external/wings/moth_wings.dm
  code/modules/surgery/organs/organ_internal.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/organ_set_bonus.dm
  code/modules/wiremod/shell/brain_computer_interface.dm
Labels: Upstream PR Merged, Fix, Manual Mirror

#19890 Removes meat subtype from sheetifier
  code/game/machinery/sheetifier.dm
Labels: Removal, Code Improvement

#19902 [MODULAR] Fixes a couple of race conditions with inflatables
  modular_skyrat/modules/inflatables/code/inflatable.dm
Labels: Fix

#19606 [MODULAR] Opfor item-list audit
  modular_skyrat/modules/opposing_force/code/equipment/ammo.dm
  modular_skyrat/modules/opposing_force/code/equipment/clothing.dm
  modular_skyrat/modules/opposing_force/code/equipment/explosives.dm
  modular_skyrat/modules/opposing_force/code/equipment/implants.dm
  modular_skyrat/modules/opposing_force/code/equipment/martial_arts.dm
  modular_skyrat/modules/opposing_force/code/equipment/melee.dm
  modular_skyrat/modules/opposing_force/code/equipment/misc.dm
  modular_skyrat/modules/opposing_force/code/equipment/pistols.dm
  modular_skyrat/modules/opposing_force/code/equipment/rifles.dm
  modular_skyrat/modules/opposing_force/code/equipment/spells.dm
  modular_skyrat/modules/opposing_force/code/equipment/submachineguns.dm
  modular_skyrat/modules/opposing_force/code/equipment/utility.dm
Labels: Removal, Quality of Life

#19961 Removes the now deprecated FULL_EMPTY_BASIC for magazine sprites, and coincidentally fixes all of the invisible magazines we had
  code/__DEFINES/combat.dm
  code/modules/projectiles/boxes_magazines/_box_magazine.dm
  modular_skyrat/modules/assault_operatives/code/equipment_items/guns.dm
  modular_skyrat/modules/black_mesa/code/guns.dm
  modular_skyrat/modules/company_imports/icons/ak25/ak25_ammo.dmi
  modular_skyrat/modules/gunsgalore/code/guns/mg34.dm
  modular_skyrat/modules/gunsgalore/icons/guns/gunsgalore_items.dmi
  modular_skyrat/modules/marines/code/gear.dm
  modular_skyrat/modules/marines/icons/items/ammo.dmi
  modular_skyrat/modules/modular_weapons/code/automatic.dm
  modular_skyrat/modules/modular_weapons/code/pistol.dm
  modular_skyrat/modules/mounted_machine_gun/code/ammobox.dm
  modular_skyrat/modules/nanotrasen_rep/code/m45a5.dm
  modular_skyrat/modules/novaya_ert/icons/ammo_boxes.dmi
  modular_skyrat/modules/robohand/icons/3516_mag.dmi
  modular_skyrat/modules/sec_haul/code/guns/ammo.dm
  modular_skyrat/modules/sec_haul/code/guns/cmg.dm
  modular_skyrat/modules/sec_haul/code/guns/guns.dm
  modular_skyrat/modules/sec_haul/code/guns/pepperball_gun.dm
  modular_skyrat/modules/sec_haul/icons/guns/ammoboxes.dmi
  modular_skyrat/modules/shotgunrebalance/icons/shotbox.dmi
Labels: Fix, Removal, Code Improvement

#19885 Fixes missing "General records" from consoles
  tgui/packages/tgui/interfaces/MedicalRecords/RecordView.tsx
  tgui/packages/tgui/interfaces/MedicalRecords/types.ts
  tgui/packages/tgui/interfaces/SecurityRecords/RecordView.tsx
  tgui/packages/tgui/interfaces/SecurityRecords/types.ts
Labels: Fix

#19936 [Modular] Adds a labelless "Yes" preference to romantic rp prefs
  modular_skyrat/master_files/code/modules/client/preferences/erp_preferences.dm
Labels: Quality of Life

#19960 [MODULAR, PROBABLY-ISH] fixes funny grab interactions (headslams/suplexes/dislocations)
  code/__DEFINES/~skyrat_defines/combat.dm
  code/modules/mob/living/carbon/human/species.dm
Labels: Fix

#19892 Modularise roundstart station traits
  code/datums/station_traits/negative_traits.dm
  code/datums/station_traits/neutral_traits.dm
  code/datums/station_traits/positive_traits.dm
  modular_skyrat/modules/station_traits/code/station_traits.dm
  modular_skyrat/modules/station_traits/readme.md
  tgstation.dme
Labels: Balance, Code Improvement

#19998 [MIRROR] Tramstation xenobio slimes/fridge
  _maps/map_files/tramstation/tramstation.dmm
Labels: Fix, Manual Mirror

#19897 [MODULAR] Fixes ashwalker darkvision
  modular_skyrat/modules/ashwalkers/code/buildings/ash_tendril.dm
  modular_skyrat/modules/ashwalkers/code/species/Ashwalkers.dm
  modular_skyrat/modules/customization/modules/surgery/organs/eyes.dm
Labels: Fix

#19850 [MODULAR] Ears: Hammerhead
  modular_skyrat/master_files/icons/mob/sprite_accessory/ears.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/ears.dm
Labels: Sprites

#20004 Hypospray now fits in medical bandolier
  modular_skyrat/modules/customization/modules/clothing/storage/belts.dm
Labels: Balance

#20027 [MOSTLY MODULAR] Adds Cencom gloves to NTR locker & Command vendor
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  modular_skyrat/modules/command_vendor/code/vending.dm
  modular_skyrat/modules/nanotrasen_rep/code/clothing.dm
  modular_skyrat/modules/nanotrasen_rep/code/nanotrasen_consultant.dm
Labels: Feature

#19884 [MODULAR] Poem of Communal Souls NIFSoft
  modular_skyrat/modules/modular_implants/code/nif_persistence.dm
  modular_skyrat/modules/modular_implants/code/nifs.dm
  modular_skyrat/modules/modular_implants/code/nifsofts.dm
  modular_skyrat/modules/modular_implants/code/nifsofts/soul_poem.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/NifSoulPoem.js
Labels: Feature

#19248 [TESTMERGE CANDIDATE] [SEMI-MODULAR] AI and hologram QoL stuff + misc bugfixes
  code/datums/emotes.dm
  code/game/machinery/hologram.dm
  code/modules/mob/living/silicon/ai/examine.dm
  code/modules/mob/living/silicon/robot/examine.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/mob.dm
  code/modules/pai/pai.dm
  modular_skyrat/master_files/code/game/machinery/hologram.dm
  modular_skyrat/modules/altborgs/code/robot_defines.dm
  modular_skyrat/modules/customization/modules/mob/living/silicon/examine.dm
  modular_skyrat/modules/customization/modules/mob/living/silicon/topic.dm
  modular_skyrat/modules/verbs/code/subtle.dm
  tgstation.dme
Labels: Feature, Fix, Refactor, Testing Phase, Test Merged, Stale-b-gone

#20007 [MODULAR] Removes need for battery from creature fluid extraction apparatus
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_machinery/milking_machine.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_organs/_genital.dm
  tgui/packages/tgui/interfaces/MilkingMachine.js
Labels: Fix, Removal

#20060 [MISSED MIRROR] "Viscerators no longer feature active camouflage (bugfix) #72826"
  code/modules/mob/living/basic/syndicate/syndicate.dm
Labels: Fix, Manual Mirror

#20013 [MODULAR] Refactors the parented_struct variable
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/shibari_stand.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_machinery/milking_machine.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_structures/bdsm_furniture.dm
Labels: Code Improvement, Refactor

#20030 [SEMI-MODULAR] Latejoin janitors can get access keys, two!
  code/modules/jobs/job_types/janitor.dm
  modular_skyrat/master_files/code/modules/jobs/job_types/janitor.dm
  tgstation.dme
Labels: Code Improvement

#19877 [PROJECT] Prosperity Prism
  modular_skyrat/modules/clock_cult/code/actions/whirring_convergence.dm
  modular_skyrat/modules/clock_cult/code/items/integration_cog.dm
  modular_skyrat/modules/clock_cult/code/outpost_of_cogs.dm
  modular_skyrat/modules/clock_cult/code/scriptures/_scripture.dm
  modular_skyrat/modules/clock_cult/code/scriptures/structures/interdiction_lens.dm
  modular_skyrat/modules/clock_cult/code/scriptures/structures/ocular_warden.dm
  modular_skyrat/modules/clock_cult/code/scriptures/structures/prosperity_prism.dm
  modular_skyrat/modules/clock_cult/code/scriptures/structures/tinkerers_cache.dm
  modular_skyrat/modules/clock_cult/code/structures/_powered.dm
  modular_skyrat/modules/clock_cult/code/structures/gear_base.dm
  modular_skyrat/modules/clock_cult/code/structures/interdiction_lens.dm
  modular_skyrat/modules/clock_cult/code/structures/prosperity_prism.dm
  modular_skyrat/modules/clock_cult/code/structures/sigil/sigil_transmission.dm
  modular_skyrat/modules/clock_cult/code/structures/tinkerers_cache.dm
  tgstation.dme
Labels: Project

#20103 Fixes master
  modular_skyrat/modules/verbs/code/subtle.dm
Labels: PRIORITY, Priority: CRITICAL

#20061 [MODULAR] Removes pillows from Grimoire Purpura
  modular_skyrat/modules/modular_implants/code/nifsofts/dorms.dm
Labels: Fix, Removal

#20006 [MODULAR] NIF flavor text editing now occurs onChange rather than onInput
  modular_skyrat/modules/modular_implants/code/nifs_tgui.dm
  tgui/packages/tgui/interfaces/NifPanel.js
Labels: Code Improvement

#20003 [MODULAR] Hivemind no longer preforms unnecessary sanitization.
  modular_skyrat/modules/modular_implants/code/nifsofts/hivemind.dm
Labels: Code Improvement

#19791 [Modular] Refactors adult furniture construction kits
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/_kits.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_machinery/milking_machine.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_structures/bdsm_furniture.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_structures/construction.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_structures/dancing_pole.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_structures/shibari_stand.dm
  tgstation.dme
Labels: Removal, Quality of Life

#20091 NRI SMG redesign
  _maps/shuttles/skyrat/pirate_nri_raider.dmm
  modular_skyrat/modules/gunsgalore/icons/guns/gunsgalore_back.dmi
  modular_skyrat/modules/gunsgalore/icons/guns/gunsgalore_guns40x32.dmi
  modular_skyrat/modules/gunsgalore/icons/guns/gunsgalore_lefthand.dmi
  modular_skyrat/modules/gunsgalore/icons/guns/gunsgalore_righthand.dmi
  modular_skyrat/modules/novaya_ert/code/advanced_choice_beacon.dm
  modular_skyrat/modules/novaya_ert/code/automatic.dm
  modular_skyrat/modules/novaya_ert/code/belt.dm
  modular_skyrat/modules/novaya_ert/code/outfit.dm
  modular_skyrat/modules/novaya_ert/code/toolbox.dm
  modular_skyrat/modules/opposing_force/code/equipment/ammo.dm
  modular_skyrat/modules/opposing_force/code/equipment/pistols.dm
  modular_skyrat/modules/opposing_force/code/equipment/submachineguns.dm
Labels: Feature, Balance, Fix, Removal

#20093 Fixes ghetto synth brain surgery
  modular_skyrat/modules/synths/code/surgery/robot_brain_surgery.dm
Labels: Fix

#20031 Fix gear harnesses incorrectly covering body parts
  modular_skyrat/master_files/code/modules/clothing/under/misc.dm
Labels: Fix

#20072 Fixes some burst fire related oddities
  code/modules/projectiles/guns/ballistic/pistol.dm
  modular_skyrat/modules/assault_operatives/code/equipment_items/guns.dm
  modular_skyrat/modules/black_mesa/code/m16_variations.dm
  modular_skyrat/modules/gunsgalore/code/guns/akm.dm
  modular_skyrat/modules/gunsgalore/code/guns/stg.dm
  modular_skyrat/modules/marines/code/smartgun.dm
  modular_skyrat/modules/modular_weapons/code/rifle.dm
  modular_skyrat/modules/sec_haul/code/guns/cmg.dm
  modular_skyrat/modules/sec_haul/code/guns/guns.dm
Labels: Fix

#20040 [SEMI-MODULAR] Advanced engineering response team
  code/__DEFINES/~skyrat_defines/solfed.dm
  code/game/communications.dm
  code/game/machinery/computer/communications.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/say.dm
  modular_skyrat/master_files/code/modules/clothing/under/jobs/engineering.dm
  modular_skyrat/modules/advanced_engineering/code/adv_engineering.dm
  modular_skyrat/modules/advanced_engineering/readme.md
  modular_skyrat/modules/aesthetics/storage/storage.dm
  modular_skyrat/modules/aesthetics/storage/storage.dmi
  modular_skyrat/modules/alerts/code/security_level_procs.dm
  modular_skyrat/modules/biohazard_blob/code/mold_event.dm
  modular_skyrat/modules/cme/code/cme.dm
  modular_skyrat/modules/custom_meteors/code/custom_meteors.dm
  modular_skyrat/modules/customization/modules/clothing/masks/gasmask.dm
  modular_skyrat/modules/events/code/event_seclevel.dm
  modular_skyrat/modules/goofsec/code/sol_fed.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/CommunicationsConsole.js
Labels: Feature, Balance

#20002 [MODULAR][FIX] Grimoire Caeruleam Card and Dice Fix
  modular_skyrat/modules/modular_implants/code/nifsofts/prop_summoner.dm
Labels: Fix

#19992 Refreshes DS-2 Kitchen/Botany, with minor syndicate fixes
  _maps/RandomRuins/LavaRuins/skyrat/lavaland_surface_syndicate_base1_skyrat.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/interdynefob.dmm
  modular_skyrat/modules/energy_axe/code/energy_fireaxe_case.dm
Labels: Feature, Fix, Quality of Life

#19907 Polarized Windows: Component Edition
  code/modules/research/techweb/all_nodes.dm
  modular_skyrat/modules/polarized_windows/capacitor.dm
  modular_skyrat/modules/polarized_windows/polarization_controller.dm
  modular_skyrat/modules/polarized_windows/polarizer.dm
  modular_skyrat/modules/polarized_windows/windows.dm
  tgstation.dme
Labels: Feature

#19966 Replaces medibeam crate with Speedbike, re-removes bike crate
  code/modules/cargo/packs/general.dm
  modular_skyrat/modules/cargo/code/packs.dm
Labels: Feature, Removal

#20108 [MISSED MIRROR] Adds a config-optional endgame chat message (#72860) [MDB IGNORE]
  code/__HELPERS/roundend.dm
  code/controllers/configuration/entries/general.dm
  code/controllers/subsystem/ticker.dm
  code/modules/discord/tgs_commands.dm
  config/config.txt
Labels: Config Update

#20109 Fixes lack of pan-slavic for NRI cops
  modular_skyrat/modules/encounters/code/nri_raiders.dm
Labels: Fix

#20171 Removes the redundant Microfusion Cell Containers that spawned in the armory
  modular_skyrat/modules/sec_haul/code/guns/armory_spawns.dm
Labels: Removal

#20170 [MODULAR] Fixes HIDEEARS flag not hiding the actual ear slot item upon equipping a helmet
  modular_skyrat/master_files/code/modules/clothing/head/_head.dm
Labels: Fix

#20173 De-modularise tram turfs
  code/game/turfs/open/floor/misc_floor.dm
Labels: Code Improvement

#20176 [MODULAR] Fixes knight helmet sprites, removes duplicate unused sprites
  modular_skyrat/master_files/icons/mob/clothing/head_muzzled.dmi
Labels: Fix, Removal

#20165 [MODULAR] Fixes invisible synth heart icon
  modular_skyrat/master_files/icons/obj/surgery.dmi
  modular_skyrat/modules/cortical_borer/code/cortical_borer.dm
  modular_skyrat/modules/synths/code/bodyparts/heart.dm
Labels: Fix

#20149 [MODULAR] Fixes microfusion ignoring safety
  modular_skyrat/modules/microfusion/code/microfusion_energy_master.dm
Labels: Fix

#20145 [MODULAR] Fixes incorrect computer_area paths for DS2 sleepers
  modular_skyrat/modules/mapping/code/mob_spawns.dm
Labels: Fix

#20147 [MODULAR] Fixes incorrect rank names for DS2 operatives
  modular_skyrat/modules/cryosleep/code/cryopod.dm
  modular_skyrat/modules/mapping/code/lavaland_ruin_code.dm
Labels: Fix

#20136 [MODULAR] Fixes runtime with modular persistence, some QOL additions to chaplain
  code/modules/jobs/job_types/chaplain.dm
  modular_skyrat/master_files/code/_globalvars/religion.dm
  modular_skyrat/master_files/code/modules/jobs/job_types/chaplain.dm
  modular_skyrat/master_files/code/modules/religion/religious_sects.dm
  modular_skyrat/modules/cryosleep/code/cryopod.dm
  modular_skyrat/modules/modular_persistence/code/modular_persistence.dm
  tgstation.dme
Labels: Fix, Quality of Life

#19796 [MODULAR] Adds missed legless taur variant: "Slime"
  modular_skyrat/master_files/icons/mob/sprite_accessory/taur.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/taur_types.dm
Labels: Feature

#19794 Ship arrival variable implementation for NRI cops
  modular_skyrat/modules/encounters/code/nri_raiders.dm
Labels: Fix, Grammar and Formatting

#19676 NRI Police SOPs and cargo blocker machinery
  _maps/shuttles/skyrat/pirate_nri_raider.dmm
  modular_skyrat/modules/encounters/code/nri_raiders.dm
Labels: Feature

#20182 [FIX] Shamshir Sabre Sprite Works Properly
  modular_skyrat/master_files/icons/obj/clothing/belts.dmi
Labels: Fix

#20181 [FIX] Corrects Snail Mail Goodie
  code/modules/mob/living/carbon/human/species_types/snail.dm
Labels: Fix

#20151 [MODULAR] [IDFK HOW TO REOPEN CLOSED PRS] Chinchillas
  modular_skyrat/master_files/icons/mob/inhands/pets_held_lh.dmi
  modular_skyrat/master_files/icons/mob/inhands/pets_held_rh.dmi
  modular_skyrat/master_files/icons/mob/newmobs.dmi
  modular_skyrat/modules/basic_mobs/code/chinchilla.dm
  modular_skyrat/modules/cargo/code/packs.dm
  tgstation.dme
Labels: Feature, based
