Repository Skyrat-SS13/Skyrat-tg, pull requests merged in 2023-01, with the labels that each got.

#18445 Resets Centcom to TG master
  _maps/map_files/generic/CentCom.dmm
Labels: Fix

#18454 you can no longer wear the M44 pulse rifle as a t-shirt
  modular_skyrat/modules/marines/code/gear.dm
Labels: Fix

#18350 [SEMI-MODULAR] [BackgroundsV2 Project] [NO GBP] [MORE CAPITALS] Adds a System to Add Slots Mostly Modularly And A Passport Slot
  code/__DEFINES/inventory.dm
  code/__DEFINES/~skyrat_defines/backgrounds.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/mob/living/carbon/human/species.dm
  code/modules/mob/mob.dm
  modular_skyrat/modules/modular_slots/README.md
  modular_skyrat/modules/modular_slots/code/README.md
  modular_skyrat/modules/modular_slots/code/hud.dm
  modular_skyrat/modules/modular_slots/code/human.dm
  modular_skyrat/modules/modular_slots/code/human_inventory.dm
  modular_skyrat/modules/modular_slots/code/item.dm
  modular_skyrat/modules/modular_slots/code/items.dm
  modular_skyrat/modules/modular_slots/code/living.dm
  modular_skyrat/modules/modular_slots/code/mob.dm
  modular_skyrat/modules/modular_slots/code/species.dm
  modular_skyrat/modules/modular_slots/code/type2type.dm
  tgstation.dme
Labels: GBP: No Update, Project

#18513 [BackgroundsV2 Project] [MODULAR] [NO GBP] Hotfix for Passport Modular Slot
  modular_skyrat/modules/modular_slots/code/living.dm
Labels: GBP: No Update, Project

#18518 Somerandomowl donator items
  modular_skyrat/master_files/icons/donator/mob/clothing/head.dmi
  modular_skyrat/master_files/icons/donator/mob/clothing/head_teshari.dmi
  modular_skyrat/master_files/icons/donator/obj/clothing/hats.dmi
  modular_skyrat/master_files/icons/obj/plushes.dmi
  modular_skyrat/modules/customization/game/objects/items/plushes.dm
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
  modular_skyrat/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_toys.dm
Labels: Feature

#18509 Wounds bleeding fix
  modular_skyrat/modules/medical/code/wounds/pierce.dm
  modular_skyrat/modules/medical/code/wounds/slash.dm
Labels: Fix, Code Improvement

#18541 Revert "[MIRROR] Refactor /ui_state/new_player_state to what it's designed for [MDB IGNORE]"
  code/modules/interview/interview.dm
  code/modules/mob/dead/new_player/latejoin_menu.dm
  code/modules/tgui/states/new_player.dm
Labels: Refactor, Revert

#18529 [MANUAL MIRROR] Admin alert for communications console messages
  code/modules/admin/verbs/pray.dm
  code/modules/client/preferences/README.md
  code/modules/client/preferences/admin.dm
  code/modules/paperwork/fax.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/admin.tsx
Labels: Administration, Grammar and Formatting, Manual Mirror

#18525 Un-non-modular-edits Lava Syndicate-to-Interdyne area name edits
  code/game/area/areas/ruins/lavaland.dm
  modular_skyrat/modules/Syndie_edits/code/area.dm
  tgstation.dme
Labels: Code Improvement

#18544 [MODULAR] Fixes random synth generation
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/robotic/synthetic.dm
Labels: FUCK

#18563 Razurath Donator Items - Coat And Hat
  modular_skyrat/master_files/icons/donator/mob/clothing/head.dmi
  modular_skyrat/master_files/icons/donator/mob/clothing/suit.dmi
  modular_skyrat/master_files/icons/donator/obj/clothing/hats.dmi
  modular_skyrat/master_files/icons/donator/obj/clothing/suits.dmi
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
  modular_skyrat/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
Labels: Feature, Sprites

#18482 Moffra wings
  modular_skyrat/master_files/icons/mob/sprite_accessory/moth_wings.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/wings.dm
Labels: Feature, Fix

#18602 Revert "[MIRROR] Adds the Venom Antagonist [MDB IGNORE]"
  code/__DEFINES/role_preferences.dm
  code/__DEFINES/song.dm
  code/modules/antagonists/changeling/powers/mutations.dm
  code/modules/events/ghost_role/venom.dm
  code/modules/unit_tests/simple_animal_freeze.dm
  icons/mob/nonhuman-player/venom.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/AntagInfoVenom.tsx
Labels: Revert

#18596 Fixes screenshots properly this time + bonus fixes
  _maps/RandomRuins/SpaceRuins/skyrat/interdynefob.dmm
  code/datums/dna.dm
  code/modules/unit_tests/screenshots/screenshot_antag_icons_blobinfection.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_golem_cardboard.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_human.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_jelly_roundstartslime.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_vampire.png
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/roundstartslime.dm
Labels: Fix, Test Merged

#18438 holopara qol update (#72042)
  code/__DEFINES/guardian_defines.dm
  code/__DEFINES/span.dm
  code/__DEFINES/vv.dm
  code/_onclick/hud/guardian.dm
  code/_onclick/hud/radial.dm
  code/_onclick/hud/screen_objects.dm
  code/datums/components/overlay_lighting.dm
  code/datums/mind/antag.dm
  code/game/atoms.dm
  code/modules/antagonists/wizard/equipment/spellbook_entries/assistance.dm
  code/modules/mining/lavaland/tendril_loot.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/simple_animal/guardian/guardian.dm
  code/modules/mob/living/simple_animal/guardian/guardian_creator.dm
  code/modules/mob/living/simple_animal/guardian/types/assassin.dm
  code/modules/mob/living/simple_animal/guardian/types/charger.dm
  code/modules/mob/living/simple_animal/guardian/types/dextrous.dm
  code/modules/mob/living/simple_animal/guardian/types/explosive.dm
  code/modules/mob/living/simple_animal/guardian/types/gaseous.dm
  code/modules/mob/living/simple_animal/guardian/types/gravitokinetic.dm
  code/modules/mob/living/simple_animal/guardian/types/lightning.dm
  code/modules/mob/living/simple_animal/guardian/types/protector.dm
  code/modules/mob/living/simple_animal/guardian/types/ranged.dm
  code/modules/mob/living/simple_animal/guardian/types/standard.dm
  code/modules/mob/living/simple_animal/guardian/types/support.dm
  code/modules/mob/living/simple_animal/hostile/wumborian_fugu.dm
  code/modules/mob/mob_helpers.dm
  code/modules/unit_tests/simple_animal_freeze.dm
  code/modules/uplink/uplink_items/dangerous.dm
  icons/hud/guardian.dmi
  icons/mob/nonhuman-player/guardian.dmi
  tgstation.dme
Labels: Fix, Administration, Stale, Quality of Life, Manual Mirror

#18593 [PUBLIC DONATOR PLUSH] Adds the creature plushie (of all time)
  modular_skyrat/master_files/icons/obj/plushes.dmi
  modular_skyrat/modules/customization/game/objects/items/plushes.dm
  modular_skyrat/modules/customization/game/objects/items/sound/tracymrowr.ogg
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_toys.dm
Labels: Feature

#18610 [MANUAL MIRROR] Refactor /ui_state/new_player_state to what it's designed for (#71959)
  code/modules/interview/interview.dm
  code/modules/mob/dead/new_player/latejoin_menu.dm
  code/modules/tgui/states/new_player.dm
Labels: Refactor

#18637 [fix] fixes the detective revolver, again
  modular_skyrat/modules/aesthetics/guns/icons/guns.dmi
Labels: Fix

#17718 [MODULAR] marked one fixes / more changes
  modular_skyrat/modules/gladiator/code/game/objects/items/gladiator_items.dm
  modular_skyrat/modules/gladiator/code/modules/mob/living/simple_animal/hostile/megafauna/markedone.dm
Labels: Fix, Stale, Test Merge Candidate, Quality of Life, Balance/Rebalance

#18636 [MANUAL MIRROR] [NO GBP] Side mounted tram controls
  _maps/map_files/tramstation/tramstation.dmm
  code/datums/greyscale/config_types/greyscale_configs.dm
  code/datums/greyscale/json_configs/bench_solo.json
  code/game/objects/structures/plaques/static_plaques.dm
  code/modules/industrial_lift/industrial_lift.dm
  code/modules/industrial_lift/tram_controls.dm
  code/modules/industrial_lift/tram_override_objects.dm
  icons/obj/computer.dmi
  icons/obj/signs.dmi
  icons/obj/sofa.dmi
  icons/turf/floors.dmi
Labels: Feature, Fix, Code Improvement, Sprites, GBP: No Update

#18488 ERT smartgun rebalance
  modular_skyrat/modules/marines/code/smartgun.dm
Labels: Balance, Stale

#18638 Adds some costumes to autodrobe (#72103)
  code/modules/vending/autodrobe.dm
Labels: Feature, GBP: No Update, Manual Mirror

#18647 Mirrors #72337
  code/modules/clothing/clothing.dm
Labels: Fix, Manual Mirror

#18646 Mirrors 72397
  code/datums/components/crafting/crafting.dm
Labels: Fix, Manual Mirror

#18645 Mirror 72339 & 71284
  code/__DEFINES/roundend.dm
  code/controllers/subsystem/job.dm
  code/controllers/subsystem/mapping.dm
  code/controllers/subsystem/ticker.dm
  code/datums/mind/_mind.dm
  code/game/gamemodes/dynamic/dynamic.dm
  code/game/gamemodes/dynamic/dynamic_midround_rolling.dm
  code/game/gamemodes/dynamic/dynamic_rulesets.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_roundstart.dm
  code/game/gamemodes/dynamic/dynamic_unfavorable_situation.dm
  code/game/gamemodes/game_mode.dm
  code/game/gamemodes/objective.dm
  code/modules/antagonists/_common/antag_team.dm
  code/modules/antagonists/abductor/abductor.dm
  code/modules/antagonists/blob/overmind.dm
  code/modules/antagonists/cult/cult.dm
  code/modules/antagonists/cult/runes.dm
  code/modules/antagonists/nukeop/nukeop.dm
  code/modules/antagonists/nukeop/outfits.dm
  code/modules/antagonists/revolution/revolution.dm
  code/modules/antagonists/wizard/wizard.dm
  code/modules/jobs/job_types/antagonists/nuclear_operative.dm
  code/modules/jobs/job_types/antagonists/space_wizard.dm
  code/modules/shuttle/emergency.dm
Labels: Quality of Life, Manual Mirror

#18648 Mirror #72280
  code/datums/components/payment.dm
  code/game/machinery/botlaunchpad.dm
  code/game/machinery/doors/poddoor.dm
  code/game/objects/items/botpad_remote.dm
  code/game/objects/items/grenades/chem_grenade.dm
  code/game/objects/items/inspector.dm
  code/game/objects/items/pillow.dm
  code/game/objects/structures/crates_lockers/crates/syndicrate.dm
  code/game/objects/structures/toiletbong.dm
  code/modules/antagonists/space_dragon/carp_rift.dm
  code/modules/antagonists/wizard/equipment/soulstone.dm
  code/modules/assembly/health.dm
  code/modules/atmospherics/machinery/components/fusion/hfr_parts.dm
  code/modules/mining/equipment/kheiral_cuffs.dm
  code/modules/mod/mod_ai.dm
  code/modules/mod/mod_construction.dm
  code/modules/mod/modules/modules_maint.dm
  code/modules/pai/software.dm
  code/modules/power/apc/apc_attack.dm
  code/modules/power/apc/apc_tool_act.dm
  code/modules/research/anomaly/anomaly_refinery.dm
  code/modules/research/ordnance/doppler_array.dm
  code/modules/research/ordnance/tank_compressor.dm
  code/modules/wiremod/components/id/access_checker.dm
  code/modules/wiremod/shell/moneybot.dm
  code/modules/wiremod/shell/scanner_gate.dm
  code/modules/wiremod/shell/server.dm
  tools/ci/check_grep.sh
Labels: Quality of Life, Manual Mirror

#18649 Mirror #72345
  code/modules/mob_spawn/ghost_roles/mining_roles.dm
  code/modules/mob_spawn/ghost_roles/space_roles.dm
  code/modules/mob_spawn/ghost_roles/unused_roles.dm
Labels: Code Improvement, Manual Mirror

#18652 Mirror #72127
  _maps/RandomRuins/IceRuins/icemoon_underground_mailroom.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  code/game/objects/items/food/_food.dm
  code/game/objects/items/food/bread.dm
  code/game/objects/items/food/burgers.dm
  code/game/objects/items/food/cake.dm
  code/game/objects/items/food/cheese.dm
  code/game/objects/items/food/donkpocket.dm
  code/game/objects/items/food/donuts.dm
  code/game/objects/items/food/dough.dm
  code/game/objects/items/food/egg.dm
  code/game/objects/items/food/frozen.dm
  code/game/objects/items/food/lizard.dm
  code/game/objects/items/food/meatdish.dm
  code/game/objects/items/food/meatslab.dm
  code/game/objects/items/food/mexican.dm
  code/game/objects/items/food/misc.dm
  code/game/objects/items/food/monkeycube.dm
  code/game/objects/items/food/moth.dm
  code/game/objects/items/food/packaged.dm
  code/game/objects/items/food/pancakes.dm
  code/game/objects/items/food/pastries.dm
  code/game/objects/items/food/pie.dm
  code/game/objects/items/food/pizza.dm
  code/game/objects/items/food/salad.dm
  code/game/objects/items/food/sandwichtoast.dm
  code/game/objects/items/food/snacks.dm
  code/game/objects/items/food/soup.dm
  code/game/objects/items/food/spaghetti.dm
  code/game/objects/items/food/sweets.dm
  code/game/objects/items/food/vegetables.dm
  code/game/objects/items/storage/fancy.dm
  code/modules/clothing/clothing.dm
  code/modules/food_and_drinks/machinery/coffeemaker.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_misc.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_seafood.dm
  code/modules/hydroponics/grown.dm
  code/modules/hydroponics/grown/aloe.dm
  code/modules/hydroponics/grown/banana.dm
  code/modules/hydroponics/grown/chili.dm
  code/modules/hydroponics/grown/corn.dm
  code/modules/hydroponics/grown/melon.dm
  code/modules/hydroponics/grown/onion.dm
  code/modules/hydroponics/grown/pineapple.dm
  code/modules/hydroponics/grown/potato.dm
  icons/obj/food/cartridges.dmi
  icons/obj/food/food.dmi
  icons/obj/food/mexican.dmi
  modular_skyrat/modules/customization/modules/food_and_drinks/food/scottish.dm
  modular_skyrat/modules/customization/modules/food_and_drinks/food/teshari_food.dm
  modular_skyrat/modules/customization/modules/hydroponics/grown/kiri.dm
  modular_skyrat/modules/customization/modules/hydroponics/grown/muli.dm
  modular_skyrat/modules/imported_vendors/code/vendor_snacks.dm
  tgstation.dme
  tools/UpdatePaths/Scripts/72127_bonbons.txt
Labels: Feature, Balance, Fix, Manual Mirror

#18651 Mirror #72195
  code/__DEFINES/span.dm
  code/_onclick/hud/blob_overmind.dm
  code/modules/antagonists/blob/blob.dm
  code/modules/antagonists/blob/blob_mob.dm
  code/modules/antagonists/blob/blob_mobs.dm
  code/modules/antagonists/blob/blobstrains/distributed_neurons.dm
  code/modules/antagonists/blob/minions/blobbernaut.dm
  code/modules/antagonists/blob/minions/blobspore.dm
  code/modules/antagonists/blob/overmind.dm
  code/modules/antagonists/blob/powers.dm
  interface/stylesheet.dm
  tgstation.dme
  tgui/packages/tgui-panel/styles/goon/chat-dark.scss
  tgui/packages/tgui-panel/styles/goon/chat-light.scss
  tgui/packages/tgui/interfaces/AntagInfoBlob.tsx
Labels: Feature, Fix, Refactor, Manual Mirror

#18650 Mirror #72264
  code/modules/mob/living/carbon/human/human.dm
Labels: Code Improvement, Manual Mirror

#18655 [MANUAL MIRROR] Abstract away stuff that acts on baseturfs directly into their own procs, and kills some dead code related to baseturfs + tests (#72117)
  code/__DEFINES/is_helpers.dm
  code/__DEFINES/stat_tracking.dm
  code/datums/shuttles.dm
  code/game/turfs/baseturfs.dm
  code/game/turfs/change_turf.dm
  code/game/turfs/closed/minerals.dm
  code/game/turfs/open/floor.dm
  code/game/turfs/open/floor/reinforced_floor.dm
  code/game/turfs/open/river.dm
  code/modules/holodeck/computer.dm
  code/modules/mapping/mapping_helpers.dm
  code/modules/shuttle/on_move.dm
  code/modules/shuttle/shuttle.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/baseturfs.dm
  tgstation.dme
Labels: Manual Mirror

#17136 Adds backend clockcult code
  code/__DEFINES/role_preferences.dm
  code/__DEFINES/~skyrat_defines/antagonists.dm
  code/__DEFINES/~skyrat_defines/clock_cult.dm
  code/__DEFINES/~skyrat_defines/factions.dm
  code/__DEFINES/~skyrat_defines/signals.dm
  code/__DEFINES/~skyrat_defines/span.dm
  code/modules/power/apc/apc_main.dm
  interface/stylesheet.dm
  modular_skyrat/master_files/code/game/objects/items/holy_weapons.dm
  modular_skyrat/master_files/icons/mob/clothing/suit_digi.dmi
  modular_skyrat/modules/clock_cult/code/actions/_action.dm
  modular_skyrat/modules/clock_cult/code/actions/whirring_convergence.dm
  modular_skyrat/modules/clock_cult/code/antagonist.dm
  modular_skyrat/modules/clock_cult/code/globals.dm
  modular_skyrat/modules/clock_cult/code/hint_element.dm
  modular_skyrat/modules/clock_cult/code/items/clockwork_slab.dm
  modular_skyrat/modules/clock_cult/code/items/clothing.dm
  modular_skyrat/modules/clock_cult/code/items/integration_cog.dm
  modular_skyrat/modules/clock_cult/code/items/replica_fabricator.dm
  modular_skyrat/modules/clock_cult/code/items/tools.dm
  modular_skyrat/modules/clock_cult/code/items/weaponry.dm
  modular_skyrat/modules/clock_cult/code/language.dm
  modular_skyrat/modules/clock_cult/code/pickup_element.dm
  modular_skyrat/modules/clock_cult/code/scriptures/_scripture.dm
  modular_skyrat/modules/clock_cult/code/structures/_structure.dm
  modular_skyrat/modules/clock_cult/code/structures/gear_base.dm
  modular_skyrat/modules/clock_cult/code/structures/sigil/_sigil.dm
  modular_skyrat/modules/clock_cult/code/structures/traps/recievers/flipper.dm
  modular_skyrat/modules/clock_cult/code/structures/traps/recievers/skewer.dm
  modular_skyrat/modules/clock_cult/code/structures/traps/senders/delay.dm
  modular_skyrat/modules/clock_cult/code/structures/traps/senders/lever.dm
  modular_skyrat/modules/clock_cult/code/structures/traps/senders/pressure_sensor.dm
  modular_skyrat/modules/clock_cult/code/structures/traps/trap.dm
  modular_skyrat/modules/clock_cult/code/temp_visual.dm
  modular_skyrat/modules/clock_cult/icons/actions_clock.dmi
  modular_skyrat/modules/clock_cult/icons/background_clock.dmi
  modular_skyrat/modules/clock_cult/icons/clockwork_effects.dmi
  modular_skyrat/modules/clock_cult/icons/clockwork_garb.dmi
  modular_skyrat/modules/clock_cult/icons/clockwork_garb_worn.dmi
  modular_skyrat/modules/clock_cult/icons/clockwork_mobs.dmi
  modular_skyrat/modules/clock_cult/icons/clockwork_objects.dmi
  modular_skyrat/modules/clock_cult/icons/misc.dmi
  modular_skyrat/modules/clock_cult/icons/projectiles.dmi
  modular_skyrat/modules/clock_cult/icons/speech.dmi
  modular_skyrat/modules/clock_cult/icons/tools.dmi
  modular_skyrat/modules/clock_cult/icons/weapons/ammo.dmi
  modular_skyrat/modules/clock_cult/icons/weapons/clockwork_lefthand.dmi
  modular_skyrat/modules/clock_cult/icons/weapons/clockwork_righthand.dmi
  modular_skyrat/modules/clock_cult/icons/weapons/clockwork_weapons.dmi
  tgstation.dme
  tgui/packages/tgui-panel/styles/goon/chat-dark.scss
  tgui/packages/tgui-panel/styles/goon/chat-light.scss
  tgui/packages/tgui/index.js
  tgui/packages/tgui/interfaces/AntagInfoClock.tsx
  tgui/packages/tgui/interfaces/ClockworkSlab.js
  tgui/packages/tgui/styles/interfaces/ClockworkSlab.scss
  tgui/packages/tgui/styles/main.scss
  tgui/packages/tgui/styles/themes/clockwork.scss
Labels: Project

#18666 Mirror #71906
  code/__DEFINES/dcs/signals/signals_turf.dm
  code/__DEFINES/movement.dm
  code/__DEFINES/shuttles.dm
  code/__DEFINES/subsystems.dm
  code/__DEFINES/traits.dm
  code/controllers/subsystem/movement/hyperspace_drift.dm
  code/controllers/subsystem/movement/movement.dm
  code/controllers/subsystem/movement/movement_types.dm
  code/datums/components/shuttle_cling.dm
  code/game/atoms_movable.dm
  code/game/turfs/open/space/transit.dm
  code/modules/antagonists/revenant/revenant.dm
  code/modules/mapping/space_management/space_reservation.dm
  code/modules/mob/living/basic/space_fauna/carp/carp.dm
  code/modules/mob/living/simple_animal/hostile/space_dragon.dm
  tgstation.dme
Labels: Feature, Quality of Life, Manual Mirror

#18667 Mirrors #72411
  code/modules/antagonists/blob/minions/blobbernaut.dm
  code/modules/antagonists/blob/minions/blobspore.dm
  tgui/packages/tgui/interfaces/Orbit/constants.ts
Labels: Fix, Manual Mirror

#18668 Mirrors #72429
  code/controllers/subsystem/materials.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
Labels: Fix, Manual Mirror

#18669 Mirrors #72380
  _maps/RandomRuins/SpaceRuins/skyrat/cargodiselost.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/defcon2.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/defcon3.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/defcon4.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/defcon5.dmm
  code/_globalvars/lists/objects.dm
  code/game/machinery/computer/orders/order_computer/cook_order.dm
  code/game/machinery/computer/orders/order_computer/golem_order.dm
  code/game/machinery/computer/orders/order_computer/mining_order.dm
  code/game/machinery/computer/orders/order_computer/order_computer.dm
  code/game/machinery/computer/orders/order_items/mining/order_mining.dm
  code/modules/mining/mining_ltsrbt.dm
  modular_skyrat/modules/mapping/code/interdyne_mining.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/ProduceConsole.js
Labels: Balance, Removal, Manual Mirror

#18685 Mirror #71601
  .github/workflows/ci_suite.yml
  .github/workflows/conflicts.yml
  .github/workflows/has_515_compatibility.yml
Labels: GitHub, Manual Mirror

#17637 [NON-MODULAR] Fixes custom stuff for uniform accessories on teshis, also some taur cleanup.
  code/__DEFINES/~skyrat_defines/inventory.dm
  code/modules/clothing/suits/_suits.dm
  code/modules/clothing/under/_under.dm
  code/modules/mob/living/carbon/carbon_update_icons.dm
  code/modules/mob/living/carbon/human/human_update_icons.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/genitals.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/taur_types.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/carbon_update_icons.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/worn_overlays.dm
  modular_skyrat/modules/emotes/code/additionalemotes/turf_emote.dm
  tgstation.dme
Labels: Fix, Test Merge Candidate

#18692 [MODULAR] Fixes Cryopods not removing players from Joined Player List
  modular_skyrat/modules/cryosleep/code/cryopod.dm
Labels: Fix

#18465 [Modular] Alter Form now hides locked parts
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/roundstartslime.dm
Labels: Fix, Stale

#18001 [MODULAR] Fix IPCs and Synths with Non-Default Brains Not Being Properly Inserted into Ghost Roles and Fixes Item Duplication and Also Fixes Ghost Cafe Boxes
  modular_skyrat/master_files/code/modules/client/preferences/brain.dm
  modular_skyrat/master_files/code/modules/mob_spawn/mob_spawn.dm
  modular_skyrat/modules/aesthetics/storage/storage.dmi
  modular_skyrat/modules/ghostcafe/code/ghost_role_spawners.dm
Labels: Fix, Test Merged

#18478 [Void Raptor] Minor Additions and Fixes
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Feature, Removal

#18742 [MODULAR] Changes ratios of catnip buds
  modular_skyrat/modules/customization/modules/hydroponics/grown/tea_coffee.dm
Labels: Quality of Life

#18683 fixes improvised weapons sprites
  modular_skyrat/modules/modular_weapons/code/rifle.dm
Labels: Fix

#18205 Makes all underwear/socks digitigrade compatiable
  modular_skyrat/master_files/icons/mob/clothing/underwear.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories.dm
Labels: Fix, Sprites

#18788 Cleans the backend logic for headshots
  modular_skyrat/master_files/code/modules/client/preferences/headshot.dm
Labels: Quality of Life

#18814 [Preferably][No GBP]Reintroduces Snail Changes
  code/modules/surgery/bodyparts/species_parts/misc_bodyparts.dm
Labels: Fix

#18806 [MODULAR] Fixes Ghost Role spawns W/o loadout_enabled
  modular_skyrat/master_files/code/modules/mob_spawn/mob_spawn.dm
Labels: Fix

#18642 [EVIL CRAB ] pda-b-gone deployed
  code/modules/mob/living/carbon/human/human_update_icons.dm
Labels: Removal

#18832 [Manual Mirror] Update the Play Internet Sound Verb
  code/modules/admin/verbs/playsound.dm
  tgui/packages/tgui-panel/audio/NowPlayingWidget.js
Labels: Administration

#18817 [MANUAL MIRROR] adds a goose for the tram to hit
  _maps/map_files/tramstation/tramstation.dmm
Labels: Feature

#18838 Fixes snouted versions of masks not appearing correctly
  code/modules/mob/living/carbon/human/human_update_icons.dm
Labels: Fix

#18844 Fixes company imports glasses sprite
  modular_skyrat/modules/company_imports/icons/hud_goggles_worn.dmi
Labels: Fix

#18527 Adds tail wagging animation for servelyn tails
  modular_skyrat/master_files/icons/mob/sprite_accessory/tails.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/tails.dm
Labels: Sprites

#18586 Stops overriding the sprite of every single chair for one rather mid sprite change
  code/game/objects/structures/beds_chairs/chair.dm
  modular_skyrat/modules/aesthetics/chairs/code/chair.dm
  modular_skyrat/modules/aesthetics/chairs/icons/chairs.dmi
  tgstation.dme
Labels: Removal, Sprites

#18840 Fixes company imports
  tgui/packages/tgui/interfaces/Cargo.js
Labels: Fix

#18821 [MODULAR][READY]Soft-Reverts 18747
  modular_skyrat/modules/customization/modules/clothing/head/jobs.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_heads.dm
  modular_skyrat/modules/modular_vending/code/wardrobes.dm
  modular_skyrat/modules/teshari/code/teshari_clothes.dm
  modular_skyrat/modules/vox_sprites/code/head.dm
Labels: Feature, Revert

#18673 The great Unfuckening of all the tech/mechfab categories
  code/modules/research/designs/tool_designs.dm
  code/modules/research/techweb/all_nodes.dm
  modular_skyrat/master_files/code/modules/research/designs/misc_designs.dm
  modular_skyrat/modules/borg_buffs/code/robot.dm
  modular_skyrat/modules/borg_buffs/code/snack_dispensor.dm
  modular_skyrat/modules/cargo_teleporter/code/cargo_teleporter.dm
  modular_skyrat/modules/cargoborg/code/robot_items.dm
  modular_skyrat/modules/cellguns/code/medigun_research.dm
  modular_skyrat/modules/company_imports/code/objects/hud_glasses.dm
  modular_skyrat/modules/conveyor_sorter/code/conveyor_sorter.dm
  modular_skyrat/modules/cyborg/code/mechafabricator_designs.dm
  modular_skyrat/modules/huds/code/designs.dm
  modular_skyrat/modules/microfusion/code/microfusion_designs.dm
  modular_skyrat/modules/modular_items/code/designs.dm
  modular_skyrat/modules/multicellcharger/code/multi_cell_charger.dm
  modular_skyrat/modules/mutants/code/mutant_techweb.dm
  modular_skyrat/modules/shapeshifting_module/code/mechfabricator_designs.dm
  tgstation.dme
Labels: Fix, Removal, Refactor, Quality of Life

#18395 Teshari sprite pack (2) security boogaloo
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/eyes.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/feet.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/head.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/suit.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/uniform.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/security.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/security_digi.dmi
Labels: Sprites, Test Merge Candidate

#18862 Lets all jellypeople be toxin loving once again
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/roundstartslime.dm
Labels: Fix

#18849 [MODULAR] Adds missing sprites for feathery wings, fixing invisible wings bug
  modular_skyrat/master_files/icons/mob/sprite_accessory/wings.dmi
Labels: Fix, Sprites

#18812 Shady Market - Tiny Fixes and QOL
  _maps/RandomRuins/SpaceRuins/skyrat/blackmarket.dmm
Labels: Fix, Mapping, Quality of Life

#18798 [Void Raptor] Fixes up some improper r-glass pane usage, as well as a tiny nitpick on some maint area overlap
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Fix

#18853 [MANUAL MIRROR] Kilostation comfy chairs provide iron on deconstruction
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Fix, Manual Mirror

#18872 Fixes the high vis armored vest toggle and various obj sprites.
  modular_skyrat/master_files/icons/obj/clothing/suits.dmi
Labels: Fix

#18858 Missed Mirror: Fix space bartender not having access to kitchen locker in away missi
  code/datums/id_trim/ruins.dm
Labels: Fix, Manual Mirror

#18855 Missed Mirror: Fixes the freezing component (#68737)
  code/datums/elements/frozen.dm
Labels: Fix, Manual Mirror

#18857 Missed Mirror: Fixes Lawyer and Atmos techs being on the wrong trimmers. (#68292)
  code/datums/id_trim/jobs.dm
Labels: Fix, Manual Mirror

#18856 Missed Mirror: Fix incorrect calls to UnregisterSignal (#68698)
  code/_onclick/hud/new_player.dm
  code/datums/elements/weather_listener.dm
  code/datums/status_effects/debuffs/debuffs.dm
  code/game/objects/items/devices/geiger_counter.dm
Labels: Fix, Manual Mirror

#18850 MISSED MIRROR: Adds windup autofire functionality. The future is now. (Later) (#67911)
  code/datums/components/fullauto.dm
  modular_skyrat/master_files/code/datums/components/fullauto.dm
Labels: Upstream PR Merged, Code Improvement, Manual Mirror

#18815 [MANUAL MIRROR] Fixes missing power cables on Tramstation
  _maps/map_files/tramstation/tramstation.dmm
Labels: Upstream PR Merged, Fix, Manual Mirror

#18871 Removes banana peel shoes
  code/modules/uplink/uplink_items/nukeops.dm
  modular_skyrat/master_files/code/modules/clothing/shoes/bananashoes.dm
  tgstation.dme
Labels: Removal

#18863 [MODULAR][NO GBP] Fixes snouted bodytype flag derived from snout mutant choice.
  modular_skyrat/master_files/code/modules/client/preferences/_preference.dm
Labels: Fix, Test Merged, GBP: No Update

#18888 [MIRROR] Water will now make you wet (#72844)
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/reagent_mob_expose.dm
Labels: Balance, GBP: No Update

#18890 Makes portable scrubbers and pumps use tg sprites because the tg sprites aren't ass anymore
  modular_skyrat/modules/aesthetics/scrubber/code/scrubber.dm
  modular_skyrat/modules/aesthetics/scrubber/icons/atmos.dmi
  tgstation.dme
Labels: Removal, Sprites

#18916 [MODULAR] Fixes secure briefcase icon state
  modular_skyrat/modules/more_briefcases/code/briefcases.dm
Labels: Fix

#18664 [MISSED MIRROR] Replace nearly every map grep with a YML file that actually respects structure, and fixes the massive amount of failures that were never caught (#72372)
  .github/workflows/ci_suite.yml
  _maps/RandomRuins/IceRuins/icemoon_surface_bughabitat.dmm
  _maps/RandomRuins/SpaceRuins/TheDerelict.dmm
  _maps/RandomRuins/SpaceRuins/crashedship.dmm
  _maps/RandomRuins/SpaceRuins/hellfactory.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/piratefort.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/shuttle8532.dmm
  _maps/RandomRuins/SpaceRuins/spacehotel.dmm
  _maps/RandomZLevels/SnowCabin.dmm
  _maps/RandomZLevels/blackmesa.dmm
  _maps/RandomZLevels/snowdin.dmm
  _maps/map_files/CTF/cruiser.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/shuttles/infiltrator_advanced.dmm
  _maps/shuttles/skyrat/emergency_outpost.dmm
  _maps/shuttles/skyrat/emergency_skyrat.dmm
  _maps/skyrat/automapper/templates/Skyrat_Map_Reset.dmm
  _maps/skyrat/xenoarch_base.dmm
  dependencies.sh
  tools/ci/check_grep.sh
  tools/maplint/README.md
  tools/maplint/lints/apc_pixel_shifts.yml
  tools/maplint/lints/area_varedits.yml
  tools/maplint/lints/base_turf.yml
  tools/maplint/lints/cable_varedits.yml
  tools/maplint/lints/conveyor_cardinal_inversion.yml
  tools/maplint/lints/custom_icon_helper.yml
  tools/maplint/lints/docking_port_varedits.yml
  tools/maplint/lints/door_name_capitalization.yml
  tools/maplint/lints/grille_stacking.yml
  tools/maplint/lints/identical_barricades.yml
  tools/maplint/lints/identical_pipes.yml
  tools/maplint/lints/merge_conflict_marker.yml
  tools/maplint/lints/multiple_airlocks.yml
  tools/maplint/lints/multiple_area.yml
  tools/maplint/lints/multiple_cables.yml
  tools/maplint/lints/multiple_chairs.yml
  tools/maplint/lints/multiple_closets.yml
  tools/maplint/lints/multiple_firelocks.yml
  tools/maplint/lints/multiple_girders.yml
  tools/maplint/lints/multiple_grilles.yml
  tools/maplint/lints/multiple_lattice.yml
  tools/maplint/lints/multiple_stairs.yml
  tools/maplint/lints/multiple_tables.yml
  tools/maplint/lints/multiple_turf.yml
  tools/maplint/lints/pixel_varedits.yml
  tools/maplint/lints/stairs_with_genturf.yml
  tools/maplint/lints/wall_stacking.yml
  tools/maplint/source/__init__.py
  tools/maplint/source/__main__.py
  tools/maplint/source/common.py
  tools/maplint/source/dmm.py
  tools/maplint/source/error.py
  tools/maplint/source/lint.py
Labels: Fix, Refactor, Unit Tests, Manual Mirror

#18892 [MODULAR] Fixes crusader belt not spawning with its pouch
  modular_skyrat/modules/modular_items/code/tailoring.dm
Labels: Fix

#18826 Fixes SR poster errors [Manual Mirror]
  code/game/objects/effects/poster.dm
Labels: Fix

#18889 Ammo workbenches can now fit materials again
  modular_skyrat/modules/ammo_workbench/code/ammo_workbench.dm
Labels: Fix

#18894 Changes Newscaster/Bountyboard to TG sprite
  modular_skyrat/modules/aesthetics/newscaster/code/newscaster.dm
  modular_skyrat/modules/aesthetics/newscaster/icons/newscaster.dmi
  tgstation.dme
Labels: Removal, Sprites

#18943 Categorizes the supermatter surge event
  modular_skyrat/modules/supermatter_surge/code/supermatter_surge.dm
Labels: Administration

#18349 [MOSTLY MODULAR] NIFs
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_syndicate_base1_skyrat.dmm
  _maps/RandomRuins/LavaRuins/skyrat/lavaland_surface_syndicate_base1_skyrat.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  code/__DEFINES/~skyrat_defines/_organ_defines.dm
  code/controllers/subsystem/job.dm
  code/controllers/subsystem/persistence.dm
  code/controllers/subsystem/ticker.dm
  code/datums/components/mind_linker.dm
  code/game/objects/items/circuitboards/machines/machine_circuitboards.dm
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/research/techweb/all_nodes.dm
  modular_skyrat/master_files/code/modules/client/preferences/brain.dm
  modular_skyrat/master_files/code/modules/research/designs/misc_designs.dm
  modular_skyrat/master_files/icons/mob/actions/action_backgrounds.dmi
  modular_skyrat/master_files/icons/mob/actions/actions_nif.dmi
  modular_skyrat/modules/cargo/code/packs.dm
  modular_skyrat/modules/cryosleep/code/cryopod.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/roundstartslime.dm
  modular_skyrat/modules/customization/modules/surgery/organs/nif.dm
  modular_skyrat/modules/modular_implants/code/misc_devices.dm
  modular_skyrat/modules/modular_implants/code/nif_actions.dm
  modular_skyrat/modules/modular_implants/code/nif_implants.dm
  modular_skyrat/modules/modular_implants/code/nif_persistence.dm
  modular_skyrat/modules/modular_implants/code/nif_research.dm
  modular_skyrat/modules/modular_implants/code/nifs.dm
  modular_skyrat/modules/modular_implants/code/nifs_tgui.dm
  modular_skyrat/modules/modular_implants/code/nifsoft_shop.dm
  modular_skyrat/modules/modular_implants/code/nifsofts.dm
  modular_skyrat/modules/modular_implants/code/nifsofts/hivemind.dm
  modular_skyrat/modules/modular_implants/code/nifsofts/money_sense.dm
  modular_skyrat/modules/modular_implants/code/nifsofts/prop_summoner.dm
  modular_skyrat/modules/modular_implants/code/nifsofts/shapeshifter.dm
  modular_skyrat/modules/modular_implants/icons/chat.dmi
  modular_skyrat/modules/modular_implants/icons/obj/devices.dmi
  modular_skyrat/modules/modular_implants/icons/obj/disks.dmi
  modular_skyrat/modules/modular_implants/icons/obj/machines/vendors.dmi
  modular_skyrat/modules/modular_implants/icons/obj/nifs.dmi
  modular_skyrat/modules/modular_implants/sounds/default_bad.ogg
  modular_skyrat/modules/modular_implants/sounds/default_click.ogg
  modular_skyrat/modules/modular_implants/sounds/default_good.ogg
  modular_skyrat/modules/modular_persistence/README.md
  modular_skyrat/modules/modular_persistence/code/modular_persistence.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/NifPanel.js
Labels: Feature, Test Merged

#18924 [modular] removes the AFAD from goodies, as it's in company-reqs
  modular_skyrat/modules/cargo/code/goodies.dm
Labels: Removal

#18763 fixes legion achievement
  code/modules/mob/living/simple_animal/hostile/megafauna/_megafauna.dm
Labels: Fix, Manual Mirror

#18670 [awh hell naw] the first step of the great cargo renamen-ing
  code/modules/unit_tests/screenshots/screenshot_antag_icons_bloodbrother.png
  modular_skyrat/modules/alternative_job_titles/code/alt_job_titles.dm
  modular_skyrat/modules/departmentization/cargo_technician.dm
  modular_skyrat/modules/departmentization/clothing_overrides.dm
  modular_skyrat/modules/departmentization/quartermaster.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_heads.dm
  modular_skyrat/modules/modular_vending/code/wardrobes.dm
  tgstation.dme
Labels: Feature, Fix

#18460 [modular] alot of Company Requisitions price changes + return of the rave-visor and anomaly-modules
  modular_skyrat/modules/company_imports/code/armament_datums/deforest_medical.dm
  modular_skyrat/modules/company_imports/code/armament_datums/microstar_energy.dm
  modular_skyrat/modules/company_imports/code/armament_datums/nakamura_modsuits.dm
  modular_skyrat/modules/company_imports/code/armament_datums/nakamura_tools.dm
Labels: Feature, Balance, Test Merged

#18859 LT3 Donator Items
  modular_skyrat/master_files/icons/donator/mob/clothing/hands.dmi
  modular_skyrat/master_files/icons/donator/mob/clothing/suit.dmi
  modular_skyrat/master_files/icons/donator/mob/clothing/uniform_digi.dmi
  modular_skyrat/master_files/icons/donator/mob/inhands/donator_left.dmi
  modular_skyrat/master_files/icons/donator/mob/inhands/donator_right.dmi
  modular_skyrat/master_files/icons/donator/obj/clothing/gloves.dmi
  modular_skyrat/master_files/icons/donator/obj/clothing/suits.dmi
  modular_skyrat/master_files/icons/donator/obj/clothing/uniform.dmi
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
  modular_skyrat/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
Labels: Feature

#18946 More donator character slots n' shit
  code/modules/client/preferences.dm
Labels: Feature

#18923 [READY][FIX]Fixes Round Snail Shell
  code/modules/mob/living/carbon/human/species_types/snail.dm
Labels: Fix

#18292 Hemophagus, The Hemophage Revamp, Part Three: A Taste For Blood
  code/__DEFINES/food.dm
  code/__DEFINES/~skyrat_defines/_globalvars/bitfields.dm
  code/__DEFINES/~skyrat_defines/construction.dm
  code/__DEFINES/~skyrat_defines/reagents.dm
  code/__DEFINES/~skyrat_defines/traits.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/reagents/reagent_containers/condiment.dm
  code/modules/reagents/reagent_containers/cups/_cup.dm
  modular_skyrat/master_files/code/modules/reagents/chemistry/holder.dm
  modular_skyrat/master_files/code/modules/reagents/chemistry/reagents.dm
  modular_skyrat/master_files/icons/obj/drinks.dmi
  modular_skyrat/master_files/icons/obj/food/hemophage_food.dmi
  modular_skyrat/modules/customization/datums/components/crafting/hemophage_recipes.dm
  modular_skyrat/modules/customization/modules/food_and_drinks/food/hemophage_food.dm
  modular_skyrat/modules/customization/modules/food_and_drinks/recipes/drinks_recipes.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/hemophage.dm
  modular_skyrat/modules/customization/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  modular_skyrat/modules/customization/modules/reagents/chemistry/reagents/other_reagents.dm
  modular_skyrat/modules/customization/modules/reagents/chemistry/recipes/medicine.dm
  modular_skyrat/modules/synths/code/reagents/reagents.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PersonalCrafting.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/data.ts
Labels: Feature, Balance, Sprites

#18958 Sets has_digitigrade to True for Sports Bra w/ Boyshorts
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories.dm
Labels: Fix

#18925 [READY][EVIL CODE]Makes Snails Clean Floors
  code/datums/elements/snail_crawl.dm
Labels: Feature

#18921 [MANUAL MIRROR] Fixes toilet bongs, and fixes a serious bug in the crafting system
  code/__HELPERS/global_lists.dm
  code/datums/components/crafting/_recipes.dm
  code/datums/components/crafting/atmospheric.dm
  code/datums/components/crafting/containers.dm
  code/datums/components/crafting/crafting.dm
  code/datums/components/crafting/entertainment.dm
  code/game/objects/structures/toiletbong.dm
  tgui/packages/tgui/interfaces/PersonalCrafting.tsx
Labels: Fix, Refactor

#18965 fixes the blueshield's armor having two melee flags, instead of melee and bullet in the armor
  modular_skyrat/modules/blueshield/code/blueshield_clothing.dm
Labels: Fix

#18927 Syndicate maid outfit + the unatomic Teshari eyepatch fix
  modular_skyrat/master_files/icons/mob/clothing/accessories.dmi
  modular_skyrat/master_files/icons/mob/clothing/hands.dmi
  modular_skyrat/master_files/icons/mob/clothing/head.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/accessories.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/eyes.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/hands.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/head.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/uniform.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/syndicate.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/syndicate_digi.dmi
  modular_skyrat/master_files/icons/obj/clothing/accessories.dmi
  modular_skyrat/master_files/icons/obj/clothing/gloves.dmi
  modular_skyrat/master_files/icons/obj/clothing/hats.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/syndicate.dmi
  modular_skyrat/modules/Syndie_edits/code/syndie_edits.dm
  modular_skyrat/modules/mapping/code/wardrobes.dm
Labels: Sprites

#18884 [MIRROR] Dynamic Human Icon Generation For Simple/Basic Mobs (& Cardboard Cutouts) [MDB IGNORE]
  _maps/map_files/generic/CentCom.dmm
  _maps/shuttles/whiteship_box.dmm
  _maps/shuttles/whiteship_personalshuttle.dmm
  _maps/templates/holodeck_spacecheckers.dmm
  _maps/templates/shelter_2.dmm
  code/__DEFINES/mobs.dm
  code/__HELPERS/dynamic_human_icon_gen.dm
  code/datums/holocall.dm
  code/game/objects/items/cardboard_cutouts.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/structures/chess.dm
  code/modules/antagonists/cult/cult.dm
  code/modules/antagonists/heretic/heretic_antag.dm
  code/modules/clothing/outfits/standard.dm
  code/modules/clothing/suits/toggles.dm
  code/modules/clothing/suits/wiz_robe.dm
  code/modules/hallucination/body.dm
  code/modules/hallucination/delusions.dm
  code/modules/jobs/job_types/shaft_miner.dm
  code/modules/mapfluff/ruins/spaceruin_code/forgottenship.dm
  code/modules/mapping/mapping_helpers.dm
  code/modules/mob/living/basic/syndicate/syndicate.dm
  code/modules/mob/living/simple_animal/friendly/trader.dm
  code/modules/mob/living/simple_animal/hostile/bosses/paperwizard.dm
  code/modules/mob/living/simple_animal/hostile/cat_butcher.dm
  code/modules/mob/living/simple_animal/hostile/dark_wizard.dm
  code/modules/mob/living/simple_animal/hostile/nanotrasen.dm
  code/modules/mob/living/simple_animal/hostile/pirate.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/spaceman.dm
  code/modules/mob/living/simple_animal/hostile/russian.dm
  code/modules/mob/living/simple_animal/hostile/skeleton.dm
  code/modules/mob/living/simple_animal/hostile/wizard.dm
  code/modules/mob/living/simple_animal/hostile/zombie.dm
  code/modules/mob_spawn/corpses/mob_corpses.dm
  code/modules/mob_spawn/ghost_roles/mining_roles.dm
  code/modules/mob_spawn/mob_spawn.dm
  code/modules/mod/mod_control.dm
  code/modules/projectiles/ammunition/_firing.dm
  code/modules/projectiles/ammunition/ballistic/rifle.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/energy/energy_gun.dm
  code/modules/projectiles/guns/energy/pulse.dm
  code/modules/projectiles/projectile/bullets/rifle.dm
  code/modules/research/xenobiology/crossbreeding/_status_effects.dm
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/hallucination_icons.dm
  code/modules/unit_tests/screenshot_dynamic_human_icons.dm
  code/modules/unit_tests/screenshots/screenshot_antag_icons_syndicateinfiltrator.png
  code/modules/unit_tests/screenshots/screenshot_antag_icons_syndicatesleeperagent.png
  code/modules/unit_tests/screenshots/screenshot_antag_icons_traitor.png
  code/modules/unit_tests/screenshots/screenshot_dynamic_human_icons_syndicate_commando.png
  icons/mob/clothing/head/wizard.dmi
  icons/mob/simple/simple_human.dmi
  icons/mob/simple/traders.dmi
  icons/obj/art/cardboard_cutout.dmi
  icons/obj/chess.dmi
  icons/obj/clothing/head/wizard.dmi
  modular_skyrat/master_files/code/modules/mob/living/simple_animal/hostile/zombie.dm
  tgstation.dme
Labels: Upstream PR Merged, Manual Mirror

#18956 Adds in boyshorts.
  modular_skyrat/master_files/icons/mob/clothing/underwear.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories.dm
Labels: Feature

#18970 [MODULAR] 20 New Hairstyles!
  modular_skyrat/master_files/icons/mob/sprite_accessory/hair.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/hair.dm
Labels: Sprites

#18959 [Modular] Ghost Role Bank Accounts + freighter/BMD loadout
  modular_skyrat/modules/mapping/code/lavaland_ruin_code.dm
  modular_skyrat/modules/mapping/code/mob_spawns.dm
Labels: Quality of Life

#19036 [MODULAR] Fixes Interlink doors throwing several warnings on server start
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  modular_skyrat/modules/skyrat_access_helpers/accesshelpers.dm
Labels: Fix, Quality of Life

#18950 [READY] Makes PDA Messaging Visible
  code/modules/modular_computers/file_system/programs/ntmessenger.dm
Labels: Feature
