Repository Skyrat-SS13/Skyrat-tg, pull requests merged in 2023-02, with the labels that each got.

#18774 Removes the three improvised guns we added, because the purpose of two of them is served by an already existing improvised gun, and the third is just stupid.
  _maps/RandomRuins/SpaceRuins/skyrat/shuttle8532.dmm
  modular_skyrat/modules/modular_weapons/code/recipes.dm
  modular_skyrat/modules/modular_weapons/code/revolver.dm
  modular_skyrat/modules/modular_weapons/code/rifle.dm
  tgstation.dme
Labels: Removal, Stale

#19135 [Modular] Removes random junk on Shady Market and makes Chevvy fly correctly
  _maps/RandomRuins/SpaceRuins/skyrat/blackmarket.dmm
  _maps/shuttles/skyrat/ruin_blackmarket_chevvy.dmm
Labels: Fix, Removal

#18954 Removes swears from Personal Space
  modular_skyrat/master_files/code/datums/traits/neutral.dm
Labels: Removal

#18818 [MANUAL MIRROR] Fix some reference leaks
  code/game/machinery/buttons.dm
  code/game/objects/items/tanks/watertank.dm
Labels: Upstream PR Merged, Fix, Manual Mirror

#19065 [MISSED MIRROR] Maplint tool now has proper github action error messages (#72920)
  .github/workflows/ci_suite.yml
  tools/maplint/source/__main__.py
  tools/maplint/source/common.py
  tools/maplint/source/dmm.py
  tools/maplint/source/error.py
  tools/maplint/source/lint.py
Labels: Tools, GitHub, Manual Mirror

#19074 [MANUAL MIRROR] Fixes plasmamen dying from liver damage when consuming plasma
  code/__DEFINES/mobs.dm
  code/__DEFINES/traits.dm
  code/_globalvars/traits.dm
  code/datums/diseases/advance/symptoms/heal.dm
  code/game/machinery/dna_infuser/dna_infuser.dm
  code/modules/antagonists/heretic/heretic_living_heart.dm
  code/modules/antagonists/heretic/knowledge/starting_lore.dm
  code/modules/antagonists/heretic/structures/mawed_crucible.dm
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  code/modules/surgery/organs/liver.dm
Labels: Fix

#18972 [Modular] Fixes medical breath mask and surgical mask having the same side profile sprites
  modular_skyrat/master_files/icons/mob/clothing/mask_muzzled.dmi
Labels: Fix, Sprites

#18556 [MODULAR] Adds cryo to permabrig 2: Electric Grillaboo
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_syndicate_base1_skyrat.dmm
  _maps/RandomRuins/LavaRuins/skyrat/lavaland_surface_syndicate_base1_skyrat.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/cargodiselost.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/interdynefob.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/defcon2.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/defcon3.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/defcon4.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/defcon5.dmm
  _maps/RandomRuins/SpaceRuins/spacehotel_skyrat.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  _maps/skyrat/automapper/templates/deltastation/deltastation_cryo.dmm
  _maps/skyrat/automapper/templates/icebox/icebox_cryo.dmm
  _maps/skyrat/automapper/templates/kilostation/kilostation_cryo.dmm
  _maps/skyrat/automapper/templates/metastation/metastation_cryo.dmm
  _maps/skyrat/automapper/templates/tramstation/tramstation_cryo.dmm
  modular_skyrat/modules/automapper/code/area_spawn_entries.dm
  modular_skyrat/modules/cryosleep/code/cryopod.dm
  modular_skyrat/modules/cryosleep/icons/cryogenics.dmi
  modular_skyrat/modules/mapping/code/mob_spawns.dm
  tools/UpdatePaths/Scripts_Skyrat/cryo_console_dirs.txt
Labels: Feature

#19006 [ DONATOR ITEM ] Color-block hoodie for Lolpopomg101
  modular_skyrat/master_files/icons/donator/mob/clothing/head.dmi
  modular_skyrat/master_files/icons/donator/mob/clothing/suit.dmi
  modular_skyrat/master_files/icons/donator/obj/clothing/hats.dmi
  modular_skyrat/master_files/icons/donator/obj/clothing/suits.dmi
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
  modular_skyrat/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
Labels: Feature, Sprites, Stale

#18991 Modular Suit Sorting B: Spacesuits
  modular_skyrat/master_files/code/modules/clothing/clothing_variation_overrides/suit.dm
  modular_skyrat/master_files/code/modules/clothing/suits/_suits.dm
  modular_skyrat/master_files/code/modules/clothing/suits/labcoat.dm
  modular_skyrat/master_files/icons/mob/clothing/suits/spacesuit.dmi
  modular_skyrat/master_files/icons/mob/clothing/suits/spacesuit_digi.dmi
  modular_skyrat/master_files/icons/obj/clothing/suits/spacesuit.dmi
  modular_skyrat/modules/hev_suit/code/hev_suit.dm
  modular_skyrat/modules/modular_ert/code/trauma_team/trauma_team_outfit.dm
  modular_skyrat/modules/novaya_ert/code/suit.dm
Labels: Sprites

#19188 Fix Donator Item for Lolpopomg101 for Digitigrades
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
Labels: Fix

#19021 Modular Suit Sorting 2.5: Biosuit and Wizard Digitigrade
  modular_skyrat/master_files/code/modules/clothing/clothing_variation_overrides/suit.dm
  modular_skyrat/master_files/code/modules/clothing/suits/_suits.dm
  modular_skyrat/master_files/icons/mob/clothing/suits/bio_digi.dmi
  modular_skyrat/master_files/icons/mob/clothing/suits/wizard_digi.dmi
Labels: Sprites

#18944 Small VoxPrimalis Fixes
  code/__DEFINES/~skyrat_defines/species_clothing_paths.dm
  modular_skyrat/modules/better_vox/code/vox_species.dm
  modular_skyrat/modules/better_vox/icons/clothing/back.dmi
  modular_skyrat/modules/better_vox/icons/clothing/hands.dmi
  modular_skyrat/modules/better_vox/icons/clothing/mod.dmi
Labels: Stale

#19231 [Void Raptor] Removes the floating Moffucinis Pizzeria
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  modular_skyrat/modules/mapping/voidraptor/code/areas.dm
  tgstation.dme
Labels: Removal

#19232 [MDB IGNORE] Revert "[Void Raptor] Removes the floating Moffucinis Pizzeria"
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  html/changelogs/AutoChangeLog-pr-19231.yml
  modular_skyrat/modules/mapping/voidraptor/code/areas.dm
  tgstation.dme
Labels: Removal, Revert

#18985 Manual Mirror: Add investigate_deaths (#71112)
  code/game/objects/items/clown_items.dm
  code/modules/mob/living/basic/pets/dog.dm
  code/modules/mob/living/carbon/alien/special/alien_embryo.dm
Labels: Fix, Administration, Manual Mirror

#19082 [MANUAL MIRROR] Big Paperwork
  code/_globalvars/lists/maintenance_loot.dm
  code/modules/cargo/exports/stamped_paperwork.dm
  code/modules/events/shuttle_loan.dm
  code/modules/paperwork/folders.dm
  code/modules/paperwork/folders_premade.dm
  code/modules/paperwork/paperwork.dm
  code/modules/paperwork/photocopier.dm
  tgstation.dme
Labels: Manual Mirror

#18976 Missed Mirror: Remove NTNet from doors (saves 0.2s of init) -- Fixes windoors not wo
  code/__DEFINES/networks.dm
  code/game/machinery/airlock_control.dm
  code/game/machinery/doors/airlock.dm
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/windowdoor.dm
  code/game/objects/items/control_wand.dm
  code/modules/unit_tests/ntnetwork_tests.dm
Labels: Fix, Quality of Life

#19068 [MANUAL MIRROR] Refactors Admin Setups on Forced Events + Refactors Vending Sentience
  code/__HELPERS/hallucinations.dm
  code/modules/admin/force_event.dm
  code/modules/admin/topic.dm
  code/modules/antagonists/pirate/pirate_event.dm
  code/modules/antagonists/pirate/pirate_shuttle_equipment.dm
  code/modules/events/_event.dm
  code/modules/events/_event_admin_setup.dm
  code/modules/events/anomaly/_anomaly.dm
  code/modules/events/brand_intelligence.dm
  code/modules/events/disease_outbreak.dm
  code/modules/events/false_alarm.dm
  code/modules/events/heart_attack.dm
  code/modules/events/immovable_rod/immovable_rod.dm
  code/modules/events/immovable_rod/immovable_rod_event.dm
  code/modules/events/mass_hallucination.dm
  code/modules/events/sandstorm.dm
  code/modules/events/scrubber_overflow.dm
  code/modules/events/shuttle_catastrophe.dm
  code/modules/events/shuttle_loan.dm
  code/modules/events/shuttle_loan/shuttle_loan_datum.dm
  code/modules/events/shuttle_loan/shuttle_loan_event.dm
  code/modules/events/shuttle_loan/shuttle_loan_items.dm
  code/modules/events/stray_meteor.dm
  code/modules/events/wizard/departmentrevolt.dm
  code/modules/events/wizard/madness.dm
  modular_skyrat/master_files/code/modules/events/disease_outbreak.dm
  tgstation.dme
Labels: Administration, Refactor

#19300 Fixes DS2's hanger forcefield killing you
  _maps/RandomRuins/SpaceRuins/skyrat/interdynefob.dmm
Labels: Fix

#19142 Makes towels digitigrade-compatibles
  modular_skyrat/master_files/code/modules/clothing/towels.dm
  modular_skyrat/master_files/icons/mob/clothing/towel.dmi
  modular_skyrat/master_files/icons/mob/clothing/towel_digi.dmi
Labels: Fix, Sprites

#19340 [MODULAR] Fixes op table numbing warning.
  modular_skyrat/master_files/code/game/objects/structures/tables_racks.dm
Labels: Fix

#19336 [MODULAR] I forgot to make the tram run you over, and we can't have that
  modular_skyrat/modules/event_vote/code/event_chaos_system.dm
Labels: Fix

#19039 [MODULAR] [MDB IGNORE] Dim Lighting Some More, Removes Egregious Lighting Varedits in Interlink, Dynamically Calculate Night Shift Light Brightness and Color
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  modular_skyrat/master_files/code/modules/power/lighting.dm
  modular_skyrat/master_files/code/modules/power/lighting/light.dm
  modular_skyrat/master_files/code/modules/power/lighting/light_mapping_helpers.dm
  modular_skyrat/modules/aesthetics/airlock/code/airlock.dm
  modular_skyrat/modules/aesthetics/lights/code/lighting.dm
  modular_skyrat/modules/mapping/code/lighting.dm
  tgstation.dme
Labels: Removal, Quality of Life

#19409 Update blue cat sprite
  modular_skyrat/master_files/icons/obj/plushes.dmi
  modular_skyrat/modules/customization/game/objects/items/plushes.dm
Labels: Code Improvement, Sprites

#19404 Fixes Tram Armoury (I hate skyrat mappers)
  _maps/skyrat/automapper/templates/tramstation/tramstation_armory.dmm
Labels: Fix

#19070 [MANUAL MIRROR] fix error in neighbor define [no gbp] (#73069)
  code/__DEFINES/turfs.dm
Labels: Upstream PR Merged, Fix, GBP: No Update, Manual Mirror

#18846 Undocumented Missing Mirror Parts of https://github.com/tgstation/tgstation/pull/59007
  code/datums/components/fantasy/prefixes.dm
Labels: Upstream PR Merged, Fix, Manual Mirror

#19454 [MANUAL MIRROR] Fixes unreachable check and improves code (#72399)
  code/modules/reagents/chemistry/reagents.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/cat2_medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/drink_reagents.dm
  code/modules/reagents/chemistry/reagents/drug_reagents.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/chemistry/reagents/pyrotechnic_reagents.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
Labels: Upstream PR Merged, Fix, Manual Mirror

#19440 fix plush simple attack verbs
  modular_skyrat/modules/customization/game/objects/items/plushes.dm
Labels: Grammar and Formatting

#19481 [MANUAL MIRROR] [NEW GHOST ANTAG] The Paradox Clone (#71141)
  code/__DEFINES/role_preferences.dm
  code/__HELPERS/duplicating.dm
  code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
  code/modules/antagonists/paradox_clone/paradox_clone.dm
  code/modules/jobs/job_types/antagonists/paradox_clone.dm
  code/modules/unit_tests/screenshots/screenshot_antag_icons_paradoxclone.png
  icons/mob/huds/antag_hud.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/antagonists/antagonists/paradoxclone.ts
Labels: Feature

#19009 Adds in a Improved Conveyor Sorter!
  modular_skyrat/modules/conveyor_sorter/code/conveyor_sorter.dm
  modular_skyrat/modules/conveyor_sorter/icons/conveyor_sorter.dmi
Labels: Feature, Fix

#19361 NRI "AKM" resprite
  modular_skyrat/modules/gunsgalore/icons/guns/gunsgalore_back.dmi
  modular_skyrat/modules/gunsgalore/icons/guns/gunsgalore_guns40x32.dmi
  modular_skyrat/modules/gunsgalore/icons/guns/gunsgalore_lefthand.dmi
  modular_skyrat/modules/gunsgalore/icons/guns/gunsgalore_righthand.dmi
Labels: Removal, Sprites

#18963 Teshari Sprites Pack #something
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/back.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/head.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/neck.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/suit.dmi
Labels: Sprites

#19280 Modular Hat Sorting: Zero Day
  modular_skyrat/master_files/code/modules/clothing/clothing_variation_overrides/suit.dm
  modular_skyrat/master_files/code/modules/clothing/head/_head.dm
  modular_skyrat/master_files/icons/mob/clothing/head.dmi
  modular_skyrat/master_files/icons/mob/clothing/head/bio_muzzled.dmi
  modular_skyrat/master_files/icons/mob/clothing/head/chaplain_muzzled.dmi
  modular_skyrat/master_files/icons/mob/clothing/head/spacehelm_muzzled.dmi
  modular_skyrat/master_files/icons/mob/clothing/head_muzzled.dmi
  modular_skyrat/master_files/icons/obj/clothing/hats.dmi
  modular_skyrat/modules/modular_ert/code/trauma_team/trauma_team_outfit.dm
  tgstation.dme
Labels: Removal, Sprites

#19208 The massive Meka resprite
  modular_skyrat/modules/altborgs/icons/tallborg/tallrobot_cargo.dmi
  modular_skyrat/modules/altborgs/icons/tallborg/tallrobot_eng.dmi
  modular_skyrat/modules/altborgs/icons/tallborg/tallrobot_jani.dmi
  modular_skyrat/modules/altborgs/icons/tallborg/tallrobot_med.dmi
  modular_skyrat/modules/altborgs/icons/tallborg/tallrobot_mine.dmi
  modular_skyrat/modules/altborgs/icons/tallborg/tallrobot_ninja.dmi
  modular_skyrat/modules/altborgs/icons/tallborg/tallrobot_pk.dmi
  modular_skyrat/modules/altborgs/icons/tallborg/tallrobot_serv.dmi
  modular_skyrat/modules/altborgs/icons/tallborg/tallrobot_syndi.dmi
Labels: Sprites

#19540 [Manual Mirror] Makes the Paramedic cap's blue use the same color as their uniform again.
  icons/mob/clothing/head/hats.dmi
  icons/obj/clothing/head/hats.dmi
Labels: Fix

#19539 [Manual Mirror] Adds checkgrep for improper or missing atom Initialize args (mapload)
  code/_onclick/hud/rendering/plane_master.dm
  code/game/objects/items/food/bread.dm
  code/modules/atmospherics/machinery/air_alarm/air_alarm_variants.dm
  code/modules/clothing/suits/bio.dm
  code/modules/clothing/suits/labcoat.dm
  code/modules/food_and_drinks/machinery/coffeemaker.dm
  code/modules/mob/living/basic/farm_animals/pig.dm
  code/modules/paperwork/filingcabinet.dm
  code/modules/paperwork/paperwork.dm
  tools/ci/check_grep.sh
Labels: Upstream PR Merged

#19417 [Modular] Fixes Blueshield and NTC skirts cropping badly on taurs
  modular_skyrat/master_files/code/modules/clothing/under/jobs/command.dm
Labels: Fix

#19442 [MODULAR] Fixes the bottom blinking lights on the emergency shutters
  modular_skyrat/modules/aesthetics/firedoor/code/firedoor.dm
  modular_skyrat/modules/aesthetics/firedoor/icons/firedoor.dmi
  modular_skyrat/modules/aesthetics/firedoor/icons/firedoor_glass.dmi
Labels: Fix

#19234 Moves the void raptor pizza place from a weird asteroid in space to maintenance where the portal used to be
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Feature, Removal

#19570 [MISSED MIRROR] Disease Outbreak retries on event setup failure
  code/__HELPERS/logging/virus.dm
  code/datums/diseases/advance/advance.dm
  code/modules/events/disease_outbreak.dm
Labels: Balance, Fix, Administration

#19583 Removes every instance of openspace used on void raptor, since single zlevel maps should not have such a thing.
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Fix, Removal

#19246 Removed duplicate config line
  config/skyrat/skyrat_config.txt
Labels: Fix, Config Update, Stale

#19451 [MANUAL MIRROR] Return to Tiny: Reworks heights to use filters, allows spacemen to have varying heights (#72344)
  code/__DEFINES/mobs.dm
  code/datums/datum.dm
  code/datums/mutations/body.dm
  code/game/atoms.dm
  code/modules/mining/lavaland/tendril_loot.dm
  code/modules/mob/living/carbon/carbon_update_icons.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/living/carbon/human/human_update_icons.dm
  code/modules/mob/living/carbon/human/init_signals.dm
  code/modules/mod/modules/modules_supply.dm
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_dwarf.png
  icons/effects/cut.dmi
  modular_skyrat/modules/xenos_skyrat_redo/code/xeno_types/rouny.dm
Labels: Upstream PR Merged, Feature, GBP: No Update, Manual Mirror
