Repository Skyrat-SS13/Skyrat-tg, pull requests merged in 2023-11, with the labels that each got.

#24731 Blacklists some organs from being bioscrambled
  code/__DEFINES/research/anomalies.dm
Labels: Fix

#24653 buffs my reward item
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
  modular_skyrat/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
Labels: Needs Head Input

#24134 [MODULAR]Combat Cybernetic Implants listing change
  modular_skyrat/modules/implants/code/medical_designs.dm
  modular_skyrat/modules/implants/code/medical_nodes.dm
Labels: Feature, Removal

#24040 [Non-Modular] [TM First!] Adds Special Rules and Metaprotections to Antagonist Objective Panels
  tgui/packages/tgui/interfaces/AntagInfoAssaultops.tsx
  tgui/packages/tgui/interfaces/AntagInfoBlob.tsx
  tgui/packages/tgui/interfaces/AntagInfoChangeling.tsx
  tgui/packages/tgui/interfaces/AntagInfoClock.tsx
  tgui/packages/tgui/interfaces/AntagInfoGeneric.tsx
  tgui/packages/tgui/interfaces/AntagInfoHeretic.tsx
  tgui/packages/tgui/interfaces/AntagInfoMalf.tsx
  tgui/packages/tgui/interfaces/AntagInfoMorph.tsx
  tgui/packages/tgui/interfaces/AntagInfoNightmare.tsx
  tgui/packages/tgui/interfaces/AntagInfoNinja.tsx
  tgui/packages/tgui/interfaces/AntagInfoRules.tsx
  tgui/packages/tgui/interfaces/AntagInfoTraitor.tsx
  tgui/packages/tgui/interfaces/AntagInfoWizard.tsx
Labels: Feature

#24836 [DONATOR] [NO GBP] Publicizes MaSvedish's Holocigar
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
  modular_skyrat/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
Labels: Feature, GBP: No Update

#24842 [MODULAR] Brings emissive barsigns to skyrat, reorganizes our modular files
  code/__DEFINES/~skyrat_defines/barsigns.dm
  code/game/machinery/barsigns.dm
  code/modules/unit_tests/barsigns.dm
  modular_skyrat/modules/barsigns/code/barsigns.dm
  modular_skyrat/modules/barsigns/icons/barsigns.dmi
  modular_skyrat/modules/barsigns/icons/barsigns96x96.dmi
  tgstation.dme
Labels: Fix, Sprites, Refactor, Needs Headcoder Review

#24433 NRI Police Outfit Redesign
  _maps/shuttles/skyrat/pirate_nri_raider.dmm
  code/__DEFINES/~skyrat_defines/colors.dm
  modular_skyrat/master_files/icons/mob/huds/hud.dmi
  modular_skyrat/master_files/icons/mob/mod.dmi
  modular_skyrat/master_files/icons/obj/card.dmi
  modular_skyrat/modules/company_imports/code/armament_datums/nri_military_surplus.dm
  modular_skyrat/modules/encounters/code/nri_raiders.dm
  modular_skyrat/modules/loadouts/loadout_items/under/loadout_datum_under.dm
  modular_skyrat/modules/novaya_ert/code/police_outfit.dm
  modular_skyrat/modules/novaya_ert/icons/armor.dmi
  modular_skyrat/modules/novaya_ert/icons/mask.dmi
  modular_skyrat/modules/novaya_ert/icons/mod.dmi
  modular_skyrat/modules/novaya_ert/icons/wornarmor.dmi
  modular_skyrat/modules/novaya_ert/icons/wornmask.dmi
  modular_skyrat/modules/novaya_ert/icons/wornmask_digi.dmi
  modular_skyrat/modules/novaya_ert/icons/wornmod.dmi
  modular_skyrat/modules/novaya_ert/readme.md
  tgstation.dme
Labels: Sprites, Map Modification, Needs Headcoder Review

#24527 NTC Skild/Takbok choice
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/trappiste_fabriek/gunsets.dm
  modular_skyrat/modules/nanotrasen_rep/code/nanotrasen_consultant.dm
Labels: Feature

#24578 Finally puts our stations within compliance of the 1855 passenger act, by introducing a new quirk that gives you ration tickets to get your legally required weekly rations
  modular_skyrat/modules/paycheck_rations/code/quirk.dm
  modular_skyrat/modules/paycheck_rations/code/rationpacks.dm
  modular_skyrat/modules/paycheck_rations/code/reagents.dm
  modular_skyrat/modules/paycheck_rations/code/ticket_book.dm
  modular_skyrat/modules/paycheck_rations/code/tickets.dm
  modular_skyrat/modules/paycheck_rations/icons/food_containers.dmi
  modular_skyrat/modules/paycheck_rations/icons/tickets.dmi
  tgstation.dme
Labels: Sprites

#24624 White IPC Screen
  modular_skyrat/master_files/icons/mob/sprite_accessory/ipc_screens.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/ipc.dm
Labels: Sprites, Good First PR

#24854 Fixes zippo sound effect applying to non-zippo lighters
  code/game/objects/items/cigs_lighters.dm
Labels: Fix, Needs Headcoder Review

#24874 [MODULAR] Big mortar can no longer grind holograms
  modular_skyrat/modules/primitive_cooking_additions/code/big_mortar.dm
Labels: Fix, Needs Headcoder Review

#24887 [MODULAR] Hearthkin ghost role now spawns with quirks
  modular_skyrat/modules/primitive_catgirls/code/spawner.dm
Labels: Fix, Needs Headcoder Review

#24949 [MODULAR] Adds an unnerfed double esword for bitrunning
  modular_skyrat/master_files/code/modules/bitrunning/orders/disks.dm
  tgstation.dme
Labels: Fix, Needs Headcoder Review

#24884 [MODULAR] Fixes a bug whereby loadout plushes with a custom desc could revert to the default desc
  modular_skyrat/master_files/code/game/atoms.dm
  modular_skyrat/modules/customization/game/objects/items/plushes.dm
  modular_skyrat/modules/loadouts/loadout_items/_loadout_datum.dm
Labels: Fix, Needs Headcoder Review

#24913 [MODULAR] Anesthetic mask will give an error message when placed via mapping
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_syndicate_base1_skyrat.dmm
  _maps/shuttles/skyrat/emergency_skyrat.dmm
  _maps/shuttles/skyrat/whiteship_blueshift.dmm
  modular_skyrat/modules/medical/code/anesthetic_machine.dm
Labels: Fix, Code Improvement, Map Modification, Needs Headcoder Review

#24597 laser carbines for everyone* - disabler/laser carbines now for sale by microstar
  modular_skyrat/master_files/code/modules/cargo/packs/security.dm
  modular_skyrat/modules/company_imports/code/armament_datums/microstar_energy.dm
  modular_skyrat/modules/gunsgalore/code/guns/energy.dm
Labels: Balance, Needs Headcoder Review

#24264 Disables pipe gas visuals for now
  code/modules/atmospherics/machinery/datum_pipeline.dm
  modular_skyrat/master_files/code/modules/atmospherics/machinery/pipes/pipes.dm
  tgstation.dme
Labels: Removal, Test Merged

#25049 [MISSED MIRROR] Title Screen Inpect Text (#70831)
  code/__DEFINES/text.dm
  strings/splashes.json
Labels: Code Improvement

#25085 Digi uniform for Red Sec Officer and HoS
  modular_skyrat/master_files/icons/mob/clothing/under/security_digi.dmi
Labels: Sprites

#25090 Primitive stuffs
  modular_skyrat/master_files/code/game/objects/items/stacks/sheets/sheet_types.dm
  modular_skyrat/modules/primitive_cooking_additions/code/stone_griddle.dm
  modular_skyrat/modules/primitive_cooking_additions/code/stone_oven.dm
  modular_skyrat/modules/primitive_cooking_additions/code/stone_stove.dm
  modular_skyrat/modules/primitive_cooking_additions/icons/stone_kitchen_machines.dmi
  modular_skyrat/modules/primitive_structures/code/storage_structures.dm
  modular_skyrat/modules/primitive_structures/icons/storage.dmi
  modular_skyrat/modules/stone/code/stone.dm
  tgstation.dme
Labels: Feature, Sprites

#25108 [Semi-Modular] Adds neck-item support for Muzzled variants, gives one to the new Face Scarf (and other small fixes)
  code/game/objects/items.dm
  code/game/objects/items/cigs_lighters.dm
  code/modules/mob/living/carbon/human/human_update_icons.dm
  modular_skyrat/master_files/code/modules/clothing/base_clothes.dm
  modular_skyrat/modules/GAGS/greyscale_configs.dm
  modular_skyrat/modules/GAGS/icons/neck/face_scarf/face_scarf.dmi
  modular_skyrat/modules/GAGS/icons/neck/face_scarf/face_scarf_worn.dmi
  modular_skyrat/modules/GAGS/icons/neck/face_scarf/face_scarf_worn_muzzled.dmi
  modular_skyrat/modules/customization/modules/clothing/neck/_neck.dm
Labels: Fix, Sprites

#24903 Hemophagus, The Hemophage Revamp, DLC Chapter V: This PR Sucks (Blood)
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/hemophage/corrupted_tongue.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/hemophage/hemophage_organs.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/hemophage/hemophage_status_effects.dm
Labels: Balance, Test Merged

#24640 Gives blueshields a new shoulder-bruising "submachinegun" that fires .585
  modular_skyrat/modules/blueshield/code/closet.dm
  modular_skyrat/modules/company_imports/code/armament_datums/sol_defense.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/xhihao_light_arms/gunsets.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/xhihao_light_arms/rifle.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/xhihao_light_arms/submachinegun.dm
  modular_skyrat/modules/modular_weapons/icons/mob/company_and_or_faction_based/xhihao_light_arms/guns_lefthand.dmi
  modular_skyrat/modules/modular_weapons/icons/mob/company_and_or_faction_based/xhihao_light_arms/guns_righthand.dmi
  modular_skyrat/modules/modular_weapons/icons/obj/company_and_or_faction_based/xhihao_light_arms/guns32x.dmi
  modular_skyrat/modules/modular_weapons/icons/obj/gunsets.dmi
  modular_skyrat/modules/modular_weapons/sounds/smg_heavy.ogg
  tgstation.dme
Labels: Feature, Sprites, Test Merged

#25120 [MODULAR] Fixes examine more on living mobs
  code/modules/mob/living/carbon/examine.dm
  code/modules/mob/living/carbon/human/examine.dm
  modular_skyrat/modules/medical/code/carbon_examine.dm
Labels: Fix

#25119 Guns now tell people on examine the toggle safety keybind
  modular_skyrat/modules/gun_safety/code/safety_component.dm
Labels: Quality of Life

#25150 Primitive storage overlays.
  modular_skyrat/modules/primitive_structures/code/storage_structures.dm
  modular_skyrat/modules/primitive_structures/icons/storage.dmi
Labels: Sprites

#25186 [MISSED MIRROR] Bumps rust-g to `3.0.0` (#76663)
  .github/workflows/autowiki.yml
  .github/workflows/run_integration_tests.yml
  code/__DEFINES/rust_g.dm
  code/datums/helper_datums/getrev.dm
  dependencies.sh
  tools/tgs_scripts/PreCompile.sh
Labels: Code Improvement

#25229 [MODULAR] Fixes synth internal computer pda interaction
  modular_skyrat/modules/synths/code/bodyparts/internal_computer/internal_computer.dm
Labels: Fix

#25239 [MISSED MIRROR] Fixes hallucination destroy runtime (#70512)
  code/modules/hallucination/_hallucination.dm
Labels: Fix

#25210 [MODULAR] Fixes appendix related runtime
  modular_skyrat/master_files/code/modules/surgery/organs/internal/appendix/_appendix.dm
Labels: Fix

#24771 Deforest Medical Cargo Company Update | Not so free healthcare | Medbay watches in horror as assistants overdose themselves on dollar store medpens
  code/__DEFINES/~skyrat_defines/opposing_force_defines.dm
  code/__DEFINES/~skyrat_defines/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/_globalvars/traits/admin_tooling.dm
  modular_skyrat/modules/company_imports/code/armament_datums/deforest_medical.dm
  modular_skyrat/modules/deforest_medical_items/code/cargo_packs.dm
  modular_skyrat/modules/deforest_medical_items/code/chemicals/demoneye.dm
  modular_skyrat/modules/deforest_medical_items/code/chemicals/twitch.dm
  modular_skyrat/modules/deforest_medical_items/code/healing_stack_items.dm
  modular_skyrat/modules/deforest_medical_items/code/illegal_injectors.dm
  modular_skyrat/modules/deforest_medical_items/code/injectors.dm
  modular_skyrat/modules/deforest_medical_items/code/storage_items.dm
  modular_skyrat/modules/deforest_medical_items/code/vulnerable_status_effect.dm
  modular_skyrat/modules/deforest_medical_items/icons/inhands/cases_lefthand.dmi
  modular_skyrat/modules/deforest_medical_items/icons/inhands/cases_righthand.dmi
  modular_skyrat/modules/deforest_medical_items/icons/injectors.dmi
  modular_skyrat/modules/deforest_medical_items/icons/stack_items.dmi
  modular_skyrat/modules/deforest_medical_items/icons/storage.dmi
  modular_skyrat/modules/deforest_medical_items/icons/worn/worn.dmi
  modular_skyrat/modules/deforest_medical_items/icons/worn/worn_teshari.dmi
  modular_skyrat/modules/opposing_force/code/equipment/gadgets.dm
  modular_skyrat/modules/opposing_force/code/equipment/medical.dm
  tgstation.dme
Labels: Feature, Sprites

#24751 Ancient Milsim Bitrunning Domain
  _maps/skyrat/safehouses/ancient_milsim.dmm
  _maps/skyrat/virtual_domains/ancient_milsim.dmm
  modular_skyrat/master_files/icons/obj/clothing/suits/armor.dmi
  modular_skyrat/modules/bitrunning/code/safehouse_skyrat.dm
  modular_skyrat/modules/bitrunning/code/virtual_domains/ancient_milsim/choice_beacon.dm
  modular_skyrat/modules/bitrunning/code/virtual_domains/ancient_milsim/disk.dm
  modular_skyrat/modules/bitrunning/code/virtual_domains/ancient_milsim/fluff.dm
  modular_skyrat/modules/bitrunning/code/virtual_domains/ancient_milsim/fog_of_war.dm
  modular_skyrat/modules/bitrunning/code/virtual_domains/ancient_milsim/ghost_spawner.dm
  modular_skyrat/modules/bitrunning/code/virtual_domains/ancient_milsim/iv_drip.dm
  modular_skyrat/modules/bitrunning/code/virtual_domains/ancient_milsim/mine.dm
  modular_skyrat/modules/bitrunning/code/virtual_domains/ancient_milsim/mobs.dm
  modular_skyrat/modules/bitrunning/code/virtual_domains/ancient_milsim/mod.dm
  modular_skyrat/modules/bitrunning/code/virtual_domains/ancient_milsim/outfit.dm
  modular_skyrat/modules/bitrunning/code/virtual_domains/ancient_milsim/turf.dm
  modular_skyrat/modules/bitrunning/code/virtual_domains/ancient_milsim/virtual_domain.dm
  modular_skyrat/modules/bitrunning/icons/health_station.dmi
  tgstation.dme
Labels: Feature, Code Improvement, Sprites, Test Merged, Map Modification

#25061 New Derelict Station (Babylon Station 13)
  _maps/RandomRuins/SpaceRuins/skyrat/drones_derelict.dmm
  config/spaceruinblacklist.txt
  modular_skyrat/modules/drone_adjustments/drone.dm
  modular_skyrat/modules/drones_derelict/code/areas.dm
  modular_skyrat/modules/drones_derelict/code/space.dm
  modular_skyrat/modules/drones_derelict/icons/areas.dmi
  tgstation.dme
Labels: Feature, Sprites, Test Merged, Map Modification

#25142 Bring Your Pet to Work Day (Veteran Quirk)
  code/__DEFINES/~skyrat_defines/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/_globalvars/traits/admin_tooling.dm
  modular_skyrat/modules/pet_owner/pet_owner.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/skyrat/pet_owner.tsx
Labels: Feature, Test Merged

#25196 Donator Item, Smol42
  modular_skyrat/master_files/icons/donator/mob/clothing/neck.dmi
  modular_skyrat/master_files/icons/donator/obj/clothing/cloaks.dmi
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
  modular_skyrat/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
Labels: Feature, Sprites
