Repository Skyrat-SS13/Skyrat-tg, pull requests merged in 2023-12, with the labels that each got.

#25385 woe, REM/seconds_per_tick upon thee - TWitch overdoses now respect REM
  modular_skyrat/modules/deforest_medical_items/code/chemicals/twitch.dm
Labels: Fix

#24947 Armor tech of the current* year | Protect yourself from all them "guncargos" the old people keep warning you about
  code/__DEFINES/~skyrat_defines/armor_defines.dm
  code/__DEFINES/~skyrat_defines/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/_globalvars/traits/admin_tooling.dm
  modular_skyrat/modules/company_imports/code/armament_datums/sol_defense.dm
  modular_skyrat/modules/specialist_armor/code/cargo_packs.dm
  modular_skyrat/modules/specialist_armor/code/clothing_bullet_damage_component.dm
  modular_skyrat/modules/specialist_armor/code/hardened.dm
  modular_skyrat/modules/specialist_armor/code/peacekeeper.dm
  modular_skyrat/modules/specialist_armor/code/sacrificial.dm
  modular_skyrat/modules/specialist_armor/icons/armor.dmi
  modular_skyrat/modules/specialist_armor/icons/armor_worn.dmi
  tgstation.dme
Labels: Feature, Sprites, Test Merged

#25337 Adding Hawaiian digi under + Fix digi BloodRed pajamas
  modular_skyrat/master_files/code/modules/clothing/under/syndicate.dm
  modular_skyrat/master_files/icons/mob/clothing/uniform_digi.dmi
  modular_skyrat/modules/customization/modules/clothing/under/misc.dm
Labels: Feature, Fix, Sprites, Needs Headcoder Review

#25198 Lopland holobadges in the loadout & security vendor! Also fixes them for detectives!
  modular_skyrat/master_files/icons/mob/clothing/accessories.dmi
  modular_skyrat/master_files/icons/obj/clothing/accessories.dmi
  modular_skyrat/modules/customization/modules/clothing/under/accessories.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_neck.dm
  modular_skyrat/modules/sec_haul/code/misc/vending.dm
Labels: Feature, Fix, Sprites, Needs Headcoder Review

#24806 [modular] Adds hair ties
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_heads.dm
  modular_skyrat/modules/modular_vending/code/games.dm
  modular_skyrat/modules/opposing_force/code/equipment/gadgets.dm
  modular_skyrat/modules/salon/code/barbervend.dm
  modular_skyrat/modules/salon/code/hair_tie.dm
  modular_skyrat/modules/salon/icons/items.dmi
  tgstation.dme
Labels: Feature, Sprites, Test Merged

#25541 Fixes random species features not being applied when spawning randomized mobs
  code/__HELPERS/global_lists.dm
  code/_globalvars/lists/flavor_misc.dm
  code/datums/dna.dm
  code/modules/surgery/organs/external/tails.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/monkey.dm
Labels: Fix

#25419 Void Raptor / Blueshift perma tweaks and MOD module additions
  _maps/map_files/NSVBlueshift/Blueshift.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Stale, Map Modification

#25291 Adds Short tail override and mutant color alt
  modular_skyrat/master_files/icons/mob/sprite_accessory/tails.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/tails.dm
Labels: Code Improvement, Sprites

#25570 Fixes loadout menu crashes
  modular_skyrat/modules/loadouts/loadout_ui/loadout_manager.dm
  tgui/packages/tgui/interfaces/LoadoutManager.tsx
Labels: Fix

#25465 Makes the Snout Clown Mask Consistent.
  modular_skyrat/master_files/icons/mob/clothing/mask_muzzled.dmi
Labels: Sprites, Needs Headcoder Review

#25532 Laser pointers. Now more accessible!
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_toys.dm
  modular_skyrat/modules/modular_vending/code/games.dm
Labels: Quality of Life

#25506 LOOC'ing while in crit..? Or while unconscious..? You got it!
  modular_skyrat/modules/verbs/code/looc.dm
Labels: Quality of Life

#25328 Plant Tank
  modular_skyrat/modules/ashwalkers/code/buildings/ash_farming.dm
  modular_skyrat/modules/ashwalkers/code/buildings/planttank.dm
  modular_skyrat/modules/ashwalkers/icons/structures.dmi
  tgstation.dme
Labels: Feature, Fix, Sprites

#25687 Revert "Moth Milk"
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_chemistry/reagents/breast_milk.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_organs/breasts.dm
Labels: Revert

#25692 Opfor bluescreen fix
  tgui/packages/tgui/interfaces/OpposingForcePanel.jsx
Labels: Fix

#25723 Inhand Sprites for Towels
  modular_skyrat/master_files/code/modules/clothing/towels.dm
  modular_skyrat/master_files/icons/mob/inhands/clothing/towel_lefthand.dmi
  modular_skyrat/master_files/icons/mob/inhands/clothing/towel_righthand.dmi
Labels: Sprites

#25729 Revert "[TM-ONLY] Early mirror of fixing TGUI images not allowing clicks"
  tgui/packages/tgui/components/Image.tsx
Labels: Revert

#25746 [MODULAR] Fixes loadout item duplicate items bug
  modular_skyrat/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_glasses.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_suit.dm
  modular_skyrat/modules/loadouts/loadout_items/under/loadout_datum_under.dm
  tgui/packages/tgui/interfaces/LoadoutManager.tsx
Labels: Fix

#25747 Creates a unit test for loadout item duplicates
  code/modules/unit_tests/_unit_tests.dm
  code/modules/unit_tests/~skyrat/loadout_dupes.dm
  modular_skyrat/modules/loadouts/loadout_items/under/loadout_datum_under.dm
Labels: Unit Tests

#25754 [NON-MODULAR] Fixes unspillable organs spilling on disembowel
  code/modules/surgery/bodyparts/dismemberment.dm
Labels: Fix

#25545 Finally lets you rapidly construct with the rapid construction fabricator | Billions must build
  modular_skyrat/modules/colony_fabricator/code/colony_fabricator.dm
  modular_skyrat/modules/colony_fabricator/code/construction/doors.dm
  modular_skyrat/modules/colony_fabricator/code/construction/turfs.dm
  modular_skyrat/modules/colony_fabricator/code/construction/windows.dm
  modular_skyrat/modules/colony_fabricator/code/design_datums/construction.dm
  modular_skyrat/modules/colony_fabricator/code/design_datums/fabricator_flag_additions/construction.dm
  modular_skyrat/modules/colony_fabricator/code/design_datums/fabricator_flag_additions/tools.dm
  modular_skyrat/modules/colony_fabricator/icons/doors/airlock.dmi
  modular_skyrat/modules/colony_fabricator/icons/doors/overlays.dmi
  modular_skyrat/modules/colony_fabricator/icons/doors/packed.dmi
  modular_skyrat/modules/colony_fabricator/icons/doors/shutter.dmi
  modular_skyrat/modules/colony_fabricator/icons/prefab_wall.dmi
  modular_skyrat/modules/colony_fabricator/icons/prefab_window.dmi
  modular_skyrat/modules/colony_fabricator/icons/tiles.dmi
  modular_skyrat/modules/colony_fabricator/icons/tiles_item.dmi
  tgstation.dme
Labels: Feature, Sprites, Needs Headcoder Review

#25776 Added three donator items. Touched up some existing ones.
  modular_skyrat/master_files/icons/donator/mob/clothing/uniform.dmi
  modular_skyrat/master_files/icons/donator/obj/clothing/uniform.dmi
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
  modular_skyrat/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
Labels: Sprites

#25802 Releases the character headshot
  modular_skyrat/master_files/code/modules/client/preferences/headshot.dm
Labels: Config Update

#25801 changes ash plates to be under
  modular_skyrat/modules/ashwalkers/code/clothing/ash_armour.dm
Labels: Balance

#25423 finally: bluesec MODsuits
  modular_skyrat/master_files/code/modules/mod/mod_theme.dm
  modular_skyrat/master_files/code/modules/mod/modules/modules_security.dm
  modular_skyrat/master_files/icons/mob/clothing/modsuit/mod_clothing.dmi
  modular_skyrat/master_files/icons/mob/clothing/modsuit/mod_modules.dmi
  modular_skyrat/master_files/icons/mob/mod.dmi
  modular_skyrat/master_files/icons/obj/clothing/modsuit/mod_clothing.dmi
  modular_skyrat/master_files/icons/obj/clothing/modsuit/mod_modules.dmi
  tgstation.dme
Labels: Sprites

#25829 PDA update (Messenger works while dead, Microwave works, etc). (#80069) [REMIRROR]
  code/controllers/subsystem/modular_computers.dm
  code/datums/components/uplink.dm
  code/game/machinery/camera/camera.dm
  code/game/objects/items/cards_ids.dm
  code/modules/admin/verbs/debug.dm
  code/modules/food_and_drinks/machinery/microwave.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/modular_computers/computers/item/computer.dm
  code/modules/modular_computers/computers/item/computer_power.dm
  code/modules/modular_computers/computers/item/computer_ui.dm
  code/modules/modular_computers/computers/item/processor.dm
  code/modules/modular_computers/file_system/computer_file.dm
  code/modules/modular_computers/file_system/program.dm
  code/modules/modular_computers/file_system/programs/airestorer.dm
  code/modules/modular_computers/file_system/programs/alarm.dm
  code/modules/modular_computers/file_system/programs/antagonist/contractor_program.dm
  code/modules/modular_computers/file_system/programs/antagonist/dos.dm
  code/modules/modular_computers/file_system/programs/antagonist/revelation.dm
  code/modules/modular_computers/file_system/programs/arcade.dm
  code/modules/modular_computers/file_system/programs/borg_monitor.dm
  code/modules/modular_computers/file_system/programs/bounty_board.dm
  code/modules/modular_computers/file_system/programs/budgetordering.dm
  code/modules/modular_computers/file_system/programs/card.dm
  code/modules/modular_computers/file_system/programs/chatroom/ntnrc_client.dm
  code/modules/modular_computers/file_system/programs/crewmanifest.dm
  code/modules/modular_computers/file_system/programs/file_browser.dm
  code/modules/modular_computers/file_system/programs/frontier.dm
  code/modules/modular_computers/file_system/programs/jobmanagement.dm
  code/modules/modular_computers/file_system/programs/mafia_ntos.dm
  code/modules/modular_computers/file_system/programs/maintenance/_maintenance_program.dm
  code/modules/modular_computers/file_system/programs/maintenance/camera.dm
  code/modules/modular_computers/file_system/programs/maintenance/phys_scanner.dm
  code/modules/modular_computers/file_system/programs/messenger/messenger_program.dm
  code/modules/modular_computers/file_system/programs/newscasterapp.dm
  code/modules/modular_computers/file_system/programs/notepad.dm
  code/modules/modular_computers/file_system/programs/nt_pay.dm
  code/modules/modular_computers/file_system/programs/ntdownloader.dm
  code/modules/modular_computers/file_system/programs/portrait_printer.dm
  code/modules/modular_computers/file_system/programs/powermonitor.dm
  code/modules/modular_computers/file_system/programs/radar.dm
  code/modules/modular_computers/file_system/programs/records.dm
  code/modules/modular_computers/file_system/programs/robocontrol.dm
  code/modules/modular_computers/file_system/programs/robotact.dm
  code/modules/modular_computers/file_system/programs/secureye.dm
  code/modules/modular_computers/file_system/programs/signalcommander.dm
  code/modules/modular_computers/file_system/programs/skill_tracker.dm
  code/modules/modular_computers/file_system/programs/sm_monitor.dm
  code/modules/modular_computers/file_system/programs/statusdisplay.dm
  code/modules/modular_computers/file_system/programs/techweb.dm
  code/modules/modular_computers/file_system/programs/theme_selector.dm
  code/modules/modular_computers/file_system/programs/wirecarp.dm
  code/modules/power/cell.dm
  modular_skyrat/master_files/code/modules/modular_computers/file_system/programs/maintenance/camera.dm
  modular_skyrat/modules/lorecaster/code/archive_viewer.dm
  modular_skyrat/modules/modular_implants/code/nifsoft_catalog.dm
  tgui/packages/tgui/layouts/NtosWindow.tsx
Labels: Feature, Fix

#25639 Ghost Cafe Remodel
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  modular_skyrat/modules/ghostcafe/code/ghost_cafe_items.dm
  modular_skyrat/modules/ghostcafe/code/ghost_role_spawners.dm
  modular_skyrat/modules/ghostcafe/code/ghostcafeturf.dm
  modular_skyrat/modules/mapping/code/areas/centcom.dm
  tgstation.dme
Labels: Feature, Map Modification

#25469 Nerfs Blueshift a little
  _maps/map_files/NSVBlueshift/Blueshift.dmm
Labels: Map Modification

#25461 Void Raptor pharmacy tweaks
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Feature, Test Merged, Good First PR, Quality of Life, Map Modification

#25697 lets icewalkers be digitigrade
  modular_skyrat/modules/primitive_catgirls/code/species.dm
Labels: Feature

#25848 [PORT] Allows pet owners to name and describe their pet
  modular_skyrat/modules/pet_owner/pet_owner.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/skyrat/pet_owner.tsx
Labels: Feature, Port

#25853 cursed ashwalker necklace in loadout
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_neck.dm
  modular_skyrat/modules/modular_items/code/necklace.dm
Labels: Feature

#25851 icecats(?) can now respawn
  modular_skyrat/modules/primitive_catgirls/code/spawner.dm
Labels: Feature

#25856 add crusher to mining borg (must be in melee range)
  code/modules/mob/living/silicon/robot/robot_model.dm
Labels: Feature

#25046 "Frozen Moonlight" Interdyne
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_syndicate_base1_skyrat.dmm
  _maps/RandomRuins/LavaRuins/skyrat/lavaland_surface_syndicate_base1_skyrat.dmm
Labels: Feature, Map Modification

#24616 Add: Forked Cybernetic Tongue & Lizard Voicebox
  modular_skyrat/master_files/code/modules/research/designs/medical_designs.dm
  modular_skyrat/master_files/code/modules/research/techweb/all_nodes.dm
  modular_skyrat/modules/customization/modules/client/augment/organs.dm
  modular_skyrat/modules/modular_vending/code/wardrobes.dm
  modular_skyrat/modules/organs/code/tongue.dm
  modular_skyrat/modules/organs/icons/cyber_tongue.dmi
Labels: Feature, Sprites, Needs Headcoder Review

#25593 Adds a buzzed effect to the half shaved hairstyle
  modular_skyrat/master_files/icons/mob/sprite_accessory/hair.dmi
  modular_skyrat/master_files/icons/mob/sprite_accessory/more_hair.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/hair.dm
Labels: Sprites

#25857 Adds Epsilon alert level
  code/__DEFINES/~skyrat_defines/security_alerts.dm
  code/modules/admin/verbs/ert.dm
  config/skyrat/skyrat_config.txt
  modular_skyrat/modules/alerts/code/config.dm
  modular_skyrat/modules/alerts/code/security_level_datums.dm
  modular_skyrat/modules/alerts/sound/security_levels/epsilon.ogg
Labels: Feature

#25859 Revert announcement CSS back to TG
  tgui/packages/tgui-panel/styles/tgchat/chat-dark.scss
  tgui/packages/tgui-panel/styles/tgchat/chat-light.scss
Labels: Code Improvement, Revert

#25864 bokken block effect (nova port)
  modular_skyrat/modules/reagent_forging/code/forge_weapons.dm
Labels: Fix

#25865 icewalker seed additions (nova port)
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_icewalker_lower.dmm
Labels: Feature, Map Modification

#25868 requested modular computer fix
  code/modules/modular_computers/computers/item/computer_ui.dm
Labels: Fix

#25902 Fix BYOND membership status available to non-members
  code/modules/client/preferences.dm
  modular_skyrat/master_files/code/modules/mob/login.dm
  modular_skyrat/modules/player_ranks/code/preferences.dm
  modular_skyrat/modules/player_ranks/code/subsystem/player_ranks.dm
  tgstation.dme
Labels: Fix

#25913 [MODULAR] Fixes NIF Panel setttings menu not working
  tgui/packages/tgui/interfaces/NifPanel.jsx
Labels: Fix

#25860 Fix: Robotic Factory Cooldowns
  modular_skyrat/modules/SiliconQoL/code/countdown.dm
  modular_skyrat/modules/SiliconQoL/code/robotic_factory.dm
  tgstation.dme
Labels: Balance, Fix

#25927 Colony lathe fixes, changes, and some small features | WIND POWER IS THE FUTURE [ PORT FROM NOVA]
  modular_skyrat/modules/colony_fabricator/code/appliances/wind_turbine.dm
  modular_skyrat/modules/colony_fabricator/code/construction/doors.dm
  modular_skyrat/modules/colony_fabricator/code/construction/manual_door.dm
  modular_skyrat/modules/colony_fabricator/code/construction/turfs.dm
  modular_skyrat/modules/colony_fabricator/code/construction/windows.dm
  modular_skyrat/modules/colony_fabricator/code/design_datums/construction.dm
  modular_skyrat/modules/colony_fabricator/code/design_datums/fabricator_flag_additions/construction.dm
  modular_skyrat/modules/colony_fabricator/code/design_datums/fabricator_flag_additions/machine_boards.dm
  modular_skyrat/modules/colony_fabricator/code/design_datums/flatpack_machines.dm
  modular_skyrat/modules/colony_fabricator/code/looping_sounds.dm
  modular_skyrat/modules/colony_fabricator/code/machines/ore_silo.dm
  modular_skyrat/modules/colony_fabricator/icons/doors/airlock_manual.dmi
  modular_skyrat/modules/colony_fabricator/icons/doors/packed.dmi
  modular_skyrat/modules/colony_fabricator/icons/ore_silo.dmi
  modular_skyrat/modules/colony_fabricator/icons/wind_turbine.dmi
  modular_skyrat/modules/colony_fabricator/sound/manual_door/manual_door_close.wav
  modular_skyrat/modules/colony_fabricator/sound/manual_door/manual_door_open.wav
  tgstation.dme
Labels: Sprites

#25926 Port of several PRs from NOVA
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_vox_primalis.png
  modular_skyrat/master_files/code/datums/traits/good.dm
  modular_skyrat/master_files/icons/mob/clothing/species/vox/belt.dmi
  modular_skyrat/modules/GAGS/greyscale_configs.dm
  modular_skyrat/modules/GAGS/icons/jumpsuit_better_vox.dmi
  modular_skyrat/modules/GAGS/icons/mask/masquerade_mask.dmi
  modular_skyrat/modules/GAGS/icons/mask/masquerade_mask_worn.dmi
  modular_skyrat/modules/GAGS/icons/mask/masquerade_mask_worn_better_vox.dmi
  modular_skyrat/modules/GAGS/icons/mask/masquerade_mask_worn_snouted.dmi
  modular_skyrat/modules/GAGS/icons/mask/masquerade_mask_worn_teshari.dmi
  modular_skyrat/modules/GAGS/icons/mask/masquerade_mask_worn_vox.dmi
  modular_skyrat/modules/GAGS/json_configs/masquerade_mask/masquerade_mask.json
  modular_skyrat/modules/better_vox/icons/clothing/back.dmi
  modular_skyrat/modules/better_vox/icons/clothing/eyes.dmi
  modular_skyrat/modules/better_vox/icons/clothing/hands.dmi
  modular_skyrat/modules/better_vox/icons/clothing/head.dmi
  modular_skyrat/modules/better_vox/icons/clothing/helmet.dmi
  modular_skyrat/modules/better_vox/icons/clothing/mask.dmi
  modular_skyrat/modules/better_vox/icons/clothing/mod.dmi
  modular_skyrat/modules/better_vox/icons/clothing/neck.dmi
  modular_skyrat/modules/better_vox/icons/clothing/suit.dmi
  modular_skyrat/modules/better_vox/icons/clothing/uniform.dmi
  modular_skyrat/modules/clock_cult/code/items/clockwork_slab.dm
  modular_skyrat/modules/company_imports/code/armament_datums/vitezstvi_ammo.dm
  modular_skyrat/modules/customization/modules/clothing/masks/masquerade_mask.dm
  modular_skyrat/modules/emotes/code/emotes.dm
  modular_skyrat/modules/emotes/code/scream_datums.dm
  modular_skyrat/modules/emotes/sound/voice/scream_cat.ogg
  modular_skyrat/modules/food_replicator/code/clothing.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_masks.dm
  modular_skyrat/modules/manufacturer_examine/code/gun_company_additions.dm
  modular_skyrat/modules/modular_vending/code/autodrobe.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/grenade_launcher.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/rifle.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/shotgun.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/submachinegun.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/szot_dynamica/pistol.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/szot_dynamica/rifle.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/szot_dynamica/submachinegun.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/trappiste_fabriek/pistol.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/trappiste_fabriek/revolver.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/xhihao_light_arms/rifle.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/xhihao_light_arms/submachinegun.dm
  modular_skyrat/modules/novaya_ert/code/police_outfit.dm
  modular_skyrat/modules/shotgunrebalance/code/ammobox.dm
  modular_skyrat/modules/shotgunrebalance/code/shotgun.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/ClockworkSlab.jsx
  tgui/packages/tgui/interfaces/NifPanel.jsx
Labels: Feature, Fix, Code Improvement, Sprites, Quality of Life

#25900 [DNM] port of kilostation back from Bubber
  _maps/_basemap.dm
  _maps/kilostation.json
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/skyrat/automapper/automapper_config.toml
  _maps/skyrat/automapper/templates/kilostation/kilostation_armory.dmm
  _maps/skyrat/automapper/templates/kilostation/kilostation_arrivals.dmm
  _maps/skyrat/automapper/templates/kilostation/kilostation_cryo.dmm
  _maps/skyrat/automapper/templates/kilostation/kilostation_ert_bay.dmm
  _maps/skyrat/automapper/templates/kilostation/kilostation_supermatter.dmm
  config/maps.txt
  modular_skyrat/modules/automapper/code/area_spawn_entries.dm
Labels: Feature, DO NOT MERGE, Map Modification
