Repository Skyrat-SS13/Skyrat-tg, pull requests merged in 2023-06, with the labels that each got.

#20576 [Like 99% Modular] Soulcatchers
  code/__DEFINES/~skyrat_defines/signals.dm
  code/__HELPERS/mobs.dm
  code/game/objects/items/storage/belt.dm
  code/modules/mob/living/emote.dm
  code/modules/research/techweb/all_nodes.dm
  modular_skyrat/master_files/code/modules/clothing/suits/labcoat.dm
  modular_skyrat/master_files/icons/mob/actions/actions_nif.dmi
  modular_skyrat/modules/modular_implants/code/nif_research.dm
  modular_skyrat/modules/modular_implants/code/nifs.dm
  modular_skyrat/modules/modular_implants/code/nifsoft_catalog.dm
  modular_skyrat/modules/modular_implants/code/nifsofts/soul_poem.dm
  modular_skyrat/modules/modular_implants/code/nifsofts/soulcatcher.dm
  modular_skyrat/modules/modular_implants/code/soulcatcher/handheld_soulcatcher.dm
  modular_skyrat/modules/modular_implants/code/soulcatcher/soulcatcher_body_component.dm
  modular_skyrat/modules/modular_implants/code/soulcatcher/soulcatcher_component.dm
  modular_skyrat/modules/modular_implants/code/soulcatcher/soulcatcher_mob.dm
  modular_skyrat/modules/modular_implants/code/soulcatcher/soulcatcher_tgui.dm
  modular_skyrat/modules/modular_implants/icons/chat.dmi
  modular_skyrat/modules/modular_implants/icons/obj/devices.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/NifPanel.js
  tgui/packages/tgui/interfaces/Soulcatcher.js
Labels: Feature, Host Request

#21551 Pride Pins Resprite - Double Modular
  code/modules/clothing/under/accessories.dm
  modular_skyrat/master_files/icons/mob/clothing/accessories.dmi
  modular_skyrat/master_files/icons/obj/clothing/accessories.dmi
  modular_skyrat/modules/customization/modules/clothing/under/accessories.dm
Labels: Sprites

#21578 Makes the wooden walls in the ashwalker camp the type that uses barricades as its girders, rather than iron girders
  _maps/RandomRuins/LavaRuins/skyrat/lavaland_surface_ash_walker1_skyrat.dmm
Labels: Fix, Map Modification

#21593 Mirrors "fixes runtime when building things with proxy sensors that get deleted in the process"
  code/modules/assembly/proximity.dm
Labels: Fix, Manual Mirror

#21574 Fix departmental order consoles not being able to order gas canisters
  code/modules/cargo/department_order.dm
Labels: Fix

#21446 Donator reward: Kitsun
  modular_skyrat/master_files/icons/obj/plushes.dmi
  modular_skyrat/modules/customization/game/objects/items/plushes.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_toys.dm
Labels: Sprites, Stale

#21458 ezdb - A one click script to quickly setting up a development database (#75053)
  .github/CODEOWNERS
  .github/CONTRIBUTING.md
  .github/guides/EZDB.md
  .gitignore
  SQL/database_changelog.md
  code/controllers/configuration/configuration.dm
  code/controllers/configuration/entries/dbconfig.dm
  code/controllers/subsystem/dbcore.dm
  tools/ezdb/__main__.py
  tools/ezdb/ezdb.bat
  tools/ezdb/ezdb/__init__.py
  tools/ezdb/ezdb/changes.py
  tools/ezdb/ezdb/config.py
  tools/ezdb/ezdb/mysql.py
  tools/ezdb/ezdb/paths.py
  tools/ezdb/steps/__init__.py
  tools/ezdb/steps/download_mariadb.py
  tools/ezdb/steps/install_database.py
  tools/ezdb/steps/install_initial_schema.py
  tools/ezdb/steps/step.py
  tools/ezdb/steps/update_schema.py
  tools/requirements.txt
Labels: Upstream PR Merged, Config Update, Manual Mirror

#21605 Modsuits for #20399
  modular_skyrat/master_files/icons/mob/mod.dmi
Labels: Sprites

#21599 makes mantis blade sharp
  modular_skyrat/modules/implants/code/augments_arms.dm
Labels: Fix

#21354 [MODULAR][NO-GBP] (Hopefully) Fixes Hard Deletes with NIFs
  modular_skyrat/modules/modular_implants/code/nifs.dm
  modular_skyrat/modules/modular_implants/code/nifsofts.dm
  modular_skyrat/modules/modular_implants/code/nifsofts/soulcatcher.dm
  modular_skyrat/modules/modular_implants/code/soulcatcher/soulcatcher_tgui.dm
Labels: Fix, Stale

#21534 moves advanced shrapnel mines (are these even used anywhere?) from having their own entire folder to just being in the mapping folder
  modular_skyrat/modules/mapping/code/shrapnel_mine.dm
  tgstation.dme
Labels: Code Improvement

#21409 [MODULAR] Fixes DS-2 lockers issue + subtypes them
  _maps/RandomRuins/SpaceRuins/skyrat/interdynefob.dmm
  modular_skyrat/modules/mapping/code/lockers/interdynefob_lockers.dm
  tgstation.dme
Labels: Fix, Stale

#21386 fixes detective holsters super fast
  modular_skyrat/modules/goofsec/code/sec_clothing_overrides.dm
Labels: Fix, Stale-b-gone, GBP: No Update

#21630 [MODULAR] Removes unused laugh/scream restrictions
  modular_skyrat/modules/emotes/code/laugh_datums.dm
  modular_skyrat/modules/emotes/code/scream_datums.dm
Labels: Removal

#21652 [MODULAR] Fix security snowmobile keys
  modular_skyrat/master_files/code/modules/vehicles/snowmobile.dm
Labels: Fix

#21379 Adds a Lorecaster Management Panel
  code/modules/admin/admin_verbs.dm
  modular_skyrat/modules/lorecaster/code/archive_viewer.dm
  modular_skyrat/modules/lorecaster/code/story_manager.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/StoryManager.tsx
Labels: Administration

#21576 Fixes missing wires outside CMO office on Void Raptor
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Fix, Map Modification

#21573 fix: pepperball box icon_state
  modular_skyrat/modules/sec_haul/code/guns/pepperball_gun.dm
  modular_skyrat/modules/sec_haul/icons/guns/ammoboxes.dmi
Labels: Fix, Sprites

#21608 Fixes Bone Spear Reach To Two Tiles
  code/game/objects/items/spear.dm
Labels: Fix

#21680 Removes the unused Security Medic role and associated code
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  code/__DEFINES/jobs.dm
  code/game/machinery/computer/crew.dm
  code/modules/modular_computers/file_system/programs/jobmanagement.dm
  config/dynamic.json
  config/jobs.txt
  modular_skyrat/master_files/code/datums/id_trim/jobs.dm
  modular_skyrat/master_files/icons/mob/clothing/suits/armor.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/security.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/security_digi.dmi
  modular_skyrat/master_files/icons/obj/clothing/suits/armor.dmi
  modular_skyrat/master_files/icons/obj/clothing/suits/labcoat.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/security.dmi
  modular_skyrat/modules/admin/code/sooc.dm
  modular_skyrat/modules/alternative_job_titles/code/alt_job_titles.dm
  modular_skyrat/modules/automapper/code/area_spawn_entries.dm
  modular_skyrat/modules/customization/modules/clothing/under/security.dm
  modular_skyrat/modules/customization/modules/jobs/_job.dm
  modular_skyrat/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_accessory.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_glasses.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_heads.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_neck.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_suit.dm
  modular_skyrat/modules/loadouts/loadout_items/under/loadout_datum_under.dm
  modular_skyrat/modules/oneclickantag/code/oneclickantag.dm
  modular_skyrat/modules/protected_roles/code/antag_restricted_jobs.dm
  modular_skyrat/modules/sec_haul/code/guns/gunsets.dm
  modular_skyrat/modules/sec_haul/code/security_medic/secmed_clothes.dm
  modular_skyrat/modules/sec_haul/code/security_medic/security_medic.dm
  tgstation.dme
Labels: Removal, Sprites, Map Modification

#21518 Minor plushie sprite fix
  modular_skyrat/master_files/icons/obj/plushes.dmi
Labels: Sprites

#21635 [MODULAR] Removes unused random_features proc
  modular_skyrat/modules/customization/__HELPERS/mobs.dm
Labels: Removal

#21634 [MODULAR] Removes unused Action procs in modular statclicks
  modular_skyrat/modules/opposing_force/code/opposing_force_datum.dm
  modular_skyrat/modules/ticket_counter/code/counter.dm
Labels: Removal

#21703 [MODULAR] Fix IPC emissives requiring mismatched parts
  modular_skyrat/master_files/code/modules/client/preferences/_preference.dm
  modular_skyrat/master_files/code/modules/client/preferences/mutant_parts.dm
Labels: Fix

#21702 [MODULAR] Fix the synthetic screen change ability
  modular_skyrat/modules/synths/code/species/screen.dm
  modular_skyrat/modules/synths/code/species/synthetic.dm
Labels: Fix

#21063 [SEMI-MODULAR] Ports config-based flavor text requirements from TaleStation
  code/__DEFINES/~skyrat_defines/jobs.dm
  code/controllers/subsystem/job.dm
  code/modules/mob/dead/new_player/latejoin_menu.dm
  config/skyrat/skyrat_config.txt
  modular_skyrat/master_files/code/controllers/configuration/entries/skyrat_config_entries.dm
  modular_skyrat/modules/title_screen/code/new_player.dm
Labels: Config Update

#21676 New stamp for NRI
  code/modules/asset_cache/assets/paper.dm
  modular_skyrat/master_files/code/modules/paperwork/stamps.dm
  modular_skyrat/master_files/icons/obj/bureaucracy.dmi
  modular_skyrat/master_files/icons/stamp_icons/large_stamp-nri.png
Labels: Code Improvement, Sprites

#21712 Fixes G11 full auto
  modular_skyrat/modules/sec_haul/code/guns/guns.dm
Labels: Fix

#21451 Adjust light temperature
  code/modules/power/lighting/light.dm
  modular_skyrat/master_files/code/modules/power/lighting/light_mapping_helpers.dm
  modular_skyrat/modules/aesthetics/lights/code/lighting.dm
  modular_skyrat/modules/aesthetics/lights/icons/lighting.dmi
Labels: Code Improvement, Sprites, Stale-b-gone

#21722 Reduces bone spear damage to pre-regress values
  code/game/objects/items/spear.dm
Labels: Fix

#21747 fix: Remove Lewd Items verb is config dependant
  modular_skyrat/modules/modular_items/lewd_items/code/verbs.dm
Labels: Fix

#21766 Fixes crate icon conflict
  icons/obj/storage/crates.dmi
Labels: Fix, Sprites

#21772 [MODULAR] Require a little more effort to lie about yourself
  code/__DEFINES/~skyrat_defines/DNA.dm
  modular_skyrat/master_files/code/modules/client/preferences/genitals.dm
Labels: Quality of Life

#21780 dont drop certain organs on gib
  modular_skyrat/master_files/code/modules/mob/living/carbon/death.dm
Labels: Fix, Host Request

#21770 removes dogborg walking animations
  modular_skyrat/modules/altborgs/icons/widerobot_eng.dmi
  modular_skyrat/modules/altborgs/icons/widerobot_jani.dmi
  modular_skyrat/modules/altborgs/icons/widerobot_med.dmi
  modular_skyrat/modules/altborgs/icons/widerobot_mine.dmi
  modular_skyrat/modules/altborgs/icons/widerobot_pk.dmi
  modular_skyrat/modules/altborgs/icons/widerobot_sec.dmi
  modular_skyrat/modules/altborgs/icons/widerobot_serv.dmi
Labels: Removal, Sprites

#21779 Remove cursed, vending machine gibbing/squishing [NO GBP]
  code/datums/quirks/negative_quirks.dm
  code/modules/vending/_vending.dm
Labels: Removal, GBP: No Update, Host Request

#21782 removal of the skirty
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
Labels: Removal, Host Request

#21785 Disables Earthquakes
  modular_skyrat/modules/ices_events/code/ICES_event_config.dm
Labels: Removal, GBP: No Update

#21788 no cursed spring interaction
  code/modules/mapfluff/ruins/icemoonruin_code/hotsprings.dm
Labels: Removal

#21383 [i swear the CI failures aren't my fault] Ammo Bench Hell: Adjusts A Lot Of Ammobench Stuff
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_syndicate_base1_skyrat.dmm
  _maps/RandomRuins/LavaRuins/skyrat/lavaland_surface_syndicate_base1_skyrat.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/interdynefob.dmm
  code/modules/projectiles/ammunition/_ammunition.dm
  code/modules/projectiles/ammunition/ballistic/pistol.dm
  code/modules/projectiles/ammunition/ballistic/shotgun.dm
  modular_skyrat/modules/aesthetics/guns/code/guns.dm
  modular_skyrat/modules/ammo_workbench/code/ammo_workbench.dm
  modular_skyrat/modules/ammo_workbench/code/design_disks.dm
  modular_skyrat/modules/black_mesa/code/projectiles.dm
  modular_skyrat/modules/company_imports/code/armament_datums/vitezstvi_ammo.dm
  modular_skyrat/modules/gunsgalore/code/ammo/ammo.dm
  modular_skyrat/modules/modular_weapons/code/autolathe_designs.dm
  modular_skyrat/modules/modular_weapons/code/modular_projectiles.dm
  modular_skyrat/modules/sec_haul/code/guns/ammo.dm
  modular_skyrat/modules/sec_haul/code/guns/bullets.dm
  modular_skyrat/modules/shotgunrebalance/code/ammobox.dm
  modular_skyrat/modules/shotgunrebalance/code/shotgun.dm
  tgui/packages/tgui/interfaces/AmmoWorkbench.js
Labels: Balance, Map Modification

#21725 goofy little robots (arachne part... 3? 4?)
  modular_skyrat/modules/altborgs/code/robot_model.dm
  modular_skyrat/modules/altborgs/icons/robots_clown.dmi
  modular_skyrat/modules/altborgs/icons/robots_eng.dmi
  modular_skyrat/modules/altborgs/icons/robots_jani.dmi
  modular_skyrat/modules/altborgs/icons/robots_med.dmi
  modular_skyrat/modules/altborgs/icons/robots_mine.dmi
  modular_skyrat/modules/altborgs/icons/robots_pk.dmi
  modular_skyrat/modules/altborgs/icons/robots_serv.dmi
  modular_skyrat/modules/altborgs/icons/robots_syndi.dmi
Labels: Code Improvement, Sprites

#21793 Reintroduce Dragnet crates for security
  code/modules/cargo/packs/security.dm
Labels: Balance

#21801 catches a stray material cost that wasn't given a define for anesthetic machines
  modular_skyrat/master_files/code/modules/research/designs/misc_designs.dm
Labels: Fix

#21800 Revert "removes dogborg walking animations"
  modular_skyrat/modules/altborgs/icons/widerobot_eng.dmi
  modular_skyrat/modules/altborgs/icons/widerobot_jani.dmi
  modular_skyrat/modules/altborgs/icons/widerobot_med.dmi
  modular_skyrat/modules/altborgs/icons/widerobot_mine.dmi
  modular_skyrat/modules/altborgs/icons/widerobot_pk.dmi
  modular_skyrat/modules/altborgs/icons/widerobot_sec.dmi
  modular_skyrat/modules/altborgs/icons/widerobot_serv.dmi
Labels: Removal, Sprites, Revert

#21378 [MODULAR] Marked One Changes Volume 4: He's Literally Me
  modular_skyrat/master_files/icons/mob/64x64_lefthand.dmi
  modular_skyrat/master_files/icons/mob/64x64_righthand.dmi
  modular_skyrat/modules/gladiator/code/game/objects/items/gladiator_items.dm
  modular_skyrat/modules/gladiator/code/modules/mob/living/simple_animal/hostile/megafauna/markedone.dm
Labels: Balance, Fix, Sprites, Stale

#21657 Job2Icon Tgui now supports Alt titles
  tgui/packages/tgui/interfaces/common/JobToIcon.ts
Labels: Fix, Stale

#21762 Performs some much needed pruning of spacevine.dm
  code/__DEFINES/spacevines.dm
  code/modules/events/space_vines/vine_controller.dm
  code/modules/events/space_vines/vine_event.dm
  code/modules/events/space_vines/vine_mutations.dm
  code/modules/events/space_vines/vine_structure.dm
  modular_skyrat/master_files/code/modules/events/spacevine.dm
  modular_skyrat/modules/space_vines/vine_mutations.dm
  modular_skyrat/modules/space_vines/vine_structure.dm
  tgstation.dme
Labels: Code Improvement

#21842 Fixes the usage of the polarization_id_on_spawn on windows
  modular_skyrat/modules/polarized_windows/windows.dm
Labels: Fix

#21835 [MODULAR] Removes the ORGAN_EDIBLE flag from adult organs.
  modular_skyrat/modules/customization/modules/surgery/organs/genitals.dm
Labels: Fix, Removal

#21686 Records Console Formatting Support
  code/datums/records/record.dm
  code/game/machinery/computer/records/security.dm
  tgui/packages/tgui/interfaces/MedicalRecords/RecordView.tsx
  tgui/packages/tgui/interfaces/SecurityRecords/RecordPrint.tsx
  tgui/packages/tgui/interfaces/SecurityRecords/RecordView.tsx
Labels: Stale, Quality of Life

#21846 [MDB IGNORE] [S] Migration Scripts are your friend
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_syndicate_base1_skyrat.dmm
  _maps/RandomRuins/LavaRuins/skyrat/lavaland_surface_syndicate_base1_skyrat.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/alientoollab.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/cargodiselost.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/ghostship.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/luna.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/defcon2.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/defcon3.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/defcon4.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/defcon5.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/salvagepost.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/scrapheap.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/shuttle8532.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/vaulttango.dmm
  _maps/RandomRuins/SpaceRuins/spacehotel_skyrat.dmm
  _maps/RandomRuins/SpaceRuins/whiteshipruin_box_skyrat.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  _maps/shuttles/skyrat/cargo_delta_skyrat.dmm
  _maps/shuttles/skyrat/cargo_skyrat.dmm
  _maps/shuttles/skyrat/ruin_blackmarket_chevvy.dmm
  _maps/skyrat/automapper/templates/birdshot/birdshot_armory.dmm
  _maps/skyrat/automapper/templates/birdshot/birdshot_arrivals.dmm
  _maps/skyrat/automapper/templates/birdshot/birdshot_barber.dmm
  _maps/skyrat/automapper/templates/birdshot/birdshot_cryo.dmm
  _maps/skyrat/automapper/templates/birdshot/birdshot_ntrep_office.dmm
  _maps/skyrat/automapper/templates/metastation/metastation_arrivals.dmm
Labels: Code Improvement, Map Modification

#21328 Mold refactor: Mold datums
  .github/CODEOWNERS
  code/modules/unit_tests/create_and_destroy.dm
  modular_skyrat/modules/biohazard_blob/code/_biohazard_blob_defines.dm
  modular_skyrat/modules/biohazard_blob/code/biohazard_blob_structures.dm
  modular_skyrat/modules/biohazard_blob/code/mold_event.dm
  modular_skyrat/modules/mold/code/_mold_defines.dm
  modular_skyrat/modules/mold/code/mold.dm
  modular_skyrat/modules/mold/code/mold_controller.dm
  modular_skyrat/modules/mold/code/mold_disease.dm
  modular_skyrat/modules/mold/code/mold_event.dm
  modular_skyrat/modules/mold/code/mold_mobs.dm
  modular_skyrat/modules/mold/code/mold_structures.dm
  modular_skyrat/modules/mold/icons/blob_bulb.dmi
  modular_skyrat/modules/mold/icons/blob_core.dmi
  modular_skyrat/modules/mold/icons/blob_mobs.dmi
  modular_skyrat/modules/mold/icons/blob_resin.dmi
  modular_skyrat/modules/mold/icons/blob_spawner.dmi
  modular_skyrat/modules/mold/readme.md
  tgstation.dme
Labels: Sprites, Refactor

#21859 Hide typing indicator for LOOC
  code/modules/tgui_input/say_modal/modal.dm
Labels: Fix

#21904 Adds a donator item
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_items.dm
  modular_skyrat/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
Labels: Feature, GBP: No Update

#21317 Converts mold mobs to basic mobs
  code/modules/unit_tests/simple_animal_freeze.dm
  modular_skyrat/modules/mold/code/mold.dm
  modular_skyrat/modules/mold/code/mold_mobs.dm
Labels: Fix, Refactor, Stale

#21907 Fixes the donator item I made earlier being too dense
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_items.dm
Labels: Fix, GBP: No Update

#21765 [MODULAR][QOL] Makes Evokers more distinguishable for ghosts.
  modular_skyrat/modules/modular_implants/code/nifsofts/soulcatcher.dm
  modular_skyrat/modules/modular_implants/code/soulcatcher/handheld_soulcatcher.dm
  modular_skyrat/modules/modular_implants/code/soulcatcher/soulcatcher_component.dm
Labels: Quality of Life

#21816 Makes void raptor no longer take place in Mexico : God damn the sun : void raptor light colors audit
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Quality of Life, Map Modification

#21935 [MODULAR][NO GBP][uhoh] Fixes Soulcatchers Hard Deleting
  modular_skyrat/modules/modular_implants/code/soulcatcher/soulcatcher_component.dm
Labels: GBP: No Update

#21949 Map Reset 6/20
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/tramstation/tramstation.dmm
Labels: Map Reset, Map Modification

#21948 Comments out force-borging nanite pizza from spawning
  code/modules/events/shuttle_loan/shuttle_loan_datum.dm
Labels: Removal, Host Request

#21741 [MODULAR][FIX] NIFs are no longer parented to their owners
  modular_skyrat/modules/modular_implants/code/nifs.dm
  modular_skyrat/modules/modular_implants/code/nifs_tgui.dm
  modular_skyrat/modules/modular_implants/code/nifsofts/soulcatcher.dm
  modular_skyrat/modules/modular_implants/code/soulcatcher/soulcatcher_component.dm
  modular_skyrat/modules/modular_implants/code/soulcatcher/soulcatcher_verbs.dm
Labels: Fix

#21981 Chaplain stuff part 1 for #74549
  modular_skyrat/master_files/icons/mob/clothing/suits/chaplain_digi.dmi
Labels: Sprites

#21861 Adds Solfed stamp, recolors NRI stamp
  code/modules/asset_cache/assets/paper.dm
  modular_skyrat/master_files/code/modules/paperwork/stamps.dm
  modular_skyrat/master_files/icons/obj/bureaucracy.dmi
  modular_skyrat/master_files/icons/stamp_icons/large_stamp-nri.png
  modular_skyrat/master_files/icons/stamp_icons/large_stamp-solfed.png
Labels: Feature, Sprites

#21996 Part 2/2 digitgrade suits for #74549
  modular_skyrat/master_files/code/modules/clothing/clothing_variation_overrides/suit.dm
  modular_skyrat/master_files/icons/mob/clothing/suits/chaplain.dmi
  modular_skyrat/master_files/icons/mob/clothing/suits/chaplain_digi.dmi
Labels: Sprites

#21997 [MODULAR][NO GBP] Fixes soulcatcher join action duplicating itself
  modular_skyrat/modules/modular_implants/code/soulcatcher/soulcatcher_component.dm
Labels: Fix, GBP: No Update

#22013 [MANUAL MIRROR] Puts Balaclavas on a layer below glasses and radios [MDB IGNORE]
  code/__DEFINES/mobs.dm
  code/modules/clothing/masks/boxing.dm
  modular_skyrat/modules/Syndie_edits/code/syndie_edits.dm
  modular_skyrat/modules/customization/modules/clothing/masks/breath.dm
Labels: Quality of Life

#21922 [NO GBP] Hotfix - Fixes moth suits not hiding wings like they're supposed to
  code/modules/surgery/organs/external/wings/moth_wings.dm
Labels: Fix, GBP: No Update

#21978 Fixes inflatable barrier box being able to hold non-inflatable-related objects
  modular_skyrat/modules/inflatables/code/inflatable.dm
Labels: Fix

#22001 Makes height turfs not block movement if the mover is either flying or floating
  modular_skyrat/modules/liquids/code/liquid_systems/liquid_turf.dm
Labels: Fix, Quality of Life

#22017 Misc. multi-tile airlock fixes and improvements
  code/game/machinery/doors/airlock.dm
  code/game/objects/structures/door_assembly.dm
  modular_skyrat/modules/large_doors/code/large_doors.dm
Labels: Fix, Code Improvement

#22014 removes a couple excess bits from sec vendor
  modular_skyrat/modules/sec_haul/code/misc/vending.dm
Labels: Code Improvement

#22049 Fix Void Raptor clocks/incident displays
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Fix, Map Modification

#21929 [MODULAR] Soulcatcher User UI (Plus renaming)
  modular_skyrat/modules/modular_implants/code/soulcatcher/soulcatcher_mob.dm
  modular_skyrat/modules/modular_implants/code/soulcatcher/soulcatcher_tgui.dm
  tgui/packages/tgui/interfaces/Soulcatcher.js
  tgui/packages/tgui/interfaces/SoulcatcherUser.js
Labels: Feature, Quality of Life

#22057 Removes stockpart/crystal sprite overrides
  code/game/objects/items/devices/gps.dm
  code/game/objects/items/stacks/bscrystal.dm
  code/game/objects/items/stacks/telecrystal.dm
  code/modules/research/stock_parts.dm
  code/modules/unit_tests/screenshots/screenshot_antag_icons_fugitive.png
  modular_skyrat/modules/aesthetics/stock_parts/stock_parts.dm
  modular_skyrat/modules/aesthetics/stock_parts/stock_parts.dmi
  modular_skyrat/modules/aesthetics/telescience/telescience.dm
  modular_skyrat/modules/aesthetics/telescience/telescience.dmi
  tgstation.dme
Labels: Removal, Sprites

#21546 Increased alcohol/nicotine tolerance
  code/__DEFINES/reagents.dm
  code/datums/status_effects/debuffs/drunk.dm
  modular_skyrat/master_files/code/modules/reagents/chemistry/reagents.dm
  modular_skyrat/master_files/code/modules/reagents/withdrawal/generic_addictions.dm
Labels: Test Merged, Quality of Life, Host Request

#21962 Voidraptor minor fixes
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Fix, Map Modification

#21994 crush my legs with a hammer i must (adds kneecapping on breach hammers)
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  _maps/skyrat/automapper/templates/metastation/metastation_armory.dmm
  _maps/skyrat/automapper/templates/tramstation/tramstation_armory.dmm
  code/__DEFINES/~skyrat_defines/signals.dm
  modular_skyrat/modules/black_mesa/code/armaments/armament_utility.dm
  modular_skyrat/modules/marines/code/mod.dm
  modular_skyrat/modules/modular_ert/code/marine_override/modified_equipment.dm
  modular_skyrat/modules/sec_haul/code/peacekeeper/peacekeeper_hammer.dm
  tools/UpdatePaths/Scripts_Skyrat/21994_hammers_to_breaching_hammers.txt
Labels: Feature, Map Modification

#20131 [Semi-modular] (The big) Akula species revamp
  code/__DEFINES/mobs.dm
  code/__DEFINES/~skyrat_defines/_HELPERS/offset_index.dm
  code/__DEFINES/~skyrat_defines/combat.dm
  code/__DEFINES/~skyrat_defines/mobs.dm
  code/__DEFINES/~skyrat_defines/signals.dm
  code/__DEFINES/~skyrat_defines/traits.dm
  code/datums/mood_events/generic_negative_events.dm
  code/game/turfs/open/_open.dm
  code/modules/mob/living/living.dm
  code/modules/surgery/bodyparts/head.dm
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_akula.png
  modular_skyrat/master_files/code/datums/mood_events/generic_negative_events.dm
  modular_skyrat/master_files/code/game/objects/items/encryptionkey.dm
  modular_skyrat/master_files/code/modules/clothing/head/akula_official.dm
  modular_skyrat/master_files/code/modules/clothing/suits/skinsuits.dm
  modular_skyrat/master_files/code/modules/clothing/under/akula_jobs.dm
  modular_skyrat/master_files/code/modules/clothing/under/akula_official.dm
  modular_skyrat/master_files/code/modules/jobs/job_types/_job.dm
  modular_skyrat/master_files/code/modules/jobs/job_types/_job_attire.dm
  modular_skyrat/master_files/code/modules/language/language_holder.dm
  modular_skyrat/master_files/code/modules/mob/living/carbon/human/species.dm
  modular_skyrat/master_files/icons/misc/language.dmi
  modular_skyrat/master_files/icons/mob/body_markings/akula_markings.dmi
  modular_skyrat/master_files/icons/mob/clothing/head/akula.dmi
  modular_skyrat/master_files/icons/mob/clothing/head/akula_official.dmi
  modular_skyrat/master_files/icons/mob/clothing/suits/akula.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/akula.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/centcom.dmi
  modular_skyrat/master_files/icons/mob/sprite_accessory/tails.dmi
  modular_skyrat/master_files/icons/obj/clothing/head/akula.dmi
  modular_skyrat/master_files/icons/obj/clothing/head/akula_official.dmi
  modular_skyrat/master_files/icons/obj/clothing/suits/akula.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/akula.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/centcom.dmi
  modular_skyrat/modules/aesthetics/flag/code/signs_flags.dm
  modular_skyrat/modules/aesthetics/flag/icons/flags.dmi
  modular_skyrat/modules/akula/code/wetsuit.dm
  modular_skyrat/modules/bodyparts/code/akula_bodyparts.dm
  modular_skyrat/modules/bodyparts/code/aquatic_bodyparts.dm
  modular_skyrat/modules/bodyparts/icons/akula_parts_greyscale.dmi
  modular_skyrat/modules/bodyparts/icons/aquatic_parts_greyscale.dmi
  modular_skyrat/modules/customization/modules/clothing/outfits/akula.dm
  modular_skyrat/modules/customization/modules/language/te_velu_akko.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/body_markings/body_marking_sets.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/body_markings/body_markings_akula.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/tails.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/akula.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/aquatic.dm
  modular_skyrat/modules/loadouts/loadout_items/_loadout_datum.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_heads.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_inhands.dm
  modular_skyrat/modules/loadouts/loadout_items/under/loadout_datum_under.dm
  modular_skyrat/modules/loadouts/loadout_ui/loadout_manager.dm
  modular_skyrat/modules/loadouts/loadout_ui/loadout_outfit_helpers.dm
  modular_skyrat/modules/organs/icons/akula_eyes.dmi
  tgstation.dme
Labels: Feature, Balance, Code Improvement, Sprites, Test Merged, Stale-b-gone

#21701 Buffs Deforest Medical imports
  modular_skyrat/modules/company_imports/code/armament_datums/deforest_medical.dm
Labels: Stale, Balance/Rebalance

#22098 [MODULAR] Adds 2 new dono items + Fixes missing ckeys/subtypes
  modular_skyrat/master_files/icons/donator/mob/clothing/suit.dmi
  modular_skyrat/master_files/icons/donator/obj/clothing/suits.dmi
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
  modular_skyrat/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_masks.dm
Labels: Feature, Fix, Sprites

#22099 Digitgrade space suits for #74549
  modular_skyrat/master_files/icons/mob/clothing/suits/spacesuit_digi.dmi
Labels: Sprites

#22121 [MIRROR FIX] Removes a skyrat edit that was upstreamed.
  code/modules/mob/living/silicon/login.dm
Labels: Removal

#22122 (Hopefully) Fixes all of the current non-flaky CI issues
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  _maps/skyrat/automapper/templates/birdshot/birdshot_barber.dmm
  _maps/skyrat/automapper/templates/metastation/metastation_arrivals.dmm
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_akula.png
Labels: Fix, Map Modification

#22050 Remove/replace cat scream with new cat scream [NO GBP]
  modular_skyrat/modules/emotes/code/dna_screams.dm
  modular_skyrat/modules/emotes/code/scream_datums.dm
  modular_skyrat/modules/emotes/sound/emotes/cat_scream.ogg
Labels: Removal, GBP: No Update
