Repository Skyrat-SS13/Skyrat-tg, pull requests merged in 2023-05, with the labels that each got.

#20867 psssssh... nothin personnel.... kid........ (fixes a tarkon ID typo)
  modular_skyrat/modules/mapping/code/mob_spawns.dm
Labels: Fix

#20861 [does commenting count as modular] style meter users can now flip
  code/__DEFINES/~skyrat_defines/traits.dm
  code/datums/components/style/style.dm
  modular_skyrat/modules/emotes/code/emotes.dm
Labels: Fix

#20887 [MANUAL MIRROR] [NO GBP] Adds a UI state to number inputs because Im an idiot and I forgot
  code/modules/tgui_input/number.dm
Labels: Fix, GBP: No Update

#20889 CMG crate/gunset name parity
  modular_skyrat/modules/blueshield/code/weapons.dm
  modular_skyrat/modules/sec_haul/code/guns/cargo_stuff.dm
Labels: Grammar and Formatting

#20888 [NO GBP][MODULAR] Fixes NIFs not removing actions upon removal
  modular_skyrat/modules/modular_implants/code/nifs.dm
Labels: Fix, GBP: No Update

#20868 Moves the SAD code for applying prefs, while keeping damage, to it's own separate proc.
  modular_skyrat/master_files/code/modules/client/preferences.dm
  modular_skyrat/modules/self_actualization_device/code/self_actualization_device.dm
Labels: Code Improvement

#20814 Port Tarkon - mostly window fixes through all defcons
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/defcon2.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/defcon3.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/defcon4.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/defcon5.dmm
Labels: Fix

#20828 [MODULAR] magic wand refactor: the mystery of the disappearing wand.
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/magic_wand.dm
  modular_skyrat/modules/modular_items/lewd_items/icons/obj/lewd_items/lewd_items.dmi
Labels: Refactor

#20819 [MODULAR] Refactors adult status effects
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_arousal/arousal.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_arousal/status_effects/fluid_generation.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_helpers/human.dm
Labels: Refactor

#20899 [MODULAR] Fixes glassblowing oversights
  code/__DEFINES/~skyrat_defines/traits.dm
  modular_skyrat/modules/primitive_production/code/glassblowing.dm
Labels: Fix

#20515 [MODULAR] Tidies up external emote code a bit + Allows external emotes to use any object between the user and the floor
  modular_skyrat/modules/container_emotes/code/container_emotes.dm
Labels: Feature

#20929 Adds map filter to SSdecay
  modular_skyrat/modules/decay_subsystem/code/decaySS.dm
Labels: Code Improvement

#20694 Teshari Refurbishing
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_teshari.png
  modular_skyrat/master_files/icons/mob/body_markings/secondary_markings.dmi
  modular_skyrat/master_files/icons/mob/sprite_accessory/ears.dmi
  modular_skyrat/master_files/icons/mob/sprite_accessory/moth_fluff.dmi
  modular_skyrat/master_files/icons/mob/sprite_accessory/tails.dmi
  modular_skyrat/modules/bodyparts/icons/teshari_parts_greyscale.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/ears.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/fluff.dm
Labels: Removal, Sprites

#20948 Hotfix to the Syndicate winter coat hood.
  modular_skyrat/master_files/icons/mob/clothing/suits/wintercoat.dmi
Labels: Fix

#20931 feat/fix: Synth-Humanoids have snouts
  modular_skyrat/modules/synths/code/species/synthetic.dm
Labels: Feature

#20933 [Donator] Adventurous Synth Plush, now without merge conflicts!
  modular_skyrat/master_files/icons/obj/plushes.dmi
  modular_skyrat/modules/customization/game/objects/items/plushes.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_toys.dm
Labels: Feature

#20974 fix: icon names for 6.8 mag
  modular_skyrat/modules/modular_weapons/icons/obj/ammo.dmi
Labels: Fix

#20970 Fixes runtimes during BSA cannon construction
  modular_skyrat/modules/bsa_overhaul/code/bsa_cannon.dm
Labels: Fix

#20947 Ammo updates on fuel use now
  code/game/objects/items/tools/weldingtool.dm
  code/modules/reagents/reagent_dispenser.dm
Labels: Fix

#20944 Unsnowflakifies a part of the arrival shuttle
  code/modules/shuttle/shuttle.dm
  modular_skyrat/modules/advanced_shuttles/code/shuttles.dm
Labels: Fix

#20930 [Voidraptor] Makes Arrival maints slightly better.
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Fix

#20914 [modular] longarm jumpscare: mild CMG damage buff in return for making the stock actually collapse
  modular_skyrat/modules/aesthetics/guns/icons/guns.dmi
  modular_skyrat/modules/sec_haul/code/guns/cmg.dm
Labels: Balance

#20874 Resprites GWTB suits to be more closer to the source, also fixes related helmet reskinning
  modular_skyrat/master_files/icons/mob/clothing/suit.dmi
  modular_skyrat/master_files/icons/mob/clothing/suit_digi.dmi
  modular_skyrat/master_files/icons/obj/clothing/suits.dmi
  modular_skyrat/modules/blastwave_outfits/code/clothing/blastwave_head.dm
  modular_skyrat/modules/blastwave_outfits/readme.md
Labels: Fix

#20971 Removes the last of the unused/redundant stuff from the Aesthetic Module's Clothing folder
  modular_skyrat/modules/aesthetics/clothing/clothing.dm
  modular_skyrat/modules/aesthetics/clothing/head.dmi
  modular_skyrat/modules/aesthetics/clothing/suit.dmi
  modular_skyrat/modules/goofsec/code/sec_clothing_overrides.dm
Labels: Removal

#20962 adds a navigate verb destination to birdshot cryo + removes doubled up cryopods
  _maps/skyrat/automapper/templates/birdshot/birdshot_cryo.dmm
Labels: Fix, Removal, Quality of Life

#21010 tiny grammar fix for barricades
  modular_skyrat/modules/barricades/code/barricade.dm
Labels: Grammar and Formatting

#20972 Repaths a few outdated instances of the HoS's cap, removes a straggling redsec item
  _maps/RandomRuins/SpaceRuins/skyrat/interdynefob.dmm
  code/game/objects/items/storage/garment.dm
  code/modules/clothing/head/jobs.dm
  modular_skyrat/master_files/code/modules/clothing/clothing_variation_overrides/head.dm
  modular_skyrat/modules/command_vendor/code/vending.dm
  modular_skyrat/modules/customization/modules/clothing/head/head.dm
  modular_skyrat/modules/goofsec/code/sec_clothing_overrides.dm
  modular_skyrat/modules/mapping/code/mob_spawns.dm
Labels: Fix, Removal

#21009 Fix ERP items runtiming in loadout selection with DISABLE_ERP_PREFERENCES
  modular_skyrat/modules/customization/__HELPERS/global_lists.dm
Labels: Fix

#21011 [MODULAR] Fixes canine tongue overriding the hemophage tongue's abilities
  modular_skyrat/master_files/code/datums/traits/neutral.dm
Labels: Fix

#20999 fix: Synth antenna color
  modular_skyrat/master_files/code/modules/client/preferences/mutant_parts.dm
Labels: Fix

#20960 Fix meteor spawn rate
  modular_skyrat/modules/ices_events/code/ICES_event_config.dm
Labels: Fix

#20988 ref: Combat defines cleaning
  code/__DEFINES/~skyrat_defines/combat.dm
  code/modules/mob/living/carbon/human/human_defines.dm
  code/modules/mob/living/carbon/human/species.dm
Labels: Refactor

#20991 qol: Toggle Safety hotkey
  code/__DEFINES/~skyrat_defines/keybindings.dm
  modular_skyrat/modules/gun_safety/code/keybinding.dm
  tgstation.dme
Labels: Quality of Life

#21015 [MODULAR] Bouncers will now, actually spawn where they're supposed to
  modular_skyrat/modules/goofsec/code/department_guards.dm
Labels: Fix

#21002 fixes birdshot armoury APC connection
  _maps/skyrat/automapper/templates/birdshot/birdshot_armory.dmm
Labels: Fix

#21008 [MODULAR] Prevents organ spilling from dropping genitalia
  code/modules/mob/living/death.dm
  modular_skyrat/master_files/code/modules/mob/living/carbon/death.dm
  tgstation.dme
Labels: Fix

#21037 Fixed character preview
  tgui/packages/tgui/interfaces/PreferencesMenu/MainPage.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/data.ts
Labels: Fix

#21061 Fixed crash augment page in preferences
  tgui/packages/tgui/interfaces/PreferencesMenu/LimbsPage.tsx
Labels: Fix

#21070 [MANUAL MIRROR] Minor updates to the Occupational Corruption Device (#75122)
  code/game/objects/items/devices/ocd.dm
  code/modules/uplink/uplink_items/job.dm
  tgstation.dme
Labels: Balance

#21071 [MANUAL MIRROR] Outfit manager now searches more thoroughly for the user's ID (#75310)
  code/datums/outfit.dm
Labels: Fix

#21072 [MANUAL MIRROR] Fixes AI's trying to light up cameras in areas with no cameras (#75302)
  code/modules/mob/living/silicon/ai/ai.dm
Labels: Fix

#21068 [MANUAL MIRROR] Saltpetre in NutriMax contraband pool (#75222)
  code/modules/vending/nutrimax.dm
Labels: Balance

#21056 [ANCIENT WHOOPS] Loadout Mothic Clothing (& Two Other Things)
  code/modules/clothing/head/moth.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_heads.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_suit.dm
Labels: Grammar and Formatting, Quality of Life

#21069 [MANUAL MIRROR] Fixes magic eyepatch spell casting (#75270)
  code/modules/spells/spell.dm
Labels: Fix

#21191 [MODULAR][Fix] Fixes mold mobs not attacking each other.
  modular_skyrat/modules/biohazard_blob/code/_biohazard_blob_defines.dm
  modular_skyrat/modules/biohazard_blob/code/biohazard_blob_mobs.dm
  modular_skyrat/modules/biohazard_blob/code/biohazard_blob_structures.dm
  modular_skyrat/modules/biohazard_blob/readme.md
Labels: Fix

#21136 [MANUAL MIRROR] Adds message clarifying that you've been KICKED from the game when th
  code/modules/keybindings/bindings_client.dm
Labels: Fix

#21195 Mildly buffs Active Sonar module (#75174)
  code/game/objects/effects/temporary_visuals/miscellaneous.dm
  code/modules/mod/modules/modules_security.dm
Labels: Upstream PR Merged, Balance, Manual Mirror

#21174 Convert LOOC/whisper to TGUI
  code/__DEFINES/~skyrat_defines/say.dm
  code/datums/keybinding/communication.dm
  code/datums/keybinding/living.dm
  code/modules/client/client_procs.dm
  code/modules/tgui_input/say_modal/speech.dm
  modular_skyrat/modules/customization/datums/keybinding/communication.dm
  tgui/packages/tgui-say/constants/index.tsx
  tgui/packages/tgui-say/styles/colors.scss
Labels: Refactor

#21185 [Semi-Modular][Fix] No more negative workers
  code/modules/mob/dead/observer/observer.dm
  modular_skyrat/modules/time_clock/code/console.dm
Labels: Fix

#21193 [MODULAR] Fixes issues with view exploitables menu
  modular_skyrat/modules/records_on_examine/code/record_manifest.dm
Labels: Fix

#21199 Fix SHOULD_NOT_SLEEP hit in dna_melt status_effect (#75234)
  code/datums/status_effects/debuffs/debuffs.dm
Labels: Upstream PR Merged, Fix, Manual Mirror

#21197 Fixes storage barrels being invisible
  modular_skyrat/modules/primitive_catgirls/code/map_items.dm
Labels: Fix

#21200 Makes stable bluyespace anomaloes only teleport on bump (#75223)
  code/game/objects/effects/anomalies/anomalies_bluespace.dm
Labels: Upstream PR Merged, Quality of Life, Manual Mirror

#21202 Fix SHOULD_NOT_SLEEP hit in airlock wires on_cut() (#75240)
  code/datums/wires/airlock.dm
Labels: Upstream PR Merged, Fix, Manual Mirror

#21203 temperature-proofs ghost basic mobs (#75215)
  code/modules/mob/living/basic/space_fauna/ghost.dm
Labels: Upstream PR Merged, Fix, Manual Mirror

#21204 Fix SHOULD_NOT_SLEEP hit in highlander init (#75233)
  code/modules/admin/verbs/highlander_datum.dm
  code/modules/mob/mob_transformation_simple.dm
Labels: Upstream PR Merged, Fix, Manual Mirror

#21206 Add new chems to plants that allow foam effects (#69221)
  code/modules/hydroponics/grown/flowers.dm
  code/modules/hydroponics/grown/weeds/starthistle.dm
Labels: Upstream PR Merged, Feature, GBP: No Update, Manual Mirror

#21055 Cafe updates and tweaks
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  modular_skyrat/modules/modular_vending/code/wardrobes.dm
Labels: Quality of Life

#21198 Golems can now redeem points from their ORM (#75083)
  _maps/shuttles/ruin_cyborg_mothership.dmm
Labels: Upstream PR Merged, Fix, Manual Mirror

#21227 Clarifies the Canidae trait
  modular_skyrat/master_files/code/datums/traits/neutral.dm
Labels: Fix, Quality of Life

#21221 Adds missing sbiten glass style (#72565)
  code/modules/reagents/chemistry/reagents/alcohol_reagents.dm
Labels: Upstream PR Merged, Fix, Manual Mirror

#21212 Gives the Spider Charge a unique sprite (Ninja C4) (#68362)
  code/modules/antagonists/ninja/ninja_explosive.dm
Labels: Upstream PR Merged, Sprites, Manual Mirror

#21217 Allow illiterate people to play slots (#72837)
  code/game/machinery/slotmachine.dm
Labels: Upstream PR Merged, Quality of Life, Manual Mirror

#21218 Minor grammar change on the golden wheelchair. (#68756)
  code/modules/vehicles/wheelchair.dm
Labels: Upstream PR Merged, Grammar and Formatting, Manual Mirror

#21205 Adds a circuitboard for the MortiDrobe (#75319)
  code/game/objects/items/circuitboards/machines/machine_circuitboards.dm
Labels: Upstream PR Merged, Fix, Manual Mirror

#21196 Removes some unnecessary non-modular icon overrides
  code/game/objects/items/devices/multitool.dm
  code/game/objects/items/tools/weldingtool.dm
  code/game/objects/items/tools/wirecutters.dm
  code/modules/mob/living/simple_animal/friendly/drone/drone_tools.dm
  code/modules/projectiles/guns/energy/mounted.dm
  modular_skyrat/modules/bsa_overhaul/code/bsa_computer.dm
  modular_skyrat/modules/fixing_missing_icons/ballistic.dmi
  modular_skyrat/modules/fixing_missing_icons/items_cyborg.dmi
  modular_skyrat/modules/fixing_missing_icons/particle_accelerator.dmi
  modular_skyrat/modules/implants/code/augments_arms.dm
Labels: Removal, Code Improvement

#21207 Removes drag slowdown from Harvester mob (#72874)
  code/modules/mob/living/simple_animal/hostile/constructs/harvester.dm
Labels: Upstream PR Merged, Balance, Removal, GBP: No Update, Manual Mirror

#21216 Shuttle Insurance can no longer trigger when the BYOS is purchased (#70841)
  code/modules/events/shuttle_insurance.dm
Labels: Upstream PR Merged, Fix, Manual Mirror

#21211 kinesis can no longer be used on objects with a throw datum (#68735)
  code/modules/mod/modules/module_kinesis.dm
Labels: Upstream PR Merged, Fix, Manual Mirror

#21210 Makes Hell Microwaves Not Use Power (#67413)
  code/modules/food_and_drinks/machinery/microwave.dm
Labels: Upstream PR Merged, Fix, Manual Mirror

#21208 Removes another bad string macro (#70871)
  code/game/objects/structures/janitor.dm
Labels: Upstream PR Merged, Fix, Removal, Manual Mirror

#21214 Update quartermaster.dm with head of staff announcement (#68130)
  code/modules/jobs/job_types/quartermaster.dm
Labels: Upstream PR Merged, Fix, Manual Mirror

#21245 Fixes the ghost cafe's terrible shore erosion
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
Labels: Fix

#21262 [MODULAR] Fixes SAD not properly applying brain trauma.
  modular_skyrat/master_files/code/modules/client/preferences.dm
Labels: Fix

#21209 Maids in the Mirror take no damage from ghosts examining them (#68122)
  code/modules/antagonists/heretic/mobs/maid_in_mirror.dm
Labels: Upstream PR Merged, Fix, Manual Mirror

#21213 Makes tanks drop if ejected when not adjacent (#70957)
  code/modules/atmospherics/machinery/portable/portable_atmospherics.dm
Labels: Upstream PR Merged, Fix, Manual Mirror

#21215 Fixes infinite bloody bastard swords (#70721)
  code/modules/antagonists/cult/runes.dm
Labels: Upstream PR Merged, Fix, Manual Mirror

#21222 Dna vault refactor (#71860)
  code/game/objects/items/dna_probe.dm
  code/modules/station_goals/dna_vault.dm
  code/modules/station_goals/vault_mutation.dm
Labels: Upstream PR Merged, Refactor, Quality of Life, Manual Mirror

#21223 Add merge_group to CI suite (#73369)
  .github/workflows/ci_suite.yml
Labels: Upstream PR Merged, Manual Mirror

#21225 Caches Rust for Run Linters CI (#71487)
  .github/workflows/ci_suite.yml
Labels: Upstream PR Merged, Manual Mirror

#21241 Fixes exploration drones discarding loot when there was 1 space left (#75317)
  code/modules/explorer_drone/exodrone.dm
Labels: Upstream PR Merged, Fix, Manual Mirror

#21254 Fixes ghost cafe cyborgs being able to communicate with real tangible people that actually exist in space
  modular_skyrat/modules/ghostcafe/code/robot_ghostcafe.dm
Labels: Fix

#21258 [UPSTREAM PARITY] Fixes changeling fake death
  code/modules/antagonists/changeling/powers/fakedeath.dm
Labels: Fix

#21263 Fixes `image` and `sound` CL entries
  tgui/packages/tgui/interfaces/Changelog.js
Labels: Fix

#21267 [SEMI-MODULAR] [MIRROR FIX] Fixes the TTS PR.
  code/__DEFINES/subsystems.dm
  code/controllers/subsystem/communications.dm
  code/game/atoms_movable.dm
  code/modules/antagonists/changeling/changeling.dm
  code/modules/mob/living/silicon/login.dm
Labels: Fix

#21281 CI fix
  modular_skyrat/modules/bsa_overhaul/code/bsa_computer.dm
Labels: Fix, GBP: No Update

#21240 Update emoji remover workflow for node16 (#75434)
  .github/workflows/pr_emoji.yml
Labels: Upstream PR Merged, Manual Mirror

#21259 Mutant Hat Offset Fix [FIXED FOR REAL THIS TIME]
  code/modules/mob/living/carbon/human/human_update_icons.dm
  modular_skyrat/modules/teshari/code/teshari_bodytype.dm
Labels: Fix

#21273 Northstar automapper templates
  _maps/skyrat/automapper/automapper_config.toml
  _maps/skyrat/automapper/templates/northstar/northstar_armory.dmm
  _maps/skyrat/automapper/templates/northstar/northstar_arrivals.dmm
  _maps/skyrat/automapper/templates/northstar/northstar_barber.dmm
  _maps/skyrat/automapper/templates/northstar/northstar_cryo.dmm
  _maps/skyrat/automapper/templates/northstar/northstar_dorms.dmm
  _maps/skyrat/automapper/templates/northstar/northstar_ert_bay.dmm
  _maps/skyrat/automapper/templates/northstar/northstar_ntrep_office.dmm
  _maps/skyrat/automapper/templates/northstar/northstar_prison.dmm
Labels: Fix

#21308 [MODULAR] Fixes automatic and semiautomatic guns ignoring safety
  modular_skyrat/master_files/code/datums/components/fullauto.dm
  tgstation.dme
Labels: Fix

#21303 Fixes common mining shuttle not spawning on deltastation
  _maps/skyrat/automapper/templates/deltastation/deltastation_arrivals.dmm
Labels: Fix

#21299 Secure Northstar's NTC south wall [NO GBP]
  _maps/skyrat/automapper/templates/northstar/northstar_ntrep_office.dmm
Labels: Fix, GBP: No Update

#20696 Clockwork Cult: Research
  modular_skyrat/modules/apc_arcing/apc.dm
  modular_skyrat/modules/clock_cult/code/antagonist.dm
  modular_skyrat/modules/clock_cult/code/components/brass_spreader.dm
  modular_skyrat/modules/clock_cult/code/components/hint_element.dm
  modular_skyrat/modules/clock_cult/code/components/pickup_element.dm
  modular_skyrat/modules/clock_cult/code/components/structure_info_element.dm
  modular_skyrat/modules/clock_cult/code/globals.dm
  modular_skyrat/modules/clock_cult/code/items/clockwork_slab.dm
  modular_skyrat/modules/clock_cult/code/items/integration_cog.dm
  modular_skyrat/modules/clock_cult/code/items/replica_fabricator.dm
  modular_skyrat/modules/clock_cult/code/mobs/clockwork_marauder.dm
  modular_skyrat/modules/clock_cult/code/outpost_of_cogs.dm
  modular_skyrat/modules/clock_cult/code/research/asset_cache.dm
  modular_skyrat/modules/clock_cult/code/research/clockwork_research.dm
  modular_skyrat/modules/clock_cult/code/scriptures/_scripture.dm
  modular_skyrat/modules/clock_cult/code/scriptures/structures/prosperity_prism.dm
  modular_skyrat/modules/clock_cult/code/scriptures/structures/technologists_lectern.dm
  modular_skyrat/modules/clock_cult/code/structures/ocular_warden.dm
  modular_skyrat/modules/clock_cult/code/structures/sigil/_sigil.dm
  modular_skyrat/modules/clock_cult/code/structures/sigil/sigil_research.dm
  modular_skyrat/modules/clock_cult/code/structures/sigil/vitality_sigil.dm
  modular_skyrat/modules/clock_cult/code/structures/technologists_lectern.dm
  modular_skyrat/modules/clock_cult/code/structures/tinkerers_cache.dm
  modular_skyrat/modules/clock_cult/code/structures/traps/recievers/skewer.dm
  modular_skyrat/modules/clock_cult/code/temp_visual.dm
  modular_skyrat/modules/clock_cult/icons/actions_clock.dmi
  modular_skyrat/modules/clock_cult/icons/clockwork_effects_96.dmi
  modular_skyrat/modules/clock_cult/icons/clockwork_objects.dmi
  modular_skyrat/modules/clock_cult/icons/weapons/clockwork_weapons.dmi
  modular_skyrat/modules/clock_cult/sound/machinery/ark_deathrattle.ogg
  modular_skyrat/modules/clock_cult/sound/machinery/ark_scream.ogg
  modular_skyrat/modules/clock_cult/sound/machinery/brass_skewer.ogg
  modular_skyrat/modules/clock_cult/sound/machinery/integration_cog_install.ogg
  modular_skyrat/modules/clock_cult/sound/machinery/ocularwarden-dot1.ogg
  modular_skyrat/modules/clock_cult/sound/machinery/ocularwarden-dot2.ogg
  modular_skyrat/modules/clock_cult/sound/machinery/ocularwarden-target.ogg
  modular_skyrat/modules/clock_cult/sound/machinery/research_notice.ogg
  modular_skyrat/modules/clock_cult/sound/machinery/steam_whoosh.ogg
  modular_skyrat/modules/clock_cult/sound/magic/anima_fragment_attack.ogg
  modular_skyrat/modules/clock_cult/sound/magic/ratvar_attack.ogg
  modular_skyrat/modules/clock_cult/sound/magic/scripture_tier_up.ogg
  tgstation.dme
  tgui/packages/tgui/interfaces/ClockworkResearch.tsx
  tgui/packages/tgui/interfaces/ClockworkSlab.js
  tgui/packages/tgui/styles/interfaces/ClockworkResearch.scss
  tgui/packages/tgui/styles/main.scss
Labels: Feature, Balance, Test Merged

#21314 [MODULAR] Fixes fake traitor captain announcements
  modular_skyrat/modules/moretraitoritems/code/fake_announcement.dm
Labels: Fix

#21310 [MODULAR][NO-GBP] Medigun Turret Fix.
  modular_skyrat/modules/cellguns/code/mediguns.dm
Labels: Code Improvement

#21313 Fixes Events which are missing descriptions
  modular_skyrat/master_files/code/modules/events/spacevine.dm
  modular_skyrat/modules/assault_operatives/code/sunbeam.dm
  modular_skyrat/modules/biohazard_blob/code/mold_event.dm
  modular_skyrat/modules/cme/code/cme.dm
  modular_skyrat/modules/cortical_borer/code/cortical_borer_antag.dm
  modular_skyrat/modules/supermatter_surge/code/supermatter_surge.dm
  modular_skyrat/modules/wall_fungus/code/wall_fungus_event.dm
Labels: Fix

#21324 fixes a runtime with markus
  modular_skyrat/master_files/code/modules/mob/living/simple_animal/friendly/dogs.dm
Labels: Fix

#21153 [MODULAR] Overweight Quirk
  modular_skyrat/master_files/code/datums/traits/neutral.dm
Labels: Feature

#21319 Astrum refactor
  _maps/RandomRuins/SpaceRuins/skyrat/piratefort.dmm
  _maps/RandomZLevels/mothership_astrum.dmm
  code/modules/unit_tests/simple_animal_freeze.dm
  modular_skyrat/modules/awaymissions_skyrat/code/mothership_astrum.dm
  modular_skyrat/modules/awaymissions_skyrat/mothership_astrum/abductor_ai.dm
  modular_skyrat/modules/awaymissions_skyrat/mothership_astrum/area.dm
  modular_skyrat/modules/awaymissions_skyrat/mothership_astrum/fluff.dm
  modular_skyrat/modules/awaymissions_skyrat/mothership_astrum/gear.dm
  modular_skyrat/modules/awaymissions_skyrat/mothership_astrum/mob.dm
  modular_skyrat/modules/awaymissions_skyrat/mothership_astrum/mob_spawn.dm
  modular_skyrat/modules/awaymissions_skyrat/mothership_astrum/spawners.dm
  tgstation.dme
Labels: Refactor

#21224 Add gh-readonly-queue to CI (#73381)
  .github/workflows/ci_suite.yml
Labels: Upstream PR Merged, Manual Mirror

#21322 Uses blackboard setters in the bumbles ai controller
  modular_skyrat/master_files/code/modules/mob/living/simple_animal/friendly/bumbles.dm
Labels: Code Improvement

#21297 Void Raptor morgue renovations
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Good First PR, Quality of Life

#21380 [MDB IGNORE] MAP RESET 5/23
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/shuttles/emergency_monastery.dmm
Labels: Map Edit, Map Reset

#20654 Adds Lore Protection
  code/modules/mob/living/carbon/human/examine.dm
  modular_skyrat/master_files/code/modules/client/preferences/flavor_text.dm
  modular_skyrat/master_files/code/modules/mob/living/examine_tgui.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/akula.dm
Labels: Feature, Host Request

#21387 fixes the smartgun rails node being unavailable, puts it after electric + exotic
  modular_skyrat/modules/sec_haul/code/guns/ammo.dm
Labels: Fix

#21327 [Modular] Escape pods now stay in dock if alert level is too low
  config/skyrat/skyrat_config.txt
  modular_skyrat/master_files/code/_globalvars/configuration.dm
  modular_skyrat/modules/pod_locking/pod_locking.dm
  tgstation.dme
Labels: Feature, Config Update

#21367 Maid Cafe Fixes: Woody's Got Wood Edition: Feat. Booze-o-Mat fixes
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  modular_skyrat/modules/modular_vending/code/boozeomat.dm
Labels: Fix, Quality of Life

#21385 Voidraptor chemistry access fix & chemistry re-shuffling
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Fix, Map Edit, Quality of Life

#21421 [modular] removes some alt-titles from NT-consultant
  modular_skyrat/modules/alternative_job_titles/code/alt_job_titles.dm
Labels: Removal, Host Request

#21453 (very boring pr) audits some define stuff
  code/__DEFINES/DNA.dm
  code/__DEFINES/basic_mobs.dm
  code/__DEFINES/blob_defines.dm
  code/__DEFINES/colors.dm
  code/__DEFINES/combat.dm
  code/__DEFINES/dcs/signals/signals_object.dm
  code/__DEFINES/exosuit_fab.dm
  code/__DEFINES/mobs.dm
  code/__DEFINES/preferences.dm
  code/__DEFINES/reagents.dm
  code/__DEFINES/wounds.dm
  code/__DEFINES/~skyrat_defines/colors.dm
  code/__DEFINES/~skyrat_defines/reagents.dm
  code/__HELPERS/dynamic_human_icon_gen.dm
  code/__HELPERS/text.dm
Labels: Code Improvement

#21442 [Donator] Official Cat Stamp
  code/modules/asset_cache/assets/paper.dm
  modular_skyrat/master_files/code/modules/paperwork/stamps.dm
  modular_skyrat/master_files/icons/obj/bureaucracy.dmi
  modular_skyrat/master_files/icons/stamp_icons/cat_blue.png
  modular_skyrat/master_files/icons/stamp_icons/cat_green.png
  modular_skyrat/master_files/icons/stamp_icons/cat_orange.png
  modular_skyrat/master_files/icons/stamp_icons/cat_red.png
  modular_skyrat/master_files/icons/stamp_icons/paw_blue.png
  modular_skyrat/master_files/icons/stamp_icons/paw_green.png
  modular_skyrat/master_files/icons/stamp_icons/paw_orange.png
  modular_skyrat/master_files/icons/stamp_icons/paw_red.png
  modular_skyrat/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
  tgstation.dme
Labels: Sprites

#21489 [RSC] Suppressed Mp5 File reduction
  modular_skyrat/modules/gunsgalore/sound/guns/fire/mp5_fire_suppressed.ogg
Labels: Sound, RSC Reduction

#21274 Sorts the modular armor.dmis
  code/modules/clothing/suits/armor.dm
  modular_skyrat/master_files/code/modules/clothing/clothing_variation_overrides/suit.dm
  modular_skyrat/master_files/code/modules/clothing/suits/_suits.dm
  modular_skyrat/master_files/icons/mob/clothing/suit.dmi
  modular_skyrat/master_files/icons/mob/clothing/suit_digi.dmi
  modular_skyrat/master_files/icons/mob/clothing/suits/armor.dmi
  modular_skyrat/master_files/icons/mob/clothing/suits/armor_digi.dmi
  modular_skyrat/master_files/icons/obj/clothing/suits.dmi
  modular_skyrat/master_files/icons/obj/clothing/suits/armor.dmi
  modular_skyrat/modules/GAGS/greyscale_configs.dm
  modular_skyrat/modules/Syndie_edits/code/syndie_edits.dm
  modular_skyrat/modules/blueshield/code/blueshield.dm
  modular_skyrat/modules/blueshield/code/clothing.dm
  modular_skyrat/modules/command_vendor/code/vending.dm
  modular_skyrat/modules/customization/modules/clothing/suits/armor.dm
  modular_skyrat/modules/customization/modules/clothing/suits/coats.dm
  modular_skyrat/modules/customization/modules/clothing/suits/misc.dm
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
  modular_skyrat/modules/exp_corps/code/clothing.dm
  modular_skyrat/modules/goofsec/code/department_guards.dm
  modular_skyrat/modules/goofsec/code/sec_clothing_overrides.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_suit.dm
  modular_skyrat/modules/nanotrasen_naval_command/code/clothing.dm
  modular_skyrat/modules/novaya_ert/code/suit.dm
  modular_skyrat/modules/robohand/code/silverhand_bundle.dm
  modular_skyrat/modules/sec_haul/code/peacekeeper/armadyne_clothing.dm
  modular_skyrat/modules/sec_haul/code/peacekeeper/peacekeeper_clothing.dm
  modular_skyrat/modules/sec_haul/code/security_medic/secmed_clothes.dm
Labels: Sprites

#21362 [MODULAR] Fixes issue with VV Stop All Animations resetting a mob's size
  modular_skyrat/master_files/code/game/atoms.dm
  modular_skyrat/master_files/code/modules/mob/living/carbon/death.dm
  tgstation.dme
Labels: Fix

#21406 ref: Ammo HUD, more modularisation
  code/game/objects/items/tools/weldingtool.dm
  code/modules/projectiles/guns/ballistic.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/reagents/reagent_dispenser.dm
  modular_skyrat/master_files/code/game/objects/items/tools/weldingtool.dm
  modular_skyrat/master_files/code/modules/projectiles/guns/ballistic.dm
  modular_skyrat/master_files/code/modules/projectiles/guns/energy.dm
  modular_skyrat/modules/gunhud/code/gun_hud_component.dm
  modular_skyrat/modules/gunhud/readme.md
  tgstation.dme
Labels: Fix, Code Improvement, Refactor

#21514 Adds coroner to medical loadout items
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_accessory.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_glasses.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_heads.dm
Labels: Fix

#21549 [NO GBP] Fixes screenshot test CI
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_moth.png
Labels: GBP: No Update

#21547 [MIRROR] UI updating of pda message console and telecommuncations monitor. [MDB IGNORE]
  code/game/machinery/telecomms/computers/message.dm
  code/game/machinery/telecomms/computers/telemonitor.dm
  tgui/packages/tgui/interfaces/MessageMonitor.tsx
  tgui/packages/tgui/interfaces/TelecommsMonitor.tsx
Labels: Upstream PR Merged, GBP: No Update, Manual Mirror

#21548 [MIRROR] Quietens Spaceman when debugging UNIT_TESTS locally [MDB IGNORE]
  .github/workflows/run_integration_tests.yml
  code/__DEFINES/qdel.dm
  code/controllers/subsystem/air.dm
  code/controllers/subsystem/garbage.dm
  code/controllers/subsystem/minor_mapping.dm
  code/game/world.dm
  code/modules/antagonists/cult/cult.dm
  tools/build/build.js
  tools/build/lib/byond.js
Labels: Upstream PR Merged, GBP: No Update, Manual Mirror
