Repository Skyrat-SS13/Skyrat-tg, pull requests merged in 2023-04, with the labels that each got.

#20212 [FIX] Removes Duplicate NRI Belt Sprites
  modular_skyrat/master_files/icons/obj/clothing/belts.dmi
Labels: Removal

#20213 [FIX] Snails No Longer Slip
  code/modules/mob/living/carbon/human/species_types/snail.dm
Labels: Fix

#20215 [MODULAR] Fixes bodypart emissives not respecting the 'Allow emissives' pref
  modular_skyrat/master_files/code/modules/client/preferences/_preference.dm
  modular_skyrat/master_files/code/modules/client/preferences/genitals.dm
Labels: Fix

#20129 [MODULAR] Purpura Contract
  modular_skyrat/modules/modular_implants/code/nifsofts/dorms.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_machinery/lustwish.dm
Labels: Feature

#20224 [DNM] Gunsec? Nah son gunstation; Gives everyone and their mother a firearm, as the founding fathers intended.
  code/modules/jobs/job_types/assistant.dm
  code/modules/jobs/job_types/atmospheric_technician.dm
  code/modules/jobs/job_types/bartender.dm
  code/modules/jobs/job_types/botanist.dm
  code/modules/jobs/job_types/cargo_technician.dm
  code/modules/jobs/job_types/chaplain.dm
  code/modules/jobs/job_types/chemist.dm
  code/modules/jobs/job_types/chief_engineer.dm
  code/modules/jobs/job_types/chief_medical_officer.dm
  code/modules/jobs/job_types/clown.dm
  code/modules/jobs/job_types/cook.dm
  code/modules/jobs/job_types/curator.dm
  code/modules/jobs/job_types/geneticist.dm
  code/modules/jobs/job_types/janitor.dm
  code/modules/jobs/job_types/lawyer.dm
  code/modules/jobs/job_types/medical_doctor.dm
  code/modules/jobs/job_types/mime.dm
  code/modules/jobs/job_types/paramedic.dm
  code/modules/jobs/job_types/psychologist.dm
  code/modules/jobs/job_types/quartermaster.dm
  code/modules/jobs/job_types/research_director.dm
  code/modules/jobs/job_types/roboticist.dm
  code/modules/jobs/job_types/scientist.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/jobs/job_types/shaft_miner.dm
  code/modules/jobs/job_types/station_engineer.dm
  code/modules/jobs/job_types/virologist.dm
  code/modules/jobs/job_types/warden.dm
  modular_skyrat/modules/GUN_STATION_2023_BABY/code/guns/guns.dm
  modular_skyrat/modules/GUN_STATION_2023_BABY/code/guns/gunsets.dm
  modular_skyrat/modules/GUN_STATION_2023_BABY/icons/guns/guns.dmi
  modular_skyrat/modules/GUN_STATION_2023_BABY/icons/guns/magazines.dmi
  modular_skyrat/modules/GUN_STATION_2023_BABY/icons/guns/projectiles.dmi
  tgstation.dme
Labels: Feature, DO NOT MERGE, Approved for merge(1-hour), Approved, Headmin Approved

#20247 [s] Removes the second amendment
  code/modules/jobs/job_types/assistant.dm
  code/modules/jobs/job_types/atmospheric_technician.dm
  code/modules/jobs/job_types/bartender.dm
  code/modules/jobs/job_types/botanist.dm
  code/modules/jobs/job_types/cargo_technician.dm
  code/modules/jobs/job_types/chaplain.dm
  code/modules/jobs/job_types/chemist.dm
  code/modules/jobs/job_types/chief_engineer.dm
  code/modules/jobs/job_types/chief_medical_officer.dm
  code/modules/jobs/job_types/clown.dm
  code/modules/jobs/job_types/cook.dm
  code/modules/jobs/job_types/curator.dm
  code/modules/jobs/job_types/geneticist.dm
  code/modules/jobs/job_types/janitor.dm
  code/modules/jobs/job_types/lawyer.dm
  code/modules/jobs/job_types/medical_doctor.dm
  code/modules/jobs/job_types/mime.dm
  code/modules/jobs/job_types/paramedic.dm
  code/modules/jobs/job_types/psychologist.dm
  code/modules/jobs/job_types/quartermaster.dm
  code/modules/jobs/job_types/research_director.dm
  code/modules/jobs/job_types/roboticist.dm
  code/modules/jobs/job_types/scientist.dm
  code/modules/jobs/job_types/security_officer.dm
  code/modules/jobs/job_types/shaft_miner.dm
  code/modules/jobs/job_types/station_engineer.dm
  code/modules/jobs/job_types/virologist.dm
  code/modules/jobs/job_types/warden.dm
  modular_skyrat/modules/GUN_STATION_2023_BABY/code/guns/guns.dm
  modular_skyrat/modules/GUN_STATION_2023_BABY/code/guns/gunsets.dm
  modular_skyrat/modules/GUN_STATION_2023_BABY/icons/guns/guns.dmi
  modular_skyrat/modules/GUN_STATION_2023_BABY/icons/guns/magazines.dmi
  modular_skyrat/modules/GUN_STATION_2023_BABY/icons/guns/projectiles.dmi
  tgstation.dme
Labels: Removal

#20110 [MODULAR] Blueshield minor equipment changes and refactoring
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  modular_skyrat/modules/blueshield/code/blueshield.dm
  modular_skyrat/modules/blueshield/code/closet.dm
  modular_skyrat/modules/blueshield/code/clothing.dm
  modular_skyrat/modules/blueshield/code/medkit.dm
  modular_skyrat/modules/blueshield/code/special.dm
  modular_skyrat/modules/blueshield/code/weapons.dm
  modular_skyrat/modules/blueshield/icons/backpacks.dmi
  tgstation.dme
Labels: Feature, Removal, Refactor

#20096 [PROJECT] Clock balance & fixes
  code/__DEFINES/~skyrat_defines/access.dm
  code/__DEFINES/~skyrat_defines/signals.dm
  code/modules/power/apc/apc_main.dm
  modular_skyrat/modules/clock_cult/code/actions/_action.dm
  modular_skyrat/modules/clock_cult/code/actions/recall_slab.dm
  modular_skyrat/modules/clock_cult/code/antagonist.dm
  modular_skyrat/modules/clock_cult/code/items/clockwork_slab.dm
  modular_skyrat/modules/clock_cult/code/items/clothing.dm
  modular_skyrat/modules/clock_cult/code/items/replica_fabricator.dm
  modular_skyrat/modules/clock_cult/code/items/tools.dm
  modular_skyrat/modules/clock_cult/code/items/weaponry.dm
  modular_skyrat/modules/clock_cult/code/mobs/clockwork_marauder.dm
  modular_skyrat/modules/clock_cult/code/outfit.dm
  modular_skyrat/modules/clock_cult/code/outpost_of_cogs.dm
  modular_skyrat/modules/clock_cult/code/pickup_element.dm
  modular_skyrat/modules/clock_cult/code/scriptures/_scripture.dm
  modular_skyrat/modules/clock_cult/code/scriptures/preservation/clockwork_armaments.dm
  modular_skyrat/modules/clock_cult/code/scriptures/preservation/summon_marauder.dm
  modular_skyrat/modules/clock_cult/code/scriptures/servitude/kindle.dm
  modular_skyrat/modules/clock_cult/code/scriptures/structures/ocular_warden.dm
  modular_skyrat/modules/clock_cult/code/scriptures/structures/vitality_sigil.dm
  modular_skyrat/modules/clock_cult/code/structure_info_element.dm
  modular_skyrat/modules/clock_cult/code/structures/_powered.dm
  modular_skyrat/modules/clock_cult/code/structures/_structure.dm
  modular_skyrat/modules/clock_cult/code/structures/airlock.dm
  modular_skyrat/modules/clock_cult/code/structures/gear_base.dm
  modular_skyrat/modules/clock_cult/code/structures/interdiction_lens.dm
  modular_skyrat/modules/clock_cult/code/structures/ocular_warden.dm
  modular_skyrat/modules/clock_cult/code/structures/prosperity_prism.dm
  modular_skyrat/modules/clock_cult/code/structures/tinkerers_cache.dm
  modular_skyrat/modules/clock_cult/code/structures/traps/recievers/flipper.dm
  modular_skyrat/modules/clock_cult/code/structures/traps/trap.dm
  modular_skyrat/modules/clock_cult/icons/clockwork_objects.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/ClockworkSlab.js
Labels: Project

#16680 Bluespace Artillery Overhaul(v2.0)
  code/modules/admin/admin_verbs.dm
  code/modules/cargo/packs/engineering.dm
  modular_skyrat/modules/bsa_overhaul/code/admin_verb.dm
  modular_skyrat/modules/bsa_overhaul/code/bsa_cannon.dm
  modular_skyrat/modules/bsa_overhaul/code/bsa_computer.dm
  modular_skyrat/modules/bsa_overhaul/code/station_goal.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/BluespaceArtillerySkyrat.tsx
Labels: Balance, Refactor

#20272 Replace Chaos Event System with ICES - Intensity Credit Event System [LT3]
  code/__DEFINES/~skyrat_defines/events.dm
  code/controllers/subsystem/events.dm
  code/modules/admin/admin_verbs.dm
  code/modules/events/_event.dm
  config/skyrat/skyrat_config.txt
  modular_skyrat/master_files/code/_globalvars/configuration.dm
  modular_skyrat/master_files/code/controllers/subsystem/events.dm
  modular_skyrat/master_files/code/modules/events/_event.dm
  modular_skyrat/modules/biohazard_blob/code/mold_event.dm
  modular_skyrat/modules/cme/code/cme.dm
  modular_skyrat/modules/event_vote/code/event_chaos_system.dm
  modular_skyrat/modules/event_vote/code/event_vote.dm
  modular_skyrat/modules/events/code/event_overrides.dm
  modular_skyrat/modules/events/readme.md
  modular_skyrat/modules/intensity_credit/code/ICES_event_config.dm
  modular_skyrat/modules/intensity_credit/code/ICES_intensity_credits.dm
  modular_skyrat/modules/intensity_credit/code/ICES_seclevel.dm
  modular_skyrat/modules/intensity_credit/code/ICES_tgui.dm
  modular_skyrat/modules/intensity_credit/code/_ICES_globalvars.dm
  modular_skyrat/modules/intensity_credit/readme.md
  modular_skyrat/modules/supermatter_surge/code/supermatter_surge.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/IntensityCredits.tsx
Labels: Feature, Balance, Fix, Removal

#20278 Fixes discord notifications for new game
  code/controllers/subsystem/ticker.dm
Labels: PRIORITY, Priority: HIGH

#20275 Fixes Reebe.dmm linters
  _maps/skyrat/lazy_templates/reebe.dmm
Labels: Fix, GBP: No Update

#20005 Reworks Icedyne (Icebox's Interdyne) to be more organically laid out
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_syndicate_base1_skyrat.dmm
Labels: Feature, Quality of Life

#20249 LavaDyne hotfix [NO GBP]
  _maps/RandomRuins/LavaRuins/skyrat/lavaland_surface_syndicate_base1_skyrat.dmm
Labels: Fix, GBP: No Update

#20128 Snail Content Pack: Ultimate Slime Storm 3 -- Full Burst
  code/modules/mob/living/carbon/human/species_types/snail.dm
  modular_skyrat/master_files/icons/mob/clothing/back.dmi
  modular_skyrat/master_files/icons/obj/clothing/backpacks.dmi
Labels: Feature

#20280 [MODULAR] Handheld Blueshield Monitor
  modular_skyrat/modules/blueshield/code/devices/crew.dm
  modular_skyrat/modules/blueshield/code/devices/sensor_device.dm
  modular_skyrat/modules/blueshield/code/medkit.dm
  modular_skyrat/modules/blueshield/icons/device.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/CrewConsoleSkyratBlueshield.js
Labels: Feature

#20168 Chaplain Suit/Helmet Sorting (Now not on my master!)
  modular_skyrat/master_files/code/game/objects/items/holy_weapons.dm
  modular_skyrat/master_files/code/modules/clothing/clothing_variation_overrides/head.dm
  modular_skyrat/master_files/code/modules/clothing/clothing_variation_overrides/suit.dm
  modular_skyrat/master_files/code/modules/clothing/suits/_suits.dm
  modular_skyrat/master_files/icons/mob/clothing/head.dmi
  modular_skyrat/master_files/icons/mob/clothing/head/chaplain.dmi
  modular_skyrat/master_files/icons/mob/clothing/head/chaplain_muzzled.dmi
  modular_skyrat/master_files/icons/mob/clothing/suits/chaplain.dmi
  modular_skyrat/master_files/icons/mob/clothing/suits/chaplain_digi.dmi
  modular_skyrat/master_files/icons/obj/clothing/head/chaplain.dmi
  modular_skyrat/master_files/icons/obj/clothing/suits/chaplain.dmi
Labels: Feature, Removal, Sprites

#19900 [MODULAR] NIF Rewards Points
  modular_skyrat/modules/modular_implants/code/nif_persistence.dm
  modular_skyrat/modules/modular_implants/code/nifs.dm
  modular_skyrat/modules/modular_implants/code/nifs_tgui.dm
  modular_skyrat/modules/modular_implants/code/nifsoft_catalog.dm
  modular_skyrat/modules/modular_implants/code/nifsofts.dm
  tgui/packages/tgui/interfaces/NifPanel.js
  tgui/packages/tgui/interfaces/NtosNifsoftCatalog.js
Labels: Feature

#20277 [MODULAR] Automatic Respawner
  modular_skyrat/modules/mapping/code/automatic_respawner.dm
  modular_skyrat/modules/mapping/icons/machinery/automatic_respawner.dmi
  tgstation.dme
Labels: Feature

#20172 Adds canilunzt as language
  modular_skyrat/master_files/code/game/objects/items/encryptionkey.dm
  modular_skyrat/master_files/code/modules/language/language_holder.dm
  modular_skyrat/master_files/icons/misc/language.dmi
  modular_skyrat/modules/customization/modules/language/_language_holder.dm
  modular_skyrat/modules/customization/modules/language/canilunzt.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/vulpkanin.dm
  tgstation.dme
Labels: Feature, Sprites

#20291 Assorted clockwork cult fixes
  modular_skyrat/modules/clock_cult/code/items/integration_cog.dm
  modular_skyrat/modules/clock_cult/code/items/replica_fabricator.dm
  modular_skyrat/modules/clock_cult/code/structures/gear_base.dm
  modular_skyrat/modules/clock_cult/code/structures/ocular_warden.dm
  modular_skyrat/modules/clock_cult/code/structures/traps/trap.dm
  modular_skyrat/modules/clock_cult/icons/clockwork_objects.dmi
Labels: Fix, Removal

#20292 Integration cogs are now far more devastating to the powernet
  code/modules/power/apc/apc_main.dm
Labels: Balance

#20296 Corrects CWC icon state
  modular_skyrat/modules/clock_cult/code/language.dm
Labels: GBP: No Update

#20294 Readds tactical pants
  modular_skyrat/master_files/icons/mob/clothing/under/shorts_pants_shirts.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/shorts_pants_shirts_digi.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/shorts_pants_shirts.dmi
  modular_skyrat/modules/customization/modules/clothing/under/misc.dm
  modular_skyrat/modules/loadouts/loadout_items/under/loadout_datum_under.dm
  modular_skyrat/modules/modular_vending/code/autodrobe.dm
Labels: Feature

#20308 restore blush sound
  modular_skyrat/modules/emotes/code/emotes.dm
Labels: Fix

#20309 adds sec util uniform to clothing vendor
  modular_skyrat/modules/sec_haul/code/misc/vending.dm
Labels: Quality of Life

#20316 [modular (one-line edit)] thrown reagent containers that splash on mobs also spill liquids on floor
  code/modules/reagents/reagent_containers.dm
  modular_skyrat/modules/liquids/code/liquid_systems/liquid_turf.dm
Labels: Feature

#20269 [SEMI-MODULAR] Lighting Update
  code/__DEFINES/lighting.dm
  code/modules/power/lighting/light.dm
  modular_skyrat/master_files/code/modules/power/lighting/light.dm
  modular_skyrat/master_files/code/modules/power/lighting/light_mapping_helpers.dm
  modular_skyrat/modules/aesthetics/lights/code/lighting.dm
  modular_skyrat/modules/aesthetics/lights/icons/lighting.dmi
  tgstation.dme
Labels: Code Improvement, Ready, Test Merged

#20297 Void Raptor light adjustments
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Quality of Life

#20305 [MODULAR][QoL] Poem of Communal Souls is now redownloadable
  modular_skyrat/modules/modular_implants/code/nifsoft_catalog.dm
  modular_skyrat/modules/modular_implants/code/nifsofts/soul_poem.dm
Labels: Quality of Life

#20283 [modular] using an ammobox (not changing mags) to reload a gun inflicts a click cooldown
  modular_skyrat/modules/gunsgalore/code/guns/ballistic_master.dm
Labels: Balance

#20310 [MODULAR] Proc that places items in cryo console
  modular_skyrat/modules/cryosleep/code/cryo_console_return.dm
  tgstation.dme
Labels: Administration

#18364 [EVIL CODE] [LATE MEOWY CHRISTMAS] Replaces the poorly fitting ashwalkers on icebox with significantly cooler (I can't think of an eyecatching title for demis alright?)
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_ash_walker1_skyrat.dmm
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_icewalker_den.dmm
  code/__DEFINES/~skyrat_defines/DNA.dm
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_human_felinid_primitive.png
  config/skyrat/skyrat_config.txt
  modular_skyrat/master_files/code/_globalvars/configuration.dm
  modular_skyrat/modules/GAGS/greyscale_configs.dm
  modular_skyrat/modules/GAGS/json_configs/primitive_catgirl_clothing/armwraps.json
  modular_skyrat/modules/GAGS/json_configs/primitive_catgirl_clothing/armwraps_worn.json
  modular_skyrat/modules/GAGS/json_configs/primitive_catgirl_clothing/body_wraps.json
  modular_skyrat/modules/GAGS/json_configs/primitive_catgirl_clothing/body_wraps_worn.json
  modular_skyrat/modules/GAGS/json_configs/primitive_catgirl_clothing/boots.json
  modular_skyrat/modules/GAGS/json_configs/primitive_catgirl_clothing/boots_worn.json
  modular_skyrat/modules/GAGS/json_configs/primitive_catgirl_clothing/coat.json
  modular_skyrat/modules/GAGS/json_configs/primitive_catgirl_clothing/coat_worn.json
  modular_skyrat/modules/GAGS/json_configs/primitive_catgirl_clothing/gaiter.json
  modular_skyrat/modules/GAGS/json_configs/primitive_catgirl_clothing/gaiter_worn.json
  modular_skyrat/modules/GAGS/json_configs/primitive_catgirl_clothing/gauntlets.json
  modular_skyrat/modules/GAGS/json_configs/primitive_catgirl_clothing/gauntlets_worn.json
  modular_skyrat/modules/mapping/code/icemoon.dm
  modular_skyrat/modules/primitive_catgirls/code/clothing.dm
  modular_skyrat/modules/primitive_catgirls/code/clothing_vendor.dm
  modular_skyrat/modules/primitive_catgirls/code/language.dm
  modular_skyrat/modules/primitive_catgirls/code/map_items.dm
  modular_skyrat/modules/primitive_catgirls/code/organs.dm
  modular_skyrat/modules/primitive_catgirls/code/smelling_salts.dm
  modular_skyrat/modules/primitive_catgirls/code/spawner.dm
  modular_skyrat/modules/primitive_catgirls/code/species.dm
  modular_skyrat/modules/primitive_catgirls/icons/barrel.dmi
  modular_skyrat/modules/primitive_catgirls/icons/clothing_greyscale.dmi
  modular_skyrat/modules/primitive_catgirls/icons/language_icon.dmi
  modular_skyrat/modules/primitive_catgirls/icons/salts.dmi
  modular_skyrat/modules/primitive_cooking_additions/code/stone_oven.dm
  modular_skyrat/modules/primitive_cooking_additions/icons/stone_oven.dmi
  tgstation.dme
Labels: Feature, Removal, Test Merged, Accessibility

#20281 (try to) Fix Meta and Void Raptor Map CI
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  _maps/skyrat/automapper/automapper_config.toml
  _maps/skyrat/automapper/templates/metastation/metastation_cryo.dmm
Labels: Fix

#20354 [Missed Mirror] Electrified tram plate #74334
  _maps/map_files/tramstation/tramstation.dmm
  code/datums/components/omen.dm
  code/game/turfs/open/floor/misc_floor.dm
  code/modules/industrial_lift/tram/tram_floors.dm
  tgstation.dme
Labels: Upstream PR Merged, Feature, GBP: No Update, Manual Mirror

#20353 [MIRROR] Client Compatibility Check
  .github/max_required_byond_client.txt
  .github/workflows/ci_suite.yml
  .github/workflows/run_integration_tests.yml
Labels: Upstream PR Merged, Manual Mirror

#20322 Disables hulk + A way to disable mutations
  code/game/machinery/computer/dna_console.dm
  modular_skyrat/master_files/code/datums/mutations/_mutations.dm
  modular_skyrat/master_files/code/datums/mutations/hulk.dm
  tgstation.dme
Labels: Balance

#20342 [MODULAR] Emissives fix-Skyrat edition. Emissives will no longer layer over worn clothing.
  modular_skyrat/master_files/code/modules/clothing/clothing.dm
Labels: Fix

#20330 [Void Raptor] De-Plasmaifies some glass panes
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Balance

#20344 [FIX] Synths No Longer Get Tend Wounds
  code/modules/surgery/healing.dm
Labels: Fix

#20349 [MODULAR] Unrestricted some items for ghostcafe, + some mapping helpers
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  modular_skyrat/modules/aesthetics/vending/access_vending.dm
  modular_skyrat/modules/mapping/code/misc.dm
  modular_skyrat/modules/mapping/code/wardrobes.dm
Labels: Fix

#20351 [MODULAR] Fixes cat tail sprite layering issue
  modular_skyrat/master_files/icons/mob/sprite_accessory/tails.dmi
Labels: Fix

#20343 [MODULAR] Fixes the spawner menu sometimes becoming invisible
  modular_skyrat/master_files/code/modules/mob_spawn/mob_spawn.dm
  modular_skyrat/modules/cryosleep/code/cryopod.dm
  modular_skyrat/modules/mapping/code/mob_spawns.dm
Labels: Fix

#20373 [CI fix] Fixes the felinid screenshot test
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_human_felinid.png
Labels: Fix

#20375 fix: Fixes default value when ERP is disabled via config
  code/modules/mob/living/carbon/human/examine.dm
  modular_skyrat/master_files/code/modules/client/preferences/erp_preferences.dm
  modular_skyrat/modules/customization/modules/mob/living/silicon/examine.dm
Labels: Fix

#20376 fix: Removes lewd nifsoft if config is set to remove lewd
  modular_skyrat/modules/modular_implants/code/nifsoft_catalog.dm
  modular_skyrat/modules/modular_implants/code/nifsofts.dm
  modular_skyrat/modules/modular_implants/code/nifsofts/dorms.dm
Labels: Fix, Removal

#20377 fix: Slime's Alter Form with disabled ERP
  code/__DEFINES/~skyrat_defines/_organ_defines.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/roundstartslime.dm
Labels: Fix, Code Improvement

#20374 [MODULAR] Make drifting contractors come with a preloaded baton holster module
  modular_skyrat/modules/contractor/code/datums/midround/outfit.dm
  modular_skyrat/modules/contractor/code/items/misc.dm
  modular_skyrat/modules/contractor/code/items/modsuit/modsuit.dm
  modular_skyrat/modules/contractor/code/items/modsuit/modules.dm
Labels: Quality of Life

#20388 [Modular] new `msg_ghosts` flag for `send_clock_message`
  modular_skyrat/modules/clock_cult/code/actions/whirring_convergence.dm
  modular_skyrat/modules/clock_cult/code/items/integration_cog.dm
  modular_skyrat/modules/clock_cult/code/outpost_of_cogs.dm
Labels: Code Improvement

#20403 [Missed Mirror]Tram doors update (#74350)
  code/__DEFINES/industrial_lift.dm
  code/modules/industrial_lift/tram/tram_doors.dm
  code/modules/industrial_lift/tram/tram_lift_master.dm
  code/modules/industrial_lift/tram/tram_machinery.dm
  sound/machines/tramclose.ogg
  sound/machines/tramopen.ogg
  tgstation.dme
Labels: Upstream PR Merged, Fix, Sound, Quality of Life, GBP: No Update, Manual Mirror

#20389 [modular] contractor payouts actually work
  modular_skyrat/modules/contractor/code/datums/contract.dm
Labels: Fix

#20414 [modular] fixes the smuggle objective, for some reason
  modular_skyrat/master_files/code/modules/antagonists/traitor/objectives/smuggling.dm
Labels: Fix

#20440 Removes MCR cell change timer
  modular_skyrat/modules/microfusion/code/microfusion_cell.dm
  modular_skyrat/modules/microfusion/code/microfusion_energy_master.dm
Labels: Removal, Code Improvement, Quality of Life

#20366 [MODULAR] Artificial Cylinder refactor
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/dildo.dm
Labels: Refactor

#20432 Brings the CIN's *surplus* firearms to be a bit more modern than an ak-47
  code/__DEFINES/~skyrat_defines/gun.dm
  code/__DEFINES/~skyrat_defines/projectiles.dm
  modular_skyrat/modules/company_imports/code/armament_datums/nri_military_surplus.dm
  modular_skyrat/modules/manufacturer_examine/code/manufacturer_component.dm
  modular_skyrat/modules/novaya_ert/code/surplus_weapons.dm
  modular_skyrat/modules/novaya_ert/icons/surplus_guns/ammo.dmi
  modular_skyrat/modules/novaya_ert/icons/surplus_guns/guns_32.dmi
  modular_skyrat/modules/novaya_ert/icons/surplus_guns/guns_64.dmi
  modular_skyrat/modules/novaya_ert/icons/surplus_guns/inhands_64_left.dmi
  modular_skyrat/modules/novaya_ert/icons/surplus_guns/inhands_64_right.dmi
  modular_skyrat/modules/novaya_ert/icons/surplus_guns/onmob.dmi
  modular_skyrat/modules/novaya_ert/readme.md
  modular_skyrat/modules/novaya_ert/sound/amr_fire.ogg
  tgstation.dme
Labels: Feature, Balance

#20438 [MODULAR] New inhand sprites for light tubes
  modular_skyrat/modules/aesthetics/lights/code/lighting.dm
  modular_skyrat/modules/aesthetics/lights/icons/lights_lefthand.dmi
  modular_skyrat/modules/aesthetics/lights/icons/lights_righthand.dmi
Labels: Fix, Sprites

#20506 Fix linters
  tgui/packages/tgui/interfaces/PreferencesMenu/SpeciesPage.tsx
Labels: Fix

#20475 Russian revolver now sets suicide
  modular_skyrat/master_files/code/modules/projectiles/guns/ballistic/revolver.dm
  tgstation.dme
Labels: Balance

#20492 Small Icebox Interdyne corrections
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_syndicate_base1_skyrat.dmm
Labels: Fix

#20429 ICES: Scrubber overflow changes
  modular_skyrat/modules/custom_meteors/readme.md
  modular_skyrat/modules/ices_events/code/ICES_event_config.dm
  modular_skyrat/modules/ices_events/code/ICES_intensity_credits.dm
  modular_skyrat/modules/ices_events/code/ICES_seclevel.dm
  modular_skyrat/modules/ices_events/code/ICES_tgui.dm
  modular_skyrat/modules/ices_events/code/_ICES_globalvars.dm
  modular_skyrat/modules/ices_events/code/effects/ef_foam.dm
  modular_skyrat/modules/ices_events/code/events/ev_meteors.dm
  modular_skyrat/modules/ices_events/code/events/ev_scrubbers.dm
  modular_skyrat/modules/ices_events/readme.md
  tgstation.dme
Labels: Fix, Administration, Host Request

#20508 Fixes 811 responder ID card access
  modular_skyrat/master_files/code/datums/id_trim/solfed.dm
  modular_skyrat/modules/goofsec/code/sol_fed.dm
Labels: Fix

#20495 [MODULAR] Refactors glassblowing + gives it a new UI
  modular_skyrat/modules/primitive_production/code/glassblowing.dm
  modular_skyrat/modules/reagent_forging/code/forge.dm
  tgui/packages/tgui/interfaces/GlassBlowing.tsx
Labels: Fix, Refactor, Quality of Life

#20428 replaces NRI ERT's AKs with that new gun
  modular_skyrat/modules/novaya_ert/code/outfit.dm
Labels: Fix

#20486 Changes the sec department jacket to hold security items (+slight armour buff)
  modular_skyrat/modules/customization/modules/clothing/under/utility_port/suits_port.dm
Labels: Balance, Quality of Life

#20365 Clockwork Cult balance & fixes
  modular_skyrat/modules/clock_cult/code/actions/whirring_convergence.dm
  modular_skyrat/modules/clock_cult/code/items/clothing.dm
  modular_skyrat/modules/clock_cult/code/items/replica_fabricator.dm
  modular_skyrat/modules/clock_cult/code/items/weaponry.dm
  modular_skyrat/modules/clock_cult/code/language.dm
  modular_skyrat/modules/clock_cult/code/mobs/clockwork_marauder.dm
  modular_skyrat/modules/clock_cult/code/scriptures/_scripture.dm
  modular_skyrat/modules/clock_cult/code/scriptures/structures/transmission_sigil.dm
  modular_skyrat/modules/clock_cult/code/structure_info_element.dm
  modular_skyrat/modules/clock_cult/code/structures/sigil/sigil_transmission.dm
  tgstation.dme
Labels: Balance, Fix, Removal, Quality of Life

#20437 Updates Flipped Tables to match the new TG sprites
  modular_skyrat/modules/tableflip/code/flipped_table.dm
  modular_skyrat/modules/tableflip/icons/flipped_tables.dmi
Labels: Sprites

#20513 [MODULAR] [NO GBP] Hotfix for glassblowing refactor
  modular_skyrat/modules/primitive_production/code/glassblowing.dm
Labels: Refactor, GBP: No Update

#20514 [MODULAR] Admins can now delete NIFs and NIFs now remove after being broken for two shifts.
  modular_skyrat/modules/modular_implants/code/nif_persistence.dm
Labels: Fix, Quality of Life

#20521 Removes frequency from mulebot beacons on Void Raptor
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Fix, Removal

#20522 regal condor rename pr (but fixed)
  code/modules/projectiles/guns/ballistic/pistol.dm
Labels: Feature

#20528 [Missed Mirror]Elevator machinery changes/fixes (#74190)
  _maps/map_files/debug/multiz.dmm
  _maps/map_files/tramstation/tramstation.dmm
  code/game/machinery/doors/door.dm
  code/game/machinery/doors/windowdoor.dm
  code/modules/industrial_lift/elevator/elevator_controller.dm
  code/modules/industrial_lift/elevator/elevator_doors.dm
  code/modules/industrial_lift/elevator/elevator_indicator.dm
  code/modules/industrial_lift/elevator/elevator_panel.dm
  code/modules/industrial_lift/industrial_lift.dm
  code/modules/industrial_lift/lift_master.dm
  tgstation.dme
Labels: Upstream PR Merged, GBP: No Update, Manual Mirror

#20539 [MODULAR] Fixes black mesa locker not being unlockable by black mesa security and tactical squad members
  _maps/RandomZLevels/blackmesa.dmm
  modular_skyrat/modules/black_mesa/code/mapping_fluff.dm
Labels: Fix

#20531 [MODULAR] Fixes a runtime with hypno goggles
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/hypnogoggles.dm
Labels: Fix

#20533 Fixes inverse neurine being able to give lewd quirks against will
  code/modules/reagents/chemistry/reagents/impure_reagents/impure_medicine_reagents.dm
Labels: Fix

#20510 Fixes panic bunker command
  modular_skyrat/modules/panicbunker/code/panicbunker.dm
Labels: Fix

#20547 latexbalon
  code/game/objects/items/latexballoon.dm
Labels: Fix

#20323 [SEMI-MODULAR] APC/Air Alarm lighting and functionality
  code/modules/power/apc/apc_main.dm
  code/modules/power/lighting/light.dm
  modular_skyrat/master_files/code/modules/power/lighting/light_mapping_helpers.dm
  modular_skyrat/modules/aesthetics/airalarm/code/airalarm.dm
  modular_skyrat/modules/aesthetics/apc/code/apc.dm
  modular_skyrat/modules/aesthetics/lights/code/lighting.dm
Labels: Code Improvement, Ready, Test Merged

#20564 Add ICES event cancellation logging
  modular_skyrat/master_files/code/controllers/subsystem/events.dm
  modular_skyrat/modules/ices_events/code/ICES_intensity_credits.dm
Labels: Administration

#20545 plumber overlay ci fix
  modular_skyrat/master_files/code/game/objects/items/RCD.dm
  modular_skyrat/modules/liquids/code/liquid_systems/liquid_plumbers.dm
Labels: Fix

#20544 Prevents ghosts from using interaction menu emotes
  modular_skyrat/modules/interaction_menu/code/interaction_component.dm
Labels: Fix

#20279 [MODULAR][REFACTOR] Refactors creature fluid extraction apparatus
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_machinery/milking_machine.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_structures/construction.dm
Labels: Refactor

#20477 Adds Siik'tajr to languages
  modular_skyrat/master_files/code/game/objects/items/encryptionkey.dm
  modular_skyrat/master_files/code/modules/language/language_holder.dm
  modular_skyrat/master_files/icons/misc/language.dmi
  modular_skyrat/modules/customization/modules/language/_language_holder.dm
  modular_skyrat/modules/customization/modules/language/siiktajr.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/tajaran.dm
  tgstation.dme
Labels: Feature

#20565 Wall mushroom adjustments
  modular_skyrat/modules/wall_fungus/code/wall_fungus_component.dm
  modular_skyrat/modules/wall_fungus/code/wall_fungus_event.dm
  modular_skyrat/modules/wall_fungus/code/wall_mushroom.dm
Labels: Balance, Administration

#20534 [MODULAR] Breakfast time
  modular_skyrat/master_files/code/datums/mood_events/needs_events.dm
  tgstation.dme
Labels: Balance, Config Update

#20559 [MODULAR] Fixes access issues with Twin Nexus
  _maps/RandomRuins/SpaceRuins/spacehotel_skyrat.dmm
  code/__DEFINES/~skyrat_defines/access.dm
  modular_skyrat/modules/mapping/code/mob_spawns.dm
  modular_skyrat/modules/mapping/code/space_hotel.dm
Labels: Fix

#20505 Ammo Bench Stuff - unprintable rounds! a762 clips actually holding more ammotypes!
  modular_skyrat/modules/aesthetics/guns/code/guns.dm
  modular_skyrat/modules/ammo_workbench/code/ammo_workbench.dm
  modular_skyrat/modules/modular_weapons/code/modular_projectiles.dm
  modular_skyrat/modules/sec_haul/code/guns/bullets.dm
Labels: Fix, Grammar and Formatting

#20479 Changes plasma thrower to an energy gun and lowers its blob damage
  modular_skyrat/modules/company_imports/code/armament_datums/nri_military_surplus.dm
  modular_skyrat/modules/novaya_ert/code/surplus_weapons.dm
  modular_skyrat/modules/novaya_ert/icons/surplus_guns/guns_32.dmi
Labels: Balance

#20614 [FUCK] Fixes our whitelist system not letting people in when whitelisted and getting on for the first time
  code/modules/admin/IsBanned.dm
Labels: Priority: HIGH

#20611 Integration Cog Nerf
  code/modules/power/apc/apc_main.dm
  modular_skyrat/modules/clock_cult/code/items/integration_cog.dm
  tgui/packages/tgui/interfaces/ClockworkSlab.js
Labels: Balance

#20632 [MODULAR] Fix ICES autotransfer scheduling
  modular_skyrat/master_files/code/controllers/subsystem/events.dm
  modular_skyrat/modules/ices_events/code/ICES_procs.dm
  tgstation.dme
Labels: Fix

#20646 [MODULAR] Fixes select equipment
  code/__HELPERS/icons.dm
  modular_skyrat/modules/loadouts/loadout_ui/loadout_outfit_helpers.dm
Labels: Fix

#20657 Slight Uplink Surplus Override Cleanup: removes dupe entries, updates descs
  modular_skyrat/modules/skyrat-uplinks/code/categories/bundles.dm
Labels: Fix, Removal

#20681 removes the non-modular pda-b-gone
  code/modules/mob/living/carbon/human/human_update_icons.dm
Labels: Removal, Code Improvement

#20371 [MODULAR, READY TO GO] Wooden half barricades can be constructed on the same turf
  modular_skyrat/master_files/code/game/objects/items/stacks/sheets/sheet_types.dm
  modular_skyrat/modules/barricades/code/barricade.dm
  modular_skyrat/modules/mapping/code/spaceship_items.dm
  modular_skyrat/modules/mapping/code/spaceship_turfs.dm
  modular_skyrat/modules/stone/code/stone.dm
Labels: Fix

#20691 Fixes the screenshot tests
  code/modules/unit_tests/screenshots/screenshot_antag_icons_bloodbrother.png
  code/modules/unit_tests/screenshots/screenshot_antag_icons_headrevolutionary.png
  code/modules/unit_tests/screenshots/screenshot_antag_icons_provocateur.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_akula.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_aquatic.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_dullahan.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_dwarf.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_ghoul.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_hemophage.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_human.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_human_felinid.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_human_felinid_primitive.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_human_krokodil_addict.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_humanoid.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_insect.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_jelly_roundstartslime.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_lizard.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_lizard_ashwalker.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_lizard_silverscale.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_mammal.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_monkey.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_monkey_human_legged.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_monkey_monkey_freak.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_moth.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_mush.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_mutant.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_mutant_infectious.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_mutant_infectious_fast.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_mutant_infectious_slow.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_pod.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_pod_podweak.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_skrell.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_snail.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_synthetic.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_tajaran.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_teshari.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_unathi.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_vampire.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_vox.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_vox_primalis.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_vulpkanin.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_xeno.png
  code/modules/unit_tests/screenshots/screenshot_saturnx_invisibility.png
Labels: Fix

#20687 Fixes the visual z-fighting (item flickering) until we get the wallening
  code/world.dm
Labels: Fix

#20703 [MODULAR] Fixes a silly little runtime
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/buttplug.dm
Labels: Fix

#20697 [MODULAR] Fixes ghost cafe visitors receiving the wrong names after re-ghosting
  modular_skyrat/master_files/code/modules/mob_spawn/mob_spawn.dm
  modular_skyrat/modules/ghostcafe/code/ghost_role_spawners.dm
Labels: Fix

#20355 Unapologetic Hemophage Buffs Vol. 1
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/hemophage.dm
Labels: Balance

#18448 [MOSTLY MODULAR] Time Clock
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  _maps/skyrat/automapper/templates/deltastation/deltastation_cryo.dmm
  _maps/skyrat/automapper/templates/icebox/icebox_cryo.dmm
  _maps/skyrat/automapper/templates/kilostation/kilostation_cryo.dmm
  _maps/skyrat/automapper/templates/metastation/metastation_cryo.dmm
  _maps/skyrat/automapper/templates/tramstation/tramstation_cryo.dmm
  code/__HELPERS/global_lists.dm
  code/modules/research/techweb/all_nodes.dm
  modular_skyrat/master_files/code/modules/research/designs/misc_designs.dm
  modular_skyrat/modules/time_clock/code/console.dm
  modular_skyrat/modules/time_clock/code/console_tgui.dm
  modular_skyrat/modules/time_clock/code/off_duty_component.dm
  modular_skyrat/modules/time_clock/icons/machinery/console.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/TimeClock.js
Labels: Feature, Test Merged

#20747 CIN surplus to imports tab, ammo box name fix, CIN ammo box fix
  modular_skyrat/modules/aesthetics/guns/code/guns.dm
  modular_skyrat/modules/cargo/code/packs.dm
Labels: Balance, Fix

#20741 [MODULAR] Removes redundant "(Machine Board)" from Bluespace Miner board name
  modular_skyrat/modules/bluespace_miner/code/bluespace_miner.dm
Labels: Fix, Removal

#20742 Space Ruin - Fixes and Balance to Port Tarkon
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/defcon2.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/defcon3.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/defcon4.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/defcon5.dmm
Labels: Balance, Fix

#20774 [MODULAR] [HOTFIX] Fixes glassblowing tgui runtime
  modular_skyrat/modules/reagent_forging/code/forge.dm
Labels: Fix

#20708 Teshari sprite pack 8: Yeah let's give them winter coats while it's summer
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/head.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/suit.dmi
Labels: Sprites

#20788 Automatically adds access requirement to description of supply crates (#72748)
  code/controllers/subsystem/shuttle.dm
  code/modules/cargo/packs/emergency.dm
  code/modules/cargo/packs/engineering.dm
  code/modules/cargo/packs/materials.dm
  code/modules/cargo/packs/medical.dm
  code/modules/cargo/packs/organic.dm
  code/modules/cargo/packs/science.dm
  code/modules/cargo/packs/security.dm
  code/modules/cargo/packs/service.dm
Labels: Upstream PR Merged, Fix, Code Improvement, Manual Mirror

#20790 Heretic blades now do 20 damage instead of 17 (#68345)
  code/modules/antagonists/heretic/items/heretic_blades.dm
Labels: Upstream PR Merged, Balance, GBP: No Update, Manual Mirror

#20776 Fresh New Brew (New Coffee Maker Sprites)
  modular_skyrat/modules/aesthetics/kitchen/coffeemaker.dmi
  modular_skyrat/modules/aesthetics/kitchen/kitchen.dm
Labels: Sprites

#20789 Makes ash blade fireproof (#71767)
  code/modules/antagonists/heretic/items/heretic_blades.dm
Labels: Upstream PR Merged, Fix, Manual Mirror

#20787 Add logging for manually changing your targeted zone (#72814)
  code/__DEFINES/logging.dm
  code/__HELPERS/logging/_logging.dm
  code/__HELPERS/logging/game.dm
  code/__HELPERS/type2type.dm
  code/_globalvars/logging.dm
  code/_onclick/hud/screen_objects.dm
  code/controllers/configuration/entries/general.dm
  code/datums/components/surgery_initiator.dm
  code/datums/json_savefile.dm
  code/datums/keybinding/mob.dm
  code/game/world.dm
  code/modules/logging/categories/log_category_target_zone_switch.dm
  code/modules/logging/log_category.dm
  code/modules/logging/log_holder.dm
  code/modules/mob/mob_helpers.dm
  config/config.txt
  tgstation.dme
Labels: Upstream PR Merged, Config Update, Manual Mirror, Logging

#20793 Fixes custom emotes impacting the emote cooldown
  modular_skyrat/modules/emotes/code/emotes.dm
Labels: Fix
