Repository Skyrat-SS13/Skyrat-tg, pull requests merged in 2023-08, with the labels that each got.

#22803 Hand dryer description spelling fix
  modular_skyrat/modules/salon/code/hand_dryer.dm
Labels: Grammar and Formatting

#22821 [MODULAR] Fixes flashlights getting a cell overlay added to them when they do not have a cell overlay
  modular_skyrat/modules/cell_component/code/flashlight.dm
Labels: Fix

#22777 Borer removed from uplink and OPFOR panel
  modular_skyrat/modules/opposing_force/code/equipment/utility.dm
  modular_skyrat/modules/skyrat-uplinks/code/categories/dangerous.dm
Labels: Removal

#22788 Adds a new crutch item to the loadout menu and medbay vendor.
  modular_skyrat/master_files/code/game/objects/items/stacks/sheets/sheet_types.dm
  modular_skyrat/master_files/icons/mob/inhands/melee_lefthand.dmi
  modular_skyrat/master_files/icons/mob/inhands/melee_righthand.dmi
  modular_skyrat/master_files/icons/obj/staff.dmi
  modular_skyrat/modules/customization/game/objects/items/devices/crutch.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_inhands.dm
  modular_skyrat/modules/modular_vending/code/medical.dm
  tgstation.dme
Labels: Feature, Sprites, Good First PR

#22522 [MODULAR] Robust Adult Pref Checking
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/strapon.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_helpers/pref_checking.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/dildo.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/fleshlight.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/kinky_shocker.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/leather_whip.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/magic_wand.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/shibari.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/spanking_pad.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/torture_candle.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/vibrator.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_structures/shibari_stand.dm
  tgstation.dme
Labels: Administration, Test Merged

#22063 [MOSTLY MODULAR] NIFSoft HUDs
  code/__DEFINES/~skyrat_defines/traits.dm
  code/modules/research/techweb/all_nodes.dm
  modular_skyrat/modules/modular_implants/code/misc_devices.dm
  modular_skyrat/modules/modular_implants/code/nif_research.dm
  modular_skyrat/modules/modular_implants/code/nifs.dm
  modular_skyrat/modules/modular_implants/code/nifsofts/huds.dm
  tgstation.dme
Labels: Feature

#22409 [MODULAR] Dynamic threat/midround calculation
  modular_skyrat/master_files/code/game/gamemodes/dynamic.dm
  modular_skyrat/master_files/code/game/gamemodes/dynamic/dynamic_rulesets_midround.dm
  modular_skyrat/modules/ices_events/code/ICES_event_config.dm
  tgstation.dme
Labels: Config Update

#21998 [MODULAR] Marked One Changes Part 5: bargain bin edition no. 2
  modular_skyrat/modules/gladiator/code/game/objects/items/gladiator_items.dm
  modular_skyrat/modules/gladiator/code/modules/mob/living/simple_animal/hostile/megafauna/markedone.dm
Labels: Balance, Fix

#22822 Ghost Cafe Unradioing Vol. 4
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  modular_skyrat/modules/modular_vending/code/wardrobes.dm
Labels: Fix, Map Modification

#22627 voidrap airlock access change
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Fix, Map Modification

#22829 Horny
  modular_skyrat/master_files/icons/mob/sprite_accessory/horns_big.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/horns.dm
Labels: Feature, Sprites

#22625 Hemophagus, The Hemophage Revamp, Part Four: Blood Depravity
  code/__DEFINES/~skyrat_defines/signals.dm
  code/_globalvars/bitfields.dm
  code/modules/surgery/organs/internal/stomach/_stomach.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/hemophage.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/hemophage/_hemophage_defines.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/hemophage/_organ_corruption.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/hemophage/atrophied_lungs.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/hemophage/corrupted_liver.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/hemophage/corrupted_stomach.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/hemophage/corrupted_tongue.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/hemophage/hemophage_actions.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/hemophage/hemophage_organs.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/hemophage/hemophage_species.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/hemophage/hemophage_status_effects.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/hemophage/hemophage_tumor.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/hemophage/tumor_corruption.dm
  tgstation.dme
Labels: Feature, Fix, Code Improvement, Refactor, Quality of Life

#22853 Fixes revolver losing ammo capacity with each reload (modular version)
  code/modules/projectiles/guns/ballistic.dm
  modular_skyrat/modules/gunsgalore/code/guns/ballistic_master.dm
Labels: Fix

#22631 [MANUAL MIRROR] Robotic organ and disease improvements
  code/__DEFINES/~skyrat_defines/synth_defines.dm
  code/datums/components/infective.dm
  code/datums/diseases/_MobProcs.dm
  code/datums/diseases/_disease.dm
  code/datums/diseases/advance/floor_diseases/carpellosis.dm
  code/datums/diseases/advance/floor_diseases/gastritium.dm
  code/datums/diseases/advance/floor_diseases/nebula_nausea.dm
  code/datums/diseases/advance/symptoms/choking.dm
  code/datums/diseases/advance/symptoms/cough.dm
  code/datums/diseases/advance/symptoms/deafness.dm
  code/datums/diseases/advance/symptoms/dizzy.dm
  code/datums/diseases/advance/symptoms/heal.dm
  code/datums/diseases/advance/symptoms/oxygen.dm
  code/datums/diseases/advance/symptoms/sensory.dm
  code/datums/diseases/advance/symptoms/sneeze.dm
  code/datums/diseases/advance/symptoms/symptoms.dm
  code/datums/diseases/advance/symptoms/vision.dm
  code/datums/diseases/advance/symptoms/voice_change.dm
  code/datums/diseases/advance/symptoms/vomit.dm
  code/datums/diseases/advance/symptoms/weight.dm
  code/datums/diseases/brainrot.dm
  code/datums/diseases/cold.dm
  code/datums/diseases/cold9.dm
  code/datums/diseases/death_sandwich_poisoning.dm
  code/datums/diseases/flu.dm
  code/datums/diseases/fluspanish.dm
  code/datums/diseases/heart_failure.dm
  code/datums/diseases/parasitic_infection.dm
  code/datums/diseases/pierrot_throat.dm
  code/datums/diseases/tuberculosis.dm
  code/datums/diseases/wizarditis.dm
  code/datums/elements/earhealing.dm
  code/modules/antagonists/changeling/powers/tiny_prick.dm
  code/modules/food_and_drinks/machinery/smartfridge.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/reagents/chemistry/reagents/atmos_gas_reagents.dm
  code/modules/reagents/chemistry/reagents/drinks/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  code/modules/surgery/organs/_organ.dm
  code/modules/surgery/organs/internal/_internal_organ.dm
  modular_skyrat/master_files/icons/obj/surgery.dmi
  modular_skyrat/modules/synths/code/bodyparts/brain.dm
  modular_skyrat/modules/synths/code/bodyparts/ears.dm
  modular_skyrat/modules/synths/code/bodyparts/eyes.dm
  modular_skyrat/modules/synths/code/bodyparts/heart.dm
  modular_skyrat/modules/synths/code/bodyparts/limbs.dm
  modular_skyrat/modules/synths/code/bodyparts/liver.dm
  modular_skyrat/modules/synths/code/bodyparts/lungs.dm
  modular_skyrat/modules/synths/code/bodyparts/stomach.dm
  modular_skyrat/modules/synths/code/bodyparts/tongue.dm
  modular_skyrat/modules/synths/code/species/synthetic.dm
  strings/tips.txt
Labels: Feature, Fix, Code Improvement, Sprites, Test Merged

#22870 assigns the 'm45a5' (reps pistol) to nanotrasen
  modular_skyrat/modules/manufacturer_examine/code/gun_company_additions.dm
Labels: Fix

#22832 [SPRITING] Tesheari Mk II, Bird Fluff Improvements
  modular_skyrat/master_files/icons/mob/sprite_accessory/ears.dmi
  modular_skyrat/master_files/icons/mob/sprite_accessory/moth_fluff.dmi
  modular_skyrat/master_files/icons/mob/sprite_accessory/wings.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/ears.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/fluff.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/wings.dm
Labels: Fix, Sprites

#22816 mcr bugfix pr - makes camos work. does not do much else at the moment
  modular_skyrat/modules/microfusion/code/microfusion_energy_master.dm
Labels: Fix

#22876 Fixes strange rocks appearing as black squares in the rock
  code/modules/unit_tests/turf_icons.dm
  modular_skyrat/modules/xenoarch/code/modules/research/xenoarch/strange_rock.dm
Labels: Fix

#22818 [MODULAR] Contractor Nerfs II: I Still Know What You Did Last Summer
  modular_skyrat/modules/contractor/code/datums/contractor_items.dm
  modular_skyrat/modules/contractor/code/items/modsuit/theme.dm
Labels: Balance, GBP: No Update

#22493 Company Imports: Affordable Handguns Addition and Tweaks
  modular_skyrat/modules/company_imports/code/armament_datums/bolt_nanotrasen_firearms.dm
  modular_skyrat/modules/company_imports/code/armament_datums/deforest_medical.dm
  modular_skyrat/modules/company_imports/code/armament_datums/nri_military_surplus.dm
Labels: Feature, Balance

#22564 [REFACTOR] Pixel Shift Component
  code/__DEFINES/~skyrat_defines/keybindings.dm
  code/__DEFINES/~skyrat_defines/living.dm
  code/datums/keybinding/mob.dm
  code/modules/mob/mob_movement.dm
  modular_skyrat/master_files/code/datums/keybinding/mob.dm
  modular_skyrat/master_files/code/modules/mob/living/living.dm
  modular_skyrat/master_files/code/modules/mob/living/living_movement.dm
  modular_skyrat/modules/pixel_shift/code/pixel_shift.dm
  modular_skyrat/modules/pixel_shift/code/pixel_shift_component.dm
  modular_skyrat/modules/pixel_shift/code/pixel_shift_keybind.dm
  modular_skyrat/modules/pixel_shift/code/pixel_shift_mob.dm
  modular_skyrat/modules/pixel_shift/readme.md
  tgstation.dme
Labels: Refactor, Test Merged

#22880 Fixes hospital gown build cost
  code/modules/research/designs/medical_designs.dm
  modular_skyrat/modules/medical_designs/medical_designs.dm
  tgstation.dme
Labels: Fix

#22900 [MODULAR] Fixes loadout greyscale color selection
  modular_skyrat/modules/loadouts/loadout_ui/loadout_manager.dm
Labels: Fix

#22750 [MODULAR] Adult sound prefs
  modular_skyrat/master_files/code/modules/client/preferences/erp_preferences.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_arousal/climax.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/ballgag.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/bdsm_mask.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/corset.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/deprivation_helmet.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/kinky_sleepbag.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/strapon.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_helpers/misc.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_helpers/sounds.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/_masturbation_item.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/attachable_vibrator.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/condom.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/dildo.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/feather.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/fleshlight.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/kinky_shocker.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/leather_whip.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/magic_wand.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/shibari.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/spanking_pad.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/torture_candle.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/vibrator.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/vibroring.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_structures/bdsm_furniture.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/skyrat/erp_preferences.tsx
Labels: Code Improvement, Test Merged, Quality of Life

#22890 Reverts our modular changes to weight and min players for vines in the vines_event file
  code/modules/events/space_vines/vine_event.dm
  modular_skyrat/modules/ices_events/code/ICES_event_config.dm
Labels: Config Update, Revert

#22145 [SEMI-MODULAR] Roundstart delam panic button
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  _maps/skyrat/automapper/automapper_config.toml
  _maps/skyrat/automapper/templates/birdshot/birdshot_supermatter.dmm
  _maps/skyrat/automapper/templates/deltastation/deltastation_supermatter.dmm
  _maps/skyrat/automapper/templates/icebox/icebox_supermatter.dmm
  _maps/skyrat/automapper/templates/metastation/metastation_supermatter.dmm
  _maps/skyrat/automapper/templates/northstar/northstar_supermatter.dmm
  _maps/skyrat/automapper/templates/tramstation/tramstation_supermatter.dmm
  code/__DEFINES/~skyrat_defines/events.dm
  code/__DEFINES/~skyrat_defines/signals.dm
  code/modules/admin/admin_verbs.dm
  code/modules/power/supermatter/supermatter.dm
  code/modules/power/supermatter/supermatter_delamination/_sm_delam.dm
  modular_skyrat/modules/airlock_override/code/airlock_override.dm
  modular_skyrat/modules/delam_emergency_stop/README.md
  modular_skyrat/modules/delam_emergency_stop/code/admin_scram.dm
  modular_skyrat/modules/delam_emergency_stop/code/delam.dm
  modular_skyrat/modules/delam_emergency_stop/code/scram.dm
  modular_skyrat/modules/delam_emergency_stop/icons/scram.dmi
  tgstation.dme
Labels: Feature, Sprites, Test Merged, Stale-b-gone, Map Modification

#22902 [MODULAR] Damage Tracker Component
  modular_skyrat/master_files/code/datums/components/damage_tracker.dm
  modular_skyrat/master_files/code/modules/client/preferences.dm
  tgstation.dme
Labels: Code Improvement

#22778 Adds G17, MK58, and Model 23 to NT Bolt
  modular_skyrat/modules/company_imports/code/armament_datums/bolt_nanotrasen_firearms.dm
Labels: Feature

#22825 [MODULAR] Sight Pref Check
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_helpers/pref_checking.dm
Labels: Code Improvement

#22959 Fixes quirk examine text duplicating itself for each quirk the mob has
  code/datums/quirks/_quirk.dm
Labels: Fix

#22974 [MODULAR] Duffelbag Reworks, SR Extension
  modular_skyrat/master_files/icons/mob/clothing/back.dmi
  modular_skyrat/master_files/icons/mob/inhands/clothing/backpack_lefthand.dmi
  modular_skyrat/master_files/icons/mob/inhands/clothing/backpack_righthand.dmi
  modular_skyrat/master_files/icons/obj/clothing/backpacks.dmi
  modular_skyrat/modules/blueshield/code/clothing.dm
  modular_skyrat/modules/customization/modules/clothing/storage/backpacks.dm
  modular_skyrat/modules/goofsec/code/sec_clothing_overrides.dm
Labels: Sprites

#22977 Fix airlock lighting
  modular_skyrat/modules/aesthetics/airlock/code/airlock.dm
Labels: Fix

#23014 [MISSED MIRROR] Setting a few things straight with embedding and caseless ammo. (#77450)
  code/__DEFINES/dcs/signals/signals_object.dm
  code/datums/elements/caseless.dm
  code/datums/elements/embed.dm
  code/game/objects/items/robot/items/food.dm
  code/modules/mod/modules/modules_supply.dm
  code/modules/projectiles/guns/ballistic/bows/bow_arrows.dm
  code/modules/projectiles/guns/ballistic/bows/bow_quivers.dm
  code/modules/projectiles/projectile/bullets/foam_dart.dm
  code/modules/projectiles/projectile/bullets/rifle.dm
Labels: Fix, Quality of Life

#23013 [MISSED MIRROR] Martian Food: A Taste of the Red Planet (#75988)
  code/__DEFINES/construction.dm
  code/game/machinery/computer/orders/order_items/cook/order_milk_eggs.dm
  code/game/machinery/computer/orders/order_items/cook/order_reagents.dm
  code/game/machinery/computer/orders/order_items/cook/order_veggies.dm
  code/game/objects/items/food/martian.dm
  code/game/objects/items/food/meatdish.dm
  code/game/objects/items/food/packaged.dm
  code/game/objects/items/food/snacks.dm
  code/game/objects/items/trash.dm
  code/modules/autowiki/pages/soup.dm
  code/modules/food_and_drinks/machinery/stove.dm
  code/modules/food_and_drinks/recipes/drinks/drinks_alcoholic.dm
  code/modules/food_and_drinks/recipes/food_mixtures.dm
  code/modules/food_and_drinks/recipes/soup_guide.dm
  code/modules/food_and_drinks/recipes/soup_mixtures.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_guide.dm
  code/modules/food_and_drinks/recipes/tablecraft/recipes_martian.dm
  code/modules/reagents/chemistry/machinery/chem_dispenser.dm
  code/modules/reagents/chemistry/reagents/drinks/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/drinks/drink_reagents.dm
  code/modules/reagents/chemistry/reagents/drinks/glass_styles/alcohol.dm
  code/modules/reagents/chemistry/reagents/drinks/glass_styles/dairy.dm
  code/modules/reagents/chemistry/reagents/drinks/glass_styles/mixed_alcohol.dm
  code/modules/reagents/chemistry/reagents/drinks/glass_styles/sodas.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/reagents/reagent_containers/condiment.dm
  code/modules/reagents/reagent_containers/cups/glassbottle.dm
  code/modules/reagents/reagent_containers/cups/soda.dm
  code/modules/vending/boozeomat.dm
  code/modules/vending/cola.dm
  code/modules/vending/snack.dm
  icons/obj/drinks/bottles.dmi
  icons/obj/drinks/boxes.dmi
  icons/obj/drinks/drinks.dmi
  icons/obj/drinks/mixed_drinks.dmi
  icons/obj/drinks/soda.dmi
  icons/obj/food/canned.dmi
  icons/obj/food/containers.dmi
  icons/obj/food/food.dmi
  icons/obj/food/frozen_treats.dmi
  icons/obj/food/martian.dmi
  icons/obj/service/janitor.dmi
  tgstation.dme
Labels: Fix, Sprites

#22961 [MODULAR] Moves race drink mood event datum to modular
  code/datums/mood_events/drink_events.dm
  modular_skyrat/master_files/code/datums/mood_events/drink_events.dm
  tgstation.dme
Labels: Fix

#22933 [MODULAR] Modularized Interlink Loading
  _maps/_basemap.dm
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  code/__DEFINES/maps.dm
  modular_skyrat/modules/mapping/code/interlink_helper.dm
  tgstation.dme
Labels: Refactor, Map Modification

#22828 Makes certain organs properly unremovable
  code/__DEFINES/~skyrat_defines/obj_flags.dm
  code/modules/surgery/organ_manipulation.dm
  modular_skyrat/modules/customization/modules/surgery/organs/genitals.dm
Labels: Fix

#23015 [s] removes plushie
  modular_skyrat/modules/customization/game/objects/items/plushes.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_toys.dm
Labels: Removal

#22712 A tail of Australian Shepherd tails and Harpy Wings (new sprites)
  modular_skyrat/master_files/icons/mob/sprite_accessory/tails.dmi
  modular_skyrat/master_files/icons/mob/sprite_accessory/wings.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/tails.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/wings.dm
Labels: Feature, Sprites

#22994 [MODULAR] Fixes language not respecting prefs, again
  modular_skyrat/master_files/code/modules/language/language_holder.dm
Labels: Fix, Test Merged

#22869 [MODULAR] Claws Quirk
  code/modules/mob/living/carbon/human/_species.dm
  modular_skyrat/master_files/code/datums/traits/good.dm
  modular_skyrat/master_files/code/modules/surgery/bodyparts/_bodyparts.dm
  tgstation.dme
Labels: Feature

#23051 [MODULAR] Fixes digi coroner labcoat sprite
  modular_skyrat/master_files/icons/mob/clothing/suits/labcoat_digi.dmi
Labels: Fix, Sprites

#23025 Makes the global ban option the default selected option
  code/modules/admin/sql_ban_system.dm
Labels: Administration

#22993 Fixes .416 Stabilis tranquilizer bullets. They put you to sleep once again [MDB IGNORE]
  modular_skyrat/modules/aesthetics/guns/code/guns.dm
  modular_skyrat/modules/bulletrebalance/code/sniper.dm
Labels: Fix

#23108 Various related bolt action rifle changes
  code/__DEFINES/~skyrat_defines/manufacturer_strings.dm
  code/modules/cargo/packs/imports.dm
  modular_skyrat/master_files/code/modules/cargo/markets/market_items/weapons.dm
  modular_skyrat/modules/aesthetics/guns/code/guns.dm
  modular_skyrat/modules/aesthetics/guns/icons/guns.dmi
  modular_skyrat/modules/cargo/code/packs.dm
  modular_skyrat/modules/manufacturer_examine/code/gun_company_additions.dm
  modular_skyrat/modules/modular_weapons/code/autolathe_designs.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/xhihao_light_arms/ammo.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/xhihao_light_arms/guns.dm
  modular_skyrat/modules/modular_weapons/code/conversion_kits.dm
  modular_skyrat/modules/modular_weapons/code/modular_projectiles.dm
  modular_skyrat/modules/modular_weapons/icons/obj/company_and_or_faction_based/cases.dmi
  modular_skyrat/modules/modular_weapons/icons/obj/company_and_or_faction_based/xhihao_light_arms/ammo.dmi
  modular_skyrat/modules/modular_weapons/icons/obj/company_and_or_faction_based/xhihao_light_arms/guns40x.dmi
  tgstation.dme
Labels: Balance, Sprites, Grammar and Formatting

#23069 makes piru dough a reaction and not a crafting recipe
  modular_skyrat/modules/customization/datums/components/crafting/teshari_recipes.dm
Labels: Fix

#23097 Fixes mapped rusted wall and reniforced wall being uncleanable
  modular_skyrat/modules/aesthetics/walls/code/walls.dm
Labels: Fix

#23152 [MISSED MIRROR] Moves the botanogenetic shears to the botany node and locks it behind a botany experiment (#67363)
  code/modules/experisci/experiment/experiments.dm
  code/modules/research/techweb/all_nodes.dm
Labels: Upstream PR Merged, Balance, GBP: No Update, Manual Mirror

#23153 [MISSED MIRROR] fixes generic tanks not being printable (#72743)
  code/modules/research/techweb/all_nodes.dm
Labels: Fix

#23155 [MISSED MIRROR] Add pickaxe to basic tools techweb (#72938)
  code/modules/research/techweb/all_nodes.dm
Labels: Quality of Life

#23164 Removes duplicate emote overlays
  modular_skyrat/master_files/icons/effects/overlay_effects.dmi
  modular_skyrat/modules/emotes/code/additionalemotes/overlay_emote.dm
Labels: Fix, Removal, Sprites

#22975 seven slot medkits as god intended - removes splints, returns splinting behavior to gauze
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_icewalker_den.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/shuttle8532.dmm
  code/__DEFINES/wounds.dm
  code/game/objects/items/stacks/medical.dm
  code/game/objects/items/storage/medkit.dm
  modular_skyrat/modules/company_imports/code/armament_datums/deforest_medical.dm
  modular_skyrat/modules/exp_corps/code/gear.dm
  modular_skyrat/modules/medical/code/bodypart.dm
  modular_skyrat/modules/medical/code/bodypart_aid.dm
  modular_skyrat/modules/medical/code/carbon_examine.dm
  modular_skyrat/modules/medical/code/crafting_recipes.dm
  modular_skyrat/modules/medical/code/medical_stacks.dm
  modular_skyrat/modules/medical/code/splint.dm
  modular_skyrat/modules/medical/icons/stack_medical.dmi
  modular_skyrat/modules/modular_ert/code/trauma_team/trauma_team_outfit.dm
  tgstation.dme
Labels: Balance, Removal, Sprites, Grammar and Formatting, Quality of Life, Map Modification

#22534 [MISSED MIRROR] Loads Away Missions for Unit Testing (#76245)
  _maps/RandomRuins/IceRuins/icemoon_surface_engioutpost.dmm
  _maps/RandomRuins/IceRuins/icemoon_underground_library.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_elephant_graveyard.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_gaia.dmm
  _maps/RandomRuins/LavaRuins/lavaland_surface_syndicate_base1.dmm
  _maps/RandomRuins/SpaceRuins/allamericandiner.dmm
  _maps/RandomRuins/SpaceRuins/bigderelict1.dmm
  _maps/RandomRuins/SpaceRuins/dangerous_research.dmm
  _maps/RandomRuins/SpaceRuins/derelict_sulaco.dmm
  _maps/RandomRuins/SpaceRuins/infested_frigate.dmm
  _maps/RandomRuins/SpaceRuins/interdyne.dmm
  _maps/RandomRuins/SpaceRuins/oldstation.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/waypointstation.dmm
  _maps/RandomRuins/SpaceRuins/space_ghost_restaurant.dmm
  _maps/RandomRuins/SpaceRuins/spacehotel.dmm
  _maps/RandomRuins/SpaceRuins/the_faceoff.dmm
  _maps/RandomRuins/SpaceRuins/thelizardsgas.dmm
  _maps/RandomRuins/SpaceRuins/waystation.dmm
  _maps/RandomZLevels/TheBeach.dmm
  _maps/RandomZLevels/blackmesa.dmm
  _maps/RandomZLevels/moonoutpost19.dmm
  _maps/RandomZLevels/mothership_astrum.dmm
  _maps/RandomZLevels/research.dmm
  _maps/RandomZLevels/research2.dmm
  _maps/RandomZLevels/snowdin.dmm
  _maps/gateway_test.json
  _maps/map_files/debug/gateway_test.dmm
  _maps/shuttles/emergency_casino.dmm
  _maps/shuttles/emergency_lance.dmm
  _maps/shuttles/emergency_monastery.dmm
  _maps/shuttles/emergency_shadow.dmm
  _maps/shuttles/emergency_tranquility.dmm
  _maps/shuttles/pirate_grey.dmm
  _maps/shuttles/ruin_cyborg_mothership.dmm
  _maps/shuttles/whiteship_pubby.dmm
  code/__DEFINES/admin.dm
  code/controllers/subsystem/mapping.dm
  code/datums/map_config.dm
  code/game/area/areas/misc.dm
  code/game/objects/effects/landmarks.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/mapping.dm
  code/modules/awaymissions/mission_code/moonoutpost19.dm
  code/modules/awaymissions/zlevel.dm
  code/modules/unit_tests/~skyrat/automapper.dm
  config/maps.txt
  modular_skyrat/master_files/code/game/objects/effects/decals/remains.dm
  modular_skyrat/modules/automapper/code/area_spawn_entries.dm
  modular_skyrat/modules/automapper/code/area_spawn_subsystem.dm
  modular_skyrat/modules/clock_cult/code/components/structure_info_element.dm
  modular_skyrat/modules/clock_cult/code/research/clockwork_research.dm
  modular_skyrat/modules/decay_subsystem/code/decaySS.dm
Labels: Map Modification

#23215 Fixes ass slap overlay
  modular_skyrat/modules/emotes/code/emotes.dm
Labels: Fix

#23198 makes combat info more accurate (again)
  code/__DEFINES/melee.dm
  code/__DEFINES/~skyrat_defines/mobs.dm
  code/modules/mob/living/carbon/human/human_defines.dm
Labels: Fix, Code Improvement

#23090 Primitive cooking additions.
  code/__HELPERS/global_lists.dm
  code/game/objects/items/stacks/sheets/mineral.dm
  icons/obj/stack_objects.dmi
  modular_skyrat/modules/primitive_production/code/ceramics.dm
  modular_skyrat/modules/primitive_production/icons/prim_fun.dmi
Labels: Feature, Sprites

#23213 [MODULAR] Fixes siphon vents in modular maps
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_syndicate_base1_skyrat.dmm
  _maps/RandomRuins/LavaRuins/skyrat/lavaland_surface_syndicate_base1_skyrat.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/interdynefob.dmm
Labels: Fix, Map Modification

#23232 Removes Obsolete, Unused, and Unmaintained overrides
  code/game/machinery/suit_storage_unit.dm
  code/game/objects/items/devices/camera_bug.dm
  code/game/objects/items/devices/desynchronizer.dm
  code/game/objects/items/devices/gps.dm
  code/game/objects/items/devices/multitool.dm
  code/game/objects/items/storage/bags.dm
  code/modules/mining/equipment/lazarus_injector.dm
  code/modules/mining/equipment/mineral_scanner.dm
  code/modules/paperwork/folders.dm
  code/modules/paperwork/handlabeler.dm
  code/modules/photography/camera/camera.dm
  code/modules/power/lighting/light.dm
  code/modules/projectiles/guns/energy/energy_gun.dm
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
  code/modules/projectiles/guns/energy/laser.dm
  code/modules/projectiles/guns/energy/special.dm
  icons/obj/medical/surgery_table.dmi
  modular_skyrat/modules/SEVA_suit/code/seva_obj.dm
  modular_skyrat/modules/aesthetics/guns/code/guns.dm
  modular_skyrat/modules/aesthetics/guns/icons/energy.dmi
  modular_skyrat/modules/aesthetics/lights/code/lighting.dm
  modular_skyrat/modules/aesthetics/lights/icons/lighting.dmi
  modular_skyrat/modules/aesthetics/lights/icons/lighting_overlay.dmi
  modular_skyrat/modules/aesthetics/lights/icons/lights_lefthand.dmi
  modular_skyrat/modules/aesthetics/lights/icons/lights_righthand.dmi
  modular_skyrat/modules/aesthetics/surgery/surgery.dm
  modular_skyrat/modules/aesthetics/surgery/surgery.dmi
  modular_skyrat/modules/aesthetics/syringe/syringe.dm
  modular_skyrat/modules/aesthetics/syringe/syringe.dmi
  modular_skyrat/modules/gun_safety/code/safety_additions.dm
  tgstation.dme
Labels: Removal, Sprites

#23156 [MODULAR] Moves techweb all_nodes.dm edits to modular
  code/modules/research/techweb/all_nodes.dm
  modular_skyrat/master_files/code/modules/research/techweb/all_nodes.dm
Labels: Refactor

#23116 contractor mod now protects underclothes, ft. typo fixes
  code/modules/unit_tests/screenshots/screenshot_antag_icons_driftingcontractor.png
  modular_skyrat/master_files/code/modules/clothing/under/syndicate.dm
  modular_skyrat/modules/contractor/code/items/modsuit/theme.dm
  modular_skyrat/modules/loadouts/loadout_items/under/donator.dm
Labels: Fix, Grammar and Formatting

#23072 another day another ammo-related pr: RMB ejects, killing off a runtime, fixing an ammo issue
  _maps/RandomZLevels/blackmesa.dmm
  code/__DEFINES/~skyrat_defines/projectiles.dm
  modular_skyrat/modules/aesthetics/guns/code/guns.dm
  modular_skyrat/modules/ammo_workbench/code/ammo_workbench.dm
  modular_skyrat/modules/black_mesa/code/m16_variations.dm
  modular_skyrat/modules/black_mesa/code/mobs/human_mobs.dm
  modular_skyrat/modules/black_mesa/code/projectiles.dm
  modular_skyrat/modules/gunsgalore/code/guns/m16.dm
  modular_skyrat/modules/modular_weapons/code/modular_projectiles.dm
Labels: Fix, Quality of Life, Map Modification

#23273 [MODULAR] Fixes microfusion suppressor path
  modular_skyrat/modules/company_imports/code/objects/microstar/mcr_attachment_kits.dm
  modular_skyrat/modules/microfusion/code/gun_types.dm
  modular_skyrat/modules/microfusion/code/microfusion_energy_master.dm
  modular_skyrat/modules/microfusion/code/microfusion_gun_attachments.dm
Labels: Fix

#23261 [MODULAR] Fixes ashen arrows not applying the damage bonus to certain mobs
  modular_skyrat/modules/tribal_extended/code/ammo/reusable/arrow.dm
Labels: Fix

#22951 epic squad hospital corpsman gameplay - adds pocket-fitting first-aid pouches to cargo
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/defcon2.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/defcon3.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/defcon4.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/defcon5.dmm
  _maps/RandomZLevels/blackmesa.dmm
  _maps/shuttles/skyrat/slaver_syndie.dmm
  modular_skyrat/modules/assault_operatives/code/armaments/armament_medical.dm
  modular_skyrat/modules/assault_operatives/code/armaments/armament_utility.dm
  modular_skyrat/modules/assault_operatives/code/equipment_items/misc_items.dm
  modular_skyrat/modules/black_mesa/code/armaments/armament_medical.dm
  modular_skyrat/modules/black_mesa/code/armaments/armament_utility.dm
  modular_skyrat/modules/cargo/code/goodies.dm
  modular_skyrat/modules/cargo/code/packs.dm
  modular_skyrat/modules/clock_cult/code/items/weaponry.dm
  modular_skyrat/modules/clock_cult/code/outfit.dm
  modular_skyrat/modules/encounters/code/nri_raiders.dm
  modular_skyrat/modules/exp_corps/code/expeditionary_trooper.dm
  modular_skyrat/modules/exp_corps/code/gear.dm
  modular_skyrat/modules/mapping/code/lockers/cargodiselost/cargodiselockers.dm
  modular_skyrat/modules/mapping/code/shuttles.dm
  modular_skyrat/modules/medical/code/wounds/burns.dm
  modular_skyrat/modules/modular_items/code/bags.dm
  modular_skyrat/modules/modular_items/icons/storage.dmi
  modular_skyrat/modules/modular_vending/code/engivend.dm
  modular_skyrat/modules/modular_vending/code/security.dm
  modular_skyrat/modules/sec_haul/code/guns/gunsets.dm
  modular_skyrat/modules/skyrat-uplinks/code/categories/device_tools.dm
  tools/UpdatePaths/Scripts_Skyrat/22951_medpen_bag_to_pouch.txt
Labels: Feature, Sprites, Map Modification

#23285 [MISSED MIRROR] Janitors and Shaft Miners start with the ExperTrak Skill Tracker preinstalled on their PDAs. (#71022)
  code/modules/modular_computers/computers/item/role_tablet_presets.dm
Labels: Quality of Life

#23223 [MODULAR] Modify evac shuttle meteor event
  modular_skyrat/master_files/code/modules/shuttle/shuttle_events/meteors.dm
  tgstation.dme
Labels: GBP: No Update, Headmin Request

#23279 Adds the Emergency Tether to the Engineering Modsuit
  code/modules/mod/mod_types.dm
Labels: Quality of Life

#23247 [MODULAR] Fixes some edge cases with chaplain religion resetting
  modular_skyrat/master_files/code/datums/mind/_mind.dm
  modular_skyrat/master_files/code/modules/religion/religious_sects.dm
  modular_skyrat/modules/cryosleep/code/cryopod.dm
  tgstation.dme
Labels: Fix

#23345 Removes heads of security spawning with a super glockinator, because they get a compact combat shotgun in their locker now and the glock is quite excessive
  code/modules/jobs/job_types/head_of_security.dm
Labels: Balance, Removal

#22679 NRI/CIN Precursor Food Replicator
  _maps/shuttles/skyrat/pirate_nri_raider.dmm
  modular_skyrat/modules/cargo/code/packs.dm
  modular_skyrat/modules/company_imports/code/armament_datums/nri_military_surplus.dm
  modular_skyrat/modules/food_replicator/code/clothing.dm
  modular_skyrat/modules/food_replicator/code/medical.dm
  modular_skyrat/modules/food_replicator/code/rationpacks.dm
  modular_skyrat/modules/food_replicator/code/reagents.dm
  modular_skyrat/modules/food_replicator/code/replicator.dm
  modular_skyrat/modules/food_replicator/code/replicator_designs/replicator_clothing.dm
  modular_skyrat/modules/food_replicator/code/replicator_designs/replicator_food.dm
  modular_skyrat/modules/food_replicator/code/replicator_designs/replicator_medical.dm
  modular_skyrat/modules/food_replicator/code/storage.dm
  modular_skyrat/modules/food_replicator/icons/biogenerator.dmi
  modular_skyrat/modules/food_replicator/icons/clothing.dmi
  modular_skyrat/modules/food_replicator/icons/clothing_digi.dmi
  modular_skyrat/modules/food_replicator/icons/clothing_worn.dmi
  modular_skyrat/modules/food_replicator/icons/medicine.dmi
  modular_skyrat/modules/food_replicator/icons/pouch.dmi
  modular_skyrat/modules/food_replicator/icons/rationpack.dmi
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/serviette.dm
  modular_skyrat/modules/novaya_ert/code/rationpacks.dm
  modular_skyrat/modules/novaya_ert/code/survival_pack.dm
  modular_skyrat/modules/novaya_ert/icons/rationpack.dmi
  tgstation.dme
Labels: Feature, Removal, Sprites, Test Merged, Map Modification

#23385 Changes contractor's modlink freq from NT to Syndicate
  modular_skyrat/modules/contractor/code/items/modsuit/modsuit.dm
Labels: Fix

#23384 [MODULAR] Updates species pay modifier to use upstream non-human pay modifier
  modular_skyrat/modules/better_vox/code/vox_species.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/akula.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/aquatic.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/dwarf.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/ghoul.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/humanoid.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/insect.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/lizard.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/mammal.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/placeholder_helper.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/podweak.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/skrell.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/tajaran.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/unathi.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/vox.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/vulpkanin.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/xeno.dm
  modular_skyrat/modules/synths/code/species/synthetic.dm
  modular_skyrat/modules/teshari/code/_teshari.dm
Labels: Fix

#23342 [MODULAR] Adds a new set of donator clothes
  modular_skyrat/master_files/icons/donator/mob/clothing/head.dmi
  modular_skyrat/master_files/icons/donator/mob/clothing/mask.dmi
  modular_skyrat/master_files/icons/donator/mob/clothing/suit.dmi
  modular_skyrat/master_files/icons/donator/mob/clothing/uniform.dmi
  modular_skyrat/master_files/icons/donator/mob/clothing/uniform_digi.dmi
  modular_skyrat/master_files/icons/donator/obj/clothing/hats.dmi
  modular_skyrat/master_files/icons/donator/obj/clothing/masks.dmi
  modular_skyrat/master_files/icons/donator/obj/clothing/suits.dmi
  modular_skyrat/master_files/icons/donator/obj/clothing/uniform.dmi
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
  modular_skyrat/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
Labels: Sprites

#23372 Donator item for Olirant - Janiborg Plush
  modular_skyrat/master_files/icons/obj/plushes.dmi
  modular_skyrat/modules/customization/game/objects/items/plushes.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_toys.dm
Labels: Feature, Sprites

#22676 [REFACTOR] Moves some Cargo-related stuff to master_files
  code/modules/cargo/exports/tools.dm
  code/modules/cargo/goodies.dm
  code/modules/cargo/orderconsole.dm
  code/modules/cargo/packs/general.dm
  code/modules/cargo/packs/security.dm
  code/modules/cargo/packs/service.dm
  code/modules/cargo/packs/vending_restock.dm
  modular_skyrat/master_files/code/modules/cargo/exports/tools.dm
  modular_skyrat/master_files/code/modules/cargo/goodies.dm
  modular_skyrat/master_files/code/modules/cargo/orderconsole.dm
  modular_skyrat/master_files/code/modules/cargo/packs/general.dm
  modular_skyrat/master_files/code/modules/cargo/packs/security.dm
  modular_skyrat/master_files/code/modules/cargo/packs/service.dm
  modular_skyrat/master_files/code/modules/cargo/packs/vending_restock.dm
  modular_skyrat/modules/cargo/code/packs.dm
  modular_skyrat/modules/cargo/readme.md
  modular_skyrat/modules/company_imports/code/readme.md
  modular_skyrat/modules/electric_welder/readme.md
  modular_skyrat/modules/sec_haul/code/misc/packs.dm
  modular_skyrat/modules/sec_haul/readme.md
  tgstation.dme
Labels: Refactor

#23244 Guncargo 2023 : I love the free market : No interest, no buying companies, no money down! : Cheaper literally everything
  code/modules/cargo/orderconsole.dm
  code/modules/shuttle/supply.dm
  modular_skyrat/modules/company_imports/code/armament_component.dm
  modular_skyrat/modules/company_imports/code/armament_datums/_armament_basetype.dm
  modular_skyrat/modules/company_imports/code/armament_datums/bolt_nanotrasen_firearms.dm
  modular_skyrat/modules/company_imports/code/armament_datums/deforest_medical.dm
  modular_skyrat/modules/company_imports/code/armament_datums/jarnsmiour.dm
  modular_skyrat/modules/company_imports/code/armament_datums/kahraman_industries.dm
  modular_skyrat/modules/company_imports/code/armament_datums/microstar_energy.dm
  modular_skyrat/modules/company_imports/code/armament_datums/nakamura_modsuits.dm
  modular_skyrat/modules/company_imports/code/armament_datums/nakamura_tools.dm
  modular_skyrat/modules/company_imports/code/armament_datums/nri_military_surplus.dm
  modular_skyrat/modules/company_imports/code/armament_datums/parent_armament.dm
  modular_skyrat/modules/company_imports/code/armament_datums/put_a_donk_on_it.dm
  modular_skyrat/modules/company_imports/code/armament_datums/vitezstvi_ammo.dm
  modular_skyrat/modules/company_imports/code/company_subsystem.dm
  modular_skyrat/modules/company_imports/code/datums/cargo_order.dm
  modular_skyrat/modules/company_imports/code/datums/cargo_pack.dm
  modular_skyrat/modules/company_imports/code/objects/cargo_console_and_case.dm
  modular_skyrat/modules/company_imports/icons/import_crate.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/CargoImportConsole.js
Labels: Balance, Fix, Removal, Sprites, Test Merged, Quality of Life

#22942 Acrador snouts and ears
  modular_skyrat/master_files/icons/mob/sprite_accessory/ears_big.dmi
  modular_skyrat/master_files/icons/mob/sprite_accessory/snouts.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/ears.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/snout.dm
Labels: Sprites

#23374 Removes excess right brackets from cryopod actions
  modular_skyrat/modules/cryosleep/code/cryopod.dm
Labels: Removal, Grammar and Formatting

#23314 Unique Operational Status Readout Module Death Sound
  modular_skyrat/modules/novaya_ert/code/mod_suit.dm
  modular_skyrat/modules/novaya_ert/sound/flatline.ogg
Labels: Sound

#23303 [MODULAR] Adds the scryer to the loadout attempt 2
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_neck.dm
Labels: Feature

#23409 Makes it harder to INITIAL D as snail
  modular_skyrat/master_files/code/modules/mob/living/carbon/human/species_type/snail.dm
Labels: Fix

#23216 Removes 'that' one (two actually) green NRI armor set(s)
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/head.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/suit.dmi
  modular_skyrat/master_files/icons/mob/clothing/suits/armor.dmi
  modular_skyrat/master_files/icons/obj/clothing/head/helmet.dmi
  modular_skyrat/master_files/icons/obj/clothing/suits/armor.dmi
  modular_skyrat/modules/novaya_ert/code/ert.dm
  modular_skyrat/modules/novaya_ert/code/head.dm
  modular_skyrat/modules/novaya_ert/code/outfit.dm
  modular_skyrat/modules/novaya_ert/code/suit.dm
  modular_skyrat/modules/opposing_force/code/equipment/clothing.dm
Labels: Sprites

#22863 NRI cops "antag" datum
  modular_skyrat/modules/encounters/code/nri_raiders.dm
Labels: Feature

#23425 [MODULAR] Gives sickle null rods sharpness
  modular_skyrat/master_files/code/game/objects/items/holy_weapons.dm
Labels: Fix

#23426 Fixes suffocation moodlet from liquids not being cleared after you stop drowning
  code/modules/mob/living/carbon/life.dm
Labels: Fix
