Repository Skyrat-SS13/Skyrat-tg, pull requests merged in 2023-10, with the labels that each got.

#24029 Fixes some runtimes with the pollution system
  code/modules/reagents/chemistry/holder.dm
Labels: Fix

#24080 [MODULAR] TG Aesthetic Revert
  modular_skyrat/modules/aesthetics/airalarm/code/airalarm.dm
  modular_skyrat/modules/aesthetics/firealarm/icons/firealarm.dmi
Labels: Sprites

#24119 Adds a table
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
Labels: Fix, Map Modification

#23988 Fixes gender and height offsets shaping on underwear, fixes gender shaping on jumpsuits
  code/__DEFINES/inventory.dm
  code/__DEFINES/~skyrat_defines/inventory.dm
  code/modules/mob/living/carbon/human/human_update_icons.dm
  modular_skyrat/master_files/code/modules/clothing/under/color.dm
  modular_skyrat/master_files/icons/mob/clothing/under/color_digi.dmi
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species.dm
Labels: Fix, Sprites

#24128 Generic/DS2/Departmental Guard ID cards
  modular_skyrat/master_files/code/datums/id_trim/jobs.dm
  modular_skyrat/master_files/code/game/objects/items/cards_ids.dm
  modular_skyrat/master_files/icons/obj/card.dmi
Labels: Sprites

#23733 [SEMI-MODULAR] [TEST-MERGE FIRST] Adds synth wounds and resets synth limb damage to 1x, other synth changes
  _maps/RandomRuins/LavaRuins/skyrat/lavaland_surface_syndicate_base1_skyrat.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/interdynefob.dmm
  code/__DEFINES/text.dm
  code/__DEFINES/wounds.dm
  code/controllers/subsystem/processing/quirks.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/reagents/chemistry/reagents/cat2_medicine_reagents.dm
  modular_skyrat/master_files/code/modules/jobs/job_types/roboticist.dm
  modular_skyrat/modules/medical/attributions.txt
  modular_skyrat/modules/medical/code/cargo/packs.dm
  modular_skyrat/modules/medical/code/medkit.dm
  modular_skyrat/modules/medical/code/sprays.dm
  modular_skyrat/modules/medical/code/wounds/muscle.dm
  modular_skyrat/modules/medical/code/wounds/synth/blunt/robotic_blunt.dm
  modular_skyrat/modules/medical/code/wounds/synth/blunt/robotic_blunt_T1.dm
  modular_skyrat/modules/medical/code/wounds/synth/blunt/robotic_blunt_T2.dm
  modular_skyrat/modules/medical/code/wounds/synth/blunt/robotic_blunt_T3.dm
  modular_skyrat/modules/medical/code/wounds/synth/blunt/secures_internals.dm
  modular_skyrat/modules/medical/code/wounds/synth/robotic_burns.dm
  modular_skyrat/modules/medical/code/wounds/synth/robotic_muscle.dm
  modular_skyrat/modules/medical/code/wounds/synth/robotic_pierce.dm
  modular_skyrat/modules/medical/code/wounds/synth/robotic_slash.dm
  modular_skyrat/modules/medical/code/wounds/wound_effects.dm
  modular_skyrat/modules/medical/readme.md
  modular_skyrat/modules/medical/sound/robotic_slash_T1.ogg
  modular_skyrat/modules/medical/sound/robotic_slash_T2.ogg
  modular_skyrat/modules/medical/sound/robotic_slash_T3.ogg
  modular_skyrat/modules/modular_vending/code/wardrobes.dm
  modular_skyrat/modules/synths/code/bodyparts/limbs.dm
  modular_skyrat/modules/synths/code/reagents/pill.dm
  modular_skyrat/modules/synths/code/species/synthetic.dm
  strings/wounds/metal_scar_desc.json
  tgstation.dme
Labels: Feature, Balance, Map Modification

#24125 [PORT] One Tail From Chomp
  modular_skyrat/master_files/icons/mob/sprite_accessory/tails_big.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/tails.dm
Labels: Sprites, Port

#24170 Dripshield - sprite touchups, mild armor value poking
  modular_skyrat/master_files/icons/mob/clothing/ears.dmi
  modular_skyrat/master_files/icons/mob/clothing/suits/armor.dmi
  modular_skyrat/master_files/icons/obj/clothing/suits/armor.dmi
  modular_skyrat/modules/blueshield/code/clothing.dm
  modular_skyrat/modules/blueshield/code/encryptionkey.dm
  modular_skyrat/modules/blueshield/icons/radio.dmi
Labels: Balance, Sprites

#24175 stray bullet stuff - renaming some .50 to .416, stopping 10mm reaper from being printed ahead of time
  modular_skyrat/modules/aesthetics/guns/code/guns.dm
  modular_skyrat/modules/sec_haul/code/guns/bullets.dm
Labels: Grammar and Formatting

#24174 pouch stuff - mild first aid pouch buff, repathing the medpen/CIN-replicator kit, casing pouch
  modular_skyrat/modules/clock_cult/code/items/weaponry.dm
  modular_skyrat/modules/exp_corps/code/gear.dm
  modular_skyrat/modules/food_replicator/code/replicator_designs/replicator_medical.dm
  modular_skyrat/modules/food_replicator/code/storage.dm
  modular_skyrat/modules/modular_items/code/bags.dm
  modular_skyrat/modules/modular_items/icons/storage.dmi
Labels: Feature, Balance, Fix, Sprites

#24204 Updates Forge Structures Sprites
  modular_skyrat/modules/reagent_forging/icons/obj/forge_structures.dmi
Labels: Sprites

#24118 Adds the Sol Patrol Cap and Sol Police Helmet to the security vendor
  modular_skyrat/master_files/icons/mob/clothing/head.dmi
  modular_skyrat/master_files/icons/mob/clothing/head/helmet.dmi
  modular_skyrat/master_files/icons/obj/clothing/hats.dmi
  modular_skyrat/master_files/icons/obj/clothing/head/helmet.dmi
  modular_skyrat/modules/cargo/code/packs.dm
  modular_skyrat/modules/customization/modules/clothing/head/head.dm
  modular_skyrat/modules/sec_haul/code/misc/vending.dm
Labels: Sprites

#24290 [MODULAR] Fixes a misplaced outfit override that adds bra var
  modular_skyrat/master_files/code/datums/outfit.dm
  modular_skyrat/modules/contractor/code/datums/outfit.dm
  tgstation.dme
Labels: Code Improvement

#24326 [MODULAR] Fixes an oversight with paper masks + adds action button
  modular_skyrat/master_files/icons/mob/clothing/mask.dmi
  modular_skyrat/modules/customization/modules/clothing/masks/breath.dm
  modular_skyrat/modules/customization/modules/clothing/masks/paper.dm
Labels: Fix, Sprites, Quality of Life

#24238 [MODULAR] [NO GBP] Donator reward for nikotheguydude
  modular_skyrat/master_files/code/modules/clothing/under/costume.dm
  modular_skyrat/master_files/icons/donator/mob/clothing/suit.dmi
  modular_skyrat/master_files/icons/donator/obj/clothing/suits.dmi
  modular_skyrat/master_files/icons/mob/clothing/suit.dmi
  modular_skyrat/master_files/icons/obj/clothing/suits.dmi
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
  modular_skyrat/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
Labels: Sprites, GBP: No Update

#24182 [MODULAR] Spooky Screams for Plasma Boys 2: The Re-Spoopening
  modular_skyrat/modules/emotes/code/dna_screams.dm
  modular_skyrat/modules/emotes/code/scream_datums.dm
Labels: Sound, Stale

#24345 [MODULAR] Moves Voidraptor disposals air alarm up a few pixels
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Fix, Map Modification

#23455 Updates a lot of security clothing, unifies a lot of the security blue colors that were all over the place, some other things
  _maps/shuttles/skyrat/pirate_nri_raider.dmm
  modular_skyrat/master_files/icons/mob/clothing/head.dmi
  modular_skyrat/master_files/icons/mob/clothing/head/helmet.dmi
  modular_skyrat/master_files/icons/mob/clothing/head/winterhood.dmi
  modular_skyrat/master_files/icons/mob/clothing/neck.dmi
  modular_skyrat/master_files/icons/mob/clothing/suit.dmi
  modular_skyrat/master_files/icons/mob/clothing/suits/armor.dmi
  modular_skyrat/master_files/icons/mob/clothing/suits/armor_digi.dmi
  modular_skyrat/master_files/icons/mob/clothing/suits/wintercoat.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/security.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/security_digi.dmi
  modular_skyrat/master_files/icons/obj/clothing/glasses.dmi
  modular_skyrat/master_files/icons/obj/clothing/neck.dmi
  modular_skyrat/master_files/icons/obj/clothing/suits.dmi
  modular_skyrat/master_files/icons/obj/clothing/suits/armor.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/security.dmi
  modular_skyrat/modules/cargo/code/packs.dm
  modular_skyrat/modules/command_vendor/code/vending.dm
  modular_skyrat/modules/customization/modules/clothing/head/head.dm
  modular_skyrat/modules/customization/modules/clothing/under/security.dm
  modular_skyrat/modules/goofsec/code/sec_clothing_overrides.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_heads.dm
  modular_skyrat/modules/loadouts/loadout_items/under/loadout_datum_under.dm
  modular_skyrat/modules/sec_haul/code/corrections_officer/corrections_officer.dm
  modular_skyrat/modules/sec_haul/code/corrections_officer/corrections_officer_equipment.dm
  modular_skyrat/modules/sec_haul/code/misc/vending.dm
  modular_skyrat/modules/sec_haul/code/peacekeeper/peacekeeper_clothing.dm
  tools/UpdatePaths/Scripts_Skyrat/16753_hats_repath.txt
Labels: Removal, Sprites, Map Modification

#24349 puts the SADs desc into an examine_more
  modular_skyrat/modules/self_actualization_device/code/self_actualization_device.dm
Labels: Quality of Life

#24372 [MISSED MIRROR] Adds file cycling for icon2base64 (#76395)
  code/__HELPERS/icons.dm
Labels: Fix

#24389 Fix announcements CSS
  code/__HELPERS/priority_announce.dm
  modular_skyrat/modules/alerts/code/priority_announce.dm
  tgstation.dme
Labels: Fix

#24385 puts the newly resprited peacekeeper uniform in the sec clothes vendor and loadout, bc i forgot
  modular_skyrat/modules/cargo/code/packs.dm
  modular_skyrat/modules/loadouts/loadout_items/under/loadout_datum_under.dm
  modular_skyrat/modules/sec_haul/code/misc/vending.dm
  modular_skyrat/modules/sec_haul/code/peacekeeper/peacekeeper_clothing.dm
Labels: Feature

#24394 [MODULAR] Fixes some pollution runtime spam
  modular_skyrat/modules/pollution/code/pollution.dm
Labels: Fix

#24392 [MODULAR] Fixes a nif related runtime with update_theme
  modular_skyrat/modules/modular_implants/code/nifsofts/soulcatcher.dm
  modular_skyrat/modules/modular_implants/code/soulcatcher/soulcatcher_component.dm
Labels: Fix

#23582 [MODULAR] Removes the 13 telecrystals contractors start with
  modular_skyrat/modules/contractor/code/datums/midround/outfit.dm
  modular_skyrat/modules/skyrat-uplinks/code/uplink_implant.dm
  tgstation.dme
Labels: Balance, Removal, Stale

#24375 interdyne - gives miners point cards, places sansufentanyl in the medical area
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_syndicate_base1_skyrat.dmm
  _maps/RandomRuins/LavaRuins/skyrat/lavaland_surface_syndicate_base1_skyrat.dmm
  modular_skyrat/modules/mapping/code/lavaland_ruin_code.dm
Labels: Quality of Life, Map Modification

#24415 Tram 24399 SR Hotfix [NO GBP]
  code/__DEFINES/transport.dm
Labels: Fix, GBP: No Update

#24351 [READY] CatEarHeadphones Donor item
  modular_skyrat/modules/GAGS/greyscale_configs.dm
  modular_skyrat/modules/GAGS/icons/head/catear_headphone.dmi
  modular_skyrat/modules/GAGS/icons/head/catear_headphone_inhand.dmi
  modular_skyrat/modules/GAGS/json_configs/head/catear_headphone/catear_headphone.json
  modular_skyrat/modules/GAGS/json_configs/head/catear_headphone/catear_headphone_worn.json
  modular_skyrat/modules/GAGS/json_configs/head/catear_headphone/catear_headphone_worn_inhand_left.json
  modular_skyrat/modules/GAGS/json_configs/head/catear_headphone/catear_headphone_worn_inhand_right.json
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_items.dm
  modular_skyrat/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
Labels: Sprites

#24440 [DONATOR] Dragon maid uniform
  modular_skyrat/master_files/icons/donator/mob/clothing/uniform.dmi
  modular_skyrat/master_files/icons/donator/obj/clothing/uniform.dmi
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
  modular_skyrat/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
Labels: Sprites

#24475 Make Centcom announcements a more masculine color
  tgui/packages/tgui-panel/styles/tgchat/chat-dark.scss
  tgui/packages/tgui-panel/styles/tgchat/chat-light.scss
Labels: Grammar and Formatting

#24472 [MODULAR] Re-Replaces Demonic Watcher Trophy
  modular_skyrat/master_files/code/modules/mob/living/basic/icemoon/ice_demon.dm
  modular_skyrat/modules/modular_items/code/kinetic_crusher.dm
  tgstation.dme
Labels: Fix

#24058 Cargo Engineering Content Part 1 | My little machines that go wwwhrhhhr | Die of CO2 poisoning
  code/__DEFINES/machines.dm
  code/__DEFINES/~skyrat_defines/cargo_import_companies.dm
  code/__DEFINES/~skyrat_defines/colony_fabricator_misc.dm
  code/__DEFINES/~skyrat_defines/manufacturer_strings.dm
  code/modules/atmospherics/machinery/portable/pump.dm
  modular_skyrat/master_files/code/modules/research/designs/misc_designs.dm
  modular_skyrat/modules/colony_fabricator/code/appliances/chem_machines.dm
  modular_skyrat/modules/colony_fabricator/code/appliances/wall_cell_charger.dm
  modular_skyrat/modules/colony_fabricator/code/colony_fabricator.dm
  modular_skyrat/modules/colony_fabricator/code/design_datums/appliances.dm
  modular_skyrat/modules/colony_fabricator/code/design_datums/equipment.dm
  modular_skyrat/modules/colony_fabricator/code/design_datums/fabricator_flag_additions/computer_board.dm
  modular_skyrat/modules/colony_fabricator/code/design_datums/fabricator_flag_additions/construction.dm
  modular_skyrat/modules/colony_fabricator/code/design_datums/fabricator_flag_additions/equipment.dm
  modular_skyrat/modules/colony_fabricator/code/design_datums/fabricator_flag_additions/machine_boards.dm
  modular_skyrat/modules/colony_fabricator/code/design_datums/fabricator_flag_additions/stock_parts.dm
  modular_skyrat/modules/colony_fabricator/code/design_datums/fabricator_flag_additions/tools.dm
  modular_skyrat/modules/colony_fabricator/code/design_datums/flatpack_machines.dm
  modular_skyrat/modules/colony_fabricator/code/design_datums/tools.dm
  modular_skyrat/modules/colony_fabricator/code/looping_sounds.dm
  modular_skyrat/modules/colony_fabricator/code/machines/arc_furnace.dm
  modular_skyrat/modules/colony_fabricator/code/machines/power_storage_unit.dm
  modular_skyrat/modules/colony_fabricator/code/machines/rtg.dm
  modular_skyrat/modules/colony_fabricator/code/machines/solar_panels.dm
  modular_skyrat/modules/colony_fabricator/code/machines/solid_fuel_generator.dm
  modular_skyrat/modules/colony_fabricator/code/machines/thermomachine.dm
  modular_skyrat/modules/colony_fabricator/code/repacking_element.dm
  modular_skyrat/modules/colony_fabricator/code/tools/tools.dm
  modular_skyrat/modules/colony_fabricator/icons/cell_charger.dmi
  modular_skyrat/modules/colony_fabricator/icons/chemistry_machines.dmi
  modular_skyrat/modules/colony_fabricator/icons/machines.dmi
  modular_skyrat/modules/colony_fabricator/icons/packed_machines.dmi
  modular_skyrat/modules/colony_fabricator/icons/power_storage_unit/large_battery.dmi
  modular_skyrat/modules/colony_fabricator/icons/power_storage_unit/small_battery.dmi
  modular_skyrat/modules/colony_fabricator/icons/thermomachine.dmi
  modular_skyrat/modules/colony_fabricator/icons/tools.dmi
  modular_skyrat/modules/colony_fabricator/sound/arc_furnace/arc_furnace_mid_1.wav
  modular_skyrat/modules/colony_fabricator/sound/arc_furnace/arc_furnace_mid_2.wav
  modular_skyrat/modules/colony_fabricator/sound/arc_furnace/arc_furnace_mid_3.wav
  modular_skyrat/modules/colony_fabricator/sound/arc_furnace/arc_furnace_mid_4.wav
  modular_skyrat/modules/colony_fabricator/sound/attributions.txt
  modular_skyrat/modules/colony_fabricator/sound/conditioner/conditioner_1.wav
  modular_skyrat/modules/colony_fabricator/sound/conditioner/conditioner_2.wav
  modular_skyrat/modules/colony_fabricator/sound/conditioner/conditioner_3.wav
  modular_skyrat/modules/colony_fabricator/sound/conditioner/conditioner_4.wav
  modular_skyrat/modules/colony_fabricator/sound/fabricator/fabricator_end.wav
  modular_skyrat/modules/colony_fabricator/sound/fabricator/fabricator_mid_1.wav
  modular_skyrat/modules/colony_fabricator/sound/fabricator/fabricator_mid_2.wav
  modular_skyrat/modules/colony_fabricator/sound/fabricator/fabricator_mid_3.wav
  modular_skyrat/modules/colony_fabricator/sound/fabricator/fabricator_mid_4.wav
  modular_skyrat/modules/colony_fabricator/sound/fabricator/fabricator_start.wav
  modular_skyrat/modules/company_imports/code/armament_datums/akh_frontier.dm
  modular_skyrat/modules/company_imports/code/armament_datums/nakamura_tools.dm
  modular_skyrat/modules/company_imports/code/company_datums.dm
  modular_skyrat/modules/huds/code/designs.dm
  modular_skyrat/modules/multicellcharger/code/multi_cell_charger.dm
  modular_skyrat/modules/polarized_windows/polarizer.dm
  tgstation.dme
Labels: Feature, Sprites, Test Merged

#24056 Icecat camp but epic!! | Visual updates to stuff that made the before mentioned camp look awful | Hazardously concentrated amounts of :3
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_icewalker_den.dmm
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_icewalker_lower.dmm
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_icewalker_upper.dmm
  _maps/skyrat/automapper/automapper_config.toml
  code/game/objects/items/stacks/sheets/mineral.dm
  modular_skyrat/master_files/code/game/objects/items/stacks/sheets/sheet_types.dm
  modular_skyrat/modules/mapping/code/furniture.dm
  modular_skyrat/modules/mapping/code/icemoon.dm
  modular_skyrat/modules/mapping/icons/unique/furniture.dmi
  modular_skyrat/modules/primitive_catgirls/code/clothing_vendor.dm
  modular_skyrat/modules/primitive_catgirls/code/map_items.dm
  modular_skyrat/modules/primitive_catgirls/icons/barrel.dmi
  modular_skyrat/modules/primitive_cooking_additions/code/big_mortar.dm
  modular_skyrat/modules/primitive_cooking_additions/code/cookware.dm
  modular_skyrat/modules/primitive_cooking_additions/code/cutting_board.dm
  modular_skyrat/modules/primitive_cooking_additions/code/millstone.dm
  modular_skyrat/modules/primitive_cooking_additions/code/stone_oven.dm
  modular_skyrat/modules/primitive_cooking_additions/code/stone_stove.dm
  modular_skyrat/modules/primitive_cooking_additions/icons/millstone.dmi
  modular_skyrat/modules/primitive_structures/code/fencing.dm
  modular_skyrat/modules/primitive_structures/code/storage_structures.dm
  modular_skyrat/modules/primitive_structures/code/totally_thatch_roof.dm
  modular_skyrat/modules/primitive_structures/code/wall_torch.dm
  modular_skyrat/modules/primitive_structures/code/windows.dm
  modular_skyrat/modules/primitive_structures/code/wooden_ladder.dm
  modular_skyrat/modules/primitive_structures/icons/lighting.dmi
  modular_skyrat/modules/primitive_structures/icons/roofing.dmi
  modular_skyrat/modules/primitive_structures/icons/storage.dmi
  modular_skyrat/modules/primitive_structures/icons/windows.dmi
  modular_skyrat/modules/primitive_structures/icons/wooden_fence.dmi
  modular_skyrat/modules/primitive_structures/icons/wooden_gate.dmi
  modular_skyrat/modules/primitive_structures/icons/wooden_ladder.dmi
  modular_skyrat/modules/primitive_structures/readme.md
  tgstation.dme
Labels: Sprites, Test Merged, Map Modification

#24068 URL Clickabillity. OOC Notes/Flavor Text/Species lore
  tgui/packages/tgui/interfaces/ExaminePanel.js
Labels: Test Merged, Quality of Life

#24512 removes reagent requirements from medicells, makes the oppressive force cell a slime extract thing
  modular_skyrat/modules/cellguns/code/medigun_research.dm
  modular_skyrat/modules/cellguns/code/mediguns.dm
Labels: Balance, Removal

#24528 Fixes synth puncture wounds being assigned to a non-existant wound type
  code/__DEFINES/wounds.dm
Labels: Fix

#24508 [Non-modular] Reverts desword block_chance nerf
  code/game/objects/items/dualsaber.dm
Labels: Balance, Revert

#24520 nerfs the new engineering machine's prybar, toolspeed also: removes the RCD from it
  modular_skyrat/modules/colony_fabricator/code/design_datums/fabricator_flag_additions/tools.dm
  modular_skyrat/modules/colony_fabricator/code/tools/tools.dm
Labels: Balance, Removal

#24537 Adds a drake borg to Service
  modular_skyrat/modules/altborgs/code/robot_model.dm
  modular_skyrat/modules/altborgs/icons/widerobot_serv.dmi
Labels: Sprites

#24548 Marks the flatpacked Fabricator and RTG imports as 'restricted'
  modular_skyrat/modules/company_imports/code/armament_datums/akh_frontier.dm
Labels: Balance

#24462 [Modular] Better Employment Contracts, Again
  modular_skyrat/master_files/code/modules/paperwork/employment_contract.dm
  tgstation.dme
Labels: Feature

#24231 OPFOR Items Reloaded
  code/__DEFINES/~skyrat_defines/examine_defines.dm
  code/__DEFINES/~skyrat_defines/opposing_force_defines.dm
  modular_skyrat/master_files/code/game/objects/items/hhmirror.dm
  modular_skyrat/modules/Syndie_edits/code/syndie_edits.dm
  modular_skyrat/modules/contractor/code/items/boxes.dm
  modular_skyrat/modules/encounters/code/nri_raiders.dm
  modular_skyrat/modules/examinemore/code/examine_more.dm
  modular_skyrat/modules/moretraitoritems/code/autosurgeon.dm
  modular_skyrat/modules/moretraitoritems/code/autosurgeon_bodypart.dm
  modular_skyrat/modules/moretraitoritems/code/cultist.dm
  modular_skyrat/modules/moretraitoritems/code/mafioso.dm
  modular_skyrat/modules/moretraitoritems/code/ocelot_revolver.dm
  modular_skyrat/modules/moretraitoritems/code/pirate.dm
  modular_skyrat/modules/moretraitoritems/code/syndicate.dm
  modular_skyrat/modules/moretraitoritems/code/syndicate_loadout.dm
  modular_skyrat/modules/moretraitoritems/code/weaponry.dm
  modular_skyrat/modules/moretraitoritems/code/weapons.dm
  modular_skyrat/modules/moretraitoritems/icons/3516.dmi
  modular_skyrat/modules/moretraitoritems/icons/3516_mag.dmi
  modular_skyrat/modules/moretraitoritems/icons/alien.dmi
  modular_skyrat/modules/moretraitoritems/sound/fire.ogg
  modular_skyrat/modules/moretraitoritems/sound/fire2.ogg
  modular_skyrat/modules/moretraitoritems/sound/release.ogg
  modular_skyrat/modules/moretraitoritems/sound/reload.ogg
  modular_skyrat/modules/moretraitoritems/sound/slide.ogg
  modular_skyrat/modules/moretraitoritems/sound/wakeup.ogg
  modular_skyrat/modules/novaya_ert/code/belt.dm
  modular_skyrat/modules/opposing_force/code/equipment/ammo.dm
  modular_skyrat/modules/opposing_force/code/equipment/antagonist_powers.dm
  modular_skyrat/modules/opposing_force/code/equipment/biology.dm
  modular_skyrat/modules/opposing_force/code/equipment/bombs.dm
  modular_skyrat/modules/opposing_force/code/equipment/clothing.dm
  modular_skyrat/modules/opposing_force/code/equipment/explosives.dm
  modular_skyrat/modules/opposing_force/code/equipment/gadgets.dm
  modular_skyrat/modules/opposing_force/code/equipment/guns.dm
  modular_skyrat/modules/opposing_force/code/equipment/implants.dm
  modular_skyrat/modules/opposing_force/code/equipment/loadouts.dm
  modular_skyrat/modules/opposing_force/code/equipment/martial_arts.dm
  modular_skyrat/modules/opposing_force/code/equipment/melee.dm
  modular_skyrat/modules/opposing_force/code/equipment/misc.dm
  modular_skyrat/modules/opposing_force/code/equipment/modsuit.dm
  modular_skyrat/modules/opposing_force/code/equipment/pistols.dm
  modular_skyrat/modules/opposing_force/code/equipment/rifles.dm
  modular_skyrat/modules/opposing_force/code/equipment/services.dm
  modular_skyrat/modules/opposing_force/code/equipment/shotguns.dm
  modular_skyrat/modules/opposing_force/code/equipment/spells.dm
  modular_skyrat/modules/opposing_force/code/equipment/submachineguns.dm
  modular_skyrat/modules/opposing_force/code/equipment/uplink.dm
  modular_skyrat/modules/opposing_force/code/equipment/utility.dm
  modular_skyrat/modules/opposing_force/code/opposing_force_datum.dm
  modular_skyrat/modules/opposing_force/code/opposing_force_subsystem.dm
  modular_skyrat/modules/robohand/code/silverhand_bundle.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/OpposingForcePanel.js
Labels: Feature, Balance, Sprites

#23276 Adds some actually useful items to the loadout
  modular_skyrat/modules/black_mesa/code/armaments/armament_miscellaneous.dm
  modular_skyrat/modules/black_mesa/code/rationpacks.dm
  modular_skyrat/modules/loadouts/loadout_items/_loadout_datum.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_inhands.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_pocket.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_shoes.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_toys.dm
  modular_skyrat/modules/loadouts/loadout_ui/loadout_manager.dm
  modular_skyrat/modules/loadouts/loadout_ui/loadout_outfit_helpers.dm
  modular_skyrat/modules/modular_items/code/cross.dm
  tgui/packages/tgui/interfaces/LoadoutManager.js
Labels: Feature

#24577 Revert "[Non-modular] Reverts desword block_chance nerf"
  code/game/objects/items/dualsaber.dm
Labels: Revert

#24576 [MODULAR] Good Assistant Points: Help the station, get credits and chicken nuggets!
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  code/modules/research/techweb/all_nodes.dm
  modular_skyrat/modules/automapper/code/area_spawn_entries.dm
  modular_skyrat/modules/cargo/code/items/gbp_punchcard.dm
  modular_skyrat/modules/cargo/icons/punchcard.dmi
  tgstation.dme
Labels: Feature, Sprites, Map Modification

#24591 Fixes a CRITICAL bug in the feedback messages of towels
  modular_skyrat/master_files/code/modules/clothing/towels.dm
Labels: Grammar and Formatting

#24598 numerical stacking on med pouches kinda sucks actually
  modular_skyrat/modules/food_replicator/code/storage.dm
  modular_skyrat/modules/modular_items/code/bags.dm
Labels: Quality of Life

#24423 [NO GBP] Donation Item for Vexcint
  modular_skyrat/master_files/icons/donator/mob/clothing/head.dmi
  modular_skyrat/master_files/icons/donator/obj/clothing/hats.dmi
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
  modular_skyrat/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
Labels: Sprites, GBP: No Update

#24605 Puts a cooldown on the GAP card redemption
  modular_skyrat/modules/cargo/code/items/gbp_punchcard.dm
Labels: Fix

#24435 Colorable noses
  modular_skyrat/master_files/icons/mob/sprite_accessory/snouts.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/snout.dm
Labels: Sprites

#24362 Sindano Inhand Sprite that were previously missing
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/submachinegun.dm
  modular_skyrat/modules/modular_weapons/icons/mob/company_and_or_faction_based/carwo_defense_systems/guns_lefthand.dmi
  modular_skyrat/modules/modular_weapons/icons/mob/company_and_or_faction_based/carwo_defense_systems/guns_righthand.dmi
  modular_skyrat/modules/modular_weapons/icons/obj/company_and_or_faction_based/carwo_defense_systems/guns32x.dmi
Labels: Sprites

#24575 Praetorian Modsuit
  modular_skyrat/modules/blueshield/code/closet.dm
  modular_skyrat/modules/blueshield/code/modsuit/mod_theme.dm
  modular_skyrat/modules/blueshield/code/modsuit/mod_type.dm
  modular_skyrat/modules/blueshield/icons/praetorian.dmi
  modular_skyrat/modules/blueshield/icons/worn_praetorian.dmi
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/MOD_sprite_accessories/mod_themes.dm
  modular_skyrat/modules/time_clock/code/console_tgui.dm
  tgstation.dme
Labels: Feature, Code Improvement, Sprites

#24629 Praetorian Modsuit Digitigrade sprite fix
  modular_skyrat/master_files/icons/mob/mod.dmi
  modular_skyrat/modules/blueshield/code/modsuit/mod_type.dm
Labels: Fix, Sprites
