Repository Skyrat-SS13/Skyrat-tg, pull requests merged in 2024-09, with the labels that each got.

#29602 Fixes Ceremonial Rifle crates.
  modular_skyrat/modules/sec_haul/code/guns/cargo_stuff.dm
  modular_skyrat/modules/sec_haul/code/misc/packs.dm
Labels: Fix

#29598 fixes jean skirts not having body parts covered defined
  modular_skyrat/master_files/code/modules/clothing/under/skirts_dresses.dm
Labels: Fix

#29599 Fixes teshari random wintercoat overlay appeareing near your ears, also repathed satchels.
  modular_skyrat/modules/teshari/code/teshari_clothes.dm
Labels: Fix

#29635 Fix vox breathmask unable to eat through after adjusting
  modular_skyrat/modules/customization/modules/clothing/masks/breath.dm
Labels: Fix

#29657 [NO GBP] Fixes bonsetter borg issue and adds medical combitools.
  modular_skyrat/modules/borgs/code/robot_upgrade.dm
Labels: Fix, GBP: No Update

#29664 Extended PDA cells
  modular_skyrat/master_files/code/modules/modular_computers/computers/item/computer.dm
  tgstation.dme
Labels: Balance
