Repository Skyrat-SS13/Skyrat-tg, pull requests merged in 2024-01, with the labels that each got.

#23701 [MODULAR] Re-enables the Detective's Replacement Revolver(ID-locked) Goodie Crate being purchasable since all NT guns are being removed from imports and the Detective's revolver is job gear that needs to be able to be replaced by Cargo
  modular_skyrat/master_files/code/modules/cargo/goodies.dm
Labels: Fix, Stale-b-gone

#25941 Xenoarch changes and a few resprites.
  modular_skyrat/modules/xenoarch/code/modules/research/xenoarch/xenoarch_machine.dm
  modular_skyrat/modules/xenoarch/icons/xenoarch_items.dmi
Labels: Balance, Sprites

#25960 Adds flower crowns & gas mask to loadout
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_heads.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_masks.dm
Labels: Feature

#25979 fix ashwalker egg respawn
  modular_skyrat/modules/ashwalkers/code/buildings/ash_tendril.dm
Labels: Fix

#25967 You will now properly dodge snout boops with quick reflexes.
  code/modules/mob/living/carbon/carbon_defense.dm
Labels: Fix

#26021 Cannibalism in the Space Age; Adds some meat types to Skyrat races
  modular_skyrat/modules/customization/modules/food_and_drinks/food/SRseafood.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/akula.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/aquatic.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/vox.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/vulpkanin.dm
  modular_skyrat/modules/teshari/code/_teshari.dm
Labels: Feature

#26038 New, Longer, Gloomier Bangs
  modular_skyrat/master_files/icons/mob/sprite_accessory/hair.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/hair.dm
Labels: Feature, Code Improvement, Sprites

#26017 cargo borg upgrades
  modular_skyrat/master_files/code/modules/research/techweb/all_nodes.dm
  modular_skyrat/modules/borgs/code/robot_items.dm
  modular_skyrat/modules/borgs/code/robot_upgrade.dm
  modular_skyrat/modules/borgs/icons/robot_items.dmi
  modular_skyrat/modules/reagent_forging/code/crafting_bench.dm
  modular_skyrat/modules/reagent_forging/code/forge.dm
  modular_skyrat/modules/reagent_forging/code/water_basin.dm
Labels: Feature, Sprites

#26026 [Modular] [READY] Tarkon Retarken, The great Atarkoining
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/cargo_secure.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/cargo_stock.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/cargo_warehouse.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/defcon2.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/defcon3.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/defcon4.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/defcon5.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/dorm_cabin.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/dorm_classic.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/dorm_party.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/xeno_dead.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/xeno_nest.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/xeno_safe.dmm
  _maps/shuttles/skyrat/ruin_tarkon_driver.dmm
  _maps/shuttles/skyrat/ruin_tarkon_driverdc2.dmm
  _maps/shuttles/skyrat/ruin_tarkon_driverdc3.dmm
  _maps/shuttles/skyrat/ruin_tarkon_driverdc54.dmm
  modular_skyrat/master_files/icons/mob/mod.dmi
  modular_skyrat/modules/mapping/code/areas/shuttles.dm
  modular_skyrat/modules/mapping/code/areas/space.dm
  modular_skyrat/modules/mapping/code/fluff.dm
  modular_skyrat/modules/mapping/code/misc.dm
  modular_skyrat/modules/mapping/code/mob_spawns.dm
  modular_skyrat/modules/mapping/code/shuttles.dm
  modular_skyrat/modules/tarkon/code/clothing/head.dm
  modular_skyrat/modules/tarkon/code/clothing/mod.dm
  modular_skyrat/modules/tarkon/code/clothing/neck.dm
  modular_skyrat/modules/tarkon/code/clothing/uniform.dm
  modular_skyrat/modules/tarkon/code/guns/m6pdw.dm
  modular_skyrat/modules/tarkon/code/guns/resonance_disruptor.dm
  modular_skyrat/modules/tarkon/code/misc-fluff/atmos_control.dm
  modular_skyrat/modules/tarkon/code/misc-fluff/card.dm
  modular_skyrat/modules/tarkon/code/misc-fluff/fluff.dm
  modular_skyrat/modules/tarkon/code/misc-fluff/radio.dm
  modular_skyrat/modules/tarkon/code/misc-fluff/research.dm
  modular_skyrat/modules/tarkon/code/misc-fluff/spawner.dm
  modular_skyrat/modules/tarkon/code/misc-fluff/tools.dm
  modular_skyrat/modules/tarkon/icons/misc/ARCS.dmi
  modular_skyrat/modules/tarkon/icons/misc/card.dmi
  modular_skyrat/modules/tarkon/icons/misc/tools.dmi
  modular_skyrat/modules/tarkon/icons/mob/clothing/head.dmi
  modular_skyrat/modules/tarkon/icons/mob/clothing/mod.dmi
  modular_skyrat/modules/tarkon/icons/mob/clothing/neck.dmi
  modular_skyrat/modules/tarkon/icons/mob/clothing/uniform.dmi
  modular_skyrat/modules/tarkon/icons/mob/clothing/uniform_digi.dmi
  modular_skyrat/modules/tarkon/icons/mob/guns/ARCS/lefthand.dmi
  modular_skyrat/modules/tarkon/icons/mob/guns/ARCS/righthand.dmi
  modular_skyrat/modules/tarkon/icons/mob/guns/m6pdw/lefthand.dmi
  modular_skyrat/modules/tarkon/icons/mob/guns/m6pdw/righthand.dmi
  modular_skyrat/modules/tarkon/icons/obj/clothing/head.dmi
  modular_skyrat/modules/tarkon/icons/obj/clothing/mod.dmi
  modular_skyrat/modules/tarkon/icons/obj/clothing/neck.dmi
  modular_skyrat/modules/tarkon/icons/obj/clothing/uniform.dmi
  modular_skyrat/modules/tarkon/icons/obj/guns/m6pdw.dmi
  modular_skyrat/modules/tarkon/icons/obj/mod_construct.dmi
  strings/modular_maps/skyrat/PortTarkon.toml
  tgstation.dme
Labels: Feature, Code Improvement, Sprites, Map Modification

#26071 Fixes some oversights from the organ refactor
  modular_skyrat/master_files/code/modules/client/preferences/brain.dm
  modular_skyrat/modules/customization/modules/client/augment/limbs.dm
  modular_skyrat/modules/synths/code/bodyparts/brain.dm
Labels: Fix, Refactor

#26045 adds dept armbands and allergy tag
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/accessories.dmi
Labels: Feature, Sprites

#26100 Add dominatrix borg module to lustwish
  modular_skyrat/modules/borgs/code/robot_upgrade.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_machinery/lustwish.dm
Labels: Feature

#26101 Borg module cleanup and fixes
  code/modules/mob/living/silicon/robot/robot_model.dm
  modular_skyrat/modules/borg_buffs/code/robot.dm
Labels: Feature

#26024 [Ready][Non-Modular] (but it reverts back to TG Code) Removes a check in Modular Computers, Use bitflags.
  code/modules/modular_computers/file_system/programs/jobmanagement.dm
  modular_skyrat/master_files/code/modules/jobs/job_types/mime.dm
Labels: Removal

#26119 More Ports
  modular_skyrat/modules/borgs/code/update_icons.dm
  modular_skyrat/modules/colony_fabricator/code/machines/power_storage_unit.dm
  modular_skyrat/modules/colony_fabricator/code/machines/thermomachine.dm
  modular_skyrat/modules/colony_fabricator/code/tools/tools.dm
  modular_skyrat/modules/customization/modules/mob/living/living.dm
  modular_skyrat/modules/customization/modules/mob/living/silicon/topic.dm
  modular_skyrat/modules/indicators/code/combat_indicator.dm
  modular_skyrat/modules/liquids/code/liquid_systems/liquid_controller.dm
  modular_skyrat/modules/liquids/code/liquid_systems/liquid_turf.dm
Labels: Fix, Code Improvement, Quality of Life

#26135 GORE foodtype for fishman/birdman meat, ports birdman meat, adds birdman burger
  modular_skyrat/modules/better_vox/code/vox_species.dm
  modular_skyrat/modules/customization/modules/food_and_drinks/food/SRseafood.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/vox.dm
  modular_skyrat/modules/teshari/code/_teshari.dm
  modular_skyrat/modules/teshari/code/birdman_food.dm
  tgstation.dme
Labels: Feature, Fix

#26158 Minor Cafe Mod (Changes the ID to Cham, adds a stamp)
  modular_skyrat/modules/ghostcafe/code/ghost_role_spawners.dm
Labels: Feature

#26179 Gags croptop
  modular_skyrat/master_files/icons/mob/clothing/suit.dmi
  modular_skyrat/master_files/icons/obj/clothing/suits.dmi
  modular_skyrat/modules/GAGS/greyscale_configs.dm
  modular_skyrat/modules/GAGS/json_configs/suits/croptop/croptop.json
  modular_skyrat/modules/GAGS/json_configs/suits/croptop/croptop_worn.json
  modular_skyrat/modules/customization/modules/clothing/suits/coats.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_suit.dm
Labels: Sprites

#25837 Lowpop Measures
  config/skyrat/skyrat_config.txt
  modular_skyrat/modules/lowpop/code/config.dm
  modular_skyrat/modules/lowpop/code/lowpop_subsystem.dm
  tgstation.dme
Labels: Feature, Stale-b-gone

#26117 Xenoarch Machine Update
  modular_skyrat/modules/xenoarch/code/modules/research/xenoarch/xenoarch_machine.dm
Labels: Feature, Balance, Fix

#26204 Good Hair Day: Enables hair & facial hair for moths
  modular_skyrat/modules/bodyparts/code/moth_bodyparts.dm
Labels: Feature

#26111 Added jukebox in bars via automapper; Ported BurgerLUA's jukebox overhaul from Bubber
  code/__DEFINES/subsystems.dm
  modular_skyrat/modules/automapper/code/area_spawn_entries.dm
  modular_skyrat/modules/jukebox/code/dance_machine.dm
  modular_skyrat/modules/jukebox/code/jukebox_subsystem.dm
  tgui/packages/tgui/interfaces/Jukebox.jsx
Labels: Feature, Fix

#26041 Prompt for declaration of a player's date of birth + autobanning
  SQL/database_changelog.md
  SQL/skyrat_schema.sql
  code/__DEFINES/subsystems.dm
  config/skyrat/skyrat_config.txt
  modular_skyrat/modules/maturity-prompt/code/client.dm
  modular_skyrat/modules/maturity-prompt/code/config_entries.dm
  modular_skyrat/modules/maturity-prompt/code/maturity_prompt.dm
  modular_skyrat/modules/maturity-prompt/code/maturity_subsystem.dm
  modular_skyrat/modules/maturity-prompt/readme.md
  modular_skyrat/modules/title_screen/code/new_player.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/MaturityPrompt.tsx
  tools/ezdb/ezdb/paths.py
  tools/ezdb/steps/install_initial_schema.py
Labels: Feature, Stale-b-gone

#26280 Fix - Adds ARC Mining to KiloStation
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Fix, Map Modification

#26273 Nova ports batch 1
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  _maps/skyrat/automapper/automapper_config.toml
  _maps/skyrat/automapper/templates/northstar/northstar_prison.dmm
  code/__DEFINES/~skyrat_defines/combat.dm
  code/controllers/subsystem/processing/quirks.dm
  code/datums/components/crafting/entertainment.dm
  code/datums/quirks/negative_quirks/claustrophobia.dm
  code/game/objects/items/dice.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/modules/client/preferences/language.dm
  code/modules/mob/living/carbon/alien/adult/alien_powers.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/living_say.dm
  code/modules/shuttle/emergency.dm
  code/modules/unit_tests/say.dm
  icons/obj/toys/dice.dmi
  modular_skyrat/master_files/code/_globalvars/regexes.dm
  modular_skyrat/master_files/code/_globalvars/text.dm
  modular_skyrat/master_files/code/datums/votes/map_vote.dm
  modular_skyrat/master_files/icons/misc/language.dmi
  modular_skyrat/modules/ashwalkers/code/clothing/ash_armour.dm
  modular_skyrat/modules/ashwalkers/icons/feet.dmi
  modular_skyrat/modules/ashwalkers/icons/feet_digi.dmi
  modular_skyrat/modules/ashwalkers/icons/shoes.dmi
  modular_skyrat/modules/automapper/code/area_spawn_entries.dm
  modular_skyrat/modules/customization/modules/clothing/accessories.dm
  modular_skyrat/modules/customization/modules/clothing/head/head.dm
  modular_skyrat/modules/customization/modules/jobs/_job.dm
  modular_skyrat/modules/customization/modules/language/_language_holder.dm
  modular_skyrat/modules/customization/modules/language/chitinclick.dm
  modular_skyrat/modules/customization/modules/language/mothic.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/hemophage/corrupted_tongue.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/hemophage/hemophage_moods.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/hemophage/hemophage_organs.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/xeno.dm
  modular_skyrat/modules/ghostcafe/code/ghostcafeturf.dm
  modular_skyrat/modules/goofsec/code/sec_clothing_overrides.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_accessory.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_glasses.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_gloves.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_heads.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_neck.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_shoes.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_suit.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_toys.dm
  modular_skyrat/modules/loadouts/loadout_items/under/loadout_datum_under.dm
  modular_skyrat/modules/oversized/code/door.dm
  modular_skyrat/modules/oversized/code/oversized_quirk.dm
  modular_skyrat/modules/radiosound/code/headset.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PaiSubmit.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/skyrat/headshot.tsx
Labels: Sprites, Map Modification

#26252 add back the teg
  modular_skyrat/modules/power/code/teg.dm
  tgstation.dme
Labels: Feature

#26309 [Modular] Pressure Buffs Xenos and Nests.
  modular_skyrat/master_files/code/modules/mob/living/simple_animal/hostile/alien.dm
  modular_skyrat/modules/tarkon/code/misc-fluff/spawner.dm
  tgstation.dme
Labels: Balance

#26315 ARC Mining on Kilo
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Fix

#26314 [Modular] I forgot the fekkin temperature.
  modular_skyrat/master_files/code/modules/mob/living/simple_animal/hostile/alien.dm
Labels: Balance
