Repository Skyrat-SS13/Skyrat-tg, pull requests merged in 2024-08, with the labels that each got.

#29186 Fixes emote sounds playing twice.
  code/datums/emotes.dm
Labels: Fix

#29108 [Merge ready] Adds, well Ports Echolocation
  code/controllers/subsystem/processing/quirks.dm
  code/datums/components/echolocation.dm
  code/modules/client/preferences/clothing.dm
  modular_skyrat/modules/quirks/echolocation/echolocation.dm
  modular_skyrat/modules/quirks/echolocation/echolocation_component.dm
  modular_skyrat/modules/quirks/echolocation/echolocation_pref.dm
  modular_skyrat/modules/quirks/good.dm
  modular_skyrat/modules/quirks/negative.dm
  modular_skyrat/modules/quirks/neutral.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/skyrat/echolocation.tsx
Labels: Feature, Code Improvement

#29013 Organic interface items rewrite and bug fixes
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/attachable_vibrator.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/buttplug.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/clamps.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/dildo.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/feather.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/fleshlight.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/kinky_shocker.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/leather_whip.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/magic_wand.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/spanking_pad.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/torture_candle.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/vibrator.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/vibroring.dm
  tgui/packages/tgui/interfaces/InteractionMenu.tsx
Labels: Fix, Test Merged

#29168 Fixes harpybat and harpybat top wings not being visible
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/wings.dm
Labels: Fix

#29176 Robotic blessed lobotomy
  modular_skyrat/modules/synths/code/surgery/mechanic_steps.dm
  modular_skyrat/modules/synths/code/surgery/robot_brain_surgery.dm
Labels: Fix

#29195 [NOVA PORT] Male bit-size updates (#3232)
  code/__DEFINES/~skyrat_defines/DNA.dm
  modular_skyrat/master_files/code/modules/client/preferences/genitals.dm
  modular_skyrat/master_files/icons/mob/sprite_accessory/genitals/taur_testicles_onmob.dmi
  modular_skyrat/master_files/icons/mob/sprite_accessory/genitals/testicles_onmob.dmi
  modular_skyrat/modules/customization/_globalvars/lists.dm
  modular_skyrat/modules/customization/modules/surgery/organs/genitals.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/skyrat/genitals.tsx
Labels: Feature, Sprites

#29202 Adjusts chat color % to NCM_COLOR_SAT_MAX instead, as intended
  modular_skyrat/modules/chat_colors/code/chat_color.dm
Labels: Fix

#29207 Fix bouncer being excluded from service department
  code/__DEFINES/jobs.dm
  modular_skyrat/modules/goofsec/code/department_guards.dm
Labels: Fix

#29208 Removes synth organs from being 'organic' for bounties.
  modular_skyrat/master_files/code/modules/cargo/bounties/medical.dm
Labels: Fix, Removal

#29216 [MODULAR] Refactors simple_farm code.. again
  modular_skyrat/modules/ashwalkers/code/buildings/ash_farming.dm
  modular_skyrat/modules/primitive_production/code/primitive.dm
Labels: Code Improvement, Refactor

#29226 [Modular] Adds item pixel shifting and pixel tilting to the pixel shift component
  code/__DEFINES/~skyrat_defines/keybindings.dm
  modular_skyrat/modules/pixel_shift/code/pixel_shift_component.dm
  modular_skyrat/modules/pixel_shift/code/pixel_shift_keybind.dm
  modular_skyrat/modules/pixel_shift/code/pixel_shift_mob.dm
  tgstation.dme
Labels: Feature

#29213 Shading + slight recoloring of Valeborgs
  modular_skyrat/modules/borgs/icons/widerobot_eng.dmi
  modular_skyrat/modules/borgs/icons/widerobot_jani.dmi
  modular_skyrat/modules/borgs/icons/widerobot_med.dmi
  modular_skyrat/modules/borgs/icons/widerobot_mine.dmi
  modular_skyrat/modules/borgs/icons/widerobot_pk.dmi
  modular_skyrat/modules/borgs/icons/widerobot_sec.dmi
  modular_skyrat/modules/borgs/icons/widerobot_serv.dmi
  modular_skyrat/modules/borgs/icons/widerobots_cargo.dmi
Labels: Sprites

#29203 Update accessories.dm lost item
  modular_skyrat/master_files/code/modules/loadout/categories/accessories.dm
Labels: Feature

#29231 optimizes pixel shifting some
  modular_skyrat/modules/pixel_shift/code/pixel_shift_component.dm
Labels: Code Improvement

#29233 [Modular] gives a new name preference for Lone infiltrator and interdyne (this is mostly for downstream so its modular for us)
  modular_skyrat/master_files/code/modules/client/preferences/names.dm
  modular_skyrat/modules/Midroundtraitor/code/datum_traitor.dm
  modular_skyrat/modules/mapping/code/mob_spawns.dm
  tgstation.dme
Labels: Feature

#29237 [MISSED MIRROR] Fixes guest accounts not having keybinds and getting constant runtimes (#72818)
  code/modules/client/preferences_savefile.dm
Labels: Fix

#29235 [Modular] Allows the SAD to apply client quirks too so when you get humonkied you don't need to beg admins for help
  modular_skyrat/modules/self_actualization_device/code/self_actualization_device.dm
Labels: Quality of Life

#29240 Fixes prescription huds
  modular_skyrat/modules/huds/code/glasses/HUD_Glasses.dm
Labels: Fix

#29239 [NO GBP] Gaian soilbin fix.
  modular_skyrat/modules/primitive_production/code/hydroponics.dm
Labels: Fix, GBP: No Update

#29241 Fixes a mirror of Unfucks all the broken vendors that I broke [no gbp] #85483
  code/game/machinery/_machinery.dm
  code/game/machinery/medipen_refiller.dm
Labels: GBP: No Update

#29246 Fixes the milsim bitrun safehouse being a hole
  _maps/safehouses/skyrat_ancientmilsim.dmm
Labels: Fix, Map Modification

#29250 allows for port tarkon to do ordnance for research now
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon.dmm
  modular_skyrat/master_files/code/game/objects/items/long_range_pda.dm
  modular_skyrat/master_files/code/modules/research/designs/long_range_pda_design.dm
  tgstation.dme
Labels: Fix, Quality of Life, Map Modification

#29256 fix wrong offset
  code/modules/mob/living/carbon/human/human_update_icons.dm
Labels: Fix

#29253 [Fix] lings no longer become gremlins when turning into teshari
  code/modules/antagonists/changeling/changeling.dm
  modular_skyrat/master_files/code/modules/antagonists/changeling/changeling.dm
Labels: Fix

#29258 Fixes smoking addiction
  modular_skyrat/master_files/code/modules/reagents/withdrawal/generic_addictions.dm
Labels: Fix

#29252 [NO GBP] Fixing medical bounties.
  modular_skyrat/master_files/code/modules/cargo/bounties/medical.dm
Labels: Fix, GBP: No Update

#29254 Fixes jumpsuits being overriden when assistant with override job
  modular_skyrat/master_files/code/modules/loadout/categories/uniform.dm
Labels: Fix

#29251 Synthetic Surgery Tweak
  modular_skyrat/modules/synths/code/surgery/robot_healing.dm
Labels: Balance

#29261 Fixes felinid stuff and brings back laserpointing
  code/game/objects/items/devices/laserpointer.dm
Labels: Fix, Removal

#29262 Cyborg heads now support hair and eye color
  modular_skyrat/master_files/code/modules/surgery/bodyparts/robot_bodyparts.dm
  tgstation.dme
Labels: Quality of Life

#29264 Akula wetsuiting
  modular_skyrat/modules/customization/modules/clothing/outfits/akula.dm
Labels: Fix

#29268 Boring fixes (Fixes the borer infestation event)
  modular_skyrat/modules/cortical_borer/code/cortical_borer_antag.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/antagonists/antagonists/borer.ts
Labels: Fix

#29267 [Non-Modular] Fixes ID clock out taking your job items if you clock out an ID that isn't yours
  modular_skyrat/modules/time_clock/code/console_tgui.dm
Labels: Fix

#29272 fixes borg sprites losing their lights when changing z levels or toggling CI
  modular_skyrat/modules/borgs/code/robot_defines.dm
Labels: Fix

#29357 [Modular] Remove pathfind wiremod component cooldown extension as it has been moved upstream
  modular_skyrat/master_files/code/modules/wiremod/components/action/pathfind.dm
  tgstation.dme
Labels: Removal, GBP: No Update

#29355 Synth refix
  .github/CODEOWNERS
  code/__DEFINES/~skyrat_defines/synth_defines.dm
  code/game/machinery/rechargestation.dm
  code/modules/surgery/advanced/brainwashing.dm
  code/modules/surgery/amputation.dm
  code/modules/surgery/bodyparts/head_hair_and_lips.dm
  code/modules/surgery/gastrectomy.dm
  code/modules/surgery/hepatectomy.dm
  code/modules/surgery/lobectomy.dm
  icons/obj/weapons/bows/arrows.dmi
  icons/obj/weapons/bows/bows.dmi
  modular_skyrat/modules/bodyparts/code/taur_bodyparts.dm
  modular_skyrat/modules/colony_fabricator/code/appliances/space_heater.dm
  modular_skyrat/modules/synths/code/bodyparts/brain.dm
  modular_skyrat/modules/synths/code/bodyparts/internal_computer/internal_computer.dm
  modular_skyrat/modules/synths/code/bodyparts/limbs.dm
  modular_skyrat/modules/synths/code/bodyparts/power_cord.dm
  modular_skyrat/modules/synths/code/bodyparts/stomach.dm
  modular_skyrat/modules/synths/code/surgery/robot_chassis_restoration.dm
  modular_skyrat/modules/synths/code/surgery/robot_healing.dm
  modular_skyrat/modules/synths/code/surgery/robot_surgery_rename.dm
  tgstation.dme
Labels: Fix, Sprites

#29452 fix lipstick runtime
  modular_skyrat/modules/salon/icons/items.dmi
Labels: Fix, Sprites

#29480 Revert "[MIRROR] Fix air alarm stuck in warning icon when area's alarms are cleared (#29424)"
  code/modules/atmospherics/machinery/air_alarm/_air_alarm.dm
Labels: Revert

#29481 Fix typo in alexithymia sanity examine
  code/datums/mood.dm
Labels: Grammar and Formatting

#29367 [WIP] Teshari Clothing Update pt 1/?
  modular_skyrat/master_files/code/modules/clothing/suits/_suits.dm
  modular_skyrat/master_files/code/modules/clothing/suits/labcoat.dm
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/suit.dmi
  modular_skyrat/master_files/icons/mob/clothing/suits/labcoat.dmi
  modular_skyrat/master_files/icons/obj/clothing/suits/labcoat.dmi
  modular_skyrat/modules/GAGS/greyscale_configs.dm
  modular_skyrat/modules/GAGS/icons/labcoat_teshari.dmi
  modular_skyrat/modules/GAGS/icons/neck/neck_teshari.dmi
  modular_skyrat/modules/GAGS/icons/suit/suit_teshari.dmi
  modular_skyrat/modules/GAGS/icons/teshari_fallbacks.dmi
  modular_skyrat/modules/GAGS/json_configs/teshari_fallbacks/jacket.json
  modular_skyrat/modules/GAGS/json_configs/teshari_fallbacks/longcoat.json
  modular_skyrat/modules/GAGS/json_configs/teshari_fallbacks/thickrobe.json
  modular_skyrat/modules/GAGS/json_configs/teshari_fallbacks/wizrobe.json
  modular_skyrat/modules/command_vendor/code/vending.dm
  modular_skyrat/modules/teshari/code/_clothing_defines.dm
  modular_skyrat/modules/teshari/code/teshari_clothes.dm
Labels: Sprites

#29271 Ethereal Rations
  modular_skyrat/master_files/icons/obj/drinks.dmi
  modular_skyrat/modules/paycheck_rations/code/rationpacks.dm
  modular_skyrat/modules/paycheck_rations/code/reagents.dm
  modular_skyrat/modules/paycheck_rations/code/tickets.dm
  modular_skyrat/modules/paycheck_rations/icons/food_containers.dmi
Labels: Feature, Sprites

#29245 Adds the ability to 'army crawl' as a component, also moves cortical borers hide ability to this component.
  code/__DEFINES/~skyrat_defines/keybindings.dm
  code/__DEFINES/~skyrat_defines/signals.dm
  code/__DEFINES/~skyrat_defines/traits.dm
  modular_skyrat/master_files/code/datums/components/prone_mob.dm
  modular_skyrat/master_files/code/datums/keybinding/movement.dm
  modular_skyrat/master_files/code/modules/mob/living/human/human.dm
  modular_skyrat/master_files/code/modules/mob/mob_movement.dm
  modular_skyrat/modules/cortical_borer/code/abilities/_borer_abilities.dm
  tgstation.dme
Labels: Feature, Code Improvement

#29502 [Fix] mechanical god rite from chaplain properly gives you digitigrade legs if you have them selected
  modular_skyrat/master_files/code/modules/surgery/bodyparts/robot_bodyparts.dm
  modular_skyrat/modules/digitigrade_cybernetics/code/robot_bodyparts.dm
Labels: Fix

#29517 Abductor fixes
  code/datums/dna.dm
  code/modules/mob/living/carbon/human/_species.dm
  modular_skyrat/master_files/code/modules/mob/living/carbon/human/_species.dm
  tgstation.dme
Labels: Fix

#29523 Improves Kilostation medbay and animal pen
  _maps/map_files/KiloStation/KiloStation.dmm
Labels: Quality of Life, Map Modification

#29497 Adds asset protection suit from Bubberstation as an alternative to the apocryphal suit they use (its literally just recoloured)
  modular_skyrat/master_files/code/modules/clothing/outfits/ert.dm
  modular_skyrat/master_files/code/modules/mod/mod_theme.dm
  modular_skyrat/master_files/code/modules/mod/mod_types.dm
  modular_skyrat/master_files/icons/mob/clothing/modsuit/mod_clothing.dmi
  modular_skyrat/master_files/icons/mob/mod.dmi
  modular_skyrat/master_files/icons/obj/clothing/modsuit/mod_clothing.dmi
Labels: Feature, Sprites

#29524 Void Raptor Mainenances
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Feature, Map Modification

#29526 Revert "[MIRROR] Changes wall leaning into a component, makes windows
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_living.dm
  code/datums/components/leanable.dm
  code/game/objects/structures/window.dm
  code/game/turfs/closed/walls.dm
  tgstation.dme
Labels: Revert

#29527 Revert "[MIRROR] [NO GBP] CytoPro Price Adjustment"
  code/modules/vending/cytopro.dm
  tgstation.dme
Labels: Revert, GBP: No Update

#29530 Icon unit test fixes
  code/__DEFINES/dcs/signals/signals_atom/signals_atom_movable.dm
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_main.dm
  code/controllers/subsystem/id_access.dm
  code/datums/ai/oldhostile/hostile_tameable.dm
  code/datums/components/pet_commands/pet_command.dm
  code/datums/components/riding/riding_mob.dm
  code/datums/id_trim/_id_trim.dm
  code/datums/id_trim/admin.dm
  code/datums/id_trim/centcom.dm
  code/datums/id_trim/jobs.dm
  code/datums/id_trim/ruins.dm
  code/datums/id_trim/syndicate.dm
  code/game/machinery/doors/door.dm
  code/game/objects/items/cards_ids.dm
  code/game/objects/items/storage/uplink_kits.dm
  code/modules/antagonists/pirate/pirate_outfits.dm
  code/modules/clothing/outfits/ert.dm
  code/modules/jobs/job_types/research_director.dm
  code/modules/library/skill_learning/generic_skillchips/point.dm
  code/modules/mob_spawn/ghost_roles/space_roles.dm
  code/modules/point/point.dm
  code/modules/vending/games.dm
  icons/hud/screen_gen.dmi
  modular_skyrat/master_files/code/modules/mod/mod_types.dm
  modular_skyrat/modules/aesthetics/storage/storage.dmi
  tgstation.dme
Labels: Fix, Sprites

#29532 Buffs naga constrict to only take 2.2 seconds to acquire
  modular_skyrat/modules/taur_mechanics/code/constrict.dm
Labels: Balance

#29534 Feline traits description adjustment
  code/__DEFINES/~skyrat_defines/traits/declarations.dm
  code/__HELPERS/~skyrat_helpers/is_helpers.dm
  code/_globalvars/traits/_traits.dm
  code/_globalvars/traits/admin_tooling.dm
  code/controllers/subsystem/processing/quirks.dm
  modular_skyrat/modules/quirks/neutral.dm
Labels: Grammar and Formatting

#29531 Fixes science prescription HUDs giving medhuds + fixes AR prescription huds not working
  modular_skyrat/master_files/code/modules/loadout/categories/glasses.dm
  modular_skyrat/modules/huds/code/designs.dm
  modular_skyrat/modules/huds/code/glasses/HUD_Glasses.dm
  modular_skyrat/modules/modular_items/code/modular_glasses.dm
Labels: Fix

#29535 Remove blueshift substation
  _maps/map_files/NSVBlueshift/Blueshift.dmm
Labels: Removal, Map Modification

#29536 Something somethig sec followup
  code/modules/jobs/job_types/head_of_security.dm
  modular_skyrat/modules/company_imports/code/armament_datums/allstar.dm
  modular_skyrat/modules/company_imports/code/armament_datums/deforest_medical.dm
  modular_skyrat/modules/company_imports/code/armament_datums/micron_control_systems.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/ammo/rifle.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/magazines.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/rifle.dm
Labels: Fix

#29538 c10 speedloader small sized
  modular_skyrat/master_files/code/modules/research/techweb/all_nodes.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/nanotrasen_system_inc/magazine.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/rifle.dm
  modular_skyrat/modules/sec_haul/code/guns/cargo_stuff.dm
  modular_skyrat/modules/sec_haul/code/technode/all_nodes.dm
Labels: Feature, Fix

#29541 re-doing the code for frangible slug
  modular_skyrat/modules/shotgunrebalance/code/shotgun.dm
Labels: Code Improvement

#29547 Lets ethereals have favorite foods
  modular_skyrat/master_files/code/modules/mob/living/human/species_types/ethereal.dm
Labels: Quality of Life

#29552 Ports Beach Condo infinidorm from Nova, adds two new ones
  code/modules/mapfluff/ruins/spaceruin_code/hilbertshotel.dm
  modular_skyrat/modules/ghostcafe/code/hilbertshotel_ghost.dm
  modular_skyrat/modules/hotel_rooms/beach_condo.dmm
  modular_skyrat/modules/hotel_rooms/library.dmm
  modular_skyrat/modules/hotel_rooms/stationside.dmm
Labels: Feature

#29546 Toggle forge anvil noises in sound prefs
  code/datums/emotes.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_arousal/climax.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/ballgag.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/bdsm_mask.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/corset.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/deprivation_helmet.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/kinky_sleepbag.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/strapon.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_helpers/sounds.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/_masturbation_item.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/attachable_vibrator.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/condom.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/dildo.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/feather.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/fleshlight.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/kinky_shocker.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/leather_whip.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/magic_wand.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/shibari.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/spanking_pad.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/torture_candle.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/vibrator.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/vibroring.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_structures/bdsm_furniture.dm
  modular_skyrat/modules/reagent_forging/code/anvil.dm
Labels: Quality of Life

#29554 Follow up 5
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  modular_skyrat/modules/blueshield/code/blueshield.dm
  modular_skyrat/modules/blueshield/code/closet.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/ammo/rifle.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/pistol.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/rifle.dm
  modular_skyrat/modules/sec_haul/code/guns/cargo_stuff.dm
  modular_skyrat/modules/sec_haul/code/misc/gun_redemption.dm
  modular_skyrat/modules/sec_haul/code/misc/packs.dm
  modular_skyrat/modules/shotgunrebalance/code/shotgun.dm
Labels: Feature, Balance, Fix

#29555 Followup 7
  modular_skyrat/modules/aesthetics/guns/code/guns.dm
  modular_skyrat/modules/shotgunrebalance/code/shotgun.dm
Labels: Balance, Fix

#29560 Balance Adjustment 8
  code/game/objects/structures/crates_lockers/closets/secure/security.dm
  code/modules/jobs/job_types/security_officer.dm
  modular_skyrat/modules/aesthetics/guns/code/guns.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/nanotrasen_system_inc/magazine.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/nanotrasen_system_inc/pistol.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/romulus_technology/rifle.dm
  modular_skyrat/modules/modular_weapons/icons/obj/company_and_or_faction_based/nanotrasen_system_inc/ammo.dmi
  modular_skyrat/modules/modular_weapons/icons/obj/company_and_or_faction_based/nanotrasen_system_inc/pistol.dmi
  modular_skyrat/modules/nanotrasen_rep/code/nanotrasen_consultant.dm
  modular_skyrat/modules/sec_haul/code/misc/packs.dm
  modular_skyrat/modules/sec_haul/code/technode/all_nodes.dm
  modular_skyrat/modules/sec_haul/code/technode/sec_research.dm
  modular_skyrat/modules/shotgunrebalance/code/shotgun.dm
Labels: Feature, Balance, Fix, Sprites

#29570 Fix closed flannel sprite
  modular_skyrat/master_files/icons/mob/clothing/suit.dmi
Labels: Fix, Sprites

#29562 Teshari clothes update 2/?
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/back.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/mask.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/neck.dmi
  modular_skyrat/modules/GAGS/greyscale_configs.dm
  modular_skyrat/modules/GAGS/icons/teshari_fallbacks.dmi
  modular_skyrat/modules/GAGS/json_configs/teshari_fallbacks/jacket.json
  modular_skyrat/modules/GAGS/json_configs/teshari_fallbacks/longcoat.json
  modular_skyrat/modules/GAGS/json_configs/teshari_fallbacks/mantle.json
  modular_skyrat/modules/GAGS/json_configs/teshari_fallbacks/thickrobe.json
  modular_skyrat/modules/GAGS/json_configs/teshari_fallbacks/wizrobe.json
  modular_skyrat/modules/teshari/code/_clothing_defines.dm
  modular_skyrat/modules/teshari/code/teshari_clothes.dm
Labels: Sprites

#29575 Cleanup flag for helmet related thing
  modular_skyrat/modules/goofsec/code/sec_clothing_overrides.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/nanotrasen_system_inc/pistol.dm
Labels: Fix

#29576 fix voidraptor runtime
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Map Modification

#29579 makes it so hands are completely unusable when in army crawl
  modular_skyrat/master_files/code/datums/components/prone_mob.dm
Labels: Balance

#29580 mildoversight
  modular_skyrat/modules/company_imports/code/armament_datums/sol_defense.dm
Labels: Fix

#29594 Fix Blueshift cargo shuttle buttons/conveyor
  _maps/map_files/NSVBlueshift/Blueshift.dmm
  _maps/shuttles/skyrat/cargo_skyrat.dmm
Labels: Fix, Map Modification

#29595 [no gbp] Allows anyone to use the larger part sizes
  code/__DEFINES/~skyrat_defines/DNA.dm
  modular_skyrat/master_files/code/modules/client/preferences/genitals.dm
  modular_skyrat/modules/customization/modules/surgery/organs/genitals.dm
Labels: Balance, GBP: No Update

#29597 [MISSED MIRROR] Storing supermatter sliver in a specialized container no longer dusts you (#84492)
  code/game/objects/items/theft_tools.dm
Labels: Fix

#29596 Fixes deconstruction of lewd machines
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_machinery/milking_machine.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_structures/bdsm_furniture.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_structures/construction.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_structures/dancing_pole.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_structures/shibari_stand.dm
Labels: Fix
