Repository Skyrat-SS13/Skyrat-tg, pull requests merged in 2024-06, with the labels that each got.

#27922 [BOUNTY] Adds cyborg botany module
  modular_skyrat/master_files/code/modules/research/techweb/all_nodes.dm
  modular_skyrat/modules/borgs/code/robot_upgrade.dm
Labels: Feature

#27858 Allow using certain toys on cyborgs
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_helpers/carbon.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/feather.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/kinky_shocker.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/leash.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/leather_whip.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/magic_wand.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/spanking_pad.dm
Labels: Code Improvement

#27885 Producebin icon fixes
  modular_skyrat/modules/primitive_structures/code/storage_structures.dm
Labels: Fix

#27927 Fixes an Erroneous path on Wall med-vendor
  modular_skyrat/modules/deforest_medical_items/code/medstation_designs/medical.dm
Labels: Fix

#27968 Fixes Star Wars obj toggle
  modular_skyrat/master_files/icons/obj/clothing/hats.dmi
Labels: Fix, Sprites

#27980 Artistic module fixes and make available at roundstart for any borg
  modular_skyrat/master_files/code/modules/research/techweb/all_nodes.dm
  modular_skyrat/modules/borgs/code/robot_upgrade.dm
Labels: Fix, Quality of Life

#27181 [MERGE READY] Liquid QoL and bugfix PR
  code/__DEFINES/cleaning.dm
  code/game/objects/items/grenades/chem_grenade.dm
  code/game/turfs/change_turf.dm
  modular_skyrat/modules/liquids/code/cleaning/drains.dm
  modular_skyrat/modules/liquids/code/cleaning/mop.dm
  modular_skyrat/modules/liquids/code/cleaning/reagents.dm
  modular_skyrat/modules/liquids/code/cleaning/turf.dm
  modular_skyrat/modules/liquids/code/liquid_systems/liquid_effect.dm
  modular_skyrat/modules/liquids/code/liquid_systems/liquid_groups.dm
  tgstation.dme
Labels: Feature, Fix, Code Improvement, Test Merged, Stale-b-gone, Quality of Life

#27923 [BOUNTY] Watcher Eye trophy
  code/datums/status_effects/debuffs/debuffs.dm
  modular_skyrat/master_files/code/datums/status_effects/debuffs/debuffs.dm
  modular_skyrat/master_files/code/modules/mining/equipment/kinetic_crusher.dm
  modular_skyrat/master_files/code/modules/mob/living/basic/lavaland/watcher/watcher.dm
  modular_skyrat/master_files/icons/obj/artifacts.dmi
  modular_skyrat/master_files/icons/obj/weapons/guns/projectiles.dmi
  tgstation.dme
Labels: Feature, Sprites

#27926 Revert "[MIRROR] changes mech sprites! (#27823)"
  icons/mob/mech_construction.dmi
  icons/mob/mecha.dmi
  icons/obj/stack_objects.dmi
Labels: Sprites, Revert

#27998 buff blueshift sec & fix their locker
  _maps/map_files/NSVBlueshift/Blueshift.dmm
Labels: Feature, Fix, Map Modification

#28037 Fixes the Ghost Cafe having a camera.
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
Labels: Fix, Map Modification

#27921 [Modular] Remove circuit cameras as it has been moved upstream
  modular_skyrat/master_files/code/modules/wiremod/components/sensors/remotecam.dm
  modular_skyrat/modules/additional_circuit/code/_designs.dm
  tgstation.dme
Labels: Removal

#28068 Fixes brain transfers
  modular_skyrat/modules/cortical_borer/code/cortical_borer.dm
Labels: Fix

#28071 Wawastation automapper templates [TM ONLY] [NO GBP]
  _maps/skyrat/automapper/automapper_config.toml
  _maps/skyrat/automapper/templates/wawastation/wawastation_armory.dmm
  _maps/skyrat/automapper/templates/wawastation/wawastation_arrivals.dmm
  _maps/skyrat/automapper/templates/wawastation/wawastation_barber.dmm
  _maps/skyrat/automapper/templates/wawastation/wawastation_commons.dmm
  _maps/skyrat/automapper/templates/wawastation/wawastation_corridor.dmm
  _maps/skyrat/automapper/templates/wawastation/wawastation_elevator.dmm
  _maps/skyrat/automapper/templates/wawastation/wawastation_lockers.dmm
  _maps/skyrat/automapper/templates/wawastation/wawastation_ntrep_office.dmm
  _maps/skyrat/automapper/templates/wawastation/wawastation_supermatter.dmm
  modular_skyrat/master_files/code/game/objects/structures/signs/signs_maps.dm
  modular_skyrat/master_files/icons/obj/sign.dmi
  tgstation.dme
Labels: Feature, Sprites, GBP: No Update, Map Modification

#28095 [Modular] Gently changes sansufentanyl medicine
  modular_skyrat/modules/reagents/reagents.dm
  tgstation.dme
Labels: Balance

#28100 Fixes some thing I missed on Alt Click Refactor
  modular_skyrat/modules/hyposprays/code/hypospray_kits.dm
  modular_skyrat/modules/supersoups/code/stove.dm
Labels: Refactor

#28102 Adds some unused items to the Command Vendor
  modular_skyrat/modules/command_vendor/code/vending.dm
  modular_skyrat/modules/nanotrasen_rep/code/clothing.dm
Labels: Feature

#28101 Fixes synth organs showing up as harmful bodies
  code/__DEFINES/surgery.dm
  modular_skyrat/modules/customization/modules/surgery/organs/vox.dm
  modular_skyrat/modules/organs/code/tongue.dm
  modular_skyrat/modules/synths/code/bodyparts/brain.dm
  modular_skyrat/modules/synths/code/bodyparts/ears.dm
  modular_skyrat/modules/synths/code/bodyparts/eyes.dm
  modular_skyrat/modules/synths/code/bodyparts/heart.dm
  modular_skyrat/modules/synths/code/bodyparts/liver.dm
  modular_skyrat/modules/synths/code/bodyparts/lungs.dm
  modular_skyrat/modules/synths/code/bodyparts/stomach.dm
  modular_skyrat/modules/synths/code/bodyparts/tongue.dm
Labels: Fix

#28104 Readjusts the quiet environment buff to surgery
  code/modules/surgery/surgery_step.dm
Labels: Balance, Fix

#28117 Fixes events not running
  code/modules/events/_event.dm
Labels: Fix

#28116 Nanite Slurry OD fix
  modular_skyrat/modules/synths/code/reagents/reagents.dm
Labels: Fix

#28174 Wawastation automapper fixes/updates
  _maps/skyrat/automapper/automapper_config.toml
  _maps/skyrat/automapper/templates/wawastation/wawastation_arrivals.dmm
  _maps/skyrat/automapper/templates/wawastation/wawastation_commons.dmm
  _maps/skyrat/automapper/templates/wawastation/wawastation_corridor.dmm
  _maps/skyrat/automapper/templates/wawastation/wawastation_kiosk.dmm
  _maps/skyrat/automapper/templates/wawastation/wawastation_lockers.dmm
  _maps/skyrat/automapper/templates/wawastation/wawastation_ntrep_office.dmm
  modular_skyrat/master_files/code/modules/transport/tram/tram_displays.dm
  modular_skyrat/master_files/code/modules/transport/tram/tram_floors.dm
  modular_skyrat/master_files/icons/obj/tram/tram_display.dmi
  modular_skyrat/master_files/icons/obj/tram/tram_indicator.dmi
  modular_skyrat/modules/mapping/code/areas/station.dm
  modular_skyrat/modules/time_clock/code/sign.dm
  modular_skyrat/modules/time_clock/icons/sign.dmi
  tgstation.dme
Labels: Fix, Sprites, Map Modification

#28164 Actually fixes the blueshift brig cell
  _maps/map_files/NSVBlueshift/Blueshift.dmm
Labels: Fix, Map Modification

#27990 Updates all the borg module items paths
  code/modules/mob/living/silicon/robot/robot.dm
  modular_skyrat/modules/borgs/code/robot_upgrade.dm
Labels: Code Improvement

#28009 New hypospray type. More suitable for combat scenarios.
  modular_skyrat/modules/hyposprays/code/autolathe_designs.dm
  modular_skyrat/modules/hyposprays/code/hypospray_kits.dm
  modular_skyrat/modules/hyposprays/code/hyposprays_II.dm
  modular_skyrat/modules/hyposprays/icons/hypokits.dmi
  modular_skyrat/modules/hyposprays/icons/hyposprays.dmi
Labels: Feature, Sprites, Stale

#28202 OORAH map reset
  _maps/map_files/Basketball/beach_bums.dmm
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/Mining/Lavaland.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/debug/runtimestation.dmm
  _maps/map_files/generic/CentCom.dmm
  _maps/map_files/tramstation/maintenance_modules/arrivalsecupper_3.dmm
  _maps/map_files/tramstation/maintenance_modules/barcargoupper_cave_3.dmm
  _maps/map_files/tramstation/maintenance_modules/cargoscilower_2.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/map_files/wawastation/wawastation.dmm
Labels: Map Modification

#28211 Un gay baby jails everyone
  code/datums/elements/strippable.dm
Labels: Fix, DEVCON 1(FUCK), Priority: HIGH

#28205 Primitive Farming additions & changes
  code/__HELPERS/global_lists.dm
  modular_skyrat/modules/primitive_production/code/ceramics.dm
  modular_skyrat/modules/primitive_production/code/hydroponics.dm
  modular_skyrat/modules/primitive_production/icons/prim_fun.dmi
  modular_skyrat/modules/primitive_structures/code/storage_structures.dm
  modular_skyrat/modules/primitive_structures/icons/storage.dmi
  tgstation.dme
Labels: Feature, Fix, Sprites

#28213 Time clock poster mapping
  _maps/map_files/NSVBlueshift/Blueshift.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  _maps/skyrat/automapper/templates/deltastation/deltastation_cryo.dmm
  _maps/skyrat/automapper/templates/icebox/icebox_cryo.dmm
  _maps/skyrat/automapper/templates/kilostation/kilostation_cryo.dmm
  _maps/skyrat/automapper/templates/metastation/metastation_cryo.dmm
  _maps/skyrat/automapper/templates/northstar/northstar_cryo.dmm
  _maps/skyrat/automapper/templates/tramstation/tramstation_cryo.dmm
  _maps/skyrat/automapper/templates/wawastation/wawastation_commons.dmm
  _maps/skyrat/automapper/templates/wawastation/wawastation_lockers.dmm
  modular_skyrat/modules/time_clock/code/sign.dm
Labels: Map Modification

#28248 Hypospray fix
  modular_skyrat/modules/hyposprays/code/hyposprays_II.dm
Labels: Fix

#28249 Gas Miner fix
  modular_skyrat/modules/modular_items/code/summon_beacon.dm
Labels: Fix

#28229 Self-Actualization Device fixes/updates [NO GBP]
  modular_skyrat/modules/self_actualization_device/code/self_actualization_device.dm
  modular_skyrat/modules/self_actualization_device/icons/self_actualization_device.dmi
Labels: Balance, Fix, Sprites, Grammar and Formatting, Quality of Life, GBP: No Update

#28255 Adds Synthetic versions of biglegs taur option
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/synthliz.dm
Labels: Feature

#28310 SAD ---> Cytology, MCR & Powerator Techweb requirement decrease.
  modular_skyrat/master_files/code/modules/research/techweb/all_nodes.dm
  modular_skyrat/modules/microfusion/code/microfusion_techweb.dm
  modular_skyrat/modules/power/code/powerator.dm
Labels: Balance, Quality of Life

#28284 Add furry photocopy sprites
  code/__DEFINES/~skyrat_defines/mobs.dm
  modular_skyrat/master_files/icons/mob/butts.dmi
  modular_skyrat/modules/bodyparts/code/_mutant_bodyparts.dm
  modular_skyrat/modules/bodyparts/code/moth_bodyparts.dm
  modular_skyrat/modules/bodyparts/code/podperson_bodyparts.dm
  modular_skyrat/modules/bodyparts/code/teshari_bodyparts.dm
  modular_skyrat/modules/bodyparts/code/vox_bodyparts.dm
Labels: Feature, Sprites

#28314 Small batch port
  code/__DEFINES/~skyrat_defines/colors.dm
  code/__DEFINES/~skyrat_defines/manufacturer_strings.dm
  code/datums/chatmessage.dm
  code/modules/mob/emote.dm
  code/modules/mob/living/carbon/human/emote.dm
  code/modules/mob/living/carbon/human/species_types/humans.dm
  code/modules/mob/living/emote.dm
  code/modules/mob/mob.dm
  modular_skyrat/master_files/code/modules/client/preferences.dm
  modular_skyrat/master_files/code/modules/mob/living/sillicon/silicon.dm
  modular_skyrat/modules/chat_colors/code/chat_color.dm
  modular_skyrat/modules/customization/game/objects/items/devices/ttsdevice.dm
  modular_skyrat/modules/emotes/code/dna_screams.dm
  modular_skyrat/modules/emotes/code/emotes.dm
  modular_skyrat/modules/emotes/code/laugh_emotes.dm
  modular_skyrat/modules/emotes/code/scream_emote.dm
  modular_skyrat/modules/ghostcafe/code/ghost_role_spawners.dm
  modular_skyrat/modules/indicators/code/combat_indicator.dm
  modular_skyrat/modules/modular_ert/code/equipment_override.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/saibasan/laser_guns.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/saibasan/mode_datums.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/saibasan/projectiles.dm
  modular_skyrat/modules/modular_weapons/icons/mob/company_and_or_faction_based/saibasan/guns_lefthand.dmi
  modular_skyrat/modules/modular_weapons/icons/mob/company_and_or_faction_based/saibasan/guns_righthand.dmi
  modular_skyrat/modules/modular_weapons/icons/mob/company_and_or_faction_based/saibasan/guns_worn.dmi
  modular_skyrat/modules/modular_weapons/icons/obj/company_and_or_faction_based/saibasan/guns32x.dmi
  modular_skyrat/modules/modular_weapons/icons/obj/company_and_or_faction_based/saibasan/guns48x.dmi
  modular_skyrat/modules/modular_weapons/icons/obj/company_and_or_faction_based/saibasan/projectiles.dmi
  modular_skyrat/modules/modular_weapons/sounds/laser_firing/burn.ogg
  modular_skyrat/modules/modular_weapons/sounds/laser_firing/incinerate.ogg
  modular_skyrat/modules/modular_weapons/sounds/laser_firing/laser.ogg
  modular_skyrat/modules/modular_weapons/sounds/laser_firing/melt.ogg
  modular_skyrat/modules/modular_weapons/sounds/laser_firing/vaporize.ogg
  modular_skyrat/modules/synths/code/bodyparts/silicon_alt_brains.dm
  strings/saibasan/long_modular_laser.json
  strings/saibasan/short_modular_laser.json
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/skyrat/chat_color.tsx
Labels: Sprites, Test Merged

#28322 Removes the Prybar('s ability to open doors.)
  modular_skyrat/modules/colony_fabricator/code/tools/tools.dm
Labels: Removal

#28323 [MODULAR] Fixes crusher code
  modular_skyrat/master_files/code/datums/components/crusher.dm
  modular_skyrat/master_files/code/modules/mining/equipment/kinetic_gauntlets.dm
Labels: Fix

#28340 Adding human.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/human.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/ghoul.dm
Labels: Fix

#28389 Fixes engi/tcomms access on Blueshift and Void Raptor
  _maps/map_files/NSVBlueshift/Blueshift.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Fix, Map Modification

#28393 Medical technician kit
  modular_skyrat/modules/company_imports/code/armament_datums/deforest_medical.dm
  modular_skyrat/modules/deforest_medical_items/code/cargo_packs.dm
  modular_skyrat/modules/deforest_medical_items/code/storage_items.dm
  modular_skyrat/modules/deforest_medical_items/icons/inhands/cases_lefthand.dmi
  modular_skyrat/modules/deforest_medical_items/icons/inhands/cases_righthand.dmi
  modular_skyrat/modules/deforest_medical_items/icons/storage.dmi
  modular_skyrat/modules/deforest_medical_items/icons/worn/worn.dmi
  modular_skyrat/modules/deforest_medical_items/icons/worn/worn_teshari.dmi
  modular_skyrat/modules/hyposprays/code/hyposprays_II.dm
  modular_skyrat/modules/hyposprays/code/hypovials.dm
  modular_skyrat/modules/kahraman_equipment/code/organic_printer_designs/equipment.dm
Labels: Feature, Fix, Sprites

#28395 Allows domain spawners to use character prefs.
  modular_skyrat/modules/bitrunning/code/spawners.dm
  tgstation.dme
Labels: Quality of Life

#28425 Hypospray fixes
  modular_skyrat/modules/hyposprays/code/hyposprays_II.dm
  modular_skyrat/modules/hyposprays/icons/hypokits.dmi
  modular_skyrat/modules/hyposprays/icons/hyposprays.dmi
Labels: Fix, Sprites

#28441 Hypospray/technician medkit fix 2 [NO GBP]
  modular_skyrat/modules/deforest_medical_items/code/storage_items.dm
  modular_skyrat/modules/hyposprays/code/autolathe_designs.dm
  modular_skyrat/modules/hyposprays/code/hyposprays_II.dm
  modular_skyrat/modules/hyposprays/icons/hypokits.dmi
  modular_skyrat/modules/hyposprays/icons/hyposprays.dmi
Labels: Fix, Sprites, GBP: No Update

#28444 [SEMI-MODULAR] [NOVA PORT] A bunch of taur fixes and expansions
  code/__DEFINES/inventory.dm
  code/__DEFINES/~skyrat_defines/limbs.dm
  code/modules/mob/living/carbon/human/human_update_icons.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  modular_skyrat/modules/bodyparts/code/taur_bodyparts.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/synthliz.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/taur_types.dm
  modular_skyrat/modules/customization/modules/surgery/organs/taur_body.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/latex_straight_jacket.dm
  tgstation.dme
Labels: Feature, Fix, Code Improvement

#28445 [SEMI-MODULAR] [NOVA PORT] Fixes a typo in electrical damage description + prevents electrical damage from worsening during repairs + remove some nova edits
  code/__DEFINES/~skyrat_defines/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/datums/chatmessage.dm
  code/modules/surgery/surgery_step.dm
  modular_skyrat/modules/medical/code/wounds/synth/robotic_pierce.dm
  modular_skyrat/modules/medical/code/wounds/synth/robotic_slash.dm
Labels: Balance, Grammar and Formatting

#28467 Hypospray default spray setting [NO GBP]
  modular_skyrat/modules/hyposprays/code/hyposprays_II.dm
Labels: Quality of Life, GBP: No Update

#28481 Hypospray hotfixes [NO GBP]
  modular_skyrat/modules/hyposprays/code/autolathe_designs.dm
  modular_skyrat/modules/hyposprays/code/hyposprays_II.dm
Labels: Fix, Grammar and Formatting, GBP: No Update

#28493 Remove security medic cargo packs [NO GBP]
  modular_skyrat/modules/deforest_medical_items/code/cargo_packs.dm
  modular_skyrat/modules/hyposprays/code/autolathe_designs.dm
Labels: Removal, GBP: No Update

#28492 [SEMI-MODULAR] [NOVA PORT] Ports the serpentine taur "rework" from nova with a few tweaks
  code/modules/mob/living/carbon/human/_species.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/taur_types.dm
  modular_skyrat/modules/customization/modules/surgery/organs/taur_body.dm
  modular_skyrat/modules/emotes/code/additionalemotes/turf_emote.dm
  modular_skyrat/modules/emotes/code/additionalemotes/turf_list.dm
  modular_skyrat/modules/taur_mechanics/code/constrict.dm
  modular_skyrat/modules/taur_mechanics/code/mod.dm
  modular_skyrat/modules/taur_mechanics/code/preferences.dm
  modular_skyrat/modules/taur_mechanics/code/serpentine_taur.dm
  modular_skyrat/modules/taur_mechanics/code/species.dm
  modular_skyrat/modules/taur_mechanics/sprites/ability.dmi
  modular_skyrat/modules/taur_mechanics/sprites/tail.dmi
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/skyrat/species_features.tsx
Labels: Feature, Sprites

#28491 [SEMI-MODULAR] [NOVA PORT] Reimplements some taur sprites gathering dust
  code/modules/clothing/spacesuits/_spacesuits.dm
  code/modules/clothing/suits/utility.dm
  modular_skyrat/master_files/code/modules/clothing/taur_sprites/suit.dm
  modular_skyrat/master_files/icons/mob/clothing/suit_taur_hoof.dmi
  modular_skyrat/master_files/icons/mob/clothing/suit_taur_paw.dmi
  tgstation.dme
Labels: Feature, Sprites

#28485 Re-adds the Irish Tactical Uniform and Royal Kilt
  modular_skyrat/master_files/code/modules/clothing/under/costume.dm
  modular_skyrat/master_files/code/modules/loadout/categories/uniform.dm
  modular_skyrat/master_files/icons/mob/clothing/under/costume.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/costume_digi.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/costume.dmi
Labels: Feature, Sprites

#28442 New Bonesetters and bloodfilters
  modular_skyrat/master_files/code/modules/surgery/organs/internal/cyberimp/augments_arms.dm
  modular_skyrat/modules/filtersandsetters/code/filtersandsetters.dm
  modular_skyrat/modules/filtersandsetters/icons/surgery_tools.dmi
  tgstation.dme
Labels: Feature, Sprites

#28307 Re-adds MCR cell swapping
  _maps/skyrat/automapper/templates/kilostation/kilostation_armory.dmm
  _maps/skyrat/automapper/templates/wawastation/wawastation_armory.dmm
  code/__DEFINES/~skyrat_defines/cargo_import_companies.dm
  code/modules/power/cell.dm
  modular_skyrat/modules/aesthetics/cells/cell.dm
  modular_skyrat/modules/aesthetics/cells/cell.dmi
  modular_skyrat/modules/company_imports/code/armament_datums/akh_frontier.dm
  modular_skyrat/modules/company_imports/code/armament_datums/allstar.dm
  modular_skyrat/modules/company_imports/code/armament_datums/deforest_medical.dm
  modular_skyrat/modules/company_imports/code/armament_datums/jarnsmiour.dm
  modular_skyrat/modules/company_imports/code/armament_datums/kahraman_industries.dm
  modular_skyrat/modules/company_imports/code/armament_datums/micron_control_systems.dm
  modular_skyrat/modules/company_imports/code/armament_datums/microstar_energy.dm
  modular_skyrat/modules/company_imports/code/armament_datums/nakamura_modsuits.dm
  modular_skyrat/modules/company_imports/code/armament_datums/nri_military_surplus.dm
  modular_skyrat/modules/company_imports/code/armament_datums/put_a_donk_on_it.dm
  modular_skyrat/modules/company_imports/code/armament_datums/sol_defense.dm
  modular_skyrat/modules/company_imports/code/armament_datums/vitezstvi_ammo.dm
  modular_skyrat/modules/company_imports/code/company_datums.dm
  modular_skyrat/modules/company_imports/code/objects/microstar/mcr_attachment_kits.dm
  modular_skyrat/modules/company_imports/code/objects/vitezstvi/ammo_boxes.dm
  modular_skyrat/modules/microfusion/code/cargo_stuff.dm
  modular_skyrat/modules/microfusion/code/gun_types.dm
  modular_skyrat/modules/microfusion/code/microfusion_cell.dm
  modular_skyrat/modules/microfusion/code/microfusion_cell_attachments.dm
  modular_skyrat/modules/microfusion/code/microfusion_designs.dm
  modular_skyrat/modules/microfusion/code/microfusion_energy_master.dm
  modular_skyrat/modules/microfusion/code/microfusion_gun_attachments.dm
  modular_skyrat/modules/microfusion/code/microfusion_techweb.dm
  modular_skyrat/modules/microfusion/code/projectiles.dm
  modular_skyrat/modules/sec_haul/code/guns/armory_spawns.dm
  tgstation.dme
Labels: Sprites, Test Merged, Map Modification

#28424 Pref updating code and language update
  code/__DEFINES/~skyrat_defines/culture.dm
  code/modules/client/preferences_savefile.dm
  modular_skyrat/master_files/code/modules/client/preferences.dm
  modular_skyrat/master_files/code/modules/client/preferences/middleware/languages.dm
  modular_skyrat/master_files/code/modules/client/preferences_savefile.dm
  modular_skyrat/master_files/code/modules/language/language_holder.dm
  modular_skyrat/modules/customization/modules/jobs/_job.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/LanguagesMenu.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/data.ts
Labels: Feature, Code Improvement, Quality of Life
