Repository Skyrat-SS13/Skyrat-tg, pull requests merged in 2024-03, with the labels that each got.

#26798 Fixes machine frames on maps
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_syndicate_base1_skyrat.dmm
  _maps/RandomRuins/LavaRuins/skyrat/lavaland_surface_syndicate_base1_skyrat.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/interdynefob.dmm
  tools/UpdatePaths/Scripts_Skyrat/26596_machineframe_state.txt
  tools/UpdatePaths/Scripts_Skyrat/26798_machineframe_update_secured.txt
Labels: Map Modification

#26670 Readjusts syringe gun code, fixing DNA Syringe Gun
  code/modules/projectiles/guns/special/syringe_gun.dm
  modular_skyrat/modules/medical/code/smartdarts.dm
Labels: Fix

#26677 [MODULAR] Gives roboticists a medkit containing synthetic treatment items, adds general synth medkits, rebalances some synth medicine-centric cargo packs, and more
  modular_skyrat/master_files/code/modules/jobs/job_types/roboticist.dm
  modular_skyrat/modules/medical/code/cargo/packs.dm
  modular_skyrat/modules/medical/code/medical_lefthand.dmi
  modular_skyrat/modules/medical/code/medical_righthand.dmi
  modular_skyrat/modules/medical/code/medkit.dm
  modular_skyrat/modules/medical/code/medkit.dmi
Labels: Feature, Balance, Sprites, Stale

#26679 Blueshield PR of all time, asked to stop powercreeping
  code/modules/projectiles/projectile/energy/stun.dm
  modular_skyrat/modules/blueshield/code/blueshield.dm
  modular_skyrat/modules/blueshield/code/closet.dm
  modular_skyrat/modules/blueshield/code/energy_resholver.dm
  modular_skyrat/modules/blueshield/icons/40x32.dmi
  modular_skyrat/modules/blueshield/icons/energy.dmi
  modular_skyrat/modules/blueshield/icons/guns_lefthand.dmi
  modular_skyrat/modules/blueshield/icons/guns_righthand.dmi
  tgstation.dme
Labels: Feature, Sprites

#26797 Security Order Console Buff
  modular_skyrat/master_files/code/modules/cargo/goodies.dm
  modular_skyrat/master_files/code/modules/cargo/packs/security.dm
  modular_skyrat/modules/aesthetics/guns/code/guns.dm
  modular_skyrat/modules/aesthetics/guns/icons/guns.dmi
  modular_skyrat/modules/aesthetics/guns/icons/guns_back.dmi
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/trappiste_fabriek/gunsets.dm
Labels: Sprites

#26743 Missingmirrors
  _maps/RandomRuins/IceRuins/icemoon_surface_smoking_room.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  code/datums/brain_damage/severe.dm
  code/datums/elements/bed_tucking.dm
  code/datums/mood_events/eldritch_painting_events.dm
  code/game/objects/items/plushes.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/structures/bedsheet_bin.dm
  code/game/objects/structures/girders.dm
  code/modules/antagonists/heretic/items/eldritch_painting.dm
  code/modules/antagonists/heretic/knowledge/ash_lore.dm
  code/modules/antagonists/heretic/knowledge/cosmic_lore.dm
  code/modules/antagonists/heretic/knowledge/flesh_lore.dm
  code/modules/antagonists/heretic/knowledge/lock_lore.dm
  code/modules/antagonists/heretic/knowledge/moon_lore.dm
  code/modules/antagonists/heretic/knowledge/side_ash_moon.dm
  code/modules/antagonists/heretic/knowledge/side_cosmos_ash.dm
  code/modules/antagonists/heretic/knowledge/side_lock_flesh.dm
  code/modules/antagonists/heretic/knowledge/side_lock_moon.dm
  code/modules/antagonists/heretic/knowledge/side_rust_cosmos.dm
  code/modules/antagonists/heretic/knowledge/side_void_blade.dm
  code/modules/antagonists/heretic/magic/cosmic_runes.dm
  code/modules/antagonists/heretic/magic/moon_parade.dm
  code/modules/antagonists/heretic/magic/moon_ringleader.dm
  code/modules/antagonists/heretic/magic/nightwatcher_rebirth.dm
  code/modules/antagonists/heretic/magic/rust_charge.dm
  code/modules/antagonists/heretic/magic/star_blast.dm
  code/modules/antagonists/heretic/magic/star_touch.dm
  code/modules/antagonists/heretic/status_effects/debuffs.dm
  code/modules/antagonists/nukeop/equipment/nuclear_authentication_disk.dm
  code/modules/mining/ores_coins.dm
  code/modules/power/apc/apc_attack.dm
  code/modules/power/cell.dm
  code/modules/research/designs/autolathe/engineering_designs.dm
  code/modules/research/techweb/all_nodes.dm
  code/modules/transport/tram/tram_floors.dm
  code/modules/transport/transport_module.dm
  icons/mob/inhands/items/tiles_lefthand.dmi
  icons/mob/inhands/items/tiles_righthand.dmi
  icons/obj/structures.dmi
  icons/obj/tiles.dmi
  icons/obj/tram/tram_wall.dmi
Labels: Sprites, Stale, Map Modification

#26838 Ai law stuff
  code/game/objects/effects/spawners/random/ai_module.dm
  modular_skyrat/master_files/code/datums/ai_laws.dm
  modular_skyrat/master_files/code/game/objects/items/AI_modules.dm
  modular_skyrat/master_files/code/modules/research/designs/AI_module_designs.dm
  tgstation.dme
Labels: Good First PR

#26884 Donator Item Stuff
  modular_skyrat/master_files/icons/donator/mob/clothing/ears.dmi
  modular_skyrat/master_files/icons/donator/mob/clothing/hands.dmi
  modular_skyrat/master_files/icons/donator/obj/clothing/ears.dmi
  modular_skyrat/master_files/icons/donator/obj/clothing/gloves.dmi
  modular_skyrat/master_files/icons/obj/ring.dmi
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
  modular_skyrat/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
Labels: Sprites

#26991 Machine construction buildtime modification
  code/modules/research/machinery/_production.dm
  modular_skyrat/master_files/code/modules/research/machinery/_production.dm
  modular_skyrat/modules/colony_fabricator/code/colony_fabricator.dm
  tgstation.dme
Labels: Balance, Refactor
