Repository Skyrat-SS13/Skyrat-tg, pull requests merged in 2024-05, with the labels that each got.

#27557 Brings back company orders
  tgui/packages/tgui/interfaces/Cargo/index.tsx
Labels: Fix

#27564 Adding fragile_customization
  code/game/objects/items/devices/scanners/health_analyzer.dm
  modular_skyrat/master_files/code/datums/traits/negative.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/skyrat/fragile_customization.tsx
Labels: Feature

#27566 Fixes synth computers forcing open the messenger app thanks to power related code
  modular_skyrat/modules/synths/code/bodyparts/internal_computer/internal_computer.dm
Labels: Fix

#27565 [MODULAR]Adds fans to arrival shuttles
  _maps/shuttles/skyrat/arrivals_skyrat.dmm
Labels: Feature, Map Modification

#27568 Adds extra husk info to the health analyzer
  code/game/objects/items/devices/scanners/health_analyzer.dm
Labels: Quality of Life

#27571 Puts hypovials (and smart darts) back in the ChemMaster
  code/modules/reagents/chemistry/machinery/chem_master.dm
Labels: Fix

#27588 Misc fixes
  modular_skyrat/master_files/code/modules/power/powernet.dm
  modular_skyrat/modules/autotransfer/code/transfer_vote.dm
  tgstation.dme
Labels: Fix, Refactor

#27595 [FIX] Various emote fixes
  code/datums/emotes.dm
  code/modules/mob/emote.dm
  code/modules/mob/living/carbon/human/emote.dm
Labels: Fix

#27600 Fixes Armaments station tgui error, when trying to select item.
  tgui/packages/tgui/interfaces/ArmamentStation.jsx
Labels: Fix

#27597 Ports few PRs from Nova
  modular_skyrat/master_files/code/datums/traits/neutral.dm
  modular_skyrat/master_files/code/modules/clothing/clothing_variation_overrides/suit.dm
  modular_skyrat/master_files/code/modules/clothing/suits/labcoat.dm
  modular_skyrat/master_files/code/modules/clothing/under/jobs/security.dm
  modular_skyrat/master_files/icons/mob/clothing/suits/labcoat.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/security.dmi
  modular_skyrat/master_files/icons/mob/sprite_accessory/taur.dmi
  modular_skyrat/master_files/icons/mob/sprite_accessory/wings.dmi
  modular_skyrat/master_files/icons/obj/clothing/suits/labcoat.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/security.dmi
  modular_skyrat/modules/customization/modules/clothing/suits/hoodies.dm
  modular_skyrat/modules/customization/modules/clothing/suits/misc.dm
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/taur_types.dm
  modular_skyrat/modules/goofsec/code/sec_clothing_overrides.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_suit.dm
  modular_skyrat/modules/loadouts/loadout_items/under/loadout_datum_under.dm
  modular_skyrat/modules/modular_vending/code/wardrobes.dm
  modular_skyrat/modules/organs/code/tongue.dm
  modular_skyrat/modules/sec_haul/code/misc/vending.dm
Labels: Sprites

#27605 [Minor fix] Raptor/Digi cybernetics recategorization
  modular_skyrat/modules/digitigrade_cybernetics/code/mechfabricator_designs.dm
  modular_skyrat/modules/tesh_augments/code/mechfabricator_designs.dm
Labels: Fix

#27624 Add disposals to interlink/ghost cafe
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
Labels: Quality of Life, Map Modification

#27606 Fixes toxin mold spiders suffocating
  code/modules/mob/living/basic/space_fauna/spider/giant_spider/giant_spiders.dm
Labels: Fix

#27686 Ports Ports effigy-se #814 (Leashes) from Nova and one more thing
  _maps/skyrat/lazy_templates/deathmatch/deep_space.dmm
  modular_skyrat/master_files/code/modules/jobs/job_types/roboticist.dm
  modular_skyrat/modules/company_imports/code/armament_datums/deforest_medical.dm
  modular_skyrat/modules/deforest_medical_items/code/healing_stack_items.dm
  modular_skyrat/modules/deforest_medical_items/code/injectors.dm
  modular_skyrat/modules/deforest_medical_items/code/medstation_designs/medical.dm
  modular_skyrat/modules/deforest_medical_items/code/storage_items_robotics.dm
  modular_skyrat/modules/deforest_medical_items/code/synth_healing.dm
  modular_skyrat/modules/deforest_medical_items/code/vendor.dm
  modular_skyrat/modules/deforest_medical_items/icons/injectors.dmi
  modular_skyrat/modules/deforest_medical_items/icons/stack_items.dmi
  modular_skyrat/modules/deforest_medical_items/icons/storage.dmi
  modular_skyrat/modules/medical/code/cargo/packs.dm
  modular_skyrat/modules/medical/code/medkit.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/_erp_disabled_item_enforcement.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/leash.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_machinery/lustwish.dm
  modular_skyrat/modules/modular_items/lewd_items/code/verbs.dm
  modular_skyrat/modules/synths/code/reagents/reagents.dm
  tgstation.dme
Labels: Feature, Sprites, Map Modification

#27673 Updates the Frontier gas masks with a muzzle sprite.
  modular_skyrat/master_files/icons/mob/clothing/mask_muzzled.dmi
  modular_skyrat/modules/kahraman_equipment/code/clothing/clothing.dm
  modular_skyrat/modules/kahraman_equipment/icons/clothes/clothing_worn.dmi
  modular_skyrat/modules/kahraman_equipment/icons/clothes/clothing_worn_digi.dmi
  modular_skyrat/modules/kahraman_equipment/icons/clothes/clothing_worn_teshari.dmi
Labels: Sprites

#27529 adds skub compatibility to trait button
  modular_skyrat/modules/title_screen/code/station_traits.dm
  modular_skyrat/modules/title_screen/code/title_screen_html.dm
Labels: Fix, Stale

#27706 makes a hard cap of three added force for forging weapons
  modular_skyrat/modules/reagent_forging/code/crafting_bench.dm
Labels: Fix

#27715 limiting the circuit
  modular_skyrat/modules/reagent_forging/code/forge_items.dm
Labels: Balance

#27422 [MODULAR] Add circuit cameras and bluespace reagent injector
  code/__DEFINES/wiremod.dm
  code/modules/wiremod/components/bci/reagent_injector.dm
  code/modules/wiremod/core/integrated_circuit.dm
  modular_skyrat/master_files/code/modules/wiremod/components/action/pathfind.dm
  modular_skyrat/master_files/code/modules/wiremod/components/bci/reagent_injector_bluespace.dm
  modular_skyrat/master_files/code/modules/wiremod/components/sensors/remotecam.dm
  modular_skyrat/modules/additional_circuit/code/_designs.dm
  tgstation.dme
Labels: Feature, Quality of Life

#27741 [BOUNTY] H.I.F.L. suit
  modular_skyrat/master_files/code/modules/mining/equipment/explorer_gear.dm
  modular_skyrat/master_files/code/modules/orders/order_mining.dm
  modular_skyrat/master_files/icons/mob/clothing/mask.dmi
  modular_skyrat/master_files/icons/mob/clothing/suit.dmi
  modular_skyrat/master_files/icons/mob/clothing/suit_digi.dmi
  modular_skyrat/master_files/icons/obj/clothing/masks.dmi
  modular_skyrat/master_files/icons/obj/clothing/suits.dmi
  tgstation.dme
Labels: Feature, Sprites

#27743 Refactors simple_farm create_harvest
  modular_skyrat/modules/ashwalkers/code/buildings/ash_farming.dm
Labels: Balance, Refactor

#27745 Adds new frills
  modular_skyrat/master_files/icons/mob/sprite_accessory/frills.dmi
  modular_skyrat/modules/customization/modules/mob/dead/new_player/sprite_accessories/frills.dm
Labels: Sprites

#26880 Two New Skills
  code/datums/components/crafting/crafting.dm
  code/datums/elements/loomable.dm
  code/game/objects/items.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/stacks/stack.dm
  code/game/objects/structures/girders.dm
  modular_skyrat/modules/ashwalkers/code/buildings/antfarm.dm
  modular_skyrat/modules/ashwalkers/code/buildings/ash_farming.dm
  modular_skyrat/modules/ashwalkers/code/buildings/planttank.dm
  modular_skyrat/modules/ashwalkers/code/buildings/wormfarm.dm
  modular_skyrat/modules/ashwalkers/code/items/ash_centrifuge.dm
  modular_skyrat/modules/ashwalkers/code/items/ash_seedmesh.dm
  modular_skyrat/modules/primitive_cooking_additions/code/big_mortar.dm
  modular_skyrat/modules/primitive_cooking_additions/code/millstone.dm
  modular_skyrat/modules/primitive_production/code/construction.dm
  modular_skyrat/modules/primitive_production/code/primitive.dm
  modular_skyrat/modules/primitive_production/icons/cloaks.dmi
  modular_skyrat/modules/primitive_production/icons/neck.dmi
  tgstation.dme
Labels: Sprites, Stale-b-gone

#27813 Add Paddy to voidraptor and add more charger to blueshift office
  _maps/map_files/NSVBlueshift/Blueshift.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Fix, Map Modification

#27880 Update of the mcr self charge
  modular_skyrat/modules/microfusion/code/microfusion_cell_attachments.dm
Labels: Fix

#27881 Quickfixes akula wetsuits
  modular_skyrat/master_files/code/modules/clothing/under/akula_jobs.dm
Labels: Fix

#27882 Hoods and helmets show ears
  modular_skyrat/master_files/code/modules/clothing/anthro_clothes.dm
  modular_skyrat/modules/ashwalkers/code/buildings/ash_clothing_vendor.dm
  modular_skyrat/modules/customization/modules/clothing/head/head.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_heads.dm
  modular_skyrat/modules/modular_vending/code/clothesmate.dm
  modular_skyrat/modules/primitive_catgirls/code/clothing.dm
  modular_skyrat/modules/primitive_catgirls/code/clothing_vendor.dm
Labels: Feature

#27831 Add leash to borg dom module
  modular_skyrat/modules/borgs/code/robot_upgrade.dm
Labels: Feature
