Repository Skyrat-SS13/Skyrat-tg, pull requests merged in 2024-04, with the labels that each got.

#27132 [MODULAR] Create a new techweb for DS-2
  _maps/RandomRuins/IceRuins/skyrat/icemoon_underground_syndicate_base1_skyrat.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/interdynefob.dmm
  code/controllers/subsystem/research.dm
  modular_skyrat/modules/tarkon/code/misc-fluff/research.dm
Labels: Feature, Map Modification

#27115 Add vents/scrubbers to dorms on Interlink
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
Labels: Feature, Map Modification

#27044 Clean up examine panel spans
  code/modules/mob/living/carbon/human/examine.dm
  modular_skyrat/master_files/code/modules/client/preferences/erp_preferences.dm
  modular_skyrat/master_files/code/modules/mob/living/examine_tgui.dm
  modular_skyrat/modules/modular_implants/code/nifs.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/skyrat/genitals.tsx
Labels: Grammar and Formatting

#27000 Trauma team port
  code/__DEFINES/~skyrat_defines/colony_fabricator_misc.dm
  code/game/objects/items/circuitboards/machines/machine_circuitboards.dm
  modular_skyrat/modules/company_imports/code/armament_datums/deforest_medical.dm
  modular_skyrat/modules/deforest_medical_items/code/cargo_packs.dm
  modular_skyrat/modules/deforest_medical_items/code/healing_stack_items.dm
  modular_skyrat/modules/deforest_medical_items/code/illegal_injectors.dm
  modular_skyrat/modules/deforest_medical_items/code/injectors.dm
  modular_skyrat/modules/deforest_medical_items/code/medstation.dm
  modular_skyrat/modules/deforest_medical_items/code/medstation_designs/blood.dm
  modular_skyrat/modules/deforest_medical_items/code/medstation_designs/medical.dm
  modular_skyrat/modules/deforest_medical_items/code/storage_items.dm
  modular_skyrat/modules/deforest_medical_items/code/treatment_zone_projector.dm
  modular_skyrat/modules/deforest_medical_items/code/vendor.dm
  modular_skyrat/modules/deforest_medical_items/icons/medstation.dmi
  modular_skyrat/modules/deforest_medical_items/icons/storage.dmi
  modular_skyrat/modules/deforest_medical_items/icons/telegraph_96x96.dmi
  modular_skyrat/modules/deforest_medical_items/icons/vendor.dmi
  tgstation.dme
Labels: Sprites

#27066 [MIRROR] Fix 100k toggle move intent comsig runtimes (#82239)
  code/_onclick/hud/screen_objects.dm
  code/modules/mob/mob_movement.dm
Labels: Stale

#27009 create circuits from forging
  modular_skyrat/modules/reagent_forging/code/crafting_bench.dm
  modular_skyrat/modules/reagent_forging/code/crafting_bench_recipes.dm
  modular_skyrat/modules/reagent_forging/code/forge_items.dm
  modular_skyrat/modules/reagent_forging/icons/obj/forge_items.dmi
Labels: Feature, Sprites, Stale

#27094 Fixes service guard baton missing access to the service hall
  modular_skyrat/modules/goofsec/code/department_guards.dm
Labels: Fix

#27039 Changes list of headshot hosts
  modular_skyrat/master_files/code/modules/client/preferences/headshot.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/skyrat/headshot.tsx
Labels: Stale

#27055 Limb grower can now print nitrogen lungs
  code/modules/research/designs/limbgrower_designs.dm
  modular_skyrat/modules/goofsec/code/sol_fed.dm
  modular_skyrat/modules/medical_designs/medical_designs.dm
Labels: Stale, Quality of Life

#27185 lmao (Fixes guns having the wrong suit slot)
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/grenade_launcher.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/rifle.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/shotgun.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/submachinegun.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/szot_dynamica/rifle.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/szot_dynamica/submachinegun.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/xhihao_light_arms/submachinegun.dm
Labels: Fix

#27301 Adding cap's spare safes to kilo and blueshift
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/NSVBlueshift/Blueshift.dmm
Labels: Map Modification

#27079 Fixes issues with tableflipping.
  modular_skyrat/modules/tableflip/code/flipped_table.dm
Labels: Fix, Stale

#27183 Smooth the alcohol impairment curve because a bottle of vodka should last more than 5 minutes
  code/__DEFINES/reagents.dm
  code/datums/mood.dm
  code/datums/status_effects/debuffs/drunk.dm
  code/modules/reagents/chemistry/reagents/drinks/alcohol_reagents.dm
  modular_skyrat/modules/alcohol_processing/code/alcohol_processing.dm
  modular_skyrat/modules/alcohol_processing/readme.md
  tgstation.dme
Labels: Balance, Stale

#27333 Tries to fix birdshot CI
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/skyrat/automapper/automapper_config.toml
  _maps/skyrat/automapper/templates/birdshot/birdshot_supermatter.dmm
Labels: Fix, Map Modification

#27335 Replaces deciseconds in `do_after` and `add_timer` in modular files with SECONDS
  modular_skyrat/master_files/code/game/objects/items/RCD.dm
  modular_skyrat/modules/aesthetics/lights/code/lighting.dm
  modular_skyrat/modules/ammo_workbench/code/ammo_workbench.dm
  modular_skyrat/modules/borgs/code/robot_items.dm
  modular_skyrat/modules/clock_cult/code/structures/technologists_lectern.dm
  modular_skyrat/modules/gunpoint/code/gunpoint_datum.dm
  modular_skyrat/modules/horrorform/code/horror_form.dm
  modular_skyrat/modules/implants/code/augments_internal.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/bdsm_mask.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/latex_catsuit.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/shockcollar.dm
  modular_skyrat/modules/moretraitoritems/code/weapons.dm
  modular_skyrat/modules/tarkon/code/misc-fluff/spawner.dm
Labels: Refactor

#27356 Fixes synth APC charging
  modular_skyrat/modules/synths/code/bodyparts/power_cord.dm
Labels: Fix

#27358 Power system updates 1
  code/__DEFINES/~skyrat_defines/apc_defines.dm
  code/modules/power/apc/apc_main.dm
  code/modules/power/tesla/coil.dm
  modular_skyrat/master_files/code/modules/power/tesla/coil.dm
  modular_skyrat/modules/apc_arcing/code/apc.dm
  tgstation.dme
Labels: Balance, Fix, Removal

#27357 Fixes multi-cell chargers
  modular_skyrat/modules/colony_fabricator/code/appliances/wall_cell_charger.dm
  modular_skyrat/modules/multicellcharger/code/multi_cell_charger.dm
Labels: Fix

#27359 Additional Emotes and Added Audio
  modular_skyrat/modules/emotes/code/emotes.dm
  modular_skyrat/modules/emotes/sound/emotes/female/clear_f.ogg
  modular_skyrat/modules/emotes/sound/emotes/male/clear_m.ogg
  modular_skyrat/modules/emotes/sound/voice/howl.ogg
  modular_skyrat/modules/emotes/sound/voice/pant.ogg
Labels: Feature, Removal

#27223 Teshari Specific Ports from Nova Sector
  code/datums/mutations/body.dm
  code/datums/quirks/positive_quirks/settler.dm
  code/game/objects/structures/tables_racks.dm
  code/modules/mob/living/carbon/human/human_update_icons.dm
  modular_skyrat/master_files/icons/hud/actions.dmi
  modular_skyrat/master_files/icons/misc/language.dmi
  modular_skyrat/master_files/icons/mob/clothing/species/teshari/accessories.dmi
  modular_skyrat/modules/bodyparts/code/teshari_bodyparts.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/szot_dynamica/rifle.dm
  modular_skyrat/modules/modular_weapons/code/gun_launches_little_guys_element.dm
  modular_skyrat/modules/organs/code/ears.dm
  modular_skyrat/modules/tesh_augments/code/all_nodes.dm
  modular_skyrat/modules/tesh_augments/code/limbs.dm
  modular_skyrat/modules/tesh_augments/code/mechfabricator_designs.dm
  modular_skyrat/modules/tesh_augments/code/robot_bodyparts.dm
  modular_skyrat/modules/tesh_augments/icons/advanced_augments_teshari.dmi
  modular_skyrat/modules/tesh_augments/icons/augments_teshari.dmi
  modular_skyrat/modules/tesh_augments/icons/sbipc_raptor.dmi
  modular_skyrat/modules/tesh_augments/icons/surplus_augments_teshari.dmi
  modular_skyrat/modules/tesh_augments/readme.md
  modular_skyrat/modules/teshari/code/_teshari.dm
  modular_skyrat/modules/teshari/code/schechi.dm
  tgstation.dme
Labels: Feature, Fix, Sprites, Grammar and Formatting

#27228 Scraps newbie green pin
  code/__DEFINES/~skyrat_defines/preferences.dm
  modular_skyrat/master_files/code/modules/client/playtime.dm
  modular_skyrat/master_files/icons/mob/clothing/accessories.dmi
  modular_skyrat/master_files/icons/obj/clothing/accessories.dmi
  modular_skyrat/modules/customization/modules/clothing/under/accessories.dm
  modular_skyrat/modules/loadouts/loadout_ui/loadout_outfit_helpers.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/skyrat/playtime_restricted.tsx
Labels: Sprites, Stale

#27227 Fixes the dual inducers, opting to keep the tg one
  modular_skyrat/master_files/code/modules/research/techweb/all_nodes.dm
  modular_skyrat/modules/borg_buffs/code/robot.dm
  modular_skyrat/modules/borgs/code/mechafabricator_designs.dm
  modular_skyrat/modules/borgs/code/robot_upgrade.dm
Labels: Fix

#27202 Cafe areas now actually have inheritance
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  modular_skyrat/modules/ghostcafe/code/ghost_role_spawners.dm
  modular_skyrat/modules/mapping/code/areas/centcom.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/size_items.dm
  tools/UpdatePaths/Scripts_Skyrat/27202_update_cafe_areas.txt
Labels: Code Improvement, Stale-b-gone, Map Modification

#26730 some primitive changes
  code/__HELPERS/~skyrat_helpers/is_helpers.dm
  modular_skyrat/modules/ashwalkers/code/effects/ash_rituals.dm
  modular_skyrat/modules/ashwalkers/code/items/ash_centrifuge.dm
  modular_skyrat/modules/ashwalkers/code/items/ash_surgery.dm
  modular_skyrat/modules/ashwalkers/code/items/ash_weapon.dm
  modular_skyrat/modules/ashwalkers/code/items/ashwalker_shaman.dm
  modular_skyrat/modules/ashwalkers/icons/ashwalker_tools.dmi
  modular_skyrat/modules/primitive_cooking_additions/code/plant_bag.dm
  modular_skyrat/modules/primitive_cooking_additions/icons/plant_bag.dmi
  modular_skyrat/modules/primitive_cooking_additions/icons/plant_bag_worn.dmi
  modular_skyrat/modules/primitive_cooking_additions/icons/plant_bag_worn_mirror.dmi
  tgstation.dme
Labels: Sprites, Stale-b-gone

#26806 simple research
  code/modules/experisci/experiment/handlers/experiment_handler.dm
  modular_skyrat/modules/simple_research/cloaks.dmi
  modular_skyrat/modules/simple_research/neck.dmi
  modular_skyrat/modules/simple_research/research_document.dm
  modular_skyrat/modules/simple_research/research_skill.dm
  modular_skyrat/modules/simple_research/researching.dmi
  modular_skyrat/modules/simple_research/simple_research.dm
  modular_skyrat/modules/xenoarch/code/modules/research/xenoarch/strange_rock.dm
  modular_skyrat/modules/xenoarch/code/modules/research/xenoarch/xenoarch_item.dm
  modular_skyrat/modules/xenoarch/code/modules/research/xenoarch/xenoarch_machine.dm
  modular_skyrat/modules/xenoarch/code/modules/research/xenoarch/xenoarch_tool.dm
  tgstation.dme
Labels: Sprites, Stale-b-gone

#27279 Hypospray and ICSpawning ports
  code/_globalvars/lists/reagents.dm
  code/game/gamemodes/objective_items.dm
  code/game/objects/items/storage/belt.dm
  code/game/objects/structures/crates_lockers/closets/secure/medical.dm
  modular_skyrat/modules/GAGS/greyscale_configs.dm
  modular_skyrat/modules/GAGS/json_configs/items/hypokit.json
  modular_skyrat/modules/GAGS/json_configs/items/hypospray.json
  modular_skyrat/modules/GAGS/json_configs/items/hypovial.json
  modular_skyrat/modules/company_imports/code/armament_datums/deforest_medical.dm
  modular_skyrat/modules/hyposprays/code/autolathe_designs.dm
  modular_skyrat/modules/hyposprays/code/hypospray_kits.dm
  modular_skyrat/modules/hyposprays/code/hyposprays_II.dm
  modular_skyrat/modules/hyposprays/code/hypovials.dm
  modular_skyrat/modules/hyposprays/code/vending_hypospray.dm
  modular_skyrat/modules/hyposprays/icons/hypokits.dmi
  modular_skyrat/modules/hyposprays/icons/hypospray_fillings.dmi
  modular_skyrat/modules/hyposprays/icons/hyposprays.dmi
  modular_skyrat/modules/hyposprays/icons/vials.dmi
  modular_skyrat/modules/hyposprays/readme.md
  modular_skyrat/modules/icspawning/code/observer.dm
  modular_skyrat/modules/icspawning/code/standard.dm
  modular_skyrat/modules/loadouts/loadout_items/loadout_datum_pocket.dm
  modular_skyrat/modules/time_clock/code/console_tgui.dm
Labels: Feature, Balance, Fix, Sprites, Administration, Stale, Quality of Life

#27427 Fixes basic benos dying due to being cold
  modular_skyrat/master_files/code/modules/mob/living/basic/alien/alien.dm
Labels: Fix

#27447 Tarkon and Charlie QoL
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon.dmm
  _maps/RandomRuins/SpaceRuins/skyrat/port_tarkon/cargo_warehouse.dmm
  modular_skyrat/modules/mapping/code/mob_spawns.dm
Labels: Feature, Fix, Quality of Life, Map Modification

#27470 [NO GBP] Slime AI fixes + prerequisites (newest mirror: makes slimes not idle)
  code/__DEFINES/ai/ai.dm
  code/__DEFINES/ai/ai_blackboard.dm
  code/__DEFINES/dcs/signals/signals_ai_controller.dm
  code/controllers/subsystem/ai_controllers.dm
  code/datums/ai/_ai_behavior.dm
  code/datums/ai/_ai_controller.dm
  code/datums/ai/basic_mobs/basic_ai_behaviors/stop_and_stare.dm
  code/datums/ai/basic_mobs/basic_ai_behaviors/targeting.dm
  code/datums/ai/basic_mobs/basic_ai_behaviors/ventcrawling.dm
  code/datums/ai/dog/dog_behaviors.dm
  code/datums/components/connect_range.dm
  code/datums/elements/hostile_machine.dm
  code/datums/proximity_monitor/field.dm
  code/datums/proximity_monitor/fields/ai_target_tracking.dm
  code/datums/proximity_monitor/fields/gravity.dm
  code/datums/proximity_monitor/fields/projectile_dampener.dm
  code/datums/proximity_monitor/fields/timestop.dm
  code/datums/proximity_monitor/proximity_monitor.dm
  code/game/objects/effects/poster_motivational.dm
  code/modules/antagonists/traitor/components/demoraliser.dm
  code/modules/mob/living/basic/slime/ai/controller.dm
  code/modules/transport/elevator/elev_music_zone.dm
  tgstation.dme
Labels: Code Improvement, Quality of Life, GBP: No Update

#27471 [POWER FIX #1] Medicell power fixes, MCR power fixes + MCR define fixes
  modular_skyrat/modules/cellguns/code/mediguns.dm
  modular_skyrat/modules/microfusion/code/_microfusion_defines.dm
  modular_skyrat/modules/microfusion/code/microfusion_cell.dm
  modular_skyrat/modules/microfusion/code/microfusion_energy_master.dm
  modular_skyrat/modules/microfusion/code/phase_emitter.dm
  modular_skyrat/modules/microfusion/code/projectiles.dm
  modular_skyrat/modules/new_cells/code/power_cell.dm
Labels: Fix

#27476 one (1) alt title for chaplain
  modular_skyrat/modules/alternative_job_titles/code/alt_job_titles.dm
Labels: Feature

#27489 [POWER FIX #2] Synth mechcharger recharging, Crank cell, MCR discharge
  modular_skyrat/modules/microfusion/code/microfusion_cell.dm
  modular_skyrat/modules/new_cells/code/power_cell.dm
  modular_skyrat/modules/synths/code/bodyparts/stomach.dm
Labels: Fix

#27404 Adds Local Internet Music
  modular_skyrat/modules/admin/code/localsound.dm
  tgstation.dme
Labels: Administration

#27505 Fixes hardlight wheelchair infinite metal oversite
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_items.dm
Labels: Fix

#27490 Clears out MCR defines
  modular_skyrat/modules/microfusion/code/microfusion_cell.dm
Labels: Code Improvement

#27516 [s] Added logging for server log lookups
  code/__HELPERS/files.dm
  code/modules/admin/verbs/getlogs.dm
Labels: Logging

#27434 Winrow plushie changes
  modular_skyrat/modules/customization/game/objects/items/plushes.dm
  modular_skyrat/modules/loadouts/loadout_items/donator/personal/donator_personal.dm
Labels: Feature

#27512 Modular: Implement distance based get_available_servers() for off-station machines
  _maps/RandomRuins/SpaceRuins/skyrat/interdynefob.dmm
  modular_skyrat/master_files/code/controllers/subsystem/research.dm
  tgstation.dme
Labels: Balance, Map Modification

#27479 adds the new movement speed modifier to raptor cybernetics
  modular_skyrat/modules/tesh_augments/code/robot_bodyparts.dm
Labels: Feature

#27165 Nerfs Powerator a bit
  code/__DEFINES/subsystems.dm
  modular_skyrat/modules/power/code/powerator.dm
  modular_skyrat/modules/power/code/powerator_subsystem.dm
  tgstation.dme
Labels: Balance, DO NOT MERGE, Stale-b-gone

#27275 Service borg updates: Part 1 - The debloatening
  code/modules/mob/living/silicon/robot/robot_model.dm
  modular_skyrat/master_files/code/modules/research/techweb/all_nodes.dm
  modular_skyrat/modules/borg_buffs/code/robot.dm
  modular_skyrat/modules/borg_buffs/icons/items_cyborg.dmi
  modular_skyrat/modules/borgs/code/mechafabricator_designs.dm
  modular_skyrat/modules/borgs/code/robot_upgrade.dm
Labels: Balance, Fix, Sprites, Grammar and Formatting, Stale, Quality of Life
