Repository Skyrat-SS13/Skyrat-tg, pull requests merged in 2024-07, with the labels that each got.

#28234 SMES and Solar Update
  code/modules/power/smes.dm
  code/modules/power/solar.dm
  modular_skyrat/master_files/code/modules/power/smes.dm
  tgstation.dme
Labels: DO NOT MERGE

#28516 [PORT] Telecomms Specialist
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/NSVBlueshift/Blueshift.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  code/__DEFINES/jobs.dm
  code/__DEFINES/~skyrat_defines/atom_hud.dm
  code/datums/station_traits/positive_traits.dm
  code/game/machinery/computer/crew.dm
  html/changelogs/AutoChangeLog-pr-2757.yml
  modular_skyrat/master_files/code/modules/clothing/under/jobs/engineering.dm
  modular_skyrat/master_files/icons/mob/clothing/suit.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/engineering.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/engineering_digi.dmi
  modular_skyrat/master_files/icons/mob/huds/hud.dmi
  modular_skyrat/master_files/icons/obj/card.dmi
  modular_skyrat/master_files/icons/obj/clothing/suits.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/engineering.dmi
  modular_skyrat/modules/alternative_job_titles/code/alt_job_titles.dm
  modular_skyrat/modules/automapper/code/area_spawn_entries.dm
  modular_skyrat/modules/customization/modules/clothing/under/utility_port/suits_port.dm
  modular_skyrat/modules/telecomms_specialist/telecomms_specialist.dm
  tgstation.dme
  tgui/packages/tgui/interfaces/common/JobToIcon.ts
Labels: Feature, Sprites, Map Modification

#28541 Adds RCD back to techweb
  modular_skyrat/master_files/code/modules/research/techweb/all_nodes.dm
Labels: Feature

#28446 Fix tram door lights
  modular_skyrat/modules/aesthetics/airlock/code/airlock.dm
Labels: Fix

#28557 Fixes maps for nearspace unit test
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Map Modification

#28469 Nerf Cocaine
  modular_skyrat/modules/morenarcotics/code/cocaine.dm
Labels: Balance

#28540 Loadout Fixes
  code/modules/loadout/loadout_categories.dm
  code/modules/loadout/loadout_items.dm
  code/modules/loadout/loadout_menu.dm
  modular_skyrat/master_files/code/modules/loadout/categories/gloves.dm
  modular_skyrat/master_files/code/modules/loadout/categories/toys.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/data.ts
  tgui/packages/tgui/interfaces/PreferencesMenu/loadout/ItemDisplay.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/loadout/base.ts
Labels: Fix

#28560 Fix CMO/deluxe hyposprays
  modular_skyrat/modules/hyposprays/code/hypospray_kits.dm
  modular_skyrat/modules/hyposprays/code/hyposprays_II.dm
Labels: Fix

#28572 Blueshift nearstation fix
  _maps/map_files/NSVBlueshift/Blueshift.dmm
Labels: Fix, Map Modification

#28577 Fixes infinite damage smithing weapons
  modular_skyrat/modules/reagent_forging/code/mindless_killer.dm
Labels: Fix

#28593 Fix broken mask sprites
  modular_skyrat/modules/better_vox/code/vox_species.dm
  modular_skyrat/modules/customization/modules/mob/living/carbon/human/species/vox.dm
  modular_skyrat/modules/teshari/code/_teshari.dm
Labels: Fix

#28612 Removes the plushie of a Minecraft Youtuber from the code.
  modular_skyrat/master_files/code/modules/loadout/categories/toys.dm
  modular_skyrat/master_files/icons/obj/plushes.dmi
  modular_skyrat/modules/customization/game/objects/items/plushes.dm
Labels: Removal, Sprites

#28618 Fixes broken lewd item construction
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_structures/construction.dm
Labels: Fix

#28639 Fix borg licking/booping
  modular_skyrat/modules/borgs/code/robot_items.dm
Labels: Fix

#28626 Fixes missed techweb nodes
  modular_skyrat/modules/additional_circuit/code/_designs.dm
  modular_skyrat/modules/colony_fabricator/code/design_datums/appliances.dm
  modular_skyrat/modules/colony_fabricator/code/design_datums/construction.dm
  modular_skyrat/modules/colony_fabricator/code/design_datums/flatpack_machines.dm
  modular_skyrat/modules/colony_fabricator/code/design_datums/tools.dm
  modular_skyrat/modules/power/code/teg.dm
  modular_skyrat/modules/space_vines/scythes.dm
  modular_skyrat/modules/stasisrework/code/all_nodes.dm
  modular_skyrat/modules/tarkon/code/misc-fluff/research.dm
Labels: Fix

#28653 Event horizon rebalance
  code/modules/projectiles/guns/energy/beam_rifle.dm
  modular_skyrat/master_files/code/modules/projectiles/guns/energy/beam_rifle.dm
  tgstation.dme
Labels: Balance

#28659 Fixes extra apc in xenobiology
  _maps/map_files/NSVBlueshift/Blueshift.dmm
Labels: Map Modification

#28662 Fixes some loadout items missing
  modular_skyrat/master_files/code/modules/loadout/categories/donator_personal.dm
  modular_skyrat/master_files/code/modules/loadout/categories/uniform.dm
Labels: Fix

#28666 Fixes digis (Again)
  code/modules/mob/living/carbon/human/human_update_icons.dm
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_lizard_ashwalker.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_teshari.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_vox.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_vox_primalis.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_xeno.png
Labels: Fix

#28678 Adds the Telecomm clothing to the Engi vendor and gives them a full belt.
  modular_skyrat/modules/modular_vending/code/wardrobes.dm
  modular_skyrat/modules/telecomms_specialist/telecomms_specialist.dm
Labels: Fix, Quality of Life

#28665 Loadout Descriptions
  code/__DEFINES/~skyrat_defines/loadout.dm
  code/modules/loadout/loadout_items.dm
  tgui/packages/tgui/interfaces/LoadoutManager.tsx
Labels: Fix, Test Merged

#28679 Imports from Shiptest, new Cap Drip!
  modular_skyrat/master_files/code/modules/clothing/under/jobs/command.dm
  modular_skyrat/master_files/icons/mob/clothing/head.dmi
  modular_skyrat/master_files/icons/mob/clothing/suits/armor.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/command.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/command_digi.dmi
  modular_skyrat/master_files/icons/obj/clothing/hats.dmi
  modular_skyrat/master_files/icons/obj/clothing/suits/armor.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/command.dmi
  modular_skyrat/modules/command_vendor/code/vending.dm
  modular_skyrat/modules/customization/modules/clothing/head/head.dm
  modular_skyrat/modules/customization/modules/clothing/suits/armor.dm
Labels: Feature, Sprites

#28713 Fixes a Loadout Item
  modular_skyrat/master_files/code/modules/loadout/categories/donator_personal.dm
Labels: Fix

#28704 Fix medical surgery/wound tending stack chain
  modular_skyrat/modules/filtersandsetters/code/filtersandsetters.dm
Labels: Fix

#28701 [NO GBP] Fixing bloodfilters and bonesetters
  modular_skyrat/modules/filtersandsetters/code/filtersandsetters.dm
Labels: Fix, GBP: No Update

#28684 [NO-GBP] Last loadout fixes to make it on par with the old system
  code/modules/loadout/loadout_helpers.dm
  modular_skyrat/master_files/code/modules/loadout/category_rebalance.dm
  tgstation.dme
Labels: Fix, Test Merged, GBP: No Update

#28753 Adds prybar and colony fabricator back to Company Imports
  modular_skyrat/modules/company_imports/code/armament_datums/akh_frontier.dm
Labels: Feature

#28755 Actually fixes the large hypospray [NO GBP]
  modular_skyrat/modules/hyposprays/code/hyposprays_II.dm
Labels: Fix, GBP: No Update

#28784 [MIRROR] Incident displays: wallening edition [MDB IGNORE] [NO GBP]
  _maps/map_files/Birdshot/birdshot.dmm
  _maps/map_files/Deltastation/DeltaStation2.dmm
  _maps/map_files/IceBoxStation/IceBoxStation.dmm
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/MetaStation/MetaStation.dmm
  _maps/map_files/NSVBlueshift/Blueshift.dmm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
  _maps/map_files/tramstation/tramstation.dmm
  _maps/map_files/wawastation/wawastation.dmm
  _maps/skyrat/automapper/templates/wawastation/wawastation_arrivals.dmm
  _maps/skyrat/automapper/templates/wawastation/wawastation_commons.dmm
  code/controllers/subsystem/persistence/counter_delamination.dm
  code/game/machinery/incident_display.dm
  code/modules/power/supermatter/supermatter.dm
  code/modules/power/supermatter/supermatter_delamination/_sm_delam.dm
  html/changelogs/AutoChangeLog-pr-1977.yml
  html/changelogs/AutoChangeLog-pr-3685.yml
  html/changelogs/AutoChangeLog-pr-84812.yml
  icons/obj/machines/incident_display.dmi
  modular_skyrat/modules/delam_emergency_stop/code/scram.dm
  tools/UpdatePaths/Scripts/84812_incident_display_repath.txt
Labels: Balance, Sprites, GBP: No Update, Map Modification

#28822 Fixing afterattack issues.
  code/modules/mob/living/silicon/robot/robot.dm
  modular_skyrat/master_files/code/game/objects/items/RCD.dm
  modular_skyrat/modules/ashwalkers/code/buildings/railroad.dm
  modular_skyrat/modules/ashwalkers/code/items/ashwalker_shaman.dm
  modular_skyrat/modules/borg_buffs/code/snack_dispensor.dm
  modular_skyrat/modules/borgs/code/robot_items.dm
  modular_skyrat/modules/borgs/code/robot_upgrade.dm
  modular_skyrat/modules/bsrpd/code/bsrpd.dm
  modular_skyrat/modules/cargo_teleporter/code/cargo_teleporter.dm
  modular_skyrat/modules/clock_cult/code/items/replica_fabricator.dm
  modular_skyrat/modules/clock_cult/code/items/weaponry.dm
  modular_skyrat/modules/clock_cult/code/structures/traps/trap.dm
  modular_skyrat/modules/colony_fabricator/code/construction/turfs.dm
  modular_skyrat/modules/conveyor_sorter/code/conveyor_sorter.dm
  modular_skyrat/modules/customization/game/objects/items/conversion_kits.dm
  modular_skyrat/modules/faction/code/id.dm
  modular_skyrat/modules/gladiator/code/game/objects/items/gladiator_items.dm
  modular_skyrat/modules/gunpoint/code/gunpoint_datum.dm
  modular_skyrat/modules/hyposprays/code/hyposprays_II.dm
  modular_skyrat/modules/liquids/code/cleaning/mop.dm
  modular_skyrat/modules/liquids/code/liquid_systems/liquid_interaction.dm
  modular_skyrat/modules/marines/code/gear.dm
  modular_skyrat/modules/medical/code/smartdarts.dm
  modular_skyrat/modules/modular_implants/code/misc_devices.dm
  modular_skyrat/modules/modular_implants/code/soulcatcher/attachable_soulcatcher.dm
  modular_skyrat/modules/modular_items/code/summon_beacon.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_clothing/bdsm_mask.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/_masturbation_item.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_items/serviette.dm
  modular_skyrat/modules/modular_weapons/code/company_and_or_faction_based/carwo_defense_systems/grenade_launcher.dm
  modular_skyrat/modules/moretraitoritems/code/glue.dm
  modular_skyrat/modules/mutants/code/mutant_cure.dm
  modular_skyrat/modules/mutants/code/mutant_species.dm
  modular_skyrat/modules/novaya_ert/code/mod_suit.dm
  modular_skyrat/modules/polarized_windows/polarization_controller.dm
  modular_skyrat/modules/pollution/code/air_refresher.dm
  modular_skyrat/modules/pollution/code/perfumes.dm
  modular_skyrat/modules/primitive_production/code/glassblowing.dm
  modular_skyrat/modules/reagent_forging/code/forge_items.dm
  modular_skyrat/modules/resleeving/code/rsd_interface.dm
  modular_skyrat/modules/sec_haul/code/peacekeeper/peacekeeper_hammer.dm
  modular_skyrat/modules/synths/code/bodyparts/power_cord.dm
  modular_skyrat/modules/wargame_projectors/code/projectors.dm
  modular_skyrat/modules/xenoarch/code/modules/research/xenoarch/xenoarch_tool.dm
Labels: Fix

#28812 Adds back deleted laugh code
  modular_skyrat/modules/emotes/code/laugh_emotes.dm
Labels: Fix

#28826 Petdate: Adds More Pets.
  modular_skyrat/master_files/code/modules/mob/living/simple_animal/friendly/cat/fennec.dm
  modular_skyrat/master_files/code/modules/mob/living/simple_animal/friendly/dogs.dm
  modular_skyrat/master_files/code/modules/mob/living/simple_animal/friendly/pets.dm
  modular_skyrat/master_files/code/modules/mob/living/simple_animal/hostile/grabbagmob.dm
  modular_skyrat/master_files/icons/mob/clothing/head/pets_head.dmi
  modular_skyrat/master_files/icons/mob/inhands/pets_held_lh.dmi
  modular_skyrat/master_files/icons/mob/inhands/pets_held_rh.dmi
  modular_skyrat/master_files/icons/mob/pets.dmi
  modular_skyrat/modules/cargo/code/packs.dm
  modular_skyrat/modules/pet_owner/pet_owner.dm
  tgstation.dme
Labels: Feature, Sprites

#28828 Fixes some mask obj icons.
  modular_skyrat/master_files/icons/obj/clothing/masks.dmi
Labels: Fix, Sprites

#28827 Fixes the fact new clothes weren't in the vendor
  modular_skyrat/modules/modular_vending/code/clothesmate.dm
Labels: Fix

#28829 Removes the nuke code spawning on the interlink
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
Labels: Removal, Map Modification

#28830 Refactor borg affection module
  code/modules/mob/living/silicon/robot/robot.dm
  modular_skyrat/modules/borgs/code/robot_upgrade.dm
Labels: Code Improvement, Refactor

#28833 Fixes a bug with naga constricting where constricting someone you were pulling resets pixel_x to 0
  modular_skyrat/modules/taur_mechanics/code/constrict.dm
Labels: Fix

#28873 Restores Species Languages
  modular_skyrat/modules/customization/modules/language/_language_holder.dm
  modular_skyrat/modules/customization/modules/language/buzzwords.dm
  modular_skyrat/modules/customization/modules/language/calcic.dm
  modular_skyrat/modules/customization/modules/language/monkey.dm
  modular_skyrat/modules/customization/modules/language/mushroom.dm
  modular_skyrat/modules/customization/modules/language/nekomimetic.dm
  modular_skyrat/modules/customization/modules/language/piratespeak.dm
  tgstation.dme
Labels: Feature

#28877 Adjust first aid supply crates [NO GBP]
  modular_skyrat/modules/company_imports/code/armament_datums/deforest_medical.dm
  modular_skyrat/modules/deforest_medical_items/code/cargo_packs.dm
Labels: Balance, GBP: No Update

#28881 Fixes even more stuff with the balaclavas
  modular_skyrat/master_files/icons/mob/clothing/mask.dmi
  modular_skyrat/master_files/icons/obj/clothing/masks.dmi
Labels: Fix, Sprites

#28911 Sol Drip Restroration
  modular_skyrat/master_files/icons/mob/clothing/head.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/security.dmi
  modular_skyrat/master_files/icons/mob/clothing/under/security_digi.dmi
  modular_skyrat/master_files/icons/obj/clothing/hats.dmi
  modular_skyrat/master_files/icons/obj/clothing/under/security.dmi
  modular_skyrat/modules/goofsec/code/sec_clothing_overrides.dm
  modular_skyrat/modules/sec_haul/code/peacekeeper/peacekeeper_clothing.dm
Labels: Feature, Sprites

#28898 Hemophages can drink drinks made with blood
  modular_skyrat/modules/customization/modules/reagents/chemistry/reagents/alcohol_reagents.dm
Labels: Balance

#28880 lets hemophages drink velvet kiss
  modular_skyrat/modules/customization/modules/reagents/chemistry/reagents/alcohol_reagents.dm
Labels: Balance, Fix

#28918 [NO GBP] Bonesetter/bloodfilter fix
  modular_skyrat/modules/filtersandsetters/code/filtersandsetters.dm
Labels: Fix, GBP: No Update

#28961 Fixes Embed check
  code/modules/projectiles/projectile.dm
  code/modules/unit_tests/embedding.dm
Labels: Fix

#28916 fixes another obj thing
  modular_skyrat/modules/customization/modules/clothing/~donator/donator_clothing.dm
Labels: Fix

#28917 Borer ability code fixes and improvements
  modular_skyrat/modules/cortical_borer/code/abilities/_borer_abilities.dm
  modular_skyrat/modules/cortical_borer/code/abilities/host_movement.dm
  modular_skyrat/modules/cortical_borer/code/cortical_borer.dm
  modular_skyrat/modules/cortical_borer/code/cortical_borer_movement.dm
  modular_skyrat/modules/cortical_borer/code/evolution/evolution_diveworm.dm
  modular_skyrat/modules/cortical_borer/code/evolution/evolution_hivelord.dm
  modular_skyrat/modules/cortical_borer/code/evolution/evolution_symbiote.dm
  tgstation.dme
Labels: Fix, Code Improvement, Refactor, Quality of Life

#28955 Adds admin spawnable Redsec varients to the override file
  modular_skyrat/modules/goofsec/code/sec_clothing_overrides.dm
Labels: Feature

#28964 Fixes some ctrl/alt click interactions
  modular_skyrat/master_files/code/game/machinery/doors/firedoor.dm
  modular_skyrat/master_files/code/modules/clothing/towels.dm
  modular_skyrat/master_files/code/modules/reagents/reagent_containers.dm
  modular_skyrat/modules/customization/modules/clothing/toggle_base.dm
  modular_skyrat/modules/kahraman_equipment/code/clothing/clothing.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_structures/dancing_pole.dm
  modular_skyrat/modules/modular_items/lewd_items/code/lewd_structures/shibari_stand.dm
Labels: Fix

#28980 APC/SMES updates [NO GBP]
  code/__DEFINES/~skyrat_defines/apc_defines.dm
  code/modules/power/apc/apc_main.dm
  code/modules/power/smes.dm
  modular_skyrat/master_files/code/modules/power/smes.dm
  modular_skyrat/modules/apc_arcing/code/apc.dm
  tgstation.dme
Labels: Balance, GBP: No Update

#29003 Revert "[MIRROR] Adds the other half of the fox infusion because Arm is a coward"
  code/datums/sprite_accessories.dm
  code/game/machinery/dna_infuser/infuser_entries/infuser_tier_zero_entries.dm
  code/modules/surgery/organs/external/tails.dm
  icons/mob/human/cat_features.dmi
Labels: Sprites, Revert

#29015 fixes taur overlay bugs
  code/modules/mob/living/carbon/carbon_update_icons.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  modular_skyrat/modules/bodyparts/code/taur_bodyparts.dm
Labels: Fix, Code Improvement

#29011 Makes the Pitbull Lore Accurate
  modular_skyrat/master_files/code/modules/mob/living/simple_animal/friendly/dogs.dm
  modular_skyrat/master_files/code/modules/mob/living/simple_animal/friendly/pets.dm
Labels: Fix

#29012 Fixes collar locking
  modular_skyrat/modules/customization/modules/clothing/neck/collars.dm
Labels: Fix

#29037 Finishes the Mission by adding a Clown (and Rainbow) Beret.
  modular_skyrat/master_files/code/modules/loadout/categories/heads.dm
  modular_skyrat/master_files/icons/mob/clothing/head.dmi
  modular_skyrat/master_files/icons/obj/clothing/hats.dmi
  modular_skyrat/modules/customization/modules/clothing/head/jobs.dm
  modular_skyrat/modules/modular_vending/code/autodrobe.dm
  modular_skyrat/modules/modular_vending/code/clothesmate.dm
Labels: Feature, Sprites

#29041 Updates, merges and adds screams
  modular_skyrat/modules/emotes/code/laugh_datums.dm
  modular_skyrat/modules/emotes/code/scream_datums.dm
Labels: Feature, Fix

#29072 [MIRROR] HUD traits now apply their corresponding hud automatically. Most clothing/item/etc sources of HUDs now only use traits
  code/__DEFINES/atom_hud.dm
  code/__DEFINES/traits/declarations.dm
  code/__DEFINES/~skyrat_defines/traits.dm
  code/_globalvars/traits/_traits.dm
  code/_globalvars/traits/admin_tooling.dm
  code/datums/elements/digitalcamo.dm
  code/datums/hud.dm
  code/game/data_huds.dm
  code/game/objects/items/busts_and_figurines.dm
  code/modules/admin/verbs/admingame.dm
  code/modules/antagonists/nukeop/equipment/overwatch_tools.dm
  code/modules/clothing/glasses/_glasses.dm
  code/modules/clothing/glasses/hud.dm
  code/modules/clothing/suits/ablativecoat.dm
  code/modules/mob/dead/observer/observer.dm
  code/modules/mob/living/basic/bots/_bots.dm
  code/modules/mob/living/basic/bots/bot_hud.dm
  code/modules/mob/living/basic/bots/vibebot/vibebot.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/mob/living/simple_animal/bot/bot.dm
  code/modules/mob/mob.dm
  code/modules/mod/modules/modules_visor.dm
  code/modules/pai/software.dm
  code/modules/surgery/organs/internal/cyberimp/augments_eyes.dm
  code/modules/vehicles/mecha/medical/odysseus.dm
  modular_skyrat/modules/company_imports/code/objects/hud_glasses.dm
  modular_skyrat/modules/customization/modules/clothing/glasses/hud.dm
  modular_skyrat/modules/modular_implants/code/nifsofts/huds.dm
  modular_skyrat/modules/modular_items/code/modular_glasses.dm
Labels: Refactor

#29069 Alt Title Bloat
  modular_skyrat/modules/alternative_job_titles/code/alt_job_titles.dm
Labels: Feature

#29098 Primitive 'fridge' fixes
  modular_skyrat/modules/primitive_structures/code/storage_structures.dm
Labels: Fix

#29104 Removes all security cameras from bathrooms and showers [SR]
  _maps/map_files/KiloStation/KiloStation.dmm
  _maps/map_files/NSVBlueshift/Blueshift.dmm
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Removal, Map Modification

#29109 Fixing the Patrol Cap
  modular_skyrat/modules/goofsec/code/sec_clothing_overrides.dm
  modular_skyrat/modules/sec_haul/code/peacekeeper/peacekeeper_clothing.dm
Labels: Fix

#29127 Curable magical resilience traumas
  code/game/machinery/medical_kiosk.dm
  code/game/objects/items/devices/scanners/health_analyzer.dm
  modular_skyrat/modules/medical/code/trauma_surgery.dm
  tgstation.dme
Labels: Feature
