Repository Skyrat-SS13/Skyrat-tg, pull requests merged in 2024-02, with the labels that each got.

#26203 Lo(v)re Wins: Mothic Language return
  modular_skyrat/master_files/icons/misc/language.dmi
Labels: Feature, Sprites, Stale

#26214 hybridizing mining + more
  code/datums/mapgen/Cavegens/IcemoonCaves.dm
  code/game/turfs/closed/minerals.dm
  code/modules/mining/boulder_processing/boulder.dm
  modular_skyrat/modules/mining/boulder.dm
  tgstation.dme
Labels: Feature, Balance, Test Merge Approved

#26213 sell your power today!
  modular_skyrat/modules/power/code/powerator.dm
  modular_skyrat/modules/power/icons/machines.dmi
  tgstation.dme
Labels: Feature, Sprites, Stale-b-gone, Test Merge Approved

#26281 general DS-2 Loadout buff
  _maps/RandomRuins/SpaceRuins/skyrat/interdynefob.dmm
  modular_skyrat/modules/mapping/code/lockers/interdyne_fob/command.dm
  modular_skyrat/modules/mapping/code/lockers/interdyne_fob/security.dm
  modular_skyrat/modules/mapping/code/mob_spawns.dm
  modular_skyrat/modules/modular_weapons/code/ds2_gunset.dm
  tgstation.dme
Labels: Feature, Map Modification

#26342 Changes to robotic repair surgeries.
  modular_skyrat/modules/synths/code/surgery/robot_healing.dm
Labels: Quality of Life

#26336 Refactor of the lowpop power recharge system
  config/skyrat/skyrat_config.txt
  modular_skyrat/modules/lowpop/code/config.dm
  modular_skyrat/modules/lowpop/code/lowpop_subsystem.dm
Labels: Refactor

#26345 Alien toolset implants.
  modular_skyrat/master_files/code/modules/research/designs/medical_designs.dm
  modular_skyrat/master_files/code/modules/research/techweb/all_nodes.dm
  modular_skyrat/master_files/code/modules/surgery/organs/internal/cyberimp/augments_arms.dm
  tgstation.dme
Labels: Feature

#26368 [SEMI-MODULAR] Allows coagulants to treat synthetic electrical damage
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  modular_skyrat/modules/medical/code/wounds/synth/medicine_reagents.dm
  modular_skyrat/modules/medical/code/wounds/synth/robotic_slash.dm
  tgstation.dme
Labels: Balance

#26338 I Cooka Da Pizza: Void Raptor Kitchen tweaks
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Feature, Fix, Map Modification

#26420 Voidraptor fix to please the linter gods.
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Map Modification

#26366 [MODULAR] Fixes synth burn wounds not applying scars, rewrites synth wounds to be better
  modular_skyrat/modules/medical/code/wounds/synth/robotic_burns.dm
  strings/wounds/metal_scar_desc.json
Labels: Fix, Grammar and Formatting

#26365 Various nerfs and tweaks and fixes to synth wounds
  modular_skyrat/modules/medical/code/wounds/synth/blunt/robotic_blunt.dm
  modular_skyrat/modules/medical/code/wounds/synth/blunt/robotic_blunt_T1.dm
  modular_skyrat/modules/medical/code/wounds/synth/blunt/robotic_blunt_T2.dm
  modular_skyrat/modules/medical/code/wounds/synth/blunt/robotic_blunt_T3.dm
  modular_skyrat/modules/medical/code/wounds/synth/blunt/secures_internals.dm
  modular_skyrat/modules/medical/code/wounds/synth/robotic_pierce.dm
  modular_skyrat/modules/medical/code/wounds/synth/robotic_slash.dm
Labels: Balance, Fix

#26337 Scene Girls Listening to Gloomy Bangers: Resprites Emo Long & All Gloomy Bangs variants
  modular_skyrat/master_files/icons/mob/sprite_accessory/hair.dmi
Labels: Feature, Sprites

#26332 Synths update: The ID reckoning
  code/__DEFINES/~skyrat_defines/signals/signals_human.dm
  modular_skyrat/master_files/code/modules/mob/living/carbon/human/inventory.dm
  modular_skyrat/modules/synths/code/bodyparts/internal_computer/brain.dm
  modular_skyrat/modules/synths/code/bodyparts/internal_computer/internal_computer.dm
  tgstation.dme
Labels: Code Improvement, Test Merged, Quality of Life

#26367 [MODULAR] Adds a new reagent meant for cooling synthetic burns: Dinitrogen Plasmide
  modular_skyrat/master_files/code/modules/jobs/job_types/roboticist.dm
  modular_skyrat/modules/medical/code/cargo/packs.dm
  modular_skyrat/modules/medical/code/medkit.dm
  modular_skyrat/modules/medical/code/wounds/synth/medicine_reagents.dm
  modular_skyrat/modules/medical/code/wounds/synth/robotic_burns.dm
  modular_skyrat/modules/modular_vending/code/wardrobes.dm
Labels: Feature

#26423 lowpop modify smes default settings
  modular_skyrat/modules/lowpop/code/lowpop_subsystem.dm
Labels: Quality of Life

#26395 [MODULAR] Vore Part 1: Prefs + Smell/Taste
  modular_skyrat/master_files/code/modules/client/preferences/erp_preferences.dm
  modular_skyrat/master_files/code/modules/client/preferences/flavor_text.dm
  modular_skyrat/modules/modular_items/lewd_items/code/verbs.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/skyrat/species_features.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/skyrat/erp_preferences.tsx
Labels: Feature

#26492 [MIRROR] 81182 81367 81399
  _maps/map_files/generic/CentCom_skyrat_z2.dmm
  code/__DEFINES/gradient.dm
  code/__DEFINES/lighting.dm
  code/__DEFINES/mobs.dm
  code/__DEFINES/status_effects.dm
  code/__DEFINES/traits/declarations.dm
  code/__HELPERS/colors.dm
  code/__HELPERS/icons.dm
  code/__HELPERS/matrices.dm
  code/__HELPERS/type2type.dm
  code/_globalvars/traits/_traits.dm
  code/_globalvars/traits/admin_tooling.dm
  code/datums/elements/permanent_fire_overlay.dm
  code/datums/status_effects/debuffs/fire_stacks.dm
  code/game/objects/items/frog_statue.dm
  code/game/objects/items/plushes.dm
  code/game/objects/items/rcd/RLD.dm
  code/game/objects/items/stacks/wrap.dm
  code/game/objects/structures/mirror.dm
  code/game/turfs/open/lava.dm
  code/modules/antagonists/cult/runes.dm
  code/modules/atmospherics/machinery/datum_pipeline.dm
  code/modules/mob/living/basic/basic.dm
  code/modules/mob/living/basic/space_fauna/space_dragon/space_dragon.dm
  code/modules/mob/living/carbon/carbon_update_icons.dm
  code/modules/mob/living/carbon/human/species_types/ethereal.dm
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
  code/modules/mob/living/carbon/init_signals.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/power/lighting/light.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  modular_skyrat/master_files/code/game/objects/items/hhmirror.dm
  modular_skyrat/modules/aesthetics/airlock/code/airlock.dm
  modular_skyrat/modules/aesthetics/lights/code/lighting.dm
  modular_skyrat/modules/borgs/code/update_icons.dm
  modular_skyrat/modules/emotes/code/additionalemotes/turf_emote.dm
  modular_skyrat/modules/xenos_skyrat_redo/code/base_skyrat_xeno.dm
  tgstation.dme
Labels: Map Modification

#26521 Removes unintended double delay from welding code
  code/game/objects/items/tools/weldingtool.dm
  modular_skyrat/master_files/code/game/objects/items/tools/weldingtool.dm
Labels: Fix, Removal

#26502 Status light overlays maintenance
  code/__DEFINES/~skyrat_defines/airlock.dm
  code/game/machinery/computer/communications.dm
  code/game/machinery/firealarm.dm
  code/modules/modular_computers/file_system/programs/statusdisplay.dm
  modular_skyrat/modules/aesthetics/airlock/code/airlock.dm
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/abductor/overlays.dmi
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/centcom/overlays.dmi
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/clockwork/overlays.dmi
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/cult/runed/overlays.dmi
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/cult/unruned/overlays.dmi
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/external/overlays.dmi
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/hatch/overlays.dmi
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/highsec/overlays.dmi
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/multi_tile/glass_overlays.dmi
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/multi_tile/metal_overlays.dmi
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/shuttle/overlays.dmi
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/shuttle/shuttle.dmi
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/shuttle2/erokez.dmi
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/shuttle2/overlays.dmi
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/shuttle2/wagon.dmi
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/station/overlays.dmi
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/station2/overlays.dmi
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/survival/overlays.dmi
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/tram/tram_overlays.dmi
  modular_skyrat/modules/aesthetics/airlock/icons/airlocks/vault/overlays.dmi
  modular_skyrat/modules/aesthetics/firealarm/icons/firealarm.dmi
  modular_skyrat/modules/aesthetics/firedoor/code/firedoor.dm
  modular_skyrat/modules/aesthetics/firedoor/icons/firedoor.dmi
  modular_skyrat/modules/aesthetics/firedoor/icons/firedoor_glass.dmi
  modular_skyrat/modules/aesthetics/status_display/icons/status_display.dmi
  modular_skyrat/modules/airlock_override/code/airlock_override.dm
Labels: Fix, Sprites, Quality of Life

#26448 probability bsminer change
  modular_skyrat/modules/bluespace_miner/code/bluespace_miner.dm
Labels: Feature

#26507 [SEMIMODULAR] Fixes multi-bodytype characters (digitigrade, species custom) only having digi apply when custom could be applied
  code/modules/mob/living/carbon/human/human_update_icons.dm
Labels: Fix

#26572 Rearranges the headshot pref datum procs
  modular_skyrat/master_files/code/modules/client/preferences/headshot.dm
Labels: Refactor

#26551 fix railroads and make stone tiles speed you up
  modular_skyrat/modules/ashwalkers/code/buildings/railroad.dm
  modular_skyrat/modules/stone/code/stone.dm
Labels: Feature, Fix

#26437 Piped Out: Fixes Service Hall pipes on Void Raptor
  _maps/map_files/VoidRaptor/VoidRaptor.dmm
Labels: Fix, Map Modification

#26599 [MODULAR][NO GBP] lick fix
  modular_skyrat/modules/modular_items/lewd_items/code/verbs.dm
Labels: Grammar and Formatting, GBP: No Update

#24717 [MODULAR] Refactors Soulcatcher Souls into a Component
  code/__DEFINES/~skyrat_defines/signals.dm
  code/__DEFINES/~skyrat_defines/traits.dm
  code/__DEFINES/~skyrat_defines/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  modular_skyrat/modules/carriers/code/carrier_component.dm
  modular_skyrat/modules/carriers/code/carrier_tgui.dm
  modular_skyrat/modules/carriers/code/carrier_user_component.dm
  modular_skyrat/modules/carriers/code/carrier_verbs.dm
  modular_skyrat/modules/modular_implants/code/nifsofts/soulcatcher.dm
  modular_skyrat/modules/modular_implants/code/soulcatcher/attachable_soulcatcher.dm
  modular_skyrat/modules/modular_implants/code/soulcatcher/ghost.dm
  modular_skyrat/modules/modular_implants/code/soulcatcher/handheld_soulcatcher.dm
  modular_skyrat/modules/modular_implants/code/soulcatcher/soulcatcher_body_component.dm
  modular_skyrat/modules/modular_implants/code/soulcatcher/soulcatcher_component.dm
  modular_skyrat/modules/modular_implants/code/soulcatcher/soulcatcher_mob.dm
  modular_skyrat/modules/modular_implants/code/soulcatcher/soulcatcher_tgui.dm
  modular_skyrat/modules/modular_implants/code/soulcatcher/soulcatcher_verbs.dm
  modular_skyrat/modules/soulstone_changes/readme.md
  tgstation.dme
  tgui/packages/tgui/interfaces/Soulcatcher.jsx
  tgui/packages/tgui/interfaces/SoulcatcherUser.jsx
Labels: Refactor, Stale

#26624 Prosperity Prism no longer kills slime clockies. Coggers!
  modular_skyrat/modules/clock_cult/code/structures/prosperity_prism.dm
Labels: Fix

#26473 reach wield component and forging buffs
  code/game/objects/items/spear.dm
  modular_skyrat/modules/reagent_forging/code/forge_weapons.dm
  modular_skyrat/modules/reagent_forging/code/two_hand_range.dm
  tgstation.dme
Labels: Feature, Balance, Stale-b-gone

#26623 Fix borg brains not using the user's preference
  modular_skyrat/modules/synths/code/bodyparts/silicon_alt_brains.dm
Labels: Fix

#26686 [Modular] Fixes elder atmosian armor missing digi sprite
  modular_skyrat/master_files/code/modules/clothing/suits/armor.dm
  tgstation.dme
Labels: Fix

#26693 Borer QoL and fixes
  modular_skyrat/modules/cortical_borer/code/cortical_borer.dm
  modular_skyrat/modules/cortical_borer/code/cortical_borer_abilities.dm
Labels: Fix, Quality of Life
